﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Seja uma Floricultura Parceira";
    ViewBag.description = "Faça uma parceria com o Coroas Para Velório, nossa empresa sempre aumenta o quadro de floriculturas, com coberturas nacional. Ligue grátis 0800-777-1986";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tel1').mask('(99) 99999999?9');
            $('#tel2').mask('(99) 99999999?9');
            $('#celular').mask('(99) 99999999?9');
            $('#cep').mask('99999-999');
            $("#form_parceira").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/seja-uma-floricultura-parceira/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/seja-uma-floricultura-parceira?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    razao: "required",
                    nome: "required",
                    cnpj: "required",
                    contato: "required",
                    tel1: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    cep: "required",
                    endereco: "required",
                    bairro: "required",
                    cidade: "required",
                    uf: "required",
                    horario: "required",
                    acordo: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    razao: "Digite a razão social",
                    nome: "Digite o nome da floricultura",
                    cnpj: "Digite seu CNPJ",
                    contato: "Digite seu nome ou a pessoa de contato",
                    tel1: "Digite um telefone para contato",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    cep: "Digite o CEP",
                    endereco: "Digite o endereço",
                    bairro: "Digite o bairro",
                    cidade: "Digite a cidade",
                    uf: "Digite o estado",
                    horario: "Digite o horário de funcionamento",
                    acordo: "Você deve aceitar os termos e condições comerciais",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a></div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Seja uma Floricultura Parceira</b></span>  </div>
</div>
</div>
 
<div id="SejaParceira">
<div class="Div">

	<h1 class="TituloPagina">Seja uma floricultura parceira</h1>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua solicitação foi enviada com sucesso! Por favor, aguarde nosso retorno.</div>
    }
    else
    {
	<div class="Div1">
		<div class="Div1Texto1">A empresa Coroas Para Velório busca sempre aumentar seu quadro de floriculturas parceiras para aumento de cobertura nacional.<br /><br />Caso a sua floricultura tenha interesse em fazer parte da nossa rede, preencha o cadastro inicial abaixo.<br /><br />A floricultura passará por um processo de homologação e, caso atenda a todos os atributos requisitados, poderá utilizar o selo de qualidade Coroas Para Velório</div>
	</div>
    
        using (Html.BeginForm("Enviar", "Seja-uma-Floricultura-Parceira", FormMethod.Post, new { id = "form_parceira", name = "form_parceira", enctype = "multipart/form-data", @class = "formulario" }))
        {   
	    <div class="Formulario">

		    <div class="FormDiv1">
			    <div class="FormNomeCampo">Razão social:</div>
			    <div class="FormCampo"><input type="text" id="razao" name="razao" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Nome da Floricultura:</div>
			    <div class="FormCampo"><input type="text" id="nome" name="nome" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">CNPJ:</div>
			    <div class="FormCampo"><input type="text" id="cnpj" name="cnpj" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Pessoa de Contato:</div>
			    <div class="FormCampo"><input type="text" id="contato" name="contato" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Telefone 1:</div>
			    <div class="FormCampo"><input type="text" id="tel1" name="tel1" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Telefone 2:</div>
			    <div class="FormCampo"><input type="text" id="tel2" name="tel2" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Email:</div>
			    <div class="FormCampo"><input type="text" id="email" name="email" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">CEP:</div>
			    <div class="FormCampo"><input type="text" id="cep" name="cep" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Endereço:</div>
			    <div class="FormCampo"><input type="text" id="endereco" name="endereco" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Bairro:</div>
			    <div class="FormCampo"><input type="text" id="bairro" name="bairro" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Cidade:</div>
			    <div class="FormCampo"><input type="text" id="cidade" name="cidade" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Estado:</div>
			    <div class="FormCampo"><input type="text" id="uf" name="uf" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Celular de Contato:</div>
			    <div class="FormCampo"><input type="text" id="celular" name="celular" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Nextel:</div>
			    <div class="FormCampo"><input type="text" id="nextel" name="nextel" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Site:</div>
			    <div class="FormCampo"><input type="text" id="site" name="site" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Horário de funcionamento:</div>
			    <div class="FormCampo"><input type="text" id="horario" name="horario" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Como nos conheceu?</div>
			    <div class="FormCampo"><select class="FormCampoSelect"  id="conheceu" name="conheceu">		
					        <option value="">Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select></div>
		    </div>

		    <div class="FormDivValidacao">
			    <div class="FormNomeCampo">Validação:</div>
			    <div class="FormValidacaoCampo"> 
				    <div class="FormValidacaoCampo2">
                        @captcha</div>
				    <div class="FormValidacaoTexto2"><input type="radio" id="acordo" name="acordo" /> Li e estou de acordo com os <a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" target="_blank" class="FormValidacaoTexto3">Termos e Condições Comerciais.</a></div>
			    </div>
		    </div>

		    <div class="FormDivBotao"><input type="submit" value="ENVIAR" class="FormBotao" onmousedown="_gaq.push(['_trackEvent', 'form', 'floricultura-parceira', 'enviou'])"/>
                        <span class="processando" id="processando">Enviando...</span></div>

	    </div>

	    <div class="Div1">
		    <div class="Div1Texto1">Agradecemos pela preferência!<br />Equipe Coroas Para Velório.</div>
	    </div> 
        }
    }
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div>