﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <table>    
        @{
            foreach(var Ip in (List<Domain.Entities.Parametro>)ViewBag.LstIps){
                <tr>
                <td>
                @Ip.Val2;
                </td>
                </tr>            
            }
        }
    </table>
</body>
</html>
