﻿@model Domain.Entities.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Nome;
    ViewBag.Description = Model.BreveDescritivo;
    var produtos = (List<Domain.Entities.Produto>)ViewBag.ProdutosVejaTambem;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#comprar-produto').click(function () {
                var tamanhoID = $('div.planos .coroa.ativo').attr('data-id');
                if (tamanhoID == undefined) 
                {
                    alert('Você deve escolher um tamanho!');
                }
                else
                {
                    Carrinho.Adicionar('@Model.Nome', '', '', tamanhoID,
                        function () {
                            window.location = '/carrinho';
                        },
                        {}
                    );
                }
            });

            $('#comprar-produto-clique').click(function () {
                var tamanhoID = $('div.planos .coroa.ativo').attr('data-id');
                if (tamanhoID == undefined) {
                    alert('Você deve escolher um tamanho!');
                } else {
                    window.location = '/comprar-em-um-clique?produtoID=@Model.ID&tamanhoID=' + tamanhoID;
                }
            });
        });
    </script>
	<script type="text/javascript">
	  var _trustvox = _trustvox || [];
	  _trustvox.push(['_storeId', '61']);
	  
	_trustvox.push(['_productId',  "@Model.ID"]);
	  _trustvox.push(['_productName',"@Model.Nome"]);
	  _trustvox.push(['_productPhotos', ["@(Domain.Core.Configuracoes.DOMINIO)@(Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto))"]]);
	  
	(function() {
		var tv = document.createElement('script'); tv.type = 'text/javascript'; tv.async = true;
		tv.src = '//trustvox-production-assets.s3.amazonaws.com/assets/trustvox.1.min.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tv, s);
	  })();
	</script>

}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    @if (Model.Tipo == Domain.Entities.Produto.Tipos.CoroaFlor)
    {
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "coroas-de-flores")" itemprop="url">      
      <span itemprop="title">Coroas de Flores</span>    
    </a>   
        <div> > </div>
    
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = Model.RotuloUrl, id = Model.ID })#comprar" itemprop="url">      
          <span itemprop="title"><b>@Model.Nome</b></span>    
        </a>   
        </div>    
    </div>    
    }
    else
    {
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "arranjos-de-flores")" itemprop="url">      
      <span itemprop="title">Arranjos de Flores</span>    
    </a>   
        <div> > </div>
    
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.RouteUrl("Arranjo", new { rotuloUrl = Model.RotuloUrl, id = Model.ID })#comprar" itemprop="url">      
          <span itemprop="title"><b>@Model.Nome</b></span>    
        </a>   
        </div>    
    </div>    
    }
</div>
<div class="hr"><hr /></div>
<div itemscope itemtype="http://data-vocabulary.org/Product">
<div id="Produto_@(Model.ID)" class="conteudo">
    <div class="detalhes-produto">    
        <div class="lateral-esquerda">
            <div class="imagem-grande">
                <div class="img">
                    <img itemprop="image" src="@Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto)" class="foto" alt="@Model.Nome" title="@Model.Nome" height="300" />
                </div>
                <br /><br />
                @Html.Raw(Model.Descricao)
                <br /><br />
                <div class="porque-comprar">
                    <div class="titulo qlassik vermelho">Por que comprar no Coroas para Velório?</div>
                    <table cellspacing="0" cellpadding="0" border="0" width="500">
                        <tr>
                            <td width="50"></td>
                            <td width="320">+ Agilidade</td>
                            <td style="text-align: center"><img src="../../Content/img/maisagilidade.png" border="0" alt="+ Agilidade" title="+ Agilidade"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>+ Profissionalismo</td>
                            <td style="text-align: center"><img src="../../Content/img/maisprofissionalismo.png" border="0"  alt="+ Profissionalismo" title="+ Profissionalismo"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Faturamento para empresas</td>
                            <td style="text-align: center"><img src="../../Content/img/maisfaturamento.png" border="0"  alt="Faturamento para empresas" title="Faturamento para empresas"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Frete grátis para todo o Brasil</td>
                            <td style="text-align: center"><img src="../../Content/img/maisfretegratis.png" border="0"  alt="Frete grátis para todo o Brasil" title="Frete grátis para todo o Brasil"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Faixa de homenagem grátis</td>
                            <td style="text-align: center"><img src="../../Content/img/maishomenagens.png" border="0" alt="Faixa de homenagem grátis" title="Faixa de homenagem grátis" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Pagamento via cartões de crédito<br />VISA ou Mastercard</td>
                            <td style="text-align: center"><img src="../../Content/img/maispagcartoes.png" border="0"  alt="Pagamento via cartões de crédito VISA ou Mastercard" title="Pagamento via cartões de crédito VISA ou Mastercard"/></td>
                        </tr>
                    </table>
                </div>
                <div class="porque-comprar">
                    <div class="titulo qlassik vermelho">Veja nossas aparições na Mídia</div>
                    <a href="@Url.Action("index", "coroas-para-velorio-na-midia")" target="_blank"><img style="margin: 15px 0 0 25px" src="../../Content/img/aparicoes-midia.jpg" border="0" alt="Veja nossas aparições na Mídia" title="Veja nossas aparições na Mídia"/></a>
                </div>
            </div>
        </div>
        <div class="lateral-direita">
            <span itemprop="category" content="Material para cerimônias e eventos religiosos"></span>
            <span itemprop="identifier" content="@Model.ID"></span>
            <span class="subtitulo">@Domain.Helpers.EnumHelper.GetDescription(Model.Tipo)</span>

            <h1 itemprop="name">@Model.Nome</h1>

            <div class="descricao" itemprop="description">
                @Model.BreveDescritivo
            </div>
            <div class="hr-dk"></div>
            <div class="item-direita">
                    <p>Escolha o tamanho:</p>
                    <div class="planos">
                        @{var total = Model.ProdutoTamanhos.Count;
                          var i = 0;
                          var _tamanho = "Media";
                          if (Request.QueryString["tamanho"] != null)
                          {
                              _tamanho = Request.QueryString["tamanho"];
                          }
                          _tamanho = _tamanho.Replace("Coroa", "");
                          }
                        @foreach (var item in Model.ProdutoTamanhos)
                        {
                            i++;
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span itemprop="currency" content="986"></span>
                        <span itemprop="price" content="@Model.ID"></span>
                        <span itemprop="price" content="@item.Preco.ToString("N2")"></span>
                        <span itemprop="condition" content="new"></span>
                        <span itemprop="availability" content="in_stock"></span>
                            
                        <div class="coroa @(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID) == _tamanho ? "ativo" : (total == 1) ? "ativo" : "desativado")" data-rel="@(Model.ID)" data-id="@(item.ID)"  id="Coroa@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))"   onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', '@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID).ToLower())']);">
                            <div class="tamanho">
                                <h4>@item.Tamanho.Nome</h4>
                                @item.Tamanho.Dimensao
                            </div>
                            <div class="valor">
                                <div class="total">@item.Preco.ToString("C2")</div>
                                <div class="parcelado">
                                    @if (configuracoes.Parcela > 1)
                                    {
                                    <font style="font-size: 12px; color: #666; font-weight: normal">@(configuracoes.Parcela)x</font>
                                    @((item.Preco / configuracoes.Parcela).ToString("C2"))
                                    }
                                </div>
                            </div>
                            @if (i < total)
                            {
                            <div id="LeveCoroa@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))" data-rel="@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))" class="leve-mais" @(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID) == _tamanho ? "style=display:block;" : "") >
                                <img src="../../Content/img/seta-lateral.png" border="0" alt="seta" title="seta"/>
                                <header>
                                <b>Aproveite!</b><br />
                                    @{
                                switch (Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))
                                {
                                    case "Pequena":
                                        Write("Leve a Média por mais");
                                        break;
                                    case "Media":
                                        Write("Leve a Grande por mais");
                                        break;
                                }
                                    }
                                </header>
                                <div>
                                    @{
                                switch (Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))
                                {
                                    case "Pequena":
                                        if (i < 2)
                                        {
                                            var preco = (item.Produto.ProdutoTamanhos.OrderBy(c => c.Preco).Skip(1).Take(1).FirstOrDefault().Preco - item.Preco);
                                            if (configuracoes.Parcela > 1)
                                            {
                                                var precoParcela = preco / configuracoes.Parcela;
                                                Write(preco.ToString("C2") + " ou " + configuracoes.Parcela + "x de " + precoParcela.ToString("C2"));
                                            }
                                            else
                                            {
                                                Write(preco.ToString("C2"));
                                            }
                                        }
                                        break;
                                    case "Media":
                                        if (i < 3)
                                        {
                                            var preco = (item.Produto.ProdutoTamanhos.OrderBy(c => c.Preco).Skip(2).Take(1).FirstOrDefault().Preco - item.Preco);
                                            if (configuracoes.Parcela > 1)
                                            {
                                                var precoParcela = preco / configuracoes.Parcela;
                                                Write(preco.ToString("C2") + " ou " + configuracoes.Parcela + "x de " + precoParcela.ToString("C2"));
                                            }
                                            else
                                            {
                                                Write(preco.ToString("C2"));
                                            }
                                        }
                                        break;
                                }
                                    }
                                </div>
                            </div>
                            }
                        </div>
                        </div>
                        }

                </div>
            </div>
            <div class="hr-dk" style="margin-top: 0"></div>
            <div class="item-direita centro">
            @if (promocao != null)
            {
                if (promocao.PromocaoProduto.Count(c => c.ProdutoID == Model.ID) > 0)
                {
                <div class="planos_promocao2">Aproveite, este produto está na promoção da semana com <b>desconto de @promocao.Desconto%</b> no carrinho</div>
                <br /><br />
                }
            }
                <input type="button" class="botao-comprar" value="comprar" id="comprar-produto" />
            </div>
            <div class="hr-dk" style="margin-top: 15px 0 0 0"></div>
            <div class="item-direita centro">
                <a href="https://selo.siteblindado.com.br/verificar?url=homolog.coroasparavelorio.com.br" target="_blank"><img src="../../Content/img/site-blindado3.png" border="0" alt="site blindado" title="site blindado"/></a>
                <img src="../../Content/img/selos.jpg" border="0" alt="selo" title="selo"/>
            </div>
            <div class="hr-dk"></div>
            <div class="item-direita">
                <p>Prazo de entrega:</p>
                O site Coroas Para Velório sabe que suas entregas precisam ser rápidas para atender com qualidade o mercado de coroa de flores.<br />
				Com o objetivo de trabalharmos com transparência com nossos clientes, nossa empresa decidiu padronizar os tempos e prazos de entrega.
				<br /><br />
				<table cellspacing="0" cellpadding="0" border="0" width="300">
					<tr>
						<td colspan="2">
							<b>Prazo Médio de Entrega</b>
						</td>
					</tr>
					<tr>
						<td width="200">Capitais e Cidades Grandes</td>
						<td>1h00 a 1h30</td>
					</tr>
					<tr>
						<td width="200">Cidades de Menor Porte</td>
						<td>1h00 a 2h00</td>
					</tr>
				</table>
            </div>
            <div class="item-direita">
                <div class="hr-dk"></div>
                <div class="flores qlassik">
                    Esta coroa contém as flores:
                    <div class="flor">
                        <div class="img-flor">
                            @foreach (var flor in Model.Flores)
                            {
                                <div>
                                    <label>@flor.Nome</label><br />
                                    <img src="/content/flores/@flor.ID/@Url.Content(flor.Foto)" class="imagem @flor.ID" height="70" onmouseover="mostraFlor('@flor.ID')"  alt="@flor.Nome" title="@flor.Nome"/>
                                </div>
                            }
                        </div>
                        <div class="caixa-txt">
                            @{var f = 0;}
                            @foreach (var flor in Model.Flores)
                            {
                                f++;
                                <div class="txt box-radius cinza600 @flor.ID" style="z-index: @f">
                                    <span class="nome">@flor.Nome</span><br />
                                    @flor.BreveDescritivo<br />
                                    <br />
                                    <a href="@Url.RouteUrl("Flores", new { rotuloUrl = flor.RotuloUrl, id = flor.ID })" target="_blank">continuar lendo</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
</div>

<div id="_trustvox_widget" style="float: left; "></div>
@if (produtos.Any())
{
  <div class="destaques-home">
  <br /><br />
      <span class="melhores qlassik">Veja algumas coroas de flores semelhantes!</span>
      <div class="hr"><hr /></div>
      @Html.Action("VejaTambem", "Produtos", new { produtos = produtos })
  </div>
}

@section Inferior{ 
@Html.Partial("DepoimentosDestaque", Model.Depoimento.Where(c => c.Aprovado).Take(2))
}