﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Coroas de Flores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var produtos = Model;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-coroas").addClass("active");
        });
    </script>
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "coroas-de-flores")" itemprop="url">      
      <span itemprop="title"><b>Coroas de flores</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1 style="margin:0px;">Coroas de flores</h1>
    @if (produtos.Any())
    {
        produtos.ToList().AddRange(Model.OrderBy(p => p.PrecoMinimo).ToList());
        var ordenacao = "preco-menor";
        if (!String.IsNullOrEmpty(Request["ordenacao"]))
        {
            ordenacao = Request["ordenacao"];
            switch (ordenacao)
            {
                case "preco-menor":
                    produtos = produtos.OrderBy(p => p.PrecoMinimo).ToList();
                    break;
                case "preco-maior":
                    produtos = produtos.OrderByDescending(p => p.PrecoMaximo).ToList();
                    break;
                case "mais-vendidas":
                    produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                    break;
                case "empresas":
                    produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                    break;
                case "amigos":
                    produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                    break;
                case "familiares":
                    produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                    break;
            }
        }
        produtos = produtos.Take(4).ToList();
        <div style="margin-bottom:20px;float:left;">
        @Html.Partial("Produtos", produtos)
        </div>
    }

    
    <p>Prestar homenagens a quem amamos sempre é sinal de atenção e afeto para quem recebe. E homenagens para as situações que requerem agilidade precisam ser eficientes em tempo de serviço e qualidade.</p>

    <p>A <strong>coroa de flor</strong>, encomendada geralmente para homenagens em velórios e enterros é engloba todos esses pontos. As coroas são produzidas com flores naturais e podem ter diferentes aromas. As flores são decoradas como um arco e finalizadas com uma faixa com frases de amigos e familiares.</p>

    <h2>Coroas para velório</h2>

    <p>Ao marcar um velório, é natural que familiares e amigos busquem serviços para encomendar uma coroa de flor a fim de prestarem suas homenagens com as mensagens escritas nas faixas.</p>

    <p>As coroas conferem ao velório um ambiente mais elegante, além de transpassar emoções que simplesmente não podem ser expressas na forma de palavras. A família ou o responsável pela realização do velório pode escolher os modelos nesta página, as flores e o que será gravado na <strong>faixa funebre</strong> da coroa.</p>

    <h2>Coroas fúnebres</h2>

    <p>Assim como uma coroa transforma o ambiente do velório com as cores e o perfume, o enterro, momento considerado mais difícil nesses casos, também conta com as <strong>coroas fúnebres</strong>. Elas geralmente são depositadas no local do enterro e posicionadas pelos profissionais dos cemitérios enfeitando o espaço com as flores que representam a última homenagem ao ente querido.</p>

    <h2>Com qual flor homenagear?</h2>

    <p>Alguns tipos de flores possuem significados, sendo, assim, costumam estar presentes para homenagear pessoas de personalidades específicas. <br />Veja alguns exemplos abaixo.</p>

    <p><strong>- Antúrio:</strong> podem ser enviados para velórios de senhores, principalmente na questão de colegas ou amigos de trabalho.</p>

    <p><strong>- Copos de Leite:</strong> são indicados para velórios de senhoras, principalmente para colegas de trabalho e amigas próximos.</p>

    <p><strong>- Gérberas:</strong> são coloridas e transmitem profundas condolências aos familiares e amigos da pessoa falecida.</p>

    <p><strong>- Girassol:</strong> são indicadas para velórios de idosos.</p>

    <p><strong>- Lírio:</strong> são indicadas para velórios de senhoras, principalmente para envio por empresas em nome dos colegas de trabalho.</p>

    <p><strong>- Lisiantos:</strong> são indicados para velórios de senhoras, principalmente para envio de familiares ou amigos de empresas.</p>

    <p><strong>- Margaridas:</strong> expressam profundas condolências e são indicadas para envio em velórios infantis ou pessoas mais jovens.</p>

    <p><strong>- Orquídeas:</strong> são as mais refinadas e transmitem muita força no momento do velório.</p>

    <p><strong>- Rosas (brancas e vermelhas):</strong> são indicadas para amigos ou familiares próximos às pessoas falecidas.</p>

    <p>Veja mais em <a href="@Url.Action("index","significado-das-flores")">significado das flores</a>.</p>
</div>

@if (Model.Any())
{
    @Html.Partial("Produtos", Model)
}
