﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Segurança";
} 

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Segurança</b></span> </div>
</div>
</div> 

<div id="Seguranca">
<div class="Div">

	<h1 class="TituloPagina">Segurança</h1>

	<div class="Texto1">
	Dentro da missão do site Laços Flores está inclusa a questão de segurança no momento de efetuar a compra online de flores.<br /><br />
	
	</div>
      

	@*<div class="Listagem">
		<div class="Foto"><img src="@Url.Content("~/Content/imagens/ico-pagseguro.png")" alt="PagSeguro" title="PagSeguro" /></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Pagamento via Pagseguro</div>
		</div>
	</div>

	<div class="Listagem">
		<div class="Foto"><img src="@Url.Content("~/Content/imagens/ico-paypal.png")" alt="paypal" title="paypal" /></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Pagamento via PayPal</div>
		</div>
	</div>*@

	<div class="Texto2">
	Caso tenha qualquer dúvida em qualquer com relação a nossa Política de Segurança, por favor entre em contato com a nossa Central de Atendimento:<br />
        <b>(11) 4097-9400 (24h por dia)</b>.<br /><br />
	

	Estamos a sua disposição<br />
	Equipe Laços Flores<br />
	www.lacosflores.com.br<br />
	</div>
     
</div>

</div>