﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Esqueci Minha Senha";
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Enviar").click(function () {
                $.post("/esqueci-minha-senha/Enviar", { email: $("#email").val() }, function (data) {
                    alert(data);
                    $(".botao").show();
                    $("#processando").hide();
                });
            });

        });
    </script>
}
<div id="CaminhoPagina">
<div class="Div">
	<div class="Desabilitado" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div> 
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "esqueci-minha-senha")" itemprop="url">      
      <span itemprop="title"><b>Esqueci Minha Senha</b></span>    
    </a> 
    </div>
</div>
</div> 


<div id="EntreEmContato">
<div class="Div">

<h1 class="TituloPagina">Esqueci Minha Senha</h1>

<div class="Formulario2">
        @if (Request.QueryString["msg"] == "sucesso")
        {
            <div class="message success">Sua mensagem foi enviada com sucesso!</div>
        }
        else
        {
            <div class="Formulario">
                <div class="FormTexto1">Digite seu e-mail para receber sua senha:</div>

                <div class="FormDiv2">
                    <div class="FormCampo"><input type="text" id="email" name="email" class="FormCampoInput" /></div>
                </div>

                <div class="FormDivBotao">
                    <input type="submit" id="Enviar" value="ENVIAR" class="FormBotao" onmousedown="_gaq.push(['_trackEvent', 'form', 'contato', 'enviou'])" />
                    <div class="processando" id="processando">Enviando...</div>
                </div>

            </div>
        }
</div>
 