﻿@model Domain.Entities.Flor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = (List<Domain.Entities.Produto>)ViewBag.ProdutosVejaTambem;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "significado-das-flores")" itemprop="url">      
      <span itemprop="title">Significado das Flores</span>    
    </a> 
        <div> > </div>
    
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.RouteUrl("Flores", new { rotuloUrl = Model.RotuloUrl, id = Model.ID })" itemprop="url">      
          <span itemprop="title"><b>@Model.Nome</b></span>    
        </a> 
        </div>   
    </div>    
</div>

<div class="hr"><hr /></div>
<div class="conteudo">

    <h1>@Model.Nome</h1>
    <h2>@Model.BreveDescritivo</h2>

    @if (Model.Foto != null)
    {
        if (Model.Foto.Length > 0)
        {
            <img src="/content/flores/@Model.ID/@Model.Foto" style="float:left; margin-top:10px; margin-right:10px;" alt="@Model.Nome" title="@Model.Nome"/>
        }
    }

    <p>@Html.Raw(Model.Descricao)</p>
    
    @if (produtos.Any())
    {
      <div class="destaques-home">
      <br /><br />
          <span class="melhores qlassik">Veja algumas coroas de flores com @Model.Nome!</span>
          <div class="hr"><hr /></div>
          @Html.Action("VejaTambem", "Produtos", new { produtos = produtos })
      </div>
    }
</div>