﻿@model IEnumerable<Domain.Entities.Flor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Titulo = "Significado das Flores";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "significado-das-flores")" itemprop="url">      
      <span itemprop="title"><b>Significado das Flores</b></span>    
    </a>  
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Significado das Flores</h1>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
        <div class="box_lista_noticia">
            @if (item.Foto != null)
            {
                if (item.Foto.Length > 0)
                {
                    <a href="@Url.RouteUrl("Flores", new { rotuloUrl = item.RotuloUrl, id = item.ID })"><img src="/content/flores/@item.ID/thumb/@item.Foto" alt="@item.Nome" title="@item.Nome" style="float:left; margin-top:10px; margin-right:10px;" border="0"/></a>
                }
            }
            <p>
                <b>@item.Nome</b><br />
                @item.BreveDescritivo
                <br /><br />
                <a href="@Url.RouteUrl("Flores", new { rotuloUrl = item.RotuloUrl, id = item.ID })">Continuar lendo</a>
                <br />
            </p>
        </div>
        }
    }
    else
    {
        <p>Não há flores para serem exibidas.</p>
    }
</div>