﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Condolências Virtuais Gratis";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_condolencias").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    $.post("/condolencias-virtuais-gratis/Enviar", { emailDe: $("#emailDe").val(), nomeDe: $("#nomeDe").val(), emailPara: $("#emailPara").val(), nomePara: $("#nomePara").val(), mensagem: $("#mensagem").val(), tipo: $("#tipo:checked").val() }, function (data) {
                        if (data == "OK") {
                            window.location = "/condolencias-virtuais-gratis?msg=sucesso";
                        } else {
                            alert(data);
                            $(".botao").show();
                            $("#processando").hide();
                        }
                    });
                },
                rules: {
                    nomeDe: "required",
                    emailDe: {
                        required: true,
                        email: true
                    },
                    nomePara: "required",
                    emailPara: {
                        required: true,
                        email: true
                    },
                    mensagem: "required",
                    tipo: "required"
                },
                messages: {
                    nomeDe: "Digite seu nome",
                    emailDe: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    nomePara: "Digite o nome de seu amigo",
                    emailPara: {
                        required: "Digite o e-mail de seu amigo",
                        email: "Digite um e-mail válido"
                    },
                    mensagem: "Digite a mensagem",
                    tipo: "Selecione o cartão"
                }
            });
        });
    </script>
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "condolencias-virtuais-gratis")" itemprop="url">      
      <span itemprop="title"><b>Condolências Virtuais Gratis</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Condolências Virtuais Grátis</h1>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Suas condolências foram enviadas com sucesso!</div>
    }
    else
    {
        <p>Utilize a nossa ferramenta de Condolências Virtuais para enviar uma mensagem a quem está precisando. Escolha um dos cartões disponíveis, preencha os dados e escreva uma mensagem carinhosa a quem você quer transmitir suas condolências.</p>
    <div class="escurece">
        <div class="lightbox">
            <div class="close">
                X
            </div>
            <div class="cartao">
                <table cellspacing="0" cellpadding="0" border="0" width="600" style="color: #ffffff; font-family: MV Boli;">
                    <tr height="11px">
                        <td colspan="5" class="cor"></td>
                    </tr>
                    <tr height="8px">
                        <td width="11px" class="cor"></td>
                        <td bgcolor="#ffffff" colspan="3"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr height="30px">
                        <td width="11px" class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr>
                        <td width="11px" class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td class="cor">
                            <table cellspacing="0" cellpadding="0" border="0" width="560" style="color: #ffffff; font-family: MV Boli;">
                                <tr>
                                    <td width="40px"></td>
                                    <td id="visualizaPara"></td>
                                    <td width="40px"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr height="20px">
                        <td width="11px" class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr>
                        <td width="11px" class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td class="cor">
                            <table cellspacing="0" cellpadding="0" border="0" width="560" style="color: #ffffff; font-family: MV Boli;">
                                <tr>
                                    <td width="80px"></td>
                                    <td id="visualizaMensagem" style="font-size: 26px; text-align: justify"></td>
                                    <td width="80px"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr>
                        <td width="11px" class="cor"></td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td class="cor">
                            <table cellspacing="0" cellpadding="0" border="0" width="560" style="color: #ffffff; font-family: MV Boli;">
                                <tr>
                                    <td width="244px">
                                        <img class="rosa-condolencia" src="/Content/html/condolencias/flor-azul.jpg" alt="condolencias" title="condolencias" border="0" style="margin-bottom: -14px" />
                                    </td>
                                    <td id="visualizaDe" style="text-align: right"></td>
                                    <td width="44px"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="8px" bgcolor="#ffffff"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr height="8px">
                        <td width="11px" class="cor"></td>
                        <td bgcolor="#ffffff" colspan="3"></td>
                        <td width="11px" class="cor"></td>
                    </tr>
                    <tr height="11px">
                        <td colspan="5" class="cor"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        @using (Html.BeginForm("Index", "Condolencias-Virtuais-Gratis", FormMethod.Post, new { id = "form_condolencias", name = "form_condolencias", enctype = "multipart/form-data", @class = "formulario" }))
        {   
            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">

                <tr>
                    <td width="97"></td>
                    <td width="97"></td>
                    <td width="20"></td>
                    <td width="174"></td>
                    <td width="97"></td>
                    <td width="97"></td>
                </tr>

                <tr><!-- De: -->
                    <td colspan="2" class="right"></td>
                    <td width="20"></td>
                    <td colspan="2">
                        <h2>De:</h2>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome: -->
                    <td colspan="2" class="right">Nome:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" name="nomeDe" id="nomeDe"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">Email:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text"  name="emailDe" id="emailDe"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Para: -->
                    <td colspan="2" class="right"></td>
                    <td width="20"></td>
                    <td colspan="2">
                        <h2>Para:</h2>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome: -->
                    <td colspan="2" class="right">Nome:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text"  name="nomePara" id="nomePara"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">Email:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" name="emailPara" id="emailPara"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Texto que deseja inserir no cartão: -->
                    <td colspan="2" class="right"></td>
                    <td width="20"></td>
                    <td colspan="3">
                        <h2>Texto que deseja inserir no cartão:</h2>
                    </td>
                </tr>

                <tr><!-- Mensagem: -->
                    <td colspan="2" class="right">Mensagem:</td>
                    <td width="20"></td>
                    <td colspan="2" rowspan="4">
                        <textarea class="campo300" name="mensagem" id="mensagem"></textarea>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Mensagem: -->
                    <td colspan="2" rowspan="3"></td>
                    <td width="20" rowspan="3"></td>
                    <td width="97" rowspan="3"></td>
                </tr>
                <tr><!-- Mensagem: --></tr>
                <tr><!-- Mensagem: --></tr>
            </table>

            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">
                <tr height="20">
                    <td colspan="6" class="center"></td>
                </tr>
                <tr>
                    <td colspan="6" class="center"><h2>Escolha abaixo a cor de fundo da sua mensagem:</h2></td>
                </tr>
                <tr>
                    <td width="32,6%" class="center">
                        <div class="radio">
                            <input type="radio" name="tipo" id="tipo" value="1"/>
                        </div>
                        <img src="/Content/img/cartao_azul.jpg" border="0" width="180"  alt="azul" title="azul" />
                    </td>
                    <td width="1%" class="center"></td>
                    <td width="32,6%" class="center">
                        <div class="radio">
                            <input type="radio" name="tipo" id="tipo" value="2"/>
                        </div>
                        <img src="/Content/img/cartao_verde.jpg" border="0" width="180"  alt="verde" title="verde"/>
                    </td>
                    <td width="1%" class="center"></td>
                    <td width="32,6%" class="center">
                        <div class="radio">
                            <input type="radio" name="tipo" id="tipo" value="3"/>
                        </div>
                        <img src="/Content/img/cartao_rosa.jpg" border="0" width="180"  alt="rosa" title="rosa"/>
                    </td>
                    
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">
                <tr height="20">
                    <td colspan="4" class="center"></td>
                </tr>
                <tr>
                    <td width="10%" class="center"></td>
                    <td width="40%" class="center">
                        <input type="submit" value="Visualizar" class="botao" id="VisualizarCartao" />
                    </td>
                    <td width="40%" class="center">
                        <input type="submit" value="Enviar" class="botao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'condolencias', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                    <td width="10%" class="center"></td>
                </tr>
            </table>
        }
    </div>
    }
</div>