﻿@model Domain.Entities.Boleto

@{
    ViewBag.Title = "Edição de boleto " + ((Model.Faturamento!=null)?Model.Faturamento.Empresa.RazaoSocial:Model.Pedido.Cliente.Nome);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Edição de boleto do cliente @((Model.Faturamento!=null)?Model.Faturamento.Empresa.RazaoSocial:Model.Pedido.Cliente.Nome)</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Boleto", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.PedidoID)
            @Html.HiddenFor(model => model.FaturamentoID)
            @Html.HiddenFor(model => model.ComandoID)
            @Html.HiddenFor(model => model.TipoID)
            @Html.HiddenFor(model => model.StatusPagamentoID)
            @Html.HiddenFor(model => model.StatusProcessamentoID)
            @Html.HiddenFor(model => model.Carteira)
            @Html.HiddenFor(model => model.NossoNumero)
            @Html.HiddenFor(model => model.NumeroDocumento)
            @Html.HiddenFor(model => model.DataCriacao)
            @Html.HiddenFor(model => model.DataVencimento)
            @Html.HiddenFor(model => model.DataPagamento) 
            @Html.HiddenFor(model => model.CedenteCodigo)
            @Html.HiddenFor(model => model.CedenteAgencia)
            @Html.HiddenFor(model => model.CedenteRazaoSocial)
            @Html.HiddenFor(model => model.CedenteCNPJ)
            @Html.HiddenFor(model => model.CedenteContaCorrente)
            @Html.HiddenFor(model => model.RetornoID)            
            @Html.HiddenFor(model => model.RetornoErros)
            @Html.HiddenFor(model => model.RetornoCancelamento)
            @Html.HiddenFor(model => model.DataRetorno)
            @Html.HiddenFor(model => model.DataEnvioLembreteVencimento)
            @Html.HiddenFor(model => model.Observacao)
            @Html.HiddenFor(model => model.DataCEJ)
            @Html.HiddenFor(model => model.DataRecebimentoCEJ)
            @Html.HiddenFor(model => model.DataCobranca)
            @Html.HiddenFor(model => model.DataContato)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Valor</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Documento do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoDocumento, new { @class = "mws-textinput", maxlength = "14" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nome do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoNome, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Endereço do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoEndereco, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Bairro do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoBairro, new { @class = "mws-textinput", maxlength = "50" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Cidade do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoCidade, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>CEP do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoCEP, new { @class = "mws-textinput", maxlength = "9" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>UF do sacado</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.SacadoUF, new { @class = "mws-textinput", maxlength = "2" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Instrução</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Instrucao, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Processado <i>( só altere este status para <u>NÃO</u> se precisar reprocessar o boleto)</i></label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Processado)  SIM
                    </div>
                </div>
                @if (Model != null)
                {
                <div class="mws-form-row">
                    <label>Status de Pagamento</label>
                    <div class="mws-form-item small">
                        @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento) 
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Status de Processamento</label>
                    <div class="mws-form-item small">
                        @Domain.Helpers.EnumHelper.GetDescription(Model.StatusProcessamento) 
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Data de Vencimento</label>
                    <div class="mws-form-item small">
                        @Model.DataVencimento.ToString("dd/MM/yyyy") @Html.Raw(Model.DataVencimento <= DateTime.Now && Model.StatusPagamento == Domain.Entities.Boleto.TodosStatusPagamento.AguardandoPagamento ? "<br><b>VENCIDO</b>" : "")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Status de Pagamento</label>
                    <div class="mws-form-item small">
                        @((Model.DataPagamento.HasValue) ? Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm") : "Pendente de pagamento")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Retorno</label>
                    <div class="mws-form-item small">
                       @Html.Raw(Model.RetornoID.HasValue ? "<a class=\"mws-tooltip-n\" original-title=\"" + Domain.Helpers.EnumHelper.GetDescription(Model.Retorno) + "\"><b>R: </b>" + Model.RetornoID.Value + "</a> <br /><b>E: </b>" + Model.RetornoErros + " <br /><b>C: </b>" + Model.RetornoCancelamento : "Não enviado para remessa")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <input type="button" value="Imprimir Boleto" class="mws-button green small" onclick="javascript:window.open('/PedidosSite/MontaBoleto?id=@Model.ID');" />
                </div>
                }
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#financeiro').addClass('active');
        $('#i_boleto').addClass('active');
        
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Valor: "required",
                SacadoDocumento: "required",
                SacadoNome: "required",
                SacadoEndereco: "required",
                SacadoBairro: "required",
                SacadoCidade: "required",
                SacadoCEP: "required",
                SacadoUF: "required",
                Instrucao: "required"
            },
            messages: {
                Valor: "O campo valor é obrigatório",
                SacadoDocumento: "O campo documento é obrigatório",
                SacadoNome: "O campo nome é obrigatório",
                SacadoEndereco: "O campo endereço é obrigatório",
                SacadoBairro: "O campo bairro é obrigatório",
                SacadoCidade: "O campo cidade é obrigatório",
                SacadoCEP: "O campo CEP é obrigatório",
                SacadoUF: "O campo UF é obrigatório",
                Instrucao: "O campo instrução é obrigatório"
            }
        });
    });
</script>
}