﻿@model IEnumerable<Domain.Entities.Boleto>

@{
    ViewBag.Title = "Boletos ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#financeiro').addClass('active');
            $('#i_boleto').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Boletos
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                    <table>
                        <tr style="height:20px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Origem do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td colspan="6">
                                <select name="origem" id="origem" style="width:300px;">
                                    <option value="">Selecione uma opção</option>
                                    <option value="1" @(Request.QueryString["origem"] == "1" ? "selected" : "")>CPV</option>
                                    <option value="2" @(Request.QueryString["origem"] == "2" ? "selected" : "")>LAÇOS FLORES</option>
                                    <option value="3" @(Request.QueryString["origem"] == "3" ? "selected" : "")>LAÇOS CORPORATIVOS</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td><strong>Nosso Número:</strong></td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="nossonumero" value="@Request.QueryString["nossonumero"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width: 100px;"></td>
                            <td>Número do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td> Data de Inicial:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 100px;"></td>
                            <td>Data de Final:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Nome:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width: 100px;"></td>
                            <td>E-mail:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Status de Processamento:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("statusprocessamento", typeof(Domain.Entities.Boleto.TodosStatusProcessamento), (!String.IsNullOrEmpty(Request.QueryString["statusprocessamento"]) ? Convert.ToInt32(Request.QueryString["statusprocessamento"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 100px;"></td>
                            <td>Status de Pagamento do Boleto:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("statuspagamento", typeof(Domain.Entities.Boleto.TodosStatusPagamento), (!String.IsNullOrEmpty(Request.QueryString["statuspagamento"]) ? Convert.ToInt32(Request.QueryString["statuspagamento"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Status de Pagamento do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("statuspagamentoped", typeof(Domain.Entities.Pedido.TodosStatusPagamento), (!String.IsNullOrEmpty(Request.QueryString["statuspagamentoped"]) ? Convert.ToInt32(Request.QueryString["statuspagamentoped"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 100px;"></td>
                            <td>Status de Retorno:</td>
                            <td style="width: 20px;"></td>
                            <td colspan="6">@Html.DropDownListForEnum("statusretorno", typeof(Domain.Entities.Boleto.TodosRetornos), (!String.IsNullOrEmpty(Request.QueryString["statusretorno"]) ? Convert.ToInt32(Request.QueryString["statusretorno"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:30px;"></tr>
                    </table>
                    <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                        <input type="submit" class="mws-button green big" value="Filtrar" />
                    </div>
                    <br /><br />
                </form>
            </div>
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th style="width:130px;text-align:center;">Pedido</th>
                    <th style="width:150px;text-align:center;">Nosso Número <br /> No. do Documento</th>
                    @*<th style="text-align:center;"></th>*@
                    <th style="width:150px;text-align:center;">Sacado</th>
                    <th style="width:100px;text-align:center;">Valor</th>
                    <th style="text-align:center;">Status de Pagamento</th>
                    <th style="text-align:center;">Status de Processamento</th>
                    <th style="text-align:center;">Comando para Remessa</th>
                    <th style="text-align:center;">Data de Criação</th>
                    <th style="text-align:center;">Data de Vencimento</th>
                    <th style="text-align:center;">Data de Pagamento</th>
                    <th style="text-align:center;">Processado</th>
                    <th style="text-align:center;">Data de Retorno</th>
                    <th style="text-align:center;">Código de Retorno</th>
                    
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td class="center" style="width:330px;">
                        <div class="mws-panel-toolbar top clearfix">
                            <ul>
                                @if (item.PedidoID.HasValue)
                                {
                                    <li style="width:130px;">
                                                <a target="_blank" class="mws-ic-16 ic-view" href="@Url.Action("Visualizar",  "PedidosSite", new { id = item.PedidoID })">
                                                    @item.Pedido.Numero
                                                </a>
                                            </li>
                                    @*<li>@Html.ActionLink("Pedido", "Visualizar", "PedidosSite", new { id = item.PedidoID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>*@
                                }
                                else if (item.FaturamentoID.HasValue)
                                {
                                    <li>@Html.ActionLink("Fatura", "Visualizar", "FaturasEmpresa", new { id = item.Faturamento.ID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                }
                                @if (item.StatusPagamento == Domain.Entities.Boleto.TodosStatusPagamento.AguardandoPagamento || item.StatusPagamento == Domain.Entities.Boleto.TodosStatusPagamento.Vencido)
                                {
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
                                    <li>@Html.ActionLink("Cancelar", "Cancelar", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Cancelar", onclick = "return confirm('Deseja realmente cancelar este boleto? Esta operação não poderá ser revertida após o processamento.');" })</li>
                                    <li>@Html.ActionLink("Protestar", "Protestar", new { id = item.ID }, new { @class = "mws-ic-16 ic-exclamation-octagon-fram", title = "Protestar", onclick = "return confirm('Deseja realmente protestar este boleto? Esta operação não poderá ser revertida após o processamento.');" })</li>
                                    <li>@Html.ActionLink("Cadastro", "Cadastro", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit", title = "Cadastro", onclick = "return confirm('Deseja alterar o comando para \"alterar dados cadastrais\" para este boleto? Esta operação não poderá ser revertida após o processamento.');" })</li>
                                    <li>@Html.ActionLink("Dt Venc", "ValorVencimento", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit", title = "Data Vencimento", onclick = "return confirm('Deseja alterar o comando para \"alterar data vencimento\" para este boleto? Esta operação não poderá ser revertida após o processamento.');" })</li>
                                }
                            </ul>
                        </div>
                    </td>
                    <td style="text-align:center;">@item.NossoNumero <br />@item.NumeroDocumento</td>
                    @*<td style="text-align:center;"></td>*@
                    <td style="">@item.SacadoNome <br /> @item.SacadoDocumento</td>
                    <td style="text-align:center;">@item.Valor.ToString("C2")</td>
                    <td style="text-align:center;" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusPagamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusPagamento)</td>
                    <td style="text-align:center;" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusProcessamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusProcessamento)</td>
                    <td style="text-align:center;">@Domain.Helpers.EnumHelper.GetDescription(item.Comando)</td>
                    <td style="text-align:center;">@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    <td style="text-align:center;">@item.DataVencimento.ToString("dd/MM/yyyy") @Html.Raw(item.DataVencimento <= DateTime.Now.AddDays(-1) && item.StatusPagamento == Domain.Entities.Boleto.TodosStatusPagamento.AguardandoPagamento ? "<br><b>VENCIDO</b>" : "")</td>
                    <td style="text-align:center;">@((item.DataPagamento.HasValue) ? item.DataPagamento.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td style="text-align:center;">@Html.Raw(item.Processado ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@((item.DataRetorno.HasValue) ? item.DataRetorno.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                    <td style="text-align:center;width:150px;font-size:10px;text-align:left;">@Html.Raw(item.RetornoID.HasValue ? "<a class=\"mws-tooltip-n\" original-title=\"" + Domain.Helpers.EnumHelper.GetDescription(item.Retorno) + "\"><b>R: </b>" + Domain.Helpers.EnumHelper.GetDescription(item.Retorno) + " (" + item.RetornoID.Value + " )</a> <br /><b>E: </b>" + item.RetornoErros + " <br /><b>C: </b>" + item.RetornoCancelamento : "") </td>
                    
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&nome=@Request.QueryString["nome"]&numero=@Request.QueryString["numero"]&email=@Request.QueryString["email"]&statusprocessamento=@Request.QueryString["statusprocessamento"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusretorno=@Request.QueryString["statusretorno"]&statuspagamentoped=@Request.QueryString["statuspagamentoped"]&origem=@Request.QueryString["origem"]&nossonumero=@Request.QueryString["nossonumero"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
            </div>
    </div>
</div>
