﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Arranjos de Flores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

@if (Model.Any())
{
    @Html.Partial("Produtos", Model)
}
else
{
    <p>Não há arranjos para serem listados.</p>
}
