﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard";
}
@section Scripts{
    <script type="text/javascript">
       
    </script>
}

 <div class="page-header">
        <h1>
            Dashboard - Sócios</h1>
    </div>