﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
    //Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;
    decimal dcmMetaNPS = ViewBag.MetaNPS != null ? (decimal)ViewBag.MetaNPS : 0;
    decimal dcmMetaRepasse = ViewBag.MetaRepasse != null ? (decimal)ViewBag.MetaRepasse : 0;
    decimal dcmMetaIndiceCanc = ViewBag.MetaIndiceCanc != null ? (decimal)ViewBag.MetaIndiceCanc : 0;
}
<script type="text/javascript">
    $(document).ready(function () {

        var _nomeUsuario = '@Html.Raw(ViewBag.adminModel.Nome)';
        if (_nomeUsuario != '') {
            Swal.fire("Olá!", "Bem Vindo " + _nomeUsuario + " ao seu Dashboard!", "success")
        }

        $('.datepicker').datepicker();

        var dp = $('.datepicker').datepicker({ changeMonth: true, changeYear: true });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }

        FillListPedidos();

        //setInterval(function () {
        //    FillListPedidos();
        //}, 15000);
    });

    function FillListPedidos() {
        var _urlParametros = @Html.Raw(ViewBag.UrlParametros)//exemplo - /Dashboards/ListaPedidos?Usuario=0
        $.ajax
            ({
                method: "GET",
                url: _urlParametros
            })
            .done(function (data) {
                $(".ListaPedidos").html(data);
            })
            .fail(function (jqXHR, textStatus) {
                alert(jqXHR + '|' + textStatus);
            });
    }

</script>
@{
    decimal NPS = ViewBag.NPS;
    DateTime DataInicial = new DateTime();
    DataInicial = ViewBag.DataInicial;

    DateTime DataFinal = new DateTime();
    DataFinal = ViewBag.DataFinal;

}
@{if (AdminModel == null)
    {
        <script type="text/javascript">
            Swal.fire("OPS!", "Não foi possível identificar o seu usuário", "error")
        </script>
    }
    else
    {
        // Linha de filtro
        <form method="get" action="@Url.Action("Index","Dashboards")">
            <div class="row top-buffer">
                <div class="col-md-2">
                    <b>Data Inicial</b>
                    <input value="@DataInicial.ToString("dd/MM/yyyy")" name="DataInicial" type="text" class="form-control datepicker" id="DataInicial">
                </div>
                <div class="col-md-2">
                    <b>Data Final</b>
                    <input type="text" name="DataFinal" value="@DataFinal.ToString("dd/MM/yyyy")" class="form-control datepicker" id="DataFinal">
                </div>
                <div class="col-md-2">
                    <b>Usuário</b>
                    <select class="form-control" id="Usuario" name="Usuario">
                        <option value="0" @{if (!string.IsNullOrEmpty(Request.QueryString["Usuario"]) && int.Parse(Request.QueryString["Usuario"].ToString()) == 0) { <text> selected</text>}}>Todos</option>
                        @{
                            foreach (var Item in ViewBag.LstUsuarios)
                            {
                        <option @{if (!string.IsNullOrEmpty(Request.QueryString["Usuario"]) && int.Parse(Request.QueryString["Usuario"].ToString()) == (int)Item.ID) { <text> selected</text>}
                                          }
                                @{if ((int)Item.ID == AdminModel.ID && string.IsNullOrEmpty(Request.QueryString["Usuario"])) { <text> selected</text>
                                      }}
                                value="@Item.ID">
                            @Item.Nome
                        </option>
    }
                        }
                    </select>
                </div>

                <div class="col-md-3">

                    <b><label for="chkTodosStatusCancelamento">Todos os Tipos de Cancelamento</label></b>
                    <br />
                    <input type="checkbox" name="TodosStatusCancelamento" id="chkTodosStatusCancelamento" value="@ViewBag.TodosStatusCancelamento" style="margin-top: 10px; margin-left: 5px;" />
                </div>

                <div class="col-md-3">
                    <br />
                    <button type="submit" class="btn btn-primary dropdown-toggle">
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    }
}
    <div class="row">

        @*NPS*@
        <div id="NPSDash" class="col-lg-4 col-md-4 col-sm-4">
            @{
                string strClassePanelNPS = "panel-default";
                string strEstiloPanelNPS = string.Empty;
                if (dcmMetaNPS > 0)
                {
                    strClassePanelNPS = ViewBag.NPS <= dcmMetaNPS ? "panel-danger" : "panel-success";
                    strEstiloPanelNPS = ViewBag.NPS <= dcmMetaNPS ? "color: #a94442;" : "color: #3c763d;";
                }
            }
            <div class="panel @strClassePanelNPS">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS"> NPS </h3>
                </div>

                <div class="panel-body center NrVendas" style="@strEstiloPanelNPS">

                    @if (NPS > 0)
                    {
                    @NPS.ToString("#.##")
                    }
                    else
                    {
                    <text> N/A </text>
                    }

                </div>

            </div>

        </div>
        @*REPASSE*@
        <div id="dvRepasse" class="col-lg-4 col-md-4 col-sm-4">
            @{
                string strClassePanelRepasse = "panel-default";
                string strEstiloPanelRepasse = string.Empty;
                if (dcmMetaNPS > 0)
                {
                    strClassePanelRepasse = ViewBag.RepasseMedio <= dcmMetaRepasse / 100 ? "panel-success" : "panel-danger";
                    strEstiloPanelRepasse = ViewBag.RepasseMedio <= dcmMetaRepasse / 100 ? "color: #3c763d;" : "color: #a94442;";
                }
            }
            <div class="panel @strClassePanelRepasse">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">% Repasse </h3>
                </div>
                <div class="panel-body center NrVendas @ViewBag.RepasseMedio" style="@strEstiloPanelRepasse">

                    @ViewBag.RepasseMedio.ToString("P2")

                </div>
            </div>
        </div>
        @*INDICE CANC*@
        <div id="dvIndiceCanc" class="col-lg-4 col-md-4 col-sm-4">
            @{
                string strClassePanelCanc = "panel-default";
                string strEstiloPanelCanc = string.Empty;
                if (dcmMetaNPS > 0)
                {
                    strClassePanelCanc = ViewBag.PercentualPedidosCancelados <= dcmMetaIndiceCanc / 100 ? "panel-success" : "panel-danger";
                    strEstiloPanelCanc = ViewBag.PercentualPedidosCancelados <= dcmMetaIndiceCanc / 100 ? "color: #3c763d;" : "color: #a94442;";
                }
            }
            <div class="panel @strClassePanelCanc">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Índice Canc. <span data-toggle="tooltip" title="" data-original-title="Número de pedidos cancelados (@ViewBag.QtdPedidosCancelados) / pelo número total de pedidos (@ViewBag.QtdPedidosBruto) " class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                </div>
                <div class="panel-body center NrVendas" style="@strEstiloPanelCanc">
                    <a href="#" data-target="#ModalPedidosCancelados" data-toggle="modal">@ViewBag.QtdPedidosCancelados</a> / @ViewBag.PercentualPedidosCancelados.ToString("P2")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*QTD ITENS*@
        <div id="dvQtdVenda" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Qtd Itens Pedido <span data-toggle="tooltip" title="" data-original-title="Número Total de Vendas (Itens do Pedido). Um pedido pode ter mais de um produto." class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                </div>
                <div class="panel-body center NrVendas">

                    @ViewBag.TotalItensPedido

                </div>
            </div>
        </div>
        @*ACEITE AUTOMATIZADO*@
        <div id="dvAceiteManual" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">
                        % Aceite Automático
                        <span data-toggle="tooltip" title="" data-original-title="É o número Total de pedidos com aceite (@ViewBag.QtdPedidosComAceiteFornecedor) / pelo nr de pedidos com aceite manual (@ViewBag.QtdPedidosComAceiteManual)" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="panel-body center NrVendas">

                    <a href="#" data-target="#ModalPedidosAceiteManual" data-toggle="modal">
                        @ViewBag.QtdPedidosComAceiteManual
                    </a> / @ViewBag.PercentualAceiteManual.ToString("P2")

                </div>
            </div>
        </div>
        @*MAIL CONF*@
        <div id="dvMailConf" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">% Mail Conf.</h3>
                </div>
                <div class="panel-body center NrVendas">

                    @if (@ViewBag.PercentualMailConf != null)
                    {
                    <span>@ViewBag.QtdMailConf / @ViewBag.PercentualMailConf.ToString("P2")</span>

                    }
                    else
                    {
                    <span>0 / 0,00%</span>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (AdminModel.PerfilId == (int)Domain.Entities.Administrador.Perfis.Socios ||
            AdminModel.PerfilId == (int)Domain.Entities.Administrador.Perfis.Coordenadores ||
            AdminModel.PerfilId == (int)Domain.Entities.Administrador.Perfis.TI)
            {
        <div id="dvFaturamento" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Faturamento</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@(ViewBag.TotalFaturamento != null ? ((decimal)ViewBag.TotalFaturamento).ToString("C2") : 0.ToString("C2"))</span>
                </div>
            </div>
        </div>

        <div id="dvValorRepassado" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Valor Repassado</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@(ViewBag.ValorRepassado != null ? ((decimal)ViewBag.ValorRepassado).ToString("C2") : 0.ToString("C2"))</span>
                </div>
            </div>
        </div>

        <div id="dvTicketMedio" class="col-lg-4 col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Ticket Médio</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@(ViewBag.TicketMedio != null ? ((decimal)ViewBag.TicketMedio).ToString("C2") : 0.ToString("C2"))</span>
                </div>
            </div>
        </div>
            }
    </div>

    @*Pedidos da Carteira*@
    <div class="row">
        <div style="text-align: center;" class="cold-md-12">
            <h2>
                Pedidos da Carteira
                <a id="lnkCarteira" href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
            </h2>
            <hr />
            <div class="ListaPedidos">
                <img src="@Domain.Core.Configuracoes.CDN_URL/content/images/ajax-loader-fff.gif" />
            </div>
        </div>
    </div>

@*Modal*@
<div id="ModalPedidosCancelados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de Pedidos Cancelados</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dt Pedido</th>
                            <th>Cid. / UF Entrega</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var Item in (List<Domain.Entities.Pedido>)ViewBag.ListaPedidosCancelados)
                        {
                            <tr>
                                <th scope="row">
                                    <a target="_blank" href="@(Url.Action("Visualizar","PedidosSite") + "/" +Item.ID)">
                                        @Item.Numero
                                    </a>
                                </th>
                                <td>
                                    @Item.DataCriacao.ToString("dd/MM HH:mm")
                                </td>
                                <td>
                                    @Item.Cidade.Nome / @Item.Estado.Sigla.ToUpper()
                                </td>
                                <td>
                                    @Domain.Helpers.EnumHelper.GetDescription(Item.StatusCancelamento)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalPedidosAceiteManual" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de Pedidos Aceite Manual</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dt Pedido</th>
                            <th>Cid. / UF Entrega</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var Item in (List<Domain.Entities.Pedido>)ViewBag.ListaPedidosComAceiteManual)
                        {
                            <tr>
                                <th scope="row">
                                    <a target="_blank" href="@(Url.Action("Visualizar","PedidosSite") + "/" + Item.ID)">
                                        @Item.Numero
                                    </a>
                                </th>
                                <td>
                                    @Item.DataCriacao.ToString("dd/MM HH:mm")
                                </td>
                                <td>
                                    @Item.Cidade.Nome / @Item.Estado.Sigla.ToUpper()
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modalCarteira" class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @if (ViewBag.NomesCarteiras != null)
                {
                <h4 class="modal-title"> @ViewBag.NomesCarteiras</h4>
                }
                else
                {
                <h4 class="modal-title"> Carteira</h4>
                }

                </div>
                <div class="modal-body">
                    @if (ViewBag.Carteira != null && ((List<Tuple<string, string>>)ViewBag.Carteira).Any())
                {
                <table class="table table-striped">
                    <tr>
                        <th><span class="pull-left">Estado</span></th>
                        <th><span class="pull-left">Cidade</span></th>
                    </tr>
                    @foreach (Tuple<string, string> local in (List<Tuple<string, string>>)ViewBag.Carteira)
                        {
                        <tr>
                            <td>@local.Item1</td>
                            <td>@local.Item2</td>
                        </tr>
                        }
                </table>
                }
                </div>
            </div>
        </div>
    </div>

    <script>
    $(function () {
        $("#lnkCarteira").click(function () {
            $("#modalCarteira").modal('show');
        });
        $("#chkTodosStatusCancelamento").click(function () {
            var bool = $("#chkTodosStatusCancelamento").val() === "true";
            $("#chkTodosStatusCancelamento").val(!bool);
        });
        @if (ViewBag.TodosStatusCancelamento) {
            <text>
        $("#chkTodosStatusCancelamento").attr('checked', 'checked');
        </text>

        }
    });
    </script>