﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
    Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;

}
@section Scripts{
    <script type="text/javascript">
       
    </script>
}

<div class="page-header">
    <h1>
        Dashboard - @AdminModel.PerfilNome
    </h1>
</div>
<div class="row">
    TESTE

    @{if (AdminModel.PerfilId == 9 || AdminModel.PerfilId == 3)
        {
            @Html.Partial("~/Views/Dashboards/QtdVendasPeriodo.cshtml", QtdVendasPeriodo);
        }}

</div>