﻿@using Admin.ViewModel
@using Admin.ViewModels
@using Domain.Entities
@model Admin.ViewModel.FiltroDashComercialViewModel
@{
    ViewBag.Title = "Dash Comercial";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<br />

<script src="../../Content/excanvas.compiled.js"></script>
<script src="../../Content/waypoints.min.js"></script>
<script src="../../Content/jquery.easypiechart.min.js"></script>
<link rel="stylesheet" href="../../Content/easyPieChart.css" />

<style>
    .form-control {
        margin-bottom: 10px;
    }
    .popover {
        padding-top: 3px;
        max-width: none;
        width: 180px;
    }
    .dashMetrica > .panel > .panel-body {
        min-height: 90px !important;
    }
    .input-group {
        margin-bottom: 7px;
    }
    .input-group > select {
        margin-bottom: -1px;
    }
    p.text-left {
        margin-bottom: 2px;
    }
    .hundred {
        width: 100%;
    }
    .buttons {
        padding-top: 14px;
    }
    .panel-body {
        background-color: #fbfbfb;
    }

    .perigo .panel-heading {
        background-color: #FFBDBB;
    }

    .perigo .progress {
        background-color: #FFBDBB;
        
    }
    .perigo .progress-bar {
        background-color: #d9534f;
    }

    .alerta .panel-heading {
        background-color: #FFDBA7;
    }
    .alerta .progress {
        background-color: #FFDBA7;
    }
    .alerta .progress-bar {
        background-color: #f0ad4e;
    }
   
    .sucesso .panel-heading {
        background-color: #97E897;
    }
    .sucesso .progress {
        background-color:  #97E897;
    }
    .sucesso .progress-bar{
        background-color: #5cb85c;
    }
</style>
<div class="row">
    <div class="cold-md-12 text-center">
        <h1>
            Dashboard - Comercial
        </h1>
    </div>
</div>
  <hr/>
<form id="frmPesquisa" method="post">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <p class="text-left">
                <b>Compras</b>
            </p>
            <div class="input-group">
                <span class="input-group-addon">de</span>        
                @Html.TextBoxFor(m => m.DataInicioFaturamento, new{@class = "form-control datepicker", id = "txtFiltroInicioFatur", placeholder = "dd/mm/yyyy"})
                <span class="input-group-addon">até</span>           
                @Html.TextBoxFor(m => m.DataFimFaturamento, new{@class = "form-control datepicker", id = "txtFiltroFimFatur", placeholder = "dd/mm/yyyy"})
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <p class="text-left">
                <b>Cadastro</b>
            </p>
            <div class="input-group">
               
                <span class="input-group-addon">de</span>
                @Html.TextBoxFor(m => m.DataInicioAtivacao, new{@class = "form-control datepicker", id = "txtFiltroInicioCad", placeholder = "dd/mm/yyyy"})
                <span class="input-group-addon">até</span>
                @Html.TextBoxFor(m => m.DataFimAtivacao, new{@class = "form-control datepicker", id = "txtFiltroFimCad", placeholder = "dd/mm/yyyy"})
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <p class="text-left">
                <b>Visitas</b>
            </p>
            <div class="input-group">
                <span class="input-group-addon">de</span>
                @Html.TextBoxFor(m => m.DataInicioVisitas, new{@class = "form-control datepicker", id = "txtFiltroInicioVisita", placeholder = "dd/mm/yyyy"})
                <span class="input-group-addon">até</span>
                @Html.TextBoxFor(m => m.DataFimVisitas, new{@class = "form-control datepicker", id = "txtFiltroFimVisita", placeholder = "dd/mm/yyyy"})
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <p class="text-left">
                <b>Usuário</b>
            </p>
            <div class="hundred">
                @if (ViewBag.adminModel != null && ((AdminModel) ViewBag.adminModel).PerfilId == (int) Administrador.Perfis.LacosCorporativos){
                    @Html.DropDownListFor(m => m.IdUsuario, (SelectList) ViewBag.Colaboradores, "Todos", new{id = "ddlFiltroUsuario", @class = "form-control", disabled= "disabled" })
                }
                else{
                    @Html.DropDownListFor(m => m.IdUsuario, (SelectList)ViewBag.Colaboradores, "Todos", new { id = "ddlFiltroUsuario", @class = "form-control" })
                }

            </div>
        </div>
        @Html.HiddenFor(m=>m.IdMeta,new {id="hdfIdMeta"})
    </div>
    <div class="row">
        <div class="col-md-12 text-right buttons">
            <button id="btnPesquisar" class="btn btn-primary">Filtrar</button>
            <a href="@Url.Action("Index", "Meta")" class="btn btn-default">Voltar</a>
        </div>    
    </div>
</form>
<hr/>

<div class="row">
    <div id="divChartFaturamento" class="col-lg-4 col-md-6">
        @Html.Action("GetFaturamento", "Dashboards", Model)
    </div>
    <div id="divChartAtivacao" class="col-lg-4 col-md-6">
        @Html.Action("GetAtivacao", "Dashboards", Model)
    </div>
    <div id="divChartVisitas" class="col-lg-4">
       @Html.Action("GetVisitas", "Dashboards", Model)
    </div>
    <div id="divFaturamentoEmpresa" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Empresas</h3>
            </div>
            <div class="panel-body">
                @Html.Action("GetEmpresaFaturamento", "Dashboards", Model)
            </div>
        </div>
    </div>

    <div id="divPedidosEmpresa" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Pedidos</h3>
            </div>
            <div class="panel-body">
                @Html.Action("GetEmpresaPedidos", "Dashboards", Model)
            </div>
        </div>
    </div>

    <div id="divFaturamentoProduto" class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Faturamento por Produto</h3>
            </div>
            <div class="panel-body">
                @Html.Action("GetProdutoFaturamento", "Dashboards", Model)
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-4">
        <div id="divQuantidadeProdutos">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Produtos Mais Vendidos</h3>
                </div>
                <div class="panel-body">
                    @Html.Action("GetProdutoQuantidade", "Dashboards", Model)
                </div>

            </div>
        </div>
        
        <div class="row">
            <div id="divTicketMedio" class="col-lg-6 col-md-6 col-sm-6 dashMetrica">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ticket Médio(R$)</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h3 id="lblTicketMedio">@Html.Action("GetTicketMedio", "Dashboards", Model)</h3>
                    </div>
                </div>
            </div>

            <div id="divMargemMedia" class="col -lg-6 col-md-6 col-sm-6 dashMetrica">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Margem Média(%)</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h3 id="lblMargemMedia">@Html.Action("GetMargemMedia", "Dashboards", Model)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="divEmpresasInativas" class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Empresas Inativas</h3>
            </div>
            <div class="panel-body">
                @Html.Action("GetEmpresasInativas", "Dashboards", Model)
            </div>
        </div>
    </div>

   

</div>

<script>
    //-----------------------------------------------------------------------------
    var countLiberaBotao = 0;
    $(function() {

        $('.datepicker').datepicker();

        var dp = $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: '-120M',
            maxDate: '+120M'
        });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }
        $("#btnPesquisar").click(function(e) {
            e.preventDefault();
            pesquisar();
        });
        // pesquisar();
    });
    //-----------------------------------------------------------------------------
    function pesquisar() {
        if (!validarFiltro()) {
            return;
        }
        $("#btnPesquisar").attr("disabled", "disabled");
        pesquisarFaturmento();
        pesquisarAtivacao();
        pesquisarVisitas();
        pesquisarTicketMedio();
        pesquisarMargemMedia();
        pesquisarRankingFaturEmp();
        pesquisarRankingPedidosEmp();
        pesquisarRankingFaturamentoProd();
        pesquisarRankingQuantProd();
        pesquisarEmpresasInativas();

        setTimeout(function() { $("#btnPesquisar").removeAttr("disabled"); }, 20000);
    }
    //-----------------------------------------------------------------------------
    function pesquisarFaturmento() {
        var data = getFiltroData();
        $("#divChartFaturamento .panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetFaturamento","Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divChartFaturamento").html(data);

            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarAtivacao() {
        var data = getFiltroData();
        $("#divChartAtivacao .panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetAtivacao", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divChartAtivacao").html(data);
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarVisitas() {
        var data = getFiltroData();
        $("#divChartVisitas .panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetVisitas", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divChartVisitas").html(data);
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarTicketMedio() {
        var data = getFiltroData();
        $("#divTicketMedio .panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetTicketMedio", "Dashboards")", data).done(function (data, status) {
            console.log(data.valor);
            if (status === "success") {
                $("#lblTicketMedio").html(data);
                $("#divTicketMedio .panel-title").html("Ticket Médio(R$)");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarMargemMedia() {
        var data = getFiltroData();
        $("#divMargemMedia .panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetMargemMedia", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#lblMargemMedia").html(data);
                $("#divMargemMedia .panel-title").html("Margem Média(%)");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarRankingFaturEmp() {
        var data = getFiltroData();
        $("#divFaturamentoEmpresa").find(".panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetEmpresaFaturamento", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divFaturamentoEmpresa .panel-body").html(data);
                $("#divFaturamentoEmpresa .panel-title").html("Top 5 Empresas");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarRankingPedidosEmp() {
        var data = getFiltroData();
        $("#divPedidosEmpresa").find(".panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetEmpresaPedidos", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divPedidosEmpresa .panel-body").html(data);
                $("#divPedidosEmpresa .panel-title").html("Top 5 Pedidos");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarRankingFaturamentoProd() {
        var data = getFiltroData();
        $("#divFaturamentoProduto").find(".panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetProdutoFaturamento", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divFaturamentoProduto .panel-body").html(data);
                $("#divFaturamentoProduto .panel-title").html("Top 5 Faturamento por Produto");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarRankingQuantProd() {
        var data = getFiltroData();
        $("#divQuantidadeProdutos").find(".panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetProdutoQuantidade", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divQuantidadeProdutos .panel-body").html(data);
                $("#divQuantidadeProdutos .panel-title").html("Produtos Mais Vendidos");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function pesquisarEmpresasInativas() {
        var data = getFiltroData();
        $("#divEmpresasInativas").find(".panel-title").append("<i class='fa fa-refresh fa-spin fa-fw'><i>");
        $.get("@Url.Action("GetEmpresasInativas", "Dashboards")", data).done(function (data, status) {
            if (status === "success") {
                $("#divEmpresasInativas .panel-body").html(data);
                $("#divEmpresasInativas .panel-title").html("Empresas Inativas");
            }
            liberarBotao();
        });
    }
    //-----------------------------------------------------------------------------
    function getFiltroData() {
        var res = {};
        var regExpData = /^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/;
        var datIniFat = $("#txtFiltroInicioFatur").val();
        var datFimFat = $("#txtFiltroFimFatur").val();
        var datIniCad = $("#txtFiltroInicioCad").val();
        var datFimCad = $("#txtFiltroFimCad").val();
        var datIniVis = $("#txtFiltroInicioVisita").val();
        var datFimVis = $("#txtFiltroFimVisita").val();
        var idMeta = $("#hdfIdMeta").val();
        if (datIniFat) {
            datIniFat = datIniFat.replace(regExpData, "$2$1$3");
        }

        if (datFimFat) {
            datFimFat = datFimFat.replace(regExpData, "$2$1$3");
        }

        if (datIniCad) {
            datIniCad = datIniCad.replace(regExpData, "$2$1$3");
        }

        if (datFimCad) {
            datFimCad = datFimCad.replace(regExpData, "$2$1$3");
        }

        if (datIniVis) {
            datIniVis = datIniVis.replace(regExpData, "$2$1$3");
        }

        if (datFimVis) {
            datFimVis = datFimVis.replace(regExpData, "$2$1$3");
        }

        res.DataInicioFaturamento = datIniFat;
        res.DataFimFaturamento = datFimFat;

        res.DataInicioAtivacao = datIniCad;
        res.DataFimAtivacao = datFimCad;

        res.DataInicioVisitas = datIniVis;
        res.DataFimVisitas = datFimVis;

        res.IdUsuario = $("#ddlFiltroUsuario").val();
        res.IdMeta = idMeta;
        return res;
    }
    //-----------------------------------------------------------------------------
    function validarFiltro() {
        var data = getFiltroData();
        var msgs = "";
        var toDate = function(text) {
            var a = text.split('/');
            //0-mes 1-dia 2-ano
            return new Date(parseInt(a[2]), parseInt(a[0]), parseInt(a[1]));
        }

        if (data) {
            if (data.DataInicioFaturamento && data.DataFimFaturamento && toDate(data.DataInicioFaturamento) > toDate(data.DataFimFaturamento)) {
                msgs = "A data do fim de Faturamento deve ser maior que a de início.\n";
            }
            if (data.DataInicioAtivacao && data.DataFimAtivacao && toDate(data.DataInicioAtivacao) > toDate(data.DataFimAtivacao)) {
                msgs += "A data do fim de Cadastro deve ser maior que a de início\n";
            }
            if (data.DataInicioVisitas && data.DataFimVisitas && toDate(data.DataInicioVisitas) > toDate(data.DataFimVisitas)) {
                msgs += "A data do fim de Faturamento deve ser maior que a de início\n";
            }
        }
        if (msgs) {
            alert(msgs);
            return false;
        }
        return true;
    }
    //-----------------------------------------------------------------------------
    function liberarBotao() {
        if (countLiberaBotao === 9) {
            $("#btnPesquisar").removeAttr("disabled");
            countLiberaBotao = 0;
            return;
        }
        //console.log(countLiberaBotao);
        countLiberaBotao++;
    }
    //-----------------------------------------------------------------------------
</script>  


