﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard - Fornecedores";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
    //Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;
    decimal dcmMetaNPS = ViewBag.MetaNPS != null ? (decimal)ViewBag.MetaNPS : 0;
    decimal dcmMetaRepasse = ViewBag.MetaRepasse != null ? (decimal)ViewBag.MetaRepasse : 0;
    decimal dcmMetaIndiceCanc = ViewBag.MetaIndiceCanc != null ? (decimal)ViewBag.MetaIndiceCanc : 0;
}

<style type="text/css">
    .FornecedoresONline ul li{
        list-style: none;                              
    }
    .FornecedoresONline ul{
        text-align: center;
        margin: 0px;
        padding: 0px;
        column-count: 3;                
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var _idSistemaSelecionado;
        var _nmSistemaSelecionado;
        var _nomeUsuario = '@Html.Raw(ViewBag.adminModel.Nome)';

        //Recuperar os parametros da URL quando tiver filtro
        var urlParams;
        (window.onpopstate = function () {
            var match,
                pl = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query = window.location.search.substring(1);

            urlParams = {};
            while (match = search.exec(query))
                urlParams[decode(match[1])] = decode(match[2]);
        })();

        if (!urlParams["Sistema"]) {
            _idSistemaSelecionado = urlParams["Sistema"];

            if (urlParams["Sistema"] == '1') {
                $("#dvNPSDash").show();
                $("#dvRepasse").show();
            } else {
                $("#dvNPSDash").hide();
                $("#dvRepasse").hide();
            }
        }

        $("#nomeUsuarioAtual").html($("#Usuario option:selected").text());

        $('.datepicker').datepicker();

        var dp = $('.datepicker').datepicker({ changeMonth: true, changeYear: true });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }

        if($("#ExecutandoConsulta").val() == "false"){
            FillListPedidos();
        }

        setInterval(function () {

            if($("#ExecutandoConsulta").val() == "false"){
                FillListPedidos();
            }
            
        }, 15000);
    });

    LstFornOnOff();

    setInterval(function () {
        LstFornOnOff();
    }, 15000);

    function LstFornOnOff(){
        $.post("/Dashboards/ListaFornecedoresOnlineOffline", function(data) {
            if (data != null) {
                $(".FornecedoresONline").html(data);   
            }               
        });
    };

    function FillListPedidos() {

        $("#ExecutandoConsulta").val("true");
        
        _nmUsuarioSelecionado = $("#Usuario option:selected").text();
        _idUsuarioSelecionado = $("#Usuario option:selected").attr('value');
        $("#nomeUsuarioAtual").html(_nmUsuarioSelecionado);

        _nmSistemaSelecionado = $("#Sistema option:selected").text();
        _idSistemaSelecionado = $("#Sistema option:selected").attr('value');

        if (_nmSistemaSelecionado = "Todos") {
            _nmSistemaSelecionado = "CPV e LAÇOS";
        }
        $("#nomeSistemaAtual").html(_nmSistemaSelecionado);

        var _urlParametros = @Html.Raw(ViewBag.UrlParametros);//exemplo - /Dashboards/ListaPedidos?Usuario=0

        $.ajaxSetup({async:true});

        $.post(_urlParametros, function(data) {
            if (data != null) {
                $(".ListaPedidos").html(data);
                $("#ExecutandoConsulta").val("false");
            }
            else{
                Swal.fire("OPS!", "Ocorreu um erro no carregamento dos dados!", "error");
                $("#ExecutandoConsulta").val("false");
            }
        });

    }

</script>
@{
    decimal NPS = ViewBag.NPS;
    DateTime DataInicial = new DateTime();
    DataInicial = ViewBag.DataInicial;

    DateTime DataFinal = new DateTime();
    DataFinal = ViewBag.DataFinal;

    var _nomelUsuario = ViewBag.adminModel.Nome;
    var _perfilUsuario = ViewBag.adminModel.CurrentAdministrador.Perfil;
}
@{if (AdminModel == null)
    {
        <script type="text/javascript">
            Swal.fire("OPS!", "Não foi possível identificar o seu usuário", "error")
        </script>
    }
    else
    {
        // Linha de filtro
        <form method="get" action="@Url.Action("Index","Dashboards")">
            <div class="row top-buffer">
                <div id="dvDataInicial" class="col-md-2">
                    <b>Data Inicial</b>
                    <input value="@DataInicial.ToString("dd/MM/yyyy")" name="DataInicial" type="text" class="form-control datepicker" id="DataInicial">
                </div>
                <div id="dvDataFinal" class="col-md-2">
                    <b>Data Final</b>
                    <input type="text" name="DataFinal" value="@DataFinal.ToString("dd/MM/yyyy")" class="form-control datepicker" id="DataFinal">
                </div>
                <div id="dvCbUsuario" nome="dvCbUsuario" class="col-md-2">
                    <b>Usuários com Carteira</b>
                    <select name="Usuario" id="Usuario" class="form-control">
                        <option value="0" @{if (!string.IsNullOrEmpty(Request.QueryString["Usuario"]) && int.Parse(Request.QueryString["Usuario"].ToString()) == 0) { <text> selected</text>}}>Todos</option>
                        @{
                            foreach (var Item in ViewBag.LstUsuarios)
                            {
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Usuario"]) && int.Parse(Request.QueryString["Usuario"].ToString()) == (int)Item.ID) { <text> selected</text>}
                                          }
                                        @{if ((int)Item.ID == AdminModel.ID && string.IsNullOrEmpty(Request.QueryString["Usuario"])) { <text> selected</text>
                                      }}
                                        value="@Item.ID">
                                    @Item.Nome
                                </option>
    }
                        }
                    </select>
                </div>
                <div id="dvCbSistema" nome="dvCbSistema" class="col-md-2">
                    <b>Sistema</b>
                    <select id="Sistema" name="Sistema" class="form-control">
                        <option value="0" @{if (!string.IsNullOrEmpty(Request.QueryString["Sistema"]) && int.Parse(Request.QueryString["Sistema"].ToString()) == 0) { <text> selected</text>}}>Todos</option>
                        <option value="1" @{if (!string.IsNullOrEmpty(Request.QueryString["Sistema"]) && int.Parse(Request.QueryString["Sistema"].ToString()) == 1) { <text> selected</text>}}>Coroas - CPV</option>
                        <option value="2" @{if (!string.IsNullOrEmpty(Request.QueryString["Sistema"]) && int.Parse(Request.QueryString["Sistema"].ToString()) == 2) { <text> selected</text>}}>Laços - Corporativos</option>
                        <option value="3" @{if (!string.IsNullOrEmpty(Request.QueryString["Sistema"]) && int.Parse(Request.QueryString["Sistema"].ToString()) == 3) { <text> selected</text>}}>Amar Assist</option>
                    </select>
                </div>
                <div id="dvCbProduto" nome="dvCbProduto" class="col-md-2">
                    <b>Produtos</b>
                    <select id="Produtos" name="Produtos" class="form-control">
                        <option value="0" @{if (!string.IsNullOrEmpty(Request.QueryString["Produtos"]) && int.Parse(Request.QueryString["Produtos"].ToString()) == 0) { <text> selected</text>}}>Todos</option>
                        <option value="1" @{if (!string.IsNullOrEmpty(Request.QueryString["Produtos"]) && int.Parse(Request.QueryString["Produtos"].ToString()) == 1) { <text> selected</text>}}>Coroas</option>                        
                        <option value="8" @{if (!string.IsNullOrEmpty(Request.QueryString["Produtos"]) && int.Parse(Request.QueryString["Produtos"].ToString()) == 8) { <text> selected</text>}}>Kits Bebê</option>                        
                        <option value="100" @{if (!string.IsNullOrEmpty(Request.QueryString["Produtos"]) && int.Parse(Request.QueryString["Produtos"].ToString()) == 100) { <text> selected</text>}}>Personalizado</option>                        
                    </select>
                </div>
                <div id="dvBtnFiltar" class="col-md-2">
                    <br />
                    <button type="submit" class="btn btn-primary dropdown-toggle">
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    }
}
        <div class="row">
            <div id="dvQtdVenda" class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Qtd Itens Pedido <span data-toggle="tooltip" title="" data-original-title="Número Total de Itens Vendidos. Um pedido pode ter mais de um item." class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        @ViewBag.TotalItensPedido
                    </div>
                </div>
            </div>
            <div id="dvIndiceCanc" class="col-sm-4">
                @{
                    string strClassePanelCanc = "panel-default";
                    string strEstiloPanelCanc = string.Empty;
                    if (dcmMetaNPS > 0)
                    {
                        strClassePanelCanc = ViewBag.PercentualPedidosCancelados <= dcmMetaIndiceCanc / 100 ? "panel-success" : "panel-danger";
                        strEstiloPanelCanc = ViewBag.PercentualPedidosCancelados <= dcmMetaIndiceCanc / 100 ? "color: #3c763d;" : "color: #a94442;";
                    }
                }
                <div class="panel @strClassePanelCanc">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Índice Canc. <span data-toggle="tooltip" title="" data-original-title="Número de pedidos cancelados (@ViewBag.QtdPedidosCancelados) / pelo número total de pedidos (@ViewBag.QtdPedidosBruto) " class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                    </div>
                    <div class="panel-body center NrVendas" style="@strEstiloPanelCanc">
                        <a href="#" data-target="#ModalPedidosCancelados" data-toggle="modal">@ViewBag.QtdPedidosCancelados</a> / @ViewBag.PercentualPedidosCancelados.ToString("P2")
                    </div>
                </div>
            </div>
            <div id="dvQtdVenda" style="height" class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">NPS <span data-toggle="tooltip" title="" data-original-title="@ViewBag.QtdPedidosNPS Itens do Pedido considerados" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        @ViewBag.NotaNPS
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="dvFaturamento" class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Faturamento</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@(ViewBag.TotalFaturamento != null ? ((decimal)ViewBag.TotalFaturamento).ToString("C2") : 0.ToString("C2"))</span>
                    </div>
                </div>
            </div>
            <div id="dvValorRepassado" class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Valor Repassado</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@(ViewBag.ValorRepassado != null ? ((decimal)ViewBag.ValorRepassado).ToString("C2") : 0.ToString("C2"))</span>
                    </div>
                </div>
            </div>
            <div id="dvTicketMedio" class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Ticket Médio</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@(ViewBag.TicketMedio != null ? ((decimal)ViewBag.TicketMedio).ToString("C2") : 0.ToString("C2"))</span>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    Fornecedores Online
                </h3>
            </div>
            <div class="panel-body center FornecedoresONline">
                <img src="/Content/images/ajax-loader-fff.gif" />
            </div>
        </div>
    </div>

</div>

@*Pedidos da Carteira*@
<div class="row">
    <div style="text-align: center;" class="cold-md-12">
        @*Div Renderiza Pedidos da Carteira*@
        <div class="ListaPedidos">            
            <img src="/Content/images/ajax-loader-fff.gif" />
        </div>
    </div>
</div>

@*Modal*@
<div id="ModalPedidosCancelados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de Pedidos Cancelados</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dt Pedido</th>
                        </tr>
                    </thead>
                    @{
                        foreach (var Item in (List<Domain.Entities.Pedido>)ViewBag.ListaPedidosCanceladosCPV)
                        {
                        <tr>
                            <th scope="row">
                                <a target="_blank" href="@(Url.Action("Visualizar","PedidosSite") + "/" +Item.ID)">
                                    @Item.Numero
                                </a>
                            </th>
                            <td>
                                @Item.DataCriacao.ToString("dd/MM HH:mm")
                            </td>
                        </tr>
                        }
                        foreach (var Item in (List<Domain.Entities.PedidoEmpresa>)ViewBag.ListaPedidosCanceladosCORP)
                        {
                            <tr>
                                <th scope="row">
                                    <a target="_blank" href="@(Url.Action("Visualizar","PedidosEmpresa") + "/" +Item.ID)">
                                        @Item.ID
                                    </a>
                                </th>
                                <td>
                                    @Item.DataCriacao.ToString("dd/MM HH:mm")
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalPedidosAceiteManual" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de Pedidos Aceite Manual</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dt Pedido</th>
                            <th>Cid. / UF Entrega</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modalCarteira" class="modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (ViewBag.NomesCarteiras != null)
                {
                <h4 class="modal-title"> @ViewBag.NomesCarteiras</h4>
                }
                else
                {
                <h4 class="modal-title"> Carteira</h4>
                }

            </div>
            <div class="modal-body">
                @if (ViewBag.Carteira != null && ((List<Tuple<string, string>>)ViewBag.Carteira).Any())
                {
                <table class="table table-striped">
                    <tr>
                        <th><span class="pull-left">Estado</span></th>
                        <th><span class="pull-left">Cidade</span></th>
                    </tr>
                    @foreach (Tuple<string, string> local in (List<Tuple<string, string>>)ViewBag.Carteira)
                        {
                    <tr>
                        <td>@local.Item1</td>
                        <td>@local.Item2</td>
                    </tr>
                        }
                </table>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //    $("#nomeUsuarioAtual").html($("#Usuario option:selected").text());

        //    $("#Usuario").change(function () {

        //        _nmUsuarioSelecionado = $("#Usuario option:selected").text();
        //        _idUsuarioSelecionado = $("#Usuario option:selected").attr('value');

        //        $("#nomeUsuarioAtual").html(_nmUsuarioSelecionado);

        //    });

        $("#Sistema").change(function () {

            _nmSistemaSelecionado = $("#Sistema option:selected").text();
            _idSistemaSelecionado = $("#Sistema option:selected").attr('value');

            //if (_idSistemaSelecionado != '0') {
            //    $("#dvNPSDash").show();
            //    $("#dvRepasse").show();
            //} else {
            //    $("#dvNPSDash").hide();
            //    $("#dvRepasse").hide();
            //}
            //if (_nmSistemaSelecionado = "Todos") {
            //    _nmSistemaSelecionado = "CPV e LAÇOS";
            //}
            //$("#nomeSistemaAtual").html(_nmSistemaSelecionado);

        });
    });

    $(function () {
        $("#lnkCarteira").click(function () {
            $("#modalCarteira").modal('show');
        });
        $("#chkTodosStatusCancelamento").click(function () {
            var bool = $("#chkTodosStatusCancelamento").val() === "true";
            $("#chkTodosStatusCancelamento").val(!bool);
        });
        @if (ViewBag.TodosStatusCancelamento) {
            <text>
        $("#chkTodosStatusCancelamento").attr('checked', 'checked');
        </text>

        }
    });
</script>

<input type="hidden" id="ExecutandoConsulta" value="false"/>
