﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard - Financeiro";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<br />

@{

    List<Domain.Entities.spRelatorioDashFinanceiroVencidos_Result> ListReturn = new List<Domain.Entities.spRelatorioDashFinanceiroVencidos_Result>();
    ListReturn = (List<Domain.Entities.spRelatorioDashFinanceiroVencidos_Result>)ViewBag.ReportVencidos;

    var ReportFull = (List<Domain.Entities.spRelatorioDashFinanceiro_Result>)ViewBag.ReportFull;
    ReportFull.Reverse();


    var BoletosCPS = @ListReturn.Where(r => r.Tipo == "BoletosPagarMe" || r.Tipo == "BoletosItauCPV").ToList();
    var BoletosCORP = @ListReturn.Where(r => r.Tipo == "BoletosItauCORP").ToList();
    var FaturasCORP = @ListReturn.Where(r => r.Tipo == "FaturasCORP").ToList();
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h1>Dashboard - Financeiro</h1>
        </div>
    </div>
    <hr />    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Boletos Venc. CPV</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@BoletosCPS.Sum(r => r.Count) / @BoletosCPS.Sum(r => r.Valor).Value.ToString("C2")</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Boletos Venc. CORP</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@BoletosCORP.Sum(r => r.Count) / @BoletosCORP.Sum(r => r.Valor).Value.ToString("C2")</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Faturas Venc. CORP</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@FaturasCORP.Sum(r => r.Count) / @FaturasCORP.Sum(r => r.Valor).Value.ToString("C2")</span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Relatório de Prejuízo
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            @foreach (var item in ReportFull.Where(r => r.Tipo == "Prejuizo").ToList())
                            {
                                <tr>
                                    <td>
                                        @item.Valor.Value.ToString("C2")
                                    </td>
                                    <td>
                                        @{
                                            var Month = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(int.Parse(item.Data.Split('/')[0]));
                                        }
                                        @Month - @item.Data.Split('/')[1]
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Relatório de Serasa
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped">
                        <tbody>
                            @foreach (var item in ReportFull.Where(r => r.Tipo == "Serasa").ToList())
                            {
                                <tr>
                                    <td>
                                        @item.Valor.Value.ToString("C2")
                                    </td>
                                    <td>
                                        @{
                                            var Month = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(int.Parse(item.Data.Split('/')[0]));
                                        }
                                        @Month - @item.Data.Split('/')[1]
                                    </td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Serasa</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@ReportFull.Where(r => r.Tipo == "Serasa").ToList().Sum(r => r.Valor).Value.ToString("C2")</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading text-center">
                    <h3 class="panel-title titleNPS">Prejuízo</h3>
                </div>
                <div class="panel-body center NrVendas">
                    <span>@ReportFull.Where(r => r.Tipo == "Prejuizo").ToList().Sum(r => r.Valor).Value.ToString("C2")</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
     
    </div>

    </div>