﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
    //Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;
    decimal dcmMetaNPS = ViewBag.MetaNPS != null ? (decimal)ViewBag.MetaNPS : 0;
    decimal dcmMetaRepasse = ViewBag.MetaRepasse != null ? (decimal)ViewBag.MetaRepasse : 0;
    decimal dcmMetaIndiceCanc = ViewBag.MetaIndiceCanc != null ? (decimal)ViewBag.MetaIndiceCanc : 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('[data-toggle="tooltip"]').tooltip();
        var dp = $('.datepicker').datepicker({ changeMonth: true, changeYear: true });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }
    });
</script>
@{

    DateTime DataInicial = new DateTime();
    DataInicial = ViewBag.DataInicial;

    DateTime DataFinal = new DateTime();
    DataFinal = ViewBag.DataFinal;

}
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h1>Dashboard - Floricultura</h1>
        </div>
    </div>
    <hr />
    <form method="get" action="@Url.Action("Floricultura", "Dashboards")">
        <div class="row top-buffer">
            <div class="col-md-2">
                <b>Data Inicial</b>
                <input value="@DataInicial.ToString("dd/MM/yyyy")" name="DataInicial" type="text" class="form-control datepicker" id="DataInicial">
            </div>
            <div class="col-md-2">
                <b>Data Final</b>
                <input type="text" name="DataFinal" value="@DataFinal.ToString("dd/MM/yyyy")" class="form-control datepicker" id="DataFinal">
            </div>

            <div class="col-md-3">
                <br />
                <button type="submit" class="btn btn-primary dropdown-toggle">
                    Filtrar
                </button>
            </div>


        </div>
    </form>
    <br />
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Faturamento Total</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorFaturado.ToString("C2")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Faturamento Funerarias</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorFaturamentoFuneraria.ToString("C2")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Repasse Funerárias</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorRepasse.ToString("C2")</span> /  @{ @String.Format("{0:P0}", ViewBag.ReapsseMedio); }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Vendas Totais</h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.TotalVendas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @if(ViewBag.RelatorioFunerarias.Count > 0) { 
    <div class="row">
        <div id="ProdutosListaVendaFuneraria" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Vendas Funerárias
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped ">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Valor Total</th>
                                <th>Valor Repasse</th>
                                <th>Qtd Pedidos</th>
                                <th>Qtd Itens</th>
                                <th>Repasse Médio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var Item in ViewBag.RelatorioFunerarias)
                                {
                                    <tr>
                                        <td>
                                            @Item.RazaoSocial
                                        </td>
                                        <td>
                                            @Item.ValorTotal.ToString("C2")
                                        </td>
                                        <td>
                                            @Item.ValorRepasse.ToString("C2")
                                        </td>
                                        <td>
                                            @Item.QTDPedidos
                                        </td>
                                        <td>
                                            @Item.QtdItenPedido
                                        </td>
                                        <td>
                                            @{ @String.Format("{0:P0}", Item.RepasseMedio); }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
    @if (ViewBag.lstPedidoClientesEspeciaisIsabela != "" || ViewBag.lstPedidoClientesEspeciaisESG != "")
    {
        <div class="row">
            <div id="ProdutosListaVendaFuneraria" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                           Clientes Preferenciais
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Valor Total</th>
                                    <th>Qtd Pedidos</th>
                                    <th>Qtd Itens</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    string RetornoIsabela = (string)ViewBag.lstPedidoClientesEspeciaisIsabela;
                                    if (RetornoIsabela != "")
                                    {
                                        <tr>
                                            <td>
                                                @RetornoIsabela.Split(';')[0]
                                            </td>
                                            <td>
                                                @RetornoIsabela.Split(';')[1]
                                            </td>
                                            <td>
                                                @RetornoIsabela.Split(';')[2]
                                            </td>
                                            <td>
                                                @RetornoIsabela.Split(';')[3]
                                            </td>
                                        </tr>
                                    }
                                }

                                @{
                                    string RetornoESG = (string)ViewBag.lstPedidoClientesEspeciaisESG;
                                    if (RetornoESG != "")
                                    {
                                        <tr>
                                            <td>
                                                @RetornoESG.Split(';')[0]
                                            </td>
                                            <td>
                                                @RetornoESG.Split(';')[1]
                                            </td>
                                            <td>
                                                @RetornoESG.Split(';')[2]
                                            </td>
                                            <td>
                                                @RetornoESG.Split(';')[3]
                                            </td>
                                        </tr>
                                    }
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                                                    }
    <div class="row">
        <div id="ProdutosMaisVendidos" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Produtos mais Venvidos
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped ">
                        <tbody>
                            @{
                                foreach (var Item in ViewBag.RelatorioProdutosVendidos)
                                {
                                    <tr>
                                        <th scope="row">
                                            <b class="lead">@Item.Total</b>
                                        </th>
                                        <td class="DescNome">
                                            @Item.Nome
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="MeiosDePagamentos"  class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Meios de Pagamento
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped ">
                        <tbody>
                            @{
                                foreach (var Item in ViewBag.RelatorioMeioPagamentoFloricultura)
                                {
                                    <tr>
                                        <th scope="row">
                                            <b class="lead">@Item.Total</b>
                                        </th>
                                        <td class="DescNome">
                                            @{
                                                if (Item.MeioPagamentoID != null)
                                                {
                                                    @Domain.Helpers.EnumHelper.GetDescription((Domain.Entities.PedidoFloricultura.MeiosPagamento)Item.MeioPagamentoID).ToUpper()
                                                }
                                                else
                                                {
                                                    <text>N/A</text>
                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="MeiosDePagamentos" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Tipos de Vendas
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped ">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <b class="lead">@ViewBag.VendasFuneraria</b>
                                </th>
                                <td class="DescNome">
                                    FUNERÁRIAS
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="#" data-target="#ModalPedidosCPV" data-toggle="modal">
                                        <b class="lead">@ViewBag.VendasCPV</b>
                                    </a>
                                </th>
                                <td class="DescNome">
                                    VENDAS CPV                                    
                                    <div id="ModalPedidosCPV" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">Lista de Pedidos CPV</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-condensed table-striped ">
                                                        <thead>
                                                            <tr>
                                                                <th>NR</th>
                                                                <th>Itens</th>
                                                                <th>Valor Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                foreach (var Item in ViewBag.RelatorioVendasCPVFloricultura)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a target="_blank" href="/PedidosFloricultura/Visualizar/@Item.ID">
                                                                                @Item.Numero
                                                                            </a>
                                                                           
                                                                        </td>
                                                                        <td>
                                                                          
                                                                                @{
                                                                                    List<KeyValuePair<int, string>> LstProdutosPedidoCPV = new List<KeyValuePair<int, string>>();
                                                                                    LstProdutosPedidoCPV = ViewBag.LstProdutosPedidoCPV;

                                                                                    foreach (var i in LstProdutosPedidoCPV.Where(r => r.Key == Item.ID))
                                                                                    {
                                                                                        <text>
                                                                                            <p>
                                                                                                @i.Value
                                                                                            </p>
                                                                                        </text>
                                                                                    }
                                                                                }
                                                                           

                                                                            @*<span data-toggle="tooltip" title="" data-original-title="@ResultProdutos" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>*@
                                                                        </td>
                                                                        <td>
                                                                            @Item.ValorTotal.ToString("C2")
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <b class="lead">@ViewBag.VendasBalcao</b>
                                </th>
                                <td class="DescNome">
                                    BALCAO
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <b class="lead">@ViewBag.VendasPJ</b>
                                </th>
                                <td class="DescNome">
                                    VENDAS PJ
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <b class="lead">@ViewBag.VendasPF</b>
                                </th>
                                <td class="DescNome">
                                    VENDAS PF
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

</script>