﻿@model List<Admin.ViewModel.EmpresasInativasViewModel>

@{
    Layout = "";
}
@if (Model != null && Model.Any()){
    <table class="table">
        <thead>
        <tr>
            <th>
                Grupo de Empresa
            </th>
            <th>
                Data do Último Pedido
            </th>
            <th>
                Faturamento nos últimos 12 meses
            </th>
        </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++) {
                <tr>
                    <td>
                        @Model[i].GrupoEconomico
                    </td>
                    <td>
                        <a href="@(Model[i].IdUltimoPedido > 0 ? Url.Action("Visualizar","PedidosEmpresa") + "/" +  Model[i].IdUltimoPedido : "#")" target="_blank">@Model[i].DataUltimoPedido.ToString("dd/MM/yyyy")</a>
                    </td>
                    <td>
                        @Model[i].Faturamento.ToString("C2")
                    </td>
                </tr>
            }
       
        </tbody>
    </table>
}
else{
    <div>
        <p>Nenhum registro encontrado.</p>
    </div>
}
