﻿@model Admin.ViewModels.AdminModel
@{
    ViewBag.Title = "Seja bem vindo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var meiospagamento = (List<Domain.Entities.RelatorioMeioPagamento_Result>)ViewBag.MeiosPagamento;
    //var produtos = (List<Domain.Entities.RelatorioProdutos_Result>)ViewBag.Produtos;
    //var comoconheceu = (List<Domain.Entities.RelatorioComoConheceu_Result>)ViewBag.ComoConheceu;
    //var cidades = (List<Domain.Entities.RelatorioCidades_Result>)ViewBag.Cidades;
    //var vendas = (List<Domain.Entities.RelatorioVendaSite_Result>)ViewBag.Vendas;
    //var vendacidade = (List<Domain.Entities.RelatorioVendaCidade_Result>)ViewBag.VendaCidade;
    //var vendahorario = (List<Domain.Entities.RelatorioVendaHorario_Result>)ViewBag.VendaHorario;
    //var vendaatendente = (List<Domain.Entities.RelatorioAtendente_Result>)ViewBag.VendaAtendente;
    //var vendaorigem = (List<Domain.Entities.RelatorioVendaOrigem_Result>)ViewBag.VendaOrigem;

}
@section Scripts{
    <script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
    <script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#home').addClass('active');
            $('#i_home').addClass('active');
        });
    </script>

    <style>
        .mws-panel-header {
            cursor: hand;
            cursor: pointer;
        }
    </style>

    @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.AdWords)
    {
        <script type="text/javascript">
            $(function () {
                $(".ConversaoOnlineOff").click(function () {
                    $("#processandoConversaoOnlineOff").show();
                    $.post("/Home/GetHomeVendaOrigem", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {

                        $(".GraphHolder").show();
                        $("#processandoConversaoOnlineOff").hide();
                        $.plot($("#mws-pie-1"),

                    data, {
                        series: {
                            pie: {
                                show: true
                            }
                        },
                        legend: {
                            show: false
                        }
                    });
                    });
                });

                $(".MeiosPagamento").click(function () {
                    $("#processandoMeiosPagamento").show();
                    $.post("/Home/GetHomeMeiosPagamento", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#meiospagamento").html(data);
                        $("#processandoMeiosPagamento").hide();
                    });
                });

                $(".Top20").click(function () {
                    $("#processandoTopProdutos").show();
                    $.post("/Home/GetHomeTopProdutos", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#topprodutos").html(data);
                        $("#processandoTopProdutos").hide();
                    });
                });


                $(".ComoConheceu").click(function () {
                    $("#processandoConheceu").show();
                    $.post("/Home/GetHomeConheceu", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#comoconheceu").html(data);
                        $("#processandoConheceu").hide();
                    });
                });

                $(".Top15Cidades").click(function () {
                    $("#processandoTopCidades").show();
                    $.post("/Home/GetHomeTopCidades", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#topcidades").html(data);
                        $("#processandoTopCidades").hide();
                    });
                });



                $(".VendasPorCidade").click(function () {
                    $("#processandoVendaCidades").show();
                    $.post("/Home/GetHomeVendaCidades", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#vendacidades").html(data);
                        $("#processandoVendaCidades").hide();
                        $(".HeadTable").show();
                    });
                });

                $(".VendasLiquidaSite").click(function () {
                    $("#processandoVendaSite").show();
                    $.post("/Home/GetHomeVendaSite", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#vendasite").html(data);
                        $("#processandoVendaSite").hide();
                        $(".HeadTable4").show();
                    });
                });



                $(".VendasPorHorario").click(function () {
                    $("#processandoVendaHorario").show();
                    $.post("/Home/GetHomeVendaHorario", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#vendahorario").html(data);
                        $("#processandoVendaHorario").hide();
                        $(".HeadTable2").show();
                    });
                });


                $(".TemposPorAtendente").click(function () {
                    $("#processandoTempoAtendente").show();
                    $.post("/Home/GetHomeTempoAtendente", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#Tempoatendente").html(data);
                        $("#processandoTempoAtendente").hide();
                        $(".HeadTable4").show();
                    });
                });

                $(".VendasPorAtendente").click(function () {
                    $("#processandoVendaAtendente").show();
                    $.post("/Home/GetHomeVendaAtendente", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#vendaatendente").html(data);
                        $("#processandoVendaAtendente").hide();
                        $(".HeadTable3").show();
                    });
                });

                $(".VendasPorPeriodo").click(function () {
                    $("#processandoVendasPeriodo").show();
                    $.post("/Home/GetHomeVendasPeriodo", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                        $("#vendasperiodo").html(data);
                        $("#processandoVendasPeriodo").hide();
                    });
                });


                $("#processandoVendasPJ").show();
                $.post("/Home/GetHomeVendasPJ", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                    $("#vendaspj").html(data);
                    $("#processandoVendasPJ").hide();
                });

                $("#processandoVendasPF").show();
                $.post("/Home/GetHomeVendasPF", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                    $("#vendaspf").html(data);
                    $("#processandoVendasPF").hide();
                });

                $("#processandoTotalVendas").show();
                $.post("/Home/GetHomeTotalVendas", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                    $("#totalvendas").html(data);
                    $("#processandoTotalVendas").hide();
                });

                //            $("#processandoTotalVendas").show();
                //            $.post("/Home/GetHomeTotalVendas", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                //                $("#totalvendas").html(data);
                //                $("#processandoTotalVendas").hide();
                //            });
            });
        </script>
    }
}

<div class="container">
    @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.AdWords)
    {
        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2">Período</span>
            </div>
            <div class="mws-panel-body">
                <form class="mws-form">
                    <div class="mws-form-row">
                        <label>Selecione um novo período</label>
                        <div class="mws-form-item small">
                            De @Html.TextBox("datainicio", Request.QueryString["datainicio"], new { @class = "mws-textinput mws-datepicker ldata", maxlength = "100" }) até @Html.TextBox("datafim", Request.QueryString["datafim"], new { @class = "mws-textinput mws-datepicker ldata", maxlength = "100" }) <input type="submit" class="mws-button gray" value="Enviar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mws-report-container clearfix">
            <div class="mws-report" style="cursor:default;">
                <span class="mws-report-icon mws-ic ic-building"></span>
                <span class="mws-report-content">
                    <span class="mws-report-title">Vendas PJ</span>
                    <span id="processandoVendasPJ" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
                    <span class="mws-report-value" style="padding-left:20px;" id="vendaspj"></span>
                </span>
            </div>

            <div class="mws-report" style="cursor:default;">
                <span class="mws-report-icon mws-ic ic-walk"></span>
                <span class="mws-report-content">
                    <span class="mws-report-title">Vendas PF</span>
                    <span id="processandoVendasPF" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
                    <span class="mws-report-value" style="padding-left:20px;" id="vendaspf"></span>
                </span>
            </div>
        </div>

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 ProcessaVendas">Vendas</span>
            </div>
            <span id="processandoTotalVendas" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="totalvendas"></ul>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 Top20">TOP 20 Produtos + vendidos</span>
            </div>
            <span id="processandoTopProdutos" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="topprodutos"></ul>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 MeiosPagamento">Meios de Pagamento mais usados</span>
            </div>
            <span id="processandoMeiosPagamento" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="meiospagamento"></ul>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 ComoConheceu">Como conheceu</span>
            </div>
            <span id="processandoConheceu" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="comoconheceu"></ul>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-graph ConversaoOnlineOff">Conversão Online x Offline</span>
            </div>
            <span id="processandoConversaoOnlineOff" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <div style="display: none;" class="mws-panel-content GraphHolder">
                    <div id="mws-pie-1" style="width:100%; height:300px; "></div>
                </div>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 VendasPorPeriodo">Vendas por período</span>
            </div>
            <span id="processandoVendasPeriodo" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="vendasperiodo"></ul>
            </div>
        </div>

        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 Top15Cidades">TOP 15 Cidades</span>
            </div>
            <span id="processandoTopCidades" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            <div class="mws-panel-body">
                <ul class="mws-summary" id="topcidades"></ul>
            </div>
        </div>

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 VendasLiquidaSite">Vendas por Site (líquidas)</span>
            </div>
            <div class="mws-panel-body">
                <table style="display: none;" class="mws-table HeadTable4">
                    <thead>
                        <tr>
                            <th>Origem</th>
                            <th>Qtde Total</th>
                            <th>Valor Total</th>
                            <th>Qtde Online</th>
                            <th>Valor Online</th>
                            <th>Qtde Offline</th>
                            <th>Valor Offline</th>
                        </tr>
                    </thead>
                    <tbody id="vendasite"></tbody>
                </table>
                <span id="processandoVendaSite" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            </div>
        </div>

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 VendasPorCidade">Vendas por Cidades (Líquidas)</span>
            </div>
            <div class="mws-panel-body">
                <table style="display: none;" class="mws-table HeadTable">
                    <thead>
                        <tr>
                            <th>Bloco</th>
                            <th>Cidades</th>
                            <th>Qtde Total</th>
                            <th>Valor Total</th>
                            <th>Qtde Online</th>
                            <th>Valor Online</th>
                            <th>Qtde Offline</th>
                            <th>Valor Offline</th>
                            <th>Ticket Médio</th>
                            <th>Repasse Total</th>
                            <th>Repasse Médio</th>
                            <th>Qtde Canceladas</th>
                            <th>Valor Total Canceladas</th>
                        </tr>
                    </thead>
                    <tbody id="vendacidades"></tbody>
                </table>
                <span id="processandoVendaCidades" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            </div>
        </div>





        <div class="mws-panel grid_8">
            <div class="mws-panel-header VendasPorHorario">
                <span class="mws-i-24 i-books-2">Vendas por Horário (Líquidas)</span>
            </div>
            <div class="mws-panel-body">
                <ul class="mws-summary">
                    <table style="display: none;" class="mws-table HeadTable2">
                        <thead>
                            <tr>
                                <th>Período</th>
                                <th>Início</th>
                                <th>Fim</th>
                                <th>Qtde Vendas</th>
                                <th>Valor Vendas</th>
                                <th>Ticket Médio</th>
                                <th>Qtde PJ</th>
                                <th>Valor PJ</th>
                                <th>Qtde PF</th>
                                <th>Valor PF</th>
                            </tr>
                        </thead>
                        <tbody id="vendahorario"></tbody>
                    </table>
                    <span id="processandoHorario" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            </div>
        </div>

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 VendasPorAtendente">Vendas por Atendente</span>
            </div>
            <div class="mws-panel-body">
                <table style="display: none;" class="mws-table HeadTable3">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Qtde Processou</th>
                            <th>Total Processou</th>
                            <th>Total Online Processou</th>
                            <th>Total Offline Processou</th>
                            <th>Ticket Médio Online</th>
                            <th>Ticket Médio Offline</th>
                            <th>Qtde Cancelada</th>
                            <th>Total Cancelada</th>
                        </tr>
                    </thead>
                    <tbody id="vendaatendente"></tbody>
                </table>
                <span id="processandoVendaAtendente" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            </div>
        </div>
        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 TemposPorAtendente">Tempo por Atendente</span>
            </div>
            <div class="mws-panel-body">
                <table style="display: none;" class="mws-table HeadTable4">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Total Pedidos</th>
                            <th>Tempo Médio (Min)</th>
                            <th>Tempo Total (hh:mm:ss)</th>
                        </tr>
                    </thead>
                    <tbody id="Tempoatendente"></tbody>
                </table>
                <span id="processandoTempoAtendente" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
            </div>
        </div>
    }
    else
    {
        <h2>Seja bem-vindo!</h2>
    }
</div>