﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Dashboard";

    Admin.ViewModels.AdminModel AdminModel = ViewBag.adminModel;
    //Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;
    decimal dcmMetaNPS = ViewBag.MetaNPS != null ? (decimal)ViewBag.MetaNPS : 0;
    decimal dcmMetaRepasse = ViewBag.MetaRepasse != null ? (decimal)ViewBag.MetaRepasse : 0;
    decimal dcmMetaIndiceCanc = ViewBag.MetaIndiceCanc != null ? (decimal)ViewBag.MetaIndiceCanc : 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('[data-toggle="tooltip"]').tooltip();
        var dp = $('.datepicker').datepicker({ changeMonth: true, changeYear: true });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }
    });
</script>
@{

    DateTime DataInicial = new DateTime();
    DataInicial = ViewBag.DataInicial;

    DateTime DataFinal = new DateTime();
    DataFinal = ViewBag.DataFinal;

}
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h1>Dashboard - Lote Floricultura</h1>
        </div>
    </div>
    <hr />
    <form method="get" action="@Url.Action("LoteFloricultura", "Dashboards")">
        <div class="row top-buffer">
            <div class="col-md-2">
                <b>Data Inicial</b>
                <input value="@DataInicial.ToString("dd/MM/yyyy")" name="DataInicial" type="text" class="form-control datepicker" id="DataInicial">
            </div>
            <div class="col-md-2">
                <b>Data Final</b>
                <input type="text" name="DataFinal" value="@DataFinal.ToString("dd/MM/yyyy")" class="form-control datepicker" id="DataFinal">
            </div>

            <div class="col-md-3">
                <br />
                <button type="submit" class="btn btn-primary dropdown-toggle">
                    Filtrar
                </button>
            </div>


        </div>
    </form>
    <br />
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">Lotes <span data-toggle="tooltip" title="Sem Fatura: @ViewBag.QtdLotesSemFatura / Faturado: @ViewBag.QtdLotesFaturados" data-original-title="" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.QtdLotes / @ViewBag.ValorTotal.ToString("C2")</span>
                        @*<br />
                        <span>Sem Fat.: @ViewBag.QtdLotesSemFatura</span> / <span>Fat.: @ViewBag.QtdLotesFaturados</span>*@
                    </div>
                </div>
            </div>            
            
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">
                            Valor Faturado <span data-toggle="tooltip" title="Valor a Faturar: @ViewBag.ValorAFaturar" data-original-title="" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorTotalDasFaturas.ToString("C2")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">
                            Valor Fat. Pago
                        </h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorTotalDasFaturasPagas.ToString("C2")</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title titleNPS">
                            Valor Fat. Aberto
                        </h3>
                    </div>
                    <div class="panel-body center NrVendas">
                        <span>@ViewBag.ValorTotalDasFaturasAbertas.ToString("C2")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*@if(ViewBag.RelatorioFunerarias.Count > 0) {
        <div class="row">
            <div id="ProdutosListaVendaFuneraria" class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            Vendas Funerárias
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Valor Total</th>
                                    <th>Valor Repasse</th>
                                    <th>Qtd Pedidos</th>
                                    <th>Qtd Itens</th>
                                    <th>Repasse Médio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var Item in ViewBag.RelatorioFunerarias)
                                    {
                                        <tr>
                                            <td>
                                                @Item.RazaoSocial
                                            </td>
                                            <td>
                                                @Item.ValorTotal.ToString("C2")
                                            </td>
                                            <td>
                                                @Item.ValorRepasse.ToString("C2")
                                            </td>
                                            <td>
                                                @Item.QTDPedidos
                                            </td>
                                            <td>
                                                @Item.QtdItenPedido
                                            </td>
                                            <td>
                                                @{ @String.Format("{0:P0}", Item.RepasseMedio); }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        }*@
</div>


<script>

</script>