﻿@{
    Admin.ViewModels.QtdVendasPeriodo QtdVendasPeriodo = ViewBag.QtdVendasPeriodo;   
}

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Vendas PF</h3>
            </div>
            <div class="panel-body center NrVendas">
               <span class="glyphicon glyphicon-user"></span> @QtdVendasPeriodo.VendasPj
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Vendas PJ</h3>
            </div>
            <div class="panel-body center NrVendas">
               <span class="glyphicon glyphicon-briefcase"></span> @QtdVendasPeriodo.VendasPF
            </div>
        </div>
    </div>
   
