﻿@using Domain.Entities
@model List<Domain.Entities.IPedido>
    @{
        Layout = null;
        //Layout = "~/Views/Shared/_LayoutNew.cshtml";
        ViewBag.Title = "Dashboard";
    }
    @*<!-- Jquery Plugins -->
    <link rel="stylesheet" href="http://admin.coroasparavelorio.com.br//content/jui-dashboard/jquery-ui.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://admin.coroasparavelorio.com.br//content/jui-dashboard/jquery-ui.js"></script>
    <script src="http://admin.coroasparavelorio.com.br//content/jui-dashboard/jquery.mask.js"></script>

    <script type="text/javascript" src="http://admin.coroasparavelorio.com.br//content/jui-dashboard/datepicker-pt-BR.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="http://admin.coroasparavelorio.com.br//content/bootstrap/css/bootstrap.css" media="screen" />
    <script type="text/javascript" src="http://admin.coroasparavelorio.com.br//content/bootstrap/js/bootstrap.js"></script>*@


    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip({ html: true });

            $(".VerUltimaLocalizacao").click(function () {
                var _LatLong = $(this).attr("rel");
                window.open("https://www.google.com/maps/search/?api=1&query=" + _LatLong.split('|')[0] + "," + _LatLong.split('|')[1], '_blank');
            });

            $(".SaiuParaEntrega").click(function () 
            {
                var btnEntregar = $(this);
                var _idPedidoEntregar = $(this).attr("rel");
                var _origemPedidoEntregar = $(this).attr("data-origem");

                Swal.fire({
                    title: 'Informar Entrega em Andamento?',
                    html: "Você está fazendo o trabalho do Fornecedor. <br />Deseja continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim',
                    cancelButtonText: "Não"
                }).then(function (result) {
                    if (result.value) {
                        $.ajax({
                            method: "POST",
                            data: { IdPedido: _idPedidoEntregar, origem: _origemPedidoEntregar },
                            url: "/Dashboards/SaiuParaEntrega"
                        }).done(function (data) {
                            if (data == "OK") {
                                Swal.fire({
                                    title: 'Entrega em Andamento!',
                                    text: 'Pedido movido para o Status de Entrega em Andamento!',
                                    type: 'success'
                                });
                            }
                            else {
                                Swal.fire("OPS!", "Não é possível alterar o processamento de um pedido em Produção", "error");
                            }
                        });
                    }
                    else {
                        swal.close();
                    }
                });

            });
        });
    </script>

    <style type="text/css">
        th {
            text-align: center !important;
        }

        .glyphicon-ok-circle {
            font-size: 20px;
            color: #5cb85c;
        }

        .glyphicon-remove-circle {
            font-size: 20px;
            color: red;
        }

        h4 {
            text-align: left;
        }

        td a {
            font-size: 0.8em;
            position: relative;
            top: 3px;
        }
    </style>

    <div class="row">
        <div id="dvPendenteFornecedor" class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Pendente de Fornecedor
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped ">
                            <tbody>
                                @{
                                    foreach (var Item in ViewBag.LstPedidosPendenteFornecedor)
                                    {
                                        string cidadeEstado = "N/A";
                                        if (Item.Cidade != null)
                                        {
                                            cidadeEstado = Item.Cidade.NomeCompleto;
                                        }


                                        #region CSS
                                        //-----------------------------------------------------------------------------
                                        string Color = "#1BF900";

                                        var TotalMinutes = (Item.DataSolicitada - DateTime.Now).TotalMinutes;
                                        var TotalHours = TotalMinutes / 60;

                                        if (TotalHours < 1.5)
                                        {
                                            Color = "#F10606";
                                        }

                                        if (TotalHours >= 1.5 && TotalHours < 2)
                                        {
                                            Color = "#FFE001";
                                        }

                                        string strClassTipo = string.Empty;
                                        string strUrl = string.Empty;

                                        if (Item.TipoPedido == OrigemPedido.Cliente)
                                        {
                                            strClassTipo = "user";
                                            strUrl = Url.Action("Visualizar", "PedidosSite") + "/" + Item.ID;
                                        }else {
                                            strClassTipo = "home";
                                            strUrl = Url.Action("Visualizar", "PedidosEmpresa") + "/" + Item.ID;
                                        }
                                        //-----------------------------------------------------------------------------
                                        #endregion
                                        <tr>
                                            <td scope="row">
                                                <span style="margin-top: 5px; color: @Color" data-toggle="tooltip" data-original-title="@Item.AdministradorNome <br /><br />@Item.NomeFantasia <br />@Item.NomeDoProduto <br /><br />@cidadeEstado" class="tipo-pedido glyphicon glyphicon-@(strClassTipo)"></span>
                                            </td>
                                            <td style="width: 100px;">
                                                @{
                                                    <a target="_blank" href="@strUrl">
                                                        @Item.Numero
                                                    </a>
                                                }
                                            </td>
                                            <td style="padding-top: 8px;">
                                                @if (Item.DataSolicitada.TimeOfDay.ToString().Equals("00:00:00") && Item.Observacoes.Contains("Horário de Entrega:") && Item.ProdutoKitBB == false)
                                                {
                                                    @Item.DataSolicitada.ToString("dd/MM/yy")
                                                    <br />
                                                    if (@Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Length > 13)
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Substring(0, 14).Replace("às", " " + "às" + " "))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Replace("às", " " + "às" + " "))
                                                    }
                                                }
                                                else
                                                {
                                                    if (Item.ProdutoKitBB == true)
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM")<br />@Item.DataCriacao.ToString("dd/MM")
                                                    }
                                                    else
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM/yy")<text> - </text>@Item.DataSolicitada.ToString("HH:mm")
                                                    }

                                                }
                                            </td>
                                            <td>
                                                @{
                                                    TimeSpan span = DateTime.Now.Subtract(Item.DataCriacao);

                                                    if (Item.FornecedorAutomatico != null)
                                                    {
                                                        var NomeFornecedor = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Item.FornecedorAutomatico.Nome.ToLower());

                                                        var CorEntrega = "#2196f3";
                                                        var Mensagem = "Pendente de aceite pelo fornecedor " + NomeFornecedor + " a " + span.Minutes + " min.";

                                                        if (Item.FornecedorRecusouEntrega)
                                                        {
                                                            CorEntrega = "#F10606";
                                                            Mensagem = "O fornecedor: " + NomeFornecedor + " recusou a entrega.";
                                                        }

                                                        <span style="color: @CorEntrega; font-size: 1em; position: relative; top: 5px;" data-toggle="tooltip" title="" data-original-title="@Mensagem" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

           <div id="dvEmProducao" class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Em Produção
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped ">
                            <tbody>
                                @{
                                    foreach (var Item in ViewBag.LstPedidosEmProducao)
                                    {
                                        string cidadeEstado = "N/A";
                                        if(Item.Cidade != null)
                                        {
                                            cidadeEstado = Item.Cidade.NomeCompleto;
                                        }

                                        #region CSS
                                        //-----------------------------------------------------------------------------
                                        string Color = "#1BF900";

                                        var TotalMinutes = (Item.DataSolicitada - DateTime.Now).TotalMinutes;
                                        var TotalHours = TotalMinutes / 60;

                                        if (TotalMinutes < 30)
                                        {
                                            Color = "#F10606"; ///VERMELHO
                                        }

                                        if (TotalMinutes > 30 && TotalHours < 1)
                                        {
                                            Color = "#FFE001"; ///AMARELO
                                        }

                                        string strClassTipo = string.Empty;
                                        string strUrl = string.Empty;
                                        if (Item.TipoPedido == OrigemPedido.Cliente)
                                        {
                                            strClassTipo = "user";
                                            strUrl = Url.Action("Visualizar", "PedidosSite") + "/" + Item.ID;
                                        }
                                        else
                                        {
                                            strClassTipo = "home";
                                            strUrl = Url.Action("Visualizar", "PedidosEmpresa") + "/" + Item.ID;
                                        }
                                        //-----------------------------------------------------------------------------
                                        #endregion

                                        <tr>
                                            <th scope="row">
                                                <span style="margin-top: 13px; color: @Color" data-toggle="tooltip" data-original-title="@Item.AdministradorNome <br /><br />@Item.NomeFantasia <br />@Item.NomeDoProduto <br /><br />@cidadeEstado" class="tipo-pedido glyphicon glyphicon-@(strClassTipo)"></span>                                                
                                            </th>
                                            <td style="width: 150px;">
                                                <a target="_blank" href="@strUrl">
                                                    @Item.Numero
                                                </a>
                                                <br />
                                                @{
                                                    if (Item.FornecedorID == null)
                                                    {<strong><span>Fornecedor: INDISPONÍVEL</span></strong>}
                                                    else
                                                    {
                                                        if (Item.Fornecedor.Nome == "ESG Comercio Eletrônico")
                                                        {
                                                            <span>@Item.Fornecedor.Nome.Replace("ESG Comercio Eletrônico", "ESG")</span>
                                                        }
                                                        else
                                                        {
                                                            string NomeFloricultura = Item.Fornecedor.Nome.ToString();
                                                            NomeFloricultura = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(NomeFloricultura.ToLower());
                                                            NomeFloricultura = NomeFloricultura.Replace("Floricultura", "Fl. ");

                                                            if (NomeFloricultura.Length > 20)
                                                            {
                                                                <span>@NomeFloricultura.Substring(0, 17)...</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@NomeFloricultura</span>
                                                            }
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td style="width: 150px;">
                                                @if (Item.DataSolicitada.TimeOfDay.ToString().Equals("00:00:00") && Item.Observacoes.Contains("Horário de Entrega:") && Item.ProdutoKitBB == false)
                                                {
                                                    @Item.DataSolicitada.ToString("dd/MM/yy")
                                                    <br />
                                                    if (@Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Length > 13)
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Substring(0, 14).Replace("às", " " + "às" + " "))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Replace("às", " " + "às" + " "))
                                                    }
                                                }
                                                else
                                                {
                                                    if (Item.ProdutoKitBB == true)
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM")<br />@Item.DataCriacao.ToString("dd/MM")
                                                    }
                                                    else
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM/yy")<text> - </text>@Item.DataSolicitada.ToString("HH:mm")
                                                    }

                                                }
                                            </td>
                                            <td style="width: 85px;">


                                                @{
                                                    if (Item.LatitudeEntregaReturn != null)
                                                    {
                                                        <span rel="@Item.LatitudeEntregaReturn|@Item.LongitudeEntregaReturn" data-origem="@Item.TipoPedido" style="font-size: 1em; cursor: pointer; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="Ver ultima localização @Item.DtUpdateLocEntregaReturn" class="glyphicon glyphicon-map-marker VerUltimaLocalizacao" aria-hidden="true"></span>
                                                    }
                                                }

                                                

                                                <span rel="@Item.ID" data-origem="@Item.TipoPedido" style="font-size: 1em; cursor: pointer; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="Entregar" class="glyphicon glyphicon-send SaiuParaEntrega" aria-hidden="true"></span>

                                                @{
                                                    string ColorCamera = "";
                                                    string Texto = "";

                                                    if (Item.FotosDeEntregaValidadas)
                                                    {
                                                        ColorCamera = "#1BF900";
                                                        Texto = "Fotos de Entrega Validadas";
                                                    }
                                                    if (Item.PossuiFotoDeEntregaParaValidar)
                                                    {
                                                        ColorCamera = "#FFE001";
                                                        Texto = "Possui Foto de Entrega para Validar";
                                                    }

                                                    if (ColorCamera != "" && Texto != "")
                                                    {
                                                        <text><span style="font-size: 1em; color: @ColorCamera; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="@Texto" class="glyphicon glyphicon-camera" aria-hidden="true"></span></text>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="dvEntregaEmAndamento" class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Entrega em Andamento
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped">
                            <tbody>
                                @{
                                    foreach (var Item in ViewBag.EntregaEmAndamento)
                                    {
                                        string cidadeEstado = "N/A";
                                        if (Item.Cidade != null)
                                        {
                                            cidadeEstado = Item.Cidade.NomeCompleto;
                                        }

                                        #region CSS
                                        //-----------------------------------------------------------------------------
                                        string Color = "";
                                        string MensagemAtraso = "";

                                        var TotalMinutes = (Item.DataSolicitada - DateTime.Now).TotalMinutes;

                                        TimeSpan span = TimeSpan.FromMinutes(TotalMinutes);

                                        var TotalHours = TotalMinutes / 60;

                                        if (TotalMinutes >= 30)
                                        {
                                            Color = "#1BF900"; //VERDE
                                            MensagemAtraso = "Dentro do Horário";
                                        }

                                        if (TotalMinutes > 0 && TotalMinutes < 30)
                                        {
                                            Color = "#FFE001"; //AMARELO
                                            MensagemAtraso = "Atraso de " + span.ToString(@"hh\:mm") + " m";
                                        }

                                        if (TotalMinutes < 0)
                                        {
                                            Color = "#F10606"; //VERMELHO
                                            MensagemAtraso = "Atraso de " + span.ToString(@"hh\:mm") + " h";
                                        }


                                        string strClassTipo = string.Empty;
                                        string strUrl = string.Empty;
                                        if (Item.TipoPedido == OrigemPedido.Cliente)
                                        {
                                            strClassTipo = "user";
                                            strUrl = Url.Action("Visualizar", "PedidosSite") + "/" + Item.ID;
                                        }
                                        else
                                        {
                                            strClassTipo = "home";
                                            strUrl = Url.Action("Visualizar", "PedidosEmpresa") + "/" + Item.ID;
                                        }
                                        //-----------------------------------------------------------------------------
                                        #endregion

                                        <tr>
                                            <th scope="row">
                                                <span style="margin-top: 11px; color: @Color" data-toggle="tooltip" data-original-title="@Item.AdministradorNome <br /><br />@Item.NomeFantasia <br />@Item.NomeDoProduto <br /><br />@cidadeEstado" class="tipo-pedido glyphicon glyphicon-@(strClassTipo)"></span>
                                            </th>
                                            <td style="width: 150px;">
                                                @{
                                                    <a target="_blank" href="@strUrl">
                                                        @Item.Numero
                                                    </a>
                                                    <br />
                                                    if (Item.FornecedorID == null)
                                                    {
                                                        <span>Fornecedor: INDISPONÍVEL</span>
                                                    }
                                                    else
                                                    {
                                                        if (Item.Fornecedor.Nome == "ESG Comercio Eletrônico")
                                                        {
                                                            <span>@Item.Fornecedor.Nome.Replace("ESG Comercio Eletrônico", "ESG")</span>
                                                        }
                                                        else
                                                        {
                                                            string NomeFloricultura = Item.Fornecedor.Nome.ToString();
                                                            NomeFloricultura = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(NomeFloricultura.ToLower());
                                                            NomeFloricultura = NomeFloricultura.Replace("Floricultura", "Fl. ");

                                                            if (NomeFloricultura.Length > 20)
                                                            {
                                                                <span>@NomeFloricultura.Substring(0, 17)...</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@NomeFloricultura</span>
                                                            }

                                                        }
                                                    }
                                                }
                                            </td>
                                            <td id="tdDataSolicitada" style="padding-top: 15px;">
                                                @if (Item.DataSolicitada.TimeOfDay.ToString().Equals("00:00:00") && Item.Observacoes.Contains("Horário de Entrega:") && Item.ProdutoKitBB == false)
                                                {
                                                    @Item.DataSolicitada.ToString("dd/MM/yy")
                                                    <br />
                                                    if (@Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Length > 13)
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Substring(0, 14).Replace("às", " " + "às" + " "))
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(Item.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "às").Trim().Replace("às", " " + "às" + " "))
                                                    }
                                                }
                                                else
                                                {
                                                    if (Item.ProdutoKitBB == true)
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM")<br />@Item.DataCriacao.ToString("dd/MM")
                                                    }
                                                    else
                                                    {
                                                        @Item.DataSolicitada.ToString("dd/MM/yy")<text> - </text>@Item.DataSolicitada.ToString("HH:mm")
                                                    }

                                                }
                                            </td>

                                            <td id="tdStatusAtraso">
                                                @if (MensagemAtraso != "Dentro do Horário")
                                                {
                                                    <span style="font-size: 1em; position: relative; color: @Color; top: 11px;" data-toggle="tooltip" title="" data-original-title="@MensagemAtraso" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                }
                                            
                                                @{
                                                    if (Item.DataEntrega != null)
                                                    {
                                                        <text><span style="color: #F10606; font-size: 1em; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="Horário de Entrega do Pedido foi Preenchido" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></text>
                                                    }
                                                }
                                            </td>

                                            <td style="width: 80px;">
                                                @{
                                                    string ColorCamera = "";
                                                    string Texto = "";

                                                    if (Item.FotosDeEntregaValidadas)
                                                    {
                                                        ColorCamera = "#1BF900";
                                                        Texto = "Fotos de Entrega Validadas";
                                                    }
                                                    if (Item.PossuiFotoDeEntregaParaValidar)
                                                    {
                                                        ColorCamera = "#FFE001";
                                                        Texto = "Possui Foto de Entrega para Validar";
                                                    }

                                                    if (ColorCamera != "" && Texto != "")
                                                    {
                                                        <text><span style="font-size: 1em; color: @ColorCamera; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="@Texto" class="glyphicon glyphicon-camera" aria-hidden="true"></span></text>
                                                    }
                                                    
                                                    if (Item.LatitudeEntregaReturn != null)
                                                    {
                                                        <text><span rel="@Item.LatitudeEntregaReturn|@Item.LongitudeEntregaReturn" data-origem="@Item.TipoPedido" style="font-size: 1em; cursor: pointer; position: relative; top: 11px; margin-left: 5px;" data-toggle="tooltip" title="" data-original-title="Ver ultima localização @Item.DtUpdateLocEntregaReturn" class="glyphicon glyphicon-map-marker VerUltimaLocalizacao" aria-hidden="true"></span></text>
                                                    }
                                                
                                                   
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
