.mws-button, 
.ui-button
{
    text-transform:uppercase;
	border:0;
	outline:none;
	padding:6px 9px;
	cursor:pointer;
	font:11px/1.5 Verdana, Helvetica, 'Helvetica Neue', sans-serif;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
	-khtml-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);	
}

.mws-button:active, 
.ui-button.ui-state-active
{	
	/* CSS 3 */
	
	-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
	-o-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
	-khtml-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
	box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
}

.mws-button.small
{
	padding:3px 6px;
}

.mws-button.large
{
	padding:10px 21px;
}

.mws-button.left
{
	float:left;
}

.mws-button.large.mws-i-24
{
	padding-left:40px;
	background-position:8px center;
}

.mws-button.mws-i-16
{
	padding-left:32px;
	background-position:8px center;
}

.mws-button.green, 
.ui-button
{
	background-color:#96c742;
	color:#ffffff;
	border:1px solid #507E0C;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #addf58), color-stop(100%, #96c742));
	background-image: -webkit-linear-gradient(#addf58,#96c742);
	background-image: -moz-linear-gradient(#addf58,#96c742);
	background-image: -o-linear-gradient(#addf58,#96c742);
	background-image: linear-gradient(#addf58,#96c742);
}

.ui-button
{
	color:#ffffff !important;
}

.mws-button.blue
{
	background-color:#4386bc;
	color:#ffffff;
	border:1px solid #416b8b;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d9ed2), color-stop(100%, #4386bc));
	background-image: -webkit-linear-gradient(#5d9ed2,#4386bc);
	background-image: -moz-linear-gradient(#5d9ed2,#4386bc);
	background-image: -o-linear-gradient(#5d9ed2,#4386bc);
	background-image: linear-gradient(#5d9ed2,#4386bc);
}

.mws-button.red
{
	background-color:#bc4343;
	color:#ffffff;
	border:1px solid #762929;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ca4e4e), color-stop(100%, #bc4343));
	background-image: -webkit-linear-gradient(#ca4e4e,#bc4343);
	background-image: -moz-linear-gradient(#ca4e4e,#bc4343);
	background-image: -o-linear-gradient(#ca4e4e,#bc4343);
	background-image: linear-gradient(#ca4e4e,#bc4343);
}

.mws-button.orange
{
	background-color:#de7616;
	color:#ffffff;
	border:1px solid #9f570a;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7852b), color-stop(100%, #de7616));
	background-image: -webkit-linear-gradient(#e7852b,#de7616);
	background-image: -moz-linear-gradient(#e7852b,#de7616);
	background-image: -o-linear-gradient(#e7852b,#de7616);
	background-image: linear-gradient(#e7852b,#de7616);
}

.mws-button.black
{
	background-color:#464646;
	color:#ffffff;
	border:1px solid #000000;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5858), color-stop(100%, #464646));
	background-image: -webkit-linear-gradient(#5a5858,#464646);
	background-image: -moz-linear-gradient(#5a5858,#464646);
	background-image: -o-linear-gradient(#5a5858,#464646);
	background-image: linear-gradient(#5a5858,#464646);
}

.mws-button.gray
{
	background-color:#e0e0e0;
	color:#666666;
	text-shadow:none;
	border:1px solid #ababab;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e5e5), color-stop(100%, #e0e0e0));
	background-image: -webkit-linear-gradient(#e8e5e5,#e0e0e0);
	background-image: -moz-linear-gradient(#e8e5e5,#e0e0e0);
	background-image: -o-linear-gradient(#e8e5e5,#e0e0e0);
	background-image: linear-gradient(#e8e5e5,#e0e0e0);
}

.mws-button:disabled, 
.ui-button.ui-state-disabled
{
	background-color:#e0e0e0;
	color:#aaaaaa;
	cursor:auto;
	text-shadow:none;
	border:1px solid #a0a0a0;
	
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important;
}
