/* Panel Header */

.mws-panel
{
	margin-bottom:32px;
}

.mws-panel .mws-panel-header
{
	background:url(../images/core/mws-panel-header-bg.png) repeat-x;
	height:25px;
	position:relative;
	padding:12px;
	font-size:14px;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.mws-panel .mws-panel-header span
{
	line-height:24px;
	display:block;
}

.mws-panel .mws-panel-header span.mws-ic
{
	padding-left:40px;
	background-position:4px center;
}

.mws-panel .mws-panel-header span.mws-i-16
{
	padding-left:32px;
	background-position:8px center;
}

.mws-panel .mws-panel-header span.mws-i-24
{
	padding-left:40px;
	background-position:8px center;
}

.mws-panel .mws-panel-header .mws-collapse-button
{
	width:22px; height:22px;
	display:block;
	padding:0;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-11px;
}

.mws-panel .mws-panel-header .mws-collapse-button span
{
	display:block;
	padding:0;
	margin:3px;
	width:16px; height:16px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:center center;
	
	/* CSS 3 */
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;	
	border-radius:2px;
}

.mws-panel .mws-panel-header .mws-collapse-button span.mws-collapsed
{
	background-image:url(../images/core/mws-panel-button-icon-plus.png);
}

.mws-panel .mws-panel-header .mws-collapse-button span
{
	background-image:url(../images/core/mws-panel-button-icon-min.png);
}

.mws-panel .mws-panel-body
{
	background-color:#f8f8f8;
	margin:0 2px;
	border:1px solid #bcbcbc;
	border-top:0;
	
	/* CSS 3 */
	
	-webkit-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);	
	-moz-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);	
	-o-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);
	-khtml-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);		
	box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);
}

/* General Body */

.mws-panel .mws-panel-content
{
	padding:24px;
}

/* elFinder */

.mws-panel .el-finder
{
	margin:0 2px;
	width:auto;
	border-top:0;
	
	/* CSS 3 */
	
	-webkit-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);	
	-moz-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);	
	-o-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);
	-khtml-box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);
	box-shadow:0px 3px 3px -2px rgba(0, 0, 0, 0.15);
}
