table.mws-table
{
	width:100%;
	margin:0;
	border:0;
	border-collapse:collapse;
}

.mws-table thead tr
{
	background:url(../images/core/mws-table-header.png) repeat-x left bottom #f5f5f5;
}

.mws-table thead tr th:first-child
{
	border-left:none;
}

.mws-table thead tr th
{
	padding:10px 16px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	text-transform: uppercase;
	font-weight:bold; 
	font:10px Verdana, Helvetica, 'Helvetica Neue', sans-serif;
}

.mws-table tbody td, 
.mws-table tfoot td
{
	padding:8px 16px;
	border-left-width:1px;
	border-left-style:dotted;
	border-left-color:#bebebe !important;
}

.mws-table tbody td:first-child, 
.mws-table tfoot td:first-child
{
	border-left:none;
}

.mws-table tbody tr.odd
{
	background-color:#f2f2f2;
}

.mws-table tbody tr.even
{
	background-color:#fafafa;
}

/* Data Table Style */

div.dataTables_wrapper
{
	background:#444444;
}

.dataTables_wrapper table thead th.sorting, 
.dataTables_wrapper table thead th.sorting_asc, 
.dataTables_wrapper table thead th.sorting_desc
{
	cursor:pointer;
}

.dataTables_wrapper table thead th.sorting_asc, 
.dataTables_wrapper table thead th.sorting_desc, 
.dataTables_wrapper table thead th.sorting
{
	background-position:12px center;
	background-repeat:no-repeat;
	padding-left:30px;
}

.dataTables_wrapper table thead th.sorting
{
	background-image:url(../images/core/sort.png);
}

.dataTables_wrapper table thead th.sorting_asc
{
	background-image:url(../images/core/sort_asc.png);
}

.dataTables_wrapper table thead th.sorting_desc
{
	background-image:url(../images/core/sort_desc.png);
}

div.dataTables_wrapper:before,
div.dataTables_wrapper:after
{
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

div.dataTables_wrapper:after
{
	clear: both;
}

div.dataTables_wrapper
{
	zoom: 1;
}

div.dataTables_wrapper .dataTables_length, 
div.dataTables_wrapper .dataTables_filter, 
div.dataTables_wrapper .dataTables_info, 
div.dataTables_wrapper .dataTables_paginate
{
	padding:8px;
}

div.dataTables_wrapper .dataTables_length
{
	float:left;
}

div.dataTables_wrapper .dataTables_filter
{
	background-color:#cccccc;
	text-align:right;
	border-bottom:1px solid #aaaaaa;
}
.dataTables_filter select
{
    height:23px;
}
.dataTables_filter input[type=text]
{
    width:296px!important;
    height:18px;
}
div.dataTables_wrapper .dataTables_info
{
	color:#ffffff;
	float:left;
	margin-top:2px;
	display:block;
}

div.dataTables_wrapper .dataTables_paginate
{
	color:#ffffff;
	float:right;
	padding:2px;
	margin:10px 8px 10px 0;
	
	background-repeat:repeat;
	background-image:url(../images/core/mws-inset.png);
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

div.dataTables_wrapper .dataTables_paginate div
{
	width:20px; height:20px;
	float:left;
	display:block;
	cursor:pointer;
}

div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous
{
	background-image:url(../images/core/arrow-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	margin-right:1px;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-o-border-radius:4px 0 0 4px;
	-khtml-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}


div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous
{
	opacity:.35;
	filter:Alpha(35);
	cursor:auto;
}

div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_next
{
	background-image:url(../images/core/arrow-right.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-o-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;	
	border-radius:0 4px 4px 0;
}

div.dataTables_wrapper .dataTables_paginate span.first
{	
	/* CSS 3 */
	
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	-o-border-radius:2px 0 0 2px;
	-khtml-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}

div.dataTables_wrapper .dataTables_paginate span.last
{
	/* CSS 3 */
	
	-webkit-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-khtml-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_button, 
div.dataTables_wrapper .dataTables_paginate span.paginate_active
{
    width: 18px;
	float:left;
	height:20px;
	padding:0 10px;
	display:block;
	font-size:12px;
	line-height:20px;
	text-align:center;
	cursor:pointer;
	background-color:#444444;
	
	border-right:1px solid #232323;
	border-left:1px solid #666666;
	
	border-right:1px solid rgba(0, 0, 0, 0.5);
	border-left:1px solid rgba(255, 255, 255, 0.15);
	
	/* CSS 3 */
	
	-webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-o-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-khtml-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

div.dataTables_wrapper .dataTables_paginate > span.paginate_button:first-child
{
	border-left:0;
}

div.dataTables_wrapper .dataTables_paginate > span.paginate_button:last-child
{
	border-right:0;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_button_disabled
{
	color:#666666;
	cursor:default;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_active
{
    width: 20px;
	color:#323232;
	border:none;
	background-image:none;
	
	/* CSS 3 */
	
	-webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-o-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-khtml-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);	
	box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}
