﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@model IEnumerable<Domain.Entities.Depoimento>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Depoimentos de Clientes";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_depoimento").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/depoimentos-de-clientes/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/depoimentos-de-clientes/pessoas-fisicas?msg=sucesso#envie";
                          } else {      
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                            }
                    });
                },
                rules: {
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    cidade: "required",
                    mensagem: "required",
                    nota: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nome: "Digite o seu nome",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    cidade: "Digite a cidade",
                    mensagem: "Digite sua mensagem",
                    nota: "Selecione uma nota",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "depoimentos-de-clientes")" itemprop="url">      
      <span itemprop="title"><b>Depoimentos de Clientes</b></span>    
    </a> 
        <div> > </div>
    
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.Action("pessoas-fisicas", "depoimentos-de-clientes")" itemprop="url">      
          <span itemprop="title"><b>Pessoa Física</b></span>    
        </a> 
        </div>    
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Depoimentos de Clientes Pessoa Física</h1>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
        <div class="box_lista">
            <div class="depoimento">
                <p>
                    @item.Texto
                </p>
            </div>
            <div class="baixo-depoimento"></div>
            <h3>@item.Nome</h3>
            <i>@item.Cidade.ToUpper() - @item.Data.ToString("dd/MM/yyyy")</i>
        </div>
        }
        if (ViewBag.TotalPaginas > 1)
        {
            <div class="clear"></div>
            <div class="paginacao">   
                <div class="titulo">@ViewBag.TituloPaginacao</div>
                <div class="paginas">
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "ativa" : "")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Não há depoimentos para serem listados, deixe o seu preenchendo o formulário abaixo.</p>
    }
    <div style="clear: both"></div>
    <a name="envie"></a>
    <h2>Deixe aqui o seu Depoimento!</h2>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Seu depoimento foi enviado com sucesso! Depois de aprovado, ele será exibido aqui.</div>
    }
    else
    {
    <div  style="float: left">
        @using (Html.BeginForm("Enviar", "depoimentos-de-clientes", FormMethod.Post, new { id = "form_depoimento", name = "form_depoimento", enctype = "multipart/form-data", @class = "formulario" }))
        {   
            <input type="hidden" id="tipoID" name="tipoID" value="1"/>
            <table cellspacing="0" cellpadding="0" border="0" width="940px" class="tabela" align="center">
                <tr><!-- Nome: -->
                    <td class="right bold" width="150">Nome:</td>
                    <td width="20"></td>
                    <td width="400">
                        <input type="text" id="nome" name="nome" />
                    </td>
                    <td width="100"></td>
                </tr>
                <tr><!-- Telefone: -->
                    <td class="right bold">Cidade:</td>
                    <td width="20"></td>
                    <td>
                        <input type="text" id="cidade" name="cidade" />
                    </td>
                    <td width="100"></td>
                </tr>
                <tr><!-- Email: -->
                    <td class="right bold">E-mail:</td>
                    <td width="20"></td>
                    <td>
                        <input type="text" id="email" name="email" />
                    </td>
                    <td width="100"></td>
                </tr>
                <tr><!-- Nota: -->
                    <td class="right bold">Nota para nosso serviço:</td>
                    <td width="20"></td>
                    <td>
                        <select id="nota" name="nota" style="width:160px;">
                            <option>-- selecione uma nota -- </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                    <td width="100"></td>
                </tr>
                <tr><!-- Mensagem: -->
                    <td class="right bold">Depoimento:</td>
                    <td width="20"></td>
                    <td>
                        <textarea id="mensagem" name="mensagem"></textarea>
                    </td>
                    <td width="100"></td>
                </tr>
                <tr>
                    <td class="right bold">Validação:</td>
                    <td width="20"></td>
                    <td>                           
                        @captcha
                    </td>
                    <td width="100"></td>
                </tr> 
                <tr height="10">
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="4" class="center">
                        <input type="submit" value="Enviar" class="botao" onmousedown="_gaq.push(['_trackEvent', 'form', 'depoimento-clientes-pf', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>
            </table>
        }
    </div>
    }
</div>