@charset "UTF-8";
/**
 * Style Name: Apenas estilos básicos
 */

/*//////////////////////  A T E N C A O ! /////////////////////

LEIA ANTES DE ALTERAR ESTE ARQUIVO

Se voce deseja efetuar alteracoes nos estilos do tema, a
melhor maneira e faze-lo no Epico Filho (tema filho)
para que nao perca as alteracoes em futuras atualizacoes
do tema Epico.

Voce pode obter o seu Epico Junior de base na area de membros:
//minha.uberfacil.com/epico


/*=============================================================
	RESET
=============================================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
	}

audio,
canvas,
video {
	display: inline-block;
	}

audio:not([controls]) {
	display: none;
	height: 0;
	}

[hidden],
template {
	display: none;
	}

html {
	font-family: sans-serif;

		-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	}

body {
	margin: 0;
	}

a {
	background: transparent;
	}

a:focus {
	outline: thin dotted;
	}

a:active,
a:hover {
	outline: 0;
	}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
	}

abbr[title] {
	border-bottom: 1px dotted;
	}

b,
strong {
	font-weight: bold;
	}

dfn {
	font-style: italic;
	}

hr {
	-moz-box-sizing: content-box;
		 box-sizing: content-box;
	height: 0;
	width: 100%;
	}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
	}

pre {
	white-space: pre-wrap;
	}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
	}

small {
	font-size: 80%;
	}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	}

sup {
	top: -0.5em;
	}

sub {
	bottom: -0.25em;
	}

img {
	border: 0;
	}

svg:not(:root) {
	overflow: hidden;
	}

figure {
	margin: 0;
	}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	}

legend {
	padding: 0;
	border: 0;
	}

button,
input,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	}

button,
input {
	line-height: normal;
	}

button,
select {
	text-transform: none;
	}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;

	-webkit-appearance: button;
	}

button[disabled],
html input[disabled] {
	cursor: default;
	}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	}

input[type="search"] {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;

	-webkit-appearance: textfield;
	}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
	}

textarea {
	overflow: auto;
	vertical-align: top;
	}

table {
	border-spacing: 0;
	border-collapse: collapse;
	}

p {
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;

	-epub-hyphens: auto;
	}

b, strong,
.strong {
	font-weight: bold;
	}

dfn, em,
.em {
	font-style: italic;
	}

small,
.small {
	font-size: 75%;
	}

ul, ol {
	padding: 0;
	list-style-type: none;
	}

dd {
	margin: 0;
	}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	}

/*=============================================================
	TIPOGRAFIA
=============================================================*/
/*-------------------------------------------------------------
	Geral
--------------------------------------------------------------*/
html {
	font-size: 14px;
	}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
	-ms-word-wrap: break-word;

	-webkit-font-smoothing: antialiased;
	}

#site-title {
	font-size: 2.2807rem;
	}

@media screen and (min-width: 520px) {
	#site-title {
		font-size: 2.56578rem;
		}
	}

/*-------------------------------------------------------------
	Titulos e subtitulos
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.6rem;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 3.2rem;

	text-rendering: optimizeLegibility;
	}

h2, h3 {
	line-height: 2.4rem;
	}

#sidebar-primary h3, h4, h5, h6 {
	line-height: 1.6rem;
	}

h1 {
	font-size: 2.88651rem;
	}

h2 {
	font-size: 2.02729rem;
	}

h3 {
	font-size: 1.60181rem;
	}

h4 {
	font-size: 1.42383rem;
	}

h5 {
	font-size: 1.125rem;
	}

h6 {
	font-size: 0.88889rem;
	}

/*-------------------------------------------------------------
	Estilos de texto
--------------------------------------------------------------*/
p {
	margin: 0 0 1.6rem;
	}

a {
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	   -moz-transition: color 0.1s linear;
			transition: color 0.1s linear;
	}
a:active, a:focus {
	outline: none;
	}

hr {
	margin: 1.6rem 0;
	border-top: none;
	border-right: none;
	border-left: none;
	}

img {
	max-width: 100%;
	height: auto;
	margin: 0;
	}

ins {
	text-decoration: none;
	}

abbr, abbr[title], acronym {
	padding-bottom: 0.2em;
	cursor: help;
	}

address {
	display: block;
	margin: 0 0 0.8rem;
	}

cite {
	font-style: italic;
	}

cite:before {
	content: "\2014 \00A0";
	}

p, h1, h2, h3, h4, h5, h6, a {
	word-wrap: break-word;
	}


/*=============================================================
	ICONES
=============================================================*/

div.uberaviso a[class*="button"]:after {
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	line-height: 1.3;
	text-decoration: inherit;
	}

.fa {
	font-family: FontAwesome, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}

li.fa:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.125rem;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;

	-webkit-font-smoothing: antialiased;
	}

a.post-edit-link::before,
blockquote::before {
	display: inline-block;
	padding-right: 5px;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
	}

a.post-edit-link::before {
	content: "\f040";
	}


/*=============================================================
	LISTAS
=============================================================*/
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
ul {
	margin-bottom: 1.6rem;
	padding-left: 1.6rem;
	list-style-type: disc;
	}
ol {
	margin-bottom: 1.6rem;
	padding-left: 1.6rem;
	list-style-type: decimal;
	}

dl {
	margin-bottom: 1.6rem;
	line-height: 1.6rem;
	}
dl dt {
	margin-top: 1.6rem;
	font-weight: bold;
	}
dl dd {
	margin: 0;
	}

li:last-child {
	margin-bottom: 0;
	}

/*=============================================================
	BOTAO UBERAVISO
=============================================================*/
div.uberaviso a[class*="button"] {
	display: inline-block;
	zoom: 1;
	height: 40px;
	padding: 0 32px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	vertical-align: baseline;
	text-decoration: none;

	*display: inline;
	*vertical-align: auto;
	}

div.uberaviso a[class*="button"]:focus {
	outline: none;
	}

div.uberaviso a[class*="button"] {
	border-radius: 50px;
	}

div.uberaviso a[class*="button"] {
	border: none;
	-webkit-transition: background, 0.3s;
	   -moz-transition: background, 0.3s;
			transition: background, 0.3s;
	}

div.uberaviso a[class*="button"]:hover,
div.uberaviso a[class*="button"]:active {
	-webkit-transition: background, 0.1s;
	   -moz-transition: background, 0.1s;
			transition: background, 0.1s;
	}

div.uberaviso a.disabled[class*="button"] {
	box-shadow: none;

	-webkit-appearance: none;
	}

div.uberaviso a[class*="button"] {
	height: 32px;
	padding: 0 25.6px;
	font-size: 15px;
	line-height: 32px;
	}

/*=============================================================
	IMAGENS RESPONSIVAS
=============================================================*/
.responsive-img {
	display: table;
	width: 100%;
	}

.responsive-img img {
	display: table-cell;
	width: 100%;
	}

/*=============================================================
	ESTILOS PADRAO DO WORDPRESS
=============================================================*/
/*--------------------------------------------------------------
	Alinhamentos
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.6rem;
	margin-bottom: 0.8rem;
	position: relative;
	top: 10px;
	}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.6rem;
	margin-bottom: 0.8rem;
	position: relative;
	top: 10px;
	}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
	}

/*--------------------------------------------------------------
	Artigos e paginas
--------------------------------------------------------------*/
.hentry {
	margin: 0 0 1.6rem;
	}

.page-content,
.entry-content {
	margin: 1.6rem 0 0;
	}

.page-links {
	clear: both;
	margin: 0 0 1.6rem;
	}

/*-------------------------------------------------------------
	Embeds
--------------------------------------------------------------*/
.embed-wrap,
.video-player {
	overflow: hidden;
	position: relative;
	height: 0;
	margin-bottom: 1.5rem;
	padding-top: 30px;
	padding-bottom: 56.25%;
	}

.page-template-landing .embed-wrap,
.page-template-full .embed-wrap {
	padding-top: 0;
	}

.embed-wrap iframe,
.video-player object,
.embed-wrap object, object,
.embed-wrap embed, embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	}

.video-player .videopress-poster,
.video-player .videopress-placeholder {
	width: 100% !important;
	}

/*--------------------------------------------------------------
	Midia
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
	}

.wp-caption {
	max-width: 100% !important;
	margin-bottom: 1.6rem;
	font-style: italic;
	}

.wp-caption img[class*="wp-image-"] {
	display: block;
	width: 100%;
	margin: 1.6rem auto 0;
	}

.attachment img {
	width: 100% !important;
	max-width: 100%;
	}

.wp-caption-text {
	font-size: 0.79012rem;
	text-align: center;
	}

.wp-caption .wp-caption-text {
	margin-bottom: 1.6rem;
	padding: 0.8rem 1.6rem;
	}

img.wp-smiley {
	float: none;
	position: relative;
	top: 4px;
	width: 16px;
	height: 16px;
	border: none;
	}

@media screen and (min-width: 680px) {
	img.wp-smiley {
		width: 20px;
		height: 20px;
		}
	}

.gallery-row:last-child {
	padding-bottom: 1.6rem;
	}

.gallery-row:first-child {
	padding-top: 1.6rem;
	}

.attachment .aligncenter {
	padding-bottom: 1.6rem;
	}

.main .gallery {
	margin-bottom: 1.6rem;
	}

.main .gallery a img {
	max-width: 90%;
	height: auto;
	border: none;
	}

.main .gallery dd {
	margin: 0;
	}

.main .gallery {
	margin-bottom: 1.6rem;
	}

.gallery .gallery-item {
	margin-bottom: 0.8rem;
	}

.gallery .gallery-icon a img {
	border: 1px solid #dfe5e7;
	}

.gallery .gallery-caption {
	font-size: 0.88889rem;
	}

.gallery .gallery-col-1 .gallery-item,
.gallery .gallery-col-2 .gallery-item,
.gallery .gallery-col-3 .gallery-item,
.gallery .gallery-col-4 .gallery-item {
	width: 100%;
	margin-right: 0;
	}

@media screen and (min-width: 520px) {
	#page .gallery .gallery-col-2 .gallery-item {
		width: 47%;
		margin-right: 5%;
		}

	#page .gallery .gallery-col-3 .gallery-item {
		width: 30%;
		margin-right: 5%;
		}

	#page .gallery .gallery-col-4 .gallery-item {
		width: 22%;
		margin-right: 4%;
		}

	#page .gallery .gallery-col-2 .gallery-item:nth-child(2n) {
		margin-right: 0;
		}

	#page .gallery .gallery-col-3 .gallery-item:nth-child(3n) {
		margin-right: 0;
		}

	#page .gallery .gallery-col-4 .gallery-item:nth-child(4n) {
		margin-right: 0;
		}

	#page #content .gallery-columns-4 .gallery-item img {
		width: auto !important; /* Sobrescreve o Optimize Press */
		}

	#page .gallery .gallery-icon img {
		max-width: 100%;
		}
	}

.video-player img,
.videopress-placeholder,
.videopress-placeholder img {
	height: auto !important;
	}


/*=============================================================
	ESTRUTURA BASICA
=============================================================*/
/*-------------------------------------------------------------
	Estilos das colunas (mobile first)
-------------------------------------------------------------*/
#page,
#main-container {
	width: 100%;
	}

.wrap {
	max-width: 68em;
	margin-right: auto;
	margin-left: auto;

	*zoom: 1;
	}

.wrap:before,
.wrap:after {
	display: table;
	content: " ";
	}

.wrap:after {
	clear: both;
	}

#content {
	display: block;
	float: left;
	width: 100%;
	margin-right: 36.42612%;
	margin-right: 0;
	}

.row {
	display: block;

	*zoom: 1;
	}

.row:before,
.row:after {
	display: table;
	content: " ";
	}

.row:after {
	clear: both;
	}

.col2,
.col3,
.col4 {
	width: 100%;
	margin: 2rem 0;
	}

/*--------------------------------------------------------------
	Clearfixes
--------------------------------------------------------------*/
.entry {
	*zoom: 1;
	}

.entry:before,
.entry:after {
	display: table;
	content: " ";
	}

.entry:after {
	clear: both;
	}


/*--------------------------------------------------------------
	Espacamentos
--------------------------------------------------------------*/
#page {
	overflow: hidden;
	}

.entry {
	padding: 0;
	}

.wrap,
.entry-content {
	padding: 3.2rem 3.2rem 4.8rem 3.2rem;
	}

.entry-content {
	margin-top: 0;

	*zoom: 1;
	}

.entry-footer {
	padding: 1.6rem 3.2rem;
	}

.entry-content:before,
.entry-content:after {
	display: table;
	content: " ";
	}

.entry-content:after {
	clear: both;
	}

.entry-title {
	text-align: center;
	padding: 3.2rem 3.2rem 0;
	}

#respond {
	padding: 1.6rem 3.2rem 0;
	}

#main-container .wrap {
	padding: 0;
	}

.singular .entry h2,
.singular .entry h3,
.singular .entry h4,
.singular .entry h5,
.singular .entry h6 {
	margin-top: 3.2rem;
	font-weight: 400;
	}

.row {
	margin-top: 6.4rem;
	}

#main-container .wrap {
	padding: 0;
	}

.entry-footer > * {
	margin-right: 12px;
	font-size: 0.79012rem;
	white-space: nowrap;
	letter-spacing: 1px;
	text-transform: uppercase;
	}

/*-------------------------------------------------------------
	Layout responsivo
--------------------------------------------------------------*/
@media screen and (min-width: 480px) {

	#content {
		display: block;
		float: left;
		width: 100%;
		margin-right: 15.40698%;
		margin-right: 0;
		}
	#content:last-child {
		margin-right: 0;
		}

	html {
		font-size: 1em;
		}

	}
@media only screen and (max-width: 480px) {
	.singular .entry-content {
		font-size: 1.26563rem;
		line-height: 2.24rem;
		}

	}
@media screen and (min-width: 680px) {

	#content {
		display: block;
		float: left;
		width: 100%;
		margin-right: 9.76959%;
		}
	#content:last-child {
		margin-right: 0;
		}

	html {
		font-size: 1.125em;
		}

	.entry-footer {
		padding: 1.6rem 6.4rem;
		}

	.wrap {
		padding: 3.2rem 6.4rem;
		}

	.entry-content {
		padding: 3.2rem 6.4rem 4.8rem;
		}

	.entry-title {
		padding: 4.8rem 3.2rem 0 6.4rem;
		}

	}
@media screen and (min-width: 1020px) {
	#content {
		display: block;
		float: left;
		width: 65.11424%;
		margin-right: 4.65729%;
		}

	#content:last-child {
		margin-right: 0;
		}

	.wrap {
		padding: 3.2rem 4.8rem;
		}

	.entry-footer {
		padding: 1.6rem 4.8rem;
		}

	.entry-content {
		padding: 3.2rem 4.8rem 4.8rem;
		}

	.entry-title {
		padding: 4.8rem 4.8rem 0;
		}

	#respond {
		padding: 1.6rem 0 4.8rem 4.8rem;
		}

	.col2 {
		width: 47%;
		margin-right: 5%;
		display: inline-block;
		}

	.col3 {
		width: 29%;
		margin-right: 5%;
		display: inline-block;
		}

	.col4 {
		width: 20%;
		margin-right: 5%;
		display: inline-block;
		}

	.col4:nth-child(4) {
		margin-right: 0;
		}

	.row2 div:nth-child(2),
	.row3 div:nth-child(3),
	.row4 div:nth-child(4) {
		margin-right: 0
		}
	}

@media screen and (min-width: 1410px) {
	#content {
		display: block;
		float: left;
		width: 71.37294%;
		margin-right: 3.0574%;
		}

	#content:last-child {
		margin-right: 0;
		}

	.wrap {
		padding: 3.2rem 0;
		}

	html {
		font-size: 1.25em;
		}
	}


/*-------------------------------------------------------------
	Layout responsivo
-------------------------------------------------------------*/
@media screen and (min-width: 1220px) {
	.responsive-img img {
		width: 796px;
		}
	}
@media screen and (min-width: 1410px) {
	.responsive-img img {
		width: 971px;
		}
	}

/*=============================================================
	15. BRANDING
=============================================================*/

#site-title {
	line-height: 3.2rem;

	*zoom: 1;
	}
#site-title:before,
#site-title:after {
	display: table;
	content: " ";
	}
#site-title:after {
	clear: both;
	}

#site-title a {
	display: inline-block;
	margin: 0 auto;
	font-weight: 300;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
			hyphens: none;
	}

#site-title a:hover {
	-webkit-animation: pulse 1s ease 0s 1 both;
	   -moz-animation: pulse 1s ease 0s 1 both;
			animation: pulse 1s ease 0s 1 both;

	-webkit-animation-backface-visibility: hidden;
	   -moz-animation-backface-visibility: hidden;
		-ms-animation-backface-visibility: hidden;
		 -o-animation-backface-visibility: hidden;
			animation-backface-visibility: hidden;
	}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		}

	50% {
		-webkit-transform: scale(1.1);
		}

	100% {
		-webkit-transform: scale(1);
		}
	}
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
		}

	50% {
		-moz-transform: scale(1.1);
		}

	100% {
		-moz-transform: scale(1);
		}
	}
@-o-keyframes pulse {
	0% {
		-o-transform: scale(1);
		}

	50% {
		-o-transform: scale(1.1);
		}

	100% {
		-o-transform: scale(1);
		}
	}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
				transform: scale(1);
		}

	50% {
		-webkit-transform: scale(1.1);
				transform: scale(1.1);
		}

	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		}
	}
#logo {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	}

/*-------------------------------------------------------------
	Layout responsivo
--------------------------------------------------------------*/
@media screen and (min-width: 520px) {
	#logo {
		max-width: 280px;
		}

	#branding {
		margin-top: 0;
		}
	}
@media screen and (min-width: 680px) {
	#logo {
		max-width: 300px;
		}
	}
@media screen and (min-width: 1020px) {
	#logo {
		margin: 0;
		max-width: 400px;
		}
	}

/*=============================================================
	Estilos de plugins
=============================================================*/
/* Contact Form 7
--------------------------------------------------------------*/
.wordpress div.wpcf7-mail-sent-ok,
.wordpress div.wpcf7-validation-errors,
.wordpress div.wpcf7-mail-sent-ng,
.wordpress div.wpcf7-spam-blocked {
	padding: 0.32rem 0.8rem;
	border: 0;
	border-radius: 50px;
	font-size: 0.79012rem;
	text-align: center;
	}

.wordpress div.wpcf7-mail-sent-ok:before {
	position: relative;
	padding-right: 5px;
	font-size: inherit;
	content: "\f058";
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
	}

.wordpress div.wpcf7-validation-errors:before {
	position: relative;
	padding-right: 5px;
	font-size: inherit;
	content: "\f071";
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
	}

.wordpress div.wpcf7-mail-sent-ng:before,
.wordpress div.wpcf7-spam-blocked:before {
	position: relative;
	padding-right: 5px;
	font-size: inherit;
	content: "\f057";
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
	}

.wordpress div.wpcf7 img.ajax-loader {
	margin-left: 20px;
	}

/* Clean My Archives
--------------------------------------------------------------*/
.clean-my-archives h2:first-child {
	margin-top: 0;
	}

.clean-my-archives h2.month-year {
	margin-bottom: 0;
	}

.clean-my-archives h2.month-year a {
	display: block;
	width: 100%;
	padding: 0.4rem 2.4rem 0.4rem 1.12rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 1.26563rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	}

.clean-my-archives h2.month-year a:before {
	position: relative;
	padding-right: 10px;
	font-size: 20px;
	content: "\f073";
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
	}

.clean-my-archives ul {
	padding-left: 0;
	}

.clean-my-archives li {
	position: relative;
	padding-left: 1.6rem;
	list-style: none;
	}

.clean-my-archives li:last-child {
	border-bottom: 0;
	}

.clean-my-archives li a {
	display: inline-block;
	min-width: 100%;
	padding: 0.8rem 1.6rem 0.8rem 2.4rem;
	}

.clean-my-archives .comments-number {
	position: absolute;
	top: 11px;
	right: 0;
	font-weight: bold;
	}

.clean-my-archives .day {
	position: absolute;
	top: 11px;
	}

/* Layout responsivo
--------------------------------------------------------------*/
@media screen and (min-width: 520px) {
	.clean-my-archives h2.month-year a::before {
		top: -3px;
		padding-right: 16px;
		}
	.clean-my-archives .day {
		top: 12px;
		}
	}
@media screen and (min-width: 680px) {
	.clean-my-archives h2.month-year a::before {
		padding-right: 20px;
		}
	.clean-my-archives .day {
		top: 13px;
		}
	}
@media screen and (min-width: 1410px) {
	.clean-my-archives .day {
		top: 15px;
		}
	}

/*************************************************************
**************************************************************
****************** A  T  E  N  C  A  O  !  *******************
**************************************************************
**************************************************************

Voce pode personalizar as cores e a tipografia do seu tema
com mais facilidade partir desta secao, mas...

NÃO AS ALTERE DIRETAMENTE NESTE ARQUIVO! Faca suas alteracoes
no EPICO JUNIOR, para nao perder as alteracoes quando
o tema for atualizado pela Uberfacil.

*************************************************************/



/*=============================================================

	TIPOGRAFIA E CORES

=============================================================*/

/*-------------------------------------------------------------
	TIPOGRAFIA

	Aqui voce pode alterar a referencia a tipografia do tema.
	As fontes em si sao carregadas no arquivo epico/inc/epico.php
	caso deseje alterar as fontes, copie o codigo da funcao
	`epico_register_styles` do arquivo epico.php e a sobrescreva
	no arquivo functions.php do Epico Junior
--------------------------------------------------------------*/

.epc-rs h1,
.epc-rs h2,
.epc-rs h3,
.epc-rs h4,
.epc-rs h5,
.epc-rs h6,
.epc-rs #site-title,
.epc-rs .widget-title,
.epc-rs .widgettitle,
.epc-rs .capture-title,
.epc-rs #sidebar-primary section[class*="epico_pages"] a {
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	}

.epc-rs h1 {
	font-size: 2.56578rem;
	}

.epc-rs h2 {
	font-size: 1.80203rem;
	}

.epc-rs h3 {
	font-size: 1.42383rem;
	}

.epc-rs h4 {
	font-size: 1.26563rem;
	}

.epc-rs h5 {
	font-size: 1rem;
	}

.epc-rs h6 {
	font-size: 0.79012rem;
	}

.epc-rw h1,
.epc-rw h2,
.epc-rw h3,
.epc-rw h4,
.epc-rw h5,
.epc-rw h6,
.epc-rw #site-title,
.epc-rw .widget-title,
.epc-rw .widgettitle,
.epc-rw .capture-title,
.epc-rw #sidebar-primary section[class*="epico_pages"] a {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	}

.epc-rw h1 {
	font-size: 2.2807rem;
	}

.epc-rw h2 {
	font-size: 1.60181rem;
	}

.epc-rw h3 {
	font-size: 1.26563rem;
	}

.epc-rw h4 {
	font-size: 1.125rem;
	}

.epc-rw h5 {
	font-size: 0.88889rem;
	}

.epc-rw h6 {
	font-size: 0.70233rem;
	}

/*-------------------------------------------------------------
	CORES DE BASE

	Todas as cores padrao do estao concentradas
	a partir desta secao
--------------------------------------------------------------*/

body {
	background-color: #f7f5ee;
	color: #556367;
	}

a {
	color: #00c7c0;
	}

a:active, a:focus {
	color: #00615e;
	}

a:hover,
.epc-s1 a:hover,
.epc-s2 a:hover,
.epc-s3 a:hover,
.epc-s4 a:hover,
.epc-s5 a:hover,
.epc-s6 a:hover,
.epc-s7 a:hover,
.epc-s8 a:hover,
.epc-s9 a:hover {
	color: #344146;
	}

::selection {
	color: #333;
	background: #ffeda9;
	}

::-moz-selection {
	color: #333;
	background: #ffeda9;
	}

textarea:focus,
input:not([type=submit]):not([type=file]):focus {
	outline: none;
	}

hr {
	border-bottom: 1px solid #dfe5e7;
	}

ins {
	border-bottom: 1px solid #dfe5e7;
	}

abbr, abbr[title], acronym {
	border-bottom: 1px solid #dfe5e7;
	}

del {
	color: #879da6;
	}

cite {
	color: #95a9b1;
	}

th {
	border-bottom: 1px solid #dfe5e7;
	}

thead:first-child th {
	border-bottom: 2px solid #dfe5e7;
	}

td {
	border-bottom: 1px solid #dfe5e7;
	}

.capture-wrap ::selection {
	color: #fff;
	background: #00c7c0;
	}

.capture-wrap ::-moz-selection {
	color: #fff;
	background: #00c7c0;
	}

article {
	background: white;
	}

.logged-in-as {
	border: 1px solid #d0d9dc;
	}

.singular blockquote {
	color: #6F797D;
	background: #FCFCFC;
	border: 1px solid #EBEEEF;
	border-left: 10px solid #EBEEEF;
	}

.singular blockquote:before {
	color: #D9E1E4;
	}


.gallery .gallery-icon a img {
	border: 1px solid #dfe5e7;
	}

.media-info li {
	border-bottom: 1px solid #dfe5e7;
}

.entry-footer a::before {
	color: #d0d9dc;
	}

.entry-footer {
	border-top: 1px solid #edf1f2;
	}

/* Botoes
--------------------------------------------------------------*/
div.uberaviso a[class*="button"] {
	border: 1px solid #d4d4d4;
	color: #666;
	}

div.uberaviso a[class*="button"]:active {
	color: #bbb;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	}

div.uberaviso a.disabled[class*="button"]:active {
	border: 1px solid #ddd;
	opacity: 0.8;
	color: #ccc;
	background: #eee;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: default;

	-webkit-appearance: none;
	}

div.uberaviso a[class*="button"] {
	border: none;
	color: white;
	background: #5f7781;
	}

div.uberaviso a[class*="button"]:hover {
	background: #4c5f67;
	}

div.uberaviso a[class*="button"]:active {
	color: rgba(0, 0, 0, 0.5);
	background: #707070;
	}

/* Aviso
--------------------------------------------------------------*/
.uberaviso {
	color: white;
	background: #00c7c0;
	}

.uberaviso a[class*="button"] {
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
	}

.uberaviso a:hover {
	color: white;
	}

.uberaviso a:active {
	color: rgba(255, 255, 255, 0.9) !important;
	text-shadow: none !important;
	}

.uberaviso a.uberaviso-close {
	color: rgba(255, 255, 255, 0.5);
	}

.uberaviso a.uberaviso-close:hover {
	color: white;
	}


/* Capture - barra lateral
--------------------------------------------------------------*/
.sc.capture-wrap {
	border-bottom: 10px solid #c1cdd1;
	color: #4a5c64;
	background: white;
	}

.sc.capture-wrap .capture-form {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid #dfe5e7;
	}

.sc.capture-wrap .uf-submit {
	background: #ff613d;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
	}

.sc.capture-wrap .uf-submit:hover {
	background: #cc4d30;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
	}

.sc.capture-wrap .capture-close i {
	color: #d0d9dc;
	}

.sc.capture-wrap .capture-close i:hover {
	color: #78919b;
	}

.sc.capture-wrap .capture-icon i:before {
	color: #d0d9dc;
	}

.sc.capture-wrap .capture-wrapicon:after {
	opacity: 0.6;
	}

.sc.capture-wrap .capture-title,
.sc.capture-wrap .capture-intro {
	color: #4a5c64;
	}

.sc.capture-wrap .capture-intro strong {
	color: #78919b;
	}

.sc.capture-wrap .capture-notice,
.sc.capture-wrap .capture-notice strong {
	color: #95a9b1;
	}

.sc.capture-wrap {
	border: 1px solid #edf1f2;
	background: #f6f8f8;
	}

/* Contact Form 7
--------------------------------------------------------------*/

.wordpress div.wpcf7-mail-sent-ok {
	background: #e6efc3;
	}
.wordpress div.wpcf7-mail-sent-ok:before {
	color: #00c7c0;
	}

.wordpress div.wpcf7-validation-errors {
	background: #fff5bd;
	}
.wordpress div.wpcf7-validation-errors:before {
	color: #ff9d00;
	}

.wordpress div.wpcf7-mail-sent-ng,
.wordpress div.wpcf7-spam-blocked {
	background: #ffd6c7;
	}

.wordpress div.wpcf7-mail-sent-ng:before,
.wordpress div.wpcf7-spam-blocked:before,
.wordpress span.wpcf7-not-valid-tip {
	color: #ff613d;
	}

/* Clean My Archives
--------------------------------------------------------------*/
.clean-my-archives h2.month-year a {
	border-left: 10px solid #d0d9dc;
	color: #78919b;
	background: #edf1f2;
	}
.clean-my-archives h2.month-year a:before {
	color: #b3c1c7;
	}
.clean-my-archives h2.month-year a:hover {
	color: #344146;
	}
.clean-my-archives li {
	border-bottom: 1px solid #dfe5e7;
	}
.clean-my-archives .comments-number {
	color: #b3c1c7;
	}


/* Template de pagina landing
--------------------------------------------------------------*/

.page-template-full #content,
.page-template-landing #content {
	padding-top: 2rem;
	background: white;
	}

.page-template-landing .wrap {
	max-width: 48em;
	}

.page-template-landing #header .wrap {
	padding-top: 1.6rem;
	background: white;
	}

.page-template-landing #header {
	border: none;
	}

.page-template-landing #header .wrap {
	padding-bottom: 0;
	}

.page-template-landing #branding {
	float: none;
	width: 100%;
	margin-right: 0;
	text-align: center;
	}

.page-template-landing #branding img {
	margin: 0 auto;
	display: block;
	}

.page-template-landing #page,
.page-template-full #page {
	border-top: 10px solid #EDF1F2;
	}

.page-template-landing .embed-wrap,
.page-template-full .embed-wrap {
	padding-top: 0;
	}

.page-template-landing .entry-content {
	padding-bottom: 0
	}

.op-plugin[class*='page-template'] ul[class*='bullet-list'] {
	list-style-type: none;
	}

.op-plugin[class*='page-template'] textarea {
	padding: 0
	}

.op-plugin .toggle-panel {
	min-height: 55px
	}

.op-plugin .navigation-sidebar ul,
.op-plugin .op-live-search-results {
	padding-left: 0;
	list-style-type: none;
	}

.op-plugin [class*='news-bar'] p {
	padding-bottom: 1em;
	}

.page-template-landing[class*='epc-s'] .entry-footer {
	text-align: center;
	border: none;
	}

.page-template-landing[class*='epc-s'] #footer .wrap {
	padding-bottom: 2.4rem;
	}

.page-template-landing[class*='epc-s'] #footer,
.page-template-landing[class*='epc-s'] #credits {
	background: none;
	text-align: center;
	font-size: 0.88889rem;
	border: none;
	}

.page-template-landing[class*='epc-s'] #footer p,
.page-template-landing[class*='epc-s'] #branding p {
	margin-bottom: 0;
	}

.page-template-landing[class*='epc-s'] .credit p {
	width: 100%;
	float: none;
	}

.page-template-landing[class*='epc-s'] #credit-text {
	display: block;
	text-align: center;
	width: 100%;
	}

.page-template-landing .entry-title {
	padding-left: 1.6rem;
	padding-right: 1.6rem
	}

.page-template-full .responsive-img img,
.page-template-landing .responsive-img img,
.page-template-full .responsive-img img {
	margin: 0 auto;
	max-width: 971px;
	}

@media screen and (max-width: 680px) {
	.op-plugin .cf .col-left,
	.op-plugin .cf .col-right {
		width: 100%;
		}
	}

@media screen and (min-width: 680px) {

	.page-template-landing .entry-title {
		padding-top: 2.4rem;
		padding-left: 3.2rem;
		padding-right: 3.2rem
		}
	}

@media screen and (min-width: 864px) {
	.page-template-landing .responsive-img img {
		max-width: 35em;
		display: block;
		margin: 0 auto;
		}
	}

@media screen and (min-width: 1020px) {
	.page-template-landing .responsive-img img {
		max-width: 38.5em;
		display: block;
		margin: 0 auto;
		}

	.page-template-landing .entry-title {
		padding-top: 2.4rem;
		}

	.page-template-full #content,
	.page-template-landing #content {
		width: 100%;
		margin-right: 0;
		padding-top: 2rem;
		}
	}


@media screen and (min-width: 1410px) {
	.page-template-landing .entry-title {
		padding-top: 2.4rem;
		}

	.page-template-full #content,
	.page-template-landing #content {
		width: 100%;
		margin-right: 0;
		padding-top: 2rem;
		}
	}

object[type*="application/gas-events"] {
	display: none;
	}

/*=============================================================

	FIM DO CSS PADRAO

	Demais estilos com as variacoes de cores
	se encontram no diretorio `/epico/css/styles/`.

	Estilos dos widgets personalizados se encontram no
	diretorio do plugin Epico em:
	`wp-content/plugins/epico/assets/css/`

=============================================================*/
