.plural #main-container article.format-default .entry-title a{
	color:#353f41;
}
#sidebar-primary #recent-posts-2 .widgettitle{
	color:#FFF;
	background: #ed5564;
}
#sidebar-primary #recent-posts-2{
	background: #f3f3f3;
}
.epc-ovr #main-container #recent-posts-2 a{
	color: #556367;
}
.epc-ovr #header nav a{
	color: #556367;
}
body.plural article.format-default .entry-byline {
    background: #f3f3f3;
}
body #sidebar-primary .widget, body #sidebar-primary #sidebar-before-content {
    background: #f3f3f3;
}
body .widget{
	border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
body .sb.capture-wrap, body .sc.capture-wrap, body .zen #sidebar-after-content .sb.capture-wrap{
	border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
body #sidebar-primary section[class*="epico_pages"] li>a:first-child, body #sidebar-primary section[class*="epico_links"] li>a:first-child{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
body .uf_epicosocial {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.epc-ovr #main-container .pagination .page-numbers{
	border-radius:4px;
	border-width: 2px;
	border-style: solid;
	border-color: #ED5564;
	color:#ED5564 !important;
	background: rgba(255,255,255,0);
}
.epc-ovr #main-container .pagination span.page-numbers{
	color:#FFF !important;
}
body #footer{
	position: relative;
	border-top:1px solid #eee;
	background: #FFF;
}
#footer #credits:after{
	content:'';
	display: block;
	position:absolute;
	left:10%;
	right: 0px;
	bottom: -10px;
	height: 10px;
	background: #f89c1b;
}
#cw-News-Topo.fw.capture-wrap .capture-form:after{
	content:'';
	display: block;
	position:absolute;
	left:0;
	width: 10%;
	bottom: -10px;
	height: 10px;
	background: #ed5564;
}

#footer #credits{
	background: #FFF;
	position: relative;
}
#cw-News-Topo.fw.capture-wrap .capture-form,
#cw-News-Topo.ip.capture-wrap{
	position: relative;
}
body #footer a{
	color:#666;
}
body #cw-News-Topo.ip.capture-wrap {
    border-bottom: 10px solid #dd5565;
}
body.epc-ovr #main-container .related-post-title a{
	color: #556367;
}
body.epc-ovr #main-container .related-post-title a:hover{
	color:#809297;
}
body .author-profile {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFF;
}