﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Termos e condições comerciais";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Termos e condições comerciais</b></span> </div>
</div>
</div> 

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Termos e condições especiais</h1>

	<div class="Div1">
		<div class="Div1Texto1">

			O site <b>www.lacosflores.com.br</b> vem por meio desta carta informar aos seus clientes e consumidores as práticas legais de uso de seu portal de vendas, aqui chamadas de Termos de Uso e Condições Comerciais.<br /><br />

			Fica desde já claro que o site Laços Flores poderá a qualquer momento alterar tais práticas sem qualquer tipo de prévio aviso aos seus clientes e parceiros. Qualquer tipo de atualização, modificação, revisão ou simples alteração ficará a total critério do site Laços Flores.com.br e seus proprietários.<br /><br />

			a) O site Laços Flores tem o objetivo único de comercializar flores e arranjos;<br /><br />

			b) Os produtos comercializados pelo site Laços Flores.com.br bem como suas descrições poderão ser atualizados periodicamente sem prévio aviso aos clientes;<br /><br />

			c) As atualizações dos produtos poderão ser feitas no sentido de melhoria, correção, sazonalidade de recursos ou qualquer outra necessidade identificada pelo site;<br /><br />

			d) Todas as informações contidas no site Laços Flores.com.br são de propriedade particular e estão proibidas de serem utilizadas para fins públicos sem a autorização dos proprietários;<br /><br />

			e) Os clientes e usuários poderão utilizar as informações contidas no site Laços Flores.com.br com a finalidade particular, exclusivamente, sem qualquer tipo de alteração ou modificação;<br /><br />

			f) As únicas formas de pagamento aceitas pelo site Laços Flores.com.br serão débitos em conta, boleto bancário, cartão de crédito, cheque e dinheiro. Qualquer outra forma de pagamento será vetada;<br /><br />

			g) Os usuários e clientes são inteiramente responsáveis pelas informações pessoais que inserem nos processos de compras, não cabendo ao site Laços Flores se responsabilizar pela veracidade das informações;<br /><br />

			Agradecemos pela compreensão,<br />
			Equipe Laços Flores

		</div>
	</div>
     

</div>

</div>
