﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Titulo = "Soluções Corporativas";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "solucoes-corporativas")" itemprop="url">      
      <span itemprop="title"><b>Soluções Corporativas</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Soluções Corporativas</h1>

    <p>
        O site Coroas Para Velório busca facilitar a aquisição de Coroa de Flores, desburocratizando o processo de compra e facilitando os trâmites internos das empresas. Trabalhamos com Nota Fiscal Eletrônica e todas as formas de pagamento. 
    </p>

    <div class="clientes">
        <div class="titulo">
            Alguns de nossos clientes
        </div>
        <img src="../../Content/img/cliente.jpg" border="0" alt="clientes" title="clientes"/>
    </div>
    
    <h2>Veja nossas soluções:</h2>
    <div class="half">
        <div class="title qlassik">
            Compra Esporádica - Faturamento Simples
        </div>
        <div class="texto">
            <p>
                A solução mais indicada à empresa é o Faturamento.
                <br />
                Após a compra da Coroa de Flores (ou pela loja virtual ou pelo televendas), nossa empresa formalizará o pedido por email e solicitará os dados para faturamento. Os dados necessários são:
            </p>
            <ul style="list-style: none !important">
                <li><b>Razão Social</b></li>
                <li><b>CNPJ</b></li>
                <li><b>Endereço Completo (Logradouro, Número, Completo, Bairro, Cidade, Estado e CEP)</b></li>
                <li><b>Inscrição Estadual (caso não seja isento)</b></li>
            </ul>
            <p>
                Será enviado Boleto Bancário e Nota Fiscal com vencimento padrão de 15 dias.
                <br />
                Trabalhamos com Nota Fiscal Eletrônica e Boleto Eletrônico, facilitando o envio.
            </p>
        </div>
    </div>
    <div class="half">
        <div class="title qlassik">
            Compra Recorrente - Contrato de Prestação de Serviço
        </div>
        <div class="texto">
            <p>
                Caso a empresa tenha compra recorrente de Coroa de Flores, pode-se solicitar um Acordo Comercial ou Contrato de Prestação de Serviços. Não existe número mínimo de aquisições por mês.<br />
                <br />
                Desta forma, nossa empresa fornecerá a entrega de Coroa de Flores durante todo o mês e o faturamento será realizado uma única vez, todo dia 30. Será enviada uma Nota Fiscal e um Boleto Bancário, com vencimento padrão de 15 dias.<br />
                <br />
                Nossa empresa possui todas as certidões para cadastro em sistemas corporativas (Sistemas de Compra ou Sistemas Integrados).
            </p>
        </div>
    </div>
    @*<div class="accordion solucoes">
        <ul>

            <li>
                <ul>
                    <li class="title title1">
                        Compra Esporádica - Faturamento Simples
                    </li>
                    <li class="cont cont1">
                        A solução mais indicada à empresa é o Faturamento.<br />

                        Após a compra da Coroa de Flores (ou pela loja virtual ou pelo televendas), nossa empresa formalizará o pedido por email e solicitará os dados para faturamento. Os dados necessários são:<br />
                        <br />
                        <ul style="list-style: none !important">
                            <li><b>Razão Social</b></li>
                            <li><b>CNPJ</b></li>
                            <li><b>Endereço Completo (Logradouro, Número, Completo, Bairro, Cidade, Estado e CEP)</b></li>
                            <li><b>Inscrição Estadual (caso não seja isento)</b></li>
                        </ul><br />

                        Será enviado Boleto Bancário e Nota Fiscal com vencimento padrão de 15 dias.<br />

                        Trabalhamos com Nota Fiscal Eletrônica e Boleto Eletrônico, facilitando o envio.
                    </li>
                </ul>
            </li>

            <li>
                <ul>
                    <li class="title title2">
                        Compra Recorrente - Contrato de Prestação de Serviço
                    </li>
                    <li class="cont cont2">
                        Caso a empresa tenha compra recorrente de Coroa de Flores, pode-se solicitar um Acordo Comercial ou Contrato de Prestação de Serviços. Não existe número mínimo de aquisições por mês.<br />

                        Desta forma, nossa empresa fornecerá a entrega de Coroa de Flores durante todo o mês e o faturamento será realizado uma única vez, todo dia 30. Será enviada uma Nota Fiscal e um Boleto Bancário, com vencimento padrão de 15 dias.<br />

                        Nossa empresa possui todas as certidões para cadastro em sistemas corporativas (Sistemas de Compra ou Sistemas Integrados).
                    </li>
                </ul>
            </li>
        </ul>
    </div>*@
</div>