﻿@model Domain.Entities.Local

@{
    ViewBag.Title = Model == null ? "Novo Local" : "Edição do local " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;

    var erro = ViewBag.Erro;
}

@if (erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}

@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
    <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Local" : "Edição do local " + Model.Titulo)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Local", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Foto)
            @Html.HiddenFor(model => model.FornecedorID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Local.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Local.Tipos.Cemiterio), new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Foto <i>Arquivo JPG (555px x 555px)</i></label>
                    <div class="mws-form-item small">
                        @if (Model != null)
                        {
                            if (Model.Foto != null)
                            {
                                if (Model.Foto.Length > 0)
                                {
                                    <a href="/content/locais/@Model.ID/@Model.Foto" target="_blank">
                                        <img src="/content/locais/@Model.ID/@Model.Foto" border="0" />
                                    </a>
                                    <br />
                                        <i>Para modificar a foto, selecione outro arquivo.</i>
                                    <br />
                                }
                            }
                        }
                        @Html.InputFile("File")
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>URL </label> <i>http://www.coroasparavelorio.com.br/<b>[URL DIGITADA]</b>/coroas-para-velorio</i>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.RotuloUrl, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Texto do Prazo de Entrega <i>será exibida na página do local abaixo do televendas)</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.PrazoEntrega, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Texto de Frete <i>será exibida na página do local abaixo do prazo de entrega)</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Frete, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Texto de Faixa de Homenagem <i>será exibida na página do local abaixo do frete)</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.FaixaHomenagem, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Televendas</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Televendas, new { @class = "mws-textinput", maxlength = "15" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone do local</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Telefone, new { @class = "mws-textinput", maxlength = "15" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>CEP</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "20" })
                        <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Logradouro</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Número</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Complemento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Bairro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    </div>
                </div>
                @if (admin.Perfil == Domain.Entities.Administrador.Perfis.Atendimento || admin.Perfil == Domain.Entities.Administrador.Perfis.Fornecedores)
                {
                    @*<div class="mws-form-row">
        <label>Texto principal do rodapé</label>
        <div class="mws-form-item small">
            <p>
              @Model.Descricao.Replace("<p>", string.Empty).Replace("</p>", string.Empty)
            </p>
        </div>
    </div>*@
                }
                else
                {
                    <div class="mws-form-row">
                        <label>Texto principal do rodapé</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput" })
                        </div>
                    </div>
                }
                <div class="mws-form-row">
                    <label>MetaTag Description</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagDescription, new { @class = "mws-textinput", @maxlength = 155 })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>MetaTag Keywords</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagKeywords, new { @class = "mws-textinput", @maxlength = 155 })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Fornecedor no Local?</label>
                    <div class="mws-form-item small">
                        <span id="label_fornecedor">@Html.Raw(Model != null ? (Model.Fornecedor != null) ? "<a href=\"/Fornecedor/Edit/" + Model.FornecedorID + "\" target=\"_blank\">" + Model.Fornecedor.Nome + " (Tel: " + Model.Fornecedor.TelefonePrimario + ")</a>" : "(Sem fornecedor no local)" : "(Sem fornecedor no local)")</span>
                        <input type="button" value="Alterar fornecedor" class="mws-button blue small" id="alterar_fornecedor">
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Fornecedores Preferênciais</label>
                    <div class="mws-form-item large">
                        <span id="load_fornecedor" class="carregando-branco">Buscando fornecedores...</span>
                        <div class="mws-dualbox clearfix">
                            <div class="mws-dualbox-col1">
                                <div class="mws-dualbox-filter clearfix">
                                    todos os fornecedores
                                    <input type="text" id="box1Filter" class="mws-textinput" autocomplete="off" />
                                    <button type="button" id="box1Clear">X</button>
                                </div>
                                @Html.DropDownList("box1View", new SelectList(ViewBag.TodosFornecedores as IEnumerable<Domain.Entities.Fornecedor>, "ID", "Nome"), new { @multiple = "multiple", style = "text-transform:uppercase;", @size = "15" })
                                <span id="box1Counter" class="countLabel"></span>
                                <select id="box1Storage"></select>
                            </div>
                            <div class="mws-dualbox-col2">
                                <button id="to2" type="button">&gt;</button>
                                <button id="allTo2" type="button">&gt;&gt;</button>
                                <div class="clear"></div>
                                <button id="allTo1" type="button">&lt;&lt;</button>
                                <button id="to1" type="button">&lt;</button>
                            </div>
                            <div class="mws-dualbox-col3">
                                <div class="mws-dualbox-filter clearfix">
                                    fornecedores selecionados
                                    <input type="text" id="box2Filter" class="mws-textinput" autocomplete="off" />
                                    <button type="button" id="box2Clear">X</button>
                                </div>

                                @Html.DropDownList("box2View", new SelectList(ViewBag.Fornecedores as IEnumerable<Domain.Entities.Fornecedor>, "ID", "Nome"), new { @multiple = "multiple", style = "text-transform:uppercase;", @size = "15" })
                                <span id="box2Counter" class="countLabel"></span>
                                <select id="box2Storage"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Destaque?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Destaque)  SIM
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Disponivel)  SIM
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Cidade principal?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Principal)  SIM
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Forçar atualização de Latitude e Longitude baseado no CEP?</label>
                    <div class="mws-form-item large">
                        <input type="checkbox" value="on" name="forcarAtualizacao" /> SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Latitude <br /><i>Só altere se estiver incorreto, ao preencher o CEP, a latitude é verificada automaticamente.</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Latitude, new { @class = "mws-textinput", maxlength = "50" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Longitude <br /><i>Só altere se estiver incorreto, ao preencher o CEP, a longitude é verificada automaticamente.</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Longitude, new { @class = "mws-textinput", maxlength = "50" })
                    </div>
                </div>
                @if (Model != null)
                {
                    if (Model.Latitude.HasValue && Model.Longitude.HasValue)
                    {
                        if (Model.Latitude != 0 && Model.Longitude != 0)
                        {
                            <div class="mws-form-row">
                                <label>Mapa</label>
                                <div class="mws-form-item small">
                                    <a href="http://maps.google.com/maps?q=@Model.CEP,loc:@(Model.Latitude.Value.ToString().Replace(",", ".")),@(Model.Longitude.Value.ToString().Replace(",", "."))" target="_blank">clique aqui</a>
                                </div>
                            </div>
                        }
                    }
                }

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

<div id="div_fornecedor" title="Selecione um fornecedor" style="display:none;">
    <p>
        <b>Estado</b><br />
        @Html.DropDownList("Estado", new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "select", style = "width:250px;" })
        <br /><br />
        <b>Cidade</b><br />
        <select id="Cidade" class="select" style="width:250px;">
            <option>-- selecione --</option>
        </select>
        <br /><br />
        <b>Fornecedor</b>
        <br />
        <select id="Fornecedor" class="select" style="width:250px;">
            <option>-- selecione --</option>
        </select>
        <br />
    </p>
</div>
@section Scripts{
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#local').addClass('active');
            $('#i_local').addClass('active');

            $("#TipoID").change(function () {
                if ($("#TipoID option:selected").val() == 4) {
                    $("#endereco").show();
                } else {
                    $("#endereco").hide();
                }
            });
            $("#CEP").blur(function () {
                $("#Latitude").val('0');
                $("#Longitude").val('0');
            });

            $("#Estado").change(function () {
                var uf = $("#Estado option:selected").text();
                if ($("#Cidade").length > 0) {
                    $("#Cidade").hide();

                    $("#Cidade").get(0).options.length = 0;
                    $("#Cidade").get(0).options[0] = new Option("-- selecione --", "");
                    $.post('/Home/GetCidades/', { uf: uf }, function (data) {
                        if (data != undefined && data != "") {
                            for (var i = 0; i < data.length; i++) {
                                $("#Cidade").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                        $("#Cidade").show();
                    });
                    $.post('/Home/GetFornecedores/', { uf: uf }, function (data) {
                        if (data != undefined && data != "") {
                            for (var i = 0; i < data.length; i++) {
                                $("#Fornecedor").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                                //$("#Fornecedor").get(0).options[i + 1].setAttribute("class", "principal");
                            }
                        }
                        $("#Fornecedor").show();
                    });

                }
            });

            $("#Cidade").change(function () {
                $("#Fornecedor").get(0).options.length = 0;
                $("#Fornecedor").get(0).options[0] = new Option("-- selecione --", "");
                $.post('/Home/GetFornecedores/', { cidadeID: $("#Cidade").val() }, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            $("#Fornecedor").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            //$("#Fornecedor").get(0).options[i + 1].setAttribute("class", "principal");
                        }
                    }
                    $("#Fornecedor").show();
                });
            });

            $("#CidadeID").change(function () {
                var cidade = $("#CidadeID option:selected").val();
                var estado = $("#EstadoID option:selected").val();
                $("#box1View").hide();
                $("#load_fornecedor").show();
                $("#box1View").empty();
                $.post('/Home/GetFornecedoresLocal/', { cidadeID: cidade, estadoID: estado }, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            $("#box1View").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                        }
                    }
                    $("#load_fornecedor").hide();
                    $("#box1View").show();
                });
            });

            $("#alterar_fornecedor").click(function () {
                $("#div_fornecedor").dialog({
                    resizable: false,
                    height: 340,
                    modal: true,
                    buttons: {
                        "Selecionar": function () {
                            if (confirm('Você tem certeza que deseja relacionar este fornecedor?')) {
                                if ($("#Fornecedor option:selected").text() == "-- selecione --") {
                                    $("#label_fornecedor").html("(Sem fornecedor no local)");
                                    $("#FornecedorID").val("");
                                } else {
                                    $("#label_fornecedor").html($("#Fornecedor option:selected").text());
                                    $("#FornecedorID").val($("#Fornecedor option:selected").val());
                                }
                                $("#div_fornecedor").dialog("close");
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    if ($('#Descricao').val().length == 0) {
                        alert('O campo descrição é obrigatório.');
                    } else {
                        form.submit();
                    }
                },
                rules: {
                    TipoID: "required",
                    Nome: "required",
                    RotuloUrl: "required",
                    Titulo: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    Televendas: "required",
                    Descricao: "required",
                    TagDescription: "required",
                    TagKeywords: "required"
                },
                messages: {
                    TipoID: "O campo tipo é obrigatório.",
                    Nome: "O campo nome é obrigatório.",
                    RotuloUrl: "O campo URL é obrigatório.",
                    Titulo: "O campo título é obrigatório.",
                    EstadoID: "O campo estado é obrigatório",
                    CidadeID: "O campo cidade é obrigatório",
                    Televendas: "O campo televendas é obrigatório.",
                    Descricao: "O campo Descrição é obrigatório.",
                    TagDescription: "O campo MetaTag Decription é obrigatório.",
                    TagKeywords: "O campo MetaTag Keywords é obrigatório."
                }
            });
        });
    </script>
}

@if (admin.Perfil == Domain.Entities.Administrador.Perfis.Atendimento || admin.Perfil == Domain.Entities.Administrador.Perfis.Fornecedores)
{
    @*<script>
        $(function () {
            $("#form input, #form select, #form textarea").each(function (i, obj) {
                if (obj.id !== 'Telefone' && obj.id !== 'enviar' && obj.id !== 'cancelar') {
                    $(obj).attr("disabled", "disabled");
                }
            });

        });
    </script>*@
}