﻿@model IEnumerable<Domain.Entities.Local>

@{
    ViewBag.Title = "Locais";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#local').addClass('active');
            $('#i_local').addClass('active');

            $("#EstadoID").change(function () {
                $("#Cidade").removeAttr('disabled');
            });

            $("#Cidade").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetCidades?IdEstado=" + $("#EstadoID").val(),
                        getValue: 'Titulo',
                        dataType: "json",
                        data: {
                            NomeCidade: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Titulo, value: item.IdLocal, local: item.Titulo };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#Cidade").val(ui.item.local);
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Locais
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Local")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter">
                <form method="get">
                    <label>
                        Estado:
                        <select class="mws-textinput" id="EstadoID" name="EstadoID">
                            <option value="">-- selecione -- </option>

                            @{
                                List<Domain.Entities.Estado> LstEstados = new List<Domain.Entities.Estado>();
                                LstEstados = ViewBag.Estados;
                            }

                            @foreach (var Item in LstEstados)
                            {
                                <option @{ if (!string.IsNullOrEmpty(Request.QueryString["EstadoID"]) && int.Parse(Request.QueryString["EstadoID"]) == Item.ID) { <text> selected</text>
                                    }
                                }
                                        value="@Item.ID">
                                    @Item.Sigla
                                    </option>
    }
                        </select>

                    </label>
                    <label>
                        Cidade: <input @{
                            if (string.IsNullOrEmpty(Request.QueryString["Cidade"]) && string.IsNullOrEmpty(Request.QueryString["EstadoID"]))
                            {
                                <text>disabled</text> 
                            } 
                            }  type="text" name="Cidade" id="Cidade" class="mws-textinput" maxlength="200" value="@Request.QueryString["Cidade"]" />
                    </label>
                    <label>
                        Título: <input type="text" name="termo" value="@Request.QueryString["termo"]" autocomplete="off" />
                    </label>
                    <input type="submit" class="mws-button gray small" value="Filtrar" />
                </form>

            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th style="text-align:center;">Título</th>
                        <th style="width:150px;text-align:center;">Endereço</th>
                        <th style="text-align:center;">Cidade/Estado</th>
                        <th style="text-align:center;">Telefone</th> 
                        <th style="width:150px;text-align:center;">Publicado</th>
                        <th style="width:150px;text-align:center;">Destaque</th>
                        <th style="width:150px;text-align:center;">Principal</th>
                        <th style="width:150px;text-align:center;">Fornecedor no Local</th>
                        <th style="width:150px;text-align:center;">Fornecedores Preferencias</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Titulo<br /><i>@Enum.GetName(typeof(Domain.Entities.Local.Tipos),item.TipoID)</i></td>
                        <td>@item.Logradouro @item.Numero - @item.Bairro</td>
                        <td>@((item.Cidade != null?item.Cidade.NomeCompleto:"N/I"))</td>
                        <td>@item.Telefone</td> 
                        <td style="text-align:center;">@Html.Raw(item.Disponivel ? "<b>SIM</b>" : "NÃO")</td>
                        <td style="text-align:center;">@Html.Raw(item.Destaque ? "<b>SIM</b>" : "NÃO")</td>
                        <td style="text-align:center;">@Html.Raw(item.Principal ? "<b>SIM</b>" : "NÃO")</td>
                        <td>@Html.Raw(item.FornecedorID.HasValue ? "<a href='/fornecedor/edit?id=" + item.FornecedorID + "'>" + item.Fornecedor.Nome + "<BR>" + item.Fornecedor.TelefonePrimario + (item.Fornecedor.Entrega24h ? "<a/><BR><BR><b>Entrega 24h</b>" : "") : "")</td> 
                        <td>
                            @foreach(var fornecedor in item.FornecedorLocals.OrderBy(c =>c.Fornecedor.Nome).OrderBy(c => c.Ordem)){
                                @fornecedor.Fornecedor.Nome<br />
                            }
                        </td>
                        <td class="center" style="width:164px;">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							        @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Fornecedores)
                                    {
                                    <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                                                               
                                    }                 
                                    @if(item.FornecedorLocals.Count > 0){
                                    <li  style="width:162px;">@Html.ActionLink("Ordem de Fornecedores", "Ordem", new { id = item.ID }, new { @class = "mws-ic-16 ic-text-list-numbers" })</li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }else{
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]&EstadoID=@Request.QueryString["EstadoID"]&Cidade=@Request.QueryString["Cidade"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
           </div>
    </div>
</div>
