﻿@model Domain.Entities.Local

@{
    ViewBag.Title =  "Ordem de fornecedores no local: " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#local').addClass('active');
            $('#i_local').addClass('active');
            $(".ordem").mask({ mask: "#", allowPartials: false });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Ordem de fornecedores no local: @Model.Titulo
        </span>    
    </div>
    <div class="mws-panel-body"> 
        <div class="dataTables_wrapper">
        @using (Html.BeginForm("Ordem", "Local", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <table class="mws-table">
            <thead>
                <tr>
                    <th>Ordem</th>
                    <th>Fornecedor</th> 
                </tr>
            </thead>
            @if (Model.FornecedorLocals.Any())
            {
                foreach (var item in Model.FornecedorLocals.OrderBy(c => c.Fornecedor.Nome).OrderBy(c => c.Ordem))
                {
                <tr>
                    <td style="width:50px;"><input type="text" name="ordem_@(item.ID)" class="ordem" value="@item.Ordem" size="2" style="text-align:center;"/></td>
                    <td>@item.Fornecedor.Nome</td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="2" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>  
            <div >   
                <div class="mws-form">
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>  
                </div>
            </div>
        } 
    </div>
    </div>
</div>
