﻿@model Domain.Entities.Reclamacao

@{
    ViewBag.Title = Model.ID == 0 ? "Nova Reclamação" : "Edição de reclamação " + Model.ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model.ID == 0 ? "Nova Reclamação" : "Edição de reclamação " + Model.ID)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditReclamacao", "Qualidade", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        { 
            @Html.HiddenFor(model => model.ID)  
            @Html.HiddenFor(model => model.PedidoID)  
            @Html.HiddenFor(model => model.PedidoEmpresaID)  
            @Html.HiddenFor(model => model.DataCriacao)  
            <div class="mws-form-block">
                @if (Model.ID > 0)
                {
                <div class="mws-form-row">
                    <label>Número da Reclamação</label>
                    <div class="mws-form-item small">  
                        @Model.ID
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data da Reclamação</label>
                    <div class="mws-form-item small">  
                        @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>
                }
                <hr />
                <div class="mws-form-row">
                    <label>Número do Pedido</label>
                    <div class="mws-form-item small">  
                        @if (Model.PedidoEmpresaID.HasValue)
                        {
                            @Model.PedidoEmpresaID
                        }
                        else if (Model.PedidoID.HasValue)
                        {
                             @Model.Pedido.Numero
                        }
                        else
                        {
                            @Html.TextBox("Pedido", (Model.PedidoID.HasValue ? Model.Pedido.Numero : ""), new { @class = "mws-textinput", @maxlength = 100, })
                        }
                    </div>

                    <input type="hidden" name="SelectorPedido" id='SelectorPedido' value='0' />
                </div>
                <div id="dadospedido" style="@(Model.ID > 0 ? "" : "display:none;")">
                <div class="mws-form-row">
                    <label>Data do Pedido</label>
                    <div class="mws-form-item small">  
                        @if (Model.PedidoEmpresaID.HasValue)
                        {
                            <span id="labeldatapedido">@Model.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")</span>
                        }
                        else if (Model.PedidoID.HasValue)
                        {
                             <span id="labeldatapedido">@Model.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")</span>
                        }
                        else
                        { 
                            <span id="labeldatapedido"></span>
                        }
                        @{ string dataCriacaoPed = string.Empty; }
                        @if (Model.PedidoEmpresaID.HasValue){
                            dataCriacaoPed = Model.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm");
                        }
                        else if (Model.PedidoID.HasValue){
                            dataCriacaoPed = Model.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm");
                        }
                        @dataCriacaoPed

                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Floricultura</label>
                    <div class="mws-form-item small">  
                        <span id="labelfloricultura">@(Model.NomeFloricultura)</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Funcionário</label>
                    <div class="mws-form-item small">  
                        <span id="labelfuncionario">@(Model.NomeAtendente)</span>
                    </div>
                </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <label>Origem</label>
                    <div class="mws-form-item small">
                        <select id="Origem" name="Origem" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="Ativamente" @(Model.Origem == "Ativamente" ? "selected" : "")>Ativamente</option>
                            <option value="Email" @(Model.Origem == "Email" ? "selected" : "")>Email</option>
                            <option value="NPS" @(Model.Origem == "NPS" ? "selected" : "")>NPS</option>
                            <option value="Chat" @(Model.Origem == "Chat" ? "selected" : "")>Chat</option>
                            <!--<option value="Ligação Qualidade"  @(Model.Origem == "Ligação Qualidade" ? "selected" : "")>Ligação Qualidade</option>
                            <option value="Trustvox" @(Model.Origem == "Trustvox" ? "selected" : "")>Trustvox</option>-->
                        </select>
                    </div>
                </div> 
                <div class="mws-form-row">
                    <label>Reclamação</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput", style = "width: 100%!important" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Decisão de Erro</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Decisao, new { @class = "mws-textinput", style = "width: 100%!important" })
                    </div>
                </div>   
                <div class="mws-form-row">
                    <label>Errante</label>
                    <div class="mws-form-item small">
                        <select id="TipoErro" name="TipoErro" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="À definir"  @(Model.TipoErro == "À definir" ? "selected" : "")>À definir</option>
                            <option value="Atendimento"  @(Model.TipoErro == "Atendimento" ? "selected" : "")>Atendimento</option>
                            <option value="Cliente"  @(Model.TipoErro == "Cliente" ? "selected" : "")>Cliente</option>
                            <option value="Floricultura" @(Model.TipoErro == "Floricultura" ? "selected" : "")>Floricultura</option> 
                            <option value="Fornecedor" @(Model.TipoErro == "Fornecedor" ? "selected" : "")>Fornecedor</option> 
                        </select>
                    </div>
                </div> 
                <div class="mws-form-row">
                    <label>Nome do Atendente</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.NomeAtendente, new { @class = "mws-textinput", @maxlength = 100 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nome da Floricultura</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.NomeFloricultura, new { @class = "mws-textinput", @maxlength = 100 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Solução</label>
                    <div class="mws-form-item small">
                        <select id="SolucaoSelect" name="SolucaoSelect" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="Desconto de X%" @(Model.Solucao != null ? (Model.Solucao.Contains("Desconto") ? "selected" : "") : "")>Desconto de X%</option>
                            <option value="Cancelamento do pedido" @(Model.Solucao != null ? (Model.Solucao.Contains("Cancelamento") ? "selected" : ""): "")>Cancelamento do pedido</option>
                            <option value="Envio do cupom de desconto" @(Model.Solucao != null ? (Model.Solucao.Contains("Envio do cupom") ? "selected" : "") : "")>Envio do cupom de desconto</option>
                            <option value="Outros" @(Model.Solucao != null ? (Model.Solucao.Contains("Outros") ? "selected" : "") : "")>Outros</option>
                        </select>
                        @Html.TextBoxFor(model => model.Solucao, new { @class = "mws-textinput", @maxlength = 100, style = !string.IsNullOrEmpty(Model.Solucao) ? "width:300px;" : "width:300px;display:none;" })
                    </div>
                </div> 
            
                <div class="mws-form-row">
                    <label>Voltaria a Comprar?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Voltaria)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Prejuízo ESG</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.PrejuizoESG, new { @class = "mws-textinput", @maxlength = 100 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Plano de Ação</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.PlanoAcao, new { @class = "mws-textinput", style = "width: 100%!important" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Status</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("StatusID", typeof(Domain.Entities.Reclamacao.TodosStatus), Model.StatusID, new { @class = "mws-textinput" }) 
                    </div>
                </div>  
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("Reclamacao")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#qualidade').addClass('active');
        $('#i_reclamacao').addClass('active');

        $("#PrejuizoESG").maskMoney();

        $("#Pedido").blur(function () {
            if ($("#Pedido").val().length > 0) {
                $.post('/Qualidade/GetPedido/', { numero: $("#Pedido").val() }, function (data) {
                    if (data.retorno == "OK") {
                        $("#dadospedido").show();
                        $("#PedidoID").val(data.pedidoID);
                        $("#labeldatapedido").html(data.datapedido);
                        $("#labelfloricultura").html(data.floricultura);
                        $("#labelfuncionario").html(data.funcionario);
                        $("#NomeAtendente").val(data.funcionario);
                        $("#NomeFloricultura").val(data.floricultura);
                        $("#SelectorPedido").val(data.SelectorPedido);
                    } else {
                        alert(data.mensagem);
                    }
                });
            }
        });

        $("#TipoErro").change(function () {
            if ($("#TipoErro option:selected").val() == "Atendimento") {
                //$("#labelNomeAtendente").show();
                //$("#labelNomeFloricultura").hide();
                $("#NomeAtendente").val($("#labelfuncionario").html());
            } else if ($("#TipoErro option:selected").val() == "Floricultura") {
                //$("#labelNomeAtendente").hide();
                //$("#labelNomeFloricultura").show();
                $("#NomeFloricultura").val($("#labelfloricultura").html());
            }
        });

        $("#SolucaoSelect").change(function () {
            $("#Solucao").show();
            if ($("#SolucaoSelect option:selected").val() != "Outros") {
                $("#Solucao").val($("#SolucaoSelect option:selected").val());
            } else {
                $("#Solucao").val('');
            }
        });

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if ($("#PedidoID").val().length > 0) {
                    form.submit();
                } else {
                    alert('Você deve informar um pedido válido!');
                }
            },
            rules: {
                PedidoID: "required",
                Pedido: "required",
                Origem: "required",
                Observacao: "required",
                Decisao: "required",
                TipoErro: "required",
                Solucao: "required",
                SolucaoSelect: "required",
                StatusID: "required"
            },
            messages: {
                PedidoID: "O campo pedido é obrigatório.",
                Pedido: "O campo pedido é obrigatório.",
                Origem: "O campo origem é obrigatório.",
                Observacao: "O campo observação é obrigatório.",
                Decisao: "O campo decisão é obrigatório.",
                TipoErro: "O campo errante é obrigatório.",
                Solucao: "O campo solução é obrigatório.",
                SolucaoSelect: "O campo solução é obrigatório.",
                StatusID: "O campo status é obrigatório."
            }
        });
    });
</script>
}