﻿@{
    Layout = null;
    var admin = (Domain.Entities.Administrador)ViewBag.Administrador;
}
@if (ViewBag.Pedido != null)
{
    var item = (Domain.Entities.Pedido)ViewBag.Pedido;
    <div id="div_pesquisa_@(item.ID)" title="Pesquisa de Qualidade" class="pesquisadiv" style="display:none;">
    <p>           
        <b>Status Contato</b><br />    
        @Html.DropDownListForEnum("statuscontato_" + item.ID, typeof(Domain.Entities.Pedido.TodosStatusContato), @item.QualidadeStatusContatoID, new { style = "width:300px;", @class = "select statuscontato", data_item = item.ID })
        <br />
        <div id="divstatuscontatonao_@(item.ID)" style="@(item.QualidadeStatusContatoID == 2 ? "" : "display:none;")">
        <b>Status Contato (Negativa)</b><br />    
        @Html.DropDownListForEnum("statuscontatonao_" + item.ID, typeof(Domain.Entities.Pedido.TodosStatusContatoNao), @item.QualidadeStatusContatoNaoID, new { style = "width:300px;", @class = "select" })
        <br /><br />
        </div>
        <b>Produto Visualizado?</b><br />     
        <select id="visualizado_@(item.ID)" style = "width:300px;" class = "select" >
            <option @(!item.QualidadeProdutoVisualizado.HasValue ? "selected" : "")>N/I</option>
            <option value="1" @(item.QualidadeProdutoVisualizado.HasValue ? item.QualidadeProdutoVisualizado.Value ? "selected" : "" : "")>SIM</option>
            <option value="0" @(item.QualidadeProdutoVisualizado.HasValue ? !item.QualidadeProdutoVisualizado.Value ? "selected" : "" : "")>NÃO</option>
        </select> 
        <br /><br />
        <table width="100%">
        <tr>
        <td width="160">
        <b>Erro na Faixa?</b><br />        
        <input type="checkbox" value="1" id="errofaixa_@(item.ID)" @(item.QualidadeErroFaixa.HasValue ? item.QualidadeErroFaixa.Value ? "checked=checked" : "" : "") /> SIM 
        </td>
        <td width="160">
        <b>1a. Ligação?</b><br />        
        <input type="checkbox" value="1" id="ligacao1_@(item.ID)" @(item.Qualidade1Ligacao ? "checked=checked" : "") /> SIM 
        </td>
        <td width="200">
        <b>Horário</b><br />        
        <input type="text" id="horario1_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade1LigacaoHorario" />        
        </td>
        <td width="160">
        <b>Atendente</b><br />        
        @if (item.Administrador1 != null)
        {
            @item.Administrador1.Nome
            <input type="hidden" id="atendente1_@(item.ID)" value="@item.Administrador1.ID" />  
        }
        else
        {
            @admin.Nome
            <input type="hidden" id="atendente1_@(item.ID)" value="@admin.ID" />  
        }       
        </td>
        </tr>
        </table>
            
        <table width="100%">
        <tr>
        <td width="160">
        <b>Fácil Visualização?</b><br />        
        <input type="checkbox" value="1" id="facilvisualizacao_@(item.ID)" @(item.QualidadeFacilVisualizacao.HasValue ? item.QualidadeFacilVisualizacao.Value ? "checked=checked" : "" : "") /> SIM 
        </td>
        <td width="160">
        <b>2a. Ligação?</b><br />        
        <input type="checkbox" value="1" id="ligacao2_@(item.ID)" @(item.Qualidade2Ligacao ? "checked=checked" : "") /> SIM 
        </td>
        <td width="200">
        <b>Horário</b><br />        
        <input type="text" id="horario2_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade2LigacaoHorario" />        
        </td>
        <td width="160">
        <b>Atendente</b><br />        
        @if (item.Administrador2 != null)
        {
            @item.Administrador2.Nome
            <input type="hidden" id="atendente2_@(item.ID)" value="@item.Administrador2.ID" />  
        }
        else
        {
            @admin.Nome
            <input type="hidden" id="atendente2_@(item.ID)" value="@admin.ID" />  
        }       
        </td>
        </tr>
        </table>
        <table width="100%">
        <tr>
        <td width="160">
        <b>Satisfeito?</b><br />        
        <input type="checkbox" value="1" id="satisfeito_@(item.ID)" @(item.QualidadeSatisfeito.HasValue ? item.QualidadeSatisfeito.Value ? "checked=checked" : "" : "") /> SIM 
        </td>
        <td width="160">
        <b>3a. Ligação?</b><br />        
        <input type="checkbox" value="1" id="ligacao3_@(item.ID)" @(item.Qualidade3Ligacao ? "checked=checked" : "") /> SIM 
        </td>
        <td width="200">
        <b>Horário</b><br />        
        <input type="text" id="horario3_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade3LigacaoHorario" />        
        </td>
        <td width="160">
        <b>Atendente</b><br />        
        @if (item.Administrador3 != null)
        {
            @item.Administrador3.Nome
            <input type="hidden" id="atendente3_@(item.ID)" value="@item.Administrador3.ID" />  
        }
        else
        {
            @admin.Nome
            <input type="hidden" id="atendente3_@(item.ID)" value="@admin.ID" />  
        }       
        </td>
        </tr>
        </table>
        <b>Expectativa Atingida?</b><br />        
        <input type="checkbox" value="1" id="expectativa_@(item.ID)" @(item.QualidadeExpectativaAtingida.HasValue ? item.QualidadeExpectativaAtingida.Value ? "checked=checked" : "" : "") /> SIM 
        <br /><br />
        <b>Observação</b><br />        
        <textarea id="observacao_@(item.ID)" class= "select" style="width:200px;">@item.QualidadeObservacoes</textarea>  <br /><br />
        <b>Porque escolheu o CPV?</b><br />        
        <input type="text" id="porque_@(item.ID)" class= "select" style="width:200px;" value="@item.QualidadePorqueEscolheu" /> <br /><br />
        <b>Atendente</b><br />        
        @(item.QualidadeAdministradorID.HasValue ? item.Administrador.Nome : "N/I") <br /><br />
        <b>Data de Criação</b><br />        
        @(item.QualidadeDataCriacao.HasValue ? item.QualidadeDataCriacao.Value.ToString("dd/MM/yyyy HH:mm") : "Não Realizada")
    </p>
    </div>
}
@if (ViewBag.PedidoEmpresa != null)
{
    var item = (Domain.Entities.PedidoEmpresa)ViewBag.PedidoEmpresa;
    <div id="div_pesquisa_@(item.ID)" title="Pesquisa de Qualidade" class="pesquisadiv" style="display:none;">
        <p>           
           <b>Status Contato</b><br />    
           @Html.DropDownListForEnum("statuscontato_" + item.ID, typeof(Domain.Entities.Pedido.TodosStatusContato), @item.QualidadeStatusContatoID, new { style = "width:300px;", @class = "select statuscontato", data_item = item.ID })
           <br />
           <div id="divstatuscontatonao_@(item.ID)" style="@(item.QualidadeStatusContatoID == 2 ? "" : "display:none;")">
           <b>Status Contato (Negativa)</b><br />    
           @Html.DropDownListForEnum("statuscontatonao_" + item.ID, typeof(Domain.Entities.Pedido.TodosStatusContatoNao), @item.QualidadeStatusContatoNaoID, new { style = "width:300px;", @class = "select" })
           <br /><br />
           </div>
           <b>Produto Visualizado?</b><br />     
           <select id="visualizado_@(item.ID)" style = "width:300px;" class = "select" >
                <option @(!item.QualidadeProdutoVisualizado.HasValue ? "selected" : "")>N/I</option>
                <option value="1" @(item.QualidadeProdutoVisualizado.HasValue ? item.QualidadeProdutoVisualizado.Value ? "selected" : "" : "")>SIM</option>
                <option value="0" @(item.QualidadeProdutoVisualizado.HasValue ? !item.QualidadeProdutoVisualizado.Value ? "selected" : "" : "")>NÃO</option>
           </select> 
           <br /><br />
           <table width="100%">
           <tr>
           <td width="160">
           <b>Erro na Faixa?</b><br />        
           <input type="checkbox" value="1" id="errofaixa_@(item.ID)" @(item.QualidadeErroFaixa.HasValue ? item.QualidadeErroFaixa.Value ? "checked=checked" : "" : "") /> SIM 
           </td>
           <td width="160">
           <b>1a. Ligação?</b><br />        
           <input type="checkbox" value="1" id="ligacao1_@(item.ID)" @(item.Qualidade1Ligacao ? "checked=checked" : "") /> SIM 
           </td>
           <td width="200">
           <b>Horário</b><br />        
           <input type="text" id="horario1_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade1LigacaoHorario" />        
           </td>
           <td width="160">
           <b>Atendente</b><br />        
           @if (item.Administrador != null)
           {
               @item.Administrador.Nome
                <input type="hidden" id="atendente1_@(item.ID)" value="@item.Administrador.ID" />  
           }
           else
           {
                @admin.Nome
                <input type="hidden" id="atendente1_@(item.ID)" value="@admin.ID" />  
           }       
           </td>
           </tr>
           </table>
            
           <table width="100%">
           <tr>
           <td width="160">
           <b>Fácil Visualização?</b><br />        
           <input type="checkbox" value="1" id="facilvisualizacao_@(item.ID)" @(item.QualidadeFacilVisualizacao.HasValue ? item.QualidadeFacilVisualizacao.Value ? "checked=checked" : "" : "") /> SIM 
           </td>
           <td width="160">
           <b>2a. Ligação?</b><br />        
           <input type="checkbox" value="1" id="ligacao2_@(item.ID)" @(item.Qualidade2Ligacao ? "checked=checked" : "") /> SIM 
           </td>
           <td width="200">
           <b>Horário</b><br />        
           <input type="text" id="horario2_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade2LigacaoHorario" />        
           </td>
           <td width="160">
           <b>Atendente</b><br />        
           @if (item.Administrador1 != null)
           {
               @item.Administrador1.Nome
                <input type="hidden" id="atendente2_@(item.ID)" value="@item.Administrador1.ID" />  
           }
           else
           {
                @admin.Nome
                <input type="hidden" id="atendente2_@(item.ID)" value="@admin.ID" />  
           }       
           </td>
           </tr>
           </table>
           <table width="100%">
           <tr>
           <td width="160">
           <b>Satisfeito?</b><br />        
           <input type="checkbox" value="1" id="satisfeito_@(item.ID)" @(item.QualidadeSatisfeito.HasValue ? item.QualidadeSatisfeito.Value ? "checked=checked" : "" : "") /> SIM 
           </td>
           <td width="160">
           <b>3a. Ligação?</b><br />        
           <input type="checkbox" value="1" id="ligacao3_@(item.ID)" @(item.Qualidade3Ligacao ? "checked=checked" : "") /> SIM 
           </td>
           <td width="200">
           <b>Horário</b><br />        
           <input type="text" id="horario3_@(item.ID)" class= "select" style="width:180px;" value="@item.Qualidade3LigacaoHorario" />        
           </td>
           <td width="160">
           <b>Atendente</b><br />        
           @if (item.Administrador2 != null)
           {
               @item.Administrador2.Nome
                <input type="hidden" id="atendente3_@(item.ID)" value="@item.Administrador2.ID" />  
           }
           else
           {
                @admin.Nome
                <input type="hidden" id="atendente3_@(item.ID)" value="@admin.ID" />  
           }       
           </td>
           </tr>
           </table>
           <b>Expectativa Atingida?</b><br />        
           <input type="checkbox" value="1" id="expectativa_@(item.ID)" @(item.QualidadeExpectativaAtingida.HasValue ? item.QualidadeExpectativaAtingida.Value ? "checked=checked" : "" : "") /> SIM 
           <br /><br />
           <b>Observação</b><br />        
           <textarea id="observacao_@(item.ID)" class= "select" style="width:200px;">@item.QualidadeObservacoes</textarea>  <br /><br />
           <b>Porque escolheu o CPV?</b><br />        
           <input type="text" id="porque_@(item.ID)" class= "select" style="width:200px;" value="@item.QualidadePorqueEscolheu" /><br /><br />
           <b>Atendente</b><br />        
           @(item.QualidadeAdministradorID.HasValue ? item.Administrador.Nome : "N/I") <br /><br />
           <b>Data de Criação</b><br />        
           @(item.QualidadeDataCriacao.HasValue ? item.QualidadeDataCriacao.Value.ToString("dd/MM/yyyy HH:mm") : "Não Realizada")
        </p>
    </div>
}