﻿@model IEnumerable<Domain.Entities.PedidoEmpresa>

@{
    ViewBag.Title = "Controle de Qualidade - Pedidos Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Administrador;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#qualidade').addClass('active');
            $('#i_qualidadee').addClass('active');
             
            $(".pesquisa").click(function () {  
                var itemid = $(this).attr("data-item");
                $(".pesquisadiv").remove(); 
                $.post('/Qualidade/ModalPesquisa/', { pedidoEmpresaID: itemid}, function (data) { 
                        $("#pesquisa").html(data); 
						addSelectChange();
                        $("#div_pesquisa_" + itemid).dialog({
                            resizable: false,
                            width: 600,
                            modal: true,
                            buttons: {
                                "Salvar": function () { 
                                    $.post('/Qualidade/AtualizarPesquisaEmpresa/',  { id: itemid, statuscontato: $("#statuscontato_" + itemid).val(), statuscontatonao: $("#statuscontatonao_" + itemid).val(), visualizado: $("#visualizado_" + itemid).val(), errofaixa: $("#errofaixa_" + itemid + ":checked").length, facilvisualizacao: $("#facilvisualizacao_" + itemid + ":checked").length, satisfeito: $("#satisfeito_" + itemid + ":checked").length, expectativa: $("#expectativa_" + itemid + ":checked").length, observacao: $("#observacao_" + itemid).val(), porque: $("#porque_" + itemid).val(), ligacao1: $("#ligacao1_" + itemid + ":checked").length, horario1: $("#horario1_" + itemid).val(), atendente1: $("#atendente1_" + itemid).val(), ligacao2: $("#ligacao2_" + itemid + ":checked").length, horario2: $("#horario2_" + itemid).val(), atendente2: $("#atendente2_" + itemid).val(), ligacao3: $("#ligacao3_" + itemid + ":checked").length, horario3: $("#horario3_" + itemid).val(), atendente3: $("#atendente3_" + itemid).val()    }, function (data) {
                                    if (data == "OK") { 
                                            $("#div_pesquisa_" + itemid).dialog("close");  
                                            $("#label_status_" + itemid).html($("#statuscontato_" + itemid + " option:selected").text());
                                            $("#label_statusnao_" + itemid).html($("#statuscontatonao_" + itemid + " option:selected").text());
                                            alert('Pesquisa atualizada.');
                                        } else {
                                            alert(data);
                                        }
                                    }); 
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                        });
                });
            }); 
            
            $(".confirmacao").click(function () {  
                var itemid = $(this).attr("data-item");
                if(confirm('Confirma o envio da confirmação de entrega?')){
                    $.post('/Qualidade/EnviarConfirmacaoEmpresa/', { id: itemid }, function (data) { 
                        alert(data); 
                    }); 
                }
            });
            
			function addSelectChange(){ 
            $(".statuscontato").change(function () {  
                var itemid = $(this).attr("data_item"); 
                if($(this).val() == "2"){
                    $("#divstatuscontatonao_" + itemid).show();
                }else{                
                    $("#divstatuscontatonao_" + itemid).hide();
                }
            });
			}
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Controle de Qualidade - Pedidos Site 
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Data de Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Número do Pedido:</td>
                <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>E-mail:</td>
                <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Status de Pedido:</td>
                <td colspan="6">@Html.DropDownListForEnum("status", typeof(Domain.Entities.PedidoEmpresa.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
            </tr> 
            <tr>
                <td>Status de Entrega:</td>
                <td colspan="6">@Html.DropDownListForEnum("statusentrega", typeof(Domain.Entities.TodosStatusEntrega), (!String.IsNullOrEmpty(Request.QueryString["statusentrega"]) ? Convert.ToInt32(Request.QueryString["statusentrega"]) : 0), new { style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>Status de Contato:</td>
                <td colspan="6">@Html.DropDownListForEnum("statuscontato", typeof(Domain.Entities.PedidoEmpresa.TodosStatusContato), (!String.IsNullOrEmpty(Request.QueryString["statuscontato"]) ? Convert.ToInt32(Request.QueryString["statuscontato"]) : 0), new { style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>Status de Contato (Negativa):</td>
                <td colspan="6">@Html.DropDownListForEnum("statuscontatonao", typeof(Domain.Entities.PedidoEmpresa.TodosStatusContatoNao), (!String.IsNullOrEmpty(Request.QueryString["statuscontatonao"]) ? Convert.ToInt32(Request.QueryString["statuscontatonao"]) : 0), new { style = "width:300px;" })</td>
            </tr>
            <tr>
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Número</th> 
                    <th align="center">Status de Contato</th>
                    <th align="center">Status de Contato (Negativa)</th>
                    <th align="center">Status de Entrega</th>
                    <th align="center">Status do Pedido</th> 
                    <th align="center">Cliente</th>
                    <th align="center" style="width:150px;">Telefone</th> 
                    <th align="center">Data de Criação</th>
                    <th align="center">Data de Atualização</th>  
                    <th align="center">Valor Total</th> 
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    var processamento = item.AdministradorPedido.Where(c => c.AcaoEnum == Domain.Entities.AdministradorPedido.Acao.ProcessouPedido).LastOrDefault();
                <tr>
                    <td><a href="/PedidosEmpresa/Visualizar/@item.ID" target="_blank">@item.ID</a></td> 
                    <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusContato)" id="label_status_@(item.ID)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusContato)</td>
                    <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusContatoNao)" id="label_statusnao_@(item.ID)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusContatoNao)</td>
                    <td>@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</td>
                    <td>@Domain.Helpers.EnumHelper.GetDescription(item.Status)</td> 
                    <td>@item.Empresa.RazaoSocial <br />Solicitante: @item.Colaborador.Nome <br>E-mail: @item.Colaborador.Email</td>
                    <td>Celular: @Domain.Core.Funcoes.Formata_Telefone(item.Colaborador.TelefoneCelular)<br />Contato: @Domain.Core.Funcoes.Formata_Telefone(item.TelefoneContato)<br />Empresa: @Domain.Core.Funcoes.Formata_Telefone(item.Empresa.TelefoneContato)</td>
                    <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")</td>  
                    <td>@item.Valor.ToString("C2")</td> 
                    <td class="center" style="width:232px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li style="width:100px;">@Html.ActionLink("Visualizar", "Visualizar", "PedidosEmpresa", new { id = item.ID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                <li style="width:100px;"><a href="javascript:void(0);" data-item="@item.ID" class = "pesquisa mws-ic-16 ic-doc-shred">Pesquisa</a></li>
                                <li style="width:230px;"><a href="javascript:void(0);" data-item="@item.ID" class = "confirmacao mws-ic-16 ic-email-open">Reenviar Confirmação Entrega</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&statuscontato=@Request.QueryString["statuscontato"]&statuscontatonao=@Request.QueryString["statuscontatonao"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>

 
<div id="pesquisa"></div> 
