﻿@model IEnumerable<Domain.Entities.Reclamacao>

@{
    ViewBag.Title = "Controle de Qualidade - Reclamações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#qualidade').addClass('active');
            $('#i_reclamacao').addClass('active');            
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Controle de Qualidade - Reclamações 
            <input type="button" value="Nova" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("EditReclamacao", "Qualidade")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Data de Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Número do Pedido:</td>
                <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>E-mail:</td>
                <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Status de Reclamação:</td>
                <td colspan="2">@Html.DropDownListForEnum("status", typeof(Domain.Entities.Reclamacao.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
                <td>Número do Pedido Corporativo:</td>
                <td colspan="2"><input type="text" name="numeroCorp" value="@Request.QueryString["numeroCorp"]" autocomplete="off" style="width:150px;"/></td>
            </tr>
            <tr>
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Número da Reclamação</th> 
                    <th align="center">Número do Pedido</th> 
                    <th align="center">Origem</th>
                    <th align="center">Errante</th>
                    <th align="center">Status</th>
                    <th align="center">Atendente</th> 
                    <th align="center">Floricultura</th> 
                    <th align="center">Data do Pedido</th>
                    <th align="center">Data de Criação</th>
                    <th align="center">Data de Atualização</th>    
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                { 
                <tr>
                    <td>@item.ID</td>
                    @if(item.PedidoEmpresaID.HasValue)
                    {
                        <td><a href="/PedidosEmpresa/Visualizar/@item.PedidoID" target="_blank">@item.PedidoEmpresaID</a></td> 
                    }
                    else
                    {
                        <td><a href="/PedidosSite/Visualizar/@item.PedidoID" target="_blank">@item.Pedido.Numero</a></td> 
                    }
                    <td>@item.Origem</td>
                    <td>@item.TipoErro</td>
                    <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.Status)" id="label_status_@(item.ID)">@Domain.Helpers.EnumHelper.GetDescription(item.Status)</td>
                    <td>@item.NomeAtendente</td>
                    <td>@item.NomeFloricultura</td>  
                    @if(item.PedidoEmpresaID.HasValue)
                    {
                        <td>@item.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    }
                    else
                    {
                        <td>@item.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    }
                    <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@(item.DataAlteracao.HasValue ? item.DataAlteracao.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>   
                    <td class="center" style="width:120px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li style="width:120px;">@Html.ActionLink("Visualizar", "EditReclamacao", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&numeroCorp=@Request.QueryString["numeroCorp"]&status=@Request.QueryString["status"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>

