﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Segurança";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "seguranca")" itemprop="url">      
      <span itemprop="title"><b>Segurança</b></span>
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Segurança</h1>
    <p>Dentro da missão do site Coroas Para Velório está inclusa a questão de segurança no momento de efetuar a compra online de coroa de flores.</p>
    <br /><br />
    <b>Desta forma, nossa empresa adotou algumas práticas importantes:</b>

    <table cellpadding="0" cellspacing="0" width="500" border="0" style="margin: 20px 0 30px 100px">
        <tr>
            <td>
                <img src="@Url.Content("~/Content/img/site-blindado-2.png")" alt="Site Blindado" title="Site Blindado" />
            </td>
            <td>01.	Selo de Site Blindado</td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/img/selo-serasa.png")" alt="Serasa Experian" title="Serasa Experian" />
            </td>
            <td>02. Certificado Digital Serasa Experian</td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/img/selo-pagseguro.png")" alt="Serasa Experian" title="Serasa Experian" />
            </td>
            <td>03.	Pagamento via Pagseguro</td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/img/selo-paypal.png")" alt="Serasa Experian" title="Serasa Experian" />
            </td>
            <td>04.	Pagamento via PayPal</td>
        </tr>
    </table>

    <p>
        Caso tenha qualquer dúvida em qualquer com relação a nossa Política de Segurança, por favor entre em contato com a nossa Central de Atendimento:
        <br />
        <span class="vermelho">0800-777-1986</span> (24h por dia).
    </p>

    <p>
        <span class="qlassik" style="font-size: 20px;">
            Estamos a sua disposição
        </span><br />
        Equipe Coroas Para Velório<br />
        www.coroasparavelorio.com.br
    </p>

</div>