﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = "~/Views/Shared/_LayoutNeueV3.cshtml";
}
@section NeueScripts{
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="~/Content/neue/js/bootstrapV3.min.js"></script>

    <!-- CPV Custom Javascripts -->
    <script type="text/javascript">
        $(function () {
            $('.product-container .premium').click(function () {
                $('.hideall').hide();
                $('#premium').show("slow");
            });
            $('.product-container .luxo').click(function () {
                $('.hideall').hide();
                $('#luxo').show("slow");
            });
            $('.product-container .superluxo').click(function () {
                $('.hideall').hide();
                $('#superluxo').show("slow");
            });
            $('.product-container .duplas').click(function () {
                $('.hideall').hide();
                $('#coroasduplas').show("slow");
            });
            $('.product-container .todas').click(function () {
                $('.hideall').hide();
                $('#todas').show("slow");
            });
        });

        function orderNeue(i) {
            location.replace("coroa-de-flores?ordenacao=" + i + "#comprar")
        }
        $(document).ready(function () {
            i = !0;
            $(window).width() <= 750 && (i = !1),
                $(window).resize(function () {
                    i = $(window).width() <= 750 ? !1 : !0
                }),
                $(window).scroll(function () {
                    var t =
                        $(window).scrollTop(); t >= 140 && i ? $("#fixed-bar").fadeIn("fast") : $("#fixed-bar").fadeOut("fast")
                }),
                $(window).width() > 767 && $(".badge").each(function () {
                    $(this).css("margin-left", "-" + $(this).outerWidth() / 2 + "px")
                }),
                $("nav#mmenu").mmenu();
            var t = 1;
            $(".testimonial-item").hide(),
                $(".testimonial-item#item-" + t).show(),
                $(".controls").click(function () {
                    $(this).is("#next") ? t++ : $(this).is("#prev") && t-- , t > 10 ? t = 1 : 1 > t && (t = 10),
                        $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show()
                });


        });



    </script>
    <script>
        var $cart = document.querySelector('.cart'),
            $drop = document.querySelector('.drop');

        $cart.addEventListener('mouseover', function () {
            $drop.setAttribute('style', 'display:initial');
        });

        $cart.addEventListener('mouseout', function () {
            $drop.setAttribute('style', 'display:none');
        });
    </script>

}
<section id="lp_adwords">
    <div class="container">
        <div class="row clearfix">
            @*<div class="image-banner col-sm-4">
<img src="~/Content/neue/img/photos/bg-1024.png"
       srcset="~/Content/neue/img/photos/bg-300.png 500w, ~/Content/neue/img/photos/bg-640.png 800w, ~/Content/neue/img/photos/bg-1024.png 1024w"
       />
            </div>*@
            <div class="col-sm-12">
                <h1>Coroas de Flores para todo o Brasil!</h1>
                <p>Credibilidade e segurança.</p>
                <a class="btn-coroa smooth" id="produtos" href="www.coroasparavelorio.com.br">Ver Coroas de Flores</a>
            </div>

        </div>
    </div>
</section>
<section id="features-lp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="simple-icon">
                    <span class="simple-icon-icon" style="color:#fb2f39d1"><i class="fa fa-truck"></i></span>
                    <h3 class="simple-icon-title">Entrega<br class="visible-xs"/> Grátis</h3>
                    <div class="simple-icon-summary">
                        <p>Entregamos a coroa de flores para todo o Brasil em até 2 horas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="simple-icon">
                    <span class="simple-icon-icon" style="color:#fb2f39d1"><i class="fa fa-tag"></i></span>
                    <h3 class="simple-icon-title">Faixa de Homenagem</h3>
                    <div class="simple-icon-summary">
                        <p>A faixa de homenagem está inclusa sem custo adicional</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="simple-icon">
                    <span class="simple-icon-icon" style="color:#fb2f39d1"><i class="far fa-clock"></i></span>
                    <h3 class="simple-icon-title">Atendimento<br class="visible-xs" /> 24h</h3>
                    <div class="simple-icon-summary">
                        <p>Nossa central de atendimento funciona 24/7 e aos feriados</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="simple-icon">
                    <span class="simple-icon-icon" style="color:#fb2f39d1"><i class="fa fa-credit-card"></i></span>
                    <h3 class="simple-icon-title">Cartão ou<br class="visible-xs"/> Boleto</h3>
                    <div class="simple-icon-summary">
                        <p>Realize o pagamento via boleto ou cartão de crédito em até 3x <span class="hidden-xs">sem juros</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="loop-lp">
        <div class="hideall" id="premium" style="display:none">
            @Html.Partial("ProdutosNeue2", Model.Where(r => r.ID == 20 || r.ID == 1 || r.ID == 18 || r.ID == 2 || r.ID == 3 || r.ID == 19).ToList())
        </div>
        <div class="hideall" id="luxo" style="display:none">
            @Html.Partial("ProdutosNeue2", Model.Where(r => r.ID == 22 || r.ID == 21 || r.ID == 25 || r.ID == 24 || r.ID == 23).ToList())
        </div>
        <div class="hideall" id="superluxo" style="display:none">
            @Html.Partial("ProdutosNeue2", Model.Where(r => r.ID == 27 || r.ID == 28 || r.ID == 9).ToList())
        </div>
        <div class="hideall" id="coroasduplas" style="display:none">
            @Html.Partial("ProdutosNeue2", Model.Where(r => r.ID == 30 || r.ID == 34 || r.ID == 33 || r.ID == 32 || r.ID == 31).ToList())
        </div>
        <div class="hideall" id="todas" style="display:none">
            @Html.Partial("ProdutosNeue2", Model)
        </div>
        <div class="hideall" id="inicial">
            @Html.Partial("ProdutosNeue2", Model.Where(r => r.ID == 22 || r.ID == 21 || r.ID == 25 || r.ID == 24 || r.ID == 20 || r.ID == 1 || r.ID == 23 || r.ID == 27).ToList())
        </div>
    </div>
    <div class="container" id="product-lp">

        <h2>Escolha por categoria</h2>
        <div class="product-container">
            <div class="row">
                <a class="premium smooth">Premium</a>
                <a class="luxo smooth">Luxo</a>
                <a class="superluxo smooth">Super-Luxo</a>
                <a class="duplas smooth">Coroas Duplas</a>
                <a class="todas smooth">Ver Todas</a>
            </div>
        </div>
    </div>


</section>
<section id="about-lp">
    <div class="container">
       
            <h2>Quem Somos</h2>
        <hr />
            <p><b>Somos é a maior empresa de coroa de flores do Brasil.</b></p>
            <p>Fundanda em 2011 pelo Eduardo Gouveia, o CoroasparaVelório sugiu com o intuito te proporcionar a todas as pessoas a oportunidade de realizar uma homenagem com praticidade e segurança.</p>
            <p>Temos a maior rede de floriculturas e por isso enviamos as coroas de flores em até duas horas para todo o Brasil.</p>

    </div>
</section>
<section id="contact-lp">
    <div class="container">
        <div class="row">
            <h2><b>Precisa de Ajuda?</b></h2>
            <p>Nossa equipe está disponivel 24 horas por dia para te ajudar!</p>
            <div class="contact-container">
                <div class="row">
                    <a href="https://api.whatsapp.com/send?phone=5511944598175&text=Ol%C3%A1,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">
                        WhatsApp
                    </a>
                    <a href="tel:4007-2233">Telefone</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('.smooth').click(function () {

        $('html, body').animate({
            scrollTop: $('#loop-lp').offset().top 
        }, 550);

        return false;
    });
</script>