﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Reports";
}
@section Scripts{
    <script type="text/javascript">
       
    </script>
}
<div class="page-header">
    <h1>
        Relatórios</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret">
                </span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Por Sites</a></li>
                    <li><a href="#">Por Cidades</a></li>
                    <li><a href="#">Por Horário</a></li>
                    <li><a href="#">Por Atendente</a></li>
                    <li><a href="#">Por Período</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="true" aria-expanded="false">Métricas por Grupos
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Fornecedores</a></li>
                    <li><a href="#">Atendimento</a></li>
                </ul>
            </li>
            <li><a href="#">Métricas por Atendente</a></li>
            <li><a href="#">Produtos Mais Vendidos</a></li>
            <li><a href="#">Meios de Pagamentos</a></li>
            <li><a href="#">Como nos Conheceu</a></li>
            <li><a href="#">Cidades</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Reports/VendasPorSite.aspx")
    </div>
</div>
