﻿@using System.Web.UI.WebControls
@using Admin.Interfaces
@using Admin.ViewModel
@{
    Layout = "";
    ViewBag.Title = "Reports";
}

<div class="page-header">
    <h1>
        Teste
    </h1>
</div>
<div>
    @{
        List<IReportable> lstLocais = new List<IReportable>();
        LocalRecente local = new LocalRecente();
        #region Local 01
        local.Cidade = "Cidade 1";
        local.Estado = "Estado 1";
        local.Ativo = true;
        local.Local = "Local 1";
        local.DataCriacao = DateTime.Now;
        lstLocais.Add(local);
        #endregion
        #region Local 02
        local = new LocalRecente();
        local.Cidade = "Cidade 2";
        local.Estado = "Estado 2";
        local.Ativo = false;
        local.Local = "Local 2";
        local.DataCriacao = DateTime.Now;
        local.Idade = 10;
        lstLocais.Add(local);
        #endregion
        #region Local 03
        local = new LocalRecente();
        local.Cidade = "Cidade 3";
        local.Estado = "Estado 3";
        local.Ativo = false;
        local.Local = "Local 3";
        local.DataCriacao = DateTime.Now.AddDays(1);
        lstLocais.Add(local);
        #endregion
    }
    @Html.Partial("ReportGrid",lstLocais)
</div>
