﻿@model Domain.Entities.ProdutoTamanho

@{
    var produto = (Domain.Entities.Produto)ViewBag.Produto;

    ViewBag.Title = Model == null ? "Novo Preço para " + produto.Nome : "Edição de preço para " + produto.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tamanhos = (IEnumerable<Domain.Entities.Tamanho>)ViewBag.Tamanhos;
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Preço para " + produto.Nome : "Edição de preço para " + produto.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Precos", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.Hidden("produtoID", produto.ID)
            @Html.HiddenFor(model => model.PrecoAntigo)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Tamanho</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.TamanhoID, new SelectList(tamanhos, "ID", "NomeCompleto"), new { @class = "mws-textinput" })
                    </div>
                </div>  
                @*<div class="mws-form-row">
                    <label>Preço Antigo <i>(se maior que zero, será exibido como no exemplo "de R$ 100,00" por R$ 80,00")</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.PrecoAntigo, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  *@
                <div class="mws-form-row">
                    <label>Preço de Venda</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Preco, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Disponível para venda?</label>
                    <i>Os produtos só terão tamanhos disponibilizados quando estes estiverem disponíveis.</i>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Disponivel)  SIM
                    </div>
                </div>
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {

        $("#Preco").maskMoney({ allowZero: true });

        $('#precos').addClass('active');
            @if (Request.QueryString["tipo"] == "1")
            {
                <text>$('#i_precos_coroas').addClass('active');</text>
            }
            else if (Request.QueryString["tipo"] == "2")
            {
                <text>$('#i_precos_arranjos').addClass('active');</text>
            }
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                TamanhoID: "required",
                Preco: "required"
            },
            messages: {
                TamanhoID: "O campo tamanho é obrigatório.",
                Preco: "O campo preço é obrigatório."
            }
        });
    });
</script>
}