﻿@model IEnumerable<Domain.Entities.Produto>

@{
    ViewBag.Title = "Preços";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#precos').addClass('active');
            @if(Request.QueryString["tipo"]=="1"){
                <text>$('#i_precos_coroas').addClass('active');</text>
            }else if(Request.QueryString["tipo"]=="2"){
                <text>$('#i_precos_arranjos').addClass('active');</text>
            }else if(Request.QueryString["tipo"]=="3"){
                <text>$('#i_precos_flores').addClass('active');</text>
            }else if(Request.QueryString["tipo"]=="4"){
                <text>$('#i_precos_buques').addClass('active');</text>
            }else if(Request.QueryString["tipo"]=="5"){
                <text>$('#i_precos_datas').addClass('active');</text>
            }else if(Request.QueryString["tipo"]=="6"){
                <text>$('#i_precos_eventos').addClass('active');</text>
            }
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

@if (Model.Any())
{
    foreach (var item in Model)
    {
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-20 i-table-1">@item.Nome
                @if (item.ProdutoTamanhoes.Count < ViewBag.Tamanhos)
                {
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Precos", new { produtoID = item.ID, tipo = Request.QueryString["tipo"] })';"/>
                }
            </span>    
        </div>
        <div class="mws-panel-body">
            
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Foto</th>                        
                        <th align="center">Tamanho</th>
                        <th style="text-align:center;width:150px;">Preço de venda</th>
                        <th style="text-align:center;width:150px;">Disponível</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (item.ProdutoTamanhoes.Any())
                {
                    foreach (var tamanho in item.ProdutoTamanhoes)
                    {
                    <tr>
                        <td><img src="/content/produtos/@item.ID/thumb/@item.Foto" height="50"/> @tamanho.Produto.Nome</td>
                        <td>@tamanho.Tamanho.Nome - @tamanho.Tamanho.Dimensao</td>
                        <td style="text-align:center;">@tamanho.Preco.ToString("C2")</td>
                        <td style="text-align:center;">@Html.Raw(tamanho.Disponivel ? "<b>SIM</b>" : "NÃO")</td>
                        <td class="center" style="width:164px;">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li>@Html.ActionLink("Editar", "Edit", new { produtoID = item.ID, id = tamanho.ID, tipo = Request.QueryString["tipo"] }, new { @class = "mws-ic-16 ic-edit" })</li>
                                    <li>
                                        @if (item.ProdutoTamanhoes.Count(c => c.PedidoItems.Count > 0) > 0)
                                        {
                                    <span style="font-size:10px;vertical-align:10px;" onclick="javascript:alert('Este item não pode ser excluído pois possui pedidos relacionados.');">Possui pedidos</span>
                                        }
                                        else
                                        {
							                @Html.ActionLink("Deletar", "Delete", new { id = tamanho.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })
                                        }
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há preços para este produto</td></tr>
                }
                </table>
        </div>
    </div>
    }
}
else
{
    <center><p>Você deve cadastrar os produtos desta categoria para definir preços.</p></center>
}