﻿@{
    ViewBag.Title = " - Login";
    Layout = "~/Views/Shared/New_Header.cshtml";
    var returlUrl = String.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "/empresas" : Request.QueryString["returnUrl"];
}
@section Script{
    @if (ViewBag.Mensagem != null)
    {
        <script type="text/javascript">
            alert('@Html.Raw(ViewBag.Mensagem)');
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {

            $("#esqueci").click(function () {
                if ($("#login").val() == '' || $("#login").val() == 'Seu email') {
                    alert('Preencha seu e-mail para receber sua senha');
                } else {
                    $("#enviando").show();
                    $.post("/Login/Enviar_Senha", { email: $("#login").val() }, function (data) {
                        alert(data);
                    });
                    $("#enviando").hide();
                }
            });
            $("#login-next").click(function () {
                if ($("#login").val() != "") {
                    $.post("/Home/GetEmpresa", { email: $("#login").val() }, function (data) {
                        if (data != undefined && data != "") {
                            for (var i = 0; i < data.length; i++) {
                                $("#empresa").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    });
                    $("#login-next").fadeOut(function () {
                        $(".hidden").fadeIn();
                    });
                    
                }
                else {
                    alert('Por favor, digite o seu e-mail.');
                }
            });

            $("#form_login").validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    login: "required",
                    empresa: "required",
                    senha: "required"
                },
                messages: {
                    login: "Digite seu e-mail",
                    empresa: "Selecione sua empresa",
                    senha: "Digite sua senha"
                }
            });
        });
    </script>
}
<section class="CenteredContainer">
    <h1>Acesso Empresas</h1>

    <div class="Column1">
        <h3>Sou um novo cliente</h3>
        <p>
            Cadastre-se e finalize sua compra:
            <br />
            é fácil, rápido e seguro.
        </p>
        <br />
        <input type="button" class="internalButton" onclick="javascript:window.location='/cadastre-se?returnUrl=@returlUrl';" value="Me Cadastrar" style="text-transform:none; float: none; width: 128px;" />
        <br />
        <p>
            <strong>Com dúvidas?</strong><br />
            Contate agora nossa Central de Atendimento e esclareça suas questões.
        </p>
    </div>

    <div class="Column2">
        @using (Html.BeginForm("index", "login", FormMethod.Post, new { id = "form_login", name = "form_login", enctype = "multipart/form-data", @class = "formulario" }))
        {
        <h3>Já Sou Cadastrado</h3>
        <input type="hidden" id="returnUrl" name="returnUrl" value="@returlUrl"/>
        <p>
            Bem vindo de volta! Se tiver problemas em acessar sua conta, clique em <a href="javascript:void(0)" id="esqueci">Esqueci Minha Senha.</a>
        </p>
          
            <input id="login" name="login" type="text" onfocus="this.value = this.value == 'e-mail' ? '' : this.value;" onblur="this.value = this.value == '' ? 'e-mail' : this.value;" tabindex="1" placeholder="Seu email" />
            <input type="button" name="login-next" id="login-next" value="Avançar" />
            
            <div class="hidden" style="display: none;">
                 <select id="empresa" name="empresa">
                    <option value="value">-- Selecione a Empresa --</option>
                </select>
                <input id="senha" name="senha" type="password" placeholder="Sua senha" onfocus="this.value = this.value == 'senha' ? '' : this.value;" onblur="this.value = this.value == '' ? 'senha' : this.value;" tabindex="2" />
                <input type="submit" name="login-send" id="login-send" value="Acessar" />
            </div>   
          
        }
    </div>
</section>
<div class="clear">
</div>
