﻿@model Web.Models.ColaboradorModel
@{
    Layout = null;
}

<div id="MenuUsuario"> 
    @if (!Model.Autenticado)
    {
    <text>
        Olá, visitante! <a href="@Url.Action("Index", "login")">Acessar Área Empresas</a>
    </text>
    }
    else
    { 
    <text>
        Olá, @Model.Nome! <a id="usuario-menu-sair" href="/login/sair">Sair</a>
    </text>
    }
</div>
<div class="atendimento">
    <div class="nav-institucional"> 
        <div class="bt">
            <a href="@Url.Action("Index", "sobre")">Sobre</a> 
        </div>
        <div class="bt">
            <a href="@Url.Action("Index", "produtos")">
                Produtos
            </a>
        </div>
        <div class="bt">
            <a href="@Url.Action("Index", "como-funciona")">
                Como Funciona
            </a>
        </div>
        <div class="bt">
            <a href="@Url.Action("Index", "contato")">
                Contato
            </a>
        </div>
        <div class="bt-login">
            @if (!Model.Autenticado)
            {
            <a href="@Url.Action("Index", "cadastre-se")">
                Cadastre-se!
            </a>
            }
            else
            {
            <a href="/empresas">Área Empresas</a>
            }
        </div> 
    </div>
</div> 