body {
    font-size: 12px;
    font-family: Arial,Verdana,Helvetica,Sans-Serif;
    margin: 0;
    padding: 0;
    color: #363636;
    overflow-x: hidden;
    font-weight: normal;
    background-color: #ececec
}

.btn-success {
    background-color: #ed5564 !important;
    color: #fff !important;
    border-color: #ed5564 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ed5564 !important;
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #ed5564 !important;
    color: #fff !important;
}

.navbar-default {
    background-color: #fcb813 !important;
    border-color: #ed5564 !important;
}

    .navbar-default .navbar-nav > li > a{
        color: #000!important;
    }

    .navbar-static-top {
        border-width: 0 0 5px !important;
    }

.navbar-header img.Logo {
    width: 52px;
}

.navbar-default{

}

.links {
    float: right;
    font-size: 10px;
    margin-top: -45px
}

.botao-comprar {
    width: 180px;
    height: 50px;
    background-color: #ff882b;
    color: #fff;
    font-size: 17px;
    border: 1px solid #000;
    text-transform: uppercase
}

a {
    color: #ff882b
}

.centro {
    text-align: center
}

header {
    width: 100%;
    margin-bottom: 20px
}

.conteudo {
    margin: 0 auto;
    width: 960px;
    background-color: #fff
}

.conteudo3 {
    margin: 0 auto;
    width: 950px;
    background-color: #ddd;
    margin-top: 20px;
    padding: 10px
}

.conteudo4 {
    margin: 0 auto;
    width: 950px;
    background-color: #fff;
    padding: 10px
}

.conteudo5 {
    margin: 0 auto;
    width: 960px;
    background-color: #fff
}

.conteudo6 {
    margin: 0 auto;
    width: 970px !important
}

.conteudo7 {
    margin: 0 auto;
    width: 945px !important;
    background-color: #777;
    color: #fff;
    padding: 10px 0 0 0 !important
}

    .conteudo7 .box-interno {
        background-color: #fff;
        padding: 10px
    }

.conteudo2 {
    margin: 0 auto;
    width: 960px;
    font-size: 14px;
    color: #ff882b;
    padding-top: 22px
}

    .conteudo2 .linha {
        margin-left: 170px;
        font-size: 14px;
        width: 640px;
        margin-top: -8px
    }

    .conteudo2 .usuario {
        float: right;
        color: #fff;
        font-size: 14px;
        display: inline;
        margin-top: -15px
    }

        .conteudo2 .usuario img {
            float: left;
            margin: -8px 10px 0 0
        }

header nav {
    background: #e4e4e2;
    background: -moz-linear-gradient(top,rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(228,228,226,1)),color-stop(100%,rgba(238,238,237,1)));
    background: -webkit-linear-gradient(top,rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%);
    background: -o-linear-gradient(top,rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%);
    background: -ms-linear-gradient(top,rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%);
    background: linear-gradient(to bottom,rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e2',endColorstr='#eeeeed',GradientType=0);
    clear: both;
    float: left;
    font-family: 'qlassik_medium',sans-serif !important;
    margin: 10px 0 0;
    width: 100%
}

    header nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 960px
    }

        header nav ul li {
            color: #616161;
            display: block;
            float: left;
            font-size: 20px;
            padding: 13px 18px 10px;
            text-transform: uppercase
        }

            header nav ul li a {
                color: #616161 !important;
                text-decoration: none
            }

            header nav ul li.ativo {
                background: #e3010f;
                color: #fff
            }

                header nav ul li.ativo a {
                    color: #fff !important
                }

            header nav ul li.active {
                background: #6c7118;
                color: #fff
            }

                header nav ul li.active a {
                    color: #fff !important
                }

#Topo {
    width: 100%;
    height: 70px;
    background-color: #444
}

#Topo2 {
    width: 100%;
    height: 70px;
    background-color: #fff
}

#Topo a.logo {
    float: left;
    margin-top: -20px
}

#Topo div.informacoes {
    float: right;
    width: 615px
}

    #Topo div.informacoes .atendimento {
        float: left;
        margin: 35px 0 0;
        width: 615px
    }

    #Topo div.informacoes .televendas {
        float: left;
        width: 615px;
        text-align: right;
        font-size: 20px
    }

        #Topo div.informacoes .televendas .icone {
            background: url("/content/images/ico-telefone.jpg") no-repeat scroll left center transparent;
            padding-left: 30px
        }

    #Topo div.informacoes .telefone {
        font-weight: bold;
        margin: -1px 0 0 0;
        font-size: 24px
    }

    #Topo div.informacoes div.nav-institucional {
        color: #5f5f3f;
        font-size: 16px;
        height: 26px
    }

        #Topo div.informacoes div.nav-institucional div.bt, #Topo div.informacoes div.nav-institucional div.bt-ativo {
            float: left;
            margin: 16px 12px 0
        }

            #Topo div.informacoes div.nav-institucional div.bt a {
                color: #5f5f3f;
                text-decoration: none
            }

            #Topo div.informacoes div.nav-institucional div.bt-ativo a {
                color: #76a12a;
                text-decoration: none;
                font-weight: bold
            }

        #Topo div.informacoes div.nav-institucional div.bt-login {
            float: left;
            margin: 6px 0 0;
            background-color: #ff882b;
            padding: 10px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            width: 178px;
            text-align: center
        }

            #Topo div.informacoes div.nav-institucional div.bt-login a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                font-weight: bold
            }

#MenuUsuario {
    font-size: 14px !important;
    float: right !important;
    margin-top: 7px
}

#Conteudo {
    margin: 10px auto 0 auto;
    font-size: 16px;
    background-color: #ececec
}

    #Conteudo h1, #Conteudo h2 {
        text-align: center
    }

#Rodape {
    background-color: #fff;
    border-top: 1px solid #d1d1d1;
    height: 68px
}

    #Rodape .icones {
        text-align: center;
        float: left
    }

#Rodape2 {
    background-color: #d9d9d9;
    border-top: 1px solid #d1d1d1;
    height: 273px
}

    #Rodape2 .logo-rodape {
        float: left
    }

    #Rodape2 .duvidas {
        float: left;
        margin-top: 170px;
        font-size: 18px;
        text-align: right;
        font-weight: bold
    }

    #Rodape2 .telefone-duvidas {
        color: #e0781c;
        font-size: 24px
    }

#Rodape3 {
    border-top: 1px solid #d1d1d1;
    background-color: #fff;
    height: 59px
}

    #Rodape3 .logo {
        font-weight: bold;
        font-size: 16px;
        float: left;
        padding-top: 20px
    }

        #Rodape3 .logo img {
            float: left;
            margin-top: -6px;
            margin-right: 10px
        }

footer {
    background-color: #fff
}

    footer nav {
        width: 100%;
        float: left;
        background: #dadada;
        padding-bottom: 15px
    }

        footer nav div.divisao {
            float: left;
            width: 180px;
            padding: 0 10px
        }

            footer nav div.divisao h3 {
                clear: both;
                color: #323232;
                font-family: 'qlassik_medium',sans-serif !important;
                float: left;
                margin: 20px 0 10px;
                font-size: 18px;
                font-weight: normal
            }

            footer nav div.divisao ul {
                float: left;
                clear: both;
                list-style: none;
                margin-bottom: 20px;
                margin-top: 0;
                *margin-left: 0;
                padding: 0
            }

                footer nav div.divisao ul li {
                    float: left;
                    clear: both;
                    height: 30px
                }

                    footer nav div.divisao ul li img {
                        float: left;
                        margin: 0 10px 0 0
                    }

            footer nav div.divisao a {
                color: #2d2d2d;
                font-size: 14px;
                text-decoration: none
            }

            footer nav div.divisao p {
                float: left;
                clear: both;
                color: #2d2d2d;
                font-size: 11px;
                margin: 0;
                width: 170px
            }

            footer nav div.divisao img {
                float: left;
                clear: both;
                margin-top: 10px
            }

hr.divisa {
    color: #e0781c;
    background-color: #e0781c;
    height: 1px;
    border: 0
}

.center {
    text-align: center
}

.btn-cadastro {
    width: 470px;
    height: 117px;
    background-color: #ff882b;
    color: #fff;
    font-size: 32px;
    border: 1px solid #000
}

.btn-cadastro2 {
    width: 320px;
    height: 82px;
    background-color: #ff882b;
    color: #fff;
    font-size: 32px;
    border: 1px solid #000
}

.btn-cadastro3 {
    width: 320px;
    height: 82px;
    background-color: #3b7c17;
    color: #fff;
    font-size: 32px;
    border: 1px solid #000
}

.btn-login {
    width: 220px;
    height: 42px;
    background-color: #ff882b;
    color: #fff;
    font-size: 22px;
    border: 1px solid #000
}

.float-cadastre {
    background: url("/content/images/float-cadastre.png") no-repeat scroll left center transparent;
    width: 254px;
    height: 232px;
    float: right;
    position: absolute;
    margin-top: -55px;
    margin-left: 600px
}

.space-100 {
    height: 100px
}

.titulo-funciona {
    display: inline-block;
    width: 100%
}

.processando {
    background: url('/content/images/loading.gif') 10px 50% no-repeat;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: none;
    float: right;
    font-size: 14px !important;
    margin: auto
}

.form {
}

    .form .right {
        text-align: right
    }

    .form .label {
        font-size: 14px;
        font-weight: normal;
        vertical-align: middle
    }

    .form input[type=text], .form input[type=password] {
        background-color: #f3f3f3;
        border: 1px solid #c3c3c3;
        color: #2d2d2d;
        font-size: 12px;
        font-weight: normal;
        padding: 2px;
        width: 100%;
        padding: 10px
    }

    .form textarea {
        background-color: #f3f3f3;
        border: 1px solid #c3c3c3;
        height: 150px;
        color: #2d2d2d;
        font-size: 12px;
        font-weight: normal;
        width: 100%;
        padding: 10px
    }

    .form select {
        background-color: #f3f3f3;
        border: 1px solid #c3c3c3;
        height: 40px;
        color: #2d2d2d;
        font-size: 12px;
        font-weight: normal;
        width: 100%;
        padding: 10px
    }

label.error {
    display: none !important
}

.esquerda {
    float: left
}

.direita {
    float: right
}

.message {
    font-size: 16px;
    border: 1px solid #d2d2d2;
    padding: 15px 8px 15px 45px;
    position: relative;
    vertical-align: middle;
    background: #f8f8f8;
    margin: 0 12px 12px 12px
}

    .message.erro {
        background-color: #ffcbca;
        background-image: url(/content/images/message-error.png);
        background-position: 12px 12px;
        background-repeat: no-repeat;
        border-color: #eb979b;
        color: #9b4449
    }

    .message.success {
        background-color: #e1f1c0;
        background-image: url(/content/images/message-success.png);
        background-position: 12px 12px;
        background-repeat: no-repeat;
        border-color: #b5d56d;
        color: #62a426
    }

    .message.warning {
        background-color: #fef0b1;
        background-image: url(/content/images/message-warning.png);
        background-position: 12px 12px;
        background-repeat: no-repeat;
        border-color: #ddca76;
        color: #a98b15
    }

    .message.info {
        background-color: #bce5f7;
        background-image: url(/content/images/message-info.png);
        background-position: 12px 12px;
        background-repeat: no-repeat;
        border-color: #a6d3e8;
        color: #11689e
    }

.tabela {
    border: 1px solid #c3c3c3
}

.tabela2 {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3
}

.tabela3 {
    border: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3
}

.tabela4 {
    border-bottom: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3
}

.font30 {
    font-size: 30px
}

.margem20 {
    margin: 20px
}

table.form td {
    padding: 10px
}

table.form .titulo {
    border: 1px solid #c3c3c3;
    height: 100px;
    background-color: #f3f3f3
}

    table.form .titulo td {
        padding-left: 30px
    }

    table.form .titulo b {
        font-size: 24px
    }

#categorias {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px #999;
    color: #111;
    display: none;
    min-width: 750px;
    padding: 25px
}

    #categorias h2 {
        text-align: center
    }

#lista-categorias {
    height: 1%;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    width: 960px;
    margin: 0 auto
}

    #lista-categorias .viewport {
        float: left;
        width: 240px;
        height: 150px;
        overflow: hidden;
        position: relative;
        width: 845px
    }

    #lista-categorias .buttons {
        background: url("/content/images/buttons.png") no-repeat scroll 0 0 transparent;
        display: block;
        margin: 100px 10px 0 0;
        background-position: 0 -38px;
        text-indent: -999em;
        float: left;
        width: 39px;
        height: 37px;
        overflow: hidden;
        position: relative
    }

    #lista-categorias .next {
        background-position: 0 0;
        margin: 100px 0 0 10px
    }

    #lista-categorias .disable {
        visibility: hidden
    }

    #lista-categorias .overview {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 240px;
        left: 0;
        top: 0
    }

        #lista-categorias .overview li {
            float: left;
            margin: 0 5px 0 0;
            padding: 1px;
            height: 133px;
            border: 2px solid #fff;
            width: 130px;
            text-align: center
        }

.categorias .overview li:hover, .categorias .overview li.ativo {
    border: 2px solid #ff6d02 !important
}

h2.titulo {
    color: #ff6d02;
    text-transform: uppercase
}

.item-lista {
    margin: 0 0 0 0;
    padding: 0
}

    .item-lista li .Texto {
        height: 45px
    }

    .item-lista li {
        color: #555;
        float: left;
        list-style: none outside none;
        width: 210px;
        margin: 4px;
        text-align: center;
        border: 1px solid #fff
    }

        .item-lista li a {
            color: #555;
            text-decoration: none
        }

        .item-lista li .imagem {
            border: 1px solid #fff;
            display: block;
            height: 224px;
            margin: 0 auto 10px auto;
            width: 193px
        }

.conteudoProdutos .text-center {
    border: 1px solid #fff
}

    .conteudoProdutos .text-center:hover {
        border: 1px solid #ccc
    }

.item-lista li .botao-comprar {
    width: 180px;
    height: 50px;
    background-color: #fdb100;
    color: #fff;
    font-size: 17px;
    border: 1px solid #000;
    text-transform: uppercase
}

.item-lista li .mais-detalhes {
    margin: -250px 0 0 80px;
    width: 400px;
    background-color: #fdb100;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #000
}

    .item-lista li .mais-detalhes .preco {
        font-size: 20px
    }

.laranja {
    color: #f70
}

#Autenticacao {
    float: left;
    margin: 10px;
    padding: 20px;
    width: 420px;
    height: 285px
}

.cinza600 {
    background: #ccc;
    background: -moz-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ececec),color-stop(100%,#e4e4e2));
    background: -webkit-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
    background: -o-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
    background: -ms-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
    background: linear-gradient(to bottom,#ececec 0%,#e4e4e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='#e4e4e2',GradientType=0);
    margin: 10px 0 20px 0;
    padding: 10px
}

.box-radius {
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#MenuUsuario #nome {
    color: #717171;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0 0
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px
}

    .menu li {
        float: left;
        list-style: none;
        padding: 14px
    }

.font-35 {
    font-size: 35px !important
}

.font-28 {
    font-size: 20px !important
}

.empresas {
    font-size: 14px;
    padding: 5px 20px 20px 20px;
    width: 930px
}

h1 {
    font-size: 24px;
    color: #ff882b;
    text-align: center
}

.empresas .busca {
    background-color: #777;
    color: #fff;
    font-size: 12px;
    border: 0;
    padding: 5px;
    width: 200px;
    height: 20px
}

.empresas select.busca {
    width: 300px;
    text-align: center !important;
    font-size: 12px;
    text-transform: uppercase;
    height: 30px
}

.empresas .pequeno {
    font-size: 12px
}

.empresas .tablelista {
    width: 930px;
    border: 1px solid #bbbbbc
}

    .empresas .tablelista th {
        background-color: #777;
        color: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: normal;
        padding: 16px
    }

    .empresas .tablelista .titulo td {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        padding: 10px
    }

    .empresas .tablelista .item td {
        background-color: #dedede;
        vertical-align: middle;
        text-align: center;
        height: 40px;
        border: 1px solid #bbbbbc
    }

        .empresas .tablelista .item td.od {
            background-color: #c8c8c8
        }

    .empresas .tablelista .item .data {
        color: #d79800;
        font-weight: bold
    }

.username {
    text-transform: uppercase
}

.depto {
    background-color: #ddd;
    color: #666;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4px
}

.empresas .tablelista .item .status {
    color: #fff;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase
}

.empresas .tablelista .item .solicitar {
    background-color: #656565;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px
}

    .empresas .tablelista .item .solicitar a {
        color: #fff
    }

.item .Paga {
    background-color: #4c8b26
}

.item .AguardandoPagamento {
    background-color: #d79800
}

.item .NovoPedido, .item .Nova {
    background-color: #313131;
    color: #fff
}

.item .PedidoEmAnalise, .item .AguardandoPagamento {
    color: #ffb400
}

.item .PedidoConcluido {
    color: #43cf01
}

.item .PedidoReprovado, .item .PedidoCancelado, .item .Cancelada, .item .Estornado {
    color: #e40101
}

.tabela {
    font-size: 14px;
    border: 0
}

    .tabela td {
        height: 30px
    }

    .tabela .titulo {
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px
    }

    .tabela .item {
        padding: 5px;
        height: 30px
    }

.tabela2 {
    border: 1px solid #ccc;
    color: #000;
    text-align: center
}

    .tabela2 tr:nth-child(odd) td {
        background-color: #dedede
    }

    .tabela2 tr:nth-child(even) td {
        background-color: #c8c8c8
    }

    .tabela2 tr:hover td {
        background-color: #fffbae
    }

label.erro {
    display: none !important
}

.center {
    text-align: center !important
}

.tabela3 {
    color: #f70;
    font-size: 20px;
    border: 0
}

.box_home {
    width: 300px;
    height: 132px;
    background-color: #2d2d2d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    color: #fff;
    margin: 11px
}

    .box_home .title {
        font-size: 16px;
        float: right;
        margin: 20px 20px 10px 180px;
        text-align: right
    }

    .box_home .total {
        font-size: 30px;
        float: right;
        margin: 10px 20px 0 0;
        width: 100px;
        text-align: right
    }

    .box_home .icone {
        float: left;
        margin: 14px 0 0 20px
    }

.azulclaro {
    color: #9ed3f5
}

.roxo {
    color: #b21864
}

.amarelo {
    color: #f9dd2f
}

.laranja {
    color: #ff882b
}

.verde {
    color: #4fd96c
}

.cinza {
    color: #a3a3a3
}

.box-cinza {
    height: 80px;
    width: 10px;
    background-color: #a3a3a3;
    margin-left: -10px
}

.box_valores {
    float: left;
    width: 460px
}

.conteudoProdutos h4 {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
    min-height: 30px
}

.conteudoProdutos .Texto span {
    font-size: 12px
}

    .conteudoProdutos .Texto span b {
        font-size: 18px;
        color: #000
    }

.form-horizontal .control-label {
    text-align: left !important;
    padding-bottom: 5px
}

.form-horizontal select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.conteudoProdutos .Produto {
    cursor: pointer;
    min-height: 335px;
}

.Pedido {
    padding-bottom: 20px
}

.CategoriasListaxx div {
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #eee
}

.CategoriasLista div {
    margin-bottom: 35px
}

.image-cropper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    float: left;
    border: 3px solid #ddd
}

.CategoriasLista a, .CategoriasLista a:active, .CategoriasLista a:visited {
    color: #333
}

    .CategoriasLista a:hover {
        color: #ff882b
    }

.CategoriasLista h3 {
    float: left;
    width: 50%;
    min-width: 200px;
    max-width: 50%;
    position: relative;
    top: 30px;
    padding: 0 10px
}

.image-cropper img {
    width: 170px;
    height: auto;
    min-height: 170px;
    position: relative;
    left: -10px;
    top: -10px
}

.ListagemPedidos i {
    font-size: 12px
}

.phoneOrSomething {
    position: relative;
    top: 30px;
    left: 15px;
    border-left: 1px solid #ccc;
    padding-left: 30px;
    height: 200px
}

.pedidoSucesso {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 0 0;
    margin-bottom: 36px
}

    .pedidoSucesso h2 {
        text-align: center;
        font-weight: bold
    }

    .pedidoSucesso h3 {
        text-align: center;
        font-weight: normal
    }

    .pedidoSucesso span {
        background-color: #ccc;
        width: 100%;
        height: 20px;
        display: block;
        text-align: center;
        padding: 15px 0 35px 0;
        margin-top: 20px
    }

.orcamentoSection {
    margin-bottom: 36px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px
}

    .orcamentoSection span {
        background-color: #ff882b;
        color: #fff;
        padding: 10px 15px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold
    }

    .orcamentoSection p {
        margin-bottom: 25px
    }

    .orcamentoSection a:hover {
        text-decoration: none
    }

.status {
    text-align: center
}

#AdrressPanel hr{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    #PrazoDeEntrega p.Loading {
        display: none;
    }

    #PrazoDeEntrega p.Result {
        display: none;
    }

    #PrazoDeEntrega p.active {
        display: block;
    }

.swal2-container {
    zoom: 1.5;
}