﻿body { 
    font-size: 12px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #363636;
    overflow-x:hidden;
}
a
{
    color: #e3010f; 
}
.centro
{
    text-align: center;
}
header
{
    float:left;
    clear:both;
    width:100%; 
}

.conteudo
{
    margin:0 auto;
    width:960px;
}

header nav
{
    background: rgb(228,228,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,228,226,1) 0%, rgba(238,238,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,226,1)), color-stop(100%,rgba(238,238,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e2', endColorstr='#eeeeed',GradientType=0 ); /* IE6-9 */
    clear:both;
    float: left;
    font-family: 'qlassik_medium', sans-serif !important;
    margin: 10px 0 0;
    width:100%;
}

header nav ul
{
    list-style:none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

header nav ul li
{
    color: #616161;
    display:block;
    float:left;
    font-size: 20px;
    padding: 13px 18px 10px;
    text-transform: uppercase;
}

header nav ul li a
{
    color: #616161 !important;
    text-decoration:none;
}

header nav ul li.ativo
{
    background: #e3010f;
    color: #ffffff;
}

header nav ul li.ativo a
{
    color: #ffffff !important;
}

header nav ul li.active
{
    background: #6c7118;
    color: #ffffff;
}

header nav ul li.active a
{
    color: #ffffff !important;
}

#slogan
{
    float:left;
    text-transform:uppercase;
    margin-left:60px;
    margin-top: 10px;
}
#Topo
{
    clear:both;
    float:left;
    width:100%;
}
#Topo a.logo
{ 
    float:left; 
    width: 276px;
}
#Topo div.informacoes
{
    float:right; 
    width: 660px;
}

#Topo div.informacoes .atendimento
{
    float:left;
    margin: 5px 0 0;
    width: 660px;
}

#Topo div.informacoes .televendas
{
    float: left;
    width: 660px;
    text-align: right;
    font-size:20px;
}
#Topo div.informacoes .televendas .icone
{
    background: url("/content/images/ico-telefone.jpg") no-repeat scroll left center transparent; 
    padding-left: 30px
}

#Topo div.informacoes .telefone
{
    font-weight: bold;
    margin: -1px 0 0 0;
    font-size:22px;
}

#Topo div.informacoes div.nav-institucional
{ 
    color: #5f5f3f; 
    font-size: 18px;
    height: 26px;
}

#Topo div.informacoes div.nav-institucional div.bt, #Topo div.informacoes div.nav-institucional div.bt-ativo
{
    float: left;
    margin: 16px 18px 0;
}
#Topo div.informacoes div.nav-institucional div.bt a
{
    color: #5f5f3f;
    text-decoration: none;
    text-transform:uppercase;
}
#Topo div.informacoes div.nav-institucional div.bt-ativo a
{
    color: #76a12a;
    text-decoration: none;
    font-weight:bold;
}
#Topo div.informacoes div.nav-institucional div.bt-login
{
    float: left;
    margin: 6px 0px 0; 
    background-color:#ff882b;
    padding:10px; 
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 140px;
    text-align: center;
}
#Topo div.informacoes div.nav-institucional div.bt-login a
{
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
#MenuUsuario
{
    font-size:14px!important;
    float:right!important; 
    padding-top:5px;
}
#Conteudo
{
    width:960px;
    margin: 10px auto 0 auto;
    font-size:16px;
}
#Conteudo h1, #Conteudo h2
{
    text-align:center;
}
#Rodape
{
    background-color:#fff;
    border-top:1px solid #d1d1d1;
    height:68px;
}
#Rodape .icones
{
    text-align:center;
    float:left; 
}
#Rodape2
{
    background-color:#d9d9d9;
    border-top:1px solid #d1d1d1;
    height:273px;
}
#Rodape2 .logo-rodape
{
    float:left;
}
#Rodape2 .duvidas
{
    float:left;
    margin-top: 170px;
    font-size:18px;    
    text-align:right;
    font-weight:bold;
}
#Rodape2 .telefone-duvidas
{
    color:#e0781c;
    font-size:24px;
}
#Rodape3
{
    border-top:1px solid #d1d1d1;
    background-color:#fff; 
    height:59px;
}
#Rodape3 .logo a
{ 
    text-decoration:none;
    color:#000;
}
#Rodape3 .logo
{ 
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding-top: 20px;
}
#Rodape3 .logo img
{
    float: left;
    margin-top: -6px;
    margin-right: 10px;
}
footer nav
{
    width:100%;
    float:left;
    background:#dadada;
    padding-bottom:15px;
}

footer nav div.divisao
{
    float:left;
    width:180px;
    padding:0 10px;
}

footer nav div.divisao h3
{
    clear: both;
    color: #323232;
    font-family: 'qlassik_medium', sans-serif !important;
    float: left;
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: normal; 
}

footer nav div.divisao ul
{
    float:left;
    clear:both;
    list-style:none;
    margin-bottom:20px;
    margin-top:0px;
    *margin-left: 0px;
    padding:0;
}

footer nav div.divisao ul li
{
    float:left;
    clear:both;
    height:30px;
}

footer nav div.divisao ul li img
{
    float:left;
    margin: 0px 10px 0 0;
}

footer nav div.divisao a
{
    color:#2d2d2d;
    font-size:14px;
    text-decoration:none;
}

footer nav div.divisao p
{
    float:left;
    clear:both;
    color:#2d2d2d;
    font-size:11px;
    margin:0;
    width: 170px;
}

footer nav div.divisao img
{
    float:left;
    clear:both;
    margin-top:10px;
}
hr.divisa
{
    color: #e0781c;
    background-color: #e0781c;
    height: 1px; 
    border:0px;  
}
.center
{
    text-align:center;
}
.btn-cadastro
{
    width:470px;
    height:117px;
    background-color:#ff882b;
    color:#fff;
    font-size:32px;
    border:1px solid #000;
    cursor:pointer;
}
.btn-cadastro2
{
    width:320px;
    height:82px;
    background-color:#ff882b;
    color:#fff;
    font-size:32px;
    border:1px solid #000;
    cursor:pointer;
}
.btn-cadastro3
{
    width:320px;
    height:82px;
    background-color:#3b7c17;
    color:#fff;
    font-size:32px;
    border:1px solid #000;
    cursor:pointer;
}
.btn-login
{
    width:220px;
    height:42px;
    background-color:#ff882b;
    color:#fff;
    font-size:22px;
    border:1px solid #000;
    cursor:pointer;
}
.float-cadastre
{
    background: url("/content/images/float-cadastre.png") no-repeat scroll left center transparent;
    width: 254px;
    height: 232px;
    float: right;
    position: absolute;
    margin-top: -55px;
    margin-left: 600px;
    
}
.space-100
{
    height:100px;
}
.titulo-funciona
{  
    display:inline-block;
    width:100%;
}
.processando
{
    background:url('/content/images/loading.gif') 10px 50% no-repeat;
    padding-left:50px;
    padding-bottom: 10px;
    padding-top: 10px;
    display:none;
    float: right;
    font-size:14px!important;
    margin:auto;
}
.form 
{
}
.form .right
{
    text-align:right;
}
.form .label
{
    font-size:14px;
    font-weight:normal;
    vertical-align:middle; 
}
.form input[type=text],.form input[type=password]
{
    background-color:#f3f3f3;
    border:1px solid #c3c3c3;
    height:18px;
    color:#2d2d2d;
    font-size:12px;
    font-weight:normal;
    padding:2px;
    width:100%;
    padding: 10px;
}
.form textarea
{
    background-color:#f3f3f3;
    border:1px solid #c3c3c3;
    height:150px;
    color:#2d2d2d;
    font-size:12px;
    font-weight:normal;
    width:100%;
    padding: 10px;
}
.form select
{
    background-color:#f3f3f3;
    border:1px solid #c3c3c3;
    height:50px;
    color:#2d2d2d;
    font-size:12px;
    font-weight:normal;
    width:110%!important;
    padding: 10px;
}
label.error
{
    display:none!important;
} 
.esquerda
{
    float:left;
}
.direita
{
    float:right;
}
.message
{	
	font-size:16px;
	border:1px solid #d2d2d2;
	padding:15px 8px 15px 45px;
	position:relative;
	vertical-align:middle;
	background:#f8f8f8;
	margin:0 12px 12px 12px;
}

.message.erro
{
	background-color:#ffcbca;
	background-image:url(/content/images/message-error.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#eb979b;
	color:#9b4449;
}

.message.success
{
	background-color:#e1f1c0;
	background-image:url(/content/images/message-success.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#b5d56d;
	color:#62a426;
}

.message.warning
{
	background-color:#fef0b1;
	background-image:url(/content/images/message-warning.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#ddca76;
	color:#a98b15;
}

.message.info
{
	background-color:#bce5f7;
	background-image:url(/content/images/message-info.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#a6d3e8;
	color:#11689E;
}
.tabela
{
    border:1px solid #c3c3c3;
}
.tabela2
{
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
}
.tabela3
{ 
    border:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
}
.tabela4
{
    border-bottom:1px solid #c3c3c3;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
}
.font30
{
    font-size:30px;
}
.margem20
{
    margin:20px;
}
table.form td
{
    padding:7px;
}
table.form .titulo
{
    border:1px solid #c3c3c3;
    height:100px;
    background-color:#f3f3f3;
} 
table.form .titulo td
{
    padding-left:30px;
}
table.form .titulo b
{
    font-size:24px;
}
#categorias
{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #999999;
    color: #111111;
    display: none;
    width: 950px;
    padding: 25px;
}
#categorias h2
{
    text-align:center;
}
#mensagem_erro
{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #999999;
    color: #111111;
    display: none;
    width: 450px;
    padding: 25px;
    text-align:center;
}
#mensagem_erro h2
{
    text-align:center;
    color:#ff7700;
}
/* Tiny Carousel */
#lista-categorias { height: 1%; overflow:hidden; padding: 0 0 10px;position: relative; width: 960px;margin: 0 auto;  }
#lista-categorias .viewport { float: left; width: 240px; height: 150px; overflow: hidden; position: relative;width: 845px; }
#lista-categorias .buttons { background:url("/content/images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 100px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#lista-categorias .next { background-position: 0 0; margin: 100px 0 0 10px;  }
#lista-categorias .disable { visibility: hidden; }
#lista-categorias .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
/*#lista-categorias .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 220px; border: 2px solid #fff;width: 236px;text-align: center;}*/
#lista-categorias .overview li{ float: left; margin: 0 5px 0 0; padding: 1px; height: 133px; border: 2px solid #fff;width: 130px;text-align: center;} 

.categorias .overview li:hover, .categorias .overview li.ativo{border: 2px solid #ff6d02!important;} 
h2.titulo
{
    color:#ff6d02;
    text-transform:uppercase;
}

.item-lista
{
    margin: 25px 0 0 0;
    padding:0;
}
.item-lista li
{
    color:#555;
    float: left;
    list-style: none outside none;
    padding: 10px;
    width: 210px; 
    margin:4px;
    text-align: center;
}
.item-lista li a
{
    color: #555555;
    text-decoration:none;
}
.item-lista li .imagem
{
    border: 1px solid #FFFFFF;
    display: block;
    height: 224px;
    margin: 0 auto 10px auto;
    width: 193px;
}
.item-lista li .imagem:hover
{
    border: 1px solid #ccc;    
}
.botao-comprar
{
    width: 180px;
    height: 50px;
    background-color: #ff882b;
    color: #fff;
    font-size: 17px;
    border: 1px solid #000;
    text-transform: uppercase;
}
.item-lista li .mais-detalhes
{
    margin: -250px 0 0 80px;
    width: 400px; 
    background-color:#ff882b;
    position:absolute;
    padding:10px;
    font-size:16px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #000;
}
.item-lista li .mais-detalhes .preco
{
    font-size:20px;
}
.laranja
{
    color:#ff7700;
}
#Autenticacao {
float: left;
margin: 10px;
padding: 20px;
width: 420px;
height: 285px;
}
.cinza600 {
background: #ccc;
background: -moz-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ececec),color-stop(100%,#e4e4e2));
background: -webkit-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
background: -o-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
background: -ms-linear-gradient(top,#ececec 0%,#e4e4e2 100%);
background: linear-gradient(to bottom,#ececec 0%,#e4e4e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='#e4e4e2',GradientType=0);
margin: 10px 0 20px 0;
padding: 10px;
}
.box-radius {
-webkit-border-radius: 5px;
border-radius: 5px;
}
#MenuUsuario #nome {
color: #717171;
display: block;
float: right;
font-size: 20px;
font-weight: normal;
margin: 15px 0 0;
}