﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_LayoutNeue.cshtml";
    ViewBag.Title = "Telefones de sua Região";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
    string Telefones = configuracoes.Telefones;

}

<section id="breadcrumbs">
    <!-- Container -->
    <div class="container">
        <div class="lining">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <li itemprop="title"><a href="/" itemprop="url">Home</a></li>
                    <li itemprop="title" class="active">Telefones de sua Região</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Título -->
<section class="internal telefones" id="title">
    <!-- Container -->
    <div class="container">
        <div class="lining">
            <div class="col-md-12">
                <h1>Telefones de sua Região</h1>
                <h2>Clique na sua região listada abaixo para ver o telefone</h2>
            </div>
        </div>
    </div>
    <!-- /Container -->
</section>
<!-- /Título -->

<section class="internal telefones" id="list">
    <!-- Container -->
    <div class="container">
        <div class="lining">
            <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <ul class="list-group">
                  <a href="/coroas-de-flores/coroa-de-flores-bauru-sp" class="list-group-item">Bauru e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg" class="list-group-item">Belo Horizonte e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-brasilia-df" class="list-group-item">Brasília e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/cidades/coroa-de-flores-campinas-sp" class="list-group-item">Campinas e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-campo-grande-ms" class="list-group-item">Campo Grande e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-cuiaba-mt" class="list-group-item">Cuiabá e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-curitiba-pr" class="list-group-item">Curitiba e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-florianopolis-sc" class="list-group-item">Florianópolis e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-fortaleza-ce" class="list-group-item">Fortaleza e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-goiania-go" class="list-group-item">Goiânia e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-joinville-sc" class="list-group-item">Joinville e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <span class="visible-sm visible-xs">
                  <a href="/coroas-de-flores/coroa-de-flores-londrina-pr" class="list-group-item">Londrina e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-maringa-pr" class="list-group-item">Maringá e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs" class="list-group-item">Porto Alegre e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-recife-pe" class="list-group-item">Recife e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-ribeirao-preto-sp" class="list-group-item">Ribeirão Preto e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj" class="list-group-item">Rio de Janeiro e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-salvador-ba" class="list-group-item">Salvador e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-santos-sp" class="list-group-item">Santos e Litoral <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp" class="list-group-item">São José dos Campos e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp" class="list-group-item">São Paulo e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sorocaba-sp" class="list-group-item">Sorocaba e Região <button class="btn btn-default">Ver Telefones</button></a>
                  </span>
                </ul>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <ul class="list-group">
                  <a href="/coroas-de-flores/coroa-de-flores-londrina-pr" class="list-group-item">Londrina e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-maringa-pr" class="list-group-item">Maringá e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs" class="list-group-item">Porto Alegre e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-recife-pe" class="list-group-item">Recife e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-ribeirao-preto-sp" class="list-group-item">Ribeirão Preto e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj" class="list-group-item">Rio de Janeiro e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-salvador-ba" class="list-group-item">Salvador e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-santos-sp" class="list-group-item">Santos e Litoral <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp" class="list-group-item">São José dos Campos e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp" class="list-group-item">São Paulo e Região <button class="btn btn-default">Ver Telefones</button></a>
                  <a href="/coroas-de-flores/coroa-de-flores-sorocaba-sp" class="list-group-item">Sorocaba e Região <button class="btn btn-default">Ver Telefones</button></a>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Container -->
</section>