﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Seja um Promotor";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#telefone').mask('(99) 99999999?9');
            $('#celular').mask('(99) 99999999?9');
            $('#cep').mask('99999-999');
            $("#form_promotor").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/seja-um-promotor/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/seja-um-promotor?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nome: "required",
                    cpf: "required",
                    cep: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    endereco: "required",
                    numero: "required",
                    bairro: "required",
                    cidade: "required",
                    uf: "required",
                    telefone: "required",
                    acordo: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nome: "Digite seu nome",
                    cpf: "Digite seu CPF",
                    cep: "Digite o CEP",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    endereco: "Digite o endereço",
                    bairro: "Digite o bairro",
                    cidade: "Digite a cidade",
                    numero: "Digite o número",
                    uf: "Digite o estado",
                    telefone: "Digite o telefone para contato",
                    acordo: "Você deve aceitar os termos e condições comerciais",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Seja um Promotor</b></span>    </div>
</div>
</div>


<div id="SejaParceira">
<div class="Div">

	<h1 class="TituloPagina">Seja um promotor</h1>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua solicitação foi enviada com sucesso! Por favor, aguarde nosso retorno.</div>
    }
    else
    {
	<div class="Div1">
		<div class="Div1Texto1">Você gostaria de ser um Promotor do Site Laços Flores?<br /><br />Além de ajudar outras pessoas com a aquisição deste tipo de produto em momentos delicados, você ainda recebe uma comissão para cada venda realizada.<br /><br />Para participar do nosso quadro de vendedores, basta preencher o cadastro abaixo (válido apenas para pessoa física).<br /><br />Nossa equipe entrará em contato com você para conhecer um pouco mais sobre a sua personalidade e sobre os seus atributos. Após a entrevista, você receberá um Código de Identificação (ou Código Promocional).<br /><br />Toda vez que uma compra online ou pelo televendas for realizada com o seu código, será creditada a comissão em sua conta.<br /><br />Preencha o formulário abaixo para receber mais informações</div>
	</div>
    
    using (Html.BeginForm("Enviar", "Seja-um-promotor", FormMethod.Post, new { id = "form_promotor", name = "form_promotor", enctype = "multipart/form-data", @class = "formulario" }))
    {   
    <div class="Formulario">

	    <div class="FormDiv1">
		    <div class="FormNomeCampo">Nome completo:</div>
		    <div class="FormCampo"><input type="text" id="nome" name="nome" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">CPF:</div>
		    <div class="FormCampo"><input type="text" id="cpf" name="cpf" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">CEP:</div>
		    <div class="FormCampo"><input type="text" id="cep" name="cep" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Endereço:</div>
		    <div class="FormCampo"><input type="text" id="endereco" name="endereco" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Número:</div>
		    <div class="FormCampo"><input type="text" id="numero" name="numero" class="FormCampoInputNC" /></div>
		    <div class="FormNomeCampo2">Compl.</div>
		    <div class="FormCampo"><input type="text" id="complemento" name="complemento" class="FormCampoInputNC" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Bairro:</div>
		    <div class="FormCampo"><input type="text" id="bairro" name="bairro" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Cidade:</div>
		    <div class="FormCampo"><input type="text" id="cidade" name="cidade" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Estado:</div>
		    <div class="FormCampo"><input type="text" id="uf" name="uf" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Telefone residencial:</div>
		    <div class="FormCampo"><input type="text" id="telefone" name="telefone" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Telefone celular:</div>
		    <div class="FormCampo"><input type="text" id="celular" name="celular" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Nextel:</div>
		    <div class="FormCampo"><input type="text" id="nextel" name="nextel" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Email:</div>
		    <div class="FormCampo"><input type="text" id="email" name="email" class="FormCampoInput" /></div>
	    </div>

	    <div class="FormDiv2">
		    <div class="FormNomeCampo">Como nos conheceu?</div>
		    <div class="FormCampo"><select id="como_nos_conheceu" name="como_nos_conheceu" class="FormCampoSelect"  id="conheceu" name="conheceu">		
					        <option>Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select></div>
	    </div>

	    <div class="FormDivValidacao">
		    <div class="FormNomeCampo">Validação:</div>
		    <div class="FormValidacaoCampo"> 
			    <div class="FormValidacaoCampo2">        
                        @captcha</div>
			    <div class="FormValidacaoTexto2"><input type="radio" id="acordo" name="acordo" /> Li e estou de acordo com os <a href="/termos-e-condicoes-comerciais" target="_blank" class="FormValidacaoTexto3">Termos e Condições Comerciais.</a></div>
		    </div>
	    </div>

	    <div class="FormDivBotao"><input type="submit" value="CADASTRAR" class="FormBotao" onmousedown="_gaq.push(['_trackEvent', 'form', 'promotor', 'enviou'])"/>
                        <span class="processando" id="processando">Enviando...</span></div>

        </div>

        <div class="Div1">
	        <div class="Div1Texto1">Agradecemos pela preferência!<br />Equipe Laços Flores.</div>
        </div>
        }
    }
</div>

</div>