﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Termos e condições comerciais";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "termos-e-condicoes-comerciais")" itemprop="url">      
      <span itemprop="title"><b>Termos e condições comerciais</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
<h1>Termos e condições comerciais</h1>

<p>O site <b>www.coroasparavelorio.com.br</b> vem por meio desta carta informar aos seus clientes e consumidores as práticas legais de uso de seu portal de vendas, aqui chamadas de Termos de Uso e Condições Comerciais.</p>

<p>Fica desde já claro que o site Coroas Para Velório poderá a qualquer momento alterar tais práticas sem qualquer tipo de prévio aviso aos seus clientes e parceiros. Qualquer tipo de atualização, modificação, revisão ou simples alteração ficará a total critério do site Coroas Para Velório.com.br e seus proprietários.</p>

<p>a) O site Coroas Para Velório tem o objetivo único de comercializar coroas de flores ou coroas fúnebres para cemitérios, velórios, hospitais, crematórios e lugares semelhantes;</p>

<p>b) Os produtos comercializados pelo site Coroas Para Velório.com.br bem como suas descrições poderão ser atualizados periodicamente sem prévio aviso aos clientes;</p>

<p>c) As atualizações dos produtos poderão ser feitas no sentido de melhoria, correção, sazonalidade de recursos ou qualquer outra necessidade identificada pelo site;</p>

<p>d) Todas as informações contidas no site Coroas Para Velório.com.br são de propriedade particular e estão proibidas de serem utilizadas para fins públicos sem a autorização dos proprietários;</p>

<p>e) Os clientes e usuários poderão utilizar as informações contidas no site Coroas Para Velório.com.br com a finalidade particular, exclusivamente, sem qualquer tipo de alteração ou modificação;</p>

<p>f) As únicas formas de pagamento aceitas pelo site Coroas Para Velório.com.br serão débitos em conta, boleto bancário, cartão de crédito, cheque e dinheiro. Qualquer outra forma de pagamento será vetada;</p>

<p>g) Os usuários e clientes são inteiramente responsáveis pelas informações pessoais que inserem nos processos de compras, não cabendo ao site Coroas Para Velório se responsabilizar pela veracidade das informações;</p>

<p>Agradecemos pela compreensão,<br />
Equipe Coroas Para Velório</p>

</div>