﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login | Área empresas | Coroas para velório</title>
	    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/itaubba/Content/css/estilo.css")" />
        
        <style type="text/css">
        body 
        {
            background: #ffffff;
        }
        </style>
    </head>

    <body>

	    <div id="Topo" class="qlassik">
    	    <div class="cinquenta">Acesso para empresas</div>
            <div class="cinquenta dir">Precisa de ajuda? <span class="vermelho">Atendimento 24h pelo 0800-777-1986</span> &nbsp; &nbsp;</div>
        </div>

        <div id="Container">
            
            <div id="Esqueci">
                <img src="@Url.Content("~/areas/itaubba/Content/img/logo-coroas-gde.png")" alt="Coroas para Velório" title="Coroas para Velório" border="0" />
                <h1 class="qlassik" style="text-transform: uppercase" align="center">Esqueci minha senha</h1>
                <form id="FormEsqueci" method="post" action="@Url.Action("enviar-senha", "login")">
                    <label>Digite seu email de acesso para que possamos lhe enviar seus dados:</label>
                    <input id="email" name="email" type="text" />
                    <input id="enviar" type="submit" value="enviar" />
                </form>
            </div>
        </div>

    </body>

</html>