﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login | Área empresas | Coroas para velório</title>
	    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/itaubba/Content/css/estilo.css")" />

        <style type="text/css">
        body 
        {
            background: #ffffff;
        }
        </style>
    </head>

    <body>

	    <div id="Topo" class="qlassik">
    	    <div class="cinquenta">Acesso para empresas</div>
            <div class="cinquenta dir">Precisa de ajuda? <span class="vermelho">Atendimento 24h pelo 0800-777-1986</span> &nbsp; &nbsp;</div>
        </div>

        <div id="Container">
            <div id="Login">
                <img src="@Url.Content("~/areas/itaubba/Content/img/logo-coroas-gde.png")" alt="Coroas para Velório" title="Coroas para Velório" border="0" />
                <h1 class="qlassik" style="text-transform: uppercase" align="center">Acesso para empresas</h1>
                <form id="FormLogin" method="post" action="@Url.Action("entrar")">
                    <input id="login" name="login" type="text" value="Usuário" onfocus="this.value = this.value == 'Usuário' ? '' : this.value;" onblur="this.value = this.value == '' ? 'Usuário' : this.value;" tabindex="1" />
                    <input id="senha" name="senha" type="password" value="Senha" onfocus="this.value = this.value == 'Senha' ? '' : this.value;" onblur="this.value = this.value == '' ? 'Senha' : this.value;" tabindex="2" />
                    <input id="entrar" type="submit" value="Acessar" tabindex="3" />
                    <a class="esqueci" href="@Url.Action("esqueci-minha-senha")">Esqueci minha senha</a>
                </form>
            </div>
        </div>

        @if (ViewBag.Mensagem != null)
        {
            <script type="text/javascript">
                alert('@Html.Raw(ViewBag.Mensagem)');
            </script>
        }

    </body>

</html>