﻿@model Domain.Entities.Categoria

@{
    ViewBag.Title = Model == null ? "Nova Categoria" : "Edição da categoria " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">@(Server.UrlDecode(Request.QueryString["erro"]))</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Categoria" : "Edição da categoria " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Categoria", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlenght = "100"})
                    </div>
                </div>  
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script src="@Url.Content("~/Scripts/plupload/plupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/plupload.html4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/jquery.plupload.queue/jquery.plupload.queue.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/i18n/pt-br.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/elrte/src/elrte/js/i18n/elrte.pt_BR.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                $("#enviar").hide();
                $("#processando").show();
                form.submit();
            },
            rules: {
                Nome: "required"
            },
            messages: {
                Nome: "O campo título é obrigatório."
            }
        });
    });
</script>
}