﻿@model Domain.Entities.ContatoFunararia

@{
    ViewBag.Title = Model == null ? "Novo Contato Funeraria" : "Edição do cliente " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Funerarias = (IEnumerable<Domain.Entities.Funeraria>)ViewBag.Funerarias;
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var administrador = (Domain.Entities.Administrador)ViewBag.Administrador;
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Nova Funerária</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "ContatoFuneraria", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block">
                <div class="mws-form-row mws-form-row-half">
                    <label>Funerária</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.Funeraria.ID, new SelectList(Funerarias, "ID", "RazaoSocial"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Telefone, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Celular</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Celular, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Request.QueryString["redirect"]))
                {
                    <input type="hidden" id="redirect" name="redirect" value="true" />
                }
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        $(document).ready(function () {

            if (getParameterByName("redirect") == "true")
            {
                var teste = parseInt(getParameterByName("funerariaid"));
                $('#Funeraria_ID option[value=' + teste + ']').attr("selected", "selected");                
            }

            $("#Celular").mask({ mask: "(##) ########?#", allowPartials: !0, placeholder: " " })
            $('#cliente').addClass('active');
            $('#i_fune_cont').addClass('active');

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    FunerariaID: "required",
                    Nome: "required"
                },
                messages: {
                    FunerariaID: "O campo Funerária é obrigatório",
                    Nome: "O campo nome é obrigatório"
                }
            });
        });
    </script>
}