﻿@model IEnumerable<Domain.Entities.Depoimento>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Depoimentos de Clientes";
    var depoimentosPF = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPF;
    var depoimentosPJ = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPJ;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}

    
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "depoimentos-de-clientes")" itemprop="url">      
      <span itemprop="title"><b>Depoimentos de Clientes</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Depoimentos de Clientes</h1>
    <div class="depoimento-metade">
        @if (depoimentosPF.Any())
        {
            <div class="title qlassik vermelho">
                <div class="ico"></div>
                <div class="txt">Pessoas Físicas</div>
            </div>
            foreach (var item in depoimentosPF)
            {
            <div class="box_lista">
                <div class="depoimento">
                    <p>
                        @item.Texto
                    </p>
                </div>
                <div class="baixo-depoimento"></div>
                <h3>@item.Nome</h3>
                <i>@*@item.Cidade - *@@item.Data.ToString("dd/MM/yyyy")</i>
            </div>
            }
            <input type="button" class="botaoCinza" onclick="javascript:window.location='@Url.Action("pessoas-fisicas", "depoimentos-de-clientes")';" value="ver mais depoimentos de pessoas físicas" />
            <br /><br />
            <input type="button" class="botao" onclick="javascript:window.location='/depoimentos-de-clientes/pessoas-fisicas/#envie';" value="Deixe aqui seu depoimento como pessoa física" />
           
        }
    </div>
    <div class="depoimento-metade">
        @if (depoimentosPJ.Any())
        {
            <div class="title qlassik vermelho">
                <div class="ico juridica"></div>
                <div class="txt">Pessoas Jurídicas</div>
            </div>
            foreach (var item in depoimentosPJ)
            {
            <div class="box_lista">
                <div class="depoimento">
                    <p>
                        @item.Texto
                    </p>
                </div>
                <div class="baixo-depoimento"></div>
                <h3>@item.Nome - @item.Empresa</h3>
                <i>@*@item.Cidade - *@@item.Data.ToString("dd/MM/yyyy")</i>
            </div>
            }
            <input type="button" class="botaoCinza" onclick="javascript:window.location='@Url.Action("pessoas-juridicas", "depoimentos-de-clientes")';" value="ver mais depoimentos de pessoas jurídicas" />
            <br /><br />
            <input type="button" class="botao" onclick="javascript:window.location='/depoimentos-de-clientes/pessoas-juridicas/#envie';" value="Deixe aqui seu depoimento como pessoa jurídica" />
        }
    </div>
</div>