﻿@model Domain.Entities.Promocao

@{
    ViewBag.Title = Model == null ? "Nova Promoção" : "Edição de promoção ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Promoção" : "Edição de promoção ")</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Promocao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID) 
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Desconto</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Desconto, new { @class = "mws-textinput", maxlength = "100" }) %
                    </div>
                </div>   
                <div class="mws-form-row">
                    <label>Data/Hora de Início</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.DataInicio, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Data/Hora de Término</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.DataFim, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "100" }) 
                    </div>
                </div>   
            
                <div class="mws-form-row">
                    <label>Produtos</label>
                    <div class="mws-form-item small">
                        @foreach (var produto in ViewBag.Produtos)
                        {
                            if (Model == null)
                            {
                            <input type="checkbox" name="produtos" value="@produto.ID" /> @produto.Nome <br />
                            }
                            else
                            {
                            <input type="checkbox" name="produtos" value="@produto.ID" @((Model.PromocaoProduto.Count(f => f.ProdutoID == produto.ID) > 0) ? "checked" : "") /> @produto.Nome <br />
                            }
                        }
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Publicado)  SIM
                    </div>
                </div>
            
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#conteudo').addClass('active');
        $('#i_promocao').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Desconto: {
                    required : true,
                    integer : true
                },
                DataInicio: "required",
                DataFim: "required"
            },
            messages: {
                Desconto: {
                    required : "O campo desconto é obrigatório.",
                    integer : "O campo desconto é numérico."
                },
                DataInicio: "O campo data de início é obrigatória.",
                DataFim: "O campo data de término é obrigatória."
            }
        });
    });
</script>
}