﻿@model Domain.Entities.PedidoEmpresa
           
@if (Model != null)
{
    <table cellpadding="0" cellspacing="0" border="0" width="350">
        <tr>
            <td width="175">
                <span>Produto: </span>
                <span>@Model.ProdutoTamanho.Produto.Tipo @Model.ProdutoTamanho.Produto.Nome (@Model.ProdutoTamanho.Tamanho.Nome)</span>
            </td>
            <td>
                <span>Data Criação:</span>
                <span>@Model.DataCriacao.ToString()</span>
            </td>
        </tr>

        <tr>
            <td width="175">
                <span>Faturado: </span>
                <span>@(Model.Faturamento == null ? "Não" : "Sim")</span>
            </td>
            <td>
                <span>Criado por: </span>
                <span>@Model.Colaborador.Nome</span>
            </td>
        </tr>

        <tr>
            <td width="175">
                <span>Status: </span>
                <span>@Domain.Helpers.EnumHelper.GetDescription(Model.Status)</span>    
            </td>
            <td>
                <span>Valor: </span>
                <span>@Model.Valor.ToString("c2")</span>
            </td>
        </tr>

        <tr>
            <td width="175">
                <span>Nome do Homenageado:</span>
                <span>@Model.PessoaHomenageada</span>  
            </td>
            <td>
                <span>Frase:</span>
                <span>@Model.Mensagem</span>
            </td>
        </tr>

        <tr>
            <td width="175">
                <span>Nome do Funcionário:</span>
                <span>@Model.NomeFuncionario</span>  
            </td>
            <td>
                <span>Parentesco:</span>
                <span>@Model.Parentesco</span>
            </td>
        </tr>
        
        <tr>
            <td width="175">
                <span>Departamento:</span>
                <span>@Model.Departamento</span>
            </td>
            <td>
                <span>Local de Entrega:</span>
                <span>@Model.LocalEntrega</span>
            </td>
        </tr>

        <tr>
            <td width="175">
                <span>Cidade:</span>
                <span>@Model.Cidade.Nome</span>
            </td>
            <td>
                <span>Estado:</span>
                <span>@Model.Estado.Nome</span>
            </td>
        </tr>
        
        <tr>
            <td width="175">
                <span>Data/Hora Solicitada:</span>
                <span>@Model.DataSolicitada.ToString("dd/MM/yyyy HH'h'mm")</span>
            </td>
            <td>
                <span>Observações:</span>
                <span>@Model.Observacoes</span>
            </td>
        </tr>
        
        <tr>
            <td width="175">
                <span>Telefone Contato:</span>
                <span>@Model.TelefoneContato</span>
            </td>
            <td>
            </td>
        </tr>
    </table>
    
}
else
{
    <p>Pedido inválido!</p>
}

