﻿@model IEnumerable<Domain.Entities.PedidoEmpresa>
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";
    var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;


    var de = "";
    var ate = "";
    var status = 0;
    var pedidos = Model;

    if (!String.IsNullOrEmpty(Request["de"]))
    {
        de = Request["de"];
        DateTime _de;
        if (DateTime.TryParse(de, out _de))
        {
            _de = new DateTime(_de.Year, _de.Month, _de.Day, 0, 0, 0);
            pedidos = pedidos.Where(p => p.DataCriacao >= _de);
        }
    }


    if (!String.IsNullOrEmpty(Request["ate"]))
    {
        ate = Request["ate"];
        DateTime _ate;
        if (DateTime.TryParse(ate, out _ate))
        {
            _ate = new DateTime(_ate.Year, _ate.Month, _ate.Day, 23, 59, 59, 999);
            pedidos = pedidos.Where(p => p.DataCriacao <= _ate);
        }
    }

    if (!String.IsNullOrEmpty(Request["status"]))
    {
        if (int.TryParse(Request["status"], out status))
        {
            pedidos = pedidos.Where(p => p.StatusID >= status);
        }
    }

}

<div id="Conteudo" class="pedidos">

    <div id="LegendaPedidos">
        <div class="item-legenda novo-pedido">Novo pedido</div>
        <div class="item-legenda pedido-analise">Em processamento</div>
        <div class="item-legenda pedido-reprovado">Pedido reprovado</div>
        <div class="item-legenda pedido-cancelado">Pedido cancelado</div>
        <div class="item-legenda pedido-entregue">Pedido entregue</div>
        <div class="item-legenda pedido-faturado">Pedido faturado</div>
    </div>

    <div id="Titulo">
        <span class="qlassik">Pedidos</span>
        <div class="filtro">
            Filtrar pedidos no período de 
            <input id="de" type="text" class="input-filtro" value="@de" />
            até 
            <input id="ate" type="text" class="input-filtro" value="@ate" />
            com status 
            <select id="status" class="select-filtro">
                <option value="">Todos</option>
                <option value="1" @(status == 1 ? "selected=\"selected\"" : "")>Novo pedido</option>
                <option value="2" @(status == 2 ? "selected=\"selected\"" : "")>Pedido em processamento</option>
                <option value="5" @(status == 5 ? "selected=\"selected\"" : "")>Pedido concluído</option>
                <option value="4" @(status == 4 ? "selected=\"selected\"" : "")>Pedido cancelado</option>
            </select>
            <input type="button" value="Filtrar" class="botao-filtrar" onclick="Filtrar()" />
        </div>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
		<table cellpadding="0" cellspacing="0" border="0" width="1120" id="ListaGrande">
        @if (pedidos.Any())
        {
            foreach (var pedido in pedidos)
            {
                <tr class="item" bgcolor="#e9e9e9">
                    <td width="85"><img src="@Url.Content("~/Content/" + "/Produtos/" + pedido.ProdutoTamanho.ProdutoID + "/thumb/" + pedido.ProdutoTamanho.Produto.Foto)" alt="@pedido.ProdutoTamanho.Produto.Nome" style="margin: 0 0 0 15px;" width="50" /></td>
                    <td width="260">
                        <small>@Domain.Helpers.EnumHelper.GetDescription(pedido.ProdutoTamanho.Produto.Tipo)</small><br />
                        <span>@pedido.ProdutoTamanho.Produto.Nome (@pedido.ProdutoTamanho.Tamanho.Nome - @pedido.ProdutoTamanho.Tamanho.Dimensao)</span>
                    </td>
                    <td width="180">
                        <small>Valor</small><br />
                        <span>@pedido.Valor.ToString("c2")</span>
                    </td>
                    <td width="220">
                        <small>Data</small><br />
                        <span>@pedido.DataCriacao.ToShortDateString()</span>
                    </td>
                    <td width="220">
                        <small>Solicitante</small><br />
                        <span>@pedido.Colaborador.Nome</span>
                    </td>
                    <td width="215">
                        <div class="caixa-status">
                            @switch (pedido.Status)
                            {
                                case Domain.Entities.PedidoEmpresa.TodosStatus.NovoPedido:
                                    <img src="@Url.Content("~/areas/itaubba/Content/img/ico-novo.jpg")" border="0" alt="Novo Pedido" />
                                         break;
                                case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoReprovado:
                                    <img src="@Url.Content("~/areas/itaubba/Content/img/ico-reprovado.jpg")" border="0" alt="Pedido Reprovado" />
                                         break;
                                case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado:
                                    <img src="@Url.Content("~/areas/itaubba/Content/img/ico-cancelado.jpg")" border="0" alt="Pedido Cancelado" />
                                         break;
                                case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoEmAnalise:
                                    <img src="@Url.Content("~/areas/itaubba/Content/img/ico-analise.jpg")" border="0" alt="Pedido em Processamento" />
                                         break;
                            }
                         </div>
                            
                            @if (pedido.DataEntrega.HasValue)
                            {
                                    
                        <div class="caixa-status"><img src="@Url.Content("~/areas/itaubba/Content/img/ico-entregue.jpg")" border="0" alt="Pedido Entregue" /></div>
                            }
                            @if (pedido.FaturamentoID.HasValue)
                            {
                                    
                        <div class="caixa-status"><img src="@Url.Content("~/areas/itaubba/Content/img/ico-faturado.jpg")" border="0" alt="Pedido Faturado" /></div>
                            }
                    </td>
                    <td width="160">
                    @if (colaborador.Tipo == Domain.Entities.Colaborador.Tipos.Master)
                    {
                        <div class="botao-detalhes" onclick="Pedido.Solicitar('@pedido.Codigo')">solicitar faturamento</div>
                    }
                        <div class="botao-imprimir-boleto" onclick="Pedido.Abrir('@pedido.Codigo')">mais detalhes</div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="item" bgcolor="#e9e9e9"><td colspan="6" align="center">Nenhum pedido localizado.</td></tr>
        }
        </table>
    </div>
    
    @Html.Partial("Rodape")
</div>

<div id="Detalhes">
    <div class="close">
        <a href="javascript:void(0);" onclick="Pedido.Fechar()">x</a>
    </div>
    <div class="conteudo"></div>
</div>

@section Script{
    <script type="text/javascript">

        var Pedido = new function () {
            this.Abrir = function (codigo) {
                $('#Detalhes').show();
                $('#Detalhes div.conteudo').html('');
                $.post('@Url.Action("detalhes")', { codigo: codigo }, function (data) {
                    $('#Detalhes div.conteudo').html(data);
                });
            };

            this.Solicitar = function (codigo) {
                $.post('@Url.Action("solicitar")', { codigo: codigo }, function (data) {
                    alert('Um email foi enviado aos administradores solicitando o faturamento desse pedido. Obrigado!');
                });
            };

            this.Fechar = function () {
                $('#Detalhes').hide();
            };
        };

        function Filtrar() {
            var url = '@Url.Action("Index")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&status=' + $('#status').val();
            window.location = url;
        }

        $(document).ready(function(){
            $("#de").mask("99/99/9999");
            $("#de").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#ate").mask("99/99/9999");
            $("#ate").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
    </script>
}