﻿@{
    ViewBag.Title = "Novo Pedido";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var relacionamentos = (IEnumerable<Domain.Entities.Relacionamento>)ViewBag.Relacionamentos;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    var produtosTamanhos = (IEnumerable<Domain.Entities.EmpresaProdutoTamanho>)ViewBag.ProdutosTamanhos;

    var produtos = produtosTamanhos.GroupBy(p => p.ProdutoTamanho.Produto);
}

<div id="Conteudo">
    <div id="Titulo" class="qlassik">Novo Pedido</div>
    <div id="Pagina">
        <form id="form-pedido" action="" method="post">
            <input id="produto" name="produto" type="hidden" value="" />
            <div class="cinquenta">
                <div class="passos-compra">Selecione a coroa</div>
                <table cellpadding="0" cellspacing="0" border="0" width="494" class="coroas">
                
                    @foreach (var produto in produtos)
                    {
                    <tr id="Produto_@(produto.Key.ID)" class="item">
                        <td width="87"><img src="@Url.Content("~/Content/" + "/Produtos/" + produto.Key.ID + "/thumb/" + produto.Key.Foto )" width="70" style="margin: 5px" alt="@produto.Key.Nome" /></td>
                        <td width="140">
                            <small>@Domain.Helpers.EnumHelper.GetDescription(produto.Key.Tipo)</small><br />
                            <span class="nome">@produto.Key.Nome</span>
                        </td>
                        <td width="10"></td>
                        <td width="256">
                            <table cellpadding="0" cellspacing="0" border="0" width="256" class="tamanhos">
                                @{
                                    var primeiro = true;
                                }
                                @foreach (var tamanho in produto)
                                {
                                    if (!primeiro)
                                    {
                                    <tr class="div" height="2">
                                        <td colspan="3"></td>
                                    </tr>
                                    }
                                    <tr id="Tamanho_@(tamanho.ID)">
                                        <td width="74">@tamanho.ProdutoTamanho.Tamanho.Nome <br />@tamanho.ProdutoTamanho.Tamanho.Dimensao</td>
                                        <td width="74"><span class="vermelho">@tamanho.Valor.ToString("c2")</span></td>
                                        <td>
                                            <div class="botao-selecionar" onclick="Selecionar(@(produto.Key.ID), @tamanho.ID)">Selecionar</div>
                                        </td>
                                    </tr>
                                    primeiro = false;
                                }
                            </table>
                        </td>
                    </tr>
                    }
                
                </table>
            </div>
            <div class="cinquenta">
	            <div class="passos-compra preencha-infos">Preencha algumas informações</div>
                <table cellspacing="0" cellpadding="0" border="0" width="470">
                    <tr>
                        <td>Nome do homenageado</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="pessoa-homenageada" name="pessoa-homenageada" type="text" style="width:500px;" />
                        </td>
                    </tr>
                        
                    <tr>
                        <td>Frase para homenagem</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @if (empresa.FraseFixa)
                            {
                                <select id="frases" name="frases" style="width:500px;">       
                                    <option value="">-- selecione uma sugestão --</option>
                                @foreach (var frase in empresa.EmpresaFrase)
                                {               
                                    <option value="@frase.Frase">@frase.Frase</option>                                    
                                }
                                </select>
                            }
                            else
                            {
                            <select id="frases" name="frases" style="width:500px;"> 
                                    <option value="">-- selecione uma sugestão --</option>
                                    <optgroup label="COLEGAS DE TRABALHO"></optgroup>
                                    <optgroup label="- Mais Usadas">                                                        
                                        <option value="Sentimentos dos Amigos da (nome da empresa)">Sentimentos dos Amigos da (nome da empresa)</option>
                                        <option value="Homenagem dos Amigos da (nome da empresa)">Homenagem dos Amigos da (nome da empresa)</option>
                                        <option value="Condolências dos Amigos da (nome da empresa)">Condolências dos Amigos da (nome da empresa)</option>
                                        <option value="Saudades dos Amigos da (nome da empresa)">Saudades dos Amigos da (nome da empresa)</option>
                                    </optgroup>
                                    <optgroup label="- Sofisticadas">
                                        <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)</option>
                                        <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">Sinceras condolências dos Diretores e Funcionários da (nome da empresa)</option>
                                        <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)</option>
                                        <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">Condolências dos Diretores e Colaboradores da (nome da empresa)</option>
                                        <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)</option>
                                    </optgroup>
                                    <optgroup label="- Empresas">
                                        <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>
                                        <option value="Sentimentos aos familiares – (nome da empresa)">Sentimentos aos familiares – (nome da empresa)</option>
                                        <option value="Condolências aos familiares – (nome da empresa)">Condolências aos familiares – (nome da empresa)</option>
                                        <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos</option>
                                    </optgroup>
                                    <optgroup label="FAMILIARES">
                                        <option value="Uma homenagem de toda a Família (sobrenome da família)">Uma homenagem de toda a Família (sobrenome da família)</option>
                                        <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)</option>
                                        <option value="Sinceras condolências de toda a Família (sobrenome da família)">Sinceras condolências de toda a Família (sobrenome da família)</option>
                                        <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">Condolências aos amigos e parentes – Família (sobrenome da família)</option>
                                        <option value="Com carinho, uma homenagem da Família (sobrenome)">Com carinho, uma homenagem da Família (sobrenome)</option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família   (sobrenome)</option>
                                        <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">Saudades de todos os seus familiares – Família (sobrenome da família)</option>
                                    </optgroup>  
                                    <optgroup label="AMIGOS PRÓXIMOS">
                                        <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)</option>
                                        <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">Saudades eternas de uma pessoa especial – Amigos da (referência)</option>
                                        <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">"Obrigado por fazer parte de nossas vidas – Amigos da (referência)</option>
                                        <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">Você sempre estará presente em nossos corações – Amigos da (referência)</option>
                                        <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)</option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)</option>
                                        <option value="Descanse em paz e vá com Deus – Amigos da (referência)">Descanse em paz e vá com Deus – Amigos da (referência)</option>
                                        <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">Foi uma honra contar com a sua amizade – Amigos da (referência)</option>
                                        <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">Ao melhor amigo do mundo – (nome da pessoa que está enviando)</option>
                                    </optgroup>     
                                    }
                            </select>
                            <a id="personalizar" href="javascript:void(0);" onclick="Personalizar()" style="color: #91aa27; font-size: 14px; text-decoration: underline">personalizar</a>
                            <a id="escolher" href="javascript:void(0);" onclick="Escolher()" style="display:none; color: #91aa27; font-size: 14px; text-decoration: underline; margin-bottom: 15px; float: right">escolher outra frase</a>
                            }
                            <input id="mensagem" name="mensagem" type="text" style="display:none; margin-bottom: 5px" />
                        </td>
                    </tr>
                        
                    <tr>
                        <td>Nome do funcionário <br /><i>(Familiar do Homenageado)</i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="nome-funcionario" name="nome-funcionario" type="text"  style="width:500px;"/>
                        </td>
                    </tr>
                        
                    <tr>
                        <td>Grau de parentesco</td>
                        <td>&nbsp;&nbsp;Departamento</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="parentesco" name="parentesco">
                                <option value="">selecione um grau de parentesco</option>
                                <option value="Pai">Pai</option>
                                <option value="Mãe">Mãe</option>
                                <option value="Filho(a)">Filho(a)</option>
                                <option value="Irmão(ã)">Irmão(ã)</option>
                                <option value="Cônjuge">Cônjuge</option>
                            </select>
                        </td>
                        <td>
                            <input id="departamento" name="departamento" type="text" class="menor right" />
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">
                            <span style="color: #2f2f2f; font-size:20px">Dados de entrega</span>
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">Local <small>(ATENÇÃO! Preencha o máximo de informações possíveis)</small></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="local" name="local" type="text"  style="width:500px;"/>
                        </td>
                    </tr>
                        
                    <tr>
                        <td>Estado</td>
                        <td>Cidade</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="estado" name="estado">
                                <option value="">selecione um estado</option>
                                @foreach (var estado in estados)
                                {
                                    <option value="@estado.ID">@estado.Nome</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select id="cidade" name="cidade">
                                <option value="">selecione uma cidade</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>Horário</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="data" name="data" type="text" class="menor" />
                        </td>
                        <td>
                            <input id="hora" name="hora" type="text" class="menor right" />
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">Observações adicionais:</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="observacoes" name="observacoes" type="text"  style="width:500px;"/>
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">Telefone p/ contato <small>(ATENÇÃO! Verifique se o telefone está correto)</small></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="telefone-contato" name="telefone-contato" type="text" class="menor" />
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Finalizar pedido" class="finalizar-pedido qlassik" id="finalizar" />
                            <div class="processando" id="processando">Processando, por favor, aguarde...</div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#estado').change(function () {
                var estado = $('#estado').val();
                $('#cidade').html('<option value="">selecione uma cidade</option>');
                if (estado != null) {
                    $.post('@Url.Action("cidades")', { estadoID: estado }, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var c in data) {
                            html += '<option value="' + data[c].ID + '">' + data[c].Nome + '</option>';
                        }
                        $('#cidade').html(html);
                    });
                }
            });
            $('#estado').val('');

            $('#frases').change(function () {
                $('#mensagem').val($('#frases').val());
            });

            $("#data").mask("99/99/9999");
            $("#data").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#hora").mask("99:99");

            $("#form-pedido").validate({
                meta: 'validate',
                onkeyup: false,
                errorClass: 'erro',
                submitHandler: function (form) {
                    var produto = $('#produto').val();
                    if (produto == '') {
                        alert('Selecione um produto');
                    } else {
                        $('#finalizar').hide();
                        $('#processando').show();
                        var pessoaHomenageada = $('#pessoa-homenageada').val();
                        var mensagem = $('#mensagem').val();
                        var nomeFuncionario = $('#nome-funcionario').val();
                        var parentesco = $('#parentesco').val();
                        var departamento = $('#departamento').val();
                        var local = $('#local').val();
                        var estado = $('#estado').val();
                        var cidade = $('#cidade').val();
                        var data = $('#data').val();
                        var hora = $('#hora').val();
                        var observacoes = $('#observacoes').val();
                        var telefoneContato = $('#telefone-contato').val();
                        $.post('@Url.Action("criar")', { produto: produto, pessoaHomenageada: pessoaHomenageada, mensagem: mensagem, nomeFuncionario: nomeFuncionario, parentesco: parentesco, departamento: departamento, local: local, estado: estado, cidade: cidade, data: data, hora: hora, observacoes: observacoes, telefoneContato: telefoneContato }, function (data) {
                            if (data == 'OK') {
                                alert('Sua pedido foi criado com sucesso. Obrigado!');
                                window.location = '@Url.Action("Index")';
                            } else {
                                $('#finalizar').show();
                                $('#processando').hide();
                                alert(data);
                            }
                        });
                    }
                },
                rules: {
                    'data': 'required',
                    'hora': 'required'
                    /*,
                    'pessoa-homenageada': 'required',
                    'mensagem': 'required',
                    'frases': 'required',
                    'nome-funcionario': 'required',
                    'parentesco': 'required',
                    'departamento': 'required',
                    'local': 'required',
                    'estado': 'required',
                    'cidade': 'required',
                    'observacoes': 'required',
                    'telefone-contato': 'required'*/
                },
                messages: {
                    'data': 'Preencha a Data',
                    'hora': 'Preencha a Hora'
                    /*,
                    'pessoa-homenageada': 'Preencha o Nome do Homenageado',
                    'mensagem': 'Preencha a Mensagem',
                    'frases': 'Selecione uma Mensagem',
                    'nome-funcionario': 'Preencha o Nome do Funcionário',
                    'parentesco': 'Selecione o Grau de Parentesco',
                    'departamento': 'Preencha o Depertamento',
                    'local': 'Preencha o Local',
                    'estado': 'Selecione o Estado',
                    'cidade': 'Selecione a Cidade',
                    'observacoes': 'Preencha as Informações',
                    'telefone-contato': 'Preencha o Telefone de Contato'
                    */
                }
            });
        });

        function Selecionar(produtoID, tamanhoID) {
            $('#Container #Conteudo #Pagina .cinquenta table tr.item').addClass('desabilitado');
            $('table.tamanhos tr.selecionado').removeClass('selecionado');
            $('#Produto_' + produtoID).removeClass('desabilitado');
            $('#Produto_' + produtoID + ' table.tamanhos tr').addClass('desabilitado');
            $('#Tamanho_' + tamanhoID).removeClass('desabilitado');
            $('#Tamanho_' + tamanhoID).addClass('selecionado');

            $('#produto').val(tamanhoID);
        }

        function Personalizar() {
            $('#escolher').show();
            $('#mensagem').show();
            $('#personalizar').hide();
            $('#frases').hide();
        }

        function Escolher() {
            $('#escolher').hide();
            $('#mensagem').hide();
            $('#personalizar').show();
            $('#frases').show();
        }

    </script>
}