﻿@model IEnumerable<Domain.Entities.Local>
@{
    ViewBag.Title = "Cidades e Regiões";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var destaques = (List<Domain.Entities.Local>)ViewBag.Destaques;
    var estados = (List<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "cidades-e-regioes")" itemprop="url">      
      <span itemprop="title"><b>Cidades e Regiões</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo page-cemiterios">
    
    <h1>Cidades e Regiões</h1>
    <h2>Para qual cidade você precisa de Coroa de Flores?</h2>
	
    <div id="buscar-pagina-velorios">
        <div class="title">Procure aqui a cidade que deseja enviar coroas de flores: </div>
        
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
            <input type="text" placeholder="Cidades" title="digite o local" name="termo" id="local-termo">
            <input type="submit" title="buscar">
        </form>
    </div>

    @if (destaques.Any())
    {
        
	    <h2>Cidades mais buscadas</h2>
	
        foreach (var item in destaques)
        {
            var foto = "";
            var css = "";
            if (item.Foto.Length > 0)
            {
                foto = "background: url('/content/locais/" + item.ID + "/thumb/" + item.Foto + "')!important;";
            }
            else
            {
                css = Enum.GetName(typeof(Domain.Entities.Local.Tipos), item.TipoID).ToLower();
            }
            <a href="@Url.RouteUrl("Local", new { rotuloUrl = item.RotuloUrl })">
	            <div class="resultado @css" style="@foto">
		            <div class="titulo">@item.Titulo</div>
	            </div>
            </a>
        }
    }
<h2 class="qlassik vermelho" style="margin-top:40px;float:left;">
    Não encontrou sua cidade? <br />Ligue agora para nossa Central de Atendimento 24h:  @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)!
</h2>
	
	<div class="clear"></div>
	<br /><br />
	<h2>Todas as cidades cadastradas</h2>
	 
    @foreach (var estado in estados)
    {
        var locais = Model.Where(l => l.EstadoID == estado.ID).OrderBy(l => l.Titulo).ToList();
        if (locais.Any())
        {
	        <div class="lista-cidades box-radius cinza600">
		        <div class="estado vermelho">@estado.Nome</div>
		        <ul>
                    @foreach (var local in locais)
                    {
			        <li><a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })" style="@((local.Principal) ? "font-weight: bold;" : "")">@local.Titulo @(local.TotalLocaisRelacionados > 0 ? "(" + local.TotalLocaisRelacionados + ")" : "")</a><br /><br /></li>
                    }
		        </ul>
	        </div>
        }
    } 
<h2 class="qlassik" style="margin-top:40px;float:left;">
    Não encontrou sua cidade? <br />Ligue agora para nossa Central de Atendimento 24h:  @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)!
</h2>
</div>