﻿@model System.Web.Mvc.HandleErrorInfo
@{ 
    Layout = null;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    if (Model != null && Model.Exception != null)
    {

        MvcExtensions.Security.Models.LoggedUser logged_user = new MvcExtensions.Security.Models.LoggedUser();
        string user_data = "";
        try
        {
            logged_user = MvcExtensions.Security.Models.LoggedUser.GetFromJSON(HttpContext.Current.User.Identity.Name);
            user_data = "Anonymous";
            if (logged_user != null)
            {
                if (logged_user.ID > 0)
                {
                    user_data = "ID = " + logged_user.ID + " | Username = " + logged_user.Username;
                }
            }

        }
        catch { }


        var querystring = "";
        foreach (string key in Request.QueryString.Keys)
        {
            querystring += key + " = " + Request.QueryString[key] + "<br>";
        }
        var form = "";
        foreach (string key in Request.Form.Keys)
        {
            form += key + " = " + Request.Form[key] + "<br>";
        }

        var MSG = Model.Exception.Message;

        System.Data.UpdateException updateException = (System.Data.UpdateException)Model.Exception.InnerException;

        if(updateException != null){
            System.Data.SqlClient.SqlException sqlException = (System.Data.SqlClient.SqlException)updateException.InnerException;

            foreach (System.Data.SqlClient.SqlError error in sqlException.Errors)
            {
                MSG += " --- " + error.Message;
            }

            MSG += Model.Exception.Message;
        }



        try
        {
            System.Data.UpdateException updateExceptiona = (System.Data.UpdateException)Model.Exception.InnerException;
            System.Data.SqlClient.SqlException sqlExceptiona = (System.Data.SqlClient.SqlException)updateException.InnerException;

            MSG += " | " + sqlExceptiona.InnerException + " | " + sqlExceptiona.Message + " | " + sqlExceptiona.ErrorCode;
        }
        catch
        {
        }

        var log_message = string.Format("O seguinte erro ocorreu no site:\n\n<b>Controler</b>: {0}\n\n<b>Action</b>: {1}\n\n<b>Url</b>: {2}\n\n<b>User</b>: {3}\n\n<b>Querystring</b>:<br> {4}\n\n<b>Form</b>:<br> {5}\n\n<b>Exception</b>:<br> {6}\n\n<b>Stack Trace</b>:<br> {7}", Model.ControllerName, Model.ActionName, System.Web.HttpContext.Current.Request.Url, user_data, querystring, form, MSG, Model.Exception.StackTrace);

        if(Model.ControllerName != "DefaultCaptcha" && Model.ActionName != "Refresh")
        {
            try
            {
                if(Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO.Length > 0){
                    Domain.Core.Funcoes.EnviaEmail(Domain.Core.Configuracoes.EMAIL_NOREPLY, "Não Responder", Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO, "Coroas para Velório", Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO, "Coroas para Velório", "", "[COROAS PARA VELORIO] - ERRO ENCONTRADO NO SITE", log_message.Replace("\n", "<br>"), true);
                }
            }
            catch { }
        }
    }

}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />
    <meta name="description" content="Erro" />
    <title>Erro</title>
    <meta name="robots" content="index, follow">

    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
</head>

<body>
    <center>
        <h1>Oops!</h1>
        <h2>Desculpe-nos!<br /><br />Ocorreu um erro ao tentar executar a página...</h2>
        <p>Não se preocupe, nossa equipe já foi avisada. Tente novamente mais tarde.</p>
        <i>
            @if (Model != null && Model.Exception != null)
            {
                <p><b>Exception:</b> @Model.Exception.Message</p>
                <p><b>Stack Trace:</b> @Html.Raw(Model.Exception.StackTrace.Replace("\n", "<br>"))</p>
            }
            else
            {
                <p><b>Exception was null</b></p>
            }
        </i>

        <h2>Nossos Telefones:</h2>
        <p>
            0800-777-1986 / 4007-2233
        </p>

    </center>
</body>
</html> 