﻿@model Domain.Entities.Faturamento
           
@if (Model != null)
{
    <table cellpadding="0" cellspacing="0" border="0" width="580">
        <tr>
            <td colspan="2">
                <span>Título:</span>
                <span>@Model.Titulo</span>
            </td>
        </tr>
        
        <tr>
            <td width="290">
                <span>Status:</span>
                <span>@Domain.Helpers.EnumHelper.GetDescription(Model.Status)</span>
            </td>
            <td width="290">
                <span>Meio de Pagamento:</span>
                <span>@Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)</span>
            </td>
        </tr>
        
        <tr>
            <td width="290">
                <span>Forma de Pagamento:</span>
                <span>@Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)</span>
            </td>
            <td width="290">
                <span>Status do Pagamento:</span>
                <span>@Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)</span>
            </td>
        </tr>
        
        <tr>
            <td width="290">
                <span>Subtotal:</span>
                <span>@Model.ValorTotal.ToString("c2")</span>
            </td>
            <td width="290">
                <span>Descontos:</span>
                <span>@Model.ValorDesconto.ToString("c2")</span>
            </td>
        </tr> 
        
        <tr>
            <td width="290">
                <span>Data de Criação:</span>
                <span>@Model.DataCriacao.ToShortDateString()</span>
            </td>
            <td width="290">
                <span>Data de Atualização:</span>
                <span>@Model.DataAtualizacao.ToShortDateString()</span>
            </td>
        </tr>
        
        <tr>
            <td width="290">
                <span>Data de Vencimento:</span>
                <span>@Model.DataVencimento.ToShortDateString()</span>
            </td>
            <td width="290">
                <span>Data de Pagamento:</span>
                <span>@(Model.DataPagamento.HasValue ? Model.DataPagamento.Value.ToShortDateString() : "-")</span>
            </td>
        </tr>
        
        <tr>
            <td width="290">
                <span>Data de Processamento:</span>
                <span>@(Model.DataProcessamento.HasValue ? Model.DataProcessamento.Value.ToShortDateString() : "-")</span>
            </td>
            <td width="290">
                <span>Observações:</span>
                <span>@Model.Observacoes</span>
            </td>
        </tr>
    </table>
    <h3 class="qlassik">Nesta fatura:</h3>
	<table cellpadding="0" cellspacing="0" border="0" width="590">
    @if (Model.PedidoEmpresa.Any())
    {
        foreach (var pedido in Model.PedidoEmpresa.OrderBy(p => p.DataCriacao))
        {
            <tr class="item" bgcolor="#e9e9e9">
                <td width="10"></td>
                <td width="70">
                    <img src="@pedido.ProdutoTamanho.Produto.Foto" alt="@pedido.ProdutoTamanho.Produto.Nome" style="margin: 0 0 0 15px;" width="50" />
                </td>
                <td width="139">
                    <small>@Domain.Helpers.EnumHelper.GetDescription(pedido.ProdutoTamanho.Produto.Tipo)</small><br />
                    <span>@pedido.ProdutoTamanho.Produto.Nome (@pedido.ProdutoTamanho.Tamanho.Nome)</span>
                </td>
                <td width="78">
                    <small>Valor</small><br />
                    <span>@pedido.Valor.ToString("c2")</span>
                </td>
                <td width="100">
                    <small>Data</small><br />
                    <span>@pedido.DataCriacao.ToShortDateString()</span>
                </td>
                <td width="22"> 
                        @switch (pedido.Status)
                        {
                            case Domain.Entities.PedidoEmpresa.TodosStatus.NovoPedido:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-novo.jpg")" border="0" alt="Novo Pedido" />
                                        break;
                            case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoReprovado:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-reprovado.jpg")" border="0" alt="Pedido Reprovado" />
                                        break;
                            case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-cancelado.jpg")" border="0" alt="Pedido Cancelado" />
                                        break;
                            case Domain.Entities.PedidoEmpresa.TodosStatus.PedidoEmAnalise:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-analise.jpg")" border="0" alt="Pedido em Análise" />
                                        break;
                        } 
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="item" bgcolor="#e9e9e9"><td colspan="6" align="center">Nenhum pedido localizado.</td></tr>
    }
    </table>
}
else
{
    <p>Fatura inválida!</p>
}

