﻿@model IEnumerable<Domain.Entities.Faturamento>
@{
    ViewBag.Title = "Faturas";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var de = "";
    var ate = "";
    var status = 0;
    var faturas = Model;

    if (!String.IsNullOrEmpty(Request["de"]))
    {
        de = Request["de"];
        DateTime _de;
        if (DateTime.TryParse(de, out _de))
        {
            _de = new DateTime(_de.Year, _de.Month, _de.Day, 0, 0, 0);
            faturas = faturas.Where(p => p.DataVencimento >= _de);
        }
    }


    if (!String.IsNullOrEmpty(Request["ate"]))
    {
        ate = Request["ate"];
        DateTime _ate;
        if (DateTime.TryParse(ate, out _ate))
        {
            _ate = new DateTime(_ate.Year, _ate.Month, _ate.Day, 23, 59, 59, 999);
            faturas = faturas.Where(p => p.DataVencimento <= _ate);
        }
    }

    if (!String.IsNullOrEmpty(Request["status"]))
    {
        if (int.TryParse(Request["status"], out status))
        {
            faturas = faturas.Where(p => p.StatusID >= status);
        }
    }
}

<div id="Conteudo" class="pedidos">

    <div id="LegendaFaturas">
        <div class="item-legenda fatura-paga">Fatura paga</div>
        <div class="item-legenda fatura-pendente">Fatura com pagamento pendente</div>
        <div class="item-legenda fatura-cancelada">Fatura cancelada</div>
    </div>

    <div id="Titulo">
        <span class="qlassik">Faturas</span>
        <div class="filtro">
            Filtrar faturas no período de 
            <input id="de" type="text" class="input-filtro" value="@de" />
            até 
            <input id="ate" type="text" class="input-filtro" value="@ate" />
            com status 
            <select id="status" class="select-filtro">
                <option value="">Todas</option>
                <option value="1" @(status == 1 ? "selected=\"selected\"" : "")>Fatura paga</option>
                <option value="2" @(status == 2 ? "selected=\"selected\"" : "")>Fatura com pagamento pendente</option>
                <option value="3" @(status == 3 ? "selected=\"selected\"" : "")>Fatura cancelada</option>
            </select>
            <input type="button" value="Filtrar" class="botao-filtrar" onclick="Filtrar()" />
        </div>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
		<table cellpadding="0" cellspacing="0" border="0" width="1120" id="ListaGrande">
        @if (faturas.Any())
        {
            foreach (var fatura in faturas)
            {
            <tr class="item" bgcolor="#e9e9e9"><!-- ITEM -->
                <td width="15"></td>
                <td width="260">
                    <small>Título</small><br />
                    <span>@fatura.Titulo</span>
                </td>
                <td width="250">
                    <small>Valor</small><br />
                    <span>@fatura.ValorTotal.ToString("c2")</span>
                </td>
                <td width="220">
                    <small>Vencimento</small><br />
                    <span>@fatura.DataVencimento.ToShortDateString()</span>
                </td>
                <td width="215">
                    <div class="caixa-status">
                        @switch (fatura.StatusPagamento)
                        {
                            case Domain.Entities.Pedido.TodosStatusPagamento.Pago:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-paga.jpg")" border="0" alt="Fatura Paga" />
                                    break;
                            case Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-pendente.jpg")" border="0" alt="Fatura com Pagamento Pendente" />
                                    break;
                            case Domain.Entities.Pedido.TodosStatusPagamento.Cancelado:
                                <img src="@Url.Content("~/areas/itaubba/Content/img/ico-cancelado.jpg")" border="0" alt="Fatura Cancelada" />
                                     break;
                        }
                    </div>
                </td>
                <td width="160">
                    <div class="botao-detalhes" onclick="Faturas.Abrir('@fatura.ID')">mais detalhes</div>
                    <div class="botao-imprimir-boleto" onclick="javascript:window.open('/empresas/faturas/boleto?id=@fatura.ID');">boleto</div>
                </td>
                <td></td>
            </tr>
            }
        }
        else
        {
            <tr class="item" bgcolor="#e9e9e9"><td colspan="6" align="center">Nenhuma fatura localizada.</td></tr>
        }
        </table>
    </div>
    @Html.Partial("Rodape")
</div>

<div id="Detalhes" class="Faturas">
    <div class="close">
        <a href="javascript:void(0);" onclick="Faturas.Fechar()">x</a>
    </div>
    <div class="conteudo"></div>
</div>


@section Script{
    <script type="text/javascript">
        var Faturas = new function () {
            this.Abrir = function (id) {
                $('#Detalhes').show();
                $('#Detalhes div.conteudo').html('');
                $.post('@Url.Action("detalhes")', { id: id }, function (data) {
                    $('#Detalhes div.conteudo').html(data);
                });
            };

            this.Fechar = function () {
                $('#Detalhes').hide();
            };
        };

        function Filtrar() {
            var url = '@Url.Action("Index")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&status=' + $('#status').val();
            window.location = url;
        }

        $(document).ready(function () {
            $("#de").mask("99/99/9999");
            $("#de").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#ate").mask("99/99/9999");
            $("#ate").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
    </script>
}