﻿@model Admin.ViewModels.AdminModel
@{
    Layout = null;

}
<style>
    .nav>li>a{
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<nav style="margin-bottom: 0px;" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            
            @{ Domain.Entities.Administrador.Perfis perfil = Model.CurrentAdministrador != null ? Model.CurrentAdministrador.Perfil : 0;}
            @switch (perfil) {
                case Domain.Entities.Administrador.Perfis.Fornecedores:
                    <ul class="nav navbar-nav">
                        <li @{if (Request.Path == "/Dashboards") { <text> class="active" </text> } }><a href="/Dashboards">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores10 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Lista Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NPS <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/NPS">Listagem Calculada</a></li>
                                <li><a href="/Fornecedor/NPSGeral">Listagem Geral</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locais <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Local/List">Locais</a></li>
                                <li><a href="/Bairro/List">Bairros</a></li>

                            </ul>
                        </li>

                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li @{if (Request.Path == "/Report") { <text> class="active" </text>  }}>
                                    <a href="/Report">Relatórios</a>
                                </li>
                                <li>
                                    <a href="/Meta">Dash Comercial</a>
                                </li>

                            </ul>
                        </li>*@



                    </ul>
                break;
                                
                case Domain.Entities.Administrador.Perfis.LacosCorporativos:
                    <ul class="nav navbar-nav">
                        <li @{if (Request.Path == "/Home"){
                                  <text> class="active" </text>
                              }
                            }><a href="/Home">Home</a></li>
                        <li @{if (Request.Path == "/Meta") { <text> class="active" </text>  } }><a href="/Meta">Metas</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                            </ul>
                        </li>    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Produto/List">Produtos</a></li>
                                <li><a href="/Tamanho/List">Tamanhos</a></li>
                                <li><a href="/Flor/List">Flores</a></li>
                                <li><a href="/Coloracao/List">Coloração</a></li>
                                <li><a href="/Relacionamento/List">Relacionamentos</a></li>
                                <li><a href="/FaixaPreco/List">Faixas de preço</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preços <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Precos/List?tipo=1">Preços de Coroas</a></li>
                                <li><a href="/Precos/List?tipo=2">Preços de Arranjos</a></li>
                                <li><a href="/Precos/List?tipo=3">Preços de Flores de Aniversário</a></li>
                                <li><a href="/Precos/List?tipo=4">Preços de Orquídeas e Buquês</a></li>
                                <li><a href="/Precos/List?tipo=5">Preços de Datas Comemorativas</a></li>
                                <li><a href="/Precos/List?tipo=6">Preços de Eventos</a></li>
                                <li><a href="/Descontos/List">Descontos</a></li>
                                <li><a href="/Promocao/List">Promoção</a></li>
                                <li><a href="/Cupom/List">Cupons</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                                <li><a href="/Empresa/List">Laços Corporativos</a></li>
                                <li><a href="/Colaborador/List">Colaboradores de Empresas(Laços)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prospecção <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Prospeccao/List?status=2">Prospectar</a></li>
                                <li><a href="/Prospeccao/Agenda">Agenda</a></li>
                                <li><a href="/Prospeccao/Aniversariantes">Aniversariantes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores11 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>
                                <li><a href="/Fornecedor/NPS">NPS</a></li>
                                <li><a href="/Fornecedor/NPSGeral">NPS Geral</a></li>   
                            </ul>
                        </li>
                        
                        
                    </ul>
                break;
                case Domain.Entities.Administrador.Perfis.Socios:
                case Domain.Entities.Administrador.Perfis.TI:
                case Domain.Entities.Administrador.Perfis.Coordenadores:
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DashBoard <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/">CPV</a></li>
                                <li><a href="/Home/Lacos">Laços Corporativos</a></li>
                                <li><a href="/Meta">Metas</a></li>
                                <li><a href="/Dashboards">Fornecedores</a></li>
                                <li><a href="/Dashboards/Floricultura">Floricultura</a></li><li><a href="/Dashboards/LoteFloricultura">Lote Floricultura</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li><a href="/PedidosFloricultura/Novo">Novo Pedido Floricultura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                                <li><a href="@Url.Action("List", "PedidosFloricultura", new { datainicial = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Listagem Pedidos Floricultura</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Produto/List">Produtos</a></li>
                                <li><a href="/Tamanho/List">Tamanhos</a></li>
                                <li><a href="/Flor/List">Flores</a></li>
                                <li><a href="/Coloracao/List">Coloração</a></li>
                                <li><a href="/Relacionamento/List">Relacionamentos</a></li>
                                <li><a href="/FaixaPreco/List">Faixas de preço</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preços <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Precos/List?tipo=1">Preços de Coroas</a></li>
                                <li><a href="/Precos/List?tipo=2">Preços de Arranjos</a></li>
                                <li><a href="/Precos/List?tipo=3">Preços de Flores de Aniversário</a></li>
                                <li><a href="/Precos/List?tipo=4">Preços de Orquídeas e Buquês</a></li>
                                <li><a href="/Precos/List?tipo=5">Preços de Datas Comemorativas</a></li>
                                <li><a href="/Precos/List?tipo=6">Preços de Eventos</a></li>
                                <li><a href="/Descontos/List">Descontos</a></li>
                                <li><a href="/Promocao/List">Promoção</a></li>
                                <li><a href="/Cupom/List">Cupons</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conteúdo <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Depoimento/List">Depoimentos</a></li>
                                <li><a href="/Noticia/List">Notícias/Mídias</a></li>
                                <li><a href="/Banner/List">Banners</a></li>
                                <li><a href="/DuvidasFrequentes/List">Dúvidas Frequentes</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                                <li><a href="/Empresa/List">Laços Corporativos</a></li>
                                <li><a href="/Colaborador/List">Colaboradores de Empresas(Laços)</a></li>
                                <li><a href="/ClienteFloricultura/List">Lista Clientes Floricultura</a></li>
                                <li><a href="/Funeraria/List">Lista de Funerárias</a></li>
                                <li><a href="/ContatoFuneraria/List">Lista de Contatos da Funerária</a></li>
                                <li><a href="/ListaNegra/List">Black List</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prospecção <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Prospeccao/List?status=2">Prospectar</a></li>
                                <li><a href="/Prospeccao/Agenda">Agenda</a></li>
                                <li><a href="/Prospeccao/Aniversariantes">Aniversariantes</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/FaturasEmpresa/Dia?data=10%2F05%2F2016">Faturamentos do Dia</a></li>
                                <li><a href="/Boleto/List">Boletos</a></li>
                                <li><a href="/BoletoPagarMe/List">Boletos Pagarme</a></li>
                                <li><a href="/NFe/List">Notas Fiscais</a></li>
                                <li><a href="/BoletoVencido/List">Boletos Vencidos</a></li>
                                <li><a href="/Remessa">Arquivos de Remessa</a></li>
                                <li><a href="/Retorno">Arquivo de Retorno</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qualidade <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Qualidade/PedidosSite">Pedidos Site</a></li>
                                <li><a href="/Qualidade/PedidosEmpresa">Pedidos Laços</a></li>
                                <li><a href="/Qualidade/Reclamacao">Reclamação</a></li>
                                <li><a href="/Relatorio/Pesquisa">Pesquisa</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores12 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>
                                <li><a href="/Fornecedor/NPS">NPS</a></li>
                                <li><a href="/Fornecedor/NPSGeral">NPS Geral</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locais <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Local/List">Locais</a></li>
                                <li><a href="/Bairro/List">Bairros</a></li>

                            </ul>
                        </li>
                    </ul>
                    break;
                case Domain.Entities.Administrador.Perfis.Floricultura:
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DashBoard <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Dashboards/Floricultura">Floricultura</a></li><li><a href="/Dashboards/LoteFloricultura">Lote Floricultura</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosFloricultura/Novo">Novo Pedido Floricultura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("List", "PedidosFloricultura", new { datainicial = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Listagem Pedidos Floricultura</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/ClienteFloricultura/List">Lista Clientes Floricultura</a></li>
                                <li><a href="/Funeraria/List">Lista de Funerárias</a></li>
                                <li><a href="/ContatoFuneraria/List">Lista de Contatos da Funerária</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estoque <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Novo", "LoteFloricultura")">Novo Lote</a></li>
                                <li><a href="@Url.Action("List", "LoteFloricultura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Lotes</a></li>
                                <li><a href="@Url.Action("Novo", "EstoqueFornecedorFloricultura")">Novo Fornecedor</a></li>
                                <li><a href="@Url.Action("List", "EstoqueFornecedorFloricultura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Fornecedores</a></li>
                                <li><a href="@Url.Action("List", "LoteFloriculturaFatura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Faturas</a></li>
                                <li><a href="@Url.Action("ListFaturar", "LoteFloriculturaFatura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lotes p/ Faturar</a></li>
                            </ul>
                        </li>
                    </ul>
                    break;
                case Domain.Entities.Administrador.Perfis.Qualidade:
                    <ul class="nav navbar-nav">
                        <li @(Request.Path == "/Dashboards" ? "class=\"active\"" : "") >
                            <a href="@("/Dashboards/Index?Usuario=" +Model.CurrentAdministrador.ID)">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                                <li><a href="/FaturasEmpresa/List">Faturas Empresas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                                <li><a href="/Empresa/List">Clientes Laços</a></li>
                                <li><a href="/Colaborador/List">Colaboradores(Laços)</a></li>
                                <li><a href="/ListaNegra/List">Black List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qualidade <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Qualidade/PedidosSite">Pedidos CPV</a></li>
                                <li><a href="/Qualidade/PedidosEmpresa">Pedidos Laços</a></li>
                                <li><a href="/Qualidade/Reclamacao">Reclamações</a></li>
                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores13 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Lista Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>
                                <li><a href="/Fornecedor/NPS">NPS</a></li>
                                <li><a href="/Fornecedor/NPSGeral">NPS Geral</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/NFe/List">Notas Fiscais</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locais <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Local/List">Locais</a></li>
                                <li><a href="/Bairro/List">Bairros</a></li>

                            </ul>
                        </li>
                    </ul>
                    break;
                case Domain.Entities.Administrador.Perfis.FloriculturaMisto:
                    <ul class="nav navbar-nav">
                        <li @(Request.Path == "/Dashboards" ? "class=\"active\"" : "")>
                            <a href="@("/Dashboards/Index?Usuario=" +Model.CurrentAdministrador.ID)">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li><a href="/PedidosFloricultura/Novo">Novo Pedido Floricultura</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                                <li><a href="@Url.Action("List", "PedidosFloricultura", new { datainicial = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Listagem Pedidos Floricultura</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                                <li><a href="/Empresa/List">Clientes Laços</a></li>
                                <li><a href="/Colaborador/List">Colaboradores(Laços)</a></li>
                                <li><a href="/ListaNegra/List">Black List</a></li>
                                <li><a href="/ClienteFloricultura/List">Lista Clientes Floricultura</a></li>
                                <li><a href="/Funeraria/List">Lista de Funerárias</a></li>
                                <li><a href="/ContatoFuneraria/List">Lista de Contatos da Funerária</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qualidade <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Qualidade/PedidosSite">Pedidos CPV</a></li>
                                <li><a href="/Qualidade/PedidosEmpresa">Pedidos Laços</a></li>
                                <li><a href="/Qualidade/Reclamacao">Reclamações</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estoque <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Novo", "LoteFloricultura")">Novo Lote</a></li>
                                <li><a href="@Url.Action("List", "LoteFloricultura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Lotes</a></li>
                                <li><a href="@Url.Action("Novo", "EstoqueFornecedorFloricultura")">Novo Fornecedor</a></li>
                                <li><a href="@Url.Action("List", "EstoqueFornecedorFloricultura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Fornecedores</a></li>
                                <li><a href="@Url.Action("List", "LoteFloriculturaFatura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lista de Faturas</a></li>
                                <li><a href="@Url.Action("ListFaturar", "LoteFloriculturaFatura", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">Lotes p/ Faturar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Lista Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>
                                <li><a href="/Fornecedor/NPS">NPS</a></li>
                                <li><a href="/Fornecedor/NPSGeral">NPS Geral</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/NFe/List">Notas Fiscais</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locais <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Local/List">Locais</a></li>
                                <li><a href="/Bairro/List">Bairros</a></li>

                            </ul>
                        </li>
                    </ul>
                    break;
                case Domain.Entities.Administrador.Perfis.Financeiro:
                    <ul class="nav navbar-nav">
                        <li @(Request.Path == "/Dashboards" ? "class=\"active\"" : "")>
                            <a href="@("/Dashboards/Index?Usuario=" +Model.CurrentAdministrador.ID)">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/PedidosSite/Novo">Novo Pedido CPV</a></li>
                                <li><a href="/PedidosEmpresa/Novo">Novo Pedido Corporativo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/PedidosSite/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos CPV</a></li>
                                <li><a href="/PedidosEmpresa/List?datainicial=@DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy")">Listagem Pedidos Corporativo</a></li>
                                <li><a href="/FaturasEmpresa/List">Faturas Empresas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Cliente/List">Clientes CPV</a></li>
                                <li><a href="/Empresa/List">Clientes Laços</a></li>
                                <li><a href="/Colaborador/List">Colaboradores(Laços)</a></li>
                                <li><a href="/ListaNegra/List">Black List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedores14 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Fornecedor/List">Lista Fornecedores</a></li>
                                <li><a href="/Fornecedor/Repasses">Repasses</a></li>
                                <li><a href="/Fornecedor/Pedidos">Pedidos Não Entregues</a></li>
                                <li><a href="/Fornecedor/NPS">NPS</a></li>
                                <li><a href="/Fornecedor/NPSGeral">NPS Geral</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/NFe/List">Notas Fiscais</a></li>
                            </ul>
                        </li>

                    </ul>
                                    break;
                            }
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" style="padding-top: 10px; padding-bottom: 0px;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img style="height: 30px;" src="@Model.Foto" />
                        Olá, @(Model.CurrentAdministrador != null ? Model.CurrentAdministrador.Nome.TrimStart().Split(' ')[0] : "" )
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/Perfil">Meu Perfil</a></li>
                        <li><a href="/Home/Logout">Sair</a></li>

                        @{
                            if (Model.CurrentAdministrador != null && (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios))
                            {
                               
                                <li><a href="/Configuracao/List">Config - Gerais</a></li>
                                <li><a href="/Cidades/List">Config - Cidades</a></li>
                            }
                        }
                       
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
