﻿@model Domain.Entities.Configuracao

@{
    ViewBag.Title = "Configurações Gerais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Configuração Gerais</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Configuracao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Título final das páginas (SEO)</label>
                <div class="mws-form-item large">
                    @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Televendas</label>
                <div class="mws-form-item large">
                    @Html.TextBoxFor(model => model.Televendas, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>SAC</label>
                <div class="mws-form-item large">
                    @Html.TextBoxFor(model => model.SAC, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>MetaTag Description</label>
                <div class="mws-form-item medium">
                    @Html.TextBoxFor(model => model.TagDescription, new { @class = "mws-textinput", @maxlength = 155 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>MetaTag Keywords</label>
                <div class="mws-form-item medium">
                    @Html.TextBoxFor(model => model.TagKeywords, new { @class = "mws-textinput", @maxlength = 155 })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Texto padrão do rodapé</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput" })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Parcelamento <i>(deixe 1 para à vista)</i></label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Parcela, new { @class = "mws-textinput", @maxlength = 2 })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Telefones por região na página de contato</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.Telefones, new { @class = "mws-textinput" })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Telefone indisponível? <i>(Será exibido o telefone 0800 do campo SAC para todos as cidades e regiões. O texto em telefones por região na página de contato não será exibido)</i></label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.TelefoneIndisponivel)  SIM
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Atendimento indisponível? <i>(Será exibido uma caixa flutuante com a mensagem abaixo)</i></label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.AtendimentoIndisponivel)  SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Texto de atendimento indisponível</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.AtendimentoIndisponivelTexto, new { @class = "mws-textinput" })
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Promoção de primeira compra disponível?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.PrimeiraCompra)  SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cupom de desconto para primeira compra</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CupomPrimeiraCompra, new { @class = "mws-textinput", @maxlength = 100 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cupom de desconto para elogio</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CupomElogio, new { @class = "mws-textinput", @maxlength = 100 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cupom de desconto para reclamação</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CupomReclamacao, new { @class = "mws-textinput", @maxlength = 100 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Produtos Restrito LC</label>
                <div class="mws-form-item small">
                    <input value="@ViewBag.ProdutoRestritoCNPJ" class="mws-textinput" id="ProdutoRestritoCNPJ" name="ProdutoRestritoCNPJ" type="text">
                </div>
            </div>
            <div class="mws-form-row">
                <label>Produtos Restrito Grupo Economico</label>
                <div class="mws-form-item small">
                    <input value="@ViewBag.ProdutoRestritoGrupoEconomico" class="mws-textinput" id="ProdutoRestritoGrupoEconomico" name="ProdutoRestritoGrupoEconomico" type="text">
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#configuracao').addClass('active');
        $('#i_geral').addClass('active');

        var opts = {
            cssClass: 'el-rte',
            height: 300,
            toolbar: 'normal',
            cssfiles: ['/content/elrte/css/elrte-inner.css'],
            fmAllow: true
        }
        $('#Telefones').elrte(opts);

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Titulo: "required",
                Televendas: "required",
                SAC: "required",
                Descricao: "required",
                TagDescription: "required",
                Telefones: "required",
                TagKeyWords: "required",
                CupomElogio: "required",
                CupomReclamacao: "required"
            },
            messages: {
                Titulo: "O campo título é obrigatório.",
                Televendas: "O campo televendas é obrigatório.",
                SAC: "O campo SAC é obrigatório.",
                Descricao: "O campo descrição é obrigatório.",
                Telefones: "O campo telefones é obrigatório.",
                TagDescription: "O campo MetaTag Decription é obrigatório.",
                TagKeyWords: "O campo MetaTag Keywords é obrigatório."
                CupomElogio: "O campo Cupom de Elogio Keywords é obrigatório",
                CupomReclamacao: "O campo Cupom de Reclamação Keywords é obrigatório"
            }
        });
    });
</script>
}