@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
*:focus {
	outline: none;
}

em{
	font-style:normal!important;
}

*,*:after,*:before {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}

body {
	margin: 0;
	padding: 0;
	line-height: 18px;
}
::selection {
	background: #CCC;
	color: #fff;
}
div, a, p, img, ul, ol, li, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
	display: block;
	overflow:hidden;
	position:relative;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}
p > a {
	display: inline;
	text-decoration: none;
}
p > a:hover {
	text-decoration: underline;
}
p > span {
	display: inline;
}
span > a {
	display: inline;
}
a > span {
	display: inline;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1 {
	font-size: 24px;
	line-height: 28px;
}
h2 {
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 1px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
	padding-top: 1px;
}
h4 {
	font-size: 18px;
	line-height: 40px;
	padding-bottom: 1px;
}
h5 {
	font-size: 16px;
	line-height: 20px;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	display: inline;
}
h1, h2, h3, h4, h5{
	font-weight:600; 
	margin-bottom:5px;	
}

a{
	color:#e34e47!important;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	background-color: #f6f6f6;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	clear: both;
	margin-bottom: 27px;
}
thead {
}
th {
	vertical-align: middle;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	font-weight: bold;
	color: #555;
	background-color: #f6f6f6;
}
tr {
	line-height: 18px;
}
td {
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	color: #666;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 18px;
	vertical-align: middle;
	background-color: #fdfdfd;
}
tr:hover > td {
	background: #fff;
}

ul {
	list-style:square;
	margin-bottom: 20px;
}
ol {
	list-style: decimal;
	margin-bottom: 20px;
}
li {
	padding-left: 12px;
	line-height: 18px;
	margin-bottom:18px;
}
ol > li:last-child, ul > li:last-child {
    margin-bottom:0px;	
}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
}

body{
	background-image:url(../images/bright_squares.png);
}

.clear{
	clear:both;
}

h1, h2, h3, h4, h5, .heading{
	font-family:'Dosis', sans-serif;
	color:#666;
}

p{
	font-size:12px;
	line-height:24px;
	font-family:'Open Sans', sans-serif;
}

.logo{
	width:200px;
	margin-left:auto!important;
	margin-right:auto!important;
	border:none;
	margin-bottom:-20px!important;
}

.header{
	background-image:url(../images/frame.png);
	background-size:1920px 204px;
	-webkit-background-size:1920px 204px;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
	position:fixed;
	top:-30px;
	width:100%;
	z-index:999;
	height:200px;
}

.hider{
	color:#000000!important;
}

.grid{
	position:relative;
	z-index:10;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:240px;
	display:block;
}

@media all and (max-width: 960px){
	.grid{
		max-width:100%!important;
		display:block;
		padding-left:20px;
		padding-right:20px;	
		
	}
	
	.container{
		box-sizing:border-box;	
	}
	
	img{
		display:block;
		max-width:100%;
	}
}

.heading{
	padding-top:10px;
	padding-bottom:20px;
	font-size:30px;
	font-weight:400;
	display:block;
	color:#7a7a7a;
	text-shadow:0px 1px 0px #ffffff;
}

.decoration{
	width:100%;
	display:block;
	height:1px;
	margin-bottom:40px;
	background-color:#cacaca;
}

.container{
	padding:20px;
	padding-bottom:0px;
	display:block;
	width:100%;
	margin-bottom:40px;
	background-color:#FFFFFF;
	border:solid 1px #cacaca;
}

.center-text{text-align:center;}
.left-text{	text-align:left;}
.right-text{ text-align:right;}

.question{
	font-family:'Dosis', sans-serif;
	display:block;
	width:100%;
	padding-top:20px;
	padding-left:5px;
	font-size:16px!important;
	font-weight:500;
	
}

.questions{
	cursor:pointer;
}

.hide{
	display:none!important;
}

img{
	border:solid 1px #cacaca;
	padding:30px;
	margin-bottom:20px;
	margin-top:20px;
}


.question-href{
	color:#333!important;
}


.responsive-image{
	width:100%;
	display:block;
}










