﻿@model IEnumerable<Domain.Entities.Repasse>

    @{
        ViewBag.Title = "Pedidos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Scripts{

        <style type="text/css">
            .table-striped tbody tr.Yellow:nth-child(odd) td, .table-striped tbody tr.Yellow:nth-child(odd) th {
                background-color: #fffab9;
            }

            .table-striped tbody tr.Green:nth-child(odd) td, .table-striped tbody tr.Green:nth-child(odd) th {
                background-color: #d1ffb9;
            }

            .table-striped tbody tr.Red:nth-child(odd) td, .table-striped tbody tr.Red:nth-child(odd) th {
                background-color: #ffa2a2;
            }

            .table tr.Yellow th, .table tr.Yellow td {
                background-color: #fffab9;
            }

            .table tr.Green th, .table tr.Green td {
                background-color: #d1ffb9;
            }

            .table tr.Red th, .table tr.Red td {
                background-color: #ffa2a2;
            }

            .table tbody tr.Yellow:hover td, .table tbody tr.Yellow:hover th {
                background-color: #fffab9;
            }

            .table tbody tr.Green:hover td, .table tbody tr.Green:hover th {
                background-color: #d1ffb9;
            }

            .table tbody tr.Red:hover td, .table tbody tr.Red:hover th {
                background-color: #ffa2a2;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#li_dash").addClass("active");

                setInterval(function () {
                    var PedidosAtual = $("#RelatorioNovosPedidos .SETPONE tr td b").length;

                    if (PedidosAtual > 0) {
                        PlaySound();
                    }
                    else {
                        console.log('No Sound. ' + PedidosAtual + ' Pedidos');
                    }
                    
                }, 2000); 
            });

            function GETPedidos() {
                var Table = "";
                $.get("/Dashboards/RelatorioNovosPedidos", function (data) {

                    $("#RelatorioNovosPedidos center").hide();
                    $("#RelatorioNovosPedidos .tblListaPedidos thead").show();
                    $("#RelatorioNovosPedidos .tblListaPedidos tbody").remove();

                    $("#RelatorioProducaoPedidos center").hide();
                    $("#RelatorioProducaoPedidos .tblListaPedidos thead").show();
                    $("#RelatorioProducaoPedidos .tblListaPedidos tbody").remove();

                    $("#RelatorioEntregaPedidos center").hide();
                    $("#RelatorioEntregaPedidos .tblListaPedidos thead").show();
                    $("#RelatorioEntregaPedidos .tblListaPedidos tbody").remove();


                    $(data).insertAfter("#RelatorioProducaoPedidos .tblListaPedidos thead");
                    $(data).insertAfter("#RelatorioNovosPedidos .tblListaPedidos thead");
                    $(data).insertAfter("#RelatorioEntregaPedidos .tblListaPedidos thead");

                    $("#RelatorioNovosPedidos .tblListaPedidos tbody.SETPTWO").remove();
                    $("#RelatorioNovosPedidos .tblListaPedidos tbody.SETPTHREE").remove();

                    $("#RelatorioProducaoPedidos .tblListaPedidos tbody.SETPONE").remove();
                    $("#RelatorioProducaoPedidos .tblListaPedidos tbody.SETPTHREE").remove();

                    $("#RelatorioEntregaPedidos .tblListaPedidos tbody.SETPONE").remove();
                    $("#RelatorioEntregaPedidos .tblListaPedidos tbody.SETPTWO").remove();

                    if ($("#RelatorioNovosPedidos .tblListaPedidos tbody tr td").html() != "Não há itens para serem exibidos") {
                        $(".RecusarEntrega").click(function () {

                            MostrarAguarde();

                            var This = $(this);
                            $.post("/Dashboards/RecusarEntrega",
                                {
                                    Pedido: $(This).attr("Rel")
                                },
                                function (data) {
                                    if (data == "OK") {
                                        swal("Pedido!", "Pedido Recusado!", "success");
                                        location.reload();
                                    }
                                    else {
                                        alert(data);
                                    }
                                });
                            return false;
                        });

                        $(".AceitarEntrega").click(function () {

                            MostrarAguarde();

                            var This = $(this);
                            $.post("/Dashboards/AceitarEntrega",
                                {
                                    Pedido: $(This).attr("Rel")
                                },
                                function (data) {
                                    if (data == "OK") {
                                        swal("Pedido!", "Pedido Aceito!", "success");
                                        location.reload();
                                    }
                                    else {
                                        alert(data);
                                    }
                                });
                            return false;
                        });
                    }

                    if ($("#RelatorioProducaoPedidos .tblListaPedidos tbody tr td").html() != "Não há itens para serem exibidos") {
                        $(".SairEntrega").click(function () {
                            MostrarAguarde();

                            var This = $(this);
                            $.post("/Dashboards/SairEntrega",
                                {
                                    Pedido: $(This).attr("Rel")
                                },
                                function (data) {
                                    if (data == "OK") {
                                        swal("Pedido!", "Pedido Atualizado!", "success");
                                        location.reload();
                                    }
                                    else {
                                        alert(data);
                                    }
                                });
                            return false;
                        });
                    }
                });
            }

            function MostrarAguarde() {
                swal({
                    text: 'Por favor, aguarde...',
                    timer: 2000,
                    onOpen: function () {
                        swal.showLoading()
                    }
                }).then(
                  function () { },
                  // handling the promise rejection
                  function (dismiss) {
                      if (dismiss === 'timer') {
                          console.log('I was closed by the timer')
                      }
                  }
                )
            }

            GETPedidos();

            setInterval(function () {
                GETPedidos();
            }, 20000);

        </script>
    }

    @{
        var IdFornecedor = ViewBag.Fornecedor.ID;
    }
    
    <div class="widget widget-table action-table">
        <div class="widget-header " style="vertical-align: middle; text-align: center;">
            <h3>NOVOS PEDIDOS</h3>
        </div>

        <div class="widget-content" id="RelatorioNovosPedidos">
            <center>
                <img src="/Content/img/ajax-loader-fff.gif" />
            </center>
            <table class='table table-striped table - bordered tblListaPedidos'>
                <thead style="display: none;">
                    <tr>
                        <th data-sort='string' style='text-align: center; vertical-align: middle'>Pedido</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Entrega</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Itens</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Ações</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="widget widget-table action-table">
        <div class="widget-header " style="vertical-align: middle; text-align: center;">
            <h3>PEDIDOS EM PRODUÇÃO</h3>
        </div>

        <div class="widget-content" id="RelatorioProducaoPedidos">
            <center>
                <img src="/Content/img/ajax-loader-fff.gif" />
            </center>
            <table class='table table-striped table - bordered tblListaPedidos'>
                <thead style="display: none;">
                    <tr>
                        <th data-sort='string' style='text-align: center; vertical-align: middle'>Pedido</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Entrega</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Itens</th>
                        @*<th data-sort='date' style='text-align: center; vertical-align: middle'>Ações</th>*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="widget widget-table action-table">
        <div class="widget-header " style="vertical-align: middle; text-align: center;">
            <h3>PEDIDOS EM ENTREGA</h3>
        </div>

        <div class="widget-content" id="RelatorioEntregaPedidos">
            <center>
                <img src="/Content/img/ajax-loader-fff.gif" />
            </center>
            <table class='table table-striped table - bordered tblListaPedidos'>
                <thead style="display: none;">
                    <tr>
                        <th data-sort='string' style='text-align: center; vertical-align: middle'>Pedido</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Entrega</th>
                        <th data-sort='date' style='text-align: center; vertical-align: middle'>Itens</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

