﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pesquisa de Satisfação";
    ViewBag.description = "Nos ajude a melhorar nossos serviços, responda a pesquisa de satisfação sobre nossas atividades prestadas. Acesse o nosso site!";
    var pedido = (Domain.Entities.Pedido)ViewBag.Pedido;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {

            $('#telefone').mask('(99) 99999999?9');
            $('#cep').mask('99999-999');

            $('#EstadoID').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">selecione uma cidade</option>';
                $('#CidadeID').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#CidadeID').html(html);
                    });
                }
            });
            $('.satisfeito').change(function () {
                var satisfeito = $('.satisfeito:checked').val(); 
                if(satisfeito == 'true'){
                    $('#divsatisfeitonao').hide();
                    $('#satisfeitonao').val('');
                    $('#satisfeitonaooutro').val('');
                }else{
                    $('#divsatisfeitonao').show();
                }
            });
            $('#satisfeitonao').change(function () {
                var satisfeito = $('#satisfeitonao').val(); 
                if(satisfeito != 'Outro'){
                    $('#satisfeitonaooutro').hide(); 
                    $('#satisfeitonaooutro').val(satisfeito);
                }else{
                    $('#satisfeitonaooutro').show();
                    $('#satisfeitonaooutro').val('');
                }
            });
            $("#form_pesquisa").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/pesquisa-de-satisfacao/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/pesquisa-de-satisfacao?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    email: {
                        email: true
                    },
                    recomendacao: "required",
                    satisfeito: "required",
                    entrega: "required",
                    qualidade: "required",
                    atendimento: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    sugestoes: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    email: {
                        email: "Digite um e-mail válido"
                    },
                    recomendacao: "Selecione se você recomendaria o Coroas para Velório para um amigo",
                    satisfeito: "Selecione se você está satisfeito",
                    entrega: "Selecione a nota para a entrega",
                    qualidade: "Selecione a nota para a qualidade",
                    atendimento: "Selecione a nota para o atendimento",
                    EstadoID: "Selecione seu estado",
                    CidadeID: "Selecione sua cidade",
                    sugestoes: "Faça sua sugestão, reclamação ou elogio",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
            
            @if (pedido != null)
            {
                <text>
                $('#EstadoID').val('@pedido.EstadoID');
                $('#EstadoID').change();
                var t = setTimeout(function () { $("#CidadeID").val('@pedido.CidadeID'); }, 2000);
                </text>
            }
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Pesquisa de Satisfação</b></span> </div>
</div>
</div>
 
 
<div id="PesquisaSatisfacao">
<div class="Div">

	<h1 class="TituloPagina">Pesquisa de satisfação</h1>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua pesquisa foi enviada com sucesso! Obrigado.</div>
    }
    else
    {
	<div class="Div1">
		<div class="Div1Texto1">Gostaríamos de convidá-lo a responder esta breve pesquisa de satisfação sobre nossos serviços prestados. Agradecemos antecipadamente pela sua participação. <br /><br />Avalie utilizando uma das opções abaixo:</div>
	</div>
    
        using (Html.BeginForm("Enviar", "Pesquisa-de-Satisfacao", FormMethod.Post, new { id = "form_pesquisa", name = "form_pesquisa", enctype = "multipart/form-data", @class = "formulario" }))
        {   
	    <div class="QuadroNotas">

		    <div class="Linha1">
			    <div class="Coluna1">&nbsp;</div>
			    <div class="Coluna2">Muito Ruim</div>
			    <div class="Coluna2">Ruim</div>
			    <div class="Coluna2">Bom</div>
			    <div class="Coluna2">Muito Bom</div>
			    <div class="Coluna2">Sem Avaliação</div>
		    </div>
		    <div class="Linha2">
			    <div class="Coluna1">Prazo de Entrega:</div>
			    <div class="Coluna2"><input type="radio" name="entrega" value="Muito Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="entrega" value="Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="entrega" value="Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="entrega" value="Muito Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="entrega" value="Sem Avaliação" /></div>
		    </div>
		    <div class="Linha3">
			    <div class="Coluna1">Qualidade do Produto:</div>
			    <div class="Coluna2"><input type="radio" name="qualidade" value="Muito Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="qualidade" value="Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="qualidade" value="Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="qualidade" value="Muito Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="qualidade" value="Sem Avaliação" /></div>
		    </div>
		    <div class="Linha2">
			    <div class="Coluna1">Nosso Atendimento:</div>
			    <div class="Coluna2"><input type="radio" name="atendimento" value="Muito Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="atendimento" value="Ruim" /></div>
			    <div class="Coluna2"><input type="radio" name="atendimento" value="Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="atendimento" value="Muito Bom" /></div>
			    <div class="Coluna2"><input type="radio" name="atendimento" value="Sem Avaliação" /></div>
		    </div>

	    </div>

	    <div class="Formulario"> 

		    <div class="FormDiv1">
			    <div class="FormNomeCampo">Você recomendaria nossos serviços a amigos ou conhecidos:</div>
			    <div class="FormCampo2e3">
			    <div class="FormCampo2"><input type="radio" value="true" id="satisfeito" name="satisfeito" class="satisfeito" /> Sim</div>
			    <div class="FormCampo3"><input type="radio" value="false" id="satisfeito" name="satisfeito" class="satisfeito" /> Não</div>
			    </div>
		    </div>

		    <div class="FormDiv2" style="display:none;" id="divsatisfeitonao">
			    <div class="FormNomeCampo">Diga-nos porque não está satisfeito:</div>
			    <div class="FormCampo"><select class="FormCampoSelect" id="satisfeitonao" name="satisfeitonao">		
					        <option>Selecione</option>
					        <option value="Atraso da Entrega">Atraso da Entrega</option>
					        <option value="Coroa fora do padrão">Coroa fora do padrão </option>
					        <option value="Erro na Faixa">Erro na Faixa</option>
					        <option value="Outro">Outro</option> 
                 </select></div>
                 <div class="FormCampo" style="display:none;"><textarea id="texto" id="satisfeitonaooutro" name="satisfeitonaooutro" class="FormCampoTextarea"></textarea></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Porque o Coroas para Velório?</div>
			    <div class="FormCampo"><input type="text" id="porquecpv" name="porquecpv" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Como nos conheceu?</div>
			    <div class="FormCampo"><select class="FormCampoSelect" id="conheceu" name="conheceu">		
					        <option>Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select>
                        </div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Sugestões, Reclamações ou Elogios<br />Por favor adicione qualquer comentário a respeito de sua compra ou de nossos serviços:</div>
			    <div class="FormCampo"><textarea id="sugestoes" name="sugestoes" class="FormCampoTextarea"></textarea></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Estado:</div>
			    <div class="FormCampo"><select class="FormCampoSelect" id="EstadoID" name="EstadoID">
                            <option value="">selecione um estado</option>
                            @foreach (var estado in estados.OrderBy(e => e.Nome))
                            {
                                <option value="@estado.ID">@estado.Sigla</option>
                            }
                        </select>
                 </div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Cidade:</div>
			    <div class="FormCampo"><select id="CidadeID" name="CidadeID" class="FormCampoSelect"></select></div>
		    </div>

		    <div class="FormDiv2" style="@(pedido != null ? "display:none;" : "")">
			    <div class="FormNomeCampo">Número do pedido:</div>
			    <div class="FormCampo"><input type="text" id="pedido" name="pedido" value="@(pedido != null ? pedido.Numero : "")" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2" style="@(pedido != null ? "display:none;" : "")">
			    <div class="FormNomeCampo">Nome:</div>
			    <div class="FormCampo"><input type="text" id="nome" name="nome" value="@(pedido != null ? pedido.Cliente.Nome : "")" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2" style="@(pedido != null ? "display:none;" : "")">
			    <div class="FormNomeCampo">Telefone de contato:</div>
			    <div class="FormCampo"><input type="text" id="telefone" name="telefone" value="@(pedido != null ? pedido.Cliente.TelefoneContato : "")" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2" style="@(pedido != null ? "display:none;" : "")">
			    <div class="FormNomeCampo">E-mail:</div>
			    <div class="FormCampo"><input type="text" id="email" name="email" value="@(pedido != null ? pedido.Cliente.Email : "")" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDivValidacao">
			    <div class="FormNomeCampo">Validação:</div>
			    <div class="FormValidacaoCampo">  
				    <div class="FormValidacaoCampo2">                   
                        @captcha
                    </div>
				    <div class="FormValidacaoTexto2"><input type="checkbox" name="depoimento" id="depoimento" value="true" /> Autorizo a publicação do meu depoimento.</div>
			    </div>
		    </div>

		    <div class="FormDivBotao"><input type="submit" value="ENVIAR" class="FormBotao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'pesquisa-satisfacao', 'enviou'])"/><span class="processando" id="processando">Enviando...</span></div>

	    </div>

	    <div class="Div1">
		    <div class="Div1Texto1">Agradecemos pela preferência!<br />Equipe Coroas Para Velório.</div>
	    </div>
        }
    } 

@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
 
</div>

 