﻿@model Domain.Entities.Promocao
@{
    ViewBag.Title = "Promoção da Semana";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" /> 
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "coroas-de-flores")" itemprop="url">      
      <span itemprop="title"><b>Promoção da Semana</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Promoção da Semana</h1>

    @if (Model != null)
    {
    <p>Toda semana uma seleção especial de produtos com até <b>@Model.Desconto% de desconto</b>.</p>
    }
    else
    {
        <p>Não há promoções neste momento mas confira nossos descontos na compra de coroas.</p>
    }
</div>

@if (Model != null)
{
    @Html.Partial("Produtos", Model.PromocaoProduto.Select(c => c.Produto).Where(c => c.Disponivel))
}
