﻿@model Domain.Entities.Flor

@{
    ViewBag.Title = Model == null ? "Nova Flor" : "Edição de flor " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Flor" : "Edição de flor " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Flor", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.RotuloUrl)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Foto)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Foto <i>Arquivo JPG (150px x 150px)</i></label>
                    <div class="mws-form-item small">
                    @if (Model != null)
                    {
                    <a href="/content/flores/@Model.ID/@Model.Foto" target="_blank"><img src="/content/flores/@Model.ID/@Model.Foto" border="0" /></a><br /><i>Para modificar a foto, selecione outro arquivo.</i><br />
                    }
                    @Html.InputFile("File")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Breve Descritivo</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.BreveDescritivo, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Descrição</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>MetaTag Description</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagDescription, new { @class = "mws-textinput", @maxlength = 155 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>MetaTag Keywords</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagKeywords, new { @class = "mws-textinput", @maxlength = 155 })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Publicado)  SIM
                    </div>
                </div>
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#produtos').addClass('active');
        $('#i_flores').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                BreveDescritivo: "required",
                Descricao: "required"
            },
            messages: {
                Nome: "O campo título é obrigatório.",
                BreveDescritivo: "O campo breve descritivo é obrigatório.",
                Descricao: "O campo descrição é obrigatório."
            }
        });
    });
</script>
}