﻿@model Domain.Entities.Tamanho

@{
    ViewBag.Title = Model == null ? "Novo Tamanho" : "Edição do tamanho " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Tamanho" : "Edição do tamanho " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Tamanho", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "100"})
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Tamanho.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Tamanho.Tipos.Pequena), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Dimensão</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Dimensao, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#produtos').addClass('active');
        $('#i_tamanhos').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                Dimensao: "required"
            },
            messages: {
                Nome: "O campo título é obrigatório.",
                Dimensao: "O campo dimensão é obrigatório."
            }
        });
    });
</script>
}