﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Mais Vendidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-mais-vendidas").addClass("active");
        });
    </script>
}

<div id="ComoComprar" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div class="Div">
		<h1 class="TituloPagina" itemprop="title">Mais Vendidas</h1>
	</div>
</div>
  
@if (Model != null)
{
    @Html.Partial("Produtos", Model)
}
