﻿@{
    ViewBag.Title = "- Como Funciona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="960px">
<tr>
<td><hr class="divisa" style="width:300px" /></td>
<td><h1 class="laranja">COMO FUNCIONA</h1> </td>
<td><hr class="divisa" style="width:300px" /></td>
</tr>
</table>
<table>
<tr>
<td> 
    <img src="/Content/images/como-funciona-01.jpg" title="Passo 1"/>
</td>
<td>
    <h2 class="titulo-funciona"> 
        <img src="/Content/images/sub-tit-cadastre.jpg" style="float:left;"/></h2>
    <br />O cadastro leva menos de 1 minuto para ser realizado e sua primeira compra pode ser realizada no mesmo momento. Os dados de cadastro são básicos como CNPJ, Razão Social, Endereço. Importante cadastrar um e-mail e uma senha que serão utilizados para acessar a sua área do cliente.
</td>
</tr>
<tr>
</table>
<table>
<td>
    <h2 class="titulo-funciona"> 
        <img src="/Content/images/sub-tit-acesse.jpg"  style="float:right;"/></h2>
    <br>Na sua área exclusiva você terá acesso a todos os nossos produtos e poderá fazer a sua encomenda a qualquer momento. Seu acesso é realizado por meio do seu e-mail e sua senha cadastradas.Tudo muito fácil, prático e seguro! Caso tenha qualquer problema técnico, entre em contato com a nossa central que funciona 24h por dia, todos os dias da semana.
</td>
<td> 
    <img src="/Content/images/como-funciona-02.jpg" title="Passo 2"/>
</td>
</tr>
</table>
<table>
<tr>
<td> 
    <img src="/Content/images/como-funciona-03.jpg" title="Passo 3"/>
</td>
<td>
    <h2 class="titulo-funciona"> 
        <img src="/Content/images/sub-tit-pedido.jpg"  style="float:left;"/></h2>
    <br>Dentro da área exclusiva você pode escolher o tipo de flores que precisa (arranjos, buquês, coroas, orquídeas), colocar os dados de entrega e finalizar o pedido. Um atendente entrará em contato para confirmar os dados. <br />Como a sua empresa já é cadastrada, o faturamento é feito no final do mês, com a nota fiscal referente aos pedidos do mês.
</td>
</tr>
</table>
@Html.Partial("Cadastre-se")