﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@ViewBag.Title | Área empresas | Coroas para velório</title>
	    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/itaubba/Content/css/estilo.css")" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21015416-2']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>

    <body>

	    <div id="Topo" class="qlassik">
    	    <div class="cinquenta">Acesso para empresas</div>
            <div class="cinquenta dir">Precisa de ajuda? <span class="vermelho">Atendimento 24h pelo 0800-777-1986</span> &nbsp; &nbsp;</div>
        </div>

        @Html.Partial("Cabecalho")
    
        <div id="Container">
            @Html.Partial("Menu")
            @RenderBody()
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
        @RenderSection("Script", false)

    </body>

</html>