﻿@{
    var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;
}

<div id="Header">
    <div id="Logo">
        <img src="@Url.Content("~/areas/itaubba/Content/img/logo-coroas.jpg")" alt="Coroas para velório" title="Coroas para velório" border="0" />
    </div>
    <div id="User" class=" qlassik">
        <table>
            <tr>
                <td>
        @if (!String.IsNullOrEmpty(colaborador.Empresa.Logo))
        {
            var img = "/content/empresas/" + colaborador.EmpresaID + "/" + colaborador.Empresa.Logo;
            if (File.Exists(Server.MapPath(img)))
            {
            <img src="@img" alt="@colaborador.Empresa.NomeFantasia" style="margin-right:30px"/>
            }
        }</td>
                <td>
        <div class="nome">Olá @colaborador.Nome</div>
        <div class="empresa">@colaborador.Empresa.NomeFantasia</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="Options">
        <div class="links">
            @Html.ActionLink("Alterar Senha", "alterar-senha", "acessos") | 
            @Html.ActionLink("Meus Dados", "meus-dados", "acessos") | 
            @Html.ActionLink("Sair", "sair", "login")
        </div>
        <div class="img-user">
            <img src="@Url.Content("~/areas/itaubba/Content/img/img-user.jpg")" border="0" title="@colaborador.Nome" alt="@colaborador.Nome" />
        </div>
    </div>
</div>