﻿@{
    var menu = (Web.Areas.ItauBBA.Controllers.BaseController.Menu)ViewBag.Menu;
    var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;
}
<div id="Menu">
    <ul class="qlassik">
        <a href="@Url.Action("novo", "pedidos")"><li @(menu == Web.Areas.ItauBBA.Controllers.BaseController.Menu.NovoPedido ? "class=active" : "")>Novo Pedido</li></a>
        <a href="@Url.Action("index", "pedidos")"><li @(menu == Web.Areas.ItauBBA.Controllers.BaseController.Menu.Pedidos ? "class=active" : "")>Pedidos</li></a>
        @if (colaborador.Tipo == Domain.Entities.Colaborador.Tipos.Master)
        {
            <a href="@Url.Action("index", "faturas")"><li @(menu == Web.Areas.ItauBBA.Controllers.BaseController.Menu.Faturas ? "class=active" : "")>Faturas</li></a>
            <a href="@Url.Action("index", "acessos")"><li @(menu == Web.Areas.ItauBBA.Controllers.BaseController.Menu.Acessos ? "class=active" : "")>Acessos</li></a>
        }
        <a href="@Url.Action("index", "suporte")"><li @(menu == Web.Areas.ItauBBA.Controllers.BaseController.Menu.Suporte ? "class=active" : "")>Suporte</li></a>
    </ul>
</div>