﻿@{
    Domain.Entities.Pedido PedidoCPV = null;
    Domain.Entities.PedidoEmpresa PedidoCORP = null;

    if (ViewBag.PedidoCPV != null)
    {
        PedidoCPV = ViewBag.PedidoCPV;
    }
    if (ViewBag.PedidoCORP != null)
    {
        PedidoCORP = ViewBag.PedidoCORP;
    }

    string ID = "";
    if (PedidoCPV != null)
    {
        ID = "foto_CPV_" + PedidoCPV.ID;
    }
    if (PedidoCORP != null)
    {
        ID = "foto_CORP_" + PedidoCORP.ID;
    }
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    @{
        var Fornecedor = (Domain.Entities.Fornecedor)ViewBag.NovoFornecedor;
        var URL = "https://www.coroasparavelorio.com.br" + Request.Url.AbsolutePath;
    }
    <link rel="canonical" href="@URL" />
    <!-- Prevent Skype Toolbar to change de CSS from DOM elements -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />

    <title>Fornecedor - @Fornecedor.Nome</title>
    <meta name="robots" content="index, follow">

    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css" rel="stylesheet">
    <link href="/Content/css/Fornecedores.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js"></script>

    <script type="text/javascript">
        function upload() {
            console.log(formData);
        }

        $(document).ready(function () {
            getLocation()
        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            }
            else {
                $("#demo").html("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {

            var form_data = new FormData();
            form_data.append('Latitude', position.coords.latitude);
            form_data.append('Longitude', position.coords.longitude);

            @if (PedidoCPV != null)
            {
                <text>form_data.append('TipoPedido', 'CPV');</text>
                <text>form_data.append("guid", @PedidoCPV.ID);</text>
            }
            else
            {
                <text>form_data.append('TipoPedido', 'CORP');</text>
                <text>form_data.append("guid", @PedidoCORP.ID);</text>
            }

            $.ajax({
                type: 'post',
                url: '/Fornecedor/LocationUpdate',
                data: form_data,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if(response.split(',')[0] == "OK"){
                        $("#PostMessage").html('Post OK');
                    }
                },
                error: function (error) {
                    $("#PostMessage").html('Post Errror');
                }
            });
            $("#demo").html(position.coords.latitude + " " + position.coords.longitude);
        }

    </script>

</head>



<body id="Fornecedores">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil">
                </div>
            </div>
        </div>
    </header>
    @{
        if (ViewBag.Step2 == false)
        {
            <section id="STEPONE">
                <h1>
                    Foto da Coroa de Flores
                </h1>
                <p>
                    <b>@Fornecedor.Nome</b>, por favor, clique no desenho da camera para fotografar e enviar a foto da coroa de flores.
                </p>
                <hr />

                <div class="clear"></div>

                @if (PedidoCPV != null)
                {
                    foreach (var item in PedidoCPV.PedidoItems)
                    {
                        bool TravaUpload = false;
                        var UrlFotoServer = "";


                        var path = "E:\\WEB\\cdn.coroasparavelorio.com.br\\Pedidos\\" + item.Pedido.Numero + "\\" + item.ID + ".jpg";
                        if (Domain.Core.Configuracoes.HOMOLOGACAO)
                        {
                            path = Server.MapPath("~/Content/Pedidos/" + item.Pedido.Numero + "/" + item.ID + ".jpg");
                        }

                        var file = new FileInfo(path);

                        if (file.Exists)
                        {
                            TravaUpload = true;

                            if (Domain.Core.Configuracoes.HOMOLOGACAO)
                            {
                                UrlFotoServer = "/Content/Pedidos/" + item.Pedido.Numero + "/" + item.ID + ".jpg";
                            }
                            else {
                                UrlFotoServer = "http://admin.coroasparavelorio.com.br/content/pedidos/" + item.Pedido.Numero + "/" + item.ID + ".jpg";
                            }

                        }

                        <div class="row">
                            <div class="col-md-12">
                                <label class="myLabel">
                                    <input type="file" @{ if (TravaUpload == true) { <text> disabled</text> } } id="foto_CPV_@item.ID" style="width:150px!important;" required name="foto_CPV_@item.ID" />
                                    <span>
                                        <img class="Icone" style="@{ if (TravaUpload == true) { <text> display: none;</text> } }" width="50" src="/Content/imagens/camera-icon-61576.png" />
                                        <img src="@UrlFotoServer" class="FotoEnviada" style="@{ if (TravaUpload == false) { <text> display: none;</text> } }" width="100" />
                                    </span>
                                    <div>
                                        <p>
                                            <span style="@{ if (TravaUpload == true) { <text> display: none;</text> } }" class="FotoDesc">Foto do Produto: <br /> </span>
                                            @item.ProdutoTamanho.Produto.Nome @item.ProdutoTamanho.Tamanho.Nome
                                            <span class="enviada" style="display: none; color: green;"><br /> FOTO ENVIADA!</span>
                                            <span class="StatusEnvio" style="@{ if (TravaUpload == false) { <text> display: none;</text> } if(item.StatusFotoID == 2) { <text>color: #ffbc00;</text> } if(item.StatusFotoID == 3) { <text>color: green;</text> } }"><br />@Domain.Helpers.EnumHelper.GetDescription(item.StatusFoto).ToUpper()</span>
                                        </p>
                                        <div style="display: none;" class="loading">
                                            <img src="~/Content/imagens/loading.gif" />
                                        </div>
                                    </div>
                                </label>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#foto_CPV_@item.ID').on("change", function () {
                                            var Upload = $(this).attr("disabled", "disabled");

                                            var Loading = $(this).parent().find(".loading");
                                            $(Loading).show();

                                            var Enviada = $(this).parent().find(".enviada");
                                            var FotoDesc = $(this).parent().find(".FotoDesc");
                                            var Icon = $(this).parent().find(".Icone");
                                            var FotoEnviada = $(this).parent().find(".FotoEnviada");

                                            var form_data = new FormData();
                                            form_data.append('file', $('#foto_CPV_@item.ID').prop('files')[0]);
                                            form_data.append('Pedido', '@Request.QueryString["Pedido"]');
                                            form_data.append("guid", @item.ID);

                                            $.ajax({
                                                type: 'post',
                                                url: '/Fornecedor/EnviarFoto',
                                                data: form_data,
                                                dataType: 'json',
                                                contentType: false,
                                                processData: false,
                                                success: function (response) {
                                                    if (response.split(',')[0] == "OK") {
                                                        $(Loading).hide();
                                                        $(FotoDesc).hide();
                                                        $(Enviada).show();
                                                        $(FotoEnviada).show();
                                                        $(FotoEnviada).attr("src", response.split(',')[2]);
                                                        $(Icon).hide();
                                                    }
                                                    else {
                                                        alert("Error: " + response);
                                                        $(Upload).removeAttr("disabled", "disabled");
                                                        $(Loading).hide();
                                                    }
                                                },
                                                error: function (error) {
                                                    alert("errror");
                                                    $(Upload).removeAttr("disabled", "disabled");
                                                    $(Loading).hide();
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
        }
    }
                @if (PedidoCORP != null)
                {
                    bool TravaUpload = false;
                    var UrlFotoServer = "";

                    var path = "E:\\WEB\\cdn.coroasparavelorio.com.br\\Pedidos\\" + PedidoCORP.ID + "\\" + PedidoCORP.ID + ".jpg";
                    if (Domain.Core.Configuracoes.HOMOLOGACAO) {
                        path = Server.MapPath("~/Content/Pedidos/" + PedidoCORP.ID + "/" + PedidoCORP.ID + ".jpg");
                    }

                    var file = new FileInfo(path);

                    if (file.Exists)
                    {
                        TravaUpload = true;

                        if (Domain.Core.Configuracoes.HOMOLOGACAO)
                        {
                            path = "/Content/Pedidos/" + PedidoCORP.ID + "/" + PedidoCORP.ID + ".jpg";
                        }
                        else {
                            UrlFotoServer = "http://admin.coroasparavelorio.com.br/content/pedidos/" + PedidoCORP.ID + "/" + PedidoCORP.ID + ".jpg";
                        }
                        
                    }

                    <div class="row">
                        <div class="col-md-12">
                            <label class="myLabel">
                                <input type="file" @{ if (TravaUpload == true) { <text> disabled</text> } } id="foto_CORP_@PedidoCORP.ID" style="width:150px!important;" required name="foto_CORP_@PedidoCORP.ID" />
                                <span>
                                    <img class="Icone" style="@{ if (TravaUpload == true) { <text> display: none;</text> } }" width="50" src="/Content/imagens/camera-icon-61576.png" />
                                    <img src="@UrlFotoServer" class="FotoEnviada" style="@{ if (TravaUpload == false) { <text> display: none;</text> } }" width="100" />
                                </span>
                                <div>
                                    <p>
                                        <span style="@{ if (TravaUpload == true) { <text> display: none;</text> } }" class="FotoDesc">Foto do Produto: <br /> </span>
                                        @PedidoCORP.ProdutoTamanho.Produto.Nome @PedidoCORP.ProdutoTamanho.Tamanho.Nome
                                        <span class="enviada" style="display: none; color: green;"><br /> FOTO ENVIADA!</span>
                                        <span class="StatusEnvio" style="@{ if (TravaUpload == false) { <text> display: none;</text> } if(PedidoCORP.StatusFotoID == 2) { <text>color: #ffbc00;</text> } if(PedidoCORP.StatusFotoID == 3) { <text>color: green;</text> } }"><br />@Domain.Helpers.EnumHelper.GetDescription(PedidoCORP.StatusFoto).ToUpper()</span>
                                    </p>
                                    <div style="display: none;" class="loading">
                                        <img src="~/Content/imagens/loading.gif" />
                                    </div>
                                </div>
                            </label>

                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#foto_CORP_@PedidoCORP.ID').on("change", function () {
                                        var Upload = $(this).attr("disabled", "disabled");

                                        var Loading = $(this).parent().find(".loading");
                                        $(Loading).show();

                                        var Enviada = $(this).parent().find(".enviada");
                                        var FotoDesc = $(this).parent().find(".FotoDesc");
                                        var Icon = $(this).parent().find(".Icone");
                                        var FotoEnviada = $(this).parent().find(".FotoEnviada");

                                        var form_data = new FormData();
                                        form_data.append('file', $('#foto_CORP_@PedidoCORP.ID').prop('files')[0]);
                                        form_data.append('Pedido', '@Request.QueryString["Pedido"]');
                                        form_data.append('PedidoEmpresa', '@Request.QueryString["PedidoEmpresa"]');
                                        form_data.append("guid", @PedidoCORP.ID);

                                        $.ajax({
                                            type: 'post',
                                            url: '/Fornecedor/EnviarFoto',
                                            data: form_data,
                                            dataType: 'json',
                                            contentType: false,
                                            processData: false,
                                            success: function (response) {
                                                if (response.split(',')[0] == "OK") {
                                                    alert('asd');
                                                    $(Loading).hide();
                                                    $(FotoDesc).hide();
                                                    $(Enviada).show();
                                                    $(FotoEnviada).show();
                                                    $(FotoEnviada).attr("src", response.split(',')[2]);
                                                    $(Icon).hide();
                                                }
                                                else {
                                                    alert("Error: " + response);
                                                    $(Upload).removeAttr("disabled", "disabled");
                                                    $(Loading).hide();
                                                }
                                            },
                                            error: function (error) {
                                                alert("errror");
                                                $(Upload).removeAttr("disabled", "disabled");
                                                $(Loading).hide();
                                            }
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
    }
            </section>
    }
    else
    {
        <section id="STEPTWO">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>
                            Entrega da Coroa de Flores
                        </h1>
                        <div class="clearfix">

                        </div>
                        @if ((PedidoCPV != null && PedidoCPV.FornecedorEmProcessamento == false) || (PedidoCORP != null && PedidoCORP.FornecedorEmProcessamento == false))
                        {
                            <p>
                                Pedido ainda não liberado para entrega.
                            </p>
                        }
                        else if ((PedidoCPV != null && PedidoCPV.StatusCancelamentoID != null) || (PedidoCORP != null && PedidoCORP.StatusCancelamentoID != null))
                        {
                            <p>
                                Pedido cancelado
                            </p>
                        }
                        else if ((PedidoCPV != null && PedidoCPV.FornecedorEntregou == true) || (PedidoCORP != null && PedidoCORP.FornecedorEntregou == true))
                        {
                            <p>
                                Pedido já entregue.
                            </p>
                        }
                        else
                        {
                            <div class="col-md-6 col-md-offset-3 text-left">
                                <table style="text-align: left;">
                                    <tr>
                                        <td>
                                            <b>Data do Pedido</b>
                                        </td>
                                        <td>
                                            @if (PedidoCPV != null)
                                            {
                                                @PedidoCPV.DataCriacao
                                            }
                                            else
                                            {
                                                @PedidoCORP.DataCriacao
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 120px;">
                                            <b>Local de Entrega</b>
                                        </td>
                                        <td>
                                            @ViewBag.LocalDeEntrega
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 120px;">
                                            <b>Homenageado</b>
                                        </td>
                                        <td>
                                            @ViewBag.Homenageado
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Itens</b>
                                        </td>
                                        <td>
                                            <br />
                                            <ul>
                                                @if (PedidoCPV != null)
                                                {
                                                    foreach (var Produto in PedidoCPV.PedidoItems)
                                                    {
                                                        <li>
                                                            @Produto.ProdutoTamanho.Produto.Nome / @Produto.ProdutoTamanho.Tamanho.Nome
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    @PedidoCORP.ProdutoTamanho.Produto.Nome <text>/</text> @PedidoCORP.ProdutoTamanho.Tamanho.Nome
                                                }
                                            </ul>

                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-6 col-md-offset-3 text-left">
                                <hr />
                                <form>
                                    <div class="form-group">
                                        <label for="RecebidoPor">Recebido Por (*)</label>
                                        <input type="text" class="form-control" id="RecebidoPor" placeholder="Quem recebeu a coroa?">
                                    </div>
                                    <div class="form-group">
                                        <label for="Relacionamento">Relacionamento com o Homenageado (*)</label>
                                        <select id="Relacionamento" class="form-control">
                                            <option value="Pai">Pai</option>
                                            <option value="Mãe">Mãe</option>
                                            <option value="Irmão(a)">Irmão(a)</option>
                                            <option value="Filho(a)">Filho(a)</option>
                                            <option value="Tio(a)">Tio(a)</option>

                                            <option value="Primo(a)">Primo(a)</option>
                                            <option value="Cunhado(a)">Cunhado(a)</option>
                                            <option value="Amigo(a)">Amigo(a)</option>
                                            <option value="Funcionário(a) do Velório">Funcionário(a) do Velório</option>

                                            <option value="Outros">Outros</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="display: none;" id="OutrosHIde">
                                        <label for="OutrosDetalhes">Especifique quem recebeu (*)</label>
                                        <textarea class="form-control" id="OutrosDetalhes" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Obs">Observação</label>
                                        <textarea class="form-control" id="Obs" rows="3"></textarea>
                                    </div>
                                    <button type="button" id="SalvarEntrega" class="btn btn-success">Enviar</button>
                                    <br />
                                    <br />
                                    <div id="Loading" class="text-center" style="display: none;">
                                        <img src="~/Content/imagens/loading.gif" />
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
                $(document).ready(function(){

                    $("#SalvarEntrega").click(function(){
                                        var RecebidoPor = $("#RecebidoPor").val();
                                        var Relacionamento = $("#Relacionamento").val();
                                        var OutrosDetalhes = $("#OutrosDetalhes").val();
                                        var Obs = $("#Obs").val();

                                        if(RecebidoPor == ""){
                                            swal('Oops...', 'Preencha quem recebeu a coroa', 'error');
                                            return false;
                                        }
                                        if(Relacionamento == "Outros" && $("#OutrosDetalhes").val() == ""){
                                            swal('Oops...', 'Especifique o relacionamento de quem recebeu a coroa', 'error');
                                            return false;
                                        }

                                        var form_data = new FormData();
                                        form_data.append('RecebidoPor', RecebidoPor);
                                        form_data.append('Relacionamento', Relacionamento);
                                        form_data.append('OutrosDetalhes', OutrosDetalhes);
                                        form_data.append('Obs', Obs);

                                        @if(PedidoCORP != null)
                        {
                            <text>form_data.append("PedidoID", @PedidoCORP.ID);</text>
                            <text>form_data.append("TipoPedido", "CORP");</text>
                        }
                        else
                        {
                            <text>form_data.append("PedidoID", @PedidoCPV.ID);</text>
                            <text>form_data.append("TipoPedido", "CPV");</text>
                        }

                        $("#Loading").show();
                        $("#SalvarEntrega").attr("disabled", "disabled");

                        $.ajax({
                            type: 'post',
                            url: '/Fornecedor/SalvarEntrega',
                            data: form_data,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                $("#Loading").hide();

                                swal({
                                    title: 'Informações salvas com sucesso!',
                                    text: 'A página será redirecionada em 5 seg...',
                                    showCancelButton: false,
                                    timer: 5000
                                }).then((result) => {
                                    if (result.value) {
                                        location.reload();
                                    };
                                    if (result.dismiss === 'timer') {
                                        location.reload();
                                    };
                                });

                            },
                            error: function (error) {
                                                swal('Oops...', 'Erro', 'error');
                                $("#Loading").hide();
                                            }
                                        });
                                    });

                    $("#Relacionamento").change(function(){
                                        if($(this).val() == "Outros"){
                            $("#OutrosHIde").show();
                                        }
                        else{
                            $("#OutrosDetalhes").val("");
                            $("#OutrosHIde").hide();
                                        }
                                    });
                                });
        </script>
    }
    }

    <footer>
        <section class="last">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>Coroas para velorio | CNPJ: 12.404.942/0001-14</p>
                        <p>www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a></p>
                        <p>As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.</p>
                        <p>É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site</p>

                        <span>
                            <p>Copyright &copy; @DateTime.Now.Year Coroas para Velório | TODOS OS DIREITOS RESERVADOS</p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    </footer>
    <!-- TAGUEAMENTO -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_set', 'currencyCode', 'BRL']);

        @Html.Raw(ViewBag.TrackTrans)

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <p id="demo"></p>
    <p id="PostMessage"></p>
</body>

</html>