﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dúvidas Frequentes";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
    
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "duvidas-frequentes")" itemprop="url">      
      <span itemprop="title"><b>Dúvidas Frequentes</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo" id="DuvidasFrequentes">
    <h1>Dúvidas Frequentes</h1>
    <span class="qlassik f24">Tópicos de Dúvidas</span>
    <div class="TopicosDuvidas qlassik">
        <div class="Topico">
            <a href="@Url.RouteUrl("Duvidas", new{ rotuloUrl = "cadastro", tipoID = 1})" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'cadastro']);"><img src="../../Content/img/ico-duvidas-cadastro.png" border="0" alt="Cadastro" title="Cadastro"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "cadastro", tipoID = 1 })">Cadastro</a></div>
        </div>
        <div class="Topico">
            <a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "como-comprar", tipoID = 2 })" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'como-comprar']);"><img src="../../Content/img/ico-duvidas-comprar.png" border="0"  alt="Como comprar" title="Como comprar"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "como-comprar", tipoID = 2 })">Como comprar</a></div>
        </div>
        <div class="Topico" style="margin-right: 0">
            <a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "entrega", tipoID = 3 })" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'entrega']);"><img src="../../Content/img/ico-duvidas-entrega.png" border="0"  alt="Entrega" title="Entrega"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "entrega", tipoID = 3 })">Entrega</a></div>
        </div>
        <div class="Topico">
            <a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "pagamento", tipoID = 4 })" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'pagamento']);"><img src="../../Content/img/ico-duvidas-pagamento.png" border="0"  alt="Pagamento" title="Pagamento"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "pagamento", tipoID = 4 })">Pagamento</a></div>
        </div>
        <div class="Topico">
            <a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "meus-pedidos", tipoID = 5 })" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'meus-pedidos']);"><img src="../../Content/img/ico-duvidas-pedidos.png" border="0"  alt="Meus pedidos" title="Meus pedidos"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "meus-pedidos", tipoID = 5 })">Meus pedidos</a></div>
        </div>
        <div class="Topico" style="margin-right: 0">
            <a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "demais-infos", tipoID = 6 })" onmousedown="_gaq.push(['_trackEvent', 'duvidas', 'clique', 'demais-infos']);"><img src="../../Content/img/ico-duvidas-infos.png" border="0"  alt="Demais infos" title="Demais infos"/></a>
            <div class="txt"><a href="@Url.RouteUrl("Duvidas", new { rotuloUrl = "demais-infos", tipoID = 6 })">Demais infos</a></div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>