﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.Title = " - Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
@section Script{    
    <script type="text/javascript"> 
        $(document).ready(function () {
        
            $('#telefone').mask('(99) 99999999?9');

            $("#form_contato").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $("#enviar").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/Contato/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/contato?msg=sucesso";
                        } else {                        
                            alert(data.mensagem);
                            $("#enviar").show();
                            $("#processando").hide();    
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    telefone: "required",
                    mensagem: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nome: "Digite seu nome",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    telefone: "Digite o seu telefone",
                    mensagem: "Digite sua mensagem",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
    <!--Tag RDStation-->
<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/f60a3c08-2722-4367-a42f-0d763d779f50-loader.js"></script>
<!--Tag RDStation-->
}
<br />

<table width="960px">
<tr>
<td><hr class="divisa" style="width:300px" /></td>
<td><h1 class="laranja">CONTATO</h1> </td>
<td><hr class="divisa" style="width:300px" /></td>
</tr>
</table>

@if (Request.QueryString["msg"] == "sucesso")
{
     <div class="message success">Seu contato foi enviado com sucesso! <br />Por favor, aguarde nosso contato.</div> 
    <br />
}
else
{
    using (Html.BeginForm("Index", "Contato", FormMethod.Post, new { id = "form_contato", name = "form_contato", enctype = "multipart/form-data", @class = "formulario" }))
    {   
            <table cellspacing="0" cellpadding="0" border="0" width="800px" class="form" style="margin:0 auto;">
                <tr> 
                    <td class=" label">Nome:</td>
                    <td width="5"></td>
                    <td colspan="5"> 
                        <input type="text" id="nome" name="nome"/>
                    </td>
                </tr>
                <tr> 
                    <td class=" label">Telefone:</td>
                    <td width="10"></td>
                    <td>
                        <input type="text" id="telefone" name="telefone" />
                    </td>
                    <td width="5"></td>
                    <td class=" label">Email:</td>
                    <td width="5"></td>
                    <td>
                        <input type="text" id="email" name="email" />
                    </td>
                </tr>
                <tr>
                    <td class=" label">Mensagem:</td>
                    <td width="5"></td>
                    <td colspan="5"> 
                        <textarea id="mensagem" name="mensagem"></textarea>
                    </td>
                </tr> 
                <tr>
                    <td class=" label">Validação:</td>
                    <td width="5"></td>
                    <td> 
                        @captcha
                    </td>
                    <td colspan="4"></td>
                </tr> 
                <tr style="height:10px;">
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td colspan="7" class="center">
                        <input type="image" value="Enviar" src="/content/images/bt-enviar.jpg" class="direita" id="enviar" onmousedown="_gaq.push(['_trackEvent', 'form', 'contato', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>
            </table>
    }
}
 
@Html.Partial("Cadastre-se")