﻿@model Domain.Entities.ListaNegra

@{
    ViewBag.Title = Model == null ? "Novo Black List" : "Edição do Black List " + Model.Documento;
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var administrador = (Domain.Entities.Administrador)ViewBag.Administrador;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Black List" : "Edição do Black List " + Model.Documento)</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "ListaNegra", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.DataCadastro) 
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>CPF/CNPJ</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Observação</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput" })
                    </div>
                </div>   
                @if (Model != null)
                {
                <div class="mws-form-row">
                    <label>Data de cadastro</label>
                    <div class="mws-form-item small">
                        @Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>   
                } 
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">

    $(document).ready(function () {
        $('#clientes').addClass('active');
        $('#i_lista').addClass('active');
         
        $("#Documento").mask({ mask: "##############", allowPartials: true }); 
          
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Documento: "required" 
            },
            messages: { 
                Documento: {
                    required: "O campo é obrigatório", 
                } 
            }
        });
    });
</script>
}