﻿@model IEnumerable<Domain.Entities.ListaNegra>

@{
    ViewBag.Title = "Black List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientes').addClass('active');
            $('#i_lista').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString()){
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString()){
    <div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString()){
    <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Black List
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "ListaNegra")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
        <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                <table>
                <tr>
                    <td>Data Inicial:</td>
                    <td><input type="text" name="datacadastro" id="dataInicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width: 150px;"/></td>
                    <td>Data Final:</td>
                    <td><input type="text" name="datafinal" id="dataFinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                </tr>
                <tr> 
                    <td>CPF/CNPJ:</td>
                    <td><input type="text" name="documento" value="@Request.QueryString["documento"]" autocomplete="off" style="width:150px;"/></td> 
                </tr> 
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                </form> 
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">CPF/CNPJ</th>
                        <th align="center">Observação</th> 
                        <th style="text-align:center; width:150px;">Data de Cadastro</th> 
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any()){
                    foreach (var item in Model){
                    <tr>
                        <td>@Domain.Core.Funcoes.Formata_CNPJ(item.Documento)</td>  
                        <td>@Html.Raw((item.Observacao ?? "").Replace("\n","<br>"))</td>
                        <td style="text-align:center;">@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td> 
                         <td class="center" style="width:164px;">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							        <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                                 </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }
                else{
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1){
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++){
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&cpf=@Request.QueryString["cpf"]&datacadastro=@Request.QueryString["datacadastro"]&pedidos=@Request.QueryString["pedidos"]&migrados=@Request.QueryString["migrados"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>
</div>