﻿@model Domain.Entities.EstoqueFornecedor
@{
    ViewBag.Title = "Novo Fornecedor Genérico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<style>
    .mws-form-row-fourth {
        float: left;
        width: 20%;
    }

    #Contas .mws-form-row:nth-child(2) {
        float: left;
        width: 6%;
    }

    #Contas .mws-form-row:nth-child(3) {
        float: left;
        width: 3%;
    }

    #Contas .mws-form-row:nth-child(4) {
        float: left;
        width: 6%;
    }

    #Contas .mws-form-row:nth-child(5) {
        float: left;
        width: 6%;
    }

    #Contas .mws-form-row:nth-child(6) {
        float: left;
        width: 8%;
    }

    #Contas .mws-form-row:nth-child(7) {
        float: left;
    }
</style>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Fornecedor Genérico</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "FornecedorGenerico", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <label>Nome:</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.NomeFornecedor, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        <input type="radio" name="TipoID" value="2" @((Model != null) ? Model.TipoID == (int)Domain.Entities.EstoqueFornecedor.Tipos.PessoaJuridica ? "checked='checked'" : "" : "") /> PJ
                        <input type="radio" name="TipoID" value="1" @((Model != null) ? Model.TipoID == (int)Domain.Entities.EstoqueFornecedor.Tipos.PessoaFisica ? "checked='checked'" : "" : "checked='checked'") /> PF
                    </div>
                </div>
                <div class="mws-form-row">
                    <label id="lblDocumento">@((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaFisica ? "CPF" : "CNPJ" : "CPF")</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Telefone, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EstadoID, new SelectList(ViewBag.Estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.CidadeID, new SelectList(ViewBag.Cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>CEP</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })
                        <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Logradouro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Número</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Complemento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Bairro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Dia do Faturamento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.DiaFaturamento, new { @class = "mws-textinput", maxlength = "200" })
                        <i>
                            Digite 0 para faturamento instantâneo
                        </i>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Email</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>
                        Conta
                    </h2>
                </div>
                <div id="Contas">
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Banco</label>
                        <div class="mws-form-item">
                            <select class="mws-textinput" id="EstoqueFornecedorBancoID" name="EstoqueFornecedorBancoID">
                                <option value="">-- selecione -- </option>
                                @{
                                    foreach (var Banco in ViewBag.Bancos)
                                    {
                                        <option value="@Banco.ID">@Banco.NomeBanco</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Agência</label>
                        <div class="mws-form-item">
                            <input class="mws-textinput OnlyNumber" id="Agencia" maxlength="4" name="Agencia" type="text">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Dig</label>
                        <div class="mws-form-item">
                            <input class="mws-textinput OnlyNumber" id="AgenciaDig" maxlength="1" name="AgenciaDig" type="text">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Conta</label>
                        <div class="mws-form-item">
                            <input class="mws-textinput OnlyNumber" id="Conta" maxlength="8" name="Conta" type="text">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Dig</label>
                        <div class="mws-form-item">
                            <input class="mws-textinput OnlyNumber" id="ContaDig" maxlength="1" name="ContaDig" type="text">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Tipo de Conta</label>
                        <div class="mws-form-item">
                            <select class="mws-textinput" id="TiposConta" name="TiposConta">
                                <option value="">-- selecione -- </option>
                                @{
                                    foreach (var TipoConta in ViewBag.TiposConta)
                                    {
                                        <option value="@TipoConta.ID">@TipoConta.Sigla</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Favorecido</label>
                        <div class="mws-form-item">
                            <input class="mws-textinput" id="Favorecido" maxlength="200" name="Favorecido" type="text">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar">
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='/PedidosSite/List';">
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
                                    }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function getEnderecoCadastro(n) {
            $.trim(n) != "" ? $.post(url + n, function (n) {
                var i, t; n.resultado == "1" ? (
                    $("#Logradouro").val(unescape(n.tipo_logradouro + " " + n.logradouro)),
                $("#Bairro").val(unescape(n.bairro)),
                $('#EstadoID option[text="' + unescape(n.uf) + '"]').attr({ selected: "selected" }),
                $("#CidadeID").show(), $("#CidadeID").get(0).options.length = 0,
                $("#CidadeID").get(0).options[0] = new Option("-- selecione --", ""), i = unescape(n.uf),
                $("#EstadoID option:contains(" + i + ")").attr("selected", "selected"), t = unescape(n.cidade).toUpperCase().latinize(),
                $.post("/Home/GetCidades", {
                    uf: i, selected: t
                },
                function (n) {
                    if (n != undefined && n != "")
                        for (var i = 0; i < n.length; i++)
                            $("#CidadeID").get(0).options[i + 1] = new Option(n[i].Text, n[i].Value, n[i].Selected);
                    $("#CidadeID").find("option:contains('" + t + "')").each(function () {
                        $(this).text() == t && $(this).attr("selected", "selected")
                    }),
                    $("#load_cidade").hide()
                }),
                $("#load_cep").hide(), $("#Numero").focus()) : $("#load_cep").hide()
            }) :
            $("#load_cep").hide()
        }
        var url = "/Home/GetCEP?cep=";

        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript">

        function ChangeTipoID() {
            if ($("input[name='TipoID']:checked").val() == "2") {
                $("#lblDocumento").html('CNPJ');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
            } else {
                $("#lblDocumento").html('CPF');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
            }
        }

        $(document).ready(function () {

            $("#CEP").blur(function () {
                $("#load_cep").show(),
                getEnderecoCadastro($("#CEP").val())
            })

            $('#financeiro').addClass('active');
            $('#i_novo_fornecedor_generico').addClass('active');

            ChangeTipoID();

            $("#EstadoID").val('26');
            $("#CidadeID").val('8570');

            $("input[name='TipoID']").click(function () {
                ChangeTipoID();
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    NomeFornecedor: "required",
                    Documento: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    DiaFaturamento: "required",
                    Email: {
                        email: true
                    },
                },
                messages: {
                    NomeFornecedor: "O Campo é Obrigatório",
                    Documento: "O Campo é Obrigatório",
                    EstadoID: "O Campo é Obrigatório",
                    CidadeID: "O Campo é Obrigatório",
                    DiaFaturamento: "O Campo é Obrigatório",
                    EmailSecundario: {
                        email: "Digite um e-mail válido"
                    },
                }
            });
            $(".ValorUnidade").maskMoney();
            $('.OnlyNumber').ForceNumericOnly();

            $("#EstadoID").change(function () {

                var n = $("#EstadoID option:selected").text();

                $("#CidadeID").length > 0 ? ($("#CidadeID").hide(), $("#load_cidade").show(), $("#CidadeID").get(0).options.length = 0, $("#CidadeID").get(0).options[0] = new Option("-- selecione --", ""),

                $.post("/Home/GetCidades/", {
                    uf: n
                }, function (n) {
                    if (n != undefined && n != "")
                        for (var t = 0; t < n.length; t++) $("#CidadeID").get(0).options[t + 1] = new Option(n[t].Text, n[t].Value);
                    $("#load_cidade").hide(), $("#CidadeID").show()
                })) : ($("#box1View").hide(), $("#load_cidade").show(), $.post("/Home/GetCidades/", {
                    uf: n
                }, function (n) {
                    if (n != undefined && n != "")
                        for (var t = 0; t < n.length; t++) $("#box1View").get(0).options[t + 1] = new Option(n[t].Text, n[t].Value);
                    $("#load_cidade").hide(), $("#box1View").show()
                }))
            })

            $("#enviar").click(function () {

                if ($("#DiaFaturamento").val() > 31) {
                    alert('Valor Inválido');
                    return false;
                }
                if ($("#Telefone").val().length < 0 && $("#Telefone").val().length < 13) {
                    alert('Telefone Inválido');
                    return false;
                }

            });
        });


    </script>

}