﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contato";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
 
@section Script{    
    <script type="text/javascript"> 
        $(document).ready(function () {
            $("#form_contato").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/Contato/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/contato?msg=sucesso";
                        } else {                        
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();    
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nomec: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    telefone: "required",
                    mensagem: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nomec: "Digite seu nome",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    telefone: "Digite o seu telefone",
                    mensagem: "Digite sua mensagem",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a></div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Entre em contrato</b></span></div>
</div>
</div>


<div id="EntreEmContato">
<div class="Div">

	<h1 class="TituloPagina">Entre em contato</h1>

	<div class="Formulario2">
            @if (Request.QueryString["msg"] == "sucesso")
            {
                <div class="message success">Sua mensagem foi enviada com sucesso!</div>
            }
            else
            {
                using (Html.BeginForm("Index", "Contato", FormMethod.Post, new { id = "form_contato", name = "form_contato", enctype = "multipart/form-data", @class = "formulario" }))
                {   
	            <div class="Formulario">

		            <div class="FormTexto1">Envie-nos um email!</div>

		            <div class="FormDiv1">
			            <div class="FormNomeCampo">Nome:</div>
			            <div class="FormCampo"><input type="text" id="nomec" name="nomec" class="FormCampoInput" /></div>
		            </div>

		            <div class="FormDiv2">
			            <div class="FormNomeCampo">Telefone:</div>
			            <div class="FormCampo"><input type="text" id="telefone" name="telefone" class="FormCampoInput" /></div>
		            </div>

		            <div class="FormDiv2">
			            <div class="FormNomeCampo">Email:</div>
			            <div class="FormCampo"><input type="text" id="email" name="email" class="FormCampoInput" /></div>
		            </div>

		            <div class="FormDiv2">
			            <div class="FormNomeCampo">Mensagem:</div>
			            <div class="FormCampo"><textarea id="mensagem" name="mensagem" class="FormCampoTextarea"></textarea></div>
		            </div>

		            <div class="FormDivValidacao">
			            <div class="FormNomeCampo">Validação:</div>
			            <div class="FormValidacaoCampo">
				            <div class="FormValidacaoImagem">                
                                    @captcha
                            </div> 
			            </div>
		            </div>

		            <div class="FormDivBotao">                    
                        <input type="submit" value="ENVIAR" class="FormBotao" onmousedown="_gaq.push(['_trackEvent', 'form', 'contato', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div> 
                    </div>

	            </div>
                }
            }
	</div>

	<div class="Div2">
	
		<div class="FormTexto1">Ligue:</div>

		<div class="Div2Sac">
			<div class="Div2Sac1"><img src="/content/imagens/telefone2.png" class="Div2SacImg" alt="SAC" /></div>
			<div class="Div2Sac2">SAC 24h:</div>
			<div class="Div2Sac3">(11) 4097-9400</div>
		</div>

		@*<div class="FormTexto2">São Paulo e região:</div>
		<div class="Div2TelRegiao">(11) 4007-2233</div>*@
        
        @*@if (!String.IsNullOrEmpty(configuracoes.Telefones))
        {
        <div class="FormTexto2">Por região:</div>
        <br />
        @Html.Raw(configuracoes.Telefones)  
        }*@

		<div class="FormTexto2">Ainda em dúvida?</div>
		<div class="Div2DuvidaTexto">Acesse nossa área de dúvidas frequentes clicando <a href="/como-comprar/Index" class="Div2DuvidaUrl">aqui</a> ou fale conosco (11) 4097-9400.</div>

	</div>
     

</div>
    
</div>