﻿@model IEnumerable<Domain.Entities.Empresa>

@{
    ViewBag.Title = "Faturamentos do dia";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#financeiro').addClass('active');
            $('#i_dia').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Empresas com pedidos pendentes de faturamento
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">           
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
                <table>
                    <tr>
                        <td>Data:</td>
                        <td colspan="4"><input type="text" name="data" id="data" value="@Request.QueryString["data"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                    </tr>
                </table>
                @if (Model.Any())
                {
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>Pendente COM OC:</td>
                                        <td colspan="4">
                                            <b>
                                                @ViewBag.SumComOC
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pendente SEM OC:</td>
                                        <td colspan="4">
                                            <b>
                                                @ViewBag.SumSemOC
                                            </b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table style="margin-left: 10px;">
                                    <tr>
                                        <td>Soma Faturamento Mensal:</td>
                                        <td colspan="4">
                                            <b>
                                                @ViewBag.SumFatMensal
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Soma Faturamento Imediato:</td>
                                        <td colspan="4">
                                            <b>
                                                @ViewBag.SumFatImediato
                                            </b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table style="margin-left: 10px;">
                                    <tr>
                                        <td>Soma Faturamento Instan.:</td>
                                        <td colspan="4">
                                            <b>
                                                @ViewBag.SumFatInstantaneo
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                       
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>


                   
                }
                <input type="submit" class="mws-button gray small" value="Filtrar" />
                </form>
        </div>     
        <table class="mws-table">
            <thead>
                <tr>
                    <th >Razão Social</th>
                    <th align="center">Condição de Faturamento</th>
                    <th align="center">Dia</th>
                    <th align="center">Dias Corridos para Venc.</th>
                    <th align="center">Ordem de Compra</th>
                    <th align="center">Pedidos</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.RazaoSocial</td>
                    <td>
                        @{
                            if (item.CondicaoFaturamento != null)
                            {
                                @Domain.Helpers.EnumHelper.GetDescription(item.CondicaoFaturamento)
                            }
                            else
                            {
                                <text>Instantâneo</text>
                            }
                        }
                    </td>
                    <td class="center" style="width:140px;">@switch(item.CondicaoFaturamento)
                        {
                           case Domain.Entities.Empresa.CondicoesFaturamento.Imediato:
                                @DateTime.Now.Day
                           break;
                           case Domain.Entities.Empresa.CondicoesFaturamento.Mensal:
                                @item.FaturamentoDiaMes;
                           break;                                   
                        }   
                    </td>
                    <td class="center" style="width:180px;">@item.DiasParaVencimentoBoleto</td>
                    <td class="center" style="width:180px;">
                        @{
                            if (item.OrdemDeCompra)
                            {
                                <text>SIM</text>
                            }
                            else
                            {
                                <text>NÃO</text>
                            }
                        }
                    </td>
                    <td class="center" style="width:140px;">
                        @item.PedidoEmpresas.Count(c => !c.FaturamentoID.HasValue && c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado)
                    </td>
                    <td class="center" style="width:140px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li style="width:140px;">@Html.ActionLink("Faturar", "Faturar", new { id = item.ID }, new { @class = "mws-ic-16 ic-money", target="_blank" })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>