﻿@model IEnumerable<Domain.Entities.PedidoEmpresa>
@{
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    ViewBag.Title = "Novo Faturamento para a empresa " + empresa.RazaoSocial;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Faturamento para a empresa @empresa.RazaoSocial</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Faturar", "FaturasEmpresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.Hidden("EmpresaID", empresa.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>E-mail do financeiro</label>
                    <div class="mws-form-item small">
                        @Html.Raw(empresa.EmailFinanceiro != null?"<a href='mailto:@empresa.EmailFinanceiro'>" + empresa.EmailFinanceiro+"</a>":"N/I")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>E-mail de contato</label>
                    <div class="mws-form-item small">
                        <a href="mailto:@empresa.EmailContato">@empresa.EmailContato</a>
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Condição de Faturamento</label>
                    <div class="mws-form-item small">
                        @Domain.Helpers.EnumHelper.GetDescription(empresa.CondicaoFaturamento)
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>OBS Financeira</label>
                    <div class="mws-form-item small">
                        @(String.IsNullOrEmpty(empresa.ObservacaoFinanceira) ? "N/I" : empresa.ObservacaoFinanceira)
                    </div>
                </div> 
                <div class="mws-form-row">
                    <label>Dia(s) do mês para Faturamento</label>
                    <div class="mws-form-item small">
                        @switch (empresa.CondicaoFaturamento)
                        {
                           case Domain.Entities.Empresa.CondicoesFaturamento.Imediato:
                                <text>hoje</text>
                           break;
                           case Domain.Entities.Empresa.CondicoesFaturamento.Mensal:
                                @empresa.FaturamentoDiaMes;
                           break;        
                        } 
                    </div>
                </div>  
                <hr />
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        <input type="text" name="Titulo" id="Titulo" class="mws-textinput" maxlength = "200" />
                    </div>
                </div>  
                <hr />
                
                <div class="mws-form-row">
                    <label>Pedidos a serem incluídos nessa fatura.</label>
                    <p>Somente pedidos concluídos podem ser adicionados.</p>

                    <div class="mws-form-row">
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">Adicionar</th>
                                    <th align="center">ID</th>
                                    <th align="center">Produto</th>
                                    <th align="center">Tamanho</th>
                                    <th align="center">Data</th>
                                    <th align="center">Valor</th>
                                    <th align="center">Status</th>
                                    <th align="center">Status de Entrega</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>                         
                                    <td><input type="checkbox" name="pedidos" id="pedidos" value="@item.ID" data-valor="@item.Valor.ToString("N2").Replace(".","")" onclick="javascript:Soma(this);" class="chekpedidos"/></td>   
                                    <td><a target="_blank" href="@Url.Action("Visualizar", "PedidosEmpresa", new { id = item.ID })">@item.ID</a></td>
                                    <td>@item.ProdutoTamanho.Produto.Nome</td>
                                    <td>@item.ProdutoTamanho.Tamanho.Nome</td>
                                    <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.Valor.ToString("C2")</td>
                                    <td>@Domain.Helpers.EnumHelper.GetDescription(item.Status)</td>
                                    <td>@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</td>
                                </tr>
                            }
                        </table>
                    </div>  
                </div>
                <hr />
                <div class="mws-form-row">
                    <label>Valor Total</label>
                    <div class="mws-form-item small">
                        <span id="Valor">selecione os produtos</span>
                    </div>
                </div>  
                @*<div class="mws-form-row">
                    <label>Valor de Desconto</label>
                    <div class="mws-form-item small">
                        <input type="text" name="ValorDesconto" id="ValorDesconto" class="mws-textinput" maxlength = "200" value="0"/>
                    </div>
                </div>*@  
                <div class="mws-form-row">
                    <label>Valor para Pagamento</label>
                    <div class="mws-form-item small">
                        <span id="ValorTotal">selecione os produtos</span>
                    </div>
                </div> 
                <div class="mws-form-row">
                    <label>Data de Vencimento</label>
                    <div class="mws-form-item small">
                        <input type="text" name="DataVencimento" id="DataVencimento" class = "mws-textinput mws-datepicker" maxlength = "100" value="@ViewBag.DataVencimento" />
                    </div>
                 </div>
                <div class="mws-form-row">
                    <label>Forma de Pagamento</label>
                    <div class="mws-form-item small">
                        <select name="FormaPagamentoID" id="FormaPagamentoID" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="1">Cartão de Crédito</option>
                            <option value="7">Depósito Bancário</option>
                            <option value="3">Boleto Bancário</option>
                            <option value="9">Tradaq</option>
                        </select>
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Meio de Pagamento</label>
                    <div class="mws-form-item small">
                        <select name="MeioPagamentoID" id="MeioPagamentoID" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="7">Cartão Manual (Redeshop)</option>
                            <option value="5">Boleto Bancário Itaú</option>
                            <option value="8">Depósito Bancário Bradesco</option>
                            <option value="9">Depósito Bancário Banco do Brasil</option>
                            <option value="10">Depósito Bancário Itaú</option>
                            <option value="14">Permuta</option>
                        </select>
                    </div>
                </div>  
                <hr />
                <div class="mws-form-row">
                    <label>E-mails adicionais para envio do boleto e NFe <br /><i>OBS: Separar dois ou mais e-mails com ; (ponto e vírgula)</i></label>
                    <div class="mws-form-item small">
                        <input type="text" name="EmailsFinanceiro" id="EmailsFinanceiro" class = "mws-textinput" maxlength = "300" />
                    </div>
                 </div>
                <hr />
                <div class="mws-form-row">
                    <label>Observações</label>
                    <div class="mws-form-item small">
                        <textarea id="Observacoes" name="Observacoes" class = "mws-textinput" maxlength = "300"></textarea>
                    </div>
                 </div>
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
<script type="text/javascript">
    var total = parseFloat(0);

    function Soma(obj) {
        var valor = parseFloat(obj.getAttribute('data-valor').replace(',', '.'));
        if (obj.checked) {
            total = total + valor;
        }
        else {
            total = total - valor;
        }
        $("#ValorDesconto").val("0");
        $("#Valor").html(total.toFixed(2).replace('.', ','));
        $("#ValorTotal").html(total.toFixed(2).replace('.', ','));
    }

    $(document).ready(function () {
        $('#pedidosempresa').addClass('active');
        $('#i_pedidos_faturamento').addClass('active');


        $("#ValorDesconto").blur(function () {
            var desconto = parseFloat($("#ValorDesconto").val().replace(',', '.'));

            $("#ValorTotal").html((total - desconto).toFixed(2).replace('.', ','));
        });


        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) { 
                if ($(".chekpedidos:checked").length == 0) {
                    alert('Você deve selecionar pelo menos 1 pedido para faturamento');
                } else {
                    form.submit();
                }
            },
            rules: {
                Titulo: "required",
                DataVencimento: "required",
                FormaPagamentoID: "required",
                MeioPagamentoID: "required"
            },
            messages: {
                Titulo: "O campo título é obrigatório",
                DataVencimento: "O campo data de vencimento é obrigatório",
                FormaPagamentoID: "O campo forma de pagamento é obrigatório",
                MeioPagamentoID: "O campo meio de pagamento é obrigatório"
            }
        });
    });
</script>
}