﻿@model IEnumerable<Domain.Entities.Faturamento>

@{
    ViewBag.Title = "Faturamentos de Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clientes = (IEnumerable<Domain.Entities.Empresa>)ViewBag.Empresas;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidosempresa').addClass('active');
            $('#i_pedidos_faturamento').addClass('active');
        });       
    </script>
    <style type="text/css">
        div.mws-panel-toolbar ul li a:visited {
           color: #cccccc;
        }
    </style>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Faturamentos de Empresa
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "FaturasEmpresa")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
                <table align="center" style="margin: 0px auto;">
                    <tr style="height:20px;"></tr>
                    <tr>
                        <td style="width: 20px;"></td>
                        <td> Data de Inicial:</td>
                        <td style="width: 20px;"></td>
                        <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                        <td style="width: 100px;"></td>
                        <td>Data de Final:</td>
                        <td style="width: 20px;"></td>
                        <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                        <td style="width: 20px;"></td>
                    </tr>
                    <tr style="height:20px;"></tr>
                    <tr>
                        <td style="width: 20px;"></td>
                        <td>Nome do Cliente/Razão Social:</td>
                        <td style="width: 20px;"></td>
                        <td colspan="6">
                            @Html.DropDownList("clienteID", new SelectList(clientes, "ID", "RazaoSocial"), "-- selecione -- ", new { style = "width:840px;" })
                        </td>
                    </tr>
                    <tr style="height:20px;"></tr>
                    <tr>
                        <td style="width: 20px;"></td>
                        <td>Status de Pagamento:</td>
                        <td style="width: 20px;"></td>
                        <td>@Html.DropDownListForEnum("statuspagamento", typeof(Domain.Entities.Faturamento.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["statuspagamento"]) ? Convert.ToInt32(Request.QueryString["statuspagamento"]) : 0), new { style = "width:300px;" })</td>
                        <td style="width: 100px;"></td>
                        <td>Meio de Pagamento:</td>
                        <td style="width: 20px;"></td>
                        <td>@Html.DropDownListForEnum("meiopagamento", typeof(Domain.Entities.Pedido.MeiosPagamento), (!String.IsNullOrEmpty(Request.QueryString["meiopagamento"]) ? Convert.ToInt32(Request.QueryString["meiopagamento"]) : 0), new { style = "width:300px;" })</td>
                        <td style="width: 20px;"></td>
                    <tr style="height:30px;"></tr>
                @*<tr>
                <td>Data de Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                <td style="width:20px;"></td>
                <td>Data de Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
            </tr>
            <tr>
                <td>Empresa:</td>
                <td colspan="3">@Html.DropDownList("clienteID", new SelectList(clientes, "ID", "RazaoSocial"), "-- selecione -- ", new { style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>Status de Pagamento:</td>
                <td colspan="3">@Html.DropDownListForEnum("statuspagamento", typeof(Domain.Entities.Faturamento.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["statuspagamento"]) ? Convert.ToInt32(Request.QueryString["statuspagamento"]) : 0), new { style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>Meio de Pagamento:</td>
                <td colspan="3">@Html.DropDownListForEnum("meiopagamento", typeof(Domain.Entities.Pedido.MeiosPagamento), (!String.IsNullOrEmpty(Request.QueryString["meiopagamento"]) ? Convert.ToInt32(Request.QueryString["meiopagamento"]) : 0), new { style = "width:300px;" })</td>
            </tr>*@
                </table>
                <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                    <input type="submit" class="mws-button green big" value="Filtrar" />
                </div>
                <br /><br />
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center" style="width: 120px;">Pedido</th>
                    <th align="center">Título</th> 
                    <th align="center">Status de Pagamento</th>
                    <th align="center">Empresa</th>
                    <th align="center">Data de Criação</th>
                    <th align="center">Valor Total</th>
                    <th align="center">Data de Atualização</th>
                    <th align="center">Data de Vencimento Fatura</th>
                    <th align="center">Meio de Pagamento</th>
                    <th align="center">Ordem de Compra</th>
                    @*<th align="center">Ações</th>*@
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    @*<td>@item.ID</td>*@
                    <td class="center" style="width:140px;">
                        <div class="mws-panel-toolbar top clearfix">
                            <ul>
                                <li style="width:140px;">
                                    <a target="_blank" class="mws-ic-16 ic-view" href="@Url.Action("Visualizar", new { id = item.ID })">
                                        @item.ID
                                    </a>
                                    @*@Html.ActionLink("Visualizar", "Visualizar", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })*@
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>@item.Titulo</td> 
                    <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusPagamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusPagamento)</td>
                    <td>@item.Empresa.RazaoSocial</td>
                    <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.ValorTotal.ToString("C2")</td>
                    <td>@item.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@if (item.FormaPagamento == Domain.Entities.Pedido.FormasPagamento.Boleto && item.Boleto != null)
                    {
                        @item.Boleto.DataVencimento.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        @item.DataVencimento.ToString("dd/MM/yyyy")
                    }
                   </td>
                    <td>@Domain.Helpers.EnumHelper.GetDescription(item.MeioPagamento)</td>
                    <td>
                        @{
                            Domain.Entities.Faturamento Faturamento = new Domain.Entities.Faturamento();
                            Faturamento = (Domain.Entities.Faturamento)item;
                            if (Faturamento.Empresa.OrdemDeCompra)
                            {
                                <text>SIM</text>
                            }
                            else
                            {
                                <text>NÃO</text>
                            }
                        }
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&meiopagamento=@Request.QueryString["meiopagamento"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>