﻿@model Domain.Entities.Faturamento

@{
    ViewBag.Title = "Fatura " + Model.Titulo + " do cliente " + Model.Empresa.RazaoSocial;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clientes = (IEnumerable<Domain.Entities.Empresa>)ViewBag.Empresas;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
    var cidadesNFSubstituta = (IEnumerable<Domain.Entities.Cidade>)ViewBag.CidadesNFSubstituta;
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Fatura @Model.Titulo do cliente @Model.Empresa.RazaoSocial</span>
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get" action="/FaturasEmpresa/List">
                    <table>
                        <tr>
                            <td>Data de Inicial:</td>
                            <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width:20px;"></td>
                            <td>Data de Final:</td>
                            <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                        </tr>
                        <tr>
                            <td>Empresa:</td>
                            <td colspan="3">@Html.DropDownList("clienteID", new SelectList(clientes, "ID", "RazaoSocial"), "-- selecione -- ", new { style = "width:300px;" })</td>
                        </tr>
                        <tr>
                            <td>Status de Pagamento:</td>
                            <td colspan="3">@Html.DropDownListForEnum("statuspagamento", typeof(Domain.Entities.Faturamento.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["statuspagamento"]) ? Convert.ToInt32(Request.QueryString["statuspagamento"]) : 0), new { style = "width:300px;" })</td>
                        </tr>
                    </table>
                    <input type="submit" class="mws-button gray small" value="Filtrar" />
                </form>
            </div>
        </div>
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_dados">
                    <a href="javascript:abre('dados');" class="mws-ic-16 ic-user-business-boss">Cliente</a>
                </li>
                <li class="li_aba" id="li_pedido">
                    <a href="javascript:abre('pedido');" class="mws-ic-16 ic-cart">Pedidos</a>
                </li>
                <li class="li_aba" id="li_pagamento">
                    <a href="javascript:abre('pagamento');" class="mws-ic-16 ic-money-dollar">Pagamento</a>
                </li>
                @if (Model.Status != Domain.Entities.Faturamento.TodosStatus.Cancelada)
                {
                    <li class="li_aba" id="li_nfe">
                        <a href="javascript:abre('nfe');" class="mws-ic-16 ic-script">NFe</a>
                    </li>
                }
                @if (ViewBag.LiberaObsFinan)
                {
                    <li class="li_aba" id="li_obsFin">
                        <a href="javascript:abre('obsFin');" class="mws-ic-16 ic-script">Observação Financeira</a>
                    </li>
                }
            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "FaturasEmpresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>Status</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.Status)

                            @if (Model.Status == Domain.Entities.Faturamento.TodosStatus.AguardandoPagamento && admin.Perfil == Domain.Entities.Administrador.Perfis.Socios
                                      || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores
                                      || admin.Perfil == Domain.Entities.Administrador.Perfis.TI
                                      || admin.Perfil == Domain.Entities.Administrador.Perfis.Financeiro)
                            {
                                <input type="button" class="mws-button red" value="Cancelar" id="cancelar_fatura" />
                            }
                            else if (Model.Status == Domain.Entities.Faturamento.TodosStatus.Cancelada)
                            {
                                <i> ( Esta fatura foi cancelada em @Model.DataProcessamento.Value.ToString("dd/MM/yyyy HH:mm") ) </i>
                            }
                        </div>
                        <label>Número da Fatura</label>
                        <div class="mws-form-item small">
                            @Model.ID
                        </div>
                        <label>Título da Fatura</label>
                        <div class="mws-form-item small">
                            @Model.Titulo
                        </div>
                        <label>Data da Fatura</label>
                        <div class="mws-form-item small">
                            @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <label>Data Vencimento Fatura Original</label>
                        <div class="mws-form-item small">
                            @{
                                if (Model.DataVencimentoOriginal != null)
                                {
                                    @Model.DataVencimentoOriginal.Value.ToString("dd/MM/yyyy")
                                }
                            }
                        </div>
                        <label>Data Vencimento Fatura</label>
                        <div class="mws-form-item small">
                            @{
                                if (Model.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto || Model.Boletoes.Where(r => r.StatusPagamentoID != 4).Count() > 0)
                                {
                                    @Model.DataVencimento
                                }
                                else
                                {
                                    @Model.Boleto

                                    @Html.TextBoxFor(model => model.DataVencimento, new { @class = "mws-textinput mws-datepicker" })
                                }
                            }
                        </div>
                        @if (Model.DataProcessamento.HasValue)
                        {
                            <label>Data do Processamento</label>
                            <div class="mws-form-item small">
                                @Model.DataProcessamento.Value.ToString("dd/MM/yyyy HH:mm")
                            </div>
                        }
                        @if (Model.StatusPagamento != Domain.Entities.Pedido.TodosStatusPagamento.Cancelado && Model.StatusPagamento != Domain.Entities.Pedido.TodosStatusPagamento.Prejuizo)
                        {
                            if (!String.IsNullOrEmpty(Model.NFeLink))
                            {
                                <label>Envio do e-mail de NFe</label>
                                <div class="mws-form-item small">
                                    <input type="button" value="Enviar e-mail" class="mws-button green small" id="enviar_email_nfe" />
                                    <span id="load_envia_nfe" class="carregando-branco">enviando e-mail...</span>
                                </div>
                            }
                        }
                        <hr />
                        <label>Pessoa de contato na empresa</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.PessoaContato
                        </div>
                        <label>Razão Social</label>
                        <div class="mws-form-item small">
                            <a href="@Url.Action("Edit", "Empresa", new { id = Model.EmpresaID })" target="_blank">
                                @Model.Empresa.RazaoSocial
                            </a>
                        </div>
                        <label>Subtotal</label>
                        <div class="mws-form-item small">
                            @((Model.ValorTotal + Model.ValorDesconto).ToString("C2"))
                        </div>
                        <label>Desconto</label>
                        <div class="mws-form-item small">
                            -@Model.ValorDesconto.ToString("C2")
                        </div>
                        <label>Total</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotal.ToString("C2")
                        </div>
                        <hr />
                        <label>Método de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)
                            @if (Model.Boleto != null)
                            {
                                if (Model.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && Model.FormaPagamento == Domain.Entities.Pedido.FormasPagamento.Boleto)
                                {
                                    <text> com vencimento para @Model.Boleto.DataVencimento.ToString("dd/MM/yyyy") <input type="button" value="Imprimir Boleto" class="mws-button green small" id="imprimir_boleto"> <input type="button" value="Enviar Boleto" class="mws-button blue small" id="enviar_boleto"></text>
                                }
                                if (Model.Boleto.DataVencimentoOriginal != null)
                                {
                                    <br />
                                    <br />
                                    <span>Venc. Original: </span> @Model.Boleto.DataVencimentoOriginal.Value.ToString("dd/MM/yyyy")
                                }
                                <br />
                                <span>Boleto 1º Renegociado:</span> @Model.Boleto.PrimeiroRenegociado
                                <br />
                                <span>Boleto 2º Renegociado:</span> @Model.Boleto.SegundoRenegociado
                                <br /><br />
                            }
                            else
                            {
                                <br />
                                <span>Fatura 1º Renegociado:</span> @Model.PrimeiroRenegociado
                                <br />
                                <span>Fatura 2º Renegociado:</span> @Model.SegundoRenegociado
                                <br /><br />
                            }

                        </div>
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                        </div>
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                        </div>
                        <label>Prazo</label>
                        <div class="mws-form-item small">
                            @((Model.Parcela == 1) ? "À vista" : Model.Parcela + " vezes")
                        </div>
                        @if (Model.DataPagamento.HasValue)
                        {
                            <label>Data de Pagamento</label>
                            <div class="mws-form-item small">
                                @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")
                            </div>
                        }
                        @if (Model.Boletoes.Count > 0)
                        {
                            <hr />
                            <label>Todos os boletos gerados para o cliente:</label>
                            <div class="mws-form-item small">
                                @foreach (var boleto in Model.Boletoes)
                                {
                                    <text> <b>Vencimento: </b> @boleto.DataVencimento.ToString("dd/MM/yyyy") - <b>Status: </b> @Domain.Helpers.EnumHelper.GetDescription(boleto.StatusPagamento) - <b>Valor: </b> @boleto.Valor.ToString("C2") - <a href="/Boleto/List?boletoID=@boleto.ID" target="_blank">visualizar/editar</a><br /></text>
                                }
                            </div>
                        }
                        <hr />
                        <label>Histórico</label>
                        <div class="mws-form-item small">
                            <input type="button" value="Visualizar" class="mws-button blue small" id="visualizar_historico">
                        </div>
                        <hr />
                        <label>Observações</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.Observacoes, new { @class = "mws-textinput" })
                        </div>
                    </div>
                </div>

                <div class="abas" id="dados">
                    <div class="mws-form-row">
                        <label>Pessoa de Contato</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.PessoaContato
                        </div>
                        <label>Razão Social</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.RazaoSocial
                        </div>
                        <label>CNPJ</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.CNPJ
                        </div>
                        <label>I/E</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.InscricaoEstadual
                        </div>
                        <label>E-mail de Contato</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.EmailContato
                        </div>
                        <label>Telefones de contato</label>
                        <div class="mws-form-item small">
                            @Domain.Core.Funcoes.Formata_Telefone(Model.Empresa.TelefoneContato)
                        </div>
                    </div>
                </div>

                <div class="abas" id="pedido">
                    <div class="mws-form-row">
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">ID</th>
                                    <th align="center">Produto</th>
                                    <th align="center">QTD</th>
                                    <th align="center">Tamanho</th>
                                    <th align="center">Valor</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.PedidoEmpresas)
                            {
                            <tr>
                                <td><a target="_blank" href="@Url.Action("Visualizar", "PedidosEmpresa", new { id = item.ID })">@item.ID</a></td>
                                <td>@item.ProdutoTamanho.Produto.Nome</td>                                
                                <td>@item.QTD</td>
                                <td>@item.ProdutoTamanho.Tamanho.Nome</td>
                                <td>@item.Valor.ToString("C2")</td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>


                <div class="abas" id="pagamento">
                    <div class="mws-form-row">
                        <label>Status</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)

                            @if (admin.Perfil == Domain.Entities.Administrador.Perfis.Socios
                                       || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores
                                       || admin.Perfil == Domain.Entities.Administrador.Perfis.TI
                                       || admin.Perfil == Domain.Entities.Administrador.Perfis.Financeiro)
                            {
                                <input type="button" class="mws-button blue" value="Alterar data do pagamento" id="alterar_pagamento" />
                                <input type="button" class="mws-button green" value="Estornar pagamento" id="estornar_pagamento" />

                            }



                        </div>
                        <label>Valor</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotal.ToString("C2")
                        </div>
                        <hr />
                        <label>Método de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)
                        </div>
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                        </div>
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                        </div>
                        @if (Model.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && Model.FormaPagamento == Domain.Entities.Pedido.FormasPagamento.Boleto)
                        {
                            <hr />
                            <label>Data de Vencimento do Boleto</label>
                            <div class="mws-form-item small">
                                <span id="label_data_vencimento">

                                    @if (@Model.Boleto != null)
                                    {@Model.Boleto.DataVencimento.ToString("dd/MM/yyyy")}
                                    else
                                    {@Model.DataVencimento.ToString("dd/MM/yyyy")}

                                </span>
                                @if (!Model.DataPagamento.HasValue)
                                {
                                    <input type="button" class="mws-button blue" value="Alterar data de vencimento" id="alterar_vencimento_boleto" />
                                }
                            </div>

                        }
                        @if (Model.DataPagamento.HasValue)
                        {
                            <hr />
                            <label>Data de Pagamento</label>
                            <div class="mws-form-item small">
                                @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")
                            </div>
                            <label>Valor Pago</label>
                            <div class="mws-form-item small">
                                @Model.ValorPago.ToString("C2")
                            </div>
                        }
                    </div>
                </div>
                <div class="abas" id="nfe">
                    <div class="mws-form-row">
                        <br />
                        <hr />

                        @{
                            if ((Model.NFeData == null && Model.StatusNfID != 2) || (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any() && Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta != null))
                            {
                                string disabled = "";
                                if (Model.NFeData != null)
                                {
                                    DateTime DataDeNFE = (DateTime)Model.NFeData;

                                    if (
                                        (admin.Perfil == Domain.Entities.Administrador.Perfis.Atendimento || admin.Perfil == Domain.Entities.Administrador.Perfis.Fornecedores || admin.Perfil == Domain.Entities.Administrador.Perfis.Qualidade)
                                        && DateTime.Now.Month != DataDeNFE.Month)
                                    {
                                        disabled = "disabled";
                                    }
                                }

                                if (admin.Perfil != Domain.Entities.Administrador.Perfis.Socios
                                      && admin.Perfil != Domain.Entities.Administrador.Perfis.Coordenadores
                                      && admin.Perfil != Domain.Entities.Administrador.Perfis.TI
                                      && admin.Perfil != Domain.Entities.Administrador.Perfis.Financeiro)
                                {
                                    disabled = "disabled";
                                }

                                <h5>Nota Fiscal do Pedido </h5>
                                <label>Emitir NF</label>
                                <div class="mws-form-item small">
                                    <input type="button" @disabled value="Emitir NF" class="mws-button green small pull-left" rel="@Model.ID|CORP" id="emitir_nfe_pedido">
                                    <img class="loader pull-left" style="margin-top: 6px; margin-left: 6px; display: none;" src="/Content/images/ajax-loader-fff.gif">
                                </div>
                            }
                        }
                        <label>Número da NFe</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.NFeNumero, new { @class = "mws-textinput", maxlength = "100" })
                        </div>
                        <label>Valor da NFe</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.NFeValor, new { @class = "mws-textinput", maxlength = "100" })
                        </div>
                        <label>Data da NFe</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.NFeData, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                        </div>
                        <label>Link da NFe</label>
                        <div class="mws-form-item medium">
                            @Html.TextBoxFor(model => model.NFeLink, new { @class = "mws-textinput", maxlength = "300" })

                            @if (Model.DataEmailNFe.HasValue)
                            {<br /><br />
                                <i>NF enviada em @Model.DataEmailNFe.Value.ToString("dd/MM/yyyy HH:mm")</i>
                            }
                        </div>
                        <label>XML da NFe</label>
                        <div class="mws-form-item medium">
                            @Html.TextBoxFor(model => model.CaminhoXmlNotaFiscal, new { @class = "mws-textinput", maxlength = "300" })
                        </div>

                        @if (Model.NFeNumero > 0)
                        {
                            <br />
                            <h5>Nota Fiscal Substituta </h5>
                            <label>Nome / Razao Social</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput" id="NFSubstituta_NomeRazao" maxlength="100" name="NFSubstituta.NomeRazao" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.NomeRazao }}">
                            </div>
                            <label>Documento</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput OnlyNumber" id="NFSubstituta_Documento" maxlength="100" name="NFSubstituta.Documento" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Documento }}">
                            </div>
                            <label>IE</label>
                            <div class="mws-form-item small">
                                <div class="mws-form-item small">
                                    <select class="mws-textinput" id="NFSubstituta_TipoIE" name="NFSubstituta.TipoIE">
                                        <option @{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any() && Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.TipoIE == 1) { <text> selected </text>  } } value="1">Isento</option>
                                        <option @{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any() && Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.TipoIE == 2) { <text> selected </text>  } } value="2">Não Contribuinte</option>
                                        <option @{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any() && Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.TipoIE == 3) { <text> selected </text>  } } value="3">Contribuinte</option>
                                    </select>
                                    @{
                                        string ValorInscricaoEstadual = "";
                                        if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any())
                                        {
                                            ValorInscricaoEstadual = Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.IE;
                                        }
                                        else
                                        {
                                            ValorInscricaoEstadual = "";
                                        }
                                        <text><input @{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any() && Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.TipoIE != 3) { <text> disabled </text>  } } class="mws-textinput OnlyNumber" id="NFSubstituta_IE" maxlength="100" name="NFSubstituta.IE" type="text" value="@ValorInscricaoEstadual"></text>
                                    }
                                </div>
                            </div>
                            <label>Logradouro</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput" id="NFSubstituta_Logradouro" maxlength="100" name="NFSubstituta.Logradouro" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Logradouro }}">
                            </div>
                            <label>Numero</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput OnlyNumber" id="NFSubstituta_Numero" maxlength="100" name="NFSubstituta.Numero" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Numero }}">
                            </div>
                            <label>Complemento</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput" id="NFSubstituta_Complemento" maxlength="100" name="NFSubstituta.Complemento" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Complemento }}">
                            </div>
                            <label>Bairro</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput" id="NFSubstituta_Bairro" maxlength="100" name="NFSubstituta.Bairro" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Bairro }}">
                            </div>
                            <label>CEP</label>
                            <div class="mws-form-item small">
                                <input class="mws-textinput" id="NFSubstituta_CEP" maxlength="100" name="NFSubstituta.CEP" type="text" value="@{ if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any()) { @Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.CEP }}">
                                <span id="load_cep" class="carregando-branco" style="display: none;">Buscando endereço...</span>
                            </div>
                            <label>Estado</label>
                            <div class="mws-form-item small">
                                @{
                                    int? SelctedIDNF = null;

                                    if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any())
                                    {
                                        SelctedIDNF = Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Estado.ID;
                                    }
                                }
                                @Html.DropDownList("NFSubstituta_EstadoID", new SelectList(estados, "ID", "Sigla", SelctedIDNF), "-- selecione -- ", new { @id = "NFSubstituta_EstadoID", @class = "select", style = "width:250px;" })
                            </div>
                            <label>Cidade</label>
                            <div class="mws-form-item small">
                                @if (Model.NFSubstituta_X_Pedido_PedidoEmpresa.Any())
                                {
                                    var CidadeID = Model.NFSubstituta_X_Pedido_PedidoEmpresa.First().NFSubstituta.Cidade.ID;
                                    @Html.DropDownList("NFSubstituta_CidadeID", new SelectList(cidadesNFSubstituta, "ID", "Nome", CidadeID), "-- selecione -- ", new { @id = "NFSubstituta_CidadeID", @class = "select", style = "width:250px;" })
                                }
                                else
                                {
                                    <select class="select valid" id="NFSubstituta_CidadeID" name="NFSubstituta_CidadeID" style="width:250px;">
                                        <option value="">-- selecione -- </option>
                                    </select>
                                }
                            </div>
                        }

                    </div>
                </div>
                <div class="abas" id="obsFin">
                    <div class="mws-form-row">
                        <h5>Observações Financeiras</h5>
                        <label>Observações Financeiras</label>
                        <div class="mws-form-item small">
                            @Model.Empresa.ObservacaoFinanceira
                        </div>
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
                            }
    </div>
</div>
<div id="div_forma_pagamento" title="Selecione a nova forma de pagamento" style="display:none;">
    <p>
        <b>Forma de Pagamento</b><br />
        <select id="FormaPagamento" class="select" style="width:250px;">
            <option>-- selecione --</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.Boleto)">Boleto Bancário/Faturamento</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.CartaoCredito)">Cartão de Crédito</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.DinheiroCheque)">Dinheiro/Cheque</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.Envio)">Envio via PayPal/PagSeguro</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.DepositoBancario)">Depósito Bancário</option>
            <option value="@((int)Domain.Entities.Pedido.FormasPagamento.Tradaq)">Tradaq</option>
        </select>
        <br /><br />
        <b>Meio de Pagamento</b><br />
        <select id="MeioPagamento" class="select" style="width:250px;"></select>
        <br /><br />
        <b>Status de Pagamento</b><br />
        <select id="StatusPagamento" class="select" style="width:250px;">
            <option>-- selecione --</option>
            <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento)" @(Model.StatusPagamento == Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento ? "selected=selected" : "")>Aguardando Pagamento</option>
            <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.Pago)" @(Model.StatusPagamento == Domain.Entities.Pedido.TodosStatusPagamento.Pago ? "selected=selected" : "")>Pagamento Efetuado</option>
        </select>
        <br /><br />
        <b>Data de Pagamento</b><br />
        <input type="text" id="DataPagamentoForma" class="select" maxlength="10" value="@((Model.DataPagamento.HasValue) ? Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
    </p>
</div>
<div id="div_vencimento_boleto" title="Digite uma nova data de vencimento" style="display:none;">
    <p>
        <input type="text" id="VencimentoBoleto" class="select" maxlength="300" />
    </p>
</div>
<div id="div_historico" title="Histórico do pedido" style="display:none;">

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">Ações</span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th align="center">Ação</th>
                            <th align="center">Data</th>
                        </tr>
                    </thead>
                    @if (Model.AdministradorPedidoes.Any())
                    {
                        foreach (var item in Model.AdministradorPedidoes.OrderByDescending(c => c.DataCriacao))
                        {
                            <tr>
                                <td>@item.Administrador.Nome</td>
                                <td>@Domain.Helpers.EnumHelper.GetDescription(item.AcaoEnum)</td>
                                <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há histórico para ser exibido</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };

        // FILL UP CIDADE NF SUBSTITUTA
        function FillCidadeNfSubstituta(CidadeIdToSelect) {
            var uf = $("#NFSubstituta_EstadoID option:selected").text();

            $("#NFSubstituta_CidadeID").get(0).options.length = 0;
            $("#NFSubstituta_CidadeID").get(0).options[0] = new Option("-- selecione --", "");

            $.post('/Home/GetCidades/', { uf: uf }, function (data) {
                if (data != undefined && data != "") {
                    for (var i = 0; i < data.length; i++) {
                        $("#NFSubstituta_CidadeID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                    }
                }

                if (CidadeIdToSelect != undefined) {
                    $("#NFSubstituta_CidadeID option").each(function () {
                        if ($(this).text() == CidadeIdToSelect) {
                            $(this).attr('selected', true);
                        }
                    });
                }
            });

        }

        function getEnderecoCadastro(n) {
            var CidadeToBeSelected;
            $.post("/Home/GetCEP?cep=" + n, function (data) {
                $("#NFSubstituta_Bairro").val(data.bairro);
                $("#NFSubstituta_Logradouro").val(data.logradouro);
                $("#NFSubstituta_Bairro").val(data.bairro);
                $("#NFSubstituta_EstadoID option:contains(" + data.uf + ")").attr('selected', true);
                CidadeToBeSelected = data.cidade;
            }).done(function () {
                $("#load_cep").hide();
                FillCidadeNfSubstituta(CidadeToBeSelected);
            });
        }

        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {
            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }
        });
        $(document).ready(function () {

            $('.OnlyNumber').ForceNumericOnly();

            $("#NFSubstituta_TipoIE").change(function () {
                if ($(this).val() == "1") {
                    $("#NFSubstituta_IE").attr('disabled', 'disabled');
                    $("#NFSubstituta_IE").val('ISENTO');
                }
                if ($(this).val() == "3") {
                    $("#NFSubstituta_IE").removeAttr('disabled');
                    $("#NFSubstituta_IE").val('');
                }
                if ($(this).val() == "2") {
                    $("#NFSubstituta_IE").attr('disabled', 'disabled');
                    $("#NFSubstituta_IE").val('NÃO CONTRIBUINTE');
                }
            });

            $("#NFSubstituta_CEP").mask({ mask: "#####-###", allowPartials: false });

            $("#NFSubstituta_CEP").blur(function () {
                if ($(this).val().length == 9) {
                    $("#load_cep").show();
                    getEnderecoCadastro($("#NFSubstituta_CEP").val());
                }
            })

            $("#emitir_nfe_pedido").click(function () {
                $("#emitir_nfe_pedido").attr('disabled', true);
                $(".loader").fadeIn();

                $.post('/NFEaEmitir/Atualizar/',
                {
                    Pedidos: $("#emitir_nfe_pedido").attr('rel')
                }, function (data) {
                    if (data == "OK") {
                        window.location = "/NFEaEmitir/ListProcessar"
                    }
                    else {
                        Swal.fire({
                            title: "Erro!",
                            text: data,
                            type: "error"
                        });

                        $("#emitir_nfe_pedido").attr('disabled', false);
                        $(".loader").fadeOut();
                    }
                }).fail(function (data) {
                    Swal.fire({
                        title: "Erro!",
                        text: "Ocorreu um erro no Servidor.",
                        type: "error"
                    });
                    $("#emitir_nfe_pedido").attr('disabled', false);
                    $(".loader").fadeOut();
                });
            });

            $('#pedidosempresa').addClass('active');
            $('#i_pedidos_faturamento').addClass('active');
            $('.abas').hide();
            $('#resumo').show();


            $("#visualizar_historico").click(function () {
                $("#div_historico").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#cancelar_fatura").click(function () {
                if (confirm('Você confirma o cancelamento desta fatura? Todos os pedidos ficarão sem faturamento e deverão ser inclusos em nova fatura.')) {
                    $.post('/FaturasEmpresa/Cancelar/', { id: $('#ID').val() }, function (data) {
                        if (data == "OK") {
                            alert('Fatura cancelada com sucesso!');
                            submitted = true;
                            location.reload(true);
                            $(this).dialog("close");
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $("#alterar_pagamento").click(function () {
                if (confirm('Ao alterar a forma de pagamento, todas as atuais formas serão canceladas automaticamente. Você confirma a alteração da forma de pagamento?')) {
                    $("#div_forma_pagamento").dialog({
                        resizable: false,
                        height: 440,
                        modal: true,
                        buttons: {
                            "Salvar": function () {
                                if ($('#FormaPagamento').val().length > 0 && $('#MeioPagamento').val().length > 0 && $('#StatusPagamento').val().length > 0) {
                                    $(".ui-button").attr("disabled", "disabled");
                                    $.post('/FaturasEmpresa/AlterarPagamento/', { id: $('#ID').val(), forma: $('#FormaPagamento').val(), meio: $('#MeioPagamento').val(), status: $('#StatusPagamento').val(), data: $('#DataPagamentoForma').val() }, function (data) {
                                        if (data == "OK") {
                                            alert('Pagamento alterado com sucesso!');
                                            location.reload(true);
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                                } else {
                                    alert('Preencha a forma, meio e status do pagamento.');
                                }
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });

            $("#alterar_vencimento_boleto").click(function () {
                if (confirm('Ao alterar a data de vencimento, um novo arquivo deve ser enviado para o banco. Você confirma a alteração?')) {
                    $("#div_vencimento_boleto").dialog({
                        resizable: false,
                        height: 240,
                        modal: true,
                        buttons: {
                            "Salvar": function () {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/FaturasEmpresa/AlterarVencimentoBoleto/', { id: $('#ID').val(), data: $('#VencimentoBoleto').val() }, function (data) {
                                    if (data == "OK") {
                                        alert('Data de vencimento alterada com sucesso!');
                                        $('#label_data_vencimento').html($('#VencimentoBoleto').val());
                                    } else {
                                        alert(data);
                                        $(".ui-button").removeAttr("disabled");
                                    }
                                });
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });

            $("#enviar_boleto").click(function () {
                if (confirm('Confirma o envio do boleto para o e-mail do cliente?')) {
                    $.post('/FaturasEmpresa/EnviarBoleto/', { id: $('#ID').val() }, function (data) {
                        if (data == "OK") {
                            alert('Boleto enviado com sucesso!');
                            submitted = true;
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $("#enviar_email_nfe").click(function () {
                if (confirm('Você confirma o envio do e-mail de NFe desta fatura?')) {
                    $("#load_envia_nfe").show();
                    $.post('/FaturasEmpresa/EnviarNFe/', { id: $('#ID').val() }, function (data) {
                        if (data == "OK") {
                            $("#load_envia_nfe").hide();
                            alert('E-mail enviado com sucesso!');
                        } else {
                            $("#load_envia_pedido").hide();
                            alert(data);
                        }
                    });
                }
            });

            $("#FormaPagamento").change(function () {
                $("#MeioPagamento").get(0).options.length = 0;

                switch ($("#FormaPagamento").val()) {
                    case "3":
                        $("#MeioPagamento").get(0).options[0] = new Option("Boleto Itaú", "5");
                        break;
                    case "1":
                        $("#MeioPagamento").get(0).options[0] = new Option("Cartão de Crédito Manual (Redeshop)", "7");
                        break;
                    case "8":
                        $("#MeioPagamento").get(0).options[0] = new Option("Dinheiro/Cheque", "13");
                        break;
                    case "6":
                        $("#MeioPagamento").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamento").get(0).options[1] = new Option("PayPal", "4");
                        $("#MeioPagamento").get(0).options[2] = new Option("PagSeguro", "3");
                        break;
                    case "7":
                        $("#MeioPagamento").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamento").get(0).options[1] = new Option("Bradesco", "8");
                        $("#MeioPagamento").get(0).options[2] = new Option("Banco do Brasil", "9");
                        $("#MeioPagamento").get(0).options[3] = new Option("Itaú", "10");
                        $("#MeioPagamento").get(0).options[4] = new Option("Santander", "11");
                        $("#MeioPagamento").get(0).options[5] = new Option("Caixa Econômica", "12");
                        break;
                    case "9":
                        $("#MeioPagamento").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamento").get(0).options[1] = new Option("Permuta", "14");
                        break;

                }

            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                }
            });

            $("#imprimir_boleto").click(function () {

                $.post('/FaturasEmpresa/RegistraCliqueImpressaoBoleto/', { id: $('#ID').val() });
                window.open('/FaturasEmpresa/Boleto?id=@Model.ID');
            });

        });
        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}