﻿@model Domain.Entities.Local

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var locaisCidade = (List<Domain.Entities.Local>)ViewBag.LocaisCidade;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    ViewBag.NaoExibeHeader = true;
    Domain.Entities.Local _local = null;
    if (Session["local"] != null)
    {
        _local = (Domain.Entities.Local)Session["local"];
    }
    if (_local != null)
    {
        ViewBag.Title = "Flores e Arranjos - Entrega em " + _local.Titulo;
        ViewBag.Descricao = _local.DescricaoRodape;
        ViewBag.Description = _local.TagDescription;
        ViewBag.Keywords = _local.TagKeywords;
        if (!configuracoes.TelefoneIndisponivel)
        {
            ViewBag.Televendas = _local.Televendas;
        }
        else
        {
            ViewBag.Televendas = configuracoes.SAC;
        }
        ViewBag.Local = _local.Cidade.NomeCompleto;
    }
    
    var tipos = locaisCidade.Select(c => c.Tipo).Distinct().ToList(); 
} 
@section Script{
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDwGGcJ3EAnkWb1_4Doyk2VdGkfhSHeXcI&sensor=false&libraries=panoramio">
    </script>
    <script type="text/javascript">
    
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");
        });
        google.maps.event.addDomListener(window, 'load', function () {
            var geo = new google.maps.Geocoder;
            geo.geocode({ 'address': '@Model.EnderecoMaps' }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var map = new google.maps.Map(document.getElementById('map-canvas'), {
                        
                        @if(Model.Tipo == Domain.Entities.Local.Tipos.Cidade){
                            <text>zoom: 7,</text>
                        }
                        else
                        {
                            <text>zoom: 16,</text>
                        }
                        
                        center: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()),
                        mapTypeId: google.maps.MapTypeId.ROADMAP 
                    });

                    var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
                    panoramioLayer.setMap(map);
                    panoramioLayer.setTag('@Html.Raw(Domain.Helpers.EnumHelper.GetDescription(Model.Tipo))');

                    var infoWindow = new google.maps.InfoWindow;

                    var onMarkerClick = function () {
                        var marker = this;
                        var latLng = marker.getPosition();

                        var contentString = '<div id="content">' +
                                        '<div id="siteNotice">' +
                                        '</div>' +
                                        '<h2 id="firstHeading" class="firstHeading">@Model.Titulo</h2>' +
                                        '<div id="bodyContent">' +
                                        '@Html.Raw(!String.IsNullOrEmpty(Model.Foto)?"<img src=\"" + Domain.Core.Configuracoes.DOMINIO + "/content/locais/" + Model.ID + "/" + Model.Foto + "\" width=\"100\" style=\"float:left;\"/>":"")' +
                                        '<p><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=@Model.EnderecoMaps&amp;aq=&amp;sll=' + latLng.lat() + ',' + latLng.lng() + '&amp;sspn=8.172646,14.27124&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=@Model.Titulo&amp;ll=-22.134502,-51.394122&amp;spn=0.004005,0.006968&amp;z=14" target="_blank">Como chegar pelo Google Maps</a></p>' +
                                        '</div>' +
                                        '</div>';
                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    };

                    google.maps.event.addListener(map, 'click', function () {
                        infoWindow.close();
                    });

                    var marker1 = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
                    });
                    google.maps.event.addListener(marker1, 'click', onMarkerClick);

                } 
            });
        });

    </script>
}


<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Desabilitado"><a href="/cidades-e-regioes" itemprop="url"><span itemprop="title">Cidades e regiões</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>@Model.Titulo</b></span></div>
</div>
</div>
 

<div id="CidadesRegioesInterna" itemscope itemtype="http://schema.org/LocalBusiness">
<div class="Div">

	<div class="DivTituloPagina">
	<h1 class="TituloPagina"><span class="TituloPagina2">Flores para</span><br /><span itemprop="name">@Model.Titulo</span></h1>
 
	</div>

	<div class="Quadro">
		<div class="QuadroTexto">
			<div class="QuadroTexto1">Precisa de flores e arranjos para @Model.Titulo?</div>
			<div class="QuadroTexto2">Entre em contato pelo Atendimento Online ou pelo Televendas: <b>@(configuracoes.TelefoneIndisponivel ? configuracoes.SAC : Model.Televendas)</b></div>
		</div>
		<div class="QuadroInfo"> 
            @if (!String.IsNullOrEmpty(Model.PrazoEntrega))
            { 
			<div class="QuadroInfo2">
				<div class="QuadroInfoImg"><img src="/content/imagens/cidades_ico2.png" width="17" height="17" border="0" alt="Prazo de entrega" /></div>
				<div class="QuadroInfoTexto">Prazo de entrega: @Model.PrazoEntrega</div>
			</div> 
            }                                        
            @if (!String.IsNullOrEmpty(Model.Frete))
            { 
			<div class="QuadroInfo1">
				<div class="QuadroInfoImg"><img src="/content/imagens/cidades_ico1.png" width="27" height="17" border="0" alt="Frete para o local" /></div>
				<div class="QuadroInfoTexto">Frete para o local: @Model.Frete</div>
			</div> 
            }                     
@*            @if (!String.IsNullOrEmpty(Model.FaixaHomenagem))
            { 
			<div class="QuadroInfo2">
				<div class="QuadroInfoImg"><img src="/content/imagens/cidades_ico3.png" width="19" height="17" border="0" alt="Faixa de homenagem" /></div>
				<div class="QuadroInfoTexto">Faixa de homenagem @Model.FaixaHomenagem</div>
			</div>  
            }*@
		</div>
	</div>

	<div class="Separacao1"></div>
    
    <a name="coroas"></a>
    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)

	<div class="VejaMaisCoroas">[+] <a href="/flores" class="VejaMaisCoroas2">Veja mais produtos</a></div>

	<div class="Separacao2"></div>
    
  
    @if (Model.Foto.Length > 0)
    {
	<div class="Foto">
		<div class="FotoImagem"><img src="@Url.Content("/content/locais/" + Model.ID + "/" + Model.Foto)" class="FotoImg" alt="Foto de @Model.Titulo" /></div>
		<div class="FotoNomeCidade" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<div class="FotoNomeCidade2"><span itemprop="addressLocality">@Model.Cidade.Nome</span> - <span itemprop="addressRegion">@Model.Estado.Sigla</span></div>
			<div class="FotoTelefone">Televendas: @(configuracoes.TelefoneIndisponivel ? configuracoes.SAC : Model.Televendas)</div>
			<div class="FotoTelefone">Endereço: <span itemprop="streetAddress">@Model.Logradouro @Model.Numero @Model.Complemento @Model.Bairro</span> <span itemprop="postalCode">@Model.CEP</span></div>
		</div>
	</div> 
    }
    
    @if (Model.EnderecoMaps.Length > 0)
    {
    <div class="MapaGoogle"><div id="map-canvas" class="MapaGoogle2"></div></div>
    } 

	<div class="DescricaoTitulo1">@Model.Titulo</div>
	<div class="DescricaoTexto">
    @Html.Raw(Model.Descricao)
	</div> 
	@*<div class="Separacao2"></div>

    <a name="locais"></a>
	<div class="ListaLocais">Veja a lista de locais em @Model.Cidade.Nome - @Model.Estado.Sigla</div>*@

@*	<div class="Filtro">
		<div class="FiltroVer">Ver:</div>
		<div class="FiltroOpcoes"><a href="" class="FiltroSelecionado">Todos</a></div>
		<div class="FiltroOpcoes"><a href="" class="FiltroNaoSelecionado">Cemitérios</a></div>
		<div class="FiltroOpcoes"><a href="" class="FiltroNaoSelecionado">Capelas</a></div>
		<div class="FiltroOpcoes"><a href="" class="FiltroNaoSelecionado">Hospitais</a></div>
		<div class="FiltroOpcoes"><a href="" class="FiltroNaoSelecionado">Funerárias</a></div>
		<div class="FiltroOpcoes"><a href="" class="FiltroNaoSelecionado">Igrejas</a></div>
	</div>

	<div class="ResulBusca">
		<div class="ResulBusca2">buscar nos resultados:</div>
		<div class="ResulBusca3">
			<div class="DivBuscaResul2"><input type="text" name="busca_resultados" class="DivBuscaResulInput" value="insira palavra para busca nos resultados" onfocus="if(this.value=='insira palavra para busca nos resultados') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'insira palavra para busca nos resultados'; }" /></div>
			<div class="DivBuscaResul2"><input type="button" value="OK" class="DivBuscarResul" /></div>
		</div>
	</div>
    *@
@*        
    @if (tipos.Any())
        {
	    <div class="ListaLocaisResul">
        
            @foreach (var tipo in tipos)
            {
		    <div class="ListaLocaisRTitulo">
                    @{var nome = Domain.Helpers.EnumHelper.GetDescription(tipo);
                      if (tipo == Domain.Entities.Local.Tipos.Hospital)
                      {
                          nome = "Hospitais";
                      }
                      else
                      {
                          nome += "s";
                      }
                        }
                        @(nome)
             </div>
             
                      var locais = locaisCidade.Where(c => c.Tipo == tipo).OrderBy(c => c.Principal);
                      foreach (var local in locais.Take(5))
                      {
                <div class="ListaLocaisRTexto">
                <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })" class="link">
                    @local.Titulo / @local.Estado.Sigla
                </a>
                </div>
                      }
                      if (locais.Count() > 5)
                      { 
            <div class="ListaLocaisRTexto"><a href="@Url.Action("buscar", "local", new { termo = Domain.Helpers.EnumHelper.GetDescription(tipo), cidade = Model.Cidade.NomeCompleto, cidadeID = Model.CidadeID })">veja a relação completa</a></div>
                      }
            }

	    </div>   
        } *@
</div> 
</div>
  