﻿@model Domain.Entities.Colaborador
@{
    ViewBag.H1 = "Alterar Senha";
    ViewBag.Title = "Acessos";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div class="row form-horizontal">
    <div class="col-md-4 col-xs-12">
        <form class="form-group" id="form-senha" method="post" action="@Url.Action("salvar")">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="senha-atual">Senha Atual</label>
                        <div class="col-md-12 col-xs-12">
                            <input class="form-control input-md" id="senha-atual" name="senha-atual" type="password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="senha-nova">Nova Senha</label>
                        <div class="col-md-12 col-xs-12">
                            <input class="form-control input-md" id="senha-nova" name="senha-nova" type="password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="senha-nova-confirmacao">Confirmação da Nova Senha</label>
                        <div class="col-md-12 col-xs-12">
                            <input class="form-control input-md" id="senha-nova-confirmacao" name="senha-nova-confirmacao" type="password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Alterar" class="btn  btn-lg btn-success"  id="finalizar"/>
                </div>
                <div class="processando col-md-12" id="processando">
                    Enviando, por favor, aguarde...
                </div>
            </div>
        </form>
    </div>

    <div class="col-med-4 col-xs-12"></div>
    <div class="col-med-4 col-xs-12"></div>
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-senha").validate({
                meta: 'validate',
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    var senhaAtual = $('#senha-atual').val();
                    var senhaNova = $('#senha-nova').val();
                    $('#finalizar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("salvar_senha")', { senhaAtual: senhaAtual, senhaNova: senhaNova }, function (data) {
                        if (data == 'OK') {
                            alert('Sua senha foi alterada com sucesso.');
                            window.location = '@Url.Action("index", "home")';
                        } else {
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert(data);
                        }
                    });
                },
                rules: {
                    'senha-atual': 'required',
                    'senha-nova': 'required',
                    'senha-nova-confirmacao': {
                        required: true,
                        equalTo: '#senha-nova'
                    }
                },
                messages: {
                    'senha-atual': 'Preencha a senha atual',
                    'senha-nova': 'Preencha a nova senha',
                    'senha-nova-confirmacao': {
                        required: 'Preencha a confirmação da nova senha',
                        equalTo: 'A confirmação da nova senha deve ser igual a nova senha'
                    }
                }
            });

        }); 
    </script>
}