﻿@model Domain.Entities.Colaborador
@{
    ViewBag.H1 = "Usuários";
    ViewBag.Titulo = (Model != null ? Model.Nome : "Novo Acesso");
    ViewBag.TituloAUX = "- " + @ViewBag.Titulo;
    ViewBag.Title = "Acessos";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div class="conteudo4 box-radius empresas">
 
<form id="form-acesso" method="post" action="@Url.Action("salvar")">

    @Html.HiddenFor(model => model.ID)  
    <input id="acesso-codigo" name="acesso-codigo" type="hidden" value="@colaborador.Codigo" />

    <table cellpadding="2" cellspacing="10" border="0" id="EditarAcesso" width="100%" class="form">
        <tr>
            <td width="350">
                <label>Tipo de Acesso:</label><br />
                <select id="acesso-tipo" name="acesso-tipo">
                    <option value="1" @(colaborador.TipoID == 1 ? "selected=\"selected\"" : "")>Master</option>
                    <option value="2" @(colaborador.TipoID == 2 ? "selected=\"selected\"" : "")>Usuário</option>
                </select>
            </td>
            <td width="350">
                <label>Email</label><br />
                <input id="acesso-email" name="acesso-email" type="text" value="@colaborador.Email" />
            </td> 
        </tr>

        <tr>
            <td colspan="2">
                <label>Nome</label><br />
                <input id="acesso-nome" name="acesso-nome" type="text" value="@colaborador.Nome" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Senha</label><br />
                <input id="acesso-senha" name="acesso-senha" type="password" />
            </td>
            <td>
                <label>Confirmação de Senha</label><br />
                <input id="acesso-confirmacao-senha" name="acesso-confirmacao-senha" type="password" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Telefone</label><br />
                <input id="acesso-telefone" name="acesso-telefone" type="text" value="@colaborador.Telefone" />
            </td>
            <td>
                <label>Departamento</label><br />
                <input id="acesso-departamento" name="acesso-departamento" type="text" value="@colaborador.Departamento" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Recebe e-mail de novos pedidos</label><br />
                <input id="email-pedido" name="email-pedido" type="checkbox" value="on" @(colaborador.RecebeEmailPedido?"checked=checked":"")/>
            </td>
            <td>
                <label>Recebe e-mail de NFs</label><br />
                <input id="email-nf" name="email-nf" type="checkbox" value="on" @(colaborador.RecebeEmailNFe?"checked=checked":"")/>
            </td>
        </tr>

        <tr> 
            <td colspan="2" style="text-align:right;">
                <input type="submit" value="salvar" class="btn" id="finalizar"/>
                    <div class="processando" id="processando">Processando, por favor, aguarde...</div>
            </td>
        </tr>
    </table>
</form>  
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            var item = $("#menu-acessos");
            item.removeClass("hover"); 

            $("#form-acesso").validate({
                meta: 'validate',
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },                
                submitHandler: function (form) {
                    $('#finalizar').hide();
                    $('#processando').show();
                    var formdata = $(form).serialize();
                    $.post("/empresas/Acessos/Salvar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/empresas/acessos?sucesso=sim";
                        } else {                        
                            alert(data.mensagem);
                            $("#finalizar").show();
                            $("#processando").hide();     
                        }
                    });
                },
                rules: {
                    'acesso-nome': 'required',
                    'acesso-email': {
                        required: true,
                        email: true
                    },
                    'acesso-login': 'required', 
                    @if(Model == null){
                    <text>
                    'acesso-senha': {
                        required: true
                    },
                    'acesso-confirmacao-senha': {
                        required: true,
                        equalTo: '#acesso-senha'
                    },
                    </text>
                    }
                    'acesso-telefone': 'required',
                    'acesso-departamento': 'required'
                },
                messages: {
                    'acesso-nome': 'Preencha o Nome',
                    'acesso-email': {
                        required: 'Preencha o Email',
                        email: 'Preencha um Email válido'
                    }, 
                    'acesso-senha': 'Preencha a Senha',
                    'acesso-confirmacao-senha': {
                        required: 'Preencha a Confirmação de Senha',
                        equalTo: 'A Confirmação de Senha deve ser igual a Senha'
                    },
                    'acesso-telefone': 'Preencha o Telefone',
                    'acesso-departamento': 'Preencha o Departamento'
                }
            });

        }); 
    </script>
}