﻿@model IEnumerable<Domain.Entities.Colaborador>
@{
    ViewBag.H1 = "Usuários";
    ViewBag.Title = "- Acessos";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
}
@section Script{
    <script type="text/javascript">
        $(document).ready(function () {

            var item = $("#menu-acessos");
            item.removeClass("hover");
            var img = item.children("img:first");
            img.attr("src", img.attr("src").replace('-off', '-on'));

        });
        var Colaborador = new function () {
            this.Excluir = function (id) {
                if (confirm('Deseja realmente excluir esse acesso?')) {
                    $.post('@Url.Action("excluir")', { id: id }, function (data) {
                        if (data == 'OK') {
                            alert('Colaborador excluído com sucesso!');
                            window.location = '/empresas/acessos';
                        } else {
                            alert(data);
                        }
                    });
                }
            };

            this.Modificar = function (id) {
                window.location = '@Url.Action("modificar")/' + id;
            };
        };
        @if (Request.QueryString["sucesso"] == "sim")
        {
        <text>alert('Registro salvo com sucesso!');</text>
        }
    </script>
}
<div class="row ">
    <div class="row text-right">
        <a href="@Url.Action("novo")">
            <button class="btn  btn-lg btn-success">
                Novo Usuário</button>
        </a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr class="titulo">
                    <th>
                        Lista de Colaboradores
                    </th>
                </tr>
                <tr class="titulo">
                    <th>
                        Nome
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Último Login
                    </th>
                    <th>
                        Pedidos
                    </th>
                    <th>
                        Ver Mais
                    </th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="item">
                            <td class="od">
                                <span class="username">@item.Nome<br /></span>
                                @if (!String.IsNullOrEmpty(item.Departamento))
                                {
                                    <div class="depto">@item.Departamento</div>
                                }
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td class="od" width="150">
                                @(item.DataUltimoLogin.HasValue ? item.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm") : "Nunca logou")
                            </td>
                            <td>
                                @item.PedidoEmpresas.Count
                            </td>
                            <td class="od">
                                <div class="solicitar">
                                    <a href="javascript:void(0);" onclick="Colaborador.Excluir(@item.ID)">EXCLUIR</a></div>
                                <div class="solicitar">
                                    <a href="javascript:void(0);" onclick="Colaborador.Modificar(@item.ID)">EDITAR</a></div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <tbody>
                    <tr class="item">
                        <td colspan="6" align="center">
                            Nenhum colaborador localizado.
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
