﻿@model Domain.Entities.Colaborador
@{
    ViewBag.H1 = "Meus Dados";
    ViewBag.Title = "Acessos";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div class="conteudo4 box-radius empresas">
    <table cellpadding="0" cellspacing="0" border="0" id="EditarAcesso" width="100%" class="form">
        <tr>
             <td style="vertical-align: top;">
                <h3>Dados da Empresa</h3> 
                <table style="font-size:12px;">
                <tr>
                    <td style="font-weight:bold;">CNPJ:</td>
                    <td>@Model.Empresa.CNPJ</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Inscrição Estadual:</td>
                    <td>@Model.Empresa.InscricaoEstadual</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Nome Fantasia:</td>
                    <td>@Model.Empresa.NomeFantasia</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Razão Social:</td>
                    <td>@Model.Empresa.RazaoSocial</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Endereço:</td>
                    <td>@Model.Empresa.Endereco @Model.Empresa.Numero<br />@Model.Empresa.Bairro - @Model.Empresa.Cidade.NomeCompleto</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">CEP:</td>
                    <td>@Model.Empresa.CEP</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Contato:</td>
                    <td>@Model.Empresa.PessoaContato</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Empresa.EmailContato</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Telefone:</td>
                    <td>@Model.Empresa.TelefoneContato</td>
                </tr>
                </table> 
                    
             </td>
             <td style="vertical-align: top;">

                <h3>Seus Dados</h3>
                <table style="font-size:12px;">
                <tr>
                    <td style="font-weight:bold;">Nome:</td>
                    <td>@Model.Nome</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Departamento:</td>
                    <td>@Model.Departamento</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">E-mail:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Telefone:</td>
                    <td>@Model.Telefone</td>
                </tr> 
                <tr>
                    <td style="font-weight:bold;">Telefone Celular:</td>
                    <td>@Model.TelefoneCelular</td>
                </tr> 
                </table> 
            </td>
        </tr>
        <tr>
            <td colspan="2" style="vertical-align: top;">
                <form id="form-contato" action="" method="post" onsubmit="return false;">
                    <h3>Solicitação de aleração de dados cadastrais</h3>
                    <p>Descreve os dados a serem modificados para que nossa equipe faça as alterações necessárias.</p>
                    <textarea id="contato-mensagem" name="contato-mensagem" rows="10"></textarea>
                    <input id="contato-enviar" type="submit" value="enviar" class="btn" />
                        <div class="processando" id="processando">Enviando, por favor, aguarde...</div>
                </form>
            </td>
        </tr>
    </table> 
</div>


@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#contato-enviar').click(function () {
                var mensagem = $('#contato-mensagem').val();
                if (mensagem == '') {
                    alert('Informe os dados que deseja modificar');
                    $('#contato-mensagem').focus();
                } else {
                    $('#contato-enviar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("Enviar_Modificacao")', { mensagem: mensagem }, function () {
                        $('#contato-mensagem').val('');
                        $('#contato-enviar').show();
                        $('#processando').hide();
                        alert('Sua solicitação foi enviada. Obrigado!');
                    });
                }
            });
        });
    </script>
}