﻿@model IEnumerable<Domain.Entities.ProspeccaoAgenda>

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clientes = (List<Domain.Entities.Cliente>)ViewBag.Clientes;
    var follow = (List<Domain.Entities.EmpresaFollowUp>)ViewBag.Follow;
    var reunioes = (List<Domain.Entities.Agenda>)ViewBag.Reunioes;
    var tarefas = (List<Domain.Entities.AgendaItem>)ViewBag.Tarefas;
}

@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#prospeccao').addClass('active');
        $('#i_agenda').addClass('active'); 

	    var date = new Date();
	    var d = date.getDate();
	    var m = date.getMonth();
	    var y = date.getFullYear();
         
	    $("#agenda").fullCalendar({
		    header: {
			    left: 'prev,next today',
			    center: 'title',
			    right: 'month,agendaWeek,agendaDay'
			},
			titleFormat: {
			    month: 'MMMM yyyy',
			    week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
			    day: 'dddd, MMM d, yyyy'
			},
			columnFormat: {
			    month: 'ddd',
			    week: 'ddd M/d',
			    day: 'dddd M/d'
			},
			timeFormat: { // for event elements
			    '': 'hh:mm tt - ' // default
			},
			monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
			monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
			dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
			dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
			buttonText: { 
			    today: 'hoje',
			    month: 'mês',
			    week: 'semana',
			    day: 'dia'
			},
            selectable: false,
		    editable: false,
		    events: [ 
                @{var comma = "";}
                @foreach(var item in Model){
                
                @comma
                <text>
			    {
				    title: '@Html.Raw(item.Cliente.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? item.Cliente.Nome.Replace("'"," ") : item.Cliente.RazaoSocial.Replace("'", " ")) (REUNIÃO)',
				    start: new Date(@(item.Data.Year), @(item.Data.Month-1), @(item.Data.Day), @(item.Data.Hour), @(item.Data.Minute)),
				    allDay: false,
				    url: '/Prospeccao/Prospeccao/@(item.ClienteID)',
                    backgroundColor: '#0a1f8a'
			    }
                </text>
                comma = ",";
                }
                @foreach(var item in clientes){
                
                @comma
                <text>
			    {
				    title: '@Html.Raw(item.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica?item.Nome:item.RazaoSocial.Replace("'"," ")) (PRÓX CONTATO)',
				    start: new Date(@(item.LacosDataProximoContato.Value.Year), @(item.LacosDataProximoContato.Value.Month-1), @(item.LacosDataProximoContato.Value.Day), @(item.LacosDataProximoContato.Value.Hour), @(item.LacosDataProximoContato.Value.Minute)),
				    allDay: false,
				    url: '/Prospeccao/Prospeccao/@(item.ID)',
                    backgroundColor: '#8a0a57'
			    }
                </text>
                comma = ",";
                }
                @foreach(var item in follow){
                
                @comma
                <text>
			    {
				    title: '@Html.Raw(item.Empresa.RazaoSocial.Replace("'"," ")) (FOLLOW UP)',
				    start: new Date(@(item.Data.Year), @(item.Data.Month-1), @(item.Data.Day), @(item.Data.Hour), @(item.Data.Minute)),
				    allDay: false,
				    url: '/Empresa/TelaGuerra?empresaid=@(item.EmpresaID)',
                    backgroundColor: '#8a7b0a'
			    }
                </text>
                comma = ",";
                }
                @foreach(var item in reunioes){
                
                @comma
                <text>
			    {
				    title: '@Html.Raw(item.EmpresaID.HasValue?item.Empresa.RazaoSocial.Replace("'"," ") + " - ":"")@item.Administrador.Nome (REUNIÃO)',
				    start: new Date(@(item.Data.Year), @(item.Data.Month-1), @(item.Data.Day), @(item.Data.Hour), @(item.Data.Minute)),
				    allDay: false,
				    url: '/prospeccao/EditReuniao?id=@(item.ID)',
                    backgroundColor: '#0a1f8a'
			    }
                </text>
                comma = ",";
                }
                @foreach(var item in tarefas){
                
                @comma
                <text>
			    {
				    title: 'TAREFA - @item.Titulo (@item.Responsavel.Nome)',
				    start: new Date(@(item.Deadline.Year), @(item.Deadline.Month-1), @(item.Deadline.Day), @(item.Deadline.Hour), @(item.Deadline.Minute)),
				    allDay: false,
				    url: '/prospeccao/EditTarefa?id=@(item.ID)',
                    @if(item.StatusItem == Domain.Entities.AgendaItem.Status.Pendente){
                    <text>backgroundColor: '#378006'</text>
                    }else{
                    <text>backgroundColor: '#000'</text>
                    }
			    }
                </text>
                comma = ",";
                }
		    ]
        });

    });  
</script> 
}
	 
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-day-calendar">Agenda
            <input type="button" value="Nova Reunião" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("EditReuniao", "Prospeccao")';"/>
            <input type="button" value="Nova Tarefa" class="mws-button green right padding_1" onclick="javascript:window.location='@Url.Action("EditTarefa", "Prospeccao")';"/>
        </span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-content">
            <div id="agenda"></div>
        </div>
    </div>    	
</div>