﻿@model IEnumerable<Domain.Entities.Colaborador>

@{
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    ViewBag.Title = "Aniversariantes da Semana";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#prospeccao').addClass('active');
            $('#i_aniversariante').addClass('active');
        });       
    </script>
} 
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Aniversariantes da Semana
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table> 
            <tr>
                <td>Razão Social:</td>
                <td><input type="text" name="razaosocial" value="@Request.QueryString["razaosocial"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>CNPJ:</td>
                <td><input type="text" name="cnpj" value="@Request.QueryString["cnpj"]" autocomplete="off" style="width:150px;"/></td> 
                <td style="width:20px;"></td>
                <td>Nome:</td>
                <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td> 
            </tr>  
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
            
        <table class="mws-table">
            <thead>
                <tr> 
                    <th style="text-align:center;">Empresa</th> 
                    <th style="text-align:center;">Nome</th>
                    <th style="width:150px;text-align:center;">Tipo</th>
                    <th style="width:150px;text-align:center;">Login</th>
                    <th style="width:150px;text-align:center;">E-mail</th>
                    <th style="width:150px;text-align:center;">Telefone</th>
                    <th style="width:150px;text-align:center;">Último Login</th> 
                    <th style="width:150px;text-align:center;">Data Aniversário</th> 
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr> 
                    <td style="">@item.Empresa.RazaoSocial</td> 
                    <td style="">@item.Nome<br />@item.Departamento</td>
                    <td style="text-align:center;">@Domain.Helpers.EnumHelper.GetDescription(item.Tipo)</td>
                    <td style="text-align:center;">@item.Login</td>
                    <td style="text-align:center;">@item.Email</td>
                    <td style="text-align:center;">@item.Telefone</td>
                    <td style="text-align:center;">@(item.DataUltimoLogin.HasValue?item.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm"):"Nunca logou")</td>
                    <td style="@(item.DataNascimento.Value.Day == DateTime.Now.Day ? "font-weight:bold;" : "")">@item.DataNascimento.Value.ToString("dd/MM")</td> 
                </tr>
                }
            }else{
                <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&empresaID=@Request.QueryString["empresaID"]&cnpj=@Request.QueryString["cnpj"]&razaosocial=@Request.QueryString["razaosocial"]&nome=@Request.QueryString["nome"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
           </div>
    </div>
</div>
