﻿@model Domain.Entities.ProspeccaoComplemento

@{
    ViewBag.Title = "Complemento de Prospecção";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cliente = (Domain.Entities.Cliente)ViewBag.Cliente;
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
}

@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#prospeccao').addClass('active');
        $('#i_empresascoroas').addClass('active');
        $('#processando').hide();

        $('#Vencimento').mask({ mask: "##", allowPartials: false });
        $('#FechamentoFatura').mask({ mask: "##", allowPartials: false });

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            }
        });
    });       
</script> 
}

<div class="container">   
    @if (cliente != null)
    {
    <h3>Complemento de Prospecção @(cliente.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? "de " + cliente.Nome : "da empresa " + cliente.RazaoSocial) - @Domain.Helpers.EnumHelper.GetDescription(cliente.Tipo)</h3>
    <h5>Atendimento: @(cliente.LacosAtendimentoID.HasValue ? cliente.Administrador.Nome : "Sem Atendimento")</h5>
    <div style="padding:10px;">
    <input type="button" class="mws-button green" value="Editar Cliente" onclick="javascript:window.open('@Url.Action("Edit", "Cliente", new { id = Model.ClienteID })');">
    <input type="button" class="mws-button blue" value="Copiar para Laços" onclick="javascript:window.open('@Url.Action("Edit", "Empresa", new { cnpj = cliente.Documento })');">
    <input type="button" class="mws-button red" value="Tela de Guerra" onclick="javascript:window.open('@Url.Action("TelaGuerra", "Cliente", new { clienteid = Model.ClienteID })');">
    <input type="button" class="mws-button gray" value="Tela de Prospecção" onclick="javascript:window.open('@Url.Action("Prospeccao", "Prospeccao", new { id = Model.ClienteID })');">
    </div>
    }
    @if (empresa != null)
    {
    <h3>Complemento de Prospecção da empresa @empresa.RazaoSocial</h3>
    <h5>Atendimento: @(empresa.AtendimentoID.HasValue ? empresa.Administrador.Nome : "Sem Atendimento")</h5>
    <h5>Migrado para Laços: @(empresa.DataCadastro.ToString("dd/MM/yyyy HH:mm"))</h5>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-documents-1">Complemento de Prospecção</span>
        </div>
        <div class="mws-panel-body"> 
            @using (Html.BeginForm("SalvarComplemento", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ClienteID)
                @Html.HiddenFor(model => model.EmpresaID)
                @Html.HiddenFor(model => model.DataCriacao)
                <div class="mws-form-block">
                    <table>
                    <tr>
                    <td style="width:50%">
                        <div class="mws-form-row">
                        <h5>Dados da Empresa</h5>
                        </div>
                        <div class="mws-form-row">
                            <label>Grupo de Empresas</label>
                            <div class="mws-form-item medium">
                                @Html.TextBoxFor(model => model.GrupoEmpresas, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>    
                        <div class="mws-form-row">
                            <label>Unidade/Cidade</label>
                            <div class="mws-form-item medium">
                                @Html.TextBoxFor(model => model.UnidadeCidade, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>          
                        <div class="mws-form-row">
                            <label>No. Funcionários</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.NumeroFuncionarios, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>     
                        <div class="mws-form-row">
                            <label>Contatos/Departamento</label>
                            <div class="mws-form-item medium">
                                @Html.TextBoxFor(model => model.ContatoDepartamento, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>Possui outras unidades?</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PossuiOutrasUnidades, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PossuiOutrasUnidades, false)  NÃO
                            
                                @Html.TextBoxFor(model => model.PossuiOutrasUnidadesQuais, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Quais?" })
                            </div>
                        </div>  
                        <div class="mws-form-row">
                            <label>Compras centralizadas em uma unidade?</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasUnidade, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasUnidade, false)  NÃO 
                                @Html.TextBoxFor(model => model.ComprasCentralizadasUnidadeQuais, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Quais?" })
                            </div>
                        </div>  
                        <div class="mws-form-row">
                        <h5>Compras são centralizadas?</h5>
                        </div>
                        <div class="mws-form-row">
                            <label>COROAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasCoroas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasCoroas, false)  NÃO  
                                @Html.TextBoxFor(model => model.ComprasCentralizadasCoroasDepto, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Departamento Responsável" })
                                @Html.TextBoxFor(model => model.ComprasCentralizadasCoroasColaborador, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Colaborador Responsável" })
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>PLANTAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasPlantas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasPlantas, false)  NÃO   
                                @Html.TextBoxFor(model => model.ComprasCentralizadasPlantasDepto, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Departamento Responsável" })
                                @Html.TextBoxFor(model => model.ComprasCentralizadasPlantasColaborador, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Colaborador Responsável" })
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>ARRANJOS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasArranjos, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasArranjos, false)  NÃO    
                                @Html.TextBoxFor(model => model.ComprasCentralizadasArranjosDepto, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Departamento Responsável" })
                                @Html.TextBoxFor(model => model.ComprasCentralizadasArranjosColaborador, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Colaborador Responsável" })
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>EVENTOS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasEventos, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ComprasCentralizadasEventos, false)  NÃO    
                                @Html.TextBoxFor(model => model.ComprasCentralizadasEventosDepto, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Departamento Responsável" })
                                @Html.TextBoxFor(model => model.ComprasCentralizadasEventosColaborador, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Colaborador Responsável" })
                            </div>
                        </div>   
                        <div class="mws-form-row">
                        <h5>Possui eventos?</h5>
                        </div>
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PossuiEventos, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PossuiEventos, false)  NÃO     
                                @Html.TextBoxFor(model => model.PossuiEventosQuais, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Principais eventos" })
                            </div>
                        </div>  
                        <div class="mws-form-row">
                        <h5>Promove ações em datas pontuais?</h5>
                        </div>
                        <div class="mws-form-row">
                            <label>DIA DAS MÃES</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.DiaMaes, true)  SIM                                
                                @Html.RadioButtonFor(model => model.DiaMaes, false)  NÃO     
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>DIA DAS MULHERES</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.DiaMulheres, true)  SIM                                
                                @Html.RadioButtonFor(model => model.DiaMulheres, false)  NÃO      
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>DIA DAS SECRETÁRIAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.DiaSecretarias, true)  SIM                                
                                @Html.RadioButtonFor(model => model.DiaSecretarias, false)  NÃO       
                            </div>
                        </div> 
                        <div class="mws-form-row">
                            <label>DIA DOS HOMENS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.DiaHomens, true)  SIM                                
                                @Html.RadioButtonFor(model => model.DiaHomens, false)  NÃO        
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>DIA DOS PAIS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.DiaDosPais, true)  SIM
                                @Html.RadioButtonFor(model => model.DiaDosPais, false)  NÃO
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>SIPAT</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.SIPAT, true)  SIM
                                @Html.RadioButtonFor(model => model.SIPAT, false)  NÃO
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>OUTUBRO ROSA</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.OutubroRosa, true)  SIM
                                @Html.RadioButtonFor(model => model.OutubroRosa, false)  NÃO
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>NOVEMBRO AZUL</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.NovembroAzul, true)  SIM
                                @Html.RadioButtonFor(model => model.NovembroAzul, false)  NÃO
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>BRINDES DE FINAL DE ANO</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.BrindesFinalAno, true)  SIM
                                @Html.RadioButtonFor(model => model.BrindesFinalAno, false)  NÃO
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>OUTRAS DATAS</label>
                            <div class="mws-form-item medium">
                                @Html.TextBoxFor(model => model.OutrasDatas, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>   
                    </td>
                    <td style="width:50%">        
                        <div class="mws-form-row">
                        <h5>Política de Flores</h5>
                        </div>
                        <div class="mws-form-row">
                            <label>COROAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PoliticaFloresCoroas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PoliticaFloresCoroas, false)  NÃO         
                                @Html.TextBoxFor(model => model.PoliticaFloresCoroasDescricao, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Descrição" })
                    
                            </div>
                        </div>  
                        <div class="mws-form-row">
                            <label>PLANTAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PoliticaFloresPlantas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PoliticaFloresPlantas, false)  NÃO      
                                @Html.TextBoxFor(model => model.PoliticaFloresPlantasDescricao, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Descrição" })
                    
                            </div>
                        </div>    
                        <div class="mws-form-row">
                            <label>ARRANJOS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PoliticaFloresArranjos, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PoliticaFloresArranjos, false)  NÃO       
                                @Html.TextBoxFor(model => model.PoliticaFloresArranjosDescricao, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Descrição" })
                    
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>DEMANDAS PONTUAIS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.PoliticaFloresPontual, true)  SIM                                
                                @Html.RadioButtonFor(model => model.PoliticaFloresPontual, false)  NÃO      
                                @Html.TextBoxFor(model => model.PoliticaFloresPontualDescricao, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Descrição" })
                    
                            </div>
                        </div>       
                        <div class="mws-form-row">
                        <h5>Produtos Cadastrados</h5>
                        </div>
                        <div class="mws-form-row">
                            <label>COROAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ProdutosCoroas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ProdutosCoroas, false)  NÃO    
                                @Html.TextBoxFor(model => model.ProdutosCoroasObs, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Observações" })
                    
                            </div>
                        </div>     
                        <div class="mws-form-row">
                            <label>PLANTAS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ProdutosPlantas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ProdutosPlantas, false)  NÃO     
                                @Html.TextBoxFor(model => model.ProdutosPlantasObs, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Observações" })
                    
                            </div>
                        </div>     
                        <div class="mws-form-row">
                            <label>ARRANJOS</label>
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ProdutosArranjos, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ProdutosArranjos, false)  NÃO   
                                @Html.TextBoxFor(model => model.ProdutosArranjosObs, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Observações" })
                    
                            </div>
                        </div>     
                      
                        <div class="mws-form-row">
                        <h5>Manutenção de Plantas?</h5>
                        </div>
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.ManutencaoPlantas, true)  SIM                                
                                @Html.RadioButtonFor(model => model.ManutencaoPlantas, false)  NÃO   
                                @Html.TextBoxFor(model => model.ManutencaoPlantasObs, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Observações" })
                            </div>
                        </div>  
                      
                        <div class="mws-form-row">
                        <h5>Meios de Pagamento</h5>
                        </div>
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                <div style="width:300px;">Faturamento </div>
                                @Html.RadioButtonFor(model => model.Faturamento, true)  SIM                                
                                @Html.RadioButtonFor(model => model.Faturamento, false)  NÃO    
                                @Html.TextBoxFor(model => model.FechamentoFatura, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Dia de Fechamento da Fatura" })
                                @Html.TextBoxFor(model => model.Vencimento, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "Vencimento da Fatura" })
                            </div>
                        </div>  
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                <div style="width:300px;">Cartão Corporativo</div>
                                @Html.RadioButtonFor(model => model.CartaoCorporativo, true)  SIM                                
                                @Html.RadioButtonFor(model => model.CartaoCorporativo, false)  NÃO     
                            </div>
                        </div>  
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                <div style="width:300px;">Depósito</div>
                                @Html.RadioButtonFor(model => model.Deposito, true)  SIM                                
                                @Html.RadioButtonFor(model => model.Deposito, false)  NÃO     
                            </div>
                        </div>  
                        <div class="mws-form-row">
                            <label>Contato para envio de faturas</label>
                            <div class="mws-form-item medium">
                                @Html.TextBoxFor(model => model.ContatoEnvioFatura, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div> 
                        <div class="mws-form-row">
                        <h5>Necessita de Contrato?</h5>
                        </div>
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                @Html.RadioButtonFor(model => model.Contrato, true)  SIM                                
                                @Html.RadioButtonFor(model => model.Contrato, false)  NÃO      
                            </div>
                        </div>  
                        <div class="mws-form-row">
                        <h5>Data de Preenchimento</h5>
                        </div>
                        <div class="mws-form-row"> 
                            <div class="mws-form-item large">
                                @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                            </div>
                        </div>  
                    </td>
                    </tr>
                    </table> 
                    <div class="mws-form-row">
                    <h5>Observações de Atendimento</h5>
                    </div>
                    <div class="mws-form-row"> 
                        <div class="mws-form-item large"> 
                            @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput" })
                        </div>
                    </div>
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                        <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                        <span id="processando" class="carregando-branco">Processando...</span>
                    </div>
                </div>

            }
        </div>
    </div>
</div>