﻿@model Domain.Entities.Agenda

@{
    ViewBag.Title = Model == null ? "Nova Reunião" : "Edição de Reunião";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comerciais = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Comerciais;
    var empresas = (IEnumerable<Domain.Entities.Empresa>)ViewBag.Empresas; 
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Reunião" : "Edição de Reunião")</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditReuniao", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID) 
            @Html.HiddenFor(model => model.TipoID) 
            <div class="mws-form-block">
               
                <div class="mws-form-row">
                    <label>Data/Hora</label>
                    <div class="mws-form-item small">
                        @{var data = Model!= null? Model.ID > 0? Model.Data.ToString():"":"";}
                        <input type="text" name="Data" value="@data" class = "mws-textinput mws-datepicker-hhmm" maxlength = "200" />
                    </div>
                </div>  

                <div class="mws-form-row">
                    <label>Comercial</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("AdministradorID", new SelectList(comerciais, "ID", "Nome", ""), "-- selecione --", new { @class = "mws-textinput" })
                    </div>
                </div>   

                <div class="mws-form-row">
                    <label>Contato</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Contato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  

                <div class="mws-form-row">
                    <label>Empresa</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("EmpresaID", new SelectList(empresas, "ID", "NomeCompleto", ""), "-- selecione --", new { @class = "mws-textinput" })
                    </div>
                </div>   
                
                <div class="mws-form-row">
                    <label>Anotação</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Anotacao, new { @class = "mws-textinput", maxlength = "500" })
                    </div>
                </div>  


                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    @if (Model.ID > 0)
                    {
                    <input type="button" class="mws-button red" value="Remover" id="remover"/>
                    }
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">


    $(document).ready(function () {
        $('#prospeccao').addClass('active');
        $('#i_agenda').addClass('active');
         
        $(".mws-datepicker-hhmm").mask({ mask: "##/##/#### ##:##", allowPartials: false });

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                AdministradorID: "required",
                Contato: "required",
                Data: "required"
            },
            messages: {
                EmpresaID: "O campo comercial é obrigatório.",
                Contato: "O campo contato é obrigatório.",
                Data: "O campo data é obrigatório."
            }
        });
        $("#remover").click(function () {
            if (confirm("Você deseja realmente remover esta reunião?")) { 
                $.post('/Prospeccao/DelReuniao/', { ID: @Model.ID }, function (data) {
                    if (data != undefined && data != "") {
                         
                         location = "/prospeccao/agenda";
                    } 
                });
            }
        });
    });
</script>
}