﻿@model Domain.Entities.AgendaItem

@{
    ViewBag.Title = Model == null ? "Nova Tarefa" : "Edição de Tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comerciais = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Comerciais;
    var administrador = (Domain.Entities.Administrador)ViewBag.Administrador;
    var editavel = (Model.ID > 0 ? administrador.ID != Model.SolicitanteID ? false : true : true);
    var editavel2 = (Model.ID > 0 ? administrador.ID != Model.ResponsavelID ? false : true : true);
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Tarefa" : "Edição de Tarefa")</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditTarefa", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)  
            @Html.HiddenFor(model => model.SolicitanteID)  
            @Html.HiddenFor(model => model.DataCriacao)  
            <div class="mws-form-block">
               
                <div class="mws-form-row">
                    <label>Data/Hora para finalização</label>
                    <div class="mws-form-item small">
                        @{var data = Model != null ? Model.ID > 0 ? Model.Deadline.ToString() : "" : "";}
                        @if (editavel)
                        {
                        <input type="text" name="Deadline" value="@data" class = "mws-textinput mws-datepicker-hhmm" maxlength = "200" />
                        }
                        else
                        {
                            @Model.Deadline.ToString("dd/MM/yyyy HH:mm")
                            @Html.HiddenFor(model => model.Deadline)  
                        }
                    </div>
                </div>  

                <div class="mws-form-row">
                    <label>Responsável</label>
                    <div class="mws-form-item small">
                        @if (editavel)
                        {
                        @Html.DropDownList("ResponsavelID", new SelectList(comerciais, "ID", "Nome", ""), "-- selecione --", new { @class = "mws-textinput" })
                        }
                        else
                        {
                            @Model.Responsavel.Nome
                            @Html.HiddenFor(model => model.ResponsavelID)  
                        }
                    </div>
                </div>   

                <div class="mws-form-row">
                    <label>Status</label>
                    <div class="mws-form-item small"> 
                        @if (editavel || editavel2)
                        {
                        @Html.DropDownListForEnum("StatusID", typeof(Domain.Entities.AgendaItem.Status), Model != null ? Model.ID > 0 ? Model.StatusItem : Domain.Entities.AgendaItem.Status.Pendente : Domain.Entities.AgendaItem.Status.Pendente, new { @class = "mws-textinput" })
                        }
                        else
                        {
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusItem)
                            @Html.HiddenFor(model => model.StatusID)  
                        }
                    </div>
                </div>   

                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @if (editavel)
                        {
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "200" })
                        }
                        else
                        {
                            @Model.Titulo
                            @Html.HiddenFor(model => model.Titulo)  
                        }
                    </div>
                </div>  
                
                <div class="mws-form-row">
                    <label>Prioridade</label>
                    <div class="mws-form-item small">        
                        @if (editavel)
                        {                
                        <select id="Prioridade" name="Prioridade" class = "mws-textinput">
                            <option value="@Model.Prioridade">@Model.Prioridade</option>  
                            <option value="ALTA" >ALTA</option>
                            <option value="NORMAL" >NORMAL</option>
                            <option value="BAIXA">BAIXA</option> 
                        </select>
                        }
                        else
                        {
                            @Model.Prioridade
                            @Html.HiddenFor(model => model.Prioridade)  
                        }
                    </div>
                </div>  
                
                <div class="mws-form-row">
                    <label>Descrição</label>
                    <div class="mws-form-item small">
                        @if (editavel)
                        {
                        @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput", maxlength = "500" })
                        }
                        else
                        {
                            @Html.Raw(Model.Descricao)
                            @Html.HiddenFor(model => model.Descricao)  
                        }
                    </div>
                </div>  
                
                <div class="mws-form-row">
                    <label>Observação</label>
                    <div class="mws-form-item small">
                        @if (editavel || editavel2)
                        {
                        @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput", maxlength = "500" })
                        }
                        else
                        {
                            @Model.Observacao
                            @Html.HiddenFor(model => model.Observacao)  
                        }
                    </div>
                </div>  
                
                @if (Model.ID > 0)
                {
                <div class="mws-form-row">
                    <label>Solicitante</label>
                    <div class="mws-form-item small">
                        @Model.Solicitante.Nome
                    </div>
                </div>  
                }

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    @if (Model.ID > 0)
                    {
                    <input type="button" class="mws-button red" value="Remover" id="remover"/>
                    }
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">


    $(document).ready(function () {
        $('#prospeccao').addClass('active');
        $('#i_agenda').addClass('active');
         
        $(".mws-datepicker-hhmm").mask({ mask: "##/##/#### ##:##", allowPartials: false });

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                ResponsavelID: "required",  
                StatusID: "required",  
                Titulo: "required", 
                Deadline: "required", 
                Prioridade: "required"
            },
            messages: {
                ResponsavelID: "O campo responsável é obrigatório.",
                StatusID: "O campo contato é obrigatório.",
                Deadline: "O campo data é obrigatório.",  
                Titulo: "O campo título é obrigatório.", 
                Prioridade: "O campo prioridade é obrigatório." 
            }
        });
        $("#remover").click(function () {
            if (confirm("Você deseja realmente remover esta tarefa?")) { 
                $.post('/Prospeccao/DelTarefa/', { ID: @Model.ID }, function (data) {
                    if (data != undefined && data != "") {
                         
                         location = "/prospeccao/agenda";
                    } 
                });
            }
        });
    });
</script>
}