﻿@model IEnumerable<Domain.Entities.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#prospeccao').addClass('active');
            $('#i_empresascoroas').addClass('active');

            $("#atendimento").val(@Request.QueryString["atendimento"]);

            $(".atendimento").click(function () {  
                var itemid = $(this).attr("data-item");
                $("#div_atendimento_" + itemid).dialog({
                    resizable: false,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Salvar": function () { 
                            $.post('/Prospeccao/AtualizarAtendimento/', { id: itemid, atendimento: $("#atendimentoID_" + itemid).val() }, function (data) {
                            if (data == "OK") { 
                                    $("#div_atendimento_" + itemid).dialog("close");  
                                    $("#label_atendimento_" + itemid).html($("#atendimentoID_" + itemid + " option:selected").text()); 
                                    alert('Atendimento atualizado.');
                                } else {
                                    alert(data);
                                }
                            }); 
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                });
            });

            $("#excel").click(function () {   
                window.open('/prospeccao/export?datacadastro=' + $("#datacadastro").val() + '&nome=' + $("#nome").val() + '&cpf=' + $("#cpf").val() + '&atendimento=' + $("#atendimento").val() + '&status=' + $("#status").val() + '','excel');
            });
            
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Clientes para Prospecção para Laços Corporativos
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.open('@Url.Action("Edit", "Cliente")');"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
        <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                <table>
                <tr>
                    <td>Data de Cadastro:</td>
                    <td colspan=6"><input type="text" name="datacadastro" id="datacadastro" value="@Request.QueryString["datacadastro"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Nome:</td>
                    <td><input type="text" id="nome" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>CNPJ:</td>
                    <td><input type="text" id="cpf" name="cpf" value="@Request.QueryString["cpf"]" autocomplete="off" style="width:150px;"/></td> 
                    <td style="width:20px;"></td>
                    <td>Atendimento:</td>
                    <td>
                        @Html.DropDownList("atendimento", new SelectList(atendimentos, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput", style = "width:300px;" })                        
                    </td> 
                </tr>  
                <tr>
                    <td>Status de Prospeção:</td>
                    <td colspan="6">@Html.DropDownListForEnum("status", typeof(Domain.Entities.Cliente.LacosStatusProspecao), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
                </tr>
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                <input type="button" class="mws-button green small" id="excel" style="float:right;" value="Exportar para Excel"/>
                </form>  
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Nome / Razão Social</th>
                        <th align="center">Tipo</th>
                        <th align="center">Telefones</th>
                        <th style="text-align:center; width:50px;">E-mail</th>
                        <th style="text-align:center;">Cidade/Estado</th>
                        <th style="text-align:center; width:150px;">Data de Cadastro</th>
                        <th style="text-align:center; width:150px;">Último Contato</th>
                        <th style="text-align:center; width:150px;">Atendimento</th>
                        <th style="text-align:center; width:50px;">Pedidos</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)<br /><br />@item.RazaoSocial<br /><i>@item.NomeFantasia</i></td>
                        <td>@Domain.Helpers.EnumHelper.GetDescription(item.Tipo)</td>
                        <td style="text-align:center;">@item.TelefoneContato<br />@item.CelularContato</td>
                        <td style="text-align:center;">@item.Email</td>
                        <td style="text-align:center;">
                        @if (item.Cidade != null)
                        {
                            <text>@item.Cidade.Nome / @item.Cidade.Estado.Sigla</text>
                        }
                        else
                        {
                            <text>N/I</text>
                        }
                        </td>
                        <td style="text-align:center;">@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align:center;">@(item.LacosDataContato.HasValue ? item.LacosDataContato.Value.ToString("dd/MM/yyyy HH:mm") : "Nunca entrou em contato")</td>
                        <td style="text-align:center;" id="label_atendimento_@(item.ID)">@(item.LacosAtendimentoID.HasValue ? item.Administrador.Nome : "S/A")</td>
                        <td style="text-align:center;"><a href="@Url.Action("List", "PedidosSite", new { clienteID = item.ID, nome = item.Nome })">@item.Pedidos.Count</a></td>
                        <td class="center" style="width:164px;">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li style="width:162px;">@Html.ActionLink("Editar", "Edit", "Cliente", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit", target = "_blank" })</li> 
                                    <li style="width:162px;">@Html.ActionLink("Prospecção", "Prospeccao", "Prospeccao", new { id = item.ID }, new { @class = "mws-ic-16 ic-chart-bar" })</li> 
                                    @if (item.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica)
                                    {
                                    <li style="width:162px;">@Html.ActionLink("Copiar para Laços", "Edit", "Empresa", new { cnpj = item.Documento }, new { @class = "mws-ic-16 ic-asterisk-orange", target = "_blank" })</li>
                                    } 
                                    <li style="width:162px;">@Html.ActionLink("Guerra", "TelaGuerra", "Cliente", new { clienteid = item.ID }, new { @class = "mws-ic-16 ic-eye", target = "_blank" })</li>  
                                    
                                    <li style="width:162px;">@Html.ActionLink("Compl. Prospecção", "Complemento", "Prospeccao", new { clienteid = item.ID }, new { @class = "mws-ic-16 ic-application-form", target = "_blank" })</li>  
                                    
                                    @if (admin.Perfil == Domain.Entities.Administrador.Perfis.Socios || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores)
                                    {
                                    <li style="width:162px;"><a href="javascript:void(0);" data-item="@item.ID" class = "atendimento mws-ic-16 ic-user">Alterar Atendimento</a></li>   
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&cpf=@Request.QueryString["cpf"]&datacadastro=@Request.QueryString["datacadastro"]&pedidos=@Request.QueryString["pedidos"]&status=@Request.QueryString["status"]&atendimento=@Request.QueryString["atendimento"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>
</div>
                                
@foreach (var item in Model)
{
    <div id="div_atendimento_@(item.ID)" title="Alterar Atendimento" style="display:none;">  
            @Html.DropDownList("atendimentoID_" + item.ID, new SelectList(atendimentos, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput", width = "100%" })  
    </div> 
}