﻿@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Prospecção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#prospeccao').addClass('active');
        $('#i_empresascoroas').addClass('active');
        $('#processando').hide();
        $('#LacosDataEmailEnviado').mask({ mask: "##/##/####", allowPartials: false });
        $('#LacosDataContato').mask({ mask: "##/##/#### ##:##", allowPartials: false });
        $('#LacosDataProximoContato').mask({ mask: "##/##/#### ##:##", allowPartials: false });

        $('#LacosInteresseMotivo').hide();
        @if (Model.LacosInteresse.HasValue && !Model.LacosInteresse.Value)
        {
        <text>$('#LacosInteresseMotivo').show(); </text>
        }
        $('#LacosReuniaoAgendadaMotivo').hide();
        @if (Model.LacosReuniaoAgendada.HasValue && !Model.LacosReuniaoAgendada.Value)
        {
        <text>$('#LacosReuniaoAgendadaMotivo').show(); </text>
        }
        $('#emailenviado').hide();
        @if (Model.LacosEmailEnviado.HasValue && Model.LacosEmailEnviado.Value)
        {
        <text>$('#emailenviado').show(); </text>
        }

        $(".interesse").change(function () {
            if ($(".interesse:checked").val() == "1") {
                $('#LacosInteresseMotivo').hide();
            } else {
                $('#LacosInteresseMotivo').show(); 
            }
        });

        $(".emailenv").change(function () {
            if ($(".emailenv:checked").val() == "0") {
                $('#emailenviado').hide();
            } else {
                $('#emailenviado').show(); 
            }
        });

        $(".reuniao").change(function () {
            if ($(".reuniao:checked").val() == "1") {
                $('#LacosReuniaoAgendadaMotivo').hide();
            } else {
                $('#LacosReuniaoAgendadaMotivo').show(); 
            }
        });
        
        $(".realizada").change(function () {
            var itemid = $(this).attr("data-item");
            if ($(".realizada:checked").val() == "1") {
                $.post('/Prospeccao/ReuniaoRealizada/', { id:itemid, realizada: 1}, function (data) {});  
            } else {
                $.post('/Prospeccao/ReuniaoRealizada/', { id:itemid, realizada: 0}, function (data) {});  
            }
        });
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                var formdata = $(form).serialize();
                $.post('/Prospeccao/Atualizar/', formdata, function (data) {
                    if (data == "OK") { 
                        submitted = true;
                        location.reload(true);
                    } else {
                        alert(data);
                    }
                });  
            }
        });
        $("#formnotas").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Prospeccao/AdicionarNota/', { id:@Model.ID, observacaonota: $('#ObservacaoNota').val()}, function (data) {
                    if (data == "OK") { 
                        submitted = true;
                        location.reload(true);
                    } else {
                        alert(data);
                    }
                });  
            },
            rules: { 
                ObservacaoNota: "required" 
            },
            messages: { 
                ObservacaoNota: "Digite o texto da nota" 
            }
        });
        $("#formreuniao").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Prospeccao/AdicionarReuniao/', { id:@Model.ID, data: $('#DataReuniao').val(), obs: $('#ObsReuniao').val()}, function (data) {
                    if (data == "OK") { 
                        submitted = true;
                        location.reload(true);
                    } else {
                        alert(data);
                    }
                });  
            },
            rules: { 
                DataReuniao: "required" 
            },
            messages: { 
                DataReuniao: "Digite a data" 
            }
        });
        $("#formcontato").validate({
            meta: "validate",
            submitHandler: function (form) {
                var formdata = $(form).serialize();
                $.post('/Prospeccao/AdicionarContato/', formdata, function (data) {
                    if (data == "OK") { 
                        submitted = true;
                        location.reload(true);
                    } else {
                        alert(data);
                    }
                });  
            },
            rules: { 
                NomeContato: "required",
                TelefonesContato: "required",
                EmailContato: { 
                    required: true,
                    email: true
                } 
            },
            messages: { 
                NomeContato: "Digite o nome" ,
                TelefonesContato: "Digite um telefone de contato",
                EmailContato: { 
                    required: "Digite o e-mail",
                    email: "Digite um e-mail válido"
                }
            }
        });
    });       
</script> 
}
<div class="container">   
    <h3>Tela de Prospecção @(Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? "de " + Model.Nome : "da empresa " + Model.RazaoSocial) - @Domain.Helpers.EnumHelper.GetDescription(Model.Tipo)</h3>
    <h5>Atendimento: @(Model.LacosAtendimentoID.HasValue?Model.Administrador.Nome:"Sem Atendimento")</h5>
    <div style="padding:10px;">
    <input type="button" class="mws-button green" value="Editar Cliente" onclick="javascript:window.open('@Url.Action("Edit", "Cliente", new { id = Model.ID })');">
    <input type="button" class="mws-button blue" value="Copiar para Laços" onclick="javascript:window.open('@Url.Action("Edit", "Empresa", new { cnpj = Model.Documento })');">
    <input type="button" class="mws-button red" value="Tela de Guerra" onclick="javascript:window.open('@Url.Action("TelaGuerra", "Cliente", new { clienteid = Model.ID })');">
    </div>
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-documents-1">Prospecção</span>
        </div>
        <div class="mws-panel-body"> 
            @using (Html.BeginForm("Atualizar", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID)
                <div class="mws-form-block">
                    <table>
                    <tr>
                    <td style="width:300px;">
                        <div class="mws-form-row">
                            <label>Data de último contato</label>
                            <div class="mws-form-item small">
                                @{var datacontato = (Model == null) ? DateTime.Now.ToString("dd/MM/yyyy") : Model.LacosDataContato.HasValue ? Model.LacosDataContato.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");}
                                @Html.TextBox("LacosDataContato", datacontato, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "100" })
                            </div>
                        </div>             
                        <div class="mws-form-row">
                            <label>E-mail enviado?</label>
                            <div class="mws-form-item large">
                                <input type="radio" value="1" @(Model.LacosEmailEnviado.HasValue ? Model.LacosEmailEnviado.Value ? "checked=checked" : "" : "") name="LacosEmailEnviado" class="emailenv"/> SIM
                                <input type="radio" value="0" @(Model.LacosEmailEnviado.HasValue ? !Model.LacosEmailEnviado.Value ? "checked=checked" : "" : "") name="LacosEmailEnviado"  class="emailenv"/> NÃO
                            </div>
                        </div>                          
                        <div id="emailenviado" style="display:none;">       
                            <div class="mws-form-row">
                                <label>Data de envio do e-mail</label>
                                <div class="mws-form-item small"> 
                                    @Html.TextBoxFor(model => model.LacosDataEmailEnviado, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                                </div>
                            </div>    
                            <div class="mws-form-row">
                                <label>Nome do destinatário do e-mail</label>
                                <div class="mws-form-item large"> 
                                    @Html.TextBoxFor(model => model.LacosNomeEmailEnviado, new { @class = "mws-textinput", maxlength = "200" })
                                </div>
                            </div>    
                            <div class="mws-form-row">
                                <label>E-mail do destinatário</label>
                                <div class="mws-form-item large"> 
                                    @Html.TextBoxFor(model => model.LacosEnderecoEmailEnviado, new { @class = "mws-textinput", maxlength = "200" })
                                </div>
                            </div> 
                            <div class="mws-form-row">
                                <label>Texto do e-mail enviado</label>
                                <div class="mws-form-item large"> 
                                    @Html.TextAreaFor(model => model.LacosTextoEmailEnviado, new { @class = "mws-textinput" })
                                </div>
                            </div>
                            
                        </div> 
                    </td>
                    <td style="width:400px;">                         
                        <div class="mws-form-row">
                            <label>Data de próximo contato</label>
                            <div class="mws-form-item small"> 
                                @Html.TextBoxFor(model => model.LacosDataProximoContato, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "100" })
                            </div>
                        </div>    
                        <div class="mws-form-row">
                            <label>Teve interesse?</label>
                            <div class="mws-form-item large">
                                <input type="radio" value="1" @(Model.LacosInteresse.HasValue ? Model.LacosInteresse.Value ? "checked=checked" : "" : "") name="LacosInteresse" class="interesse"/> SIM
                                <input type="radio" value="0" @(Model.LacosInteresse.HasValue ? !Model.LacosInteresse.Value ? "checked=checked" : "" : "") name="LacosInteresse"  class="interesse"/> NÃO
                            
                                @Html.TextBoxFor(model => model.LacosInteresseMotivo, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "motivo" })
                            </div>
                        </div>  
                        <div class="mws-form-row">
                            <label>Reunião Agendada?</label>
                            <div class="mws-form-item large">
                                <input type="radio" value="1" @(Model.LacosReuniaoAgendada.HasValue ? Model.LacosReuniaoAgendada.Value ? "checked=checked" : "" : "") name="LacosReuniaoAgendada" class="reuniao"/> SIM
                                <input type="radio" value="0" @(Model.LacosReuniaoAgendada.HasValue ? !Model.LacosReuniaoAgendada.Value ? "checked=checked" : "" : "") name="LacosReuniaoAgendada"  class="reuniao"/> NÃO
                            
                                @Html.TextBoxFor(model => model.LacosReuniaoAgendadaMotivo, new { @class = "mws-textinput", style = "float:rigth;width:250px;", placeholder = "motivo" })
                            </div>
                        </div>  
                        <div class="mws-form-row">
                            <label>Teste Realizado?</label>
                            <div class="mws-form-item large">
                                <input type="radio" value="1" @(Model.LacosTesteRealizado.HasValue ? Model.LacosTesteRealizado.Value ? "checked=checked" : "" : "") name="LacosTesteRealizado" class="teste"/> SIM
                                <input type="radio" value="0" @(Model.LacosTesteRealizado.HasValue ? !Model.LacosTesteRealizado.Value ? "checked=checked" : "" : "") name="LacosTesteRealizado"  class="teste"/> NÃO
                             
                            </div>
                        </div>  
                    </td>
                    </tr>
                    </table>
                    <div class="mws-form-row">
                        <label>Status de Prospecção</label>
                        <div class="mws-form-item large"> 
                            @Html.DropDownListForEnum("status", typeof(Domain.Entities.Cliente.LacosStatusProspecao), Model.LacosStatusProspecaoAtual, new { style = "width:300px;" })
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Plano de Ação</label>
                        <div class="mws-form-item large"> 
                            @Html.TextAreaFor(model => model.NotaPlanoAcao, new { @class = "mws-textinput" })
                        </div>
                    </div>
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                        <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                        <span id="processando" class="carregando-branco">Processando...</span>
                    </div>
                </div>

            }
        </div>
    </div>
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Reuniões</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("Reunioes", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "formreuniao", name = "formreuniao", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row">
                        @if (Model.ProspeccaoAgenda.Any())
                        {
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center" style="width:200px;">Data</th>
                                    <th align="center">Realizada?</th>
                                    <th align="center">Observação</th>
                                </tr>
                            </thead>
                                @foreach (var item in Model.ProspeccaoAgenda.OrderByDescending(c => c.DataCriacao))
                                {
                                <tr>                            
                                    <td>@item.Data.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td><input type="checkbox" value="1" id="realizada_@(item.ID)" @(item.Realizada?"checked=checked":"") data-item="@item.ID" class="realizada"/></td>
                                    <td>@Html.Raw(item.Observacao.Replace("\n", "<BR>"))</td>
                                </tr>
                                }
                        </table>
                        <br /><br />
                        }           
                        <div class="mws-form-row">
                            <label>Data</label>
                            <div class="mws-form-item small"> 
                                @Html.TextBox("DataReuniao", null, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "200" }) 
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>Observação</label>
                            <div class="mws-form-item large"> 
                                @Html.TextBox("ObsReuniao", null, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>     
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarreuniao"/>
                        <input type="reset" class="mws-button gray" value="Cancelar" onclick="location.href='@Url.Action("List")';"/>
                        <span id="processandoreuniao" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div>
        </div>
    </div>
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Notas</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("Notas", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "formnotas", name = "formnotas", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row">
                        @if (Model.ProspeccaoNota.Any())
                        {
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center" style="width:200px;">Data</th>
                                    <th align="center">Observação</th>
                                </tr>
                            </thead>
                                @foreach (var item in Model.ProspeccaoNota.OrderByDescending(c => c.DataCriacao))
                                {
                                <tr>                            
                                    <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@Html.Raw(item.Observacoes.Replace("\n", "<BR>"))</td>
                                </tr>
                                }
                        </table>
                        <br /><br />
                        }
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextArea("ObservacaoNota", new { @class = "mws-textinput", style = "width:100%;" })
                        </div>
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarnota"/>
                        <input type="reset" class="mws-button gray" value="Cancelar" onclick="location.href='@Url.Action("List")';"/>
                        <span id="processandonotas" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div>
        </div>
    </div>
    
    
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Contatos Potenciais de Compra</span>
        </div>
        <div class="mws-panel-body"> 
                    <table class="mws-table">
                    <thead>
                        <tr> 
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th> 
                            <th>Departamento</th> 
                            <th>Produto</th> 
                            <th>Observações</th> 
                        </tr>
                    </thead>
                    <tbody> 
                    @foreach (var item in Model.ProspeccaoContato.OrderBy(c => c.Nome))
                    { 
                        <tr class="gradeX">
                            <td>@item.Nome</td> 
                            <td>@item.Email</td> 
                            <td>@item.TelefoneContato</td> 
                            <td>@item.Departamento</td> 
                            <td>@item.Produto</td>  
                            <td>@item.Observacoes</td>  
                        </tr>
                    }  
                    </tbody>
                    </table>  
                <div class="mws-form-block"> 
                @using (Html.BeginForm("Contato", "Prospeccao", FormMethod.Post, new { @class = "mws-form", id = "formcontato", name = "formcontato", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    <table width="100%">
                    <tr>
                    <td>                                        
                    <div class="mws-form-row">
                        <label>Nome</label>
                        <div class="mws-form-item large"> 
                            @Html.TextBox("NomeContato",null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>    
                    <div class="mws-form-row">
                        <label>E-mail</label>
                        <div class="mws-form-item large"> 
                            @Html.TextBox("EmailContato", null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>    
                    <div class="mws-form-row">
                        <label>Telefones</label>
                        <div class="mws-form-item large"> 
                            @Html.TextBox("TelefonesContato", null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>   
                    </td>
                    <td> 
                    <div class="mws-form-row">
                        <label>Departamento</label>
                        <div class="mws-form-item large"> 
                            @Html.TextBox("DepartamentoContato", null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>    
                    <div class="mws-form-row">
                        <label>Produto</label>
                        <div class="mws-form-item large"> 
                            @Html.TextBox("ProdutoContato", null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>    
                    <div class="mws-form-row">
                        <label>Observações</label>
                        <div class="mws-form-item large"> 
                            @Html.TextArea("ObsContato", null, new { @class = "mws-textinput", maxlength = "200" })
                        </div>
                    </div>    
                    </td>                    
                    </tr>
                    </table>
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarcontato"/>
                        <input type="reset" class="mws-button gray" value="Cancelar" onclick="location.href='@Url.Action("List")';"/>
                        <span id="processandocontato" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div>
        </div>
    </div>

</div>