﻿<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="utf-8">
<title>Fornecedores - @ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="/content/css/bootstrap.min.css" rel="stylesheet">
<link href="/content/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
@*<link href="/content/css/font-awesome.css" rel="stylesheet">*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
<link href="/content/css/style.css" rel="stylesheet">
<link href="/content/css/pages/dashboard.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        setInterval(function () {
            $.post('/Home/SetarAtividade/', function (data) {
                if (data != null && typeof data === 'object') {
                    window.location = data.url;
                }
            });
        }, 60000);
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
     
        @Html.Action("Saudacao", "Home")
  </div>
  <!-- /navbar-inner --> 
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li id="li_dash" class=""><a href="/Dashboards"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Pedidos Automáticos</span> </a> </li>
          <li id="li_pedidos" class=""><a href="@Url.Action("Index", "Pedidos", new { datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Pedidos</span> </a> </li> 
          <li id="li_recebimentos" class=""><a href="/recebimentos"><i class="fa fa-money" aria-hidden="true"></i><span>Recebimentos</span> </a> </li>
          <li id="li_telefone" class=""><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span>São Paulo - (11) 4097-9406</span> </a> </li> 
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
    
      @RenderBody()
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div> 
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; @DateTime.Now.Year - <a href="http://www.coroasparavelorio.com.br" target="_blank" class=""> 
                            www.coroasparavelorio.com.br
						</a> </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 
<!-- Le javascript
================================================== --> 

    <!-- JQUERY --> 
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>

    @*JQUERY UI THEME*@
    @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />*@
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/Content/css/jquery-ui-themes/smoothness/theme.css" />
    <link rel="stylesheet" href="/Content/css/jquery-ui-themes/smoothness/jquery-ui.min.css"/>
    <script type="text/javascript" src="/Scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.ui.datepicker-pt-BR.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-timepicker.js"></script>

    @*JQUERY VALIDATE*@
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.validate.additional-methods.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")"></script>

    @*SWEETALERT 2*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css">

    @*SORT TABLE*@
    <script type="text/javascript" src="/Scripts/Stupid Table Sort-1.0.3-0/stupidtable.min.js"></script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/full-calendar/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/excanvas.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/chart.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/base.js")"></script>


    <script type="text/javascript">

        var _listagemEmExecucao;
        var _arquivoAudioMp3;
        var _tocarAudioPedido;

        $(document).ready(function () {
            $("#li_pedidos").click(function () {
                $("#li_pedidos").addClass("active");
                $("#li_dash").removeClass();
                $("#li_recebimentos").removeClass();
                $("#li_telefone").removeClass();

                //VerificaNovosPedidos();
            });

            listaPed = setInterval(function () {
                if ($("#li_pedidos").hasClass('active')) {
                    //VerificaNovosPedidos();
                }
            }, 15000);
        });

        function VerificaNovosPedidos() {
            $.ajax({
                method: "GET",
                url: '/Dashboards/VerificaNovosPedidos'
            }).done(function (data) {
                if (data == "True") {
                    _arquivoAudioMp3 = "/Content/sms-alert-5-daniel_simon.mp3";
                    new Audio(_arquivoAudioMp3).play();
                    _tocarAudioPedido = setInterval(function () { PlaySound(); }, 2000);
                }else {
                    clearInterval(_tocarAudioPedido);
                }
            }).fail(function (jqXHR, textStatus) {
                //alert('Falha no carregamento da Lista de Pedidos: \n\n' + jqXHR + '\n\n' + 'Descrição:\n\n' + textStatus);
            });
        }

        function PlaySound() {
            _arquivoAudioMp3 = "/Content/sms-alert-5-daniel_simon.mp3";
            new Audio(_arquivoAudioMp3).play();
        }

    </script>

    @if (IsSectionDefined("Scripts")){
        @RenderSection("Scripts")
    }
    <input type="hidden" id="FirstLoad" value="True" />
    <input type="hidden" id="Played" value="False" />
</body>
</html> 