﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = null;
}
@if (Model.Any())
{
<ul class="coroas-lista">
    @foreach (var coroa in Model)
    {
    <li id="Produto_@(coroa.ID)" class="produto">
        <a style="background:url(@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)) no-repeat center center;" class="imagem" href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })#comprar"></a>
        <div class="Texto">
            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="subtitulo">@Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo)</a>
            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="titulo qlassik">@coroa.Nome</a>
            @if (coroa.PrecoMinimo.HasValue)
            {
                <span class="preco preco-@coroa.ID" style="display:none;">A partir de @coroa.PrecoMinimo.Value.ToString("C2")</span>
            }
            <div class="mais-detalhes" data-id="@coroa.ID" style="display:none;">mais detalhes</div>
            <div class="box-detalhes box"  style="display:inline;">
                <input type="button" class="botao-comprar" value="comprar" data-url="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })#comprar" data-id="@coroa.ID" />
            </div>
        </div>
    </li>
    }
</ul>
}