﻿@model Domain.Entities.Funeraria

@{
    ViewBag.Title = Model == null ? "Novo Cliente" : "Edição do cliente " + Model.RazaoSocial;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var administrador = (Domain.Entities.Administrador)ViewBag.Administrador;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Cliente" : "Edição do cliente " + Model.RazaoSocial)</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "Funeraria", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
           
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.DataCadastro)
            @Html.HiddenFor(model => model.DataAtualizacao)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.RazaoSocial, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>E-mail</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.EmailContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>CNPJ</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>                    
                <div class="mws-form-row">
                    <label>Telefone</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TelefoneContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>CEP</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })
                        <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.Estado.ID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.Cidade.ID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Logradouro</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Número</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Complemento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Bairro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })
                    </div>
                </div> 
                @if (Model != null)
                {
                <div class="mws-form-row">
                    <label>Data de cadastro</label>
                    <div class="mws-form-item small">
                        @Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>    
                }
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    function getEnderecoCadastro(n)
    {
        $.trim(n) != "" ? $.post(url + n, function (n) {
            var i, t; n.resultado == "1" ? (
                $("#Logradouro").val(unescape(n.tipo_logradouro + " " + n.logradouro)),
            $("#Bairro").val(unescape(n.bairro)),
            $('#EstadoID option[text="' + unescape(n.uf) + '"]').attr({ selected: "selected" }),
            $("#Cidade_ID").show(), $("#Cidade_ID").get(0).options.length = 0,
            $("#Cidade_ID").get(0).options[0] = new Option("-- selecione --", ""), i = unescape(n.uf),
            $("#Estado_ID option:contains(" + i + ")").attr("selected", "selected"), t = unescape(n.cidade).toUpperCase().latinize(),
            $.post("/Home/GetCidades", {
                uf: i, selected: t
            },
            function (n) {
                if (n != undefined && n != "")
                    for (var i = 0; i < n.length; i++)
                        $("#Cidade_ID").get(0).options[i + 1] = new Option(n[i].Text, n[i].Value, n[i].Selected);
                $("#Cidade_ID").find("option:contains('" + t + "')").each(function () {
                    $(this).text() == t && $(this).attr("selected", "selected")
                }),
                $("#load_cidade").hide()
            }),
            $("#load_cep").hide(), $("#Numero").focus()) : $("#load_cep").hide()
        }) :
        $("#load_cep").hide()
    }
    var url = "/Home/GetCEP?cep=";
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#CEP").blur(function () {
            $("#load_cep").show(),
            getEnderecoCadastro($("#CEP").val())
        })

        $("#Estado_ID").change(function () {

            var n = $("#Estado_ID option:selected").text();

            $("#Cidade_ID").length > 0 ? ($("#Cidade_ID").hide(), $("#load_cidade").show(), $("#Cidade_ID").get(0).options.length = 0, $("#Cidade_ID").get(0).options[0] = new Option("-- selecione --", ""),

            $.post("/Home/GetCidades/", {
                uf: n
            }, function (n) {
                if (n != undefined && n != "")
                    for (var t = 0; t < n.length; t++) $("#Cidade_ID").get(0).options[t + 1] = new Option(n[t].Text, n[t].Value);
                $("#load_cidade").hide(), $("#Cidade_ID").show()
            })) : ($("#box1View").hide(), $("#load_cidade").show(), $.post("/Home/GetCidades/", {
                uf: n
            }, function (n) {
                if (n != undefined && n != "")
                    for (var t = 0; t < n.length; t++) $("#box1View").get(0).options[t + 1] = new Option(n[t].Text, n[t].Value);
                $("#load_cidade").hide(), $("#box1View").show()
            }))
        })

        $('#clientes').addClass('active');
        $('#i_fune').addClass('active');

        $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false })

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                RazaoSocial: "required",
                EstadoID: "required",
                CidadeID: "required"
            },
            messages: {
                RazaoSocial: "O campo razão social é obrigatório",
                EstadoID: "O campo estado é obrigatório",
                CidadeID: "O campo estado é obrigatório",
                TelefoneContato: "O campo telefone é obrigatório"
            }
        });
    });
</script>
}