﻿@model IEnumerable<Domain.Entities.Funeraria>

@{
    ViewBag.Title = "Funerárias";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_fune').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Clientes
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "Funeraria")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
        <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                <table>
                <tr>
                    <td>Data de Cadastro:</td>
                    <td colspan="4"><input type="text" name="datacadastro" id="datacadastro" value="@Request.QueryString["datacadastro"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Razão Social:</td>
                    <td><input type="text" name="razaosocial" value="@Request.QueryString["razaosocial"]" autocomplete="off" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                </tr>
                <tr>
                    <td>CNPJ:</td>
                    <td><input type="text" name="documento" value="@Request.QueryString["documento"]" autocomplete="off" style="width:150px;" /></td>
                </tr>   
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                </form> 
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Razão Social</th>
                        <th align="center">CNPJ</th>
                        <th align="center">Telefones</th>
                        <th style="text-align:center; width:50px;">E-mail</th>
                        <th style="text-align:center;">Cidade/Estado</th>
                        <th style="text-align:center; width:150px;">Data de Cadastro</th>
                        <th style="text-align:center; width:150px;">Data de Atualização</th>
                        <th style="text-align:center; width:50px;">Pedidos</th>
                        <th style="text-align:center; width:50px;">Contatos</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.RazaoSocial</td>
                        <td>@item.Documento</td>
                        <td style="text-align:center;">@item.TelefoneContato</td>
                        <td style="text-align:center;">@item.EmailContato</td>
                        <td style="text-align:center;">
                        @if(item.Cidade != null){
                            <text>@item.Cidade.Nome / @item.Cidade.Estado.Sigla</text>
                        }else{
                            <text>N/I</text>
                        }
                        </td>
                        <td style="text-align:center;">@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>                        
                        <td style="text-align:center;">@(item.DataAtualizacao.HasValue ? item.DataAtualizacao.Value.ToString("dd/MM/yyyy HH:mm") : "Nunca atualizou")</td>
                        <td style="text-align:center;"><a href="@Url.Action("List", "PedidosFloricultura", new { FunerariaID = item.ID })">@item.QuantidadePedidosNaoCancelados</a></td>                        
                        <td style="text-align:center;"><a href="@Url.Action("List", "ContatoFuneraria", new { FunerariaID = item.ID })">@item.ContatoFunararia.Count</a></td>                        
                        <td class="center">                        
                            <div class="mws-panel-toolbar top clearfix">
                                <ul>
                                    <li>@Html.ActionLink("Editar", "Editar", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
                                    @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Atendimento && admin.Perfil != Domain.Entities.Administrador.Perfis.Fornecedores)
                                    {
                                        if (admin.Perfil != Domain.Entities.Administrador.Perfis.LacosCorporativos && admin.Perfil != Domain.Entities.Administrador.Perfis.Qualidade)
                                        {
                                            <li>@Html.ActionLink("Deletar", "Deletar", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&cpf=@Request.QueryString["cpf"]&datacadastro=@Request.QueryString["datacadastro"]&pedidos=@Request.QueryString["pedidos"]&migrados=@Request.QueryString["migrados"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>
</div>