﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contato";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        @if(Request.QueryString["chat"] == "offline"){
            <text>alert('No momento estamos offline. Por favor, entre em contato através do formulário abaixo ou pelo telefone 0800-777-1986.');</text>
        }
        $(document).ready(function () {
            $("#form_contato").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/Contato/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/contato?msg=sucesso";
                        } else {                        
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();    
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nomec: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    telefone: "required",
                    mensagem: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nomec: "Digite seu nome",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    telefone: "Digite o seu telefone",
                    mensagem: "Digite sua mensagem",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "contato")" itemprop="url">      
      <span itemprop="title"><b>Entre em contrato</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Entre em Contato</h1>
    <div class="box-radius" id="Contato">
        <div>
            <span class="qlassik" style="font-size: 30px; float: left">Envie-nos um email!</span>
            <div style="clear: both"></div>
            @if (Request.QueryString["msg"] == "sucesso")
            {
             <table cellspacing="0" cellpadding="0" border="0" width="320" style="height:150px;float:left;padding-right:20px;" class="tabela">
             <tr>
             <td><div class="message success">Seu contato foi enviado com sucesso! <br />Por favor, aguarde nosso contato.</div></td>
             </tr>
             </table>
            }
            else
            {
                using (Html.BeginForm("Index", "Contato", FormMethod.Post, new { id = "form_contato", name = "form_contato", enctype = "multipart/form-data", @class = "formulario" }))
                {   
                        <table cellspacing="0" cellpadding="0" border="0" width="350" class="tabela">
                            <tr><!-- Nome: -->
                                <td class="right" width="65">Nome:</td>
                                <td width="20"></td>
                                <td>
                                    <input type="text" id="nomec" name="nomec"/>
                                </td>
                            </tr>
                            <tr><!-- Telefone: -->
                                <td class="right">Telefone:</td>
                                <td width="20"></td>
                                <td>
                                    <input type="text" id="telefone" name="telefone" />
                                </td>
                            </tr>
                            <tr><!-- Email: -->
                                <td class="right">Email:</td>
                                <td width="20"></td>
                                <td>
                                    <input type="text" id="email" name="email" />
                                </td>
                            </tr>
                            <tr>
                                <td class="right">Mensagem:</td>
                                <td width="20"></td>
                                <td>
                                    <textarea id="mensagem" name="mensagem"></textarea>
                                </td>
                            </tr> 
                            <tr>
                                <td class="right">Validação:</td>
                                <td width="20"></td>
                                <td>                           
                                    @captcha
                                </td>
                            </tr> 
                            <tr height="10">
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="center">
                                    <input type="submit" value="Enviar" class="botao" onmousedown="_gaq.push(['_trackEvent', 'form', 'contato', 'enviou'])"/>
                                    <div class="processando" id="processando">Enviando...</div>
                                </td>
                            </tr>
                        </table>
                }
            }
        </div>
        <div id="Telefones">
            <br />
            <span class="qlassik" style="font-size: 30px; margin: 0 0 0 2px">Ou ligue:</span>
            <br /><br />
            <span class="televendas">SAC:</span>
            <span class="telefone vermelho">@(configuracoes.SAC)</span>
            <br /><br /><br /><br />
            @if (!String.IsNullOrEmpty(configuracoes.Telefones))
            {
            <span class="qlassik" style="font-size: 30px; margin: 0 0 0 2px">Por região:</span>
            <br />
                @Html.Raw(configuracoes.Telefones) 
            <br /><br /><br /><br />
            }
            <br /><br /><br /><br />
            <span class="qlassik" style="font-size: 30px; margin: 0px 0 0 2px;clear:both;">Ainda em dúvida?</span><br /><span class="qlassik" style="font-size: 20px;">Acesse nossa área de dúvidas frequentes clicando <a href="@Url.Action("index","duvidas-frequentes")">aqui</a> ou fale conosco no chat ao lado.</span>
        </div>
    </div>
</div>