﻿@model Domain.Entities.Produto
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = Model.Nome;
    ViewBag.Description = Model.BreveDescritivo;
    var produtos = (List<Domain.Entities.Produto>)ViewBag.ProdutosVejaTambem;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    var coroapromo = false;
    // Pega o primeiro tamanho do produto em caso de mais que um
    var tamanhoUnico = Model.ProdutoTamanhoes.FirstOrDefault();
    if (promocao != null)
    {
        coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == Model.ID) > 0;
    }
}

@section Script{
    <style type="text/css">
    #PaginaProduto .QuadroGDados, #PaginaProduto .QuadroGDados *
    {
        cursor: default!important;
    }
    
    #PaginaProduto .QuadroGDados .Comprar input 
    {
        cursor: pointer!important;
    }
    
    p#novo-p 
    {
        clear: both;
        width: 100%;
        margin: 10px 0px 0px;
    }
    
    ul#nova-descricao 
    {
        text-align:left;
        list-style: none;
        clear: both;
        padding: 0px;
    }
    
    #PaginaProduto .Valores1 
    {
        float: none;
        display:block;
        width: 100%;
        text-align: left;
        margin: 15px 0px 10px;
        font-size: 16px;
        font-weight: normal;
        border-top: 1px solid #f0f0f0;
        padding-top: 10px;
    }
        
    #PaginaProduto .Valores2 
    {
        float: none;
        font-size: 24px;
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    
    #PaginaProduto .Valores2 strong 
    {
        font-size: 28px;
        color: #abd037;
    }
    </style>
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.zoom.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            if (!ie) {
                var isMobile = window.matchMedia("only screen and (max-width: 760px)");

                var iScroll = $(window).scrollTop();
                if (!isMobile.matches) {
                    iScroll = iScroll + 100;
                } else {
                    iScroll = iScroll + 130;
                }
                $('html, body').animate({
                    scrollTop: iScroll
                }, 1200);


                if (!isMobile.matches) {
                    $(".zoom").zoom({
                        url: $('img', '.zoom').attr("data-big")
                    });

                    //$(".zoom img:first").before("<div id='lupa'><img src='@(Domain.Core.Configuracoes.DOMINIO)@(Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto))'  style='width: 110px;'/></div>");
                }
            }
            $('#comprar-produto').click(function () {
                Carrinho.Adicionar('@Model.Nome', '', '', @tamanhoUnico.ID,
                    function () {
                        window.location = '/carrinho';
                    },
                    {}
                );
            });

            $('.prod').hover(function () {
                var prodID = $(this).attr('data-id');
                $('.prod').removeClass('Selecionado');
                $('.prod').removeClass('NaoSelecionado');
                $('.prod').addClass('NaoSelecionado');
                $(this).removeClass('NaoSelecionado');
                $(this).addClass('Selecionado');
                $('.divprod').hide();
                $('#Produto' + prodID).show();

            });

        });
    </script>
	<script type="text/javascript">
	  var _trustvox = _trustvox || [];
	  _trustvox.push(['_storeId', '61']);
	  
	_trustvox.push(['_productId',  "@Model.ID"]);
	  _trustvox.push(['_productName',"@Model.Nome"]);
	  _trustvox.push(['_productPhotos', ["@(Domain.Core.Configuracoes.DOMINIO)@(Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto))"]]);
	  
	(function() {
		var tv = document.createElement('script'); tv.type = 'text/javascript'; tv.async = true;
		tv.src = '//trustvox-production-assets.s3.amazonaws.com/assets/trustvox.1.min.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tv, s);
	  })();
	</script>

}
 
<div id="PaginaProduto" itemscope itemtype="http://data-vocabulary.org/Product">
<div class="Div" id="Produto_@(Model.ID)">

    <span itemprop="category" content="Material para cerimônias e eventos religiosos"></span>
    <span itemprop="identifier" content="@Model.ID"></span>
	<div class="CelQuadroGTitulo" itemprop="name">@Model.Nome</div>

	<div class="CelQuadroGFreteFaixa">
		<div class="CelQuadroGFrete"><img src="/content/imagens/sugestao_frete2.png" class="CelQuadroGFreteImg" alt="Frete grátis" /></div>
		<div class="CelQuadroGFaixa"><img src="/content/imagens/sugestao_faixa2.png" class="CelQuadroGFaixaImg" alt="Faixa de homenagem grátis" /></div>
	</div>

	<div class="QuadroG">

		<div class="QuadroGIdealFoto">
			<div class="QuadroGFoto"><p class="zoom"><img  src="@Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto)"  data-big="@Url.Content("/content/produtos/" + Model.ID + "/big/" + Model.Foto)" class="QuadroGFotoImg" alt="@Model.ImgAlt" title="@Model.ImgTitle" /></p>

            </div>            
            @*<p class="FloresContemTexto2">
            Contém as flores: 
            @{var comma = "";}
            @foreach (var flor in Model.Flores)
            {
                 @comma<a href="@Url.RouteUrl("Flores", new { rotuloUrl = flor.RotuloUrl, id = flor.ID })" target="_blank">@flor.Nome</a>
                comma = ", ";
            }
            </p>*@
		</div>

		<div class="QuadroGDados">

			<h1 class="QuadroGTitulo">@Model.Nome</h1>
            
            @Html.Raw(Model.Descricao)
                
            <p><b>Prazo de entrega:</b></p>
            <br />
            <p>Capitais 1h00 - 1h30 | Outras 1h00 - 2h00</p>
            @if (tamanhoUnico.ID == 350 || tamanhoUnico.ID == 351 || tamanhoUnico.ID == 352)
            {
                <br />
                <p>Grande São Paulo</p>
            }
            
            @if (coroapromo)
            {
            <div class="Desconto">
                Aproveite, este produto está na promoção da semana com <b>desconto de @promocao.Desconto%</b>!
            </div>
            }

            @if (!coroapromo)
            {
			    <div id="Produto@(tamanhoUnico.ID)" class="divprod">
				    <div class="Valores1">
                        à vista por @tamanhoUnico.Preco.ToString("C2")
                    </div>

                    @if (configuracoes.Parcela > 1)
                    {
                        <div class="Valores2">
                            ou em @(configuracoes.Parcela)x de <strong>@((tamanhoUnico.Preco / configuracoes.Parcela).ToString("C2"))</strong>
                        </div>
                    }
                </div>
            }
            else
            {
                decimal precopromo = (tamanhoUnico.Preco - (tamanhoUnico.Preco * promocao.Desconto / 100));
			    <div id="Produto@(tamanhoUnico.ID)" class="divprod">
				<div class="Valores1">
                    <div class="valorDe">
                        Dê <del>@tamanhoUnico.Preco.ToString("C2")</del>
                    </div>
                    <div class="valorPor">
                        Por 
                        @if (configuracoes.Parcela > 1)
                        {
                            @precopromo.ToString("C2")
                        }
                    </div>
                </div>
                @if (configuracoes.Parcela > 1)
                {
                    <div class="Valores2">@(configuracoes.Parcela)x @((precopromo / configuracoes.Parcela).ToString("C2"))</div>
                }
                </div> 
            }

			<div class="Comprar"><input type="image" src="/content/imagens/sugestao_comprar.png" class="ComprarImg" value="comprar" id="comprar-produto" /></div>
            
			<div class="Imagens"> 
			<div class="Imagens1"><img src="/content/imagens/pag_produto_frete_gratis.png" class="Imagens2Img" alt="Frete grátis" /></div>
			<div class="Imagens2"><img src="/content/imagens/pag_produto_entrega_24h.png" class="Imagens3Img" alt="Entrega 24 horas" /></div>
			</div>
		</div>
        
	</div>        

	<div class="BarraOpcoes">
		<div class="BarraOpcoesDiv">
			<div class="BarraOpcoesImagem1"><img src="/content/imagens/m_frete_gratis.png" width="41" height="26" border="0" alt="Frete grátis" /></div>
			<div class="BarraOpcoesTexto">FRETE GRÁTIS</div>
		</div> 
		<div class="BarraOpcoesDiv">
			<div class="BarraOpcoesImagem1"><img src="/content/imagens/m_faturamento.png" width="25" height="26" border="0" alt="Faturamento para empresas" /></div>
			<div class="BarraOpcoesTexto">AGENDAMENTO DA ENTREGA</div>
		</div>
		<div class="BarraOpcoesDiv">
			<div class="BarraOpcoesImagem1"><img src="/content/imagens/m_boleto_cartao.png" width="25" height="19" border="0" alt="Pagamento com cartão de crédito" /></div>
			<div class="BarraOpcoesTexto">PAGAMENTO COM CARTÃO DE CRÉDITO</div>
		</div>
	</div> 

	@*<div class="TrustVox"><div id="_trustvox_widget" style="float: left;"></div></div>*@
     

</div> 
</div> 