﻿@model Domain.Entities.Remessa
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Arquivos de Remessa";
}
@section Scripts{
    <script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function NovaRemessaCobranca(tipo, Img) {
            $.post("/Remessa/Novo", { Tipo: tipo })
                .done(function (data) {                        
                    if (data > 0) {
                        $(".TopoRemessa .col-md-12").html("<div class='alert alert-success alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button> <strong>Sucesso!</strong> Uma remessa foi gerada com <b>" + data + "</b> Boletos. </div>");
                        $(".TopoRemessa").fadeIn();
                        LoadLIsts();
                    }
                    else {
                        $(".TopoRemessa .col-md-12").html("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button> <strong>Atenção!</strong> Não há boletos para serem inclusos na remessa. </div>");
                        $(".TopoRemessa").fadeIn();
                    }
                    Img.fadeOut();
            });
        }

        $(document).on('click', '#NovaRemessaLC', function () {
            var image = $(this).parent().find("img").fadeIn();
            NovaRemessaCobranca("2", image);
            
        });

        $(document).on('click', '#NovaRemessaCPV', function () {
            var image = $(this).parent().find("img").fadeIn();
            NovaRemessaCobranca("1", image);            
        });

        function LoadLIsts() {
            var Pagina = 0;

            if (getParameterByName("pagina") > 0) {
                Pagina = getParameterByName("pagina");
            }

            $.get("/Remessa/List?Tipo=LC&pagina=" + Pagina, function (data) {
                $("#LC").html(data);

                var button = '<img src="/Content/images/ajax-loader-fff.gif" style="margin-top: 10px;margin-left: 10px; display: none;" class="pull-right" /><button id="NovaRemessaLC" type="submit" class="btn btn-success dropdown-toggle pull-right" rel="LC">Nova Remessa</button>';
                $('#TopoRemessa.LC .col-md-12').append(button);

            });
            $.get("/Remessa/List?Tipo=CPV&pagina=" + Pagina, function (data) {
                $("#CPV").html(data);

                var button = '<img src="/Content/images/ajax-loader-fff.gif" style="margin-top: 10px;margin-left: 10px; display: none;" class="pull-right"><button id="NovaRemessaCPV" type="submit" class="btn btn-success dropdown-toggle pull-right" rel="CPV">Nova Remessa</button>';
                $('#TopoRemessa.CPV .col-md-12').append(button);
            });
        }

        $(document).ready(function () {

            LoadLIsts();

            $("button").click(function () {
                $.get("/Remessa/Novo?Tipo=" + $(this).attr("rel"), function (data) {
                    if (data > 0) {
                        $(".TopoRemessa .col-md-12").html("<div class='alert alert-success alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button> <strong>Sucesso!</strong> Uma remessa foi gerada com . </div>");
                        $(".TopoRemessa").fadeIn();
                    }
                    else {
                        $(".TopoRemessa .col-md-12").html("<div class='alert alert-warning alert-dismissible' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button> <strong>Atenção!</strong> Não há boletos para serem inclusos na remessa. </div>");
                        $(".TopoRemessa").fadeIn();
                    }
                });
            });
            
        });
    </script>
}
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 text-center">
        <h1>Arquivos de Remessa</h1>
    </div>
</div>
<hr />
<div class="row TopoRemessa" style="display: none;">
    <div class="col-md-12">

    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#CPV">@Domain.Core.Configuracoes.BOLETO_RAZAO_SOCIAL</a></li>
    <li><a data-toggle="tab" href="#LC">@Domain.Core.Configuracoes.BOLETO_RAZAO_SOCIAL_LC</a></li>
</ul>

<div class="tab-content">
    <div id="CPV" class="tab-pane fade in active">
        <p class="center">
            <br />
            @*<img src="/Content/images/ajax-loader-fff.gif" />*@
            <img src="http://admin.coroasparavelorio.com.br/content/images/loading.gif" />
        </p>
    </div>
    <div id="LC" class="tab-pane fade">
        <p class="center">
            <br />
            @*<img src="/Content/images/ajax-loader-fff.gif" />*@
            <img src="http://admin.coroasparavelorio.com.br/content/images/loading.gif" />
        </p>
    </div>
</div>