﻿@*@model IEnumerable<Domain.Entities.Remessa>

    @{
        ViewBag.Title = "Arquivo de Remessa";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#financeiro').addClass('active');
                $('#i_remessa').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
    <div class="mws-form-message mws-panel success">Arquivo gerado com sucesso! <br />@(Server.UrlDecode(Request.QueryString["total"])) boletos inclusos no arquivo de remessa.</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
    <div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
     else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
     {
    <div class="mws-form-message mws-panel error">Não haviam boletos para serem incluídos no arquivo de remessa.</div>
     }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">Arquivo de Remessa
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "Remessa")';"/>
            </span>
        </div>
        <div class="mws-panel-body">

            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center" style="text-align:center;">Data</th>
                        <th align="center" style="text-align:center;">Arquivo</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model.OrderByDescending(i => i.Data))
                    {
                    <tr>
                        <td class="center">@item.Data.ToString()</td>
                        <td class="center" style="width:100px;">
                            <div class="mws-panel-toolbar top clearfix">
                                <ul>
                                    <li style="width:100px;">@Html.ActionLink("Download", "Download", new { id = item.ID }, new { @class = "mws-ic-16 ic-link" })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }else{
                    <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>*@

@model IEnumerable<Domain.Entities.Remessa>
@{
    Layout = null;
}
<div class="row @ViewBag.Tipo" id="TopoRemessa">
    <div class="col-md-12">
        
    </div>
</div>
<div class="row" id="ListagemRemessa">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Remessa de Cobrança</a></li>
                <li role="presentation" class="disabled"><a href="#">Remessa de Pagamento</a></li>                
            </ul>
        </div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="center">Data</th>
                        <th class="center">Boletos</th>
                        <th class="center">Arquivo</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model.OrderByDescending(i => i.Data))
                    {
                        <tr>
                            <td class="center">@item.Data.ToString()</td>
                            <td class="center">
                                @item.RemessaBoletoes.Count
                            </td>
                            <td class="center">
                                <a class="mws-ic-16 ic-link" href='/Remessa/Download/@item.ID'>
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                </a>                                
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr>
                        <td>Não há itens para serem exibidos</td>
                    </tr>
                }
            </table>

            @if (ViewBag.TotalPaginas > 1)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            if (i != ViewBag.PaginaAtual)
                            {
                                <li><a href="?pagina=@i">@i.ToString()</a></li>
                            }
                            else
                            {
                                <li class="disabled"><a href="?pagina=@i">@i.ToString()</a></li>
                            }
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>


