/* ----------------------------------------------------------------
    
    Filename: landing.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Guilherme de Oliveira Costa
    Website: http://www.benance.net/guilhermedeocosta
    
-----------------------------------------------------------------*/


/* =======================    GENERAL    ======================= */
body {
    font-family: 'Open Sans', sans-serif;
}

.l { text-align: left; }
.r { text-align: right; }
.c { text-align: center; }

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    margin-top: 30px;
}

h1 + span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background: white;
}

h1 + span + p {
    font-size: 16px;
    margin-bottom: 30px;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 21px;
}

.cropper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    position: relative;
}

    .cropper img {
        width: 100%;
        height: auto;
    }

/* =====================   HEADER   ===================== */
header {
    background-repeat: repeat;
    padding: 15px 0;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4f4f+20,222222+86,111111+100 */
    background: #444; /* Old browsers */
    background: -moz-linear-gradient(top,  #4f4f4f 20%, #222222 86%, #111111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4f4f4f 20%,#222222 86%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4f4f4f 20%,#222222 86%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#111111',GradientType=0 ); /* IE6-9 */


    color: white;
}

/* =====================   FEATURES   ===================== */
#features {
    background-color: #f8f8f8;
    padding: 10px 0px 7px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}

#features .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
}

#features .feature {
    color: #444;
    text-align: right;
}

#features .feature span {
    display: block;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/ui/icons-spritesheet.png');
    font-size: 11px;
    text-transform: uppercase;
    height:  34px;
}

#features .feature#pagamento span {
    background-position: 155px 2px;
}

#features .feature#flores span {
    background-position: 155px -53px;
}

#features .feature#cartao span {
    background-position: 155px -110px;
}

#features .feature#frete span {
    background-position: 153px -164px;
}

#features .feature#atendimento span {
    background-position: 155px -218px;
}

#features .feature#entrega span {
    background-position: 155px -275px;
}

/* =====================   SHOWCASE   ===================== */
.product-card>div {
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.product-card>div::before {
    display: block;
    position: absolute;
    bottom: -35px;
    right: 20px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Personalizável";
    opacity: 0.7;
    transition: all ease 1s;
}

.product-card>div:hover::before {
    opacity: 1;
}

.product-card span {
    display: block;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}

.product-card span#caixinha {
    background-image: url('../img/products/mini-caixa-som.jpg');
}

.product-card span#engraxate {
    background-image: url('../img/products/kit-engraxate.jpg');
}

.product-card span#power {
    background-image: url('../img/products/power-bank.jpg');
}

.product-card span#documentos {
    background-image: url('../img/products/porta-documentos.jpg');
}

.product-card span#necessaire {
    background-image: url('../img/products/necessaire.jpg');
}

.product-card span#chaveiro {
    background-image: url('../img/products/chaveiro-couro-metal.jpg');
}

.product-card h2 + p {
        text-align: right;
        margin: 5px 20px;
        font-size: 15px;
        color: #777;
}

.product-card>div a {
    position: absolute;
    display: block;
    width: 90px;
    background-color: #1693A5;
    color: #ffffff;
    top: 190px;
    left: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.6s;
    font-weight: bold;
}

.product-card>div:hover a {
    width: 120px;    
    top: 185px;
    left: 45px;
    box-shadow: inset 0 0 0 6px #1BABC0;
    padding: 20px 0px;
    text-decoration: none;
}

.product-card h2 {
    border-top: 1px dotted #e8e8e8;
    margin: 0px 20px;
    padding-top: 5px;
    text-align: right;
}

/* =====================   TEXT   ===================== */
section#text {
    background: #0076C1 url('../img/ui/barbearia-mr-navarro.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 100px 0;
    margin-top: 80px;
}

section#text h4, section#text p {
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

section h3, section h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
}

section#text h3 {
    font-size: 48px;
}

section#text h3 b, section#text h4 b {
    font-weight: 500;
}

section#text h3 + p {
    margin-top: 15px;
}

section#text span, section#cta span {
    display: inline-block;
    width: 80px;
    height: 2px;
    background: white;
    margin-bottom: 10px;
}

section#text p {
    font-size: 18px;
    line-height: 1.5;
    text-render: optimizeLegibility;
}

section#text ul {
    padding-left: 20px;
    line-height: 2;
    font-size: 16px;
    list-style: square;
    text-align: left;
    line-height: 1;
    margin-bottom: 80px;
}

section#text ul li {
    float: left;
    width: 50%;
    margin: 5px 0;
}

section#text span.cropper {
    display: block;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    text-align: center;
}

section#text span.cropper > img {
    width: 100%;
    height: auto;
    display: inline-block;
}

/* =======================    FORM    ======================= */
section#cta {
    background-color: #e0e0e0;
    color: #444;
    padding: 70px 0 100px;
}

section#cta h5 {
    font-size: 16px;
    margin-bottom: 30px;
}

section#cta span {
    background: #444;
}

section#cta label {
    min-width: 120px;
    max-width: 90%;
    padding: 8px 15px 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    background: #333;
    color: white;
}

section#cta .form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    position: relative;
    margin-top: -20px;
    margin-left: 10px;
}

section#cta .btn-send {
    background-color: #1693A5;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.6s;
    font-weight: bold;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 10px 25px;
    margin-top: 15px;
}

section#cta .btn-send:hover {
    box-shadow: inset 0 0 0 4px #1BABC0;
}

/* =======================    FOOTER    ======================= */
footer {
    background-color: #f0f0f0;
    color: #777777;
    padding: 15px 0px;
    font-size: 13px;
}

/* ============================================================= */
/* ======================= Media Queries ======================= */
/* ============================================================= */

/* ====================== Custom xlg size ===================== */
    @media screen and (min-width: 1400px) {
        /*Extra Large styles*/
        .product-card>div a {
            top: 250px;
            left: 50px;
        }

        .product-card>div:hover a {
            top: 245px;
            left: 35px;            
        }
    }

/* ===================== Bootstrap lg size ===================== */
    @media screen and (min-width: 1200px) and (max-width: 1399px) {
        /*Big Screens styles*/
        .product-card>div a {
            top: 250px;
            left: 50px;
        }

        .product-card>div:hover a {
            top: 245px;
            left: 35px;            
        }
    }

/* ===================== Bootstrap md size ===================== */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        /*Standard Screens styles*/
        .product-card>div a {
            left: 20px;
        }

        .product-card>div:hover a {
            left: 5px;            
        }
        
        .product-card h2 {
            margin: 0px 30px;
            padding-left: 90px;
            min-height: 52px;
        }
        
        #features .feature#pagamento span {
            background-position: 202px 2px;
        }

        #features .feature#flores span {
            background-position: 202px -53px;
        }

        #features .feature#cartao span {
            background-position: 202px -110px;
        }

        #features .feature#frete span {
            background-position: 200px -164px;
        }

        #features .feature#atendimento span {
            background-position: 202px -218px;
        }

        #features .feature#entrega span {
            background-position: 202px -275px;
        }
    }

/* ===================== Bootstrap sm size ===================== */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /*Tablet styles*/
        header h1 {
            font-size: 36px;
        }

        #features .feature#pagamento span {
            background-position: 148px 2px;
        }

        #features .feature#flores span {
            background-position: 148px -53px;
        }

        #features .feature#cartao span {
            background-position: 148px -110px;
        }

        #features .feature#frete span {
            background-position: 146px -164px;
        }

        #features .feature#atendimento span {
            background-position: 148px -218px;
        }

        #features .feature#entrega span {
            background-position: 148px -275px;
        }

        .product-card>div a {
            left: 0px;
        }

        .product-card>div:hover a {
            left: -15px;            
        }

        .product-card p {
            margin-right: 20px;
        }

        .product-card h2 {
            margin: 0px 10px;
            padding-left: 60px;
            letter-spacing: -0.5px;
            min-height: 52px;
        }

        section.showroom {
            min-height: 600px;
            height: initial;
        }
    }

/* ===================== Bootstrap xs size ===================== */
    @media screen and (min-width: 1px) and (max-width: 767px) {
        /*Smartphone styles*/
        header {
            height: initial;
            margin-bottom: 50px;
            max-height: none;
        }
        
        header .logo {
            text-align: center;
        }

        header .logo span {
            display: block;
            width: 100%;
        }

        header #first-call {
            background: none;
            padding: 0px;
            text-align: center;
        }

        header #first-call h1 {
            margin-top: 20px;
            padding: 0px;
            font-size: 30px;
        }

        header br {
            display: none;
        }

        .product-card span#p-flores {
            padding-bottom: 100%;
            margin: 0px 0px 0px 20px;
        }

        .product-card span#p-rosas {
            padding-bottom: 100%;
        }

        .product-card span#p-orquidea {
            padding-bottom: 120%;
        }

        .product-card {
            margin-bottom: 50px;
            text-align: center;
        }

        .product-card>div {
            display: inline-block;
            width: 100%;
            max-width: 400px;
        }

        .product-card>div a {
            padding: 35px 0px;
            float: none;
            position: initial;
            border-radius: 0;
            width: 100%;
            height: 40px;
            padding: 10px 15px;
            margin-top: 15px;
        }

        .product-card>div:hover a {            
            width: 100%;
            height: 40px;
            padding: 10px 15px;
        }

        .product-card p {
            margin-right: 20px;
        }

        .product-card h2 {
            margin: 0px 10px;
            letter-spacing: -0.5px;
        }

        section#empresa {
            margin-top: 0px;
        }

        section#empresa img {
            border: 5px solid #ffffff;
        }

        section#empresa h3 {
            margin-top: 15px;
            text-align: center;
        }

        section#empresa p {
            line-height: 25px;
        }

        section.showroom {
            height: initial;
            min-height: 500px;
            text-align: center;
        }

        section.showroom .container {
            max-width: 320px;
        }

        section.showroom h3 {
            margin-top: 30px;
            font-size: 30px;
            line-height: initial;
        }

        section.showroom .r {
            text-align: center;
        }

        section.showroom p b {
            font-size: 30px;
        }
    }

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */