﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Flores e Arranjos";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var produtos = Model;
}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-coroas").addClass("active");
        });
    </script>
}
 
        <div id="BarraCinza">
	        <div class="div_centraliza">
        <div class="div1">
            <div class="div1_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_entrega_brasil.png" width="19" border="0" alt="Entrega para São Paulo/SP" /></p>
                </div>
                <div class="texto">
                    <p>
                        ENTREGA PARA<br />
                        <b>SÃO PAULO/SP</b></p>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="div2_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faturamento.png" width="17" border="0" alt="Agendamento da Entrega" /></p>
                </div>
                <div class="texto">
                    <p>
                        AGENDAMENTO<br />
                        <b>DA ENTREGA</b></p>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="div3_centro">
            <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_atenimento_24h.png" width="17" border="0" alt="Atendimento 24 horas" /></p>
                </div>
                <div class="texto">
                    <p>
                        ATENDIMENTO E ENTREGA<br />
                        <b>24 HORAS TODOS OS DIAS</b></p>
                </div>
                
            </div>
        </div>
        <div class="div4">
            <div class="div4_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_frete_gratis.png" width="27" border="0" alt="Frete grátis para toda Grande São Paulo" /></p>
                </div>
                <div class="texto">
                    <p>
                        FRETE GRÁTIS<br />
                        <b>PARA TODA CIDADE</b></p>
                </div>
            </div>
        </div>
        <div class="div5">
            <div class="div5_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_boleto_cartao.png" width="19" border="0" alt="Pagamento em boleto ou cartão de crédito" /></p>
                </div>
                <div class="texto">
                    <p>
                        TRANSFERÊNCIA<br />
                        <b>OU CARTÃO DE CRÉDITO</b></p>
                </div>
            </div>
        </div>
        <div class="div6">
            <div class="div6_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faixa_homenagem.png" width="18" border="0" alt="Faixa para homenagem grátis" /></p>
                </div>
                <div class="texto">
                    <p>
                        FAIXA PARA<br />
                        <b>HOMENAGEM GRÁTIS</b></p>
                </div>
            </div>
        </div>
    </div>
        </div>         
@if (Model.Any())
{
    @Html.Partial("Produtos", Model)
}
