﻿header
{
    margin-bottom: 15px;
}
#Topo
{
    height:90px;
}
#Topo a.logo
{
    width: 260px;
}
#MenuUsuario #nome
{
    display: none;
}
#ResumoCarrinho
{
    margin: 11px 0 0;
}
#Destaques
{
    margin-bottom: 20px;
}
.conteudo
{
    clear:both;
}
.CaminhoGrande
{
    float: left;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.CaminhoGrande .um-quarto
{
    border-bottom: 3px solid #d0d0d0;
    float: left;
    padding-bottom: 2px;
    width: 25%;
}
.CaminhoGrande .um-quarto a
{
    color: #d0d0d0 !important;
    text-decoration: none;
}
.CaminhoGrande .um-quarto span
{
    background: #d0d0d0;
    color: #ffffff;
    float: left;
    margin-bottom: -5px;
    margin-right: 10px;
    margin-top: -4px;
    padding: 4px 8px;
}
.CaminhoGrande .ativo
{
    border-bottom: 3px solid #757575;
}
.CaminhoGrande .ativo a
{
    color: #757575 !important;
}
.CaminhoGrande .ativo span
{
    background: #757575 !important;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    margin-top: -6px;
}
.CaminhoGrande .atual
{
    border-bottom: 3px solid #e3010f;
}
.CaminhoGrande .atual a
{
    color: #e3010f !important;
}
.CaminhoGrande .atual span
{
    background: #e3010f !important;
    -webkit-border-radius: 3px 3px 3px 0px;
    border-radius: 3px 3px 3px 0px;
    margin-top: -3px;
}

.form-pagamento
{
    background: #ebebeb;
    margin-left: 10px;
    margin-top: 50px;
    padding: 30px;
}

.botao-pagar
{
    background: url("../img/bg_botao.gif") repeat-x 0 0 transparent;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: Tahoma, Arial, Serif;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    margin-top: 20px;
    padding: 0 20px;
    text-transform: uppercase;
}

.DadosPedido
{
    float:left;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.DadosPedido .NumeroPedido
{
    background: #e3010f;
    color: #ffffff;
    float:left;
    padding: 10px;
    width:200px;
}

.DadosPedido .NumeroPedido .codigo
{
    border: 1px dotted #ffffff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.DadosPedido .TipoPagamento
{
    float:left;
    margin-left: 20px;
    padding: 10px;
    width: 680px;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
    width:100%;
    height:100%;
}
.overlay div b
{
    font-size:24px;  
}
.overlay div
{ 
    font-family: 'qlassik_medium', sans-serif !important;
    text-align:center;
    color:#fff;
}