﻿body, html
{
    margin:0;
    padding:0;
    font-family:Tahoma;
    overflow-x:hidden;
}
a
{
    color: #e3010f; 
}
.centro
{
    text-align: center;
}
div.hr 
{
    background: url("/content/img/hr.png") repeat scroll center center transparent;
    height: 3px;
    margin:5px 0 5px 0;
}
div.hr hr 
{
    display: none;
}

div.clear
{
    clear: both;
}

div.hr-dk
{
    background: url("/content/img/hr-dk.png") repeat scroll center center transparent;
    float: left;
    height: 2px;
    margin: 15px 0 15px 0;
    width: 100%;
}
div.hr-dk hr 
{
    display: none;
}
.caminho div
{
    float:left;
    margin-left: 10px;
}
.caminho
{
    color: #e3010f;
    font-size: 11px;
    margin-bottom: 11px;
    margin-top: 193px;
    height: 220px;
}
.caminho a
{
    color: #e3010f;
    font-size: 11px;
    float:left;
}
h1
{
    font-family: 'qlassik_medium', sans-serif !important;
    color: #e3010f;
    font-size: 36px;
    margin-top: 15px;
    font-weight: normal !important;
}
h2
{
    color: #e3010f;
    font-size: 18px;
}
img
{
    border:none 0px;
}
p
{
    color: #757575;
    font-family: Tahoma;
    font-size: 14px;
}

.vermelho
{
    color:#e3010f!important;
}
.qlassik
{
    font-family: 'qlassik_medium', sans-serif !important;
}

header
{
    float:left;
    clear:both;
    width:100%;
}

header .conteudo
{
    margin:0 auto;
    width:960px;
}

header nav
{
    background: rgb(228,228,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,228,226,1) 0%, rgba(238,238,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,226,1)), color-stop(100%,rgba(238,238,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e2', endColorstr='#eeeeed',GradientType=0 ); /* IE6-9 */
    clear:both;
    float: left;
    font-family: 'qlassik_medium', sans-serif !important;
    margin: 10px 0 0;
    width:100%;
}

header nav ul
{
    list-style:none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

header nav ul li
{
    color: #616161;
    display:block;
    float:left;
    font-size: 20px;
    padding: 13px 24px 10px;
    text-transform: uppercase;
}

header nav ul li a
{
    color: #616161 !important;
    text-decoration:none;
}

header nav ul li.ativo
{
    background: #e3010f;
    color: #ffffff;
}

header nav ul li.ativo a
{
    color: #ffffff !important;
}

header nav ul li.active
{
    background: #6c7118;
    color: #ffffff;
}

header nav ul li.active a
{
    color: #ffffff !important;
}

#Topo
{
    clear:both;
    float:left;
    width:100%;
}

.colorCinza
{
    color: #757575;
    font-size: 28px;
    font-weight: normal;
}

#Topo a.logo
{
    display:block;
    float:left;
    margin: 14px 0 0;
    width: 302px;
}

h3.title
{
    color: #838383;
    font-size: 15px;
    margin: 0 0 0 73px;
    text-align: left;
    font-family: 'qlassik_medium', sans-serif !important;
    text-transform: uppercase;
    font-weight:normal;
}

#Topo div.informacoes
{
    float:left;
    width: 655px;
}

#Topo div.informacoes .atendimento
{
    float:left;
    margin: 8px 0 0;
    width: 380px;
}

#Topo div.informacoes span.sac
{
    color:#70706f;
    font-size:14px;
    float:left;
    clear:both;
    margin-top:4px;
}

#Topo div.informacoes span.televendas
{
    background: url("../img/ico-telefone.jpg") no-repeat scroll left center transparent;
    color: #70706F;
    display: block;
    float: left;
    font-size: 12px;
    height: 24px;
    margin: 2px 0 0;
    padding: 2px 0 0 19px;
    width: 215px;
}

#Topo div.informacoes span.telefone
{
    font-weight: bold;
    margin: -1px 0 0 0;
    font-size:14px;
}

#Topo div.informacoes div.nav-institucional
{
    background: #d5d593;
    color: #5f5f3f;
    float: left;
    font-size: 10px;
    height: 26px;
}

#Topo div.informacoes div.nav-institucional div.bt
{
    float: left;
    margin: 6px 6px 0;
    text-transform: uppercase;
}
#Topo div.informacoes div.nav-institucional div.bt a
{
    color: #5f5f3f;
    text-decoration: none;
}

#Topo div.painel-acessos
{
    float:left;
    margin: 8px 0 0;
    width: 275px;
}

#MenuUsuario .bt-acessos
{
    background: rgb(240,240,240); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
    color: #4e4e4e;
    float: right;
    font-size: 10px;
    margin-left: 4px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
    z-index: 10;
}

#MenuUsuario .bt-acessos a
{
    color: #4e4e4e;
    text-decoration: none;
}

#MenuUsuario 
{
    float: right;
}

#MenuUsuario #nome
{
    color: #717171;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0 0;
}

#MenuUsuario #nome a
{
    color: #4d4d4d;
    text-decoration: underline;
}

#MenuUsuario .Esquerda
{
    float: left;
    width: 300px;
}

#MenuUsuario .meus-pedidos
{
    background: none repeat scroll 0 0 #e3010f;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 7px 5px 0 0;
    padding: 3px;
    text-align: center;
}

#MenuUsuario .Esquerda #nome
{
    color: #606060;
    float: left;
    font-size: 16px;
    margin: 7px 0 0 10px;
}

#ResumoCarrinho
{
    background: none repeat scroll 0 0 #b7b724;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin: 15px 0 0;
    width: 105px;
}

#ResumoCarrinho img
{
    float: left;
    margin: 7px 0 5px 8px;
}

#ResumoCarrinho p
{
    color: #FFFFFF;
    float: left;
    font-size: 17px;
    margin: 13px 0 0 17px;
    text-transform: uppercase;
}

#ResumoCarrinho span
{
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    height: 34px;
    margin: 7px 0 0 20px;
    text-align: center;
}

#Destaques
{
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    clear:both;
    float:left;
    height:46px;
    margin-bottom: 10px;
    width:100%;
}

#Destaques img
{
    margin: 6px 0 0 13px;
}

#Destaques img:last-child
{
    border-right: none 0px;
}

#Conteudo
{
    width:960px;
    margin: 10px auto 0 auto;
}

#Conteudo #Selos
{
    float: left;
    width:960px;
}
#Conteudo #Selos div
{
    width: 570px;
}

aside
{
    width: 152px;
    margin-left: 2px;
    float:left;
    clear:both;
}

aside header
{
    color:#5e5e5e;
    float:left;
    font-size:14px;
    line-height:19px;
    text-transform:uppercase;
}

aside header span
{
    font-size:30px;
}

#BoxEsq 
{
    background: url('../img/bg-boxesq.png') no-repeat 346px 14px #f8f8f8;
    border: 1px solid #e3e3e3;
    float: left;
    margin: 10px 0 0 0;
    width: 960px;
}

#BoxEsq aside#Busca
{
    margin-left: 10px;
    width: 348px;
}

#BoxEsq aside#Busca header
{
    color:#5e5e5e !important;
    margin: 15px 0 0 10px;
    width: 240px;
}

#BoxEsq aside#Busca form
{
    float: left;
    height: 53px;
    margin: 15px 0 0 14px;
    width: 288px;
}

#BoxEsq aside#Busca form input[type=text]
{
    border: 1px solid #8C8C8C;
    border-radius: 2px 2px 2px 2px;
    color: #616161;
    float: left;
    font-size: 11px;
    font-style: italic;
    padding: 10px;
    width: 225px;
    *width: 213px;
}

#BoxEsq aside#Busca form input[type=submit]
{
    background: url("../img/botao-buscar.png") no-repeat scroll 6px 5px #b7b724;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 39px;
    margin: -1px 0 0 -2px;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 40px;
}

#BoxEsq aside#Sugestoes
{
    clear: none;
    height: 86px;
    width: 590px;
}


#BoxEsq aside#Sugestoes #buscar-sugestoes
{
    float: left;
    margin: 20px 0 0 15px;
    width: 330px;
}

#BoxEsq aside#Sugestoes form table
{
    margin: 0px 0 2px 18px;
}

#BoxEsq aside#Sugestoes header
{
    color:#5e5e5e !important;
    margin: 23px 0 0;
    width: 245px;
}

#BoxEsq aside#Sugestoes header img
{
    margin: 9px 0 0 20px;
}

#BoxEsq aside#Sugestoes form
{
    color: #666666;
    font-family: Tahoma;
    font-size: 10px;
    text-transform: uppercase;
    width: 250px;
}

#BoxEsq aside#Sugestoes form label
{
    clear: both;
    color: #666666;
    float: left;
    font-size: 10px;
    margin: 10px 0 0 6px;
    text-transform: uppercase;
    width: 136px;
}

#BoxEsq aside#Sugestoes form select
{
    border: 1px solid #8C8C8C;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #666666;
    font-size: 10px;
    height: 18px;
    margin-top: 5px;
    padding: 0;
    width: 120px;
}

#BoxEsq aside#Sugestoes form input[type=checkbox]
{
    float:left;
}

#BoxEsq aside#Sugestoes form span
{
    color: #666666;
    float: left;
    font-size: 11px;
    text-transform: uppercase;
    margin:2px 10px 0 0;
}

#BoxEsq aside#Sugestoes form input[type=submit]
{
    background: #b7b724;
    border:0px none;
    color:#463637;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    height: 36px;
    margin-top: -12px;
    text-align:center;
    text-transform:uppercase;
    width: 39px;
}

section#Meio
{
    width:650px;
    float:left;
}

footer
{
    width:100%;
    float:left;
}

footer div.conteudo
{
    width:960px;
    margin:0 auto;
}

#Descritivo
{
    color:#4c4c4c;
    font-size:12px;
    padding:10px 0;
    float:left;
    border-top:solid 1px #e5e5e5;
    width:100%;
    margin-top:20px;
}

#DestaquesRodape
{
    background: #e7e7e7;
    border-top: solid 1px #e3010f;
    border-bottom: solid 1px #e3010f;
    color: #757575;
    float: left;
    height: 60px;
    width: 100%;
}

#DestaquesRodape div.conteudo table
{
    float: left;
    margin: 10px 10px 10px 0;
    width: 635px;
}

#DestaquesRodape div.conteudo table tr td
{
    border-right: 1px solid #757575;
}

#DestaquesRodape table tr td.titulo
{
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    width: 300px;
}

#DestaquesRodape table tr td.sac
{
    background: url("../img/icone-tel.png") no-repeat scroll 10px center transparent;
    font-family: Tahoma;
    font-size: 18px;
    *font-size: 17px;
    padding-left: 30px;
    width: 127px;
}

#DestaquesRodape table tr td.televendas
{
    font-size: 15px;
    line-height: 17px;
    padding-left: 17px;
    width: 163px;
}

#DestaquesRodape table tr td.televendas span
{
    font-size: 25px;
}

#DestaquesRodape a
{
    border-right: 1px solid #757575;
    display: block;
    float: left;
    height: 36px;
    margin: 9px 0;
    padding: 0 10px 6px 0;
}

#DestaquesRodape a:last-child
{
    border-right: 0 none;
    height: auto;
    margin: 5px 0 0 15px;
    padding: 0;
}

footer nav
{
    width:100%;
    float:left;
    background:#dadada;
    padding-bottom:15px;
}

footer nav div.divisao
{
    float:left;
    width:172px;
    padding:0 10px;
}

footer nav div.divisao h3
{
    clear: both;
    color: #e3010f;
    font-family: 'qlassik_medium', sans-serif !important;
    float: left;
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

footer nav div.divisao ul
{
    float:left;
    clear:both;
    list-style:none;
    margin-bottom:20px;
    margin-top:0px;
    *margin-left: 0px;
    padding:0;
}

footer nav div.divisao ul li
{
    float:left;
    clear:both;
    width: 170px;
}

footer nav div.divisao a
{
    color:#2d2d2d;
    font-size:11px;
}

footer nav div.divisao p
{
    float:left;
    clear:both;
    color:#2d2d2d;
    font-size:11px;
    margin:0;
    width: 170px;
}

footer nav div.divisao img
{
    float:left;
    clear:both;
    margin-top:10px;
}

#Final
{
    width:100%;
    float:left;
    background:#e3010f;
    font-size:11px;
    color:#360104;
    padding:20px 0;
}

#Copyright
{
    float:left;
    width:200px;
    color:#ffffff;
}

#Avisos
{
    float:left;
    text-align:center;
    width:560px;
    color:#ffffff;
}

#Avisos span.branco, #Avisos span.branco a
{
    color:#ffffff;
}

#Producao a
{
    color:#360104;
}

#Producao
{
    width:200px;
    float:left;
    text-align:right;
}

#BannersInf,#BannersSup
{
    float: left;
    height: 141px;
    margin: 5px 0 0 0;
    overflow: hidden;
    width: 960px;
}

#BannersInf div.banner,#BannersSup div.banner
{
    display: none;
    position: relative;
    width: 960px;
    z-index: 0;
}

#BannersInf div.banner.selecionado,#BannersSup div.banner.selecionado
{
    display:block;
}

#BannersInf div.navegacao,#BannersSup div.navegacao
{
    float:right;
    margin:-23px 10px 0 0;
    position:relative;
    z-index:1;
}

#BannersInf div.navegacao a,#BannersSup div.navegacao a
{
    display:block;
    float:left;
    margin-left:7px;
    border-radius:10px;
    background:#ffffff;
    width:13px;
    height:13px;
}

#BannersInf div.navegacao a.selecionado,#BannersSup div.navegacao a.selecionado
{
    background:#dddc00;
}

#ResultadoLocais
{
    background: #ffffff;
    -webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 11px;
    position: absolute;
}

#ResultadoLocais div.tipo
{
    float:left;
    clear:both;
    color:#666666;
    font-weight:bold;
    text-transform:uppercase;
    border-top:dotted 1px #666666;
    width:100%;
    margin:5px 5px 0;
}

#ResultadoLocais a
{
    float:left;
    clear:both;
    color:#666666;
    margin:0 5px;
}

.coroas-lista
{
    margin: 25px 0 0 0;
    padding:0;
}
.coroas-lista li
{
    color:#555;
    float: left;
    list-style: none outside none;
    padding: 10px;
    width: 210px;
    border:1px dotted #ccc;
    margin:4px;
}
.coroas-lista li a
{
    color: #555555;
    text-decoration:none;
}
.coroas-lista li .imagem
{
    border: 1px solid #FFFFFF;
    display: block;
    height: 224px;
    margin: 0 auto 10px auto;
    width: 193px;
}
.coroas-lista li.separador
{
    border-right:1px dotted #ccc;
}
.coroas-lista li .Texto
{
    margin: 0 0 0 17px;
    width: 188px;
}
.coroas-lista li .imagem:hover
{
    border: 1px solid #ccc;    
}
.coroas-lista li .subtitulo
{
    font-size:11px;
    display: block;
}
.coroas-lista li .titulo
{
    display: block;
    font-size:30px;
    line-height:27px;
}
.coroas-lista li .chamada
{
    font-size:12px;
    display: block;
}
.coroas-lista li .preco
{
    font-size:12px;
    display: block;
    padding:10px;
}
.coroas-lista li .preco span
{
    color:#e30613;
}
.coroas-lista li .mais-detalhes
{
    background: url("../img/botao.png") no-repeat scroll 0 0 transparent;
    color: #463637;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    margin: 10px 8px;
    padding: 5px 0 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 126px;
    float:right;
}

#carrinho 
{
    float: left;
    width: 960px;
}
#carrinho table tr
{
    padding-left: 10px;
}
#carrinho table tr td
{
    padding: 5px 10px;
}
#carrinho table tr td .tipoprod
{
    font-size: 11px;
    margin-top: -4px;
}
#carrinho table tr td .nomeprod
{
    font-size: 16px;
}
label.error{display:none!important;}

#Autenticacao
{
    float:left;
    width:400px;
}
#Cadastro
{
    float:left;
    width:560px;
}

.message
{	
	font-size:12px;
	border:1px solid #d2d2d2;
	padding:15px 8px 15px 45px;
	position:relative;
	vertical-align:middle;
	background:#f8f8f8;
	margin:0 12px 12px 12px;
}

.message p, 
.message ul, 
.message ol
{
	margin:0;
}

.message ul li, 
.message ol li
{
	list-style-position:inside;
	list-style-type:inherit;
	margin:0;
}

.message.erro
{
	background-color:#ffcbca;
	background-image:url(/content/img/message-error.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#eb979b;
	color:#9b4449;
}

.message.success
{
	background-color:#e1f1c0;
	background-image:url(/content/img/message-success.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#b5d56d;
	color:#62a426;
}

.message.warning
{
	background-color:#fef0b1;
	background-image:url(/content/img/message-warning.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#ddca76;
	color:#a98b15;
}

.message.info
{
	background-color:#bce5f7;
	background-image:url(/content/img/message-info.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#a6d3e8;
	color:#11689E;
}

.mudar_local
{
    font-size:10px;
    text-decoration:underline;
    color:#4D4D4D!important;
    text-transform:uppercase;
}
.none
{
    display:none;
}
#map-canvas  
{
    float: right;
    height: 400px;
    margin-top: 10px;
    width: 100%;
    border:1px solid #ccc;
}
  
#photo-panel {
background: #fff;
padding: 5px;
overflow-y: auto;
overflow-x: hidden;
width: 300px;
max-height: 300px;
font-size: 14px;
font-family: Arial;
border: 1px solid #ccc;
box-shadow: -2px 2px 2px rgba(33, 33, 33, 0.4);
display: none;
}

.metade
{
    float: left;
    width: 49%;
}

.informacao
{
    text-align: justify;
}

.resposta-local
{
    margin-top: 10px;
    background: #e8e8e8;
    float: left;
    margin-right: 1%;
    padding: 15px;
    width: 29%;
    height: 145px;
}

.resposta-local .title
{
    color: #4b4b4b; 
    font-size: 20px;
    margin-bottom: 10px;
}
#depoimentos
{
    float:left;
    margin-left:20px;
     color: #555555;
    font-size: 12px;
}
#depoimentos .depoimento
{
    background: url(../img/aspas.png) no-repeat 20px 20px #f0f0f0;
    padding: 20px 33px;
    width: 360px;
}
#depoimentos .depoimento p
{
    color: #515151;
    font-size: 13px;
    line-height: 20px;
}
#depoimentos .baixo-depoimento
{
    background: url(../img/baixo-depoimento.png) no-repeat 33px 0 transparent;
    height: 21px;
    width: 200px;
}
.bg
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}
.popup_primeira_compra
{
    background: url(../img/popup-primeira-compra.gif) no-repeat 33px 0 transparent;
    height: 380px;
    width: 700px;
    position:absolute;
    top:216px; 
    left:50%;
    margin-left:-350px;
    z-index:1000;
}
.popup_primeira_compra .fechar
{
    float: right;
    margin-top: -30px;
    margin-right: -20px;
}
.planos_promocao2
{ 
    font-family: 'qlassik_medium', sans-serif !important;
    background: #e3010f;
    border: 1px solid #e3010f;
    color: #ffffff;
    font-size:20px;
    text-align:center;
}
.atendimento_indisponivel {
	border: 2px solid #E3010F;
	background-color: #E7E7E7; 
	width: 350px;
	color: #838383;
	position: absolute;
	left: 10px;
	top:10px;
	max-height:200px;
	padding:10px;
}

.atendimento_indisponivel h1
{
    color: #E3010F;
    font-family: 'qlassik_medium',sans-serif !important;
    font-size: 26px;
    font-weight: normal !important; 
}