﻿.destaques-home
{
    float: left;
    margin: 10px 0;
    width: 960px;
}
.destaques-home .melhores
{
    color:#e3010f;
    font-size:25px;
    float:left;
}
.destaques-home .hr
{
    margin: 33px 0 0px 0;
}
.destaques-home hr
{
    border:1px solid #000;
}
.destaques-home .ordenar
{
    float:right;
    font-size:13px;
    color:#666;
}
.destaques-home .ordenar select
{
    font-size:13px;
    border: 1px solid #666666;
    color: #666666;
    padding: 2px;
}

/* Oops */
.oops h1
{
    font-size: 40px;
    margin: 20px 0 0 0;
}
.oops h3
{
    color: #666666;
    font-weight: normal;
}

.planos
{
    float: left;
    height: 150px;
    margin:  10px 0 0 3px;
    width: 180px;
    text-align: center;
}
.planos_promocao{
    font-size: 12px;
    color: #e30613;
    text-align: center;
    position: absolute;
    width: 200px;
    background: #fff;
    border: 1px solid #e30613;
    padding: 4px;
}
.planos .coroa
{
    background: url("../img/bg-planos.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    float: left;
    height: 50px;
    margin: 0 0 5px 0;
    width: 180px;
}
.planos .coroa .tamanho
{
    float: left;
    font-size: 11px;
    padding: 3px 0 0 0;
    text-align: center;
    width: 73px;
}
.planos .ativo .tamanho
{
    padding: 6px 0 0 0;
    width: 83px;
}
.planos .coroa .tamanho h4
{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.planos .ativo .tamanho h4
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.planos .desativado
{
    background-position: 0 -50px;
    height: 44px;
}
.planos .coroa .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 3px 0 0 0;
    text-align: center;
    width: 100px;
}
.planos .ativo .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 5px 0 0 0;
    text-align: center;
    width: 90px;
}
.planos .coroa .valor .total
{
    font-size: 14px;
    width: 100px;
}
.planos .coroa .valor .parcelado
{
    color: #e30613;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.botao-comprar
{
    background: url("../img/botao-comprar.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor:pointer;
    float: left;
    height:46px;
    margin: 0 0 0 2px;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 177px;
}
.box
{
    display:none;
}

/* Local */
.conteudo .local
{
    float: left;
    padding: 0 0 1px 0;
    width: 100%;
}
.conteudo .local .foto
{
    border: 1px solid #ccc;
    background: #757575;
    cursor: pointer;
    float: left;
    height: 139px;
    width: 189px;
    margin: 0 20px 0 0;
}
.conteudo .local .infos
{
    float: left;
    width: 100%;
}
.conteudo .local .infos .cima
{
    float: left;
    padding: 0;
    width: 960px;
}
.conteudo .local .infos .cima .direita
{
    float: left;
    width: 50%;
}
.conteudo .local .infos .cima .esquerda
{
    float: left;
    text-align: right;
    width: 100%;
}
.conteudo .local .infos .cima span.televendas
{
    background:url('../img/icone-sac.png') no-repeat left center;
    color:#70706f;
    font-size:14px;
    padding-left:24px;
    margin:4px 0 0 5px;
}
.conteudo .local .infos .cima span.prazoentrega
{
    background:url('../img/icone-entrega.png') no-repeat left center;
    color:#70706f;
    font-size:14px;
    padding-left:24px;
    margin:4px 0 0 5px;
}
.conteudo .local .infos .cima span.frete
{
    background:url('../img/icone-frete.png') no-repeat left center;
    color:#70706f;
    font-size:14px;
    padding-left:24px;
    margin:4px 0 0 5px;
}
.conteudo .local .infos .cima span.faixa
{
    background:url('../img/icone-faixa.png') no-repeat left center;
    color:#70706f;
    font-size:14px;
    padding-left:24px;
    margin:4px 0 0 5px;
}
.conteudo .local .infos p
{
    margin: 0 0 5px;
}
.conteudo .local .infos h1
{
    margin-bottom: 0;
}
.conteudo .local .infos .cidade
{
    font-size: 20px;
}
.conteudo .local .infos .locais
{
    font-size:12px;
    margin-bottom:20px;
}
.conteudo .local .infos .locais .link
{
    color:#757575;
}
.box-radius 
{
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cinza600 
{
    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #ececec 0%, #e4e4e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e4e4e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ececec 0%,#e4e4e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e4e4e2',GradientType=0 ); /* IE6-9 */
    
    margin: 10px 0 20px 0px;
    padding: 10px;
}