﻿.conteudo
{
    font-size:12px;
    color:#555;
    /*line-height: 20px;*/
}
.conteudo .detalhes-produto .lateral-esquerda
{
    float: left;
    margin-right: 30px;
    width: 530px;
}
.conteudo .detalhes-produto .lateral-esquerda .imagem-grande
{
    float:left;
    margin-top: 30px;
    text-align: center;
    width: 500px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flores
{
    color: #e3010f;
    float:left;
    font-size: 20px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor
{
    float:left;
    height: 190px;
    width: 390px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .img-flor label
{
    float: left;
    font-size:12px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .img-flor
{
    float: left;
    height: 94px;
    margin: 0 10px 0 0;
    width: 390px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .img-flor div
{
    float: left;
    margin: 0 10px 0 0;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .img-flor img
{
    cursor: pointer;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .caixa-txt
{
    color: #757575;
    float: left;
    font-size: 15px;
    margin: 10px 0 0 0;
    width: 390px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .caixa-txt .nome
{
    color: #e3010f;
    font-size: 16px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .flor .caixa-txt .txt
{
    height:90px;
    margin: 0 !important;
    position: absolute;
    width: 370px;
}

.conteudo .detalhes-produto .lateral-direita
{
    float:left;
    width: 400px;
}
.conteudo .detalhes-produto .lateral-direita h1
{
    line-height: 30px;
    font-weight: normal !important;
    margin-top: 13px;
}
.conteudo .detalhes-produto .lateral-direita .subtitulo
{
    font-weight:bold;
    margin-top: 13px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita
{
    float: left;
    width: 400px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita p
{
    color: #e30613;
    font-family: 'qlassik_medium', sans-serif !important;
    font-size: 20px;
}
.conteudo .detalhes-produto .lateral-direita .item-direita .descricao
{
    float: left;
    width: 191px;
}
.conteudo .detalhes-produto .lateral-direita .centro
{
    text-align: center;
}
.conteudo .detalhes-produto .lateral-direita .foto
{
    padding-right:20px;
    padding-bottom:20px;
    max-width:200px;
}
.conteudo .detalhes-produto .lateral-direita .botao-comprar-clique
{
    background: url("../img/botao-comprar-clique.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor:pointer;
    float: left;
    height: 46px;
    margin: 0 0 0 2px;
    text-indent: -9999px;
    width: 177px;
}
.conteudo .detalhes-produto .lateral-direita .botao-comprar
{
    background: url("../img/botao-comprar.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor:pointer;
    float: left;
    height: 46px;
    margin: 0 0 0 2px;
    text-indent: -9999px;
    width: 177px;
}
#comprar-produto
{
    background: url("../img/botao-comprar-gde.png") no-repeat scroll 0 0 transparent;
    float: none;
    *float: left;
    height: 64px;
    *margin-left: 90px;
    width: 220px;
}
.conteudo .detalhes-produto .lateral-direita .planos
{
    height: 180px;
    margin: 0 auto;
    width: 180px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa
{
    background: url("../img/bg-planos.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    float: left;
    height: 50px;
    margin: 0 0 5px 0;
    width: 180px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .tamanho
{
    float: left;
    font-size: 11px;
    padding: 3px 0 0 0;
    text-align: center;
    width: 73px;
}
.conteudo .detalhes-produto .lateral-direita .planos .ativo .tamanho
{
    padding: 6px 0 0 0;
    width: 83px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .tamanho h4
{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.conteudo .detalhes-produto .lateral-direita .planos .ativo .tamanho h4
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.conteudo .detalhes-produto .lateral-direita .planos .desativado
{
    background-position: 0 -50px;
    height: 44px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 3px 0 0 0;
    text-align: center;
    width: 100px;
}
.conteudo .detalhes-produto .lateral-direita .planos .ativo .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 5px 0 0 0;
    text-align: center;
    width: 90px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .valor .total
{
    font-size: 12px;
    width: 100px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .valor .parcelado
{
    color: #e30613;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .leve-mais
{
    background: #e3010f;
    border: 1px solid #e3010f;
    color: #ffffff;
    cursor:pointer;
    display: none;
    height: 63px;
    left: 190px;
    position: relative;
    top: 45px !important;
    width: 180px;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .leve-mais header
{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
    margin-top: -55px !important;
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .leve-mais div
{
    float: left;
    font-size: 11px;
    margin-left: 8px !important;
    margin-top: -15px !important;
    
}
.conteudo .detalhes-produto .lateral-direita .planos .coroa .leve-mais img
{
    left: -95px;
    position: relative;
    top: -14px !important;
}
.conteudo .detalhes-produto .lateral-direita .selos
{
    display: block;
    float: left;
    margin: 15px 0 0 51px;
    width: 240px;
}
.conteudo a
{
    color: #e3010f;
}
.conteudo h2 a
{
    text-decoration:none;
}
.left 
{
    float: left;
    margin: 5px 10px 0 0;
}

/* CPV na mídia */
.div
{
    background: #ccc;
    float: left;
    height: 1px;
    margin: 20px 0 15px 0;
    width: 610px;
}
.metade 
{
    float: left;
    margin: 0 15px 15px 0;
    width: 300px;
}
.metade .noticia 
{
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0 15px 15px 0;
    width: 300px;
}
.metade .noticia .topo
{
    float: left;
    width: 300px;
}
.metade .noticia .topo img
{
    float: left;
    margin: 0 10px 10px 0;
}
.metade .noticia .topo .titulo
{
    color: #e3010f;
    font-size: 17px;
    font-weight: bold;
}
.metade .noticia .infos
{
    float: left;
    width: 300px;
}
.metade .noticia .texto
{
    float: left;
    padding: 5px;
    width: 280px;
}

/* DEPOIMENTOS DE CLIENTES */

.conteudo .depoimento-metade
{
    float: left;
    margin: 0 30px 0 0;
    width: 450px;
}
.conteudo .depoimento-metade .title
{
    height: 58px;
    margin-bottom: -10px;
    width: 400px;
}
.conteudo .depoimento-metade .title .ico
{
    background: url("../img/pf-pj.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 58px;
    margin: 0 0 0 5px;
    width: 58px;
}
.conteudo .depoimento-metade .title .juridica
{
    background-position: -58px 0;
}
.conteudo .depoimento-metade .title .txt
{
    float: left;
    font-size: 24px;
    margin-top: 15px;
}
.conteudo .ico-pessoa
{
    float: right;
    margin-top: -58px;
}
.clientes 
{
    background: #ececec;
    float: left;
    margin: 0 0 20px 0;
    padding: 10px;
    width: 100%;
}
.clientes img
{
    margin: 0 0 0 200px;
}
.clientes .titulo
{
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.bold
{
    font-weight:bold;
}
.box_lista_noticia
{
    margin: 10px 15px 40px 0;
    border-top:1px dotted #ccc;
    padding:10px;
    margin:4px;
}
.box_lista
{
    float: left;
    margin: 10px 15px 40px 0;
    min-height:185px;
}
.box_lista h3
{
    margin: 0 0 0 23px;
}
.box_lista i
{
    margin: 0 0 0 27px;
}
.box_lista .depoimento
{
    background: url(../img/aspas.png) no-repeat 20px 20px #f0f0f0;
    padding: 20px 33px;
    width: 360px;
}
.box_lista .depoimento p
{
    color: #515151;
    font-size: 13px;
    line-height: 20px;
}
.box_lista .baixo-depoimento
{
    background: url(../img/baixo-depoimento.png) no-repeat 33px 0 transparent;
    height: 21px;
    width: 200px;
}
/* SEJA UM PARCEIRO */
.box-radius 
{
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.cinza600 
{
    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #ececec 0%, #e4e4e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e4e4e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ececec 0%,#e4e4e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e4e4e2',GradientType=0 ); /* IE6-9 */
    
    margin: 10px 0 20px 0px;
    padding: 10px;
}
.cinza 
{
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top,  #ececec 0%, #e4e4e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e4e4e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ececec 0%,#e4e4e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ececec 0%,#e4e4e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e4e4e2',GradientType=0 ); /* IE6-9 */
    float: left;
    margin: 10px 0 20px 10px;
    padding: 10px;
}
.tabela tr td
{
    padding-bottom:5px;
}
.tabela .right
{
    text-align: right;
    padding-right:5px;
}
.tabela .center
{
    text-align: center;
}
.tabela input[type="text"],.tabela input[type="password"]
{
    border: 1px solid #757575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 0;
    width: 100%;
    height:25px;
}
.tabela select
{
    border: 1px solid #757575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 0;
    width: 100%;
    height:30px;    
}
.tabela textarea
{
    border: 1px solid #757575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 2px 0;
    width: 100%;
    height:100px;
}
.tabela input[type="text"].input100
{
    width: 100px;
}
.tabela input[type="text"].input56
{
    width: 56px;
}
.tabela textarea.campo300
{
    width: 230px;
}
.tabela div.radio
{
    float: left;
    width: 100%;
}
.tabela tr
{
    margin: 12px;
}
.bt_cadastrar 
{
    background: url("../img/botao-cadastrar-sprite.png") no-repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    text-indent: -99999px;
    width: 173px;
}
.bt_cadastrar:hover
{
    background: url("../img/botao-cadastrar-sprite.png") no-repeat scroll 0 -35px transparent;
}
.bt_cadastrar:active
{
    background: url("../img/botao-cadastrar-sprite.png") no-repeat scroll 0 -70px transparent;
}

/* COMO COMPRAR */
.passo1 
{
    background: url("../img/passo-1.jpg") no-repeat scroll 0 0 transparent;
    height: 178px;
    margin: 20px 0 0 0;
}
.passo2
{
    background: url("../img/passo-2.jpg") no-repeat scroll 0 0 transparent;
    height: 178px;
    margin: 40px 0 0 0;
}
.passo3 
{
    background: url("../img/passo-3.jpg") no-repeat scroll 0 0 transparent;
    height: 183px;
    margin: 40px 0 0 0;
}
.passo-passo
{
    padding: 5px 0 0 0;
    width: 100%;
}
.passo-passo .texto 
{
    margin: 44px 0 0 233px;
    width: 675px;
}

/* Dúvidas Frequentes */
.TopicosDuvidas
{
    border-bottom: 1px solid #e2e2e2;
    float: left;
    margin: 20px 0;
    width: 100%;
}
.TopicosDuvidas .Topico
{
    background:  url("../img/bg-topico-duvidas.jpg") no-repeat scroll 47px 3px #C8C8C8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    height: 70px;
    margin: 0 75px 20px 0;
    width: 269px;
}
.TopicosDuvidas .Topico img
{
    float: left;
    margin-top: 4px;
}
.TopicosDuvidas .Topico .txt
{
    font-size: 30px;
    margin-top: 17px;
}
.TopicosDuvidas .Topico .txt a
{
    text-decoration:none;
    color: #555555;
}
#DuvidasFrequentes .accordion ul
{
    padding-left: 10px;
}

.accordion ul
{
    list-style: none;
}
.accordion ul li ul
{
    list-style-type: circle;
}
.accordion .title
{
    color: #e3010f;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 5px 0;
}
.accordion .cont
{
    display: none;
    list-style: none;
    margin: 0 0 20px 0;
}

/* Significado das flores */
.conteudo div.flor
{
    float: left;
    margin: 10px 0;
    width: 600px;
}
.conteudo div.flor.caixa
{
    float: left;
    margin: 10px 0;
    width: 940px;
}

.conteudo .detalhes-produto .lateral-esquerda .flor .img-flor div
{
    float: left;
    margin: 0 10px 0 0;
}
.conteudo div.flor h2
{
    margin: 0;
}
.conteudo div.flor a
{
    text-decoration: none;
}
.conteudo div.flor h2:hover
{
    color: #f6161f !important;
}

/* Condolências Virtuais Grátis */
.bt_visualizar 
{
    background: url("../img/botao-visualizar-sprite.png") no-repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    text-indent: -99999px;
    width: 173px;
}
.bt_enviar 
{
    background: url("../img/botao-visualizar-sprite.png") no-repeat scroll 0 -35px transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    text-indent: -99999px;
    width: 173px;
}
.escurece
{
    background: url("../img/bg_escurece.png") repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.lightbox
{
    height: 454px;
    left: 50%;
    margin: -227px 0 0 -300px;
    position: fixed;
    top: 50%;
    width: 600px;
}
.lightbox .close
{
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-size: 24px;
}
.lightbox .cartao
{
    float: left;
    font-family: Brush Script MT;
    font-size: 40px;
    width: 600px;
}

/* Soluções Corporativas */
.half
{
    float: left;
    margin: 0 2% 0 0;
    width: 48%;
}
.half .title
{
    background: #e3010f;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px;
    width: 90%;
}
.half .texto
{
    margin-left: 15px;
    width: 90%;
}


/* Velórios e Cemitérios */
.buscavelorios 
{
    width: 350px;
}
.botaoCinza
{
    background: url("../img/bg_botaoC.gif") repeat-x 0 0 transparent;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #616161;
    cursor: pointer;
    font-family: Tahoma, Arial, Serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    padding: 0 20px;
    text-transform: uppercase;
}
.botao
{
    background: url("../img/bg_botaoV.gif") repeat-x 0 0 transparent;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: Tahoma, Arial, Serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    padding: 0 20px;
    text-transform: uppercase;
}
#FinalizarCompra
{
    background: url("../img/bg_botaoV.gif") repeat-x 0 0 transparent;
}
.carrinho .valor
{
    font-size: 19px;
    font-weight: bold;
}
form#buscar-local-baixo
{
    float: left;
    height: 53px;
    margin: 15px 0 0 14px;
    width: 288px;
}

#buscar-pagina-velorios
{
    float: left;
    width: 100%;
}
#buscar-pagina-velorios .title
{
    float: left;
    font-size: 14px;
    margin-top: 22px;
    width: 39%;
}

#buscar-local-baixo
{
    float: left;
}
#buscar-local-baixo input[type=text]
{
    border: 1px solid #8C8C8C;
    border-radius: 2px 2px 2px 2px;
    color: #616161;
    float: left;
    font-size: 11px;
    font-style: italic;
    padding: 10px;
    width: 225px;
}
#buscar-local-baixo input[type=submit]
{
    background: url("../img/botao-buscar.png") no-repeat scroll 6px 5px #b7b724;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 39px;
    margin: -1px 0 0 -2px;
    text-indent: -9999px;
    width: 40px;
}

/* A Empresa */
.empresa
{
    height: 500px;
    margin: 0 0 20px;
} 
.empresa .one-third
{
    float: left;
    margin: 0 5% 0 0;
    width: 30%;
}
.empresa .one-third span
{
    color: #515151;
    font-size: 20px;
}
.empresa .two-third
{
    background:  url("../img/bg_empresa.jpg") no-repeat right top;
    float: left;
    width: 65%;
}
.empresa .two-third span
{
    color: #515151;
    font-size: 20px;
}
.empresa .two-third .itens-produtos
{
    clear: both;
    font-size: 14px;
    margin-bottom: 30px;
    padding-left: 50px;
    text-align: justify;
    width: 183px;
}
.empresa .two-third .frete
{
    background:  url("../img/ico-frete-produtos.jpg") no-repeat left top;
}
.empresa .two-third .faixa
{
    background:  url("../img/ico-faixa-produtos.jpg") no-repeat left top;
}
.empresa .two-third .flores
{
    background:  url("../img/ico-flores-produtos.jpg") no-repeat left top;
}
.empresa .two-third .estrela
{
    background:  url("../img/ico-estrela-produtos.jpg") no-repeat left top;
}
.parte-2 .two-third span, .parte-2 .one-third span
{
    font-size: 30px;
}
.parte-2 .two-third span
{
    color: #e3010f;
}
.parte-2 .one-third .box_lista
{
    margin: 10px 15px 23px 0;
}

/* Resultado Busca */
.conteudo #ResultadosBusca
{
    float: left;
    margin: 0 0 53px 0;
    padding: 0 0 1px 0;
    width: 100%;
}
.conteudo #ResultadosBusca .one-fourth
{
    float: left;
    width: 25%;
}
.conteudo #ResultadosBusca .one-fourth .title
{
    background: none repeat scroll 0 0 #CCCCCC;
    font-family: 'qlassik_medium',sans-serif !important;
    font-size: 30px;
    padding: 16px 10px;
    width: 217px;
}
.conteudo #ResultadosBusca .one-fourth .results
{
    font-size: 14px;
    margin: 5px 0 0 0;
    width: 100%;
}
.conteudo #ResultadosBusca  .results .destaques
{
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.conteudo #ResultadosBusca  .results .items
{
    display: block;
    float: left;
    width: 100%;
}
.conteudo #ResultadosBusca  .results .item
{
    float: left;
    width:50%;
}
.conteudo #ResultadosBusca .one-fourth .results ul
{
    list-style: none;
    margin: 0 0 0 -19px;
}
.conteudo #ResultadosBusca .one-fourth .results ul li
{
    cursor: pointer;
    margin: 0 0 5px 0;
    text-decoration: underline;
}
.processando
{
    background:url('/content/img/loading.gif') 10px 50% no-repeat;
    padding-left:50px;
    padding-bottom: 10px;
    padding-top: 10px;
    display:none;
    float: right;
    font-size:12px!important;
    margin:auto;
}

/* CONTATO */

.conteudo .box-radius #form_contato
{
    float: left;
    width: 440px;
}

.conteudo .box-radius #Telefones
{
    float: left;
    margin: -45px 0 0 0;
    width: 519px;
}

.conteudo .box-radius #Telefones .televendas
{
    background: url("../img/icone-sac.png") no-repeat scroll left center transparent;
    color: #70706F;
    display: block;
    float: left;
    font-size: 17px;
    margin: 4px 0 0 5px;
    padding-left: 23px;
}

.conteudo .box-radius #Telefones .telefone
{
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin: -1px 0 0 3px;
}

.conteudo .box-radius #Telefones ul.tel
{
    float: left;
    list-style: none outside none;
    margin: 10px 0 0 -37px;
    width: 267px;
}
.conteudo .box-radius #Telefones ul.tel2
{
    float: left;
    list-style: none outside none;
    margin: 10px 0 0 -37px;
    width: 220px;
}

.conteudo #Contato
{
    height: 255px;
}

/* CADASTRO */
#TipoCadastro
{
    background: #e1e1e1;
    margin: 0 0 0 80px;
}
#CadastreSe 
{
    height: 550px;
}
#CadastreSe  #Autenticacao
{
    float: left;
    margin: 10px;
    padding: 10px;
    width: 45%;
    height:220px;
}
#CadastreSe  #Autenticacao .content
{
    margin: 20px 0 0 20px;
}
#CadastreSe  #Autenticacao .content span
{
    font-size: 30px;
}
#CadastreSe #Autenticacao .content #autenticacao-entrar
{
    float: right;
    margin-right: 80px;
    margin-top: 10px;
}
#CadastreSe  #Cadastro
{
    float: left;
    width: 50%;
}
#CadastreSe  #Cadastro .content
{
    margin: 20px 0 0 20px;
}
#CadastreSe #Cadastro span
{
    font-size: 30px;
}
#Tabela tr td
{
    height: 25px;
}


/* MEUS PEDIDOS */

.ItemPedido
{
    background: #ffffff;
    display: none;
    left: 50%;
    margin: 0 0 0 -300px;
    padding: 0 0 20px;
    position: fixed;
    top: 300px;
    width: 600px;
    z-index: 50;
}
.ItemPedido .InfosItem
{
    margin: 10px 0 0 20px;
}
.ItemPedido .close
{
    background: none repeat scroll 0 0 #e3010f;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px 0 -26px 575px;
    padding: 3px 5px;
    width: 7px;
}
.ItemPedido .InfosItem tr td .title
{
    font-size: 24px;
}
.n-pedido
{
    color: #e3010f;
    cursor: pointer;
    text-decoration: underline;
}
.f15
{
    font-size: 15px;
}
.f24
{
    font-size: 24px;
}
.carrinho
{
    margin: 12px 0;
    background-color:#e8e8e8;
}
.carrinho .item
{
    background-color:#fff;
}
carrinho.itemListing>thead>tr>th:first-child {
    text-align: left;
    padding-left: 10px;
}
carrinho.itemListing>tbody>tr {
border-bottom: solid 1px #CCC;
}

/* Frases de Homenagens */
#FrasesHomenagens .half ul
{
    width: 90%;
}
#FrasesHomenagens .half .title
{
    background: #e3010f;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px;
    width: 90%;
}

/* PEDIDO */

table.pedido tr.table-padding
{
    padding: 10px 0;
}
.mensagem
{
    background: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.mensagem tr td select
{
    border: 1px solid #8c8c8c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 0;
    width: 471px;
}
.mensagem tr td input
{
    border: 1px solid #8c8c8c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 28px;
    width: 469px;
}


table.entrega
{
    background: #ebebeb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #5e5e5e;
    font-size: 14px;
}

table.entrega tr td input
{
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 10px 0;
    padding: 4px;
    width: 248px;
}
table.entrega tr td select
{
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 10px 0;
    padding: 4px;
    width: 248px;
}
table.entrega tr td textarea
{
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 80px;
    margin: 10px 0;
    padding: 4px;
    width: 889px;
}

table.pagamento
{
    margin-top: 40px;
}

.resultado
{
	background-size: cover;
	border: 3px solid #f3f3f3;
	float: left;
	height: 130px;
	margin-right: 4px;
	margin-top: 4px;
	overflow: hidden;
	width: 180px;
}

.resultado .titulo
{
    background: url('../img/bg-transp.png') repeat;
    color: #ffffff;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 49px;
    left: 0;
    padding: 4px;
    position: relative;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    top: 74px;
    width: 96%;
}

.page-cemiterios h2
{
	color: #757575;
    font-family: 'qlassik_medium', sans-serif !important;
	font-size: 24px;
}

.cemiterio
{
	background: url('../img/fundo-cemiterio.jpg') no-repeat;
}

.cidade
{
	background: url('../img/fundo-cidade.jpg') no-repeat;
}

.velorio
{
	background: url('../img/fundo-velorio.jpg') no-repeat;
}

.capela
{
	background: url('../img/fundo-capela.jpg') no-repeat;
}

.crematorio
{
	background: url('../img/fundo-crematorio.jpg') no-repeat;
}

.hospital
{
	background: url('../img/fundo-hospital.jpg') no-repeat;
}

.lista-cidades
{
	float: left;
	margin-top: 30px;
	width: 100%;
}

.lista-cidades .estado
{
	font-weight: bold;
	font-size:14px;
}

.lista-cidades ul
{
	list-style: none;
	margin-left: 20px;
	padding: 0;
}

.lista-cidades ul li
{
	float: left;
	margin-right: 1%;
	width: 24%;
}

.lista-cidades ul li a
{
    color: #757575;
	font-size:13px;
    text-decoration:none;
}

.lista-cidades ul li a:hover
{
    text-decoration:underline;
}

.lista-cemiterios
{
    border-bottom: 1px dotted #e0e0e0;
    clear: both;
    float: left;
    margin-top: 20px;
    padding-bottom: 26px;
    width: 100%;
}

.lista-cemiterios .estado
{
    clear: both;
    font-size: 20px;
}

.lista-cemiterios ul li
{
    clear: both;
    list-style: none;
}

.lista-cemiterios ul li ul
{
    list-style: none;
}

.lista-cemiterios ul li ul li
{
    clear: none;
	float: left;
    width: 33%;
    margin:5px 0 5px 0;
}

.lista-cemiterios ul li ul li a
{
    color: #757575;
}

#ResultadosBusca .title
{
    border-bottom: 3px solid #e3010f;
    cursor: pointer;
    float: left;
    font-size: 26px;
    width: 20%;
}

.paginacao
{
    width:100%;
    margin-top:10px;
}
.paginacao .titulo
{
}
.paginacao .paginas
{
    margin-top:10px;
}
.paginacao .paginas span
{
    border: 1px solid #CCCCCC;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.paginacao .paginas span a
{
    text-decoration:none;
}
.paginacao .paginas .ativa
{
    background-color:#E7E7E7;
}


.leve-outra
{
    margin-top: -17px;
}

.leve-outra span
{
    color: #e3010f;
    font-family: 'qlassik_medium', sans-serif !important;
    font-size: 26px;
    margin-left: 5px;
    text-transform: uppercase;
}

.leve-outra .mensagem
{
    background: #e3010f url('../img/lateral-leve-outracoroa.png') right center no-repeat;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 17px;
    margin-left: 5px;
    margin-top: -5px;
    padding: 5px 13px 5px 5px;
}

.leve-outra .botao
{
    background: url("../img/bg_botaoC2.gif") repeat-x 0 0;
    margin-left: 31px;
    margin-top: -9px;
}

.porque-comprar
{
    float: left;
    font-size: 26px;
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

.porque-comprar .titulo
{
    background: #9b9b9b;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
    float: left;
    font-size: 26px;
    padding: 15px;
    text-align: center;
    width: 470px;
}

.porque-comprar table
{
    font-size: 14px;
}

.porque-comprar table tr td
{
    padding: 15px 0;
}

.porque-comprar table tr:nth-child(2n+1)
{
    background: #f6f6f6;
}

.faq ul
{
    list-style:none;
    padding:0;
}

.faq ul li ul h3
{
    color: #E3010F;
    font-family: 'qlassik_medium',sans-serif !important;
    font-size: 16px;
    font-weight: normal !important;
    margin-top: 15px;
}
.faq ul li ul .resposta
{
    padding:10px;
}