﻿@model Domain.Entities.Cupom

@{
    ViewBag.Title = Model == null ? "Novo Cupom" : "Edição do cupom " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Cupom" : "Edição do cupom " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Cupom", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <input id="QuantidadeUtilizado" name="QuantidadeUtilizado" type="hidden" value="@(Model != null ? Model.QuantidadeUtilizado : 0)" />
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = 100 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Código</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Codigo, new { @class = "mws-textinput", @maxlength = 12 })
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Cupom.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Cupom.Tipos.Porcentagem), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Valor (% ou R$)</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput", @maxlength = 8 })
                    </div>
                </div>  

                <div class="mws-form-row">
                    <label>Quantidade Disponivel</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.QuantidadeDisponivel, new { @class = "mws-textinput", @maxlength = 5 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Quantidade por Cliente</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.PorCliente, new { @class = "mws-textinput", @maxlength = 5 })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Validade</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.DataValidade, new { @class = "mws-textinput mws-datepicker", @maxlength = 19 })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Ativo?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Ativo)  SIM
                    </div>
                </div>
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#precos').addClass('active');
        $('#i_cupom').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                Codigo: "required",
                Tipo: "required",
                Valor: "required",
                QuantidadeDisponivel: "required",
                PorCliente: "required",
                DataValidade: "required"
            },
            messages: {
                Nome: "O campo título é obrigatório.",
                Codigo: "O campo código é obrigatório.",
                Tipo: "O campo tipo é obrigatório.",
                Valor: "O campo valor é obrigatório.",
                QuantidadeDisponivel: "O campo quantidade disponível é obrigatório.",
                PorCliente: "O campo quantidade por cliente é obrigatório.",
                DataValidade: "O campo validade é obrigatório."
            }
        });
    });
</script>
}