﻿@model IEnumerable<Domain.Entities.Cupom>

@{
    ViewBag.Title = "Cupons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#precos').addClass('active');
            $('#i_cupom').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Cupons
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Cupom")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Nome</th>
                    <th align="center" style="text-align:center;width:150px;">Código</th>
                    <th align="center" style="text-align:center;width:150px;">Tipo</th>
                    <th align="center" style="text-align:center;width:150px;">Total</th>
                    <th align="center" style="text-align:center;width:150px;">Utilizados</th>
                    <th align="center" style="text-align:center;width:150px;">Pedidos</th>
                    <th align="center" style="text-align:center;width:150px;">Pedidos Empresa/Laços</th>
                    <th align="center" style="text-align:center;width:150px;">Validade</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td class="center">@Html.DisplayFor(modelItem => item.Codigo)</td>
                    <td class="center">@Html.DisplayFor(modelItem => item.Tipo)</td>
                    <td class="center">@Html.DisplayFor(modelItem => item.QuantidadeDisponivel)</td>
                    <td class="center">@Html.DisplayFor(modelItem => item.QuantidadeUtilizado)</td>
                    <td class="center"><a href="@Url.Action("List", "PedidosSite", new { cupomID = item.ID })">@Html.DisplayFor(modelItem => item.Pedidoes.Count)</a></td>
                    <td class="center"><a href="@Url.Action("List", "PedidosEmpresa", new { cupomID = item.ID })">@Html.DisplayFor(modelItem => item.PedidoEmpresas.Count)</a></td>
                    <td class="center">@item.DataValidade.ToShortDateString()</td>
                    <td class="center" style="width:164px;">
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = item.Pedidoes.Any() ? "alert('Não é possível excluir cupons que já foram utilizados.'); return false;" : "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }else{
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
    </div>
</div>