﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model Domain.Entities.PedidoFloricultura

@{
    ViewBag.Title = "Visualizar pedido #" + Model.Numero;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
    var produtos = (IEnumerable<Domain.Entities.ProdutoFloricultura>)ViewBag.Produtos;

}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Pedido #@Model.Numero</span>
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get" action="/PedidosSite/List">
                    <table>
                        <tr>
                            <td>Data de Inicial:</td>
                            <td><input type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width:20px;"></td>
                            <td>Data de Final:</td>
                            <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Nome:</td>
                            <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width:20px;"></td>
                            <td>Número do Pedido:</td>
                            <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width:20px;"></td>
                            <td>E-mail:</td>
                            <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;" /></td>
                        </tr>

                        <tr>
                            <td>Status de Pagamento:</td>
                            <td colspan="6">@Html.DropDownListForEnum("statuspagamento", typeof(Domain.Entities.PedidoFloricultura.TodosStatusPagamento), (!String.IsNullOrEmpty(Request.QueryString["statuspagamento"]) ? Convert.ToInt32(Request.QueryString["statuspagamento"]) : 0), new { style = "width:300px;" })</td>
                        </tr>

                        <tr></tr>
                    </table>
                    <input type="submit" class="mws-button green big" value="Filtrar" />
                </form>
            </div>
        </div>
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_dados">
                    <a href="javascript:abre('dados');" class="mws-ic-16 ic-user-business-boss">Cliente</a>
                </li>
                <li class="li_aba" id="li_entrega">
                    <a href="javascript:abre('entrega');" class="mws-ic-16 ic-delivery">Entrega</a>
                </li>
                <li class="li_aba" id="li_produto">
                    <a href="javascript:abre('produto');" class="mws-ic-16 ic-cart">Produtos</a>
                </li>
                <li class="li_aba" id="li_pagamento">
                    <a href="javascript:abre('pagamento');" class="mws-ic-16 ic-money-dollar">Pagamento</a>
                </li>
                <li class="li_aba" id="li_notas">
                    <a href="javascript:abre('notas');" class="mws-ic-16 ic-pencil">Notas</a>
                </li>
                @{
                    if (Model.ContatoFunararia != null)
                    {
                        <li class="li_aba" id="li_repasse">
                            <a href="javascript:abre('repasse');" class="mws-ic-16 ic-arrow-redo">Repasse</a>
                        </li>
                    }
                }

            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "PedidosFloricultura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)

            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>Status</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusProcessamento)

                            @if (Model.StatusProcessamento == Domain.Entities.PedidoFloricultura.TodosStatusProcessamento.Processando || Model.StatusProcessamento == Domain.Entities.PedidoFloricultura.TodosStatusProcessamento.Producao)
                            {
                                <input type="button" class="mws-button blue" value="Concluir" id="concluir_pedido" />
                            }
                            else if (Model.StatusProcessamento == Domain.Entities.PedidoFloricultura.TodosStatusProcessamento.Criado)
                            {
                                <input type="button" class="mws-button green" value="Processar" id="processar_pedido" />
                            }
                            @if (Model.StatusProcessamento != Domain.Entities.PedidoFloricultura.TodosStatusProcessamento.Cancelado)
                            {
                                <input type="button" class="mws-button red" value="Cancelar" id="cancelar_pedido" />
                            }
                            else
                            {
                                <i>
                                    Este pedido foi cancelado
                                    <b>Motivo: </b> @(Model.StatusCancelamentoID.HasValue ? Domain.Helpers.EnumHelper.GetDescription(Model.StatusCancelamento) : "Não informado")
                                </i>
                            }
                        </div>
                        <label>Número do Pedido</label>
                        <div class="mws-form-item small">
                            @Model.Numero
                        </div>
                        <label>ID do Pedido</label>
                        <div class="mws-form-item small">
                            @Model.ID
                        </div>
                        @{
                            if (Model.NumeroPedidoCPV != null)
                            {
                                <label>Pedido de Referência CPV</label>
                                <div class="mws-form-item small">
                                    <a href="/PedidosSite/Visualizar/@Model.IdPedidoCPV">@Model.NumeroPedidoCPV</a>
                                </div>
                            }
                            if (Model.NumeroPedidoEmpresa != 0)
                            {
                                <label>Pedido de Referência LAÇOS</label>
                                <div class="mws-form-item small">
                                    <a href="/PedidosEmpresa/Visualizar/@Model.NumeroPedidoEmpresa">@Model.NumeroPedidoEmpresa</a>
                                </div>
                            }
                        }
                        <label>Data do Pedido</label>
                        <div class="mws-form-item small">
                            @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <hr />

                        @{
                            if (Model.ClienteFloricultura != null)
                            {
                                <label>Cliente</label>
                                <div class="mws-form-item small">
                                    <a href="@Url.Action("List", "ClienteFloricultura", new { clienteID = Model.ClienteFloricultura.ID })" target="_blank">
                                        @Model.ClienteFloricultura.Nome
                                    </a>
                                </div>
                            }
                            if (Model.ContatoFunararia != null)
                            {
                                <label>Contato Funerária</label>
                                <div class="mws-form-item small">
                                    <a href="@Url.Action("List", "ContatoFuneraria", new { clienteID = Model.ContatoFunararia.ID })" target="_blank">
                                        @Model.ContatoFunararia.Nome
                                    </a>
                                </div>
                            }
                        }

                        @{
                            if (Model.ClienteFloricultura != null)
                            {
                                if (Model.ClienteFloricultura.Tipo == Domain.Entities.ClienteFloricultura.Tipos.PessoaJuridica)
                                {
                                    <label>Razão Social</label>
                                    <div class="mws-form-item small">
                                        @Model.ClienteFloricultura.RazaoSocial
                                    </div>
                                }
                            }
                            //if (Model.ClienteFloricultura != null)
                            //{

                            //}
                        }

                        <label>Subtotal</label>
                        <div class="mws-form-item small">
                            @((Model.ValorTotal + Model.ValorDesconto))
                        </div>
                        <label>Desconto</label>
                        <div class="mws-form-item small">
                            -@Model.ValorDesconto
                        </div>
                        <label>Total</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotal
                        </div>

                        <hr />
                        <label>Método de Pagamento</label>
                        <div class="mws-form-item small">
                            @if (Model.MeioPagamento != null)
                            {
                                @Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)
                            }
                            else {
                                <text>N/A</text>
                            }
                        </div>
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            @if (Model.MeioPagamento != null)
                            {
                                @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                            }
                            else {
                                <text>N/A</text>
                            }
                        </div>
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                        </div>
                        <hr />
                        <label>Obs</label>
                        <div class="mws-form-item small">
                            @Model.Obs
                        </div>
                        <hr />

                    </div>
                </div>

                <div class="abas" id="dados">
                    <div class="mws-form-row">
                        <label>Nome do cliente ou responsável pela empresa</label>
                        <div class="mws-form-item small">
                            @if (Model.ContatoFunararia != null)
                            {
                                @Model.ContatoFunararia.Nome
                            }
                            @if (Model.ClienteFloricultura != null)
                            {
                                @Model.ClienteFloricultura.Nome
                            }
                        </div>
                        @if (Model.ContatoFunararia != null)
                        {
                            <label>Nome do Comprador</label>
                            <div class="mws-form-item small">
                                @Model.NomeComprador
                            </div>
                            <label>Contato do Comprador</label>
                            <div class="mws-form-item small">
                                @Model.ContatoComprador
                            </div>
                        }
                        @{
                            if (Model.ClienteFloricultura != null)
                            {
                                if (Model.ClienteFloricultura.Tipo == Domain.Entities.ClienteFloricultura.Tipos.PessoaFisica)
                                {
                                    <label>CPF</label>
                                    <div class="mws-form-item small">
                                        @if (Model.ClienteFloricultura.Tipo == Domain.Entities.ClienteFloricultura.Tipos.PessoaFisica)
                                        {
                                            if (Model.ClienteFloricultura.Documento.Length == 11)
                                            {
                                                long documento = Convert.ToInt64(Model.ClienteFloricultura.Documento);
                                                @String.Format(@"{0:000\.000\.000\-00}", documento);
                                            }
                                            else
                                            {
                                                @Model.ClienteFloricultura.Documento
                                            }
                                        }
                                        else
                                        {
                                            <span>Não Informado</span>
                                        }
                                    </div>
                                }
                                else if (Model.ClienteFloricultura.Tipo == Domain.Entities.ClienteFloricultura.Tipos.PessoaJuridica)
                                {
                                    <label>Razão Social</label>
                                    <div class="mws-form-item small">
                                        @Model.ClienteFloricultura.RazaoSocial
                                    </div>
                                    <label>CNPJ</label>
                                    <div class="mws-form-item small">
                                        @if (Model.ClienteFloricultura.Tipo == Domain.Entities.ClienteFloricultura.Tipos.PessoaJuridica)
                                        {
                                            if (Model.ClienteFloricultura.Documento.Length == 14)
                                            {
                                                long documento = Convert.ToInt64(Model.ClienteFloricultura.Documento);
                                                @String.Format(@"{0:00\.000\.000\/0000\-00}", documento);
                                            }
                                            else
                                            {
                                                @Model.ClienteFloricultura.Documento
                                            }
                                        }
                                        else
                                        {
                                            <span>Não Informado</span>
                                        }
                                    </div>
                                }
                            }
                        }
                        <label>E-mail</label>
                        <div class="mws-form-item small">
                            @if (Model.ContatoFunararia != null)
                            {
                                @Model.ContatoFunararia.Email
                            }
                            @if (Model.ClienteFloricultura != null)
                            {
                                @Model.ClienteFloricultura.Nome
                            }
                        </div>
                        <label>Telefones de contato</label>
                        <div class="mws-form-item small">
                            @if (Model.ContatoFunararia != null)
                            {
                                @Domain.Core.Funcoes.Formata_Telefone(Model.ContatoFunararia.Telefone) <text>/</text> @Domain.Core.Funcoes.Formata_Telefone(Model.ContatoFunararia.Celular)
                            }
                            @if (Model.ClienteFloricultura != null)
                            {
                                @Domain.Core.Funcoes.Formata_Telefone(Model.ClienteFloricultura.TelefoneContato) <text>/</text> @Domain.Core.Funcoes.Formata_Telefone(Model.ClienteFloricultura.CelularContato)
                            }

                        </div>
                    </div>
                </div>

                <div class="abas" id="entrega">
                    <div class="mws-form-row">
                        <h5>Dados informados pelo cliente</h5>
                        <label>Status de Entrega</label>
                        <div class="mws-form-item small">
                            <select class="mws-textinput valid" data-val="true" id="StatusEntregaID" name="StatusEntregaID">
                                <option @{if (Model.StatusEntregaID == 1) { <text> selected</text> }} value="1">Pendente de entrega</option>
                                <option @{if (Model.StatusEntregaID == 2) { <text> selected</text> }} value="2">Entregue</option>
                            </select>
                        </div>
                        <br />
                        <hr />
                        <label>Pessoa Homenageada</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.PessoaHomenageada, new { @class = "mws-textinput", @maxlength = 200 })
                        </div>
                        <label>Estado</label>
                        <div class="mws-form-item small">
                            @Html.DropDownListFor(model => model.EstadoID, new SelectList(ViewBag.Estados, "Value", "Text"), new { @id = "EstadoEntregaID", @class = "mws-textinput" })
                        </div>
                        <label>Cidade</label>
                        <div class="mws-form-item small">
                            @Html.DropDownListFor(model => model.CidadeID, new SelectList(ViewBag.Cidades, "Value", "Text"), new { @id = "CidadeEntregaID", @class = "mws-textinput" })
                        </div>
                        <label>Local da Entrega</label>
                        <div class="mws-form-item small">
                            @if (@Model.LocalID != null)
                            {@Html.DropDownListFor(model => model.LocalID, new SelectList(ViewBag.Locais, "Value", "Text"), "-- selecione -- ", new { @id = "LocalEntregaId", @name = "LocalEntregaId", @class = "mws-textinput" })}
                            else
                            {@Html.DropDownListFor(model => model.LocalID, new SelectList(ViewBag.Locais, "Value", "Text", Model.LocalID = 0), new { @id = "LocalEntregaId", @name = "LocalEntregaId", @class = "mws-textinput" })}
                        </div>
                        <label>Complemento do Local da Entrega</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.ComplementoLocalEntrega, new { @class = "mws-textinput", @maxlength = 500 })
                        </div>
                        <label>Data Solicitada para Entrega</label>
                        <div class="mws-form-item small">
                            @{
                                DateTime DataEntregaSolicitada = new DateTime();                                
                                if (Model.HorarioEntrega != null)
                                {
                                    DataEntregaSolicitada = (DateTime)Model.HorarioEntrega;
                                    @Html.TextBoxFor(model => model.HorarioEntrega, new { @class = "mws-textinput mws-datepicker-hhmm", @Value = DataEntregaSolicitada.ToString("dd/MM/yyyy HH:mm") })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.HorarioEntrega, new { @class = "mws-textinput mws-datepicker-hhmm", @Value = "" })
                                }
                            }
                        </div>
                        <label>Cobrança no Local</label>
                        <div class="mws-form-item small">
                            <select class="mws-textinput valid" data-val="true" id="CobrarNoLocal" name="CobrarNoLocal">
                                <option value="">-- selecione --</option>
                                <option @{if (Model.CobrarNoLocal == true) { <text> selected</text> }} value="true">Sim</option>
                                <option @{if (Model.CobrarNoLocal == false) { <text> selected</text> }} value="false">Não</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="abas" id="produto">
                    <div class="mws-form-row">
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">Foto</th>
                                    <th align="center">Produto</th>
                                    <th align="center">Tamanho</th>
                                    <th align="center">Frase de Homenagem</th>
                                    <th align="center">Valor</th>
                                    <th align="center">Obs</th>
                                    @if (Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.AguardandoPagamento)
                                    {
                                        <th align="center" colspan="2">Ação</th>
                                    }
                                </tr>
                            </thead>
                            @foreach (var item in Model.PedidoItemFloricultura)
                            {
                                <tr>
                                    <td>
                                        @*<img src="/content/produtos/@item.ProdutoTamanhoPrecoFloricultura.ProdutoFloricultura.ID/thumb/@item height="100" />*@
                                    </td>
                                    <td>
                                        @if (item.ProdutoTamanhoPrecoFloricultura.ProdutoFloricultura.ProdutoPersonalizado)
                                        {
                                            @item.ProdutoTamanhoPrecoFloricultura.ProdutoFloricultura.Descricao
                                        }
                                        else
                                        {
                                            @item.Descricao
                                        }
                                    </td>
                                    <td>@item.ProdutoTamanhoPrecoFloricultura.ProdutoTamanhoFloricultura.Nome</td>
                                    <td style="width:300px;">@Html.TextArea("Mensagem_" + item.ID, item.Mensagem, new { @class = "mws-textinput", style = "width:300px;" })</td>
                                    <td>@item.Valor.ToString("C2")</td>
                                    <td style="width:300px;">@Html.TextArea("Obs_" + item.ID, item.Obs, new { @class = "mws-textinput", style = "width:300px;" })</td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="abas" id="repasse">
                    <div class="mws-form-row">
                        <label>Valor do Repasse</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.RepasseFloricultura.ValorTotal, new { @class = "mws-textinput", @maxlength = 200 })
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Data/Hora do Repasse</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.RepasseFloricultura.DataRepasse, new { @class = "mws-textinput mws-datepicker-hhmm" })
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Status Repasse</label>
                        <div class="mws-form-item small">
                            <select name="StatusRepasseID" id="StatusRepasseID" class="mws-textinput">
                                <option @{if (Model.RepasseFloricultura == null) {  <text> selected</text> }} value="">-- selecione --</option>
                                <option @{if (Model.RepasseFloricultura != null && Model.RepasseFloricultura.StatusRepasseID == 1) {  <text> selected</text> }} value="@((int)Domain.Entities.RepasseFloricultura.TodosStatus.PagamentoPendente)">Agurdando Pagamento</option>
                                <option @{if (Model.RepasseFloricultura != null && Model.RepasseFloricultura.StatusRepasseID == 2) {  <text> selected</text> }} value="@((int)Domain.Entities.RepasseFloricultura.TodosStatus.Pago)">Pago</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="abas" id="pagamento">
                    <div class="mws-form-row">
                        <label>Status</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)

                            @if (Model.StatusPagamento != Domain.Entities.PedidoFloricultura.TodosStatusPagamento.Prejuizo)
                            {
                                if (Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.AguardandoPagamento || Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.Protestado)
                                {
                                    <input type="button" class="mws-button blue" value="Alterar forma de pagamento" id="alterar_pagamento" />
                                }
                                else if (Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.Cancelado)
                                {
                                    <input type="button" class="mws-button blue" value="Alterar forma de pagamento" id="alterar_pagamento" />
                                }

                            }
                        </div>
                        <label>Valor</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotal.ToString("C2")
                        </div>
                        <hr />
                        <label>Método de Pagamento</label>
                        <div class="mws-form-item small">
                            @if (Model.MeioPagamento != null)
                            {
                                @Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)
                            }
                            else {
                                <text>N/A</text>
                            }
                        </div>
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            @if (Model.MeioPagamento != null)
                            {
                                @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                            }
                            else {
                                <text>N/A</text>
                            }
                        </div>
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                        </div>
                        <hr />
                    </div>
                </div>

                <div class="abas" id="notas">
                    <div class="mws-form-row">
                        @if (Model.PedidoFloriculturaNota.Any())
                        {
                            <table class="mws-table" style="border:1px solid #ccc;">
                                <thead>
                                    <tr>
                                        <th align="center" style="width:200px;">Data</th>
                                        <th align="center">Observação</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.PedidoFloriculturaNota.OrderByDescending(c => c.DataCriacao))
                                {
                                    <tr>
                                        <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@Html.Raw(item.Observacoes.Replace("\n", "<BR>"))</td>
                                    </tr>
                                }
                            </table>
                            <br /><br />
                        }
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextArea("ObservacaoNota", new { @class = "mws-textinput", maxlength = "300" })
                        </div>
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
    }
    </div>
</div>
<div id="div_forma_pagamento" title="Selecione a nova forma de pagamento" style="display:none;">
    <p>
        <b>Forma de Pagamento</b><br />
        <select id="FormaPagamento" class="select" style="width:250px;">
            <option>-- selecione --</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.CartaoCredito)">Cartão de Crédito</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.CartaoDebito)">Cartão de Débito</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Dinheiro)">Dinheiro</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Cheque)">Cheque</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Mensal)">Mensal</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Deposito)">Depósito</option>
        </select>
        <br /><br />
        <b>Meio de Pagamento</b><br />
        <select id="MeioPagamento" class="select" style="width:250px;"></select>
        <br /><br />
        <b>Status de Pagamento</b><br />
        <select id="StatusPagamento" class="select" style="width:250px;">
            <option>-- selecione --</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.TodosStatusPagamento.AguardandoPagamento)" @(Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.AguardandoPagamento ? "selected=selected" : "")>Aguardando Pagamento</option>
            <option value="@((int)Domain.Entities.PedidoFloricultura.TodosStatusPagamento.Pago)" @(Model.StatusPagamento == Domain.Entities.PedidoFloricultura.TodosStatusPagamento.Pago ? "selected=selected" : "")>Pagamento Efetuado</option>
        </select>
        <br /><br />

        <b>Valor de Pagamento</b><br />
        <input type="text" id="ValorPagamento" class="select" maxlength="10" value="" />
    </p>
</div>
<div id="div_produto" title="Selecione um novo produto para este pedido" style="display:none;">
    <p>
        <select name="ProdutoTamanhoID" id="ProdutoTamanhoID" class="select">
            <option>-- selecione --</option>
            @foreach (var produto in produtos.OrderBy(c => c.Nome))
            {
                <optgroup label="@produto.Nome">
                    @foreach (var tamanho in produto.ProdutoTamanhoPrecoFloricultura.Where(c => c.Disponivel).OrderByDescending(c => c.ProdutoTamanhoFloricultura.Nome))
                    {
                        <option value="@tamanho.ID" data-valor="@tamanho.Preco">@produto.Nome - @tamanho.ProdutoTamanhoFloricultura.Nome @tamanho.Preco</option>
                    }
                </optgroup>
            }
        </select>
        <br /><br />
        <b>Valor</b><br />
        <input type="text" id="NovoValor" class="select" maxlength="10" value="" />
        <input type="hidden" id="ItemID" value="" />
    </p>
</div>
<div id="div_novoproduto" title="Selecione um novo produto para adicionar à este pedido" style="display:none;">
    <p>
        <select name="ProdutoTamanhoID2" id="ProdutoTamanhoID2" class="select">
            <option>-- selecione --</option>
            @foreach (var produto in produtos.OrderBy(c => c.Nome))
            {
                <optgroup label="@produto.Nome">
                    @foreach (var tamanho in produto.ProdutoTamanhoPrecoFloricultura.Where(c => c.Disponivel).OrderByDescending(c => c.ProdutoTamanhoFloricultura.Nome))
                {
                        <option value="@tamanho.ID" data-valor="@tamanho.Preco">@produto.Nome - @tamanho.ProdutoTamanhoFloricultura.Nome @tamanho.Preco</option>
                    }
                </optgroup>
            }
        </select>
        <br /><br />
        <b>Valor</b><br />
        <input type="text" id="NovoValor2" class="select" maxlength="10" value="" />
        <br /><br />
        <b>Frase de Homenagem</b><br />
        <input type="text" id="NovaFrase" class="select" style="width:200px;" maxlength="200" value="" />
    </p>
</div>
<div id="div_cancelamento" title="Selecione o motivo do cancelamento" style="display:none;">
    <p>
        Você tem certeza que deseja cancelar esse pedido?
        <br />
        Esta ação não poderá ser revertida. Todos os itens relacionados serão cancelados automaticamente.

    </p>
    <select name="StatusCancelamentoID" id="StatusCancelamentoID" class="select" style="min-width: 200px;">
        <option>-- selecione --</option>
        @if (ViewBag.StatusCancelamento != null && ((List<Domain.Entities.StatusCancelamento>)ViewBag.StatusCancelamento).Any())
        {
            List<Domain.Entities.StatusCancelamento> lstStatus = (List<Domain.Entities.StatusCancelamento>)ViewBag.StatusCancelamento;
            foreach (var status in lstStatus)
            {
                <option value="@status.ID" data-observacoes="@status.ExigeObservacao">@status.Titulo</option>
            }
        }
        else
        {
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.Cliente)">Solicitado pelo Cliente</option>
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.ErroInterno)">Erro Interno</option>
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.ErroExterno)">Erro Externo</option>
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.ErroSistema)">Erro de Sistema</option>
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.ErroFornecedor)">Erro Fornecedor</option>
            <option value="@((int) Domain.Entities.TodosStatusCancelamento.Teste)">Teste</option>
        }

    </select>
    <br /><br />
    <div class="mws-form-item small">

        <textarea class="mws-textinput valid" cols="20" id="txtObservacoesCancel" rows="2" placeHolder="Preencha os detalhes do cancelamento" style="display: none; background-color: #fff; border: 1px solid #c5c5c5; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 3px rgba(128,128,128,.1) inset; color: #323232; margin: 0; outline: medium none; padding: 6px 7px; min-width: 250px; min-height: 50px;"></textarea>
    </div>
    <span id="lblErroObservacao" style="display: none; color: red;">A observação do cancelamento é obrigatória.</span>
</div>
@section Scripts{
    <script type="text/javascript">



        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {
            $("#RepasseFloricultura_ValorTotal").maskMoney();
        });


        $(document).ready(function () {

            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }

            $('#pedidos').addClass('active');
            $('#i_pedidos_floricultura').addClass('active');
            $('.abas').hide();
            $('#resumo').show();

            $("#cancelar_pedido").click(function () {
                $("#div_cancelamento").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Confirmar": function () {
                            console.log('oi');
                            if ($("#StatusCancelamentoID").val() > 0) {
                                if ($("#StatusCancelamentoID").children(":selected").attr("data-observacoes") == "True" && !document.getElementById("txtObservacoesCancel").value) {
                                    $("#lblErroObservacao").show();
                                    return false;
                                }
                                $("#lblErroObservacao").hide();
                                $(".ui-button").attr("disabled", "disabled");
                                $.post(
                                    '/PedidosFloricultura/Cancelar/',
                                    {
                                        id: $('#ID').val(),
                                        statusCancelamentoID: $("#StatusCancelamentoID").val(),
                                        observacoes: document.getElementById("txtObservacoesCancel").value
                                    },
                                    function (data) {
                                        if (data == "OK") {
                                            alert('Pedido cancelado com sucesso!');
                                            submitted = true;
                                            location.reload(true);
                                            $(this).dialog("close");
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    }
                                );
                            } else {
                                alert('Selecione o motivo do cancelamento');
                            }
                        },
                        Cancel: function () {
                            $("#lblErroObservacao").hide();
                            $("txtObservacoesCancel").hide();
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#processar_pedido").click(function () {
                $.post('/PedidosFloricultura/Processar/', { id: $('#ID').val() }, function (data) {
                    if (data == "OK") {
                        submitted = true;
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
            });

            $("#concluir_pedido").click(function () {
                $.post('/PedidosFloricultura/Concluir/', { id: $('#ID').val() }, function (data) {
                    if (data == "OK") {
                        alert("Pedido concluído com sucesso! Um e-mail de pesquisa foi enviado para o cliente.");
                        submitted = true;
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
            });

            $("#StatusCancelamentoID").change(function () {
                $("#lblErroObservacao").hide();
                if ($(this).children(":selected").attr("data-observacoes") == "True") {
                    $("#txtObservacoesCancel").show();
                }
                else {
                    $("#txtObservacoesCancel").hide();
                }
            });

            $("#prejuizo_pagamento").click(function () {
                if (confirm('Ao alterar o pagamento para prejuízo, você não poderá reverter essa situação. Você confirma a alteração?')) {
                    $.post('/PedidosSite/AlterarPrejuizo/', { id: $('#ID').val() }, function (data) {
                        if (data == "OK") {
                            alert('Pedido alterado com sucesso! Verifique se o pedido possui boletos para que seja feito o cancelamento ou protesto.');
                            submitted = true;
                            location.reload(true);
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $("#alterar_pagamento").click(function () {
                if (confirm('Ao alterar a forma de pagamento, todas as atuais formas serão canceladas automaticamente. Você confirma a alteração da forma de pagamento?')) {
                    $("#div_forma_pagamento").dialog({
                        resizable: false,
                        height: 540,
                        modal: true,
                        buttons: {
                            "Salvar": function () {
                                if ($('#FormaPagamento').val().length > 0 && $('#MeioPagamento').val().length > 0 && $('#StatusPagamento').val().length > 0) {

                                    $(".ui-button").attr("disabled", "disabled");
                                    $.post('/PedidosFloricultura/AlterarPagamento/', { id: $('#ID').val(), forma: $('#FormaPagamento').val(), meio: $('#MeioPagamento').val(), status: $('#StatusPagamento').val(), data: $('#DataPagamentoForma').val(), valor: $('#ValorPagamento').val() }, function (data) {
                                        if (data == "OK") {
                                            alert('Pagamento alterado com sucesso!');
                                            submitted = true;
                                            location.reload(true);
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                                } else {
                                    alert('Preencha a forma, meio e status do pagamento.');
                                }
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });

            $("#ProdutoTamanhoID").change(function () {
                $("#NovoValor").val($("#ProdutoTamanhoID option:selected").attr("data-valor"));
            });

            $("#ProdutoTamanhoID2").change(function () {
                $("#NovoValor2").val($("#ProdutoTamanhoID2 option:selected").attr("data-valor"));
            });

            $("#cancelar_pedido").click(function () {
                $("#div_cancelamento").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Confirmar": function () {
                            console.log('oi');
                            if ($("#StatusCancelamentoID").val() > 0) {
                                if ($("#StatusCancelamentoID").children(":selected").attr("data-observacoes") == "True" && !document.getElementById("txtObservacoesCancel").value) {
                                    $("#lblErroObservacao").show();
                                    return false;
                                }
                                $("#lblErroObservacao").hide();
                                $(".ui-button").attr("disabled", "disabled");
                                $.post(
                                    '/PedidosFloricultura/Cancelar/',
                                    {
                                        id: $('#ID').val(),
                                        statusCancelamentoID: $("#StatusCancelamentoID").val(),
                                        observacoes: document.getElementById("txtObservacoesCancel").value
                                    },
                                    function (data) {
                                        if (data == "OK") {
                                            alert('Pedido cancelado com sucesso!');
                                            submitted = true;
                                            location.reload(true);
                                            $(this).dialog("close");
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    }
                                );
                            } else {
                                alert('Selecione o motivo do cancelamento');
                            }
                        },
                        Cancel: function () {
                            $("#lblErroObservacao").hide();
                            $("txtObservacoesCancel").hide();
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#StatusCancelamentoID").change(function () {
                $("#lblErroObservacao").hide();
                if ($(this).children(":selected").attr("data-observacoes") == "True") {
                    $("#txtObservacoesCancel").show();
                }
                else {
                    $("#txtObservacoesCancel").hide();
                }
            });

            $("#FormaPagamento").change(function () {
                $("#MeioPagamento").get(0).options.length = 0;

                switch ($("#FormaPagamento").val()) {
                    case "1":
                        $("#MeioPagamento").get(0).options[0] = new Option("Cartão de Crédito via Cielo", "0");
                        $("#MeioPagamento").get(0).options[1] = new Option("Cartão de Crédito via Redecard", "1");
                        break;
                    case "2":
                        $("#MeioPagamento").get(0).options[0] = new Option("Débito", "2");
                        break;
                    case "3":
                        $("#MeioPagamento").get(0).options[0] = new Option("Dinheiro", "3");
                        break;
                    case "4":
                        $("#MeioPagamento").get(0).options[0] = new Option("Cheque", "4");
                        break;
                    case "5":
                        $("#MeioPagamento").get(0).options[0] = new Option("Cartão de Crédito via Cielo", "0");
                        $("#MeioPagamento").get(0).options[1] = new Option("Cartão de Crédito via Redecard", "1");
                        $("#MeioPagamento").get(0).options[2] = new Option("Débito", "2");
                        $("#MeioPagamento").get(0).options[3] = new Option("Dinheiro", "3");
                        $("#MeioPagamento").get(0).options[4] = new Option("Cheque", "4");
                        $("#MeioPagamento").get(0).options[5] = new Option("Depósito", "6");
                        break;
                    case "6":
                        $("#MeioPagamento").get(0).options[0] = new Option("Depósito", "6");
                        break;
                }

            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                }
            });

            $("#enviar").click(function () {

            });
        });

        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}