﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "A empresa";  
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a></div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>A Empresa</b></span></div>
</div>
</div>

<div id="Empresa">
<div class="Div">

	<h1 class="TituloPagina">A empresa</h1>

	<div class="Div1"> 
		<div class="Div1Texto2">A empresa possui o objetivo de oferecer uma solução rápida, segura e prática de entrega de Flores em toda Grande São Paulo.<br /><br />Com uma grande e qualificada rede de floriculturas, nossa empresa possui operação para entregar onde quer que seja, sempre com qualidade e pontualidade.</div>
		<div class="Div1Texto3">Equipe Laços Flores</div>
		<div class="Div1Texto2">Flores para Cidade de São Paulo.<br />contato@lacosflores.com.br</div>
	</div>

	<div class="Div2">
		<div class="Div2Texto1">Sobre nossos produtos</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/m_frete_gratis.png" class="Div2OpcaoImg2" alt="Frete grátis" /></div>
			<div class="Div2OpcaoTexto">Nossas Flores possuem FRETE GRÁTIS para Grande São Paulo</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/m_faixa_homenagem.png" class="Div2OpcaoImg2" alt="Faixa de homenagem" /></div>
			<div class="Div2OpcaoTexto">Todas as Flores acompanham uma faixa de homenagens sem nenhum custo adicional.</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/flor.png" class="Div2OpcaoImg2" alt="Flores frescas" /></div>
			<div class="Div2OpcaoTexto">Trabalhamos com flores frescas, garantindo qualidade aos nossos produtos</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/estrela.png" class="Div2OpcaoImg2" alt="Estrela" /></div>
			<div class="Div2OpcaoTexto">Em caso de ausência, as flores serão substituídas por outras de mesma qualidade ou superior.</div>
		</div>

	</div>
     
      
        
</div>
</div>
