﻿@model Domain.Entities.Desconto

@{

    ViewBag.Title = "Configuração de Descontos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tamanhos = (IEnumerable<Domain.Entities.Tamanho>)ViewBag.Tamanhos;
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
}

@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Configuração de Descontos</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Descontos", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Ativar descontos?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Ativo)  SIM
                    </div>
                </div>
                <div class="mws-form-row" id="regra" style="@((Model.Ativo)?"":"display:none;")">
                    <label>Regra</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("RegraID", typeof(Domain.Entities.Desconto.Regras), (Model != null ? Model.Regra : Domain.Entities.Desconto.Regras.EmTodoSite), new { @class = "mws-textinput" })
                    </div>
                </div>              
                <div class="mws-form-row" id="tipo" style="@((Model.Ativo)?"":"display:none;")">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Desconto.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Desconto.Tipos.Percentual), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row" id="valor" style="@((Model.Ativo)?"":"display:none;")">
                    <label><span id="labelV">@((Model.TipoID == 1)?"Valor do desconto":"Percentual de desconto")</span></label>
                    <div class="mws-form-item small">
                        <span id="labelS">@((Model.TipoID == 1)?"R$":"%")</span> @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput", maxlength = "100", style="width:200px" })
                    </div>
                </div>  
                <div class="mws-form-row" id="refer" style="@((Model.Ativo && Model.RegraID == 4)?"":"display:none;")">
                    <label>A partir de R$</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Referencia, new { @class = "mws-textinput", maxlength = "100", style = "width:200px" })
                    </div>
                </div>  

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {

        $('#precos').addClass('active');
        $('#i_descontos').addClass('active');
        $("#Referencia").maskMoney();
        $("#Valor").maskMoney();

        $("#Ativo").click(function () {
            if ($("#Ativo").is(':checked')) {
                $("#regra").show();
                $("#tipo").show();
            } else {
                $("#regra").hide();
                $("#tipo").hide();
                $("#valor").hide();
                $("#refer").hide();
                $("#RegraID").val(0);
                $("#TipoID").val(0);
            }
        });

        $("#TipoID").change(function () {
            if ($("#TipoID option:selected").val() == 1) {
                $("#labelV").html('Valor do desconto');
                $("#labelS").html('R$');
            } if ($("#TipoID option:selected").val() == 2) {
                $("#labelV").html('Percentual do desconto');
                $("#labelS").html('%');
            } 
        });

        $("#RegraID").change(function () {
            if ($("#RegraID option:selected").val() == 0) {
                $("#valor").hide();
                $("#refer").hide();
            } if ($("#RegraID option:selected").val() == 1) {
                $("#valor").show();
                $("#refer").hide();
            } if ($("#RegraID option:selected").val() == 2) {
                $("#valor").show();
                $("#refer").hide();
            } if ($("#RegraID option:selected").val() == 3) {
                $("#valor").show();
                $("#refer").hide();
            } if ($("#RegraID option:selected").val() == 4) {
                $("#valor").show();
                $("#refer").show();
            }
        });

        $('#precos').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>
}