/* ----------------------------------------------------------------
    
    Filename: landing.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Guilherme de Oliveira Costa
    Website: http://www.benance.net/guilhermedeocosta
    
-----------------------------------------------------------------*/

/* =======================    GENERAL    ======================= */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.ie body {
    
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0,199,183,0.7);
}

::selection {
    color: white; 
    background: rgba(0,199,183,0.7);
}

.l { text-align: left; }
.r { text-align: right; }
.c { text-align: center; }

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    margin: 45px 0px 30px;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 21px;
}

.cropper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    position: relative;
}

    .cropper img {
        width: 100%;
        height: auto;
    }

.space-me {
    display: block;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
}

.space-me.ten-px {min-height:10px;}
.space-me.fifteen-px {min-height:15px;}
.space-me.twenty-px {min-height:20px;}
.space-me.thirty-px {min-height:30px;}
.space-me.fifty-px {min-height:50px;}

.sprt {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #00ac4f;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header {
    background-color: white;
    padding: 15px 0px;
    color: #00ac4f;
}

header img {
    width: 100%;
}

header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header ul li {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 30px;
    padding-left: 40px;
    padding-top: 3px;
}


header a {
    color: #00ac4f;
    font-size: 16px;
}

header a:hover {
    color: #00ac4f;
}

section#showcase {
    margin-bottom: 30px;
}

section#showcase .card {
    display: block;
    background-color: white;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #999999;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

section#showcase .card img {
    width: 100%;
}

section#showcase .card h4 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #00ac4f;
    border-top: 1px dotted #f0f0f0;
    padding-top: 5px;
}

section#showcase .card p {
    text-align: right;
    font-size: 20px;
}

section#showcase .card p big {
    color: #00ac4f;
}

section#showcase .card p.desc {
    text-align: center;
    font-size: 13px;
    min-height: 36px;
}

section#showcase .card button.more {
    background-color: #f5f5f5;
    font-size: 12px;
    border: none;
    padding: 4px 12px;
    text-transform: lowercase;
}

section#features {
    background-color: rgba(0,0,0,0.4);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

section#features ul {
    list-style: none;
    padding: 0px;
    margin: 10px 0px;
    display: inline-block;
}

section#features ul li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 0px 10px;
}

section#features ul li span {
    float: left;
    width: calc(100% - 32px);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
    text-align: right;
    box-sizing: border-box;
    padding-right: 8px;
}

section#features ul li i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    float: left;
}

section#features ul li#pagamento i {
    background-position: -92px 0px;
}

section#features ul li#cartao i {
    background-position: -123px 0px;
}

section#features ul li#frete i {
    background-position: -154px 0px;
}

section#features ul li#atendimento i {
    background-position: -63px 0px;
}

section#features ul li#entrega i {
    background-position: -30px 0px;
}

section#about {
    margin: 120px 0px;
}

section#about h3 {
    display: block;
    padding: 60px 40px;
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #00ac4f;
}

section#about .col-md-9 {
    padding-top: 60px;
}

section#about p {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 15px;
}

section.product {
    margin: 30px 0px;
}

section.product#classico {
    text-align: right;
}

section.product img {
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

section.product h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}

section.product span {
    margin-top: 20px;
    display: block;
}

section.product span p {
    font-size: 22px;
    margin: 0;
}

section.product span p b {
    font-size: 44px;
}

section.product .btn {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 14px 50px;
    margin-top: 15px;
    font-size: 16px;
}

section.divider {
    text-align: center;
}

section.divider span {
    display: inline-block;
    width: 25%;
    height: 5px;
    background-color: white;
    margin: 40px 0px;
}

footer {
    background-color: white;
    padding: 15px 0px;
    color: #555;
    font-size: 13px;
}

footer p {
    margin: 0px 0px 4px;
}

/* ============================================================= */
/* ======================= Media Queries ======================= */
/* ============================================================= */

/* ====================== Custom xlg size ===================== */
    @media screen and (min-width: 1400px) {
        /*Extra Large styles*/
        
    }

/* ===================== Bootstrap lg size ===================== */
    @media screen and (min-width: 1200px) and (max-width: 1399px) {
        /*Big Screens styles*/
        
    }

/* ===================== Bootstrap md size ===================== */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        /*Standard Screens styles*/
        
    }

/* ===================== Bootstrap sm size ===================== */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /*Tablet styles*/
        h1 {
            font-size: 36px;
        }

        section#showcase .card h4 {
            font-size: 21px;
        }

        section#showcase .card p.desc {
            display: none;
        }

        section#features ul li {
            width: 25%;
        }

        section#features ul li#cartao {
            display: none;
        }

        section#features ul li span {
            font-size: 10px;
            letter-spacing: -0.4px;
            padding-top: 2px;
        }

        section#about h3 {
            width: 220px;
            height: 220px;
            padding: 57px 40px;
            font-size: 44px;
        }

        section#about .col-md-9 {
            padding-top: 20px;
        }

        section.product h2 {
            font-size: 48px;
        }

        section.product span p b {
            font-size: 40px;
        }
    }

/* ===================== Bootstrap xs size ===================== */
    @media screen and (min-width: 1px) and (max-width: 767px) {
        /*Smartphone styles*/
        .container {
            max-width: 450px;
        }

        header {
            text-align: center;
        }

        header ul li {
            background-image: none;
            font-size: 20px;
            border-top: 1px dotted #f5f5f5;
            margin-top: 15px;
            padding-top: 5px;
        }

        header ul li a {
            font-size: 20px;
            font-weight: bold;
        }

        h1 {
            font-size: 32px;
        }

        section#showcase .card {
            margin-bottom: 30px;
        }

        section#showcase .card p.desc {
            display: none;
        }

        section#features {
            display: none;
        }

        section#about {
            margin: 30px 0px;
        }

        section#about h3 {
            width: 100%;
            height: initial;
            -ms-border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        section#about .col-md-9 {
            padding-top: 20px;
            text-align: center;
        }

        section.product, section.product#classico {
            text-align: center;
        }

        section.product h2 {
            margin-top: 15px;
        }
    }

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */