﻿@{
    ViewBag.Title = " - Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="960px">
<tr>
<td><hr class="divisa" style="width:300px" /></td>
<td><h1 class="laranja">SOBRE NÓS</h1> </td>
<td><hr class="divisa" style="width:300px" /></td>
</tr>
</table>

<h2><img src="/Content/images/sub-tit-orgulho.jpg" title="Nós temos muito orgulho de atender nossos clientes com a qualidade que eles merecem."/></h2>
<p>
O objetivo do site Laços Corporativos é atender o exigente público de empresas que demandam diversos tipos de flores.
</p>
<p>
Além de trabalhar com flores de qualidade, nossa empresa possui um sistema de solicitação online na qual as empresas podem acompanhar todos os pedidos que foram feitos por seus colaboradores autorizados.
</p>

<h2><img src="/Content/images/sub-ti-o-grupo.jpg" title="O Grupo Laços Flores" /></h2>
<p>O site Laços Corporativos faz parte do Grupo Laços Flores.</p>
<p>O Grupo Laços Flores é possui algumas frentes de negócios, todos sempre especializados em flores. </p>

<h3>Missão</h3>
<p>Gerenciar todas as demandas que uma empresa tiver quando o assunto for flores.</p>

<h3>Visão</h3>
<p>Ser uma ferramenta de compra de flores conhecida pela praticidade, agilidade e segurança</p>
 
<br />
<p>Veja algumas outras empresas que fazem parte do Grupo Laços Flores.</p>


<a href="http://www.coroasparavelorio.com.br" target="_blank"><img src="/Content/images/logo-coroas.jpg" border="0" /></a>
<a href="http://www.grupolacosflores.com.br" target="_blank"><img src="/Content/images/logo-lacos-corporativos.jpg" border="0" /></a>

@Html.Partial("Cadastre-se")