﻿@model IEnumerable<Domain.Entities.Noticia>
@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Coroas para Velório na Mídia";
    ViewBag.Description = "Confira as matérias e reportagens exclusivas do Coroas Para Velório! Acesse o site ou ligue grátis 0800-777-1986. Confira mais aqui!";
}
 
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Coroas para Velório na Mídia</b></span> </div>
</div>
</div> 

<div id="CoroasNaMidia">
<div class="Div">

	<h1 class="TituloPagina">Coroas para Velório na Mídia</h1>
    
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
	    <div class="Listagem">
            @if (item.Foto != null)
            {
                if (item.Foto.Length > 0)
                {
		            <div class="Foto">
                    <a href="@Url.RouteUrl("Midia", new { rotuloUrl = item.RotuloUrl, id = item.ID })">
                        <img src="/content/noticias/@item.ID/thumb/@item.Foto" style="float:left; margin-top:10px; margin-right:10px; width:285px;"/>
                    </a>
                    </div>
                }
            }
		    <div class="DivTextos">
			    <div class="Data"><a href="@Url.RouteUrl("Midia", new { rotuloUrl = item.RotuloUrl, id = item.ID })" class="Data2">@item.Data.ToString("dd/MM/yyyy")</a></div>
			    <div class="Titulo"><a href="@Url.RouteUrl("Midia", new { rotuloUrl = item.RotuloUrl, id = item.ID })" class="Titulo2">@item.Titulo</a></div>
			    <div class="Texto"><a href="@Url.RouteUrl("Midia", new { rotuloUrl = item.RotuloUrl, id = item.ID })" class="Texto2">@item.Chamada</a></div>
		    </div>
		    <div class="Url"><a href="@Url.RouteUrl("Midia", new { rotuloUrl = item.RotuloUrl, id = item.ID })">Continuar lendo</a></div>
	    </div>
        
        }
        if (ViewBag.TotalPaginas > 1)
        { 
            <div class="paginacao">   
                <div class="titulo">@ViewBag.TituloPaginacao</div>
                <div class="paginas">
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "ativa" : "")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Não há notícias para serem listadas.</p>
    }
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
 