﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.EstoqueLote>


    @{
        ViewBag.Title = "Lote Floricultura Flor Da Lins";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNumero = Request.QueryString["numero"];
        var _requestNome = Request.QueryString["nome"];
        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];
        var _requestStatus = Request.QueryString["status"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];
        var _requestStatusEntrega = Request.QueryString["statusentrega"];
        var _requestMeioPgto = Request.QueryString["meiopagamento"];


        var _TodosStatusPagamento = typeof(Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento);
        var _MeiosPagamento = typeof(Domain.Entities.EstoqueFaturaFormaPagamento.TodosFormasPagamento);

    }
    @section Scripts{
        <script type="text/javascript">
            function printExternal(url) {
                window.open( url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
            }
            $(document).ready(function () {
                $('#estoque').addClass('active');
                $('#i_lotes').addClass('active');

                $(".print").click(function(){
                    printExternal("http://localhost:32079/PedidosFloricultura/Print/" + $(this).attr("rel"));
                    return false;
                });

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Lotes @(_requestNome != null && _requestNome != "" ? " para o Cliente " + _requestNome : "")
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "LoteFloricultura")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td><strong>Número do Lote:</strong></td>
                                            <td><input type="text" name="numero" class="InputNUmero" value="@_requestNumero" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Nome do Fornecedor:</td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td> Data de Inicial:</td>
                                            <td><input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Data de Final:</td>
                                            <td><input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table align="center" style="margin: 0px auto; margin-left: 20px;">
                                        <tr>
                                            <td>Status de Pagamento:</td>
                                            <td>
                                                <select name="statuspagamento" id="statuspagamento" style="width:300px;">
                                                    <option value="">Selecione uma opção</option>
                                                    <option @{if (Request.QueryString["statuspagamento"] == "1") { <text>selected</text> } } value="1">Aguardando Pagamento</option>
                                                    <option @{if (Request.QueryString["statuspagamento"] == "2") { <text>selected</text> } } value="2">Pagamento Efetuado</option>
                                                    <option @{if (Request.QueryString["statuspagamento"] == "3") { <text>selected</text> } } value="3">Não Faturado</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Formas de Pagamento:</td>
                                            <td>@Html.DropDownListForEnum("meiopagamento", _MeiosPagamento, (!String.IsNullOrEmpty(_requestMeioPgto) ? Convert.ToInt32(_requestMeioPgto) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>

                            <th align="center" style="width: 120px;">Lote</th>                            
                            <th align="center">Fornecedor</th>
                            <th align="center">Fatura</th>
                            <th align="center">Forma de Pagamento</th>
                            <th align="center">Data Criação</th>
                            <th align="center">Valor Total</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            Domain.Entities.EstoqueLote LoteResult = new Domain.Entities.EstoqueLote();
                            LoteResult = item;

                            Domain.Entities.EstoqueFaturaPagamento Fatura;

                            if (LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault() != null)
                            {
                                Fatura = @LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault().EstoqueFaturaPagamento;
                            }
                            else
                            {
                                Fatura = null;
                            }
                            <tr>

                                <td class="center" style="width: 120px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 120px;">
                                                @Html.ActionLink(@item.Numero, "Visualizar", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <a target="_blank" href="/Fornecedor/Editar/@LoteResult.EstoqueFornecedor.ID">@LoteResult.EstoqueFornecedor.NomeFornecedor</a> 
                                    <br /><br />
                                    <p>
                                        Qtd Faturas: <a target="_blank" href="/LoteFloriculturaFatura/List?nome=@LoteResult.EstoqueFornecedor.NomeFornecedor&datainicial=@DateTime.Now.AddYears(-1).ToString("dd/MM/yyyy")&datafinal=@DateTime.Now.ToString("dd/MM/yyyy")">@{ var CountFaturas = LoteResult.EstoqueFornecedor.QtdFaturasAberto + LoteResult.EstoqueFornecedor.QtdFaturasPagas; } @CountFaturas</a>
                                    </p>
                                </td>
                                <td>
                                    @{
                                        if (Fatura != null)
                                        {
                                           <b>NR:</b> <a target="_blank" href="/FaturaEstoque/Visualizar/@Fatura.ID">@Fatura.ID</a>
                                           <br /><br />
                                           <p>
                                                @Fatura.DataCriacao.ToString("dd/MM/yyyy HH:mm") - <span class="@{ if (Fatura != null && Fatura.EstoqueFaturaStatusPagamento.ID == (int)Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento.EmAberto) { <text>aguardandopagamento</text> }; if (Fatura != null && Fatura.EstoqueFaturaStatusPagamento.ID == (int)Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento.Pago) { <text>pago</text> } } ">@Fatura.EstoqueFaturaStatusPagamento.DescStatusPagamento</span>
                                           </p>
                                        }
                                        else
                                        {
                                            <text>Não Faturado / Fat. dia</text> <b>@LoteResult.EstoqueFornecedor.DiaFaturamento</b>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault() != null)
                                        {
                                            @LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault().EstoqueFaturaPagamento.EstoqueFaturaFormaPagamento.DescFormaPagamento

                                            if (LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault().EstoqueFaturaPagamento.EstoqueFaturaFormaPagamento.ID == (int)Domain.Entities.EstoqueFaturaFormaPagamento.TodosFormasPagamento.Cheque)
                                            {
                                                if (LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault().EstoqueFaturaPagamento.EstoqueFaturaPagamento_x_Cheque.Any())
                                                {
                                                    var Cheque = LoteResult.EstoqueFaturaPagamento_x_Lote.FirstOrDefault().EstoqueFaturaPagamento.EstoqueFaturaPagamento_x_Cheque.FirstOrDefault().EstoqueFaturaCheque;
                                                    <text>/</text> <b>Nr:</b> <a target="_blank" href="/ChequeEstoque/Visualizar/@Cheque.ID">@Cheque.NrCheque </a>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <text>N/A (Pedido ainda não faturado)</text>
                                        }
                                    }
                                </td>

                                <td>@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>
                                    @LoteResult.EstoqueLoteItems.Sum(r => r.ValorUnitario * r.Qtd).ToString("C2")
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&PossuiFoto=@Request.QueryString["PossuiFoto"]&meiopagamento=@Request.QueryString["meiopagamento"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
