﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model Domain.Entities.EstoqueLote

@{
    ViewBag.Title = "Visualizar pedido #" + Model.Numero;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;

}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Lote #@Model.Numero</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_produto">
                    <a href="javascript:abre('produto');" class="mws-ic-16 ic-cart">Produtos</a>
                </li>
                <li class="li_aba" id="li_pagamento">
                    <a href="javascript:abre('pagamento');" class="mws-ic-16 ic-money-dollar">Faturamento</a>
                </li>
                @*<li class="li_aba" id="li_dados">
                        <a href="javascript:abre('dados');" class="mws-ic-16 ic-user-business-boss">Cliente</a>
                    </li>
                    <li class="li_aba" id="li_entrega">
                        <a href="javascript:abre('entrega');" class="mws-ic-16 ic-delivery">Entrega</a>
                    </li>


                    <li class="li_aba" id="li_notas">
                        <a href="javascript:abre('notas');" class="mws-ic-16 ic-pencil">Notas</a>
                    </li>*@
            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "LoteFloricultura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)

            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>Número do Lote</label>
                        <div class="mws-form-item small">
                            @Model.Numero
                        </div>
                        <label>ID do Lote</label>
                        <div class="mws-form-item small">
                            @Model.ID
                        </div>
                        <label>Data do Lote</label>
                        <div class="mws-form-item small">
                            @Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <hr />
                        <label>Fornecedor</label>
                        <div class="mws-form-item small">
                            <a href="@Url.Action("List", "LoteFornecedor", new { clienteID = Model.EstoqueFornecedor.ID })" target="_blank">
                                @Model.EstoqueFornecedor.NomeFornecedor
                            </a>
                        </div>
                        <label>Valor Total Lote</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotal.ToString("C2")
                        </div>
                        <label>Valor Total Fatura</label>
                        <div class="mws-form-item small">
                            @Model.ValorTotalDasFaturas.ToString("C2")
                        </div>
                        <label>Status Pagamento</label>
                        <div class="mws-form-item small">
                            @Model.StatusPagamento
                        </div>
                        @*<hr />
                            <label>Método de Pagamento</label>
                            <div class="mws-form-item small">
                                @if (Model.MeioPagamento != null)
                                {
                                    @Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)
                                }
                                else {
                                    <text>N/A</text>
                                }
                            </div>
                            <label>Forma de Pagamento</label>
                            <div class="mws-form-item small">
                                @if (Model.MeioPagamento != null)
                                {
                                    @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                                }
                                else {
                                    <text>N/A</text>
                                }
                            </div>
                            <label>Status de Pagamento</label>
                            <div class="mws-form-item small">
                                @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                            </div>
                            <hr />
                            <label>Obs</label>
                            <div class="mws-form-item small">
                                @Model.Obs
                            </div>
                            <hr />*@
                    </div>
                </div>
                @{
                    bool PodeAlterarProduto = false;
                    if (Model.EstoqueFaturaPagamento_x_Lote.Count() > 0)
                    {
                        var Fatura = Model.EstoqueFaturaPagamento_x_Lote.FirstOrDefault();
                        if (Fatura.EstoqueFaturaPagamento.EstoqueFaturaStatusPagamento.ID == (int)Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento.EmAberto)
                        {
                            PodeAlterarProduto = true;
                        }
                    }
                    else
                    {
                        PodeAlterarProduto = true;
                    }
                }
                <div class="abas" id="produto">
                    @{
                        if (PodeAlterarProduto)
                        {
                            <div class="mws-form-row">
                                <input type="button" class="mws-button blue" value="Adicionar produto" id="adicionar_produto">
                            </div>
                        }
                    }
                    <div class="mws-form-row">
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">Produto</th>
                                    <th align="center">Unid. Medida</th>
                                    <th align="center">Valor Unitário</th>
                                    <th align="center">Qtd</th>
                                    <th align="center">Valor Total</th>
                                    <th align="center">Data Validade</th>
                                    <th align="center">Ação</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.EstoqueLoteItem)
                            {
                                <tr class="ITEM_ID" rel="@item.ID">
                                    <td class="ITEM_ProdID" rel="@item.EstoqueProduto.ID">
                                        @*<a target="_blank" href="/LoteProduto/Visualizar/@item.EstoqueProduto.ID">@item.EstoqueProduto.DescProduto</a>*@
                                        @item.EstoqueProduto.DescProduto
                                    </td>
                                    <td class="ITEM_UnidID" rel="@item.EstoqueUnidadeMedida.ID">
                                        @item.EstoqueUnidadeMedida.DescUniMedida
                                    </td>
                                    <td class="ITEM_ValorUni" rel="@item.ValorUnitario">@item.ValorUnitario.ToString("C2")</td>
                                    <td class="ITEM_Qtd" rel="@item.Qtd">@item.Qtd</td>
                                    <td>@{ var VlrItemTotal = item.ValorUnitario * item.Qtd; <text>@VlrItemTotal.ToString("C2")</text> }</td>
                                    <td class="ITEM_DT" rel="@item.DataVencimento">
                                        @{
                                            if (item.DataVencimento != null)
                                            {
                                                @item.DataVencimento;
                                            }
                                            else
                                            {
                                                <text>N/A</text>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (PodeAlterarProduto)
                                        {
                                            <text>
                                                <input type="button" class="mws-button blue alterar_produto" value="Alterar produto" data-item="@item.ID">
                                                <input type="button" class="mws-button red remover_produto" value="Remover produto" data-item="@item.ID">
                                            </text>
                                        }

                                    </td>
                                </tr>
                                            }
                        </table>
                    </div>
                </div>

                <div class="abas" id="pagamento">
                    <div class="mws-form-row">
                        <label>Faturas:</label>
                        <div class="mws-form-item small">
                            @{

                                if (Model.EstoqueFaturaPagamento_x_Lote.Count() > 0)
                                {
                                    <table class="mws-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Data de Criação
                                                </th>
                                                <th>
                                                    Data de Pagamento
                                                </th>
                                                <th>
                                                    Status Do Pagamento
                                                </th>
                                                <th>
                                                    Forma de pagamento
                                                </th>
                                                <th>
                                                    Valor Total
                                                </th>
                                                <th>
                                                    Ação
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Item in Model.EstoqueFaturaPagamento_x_Lote)
                                            {
                                                var Fatura = Item.EstoqueFaturaPagamento;
                                                <tr>
                                                    <td>
                                                        @Fatura.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (Fatura.DataPagamento != null)
                                                            {
                                                                DateTime DtPagt = new DateTime();
                                                                DtPagt = (DateTime)Fatura.DataPagamento;

                                                                @DtPagt.ToString("dd/MM/yyyy HH:mm")
                                                            }
                                                            else
                                                            {
                                                                <text>N/A</text>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @Fatura.EstoqueFaturaStatusPagamento.DescStatusPagamento
                                                    </td>
                                                    <td>
                                                        @Fatura.EstoqueFaturaFormaPagamento.DescFormaPagamento
                                                        @if (Fatura.EstoqueFaturaFormaPagamento.ID == (int)Domain.Entities.EstoqueFaturaFormaPagamento.TodosFormasPagamento.Cheque)
                                                        {
                                                            if (Fatura.EstoqueFaturaPagamento_x_Cheque.Any())
                                                            {
                                                                var Cheque = Fatura.EstoqueFaturaPagamento_x_Cheque.FirstOrDefault().EstoqueFaturaCheque;
                                                                <text>/</text> <b>Nr:</b> <a target="_blank" href="/ChequeEstoque/Visualizar/@Cheque.ID">@Cheque.NrCheque </a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            decimal VlrTotal = 0;
                                                            VlrTotal = (decimal)Fatura.ValorTotal;
                                                            <text>@VlrTotal.ToString("C2")</text>
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="mws-panel-toolbar top clearfix">
                                                            <ul>
                                                                <li><a class="mws-ic-16 ic-view" href="/LoteFloriculturaFatura/Visualizar/@Fatura.ID" target="_blank">Fatura</a></li>
                                                            </ul>
                                                        </div>

                                                    </td>
                                                </tr>
                                                            }
                                        </tbody>
                                    </table>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    Lote ainda não faturado. <a href="/LoteFloriculturaFatura/ListFaturar?nome=@Model.EstoqueFornecedor.NomeFornecedor&datainicial=@DateTime.Now.AddYears(-1).ToString("dd/MM/yyyy")&datafinal=@DateTime.Now.ToString("dd/MM/yyyy")">Faturar</a>
                                                                </p>
                                                            }
                            }
                        </div>
                        @*<label>Forma de Pagamento</label>
                            <div class="mws-form-item small">
                                @if (Model.MeioPagamento != null)
                                {
                                    @Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)
                                }
                                else {
                                    <text>N/A</text>
                                }
                            </div>
                            <label>Status de Pagamento</label>
                            <div class="mws-form-item small">
                                @Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)
                            </div>
                            <hr />*@
                    </div>
                </div>


                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
                                                            }
    </div>
</div>
<div id="div_produto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueID" id="ProdutoEstoqueID" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedida" id="UniMedida" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValor" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtd" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidade" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemID" value="" />
</div>

<div id="div_novoproduto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueIDADD" id="ProdutoEstoqueIDADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedidaADD" id="UniMedidaADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValorADD" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtdADD" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidadeADD" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemIDADD" value="" />
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript">
        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {


        });


        $(document).ready(function () {
            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }

            $('.OnlyNumber').ForceNumericOnly();
            $(".DataValidade ").mask({
                mask: "##/##/####",
                allowPartials: !1
            });

            $("#adicionar_produto").click(function () {

                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueIDADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueIDADD] option:eq(0)").remove();
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedidaADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedidaADD] option:eq(0)").remove();
                });

                $("#div_novoproduto").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja adicionar esse produto?')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AdicionarProduto/',
                                    {
                                        LoteID: @Model.ID,
                                        ProdutoEstoqueID: $("#ProdutoEstoqueIDADD option:selected").val(),
                                        UniMedida: $("#UniMedidaADD option:selected").val(),
                                        valor: $('#NovoValorADD').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtdADD').val(),
                                        NovaDtValidade: $('#NovaDtValidadeADD').val()
                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        "Cancelar": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".remover_produto").click(function () {
                if (confirm('Você tem certeza que deseja remover o item deste lote?')) {

                    $.post('/LoteFloricultura/RemoverProduto/', { LoteItemID: $(this).attr("data-item"), LoteID: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('Produto removido com sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $(".alterar_produto").click(function () {
                var BtnAlterar = $(this);
                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueID] option:eq(0)").remove();
                    var IdProd = $(BtnAlterar).parent().parent().find(".ITEM_ProdID").attr("rel");
                    $("#ProdutoEstoqueID").val(IdProd);
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedida").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedida] option:eq(0)").remove();
                    var IdUniMed = $(BtnAlterar).parent().parent().find(".ITEM_UnidID").attr("rel");                    
                    $("#UniMedida").val(IdUniMed);
                });

                var ValorUnidade = $(this).parent().parent().find(".ITEM_ValorUni").attr("rel");
                var QtdUnidade = $(this).parent().parent().find(".ITEM_Qtd").attr("rel");
                var DtValidade = $(this).parent().parent().find(".ITEM_DT").attr("rel");

                $("#NovoValor").val(ValorUnidade);
                $("#NovaQtd").val(QtdUnidade);
                $("#NovaDtValidade").val(DtValidade.substring(0, DtValidade.length - 9));

                $("#ItemID").val($(this).attr("data-item"));
                $("#div_produto").dialog({
                    resizable: false,
                    width: 500,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja alterar o produto deste lote? Ele poderá alterar valores finais.\nEsta ação não poderá ser revertida.')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AlterarProduto/',
                                    {
                                        itemID: $("#ItemID").val(),
                                        ProdutoEstoqueID: $("#ProdutoEstoqueID option:selected").val(),
                                        UniMedida: $("#UniMedida option:selected").val(),
                                        valor: $('#NovoValor').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtd').val(),
                                        NovaDtValidade: $('#NovaDtValidade').val()

                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                });
            });

            $('#estoque').addClass('active');
            $('#i_lotes').addClass('active');
            $('.abas').hide();
            $('#resumo').show();


            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                }
            });

            $("#enviar").click(function () {

            });
        });

        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}