﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Arranjos de Condolências 24 horas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Realizamos a entrega de Arranjos de Condolências em todos os velórios e cemitérios do Brasil. Serviço 24 horas e com frete grátis!";
    ViewBag.NaoExibeHeader = true;
    var depoimentos = (List<Domain.Entities.Depoimento>)ViewBag.Depoimentos;
    var linha = new List<Domain.Entities.Produto>();
    
    linha.AddRange(Model);
    
}
@section Head{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-coroas").addClass("active");
        });
    </script>
}




<div id="BarraCinza">
    <div class="div_centraliza">
        <div class="div1">
            <div class="div1_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_entrega_brasil.png" width="19" border="0" alt="Entrega para todo Brasil" /></p>
                </div>
                <div class="texto">
                    <p>
                        ENTREGA PARA<br />
                        <b>TODO O BRASIL</b></p>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="div2_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faturamento.png" width="17" border="0" alt="Faturamento para empresas com NF-e" /></p>
                </div>
                <div class="texto">
                    <p>
                        FATURAMENTO PARA<br />
                        <b>EMPRESAS COM NF-e</b></p>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="div3_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_atenimento_24h.png" width="17" border="0" alt="Atendimento 24 horas" /></p>
                </div>
                <div class="texto">
                    <p>
                        ATENDIMENTO E ENTREGA<br />
                        <b>24 HORAS TODOS OS DIAS</b></p>
                </div>
            </div>
        </div>
        <div class="div4">
            <div class="div4_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_frete_gratis.png" width="27" border="0" alt="Frete grátis para todo Brasil" /></p>
                </div>
                <div class="texto">
                    <p>
                        FRETE GRÁTIS<br />
                        <b>PARA TODO BRASIL</b></p>
                </div>
            </div>
        </div>
        <div class="div5">
            <div class="div5_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_boleto_cartao.png" width="19" border="0" alt="Pagamento em boleto ou cartão de crédito" /></p>
                </div>
                <div class="texto">
                    <p>
                        PAGAMENTO EM BOLETO<br />
                        <b>OU CARTÃO DE CRÉDITO</b></p>
                </div>
            </div>
        </div>
        <div class="div6">
            <div class="div6_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faixa_homenagem.png" width="18" border="0" alt="Faixa para homenagem grátis" /></p>
                </div>
                <div class="texto">
                    <p>
                        FAIXA PARA<br />
                        <b>HOMENAGEM GRÁTIS</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Arranjos de Condolências</b></span> </div>
</div>
</div> 


<div id="CoroasDeflores">
    <div class="Div">
        <h1 class="TituloPagina">Arranjos de Condolências</h1>
        <div class="Inner">
           <p>
           O uso das <strong>flores de condolência</strong> em cerimônias de velório é bastante comum, já que elas são capazes de expressar nossos sentimentos e é uma das formas de homenagear o ente querido falecido. Além disso, os <strong>arranjos fúnebres</strong> também são oferecidos à família e amigos do falecido em casos onde a pessoa não pode comparecer ao velório para prestar sua última homenagem.
           </p>
           <p>
           <strong>Arranjos de condolência</strong> com Copo de Leite, Rosas, Boca de Leão e Lírios são os mais utilizados, já que todas essas <strong>flores fúnebres</strong> trazem o significado de paz e tranquilidade. O Coroas Para Velório realiza entregas de arranjos de condolências em todo Brasil. Confira abaixo nossos arranjos para velórios:
           </p>
        </div>
    </div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)linha.Where(r => r.ID == 235).ToList())

     @Html.Partial("DepoimentosDestaque", depoimentos.Where(r=> r.ProdutoID != null).ToList())

    @*<div class="Div">
        <div class="Inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel posuere quam. Sed turpis arcu, elementum porta scelerisque ut, porta ac augue. Quisque turpis lectus, aliquam et tellus at, eleifend blandit quam. Nunc non accumsan lacus. Sed sit amet venenatis libero. Curabitur augue urna, pulvinar non scelerisque eu, tincidunt ac risus. Sed auctor aliquet purus, ut congue diam pretium et.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel posuere quam. Sed turpis arcu, elementum porta scelerisque ut, porta ac augue. Quisque turpis lectus, aliquam et tellus at, eleifend blandit quam. Nunc non accumsan lacus. Sed sit amet venenatis libero. Curabitur augue urna, pulvinar non scelerisque eu, tincidunt ac risus. Sed auctor aliquet purus, ut congue diam pretium et.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel posuere quam. Sed turpis arcu, elementum porta scelerisque ut, porta ac augue. Quisque turpis lectus, aliquam et tellus at, eleifend blandit quam. Nunc non accumsan lacus. Sed sit amet venenatis libero. Curabitur augue urna, pulvinar non scelerisque eu, tincidunt ac risus. Sed auctor aliquet purus, ut congue diam pretium et.</p>
        </div>
    </div>*@

 
</div>
