﻿@{
    ViewBag.Title = "Home";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";
}
<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik" style="width: 100% !important; text-align: center">Bem Vindo!</span>
    </div>

    <div id="Pagina" style="padding: 0; width: 1120px;">
        <div id="Mensagem" class="qlassik">Selecione uma opção no menu ao lado para começar.</div>
    </div>

</div>