﻿@model Domain.Entities.ProdutoFaturamento

@{
    ViewBag.Title = Model == null ? "Novo Produto faturamento" : "Edição do produto " + Model.NomeProdutoFaturamento;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var NCM = (IEnumerable<Domain.Entities.NCM>)ViewBag.NCM;
    var Categoria = (IEnumerable<Domain.Entities.ProdutoFaturamentoCategoria>)ViewBag.Categoria;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo faturamento" : "Edição do produto " + Model.NomeProdutoFaturamento)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "ProdutoFaturamento", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)            
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Categoria</label>
                <div class="mws-form-item small">
                    <div class="mws-form-item small">
                        <select name="IDProdutoFaturamentoCategoria" id="IDProdutoFaturamentoCategoria" class="mws-textinput">
                            <option value="">Selecione uma opção</option>
                            @foreach (var item in Categoria)
                            {
                                <option @{ if (Model != null && Model.ProdutoFaturamentoCategoria.ID == item.ID) { <text> selected</text> } } value="@item.ID">@item.NomeCategoria</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label>NCM</label>
                <div class="mws-form-item small">
                    <div class="mws-form-item small">
                        <input class="mws-textinput" id="IDNCM" maxlength="100" name="IDNCM" type="text" value="@{ if (Model != null) { @Model.NCM.CodigoNCM }  }">
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Codigo</label>
                <div class="mws-form-item small">
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Codigo, new { id = "Codigo", name = "Codigo", @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Nome Produto</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.NomeProdutoFaturamento, new { id = "NomeProdutoFaturamento", name = "NomeProdutoFaturamento", @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Preço de Venda</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Preco, new { @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>
@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {

        $('#produtos').addClass('active');
        $('#i_produtosfaturamento').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                IDProdutoFaturamentoCategoria: "required",
                IDNCM: "required",
                NomeProdutoFaturamento: "required",
                Codigo: "Codigo"
            },
            messages: {
                IDProdutoFaturamentoCategoria: "O campo é obrigatório.",
                IDNCM: "O campo é obrigatório.",
                NomeProdutoFaturamento: "O campo é obrigatório.",
                Codigo: "O campo é obrigatório."
            }
        });
    });
</script>
}