﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Indique o Coroas para Velório";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_indique").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/indique-o-coroas-para-velorio/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/indique-o-coroas-para-velorio?msg=sucesso";
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nomeDe: "required",
                    emailDe: {
                        required: true,
                        email: true
                    },
                    nomePara: "required",
                    emailPara: {
                        required: true,
                        email: true
                    },
                    CaptchaInputText: "required"
                },
                messages: {
                    nomeDe: "Digite seu nome",
                    emailDe: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    nomePara: "Digite o nome de seu amigo",
                    emailPara: {
                        required: "Digite o e-mail de seu amigo",
                        email: "Digite um e-mail válido"
                    },
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "indique-o-coroas-para-velorio")" itemprop="url">      
      <span itemprop="title"><b>Indique o Coroas para Velório</b></span>    
    </a> 
    </div>    
</div> 
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Indique o Coroas para Velório</h1>
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua indicação foi enviada com sucesso!</div>
    }
    else
    {
    <p>
        Indique o CPV para um amigo, parente ou alguém que esteja precisando de Coroas ou Arranjos de Flores.
    </p>
    <div class="box-radius">
        @using (Html.BeginForm("Index", "Indique-o-Coroas-para-Velorio", FormMethod.Post, new { id = "form_indique", name = "form_indique", enctype = "multipart/form-data", @class = "formulario" }))
        {    
            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">

                <tr>
                    <td width="97"></td>
                    <td width="97"></td>
                    <td width="20"></td>
                    <td width="174"></td>
                    <td width="97"></td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome: -->
                    <td colspan="2" class="right">Seu nome:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nomeDe" name="nomeDe" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">Seu e-mail:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="emailDe" name="emailDe" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome: -->
                    <td colspan="2" class="right">Nome da pessoa:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nomePara" name="nomePara" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">E-mail da pessoa:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text"  id="emailPara" name="emailPara"/>
                    </td>
                    <td width="97"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">Validação:</td>
                    <td width="20"></td>
                    <td colspan="2">                           
                        @captcha
                    </td>
                    <td width="97"></td>
                </tr> 

                <tr height="10">
                    <td colspan="6"></td>
                </tr>

                <tr height="10">
                    <td colspan="6" class="center">
                        <input type="submit" value="Indicar" class="botao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'indique', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>

            </table>
        }
    </div>
    }
</div>