﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tempo e Prazo de Entrega";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "tempo-e-prazo-de-entrega")" itemprop="url">      
      <span itemprop="title"><b>Tempo e Prazo de Entrega</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Tempo e Prazo de Entrega</h1>
    <img src="@Url.Content("~/Content/img/selo-entrega.jpg")" border="0" width="130" style="float: left; margin-right: 15px;" alt="Selo de entrega" title="Selo de entrega" />
	<p>O site Coroas Para Velório sabe que suas entregas precisam ser rápidas para atender com qualidade o mercado de coroa de flores.
	<br /><br />
	Com o objetivo de trabalharmos com transparência com nossos clientes, nossa empresa decidiu padronizar os tempos e prazos de entrega.

    Entre em contato pelo televendas no número <b>@(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</b> e encomende sua Coroa de Flores.<br /><br />
	</p>
	<table cellspacing="0" cellpadding="0" border="0" width="300">
		<tr>
			<td colspan="2">
				<b class="vermelho">Prazo Médio de Entrega</b>
			</td>
		</tr>
		<tr>
			<td width="200">Capitais e Cidades Grandes</td>
			<td>1h00 a 1h30</td>
		</tr>
		<tr>
			<td width="200">Cidades de Menor Porte</td>
			<td>1h00 a 2h00</td>
		</tr>
	</table>
	<br />
	<h2 class="qlassik" style="color: #757575; font-size: 26px">Ainda possui dúvidas? Ligue para nossa <span class="vermelho">Central de Atendimento:</span> 0800-777-1986 <span class="vermelho">(24h)</span></h2>
	<p>
		Ou acesse nossa seção de <a href="@Url.Action("Index", "duvidas-frequentes")">Perguntas Frequentes</a>.
		<br />
		Esses prazos são nossos tempos médios de entrega, podendo variar de acordo com a demanda, velórios de grande porte, condições do clima e mesmo nossa proximidade em relação ao local de entrega.
		<br /><br />
		Nosso objetivo é atender todos os nossos clientes com a maior qualidade possível, e isso inclui o prazo de entrega de nossos produtos, que precisam chegar com agilidade e em excelente condições.
		<br /><br />
		Para realizar a sua homenagem, veja nossa relação de <a href="@Url.Action("Index", "coroas-de-flores")">Coroas de Flores</a>.
	</p>

    
    <div id="buscar-pagina-velorios">
        <h2>Procure aqui o cemitério, velório, hospital, crematório ou cidade que deseja enviar coroas de flores: </h2>
        
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
            <input type="text" placeholder="Velórios, cemitérios, hospitais e crematórios" title="digite o local" name="termo" id="local-termo">
            <input type="submit" title="buscar">
        </form>
    </div>

</div>