﻿@model Domain.Entities.Empresa

@{
    ViewBag.Title = "Duplicação de produtos da empresa " + Model.RazaoSocial;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresas = (IEnumerable<Domain.Entities.Empresa>)ViewBag.Empresas; 
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Duplicação de produtos da empresa @Model.RazaoSocial</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("DuplicarProduto", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID) 
            <div class="mws-form-block">
               
                <div class="mws-form-row">
                    <label>Empresa destino</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("EmpresaID", new SelectList(empresas, "ID", "NomeCompleto", ""), "-- selecione --", new { @class = "mws-textinput" })
                    </div>
                </div>   

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">


    $(document).ready(function () {
        $('#cliente').addClass('active');
        $('#i_empresas').addClass('active');

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if(@Model.ID == $("#EmpresaID").val()){
                    alert('Você não pode copiar os produtos para a mesma empresa.');
                }
                else{
                    if (confirm("Você tem certeza que deseja copiar os produtos da empresa @Model.RazaoSocial para a empresa " + $("#EmpresaID option:selected").text() + "? \nSe houverem produtos iguais, os preços serão sobrescritos")) {
                        form.submit();
                    }     
                }           
            },
            rules: {
                EmpresaID: "required" 
            },
            messages: {
                EmpresaID: "O campo empresa destino é obrigatório." 
            }
        });
    });
</script>
}