﻿@model Domain.Entities.EmpresaProdutoTamanho
@{
    ViewBag.Title = Model == null ? "Novo preço de produto" : "Edição da preço de produto " + Model.ProdutoTamanho.Produto.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos; 
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo preço de produto" : "Edição da preço de produto " + Model.ProdutoTamanho.Produto.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditProduto", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.Hidden("EmpresaID", Request.QueryString["empresaID"])
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Produto</label>
                <div class="mws-form-item small">
                    <select name="ProdutoTamanhoID" id="ProdutoTamanhoID" class="mws-textinput">
                        <option value="">-- selecione --</option>
                        @foreach (var produto in produtos)
                        {
                            <optgroup label="@produto.Nome">
                                @foreach (var tamanho in produto.ProdutoTamanhoes.Where(c => c.Disponivel).OrderByDescending(c => c.Tamanho.Nome))
                                {
                                    <option value="@tamanho.ID" data-valor="@tamanho.Preco.ToString("N2")" @(Model != null ? Model.ProdutoTamanhoID == tamanho.ID ? "selected=selected" : "" : "")>@produto.Nome - @tamanho.Tamanho.Nome</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Preço</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Disponível?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.Disponivel)  SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Retrito para Colaboradores?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.RestritoColaboradores) SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Colaboradores com acesso ao Produto</label>
                <div class="mws-form-item large">
                    <span id="load_origem" class="carregando-branco">Buscando origem...</span>
                    <div class="mws-dualbox clearfix">
                        <div class="mws-dualbox-col1">
                            <div class="mws-dualbox-filter clearfix">
                                Todas os Colaboradores
                                <input type="text" id="box1Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box1Clear">X</button>
                            </div>
                            @Html.DropDownList("box1View", new System.Web.Mvc.SelectList(ViewBag.Colaboradores as IEnumerable<SelectListItem>, "Value", "Text"), new { @multiple = "multiple", @size = "15" })
                            <span id="box1Counter" class="countLabel"></span>
                            <select id="box1Storage"></select>
                        </div>
                        <div class="mws-dualbox-col2">
                            <button id="to2" type="button">&gt;</button>
                            <button id="allTo2" type="button">&gt;&gt;</button>
                            <div class="clear"></div>
                            <button id="allTo1" type="button">&lt;&lt;</button>
                            <button id="to1" type="button">&lt;</button>
                        </div>
                        <div class="mws-dualbox-col3">
                            <div class="mws-dualbox-filter clearfix">
                                Colaboradores selecionados
                                <input type="text" id="box2Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box2Clear">X</button>
                            </div>

                            @Html.DropDownList("box2View", new SelectList(ViewBag.colaboradoresSeleionados as IEnumerable<SelectListItem>, "Value", "Text"), new { @multiple = "multiple", @size = "15" })
                            <span id="box2Counter" class="countLabel"></span>
                            <select id="box2Storage"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">


    $(document).ready(function () {

        $("#Valor").maskMoney({ allowZero: true });

        $('#cliente').addClass('active');
        $('#i_empresas').addClass('active');

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                ProdutoTamanhoID: "required",
                Valor: "required"
            },
            messages: {
                ProdutoTamanhoID: "O campo produto/tamanho é obrigatório.",
                Valor: "O campo valor é obrigatório."
            }
        });
    });
</script>
}