﻿@model Domain.Entities.EmpresaFrase

@{
    ViewBag.Title = Model == null ? "Nova frase" : "Edição da frase escolhida para Empresa:  " + Model.Empresa.NomeFantasia;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova frase" : "Edição da frase escolhida para Empresa: " + Model.Empresa.NomeFantasia)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditFrase", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.Hidden("EmpresaID", Request.QueryString["empresaID"])
            <div class="mws-form-block">

                <div class="mws-form-row">
                    <label>Frase</label>
                    <div class="mws-form-item medium">

                        @Html.TextAreaFor(model => model.Frase, new { @class = "form-control" }) 
                        @*@Html.TextBoxFor(model => model.Frase, new { @class = "mws-textinput", maxlength = "300" })*@
                    </div>
                    <label>Categoria</label>
                    <div class="mws-form-item small">
                        <select name="Categoria">
                            <option value="0" @(Model != null ? Model.Categoria == 0 ? "selected=selected" : "" : "")>---</option>
                            <option value="1" @(Model != null ? Model.Categoria == 1 ? "selected=selected" : "" : "")>Coroas de Flores</option>
                            <option value="2" @(Model != null ? Model.Categoria == 2 ? "selected=selected" : "" : "")>Datas Comemorativas</option>
                            <option value="3" @(Model != null ? Model.Categoria == 3 ? "selected=selected" : "" : "")>Decoração de Escritório</option>
                            <option value="4" @(Model != null ? Model.Categoria == 4 ? "selected=selected" : "" : "")>Eventos Corporativos</option>
                            <option value="5" @(Model != null ? Model.Categoria == 5 ? "selected=selected" : "" : "")>Arranjos de Maternidade</option>
                            <option value="6" @(Model != null ? Model.Categoria == 6 ? "selected=selected" : "" : "")>Arranjos de Flores</option>
                            <option value="7" @(Model != null ? Model.Categoria == 7 ? "selected=selected" : "" : "")>Arranjos de Condolências</option>
                            <option value="8" @(Model != null ? Model.Categoria == 6 ? "selected=selected" : "" : "")>Kits de Maternidade</option>
                            <option value="100" @(Model != null ? Model.Categoria == 100 ? "selected=selected" : "" : "")>Personalizado</option>
                        </select>
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("Frases", new { empresaid = Request.QueryString["empresaID"] })';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">


        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_empresas').addClass('active');

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    Frase: "required"
                },
                messages: {
                    Frase: "O campo frase é obrigatório."
                }
            });
        });
    </script>
}