﻿@model Domain.Entities.Empresa

@{
    ViewBag.Title = Model == null ? "Nova Empresa" : "Edição da empresa " + Model.RazaoSocial;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

<style type="text/css">
    .mws-form .mws-form-row-half {
        width: 50%;
        float: left;
        padding: 0px;
    }

    .mws-form .mws-form-row-third {
        width: 33%;
        float: left;
        padding: 0px;
    }

    .mws-form .mws-form-row-fourth {
        width: 25%;
        float: left;
        padding: 0px;
    }
</style>

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Empresa" : "Edição da empresa " + Model.RazaoSocial)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.TipoID)
            @Html.HiddenFor(model => model.Codigo)
            @Html.HiddenFor(model => model.Logo)
            @Html.HiddenFor(model => model.NotaPlanoAcao)
            @Html.HiddenFor(model => model.DataCadastro)
            @Html.HiddenFor(model => model.ProblemaEmail)
            @Html.HiddenFor(model => model.NotaUltimoContato)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>CNPJ</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CNPJ, new { @class = "mws-textinput" })
                        <span id="busca-cliente" class="carregando-branco">Buscando na base de clientes do site...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Grupo Econômico</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.GrupoEconomico, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Razão Social</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.RazaoSocial, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Nome Fantasia</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.NomeFantasia, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>I/E</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>I/M</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.InscricaoMunicipal, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Logo <i>Arquivo JPG (60px x 60px)</i></label>
                    <div class="mws-form-item small">
                        @if (Model != null)
                        {
                            if (Model.Logo != null)
                            {
                                <a href="/content/empresas/@Model.ID/@Model.Logo" target="_blank"><img src="/content/empresas/@Model.ID/@Model.Logo" border="0" /></a><br /><i>Para modificar o logo, selecione outro arquivo.</i><br />
                                <br />
                            }
                        }
                        @Html.InputFile("File")
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Nome da pessoa de contato</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.PessoaContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Área da pessoa de contato</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.AreaPessoaContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail da pessoa de contato</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.EmailContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail da pessoa de contato Cópia</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.EmailContatoCopia, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone da pessoa de contato</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TelefoneContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone da pessoa de contato Cópia</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TelefoneContatoCopia, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail do financeiro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.EmailFinanceiro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail do financeiro Copia</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.EmailFinanceiroCopia, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>CEP</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })
                        <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Logradouro</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Número</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Complemento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Bairro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Referência</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Referencia, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Ativa?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Ativa)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Frases de Homenagem fixas?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.FraseFixa)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Só exibe produtos conveniados no site Laços?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.SoExibeProdutosConveniados)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Condições de Faturamento</label>
                    <div class="mws-form-item large">
                        <input type="radio" value="2" name="CondicaoFaturamentoID" @(Model != null ? Model.CondicaoFaturamentoID == (int)Domain.Entities.Empresa.CondicoesFaturamento.Imediato ? "checked=checked" : "" : "") /> Imediato <br /><br />
                        <input type="radio" value="3" name="CondicaoFaturamentoID" @(Model != null ? Model.CondicaoFaturamentoID == (int)Domain.Entities.Empresa.CondicoesFaturamento.Mensal ? "checked=checked" : "" : "") /> Mensal <br /><br />
                        <input type="radio" value="99" name="CondicaoFaturamentoID" @(Model != null ? Model.FaturamentoInstantaneo == true ? "checked=checked" : "" : "") /> Instantâneo <br /><br />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data de faturamento</label>
                    <hr />
                    <div class="mws-form-row mws-form-row-fourth">
                        <label>Dia específico</label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.FaturamentoDiaMes, new { @class = "mws-textinput" })
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-fourth" style="margin-left: 10px;">
                        <label>Dias corridos<br /></label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.DiasParaVencimento, new { @class = "mws-textinput" })
                        </div>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Forma de Pagamento Padrão<br /></label>
                    <div class="mws-form-item large">
                        <select id="FormasPagamentoID" name="FormasPagamentoID" class="select" style="width:250px;">                            
                            <option value="1" @(Model != null ? Model.FormasPagamentoID == (int)Domain.Entities.Empresa.FormasPagamento.Boleto ? "selected" : "" : "")>Boleto Bancário</option>
                            <option value="2" @(Model != null ? Model.FormasPagamentoID == (int)Domain.Entities.Empresa.FormasPagamento.CreditoEmConta ? "selected" : "" : "")>Crédito em Conta</option>
                            <option value="3" @(Model != null ? Model.FormasPagamentoID == (int)Domain.Entities.Empresa.FormasPagamento.CartaoDeCredito ? "selected" : "" : "")>Cartão de Crédito</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Precisa de Ordem de Compra<br /></label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.OrdemDeCompra)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Texto Padrão NFE<br /></label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.CampoPadraoNFE, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Observação</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Observação Financeira</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.ObservacaoFinanceira, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Contrato Formalizado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.ContratoFormalizado)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Libera atendente para cadastrar novo colaborador em pedidos?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.LiberaCadastroColaborador)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Qtde Funcionários</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.QtdeFuncionarios, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data de validação</label>
                    <div class="mws-form-item small">
                        @{var datav = (Model != null) ? Model.DataValidacao.HasValue ? Model.DataValidacao.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");}
                        @Html.TextBox("DataValidacao", datav, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Atendimento</label>
                    <div class="mws-form-item small">
                        @if (admin.Perfil == Domain.Entities.Administrador.Perfis.Socios || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores)
                        {
                            @Html.DropDownListFor(model => model.AtendimentoID, new SelectList(atendimentos, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.AtendimentoID)
                            if (Model != null)
                            {
                                @(Model.AtendimentoID.HasValue ? Model.Administrador.Nome : "S/A")
                            }
                            else
                            {
                                @Html.Raw("S/A")
                            }
                        }
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>
                        Ramos de Atividade
                    </label>
                    <div class="mws-form-item small">
                        <select class="mws-textinput valid" data-val="true" id="RamoDeAtividade" name="RamoDeAtividade">
                            <option value="">-- selecione -- </option>
                            <option value="1" @((Model != null && Model.RamoDeAtividade == "1") ? "selected" : "")> Aeronáutica</option>
                            <option value="2" @((Model != null && Model.RamoDeAtividade == "2") ? "selected" : "")>Agronegócios</option>
                            <option value="3" @((Model != null && Model.RamoDeAtividade == "3") ? "selected" : "")>Alimentício</option>
                            <option value="4" @((Model != null && Model.RamoDeAtividade == "4") ? "selected" : "")>Atacadista e Distribuidores</option>
                            <option value="5" @((Model != null && Model.RamoDeAtividade == "5") ? "selected" : "")>Automobilística</option>
                            <option value="6" @((Model != null && Model.RamoDeAtividade == "6") ? "selected" : "")>Clubes e Associações</option>
                            <option value="7" @((Model != null && Model.RamoDeAtividade == "7") ? "selected" : "")>Construção Civil</option>
                            <option value="8" @((Model != null && Model.RamoDeAtividade == "8") ? "selected" : "")>Consultoria</option>
                            <option value="9" @((Model != null && Model.RamoDeAtividade == "9") ? "selected" : "")>Escritórios de Advocacia</option>
                            <option value="10" @((Model != null && Model.RamoDeAtividade == "10") ? "selected" : "")>Farmacêutica</option>
                            <option value="11" @((Model != null && Model.RamoDeAtividade == "11") ? "selected" : "")>Industria de Manufatura</option>
                            <option value="12" @((Model != null && Model.RamoDeAtividade == "12") ? "selected" : "")>Instituições de Ensino</option>
                            <option value="13" @((Model != null && Model.RamoDeAtividade == "13") ? "selected" : "")>Instituições Financeiras</option>
                            <option value="14" @((Model != null && Model.RamoDeAtividade == "14") ? "selected" : "")>Internet</option>
                            <option value="15" @((Model != null && Model.RamoDeAtividade == "15") ? "selected" : "")>Obras e Infraestrutura</option>
                            <option value="16" @((Model != null && Model.RamoDeAtividade == "16") ? "selected" : "")>Órgãos de Classe</option>
                            <option value="17" @((Model != null && Model.RamoDeAtividade == "17") ? "selected" : "")>Órgãos Públicos</option>
                            <option value="18" @((Model != null && Model.RamoDeAtividade == "18") ? "selected" : "")>Publicidade e Propaganda</option>
                            <option value="19" @((Model != null && Model.RamoDeAtividade == "19") ? "selected" : "")>Saúde</option>
                            <option value="20" @((Model != null && Model.RamoDeAtividade == "20") ? "selected" : "")>Seguradoras</option>
                            <option value="21" @((Model != null && Model.RamoDeAtividade == "21") ? "selected" : "")>Serviços</option>
                            <option value="22" @((Model != null && Model.RamoDeAtividade == "22") ? "selected" : "")>Terceirização</option>
                            <option value="23" @((Model != null && Model.RamoDeAtividade == "23") ? "selected" : "")>Transporte e Logística</option>
                            <option value="24" @((Model != null && Model.RamoDeAtividade == "24") ? "selected" : "")>Turismo</option>
                            <option value="25" @((Model != null && Model.RamoDeAtividade == "25") ? "selected" : "")>Varejo</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Perfil do Cliente</label>
                    <div class="mws-form-item large">
                        <input @((Model != null && Model.PerfilCliente == "1") ? "checked" : "") type="radio" value="1" name="PerfilCliente"> Standard
                        <input @((Model != null && Model.PerfilCliente == "2") ? "checked" : "") type="radio" value="2" name="PerfilCliente"> Silver
                        <input @((Model != null && Model.PerfilCliente == "3") ? "checked" : "") type="radio" value="3" name="PerfilCliente"> Gold
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
                            }
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_empresas').addClass('active');

            $("#CNPJ").blur(function () {
                var documento = $("#CNPJ").val();
                if (documento != "__.___.___/____-__" && documento != "___.___.___-__" && documento.length > 0) {
                    $("#busca-cliente").show();
                    $.post('/Cliente/GetCliente/', { documento: documento }, function (data) {
                        if (data != undefined && data != "") {
                            if (data.Tipo == "EMPRESA") {
                                if (confirm('O CNPJ digitado já está cadastrado. Gostaria de ser redirecionado para o cadastro do cliente?')) {
                                    location = 'edit/' + data.ID;
                                }
                                $("#CNPJ").val('');
                                $("#CNPJ").focus();
                            } else {
                                $("#PessoaContato").val(data.Nome);
                                $("#EmailContato").val(data.Email);
                                $("#TelefoneContato").val(data.TelefoneContato);
                                $("#RazaoSocial").val(data.RazaoSocial);
                                $("#InscricaoEstadual").val(data.InscricaoEstadual);
                                $("#CelularContato").val(data.CelularContato);
                                $("#CEP").val(data.CEP);
                                $("#EstadoID").val(data.EstadoID);
                                $("#Logradouro").val(data.Logradouro);
                                $("#Numero").val(data.Numero);
                                $("#Complemento").val(data.Complemento);
                                $("#Bairro").val(data.Bairro);
                                $("#ComoConheceu").val(data.ComoConheceu);
                                $("#Exterior").val(data.Exterior);

                                $("#EstadoID").change();
                                var t = setTimeout(function () { $("#CidadeID").val(data.CidadeID); }, 2000);
                            }

                        }
                        $("#busca-cliente").hide();
                    });
                }
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    RazaoSocial: "required",
                    CEP: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    Logradouro: "required",
                    Numero: "required",
                    Bairro: "required",
                    NomeFantasia: "required",
                    InscricaoEstadual: "required",
                    CNPJ: {
                        required: true,
                        cnpj: true
                    },
                    PessoaContato: "required",
                    EmailContato: {
                        required: true,
                        email: true
                    },
                    EmailFinanceiro: {
                        email: true
                    },
                    DataCadastro: "required",
                    CondicaoFaturamentoID: "required"
                },
                messages: {
                    RazaoSocial: "O campo razão social é obrigatório.",
                    CEP: "O campo CEP é obrigatório.",
                    EstadoID: "O campo estado é obrigatório.",
                    CidadeID: "O campo cidade é obrigatório.",
                    Logradouro: "O campo endereço é obrigatório.",
                    Numero: "O campo número é obrigatório.",
                    Bairro: "O campo bairro é obrigatório.",
                    NomeFantasia: "O campo nome fantasia é obrigatório.",
                    InscricaoEstadual: "O campo inscrição estadual é obrigatório, no caso de isento, digite ISENTO.",
                    CNPJ: {
                        required: "O campo CNPJ é obrigatório",
                        cnpj: "Digite um CNPJ válido"
                    },
                    PessoaContato: "O campo pessoa de contato é obrigatório",
                    EmailContato: {
                        required: "O campo e-mail de contato é obrigatório",
                        email: "Digite um e-mail válido"
                    },
                    EmailFinanceiro: {
                        email: "Digite um e-mail válido"
                    },
                    DataCadastro: "O campo data de cadastro é obrigatório",
                    CondicaoFaturamentoID: "O campo condição de faturamento é obrigatório"
                }
            });

            @if (Request.QueryString["CNPJ"] != null)
        {
        <text>$("#CNPJ").blur();</text>
        }


            @if (Model == null)
        {
        <text>$("#LiberaCadastroColaborador").attr('checked', true);</text>
        }
        });
    </script>
}