﻿@model IEnumerable<Domain.Entities.RetornoEmail>

@{
    ViewBag.Title = "Erros de e-mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_empresas').addClass('active');
        });       
    </script>
} 
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Erros de e-mail 
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper"> 
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">E-mail</th> 
                        <th style="text-align:center; width:150px;">Data</th>
                        <th style="text-align:center; width:150px;">Código</th>
                        <th>Retorno</th> 
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td> 
                        <td style="text-align:center;">@item.Data.Value.ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align:center;">@(item.Codigo)</td>
                        <td style="text-align:center;">@Html.Raw(item.Retorno.Replace("\n","<br>"))</td>                       
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table> 
        </div>
    </div>
</div>