﻿@model IEnumerable<Domain.Entities.EmpresaFrase>

@{
    ViewBag.Title = "Frases";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_empresas').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

@if (!empresa.FraseFixa)
{
<div class="mws-form-message mws-panel info">Atenção, as frases abaixo só serão exibidas se a empresa estiver configurada para "Frase Fixa".</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Frases para a empresa @empresa.RazaoSocial
            <input type="button" value="Nova" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("EditFrase", "Empresa", new { empresaID = Request.QueryString["empresaID"] })';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Frase</th>
                    <th align="center">Categoria</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="">@item.Frase</td> 
                    @if(item.Categoria == 0){
                        <td style="width:300px">---</td> 
                    }else if(item.Categoria == 1){
                        <td style="width:300px">Coroas de Flores</td>
                    }else if(item.Categoria == 2){
                        <td style="width:300px">Flores para Presente</td>
                    }else if(item.Categoria == 3){
                        <td style="width:300px">Eventos Corporativos</td>
                    }else if(item.Categoria == 4){
                        <td style="width:300px">Arranjos</td>
                    }else if(item.Categoria == 5){
                        <td style="width:300px">Arranjos e Kits de Maternidade</td>
                    }else if(item.Categoria == 6){
                        <td style="width:300px">Decoração de Escritório</td>
                    }else if(item.Categoria == 100){
                        <td style="width:300px">Personalizado</td>
                    }
                    <td class="center" style="width:164px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "EditFrase", new { empresaID = item.EmpresaID, id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>@Html.ActionLink("Deletar", "DeleteFrase", new { empresaID = item.EmpresaID, id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
    </div>
</div>