﻿@model IEnumerable<Domain.Entities.Empresa>

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_empresas').addClass('active');
            

            $("#atendimento").val(@Request.QueryString["atendimento"]);

            $(".atendimento").click(function () {  
                var itemid = $(this).attr("data-item");
                $("#div_atendimento_" + itemid).dialog({
                    resizable: false,
                    width: 300,
                    modal: true,
                    buttons: {
                        "Salvar": function () { 
                            $.post('/Empresa/AtualizarAtendimento/', { id: itemid, atendimento: $("#atendimentoID_" + itemid).val() }, function (data) {
                            if (data == "OK") { 
                                    $("#div_atendimento_" + itemid).dialog("close");  
                                    $("#label_atendimento_" + itemid).html($("#atendimentoID_" + itemid + " option:selected").text()); 
                                    alert('Atendimento atualizado.');
                                } else {
                                    alert(data);
                                }
                            }); 
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                });
            });

            $("#excel").click(function () {   
                window.open('/empresa/export?datacadastro=' + $("#datacadastro").val() + '&datainicial=' + $("#datainicial").val() + '&datafinal=' + $("#datafinal").val() + '&razaosocial=' + $("#razaosocial").val() + '&cnpj=' + $("#cnpj").val() + '&atendimento=' + $("#atendimento").val() + '&grupo=' + $("#grupo").val() + '','excel');
            });
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Empresas
            <input type="button" value="Nova" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Empresa")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Data de Cadastro:</td>
                <td colspan="4"><input type="text" name="datacadastro" id="datacadastro" value="@Request.QueryString["datacadastro"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Data de Inicial (compras):</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Final (compras):</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Razão Social:</td>
                <td><input type="text" name="razaosocial" id="razaosocial" value="@Request.QueryString["razaosocial"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>CNPJ:</td>
                <td><input type="text" name="cnpj" id="cnpj" value="@Request.QueryString["cnpj"]" autocomplete="off" style="width:150px;"/></td> 
            </tr>  
            <tr>
                <td>Nome do Colaborador:</td>
                <td><input type="text" name="nome" id="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>E-mail do Colaborador:</td>
                <td><input type="text" name="email" id="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;"/></td> 
            </tr>  
            <tr>
                <td>Grupo Econômico:</td>
                <td><input type="text" name="grupo" id="grupo" value="@Request.QueryString["grupo"]" autocomplete="off" class = "mws-textinput" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Atendimento:</td>
                <td>
                    @Html.DropDownList("atendimento", new SelectList(atendimentos, "ID", "Nome", Request.QueryString["atendimento"]), "-- selecione -- ", new { @class = "mws-textinput", style = "width:300px;" })                        
                </td> 
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            @if (Request.QueryString["datainicial"] != null || Request.QueryString["datafinal"] != null || Request.QueryString["atendimento"] != null)
            {
                <input type="button" class="mws-button green small" id="excel" style="float:right;" value="Exportar para Excel"/>
            }
            </form>
        </div>
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Grupo Econômico</th>
                    <th align="center">Título</th>
                    <th style="text-align:center;">CNPJ</th> 
                    <th style="text-align:center;">Pessoa de contato</th>
                    <th style="text-align:center;">Telefone de contato</th>
                    <th style="text-align:center;">Ativa</th>
                    <th style="text-align:center;">Convênio</th>
                    <th style="text-align:center;">Data de cadastro</th>
                    <th style="text-align:center;">Produtos</th>
                    <th style="text-align:center;">Colaboradores</th>
                    <th style="text-align:center; width:50px;">Pedidos</th>
                    @if (Request.QueryString["datainicial"] == null && Request.QueryString["datafinal"] == null && Request.QueryString["atendimento"] == null)
                    {
                    <th style="text-align:center;">Data Validação</th>
                    <th style="text-align:center; width:50px;">Erros e-mail</th>
                    }
                    else
                    { 
                    <th style="text-align:center;">Atendimento</th>
                    <th style="text-align:center;">Faturamento Total</th>
                    <th style="text-align:center;">Faturamento Concluído</th>
                    }
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.GrupoEconomico</td>
                    <td style="">@item.RazaoSocial<br /><i>@item.NomeFantasia</i></td>
                    <td style="text-align:center;">@Domain.Core.Funcoes.Formata_CNPJ(item.CNPJ)</td> 
                    <td style="text-align:center;">@item.PessoaContato <br />@item.EmailContato</td>
                    <td style="text-align:center;">@Domain.Core.Funcoes.Formata_Telefone(item.TelefoneContato)</td>
                    <td style="text-align:center;">@Html.Raw(item.Ativa ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@Html.Raw(item.SoExibeProdutosConveniados ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:center;"><a href="@Url.Action("Produtos", "Empresa", new { empresaID = item.ID })">@item.EmpresaProdutoTamanhoes.Count</a></td>
                    <td style="text-align:center;"><a href="@Url.Action("List", "Colaborador", new { empresaID = item.ID })">@item.Colaboradors.Count</a></td>
                    <td style="text-align:center;"><a href="@Url.Action("List", "PedidosEmpresa", new { clienteID = item.ID })">@item.PedidoEmpresas.Count</a></td>
                    @if (Request.QueryString["datainicial"] == null && Request.QueryString["datafinal"] == null && Request.QueryString["atendimento"] == null)
                    {
                    <td style="text-align:center;">@(item.DataValidacao.HasValue ? item.DataValidacao.Value.ToString("dd/MM/yyyy") : "Não Validado")</td>
                    <td style="text-align:center;"><a href="/Empresa/ErrosEmail/@item.ID" target="_blank">@item.RetornoEmails.Count</a></td>
                    }
                    else
                    { 
                    <td style="text-align:center;" id="label_atendimento_@(item.ID)">@(item.AtendimentoID.HasValue ? item.Administrador.Nome : "S/A")</td>
                        if (String.IsNullOrEmpty(Request.QueryString["datainicial"]) && String.IsNullOrEmpty(Request.QueryString["datafinal"]))
                        {
                            <td>@item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado).Sum(c => c.Valor).ToString("C2")</td>
                            <td>@item.PedidoEmpresas.Where(c => c.Status == Domain.Entities.PedidoEmpresa.TodosStatus.PedidoConcluido).Sum(c => c.Valor).ToString("C2")</td>
                        }
                        else if (!String.IsNullOrEmpty(Request.QueryString["datainicial"]) && String.IsNullOrEmpty(Request.QueryString["datafinal"]))
                        {
                            <td>@item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= Convert.ToDateTime(Request.QueryString["datainicial"])).Sum(c => c.Valor).ToString("C2")</td>
                            <td>@item.PedidoEmpresas.Where(c => c.Status == Domain.Entities.PedidoEmpresa.TodosStatus.PedidoConcluido && c.DataCriacao >= Convert.ToDateTime(Request.QueryString["datainicial"])).Sum(c => c.Valor).ToString("C2")</td>
                        }
                        else if (String.IsNullOrEmpty(Request.QueryString["datainicial"]) && !String.IsNullOrEmpty(Request.QueryString["datafinal"]))
                        {
                            <td>@item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao <= Convert.ToDateTime(Request.QueryString["datafinal"])).Sum(c => c.Valor).ToString("C2")</td>
                            <td>@item.PedidoEmpresas.Where(c => c.Status == Domain.Entities.PedidoEmpresa.TodosStatus.PedidoConcluido && c.DataCriacao <= Convert.ToDateTime(Request.QueryString["datafinal"])).Sum(c => c.Valor).ToString("C2")</td>
                        }
                        else if (!String.IsNullOrEmpty(Request.QueryString["datainicial"]) && !String.IsNullOrEmpty(Request.QueryString["datafinal"]))
                        {
                            <td>@item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= Convert.ToDateTime(Request.QueryString["datainicial"]) && c.DataCriacao <= Convert.ToDateTime(Request.QueryString["datafinal"])).Sum(c => c.Valor).ToString("C2")</td>
                            <td>@item.PedidoEmpresas.Where(c => c.Status == Domain.Entities.PedidoEmpresa.TodosStatus.PedidoConcluido && c.DataCriacao >= Convert.ToDateTime(Request.QueryString["datainicial"]) && c.DataCriacao <= Convert.ToDateTime(Request.QueryString["datafinal"])).Sum(c => c.Valor).ToString("C2")</td>
                        }
                    }
                    <td class="center" style="width:205px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li style="width:100px;">@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li style="width:100px;">
                                    @if (item.PedidoEmpresas.Count == 0)
                                    {
                                        if(admin.Perfil != Domain.Entities.Administrador.Perfis.Qualidade){
                                            @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })
                                        }
                                    }
                                    else
                                    {
                                    <span style="font-size:10px;vertical-align:10px;height: 20px;" onclick="javascript:alert('Este item não pode ser excluído pois possui pedidos relacionados.');">Possui pedidos</span>
                                    }
                                </li>              
                                <li style="width:100px;">@Html.ActionLink("Frases", "Frases", new { empresaid = item.ID }, new { @class = "mws-ic-16 ic-page-red" })</li>     
                                <li style="width:100px;">@Html.ActionLink("Guerra", "TelaGuerra", new { empresaid = item.ID }, new { @class = "mws-ic-16 ic-eye" })</li>
                                <li style="width:202px;">@Html.ActionLink("Compl. Prospecção", "Complemento", "Prospeccao", new { empresaID = item.ID }, new { @class = "mws-ic-16 ic-application-form", target = "_blank" })</li>  
                                         
                                @if (admin.Perfil == Domain.Entities.Administrador.Perfis.Socios || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores || MvcExtensions.Security.Models.LoggedUser.GetFromJSON(User.Identity.Name).ID == 1006)
                                {
                                <li style="width:202px;"><a href="javascript:void(0);" data-item="@item.ID" class = "atendimento mws-ic-16 ic-user">Alterar Atendimento</a></li>                            
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="17" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datacadastro=@Request.QueryString["datacadastro"]&cnpj=@Request.QueryString["cnpj"]&razaosocial=@Request.QueryString["razaosocial"]&nome=@Request.QueryString["nome"]&email=@Request.QueryString["email"]&atendimento=@Request.QueryString["atendimento"]&datafinal=@Request.QueryString["datafinal"]&datainicial=@Request.QueryString["datainicial"]&grupo=@Request.QueryString["grupo"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div id="div_atendimento_@(item.ID)" title="Alterar Atendimento" style="display:none;">  
            @Html.DropDownList("atendimentoID_" + item.ID, new SelectList(atendimentos, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput", width = "100%" })  
    </div> 
}