﻿@model IEnumerable<Domain.Entities.EmpresaProdutoTamanho>

    @{
        ViewBag.Title = "Produtos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#cliente').addClass('active');
                $('#i_empresas').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString()) {
        <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString()) {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Produtos para a empresa @ViewBag.Empresa
                <input type="button" value="Novo" class="mws-button blue right padding_1 btnTopoOld" onclick="javascript:window.location='@Url.Action("EditProduto", "Empresa", new { empresaID = Request.QueryString["empresaID"] })';" />

                <input type="button" value="Duplicar produtos para outra empresa" class="mws-button green right padding_1 btnTopoOld" onclick="javascript:window.location = '@Url.Action("DuplicarProduto", "Empresa", new{empresaID = Request.QueryString["empresaID"]})';" />   
                <button id="btnAplicarAcao" class="mws-button green right padding_1 novasOpcoes" style="display: none;">Ok</button>
                <select id="ddlAcoesProdutos" class="novasOpcoes right" style="display: none;">       
                    <option value="">Selecione uma Ação</option>
                    <option value="ativar">Ativar</option>
                    <option value="desativar">Desativar</option>
                    <option value="excluir">Excluir</option>
                </select> 
                
            </span>
        </div>
        <div class="mws-panel-body">

            <table class="mws-table">
                <thead>
                <tr>
                    <th style="width: 50px;">
                        <input type="checkbox" id="chkSelectAll"/>
                    </th>
                    <th align="center">Produto</th>
                    <th style="text-align: center;">Tamanho</th>
                    <th style="text-align: center;">Valor Original</th>
                    <th style="text-align: center;">Valor Convênio</th>
                    <th style="text-align: center;">Disponível</th>
                    <th align="center">Ações</th>
                </tr>
                </thead>
                @if (Model.Any()) {
                    foreach (var item in Model) {
                        <tr>
                            <td>
                                @if (!item.PedidoEmpresas.Any()) {
                                    <input type="checkbox" class="chkSelProd" data-id="@item.ID" />
                                }
                                else {
                                    <a href="#" onclick="return false;" style="margin-left: 5px;" title="Este produto contém pedidos.">
                                        <i class="fa fa-exclamation" style="font-size: 20px;"></i>
                                    </a>    
                                }  
                            </td>
                            <td style="">@item.ProdutoTamanho.Produto.Nome</td>
                            <td style="text-align: center;">@item.ProdutoTamanho.Tamanho.NomeCompleto</td>
                            <td style="text-align: center;">@item.ProdutoTamanho.Preco.ToString("C2")</td>
                            <td style="text-align: center;">@item.Valor.ToString("C2")</td>
                            <td style="text-align: center;">@Html.Raw(item.Disponivel ? "<b>SIM</b>" : "NÃO")</td>
                            <td class="center" style="width: 164px;">
                                <div class="mws-panel-toolbar top clearfix">
                                    <ul>
                                        <li>@Html.ActionLink("Editar", "EditProduto", new{empresaID = item.EmpresaID, id = item.ID}, new{@class = "mws-ic-16 ic-edit"})</li>
                                        <li>
                                            @if (item.PedidoEmpresas.Count == 0){
                                                @Html.ActionLink("Deletar", "DeleteProduto", new{empresaID = item.EmpresaID, id = item.ID}, new{@class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');"})
                                            }
                                            else{
                                                <span style="font-size: 10px; vertical-align: 10px;" onclick="javascript:alert('Este item não pode ser excluído pois possui pedidos relacionados.');">Possui pedidos</span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else {
                    <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
            </table>
            @if (ViewBag.TotalPaginas > 1) {
                <div class="dataTables_wrapper">
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                            @for (var i = 1; i <= ViewBag.TotalPaginas; i++) {
                                <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&empresaID=@Request.QueryString["empresaid"]">@i.ToString()</a></span>
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
<script>
    $(function() {
        $("#chkSelectAll").click(function (e) {

            var isChecked = [$(this).is(":checked")];
            if (isChecked[0]) {
                $(".btnTopoOld").hide();
                $(".novasOpcoes").show();
            }
            else{
                $(".btnTopoOld").show();
                $(".novasOpcoes").hide();
            }
            $.each($(".chkSelProd"), function (checked) {

                var marcar = checked;
                var marcado = !!$(this).attr("checked");

                if (marcar && marcado) {
                    return;
                }
                if (marcar) {
                    $(this).attr("checked", "checked");
                }
                else {
                    $(this).removeAttr("checked");
                }
            }, isChecked);

        });

        $("#btnAplicarAcao").click(function (e) {
            e.preventDefault();
            var acao = $("#ddlAcoesProdutos").val();
            var texto = "";
            switch (acao) {
                case "ativar":
                    texto = "Ativar";
                    break;
                case "desativar":
                    texto = "Desativar";
                    break;
                case "excluir":
                    texto = "Excluir";
                    break;
                case "":
                    alert("Selecione uma Ação.");
                    return;
            }

            if (confirm("Deseja " + texto + " os itens selecionados?")) {
                var idsProdutos = [];
                var idEmpresa = @ViewBag.IdEmpresa;
                $.each($(".chkSelProd"),function(ids) {
                    if ($(this).attr("checked")) {
                        ids.push(parseInt($(this).attr("data-id")));
                    }
                }, new Array(idsProdutos));
                var param = JSON.stringify({ idsProdutos: idsProdutos, "acao": $("#ddlAcoesProdutos").val(), "idEmpresa": idEmpresa });


                $.ajax({
                    url:"@Url.Action("AplicarAcao", "Empresa")",
                    type: "POST",
                    contentType:"application/json; charset=utf-8",
                    data:param,
                    remember:param,
                    beforeSend:function() {
                        console.log(JSON.stringify(this.remember));
                    },
                    success: function(data, status) {
                        if (data.ok) {
                            var url = "@Url.Action("Produtos", "Empresa")" + "?empresaID=" + data.idEmpresa+"&cod=SaveSucess&msg=Produto%20salvo%20com%20sucesso!";
                            window.location = url;
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Status = "+JSON.stringify(status));
                        console.log("Erro = "+JSON.stringify(error));
                    }
                });

                @*$.get("@Url.Action("AplicarAcao","Empresa")", param, function (data, status) {
                    if (status === "success") {
                        if (data.ok) {
                            window.location = "@Url.Action("Produtos", "Empresa")" + "?empresaID=" + data.idEmpresa;
                        }
                    }
                });*@


            }

        });

        $(".chkSelProd").click(function () {

            var isChecked = $(".chkSelProd").filter(function(index,el) {
                if ($(el).attr("checked")) {
                    return el;
                }
            });
            if (isChecked && isChecked.length > 0) {
                $(".btnTopoOld").hide();
                $(".novasOpcoes").show();
            }
            else {
                $(".btnTopoOld").show();
                $(".novasOpcoes").hide();
            }

        });
    });
</script>