﻿@model Domain.Entities.Empresa

@{
    ViewBag.Title = "Tela de Guerra";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grupoeconomico = (List<Domain.Entities.Empresa>)ViewBag.GrupoEconomico;
    var primeiropedido = Model.PedidoEmpresas.OrderBy(c => c.DataCriacao).FirstOrDefault();
    var pedidos = Model.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado).GroupBy(c => c.ProdutoTamanho);
    var vendaorigem = Model.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado).GroupBy(c => c.OrigemForma);
    var pedidosarea = Model.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado).GroupBy(c => c.Colaborador.Departamento.Trim());
    var pagamentos = Model.Faturamentoes.GroupBy(c => c.FormaPagamento);
    var ultimopedido = Model.PedidoEmpresas.OrderByDescending(c => c.DataCriacao).FirstOrDefault();
}
@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#cliente').addClass('active');
        $('#i_empresas').addClass('active');
          
        $(".contratoformalizado").change(function () {  
            $.post('/Empresa/SalvarContrato/', { id: @(Model.ID), Valor: $(".contratoformalizado:checked").val() }, function (data) {
                if (data == "ERRO") {
                    alert('A opção não foi salva automaticamente.'); 
                }  
            }); 
        });
        
        $("#formfollow").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Empresa/AdicionarFollow/', { id:@Model.ID, data: $('#DataFollow').val(), obs: $('#ObsFollow').val()}, function (data) {
                    if (data == "OK") { 
                        submitted = true;
                        location.reload(true);
                    } else {
                        alert(data);
                    }
                });  
            },
            rules: { 
                DataReuniao: "required" 
            },
            messages: { 
                DataReuniao: "Digite a data" 
            }
        });

        
        $("#formnotas").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Empresa/SalvarNotaPlanoAcao/', { id: @(Model.ID), NotaPlanoAcao: $('#NotaPlanoAcao').val() }, function (data) {
                    if (data == "ERRO") {
                        alert('A nota não foi salva automaticamente. Copie, dê um refresh na página e tente novamente.'); 
                    }  else{
                        submitted = true;
                        location.reload(true);
                        }
                });  
            },
            rules: { 
                NotaPlanoAcao: "required" 
            },
            messages: { 
                NotaPlanoAcao: "Digite o texto da nota" 
            }
        });
        
        $("#formnotasu").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Empresa/SalvarNotaUltimoContato/', { id: @(Model.ID), NotaUltimoContato: $('#NotaUltimoContato').val() }, function (data) {
                    if (data == "ERRO") {
                        alert('A nota não foi salva automaticamente. Copie, dê um refresh na página e tente novamente.'); 
                    }  else{
                        submitted = true;
                        location.reload(true);
                        }
                });  
            },
            rules: { 
                NotaUltimoContato: "required" 
            },
            messages: { 
                NotaUltimoContato: "Digite o texto da nota" 
            }
        });
    });      
    $(function () {
        var data = [
                @{
                    var comma = "";
                    foreach (var item in vendaorigem)
                    {
                    <text>
                    @comma { label: "@item.Select(c => c.OrigemForma).FirstOrDefault()", data: @item.Count() }                        
                    </text>
                        comma = ",";
                    }
                }
            ];

        $.plot($("#mws-pie-1"), 
    	data, {
    		    series: {
    		        pie: { 
    		            show: true
    		        }
    		    }, 
    		    legend: {
    		        show:false
    		    }
    	});
              
    });  
</script> 
}
<div class="container">   
    <h3>Tela de Guerra da empresa @Model.NomeCompleto</h3>

    <div class="mws-report-container clearfix">
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-building"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Data de cadastro</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@Model.DataCadastro.ToString("dd/MM/yyyy")</span>
            </span>
        </div>

        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-money-dollar"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Data do primeiro pedido</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@(primeiropedido!=null?primeiropedido.DataCriacao.ToString("dd/MM/yyyy"):"N/I")</span>
            </span>
        </div>

        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-reseller-programm"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Total de Colaboradores</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@Model.Colaboradors.Count</span>
            </span>
        </div>
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-report-user"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Total de Funcionários</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@(Model.QtdeFuncionarios.HasValue?Model.QtdeFuncionarios.Value.ToString():"N/I")</span>
            </span>
        </div>
        <div class="mws-report" style="cursor:default;width:300px!important;">
            <span class="mws-report-icon mws-ic ic-lorry"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Último Pedido</span><br />
                @if (ultimopedido != null)
                {
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;"><a href="/PedidosEmpresa/Visualizar/@ultimopedido.ID" target="_blank">@ultimopedido.DataCriacao.ToString("dd/MM/yyyy HH:mm") feito por @ultimopedido.Colaborador.Nome</a></span>
                }
                else
                {
                <span class="mws-report-value" style="padding-left:20px;font-size:12px;">Não fez pedido</span>
                }
            </span>
        </div>
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-newspaper"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Contrato Formalizado?</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">
                    <input type="radio" value="1" @(Model.ContratoFormalizado?"checked=checked":"") name="contrato" class="contratoformalizado"/> SIM
                    <input type="radio" value="0" @(!Model.ContratoFormalizado?"checked=checked":"") name="contrato"  class="contratoformalizado"/> NÃO
                </span>
            </span>
        </div>
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-report-user"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Atendimento</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@(Model.AtendimentoID.HasValue ? Model.Administrador.Nome : "S/A")</span>
            </span>
        </div>
    </div>

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Grupo Econômico @Model.GrupoEconomico</span>
        </div>
        <div class="mws-panel-body">
            @if (grupoeconomico.Count > 0)
            {
                var total = 0;
                decimal faturamento = 0;
                var total3 = 0;
                decimal faturamento3 = 0;
                var total6 = 0;
                decimal faturamento6 = 0; 
                <table class="mws-table">
                <thead>
                    <tr> 
                        <th>Empresa</th>
                        <th>Total Pedidos</th>
                        <th>Pedidos 3 meses</th>
                        <th>Pedidos 6 meses</th>
                        <th>Total Faturamento</th>
                        <th>Faturamento 3 meses</th>
                        <th>Faturamento 6 meses</th>
                        <th>Ticket Médio</th> 
                    </tr>
                </thead>
                <tbody> 
                @foreach (var item in grupoeconomico)
                {
                    var _total = item.PedidoEmpresas.Count(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado);
                    var _faturamento = item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado).Sum(c => c.Valor);
                    var _ticket = _total > 0 ? _faturamento / _total : 0;

                    var _total3 = item.PedidoEmpresas.Count(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= DateTime.Now.AddDays(-91));
                    var _faturamento3 = item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= DateTime.Now.AddDays(-91)).Sum(c => c.Valor);
                    var _ticket3 = _total3 > 0 ? _faturamento3 / _total3 : 0;

                    var _total6 = item.PedidoEmpresas.Count(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= DateTime.Now.AddDays(-181));
                    var _faturamento6 = item.PedidoEmpresas.Where(c => c.Status != Domain.Entities.PedidoEmpresa.TodosStatus.PedidoCancelado && c.DataCriacao >= DateTime.Now.AddDays(-181)).Sum(c => c.Valor);
                    var _ticket6 = _total6 > 0 ? _faturamento6 / _total6 : 0;

                    total += _total;
                    faturamento += _faturamento;
                    total3 += _total3;
                    faturamento3 += _faturamento3;
                    total6 += _total6;
                    faturamento6 += _faturamento6;
                    
                    <tr class="gradeX">
                        <td>@item.NomeCompleto</td>
                        <td>@_total</td> 
                        <td>@_total3</td> 
                        <td>@_total6</td> 
                        <td>@_faturamento.ToString("C2")</td>
                        <td>@_faturamento3.ToString("C2")</td>
                        <td>@_faturamento6.ToString("C2")</td>
                        <td>@_ticket.ToString("C2")</td> 
                    </tr>
                } 
                @{var ticket = total > 0 ? faturamento / total : 0;}
                <tr class="gradeX">
                    <td style="font-weight:bold;">TOTAL</td> 
                    <td style="font-weight:bold;">@total</td>
                    <td style="font-weight:bold;">@total3</td>
                    <td style="font-weight:bold;">@total6</td>
                    <td style="font-weight:bold;">@faturamento.ToString("C2")</td>
                    <td style="font-weight:bold;">@faturamento3.ToString("C2")</td>
                    <td style="font-weight:bold;">@faturamento6.ToString("C2")</td>
                    <td style="font-weight:bold;">@ticket.ToString("C2")</td>
                </tr>
                </tbody>
            </table> 
            }
        </div>
    </div>
        
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Aniversariantes da Semana</span>
        </div>
        <div class="mws-panel-body"> 
                <table class="mws-table">
                <thead>
                    <tr> 
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Celular</th> 
                        <th>Departamento</th> 
                        <th>Aniversário</th> 
                    </tr>
                </thead>
                <tbody> 
                @{var itens = Model.Colaboradors.Where(d => d.DataNascimento.HasValue && (d.DataNascimento.Value.DayOfYear - DateTime.Now.DayOfYear) <= 10 && (d.DataNascimento.Value.DayOfYear - DateTime.Now.DayOfYear) >= 0).ToList();}
                @foreach (var item in itens)
                { 
                    <tr class="gradeX">
                        <td>@item.Nome</td> 
                        <td>@item.Email</td> 
                        <td>@item.Telefone</td> 
                        <td>@item.TelefoneCelular</td> 
                        <td>@item.Departamento</td> 
                        <td style="@(item.DataNascimento.Value.Day == DateTime.Now.Day ? "font-weight:bold;" : "")">@item.DataNascimento.Value.ToString("dd/MM")</td> 
                    </tr>
                }  
                </tbody>
            </table>  
        </div>
    </div>
        
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-pencil">Plano de Ação</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("NotaPlanoAcao", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "formnotas", name = "formnotas", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row"> 
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.NotaPlanoAcao, new { @class = "mws-textinput", style = "width:100%!important;", rows = "5" })
                        </div>
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarnota"/> 
                        <span id="processandonotas" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div> 
        </div>
    </div> 
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-pencil">Nota de Último Contato</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("NotaUltimoContato", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "formnotasu", name = "formnotasu", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row"> 
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.NotaUltimoContato, new { @class = "mws-textinput", style = "width:100%!important;", rows = "5" })
                        </div>
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarnotau"/> 
                        <span id="processandonotasu" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div> 
        </div>
    </div>  
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Follow-up</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("EmpresaFollowUp", "Empresa", FormMethod.Post, new { @class = "mws-form", id = "formfollow", name = "formfollow", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row">
                        @if (Model.EmpresaFollowUps.Any())
                        {
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center" style="width:200px;">Data</th> 
                                    <th align="center">Observação</th>
                                </tr>
                            </thead>
                                @foreach (var item in Model.EmpresaFollowUps.OrderByDescending(c => c.DataCriacao))
                                {
                                <tr>                            
                                    <td>@item.Data.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@Html.Raw(item.Observacao.Replace("\n", "<BR>"))</td>
                                </tr>
                                }
                        </table>
                        <br /><br />
                        }           
                        <div class="mws-form-row">
                            <label>Data</label>
                            <div class="mws-form-item small"> 
                                @Html.TextBox("DataFollow", null, new { @class = "mws-textinput mws-datepicker-hhmm", maxlength = "200" }) 
                            </div>
                        </div>   
                        <div class="mws-form-row">
                            <label>Observação</label>
                            <div class="mws-form-item large"> 
                                @Html.TextBox("ObsFollow", null, new { @class = "mws-textinput", maxlength = "200" })
                            </div>
                        </div>     
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarfollow"/> 
                        <span id="processandofollow" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div>
        </div>
    </div>
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-graph">Conversão Online x Offline</span>
        </div>
        <div class="mws-panel-body">
            <div class="mws-panel-content">
                <div id="mws-pie-1" style="width:100%; height:300px; "></div>
            </div>
        </div>
    </div> 
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Produtos comprados</span>
        </div>
        <div class="mws-panel-body">
            <ul class="mws-summary">
                @foreach (var item in pedidos.OrderByDescending(c => c.Count()))
                {
                <li>
                    <span>@item.Count()</span> @item.Select(c => c.ProdutoTamanho.Produto.Nome).FirstOrDefault()  -  @item.Select(c => c.ProdutoTamanho.Produto.Tipo).FirstOrDefault()
                </li>
                }
            </ul>
        </div>
    </div> 
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-pencil">Observação Financeira</span>
        </div>
        <div class="mws-panel-body">
            <div class="mws-panel-content">
                 @Html.Raw(!String.IsNullOrEmpty(Model.ObservacaoFinanceira)?Model.ObservacaoFinanceira.Replace("\n","<br>"):"N/I")
            </div>
        </div>
    </div> 

    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Formas de Pagamento (Total por Fatura)</span>
        </div>
        <div class="mws-panel-body">
            <ul class="mws-summary">
                @foreach (var item in pagamentos)
                {
                <li>
                    <span>@item.Count()</span> @Domain.Helpers.EnumHelper.GetDescription(item.Select(c => c.FormaPagamento).FirstOrDefault())
                </li>
                }
            </ul>
        </div>
    </div> 

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Áreas Solicitantes (Total Pedidos)</span>
        </div>
        <div class="mws-panel-body"> 
                <table class="mws-table">
                <thead>
                    <tr> 
                        <th>Área</th>
                        <th>Coroa de Flor</th>
                        <th>Arranjo Maternidade</th>
                        <th>Flor de Aniversário</th> 
                        <th>Orquídea e Buquê</th> 
                        <th>Datas Comemorativas</th> 
                        <th>Eventos</th> 
                    </tr>
                </thead>
                <tbody> 
                @foreach (var item in pedidosarea.OrderByDescending(c => c.Count()))
                { 
                    <tr class="gradeX">
                        <td>@item.Select(c => c.Colaborador.Departamento).FirstOrDefault()</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.CoroaFlor)</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.ArranjoFlor)</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.Aniversario)</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.OrquideaBuque)</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.Datas)</td> 
                        <td>@item.Count(c => c.ProdutoTamanho.Produto.Tipo == Domain.Entities.Produto.Tipos.Eventos)</td> 
                    </tr>
                }  
                </tbody>
            </table>  
        </div>
    </div>
    
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Colaboradores</span>
        </div>
        <div class="mws-panel-body"> 
                <table class="mws-table">
                <thead>
                    <tr> 
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Celular</th> 
                        <th>Departamento</th> 
                        <th>Aniversário</th> 
                    </tr>
                </thead>
                <tbody> 
                @foreach (var item in Model.Colaboradors.OrderBy(c => c.Nome))
                { 
                    <tr class="gradeX">
                        <td>@item.Nome</td> 
                        <td>@item.Email</td> 
                        <td>@item.Telefone</td> 
                        <td>@item.TelefoneCelular</td> 
                        <td>@item.Departamento</td> 
                        <td style="@(item.DataNascimento.HasValue? item.DataNascimento.Value.Day == DateTime.Now.Day ? "font-weight:bold;" : "" : "")">@(item.DataNascimento.HasValue?item.DataNascimento.Value.ToString("dd/MM"):"")</td> 
                    </tr>
                }  
                </tbody>
            </table>  
        </div>
    </div>
</div>