﻿@model Domain.Entities.Bairro

@{
    ViewBag.Title = Model == null ? "Novo bairro" : "Edição do bairro " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados; 
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo bairro" : "Edição do bairro " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Bairro", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Foto)             
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>   
                <div class="mws-form-row">
                    <label>Foto <i>Arquivo JPG (400px x 400px)</i></label>
                    <div class="mws-form-item small">
                    @if (Model != null)
                    {
                        if (Model.Foto != null)
                        {
                            if (Model.Foto.Length > 0)
                            {
                            <a href="/content/bairros/@Model.ID/@Model.Foto" target="_blank"><img src="/content/bairros/@Model.ID/@Model.Foto" border="0" /></a><br /><i>Para modificar a foto, selecione outro arquivo.</i><br />
                            }
                        }
                    }
                    @Html.InputFile("File")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>URL </label> <i>http://www.coroasparavelorio.com.br/b/<b>[URL DIGITADA]</b>/estado</i>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.RotuloUrl, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Texto</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput" })
                    </div>
                </div>  

                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Disponivel)  SIM
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Forçar atualização de Latitude e Longitude baseado no bairro e estado?</label>
                    <div class="mws-form-item large">
                        <input type="checkbox" value="on" name="forcarAtualizacao" /> SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Latitude <br /><i>Só altere se estiver incorreto, ao preencher o bairro e estado, a latitude é verificada automaticamente.</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Latitude, new { @class = "mws-textinput", maxlength = "50"})
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Longitude <br /><i>Só altere se estiver incorreto, ao preencher o bairro e estado, a longitude é verificada automaticamente.</i></label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Longitude, new { @class = "mws-textinput", maxlength = "50"})
                    </div>
                </div>  
                @if (Model != null)
                {
                    if (Model.Latitude.HasValue && Model.Longitude.HasValue)
                    {
                        if (Model.Latitude != 0 && Model.Longitude != 0)
                        {
                        <div class="mws-form-row">
                            <label>Mapa</label>
                            <div class="mws-form-item small">
                                <a href="http://maps.google.com/maps?q=@Model.NomeCompleto,loc:@(Model.Latitude.Value.ToString().Replace(",", ".")),@(Model.Longitude.Value.ToString().Replace(",", "."))" target="_blank">clique aqui</a>
                            </div>
                        </div>
                        }
                    }
                }
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div> 
 
@section Scripts{ 
<script type="text/javascript">

    $(document).ready(function () {
        $('#local').addClass('active');
        $('#i_bairro').addClass('active'); 
          

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if ($('#Descricao').val().length == 0) {
                    alert('O campo descrição é obrigatório.');
                } else {
                    form.submit();
                }
            },
            rules: {
                Nome: "required",
                RotuloUrl: "required",
                EstadoID: "required",
                Descricao: "required"
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                RotuloUrl: "O campo URL é obrigatório.",
                EstadoID: "O campo estado é obrigatório",
                Descricao: "O campo Descrição é obrigatório."
            }
        });
    });
</script>
}