﻿@model IEnumerable<Domain.Entities.Bairro>

@{
    ViewBag.Title = "Bairros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#local').addClass('active');
            $('#i_bairro').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Bairros
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Bairro")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter">
                <form method="get">
                <label>Título: <input type="text" name="termo" value="@Request.QueryString["termo"]" autocomplete="off"/></label> 
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                </form>
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th style="text-align:center;">Título</th>
                        <th style="text-align:center;">Estado</th>
                        <th style="width:150px;text-align:center;">Publicado</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Estado.Nome</td> 
                        <td style="text-align:center;">@Html.Raw(item.Disponivel ? "<b>SIM</b>" : "NÃO")</td> 
                        <td class="center" style="width:164px;">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>							        
							        @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Fornecedores)
                                    {
                                    <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                                                               
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }else{
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
           </div>
    </div>
</div>
