﻿@model Domain.Entities.Cliente
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = "Comprar em um Clique";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
    var produtoSelecionado = new Domain.Entities.ProdutoTamanho();
    try{ produtoSelecionado = produtos.Where(c => c.ID == Convert.ToInt32(Request.QueryString["produtoID"])).FirstOrDefault().ProdutoTamanhos.Where(p => p.ID == Convert.ToInt32(Request.QueryString["tamanhoID"])).FirstOrDefault();}
    catch{}
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#local-estado').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">selecione uma cidade</option>';
                $('#local-cidade').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#local-cidade').html(html);
                    });
                }
            });

            $('#forma-pagamento').change(function () {
                if ($(this).val() == 'CartaoCredito') {
                    $('#CartaoCredito').show();
                } else {
                    $('#CartaoCredito').hide();
                }
            });

            $('#coroa').change(function () {
                if ($(this).val() == '') {
                    $('#CoroaSelecionada').html('<i>Não há nenhuma coroa selecionada.</i>');
                } else {
                    $('#CoroaSelecionada').html('<img src="' + $('#coroa option:selected').attr('data-img') + '"/><br/><b>' + $('#coroa option:selected').text() + '</b>');
                }
            });


            $('#local-data-entrega').mask('99/99/9999');
            $('#local-hora-entrega').mask('99:99');


            $('#compra-um-clique').validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    $('#compra-enviando').show();
                    $('#compra-enviar').hide();

                    form.submit();
                },
                rules: {
                    'pessoa-nome': { required: true },
                    'local-entrega': { required: true },
                    'local-estado': { required: true },
                    'local-cidade': { required: true },
                    'local-data-entrega': {
                        required: true,
                        date: true
                    },
                    'local-hora-entrega': { required: true }
                },
                messages: {
                    'pessoa-nome': { required: 'Digite o nome da pessoa homenageada' },
                    'local-entrega': { required: 'Digite o local de entrega' },
                    'local-estado': { required: 'Selecione o estado' },
                    'local-cidade': { required: 'Selecione a cidade' },
                    'local-data-entrega': {
                        required: 'Digite a data de entrega',
                        date: 'Digite uma data válida'
                    },
                    'local-hora-entrega': { required: 'Digite a hora de entrega' }
                }
            });

        });
    </script>
}
<div class="conteudo">
    <h1>Comprar em um Clique</h1>
    <div>
    
    <form id="compra-um-clique" method="post" action="@Url.Action("Index")">
    <h2>Selecione uma Coroa</h2>
    <div id="Coroa" class="box-radius">
        <div class="content">
            <table cellspacing="0" cellpadding="0" border="0" width="800" class="tabela">   
                    <tr>
                        <td style="width:200px;"></td>
                        <td>
                            <select id="coroa" name="coroa" style="width: 400px;">
                                <option value=""></option>
                                @foreach (var produto in produtos.OrderBy(e => e.Nome))
                                {                                    
                                    <optgroup label="@produto.Nome">
                                        @foreach (var produtotamanho in produto.ProdutoTamanhos.OrderBy(c => c.TamanhoID))
                                        {                                            
                                            <option value="@produtotamanho.ID" data-img="/content/produtos/@produto.ID/thumb/@produto.Foto" @((produto.ID.ToString() == Request.QueryString["produtoID"] && produtotamanho.ID.ToString() == Request.QueryString["tamanhoID"])?"selected=selected":"")>@produto.Nome, @produtotamanho.Tamanho.Nome.ToLower() por @produtotamanho.Preco.ToString("C2")</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="right"><label>Coroa selecionada:</label></td>
                        <td id="CoroaSelecionada">
                            @if (produtoSelecionado.ID > 0)
                            {
                                <img src="/content/produtos/@produtoSelecionado.ProdutoID/thumb/@produtoSelecionado.Produto.Foto" />
                                <br />
                                <b>@produtoSelecionado.Produto.Nome, @produtoSelecionado.Tamanho.Nome.ToLower() por @produtoSelecionado.Preco.ToString("C2")</b>
                            }
                            else
                            {
                            <i>Não há nenhuma coroa selecionada.</i>
                            }
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    
    <h2>Dados da Entrega</h2>
    <div id="Entrega" class="box-radius">
        <div class="content">
            <table cellspacing="0" cellpadding="0" border="0" width="800" class="tabela">   
                <tr>
                    <td class="right" width="200"><label>Pessoa Homenageada:</label></td>
                    <td><input id="pessoa-nome" name="pessoa-nome" type="text" /></td>
                    <td width="20"></td>
                    <td class="right"><label>Local de Entrega:</label></td>
                    <td><input id="local-entrega" name="local-entrega" type="text" /></td>
                </tr>
                <tr>
                    <td class="right"><label>Estado:</label></td>
                    <td>
                        <select id="local-estado" name="local-estado" style="width: 149px;">
                            <option value="">selecione um estado</option>
                            @foreach (var estado in estados.OrderBy(e => e.Nome))
                            {
                                <option value="@estado.ID">@estado.Nome</option>
                            }
                        </select>
                    </td>
                    <td width="20"></td>
                    <td class="right"><label>Cidade:</label></td>
                    <td><select id="local-cidade" name="local-cidade" style="width: 149px;"></select></td>
                </tr>
                <tr>
                    <td class="right"><label>Data da Entrega:</label></td>
                    <td><input id="local-data-entrega" name="local-data-entrega" type="text" /></td>
                    <td width="20"></td>
                    <td class="right"><label>Horário da Entrega:</label></td>
                    <td><input id="local-hora-entrega" name="local-hora-entrega" type="text" /></td>
                </tr>
            </table>
        </div>
    </div>
    <h2>Dados de Pagamento</h2>
        <div id="Pagamento" class="box-radius">
            <div class="content">
                <table cellspacing="0" cellpadding="0" border="0" width="800" class="tabela">   
                    <tr>
                        <td class="right" width="200"><label>Selecione a forma de pagamento:</label></td>
                        <td>
                            <select id="forma-pagamento" name="forma-pagamento" style="width: 220px;">
                                <option value="">-- selecione --</option>
                                <option value="CartaoCredito">Cartão de Crédito</option>
                                <option value="PagSeguro">PagSeguro</option>
                                <option value="PayPal">PayPal</option>
                                <option value="Shopline">Itaú Shopline</option>
                                <option value="Boleto">Boleto</option>
                                @if (Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica)
                                {
                                <option value="Faturamento">Faturamento para empresas</option>
                                }
                            </select>                        
                        </td>
                        <td width="20"></td>
                        <td colspan="2"></td>
                    </tr>         
                    <tr>
                    <td colspan="4" id="CartaoCredito" style="display:none;">                        
                        <table cellspacing="0" cellpadding="0" border="0" width="" class="tabela">         
                        <tr>
                            <td class="right" width="200"><label>Bandeira:</label></td>
                            <td>
                                <select id="parcela" name="parcela">
                                    <option value="1">Visa</option>
                                    <option value="2">Mastercard</option>
                                    <option value="3">Ello</option>
                                </select>
                            </td>
                            <td width="20"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="right"><label>Nome impresso no cartão:</label></td>
                            <td><input id="nome-cartao" name="nome-cartao" type="text" /></td>
                            <td width="20"></td>
                            <td colspan="2"></td>
                        </tr>     
                        <tr>
                            <td class="right"><label>Número do cartão:</label></td>
                            <td><input id="numero-cartao" name="numero-cartao" type="text" /></td>
                            <td width="20"></td>
                            <td colspan="2"></td>
                        </tr>   
                        <tr>
                            <td class="right"><label>Data de validade:</label></td>
                            <td><input id="data-cartao" name="data-cartao" type="text" /></td>
                            <td width="20"></td>
                            <td class="right"><label>Código de segurança:</label></td>
                            <td><input id="codigo-cartao" name="codigo-cartao" type="text" /></td>
                        </tr>  
                        <tr>
                            <td class="right"><label>Parcelar em:</label></td>
                            <td>
                                <select id="parcela" name="parcela">
                                    <option value="1">A vista</option>
                                    <option value="2">2 vezes</option>
                                    <option value="3">3 vezes</option>
                                </select>
                            </td>
                            <td width="20"></td>
                            <td colspan="2"></td>
                        </tr>
                        </table>
                    </td>
                    </tr>                   
                </table>
            </div>
        </div>
        <br /><br />
        <input id="compra-enviar" class="botao" name="compra-enviar" type="submit" value="finalizar" /><span id="compra-enviando" style="display:none;">finalizando...</span>
    </form>
    </div>
</div>
