﻿@{
    ViewBag.Title = "Cadastre-se ou acesse sua conta";
    Layout = "~/Views/Shared/_LayoutCompraNeue.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";

    // Trazer Email do Carrinho
    String email = "";
    if (Request.QueryString["email"] != null)
    {
        email = Request.QueryString["email"];
    }
    var returnUrl = "/pedido";
    if (Request.QueryString["returnUrl"] != null){
        returnUrl = Request.QueryString["returnUrl"];
    }

    var Carrinho = new Domain.Entities.Carrinho();
    if (HttpContext.Current.Session["_carrinho"] != null)
    {
        Carrinho = (Domain.Entities.Carrinho)HttpContext.Current.Session["_carrinho"];
    }
}
@section NeueScripts {
     <!-- CPV Custom Javascripts -->
<script type="text/javascript">
        function orderNeue(i) { location.replace(document.location.origin + "?ordenacao=" + i + "#comprar") } $(document).ready(function () { i = !0; $(window).width() <= 750 && (i = !1), $(window).resize(function () { i = $(window).width() <= 750 ? !1 : !0 }), $(window).scroll(function () { var t = $(window).scrollTop(); t >= 140 && i ? $("#fixed-bar").fadeIn("fast") : $("#fixed-bar").fadeOut("fast") }), $(window).width() > 767 && $(".badge").each(function () { $(this).css("margin-left", "-" + $(this).outerWidth() / 2 + "px") }), $("nav#mmenu").mmenu(); var t = 1; $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show(), $(".controls").click(function () { $(this).is("#next") ? t++ : $(this).is("#prev") && t--, t > 10 ? t = 1 : 1 > t && (t = 10), $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show() }); });
</script>

<!-- Mobile Menu (mmenu) -->
<script src="/content/neue/js/mmenu/dist/core/js/jquery.mmenu.min.all.js"></script>
}

<section class="login-signup">
    <!-- Container -->
    <div class="container">

        <!-- Divider -->
        <div class="divider"></div>
        <!-- /Divider -->

        <div class="lining">
            <!-- Caso email esteja cadastrado, ajuste o grid -->
            <div class="col-sm-6 @(email != "" ? Html.Raw("col-sm-offset-3") : Html.Raw(""))">
                <!-- Box Login -->
                <div class="login-card">
                    <span>Sou cadastrado</span>
                    <p>Acesse com seus dados abaixo</p>

                    <div class="form-group clearfix">
                        <div class="col-sm-2"><label class="control-label" for="autenticacao-email">Email:</label></div>
                        <div class="col-sm-10"><input type="email" class="form-control" name="autenticacao-email" id="autenticacao-email" value="@email" /></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-2"><label class="control-label" for="autenticacao-senha">Senha:</label></div>
                        <div class="col-sm-10"><input type="password" class="form-control" name="autenticacao-senha" id="autenticacao-senha" @(email != "" ? Html.Raw("autofocus") : Html.Raw(""))/></div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-sm-6 col-xs-6">
                            <a href="@Url.Action("index", "esqueci-minha-senha", new { returnUrl = returnUrl })">esqueci minha senha</a>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <input type="button" class="btn checkout-sec" id="autenticacao-entrar" value="entrar" onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'entrar']);"/>
                        </div>
                    </div>
                </div>
                <!-- /Box Login -->
            </div>

            <div class="col-sm-6" @(email != "" ? Html.Raw("style='display: none;'") : Html.Raw(""))>
                <!-- Box Sign Up -->
                <div class="signup-card">
                    <span>Sou um novo cliente</span>
                    <p>Cadastre-se e finalize sua compra. É fácil, rápido e seguro.</p>
                        
                    <input id="returnUrl" type="hidden" value="@returnUrl" />
                    @if (Request.QueryString["returnUrl"] == "/pedido")
                    { 
                        <input type="button" value="Cadastrar e Finalizar a Compra" class="btn checkout-sec" alt="Cadastrar e finalizar a compra" onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se?returnUrl=@returnUrl';" />
                    }
                    else
                    {
                        <input type="button" value="Cadastrar" class="btn checkout-sec" alt="Cadastrar"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se';" />
                    }
                </div>
                <!-- /Box Sign Up -->
            </div>
        </div>
    </div>
    <!-- /Container -->
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

         var Data = {
                'event': 'checkout',
                'ecommerce': {
                    'actionField': {
                        'step': 1
                    },
                    'products': [
                                @foreach(var Item in Carrinho.Itens)
                                {
                                    var CarrinhoItem = (Domain.Entities.CarrinhoItem)Item;
                                    var Produto = CarrinhoItem.ProdutoTamanho.Produto;
                                    var Tamanho = CarrinhoItem.ProdutoTamanho.Tamanho.Nome;

                                    if (Tamanho == "Pequena")
                                    {
                                        Tamanho = "P";
                                    }
                                    if (Tamanho == "Média")
                                    {
                                        Tamanho = "M";
                                    }
                                    if (Tamanho == "Grande")
                                    {
                                        Tamanho = "G";
                                    }

                                    string Categoria = "";

                                    switch (Produto.ID)
                                    {
                                        case 20:
                                        case 1:
                                        case 18:
                                        case 2:
                                        case 19:
                                        case 3:
                                            Categoria = "Premium";
                                            break;
                                        case 22:
                                        case 21:
                                        case 25:
                                        case 24:
                                        case 23:
                                            Categoria = "Luxo";
                                            break;
                                        case 27:
                                        case 28:
                                        case 29:
                                            Categoria = "Super Luxo";
                                            break;
                                        case 30:
                                        case 34:
                                        case 33:
                                        case 32:
                                        case 31:
                                            Categoria = "Duplas";
                                            break;
                                        default:
                                            break;
                                    }

                                    <text>
                                    {
                                        'name': '@Produto.Nome',
                                        'id': '@Produto.ID',
                                        'price': '@CarrinhoItem.ProdutoTamanho.Preco.ToString().Replace(",", ".")',
                                        'category': '@Categoria',
                                        'variant': '@Tamanho',
                                        'quantity': 1
                                    },
                                    </text>

                                }
                    ]
                }
            };

            console.log(Data);
            console.log(dataLayer.push(Data));

        $('.login-card .form-control').keypress(function (e) {
            if (e.which == 13) {
                console.log("heyheyeheye");
                $("#autenticacao-entrar").trigger("click");
            }
        });
    });
</script>