﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}

@if (Model.Autenticado)
{

    <span>
        Olá, @Model.Nome!
    </span>
    if (Request.Path.ToLower() != "/v3" && Request.Path.ToLower() != "/empresasparceiras")
    {
        <span>
            <i class="icon_pencil-edit_alt"></i>
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Cadastro
            </a>
        </span>
        <span>
            <i class="icon_document_alt"></i>
            <a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Pedidos
            </a>
        </span>
    }

        <span>
            <i class="icon_close_alt2"></i>
            <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </span>

}

else if (Request.Path.ToLower() == "/v3" || Request.Path.ToLower() == "/empresasparceiras")
{
    <span><a href="/cliente/meus-pedidos" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">2a via do Boleto? Clique Aqui</a></span>
}


else
{
    <span>2a via do Boleto?<i class="icon_id-2>"></i> <a href="/cliente/meus-pedidos" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Clique Aqui</a></span>
} 