﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}
 
    <!-- TODO -->
<div class="Busca">
    @if (Model.Autenticado)
    {
    <span style="font:12px;">Olá, @Model.Nome! </span><br /><br />
    }
    <form method="get" action="@Url.Action("buscar", "local")">
	<div class="BuscaAlign"><input type="text" id="local-termo" name="termo" class="BuscaInput busca_local" value="Encontre velórios ou cemitérios" onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" /></div>
	<div class="BuscaAlign"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
    </form>
</div>

<div class="Opcoes"><a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'coroas-de-flores']);">COROA DE FLORES</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "parceria-rubens-decoracoes-e-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'parceria-rubens']);">COROAS EXCLUSIVAS</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'tempo-e-prazo-de-entrega']);">ENTREGA</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'formas-de-pagamento']);">FORMAS DE PAGAMENTO</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'velorios-e-cemiterios']);">VELÓRIOS E CEMITÉRIOS</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'frases-de-homenagens']);">FRASES DE HOMENAGEM</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'mais-vendidas']);">MAIS VENDIDAS</a></div>
@if (Model.Autenticado)
{
         
	<div class="Opcoes"><a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'minha-conta']);">CADASTRO</a></div> 
    
	<div class="Opcoes"><a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'meus-pedidos']);">PEDIDOS</a></div> 
    
	<div class="Opcoes"><a href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'sair']);">SAIR</a></div> 
     
}
else
{        
	<div class="Opcoes"><a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'minha-conta']);">LOGIN</a></div> 

} 	    
<div class="Sombra">&nbsp;</div>