﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}
 
    @if (Model.Autenticado)
    {
         
        <div class="div_opcoes2">
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Cadastro
            </a>
        </div>
        <div class="div_opcoes2"> 
            <a href="@Url.Action("meus-pedidos", "cliente")"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Pedidos
            </a>
        </div>
        <div class="div_opcoes2"> 
            Olá, @Model.Nome!
            <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </div>
    }
    else
    {
		<div class="div_separacao"><img src="/content/imagens/separacao_topo.png" class="imagem_separacao" alt="Separação" /></div>
        <div class="div_opcoes2">2a via do Boleto? <u><a href="/cliente/meus-pedidos" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Clique Aqui</a></u></div>
    } 