﻿@model Domain.Entities.Promocao
@{
    ViewBag.NaoExibeHeader = true;
    ViewBag.Title = "Comprar Coroa de Flores em Promoção | Coroas para Velório";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Comprar Coroa de Flores em Promoção - Atendimento e entrega em todo Brasil, 24 horas todos os dias + frete grátis. Acesse o site e confira!";
}
 
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Promoção da Semana</b></span>  </div>
</div>
</div>  
@if (Model != null)
{
    @Html.Partial("Produtos", Model.PromocaoProduto.Select(c => c.Produto).Where(c => c.Disponivel))
}
else
{
<div id="Seguranca">
	<div class="Div">
		<h1 class="TituloPagina">Promoção da Semana</h1>
        
	    <div class="Texto">
            <p>Não há promoções neste momento mas confira nossos descontos na compra de coroas.</p>
        
	    </div>
	</div>
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
}
