/* ----------------------------------------------------------------
    
    Filename: landing.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Bianca Della Rosa
    
    ATENÇÃO: CSS COMPARTILHADO - iNDEX-FLOR // INDEX
-----------------------------------------------------------------*/


/* =======================    GENERAL    ======================= */
body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(8%, rgba(246,246,246,1)), color-stop(100%, rgba(240,241,242,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2', GradientType=1 );
}



.l {
    text-align: left;
}

.r {
    text-align: right;
}

.c {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 182px;
    color: #444444;
}



#geral h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 181px;
    color: #e72d7c;
}

h1 + span {
    display: inline-block;
    width: 10%;
    height: 3px;
    background: #444444;
    margin: 6px;
}


#geral h1 + span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background: #e72d7c;
    margin: 12px;
}

h1 + span + p {
    font-size: 20px;
    margin-bottom: 80px;
    margin-top: 8px;
    color: #444444;
}


#geral h1 + span + p {
    font-size: 16px;
    margin-bottom: 74px;
    color: #e72d7c;
}

h2 {
    font-weight: 400;
    color: #444;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-weight: 300;
    color: #444444;
    font-size: 21px;
}

.logo p {
    color: #444;
}

header > div .cta {
    position: absolute;
    display: block;
    width: 24%;
    right: 38%;
    top: 90%;
    background-color: #e72d7c;
    color: #ffffff;
    box-sizing: border-box;
    padding: 11px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.6s;
    font-weight: bold;
}


/* =====================   POP-UP  ===================== */

#step-1 img {
        max-width: 100%;
}

/* =====================   MENU  ===================== */
#fixed {
        position: fixed;
    right: -1%;
    top: 0%;
    padding-top: 17px;
    width: 98em;
    z-index: 3;
}



#Menu {
    width: 87%;
    background-color: #444;
    text-align: center;
}

    #Menu a {
        color: #ffffff;
    }

    #Menu .div_centraliza {
        width: 980px;
        display: inline-block;
        height: 20px;
        font-family: Trebuchet MS,arial,verdana;
        font-size: 13px;
        margin-top: 8px;
    }

    #Menu .div_texto1 {
        float: left;
        height: 35px;
        width: 25%;
        display: table;
    }

    #Menu .div_texto2 {
        float: left;
        height: 35px;
        width: 24%;
        display: table;
    }

    #Menu .div_texto3 {
        float: left;
        height: 35px;
        width: 24%;
        display: table;
    }

    #Menu .div_texto4 {
        float: left;
        height: 35px;
        width: 19%;
        display: table;
    }


/* =====================   HEADER   ===================== */
header#geral {
    text-align: center;
    color: white;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(8%, rgba(246,246,246,1)), color-stop(100%, rgba(240,241,242,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: url('../img/banner.png'), linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2', GradientType=1 );
    background-repeat: no-repeat;
    background-position: center bottom;
}

#geral .topo {
    position: relative;
    top: 350px;
    border: #ffffff 3px solid;
    padding: 11px 58px;
    color: #ffffff;
    font-weight: bold;
}

 #hover:hover {
     text-decoration:none;
     background-color: #f7bec7;
     border-color: #f7bec7;
     color: #e72d7c;
 }

header {
    position: relative;
    text-align: center;
    color: white;
    background: url('../img/floristas.png'), url('../img/fundo-flor.png'), linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom,right bottom, right bottom;
    padding-top: 12px;
    min-height: 481px;
}

.bg img {
    width: 56%;
    margin-top: 151px;
}

.bg2 img {
    width: 32%;
    margin-top: 133px;
}

.bg3 img {
    width: 48%;
    margin-top: 145px;
}



header img {
    margin-top: -11px;
}

.bg::after {
    display: block;
    position: absolute;
    top: 383px;
    right: 118px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Buquê de Rosas R$ 299,00";
    opacity: 0.95;
    transition: all ease 1s;
}

.bg2::after {
    display: block;
    position: absolute;
    top: 378px;
    right: 120px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Orquídeas a partir de R$ 399,00";
    opacity: 0.95;
    transition: all ease 1s;
}

.bg3::after {
    display: block;
    position: absolute;
    top: 385px;
    right: 96px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Arranjos com Chocolate";
    opacity: 0.95;
    transition: all ease 1s;
}

/* =====================   CARROUSEL   ===================== */

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -110px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -110px;
}


/* =====================   END CARROUSEL  ===================== */


/* =====================   FEATURES   ===================== */
#features {
    background-color: #f8f8f8;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 10px 0px 7px;
}

    #features .col-lg-2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #features .feature {
        color: #444;
        text-align: right;
    }

        #features .feature span {
            display: block;
            padding-right: 40px;
            background-repeat: no-repeat;
            background-image: url('../img/ui/icons-spritesheet.png');
            font-size: 11px;
            text-transform: uppercase;
            height: 34px;
        }

        #features .feature#pagamento span {
            background-position: 155px 2px;
        }

        #features .feature#flores span {
            background-position: 153px -8px;
        }

        #features .feature#cartao span {
            background-position: 151px -65px;
        }

        #features .feature#frete span {
            background-position: 151px -119px;
        }

        #features .feature#atendimento span {
            background-position: 155px -174px;
        }

        #features .feature#entrega span {
            background-position: 155px -230px;
        }

/* =====================   SHOWCASE   ===================== */

main {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(8%, rgba(246,246,246,1)), color-stop(100%, rgba(240,241,242,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2', GradientType=1 );
}

    main .container {
        background-color: white;
        margin-top: 21px;
    }

    main h2 {
        margin-top: 40px;
        margin-bottom: 30px;
        border-bottom: dotted 1px #444;
        height: 35px;
    }

.product-card > div {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.product-card > .tag::before {
    display: block;
    position: absolute;
    bottom: 115px;
    right: 20px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Mais Vendida";
    opacity: 0.8;
    transition: all ease 1s;
}

.product-card > .tag1::before {
    display: block;
    position: absolute;
    bottom: 115px;
    right: 20px;
    background-color: #00AD45;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Preço Especial";
    opacity: 0.8;
    transition: all ease 1s;
}

.product-card > .tag2::before {
    display: block;
    position: absolute;
    bottom: 279px;
    right: 0px;
    background-color: #fdb813;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px;
    content: "Arranjo do Florista";
    opacity: 0.8;
    transition: all ease 1s;
}

.product-card > div:hover::before {
    opacity: 1;
}

#geral .product-card span {
    display: block;
    height: 0;
    padding-bottom: 76%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}


.product-card span {
    display: block;
    height: 0;
    padding-bottom: 76%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

    /* =====================   Produtos Pg Floristas  ===================== */

    .product-card span#produto1 {
        background-image: url('../img/products/IMG_3891-ok.jpg');
    }

    .product-card span#produto2 {
        background-image: url('../img/products/IMG_3912-ok.jpg');
    }

    .product-card span#produto3 {
        background-image: url('../img/products/IMG_3911-ok.jpg');
    }

    .product-card span#produto4 {
        background-image: url('../img/products/IMG_3910-ok.jpg');
    }

    .product-card span#produto5 {
        background-image: url('../img/products/IMG_3858-ok.jpg');
    }

    .product-card span#produto6 {
        background-image: url('../img/products/IMG_3922-ok.jpg');
    }

    .product-card span#produto7 {
        background-image: url('../img/products/IMG_3865-ok.jpg');
    }

    .product-card span#produto8 {
        background-image: url('../img/products/IMG_3899-ok.jpg');
    }

    .product-card span#produto21 {
        background-image: url('../img/products/IMG_3913-ok.jpg');
    }

    .product-card span#produto22 {
        background-image: url('../img/products/IMG_3916-ok.jpg');
    }

    .product-card span#produto23 {
        background-image: url('../img/products/IMG_3915-ok.jpg');
    }

    .product-card span#produto24 {
        background-image: url('../img/products/IMG_3914-ok.jpg');
    }


    /* ================ Floristas =============== */

    .product-card span#florista1 {
        background-image: url('../img/florist/1.jpg');
    }

    .product-card span#florista2 {
        background-image: url('../img/florist/2.jpg');
    }

    .product-card span#florista3 {
        background-image: url('../img/florist/3.jpg');
    }

    .product-card span#florista4 {
        background-image: url('../img/florist/4.jpg');
    }

    .product-card span#florista5 {
        background-image: url('../img/florist/5.jpg');
    }

    /* ================ END Floristas =============== */

    /* =====================   END Produtos Pg Floristas  ===================== */



    /* =====================   Produtos Pg Geral   ===================== */

    .product-card span#produto9 {
        background-image: url('../img/products/IMG_3891-ok.jpg');
    }

    .product-card span#produto10 {
        background-image: url('../img/products/IMG_3912-ok.jpg');
    }

    .product-card span#produto11 {
        background-image: url('../img/products/IMG_3911-ok.jpg');
    }

    .product-card span#produto12 {
        background-image: url('../img/products/IMG_3910-ok.jpg');
    }

    .product-card span#produto13 {
        background-image: url('../img/products/IMG_3858-ok.jpg');
    }

    .product-card span#produto14 {
        background-image: url('../img/products/IMG_3909-ok.jpg');
    }

    .product-card span#produto15 {
        background-image: url('../img/products/IMG_3865-ok.jpg');
    }

    .product-card span#produto16 {
        background-image: url('../img/products/IMG_3899-ok.jpg');
    }

    .product-card span#produto17 {
        background-image: url('../img/products/IMG_3913-ok.jpg');
    }

    .product-card span#produto18 {
        background-image: url('../img/products/IMG_3916-ok.jpg');
    }

    .product-card span#produto19 {
        background-image: url('../img/products/IMG_3915-ok.jpg');
    }

    .product-card span#produto20 {
        background-image: url('../img/products/IMG_3914-ok.jpg');
    }


/* ===================== END  Produtos Pg Geral   ===================== */


.product-card h3 + p {
    text-align: left;
    margin: 9px 20px 15px;
    font-size: 13px;
    color: #777;
}

.product-card > div .compra {
    position: absolute;
    display: block;
    width: 53%;
    right: 30px;
    background-color: #1693A5;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.6s;
    font-weight: bold;
}

.product-card > div:hover .compra {
    background-color: #1BABC0!important;
    text-decoration: none!important;
    color: #ffffff!important;
}


.product-card > div .compra1 {
    position: absolute;
    display: block;
    width: 57%;
    right: 30px;
    background-color: #1693A5;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.6s;
    font-weight: bold;
}



.product-card > div:hover .compra1 {
    background-color: #1BABC0!important;
    text-decoration: none!important;
    color: #ffffff!important;
}




.product-card > div .view {
    position: absolute;
    display: block;
    width: 30%;
    left: 10px;
    background-color: #989898;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.6s;
    font-weight: 400;
}

.product-card > div:hover .view {
    background-color: #696464;
    text-decoration: none;
}

.product-card h3 {
    border-top: 1px dotted #e8e8e8;
    margin: 0px 20px;
    padding-top: 5px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}

.product-card > div:hover .h3 {
    color: #1693a5;
}

.preço {
    font-weight: 600;
    font-size: 18px;
    color: #1693a5;
}


/* =====================   MODAL    ===================== */
.modal-header {
    border-bottom: none;
}



    .modal-header span {
        padding-bottom: 136%;
    }

.modal-body {
    text-align: left;
}

    .modal-body h4 {
        font-family: 'Open Sans';
        font-size: 23px;
        font-weight: 400;
    }

    .modal-body img {
        border: solid #f6f6f6 2px;
        width: 100%;
    }

    .modal-body .descri {
        border-bottom: gray solid 1px;
    }

    .modal-body a.compra {
        max-width: 100px;
        position: relative;
        display: initial;
        padding-left: 10px;
        padding-right: 10px;
        right: -18px;
    }

    

    .modal-body h4 {
        font-family: 'Open Sans';
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 10px;
    }


/* =====================   END MODAL   ===================== */

/* =====================   VF   ===================== */


section#VF {
    background: #505050 url('../img/ui/bg-video.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 60px 0;
    /* margin-top: 22px; */
}

iframe {
     width: 600px; 
     height: 350px;
}

section#VF h3 {
    font-size: 41px;
    color: #ffffff;
    /* margin-top: -5px; */
    text-align: center;
}

    section#VF h3 b, section#VF h4 b {
        font-weight: 500;
    }

    section#VF h3 + p {
        margin-top: 15px;
    }

section#VF span {
    display: inline-block;
    width: 10%;
    height: 2px;
    background: white;
    margin-bottom: 10px;
}

section#VF p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 27px;
    text-render: optimizeLegibility;
}

#VF > div .cta {
    /* position: absolute; */
    /* right: 28%; */
    top: 105%;
    /* text-align: center; */
    background-color: #e72d7c;
    color: #ffffff;
    box-sizing: border-box;
    padding: 11px 65px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.6s;
    font-weight: bold;
}




/* =====================   TEXT   ===================== */

section#text {
    z-index: 2;
    padding: 33px 0;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    min-height: 400px;
}

section h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
}

section#text h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: dotted 1px #ffffff;
    height: 46px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
}

    section#text h3 b, section#text h4 b {
        font-weight: 500;
    }

    section#text h3 + p {
        margin-top: 15px;
        text-align: center;
        font-weight: 400;
    }

section#text p {
    font-size: 20px;
    line-height: 1.5;
    text-render: optimizeLegibility;
    margin-top: 31px;
}

section#text > div .video {
    position: absolute;
    display: block;
    width: 43%;
    right: 335px;
    top: 243px;
    background-color: #e72d7c;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.6s;
    font-weight: bold;
}


#Cover {
    background: rgb(35, 35, 35);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    opacity: 0.6;
}



section#text video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

section#text .container * {
    z-index: 3;
}

/* =======================    MENU MOBILE    ======================= */

#MenuSand {
    position: absolute;
    z-index: 9999;
    text-align: left;
}



nav ul ul {
    display: none;
}

    nav ul ul li {
        float: none;
    }

nav li {
    float: left;
}

    nav li a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 61px;
    }

        nav li a:link, nav li a:visited {
            color: #444444;
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(8%, rgba(246,246,246,1)), color-stop(100%, rgba(240,241,242,1)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2', GradientType=1 );
        }


            nav li a:link:hover, nav li a:visited:hover {
                color: #e72d7c;
            }


    nav li:hover ul {
        display: inline-block;
        position: absolute;
    }

input.toggle,
label.toggle {
    display: none;
}

label.toggle {
    font-weight: 900;
    font-size: 1.2em;
    padding: 10px 20px;
}

ol, ul {
    list-style: none;
    margin-left: -54px;
}


@media (max-width: 960px) {
    nav {
        display: none;
    }

    input.toggle,
    .toggle span {
        display: none;
    }

    input[type=checkbox]:checked ~ nav,
    label.toggle {
        display: block;
        cursor: pointer;
        color: #444444;
    }

    nav li {
        float: none;
    }

        nav li:hover ul {
            display: block;
            position: relative;
        }

        nav li ul {
            display: block;
        }

            nav li ul li {
                margin-left: 20px;
            }

        nav li a {
            display: block;
            margin-left: 0px;
        }
}


/* =======================   END MENU MOBILE    ======================= */

/* =======================    FOOTER    ======================= */
footer {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(246,246,246,1)), color-stop(8%, rgba(246,246,246,1)), color-stop(100%, rgba(240,241,242,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 8%, rgba(240,241,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2', GradientType=1 );
    color: #777777;
    padding: 15px 0px;
    font-size: 13px;
    text-align: center;
}

/* ============================================================= */
/* ======================= Media Queries ======================= */
/* ============================================================= */

/* ====================== Custom xlg size ===================== */
@media screen and (min-width: 1400px) {
    /*Extra Large styles*/
    .product-card > div a {
        top: 250px;
        left: 50px;
    }

    .product-card > div:hover a {
        top: 245px;
        left: 35px;
    }
}

/* ===================== Bootstrap lg size ===================== */
@media screen and (min-width: 1217px) and (max-width: 1355px) {
    #fixed {
        
        right: -1%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1217px) {
    #fixed {
       
        right: -7%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    /*Big Screens styles*/

    .col-lg-offset-1 {
    margin-left: 4.333333%;
}

  
}


/* ===================== Bootstrap md size ===================== */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /*Standard Screens styles*/

    header {
        min-height: 520px;
    }

    header > div .cta {
        width: 35%;
        right: 32%;

    }

    .product-card > div .compra1 {
        width: 54%;
    }

    #AF p {
        font-size: 12px;
    }

    #geral .container .l {
        text-align: left;
    }

    #fixed {
        right: initial;
        top: initial;
        padding-top: 17px;
        width: 100%;
        margin-top: -15px;
    }

    #Menu {
        width: 100%;
    }

        #Menu .div_centraliza {
            width: 810px;
            font-size: 12px;
        }


    #geral h1 + span + p {
        font-size: 15px;
    }



    .product-card h3 {
        margin: 0px -24px;
        padding-left: 42px;
        min-height: 52px;
    }

    #features .col-lg-2 {
        padding-right: 39px;
    }



    #features .feature#flores span {
        background-position: 165px -63px;
    }


    #features .feature#frete span {
        background-position: 165px -120px;
    }

    #features .feature#atendimento span {
        background-position: 165px -174px;
    }

    #features .feature#entrega span {
        background-position: 165px -230px;
    }

    .product-card > .tag::before {
        bottom: 227px;
    }

    .product-card > .tag1::before {
        bottom: 223px;
    }

    section#text > div .video {
        right: 275px;
    }

    .product-card > div .compra {
        width: 49%;
    }
}

/* ===================== Bootstrap sm size ===================== */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /*Tablet styles*/

    header {
        background: url('../img/floristas-mobile2.png'), url('../img/fundo-flor-mobile2.png'), linear-gradient(to right, rgb(255, 236, 210) 0%, rgb(252, 182, 159) 100%);
        background-repeat: no-repeat;
        background-position: right bottom;
    }

        header > div .cta {
            width: 38%;
            top: 87%;
                right: 33%;
        }

        header#geral {
            background-image: url('../img/banner-mobile2.png');
        }

        h1 + span + p {
            font-size: 17px;
        }

    #geral .topo {
        top: 423px;
    }

    #geral .container .l {
        text-align: left;
    }

    #fixed {
        right: initial;
        top: initial;
        padding-top: 17px;
        width: 100%;
        margin-top: -15px;
    }

    #Menu {
        width: 100%;
    }

        #Menu .div_centraliza {
            width: 810px;
            font-size: 12px;
        }




    #features {
        padding: 11px 74px 7px;
    }


        #features .feature#flores span {
            background-position: 149px -64px;
        }


        #features .feature#frete span {
            background-position: 146px -119px;
        }



        #features .feature#entrega span {
            background-position: 142px -231px;
        }

    .product-card > div .compra1 {
        width: 50%;
    }

    #AF p {
        font-size: 11px;
    }

    .product-card h3 + p {
        font-size: 10px;
    }

    .product-card p {
        margin-right: 20px;
    }

    .product-card h3 {
        margin: 0px -32px;
        padding-left: 34px;
        letter-spacing: -0.5px;
        min-height: 31px;
        font-size: 13px;
    }

    section#text h3 {
        font-size: 30px;
        margin-top: 42px;
    }

        section#text h3 + p {
            font-size: 15px;
        }

    section#text > div .video {
        width: 38%;
        right: 237px;
        top: 184px;
    }

    .product-card > div .compra {
        
        width: 49%;
        right: 24px;
    }

   
.product-card > div .view {

        left: 5px;

}
}

/* ===================== Bootstrap xs size ===================== */

@media screen and (min-width: 1px) and (max-width: 767px) {
    /*Smartphone styles*/


    header#geral {
        background: url('../img/banner-mobile.png');
        background-position: 0px 60px;
        background-repeat: no-repeat;
        min-height: 557px;
    }

    #geral .topo {
        top: 402px;
        padding: 11px 72px;
    }

    header {
        background: url('../img/floristas-mobile.png'), url('../img/fundo-flor-mobile.png'), linear-gradient(to right, rgb(255, 236, 210) 0%, rgb(252, 182, 159) 100%);
        background-repeat: no-repeat;
        background-position: bottom;
        min-height: 650px;
    }

    .container .l {
        text-align: center;
    }

    .container .r {
        text-align: center;
    }

    #geral .container .l {
        text-align: center;
    }

    #fixed {
        right: initial;
        top: initial;
        padding-top: 17px;
        width: 100%;
        margin-top: -15px;
    }



    h1 {
        margin-top: 114px;
        font-size: 35px;
    }

    header > div .cta {
        width: 38%;
        right: 29%;
        top: 119%;
    }

    header > div:hover .cta {
        background-color: #e84289;
        text-decoration: none;
    }

    h1 + span + p {
        font-size: 17px;
    }

    #geral h1 {
        margin-top: 114px;
    }




    .product-card span#p-flores {
        padding-bottom: 100%;
        margin: 0px 0px 0px 20px;
    }

    .product-card span#p-rosas {
        padding-bottom: 100%;
    }

    .product-card span#p-orquidea {
        padding-bottom: 120%;
    }

    .product-card {
        margin-bottom: -21px;
        text-align: center;
    }

        .product-card > div {
            display: inline-block;
            width: 100%;
            max-width: 400px;
        }

            .product-card > div a {
                padding: 35px 0px;
                float: none;
                position: initial;
                border-radius: 0;
                height: 40px;
                padding: 10px 15px;
                margin-top: 15px;
            }

            .product-card > div:hover a {
                height: 40px;
                padding: 10px 15px;
            }

        .product-card p {
            margin-right: 20px;
        }

        .product-card h3 {
            margin: 0px 10px;
            letter-spacing: -0.5px;
        }

    section#text h3 {
        height: 88px;
        font-size: 33px;
    }

    section#text p {
        font-size: 16px;
    }

    section#text > div .video {
        right: 113px;
        top: 261px;
    }

    iframe {
     width: 300px; 
     height: 150px;
}
    
    #step-1 img {
        max-width: 100%;
}

}

@media screen and (min-width: 600px) and (max-width: 767px) {

    section#text > div .video {
        right: 222px;
    }
}



/* ============================================================= */
/* ============================================================= */
/* ============================================================= */
