﻿@{
    ViewBag.Title = "Cadastre-se ou acesse sua conta";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";

    //pegar email pelo carrinho
    String email = "";
    if (Request.QueryString["email"] != null)
    {
        email = Request.QueryString["email"];
    }
    
    var returnUrl = "/pedido";
    if (Request.QueryString["returnUrl"] != null){
        returnUrl = Request.QueryString["returnUrl"];
    }
    
} 
@*@if (Request.QueryString["returnUrl"] == null)
{
      @Html.Action("Caminho", "Pedido", new { posicao = 2 })
}
*@

<div id="Identificacao">
<div class="Div">

	<h1 class="TituloPagina">Identificação <span class="TituloPagina2">| Cadastre-se ou acesse sua conta</span></h1>

	<div class="Div0">
		@if (email != "")
	    {
	    	//div para centralizar a div de login
	        <div style="float: left; width: 25%; height: 10px;"></div>
	    }
		<div class="Div1">

			<div class="BarraCinza">Sou cadastrado</div>

			<div class="DivLinhaEsquerda"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
			<div class="DivMeio2">

				<div class="LoginCliente1">

					<div class="LoginCliente2">Acesse com seus dados abaixo</div>

					<div class="LoginCliente3">
						<div class="LoginCliente4">Email:</div>
						<div class="LoginCliente5"><input type="text" name="autenticacao-email" id="autenticacao-email" class="LoginClienteInput" value="@email" /></div>
					</div>

					<div class="LoginCliente6">
						<div class="LoginCliente4">Senha:</div>
						<div class="LoginCliente5"><input type="password" name="autenticacao-senha" id="autenticacao-senha" class="LoginClienteInput" /></div>
					</div>

					<div class="LoginCliente6">
						<div class="LoginCliente7">&nbsp;</div>
						<div class="LoginCliente8"><a class="LoginCliente10" href="@Url.Action("index", "esqueci-minha-senha", new{ returnUrl= returnUrl})">esqueci minha senha</a></div>
						<div class="LoginCliente9">
                            <input src="/content/imagens/entrar.png" id="autenticacao-entrar" class="botao" type="image" value="entrar" style="margin-right: 30px" href="javascript:void(0);"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'entrar']);"/>
                        </div>
					</div>

				</div>

			</div>
			<div class="DivLinhaDireita"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>

		</div>

		<div class="Div2" @(email != "" ? Html.Raw("style='display: none;'") : Html.Raw(""))>

			<div class="BarraCinza">Sou um novo cliente</div>

			<div class="DivLinhaEsquerda"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
			<div class="DivMeio1">
                <input id="returnUrl" type="hidden" value="@returnUrl" />

				<div class="NovoCliente1">Cadastre-se e finalize sua compra: é fácil, rápido e seguro.<br />Cadastre-se agora.</div>
                @if(Request.QueryString["returnUrl"] == "/pedido"){ 
                    <div class="NovoCliente2"><input type="image" src="/content/imagens/cadastrar_finalizar_compra.png" class="CadastrarFinalizarCompra" alt="Cadastrar e finalizar a compra" onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se?returnUrl=@returnUrl';" /></div>
                }
                else
                {
                    <div class="NovoCliente2"><input type="image" src="/content/imagens/cadastrar.png" class="Cadastrar" alt="Cadastrar"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se';" /></div>                    
                }				
				<div class="NovoCliente3">Tem alguma dúvida? <br />Contate agora a nossa Central de Atendimento e esclareça suas questões.</div>

			</div>
			<div class="DivLinhaDireita"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>

		</div>

	</div>

</div>
</div>
 