﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}
 
    <!-- TODO -->
<div class="Busca">
    @if (Model.Autenticado)
    {
    <span style="font:12px;">Olá, @Model.Nome! </span><br /><br />
    }
    <form method="get" action="@Url.Action("buscar", "local")">
	<div class="BuscaAlign"><input type="text" id="local-termo" name="termo" class="BuscaInput busca_local" value="Encontre cidades" onfocus="if(this.value=='Encontre cidades') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre cidades'; }" /></div>
	<div class="BuscaAlign"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
    </form>
</div>

@*<div class="Opcoes"><a href="http://www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'coroas-de-flores']);">COROAS DE FLORES</a></div>*@
<div class="Opcoes"><a href="@Url.Action("coroa-de-flores", "flores")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'coroa-de-flores']);">COROA DE FLORES</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "flores")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'flores']);">FLORES E ARRANJOS</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'tempo-e-prazo-de-entrega']);">ENTREGA</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'formas-de-pagamento']);">FORMAS DE PAGAMENTO</a></div> 
<div class="Opcoes"><a href="@Url.Action("Index", "mensagens-de-cartao")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'mensagens-de-cartao']);">MENSAGENS DE CARTÃO</a></div>
<div class="Opcoes"><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'mais-vendidas']);">MAIS VENDIDAS</a></div>
@if (Model.Autenticado)
{
         
	<div class="Opcoes"><a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'minha-conta']);">CADASTRO</a></div> 
    
	<div class="Opcoes"><a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'meus-pedidos']);">PEDIDOS</a></div> 
    
	<div class="Opcoes"><a href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'sair']);">SAIR</a></div> 
     
}
else
{        
	<div class="Opcoes"><a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header-mobile', 'clique', 'minha-conta']);">LOGIN</a></div> 

} 	    
<div class="Sombra">&nbsp;</div>