﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}
 
    @if (Model.Autenticado)
    {
         
        <div class="div_opcoes2">
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Cadastro
            </a>
        </div>
        <div class="div_opcoes2"> 
            <a href="@Url.Action("meus-pedidos", "cliente")"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Pedidos
            </a>
        </div>
        <div class="div_opcoes2"> 
            Olá, @Model.Nome!
            <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </div>
    }
    else
    {		
		<div class="div_opcoes2">Por favor, <u><a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Identifique-se</a></u></div>
    } 