﻿@model IEnumerable<Domain.Entities.Pedido>

@{
    ViewBag.Title = "Meus Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Meus Pedidos</b></span> </div>
</div>
</div>
 
<div id="CidadesRegioes">
<div class="Div">

	<h1 class="TituloPagina">Meus Pedidos</h1> 
    
	<div class="Busca2">

    @if (Model.Any())
    {
        
        <table class="pedidos">
            <tr>
                <td>Nº Pedido</td>
                <td>Forma de Pagamento</td>
                <td>Valor</td>
                <td>Produtos</td>
                <td>Data do Pedido</td>
                <td>Status</td>
                <td>Vencimento</td>
                <td>Data de Pagamento</td>
            </tr>

            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Domain.Helpers.EnumHelper.GetDescription((Domain.Entities.Pedido.MeiosPagamento)item.MeioPagamentoID)
                    @if (item.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && item.Boleto != null)
                    {
                        <a href="@Url.Action("index", "boleto", new { codigo = item.Codigo })" target="_blank">imprimir</a>
                    }
                </td>
                <td>
                    @item.ValorTotal.ToString("C2")
                </td>
                <td style="width:200px;">
                    @foreach (var prod in item.PedidoItens)
                    {
                        <a href="@Url.RouteUrl("Produto", new { rotuloUrl = prod.ProdutoTamanho.Produto.RotuloUrl, id = prod.ProdutoTamanho.Produto.ID })" target="_blank">@prod.ProdutoTamanho.Produto.Nome</a><br />
                    }
                </td>
                <td>
                    @item.DataSolicitada.ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                    @Domain.Helpers.EnumHelper.GetDescription((Domain.Entities.Pedido.TodosStatusPagamento)item.StatusPagamentoID)
                    @if (!String.IsNullOrEmpty(item.NFeLink))
                    {
                        <a href="@item.NFeLink" target="_blank">NFe</a>
                    }
                </td>
                <td>
                    @if (item.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && item.Boleto != null)
                    {
                        @item.Boleto.DataVencimento.ToString("dd/MM/yyyy")
                    }
                    else { <text>A vista</text> }
                </td>
                <td>
                    @if (item.DataPagamento.HasValue)
                    {
                    @item.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")
                    }
                    else
                    {
                        <text>Pendente de pagamento</text>
                    }
                </td>
            </tr>
            }

        </table>

    }
    else
    {        
        <p>
            Não há pedidos efetuados.
        </p>
    } 
</div>
 

</div>