﻿@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Minha Conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
} 

@section Script{ 
    <script type="text/javascript" src="@Url.Content("~/Scripts/cep.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[name=TipoID]').click(function () {
                var valor = $(this).val();
                Tipo(valor);
            });
            $('input[name=Exterior]').click(function () {
                var valor = $("input[name='Exterior']:checked").val();
                Exterior(valor);
            });
            Tipo($('input[name=TipoID]:checked').val());
            Exterior($('input[name=Exterior]:checked').val());

            $('#EstadoID').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">-- selecione uma cidade --</option>';
                $('#CidadeID').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">-- selecione uma cidade --</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#CidadeID').html(html);
                    });
                }
            });

            $('#CEP').mask('99999-999');
            $('#TelefoneContato').mask('(99) 99999999');
            $('#CelularContato').mask('(99) 99999999?9');

            $('#form').validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    $('#minha-conta-enviando').show();
                    $('#minha-conta-enviar').hide();
                    if ($("input[name='TipoID']:checked").val() == "1") {
                        var cpf = $('#Documento').val();
                        var email = $('#Email').val();
                        $.post('@Url.Action("ValidarFisica")', { email: email, cpf: cpf }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#minha-conta-enviando').hide();
                                $('#minha-conta-enviar').show();
                            }
                        });
                    } else if ($("input[name='TipoID']:checked").val() == "2") {
                        var cnpj = $('#Documento').val();
                        var email = $('#Email').val();
                        $.post('@Url.Action("ValidarJuridica")', { email: email, cnpj: cnpj }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#minha-conta-enviando').hide();
                                $('#minha-conta-enviar').show();
                            }
                        });
                    }
                },
                rules: {
                    'Nome': 'required',
                    'Documento': {
                        required: brasil
                    },
                    'Email': {
                        required: true,
                        email: true
                    },
                    'EmailSecundario': {
                        email: true
                    },
                    'TipoID': {
                        required: true
                    },
                    'CEP': {
                        required: brasil
                    },
                    'RazaoSocial': {
                        required: pj
                    },
                    'InscricaoEstadual': {
                        required: pj
                    },
                    'Logradouro': {
                        required: brasil
                    },
                    'Numero': {
                        required: brasil
                    },
                    'Bairro': {
                        required: brasil
                    },
                    'Estado': {
                        required: brasil
                    },
                    'Cidade': {
                        required: brasil
                    },
                    'TelefoneContato': 'required',
                    'Senha': 'required',
                    'ConfirmaSenha': {
                        required: true,
                        equalTo: '#Senha'
                    }
                },
                messages: {
                    'Nome': 'Preencha com seu nome',
                    'Documento': {
                        required: 'Preencha o número do documento'
                    },
                    'TipoID': {
                        required: 'Selecione o tipo de pessoa, física ou jurídica'
                    },
                    'Email': {
                        required: 'Preencha com o seu e-mail',
                        email: 'Digite um e-mail válido'
                    },
                    'EmailSecundario': {
                        email: 'Digite um e-mail válido'
                    },
                    'CEP': {
                        required: 'Preencha com o seu CEP'
                    },
                    'RazaoSocial': {
                        required: 'Preencha com o sua razão social'
                    },
                    'InscricaoEstadual': {
                        required: 'Preencha com o sua IE, caso seja isento, digite ISENTO'
                    },
                    'Logradouro': {
                        required: 'Preencha com o seu endereço'
                    },
                    'Numero': {
                        required: 'Preencha com o seu número'
                    },
                    'Bairro': {
                        required: 'Preencha com o seu bairro'
                    },
                    'Estado': {
                        required: 'Selecione seu estado'
                    },
                    'Cidade': {
                        required: 'Selecione sua cidade'
                    },
                    'TelefoneContato': 'Preencha com o seu telefone de contato',
                    'Senha': 'Preencha com o sua senha ',
                    'ConfirmaSenha': {
                        required: 'Preencha com o sua confirmação de senha',
                        equalTo: 'As senhas digitadas não são iguais'
                    }
                }
            });

        });

        function Tipo(id) {
            switch (id) {
                case '1':
                    $('#Documento').mask('999.999.999-99');
                    $('#div_empresa').hide();
                    $('#lblDocumento').html('CPF');
                    break;
                case '2':
                    $('#Documento').mask('99.999.999/9999-99');
                    $('#div_empresa').show();
                    $('#lblDocumento').html('CNPJ');
                    break;
            }
        }
        function Exterior(sim) {
            if (sim) {
                $('#div_brasil').hide();
            } else {
                $('#div_brasil').show();
            }
        }

        var pj = function () {
            if ($("input[name='TipoID']:checked").val() == "2")
                return true;
            else
                return false;
        };

        var pf = function () {
            if ($("input[name='TipoID']:checked").val() == "1")
                return true;
            else
                return false;
        };

        var exterior = function () {
            if ($("input[name='Exterior']:checked").val())
                return true;
            else
                return false;
        };

        var brasil = function () {
            if (!$("input[name='Exterior']:checked").val())
                return true;
            else
                return false;
        };
    </script>
}


<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Minha Conta</b></span> </div>
</div>
</div>
 

<div id="Identificacao">
<div class="Div">

	<h1 class="TituloPagina">Minha Conta</h1>
    @if (Request.QueryString["msg"] == "sucesso")
    {
        <div class="message success">Seus dados foram atualizados com sucesso!</div> 
    }
    else
    {
        if (Request.QueryString["atualizar"] == "sim")
        {
            <h3 class="Texto">Para continuar, você deve confirmar seus dados.</h3>
        }
        else
        {
            <h3 class="Texto">Aqui você pode atualizar seu cadastro.</h3>
        }
        if (Request.QueryString["msg"] == "erro")
        {
            <div class="message error">Ocorreu um erro ao tentar atualizar seu cadastro. Por favor, tente novamente mais tarde ou nos comunique através do formulário de contato.</div>
        }
        
        <div id="Cadastro">
			<div class="DivLinhaEsquerda"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
            <div class="DivMeio2" style="text-align:left;">                         
                <div class="fisica">
                @using (Html.BeginForm("minha-conta", "cliente", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
                {
                <input name="redirect" type="hidden" value="@Request.QueryString["returnUrl"]" />    
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Nome</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Nome, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                            
                <div class="FormDiv2">
			        <div class="FormNomeCampo">E-mail</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Email, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>

                <div class="FormDiv2">
			        <div class="FormNomeCampo">Tipo</div>
			        <div class="FormCampo">
                        <input type="radio" name="TipoID" value="2" @((Model != null) ? Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica ? "checked='checked'" : "" : "")/> PJ
                        <input type="radio" name="TipoID" value="1" @((Model != null) ? Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? "checked='checked'" : "" : "")/> PF
                        </div>
		        </div>

                <div class="FormDiv2">
			        <div class="FormNomeCampo">E-mail secundário</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.EmailSecundario, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                    
                <div class="FormDiv2">
			        <div class="FormNomeCampo" id="lblDocumento">CPF</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Documento, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                <div id="div_empresa">
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Razão Social</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.RazaoSocial, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                       
                <div class="FormDiv2">
			        <div class="FormNomeCampo">IE</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                </div>
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Senha</div>
			        <div class="FormCampo">@{var Senha = Model == null ? "" : Model.Senha;}
                    @Html.Password("Senha", Senha, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Confirmação de senha</div>
			        <div class="FormCampo">@Html.Password("ConfirmacaoSenha", Senha, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                     
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Telefone</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.TelefoneContato, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Celular</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.CelularContato, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                    
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Skype:</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Skype, new { @class = "FormCampoInput" })</div>
		        </div>

                <div class="FormDiv2">
			        <div class="FormNomeCampo">Residente no Exterior?</div>
			        <div class="FormCampo"><input type="checkbox" name="Exterior" id="Exterior" value="on" @(Model.Exterior ? "checked=checked" : "") /> SIM</div>
		        </div>

                <div id="div_brasil" style="@((Model.Exterior) ? "display:none;" : "")">
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">CEP</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.CEP, new { @class = "FormCampoInput", maxlength = "200" })                                
                    <span id="load_cep" class="processando">Buscando endereço...</span></div>
		        </div> 
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Estado</div>
			        <div class="FormCampo">@Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "FormCampoSelect" })</div>
		        </div>
                       
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Cidade</div>
			        <div class="FormCampo">@Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "FormCampoSelect" })
                    <span id="load_cidade" class="processando">Buscando cidades...</span></div>
		        </div> 
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Logradouro</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Logradouro, new { @class = "FormCampoInput", maxlength = "200" })</div>
		        </div>
                         
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Número</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Numero, new { @class = "FormCampoInput" })</div>
		        </div> 

                <div class="FormDiv2">
			        <div class="FormNomeCampo">Complemento</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Complemento, new { @class = "FormCampoInput" })</div>
		        </div>                  
                        
                <div class="FormDiv2">
			        <div class="FormNomeCampo">Bairro</div>
			        <div class="FormCampo">@Html.TextBoxFor(model => model.Bairro, new { @class = "FormCampoInput" })</div>
		        </div>
                     
		        <div class="FormDiv2">
			        <div class="FormNomeCampo">Deseja receber os nossos e-mails?</div>
			        <div class="FormCampo"><input type="checkbox" name="receber-email" id="receber-email" value="true" @(Model.ReceberEmail == 1 ? "checked=checked" : "") /></div>
		        </div>
                </div>

                <div class="FormDivBotao">    <input id="minha-conta-enviar" class="FormBotao" name="minha-conta-enviar" type="submit" value="continuar" /><span id="minha-conta-enviando" class="processando">enviado...</span></div>

                 }
            </div>
        </div>
		<div class="DivLinhaDireita"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
    </div> 
    }

	</div> 
</div> 
 