﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Política de Reembolso e Cancelamento";
    ViewBag.Description = "Confira a nossa política de reembolso e cancelamento. Na CPV o cliente está em primeiro lugar. Confira!";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;  
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Política de Reembolso e Cancelamento</b></span> </div>
</div>
</div> 

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Política de Reembolso e Cancelamento</h1>

	<div class="Div1">
		<div class="Div1Texto1">

			<p>Realizamos o cancelamento do pedido ou solicitação de reembolso caso o cliente faça o pedido 24 horas antes do prazo de entrega.</p>
            <p>
            O telefone que o cliente deverá utilizar para realizar este pedido será o @configuracoes.SAC.
            </p>
			

		</div>
	</div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>

</div>
</div>
