﻿@model Domain.Entities.Duvida

@{
    ViewBag.Title = Model == null ? "Nova Dúvida Frequente" : "Edição da dúvida " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Dúvida Frequente" : "Edição da dúvida " + Model.Titulo)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "DuvidasFrequentes", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "200"})
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Duvida.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Duvida.Tipos.Outros), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Descrição</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput"})
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Publicado)  SIM
                    </div>
                </div>
            
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#conteudo').addClass('active');
        $('#i_duvidas').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if ($('#Descricao').val().length == 0) {
                    alert('O campo descrição é obrigatório.');
                } else {
                    form.submit();
                }
            },
            rules: {
                Título: "required",
                Tipo: "required"
            },
            messages: {
                Título: "O campo título é obrigatório.",
                Tipo: "O campo tipo é obrigatório."
            }
        });
    });
</script>
}