﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_LayoutCompraNeue.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var desconto = (Domain.Entities.Desconto)ViewBag.Desconto;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    bool temPromocao = false;
    var mensagemDesconto = "O desconto de itens na promoção da semana não são cumulativos e são prioritários aos demais descontos do site";
}

@section NeueScripts {
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="/Scripts/geral.js"></script>    <!-- CPV Custom Javascripts -->
    <script type="text/javascript">
        function orderNeue(i) { location.replace(document.location.origin + "?ordenacao=" + i + "#comprar") } $(document).ready(function () { i = !0; $(window).width() <= 750 && (i = !1), $(window).resize(function () { i = $(window).width() <= 750 ? !1 : !0 }), $(window).scroll(function () { var t = $(window).scrollTop(); t >= 140 && i ? $("#fixed-bar").fadeIn("fast") : $("#fixed-bar").fadeOut("fast") }), $(window).width() > 767 && $(".badge").each(function () { $(this).css("margin-left", "-" + $(this).outerWidth() / 2 + "px") }), $("nav#mmenu").mmenu(); var t = 1; $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show(), $(".controls").click(function () { $(this).is("#next") ? t++ : $(this).is("#prev") && t--, t > 10 ? t = 1 : 1 > t && (t = 10), $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show() }); });
    </script>    <!-- Mobile Menu (mmenu) -->
    <script src="/content/neue/js/mmenu/dist/core/js/jquery.mmenu.min.all.js"></script>    <!-- Função disparada quando tenta-se aplicar um cupom de desconto em uma coroa na promoção da semana -->    @if (Model.Cupom != null && temPromocao)
    {
        <script type="text/javascript">
            alert('Atenção, o desconto na utilização do cupom não é cumulativo aos itens em promoção da semana. \n\nNessas condições, o valor do produto volta ao valor original.');
        </script>
    }
    <!-- Se o cliente não estiver logado, abra o box de autenticação -->
    @if (!ViewBag.Cliente)
     {
        <script type="text/javascript">
            // Abre o Box de Autenticação
            $(".open-autentication").click(function () {
                $(".dialog-box").fadeIn("200");
            });
        </script>
     }
     else{
        <script type="text/javascript">
            $(".open-autentication").click(function () {
                window.location = "/pedido";
            });
        </script>
     }

    <script type="text/javascript">
        //Validação de Email
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $(document).ready(function () {

            function CheckEmailClienteLC(callback) {
                var Email = $(".dialog-box .form-control").val();

                if (validateEmail(Email)) {
                    $.get("/carrinho/VerificarEmailLC?id=" + Email, function (data) {
                        callback(JSON.parse(data));
                    }).fail(function () {
                        callback({ url : ""});
                    });
                }
                else {
                    alert("Confira o email digitado e tente novamente");
                }
            }

            // Valida o email e manda o mesmo por query-string para verificação se existe ou não na base
            function goValidate() {
                if (validateEmail($(".dialog-box .form-control").val())) {
                    window.location = "/carrinho/VerificarEmail?id=" + $(".dialog-box .form-control").val();
                }
                else {
                    alert("Confira o email digitado e tente novamente");
                }
            }
            
            // Exibe as informações do cupom ao clicar em "Inserir Cupom de Desconto"
            $('#show-cupom').click(function () {
                $('#cupom-insert').show();
                $(this).hide();
            });

            // Box para Autenticação de Usuário
            $(".dialog-box .checkout-go").click(function() {
                CheckEmailClienteLC(function (data) {
                    if (data.url != "") {
                        alert('identificamos que seu e-mail corresponde a um cadastro corporativo, por isso estamos redirecionando você ao ambiente da sua empresa. Caso a coroa que você selecionou não esteja aparecendo, não se assuste. Pode ser que a sua empresa tenha um padrão de produto já definido!');
                        window.location = data.url
                    }
                    else {
                        goValidate();
                    }
                });
            });

            $(".dialog-box .form-control").keypress(function(e){
                if(e.which == 13) {
                    goValidate();
                }
            });

            // Fecha o Box de Autenticação
            $(".icon_close_alt, .checkout-cancel").click(function () {
                $(".dialog-box").fadeOut("200");
            });
        });
    </script>
}

<section class="dialog-box" style="display:none">
	<div>
        <span class="icon_close_alt"></span>
		<p>Para prosseguir, preencha seu email</p>
		<input class="form-control" type="email" id="capture-mail" name="capture-mail" placeholder="Preencha seu email" required />
		<button class="btn checkout-cancel">Cancelar</button>
        <button class="btn checkout-go">Avançar</button>
	</div>
</section>

<section class="cart nav-buttons">
    <!-- Container -->
    <div class="container">
        <!-- Divider -->
        <div class="divider"></div>
        <!-- /Divider -->

        <div class="lining">
            <div class="col-sm-6">
                <h1>Meu Carrinho</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn checkout-go open-autentication">Finalizar Compra<span class="arrow_carrot-2right_alt"></span></button>
            </div>
        </div>
    </div>
    <!-- /Container -->
</section>

@if (Model.Itens.Any())
{ 

    <section class="cart order">
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <div class="col-md-12">
                    <!-- Carrinho -->
                    <div class="cart-card heading hidden-xs">
                        <div class="lining">
                            <div class="col-md-7 col-sm-6">
                                Produto
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Tamanho
                            </div>
                            <div class="col-md-2 col-sm-2">
                                Valor
                            </div>
                            <div class="col-md-1 col-sm-2">
                                Remover
                            </div>
                        </div>
                    </div>

                    @foreach (var item in Model.Itens)
                    {
                        var textoPromo = "";
                        var valor = item.Valor.ToString("C2");
                     
                        if (promocao != null)
                        {
                            if (promocao.PromocaoProdutoes.Count(c => c.ProdutoID == item.ProdutoTamanho.ProdutoID) > 0)
                            {
                                temPromocao = true;
                                if (Model.Cupom == null && temPromocao)
                                {
                                    decimal valorDesconto = (item.Valor - (item.Valor * promocao.Desconto / 100));
                                    textoPromo = "<i>Coroa na promoção da semana com " + promocao.Desconto + "% de desconto.</i>";
                                    valor = "<u>De <del>" + valor + "</del> por</u><br>" + valorDesconto.ToString("C2");
                                }
                            }
                        } 
                        <div class="cart-card item-list">
                            <div class="lining">
                                <div class="col-md-7 col-sm-6">
                                    <span><p><a href="@Url.RouteUrl("Coroa", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })">
                                        <img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg"/>
                                        </a></p>
                                    </span>
                                    <strong><p>@item.ProdutoTamanho.Produto.Nome<br />@Html.Raw(textoPromo)</p></strong>
                                    <i class="visible-xs"><p>@item.ProdutoTamanho.Tamanho.Nome</p></i>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <p>@item.ProdutoTamanho.Tamanho.Nome</p>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <p>@Html.Raw(valor)</p>
                                </div>
                                <div class="col-md-1 col-sm-2 col-xs-6">
                                    <span class="icon_close_alt2" onclick="Carrinho.Remover(@item.ID, function() { window.location = window.location })"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <span class="cart-card divider"></span>

                    @if (Model.Cupom != null | temPromocao)
                    {
                        <div class="cart-card" id="order-subtotal">
                            <div class="lining">
                                <div class="col-md-2 col-md-offset-7 col-sm-3 col-sm-offset-6 col-xs-6">
                                    Subtotal:
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <p>@Model.Subtotal.ToString("c2")</p>
                                </div>
                            </div>
                        </div>

                        <div class="cart-card" id="order-desconto">
                            <div class="lining">
                                @if (Model.Cupom != null)
                                {
                                    <div class="col-md-7 col-sm-6 hidden-xs">
                                        @*// Se for do tipo porcentagem, exiba-o com o símbolo, senão, somente o valor.*@
                                        @if (Model.Cupom.Tipo == Domain.Entities.Cupom.Tipos.Porcentagem) {
                                            <span class="info hidden-sm">@Model.Cupom.Codigo @("(" + Model.Cupom.Valor + "%)")</span>
                                        }
                                        else {
                                            <span class="info hidden-sm ">@Model.Cupom.Codigo @("(R$ " + Model.Cupom.Valor + ")")</span>
                                        }
                                        <button class="btn btn-default" onclick="Carrinho.RemoverCupom();">Remover Cupom</button>
                                    </div>
                                }
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    Desconto:
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    @((-Model.Desconto).ToString("c2"))
                                </div>

                                @if (Model.Cupom != null) {
                                    <div class="col-md-1 hidden-sm hidden-xs">
                                        <span class="icon_close_alt2" onclick="Carrinho.RemoverCupom();"></span>
                                    </div>
                                    <div class="visible-xs col-xs-12 c">
                                        <br />
                                        <button class="btn btn-default" onclick="Carrinho.RemoverCupom();">Remover Cupom</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Cupom == null) {
                        <div class="cart-card" id="order-cupom">
                            <div class="lining">
                                <div class="col-md-7">
                                    <button class="btn btn-default" id="show-cupom">Inserir Cupom de Desconto</button>

                                    <div class="form-inline" id="cupom-insert" style="display:none">
                                        <div class="form-group">
                                            <label for="cupom">Insira o código:</label>
                                            <input class="form-control" type="text" name="cupom" id="cupom" />
                                            <button class="btn btn-default" onclick="Carrinho.AplicarCupom();">Aplicar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="cart-card" id="order-total">
                        <div class="lining">
                            <div class="col-sm-12">
                                <p>Valor Total de <span>@Model.Total.ToString("c2")</span>. Entrega Grátis!</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Carrinho -->
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>
}
    
@if (!temPromocao)
{
    var mensagem = "Adicione outra coroa";
    if (desconto != null)
    {
        if (desconto.Ativo)
        {
            var valor = "";

            if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Percentual)
            {
                valor = desconto.Valor.ToString("N0") + "%";
            }
            else if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Valor)
            {
                valor = desconto.Valor.ToString("C2");
            }

            switch (desconto.RegraID)
            {
                case ((int)Domain.Entities.Desconto.Regras.APartirDeValor):
                    mensagem += " com " + valor + " de desconto nas compras a partir de " + desconto.Referencia.ToString("C2") + "! *";
                    break;
                case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMaiorValor):
                case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMenorValor):
                    mensagem += " com " + valor + " de desconto a partir da 2ª! *";
                    break;
                case ((int)Domain.Entities.Desconto.Regras.EmTodoSite):
                    mensagem += " com " + valor + " de desconto em todo o site! *";
                    break;
            }
        }
    }
}

<section class="cart foot-buttons">
    <!-- Container -->
    <div class="container">
        <div class="lining">
            <div class="col-md-7 col-md-offset-5">
                <button class="btn btn-grey" onclick="window.location = '@Url.Action("Index", "")'"></span> Adicionar Outra Coroa</button>
                <button class="btn checkout-go open-autentication">Finalizar Compra <span class="arrow_carrot-2right_alt"></span></button>
            </div>
        </div>  
    </div>
    <!-- /Container -->
</section>