﻿@model Domain.Entities.Carrinho
@{
    Layout = null;
}
@{
    if (Model.Itens.Count > 0)
    {
        <div class="carrinho">
            <div class="carrinho_flor">
                <a href="/carrinho">
                    <img src="/content/imagens/carrinho2.png" class="carrinho_flor_imagem" alt="Carrinho" />
                </a>
            </div>
            <div class="carrinho_qtde">
                <a href="/carrinho">@Model.Itens.Count</a>
            </div>
        </div>
    }
}
