﻿@model Domain.Entities.Carrinho
@{
    Layout = null;
    string display = string.Empty;
}
@{
    Web.Models.HeaderConfigModel config = (Web.Models.HeaderConfigModel)ViewBag.Configuracao;
    var configuracoes = config.Configuracao;
    var TelAd = config.TelAd;
    var CidadeNome = config.CidadeNome;
}
@{
    <ul>
        @{
            if (string.IsNullOrEmpty(Request.QueryString["telad"]))
            {
                <li>
                    <a href="tel:40072233"><i></i>4007-2233</a>
                    Capitais e Regiões Metropolitanas
                </li>
            }
        }
        <li>
            <a href="tel:@configuracoes.SAC"><i></i>@configuracoes.SAC</a>
            @{
                if (CidadeNome != "")
                {
                    @CidadeNome
                }
                else {
                    <text>Outras Cidades</text>
                }
            }
        </li>

        @if (Model.Itens.Count > 0)
        {
            display = "style=display:none";
        }
        else
        {
            display = string.Empty;
        }

        <li @display>
            <span>
                <strong>24</strong>
                Horas
            </span>
        </li>
    </ul>
                if (Model.Itens.Count > 0)
                {
                    <nav class="cart">
                        <button class="icon_cart"><span>@Model.Itens.Count</span></button>
                        <div class="drop">
                            @{
                                foreach (var iten in Model.Itens)
                                {
                                    <div class="item">
                                        <span class="cropper">
                                            <img src="/content/produtos/@iten.ProdutoTamanho.Produto.ID/thumb/@iten.ProdutoTamanho.Produto.Foto" alt="@iten.ProdutoTamanho.Produto.Nome" />
                                        </span>
                                        <p>
                                            @{
                                                string NomeCoroa = iten.ProdutoTamanho.Produto.Nome;
                                                decimal Valor = iten.Valor;
                                                NomeCoroa = NomeCoroa.Replace("Coroa de Flores", "");
                                            }
                                            @NomeCoroa
                                            <br />
                                            <small>@Valor.ToString("C") - @iten.ProdutoTamanho.Tamanho.Nome</small>
                                        </p>
                                    </div>
                                                }
                            }
                            <div class="finish">
                                <a href="/carrinho" class="btn btn-checkout">Finalizar Compra</a>
                            </div>
                        </div>
                    </nav>
                                                }
}
