﻿@model Domain.Entities.Carrinho   
@{
    Layout = null;
}


@{
    if (Request.Path.ToLower() == "/empresasparceiras"
        || Request.Path.ToLower() == "/v3"
        || Request.Path.ToLower() == "/v4"
        || Request.Path.ToLower() == "/pedido/compraclick"
        || Request.Path.ToLower() == "/avaliacao"
        || Request.Path == "/"
        || Request.Path == "/solucoes-corporativas"
        || Request.Path.StartsWith("/coroa-de-flores")
        || Request.Path.StartsWith("/coroas-de-flores")
        || Request.Path.StartsWith("/carrinho") 
        || Request.Path.StartsWith("/Cliente") 
        || Request.Path == "/cadastre-se" 
        || Request.Path == "/pedido" 
        || Request.Path == "/frases-de-homenagens")
    {
        @Model.Itens.Count
    }
    else
    {
        <div class="CarrinhoM">
            <a href="/carrinho"><img src="/content/imagens/carrinho3.png" class="CarrinhoM2" alt="Carrinho" /></a>
            <div class="CarrinhoMQtde"><a href="/carrinho">@Model.Itens.Count</a></div>
        </div>
    }
}
