﻿@model Domain.Entities.Carrinho
@{
    Layout = null;
}
@{
    if (Model.Itens.Count > 0)
    {
        <nav class="cart">
            <button class="icon_cart"><span>@Model.Itens.Count</span></button>
            <div class="drop">
                @{
                    foreach (var iten in Model.Itens)
                    {
                        <div class="item">
                            <span class="cropper">
                                <img src="/content/produtos/@iten.ProdutoTamanho.Produto.ID/thumb/@iten.ProdutoTamanho.Produto.Foto" alt="@iten.ProdutoTamanho.Produto.Nome" />
                            </span>
                            <p>
                                @{
                                    string NomeCoroa = iten.ProdutoTamanho.Produto.Nome;
                                    decimal Valor = iten.Valor;
                                    NomeCoroa = NomeCoroa.Replace("Coroa de Flores", "");
                                }
                                @NomeCoroa
                                <br />
                                <small>@Valor.ToString("C") - @iten.ProdutoTamanho.Tamanho.Nome</small>
                            </p>
                        </div>
                    }
                }
                <div class="finish">
                    <a href="/carrinho" class="btn btn-checkout">Finalizar Compra</a>
                </div>
            </div>
        </nav>

    }

    else
    {
        <li>
            <span>
                <strong>24</strong>
                Horas
            </span>
        </li>
    }

}
