﻿#Fornecedores header img{
    max-width: 150px;
    padding: 20px;
}

#Fornecedores header{
    text-align: center;
}

#STEPONE{
    text-align: center;
    padding: 20px;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {    
    border-radius: 4px;
    padding: 18px 13px;
    margin: 2px;    
    display: inline-block;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}