﻿@{
    ViewBag.Title = "Index";
    ViewBag.H1 = "Novo Pedido";
    ViewBag.P = "Nessa tela você poderá dar início ao seu pedido. Para efetua-lo, por favor, selecione primeiro a ocasião desejada e após esta etapa, você será redirecionado para uma página com os produtos correspondentes.";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml"; 
}

@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {

            var item = $("#menu-pedido");
            item.removeClass("hover");
            var img = item.children("img:first");
            img.attr("src", img.attr("src").replace('-off', '-on'));

        }); 
    </script>
} 


@if (Request.QueryString["sucesso"] == "sim")
{
    <div class="pedidoSucesso">
        <h3>Seu pedido foi concluído com sucesso!</h3>
        <span>Navegue pelas categorias abaixo para realizar um novo pedido</span>
    </div>
}
<br />
<a name="novo"></a>
    @Html.Partial("Categorias")