﻿@{
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    var produtosTamanhos = (IEnumerable<Domain.Entities.EmpresaProdutoTamanho>)ViewBag.ProdutosTamanhos;
    var produto = (Domain.Entities.Produto)ViewBag.Produto;
    var dirCdn = @System.Configuration.ConfigurationManager.AppSettings["CDN_IMG"].ToString();
    var imgUrl = "/produtos/" + produto.ID + "/thumb/" + produto.Foto;

    ViewBag.Title = "Index";
    ViewBag.H1 = "Finalização de Pedido";
    ViewBag.P = "";
    ViewBag.ProdutoNome = produto.Nome;

    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form id="form-pedido" action="" method="post" class="form-horizontal">
            <div class="col-md-6 ">
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Colaborador(a)
                    </label>
                    <div class="col-md-12">
                        <input id="pessoa-homenageada" name="pessoa-homenageada" placeholder="digite o nome" type="text" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Ordem de Compra
                    </label>
                    <div class="col-md-12">
                        <input id="ordem-de-compra" name="ordem-de-compra" placeholder="digite a ordem de compra" type="text" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Telefone do Colaborador
                    </label>
                    <div class="col-md-12">
                        <input id="telefone-contato-homenageado" name="telefone-contato-homenageado" placeholder="telefone do homenageado" type="text" class="form-control input-md" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Frase para homenagem
                    </label>
                    <div class="col-md-12">
                        @if (empresa.FraseFixa)
                        {
                            var Categoria = 0;

                            switch (produto.Tipo)
                            {
                                case Domain.Entities.Produto.Tipos.ArranjoFlor: //Flores para Presentes
                                    Categoria = 5;
                                    break;
                                case Domain.Entities.Produto.Tipos.Kitsbebe: //Kit Bebê
                                    Categoria = 8;
                                    break;
                                case Domain.Entities.Produto.Tipos.Aniversario: //Eventos Corporativos
                                    Categoria = 4;
                                    break;
                                case Domain.Entities.Produto.Tipos.CoroaFlor: //Coroas de Flores
                                    Categoria = 1;
                                    break;
                                case Domain.Entities.Produto.Tipos.Datas: //Arranjos e Kits de Maternidade
                                    Categoria = 2;
                                    break;
                                case Domain.Entities.Produto.Tipos.Eventos: //Decoração de Escritório
                                    Categoria = 3;
                                    break;
                                case Domain.Entities.Produto.Tipos.Personalizado:
                                    Categoria = 100;
                                    break;
                            }

                            var ListFrases = empresa.EmpresaFrases.Where(r => r.Categoria == Categoria).ToList();


                            if (ListFrases.Count == 0)
                            {
                                <select id="frases" name="frases">
                                    <option value="">-- selecione uma sugestão --</option>
                                    <optgroup label="COLEGAS DE TRABALHO"></optgroup>
                                    <optgroup label="- Mais Usadas">
                                        <option value="Sentimentos dos Amigos da (nome da empresa)">
                                            Sentimentos dos Amigos da
                                            (nome da empresa)
                                        </option>
                                        <option value="Homenagem dos Amigos da (nome da empresa)">
                                            Homenagem dos Amigos da (nome
                                            da empresa)
                                        </option>
                                        <option value="Condolências dos Amigos da (nome da empresa)">
                                            Condolências dos Amigos
                                            da (nome da empresa)
                                        </option>
                                        <option value="Saudades dos Amigos da (nome da empresa)">
                                            Saudades dos Amigos da (nome
                                            da empresa)
                                        </option>
                                    </optgroup>
                                    <optgroup label="- Sofisticadas">
                                        <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">
                                            Com
                                            carinho, sinceros sentimentos dos Colegas da (nome da empresa)
                                        </option>
                                        <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">
                                            Sinceras condolências dos Diretores e Funcionários da (nome da empresa)
                                        </option>
                                        <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">
                                            Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)
                                        </option>
                                        <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">
                                            Condolências
                                            dos Diretores e Colaboradores da (nome da empresa)
                                        </option>
                                        <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">
                                            Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)
                                        </option>
                                    </optgroup>
                                    <optgroup label="- Empresas">
                                        <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>
                                        <option value="Sentimentos aos familiares – (nome da empresa)">
                                            Sentimentos aos familiares
                                            – (nome da empresa)
                                        </option>
                                        <option value="Condolências aos familiares – (nome da empresa)">
                                            Condolências aos familiares
                                            – (nome da empresa)
                                        </option>
                                        <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">
                                            Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos
                                        </option>
                                    </optgroup>
                                    <optgroup label="FAMILIARES">
                                        <option value="Uma homenagem de toda a Família (sobrenome da família)">
                                            Uma homenagem
                                            de toda a Família (sobrenome da família)
                                        </option>
                                        <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">
                                            Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)
                                        </option>
                                        <option value="Sinceras condolências de toda a Família (sobrenome da família)">
                                            Sinceras
                                            condolências de toda a Família (sobrenome da família)
                                        </option>
                                        <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">
                                            Condolências aos amigos e parentes – Família (sobrenome da família)
                                        </option>
                                        <option value="Com carinho, uma homenagem da Família (sobrenome)">
                                            Com carinho, uma homenagem
                                            da Família (sobrenome)
                                        </option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">
                                            À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família
                                            (sobrenome)
                                        </option>
                                        <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">
                                            Saudades de todos os seus familiares – Família (sobrenome da família)
                                        </option>
                                    </optgroup>
                                    <optgroup label="AMIGOS PRÓXIMOS">
                                        <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">
                                            Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)
                                        </option>
                                        <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">
                                            Saudades
                                            eternas de uma pessoa especial – Amigos da (referência)
                                        </option>
                                        <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">
                                            "Obrigado
                                            por fazer parte de nossas vidas – Amigos da (referência)
                                        </option>
                                        <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">
                                            Você sempre estará presente em nossos corações – Amigos da (referência)
                                        </option>
                                        <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">
                                            Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)
                                        </option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">
                                            À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos
                                            da (referência)
                                        </option>
                                        <option value="Descanse em paz e vá com Deus – Amigos da (referência)">
                                            Descanse em paz
                                            e vá com Deus – Amigos da (referência)
                                        </option>
                                        <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">
                                            Foi
                                            uma honra contar com a sua amizade – Amigos da (referência)
                                        </option>
                                        <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">
                                            Ao melhor
                                            amigo do mundo – (nome da pessoa que está enviando)
                                        </option>
                                    </optgroup>
                                </select>
                                <a id="personalizar" href="javascript:void(0);" onclick="Personalizar()" style="font-size: 14px;
                                      text-decoration: underline">personalizar</a>
                                <a id="escolher" href="javascript:void(0);" onclick="Escolher()" style="display: none;
                                                                                                         font-size: 14px; text-decoration: underline; margin-bottom: 15px; float: right">
                                    escolher outra frase
                                </a>
                            }
                            else
                            {
                                foreach (var frase in ListFrases)
                                {
                                    <select id="frases" name="frases">
                                        <option value="">-- escolha uma frase --</option>
                                        <option value="@frase.Frase">@frase.Frase</option>
                                        }
                                    </select>
                                }
                            }

                        }
                        <input class="form-control input-md" id="mensagem" name="mensagem" type="text" style="@(empresa.FraseFixa ? "display:none;" : "")" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        CEP do Local de Entrega
                    </label>
                    <div class="col-md-12">
                        <input id="LocalEntregaSearch" style="max-width: 100px" name="LocalEntregaSearch" placeholder="00000-000" type="text" class="form-control input-md" />
                    </div>
                </div>
                <img id="LoadingCEP" style="display: none;" src="/Content/images/loading.gif" />
                <div class="panel panel-default" id="AdrressPanel" style="display: none;">
                    <div class="panel-heading">
                        Locao de Entrega não Selecionado
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <p class="Logradouro">
                                <b>Logradouro:</b> <span>N/A</span>
                                <input type="hidden" id="LogradouroEntrega" />
                            </p>
                            <p class="Bairro">
                                <b>Bairro:</b> <span>N/A</span>
                                <input type="hidden" id="BairroEntrega" />
                            </p>
                            <p class="NR">
                                <b style="float: left">NR:</b> <input id="NrEntrega" style="max-width: 100px; position: relative; left: 10px;" name="NrEntrega" type="text" class="form-control input-md left" />
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="CEP">
                                <b>CEP:</b> <span>N/A</span>
                                <input type="hidden" id="CepEntrega" />
                            </p>
                            <p class="Cidade">
                                <b>Cidade:</b> <span>N/A</span>
                            </p>
                            <p class="Estado">
                                <b>Estado:</b> <span>N/A</span>
                            </p>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr />
                        <div id="PrazoDeEntrega">
                            <p class="Loading">
                                Calculando prazo de entrega <img src="/Content/images/loading.gif" />
                            </p>
                            <div class="Result">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Complemento do Local de Entrega <i style="font-weight: initial; font-size: 12px;">(Insira todas as informações que você tem e podem ajudar na entrega do presente! :) )</i>
                    </label>
                    <div class="col-md-12">
                        <input id="ComplementoLocalEntrega" name="ComplementoLocalEntrega"
                               placeholder="digite o complemento do local de entrega"
                               type="text" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Data de Entrega
                    </label>
                    <div class="col-md-4">
                        <input id="data" name="data" placeholder="DD/MM/AAAA" type="text" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Por favor, insira um telefone para o caso de precisarmos de um contato imediato referente à este pedido
                    </label>
                    <div class="col-md-12">
                        <input id="telefone-contato-alternativo" name="telefone-contato-alternativo" placeholder="telefone para contato imediato"
                               type="text" class="form-control input-md" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@produto.Nome</h2>
                    </div>
                    <div class="col-md-12">
                        <p>
                            @Html.Raw(produto.Descricao)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 text-center">

                            <img src=@string.Format("{0}{1}", dirCdn, imgUrl) style="margin: 5px" alt="@produto.Nome">
                            @*<img src="@Url.Content("~/Content/" + "/Produtos/" + produto.ID + "/thumb/" + produto.Foto)" style="margin: 5px" alt="@produto.Nome" />*@
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <br />
                                    <br />
                                    @foreach (var item in produto.ProdutoTamanhoes)
                                    {
                                        var produtotamanho = produtosTamanhos.Where(c => c.ProdutoTamanhoID == item.ID).FirstOrDefault();
                                        if (produtotamanho != null)
                                        {
                                            <div class="radio">
                                                <label for="@item.ID">
                                                    <input type="radio" name="produto" id="produto" value="@item.ID" checked="checked">
                                                    @item.Tamanho.Nome
                                                </label>
                                                <span style="font-size:20px;" data-id="@produtotamanho.Valor.ToString("N2").Replace(".", "").Replace(",", ".")" class="itemvalor">@produtotamanho.Valor.ToString("C2")</span>
                                            </div>
                                        }
                                        else if (!ViewBag.SoExibeProdutosConveniados)
                                        {
                                            <div class="radio">
                                                <label for="@item.ID">
                                                    <input type="radio" value="@item.ID" name="produto" id="produto" />
                                                    @item.Tamanho.Nome
                                                </label>
                                                <span style="font-size:20px;" data-id="@item.Preco.ToString("N2").Replace(".", "").Replace(",", ".")" class="itemvalor">@item.Preco.ToString("C2")</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="cold-md-12 pull-right">
                                    <a class="linkDesconto" href="#">usar cupom de desconto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 9px;">
                    <div class="cold-md-12 cupomDesc hidden">
                        <div class="input-group">
                            <span class="input-group-addon">Cupom</span>
                            <input id="cupom" name="cupom" type="text" placeholder="digite o código" class="form-control" />
                            <span class="input-group-btn">
                                <button id="validar" class="btn btn-default" value="validar" type="button">
                                    Validar!
                                </button>
                            </span>
                        </div>
                    </div>
                    <p class="col-md-12 text-center">
                        <span id="mensagem-cupom"></span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="cold-md-12 text-center">
        @if (produto.ProdutoTamanhoes.Count > 0)
        {
            <input type="submit" value="Finalizar pedido" class="btn  btn-lg btn-success" id="finalizar" />
            <div class="processando" id="processando">
                Processando, por favor, aguarde...</div>
        }
    </div>
</div>
<br />
<br />
<div class="conteudo4 box-radius" style="padding: 0px;">
    <a name="novo"></a>
</div>
@section Script{

   
    <script type="text/javascript">

        function openDadosAdicionais() {
            $('#dadosadicionais').show();
            $('#botaoDados').hide();
        }

        function ShowDesconto() {
            $(".linkDesconto").hide();
            $(".cupomDesc").show();
        }

        function GetPrazoEntregaMandae(CEP) {
            $("#PrazoDeEntrega .Loading").addClass("active");
            $('#PrazoDeEntrega .Result').html("");

            $.get("/empresas/Home/GetCotacaoEntrega?cep="+ CEP.replace("-", ""))
                .done(function (data) {

                    if (data.Erro != null) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Houve um erro ao carregar o prazo de entrega!'                            
                        });

                        $("#PrazoDeEntrega .Loading").removeClass("active");
                        $("#PrazoDeEntrega .Result").addClass("active");
                    } else {
                        $.each(data.shippingServices, function (index, obj) {
                            if (obj.name != "Econômico") {

                                var nameEntrega = obj.name;
                                var Dias = obj.days + 2;

                                if (nameEntrega == "Rápido") {
                                    nameEntrega = "Prazo Previsto";
                                }

                                if ($(".Cidade span").html() == "São Paulo") {
                                    Dias = 3;
                                }

                                $('#PrazoDeEntrega .Result').append("<span>" + nameEntrega + ": <b>" + Dias + " dias úteis</b></span><br />");
                            }
                        });

                        $('#PrazoDeEntrega .Result').append("<br /><p>Nota: <br />Entrega somente em horário comercial.</p>");
                        $('#PrazoDeEntrega .Result').append("<p>Trabalhamos com diversos operadores logísticos para acelerar a sua entrega, faremos de tudo para o seu kit chegar antes desse prazo.</p>");
                    }

                    

                $("#PrazoDeEntrega .Loading").removeClass("active");
                $("#PrazoDeEntrega .Result").addClass("active");
            });
        }

        function ShowErroAPiGoogle() {
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text: 'Local selecionado não é um endereço válido!',
                footer: 'Digite na busca o endereço completo inclusive o número. Ex: Rua Exemplo, 190, São Paulo'
            });
        }

        $(document).ready(function () {

            //Selecionando tamanho de menor valor
            $("input[name='produto']:first").attr("Checked", "Checked");


            //#AUTO COMPLETE GOOGLE
            //var options = {
            //    url: function (phrase) {
            //        return "https://maps.googleapis.com/maps/api/geocode/json?address=" + phrase + "&key=AIzaSyDB3ScFFKLGIjkEtJEw-4FmuMAw_FzJeT4&language=pt-BR&region=br";
            //    },
            //    list: {
            //        onClickEvent: function () {
            //            var hiddenLocal = $("#LocalEntregaSearch").getSelectedItemData();
            //            if (hiddenLocal.types[0] != "street_address" && hiddenLocal.types[0] != "establishment") {
            //                ShowErroAPiGoogle();
            //            }
            //            else {
            //                var PostalCod;
            //                var StreetNumber;
            //                var Street;
            //                var Neighborhood;
            //                var Cidade;
            //                var Estado;

            //                $.each(hiddenLocal.address_components, function (i, v) {
            //                    if (v.types[0] == "postal_code") {
            //                        PostalCod = v.short_name;
            //                    }
            //                    if (v.types[0] == "street_number") {
            //                        StreetNumber = v.short_name;
            //                    }
            //                    if (v.types[0] == "route") {
            //                        Street = v.short_name;
            //                    }
            //                    if (v.types[0] == "political") {
            //                        Neighborhood = v.short_name;
            //                    }
            //                    if (v.types[0] == "administrative_area_level_2") {
            //                        Cidade = v.short_name;
            //                    }
            //                    if (v.types[0] == "administrative_area_level_1") {
            //                        Estado = v.short_name;
            //                    }
            //                });

            //                if (PostalCod.length == 5) {
            //                    ShowErroAPiGoogle();
            //                    return;
            //                }

            //                if (PostalCod != "" && PostalCod != undefined &&
            //                    StreetNumber != "" && StreetNumber != undefined &&
            //                    Street != "" && Street != undefined &&
            //                    Neighborhood != "" && Neighborhood != undefined &&
            //                    Cidade != "" && Cidade != undefined &&
            //                    Estado != "" && Estado != undefined) {

            //                    $("#AdrressPanel").removeClass("panel-default");
            //                    $("#AdrressPanel").addClass("panel-success");
            //                    $("#AdrressPanel .panel-heading").html("Local de Entrega Selecionado");

            //                    $(".Logradouro span").html(Street);
            //                    $(".Bairro span").html(Neighborhood);
            //                    $(".NR span").html(StreetNumber);
            //                    $(".CEP span").html(PostalCod);

            //                    $("#NrEntrega").val(StreetNumber);
            //                    $("#CepEntrega").val(PostalCod);
            //                    $("#LogradouroEntrega").val(Street);
            //                    $("#BairroEntrega").val(Neighborhood);

            //                    $(".Cidade span").html(Cidade);
            //                    $(".Estado span").html(Estado);
            //                }

            //                GetPrazoEntregaMandae(PostalCod);
            //            }
            //        }
            //    },
            //    requestDelay: 500,
            //    listLocation: "results",
            //    getValue: "formatted_address"
            //};
            //$("#LocalEntregaSearch").easyAutocomplete(options);
            //#AUTO COMPLETE GOOGLE

            $("#LocalEntregaSearch").keyup(function () {

                var CEP = $(this).val();
                CEP = CEP.replace("_", "");
                CEP = CEP.replace("-", "");

                if (CEP.length != 8) {
                    return;
                }

                $("#LoadingCEP").show();

                $.get("/empresas/Home/GetEndereco?CEP=" + CEP)
                    .done(function (data) {

                        $("#LoadingCEP").hide();

                        if (data.Erro != null) {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: data.Erro
                            });

                            $("#PrazoDeEntrega .Loading").removeClass("active");
                            $("#PrazoDeEntrega .Result").addClass("active");
                        }
                        else {

                            var PostalCod;
                            var Street;
                            var Neighborhood;
                            var Cidade;
                            var Estado;

                            PostalCod = CEP;
                            Street = data.Lagradouro;
                            Neighborhood = data.Bairro;
                            Cidade = data.Cidade;
                            Estado = data.UF;

                            if (PostalCod != "" && PostalCod != undefined &&
                                Street != "" && Street != undefined &&
                                Neighborhood != "" && Neighborhood != undefined &&
                                Cidade != "" && Cidade != undefined &&
                                Estado != "" && Estado != undefined) {

                                $("#AdrressPanel").removeClass("panel-default");
                                $("#AdrressPanel").addClass("panel-success");
                                $("#AdrressPanel .panel-heading").html("Local onde o pedido será entrege");

                                $(".Logradouro span").html(Street);
                                $(".Bairro span").html(Neighborhood);
                                $(".CEP span").html(PostalCod);

                                $("#CepEntrega").val(PostalCod);
                                $("#LogradouroEntrega").val(Street);
                                $("#BairroEntrega").val(Neighborhood);

                                $(".Cidade span").html(Cidade);
                                $(".Estado span").html(Estado);

                                $("#AdrressPanel").show();

                                GetPrazoEntregaMandae(CEP);
                            }
                        }

                        $("#PrazoDeEntrega .Loading").removeClass("active");
                        $("#PrazoDeEntrega .Result").addClass("active");
                    });            
            });

            $(".linkDesconto").click(function () {
                $(".linkDesconto").hide();
                $(".cupomDesc").removeClass("hidden");
                return false;
            });
           
            $('#frases').change(function () {
                $('#mensagem').val($('#frases').val());
            });

            $("#finalizar").click(function () {
                $("#form-pedido").submit();
            });

            $('#validar').click(function () {
                var cupom = $('#cupom').val();
                if (cupom != null && cupom != "") {
                    $.post('@Url.Action("ValidaCupom")', { codigo: cupom }, function (data) {
                        if (data.retorno == "OK") {
                            $(".itemvalor").each(function (index) {
                                var valor = $(this).attr("data-id");
                                if (data.tipo == 2) {
                                    valor = valor - data.valor;
                                    if (valor < 0)
                                        valor = 0;
                                } else if (data.tipo == 1) {
                                    valor = valor * (1 - data.valor / 100);
                                    if (valor < 0)
                                        valor = 0;
                                }
                                var strvalor = "R$ " + valor.toFixed(2).replace(".", ",");
                                $(this).text(strvalor);
                            });
                        }
                        $('#mensagem-cupom').html(data.mensagem);
                    });
                }
            });

            $('#telefone-contato').mask('(99) 99999999?9');
            $('#telefone-contato-alternativo').mask('(99) 99999999?9');
            $('#telefone-contato-homenageado').mask('(99) 99999999?9');
            $("#data").mask("99/99/9999");
            $("#NrEntrega").mask("9?99999999");

            $("#LocalEntregaSearch").mask("99999-999");

            $("#data").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#form-pedido").validate({
                meta: 'validate',
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) {
                        if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i)
                    } t.focusInvalid()
                },
                submitHandler: function (form) {
                    var produto = $('#produto:checked').val();
                    if (produto == '') {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Selecione um produto'
                        });                        
                    }
                    else if ($("#NrEntrega").val() == '' || $("#CepEntrega").val() == '') {
                        ShowErroAPiGoogle();
                    }
                    else {
                        $('#finalizar').hide();
                        $('#processando').show();

                            var pessoaHomenageada = $('#pessoa-homenageada').val();
                            var ordemdecompra = $('#ordem-de-compra').val();
                            var mensagem = $('#mensagem').val();
                            var nomeFuncionario = $('#nome-funcionario').val();
                            var parentesco = $('#parentesco').val();
                            var departamento = $('#departamento').val();
                            var data = $('#data').val();                            
                            var localEntregaComplemento = $('#ComplementoLocalEntrega').val();
                            var observacoes = $('#observacoes').val();
                            
                            var telefoneContatoAlternativo = $('#telefone-contato-alternativo').val();
                            var ContatoHomenageado = $('#telefone-contato-homenageado').val();

                            var cupom = $('#cupom').val();
                            
                            var NrEntrega = $("#NrEntrega").val();
                            var CepEntrega = $("#CepEntrega").val();
                            var LogradouroEntrega = $("#LogradouroEntrega").val();
                            var BairroEntrega = $("#BairroEntrega").val();
                            var CidadeEntrada = $(".Cidade span").html();

                            $.post('@Url.Action("CriarKitBB")',
                                {
                                    produto: produto,
                                    pessoaHomenageada: pessoaHomenageada,
                                    ordemdecompra: ordemdecompra,
                                    mensagem: mensagem,
                                    nomeFuncionario: nomeFuncionario,
                                    parentesco: parentesco,                                    
                                    localEntregaComplemento: localEntregaComplemento,
                                    observacoes: observacoes,
                                    telefoneContato: ContatoHomenageado,
                                    telefoneContatoAlternativo: telefoneContatoAlternativo,
                                    codigo: cupom,
                                    data: data,
                                    ContatoHomenageado: ContatoHomenageado, 
                                    NrEntrega: NrEntrega,
                                    CepEntrega: CepEntrega, 
                                    LogradouroEntrega: LogradouroEntrega, 
                                    BairroEntrega: BairroEntrega, 
                                    CidadeEntrada: CidadeEntrada
                                },
                                function (data) {
                                    if (data == 'OK') {
                                        alert('Seu pedido foi criado com sucesso.\n\nObrigado!');
                                        window.location = '/empresas/pedido?sucesso=sim';
                                    }
                                    else if (data == 'BOLETO') {
                                        alert('Seu pedido foi criado com sucesso.\n\n\Obrigado!\n\nVocê será redirecionado para página de impressão do boleto.');
                                        window.location = '/empresas/faturas?sucesso=sim';
                                    } else {
                                        $('#finalizar').show();
                                        $('#processando').hide();
                                        alert(data);
                                    }
                                }).fail(function (data) {
                                    alert(data);
                                });
                    }
                },
                rules: {
                    'data': 'required',
                    'produto': 'required',
                    'telefone-contato-alternativo': 'required',  
                    'pessoa-homenageada': 'required',
                    'telefone-contato-homenageado': 'required', 
                    'NrEntrega': 'required',
                    'LocalEntregaSearch': 'required'
                },
                messages: {
                    'data': 'Preencha a Data',
                    'produto': 'Selecione o tamanho do produto',
                    'telefone-contato-alternativo': 'Preencha um contato de urgência ',
                    'pessoa-homenageada': 'Preencha o Homenageado',
                    'telefone-contato-homenageado': 'Preencha o telefone de contato',
                    'NrEntrega': 'Preencha o número de entrega',
                    'LocalEntregaSearch': 'Preencha o CEP de entrega'
                }
            });
        });


        function Personalizar() {
            $('#escolher').show();
            $('#mensagem').show();
            $('#personalizar').hide();
            $('#frases').hide();
        }

        function Escolher() {
            $('#escolher').hide();
            $('#mensagem').hide();
            $('#personalizar').show();
            $('#frases').show();
        }

    </script>
}
