﻿@{
    var relacionamentos = (IEnumerable<Domain.Entities.Relacionamento>)ViewBag.Relacionamentos;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    var produtosTamanhos = (IEnumerable<Domain.Entities.EmpresaProdutoTamanho>)ViewBag.ProdutosTamanhos;
    var produto = (Domain.Entities.Produto)ViewBag.Produto;
    var dirCdn = @System.Configuration.ConfigurationManager.AppSettings["CDN_IMG"].ToString();
    var imgUrl = "/produtos/" + produto.ID + "/thumb/" + produto.Foto;

    ViewBag.Title = "Index";
    ViewBag.H1 = "Finalização de Pedido";
    ViewBag.P = "";
    ViewBag.ProdutoNome = produto.Nome;
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form id="form-pedido" action="" method="post" class="form-horizontal">
            <div class="col-md-6 ">
                <div class="form-group">
                    @if (produto.Tipo == Domain.Entities.Produto.Tipos.ArranjoFlor)
                    {
                        <label class="col-md-12 control-label" for="textinput">
                            Nome mãe e da criança
                        </label>
                    }
                    else
                    {
                        <label class="col-md-12 control-label" for="textinput">
                            Pessoa Homenageada
                        </label>
                    }
                    <div class="col-md-12">
                        <input id="pessoa-homenageada" name="pessoa-homenageada" placeholder="digite o nome"
                               type="text" class="form-control input-md" />
                    </div>
                </div>

                @if (produto.Tipo == Domain.Entities.Produto.Tipos.Kitsbebe)
                {
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Telefone Homenageado <i style="font-weight: initial; font-size: 12px;">(Necessário para evitar problemas na hora da entrega)</i>
                        </label>
                        <div class="col-md-12">
                            <input id="telefone-contato-homenageado" name="telefone-contato-homenageado" placeholder="telefone do homenageado" type="text" class="form-control input-md" />
                        </div>
                    </div>
                }

                @*<div class="form-group">
            <label class="col-md-12 control-label" for="textinput">
                Para agilizarmos em contratempos, insira o telefone do homenageado
            </label>
            <div class="col-md-12">
                <input id="telefone-contato-alternativo" name="telefone-contato-alternativo" placeholder="telefone para contato com o homenageado"
                       type="text" class="form-control input-md" />
            </div>
        </div>*@
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Ordem de Compra
                    </label>
                    <div class="col-md-12">
                        <input id="ordem-de-compra" name="ordem-de-compra" placeholder="digite a ordem de compra" type="text" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Frase para homenagem
                    </label>
                    <div class="col-md-12">
                        @if (empresa.FraseFixa)
                        {
                            var Categoria = 0;

                            switch (produto.Tipo)
                            {
                                case Domain.Entities.Produto.Tipos.ArranjoFlor: //Flores para Presentes
                                    Categoria = 5;
                                    break;
                                case Domain.Entities.Produto.Tipos.Kitsbebe: //Kit Bebê
                                    Categoria = 8;
                                    break;
                                case Domain.Entities.Produto.Tipos.Aniversario: //Eventos Corporativos
                                    Categoria = 4;
                                    break;
                                case Domain.Entities.Produto.Tipos.CoroaFlor: //Coroas de Flores
                                    Categoria = 1;
                                    break;
                                case Domain.Entities.Produto.Tipos.Datas: //Arranjos e Kits de Maternidade
                                    Categoria = 2;
                                    break;
                                case Domain.Entities.Produto.Tipos.Eventos: //Decoração de Escritório
                                    Categoria = 3;
                                    break;
                                case Domain.Entities.Produto.Tipos.Personalizado:
                                    Categoria = 100;
                                    break;
                            }

                            var ListFrases = empresa.EmpresaFrases.Where(r => r.Categoria == Categoria).ToList();


                            if (ListFrases.Count == 0)
                            {
                                <select id="frases" name="frases">
                                    <option value="">-- selecione uma sugestão --</option>
                                    <optgroup label="COLEGAS DE TRABALHO"></optgroup>
                                    <optgroup label="- Mais Usadas">
                                        <option value="Sentimentos dos Amigos da (nome da empresa)">
                                            Sentimentos dos Amigos da
                                            (nome da empresa)
                                        </option>
                                        <option value="Homenagem dos Amigos da (nome da empresa)">
                                            Homenagem dos Amigos da (nome
                                            da empresa)
                                        </option>
                                        <option value="Condolências dos Amigos da (nome da empresa)">
                                            Condolências dos Amigos
                                            da (nome da empresa)
                                        </option>
                                        <option value="Saudades dos Amigos da (nome da empresa)">
                                            Saudades dos Amigos da (nome
                                            da empresa)
                                        </option>
                                    </optgroup>
                                    <optgroup label="- Sofisticadas">
                                        <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">
                                            Com
                                            carinho, sinceros sentimentos dos Colegas da (nome da empresa)
                                        </option>
                                        <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">
                                            Sinceras condolências dos Diretores e Funcionários da (nome da empresa)
                                        </option>
                                        <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">
                                            Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)
                                        </option>
                                        <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">
                                            Condolências
                                            dos Diretores e Colaboradores da (nome da empresa)
                                        </option>
                                        <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">
                                            Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)
                                        </option>
                                    </optgroup>
                                    <optgroup label="- Empresas">
                                        <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>
                                        <option value="Sentimentos aos familiares – (nome da empresa)">
                                            Sentimentos aos familiares
                                            – (nome da empresa)
                                        </option>
                                        <option value="Condolências aos familiares – (nome da empresa)">
                                            Condolências aos familiares
                                            – (nome da empresa)
                                        </option>
                                        <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">
                                            Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos
                                        </option>
                                    </optgroup>
                                    <optgroup label="FAMILIARES">
                                        <option value="Uma homenagem de toda a Família (sobrenome da família)">
                                            Uma homenagem
                                            de toda a Família (sobrenome da família)
                                        </option>
                                        <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">
                                            Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)
                                        </option>
                                        <option value="Sinceras condolências de toda a Família (sobrenome da família)">
                                            Sinceras
                                            condolências de toda a Família (sobrenome da família)
                                        </option>
                                        <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">
                                            Condolências aos amigos e parentes – Família (sobrenome da família)
                                        </option>
                                        <option value="Com carinho, uma homenagem da Família (sobrenome)">
                                            Com carinho, uma homenagem
                                            da Família (sobrenome)
                                        </option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">
                                            À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família
                                            (sobrenome)
                                        </option>
                                        <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">
                                            Saudades de todos os seus familiares – Família (sobrenome da família)
                                        </option>
                                    </optgroup>
                                    <optgroup label="AMIGOS PRÓXIMOS">
                                        <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">
                                            Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)
                                        </option>
                                        <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">
                                            Saudades
                                            eternas de uma pessoa especial – Amigos da (referência)
                                        </option>
                                        <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">
                                            "Obrigado
                                            por fazer parte de nossas vidas – Amigos da (referência)
                                        </option>
                                        <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">
                                            Você sempre estará presente em nossos corações – Amigos da (referência)
                                        </option>
                                        <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">
                                            Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)
                                        </option>
                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">
                                            À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos
                                            da (referência)
                                        </option>
                                        <option value="Descanse em paz e vá com Deus – Amigos da (referência)">
                                            Descanse em paz
                                            e vá com Deus – Amigos da (referência)
                                        </option>
                                        <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">
                                            Foi
                                            uma honra contar com a sua amizade – Amigos da (referência)
                                        </option>
                                        <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">
                                            Ao melhor
                                            amigo do mundo – (nome da pessoa que está enviando)
                                        </option>
                                    </optgroup>
                                </select>
                                <a id="personalizar" href="javascript:void(0);" onclick="Personalizar()" style="font-size: 14px;
                                      text-decoration: underline">personalizar</a>
                                <a id="escolher" href="javascript:void(0);" onclick="Escolher()" style="display: none;
                                                                                                         font-size: 14px; text-decoration: underline; margin-bottom: 15px; float: right">
                                    escolher outra frase
                                </a>
                            }
                            else
                            {
                                foreach (var frase in ListFrases)
                                {
                                    <select id="frases" name="frases">
                                        <option value="">-- escolha uma frase --</option>
                                        <option value="@frase.Frase">@frase.Frase</option>
                                        }
                                    </select>
                                }
                            }

                        }
                        <input class="form-control input-md" id="mensagem" name="mensagem" type="text" style="@(empresa.FraseFixa ? "display:none;" : "")" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mws-form-row">
                            <label>Estado de Entrega</label>
                            <div class="mws-form-item small">
                                <select id="EstadoEntregaID" name="EstadoEntregaID">
                                    <option value="">-- selecione -- </option>
                                    @foreach (var estado in estados)
                                    {
                                        <option value="@estado.ID">@estado.Nome</option>
                                    }
                                </select>
                                @*@Html.DropDownList("EstadoEntregaID", (SelectList)ViewBag.Estados, "-- selecione -- ", new { @class = "mws-textinput" })*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mws-form-row">
                            <label>Cidade de Entrega</label>
                            <div class="mws-form-item small">
                                <select name="CidadeEntregaID" id="CidadeEntregaID" class="mws-textinput">
                                    <option>-- selecione --</option>
                                </select>
                                <span id="load_cidade_entrega" class="carregando-branco">Buscando cidades...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="mws-form-row">
                            <label>Local de Entrega</label>
                            <div class="mws-form-item small">
                                <input type="hidden" name="LocalID" id="LocalID" />
                                <input type="hidden" name="LocalEntrega" id="LocalEntrega" />
                                <select name="LocalEntregaID" id="LocalEntregaID" class="form-control input-md">
                                    <option>-- selecione --</option>
                                </select>
                                <span id="load_local_entrega" class="carregando-branco">Buscando locais...</span>
                            </div>
                            <i id="TelLEnt" style="display: none;">
                            </i>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="mws-form-row">
                        <label class="col-md-12 control-label" for="textinput">
                            Complemento do Local de Entrega
                        </label>
                        <div class="col-md-12">
                            <input id="ComplementoLocalEntrega" name="ComplementoLocalEntrega"
                                   placeholder="digite o complemento do local de entrega"
                                   type="text" class="form-control input-md" />
                        </div>
                    </div>
                </div>
                @*<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Estado</label>
                    <div class="col-md-12">
                        <select id="estado" name="estado">
                            <option value="">- estado -</option>
                            @foreach (var estado in estados)
                            {
                                <option value="@estado.ID">@estado.Nome</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Cidade</label>
                    <div class="col-md-12">
                        <select id="cidade" name="cidade">
                            <option value="">- cidade -</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Local de Entrega <small>(ATENÇÃO! Preencha o máximo de informações possíveis)</small>
                </label>
                <div class="col-md-12">
                    <input id="local" name="local" placeholder="digite o local" type="text" class="form-control input-md" />
                </div>
            </div>*@
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="textinput">
                                Data
                            </label>
                            <div class="col-md-12">
                                <input id="data" name="data" placeholder="data de entrega" type="text" class="form-control input-md" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="textinput">
                                Horário
                            </label>
                            <div class="col-md-12">
                                @if (produto.Tipo != Domain.Entities.Produto.Tipos.CoroaFlor)
                                {
                                    <select id="horario" name="horario">
                                        <option value=""> -- Escolha um Horário -- </option>
                                        <option value="8:00 às 11:00">8:00 às 11:00</option>
                                        <option value="11:00 às 15:00">11:00 às 15:00</option>
                                        <option value="15:00 às 18:00">15:00 às 18:00</option>
                                        <option value="Outro">Preencher Horário</option>
                                    </select>
                                    <input id="hora" name="hora" type="text" placeholder="hora da entrega" class="form-control input-md" style="margin-top: 6%; display:none" />
                                }
                                else
                                {
                                    <input id="hora" name="hora" type="text" placeholder="hora da entrega" class="form-control input-md" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12 control-label" for="textinput">
                        Por favor, insira um telefone para o caso de precisarmos de um contato imediato referente à este pedido
                    </label>
                    <div class="col-md-12">
                        <input id="telefone-contato-alternativo" name="telefone-contato-alternativo" placeholder="telefone para contato imediato"
                               type="text" class="form-control input-md" />
                    </div>
                </div>
                <center>
                    <a href="javascript:void(0);" onclick="openDadosAdicionais();" id="botaoDados">
                        clique
                        aqui para adicionar dados do colaborador
                    </a>
                </center>
                <div id="dadosadicionais" style="display: none;">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Funcionário ou Colaborador
                        </label>
                        <div class="col-md-12">
                            <input id="nome-funcionario" name="nome-funcionario" placeholder="digite o nome"
                                   type="text" class="form-control input-md" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Grau de parentesco
                        </label>
                        <div class="col-md-12">
                            <select id="parentesco" name="parentesco">
                                <option value="">- parentesco -</option>
                                <option value="Pai">Pai</option>
                                <option value="Mãe">Mãe</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Departamento
                        </label>
                        <div class="col-md-12">
                            <input id="departamento" placeholder="digite o departamento" name="departamento"
                                   type="text" class="form-control input-md" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Observações adicionais:
                        </label>
                        <div class="col-md-12">
                            <textarea id="observacoes" class="form-control input-md" name="observacoes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">
                            Telefone
                        </label>
                        <div class="col-md-12">
                            <input id="telefone-contato" name="telefone-contato" placeholder="telefone para contato"
                                   type="text" class="form-control input-md" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@produto.Nome</h2>
                    </div>
                    <div class="col-md-12">
                        <p>
                            @Html.Raw(produto.Descricao)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 text-center">

                            <img src=@string.Format("{0}{1}", dirCdn, imgUrl) style="margin: 5px" alt="@produto.Nome">
                            @*<img src="@Url.Content("~/Content/" + "/Produtos/" + produto.ID + "/thumb/" + produto.Foto)" style="margin: 5px" alt="@produto.Nome" />*@
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <br />
                                    <br />
                                    @foreach (var item in produto.ProdutoTamanhoes)
                                    {
                                        var produtotamanho = produtosTamanhos.Where(c => c.ProdutoTamanhoID == item.ID).FirstOrDefault();
                                        if (produtotamanho != null)
                                        {
                                            <div class="radio">
                                                <label for="@item.ID">
                                                    <input type="radio" name="produto" id="produto" value="@item.ID" checked="checked">
                                                    @item.Tamanho.Nome
                                                </label>
                                                <span style="font-size:20px;" data-id="@produtotamanho.Valor.ToString("N2").Replace(".", "").Replace(",", ".")" class="itemvalor">@produtotamanho.Valor.ToString("C2")</span>
                                            </div>
                                        }
                                        else if (!ViewBag.SoExibeProdutosConveniados)
                                        {
                                            <div class="radio">
                                                <label for="@item.ID">
                                                    <input type="radio" value="@item.ID" name="produto" id="produto" />
                                                    @item.Tamanho.Nome
                                                </label>
                                                <span style="font-size:20px;" data-id="@item.Preco.ToString("N2").Replace(".", "").Replace(",", ".")" class="itemvalor">@item.Preco.ToString("C2")</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="cold-md-12 pull-right">
                                    <a class="linkDesconto" href="#">usar cupom de desconto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 9px;">
                    <div class="cold-md-12 cupomDesc hidden">
                        <div class="input-group">
                            <span class="input-group-addon">Cupom</span>
                            <input id="cupom" name="cupom" type="text" placeholder="digite o código" class="form-control" />
                            <span class="input-group-btn">
                                <button id="validar" class="btn btn-default" value="validar" type="button">
                                    Validar!
                                </button>
                            </span>
                        </div>
                    </div>
                    <p class="col-md-12 text-center">
                        <span id="mensagem-cupom"></span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="cold-md-12 text-center">
        @if (produto.ProdutoTamanhoes.Count > 0)
        {
            <input type="submit" value="Finalizar pedido" class="btn  btn-lg btn-success" id="finalizar" />
            <div class="processando" id="processando">
                Processando, por favor, aguarde...</div>
        }
    </div>
</div>
<br />
<br />
<div class="conteudo4 box-radius" style="padding: 0px;">
    <a name="novo"></a>
</div>
@section Script{

    <!-- Verifica se está na categoria de Coroas-->
    @if (produto.Tipo == Domain.Entities.Produto.Tipos.CoroaFlor)
    {
        <script type="text/javascript">
            $("#hora").mask("99:99");
        </script>
    }
    
    <script type="text/javascript">
        function openDadosAdicionais() {
            $('#dadosadicionais').show();
            $('#botaoDados').hide();
        }

        function ShowDesconto() {
            $(".linkDesconto").hide();
            $(".cupomDesc").show();
        }

        $(document).ready(function () {

            var _nmCidadeEntregaSelecionada = '';
            var _idCidadeEntregaSelecionada = '';
            var _nmLocalEntregaSelecionado = '';
            var _idLocalEntregaSelecionado = '';
            $("#load_cidade_entrega").hide();
            $("#load_local_entrega").hide();

            //Selecionando tamanho de menor valor
            $("input[name='produto']:first").attr("Checked", "Checked");

            $("#finalizar").click(function () {

                @if (produto.Tipo == Domain.Entities.Produto.Tipos.Kitsbebe)
                 {
                     <text>
                if ($("#telefone-contato-homenageado").val() == "") {
                    alert('Digite o telefone de contato do Homenageado!');
                    return false;
                }
                </text>
                 }

                $("#form-pedido").submit();
            });

            $(".linkDesconto").click(function () {
                $(".linkDesconto").hide();
                $(".cupomDesc").removeClass("hidden");
                return false;
            });

            //            var item = $("#menu-pedido");
            //            item.removeClass("hover");
            //            var img = item.children("img:first");
            //            img.attr("src", img.attr("src").replace('-off', '-on'));

            $('#EstadoEntregaID').change(function () {
                var estado = $('#EstadoEntregaID').val();
                $('#CidadeEntregaID').html('<option value="">selecione uma cidade</option>');
                if (estado != null) {
                    $("#CidadeEntregaID").hide();
                    $("#load_cidade_entrega").show();

                    //$("#CidadeEntregaID").get(0).options.length = 0;
                    //$("#CidadeEntregaID").get(0).options[0] = new Option("-- selecione --", "");

                    $.post('@Url.Action("cidades")', { estadoID: estado },
                      function (data) {
                          var html = '<option value="">- cidade -</option>';
                          for (var c in data) {
                              html += '<option value="' + data[c].ID + '">' + data[c].Nome + '</option>';
                          }
                          $('#CidadeEntregaID').html(html);
                          $("#load_cidade_entrega").hide();
                          $("#CidadeEntregaID").show();
                      });
                }
            });
            $('EstadoEntregaID').val('');

            $("#CidadeEntregaID").change(function () {

                _nmCidadeEntregaSelecionada = $("#CidadeEntregaID option:selected").text().split("-")[0].trim();
                _idCidadeEntregaSelecionada = $("#CidadeEntregaID option:selected").attr('value');

                $("#LocalEntregaId").removeAttr("disabled");

                if ($("#LocalEntregaID").length > 0) {
                    $("#LocalEntregaID").hide();
                    $("#load_local_entrega").show();

                    $("#LocalEntregaID").get(0).options.length = 0;
                    $("#LocalEntregaID").get(0).options[0] = new Option("-- selecione --", "");
                    $.post('@Url.Action("GetLocais")', { CidadeID: _idCidadeEntregaSelecionada@{if(produto.Tipo==Domain.Entities.Produto.Tipos.Kitsbebe){<text>, TipoProduto: "Kitsbebe"</text> }} },
                        function (data) {
                            if (data != undefined && data != "") {
                                for (var i = 0; i < data.length; i++) {

                                    var resultText = data[i].Text;
                                    var resultValue = data[i].Value;

                                    //$("#LocalID").get(0).options[i + 1] = new Option(data[i].Value,data[i].Text);
                                    $("#LocalEntregaID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                                }
                            }
                            // $("#LocalEntregaId option:first").remove();
                            $("#load_local_entrega").hide();
                            $("#LocalEntregaID").show();
                        });
                }
            });

            $("#LocalEntregaID").change(function () {

                _nmLocalEntregaSelecionado = $("#LocalEntregaID :selected").text().split("-")[0].trim();
                _idLocalEntregaSelecionado = $('#LocalEntregaID option:selected').attr('value');
                $('#LocalID').val = _idLocalEntregaSelecionado;

                $.ajax(
                {
                    url: "/Pedido/GetLocalExiste",
                    @*url: '@Url.Action("GetLocalExiste")',*@
                    dataType: "json",
                    data: {
                        strNmLocal: _nmLocalEntregaSelecionado,
                        cidadeID: $("#CidadeEntregaID").val(),
                        estadoID: $("#EstadoEntregaID").val()
                    },
                    success: function (data) {
                        if (data == "false") {
                            $("#LocalID").val("0");
                        }
                        else {
                            var _localId = data.split(",")[1];
                            var _localText = data.split(",")[2];
                            var _localTel = data.split(",")[3];


                            $("#LocalID").val(_localId);
                            $("#LocalEntrega").val(_localText);
                            $("#TelLEnt").html("<br />Telefone do Local: " + _localTel);
                            $("#TelLEnt").show();
                        }
                    }
                });
            });
            //Aplica a lógica na opção Outro
            $("#horario").change(function () {
                if ($(this).val() == "Outro") {
                    $("#hora").fadeIn("200");
                    $("#hora").mask("99:99");
                }
                else {
                    $("#hora").fadeOut("200");
                }
            });

            $('#frases').change(function () {
                $('#mensagem').val($('#frases').val());
            });

            $('#validar').click(function () {

                var cupom = $('#cupom').val();
                if (cupom != null) {
                    $.post('@Url.Action("ValidaCupom")', { codigo: cupom }, function (data) {
                        if (data.retorno == "OK") {
                            $(".itemvalor").each(function (index) {
                                var valor = $(this).attr("data-id");
                                if (data.tipo == 2) {
                                    valor = valor - data.valor;
                                    if (valor < 0)
                                        valor = 0;
                                } else if (data.tipo == 1) {
                                    valor = valor * (1 - data.valor / 100);
                                    if (valor < 0)
                                        valor = 0;
                                }
                                var strvalor = "R$ " + valor.toFixed(2).replace(".", ",");
                                $(this).text(strvalor);
                            });
                        }
                        $('#mensagem-cupom').html(data.mensagem);
                    });
                }
            });

            $('#telefone-contato').mask('(99) 99999999?9');
            $('#telefone-contato-alternativo').mask('(99) 99999999?9');
            $('#telefone-contato-homenageado').mask('(99) 99999999?9');
            $("#data").mask("99/99/9999");
            $("#data").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#form-pedido").validate({
                meta: 'validate',
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) {
                        if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i)
                    } t.focusInvalid()
                },
                submitHandler: function (form) {
                    var produto = $('#produto:checked').val();
                    if (produto == '') {
                        alert('Selecione um produto');
                    }
                    else {
                        if (CompareDates()) {
                            $('#finalizar').hide();
                            $('#processando').show();
                            var pessoaHomenageada = $('#pessoa-homenageada').val();
                            var ordemdecompra = $('#ordem-de-compra').val();
                            var mensagem = $('#mensagem').val();
                            var nomeFuncionario = $('#nome-funcionario').val();
                            var parentesco = $('#parentesco').val();
                            var departamento = $('#departamento').val();
                            var localId = _idLocalEntregaSelecionado;
                            var localEntrega = _nmLocalEntregaSelecionado;
                            var localEntregaComplemento = $('#ComplementoLocalEntrega').val();
                            var estado = $('#EstadoEntregaID').val();
                            var cidade = $('#CidadeEntregaID').val();
                            var data = $('#data').val();
                            var hora = $('#hora').val();
                            var horario = $('#horario').val();
                            var observacoes = $('#observacoes').val();
                            var telefoneContato = $('#telefone-contato').val();
                            var telefoneContatoAlternativo = $('#telefone-contato-alternativo').val();
                            var cupom = $('#cupom').val();
                            var ContatoHomenageado = $('#telefone-contato-homenageado').val();

                            $.post('@Url.Action("criar")',
                                {
                                    produto: produto,
                                    pessoaHomenageada: pessoaHomenageada,
                                    ordemdecompra: ordemdecompra,
                                    mensagem: mensagem,
                                    nomeFuncionario: nomeFuncionario,
                                    parentesco: parentesco,
                                    departamento: departamento,
                                    localId: localId,
                                    localEntrega: localEntrega,
                                    localEntregaComplemento: localEntregaComplemento,
                                    estado: estado,
                                    cidade: cidade,
                                    data: data,
                                    hora: hora,
                                    horario: horario,
                                    observacoes: observacoes,
                                    telefoneContato: telefoneContato,
                                    telefoneContatoAlternativo: telefoneContatoAlternativo,
                                    codigo: cupom,
                                    ContatoHomenageado: ContatoHomenageado
                                },
                                function (data) {
                                    if (data == 'OK') {
                                        alert('Seu pedido foi criado com sucesso.\n\nObrigado!');
                                        window.location = '/empresas/pedido?sucesso=sim';
                                    }
                                    else if (data == 'BOLETO') {
                                        alert('Seu pedido foi criado com sucesso.\n\n\Obrigado!\n\nVocê será redirecionado para página de impressão do boleto.');
                                        window.location = '/empresas/faturas?sucesso=sim';
                                    } else {
                                        $('#finalizar').show();
                                        $('#processando').hide();
                                        alert(data);
                                    }
                                });
                        }
                    }
                },
                rules: {
                    'data': 'required',
                    'hora': 'required',
                    'produto': 'required',
                    'telefone-contato-alternativo': 'required'  
                },
                messages: {
                    'data': 'Preencha a Data',
                    'hora': 'Preencha a Hora',
                    'produto': 'Selecione o tamanho do produto',
                    'telefone-contato-alternativo': 'Preencha um contato de urgência '
                }
            });
        });


        function Personalizar() {
            $('#escolher').show();
            $('#mensagem').show();
            $('#personalizar').hide();
            $('#frases').hide();
        }

        function Escolher() {
            $('#escolher').hide();
            $('#mensagem').hide();
            $('#personalizar').show();
            $('#frases').show();
        }

    </script>
}
