﻿@{
    ViewBag.Title = " - Novo Pedido";
    ViewBag.H1 = "Novo Orçamento";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";

    var relacionamentos = (IEnumerable<Domain.Entities.Relacionamento>)ViewBag.Relacionamentos;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa; 
}

<style type="text/css">
    .form-horizontal input 
    {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    .form-horizontal textarea 
    {
        resize: vertical;
        height: 100px;
    }
    
    center
    {
        margin-bottom: 36px;
    }
    
    i 
    {
        font-weight: normal;
        font-size: 11px;
    }
</style>
 
<div class="row form-horizontal">
<a name="novo"></a>
    <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
            @using (Html.BeginForm("criarorcamento", "pedido", FormMethod.Post, new { id = "form_orcamento", name = "form_orcamento", enctype = "multipart/form-data", @class = "form" }))
            {
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="nome">@((Request.QueryString["evento"] == "sim" ? "Nome do Evento" : "Nome do Homenageado"))</label>
                        <div class="col-md-12 col-xs-12">
                            <input id="nome" name="nome" type="text" placeholder="Digite o nome" class="form-control input-md" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 col control-label" for="contato-telefone">Local de entrega ou realização <i>(Atenção! Preencha com o máximo de informações possíveis)</i></label>
                        <div class="col-md-12 col-xs-12">
                            <input id="local" name="local" type="text" placeholder="Preencha o endereço" class="form-control input-md" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 col control-label" for="estado">Estado</label>
                        <div class="col-md-12 col-xs-12">
                            <select class="form-control input-md" id="estado" name="estado">
                                <option value="">- Estado -</option>
                                @foreach (var estado in estados)
                                {
                                    <option value="@estado.ID">@estado.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 col control-label" for="cidade">Cidade</label>
                        <div class="col-md-12 col-xs-12">
                            <input id="cidade" name="cidade" type="text" placeholder="Preencha o endereço" class="form-control input-md" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="data">Data</label>
                        <div class="col-md-12 col-xs-12">
                            <input id="data" name="data" type="text" placeholder="Data de entrega" class="form-control input-md hasDatepicker valid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 control-label" for="hora">Data</label>
                        <div class="col-md-12 col-xs-12">
                            <input id="hora" name="hora" type="text" placeholder="Hora de entrega" class="form-control input-md valid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-12 col-xs-12 col control-label" for="detalhes">Detalhes do pedido</label>
                        <div class="col-md-12 col-xs-12">
                            <textarea id="detalhes" name="detalhes" type="text" placeholder="Insira detalhes do seu pedido" class="form-control input-md"></textarea>
                        </div>
                    </div>
                </div>
            </div>
                
            <center><a href="javascript:void(0);" onclick="openDadosAdicionais();" id="botaoDados">clique aqui para adicionar dados do colaborador</a></center>    
            <div id="dadosadicionais" style="display:none;">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 col control-label" for="nome-funcionario">Funcionário/Colaborador</label>
                            <div class="col-md-12 col-xs-12">
                                <input id="nome-funcionario" name="nome-funcionario" type="text" placeholder="Nome do Colaborador" class="form-control input-md" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 col control-label" for="detalhes">Departamento</label>
                            <div class="col-md-12 col-xs-12">
                                <input id="departamento" name="departamento" type="text" placeholder="Nome do Colaborador" class="form-control input-md" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 col control-label" for="observacoes">Observações adicionais:</label>
                            <div class="col-md-12 col-xs-12">
                                <textarea id="observacoes" name="observacoes" type="text" placeholder="Observações" class="form-control input-md"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 col control-label" for="telefone-contato">Telefone para Contato</label>
                            <div class="col-md-12 col-xs-12">
                                <input id="telefone-contato" name="telefone-contato" type="text" placeholder="Observações" class="form-control input-md" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                   
            <div>
                <input type="submit" value="Finalizar pedido" class="btn  btn-lg btn-success" id="finalizar" />
                <div class="processando" id="processando">Processando, por favor, aguarde...</div>
            </div>
            }
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="phoneOrSomething">
                <span>Ou ligue para o nosso atendimento gratuito 24h pelo número que ajudaremos a efetuar seu pedido</span>
                <h2>0800-777-1986</h2>
            </div>
        </div>
    </div>
</div>


@section Script{
    <script type="text/javascript">
        function openDadosAdicionais() {
            $('#dadosadicionais').show();
            $('#botaoDados').hide();
        }


        $(document).ready(function () {

//            var item = $("#menu-pedido");
//            item.removeClass("hover");
//            var img = item.children("img:first");
//            img.attr("src", img.attr("src").replace('-off', '-on'));

            $('#estado').change(function () {
                var estado = $('#estado').val();
                $('#cidade').html('<option value="">selecione uma cidade</option>');
                if (estado != null) {
                    $.post('@Url.Action("cidades")', { estadoID: estado }, function (data) {
                        var html = '<option value="">- cidade -</option>';
                        for (var c in data) {
                            html += '<option value="' + data[c].ID + '">' + data[c].Nome + '</option>';
                        }
                        $('#cidade').html(html);
                    });
                }
            });

            $('#estado').val('');
             
            $('#telefone-contato').mask('(99) 99999999?9'); 
            $("#data").mask("99/99/9999");
            $("#data").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#hora").mask("99:99");

            $("#form_orcamento").validate({
                meta: 'validate',
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) { 
                    $('#finalizar').hide();
                    $('#processando').show();
                    var nome = $('#nome').val();
                    var detalhes = $('#detalhes').val();
                    var nomeFuncionario = $('#nome-funcionario').val(); 
                    var departamento = $('#departamento').val();
                    var local = $('#local').val();
                    var estado = $('#estado option:selected').text();
                    var cidade = $('#cidade option:selected').text();
                    var data = $('#data').val();
                    var hora = $('#hora').val();
                    var observacoes = $('#observacoes').val();
                    var telefoneContato = $('#telefone-contato').val();
                    $.post('@Url.Action("criarorcamento")', { tipo: '@(ViewBag.Tipo)', nome: nome, detalhes: detalhes, nomeFuncionario: nomeFuncionario, departamento: departamento, local: local, estado: estado, cidade: cidade, data: data, hora: hora, observacoes: observacoes, telefoneContato: telefoneContato }, function (data) {
                        if (data.status == 'OK') {
                            alert('Seu orçamento foi enviado com sucesso. Obrigado!');
                            window.location = '/empresas?orcamento=sim';
                        } else {
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert(data.mensagem);
                        }
                    }); 
                },
                rules: {
                    'data': 'required',
                    'hora': 'required' 
                },
                messages: {
                    'data': 'Preencha a Data',
                    'hora': 'Preencha a Hora' 
                }
            });
        }); 

    </script>
}
