﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Index";
    ViewBag.H1 = "Novo Pedido";
    ViewBag.TituloAUX = "- " + @ViewBag.Titulo;
    ViewBag.P = "";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
    var produtosTamanhos = (IEnumerable<Domain.Entities.EmpresaProdutoTamanho>)ViewBag.ProdutosTamanhos;
}

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {

            //            var item = $("#menu-pedido");
            //            item.removeClass("hover");
            //            var img = item.children("img:first");
            //            img.attr("src", img.attr("src").replace('-off', '-on'));

        }); 
    </script>
}
@if (ViewBag.Tipo == "decoracao-de-evento")
{
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;" class="orcamentoSection">
                <p>
                    Precisa de <i>Decoração para Eventos</i>?</p>
                <a href="@Url.Action("orcamento", "pedido", new { rotuloUrl = "decoracao-de-eventos", evento = "sim", area = "empresas" })">
                    <span>Faça seu pedido personalizado</span>
                </a>
            </div>
        </div>
    </div>
}
else if (ViewBag.Tipo == "flores-para-presentes")
{
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;" class="orcamentoSection">
                <p>
                    Precisa de flores para <i>Presentes</i>?</p>
                <a href="@Url.Action("orcamento", "pedido", new { rotuloUrl = "flores-para-presentes", area = "empresas" })">
                    <span>Faça seu pedido personalizado</span>
                </a>
            </div>
        </div>
    </div>
}
<div class="row conteudoProdutos">

    @if (Model.Any())
    {
        var dirCdn = @System.Configuration.ConfigurationManager.AppSettings["CDN_IMG"].ToString();

    
        foreach (var item in Model.OrderBy(r => r.Ordem).ToList())
        {
            var produtotamanho = produtosTamanhos.FirstOrDefault(c => c.ProdutoTamanhoID == item.ID);
            var imgUrl = "/produtos/" + item.ID + "/thumb/" + item.Foto;

            var href = dirCdn + imgUrl;
            //'@(mynamespace.Controllers.MyVars.baseUrl)Tickets/Create'
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-center">
            <div class="Produto">
            <a href="@Url.Action("novo", "pedido", new { rotuloUrl = item.RotuloUrl, id = item.ID, area = "empresas" })">
                 
                <img src=@string.Format("{0}{1}", dirCdn, imgUrl)>
                    @*<img src="@Url.Content("~/content/produtos/" + item.ID + "/thumb/" + item.Foto)" />*@
                </a>
                <div class="Texto">
                    <h4>@item.Nome.Replace("Coroa de Flores", "")</h4>

                    @if (ViewBag.SoExibeProdutosConveniados)
                    {
                        <span>valor de convênio, a partir de <b>@produtosTamanhos.FirstOrDefault(p => p.ProdutoTamanho.ProdutoID == item.ID).Valor.ToString("C2")</b></span><br />
                        <br /> 
                    }
                    else
                    {
                        if (produtosTamanhos != null && produtosTamanhos.Any())
                        {


                            Domain.Entities.ProdutoTamanho novoProdutoTamanho = new Domain.Entities.ProdutoTamanho();
                            novoProdutoTamanho = item.ProdutoTamanhoes.FirstOrDefault(t => t.ProdutoID == item.ID);

                            bool TemValorDiferenciado = produtosTamanhos.Any(r => r.ProdutoTamanhoID == novoProdutoTamanho.ID);


                            if (TemValorDiferenciado == true)
                            {

                                <span>valor de convênio, a partir de <b>@produtosTamanhos.FirstOrDefault(p => p.ProdutoTamanho.ProdutoID == item.ID).Valor.ToString("C2")</b></span><br />
                            }
                            else
                            {
                                <span>valor a partir de <b>@item.ProdutoTamanhoes.Min(c => c.Preco).ToString("C2")</b></span><br />
                            }
                        <br /> 
                        }
                        else
                        {
                            <span>a partir de <b>@item.ProdutoTamanhoes.Min(c => c.Preco).ToString("C2")</b></span><br />
                            <br /> 
                        }
                    }
                </div>
            </div>
            
            </div>
            
        }
    }
   
</div>
