﻿@model IEnumerable<Domain.Entities.Duvida>

@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dúvidas Frequentes";
    ViewBag.Description = "Resolvemos todas as suas dúvidas sobre coroa de flores e disponibilizamos atendimento online! Acesse e confira!!!";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var Cadastro = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.Cadastro).ToList();
    var ComoComprar = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.ComoComprar).ToList();
    var Entrega = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.Entrega).ToList();
    var MeusPedidos = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.MeusPedidos).ToList();
    var Outros = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.Outros).ToList();
    var Pagamento = Model.Where(c => c.Tipo == Domain.Entities.Duvida.Tipos.Pagamento).ToList();
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Dúvidas Frequentes</b></span></div>
</div>
</div>
 
 
<div id="FAQ">
<div class="Div">

	<h1 class="TituloPagina">Dúvidas frequentes</h1>

	<div class="Opcao" onclick="mostra_esconde('opcao_cadastro')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_cadastro.png" width="52" height="50" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Cadastro</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_cadastro">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        <div class="Texto">
        @foreach(var item in Cadastro){
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>
		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>

	<div class="Opcao" onclick="mostra_esconde('opcao_como_comprar')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_como_comprar.png" width="54" height="45" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Como Comprar</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_como_comprar">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        
        <div class="Texto">
        @foreach(var item in ComoComprar){
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>

		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>

	<div class="Opcao" onclick="mostra_esconde('opcao_entrega')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_entrega.png" width="66" height="42" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Entrega</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_entrega">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        
        <div class="Texto">
        @foreach (var item in Entrega)
        {
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>

		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>

	<div class="Opcao" onclick="mostra_esconde('opcao_pagamento')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_pagamento.png" width="41" height="50" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Pagamento</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_pagamento">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        
        <div class="Texto">
        @foreach (var item in Pagamento)
        {
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>

		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>

	<div class="Opcao" onclick="mostra_esconde('opcao_meus_pedidos')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_meus_pedidos.png" width="48" height="42" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Meus pedidos</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_meus_pedidos">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        
        <div class="Texto">
        @foreach (var item in MeusPedidos)
        {
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>

		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>

	<div class="Opcao" onclick="mostra_esconde('opcao_demais_infos')">
		<div class="OpcaoImagem"><p><img src="/content/imagens/faq_demais_informacoes.png" width="42" height="42" border="0" alt="Ícone" /></p></div>
		<div class="Titulo">Demais infos</div>
		<div class="SaibaMais">[+] <span class="SaibaMais2">Saiba mais</span></div>
	</div>

	<div class="OpcaoTexto" id="opcao_demais_infos">

		<div class="OpcaoTextoFita1"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>
        
        <div class="Texto">
        @foreach (var item in Outros)
        {
		<b>@item.Titulo</b><br /><br />@Html.Raw(item.Descricao) <br /><br />
        }
        </div>

		<div class="OpcaoTextoFita2"><img src="/content/imagens/fita_lateral.png" class="OpcaoTextoImg" alt="Borda" /></div>

	</div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div>