﻿@model Domain.Entities.Ramai

@{
    ViewBag.Title = Model == null ? "Novo Ramal" : "Ramal " + Model.NumeroRamal;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Ramal " : "Ramal " + Model.NumeroRamal)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Ramais", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID) 
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Nr do Ramal</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.NumeroRamal, new { @class = "mws-textinput", maxlength = "3" })
                    </div>
                </div>  
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#administrador').addClass('active');
        $('#i_ramais').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                Email: {
                    required: true,
                    email: true
                },
                Senha: "required",
                ConfirmacaoSenha: {
                    required: true,
                    equalTo: "#Senha"
                }
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                Email: {
                    required: "O campo e-mail é obrigatório.",
                    email: "digite um e-mail válido"
                },
                Senha: "O campo senha é obrigatório.",
                ConfirmacaoSenha: {
                    required: "digite a confirmação da senha",
                    equalTo: "a confirmação da senha deve ser identica a senha digitada"
                }
            }
        });
    });
</script>
}