﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Seu Pedido";
    Layout = "~/Views/Shared/_LayoutCompraNeue.cshtml";

    var cliente = (Domain.Entities.Cliente)ViewBag.Cliente;
    var estados = ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}


@section Script{
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
}

@section NeueScripts {
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="/Scripts/geral.js"></script>
    <script src="/Content/neue/js/jquery.ui.datepicker-pt-BR.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
   
    <script src="~/Content/neue/js/bootstrap.min.js"></script>
    <link href="~/Content/neue/js/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Content/neue/js/sweetalert2/sweetalert2.min.js"></script>

    <!-- Mask Plugin -->
    <script src="/Content/neue/js/mask/dist/jquery.mask.js"></script>

    <!-- Card Brand Validation Plugin -->
    <script src="/content/neue/js/jquery.creditCardValidator.js"></script>

    <!-- Autocomplete Plugin -->
    <script src="/content/neue/js/jquery.easy-autocomplete.min.js"></script>
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
    <script type="text/javascript">

        function Frase(id, obj){
            $('#frase-' + id).val($(obj).val());
            $('#frase-' + id).focus();
        }

        function Redirecionar(codigo)
        {
            window.location = '@Url.Action("confirmacao", "pedido")?codigo=' + codigo + '&tipo=compraclick';
        }

        function showProcessando(){
            $('.carregando').fadeIn("200");
        }

        function hideProcessando(){
            $('.carregando').fadeOut("200");
        }

        function desabilita(){
            $('.form-control').attr("disabled", "disabled");
            $('.radio-inline input').attr("disabled", "disabled");
            $('#CadastroStepThree').addClass("desativado");
            $('.payment-card ul>li').fadeOut("500");
        }

        function habilita(){
            $('.form-control').attr("disabled", false);
            $('.radio-inline input').attr("disabled", false);
            $('#CadastroStepThree').removeClass("desativado");
            $('.payment-card ul>li').fadeIn("500");
        }

        function Validar(){

            var erros = '';
            var quantidade = 0;

            //STEP 1
            var Email = $('#order-email').val();
            var Nome = $('#order-nome').val();
            var Cpf = $('#order-cpf').val();
            var Tel = $('#order-tel').val();

            if(Email == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Email </li>';
            }
            if(Nome == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Nome </li>';
            }
            if(Cpf == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> CPF / CNPJ </li>';
            }
            if(Tel == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Telefone </li>';
            }

            //STEP 2
            var pessoaHomenageada = $('#order-homenageado').val();
            var CidadeID = $('#hidden-cidadeid').val();
            var LocalEntrega = $('#order-local').val();
            var dataEntrega = $('#order-data').val();
            var horaEntrega = $('#order-hora').val();
            var observacoes = $('#order-obs').val();

            $("#FrasesDeHomenagem textarea").each(function (){
                if($(this).val() == ""){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '<li> ' + $(this).parent().find('label').html() + ' </li>';
                }
            });

            if(pessoaHomenageada == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Pessoa Homenageada </li>';
            }
            if(CidadeID == '' || CidadeID == "0"){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Cidade de Entrega </li>';
            }
            if(LocalEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Local de Entrega </li>';
            }
            if(dataEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '<li> Data de Entrega </li>';
            }
            if(horaEntrega == '' ||  $('#order-hora').parent().hasClass('valid-error')){
                if(!$('#order-hora').attr('disabled')){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '<li> Hora de Entrega </li>';
                }
                // Tratar else aqui
            }


            if(quantidade > 0){

                swal({
                    title: 'Verifique os ' + quantidade + ' erros abaixo:',
                    type: 'error',
                    html: '<ul style="text-align: left;">' + erros + '</ul>',
                    showCloseButton: true,
                    confirmButtonText:
                      'OK',
                });

                if(quantidade == 1 && (CidadeID == '' || CidadeID == 0)){
                    swal({
                        title: 'Selecione a Cidade de Entrega.',
                        type: 'error',
                        html: 'Para selecionar a cidade de entrega, digite um termo para a pesquisa, aguarde a lista de cidades carregar e CLIQUE EM CIMA do nome da cidade.',
                        showCloseButton: true,
                        confirmButtonText:
                          'OK',
                    });
                }

                return false;
            }

            return true;
        }

        function Pagar()
        {
            var meioPagamento = "";

            if(Validar())
            {
                meioPagamento = $("#CadastroStepThree input[type='radio']:checked").attr("rel");

                var pessoaHomenageada = $('#order-homenageado').val();
                var grauParentesco = $('#grau-parentesco').val();
                var telefoneContato = $('#telefone-contato').val();

                var cidade = $('#hidden-cidadeid').val();
                var idLocal = $('#hidden-localid').val();
                var localEntrega = $('#order-local').val();

                var dataEntrega = $('#order-data').val();
                var horaEntrega = $('#order-hora').val();
                var ckHorarionaodefinido = $('#pop-check-horarionaodefinido').is(':checked');
                var observacoes = $('#order-obs').val();

                var Frase = "";
                $("#FrasesDeHomenagem textarea").each(function(){
                    Frase += $(this).val().replace("|", "/").replace(",", "/&/") + "," + $(this).attr("rel").split(",")[1] + "," + $(this).attr("rel").split(",")[2] + "|"
                });
                Frase = Frase.substring(0, Frase.length - 1);

                switch(meioPagamento){
                    case 'RadioCartao':

                        var bandeira = $('#credito-bandeira').val();
                        var nome = $('#credito-nome').val();
                        var numero = $('#credito-num').val().replace(/\s+/g, '');
                        var validade = $('#credito-val').val();
                        var codigo = $('#credito-seg').val();
                        var parcela = $('#credito-parcelas').val();

                        $('#credito-bandeira').val('');
                        $('#credito-nome').val('');
                        $('#credito-num').val('');
                        $('#credito-val').val('');
                        $('#credito-seg').val('');

                        var erros = '';
                        var quantidade = 0;

                        if(nome == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '<li>Preencha o Nome Impresso no Cartão</li>';
                        }
                        if(numero == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '<li>Preencha o Número do Cartão</li>';
                        }
                        if(validade == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '<li>Preencha a Validade do Cartão</li>';
                        }
                        if(codigo == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '<li>Preencha a Código de Segurança</li>';
                        }

                        if(quantidade > 0){
                            swal({
                                title: 'Verifique os ' + quantidade + ' erros abaixo:',
                                type: 'error',
                                html: '<ul style="text-align: left;">' + erros + '</ul>',
                                showCloseButton: true,
                                confirmButtonText:
                                  'OK',
                            });
                        }
                        else{
                            $('.FormBotao').hide();
                            showProcessando();
                            desabilita();

                            var CardHashRetorno = "";
                            PagarMe.encryption_key = "@((Domain.Core.Configuracoes.PagarMe_DefaultCriptKey))";

                            var creditCard = new PagarMe.creditCard();
                            creditCard.cardHolderName = nome;
                            creditCard.cardExpirationMonth = validade.substring(0, 2);
                            creditCard.cardExpirationYear = validade.substring(3, 5);
                            creditCard.cardNumber = numero;
                            creditCard.cardCVV = codigo;

                            creditCard.generateHash(function(hash) {
                                $.ajax({
                                    url: '/Pedido/PagarNovo',
                                    type: "POST",
                                    dataType: 'json',
                                    data: {
                                        parcela: parcela,
                                        cidadeID: cidade,
                                        dataSolicitada: dataEntrega + ' ' + horaEntrega,                                        
                                        formaPagamento: @((int)(Domain.Entities.Pedido.FormasPagamento.CartaoCredito)),
                                        localEntrega: localEntrega,
                                        meioPagamento: @((int)(Domain.Entities.Pedido.MeiosPagamento.PagarMe)),
                                        pessoaHomenageada: pessoaHomenageada,
                                        cardHash: hash,
                                        observacoes: observacoes,
                                        TipoCheckout: '@Domain.Entities.Pedido.TipoCheckout.UmClick',
                                        EmailCliente: $("#order-email").val(),
                                        NomeCompleto: $("#order-nome").val(),
                                        Documento: $("#order-cpf").val(),
                                        Telefone: $("#order-tel").val(),
                                        Frases: Frase,
                                        LocalID: idLocal
                                    },
                                    success: function (data) {
                                        if(data.Retorno == 'Paid'){
                                            Redirecionar(data.Codigo);
                                        }else{

                                            swal({
                                                title: 'Pedido não concluído',
                                                type: 'error',
                                                html: data,
                                                showCloseButton: true,
                                                confirmButtonText:
                                                  'OK',
                                            });

                                            hideProcessando();
                                            habilita();
                                            $('.FormBotao').show();
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        error("Ocorreu um erro ao processar seu pedido. Entre em contato pelo telefone 0800-777-1986 para verificar o status.\n\nErro: " + xhr.status + "\nDescrição: " + thrownError);
                                    }
                                });
                            });


                        }
                        break;
                    case 'RadioBoleto': 
                        $('.FormBotao').hide();
                        showProcessando();
                        desabilita();
                       
                        $.ajax({
                            url: '/Pedido/PagarNovo',
                            type: "POST",
                            dataType: 'json',
                            data: {
                                parcela: 0,
                                cidadeID: cidade,
                                dataSolicitada: dataEntrega + ' ' + horaEntrega,                                        
                                formaPagamento: @((int)(Domain.Entities.Pedido.FormasPagamento.BoletoPagarMe)),
                                localEntrega: localEntrega,
                                meioPagamento: @((int)(Domain.Entities.Pedido.MeiosPagamento.BoletoPagarMe)),
                                pessoaHomenageada: pessoaHomenageada,
                                cardHash: "",
                                observacoes: observacoes,
                                TipoCheckout: '@Domain.Entities.Pedido.TipoCheckout.UmClick',
                                EmailCliente: $("#order-email").val(),
                                NomeCompleto: $("#order-nome").val(),
                                Documento: $("#order-cpf").val(),
                                Telefone: $("#order-tel").val(),
                                Frases: Frase,
                                LocalID: idLocal
                            },
                            success: function (data) {
                                if(data.Retorno == 'Paid'){
                                    Redirecionar(data.Codigo);
                                }else{

                                    swal({
                                        title: 'Pedido não concluído',
                                        type: 'error',
                                        html: data,
                                        showCloseButton: true,
                                        confirmButtonText:
                                          'OK',
                                    });

                                    hideProcessando();
                                    habilita();
                                    $('.FormBotao').show();
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                error("Ocorreu um erro ao processar seu pedido. Entre em contato pelo telefone 0800-777-1986 para verificar o status.\n\nErro: " + xhr.status + "\nDescrição: " + thrownError);
                            }
                        });



                        break;
                }
                return true;
            }
            return false;
        }

        function removerAcentos(newStringComAcento) {
            var string = newStringComAcento;
            var mapaAcentosHex 	= {
                a : /[\xE0-\xE6]/g,
                e : /[\xE8-\xEB]/g,
                i : /[\xEC-\xEF]/g,
                o : /[\xF2-\xF6]/g,
                u : /[\xF9-\xFC]/g,
                c : /\xE7/g,
                n : /\xF1/g
            };

            for ( var letra in mapaAcentosHex ) {
                var expressaoRegular = mapaAcentosHex[letra];
                string = string.replace( expressaoRegular, letra );
            }

            return string;
        }


        $(document).ready(function () {

            $(function () {
                $('[data-toggle="popover"]').popover()
            })


            var optionsLocais = {
                url: function(phrase) {
                    return "/Home/GetLocaisCidadeENome?idCidade=" + $("#hidden-cidadeid").val() + "&Termo=" + phrase;
                },
                list: {
                    match: {
                        enabled: true
                    },
                    onClickEvent: function() {                        
                        var hiddenLocal = $("#order-local").getSelectedItemData().IdLocal;
                        $('#hidden-localid').val(hiddenLocal);                        
                    }
                },
                getValue: "Titulo",
                requestDelay: 800
            };
            $("#order-local").easyAutocomplete(optionsLocais);

            $("#order-local").keyup(function(){
                $(this).val(removerAcentos(($(this).val())));
            });

            $("#order-email").keyup(function(){
                var Email = $(this).val();
                if(validateEmail(Email)){

                    $.ajax({
                        url: '/Home/GetClientePorEmail?Email=' + Email,
                        type: "GET",
                        success: function (data) {
                            $("#order-nome").removeAttr("disabled");
                            $("#order-tel").removeAttr("disabled");
                            $("#order-cpf").removeAttr("disabled");

                            if(data != ""){
                                $("#order-nome").val(data.Nome);
                                $("#order-tel").val(data.Telefone);
                                $("#order-cpf").val(data.Documento);

                                AtivaStep2();
                                $("#order-homenageado").focus();
                            }
                        }
                    });
                }

            });


            $("#order-frase").focus(function(){
                $('.popping').remove();
            });

            $("#order-data").focus(function(){
                $('.popping').remove();
            });

            $("#order-cidade").blur(function(){
                if($(this).val() == ''){
                    $('#hidden-cidadeid').val('');
                }
            });

            $("#CadastroStepThree input[type='radio']").change(function(){

                $(".FormBotao").removeAttr("disabled");

                var Id = $(this).attr('rel');

                if(Id == 'RadioBoleto'){
                    $("#cartao").fadeOut(function(){
                        $("#boleto").fadeIn();
                    });
                }
                else{
                    $("#boleto").fadeOut(function(){
                        $("#cartao").fadeIn();
                    });
                }
            });

            var Step1NaoPreenchidoCount = 0;
            var Step2NaoPreenchidoCount = 0;

            function VerificaStep1(){
                $("#CadastroStep input").each(function(){
                    if($(this).val() == ""){
                        Step1NaoPreenchidoCount = Step1NaoPreenchidoCount + 1;
                    }
                });
                return Step1NaoPreenchidoCount;
            }

            function VerificaStep2(){

                $("#FrasesDeHomenagem textarea").each(function (){
                    if($(this).val() == ""){
                        Step2NaoPreenchidoCount = Step2NaoPreenchidoCount + 1;
                    }
                });

                $("#CadastroStepTwo input[type='text']").each(function(){
                    if($(this).val() == ""){
                        Step2NaoPreenchidoCount = Step2NaoPreenchidoCount + 1;
                    }
                });

                if($("#order-hora").attr("placeholder") == "Não Definido"){
                    Step2NaoPreenchidoCount = Step2NaoPreenchidoCount - 1;
                }

                return Step2NaoPreenchidoCount;
            }

            @{
                if (ViewBag.Cliente != null)
                {
                    <text>AtivaStep2();</text>
                };

            }

            function AtivaStep2(){
                $("#CadastroStep .lining").eq(0).addClass('desativado');
                $("#CadastroStep .lining").eq(1).addClass('desativado');
                $("#CadastroStep .lining").eq(2).addClass('desativado');
                $("#CadastroStep .check").show();

                $("#CadastroStep h2").removeClass('green');
                $("#CadastroStepTwo h2").addClass('green');
                $("#CadastroStepTwo .lining").eq(2).removeClass('desativado');
                $("#CadastroStepTwo input:disabled").removeAttr('disabled');
                $("#CadastroStepTwo select:disabled").removeAttr('disabled');
                $("#CadastroStepTwo textarea:disabled").removeAttr('disabled');
            }

            function AtivaStep2SemFadeStep1(){

                $("#CadastroStep .check").show();

                $("#CadastroStep h2").removeClass('green');
                $("#CadastroStepTwo h2").addClass('green');
                $("#CadastroStepTwo .lining").eq(2).removeClass('desativado');
                $("#CadastroStepTwo input:disabled").removeAttr('disabled');
                $("#CadastroStepTwo select:disabled").removeAttr('disabled');
                $("#CadastroStepTwo textarea:disabled").removeAttr('disabled');
            }

            function AtivaStep3SemFadeStep2(){
                $("#CadastroStepThree .lining").eq(1).removeClass('desativado');
                $("#CadastroStepThree .lining").eq(3).removeClass('desativado');
                $("#MeioDePagamento").removeClass('desativado');
                $("#CadastroStepThree input:disabled").removeAttr('disabled');
                $("#CadastroStepThree input:disabled").removeAttr('disabled');
            }

            function AtivaStep3(){
                $("#CadastroStepTwo h2").removeClass('green');
                $("#CadastroStepThree h2").addClass('green');
                $("#CadastroStepThree .lining").eq(1).removeClass('desativado');
                $("#CadastroStepThree .lining").eq(3).removeClass('desativado');
                $("#MeioDePagamento").removeClass('desativado');
                $("#CadastroStepThree input:disabled").removeAttr('disabled');
                $("#CadastroStepThree input:disabled").removeAttr('disabled');
            }

            $("#CadastroStep input").blur(function(){
                Step1NaoPreenchidoCount = 0
                if(VerificaStep1() == 0){
                    if($("#CadastroStepThree .lining").eq(1).hasClass('desativado')){
                        AtivaStep2();

                    }
                }
            });
            $("#CadastroStep input").focus(function(){
                $("#CadastroStep .lining").eq(1).removeClass('desativado');
                $("#CadastroStep .lining").eq(0).removeClass('desativado');
            });

            $("#CadastroStepTwo input").blur(function(){
                Step2NaoPreenchidoCount = 0
                if(VerificaStep2() == 0){
                    $("#CadastroStepTwo .lining").eq(1).addClass('desativado');
                    $("#CadastroStepTwo .lining").eq(0).addClass('desativado');
                    $("#CadastroStepTwo .check").show();

                    AtivaStep3();
                }
            });
            $("#CadastroStepTwo input[type='text']").focus(function(){
                $("#CadastroStepTwo .lining").eq(1).removeClass('desativado');
                $("#CadastroStepTwo .lining").eq(0).removeClass('desativado');
            });

            $("#FrasesDeHomenagem textarea").each(function (){
                $(this).on("click", function(){
                    $("#CadastroStepTwo .lining").eq(1).removeClass('desativado');
                    $("#CadastroStepTwo .lining").eq(0).removeClass('desativado');
                });
                $(this).blur("click", function(){
                    Step2NaoPreenchidoCount = 0
                    if(VerificaStep2() == 0){
                        $("#CadastroStepTwo .lining").eq(1).addClass('desativado');
                        $("#CadastroStepTwo .lining").eq(0).addClass('desativado');
                        $("#CadastroStepTwo .check").show();

                        AtivaStep3();
                    }
                });
            });

            $("#FraseHomenagem").val('@Session["Frase"]');

            $('#order-data').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                minDate: 0
            });

            var options = {
                url: function(phrase) {
                    return "/Home/GetCidadesByName?NomeCidade=" + phrase;
                },
                list: {
                    match: {
                        enabled: true
                    },
                    onClickEvent: function() {
                        var hiddenLocal = $("#order-cidade").getSelectedItemData().ID;
                        $('#hidden-cidadeid').val(hiddenLocal);
                    },
                    maxNumberOfElements: 99999999
                },
                getValue: "Nome",
                requestDelay: 300
            };
            $("#order-cidade").easyAutocomplete(options);

            $("#order-cidade").keyup(function(){
                $(this).val(removerAcentos(($(this).val())));
            });

            

            // Masks
            $('.credit').mask('0000 0000 0000 0000');

            var options =  {
                onKeyPress: function(cep, e, field, options) {
                    var masks = ['000.000.000-000', '00.000.000/0000-00'];
                    var mask = (cep.length > 14) ? masks[1] : masks[0];
                    $('#order-cpf').mask(mask, options);
                }};

            $('#order-cpf').mask('000.000.000-000', options);

            $('#order-cpf').blur(function (event) {
                if($(this).val().indexOf("*") == -1){
                    if ($('#order-cpf').val().length != 18 && $('#order-cpf').val().length != 14) {
                        $('#order-cpf').val('');
                    }
                }
            });

            $('.mm-yy').mask('00/00').attr('maxlength', '5');
            $('#order-data').mask('00/00/0000').attr('maxlength', '10');
            $('#order-hora').mask('00:00').attr('maxlength', '5');
            $('#order-tel').mask('(00) 0000-00009');
            $('#order-tel').blur(function (event) {
                if ($(this).val().length == 15) {
                    $('#fone').mask('(00) 00000-0009');
                } else {
                    $('#fone').mask('(00) 0000-00009');
                }

                if($(this).val().indexOf("*") == -1){
                    if($(this).val().length < 14){
                        $(this).val('');
                    }
                }
            });

            $("#FrasesDeHomenagem textarea:last").keyup(function (event) {
                if ($(this).val().length >= 0) {
                    if($("#order-homenageado").val() != "" && $("#hidden-cidadeid").val() != "" && $("#order-local").val() != "" && $("#order-data").val() != "" && ($("#order-hora").val() != "" || $("#order-hora").attr("placeholder") == "Não Definido")){

                        var CountInvalid = 0;
                        $("#FrasesDeHomenagem textarea").each(function() {
                            if($(this).val() == ""){
                                CountInvalid ++;
                            }
                        });

                        if(CountInvalid == 0){
                            AtivaStep3SemFadeStep2();
                        }
                    }
                }
            });

            $('#order-tel').keyup(function (event) {
                if ($(this).val().length >= 14) {

                    if($("#order-email").val() != "" && $("#order-nome").val() != "" && $("#order-cpf").val() != ""){

                        AtivaStep2SemFadeStep1();

                    }

                }


            });


            // Custom Popover

            $('#order-hora').keyup(function(){
                var Hora = parseInt($(this).val().substr(0,1) + $(this).val().substr(1,1));
                var Minutos = parseInt($(this).val().substr(3,1) + $(this).val().substr(4,1));

                if((Hora <= 23 || Minutos <= 59) && $('#order-hora').val().length == 5){
                    $('.popping').remove();
                }
            });

            $('#order-hora').blur(function(){
                if($(this).val().length < 5 && $(this).val().length > 0){
                    swal({
                        title: 'Horário Inválido.',
                        type: 'error',
                        html: 'Por favor, digite o horário de entrega com 4 digitos. Exemplo: 14:00.',
                        showCloseButton: true,
                        confirmButtonText:
                          'OK',
                    });
                }
                else{
                    var Hora = parseInt($(this).val().substr(0,1) + $(this).val().substr(1,1));
                    var Minutos = parseInt($(this).val().substr(3,1) + $(this).val().substr(4,1));

                    if(Hora > 23 || Minutos > 59){
                        swal({
                            title: 'Horário Inválido.',
                            type: 'error',
                            html: 'Por favor, digite o horário de entrega entre 00:00 e 23:59.',
                            showCloseButton: true,
                            confirmButtonText:
                              'OK',
                        });
                    }
                }
            });

            
            $('#order-hora').focus(function(){
                $('.popping').remove();
                $(this).parent().append('<div class="popping" tabindex="-1"><h3 class="pop-title">Não sabe o horário?</h3><div style="text-align: center;" class="pop-content"><p>Marque caso o velório não tenha horário definido:</p><div><input type="checkbox" value="" id="pop-check-horarionaodefinido" />Horário não definido</div><button id="FecharPopUp">Fechar</button></div></div>');

                $('.popping, .popping *')
                    .focus(function(){
                        validationOnBlur($('#order-hora'));
                    })
                    .blur(function(){
                        $('.popping').remove();
                    });

                $('.pop-content input[type=checkbox]').click(function(){
                    var ckHorarionaodefinido = '';
                    if($('#pop-check-horarionaodefinido').is(':checked')) {
                        ckHorarionaodefinido = true;
                        $('#order-hora').val('').attr('disabled', 'disabled').attr('placeholder', 'Não Definido').siblings('u').show();
                    }
                    else {
                        ckHorarionaodefinido = false;
                        $('#order-hora').val('').removeAttr('disabled').removeAttr('placeholder').focus().siblings('u').hide();
                    }
                });

                $("#FecharPopUp").click(function(){
                    $('.popping').remove();
                });
            });

            $('#order-hora ~ u').click(function(){
                $('#order-hora').val('').removeAttr('disabled').removeAttr('placeholder').focus().siblings('u').hide('u');
            });

            $('#boleto-click, #cartao-click').click(function () {
                $('html, body').animate({
                    scrollTop: $("#MeioDePagamento").offset().top -10
                }, 1000); 
            });


            // Function to Visual Validate fields on blur()
            var validationOnBlur = function($element, status) {
                if($element.parent().hasClass('valid-error')) {
                    $element.parent().removeClass('valid-error');
                    $element.siblings('i').remove();
                }
                else if($element.parent().hasClass('valid-success')) {
                    $element.parent().removeClass('valid-success');
                    $element.siblings('i').remove();
                }

                if(status == 'success') {
                    $element.parent().addClass('valid-success').append('<i class="icon_check_alt2"></i>');
                }
                else if(status == 'error') {
                    $element.parent().addClass('valid-error').append('<i class="icon_close_alt2"></i>');
                }
            }

            // Focus Clear
            $('.delivery-card .form-control').focus(function(){
                $(this).parent().removeClass('valid-error valid-success');
                $(this).siblings('i').remove();
            });

            // Blur Validation
            $('.delivery-card .form-control').blur(function(){
                if($(this).is('select')) {
                    if($(this).val() != null) {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
                else if($(this).is('textarea')) {
                    if($(this).val() != '') {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this));
                    }
                }
                else if($(this).attr('id') == 'order-data') {
                    if($(this).val().length == 10) {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this), 'error');

                        $(this).change(function(){
                            if($(this).val().length == 10) {
                                validationOnBlur($(this), 'success');
                            }
                            else {
                                validationOnBlur($(this), 'error');
                            }
                        });
                    }
                }
                else if($(this).attr('id') == 'order-hora') {
                    if($(this).val().length == 5) {
                        if($(this).val() != "" && $(this).val() != 'undefined' && $(this).val() != null){
                            if($(this).val().split(':', 1) > 23) {
                                validationOnBlur($(this), 'error');
                            }
                            else {
                                validationOnBlur($(this), 'success');
                                $('.popping').remove();
                            }
                        }
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
                else {
                    if($(this).val() != '') {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
            });

            // Opções de Pagamento
            $(".payment-card ul>li").click(function () {
                $(this).addClass("active").siblings("li").removeClass("active");
                var idMobile = "";

                if ($(this).attr("id") == "opt-credit") {
                    $(".info#credito").show().siblings(".info").hide();
                    idMobile = "#credito";
                }
                else if ($(this).attr("id") == "opt-barcode") {
                    $(".info#boleto").show().siblings(".info").hide();
                    idMobile = "#boleto";
                }
                else if ($(this).attr("id") == "opt-pagseguro") {
                    $(".info#pagseguro").show().siblings(".info").hide();
                    idMobile = "#pagseguro";
                }
                else if ($(this).attr("id") == "opt-paypal") {
                    $(".info#paypal").show().siblings(".info").hide();
                    idMobile = "#paypal";
                }
                else if ($(this).attr("id") == "opt-faturamento") {
                    $(".info#faturamento").show().siblings(".info").hide();
                    idMobile = "#faturamento";
                }

                if ($(window).width() <= 480) {
                    $('html, body').animate({
                        scrollTop: $(".info" + idMobile).offset().top - 45
                    }, 800);
                }
            });

            //tooltip
            $('[data-toggle="tooltip"]').tooltip()

            // Reconhece a bandeira do cartão de crédito
            $(function() {
                $('#credito-num').validateCreditCard(function(result) {
                    if(result.card_type != null) {
                        switch(result.card_type.name) {
                            case 'visa':
                                $(this).siblings('span').attr('bandeira', 'visa');
                                $('#credito-bandeira').val('1');
                                break;
                            case 'mastercard':
                                $(this).siblings('span').attr('bandeira', 'master');
                                $('#credito-bandeira').val('2');
                                break;
                            case 'amex':
                                $(this).siblings('span').attr('bandeira', 'amex');
                                $('#credito-bandeira').val('5');
                                break;
                            case 'diners_club_carte_blanche':
                            case 'diners_club_international':
                                $(this).siblings('span').attr('bandeira', 'diners');
                                $('#credito-bandeira').val('4');
                                break;
                            default:
                                break;
                        }
                    }
                    else {
                        var str = $('#credito-num').val().replace(/\s+/g, '');
                        var matching = '^(636368|438935|504175|451416|509048|509067|509049|509069|509050|509074|509068|509040|509045|509051|509046|509066|509047|509042|509052|509043|509064|509040|36297|5067|4576|4011)'

                        if(str.match(matching)) {
                            $(this).siblings('span').attr('bandeira', 'elo');
                            $('#credito-bandeira').val('3');
                        }
                        else {
                            $(this).siblings('span').attr('bandeira', 'nda');
                            $('#credito-bandeira').val('');
                        }
                    }
                });
            });
        });
    </script>

}

<section id="CompraClick" class="order delivery">
    <!-- Container -->
    <div class="container">
        <!-- Divider -->
        <div class="divider"></div>
        <!-- /Divider -->
    </div>

    <div class="container ResumoCompraClick">
        <div class="lining">
            <div class="col-md-12">
                <p>Valor Total de <span>@Model.Total.ToString("c2")</span>. Frete Grátis e Faixa de Homenagens Grátis!</p>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        @* CADASTRO *@
        <div id="CadastroStep" style="@{ if (ViewBag.Cliente != null) { <text>display: none;</text> }; }" class="col-md-3">
            <div class="payment-card">
                <div class="lining col-md-4 col-md-offset-8">
                    <p >Passo 1</p>
                </div>
                <div class="lining">
                    <div class="col-md-12">
                        <h2 class="green"><span class="hidden-xs">Preencha os</span> seus Dados <span class="check" style="display: none;"></span></h2>
                    </div>
                </div>

                @*<div class="delivery-card">*@
                <div class="lining">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-email">E-mail: *</label>
                            <input type="email" class="form-control" name="order-email" id="order-email" @{ if (ViewBag.Cliente != null) { <text> value="@ViewBag.Cliente.Email" </text>  }; } placeholder="Preencha seu E-mail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-nome">Nome Completo: *<span></span></label>
                            <input type="text" class="form-control" name="order-nome" id="order-nome" @{ if (ViewBag.Cliente != null) { <text> value="@ViewBag.Cliente.Nome" </text>  }; } placeholder="Preencha seu nome completo" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-cpf">CPF / CNPJ: *</label>
                            <input type="text" class="form-control" name="order-cpf" id="order-cpf" @{ if (ViewBag.Cliente != null) { <text> value="@ViewBag.Cliente.Documento" </text>  }; } placeholder="Somente Números" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <label class="control-label" for="order-tel">Telefone: *</label>
                            <input type="tel" class="form-control" name="order-tel" id="order-tel" @{ if (ViewBag.Cliente != null) { <text> value="@ViewBag.Cliente.TelefoneContato" </text>  }; } placeholder="(00) 00000-0000" disabled />
                        </div>
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nós ligaremos em até 5min para confirmar o seu pedido"></span>
                        
                    </div>
                </div>

            </div>
        </div>

        @* LOCAL DE ENTREGA *@
        <div id="CadastroStepTwo" class="@{ if (ViewBag.Cliente != null) { <text>col-md-6</text> } else { <text>col-md-4</text>  }; }">
            <div class="payment-card">
                <div class="lining col-md-4 col-md-offset-8">
                    <p>Passo 2</p>
                </div>
                <div class="lining">
                    <div class="col-md-12">
                        <h2><span class="hidden-xs">Preencha os </span>Dados de Entrega<span class="check" style="display: none;"></span></h2>
                    </div>
                </div>

                <div class="lining desativado">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-homenageado">Pessoa Homenageada: *</label>
                            <input type="text" class="form-control" disabled name="order-homenageado" id="order-homenageado" placeholder="Nome da pessoa homenageada" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-cidade">Cidade de Entrega: *</label>
                            <input type="text" class="form-control" name="order-cidade" id="order-cidade" disabled />
                            <input type="hidden" id="hidden-cidadeid" name="hidden-cidadeid" value="0" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-local">Local da Entrega: *</label>
                            <input type="hidden" id="hidden-localid" name="hidden-localid" value="" />
                            <input type="text" class="form-control" name="order-local" id="order-local" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" for="order-data">Data da Entrega: *</label>
                            <input disabled type="text" value="@{ @DateTime.Now.ToString("dd/MM/yyyy") }" class="form-control" name="order-data" id="order-data" />
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="order-hora">Hora da Entrega:</label>
                            <input disabled type="text" class="form-control" name="order-hora" id="order-hora" data-mask="00:00" />
                            <u style="display:none;">Desfazer</u>
                        </div>
                    </div>
                    <div class="form-group" id="FrasesDeHomenagem">
                        @{
                            List<string> ListGuid = new List<string>();
                            for (int i = 0; i < Model.Itens.Count; i++)
                            {
                                ListGuid.Add(Guid.NewGuid().ToString());
                            }

                            var CountFrase = 0;
                        }

                        @foreach (var frase in Model.Itens)
                        {

                            <div class="col-md-12">
                                <label class="control-label" for="order-obs">Frase Homenagem para @frase.ProdutoTamanho.Produto.Nome.Replace("Coroa de Flores", "") - @frase.ProdutoTamanho.Tamanho.Nome </label>
                                <textarea rel="FRASE|@ListGuid[CountFrase].ToString(),@frase.ProdutoTamanho.ProdutoID,@frase.ProdutoTamanho.TamanhoID" disabled class="form-control" name="order-frase-@ListGuid[CountFrase].ToString()" id="order-frase-@ListGuid[CountFrase].ToString()" rows="1" placeholder="Escreva sua frase de homanagem"></textarea>
                            </div>

                            CountFrase++;
                        }
                    </div>
                </div>

            </div>
        </div>

        @* FORMA DE PAGAMENTO *@
        <div id="CadastroStepThree" class="@{ if (ViewBag.Cliente != null) { <text>col-md-6</text> } else { <text>col-md-5</text>  }; }">
            <div class="payment-card">
                <div class="lining col-md-4 col-md-offset-8">
                    <p>Passo 3</p>
                </div>
                <div class="lining">
                    <div class="col-md-12">
                        <h2><span class="hidden-xs">Resumo e </span>Forma de Pagamento<span class="check" style="display: none;"></span></h2>
                    </div>
                </div>
                <div class="lining desativado">
                    <div class="col-md-12">
                        <h3>Resumo do Pedido</h3>
                    </div>
                    <div class="col-md-12 info">
                        @{
                            var linhas = 0;
                            var qtdproduto = Model.Itens.Count;
                        }
                        @foreach (var item in Model.Itens)
                        {
                            linhas = linhas + 1;
                            <div class="cart-card item-list">
                                @* PRODUTO*@
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-9">
                                        <span>
                                            <p>
                                                <img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg" />
                                                @item.ProdutoTamanho.Produto.Nome.Replace("Coroa de Flores", "")
                                            </p>
                                        </span>

                                    </div>
                                    <div class="row visible-xs">
                                        <div class="col-xs-8 col-xs-3 center3">
                                            <p>@item.ProdutoTamanho.Tamanho.Nome</p>
                                            </div>
                                        </div>
                                            <div class="col-md-2 col-sm-2 hidden-xs center2">
                                                <p>@item.ProdutoTamanho.Tamanho.Nome</p>
                                            </div>
                                            <div class="col-md-3 col-sm-2 col-xs-9 center">
                                                <p><strong>@item.Valor.ToString("C2")</strong></p>
                                            </div>
                                            <div class="col-md-1 col-sm-2 col-xs-3 center2">
                                                <span class="icon_close_alt2" onclick="Carrinho.Remover(0, function() { window.location = window.location })"></span>
                                            </div>
                                        </div>
                                    </div>
                                    if (linhas != qtdproduto)
                                    {
                                    <hr />
                                    }
                                    }
                                </div>
                </div>
                <div id="MeioDePagamento" class="lining desativado">
                    <div class="col-md-12">
                        <h3>Forma de Pagamento</h3>
                    </div>
                    <div class="col-md-12">
                        <label class="radio-inline" data-target="#boleto">
                            <span>
                                <input disabled rel="RadioBoleto" type="radio" name="optradio">
                            </span>
                            <span id="boleto-click"></span>
                        </label>
                        
                        <label class="radio-inline" data-target="#cartao">
                            <span>
                                <input disabled rel="RadioCartao" type="radio" name="optradio">
                            </span>
                            <span id="cartao-click"></span>
                        </label>
                        <div id="boleto" style="display: none;" class="col-md-12">
                            <h4>
                                @Model.Total.ToString("C2")
                            </h4>
                            <p><small>*Sua coroa de flores será entregue na data e horário que você selecionou. <br />O boleto bancário será enviado por e-mail com data de vencimento de 5 dias.</small></p>
                        </div>
                        <div id="cartao" style="display: none;" class="col-md-10">
                            <br />
                            <input type="hidden" value="" name="credito-bandeira" id="credito-bandeira">
                            <div class="lining">
                                <div class="col-md-12" id="number-field">
                                    <label class="control-label" for="credito-num">Número do cartão:</label>
                                    <input type="text" class="form-control credit" name="credito-num" id="credito-num" placeholder="Somente números" maxlength="19">
                                    <span bandeira="nda"></span>
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-12">
                                    <label class="control-label" for="credito-nome">Nome impresso no cartão:</label>
                                    <input type="text" class="form-control" name="credito-nome" id="credito-nome" placeholder="Exatamente como impresso">
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-6">
                                    <label class="control-label" for="credito-val">Validade:</label>
                                    <input type="text" class="form-control mm-yy" name="credito-val" id="credito-val" placeholder="MM/AA" maxlength="5">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="credito-seg">Código de Segurança:</label>
                                    <input type="text" class="form-control" name="credito-seg" id="credito-seg" placeholder="Ex: 123" maxlength="4">
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-12">
                                    <label class="control-label" for="credito-parcelas">Parcelar em:</label>
                                    <select class="form-control" name="credito-parccelas" id="credito-parcelas">
                                        @for (var i = 1; i <= configuracoes.Parcela; i++)
                                        {
                                            <option value="@i">@((i == 1) ? "À vista (" + i + "x " + Model.Total.ToString("c2") + ")" : i + " vezes (" + i + "x " + (Model.Total / i).ToString("c2") + ")")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 r">
                        <button style="margin-bottom: 5px;" class="btn checkout-sec FormBotao" disabled onclick="Pagar()">Finalizar a Compra</button>
                        <p>
                            <i>
                                * Campo Obrigatório
                            </i>
                        </p>
                        <div style="display: none; margin-top: 2%; margin-bottom: 2%;" class="carregando">
                            <img src="/content/imagens/loading.gif" />
                            <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /Container -->
</section>
