﻿@model Domain.Entities.Pedido
@{
    ViewBag.Title = "Pedido realizado com sucesso";
    Layout = "~/Views/Shared/_LayoutCompraNeue.cshtml";

    ViewBag.TrackTrans = "_gaq.push(['_addTrans',";
    ViewBag.TrackTrans += "'" + Model.ID + "',";          // transaction ID - required
    ViewBag.TrackTrans += "'Coroas para velório',";  // affiliation or store name
    ViewBag.TrackTrans += "'" + Model.ValorTotal.ToString("N2") + "',";          // total - required
    ViewBag.TrackTrans += "'0',";           // tax
    ViewBag.TrackTrans += "'0',";              // shipping
    if (Model.Cliente.Cidade != null)
    {
        ViewBag.TrackTrans += "'" + Model.Cliente.Cidade.Nome + "',";       // city
        ViewBag.TrackTrans += "'" + Model.Cliente.Cidade.Estado.Nome + "',";     // state or province
    }
    ViewBag.TrackTrans += "'BRA'";             // country
    ViewBag.TrackTrans += "]);";

    foreach (var item in Model.PedidoItems)
    {
        ViewBag.TrackTrans += "\n_gaq.push(['_addItem',";
        ViewBag.TrackTrans += "'" + Model.ID + "',";           // transaction ID - required
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.ProdutoID + "',";           // SKU/code - required
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.Produto.Nome + "',";        // product name
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.Tamanho.Nome + "',";   // category or variation
        ViewBag.TrackTrans += "'" + item.Valor.ToString("N2") + "',";          // unit price - required
        ViewBag.TrackTrans += "'1'";               // quantity - required
        ViewBag.TrackTrans += "]);";
    }

    ViewBag.TrackTrans += "\n_gaq.push(['_trackTrans']);"; //submits transaction to the Analytics servers

    ViewBag.Retargeting = "var google_conversion_language = \"pt\";";
    ViewBag.Retargeting += "var google_conversion_format = \"2\";";
    ViewBag.Retargeting += "var google_conversion_color = \"ffffff\";";
    ViewBag.Retargeting += "var google_conversion_label = \"KmjoCLWsywgQm7jd0gM\";";
    ViewBag.Retargeting += "var google_conversion_value = " + Model.ValorTotal.ToString("N2").Replace(",", ".") + ";";
    ViewBag.Retargeting += "var google_remarketing_only = false; ";
}


@section Script{

}

@section NeueScripts {

    <!-- Facebook Pixel Code -->
    <script>
                fbq('track', 'Lead');
    </script>
    <!-- END Facebook Pixel Code -->
    <!-- Basecamp test AB -->
    <script type="text/javascript">
         window._conv_q = window._conv_q || [];
         _conv_q.push(["sendRevenue","@Model.ID","@Model.ValorTotal.ToString("N2").Replace(",", ".")","@Model.PedidoItems.Count()","100019065"]);
    </script>
    <!-- Basecamp test AB -->
    <!-- Google Code for Compra Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        var google_conversion_language = "pt";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "KmjoCLWsywgQm7jd0gM";
        var google_conversion_value = @Model.ValorTotal.ToString("N2").Replace(",", ".");
        var google_conversion_currency = "BRL";
        var google_remarketing_only = false;
        /* ]]> */
    </script>

    <!--ShopBack-->
    <script type="text/javascript">
	      window._st_account = 2724;
	      window._cv_data = {
		        order_id: "@Model.ID", // Número do pedido
		        valor: "@Model.ValorTotal.ToString("N2").Replace(",", ".")" // Valor do pedido
	        };
            (
            function () {
		        var ss = document.createElement('script');
		        ss.type = 'text/javascript';
		        ss.async = true;
		        ss.src = '//app.shoptarget.com.br/js/tracking.js';
		        var sc = document.getElementsByTagName('script')[0];
		        sc.parentNode.insertBefore(ss, sc);
	        })();
    </script>
    <!--END ShopBack-->

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;display:none" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=@Model.ValorTotal.ToString("N2").Replace(",", ".")&amp;currency_code=BRL&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
    </div>
    </noscript>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

}

<section class="order" id="finish">
    <div style="display: none;" id="ResultMyMetrics">
        @ViewBag.ResultMyMetrics
    </div>
    <!-- Container -->
    <div class="container">
        <!-- Divider -->
        <div class="divider"></div>
        <!-- /Divider -->

        <div class="lining">
            <div class="col-md-12">
                <h1>Obrigado!</h1>
                <p>
                    Seu pedido de número <b>#@Model.Numero</b> foi processado com sucesso e será entregue em até 2h* no endereço:
                    <br /><br />
                    @if (@Model.LocalEntrega != null && @Model.LocalEntrega != "NULL" && @Model.LocalEntrega != "LOCAL NÃO CADASTRADO")
                    {
                        <b><i>@Model.LocalEntrega.ToUpper() - @Model.Cidade.Nome.ToUpper() / @Model.Estado.Sigla.ToUpper()</i></b>
                    }
                    else
                    {
                        <b>
                            <i>
                                @{if (Model.ComplementoLocalEntrega != null)
                                    { @Model.ComplementoLocalEntrega.ToUpper() <text> - </text> } }   @Model.Cidade.Nome.ToUpper() / @Model.Estado.Sigla.ToUpper()
                                </i>
                            </b>
                        }
                </p>
                @{
                    if (Model.FormaPagamento == Domain.Entities.Pedido.FormasPagamento.BoletoPagarMe)
                    {
                        <hr />
                        <div class="col-md-8 col-md-offset-2 boleto">
                            <p>
                                <b>Antenção</b> fique atento para o vencimento do seu boleto. Pague-o em dia e evite <b>juros e protesto</b>. O seu boleto vence em <b>@Model.BoletoPagarMes.First().DataVencimento.Value.ToString("dd/MM/yyyy")</b>.
                            </p>

                            @if (Model.BoletoPagarMes.Count > 0)
                            {
                                <a href="@Model.BoletoPagarMes.First().BoletoURL" target="_blank" id="generate-boleto"><span></span>Imprimir Boleto</a>
                            }
                        </div>
                    }
                }

            </div>
        </div>

    </div>
    <!-- /Container -->
</section>