﻿@model Domain.Entities.Carrinho

@{
    ViewBag.Title = "Seu Pedido";
    Layout = "~/Views/Shared/_LayoutCompraNeue.cshtml";

    var cliente = (Domain.Entities.Cliente)ViewBag.Cliente;
    var estados = ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}


@section Script{

}

@section NeueScripts {
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="/Scripts/geral.js"></script>
    <script src="/Content/neue/js/jquery.ui.datepicker-pt-BR.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

      <!-- CPV Custom Javascripts -->
    <script type="text/javascript">
        function orderNeue(i) { location.replace(document.location.origin + "?ordenacao=" + i + "#comprar") } $(document).ready(function () { i = !0; $(window).width() <= 750 && (i = !1), $(window).resize(function () { i = $(window).width() <= 750 ? !1 : !0 }), $(window).scroll(function () { var t = $(window).scrollTop(); t >= 140 && i ? $("#fixed-bar").fadeIn("fast") : $("#fixed-bar").fadeOut("fast") }), $(window).width() > 767 && $(".badge").each(function () { $(this).css("margin-left", "-" + $(this).outerWidth() / 2 + "px") }), $("nav#mmenu").mmenu(); var t = 1; $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show(), $(".controls").click(function () { $(this).is("#next") ? t++ : $(this).is("#prev") && t--, t > 10 ? t = 1 : 1 > t && (t = 10), $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show() }); });
    </script>

    <!-- Mobile Menu (mmenu) -->
    <script src="/content/neue/js/mmenu/dist/core/js/jquery.mmenu.min.all.js"></script>

    <!-- Mask Plugin -->
    <script src="/content/neue/js/mask/dist/jquery.mask.min.js"></script>

    <!-- Card Brand Validation Plugin -->
    <script src="/content/neue/js/jquery.creditCardValidator.js"></script>

    <!-- Autocomplete Plugin -->
    <script src="/content/neue/js/jquery.easy-autocomplete.min.js"></script>
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
    <script type="text/javascript">

        function Frase(id, obj){
            $('#frase-' + id).val($(obj).val());
            $('#frase-' + id).focus();
        }

        function Redirecionar(codigo)
        {
            window.location = '@Url.Action("confirmacao", "pedido")?codigo=' + codigo;
        }

        function showProcessando(){
            $('.carregando').fadeIn("200");
        }

        function hideProcessando(){
            $('.carregando').fadeOut("200");
        }

        function desabilita(){
            $('.form-control').attr("disabled", "disabled");
            $('.payment-card ul>li').fadeOut("500");
        }

        function habilita(){
            $('.form-control').attr("disabled", false);
            $('.payment-card ul>li').fadeIn("500");
        }

        function Validar(){
            var pessoaHomenageada = $('#order-homenageado').val();
            var grauParentesco = $('#grau-parentesco').val();
            var telefoneContato = $('#telefone-contato').val();
            var estado = $('#order-estado').val();
            var cidade = $('#order-cidade').val();
            var idLocal = $('#hidden-localid').val();
            var localEntrega = $('#order-local').val();
            var dataEntrega = $('#order-data').val();
            var horaEntrega = $('#order-hora').val();
            var observacoes = $('#order-obs').val();

            var erros = '';
            var quantidade = 0;

            $('.filled input').each(function(){
                var valor = $(this).val();
                if(valor == ''){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Frase de Homenagem';
                }
            });

            if(pessoaHomenageada == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Pessoa Homenageada';
            }
            if(grauParentesco == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Grau de Parentesco';
            }
            if(localEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Local de Entrega';
            }
            if(estado == '' || estado == null){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione o Estado';
            }
            if(cidade == '' || cidade == null){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione a Cidade';
            }

            var DateInputada = new Date($("#order-data").val().split('/')[1] + "/" + $("#order-data").val().split('/')[0] + "/" + $("#order-data").val().split('/')[2]);

            var month = new Date().getMonth() + 1;
            var day = new Date().getDate();
            var output = (('' + month).length < 2 ? '0' : '') + month + "/" + (('' + day).length < 2 ? '0' : '') + day + "/" + new Date().getFullYear();
            var DateNow = new Date(output);

            if (dataEntrega == '' || (DateInputada < DateNow) || DateInputada == "Invalid Date"){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Verifique o campo Data de Entrega';
            }

            if(horaEntrega == '' ||  $('#order-hora').parent().hasClass('valid-error')){
                if(!$('#order-hora').attr('disabled')){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Hora de Entrega';
                }
                // Tratar else aqui
            }
            if(quantidade > 0){
            if(quantidade > 1){
                erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
            }
                alert(erros);
                return false;
            }

            return true;
        }

        function Pagar(meioPagamento)
        {
            if(Validar())
            {
                var pessoaHomenageada = $('#order-homenageado').val();
                var grauParentesco = $('#grau-parentesco').val();
                var telefoneContato = $('#telefone-contato').val();

                var estado = $('#order-estado').val();
                var cidade = $('#order-cidade').val();
                var idLocal = $('#hidden-localid').val();
                var localEntrega = $('#order-local').val();
                //var localEntrega = _nmLocalEntregaSelecionado;
                var localEntregaComplemento = $('#order-localcomplemento').val();
                var dataEntrega = $('#order-data').val();
                var horaEntrega = $('#order-hora').val();
                var ckHorarionaodefinido = $('#pop-check-horarionaodefinido').is(':checked');
                var observacoes = $('#order-obs').val();

                if (localEntrega == "NULL") {
                    localEntrega == "LOCAL NÃO CADASTRADO";
                }


                //if (!ckHorarionaodefinido) {
                //    horaEntrega = "23:59";
                //}

                switch(meioPagamento){
                    case 'CartaoCredito':
                        var bandeira = $('#credito-bandeira').val();
                        var nome = $('#credito-nome').val();
                        var numero = $('#credito-num').val().replace(/\s+/g, '');
                        var validade = $('#credito-val').val();
                        var codigo = $('#credito-seg').val();
                        var parcela = $('#credito-parcelas').val();

                        $('#credito-bandeira').val('');
                        $('#credito-nome').val('');
                        $('#credito-num').val('');
                        $('#credito-val').val('');
                        $('#credito-seg').val('');

                        var erros = '';
                        var quantidade = 0;

                        if (bandeira == '') {
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Bandeira do Cartão inválida';
                        }
                        if(nome == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Nome Impresso no Cartão';
                        }
                        if(numero == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Número do Cartão';
                        }
                        if(validade == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Validade do Cartão';
                        }
                        if(codigo == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Código de Segurança';
                        }

                        if(quantidade > 0){
                            if(quantidade > 1){
                                erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                            }
                            alert(erros);
                        }
                        else
                        {
                            $('.FormBotao').hide();
                            showProcessando();
                            desabilita();

                            var CardHashRetorno = "";
                            PagarMe.encryption_key = "@((Domain.Core.Configuracoes.PagarMe_DefaultCriptKey))";

                            var creditCard = new PagarMe.creditCard();
                            creditCard.cardHolderName = nome;
                            creditCard.cardExpirationMonth = validade.substring(0, 2);
                            creditCard.cardExpirationYear = validade.substring(3, 5);
                            creditCard.cardNumber = numero;
                            creditCard.cardCVV = codigo;

                            creditCard.generateHash(function (hash) {

                                 $.ajax({
                                    url: '/Pedido/Pagar',
                                    type: "POST",
                                    dataType: 'json',
                                    data: {
                                        bandeira: bandeira,
                                        nome: nome,
                                        numero: numero,
                                        validade: validade,
                                        codigo: codigo,
                                        parcela: parcela,
                                        cidadeID: cidade,
                                        dataSolicitada: dataEntrega + ' ' + horaEntrega,
                                        estadoID: estado,
                                        formaPagamento: @((int)(Domain.Entities.Pedido.FormasPagamento.CartaoCredito)),
                                        localEntrega: localEntrega,
                                        meioPagamento: @((int)(Domain.Entities.Pedido.MeiosPagamento.PagarMe)),
                                        observacoes: observacoes,                                    
                                        pessoaHomenageada: pessoaHomenageada,                                    
                                        cardHash: hash
                                    }
                                }).done(function (data) {
                                    if (data.Retorno == 'Paid') {
                                        Redirecionar(data.Codigo);
                                    }
                                    else {
                                        alert('Transação negada, por favor, tente novamente ou utilize outro meio de pagamento!\n\n' + data);
                                        hideProcessando();
                                        habilita();
                                        $('.FormBotao').show();
                                    }
                                     }).fail(function (xhr, ajaxOptions, thrownError) {
                                         alert("Ocorreu um erro ao processar seu pedido. Entre em contato pelo telefone 0800-777-1986 para verificar o status.\n\nErro: " + xhr.status + "\nDescrição: " + thrownError);
                                         habilita();
                                         hideProcessando();
                                         $('.FormBotao').show();
                                });
                                                              
                            });

                            
                        }
                        break;
                    case 'Boleto':
                    case 'Faturamento':
                        showProcessando();
                        desabilita();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.BoletoPagarMe)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.BoletoPagarMe)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                        function (data) {
                                Redirecionar(data.Codigo);
                            },
                            function (error) {
                                hideProcessando();
                                habilita();
                                $('.FormBotao').show();
                                alert(error);
                            },
                            idLocal
                        );
                        break;

                    case 'PagSeguro':
                        showProcessando();
                        desabilita();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PagSeguro)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#reference').val(data.Codigo);
                                $('#form-pagseguro').submit();
                            },
                            function (error) {
                                hideProcessando();
                                habilita();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;

                    case 'PayPal':
                        //validarForm
                        //var validouForm
                        showProcessando();
                        desabilita();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PayPal)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#paypal-custom').val(data.Codigo);
                                $('#return').val($('#return').val() + "?codigo=" + data.Codigo);
                                $('#form-paypal').submit();
                            },
                            function (error) {
                                hideProcessando();
                                habilita();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;

                    case 'Shopline':
                        showProcessando();
                        desabilita();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Shopline)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                Shopline.GerarDC(data.Codigo,
                                    function(dc){
                                        $('#shopline-dc').val(dc);
                                        $('#form-shopline').closest('form').attr('target', 'new').submit().removeAttr('target');
                                        //$('#form-shopline').submit();
                                        //Redirecionar(data.Codigo);
                                    },
                                    function () {
                                        alert('Não foi possível criar seu pedido. Tente novamente com outra forma de pagamento.');
                                        hideProcessando();
                                        habilita();
                                        $('.FormBotao').show();
                                    }
                                );
                            },
                            function (error) {
                                hideProcessando();
                                habilita();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;
                }
                return true;
            }
            return false;
        }

        $(document).ready(function () {
            var Data = {
                'event': 'checkout',
                'ecommerce': {
                    'actionField': {
                        'step': 2
                    },
                    'products': [
                                @foreach(var Item in Model.Itens)
                                {
                                    var CarrinhoItem = (Domain.Entities.CarrinhoItem)Item;
                                    var Produto = CarrinhoItem.ProdutoTamanho.Produto;
                                    var Tamanho = CarrinhoItem.ProdutoTamanho.Tamanho.Nome;

                                    if (Tamanho == "Pequena")
                                    {
                                        Tamanho = "P";
                                    }
                                    if (Tamanho == "Média")
                                    {
                                        Tamanho = "M";
                                    }
                                    if (Tamanho == "Grande")
                                    {
                                        Tamanho = "G";
                                    }

                                    string Categoria = "";

                                    switch (Produto.ID)
                                    {
                                        case 20:
                                        case 1:
                                        case 18:
                                        case 2:
                                        case 19:
                                        case 3:
                                            Categoria = "Premium";
                                            break;
                                        case 22:
                                        case 21:
                                        case 25:
                                        case 24:
                                        case 23:
                                            Categoria = "Luxo";
                                            break;
                                        case 27:
                                        case 28:
                                        case 29:
                                            Categoria = "Super Luxo";
                                            break;
                                        case 30:
                                        case 34:
                                        case 33:
                                        case 32:
                                        case 31:
                                            Categoria = "Duplas";
                                            break;
                                        default:
                                            break;
                                    }

                                    <text>
                                    {
                                        'name': '@Produto.Nome',
                                        'id': '@Produto.ID',
                                        'price': '@CarrinhoItem.ProdutoTamanho.Preco.ToString().Replace(",", ".")',
                                        'category': '@Categoria',
                                        'variant': '@Tamanho',
                                        'quantity': 1
                                    },
                                    </text>

                                }
                    ]
                }
            };

            console.log(Data);
            console.log(dataLayer.push(Data));

            $("#order-estado option").eq(1).before($("<option disabled></option>").val("").text(""));
            $("#order-estado option").eq(5).before($("<option disabled></option>").val("").text(""));

            $("#FraseHomenagem").val('@Session["Frase"]');

            //$('#order-data').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'pt-BR',
            //    minDate: 0
            //});

            //$(window).resize(function() {
            //    if($('#painel').css('display') != 'none'){
            //        showPainel();
            //    }
            //});

            if (popupBloqueada) {
                $('#shopline-mensagem').show();
            } else {
                $('#shopline-mensagem').hide();
            }

//            // Status de preenchimento da frase de homenagem
//            $('.cart-card.item-list .x').blur(function(){
//                if($(this).val != null && $(this).val() != "") {
//                    //$(this).removeClass("icon_error-triangle").attr('title', 'Preencha a frase para a faixa!');
//                    //$(this).attr('title', 'Tudo ok!');
//                }
//            });

            $('#order-estado').val('');

            $('#order-estado').change(function () {
                var estado = $('#order-estado').val();
                $('#order-cidade').html('');
                if (estado != '') {
                    var Count = 0;
                    Local.CidadesOrdem(estado, function (data) {
                        var html = '<option disabled selected>Selecione a cidade</option>';
                        for (var c in data) {
                            var cidade = data[c];
                            if((Count == 0 || Count == 3) && ($("#order-estado").val() == "26" || $("#order-estado").val() == "19" || $("#order-estado").val() == "11")){
                                html += '<option disabled="" value=""></option>';
                            }
                            html += '<option value="' + cidade.ID + '">' + cidade.Nome + '</option>';
                            Count++;
                        }
                        $('#order-cidade').html(html).removeAttr("disabled");
                    });
                }
            });

            /// Autocomplete
            $('#order-cidade').change(function(){
                var idCidadeRequest = $(this).val();

                $('#order-local').removeAttr('disabled');

                // Easy AutoComplete
                var options = {
                    url: '/Home/GetLocais?idCidade=' + idCidadeRequest,
                    getValue: 'Titulo',
                    list: {
                        match: {
                            enabled: true
                        },
                        onClickEvent: function() {
                            var hiddenLocal = $('#order-local').getSelectedItemData().IdLocal;
                            $('#LocalID').val(hiddenLocal);
                        }
                    }
                }

                $('#order-local').easyAutocomplete(options);

            });



            // Masks
            $('.credit').mask('0000 0000 0000 0000');
            $('.mm-yy').mask('00/00').attr('maxlength', '5');
            $('#order-data').mask('00/00/0000').attr('maxlength', '10');
            $('#order-hora').mask('00:00').attr('maxlength', '5');

            $('#order-hora').keyup(function(){
                if($(this).val().length >= 5){
                    $('.popping').remove();
                }
            });

            // Custom Popover

            $('#order-hora').blur(function(){
                if($(this).val().length < 5 && $(this).val().length > 0){
                    alert('Horário Inválido. Por favor, digite o horário de entrega com 4 digitos. Exemplo: 14:00.');
                    $(this).val('');
                }
                else{
                    var Hora = parseInt($(this).val().substr(0,1) + $(this).val().substr(1,1));
                    var Minutos = parseInt($(this).val().substr(3,1) + $(this).val().substr(4,1));

                    if(Hora > 23 || Minutos > 59){
                        alert('Horário Inválido. Por favor, digite o horário de entrega entre 00:00 e 23:59.');
                        $(this).val('');
                    }
                }
            });

            $('#order-hora').focus(function(){
                $('.popping').remove();
                $(this).parent().append('<div class="popping" tabindex="-1"><h3 class="pop-title">Não sabe o horário?</h3><div class="pop-content"><p>Marque caso o velório não tenha horário definido:</p><div><input type="checkbox" value="" id="pop-check-horarionaodefinido" />Horário não definido</div></div></div>');

                $('.popping, .popping *')
                    .focus(function(){
                        validationOnBlur($('#order-hora'));
                    })
                    .blur(function(){
                        $('.popping').remove();
                    });

                $('.pop-content input[type=checkbox]').click(function(){
                    var ckHorarionaodefinido = '';
                    if($('#pop-check-horarionaodefinido').is(':checked')) {
                        ckHorarionaodefinido = true;
                        $('#order-hora').val('').attr('disabled', 'disabled').attr('placeholder', 'Não Definido').siblings('u').show();
                    }
                    else {
                        ckHorarionaodefinido = false;
                        $('#order-hora').val('').removeAttr('disabled').removeAttr('placeholder').focus().siblings('u').hide();
                    }
                });
            });

            $('#order-hora ~ u').click(function(){
                $('#order-hora').val('').removeAttr('disabled').removeAttr('placeholder').focus().siblings('u').hide('u');
            });

            // Function to Visual Validate fields on blur()
            var validationOnBlur = function($element, status) {
                if($element.hasClass('valid-error')) {
                    $element.removeClass('valid-error');
                }
                else if($element.hasClass('valid-success')) {
                    $element.removeClass('valid-success');
                }

                if (status == 'success') {
                    $element.addClass('valid-success');
                }
                else if (status == 'error') {
                    $element.addClass('valid-error');
                }

                //if(status == 'success') {
                //    $element.parent().addClass('valid-success').append('<i class="icon_check_alt2"></i>');
                //}
                //else if(status == 'error') {
                //    $element.parent().addClass('valid-error').append('<i class="icon_close_alt2"></i>');
                //}
            }

            // Focus Clear
            $('.delivery-card .form-control').focus(function(){
                $(this).parent().removeClass('valid-error valid-success');
                $(this).siblings('i').remove();
            });

            // Blur Validation
            $('.payment-card .form-control').blur(function () {                
                if($(this).is('select')) {
                    if($(this).val() != null) {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
                else if($(this).is('textarea')) {
                    if($(this).val() != '') {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this));
                    }
                }
                else if ($(this).attr('id') == 'order-data') {

                    var DateInputada = new Date($(this).val().split('/')[1] + "/" + $(this).val().split('/')[0] + "/" + $(this).val().split('/')[2])
                   
                    var month = new Date().getMonth() + 1;
                    var day = new Date().getDate();
                    var output = (('' + month).length < 2 ? '0' : '') + month + "/" + (('' + day).length < 2 ? '0' : '') + day + "/" + new Date().getFullYear();
                    var DateNow = new Date(output);

                    if ($(this).val().length == 10 && (DateInputada >= DateNow) && DateInputada != "Invalid Date") {
                        //console.log(DateNow);
                        validationOnBlur($(this), 'success');
                    }
                    else if ($(this).val().length < 10) {
                        $(this).val('');
                    }
                    else {
                        validationOnBlur($(this), 'error');

                        $(this).change(function(){
                            if($(this).val().length == 10) {
                                validationOnBlur($(this), 'success');
                            }
                            else {
                                validationOnBlur($(this), 'error');
                            }
                        });
                    }
                }
                else if($(this).attr('id') == 'order-hora') {
                    if($(this).val().length == 5) {
                        if($(this).val() != "" && $(this).val() != 'undefined' && $(this).val() != null){
                            if($(this).val().split(':', 1) > 23) {
                                validationOnBlur($(this), 'error');
                            }
                            else {
                                validationOnBlur($(this), 'success');
                                $('.popping').remove();
                            }
                        }
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
                else {
                    if($(this).val() != '') {
                        validationOnBlur($(this), 'success');
                    }
                    else {
                        validationOnBlur($(this), 'error');
                    }
                }
            });

            // Opções de Pagamento
            $(".payment-card ul>li").click(function () {
                $(this).addClass("active").siblings("li").removeClass("active");
                var idMobile = "";

                if ($(this).attr("id") == "opt-credit") {
                    $(".info#credito").show().siblings(".info").hide();
                    idMobile = "#credito";
                }
                else if ($(this).attr("id") == "opt-barcode") {
                    $(".info#boleto").show().siblings(".info").hide();
                    idMobile = "#boleto";
                }
                else if ($(this).attr("id") == "opt-pagseguro") {
                    $(".info#pagseguro").show().siblings(".info").hide();
                    idMobile = "#pagseguro";
                }
                else if ($(this).attr("id") == "opt-paypal") {
                    $(".info#paypal").show().siblings(".info").hide();
                    idMobile = "#paypal";
                }
                else if ($(this).attr("id") == "opt-faturamento") {
                    $(".info#faturamento").show().siblings(".info").hide();
                    idMobile = "#faturamento";
                }

                if ($(window).width() <= 480) {
                    $('html, body').animate({
                        scrollTop: $(".info" + idMobile).offset().top - 45
                    }, 800);
                }
            });

            // Reconhece a bandeira do cartão de crédito
            $(function() {
                $('#credito-num').validateCreditCard(function(result) {
                    if(result.card_type != null) {
                        switch(result.card_type.name) {
                            case 'visa':
                                $(this).siblings('span').attr('bandeira', 'visa');
                                $('#credito-bandeira').val('1');
                                break;
                            case 'mastercard':
                                $(this).siblings('span').attr('bandeira', 'master');
                                $('#credito-bandeira').val('2');
                                break;
                            case 'amex':
                                $(this).siblings('span').attr('bandeira', 'amex');
                                $('#credito-bandeira').val('5');
                                break;
                            case 'diners_club_carte_blanche':
                            case 'diners_club_international':
                                $(this).siblings('span').attr('bandeira', 'diners');
                                $('#credito-bandeira').val('4');
                                break;
                            default:
                                break;
                        }
                    }
                    else {
                        var str = $('#credito-num').val().replace(/\s+/g, '');
                        var matching = '^(636368|438935|504175|451416|509048|509067|509049|509069|509050|509074|509068|509040|509045|509051|509046|509066|509047|509042|509052|509043|509064|509040|36297|5067|4576|4011)'

                        if(str.match(matching)) {
                            $(this).siblings('span').attr('bandeira', 'elo');
                            $('#credito-bandeira').val('3');
                        }
                        else {
                            $(this).siblings('span').attr('bandeira', 'nda');
                            $('#credito-bandeira').val('');
                        }
                    }
                });
            });
        });
    </script>


}

<section class="cart order delivery">
    <!-- Container -->
    <div class="container">
        <!-- Divider -->
        <div class="divider"></div>
        <!-- /Divider -->
        <!-- Cart -->
        <div class="cart-card heading hidden-xs">
            <div class="lining">
                <div class="col-md-7 col-sm-6">
                    Produto
                </div>
                <div class="col-md-2 col-sm-2">
                    Tamanho
                </div>
                <div class="col-md-2 col-sm-2">
                    Valor
                </div>
                @*<div class="col-md-1 col-sm-2">
                        Status
                    </div>*@
            </div>
        </div>

        @foreach (var item in Model.Itens)
        {
            <div class="cart-card item-list">

                @* PRODUTO*@
                <div class="lining">
                    <div class="col-md-7 col-sm-6">
                        <span>
                            <p>
                                <a target="_blank" href="@Url.RouteUrl("Coroa", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })">
                                    <img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg" />
                                </a>
                            </p>
                        </span>
                        <strong><p>@item.ProdutoTamanho.Produto.Nome</p></strong>
                        <i class="visible-xs"><p>@item.ProdutoTamanho.Tamanho.Nome</p></i>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <p>@item.ProdutoTamanho.Tamanho.Nome</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <p>@item.Valor.ToString("C2")</p>
                    </div>
                    <!-- Status de preenchimento da frase de homenagem
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <span class="icon_error-triangle" data-toggle="tooltip" data-placement="left" id="status" title="Preencha a frase para a faixa!"></span>
                    </div>-->
                </div>

                @* FRASE*@
                <div class="lining">
                    <div class="col-md-3 col-md-offset-1">
                        <label class="control-label">1) Selecione uma sugestão de frase:</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" onchange="Frase(@item.ID, this);" name="item1-sugestao" id="item1-sugestao">
                            <option value="" disabled selected>Selecione uma Sugestão</option>
                            <option value="">==== Frase Personalizada ====</option>
                            <optgroup label="#### COLEGAS DE TRABALHO ####">
                                <option value="Sentimentos dos Amigos da [NOME DA EMPRESA]">Sentimentos dos Amigos da [NOME DA EMPRESA]</option>
                                <option value="Homenagem dos Amigos da [NOME DA EMPRESA]">Homenagem dos Amigos da [NOME DA EMPRESA]</option>
                                <option value="Uma homenagem da [NOME DA EMPRESA]">Uma homenagem da [NOME DA EMPRESA]</option>
                                <option value="Com carinho, sinceros sentimentos dos Colegas da [NOME DA EMPRESA]">Com carinho, sinceros sentimentos dos Colegas da [NOME DA EMPRESA]</option>
                                <option value="Sinceras condolências dos Diretores e Funcionários da [NOME DA EMPRESA]">Sinceras condolências dos Diretores e Funcionários da [NOME DA EMPRESA]</option>
                                <option value="Condolências dos Amigos da [NOME DA EMPRESA]">Condolências dos Amigos da [NOME DA EMPRESA]</option>
                                <option value="Sentimentos aos familiares – [NOME DA EMPRESA]">Sentimentos aos familiares – [NOME DA EMPRESA]</option>
                            </optgroup>
                            
                            <optgroup label="#### FAMILIARES e AMIGOS PRÓXIMOS ####">
                                <option value="Com carinho, uma homenagem da Família [SOBRENOME DA FAMÍLIA]">Com carinho, uma homenagem da Família [SOBRENOME DA FAMÍLIA]</option>
                                <option value="Uma homenagem de toda a Família [SOBRENOME DA FAMÍLIA]">Uma homenagem de toda a Família [SOBRENOME DA FAMÍLIA]</option>
                                <option value="Saudades de todos os seus familiares – Família [SOBRENOME DA FAMÍLIA]">Saudades de todos os seus familiares – Família [SOBRENOME DA FAMÍLIA]</option>
                                <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da [REFERÊNCIA]">Uma pessoa nunca morre quando está viva em nossos corações – Amigos da [REFERÊNCIA]</option>
                                <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da [REFERÊNCIA]">Brilha uma nova estrela no céu. Sentimentos dos Amigos da [REFERÊNCIA]</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="lining">
                    <div class="col-md-3 col-md-offset-1">
                        <label class="control-label">2) Complete ou customize sua frase:</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="frase-@item.ID" name="frase-@item.ID" class="form-control" value="@Session["Frase"]" onblur="Carrinho.AtualizarMensagem(@item.ID, this.value)" />
                    </div>
                </div>
            </div>
        }

        @*<span class="cart-card divider"></span>*@


        @* SUBTOTAL*@
        <div class="cart-card" id="order-subtotal" style="display: none;">
            <div class="lining">
                <div class="col-md-2 col-md-offset-7 col-sm-6 col-xs-6">
                    Subtotal:
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p>@Model.Subtotal.ToString("c2")</p>
                </div>
            </div>
        </div>

        @* FRETE*@
        <div class="cart-card" id="order-frete" style="display: none;">
            <div class="lining">
                <div class="col-md-2 col-md-offset-7 col-sm-6 col-xs-6">
                    Frete:
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    Grátis!
                </div>
            </div>
        </div>

        @* VALOR TOTAL*@
        <div class="cart-card" id="order-total">
            <div class="lining">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Valor Total de <span>@Model.Total.ToString("c2")</span>. Entrega Grátis!</p>
                </div>
            </div>
        </div>
        <!-- /Cart -->
    </div>
    <!-- /Container -->
</section>

<section class="order delivery">
    <!-- Container -->
    <div class="container">

        @* LOCAL DE ENTREGA *@
        <div class="col-md-5">
            <div class="payment-card">
                <div class="lining">
                    <div class="col-md-12">
                        <h2><span class="hidden-xs">Preencha os Dados de Entrega</span></h2>
                    </div>
                </div>
                @*<div class="lining">
                    <div class="col-md-5">
                        <div class="lining Title">
                            <div class="col-md-12">
                                <h2><span class="hidden-xs">Preencha os Dados de Entrega</span></h2>
                            </div>
                        </div>*@

                @*<div class="delivery-card">*@
                <div class="lining">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-homenageado">Pessoa Homenageada:</label>
                            <input type="text" class="form-control" name="order-homenageado" id="order-homenageado" placeholder="Nome da pessoa homenageada" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-estado">Estado de Entrega:</label>
                            <select class="form-control" name="order-estado" id="order-estado">
                                <option value="" disabled selected>Selecione o Estado de Entrega</option>
                                @foreach (var estado in estados)
                                {
                                <option value="@estado.Value">@estado.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-cidade">Cidade de Entrega:</label>
                            <select class="form-control" name="order-cidade" id="order-cidade" disabled>
                                <option value="" disabled selected>Selecione a Cidade de Entrega</option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-5">
                                <label class="control-label" for="order-estado">Estado de Entrega:</label>
                                <select class="form-control" name="order-estado" id="order-estado">
                                    <option value="" disabled selected>Selecione o Estado de Entrega</option>
                                    @foreach (var estado in estados)
                                    {
                                    <option value="@estado.Value">@estado.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-7">
                                <label class="control-label" for="order-cidade">Cidade de Entrega:</label>
                                <select class="form-control" name="order-cidade" id="order-cidade" disabled>
                                    <option value="" disabled selected>Selecione a Cidade de Entrega</option>
                                    <option></option>
                                </select>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="order-local">Local da Entrega:</label>
                            <input type="hidden" id="hidden-localid" name="hidden-localid" value="" />
                            <input type="hidden" id="hidden-local" name="hidden-local" value="" />
                            <input type="text" class="form-control" name="order-local" id="order-local" disabled />
                            @*<select class="form-control" name="order-local" id="order-local" disabled>
                                <option value="" disabled selected>Selecione o Local da Entrega</option>
                                <option></option>
                        </select> *@
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="order-local">Complemento do Local da Entrega:</label>
                        <input type="text" class="form-control" name="order-localcomplemento" id="order-localcomplemento" maxlength="200" disabled />
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label" for="order-data">Data da Entrega:</label>
                        <input type="text" class="form-control" name="order-data" id="order-data" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" for="order-hora">Hora da Entrega:</label>
                        <input type="text" class="form-control" name="order-hora" id="order-hora" data-mask="00:00" />
                        <u style="display:none;">Desfazer</u>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="order-obs">Observações: <small>(opcional)</small></label>
                        <textarea class="form-control" name="order-obs" id="order-obs" rows="4" placeholder="Informações que ajudem nossa equipe a encontrar o local de entrega"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @* FORMA DE PAGAMENTO *@
        <div class="col-md-7">
            <div class="payment-card">
                <div class="lining">
                    <div class="col-md-12">
                        <h2><span class="hidden-xs">Escolha a </span>Forma de Pagamento</h2>
                    </div>
                </div>

                <div class="lining">
                    <div class="col-md-12">
                        <ul id="opcoes">
                            @if (!cliente.Exterior)
                                {
                                <li class="active" id="opt-barcode"><span></span><br /> <u><b>Boleto Bancário</b></u><i></i></li>
                                }
                            <li id="opt-credit"><span></span><br /> <u>Cartão de Crédito</u><i></i></li>
                            @if (!cliente.Exterior)
                                {
                                <li id="opt-pagseguro"><span></span><br /> <u>Pagseguro</u><i></i></li>
                                }
                            <li id="opt-paypal"><span></span><br /> <u>Paypal</u><i></i></li>
                            @if (cliente.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica && !cliente.Exterior)
                                {
                                <li id="opt-faturamento"><span></span><br /> <u>Faturamento</u><i></i></li>
                                }
                        </ul>

                        <div class="info" id="boleto">
                            <div class="lining">
                                <div class="col-md-12">
                                    <h3>Boleto Bancário</h3>
                                    <p>Nós enviaremos a sua Coroa de Flores na data que você selecionou para entrega independente do pagamento do boleto.</p>
                                    <p>O Boleto será enviado para o seu email e você terá <b>5 dias úteis</b> para pagá-lo.</p>
                                    <div class="alert alert-success c">
                                        <p>
                                            Mais de <b>93% dos usuários</b> pagam com o Boleto Bancário!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="lining">
                                <div class="col-md-12 c">
                                    <button class="btn checkout-sec FormBotao" onclick="Pagar('Boleto')">Pagar com Boleto Bancário</button>
                                    <div style="display: none; margin-top: 2%" class="carregando">
                                        <img src="/content/imagens/loading.gif" />
                                        <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="info" id="credito" style="display:none">
                            <h3>Cartão de Crédito</h3>

                            <input type="hidden" value="" name="credito-bandeira" id="credito-bandeira" />

                            <div class="lining">
                                <div class="col-md-12" id="number-field">
                                    <label class="control-label" for="credito-num">Número do cartão:</label>
                                    <input type="text" class="form-control credit" name="credito-num" id="credito-num" placeholder="Somente números" maxlength="19" />
                                    <span bandeira="nda"></span>
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-12">
                                    <label class="control-label" for="credito-nome">Nome impresso no cartão:</label>
                                    <input type="text" class="form-control" name="credito-nome" id="credito-nome" placeholder="Exatamente como impresso" />
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-6">
                                    <label class="control-label" for="credito-val">Validade:</label>
                                    <input type="text" class="form-control mm-yy" name="credito-val" id="credito-val" placeholder="MM/AA" maxlength="5" />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="credito-seg">Código de Segurança:</label>
                                    <input type="text" class="form-control" name="credito-seg" id="credito-seg" placeholder="Ex: 1234" maxlength="4" />
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-12">
                                    <label class="control-label" for="credito-parcelas">Parcelar em:</label>
                                    <select class="form-control" name="credito-parccelas" id="credito-parcelas">
                                        @for (var i = 1; i <= configuracoes.Parcela; i++)
                                            {
                                            <option value="@i">@((i == 1) ? "À vista (" + i + "x " + Model.Total.ToString("c2") + ")" : i + " vezes (" + i + "x " + (Model.Total / i).ToString("c2") + ")")</option>
                                            }
                                    </select>
                                </div>
                            </div>

                            <div class="lining">
                                <div class="col-md-12 c">
                                    <button class="btn checkout-sec FormBotao" onclick="Pagar('CartaoCredito')">Pagar com Cartão de Crédito</button>
                                    <div style="display: none; margin-top: 2%" class="carregando">
                                        <img src="/content/imagens/loading.gif" />
                                        <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="info" id="pagseguro" style="display:none">
                            <div class="lining">
                                <div class="col-md-12">
                                    <h3>Pagseguro</h3>
                                    <p>Parcele em até 12x, pague com boleto bancário ou depósito em conta</p>

                                    <div class="alert alert-attention c">
                                        <p>Essa forma de pagamento não aceita cartões internacionais (emitidos fora do Brasil)</p>
                                    </div>
                                </div>
                            </div>

                            <form id="form-pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                                <input type="hidden" name="receiverEmail" value="@Domain.Core.Configuracoes.PAGSEGURO_EMAIL" />
                                <input type="hidden" name="currency" value="BRL" />
                                <input type="hidden" id="redirectURL" name="redirectURL" value="@Domain.Core.Configuracoes.DOMINIO/pagseguro/retorno" />
                                @if (Model.Desconto > 0)
                                    {
                                    <input type="hidden" name="extraAmount" value="-@Model.Desconto.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                                    }
                                <input type="hidden" id="reference" name="reference" value="" />

                                @foreach (var item in Model.Itens)
                                    {
                                    <input type="hidden" name="itemId@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                                    <input type="hidden" name="itemDescription@(item.ID + 1)" value="@item.Descricao" />
                                    <input type="hidden" name="itemAmount@(item.ID + 1)" value="@item.Valor.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                                    <input type="hidden" name="itemQuantity@(item.ID + 1)" value="1" />
                                    <input type="hidden" name="itemWeight@(item.ID + 1)" value="0" />
                                    }

                                <input type="hidden" name="senderName" value="@cliente.Nome" />
                                <input type="hidden" name="senderEmail" value="@cliente.Email" />

                                <div class="lining">
                                    <div class="col-md-12 c">
                                        <button class="btn checkout-sec FormBotao" onclick="Pagar('PagSeguro');return false;">Pagar com PagSeguro</button>
                                        <div style="display: none; margin-top: 2%" class="carregando">
                                            <img src="/content/imagens/loading.gif" />
                                            <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="info" id="paypal" style="display:none">
                            <div class="lining">
                                <div class="col-md-12">
                                    <h3>PayPal</h3>
                                    <p>O PayPal aceita todas as bandeiras internacionais de cartão de crédito, entre muitas outras formas de pagamento.</p>
                                    <div class="alert alert-attention">
                                        <p>Se você possui um cartão de crédito internacional, escolha essa forma de pagamento</p>
                                    </div>
                                </div>
                            </div>

                            <form id="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="upload" value="1" />
                                <input type="hidden" name="charset" value="utf-8" />
                                <input type="hidden" name="business" value="@Domain.Core.Configuracoes.PAYPAL_EMAIL" />
                                <input type="hidden" name="return" value="@Domain.Core.Configuracoes.DOMINIO/@Url.Action("Retorno", "PayPal")" />
                                <input type="hidden" name="currency_code" value="BRL" />
                                <input type="hidden" name="lc" value="BR" />
                                <input type="hidden" name="discount_amount_cart" value="@Model.Desconto.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                                <input id="paypal-custom" type="hidden" name="custom" value="" />

                                @foreach (var item in Model.Itens)
                                    {
                                    <input type="hidden" name="item_name_@(item.ID + 1)" value="@item.Descricao" />
                                    <input type="hidden" name="item_number_@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                                    <input type="hidden" name="amount_@(item.ID + 1)" value="@item.Valor.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                                    }

                                <div class="lining">
                                    <div class="col-md-12 c">
                                        <button class="btn checkout-sec FormBotao" onclick="Pagar('PayPal');return false;">Pagar com PayPal</button>
                                        <div style="display: none; margin-top: 2%" class="carregando">
                                            <img src="/content/imagens/loading.gif" />
                                            <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="info" id="faturamento" style="display:none">
                            <h3>Faturamento para empresas</h3>
                            <p>Por meio do pagamento via Faturamento Empresas, será emitido um Boleto e uma Nota Fiscal com as informações fornecidas no cadastro. O prazo padrão de pagamento é de 07 dias após a confirmação do pedido, podendo ser estendido em caso de adequação ao processo de compra da empresa.</p>
                            <div class="alert alert-attention">
                                <p>
                                    <strong>Atenção!</strong>
                                    <br />
                                    Importante ressaltar que realizamos a entrega da Coroa de Flores imediatamente e o pagamento pode ser feito dentro do prazo de vencimento do Boleto.
                                </p>
                            </div>

                            <div class="lining">
                                <div class="col-md-12 c">
                                    <button class="btn checkout-sec FormBotao" onclick="Pagar('Faturamento')">Pagar com Faturamento</button>
                                    <div style="display: none; margin-top: 2%" class="carregando">
                                        <img src="/content/imagens/loading.gif" />
                                        <span id="PagSeguro-processando" class="processando" style="margin-left: 2%">processando...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /Container -->
</section>
