﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Coroa de Flores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Coroa de Flores com entrega em 1 Hora em qualquer lugar do Brasil. Em Até 18X c/ Frete Grátis. Compre!";
    ViewBag.NaoExibeHeader = true;
    var depoimentos = (List<Domain.Entities.Depoimento>)ViewBag.Depoimentos;
    var linha = new List<Domain.Entities.Produto>();
    var linha2 = new List<Domain.Entities.Produto>();
    
    linha.AddRange(ViewBag.Produtos);
    linha2.AddRange(ViewBag.Produtos);
    
    linha = linha.Where(r => r.ID == 24 || r.ID == 27 || r.ID == 2 || r.ID == 1).ToList();
    
    linha2 = linha2.Where(r => r.ID == 22 || r.ID == 18 || r.ID == 30 || r.ID == 32).ToList();
}
@section Head{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-coroas").addClass("active");
        });
    </script>
}
<div id="BarraCinza">
    <div class="div_centraliza">
        <div class="div1">
            <div class="div1_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_entrega_brasil.png" width="19" border="0" alt="Entrega para todo Brasil" /></p>
                </div>
                <div class="texto">
                    <p>
                        ENTREGA PARA<br />
                        <b>TODO O BRASIL</b></p>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="div2_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faturamento.png" width="17" border="0" alt="Faturamento para empresas com NF-e" /></p>
                </div>
                <div class="texto">
                    <p>
                        FATURAMENTO PARA<br />
                        <b>EMPRESAS COM NF-e</b></p>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="div3_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_atenimento_24h.png" width="17" border="0" alt="Atendimento 24 horas" /></p>
                </div>
                <div class="texto">
                    <p>
                        ATENDIMENTO E ENTREGA<br />
                        <b>24 HORAS TODOS OS DIAS</b></p>
                </div>
            </div>
        </div>
        <div class="div4">
            <div class="div4_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_frete_gratis.png" width="27" border="0" alt="Frete grátis para todo Brasil" /></p>
                </div>
                <div class="texto">
                    <p>
                        FRETE GRÁTIS<br />
                        <b>PARA TODO BRASIL</b></p>
                </div>
            </div>
        </div>
        <div class="div5">
            <div class="div5_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_boleto_cartao.png" width="19" border="0" alt="Pagamento em boleto ou cartão de crédito" /></p>
                </div>
                <div class="texto">
                    <p>
                        PAGAMENTO EM BOLETO<br />
                        <b>OU CARTÃO DE CRÉDITO</b></p>
                </div>
            </div>
        </div>
        <div class="div6">
            <div class="div6_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faixa_homenagem.png" width="18" border="0" alt="Faixa para homenagem grátis" /></p>
                </div>
                <div class="texto">
                    <p>
                        FAIXA PARA<br />
                        <b>HOMENAGEM GRÁTIS</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CoroasDeflores">
    <div class="Div">
        <h1 class="TituloPagina">Coroa de Flores</h1>
        <div class="Inner">
            <p>O <strong>Coroas para Velório</strong> é um e-commerce nacional que entrega <strong>coroa de flores</strong> em todos os velório do Brasil. Nossas coroas possuem flores naturais e frescas, aliás, marca de nosso pioneirismo e qualidade no segmento de homenagens fúnebres.</p>
            <p>Decoradas como um arco e finalizadas com uma faixa com uma frase de homenagem de sua escolha, buscamos tornar a última despedida um momento ainda mais especial, ornamentando o local do velório e deixando-o mais elegante.</p>
            <p>Além disso, prezamos pela velocidade na entrega, realizada em uma hora e meia nas grandes capitais e em até duas horas nas cidades mais distantes.</p>
        </div>
    </div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)linha)

    <div class="Div">
    <div class="VejaMaisCoroas">[+] <a href="/coroas-de-flores" class="VejaMaisCoroas2">Veja mais Coroas de Flores</a></div>
    <div class="Separacao2"></div>
    </div>
    

    @Html.Partial("DepoimentosDestaque", depoimentos.Where(r=> r.ProdutoID != null).ToList())

    <div class="Div">
        <div class="Inner">
            <p>Fortemente ligadas às cerimônias fúnebres, as <strong>coroas de flores</strong> nos primórdios das civilizações milenares representavam em suas culturas, um símbolo de grande honra, sendo utilizada apenas por sacerdotisas e vencedores de grandes batalhas, como adorno e mesmo um título de honorário.</p>
            <p>Tornou-se um costume a partir das antigas civilizações gregas que adotou o uso da forma como conhecemos hoje, nas cerimônias fúnebres simbolizando o triunfo da vida sobre a morte, sendo assim, bem aceita e adotada em religiões diversas já que boa parte ou crê em vida após a morte ou numa ressurreição que leve à vida eterna. A simbologia central da <strong>coroa de flores</strong> é, portanto, a celebração da vida.</p>
            <p>Apesar de não existir um padrão de <strong>flores</strong> especiais para a produção da <strong>coroa</strong>, cada espécie representa algo por seu formato, cor e aroma. Este é um fato que se leva em conta na hora de homenagear o ente querido, já que as <strong>flores</strong> escolhidas podem representar tudo aquilo que ele significou aos parentes e amigos em vida.</p>
        </div>
    </div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)linha2)

    
    <div class="Div">
    <div class="VejaMaisCoroas">[+] <a href="/coroas-de-flores" class="VejaMaisCoroas2">Veja mais Coroas de Flores</a></div>
    <div class="Separacao2"></div>
    </div>
    

    <div class="Div">
        <div class="Inner">
            <p><b>Veja abaixo o significado de algumas das flores utilizadas em coroas de flores.</b></p>
            <p><b>Rosas:</b> espécie de flor muito popular em todo mundo, geralmente está na <stron>coroa de flores</stron> dada por amigos ou parentes próximos. As cores mais comuns a compor a coroa são o vermelho e o branco. O vermelho está ligado ao amor, paixão e devoção, enquanto as brancas representam paz, pureza e tranquilidade.</p>
            <p><b>Copo-de-Leite:</b> a cor branca representa sempre pureza, alvura, paz e calma. Estes significados estão atribuídos a esta espécie de flor por ser de cor branca. O espádice amarelo destacado no interior desta flor, simboliza prosperidade e iluminação pessoal. O copo-de-leite é belo e gracioso e ornamentam bem uma <strong>coroa</strong>, sendo mais indicadas para o velório de senhoras e colegas de trabalho, já que também está envolta em neutralidade.</p>
            <p><b>Orquídeas:</b> Esta variada espécie de flor está presente em todos os continentes, exceto a Antártida. Sendo uma das espécies mais refinadas, representa beleza, perfeição e sabedoria. Em falecimento de mães, é uma grande opção de homenagem.</p>
            <p><b>Margaridas:</b> criatividade e simplicidade englobam seu significado. Considerada a flor das donzelas, ainda hoje simboliza juventude, o amor inocente e a sensibilidade. Em combinação com outras <strong>flores</strong> numa <strong>coroa</strong>, o resultado final é um belo arranjo indicado para o velório de pessoas mais jovens.</p>
            <p><b>Girassol:</b> Voltadas para a direção do sol, os girassóis são flores muito conhecidas já tendo sido a inspiração de um dos quadros mais famosos do pintor Van Gogh. Indicado para o velório de idosos, representam grande respeito e dignidade.</p>
            <p><b>Crisântemo:</b> a principal espécie utilizada na homenagem de falecidos, esta flor possui significados diversos. Segundo o Taoísmo, é símbolo de simplicidade e perfeição e por ser uma flor de Outono, também é vista como uma mediadora entre o céu e a terra, vida e morte.</p>
        </div>
    </div>
</div>
