﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Sugestões de Coroas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

@section Script{
    
    <script type="text/javascript">
        $(document).ready(function () {
            @if(Request.QueryString["faixa-de-preco"] != null){
                <text>
                var id = '@Request.QueryString["faixa-de-preco"]';
                $('#faixa-de-preco').val(id);
                </text>
            }
            @if(Request.QueryString["relacionamento"] != null){
                <text>
                var id = '@Request.QueryString["relacionamento"]';
                $('#relacionamento').val(id);
                </text>
            }
            @if(Request.QueryString["coloracao"] != null){
                <text>
                var id = '@Request.QueryString["coloracao"]';
                $('#coloracao').val(id);
                </text>
            }
            @if(Request.QueryString["sexo"] != null){
                <text>
                var sexo = '@Request.QueryString["sexo"]';
                if(sexo = 'M,F'){
                    $('input[value=M]').attr('checked',true);
                    $('input[value=F]').attr('checked',true);
                }else{
                    $('input[value=' + sexo + ']').attr('checked',true);
                }
                </text>
            }
        });
    </script>
    
}


<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("sugestoes", "coroas-de-flores")" itemprop="url">      
      <span itemprop="title"><b>Sugestões de Coroas</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Sugestões de coroas</h1>
    @if (Model.Any())
    {
        <p>Veja nossas sugestões indicadas para @Html.Raw(ViewBag.TermoBusca).</p>
        @Html.Partial("Produtos", Model)
    }
    else
    {
        <p><b>Não foram encontradas coroas para @Html.Raw(ViewBag.TermoBusca).</b></p>
        <p>Mas veja algumas opções que selecionamos.</p>
        @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.NaoEncontrado)
    }
</div>