﻿@{
    ViewBag.Title = "Dashboard";
    var cidades = (List<Domain.Entities.FornecedorCidade>)ViewBag.Cidades;
}
@section Scripts{

    <script type="text/javascript">
        var listaPed;

        $(function () {
            var icons = {
                header: "ui-icon-circle-arrow-e",
                activeHeader: "ui-icon-circle-arrow-s"
            };
            $("#accordion").accordion({
                icons: icons
            });
            $("#toggle").button().on("click", function () {
                if ($("#accordion").accordion("option", "icons")) {
                    $("#accordion").accordion("option", "icons", null);
                } else {
                    $("#accordion").accordion("option", "icons", icons);
                }
            });
        });

        $(document).ready(function () {
            $("#li_dash").click(function () {
                $("#li_dash").addClass("active");
                $("#li_pedidos").removeClass();
                $("#li_recebimentos").removeClass();
                $("#li_telefone").removeClass();

                FillListPedidos();
            });
            
            listaPed = setInterval(function () {
                FillListPedidos();
            }, 10000);// specified number of milliseconds. Tip: 1000 ms = 1 second. ( 10 segundos de atualizacao)
        });

        function FillListPedidos() {

            _listagemEmExecucao = true;

            $.ajax({
                method: "GET",
                url: '/Dashboards/ListaPedidos'//exemplo - /Dashboards/ListaPedidos?Usuario=0
            }).done(function (data) {
                $(".ListaPedidos").html(data);

                if ($("#FirstLoad").val() == "True") {
                    $("#FirstLoad").val("False");
                    $("#Played").val("False");
                }
                else {
                    if ($(".PedidosPendentesLst #ListaPedidosPendentes table tbody tr").size() > 0) {
                       
                        if ($("#Played").val() == "False") {
                            _arquivoAudioMp3 = "/Content/sms-alert-5-daniel_simon.mp3";
                            new Audio(_arquivoAudioMp3).play();
                            _tocarAudioPedido = setInterval(function () { PlaySound(); }, 2000);
                            $("#Played").val("True");
                        }
                    }
                    else {
                        $("#Played").val("False");
                        clearInterval(_tocarAudioPedido);
                    }
                }

                _listagemEmExecucao = false;

            }).fail(function (jqXHR, textStatus) {
                //alert('Falha no carregamento da Lista de Pedidos: \n\n' + jqXHR + '\n\n' + 'Descrição:\n\n' + textStatus);
            });
        }
    </script>
}

<input type="hidden" id="FirstLoad" value="True" />
<input type="hidden" id="Played" value="False" />

<div class="row kambam ListaPedidos">
    <img src="http://admin.coroasparavelorio.com.br/content/images/loading.gif" />
</div>
@*<div class="row kambam">
        <div class="span12">
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <h3>Cidades de Atuação</h3>
                </div>
                <div class="widget-content">
                    <ul class="news-items">
                        @foreach (var cidade in cidades)
                        {
                            <li>

                                <div class="news-item-date"><span class="news-item-day">@cidade.Cidade.Estado.Sigla</span></div>
                                <div class="news-item-detail" style="width:100%"> @cidade.Cidade.Nome   </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- telefone -->
    <div class="row">
            <div class="span12">
                <div class="widget widget-nopad">
                    <div class="widget-header">
                        <i class="icon-list-alt"></i>
                        <h3> Telefones de Contato</h3>
                    </div>
                    <div class="widget-content">
                        <ul class="news-items">
                            <li>

                                <div class="news-item-date"> <span class="news-item-day">SP</span> <span class="news-item-month">São Paulo</span> </div>
                                <div class="news-item-detail" style="width:450px">  (11) 4097-9406  </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
