﻿@model Fornecedor.ViewModels.FornecedorModel

@{
    Layout = null;
}
@section Scripts{

    <script type="text/javascript">
            $(document).ready(function () {

                $("btnSair").click(function () {
                    $("#Played").val("False");
                    clearInterval(varTocaAudioPedido);
                });
            });
    </script>
}



<div class="container">

    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </a>
    <i class="fa fa-home"></i><a class="brand" href="/">Fornecedores </a>

    <div style="text-align:right; position:absolute; right:100px;" class="brand" href="/">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Olá @Model.CurrentFornecedor.Nome
    </div>
    <div style="text-align:right; position:absolute; right:-100px;" class="brand" href="/">
        <a href="/login/sair" class="dropdown-toggle brand" data-toggle="dropdown" id="btnSair">
            <i class="fa fa-sign-out"></i> Sair
        </a>
    </div>
</div>
    

    <div class="nav-collapse">
        <ul class="nav pull-right">
            @*<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user"></i> Olá @Model.CurrentFornecedor.Nome
                </a>
            </li>*@
            @*        <li class="dropdown"><a href="/meus-dados" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="icon-cog"></i> Meus Dados </a>
        </li>
    <li class="dropdown">
        <a href="/login/sair" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-repeat"></i> Sair
        </a>
    </li>*@
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<!-- /container --> 