﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Indique o Coroas para Velório";
    ViewBag.description = "Indique o site Coroas Para Velório para um conhecido que esteja passando por um momento difícil e preste uma ultima homenagem. Ligue já 0800-777-1986.";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_indique").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/indique-o-coroas-para-velorio/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = "/indique-o-coroas-para-velorio?msg=sucesso";
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nomeDe: "required",
                    emailDe: {
                        required: true,
                        email: true
                    },
                    nomePara: "required",
                    emailPara: {
                        required: true,
                        email: true
                    },
                    CaptchaInputText: "required"
                },
                messages: {
                    nomeDe: "Digite seu nome",
                    emailDe: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    nomePara: "Digite o nome de seu amigo",
                    emailPara: {
                        required: "Digite o e-mail de seu amigo",
                        email: "Digite um e-mail válido"
                    },
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado"><span itemprop="title"><b>Indique o Coroas para Velório</b></span> </div>
</div>
</div>  
<div id="IndiqueCoroas">
<div class="Div">

	<h1 class="TituloPagina">Indique o Coroas para Velório</h1>

    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua indicação foi enviada com sucesso!</div>
    }
    else
    {
	<div class="Div1">
		<div class="Div1Texto1">Indique o CPV para um amigo, parente ou alguém que esteja precisando de Coroas ou Arranjos de Flores.</div>
	</div>
	<div class="Formulario">
        
        @using (Html.BeginForm("Index", "Indique-o-Coroas-para-Velorio", FormMethod.Post, new { id = "form_indique", name = "form_indique", enctype = "multipart/form-data", @class = "formulario" }))
        {    

		    <div class="FormDiv1">
			    <div class="FormNomeCampo">Seu nome:</div>
			    <div class="FormCampo"><input type="text" id="nomeDe" name="nomeDe" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Seu e-mail:</div>
			    <div class="FormCampo"><input type="text" id="emailDe" name="emailDe" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Nome da pessoa:</div>
			    <div class="FormCampo"><input type="text" id="nomePara" name="nomePara" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">E-mail da pessoa:</div>
			    <div class="FormCampo"><input type="text" id="emailPara" name="emailPara" class="FormCampoInput" /></div>
		    </div>

		    <div class="FormDivValidacao">
			    <div class="FormNomeCampo">Validação:</div>
			    <div class="FormValidacaoCampo">                          
                            @captcha
			    </div>
		    </div>

		    <div class="FormDivBotao"><input type="submit" value="INDICAR" class="FormBotao" onmousedown="_gaq.push(['_trackEvent', 'form', 'indique', 'enviou'])"/>
                            <div class="processando" id="processando">Enviando...</div>
            </div>
        }
    </div>
    }
    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
    <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
    <div class="Separacao2"></div>
</div>