@charset "utf-8";
/* CSS Document */

@import url("qlassik/stylesheet.css");

body
{
	background: #cecece;
	color: #5e5e5e;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a
{
	text-decoration: none;
}

.qlassik
{
	font-family: 'qlassik_medium';
	font-weight: normal;
}

h2
{
    font-size: 30px;
}

.cinquenta
{
	float: left;
	width: 49.5%;
}

.vermelho
{
	color: #d31a20;
}

.right
{
	float: right;
}

label.erro
{
    background: #efb7ba;
    border: 1px solid #ff0010;
    color: #ff0010;
    font-size: 12px;
    padding: 7px;
}

input[type="text"] {
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 39%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(39%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #727373;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	height: 28px;
	margin: 5px 0 17px;
    width: 468px;
}

input[type="password"] {
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 39%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(39%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #727373;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	height: 28px;
	margin: 5px 0 17px;
    width: 468px;
}
input.menor
{
	width: 224px;
}
select {
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 39%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(39%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #727373;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	height: 28px;
	margin: 5px 0 17px;
    width: 224px;
}

#Topo
{
	background: url(../img/bg-topo.jpg) #dfdfdf repeat;
	float: left;
	font-size: 20px;
	min-width: 960px;
	padding: 12px 16px 10px 18px;
	text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
	text-transform: uppercase;
	width: 100%;
}
#Topo .dir
{
	text-align: right;
	text-transform: none;
}

#Header
{
	background: url(../img/bg-header.jpg) #dfdfdf repeat;
	float: left;
	font-size: 20px;
	padding: 12px 16px 10px 18px;
	text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
	min-width: 960px;
	width: 100%;
}
#Header #Logo
{
	float: left;
}
#Header #User
{
	float: left;
	min-width: 415px;
	padding: 0 0 0 33px;
	width: 42%;
}
#Header #User .nome
{
	float: left;
	font-size: 40px;
	width: 99%;
}
#Header #User .empresa
{
	float: left;
	font-size: 16px;
	width: 99%;
}
#Header #Options
{
	float: right;
    font-size: 14px;
    margin-right: 36px;
    width: 19%;
}
#Header #Options .img-user
{
	float: right;
	margin: 14px 21px 0 0;
}
#Header #Options .links
{
	float: right;
	margin: 25px 0 0 0;
}
#Header #Options .links a
{
	color: #5E5E5E;
}

#Container
{
	float: left;
    min-width: 1326px;
    padding: 0 0 1px;
    width: 100%;
}
#Container #Menu
{
	background: url(../img/bg-menu.jpg) #636363 repeat;
	float: left;
	padding: 0 0 1px 0;
	width: 160px;
}
#Container #Menu ul
{
	list-style: none;
	margin: 0 0 0 -50px;
	text-align: center;
}
#Container #Menu ul li
{
	border-bottom: 1px solid #3d3d3d;
	border-top: 1px solid #717171;
	color: #ffffff;
	cursor: pointer;
	font-size: 22px;
	padding: 16px 0;
	text-shadow: 0px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}
#Container #Menu ul li.active
{
	background: url(../img/bg-menu-active.jpg) #434343 repeat top right;
	border-top: none;
	color: #dcf182;
	text-shadow: 0px 0px 5px #c4dd60;
    filter: dropshadow(color=#c4dd60, offx=0, offy=0);
}
#Container #Conteudo
{
    float: left;
    padding: 32px;
    width: 1100px;
}
#Container #Conteudo #Titulo
{
	background: #737474; /* Old browsers */
	background: -moz-linear-gradient(top,  #737474 0%, #464747 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737474), color-stop(100%,#464747)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #737474 0%,#464747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #737474 0%,#464747 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #737474 0%,#464747 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #737474 0%,#464747 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737474', endColorstr='#464747',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.2);
	color: #ffffff;
    float: left;
	font-size: 37px;
	padding: 10px 0 3px 20px;
	text-shadow: 0px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    width: 100%;
}
#Container #Conteudo #Pagina
{
	background: #f8f8f8;
	float: left;
	padding: 0 0 20px 20px;
	width: 100%;
}
#Container #Conteudo #Pagina .cinquenta .passos-compra
{
	background: url("../img/passo-1-pedido.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 20px;
    height: 44px;
    margin: 20px 0 20px 0;
    padding: 3px 0 1px 50px;
    width: 460px;
}
#Container #Conteudo #Pagina .cinquenta .preencha-infos
{
	background: url("../img/passo-2-pedido.jpg") no-repeat scroll 0 0 transparent;
}

#Container #Conteudo #Pagina .cinquenta table tr.item
{
	background: #e9e9e9;
	margin-bottom: 1px;
}

#Container #Conteudo #Pagina .cinquenta table tr.item.desabilitado, #Container #Conteudo #Pagina .cinquenta table tr.item.desabilitado .nome, #Container #Conteudo #Pagina .cinquenta table tr.item.desabilitado .vermelho, table.tamanhos tr.desabilitado td, table.tamanhos tr.desabilitado td .vermelho
{
    color:#aaaaaa !important;
}
#Container #Conteudo #Pagina .cinquenta table tr.item.desabilitado td .tamanhos tr td .botao-selecionar, #Container #Conteudo #Pagina .cinquenta table tr.item td .tamanhos tr.desabilitado td .botao-selecionar
{
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e4e4 0%, #c6c7c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e4), color-stop(100%,#c6c7c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3e4e4 0%,#c6c7c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3e4e4 0%,#c6c7c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3e4e4 0%,#c6c7c7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3e4e4 0%,#c6c7c7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e4e4', endColorstr='#c6c7c7',GradientType=0 ); /* IE6-9 */
	color: #aaaaaa;
}
table.tamanhos tr.selecionado
{
    font-weight:bold;
}

table.coroas td, table.coroas th {
    border-bottom: 1px solid #b9b9b9;
	border-top: 1px solid #fbfbfb;
}
table.tamanhos td, table.tamanhos th {
    border-bottom: none;
	border-top: none;
}
#Container #Conteudo #Pagina .cinquenta table tr.item:nth-child(odd)
{
	background: #f4f4f4;
}
#Container #Conteudo #Pagina .cinquenta table tr.item .nome
{
	color: #2f2f2f;
	font-size: 14px;
    font-weight: bold;
}
#Container #Conteudo #Pagina .cinquenta table tr td .tamanhos
{
	font-size: 12px;
}
#Container #Conteudo #Pagina .cinquenta table tr td .tamanhos tr td
{
	height: 28px;
}
#Container #Conteudo #Pagina .cinquenta table tr td .tamanhos tr.div
{
	background: url(../img/linha-bg.jpg) repeat-x;
}
#Container #Conteudo #Pagina .cinquenta table tr td .tamanhos tr.div td
{
	height: 2px;
}
#Container #Conteudo #Pagina .cinquenta table tr td .tamanhos tr td .botao-selecionar
{
	background: #737474; /* Old browsers */
	background: -moz-linear-gradient(top,  #737474 0%, #464747 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737474), color-stop(100%,#464747)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #737474 0%,#464747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #737474 0%,#464747 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #737474 0%,#464747 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #737474 0%,#464747 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737474', endColorstr='#464747',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
    border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	padding: 3px 0;
	text-align: center;
	width: 107px;
}
input.finalizar-pedido
{
	-webkit-border-radius: 1px;
    border-radius: 1px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	border: none;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	font-size: 30px;
	height: 75px;
	margin: 0 0 0 90px;
	text-align: center;
	width: 330px;
}

#Container #Conteudo #Footer
{
	float: left;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
	text-decoration: underline;
	width: 100%;
}

#Container #Conteudo #Mensagem
{
	float: left;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.pedidos #Titulo span
{
	float: left;
	width: 360px !important;
}
.pedidos #Titulo .filtro
{
	float: left;
	font-size: 16px;
}
.pedidos #Titulo .filtro .input-filtro
{
	border: 1px solid #ffffff;
	margin: 5px 0 9px;
	width: 70px;
	text-align:center;
}
.pedidos #Titulo .filtro .select-filtro
{
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 39%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(39%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ffffff;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	padding: 6px;
    width: 155px;
}
.botao-filtrar
{
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	border: none;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	font-size: 14px;
	height: 32px;
	text-align: center;
	width: 96px;
}

#LegendaPedidos
{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
	-webkit-border-radius: 5px;
    float: left;
    margin: 0 0 31px;
    padding: 20px;
    width: 1079px;
}
#LegendaPedidos .item-legenda
{
    float: left;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 2px;
    width: 159px;
}
#LegendaPedidos .novo-pedido
{
    background: url(../img/ico-novo.jpg) no-repeat 0 3px;
}
#LegendaPedidos .pedido-analise
{
    background: url(../img/ico-analise.jpg) no-repeat 0 3px;
}
#LegendaPedidos .pedido-reprovado
{
    background: url(../img/ico-reprovado.jpg) no-repeat 0 4px;
}
#LegendaPedidos .pedido-cancelado
{
    background: url(../img/ico-cancelado.jpg) no-repeat 0 3px;
}
#LegendaPedidos .pedido-entregue
{
    background: url(../img/ico-entregue.jpg) no-repeat 0 2px;
}
#LegendaPedidos .pedido-faturado
{
    background: url(../img/ico-faturado.jpg) no-repeat 0 2px;
}
#ListaGrande tr td span
{
	color: #2f2f2f;
	font-size: 14px;
    font-weight: bold;
}
#ListaGrande tr td .caixa-status
{
	background: #ffffff;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	height: 32px;
	width: 32px;
}
#ListaGrande tr td .caixa-status img
{
	margin: 8px;
}
table#ListaGrande td, table#ListaGrande th {
    border-bottom: 1px solid #b9b9b9;
	border-top: 1px solid #fbfbfb;
	padding: 15px 0;
}
.botao-detalhes
{
	background: #737474; /* Old browsers */
	background: -moz-linear-gradient(top,  #737474 0%, #464747 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737474), color-stop(100%,#464747)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #737474 0%,#464747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #737474 0%,#464747 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #737474 0%,#464747 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #737474 0%,#464747 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737474', endColorstr='#464747',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
    border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 13px;
	padding: 5px 0;
	text-align: center;
	text-shadow: 0px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
	width: 138px;
}
.botao-imprimir-boleto
{
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
    border-radius: 3px;
	color: #242910;
	cursor: pointer;
	font-size: 13px;
	margin-top: 3px;
	padding: 5px 0;
	text-align: center;
	width: 138px;
}
#LegendaFaturas
{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
	-webkit-border-radius: 5px;
    float: left;
    margin: 0 0 31px;
    padding: 20px 20px 20px 252px;
    width: 847px;
}
#LegendaFaturas .item-legenda
{
    float: left;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 2px;
    width: 159px;
}
#LegendaFaturas .fatura-paga
{
    background: url(../img/ico-paga.jpg) no-repeat 0 3px;
}
#LegendaFaturas .fatura-pendente
{
    background: url(../img/ico-pendente.jpg) no-repeat 0 3px;
	width: 250px;
}
#LegendaFaturas .fatura-cancelada
{
    background: url(../img/ico-cancelado.jpg) no-repeat 0 3px;
}


#Login
{
    margin: 50px auto 0;
    width: 386px;
}

#Login img
{
    margin-left: 82px;
}

#Login #FormLogin
{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    height: 290px;
    width: 386px;
}

#Login #FormLogin input
{
    background: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 7px 5px rgba(0, 0, 0, 0.05);
    color: #858585;
    font-size: 20px;
    font-family: Tahoma;
    margin-left: 27px;
    padding: 17px;
    width: 294px;
}

#Login #FormLogin input#login
{
    margin-top: 27px;
}

#Login #FormLogin input#entrar
{
    background: #cbe364; /* Old browsers */
    background: -moz-linear-gradient(top,  #cbe364 0%, #aec54b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe364), color-stop(100%,#aec54b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cbe364 0%,#aec54b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe364', endColorstr='#aec54b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #526019;
    color: #526019;
    cursor: pointer;
    margin-top: 16px;
    width: 330px;
}

#Login #FormLogin .esqueci
{
    color: #526019;
    float: right;
    font-size: 14px;
    margin: 5px 29px 0 0;
    text-decoration: underline;
}

#Esqueci
{
    margin: 100px auto 0;
    width: 470px;
}


#Esqueci img
{
    margin-left: 120px;
}

#Esqueci #FormEsqueci
{
    margin-top: 50px;
    width: 470px;
}

#Esqueci #FormEsqueci #enviar
{
    background: #cbe364; /* Old browsers */
    background: -moz-linear-gradient(top,  #cbe364 0%, #aec54b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe364), color-stop(100%,#aec54b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cbe364 0%,#aec54b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cbe364 0%,#aec54b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe364', endColorstr='#aec54b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #526019;
    color: #526019;
    cursor: pointer;
    float: right;
    font-size: 16px;
    padding: 6px 0;
    width: 130px;
}

#Esqueci #FormEsqueci #email
{
    margin-top: 15px;
}


.botao-novo-acesso
{
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	float: right;
	font-size: 14px;
	height: 28px;
	margin: 2px 11px;
    padding: 8px 20px 0;
	text-align: center;
	text-shadow: none;
}


.passos
{
	float: left;
    font-size: 14px;
    margin-left: 79px;
    width: 35%;
}

#NovoPedido
{
    margin-left: 0 !important;
}

#form-contato input
{
    padding: 5px;
    width: 231px;
}

#form-contato textarea#contato-mensagem
{
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 39%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(39%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 39%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #727373;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    height: 130px;
    width: 501px;
}

#form-contato input[type="submit"]
{
    border: none;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	float: right;
	font-size: 14px;
	height: 48px;
	margin: 15px 0 60px;
    padding: 0 20px;
	text-align: center;
	text-shadow: none;
	width: 115px;
}

#Detalhes
{
    background: #fff;
    -webkit-box-shadow:  0px 0px 200px 200px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 200px 200px rgba(0, 0, 0, 0.2);
    display:none;
    left: 50%;
    margin-left: -220px;
    padding: 20px;
    position: absolute;
    top: 150px;
    width: 400px;
}

#Detalhes .conteudo span
{
    clear: both;
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
}

#Detalhes .conteudo span:nth-child(odd)
{
    font-size: 12px;
    margin-bottom: 0px;
}

#Detalhes .close
{
    background: #cccccc;
    float: right;
    padding: 0 7px 4px;
}

#Detalhes .close a
{
    color: #ffffff;
}

.Faturas
{
    left: 50% !important;
    margin-left: -320px !important;
    top: 100px !important;
    width: 600px !important;
}

#EditarAcesso
{
    margin: 40px;
}

.botao-salvar
{
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	border: none;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	float: right;
	font-size: 14px;
	height: 32px;
	margin: 0 30px 0 0;
	text-align: center;
	width: 96px;
}

.botao-alterar
{
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background: #cce464; /* Old browsers */
	background: -moz-linear-gradient(top,  #cce464 0%, #adc44b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce464), color-stop(100%,#adc44b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cce464 0%,#adc44b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cce464 0%,#adc44b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce464', endColorstr='#adc44b',GradientType=0 ); /* IE6-9 */
	border: none;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.06);
	color: #526019;
	cursor: pointer;
	float: right;
	font-size: 14px;
	height: 32px;
	margin: 0 230px 0 0;
	text-align: center;
	width: 96px;
}

#form-contato table tr td
{
    padding: 5px 0;
}

#form-pedido table tr td
{
    padding: 5px 0;
}

.processando
{
    background:url('/content/img/loading.gif') 10px 50% no-repeat;
    padding-left:50px;
    padding-bottom: 10px;
    padding-top: 10px;
    display:none;
    float: right;
    font-size:12px!important;
    margin:auto;
}


