﻿@model Domain.Entities.Colaborador

@{
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    var empresas = (List<Domain.Entities.Empresa>)ViewBag.Empresas;
    ViewBag.Title = Model == null ? "Novo Colaborador " + ((empresa != null)?" da empresa " + empresa.RazaoSocial:"") : "Colaborador " + Model.Nome + ((empresa != null)?" da empresa " + empresa.RazaoSocial:"");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Colaborador " + ((empresa != null) ? " da empresa " + empresa.RazaoSocial : "") : "Colaborador " + Model.Nome + ((empresa != null) ? " da empresa " + empresa.RazaoSocial : ""))</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Colaborador", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Codigo)
            @Html.HiddenFor(model => model.DataCadastro)
            @Html.HiddenFor(model => model.DataUltimoLogin)
            @Html.HiddenFor(model => model.SenhasAnteriores)
            @Html.HiddenFor(model => model.ProblemaEmail)
            <div class="mws-form-block">
                @if (empresa == null)
                {
                <div class="mws-form-row">
                    <label>Empresa</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EmpresaID, new SelectList(empresas, "ID", "RazaoSocial"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>  
                }
                else
                {
                    @Html.HiddenFor(model => model.EmpresaID)
                }
                 
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Colaborador.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Colaborador.Tipos.Usuario), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>E-mail </label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Login </label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Login, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Telefone </label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Telefone, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Telefone Celular</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TelefoneCelular, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Departamento </label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Departamento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Senha </label>
                    <div class="mws-form-item small">
                        @{var Senha = Model == null ? "" : Model.Senha;}
                        @Html.Password("Senha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Confirmação de senha </label>
                    <div class="mws-form-item small">
                        @Html.Password("ConfirmacaoSenha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>              
                <div class="mws-form-row">
                    <label>Data de Aniversário</label>
                    <div class="mws-form-item small">
                        @{var dtnascimento = Model != null ? Model.DataNascimento.HasValue ? Model.DataNascimento.Value.ToString("dd/MM") : "" : "";}
                        @Html.TextBox("_DataNascimento", dtnascimento, new { @class = "mws-textinput", maxlength = "100", id = "_DataNascimento" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Removido/Bloqueado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Removido)  SIM
                    </div>
                </div>         
                <div class="mws-form-row">
                    <label>Recebe cópia de e-mail de novo pedido?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.RecebeEmailPedido)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Recebe e-mail de NFe? (somente usúarios masters receberão)</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.RecebeEmailNFe)  SIM
                    </div>
                </div>
                @if (Model != null)
                {
                <div class="mws-form-row">
                    <label>Data de cadastro</label>
                    <div class="mws-form-item small">
                        @Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Data de último login</label>
                    <div class="mws-form-item small">
                        @if (Model.DataUltimoLogin.HasValue)
                        {
                            @Model.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm")
                        }
                        else
                        {
                            <i>Ainda não se logou</i>
                        }
                    </div>
                </div>  
                }
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#cliente').addClass('active');
        $('#i_colaboradores').addClass('active');
        $("#_DataNascimento").mask({ mask: "##/##", allowPartials: false });
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                EmpresaID: "required",
                TipoID: "required",
                Nome: "required",
                Email: {
                    required: true,
                    email: true
                },
                Login: "required",
                Telefone: "required",
                Departamento: "required",
                Senha: "required",
                ConfirmacaoSenha: {
                    required: true,
                    equalTo: "#Senha"
                }
            },
            messages: {
                EmpresaID: "O campo empresa é obrigatório",
                TipoID: "O campo tipo é obrigatório",
                Nome: "O campo nome é obrigatório.",
                Email: {
                    required: "O campo e-mail é obrigatório.",
                    email: "digite um e-mail válido"
                },
                Login: "O campo login é obrigatório.",
                Telefone: "O campo telefone é obrigatório.",
                Departamento: "O campo departamento é obrigatório.",
                Senha: "O campo senha é obrigatório.",
                ConfirmacaoSenha: {
                    required: "digite a confirmação da senha",
                    equalTo: "a confirmação da senha deve ser identica a senha digitada"
                }
            }
        });
    });
</script>
}