﻿@model IEnumerable<Domain.Entities.Colaborador>

@{
    var empresa = (Domain.Entities.Empresa)ViewBag.Empresa;
    ViewBag.Title = "Colaboradores " + ((empresa != null)?" da empresa " + empresa.RazaoSocial:"");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cliente').addClass('active');
            $('#i_colaboradores').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Colaboradores @((empresa != null) ? " da empresa " + empresa.RazaoSocial : "")
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Colaborador", new{empresaID = Request.QueryString["empresaID"]})';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table> 
            <tr>
                <td>Razão Social:</td>
                <td><input type="text" name="razaosocial" value="@Request.QueryString["razaosocial"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>CNPJ:</td>
                <td><input type="text" name="cnpj" value="@Request.QueryString["cnpj"]" autocomplete="off" style="width:150px;"/></td> 
                <td style="width:20px;"></td>
                <td>Nome:</td>
                <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td> 
            </tr>  
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
            
        <table class="mws-table">
            <thead>
                <tr>
                    @if(empresa == null){
                    <th style="text-align:center;">Empresa</th>
                    }
                    <th style="text-align:center;">Nome</th>
                    <th style="width:150px;text-align:center;">Tipo</th>
                    <th style="width:150px;text-align:center;">Login</th>
                    <th style="width:150px;text-align:center;">E-mail</th>
                    <th style="width:150px;text-align:center;">Telefone</th>
                    <th style="width:150px;text-align:center;">Último Login</th>
                    <th style="width:150px;text-align:center;">Recebe cópia de novos pedidos</th>
                    <th style="width:150px;text-align:center;">Recebe email NFe</th>
                    <th style="width:150px;text-align:center;">Removido</th>
                    <th style="text-align:center; width:50px;">Erros e-mail</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    @if(empresa == null){
                    <td style="">@item.Empresa.RazaoSocial</td>
                    }
                    <td style="">@item.Nome<br />@item.Departamento</td>
                    <td style="text-align:center;">@Domain.Helpers.EnumHelper.GetDescription(item.Tipo)</td>
                    <td style="text-align:center;">@item.Login</td>
                    <td style="text-align:center;">@item.Email</td>
                    <td style="text-align:center;">@item.Telefone</td>
                    <td style="text-align:center;">@(item.DataUltimoLogin.HasValue?item.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm"):"Nunca logou")</td>
                    <td style="text-align:center;">@Html.Raw(item.RecebeEmailPedido ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@Html.Raw(item.RecebeEmailNFe ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@Html.Raw(item.Removido ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;"><a href="/Colaborador/ErrosEmail/@item.ID" target="_blank">@item.RetornoEmails.Count</a></td>
                    <td class="center" style="width:164px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>
                                    @if(item.PedidoEmpresas.Count == 0){
                                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })
                                    }else{
                                    <span style="font-size:10px;vertical-align:10px;" onclick="javascript:alert('Este colaborador não pode ser excluído pois possui pedidos relacionados. Altere-o para removido.');">Possui pedidos</span>
                                    }
                                </li>       
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }else{
                <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&empresaID=@Request.QueryString["empresaID"]&cnpj=@Request.QueryString["cnpj"]&razaosocial=@Request.QueryString["razaosocial"]&nome=@Request.QueryString["nome"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
           </div>
    </div>
</div>
