﻿ç@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif!important;
	color: #888;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:hover,
input[type=submit],input[type=submit]:hover{
	-webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
*,a{ outline:none; }

::selection{
	background-color: rgba(230,175,0,.8);
	color:#fff;
}
.loader {
	background: transparent url('../img/loader.gif') no-repeat center center;
    background-size: cover;
    display: block;
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    display: none;
}
.bg{
	width: 100%;
	background-color: #f5f5f5;
}
.quem-confia{
	color:#FFF;
	background:#ed5564;
	margin-top: 0;
	padding-bottom: 100px;
}

.quem-confia h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 90px;
    margin-bottom: 20px;
    position: relative;
} 

.quem-confia p {
    margin-top: 36px;
}

.btn-call-to-action{
	color: #FFF;
	background:#00adee;
	border:none;
}
.btn-call-to-action:hover{
	text-decoration: none;
	color: #FFF;
	background: #24c3ff;
}
.btn-stroke{
	color: #FFF;
	border:2px solid #FFF;
}
.btn-stroke:hover{
	text-decoration: none;
	color: #FFF;
	background:rgba(255,255,255,0.3)
}
.btn{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navbar-nav > li >a{
	color:#AAA;
	font-weight:400;
	font-size:16px;
	margin:0px 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navbar-nav > li >a:hover{
	background:#f7f7f7;
}
.navbar-right>li>a,
.acesso-empresas{
	color: #FFF;
    float: right;
    padding: 5px 32px;
    margin: 63px 15px 15px;
}

p.telefone{
	color: #FFF;
    float: left;
    padding: 8px 32px;
    margin: 60px 15px 15px;
}

b, strong {
	font-weight: 800;
}

.category-list-home h2{
    margin-top: 70px;
    margin-bottom: 70px;
}
h2{
	font-size: 35px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom: 20px;
    position: relative;
}
p{
	font-size: 24px;
	line-height:1.3em;
}
.centered{
	text-align: center;
}

.navbar-brand{
	height:auto;
	margin-top:5px;
	margin-right:40px;
}
.navbar-toggle{
	border:1px solid #DDD;
	margin-top:24px;
}
.navbar-toggle span{
	background:#DDD;
}

.navbar-nav>li>.dropdown-menu{
	margin-left:30px;
}
header{
	background:url(../img/bg-header-default.jpg) center top no-repeat;
	position:relative;
	color:#FFF;
	padding-top: 33px;
	position: relative;
}
header.others{
	background:#FFF;
}
header.others .btn-stroke{
	color:#fcb813;
	border:3px solid #fcb813;
}
header.others .btn-stroke:hover{
	color:#fff;
	background:#fcb813;
}
header.others .acesso-empresas{
	margin:4px 0 0 0;
}
header .nav{
	padding: 25px 0px;
}

header .logo img{
	margin-top: 10%;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
}
header:before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:5px;
	background:url(../img/bg-top-colors.gif) center top no-repeat;
}
header h1{
	font-size: 56px;
	font-weight: 400;
	margin: 50px 0 0;
	padding-bottom: 80px;
	text-shadow:0px 0px 10px rgba(0,0,0,0.05);
	position: relative;
	padding-top: 50px;
	text-align: center;
}
header h1 span{
		display: block;
}

header.default h1:after{
	content:'';
	display: block;
	height: 5px;
	width: 60px;
	position: absolute;
	left: 0;
	bottom: 40px;
	background: #FFF;
	display: none;
}
header p{
	font-size: 22px;
	line-height: 1.2em;
	text-shadow:0px 0px 10px rgba(0,0,0,0.05);
	margin: 0;
	margin-right: 45px;
}
header.default > .container{
	min-height:650px;
	position:relative;
}
header.default  > .container:before{
	content:'';
	display:block;
	position:absolute;
	left:50px;
	bottom:-39px;
	background:url(../img/petala-header.png) left top no-repeat;
	width:111px;
	height:186px;
}
header.default  > .container i.scroll-down{
	display:block;
	position:absolute;
	left:540px;
	bottom:15px;
	background:url(../img/scroll-down-icon.png) left top no-repeat;
	width:76px;
	height:27px;
	cursor:pointer;
}
header .caret{
	border:none;
	width:16px;
	height:8px;
	background:url(../img/caret.png) center center no-repeat;
}
.contact {
	margin-top: 50px;
}
.contact form .row {
	margin-bottom: 20px;
}
.contact form input, .contact form textarea {
	background: #ededed;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 5px 10px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.contact form textarea {
	height: initial;
	line-height: 1.4;
	resize: vertical;
}
.contact form .btn {
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
}
form span {
	box-sizing: border-box;
	padding: 4px 8px;
	font-size: 11px;
	text-transform: uppercase;
	border: 1px solid red;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: red;
	position: absolute;
	top: 32px;
	right: 30px;
}
#id-form-home{
	color:#888;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	padding:20px;
	background: white;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}
#id-form-home > div{
	margin-bottom:15px;
	position: relative;
}
#id-form-home input[type=text],
#id-form-home input[type=email],
#id-form-home input[type=tel]{
	background:#ededed;
	width:100%;
	height:48px;
	line-height:48px;
	padding:5px 10px;
	border:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#id-form-home span {
	top: 14px;
	right: 15px;
}
#id-form-home .btn{
	font-size: 24px;
	line-height: 56px;
	text-align: center;
	display: block;
	width: 100%;
	margin-top:20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#id-form-home p{
	margin:10px 0px 0px;
	font-size:34px;
}
#id-form-home p.subtitulo-form{
	font-size:15px;
	margin:3px 0px 30px;
}
.clients{
	display:inline-block;
	margin: 40px auto 0px;
}
.clients > div{
	text-align:center;
}
.clients > div img{
	margin:auto;
}
.clients .slick-dots{
	text-align:center;
	padding: 0;
}
.clients .slick-dots li{
	display:inline-block;
	margin:0px 5px;
}
.clients .slick-dots li button{
	width:15px;
	height:15px;
	overflow:hidden;
	background:#d24452;
	border:none;
	text-indent:-1000px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.clients .slick-dots li.slick-active button{
	background:#FFF;
}
.clients .slick-prev{
	content:'';
	display:block;
	width:30px;
	height:30px;
	text-indent:-1000px;
	overflow:hidden;
	background:url(../img/setas-clients-min.png) left top no-repeat;
	border:none;
	position:absolute;
	left:50%;
	margin-left:-140px;
	top:166px;
}
.clients .slick-next{
	content:'';
	display:block;
	width:30px;
	height:30px;
	text-indent:-1000px;
	overflow:hidden;
	background:url(../img/setas-clients-min.png) right top no-repeat;
	border:none;
	position:absolute;
	right:50%;
	margin-right:-140px;
	top:166px;
}
.clients .slick-disabled{
	opacity:0.35;
	-moz-opacity: 0.35;
	filter: alpha(opacity=35);
}

.category-list-home{
	border-bottom:1px solid #EEE;
}
.category-list.category-list-home article h2{
	font-size:28px;
}

.slick-slide {
    height: auto !important;
}
@media (min-width: 1400px) {
	.category-list.category-list-home article h2{
		font-size:40px;
	}
}
.category-list.category-list-home article p{
	font-size:20px;
	margin-bottom:10px;
}

.tags-home{
	padding: 0 0px 0;
    display: block;
}
.tags-home span{
	display: inline-block;
    padding: 10px 15px;
    border: 2px solid #df5664;
    color: #df5664;
    font-weight: 700;
    font-size: 14px;
    margin: 5px;
    cursor: default;
}

.tags-home span:hover {
	background: #df5664;
}
.tags-home span:hover>a {
	color: white;
}
.tags-home span>a {
    color: #df5664;
}
.tags-home span>a:hover {
	text-decoration: none;
}
.tags-home-catalogo{
	padding: 0 0px 0;
    display: block;
}
.tags-home-catalogo span{
	display: inline-block;
    padding: 10px 15px;
    border: 4px solid #df5664;
    color: #df5664;
    font-weight: 700;
    font-size: 14px;
    margin: 5px;
    cursor: default;
}

.tags-home-catalogo span:hover {
	background: #df5664;
}
.tags-home-catalogo span:hover>a {
	color: white;
}
.tags-home-catalogo span>a {
    color: #df5664;
}
.tags-home-catalogo span>a:hover {
	text-decoration: none;
}

.container-features{
	text-align:center;
}
.features{
	margin-top:50px;
	margin-bottom:0;
	overflow:hidden;
	padding: 0;
}
.features li{
	text-align:center;
	display:block;
	vertical-align:top;
	padding:0px 10px;
}

.features li div{
	margin: auto;
	display: table;
	padding-left: 18%;
}
.features li b{
	display:block;
	font-size:22px;
	font-weight:300;
	text-transform:uppercase;
	color:#434343;
	margin-bottom:15px;
}
.features li p{
	font-size: 22px;
    text-align: left;
    color: #dd2436;
    float: left;
    width: 100%;
    margin-bottom: 33px;
    margin-top: 5px;
}

.features .slick-slide img {
    display: block;
    float: left;
}
.features .slick-dots{
	margin:30px auto 0px;
	float:none;
	text-align:center;
	padding: 0;
}
.features .slick-dots li{
	display:inline-block;
	margin:0px 5px;
}
.features .slick-dots li button{
	width:15px;
	height:15px;
	overflow:hidden;
	background:#EEE;
	border:none;
	text-indent:-1000px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.features .slick-dots li.slick-active button{
	background:#f5b544;
}
.features .slick-disabled{
	opacity:0.35;
	-moz-opacity: 0.35;
	filter: alpha(opacity=35);
}
.icon-home:after{
	content:'';
	display:block;
	width:7px;
	height:100px;
	position:absolute;
	left:125px;
	top:0px;
	background:url(../img/divider-vertical.gif) center center no-repeat;
}
.icon-home{
	position:absolute;
	left:0px;
	top:0px;
}
.icon-feature{
	width:100px;
	height:100px;
	overflow:hidden;
	display:inline-block;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    margin-top: 33px;
}
.icon-truck{
	background:url(../img/sprite-features.png) left top no-repeat;
}
.icon-chat{
	background:url(../img/sprite-features.png) center top no-repeat;
}
.icon-coins{
	background:url(../img/sprite-features.png) right top no-repeat;
}
.icon-chart{
	background:url(../img/sprite-features.png) left center no-repeat;
}
.icon-gift{
	background:url(../img/sprite-features.png) center center no-repeat;
}
.icon-date{
	background:url(../img/sprite-features.png) right center no-repeat;
}
.icon-idea{
	background:url(../img/sprite-features.png) left bottom no-repeat;
}
.icon-24{
	background:url(../img/sprite-features.png) center bottom no-repeat;
}
.intro-category,
.intro-products{
	background:#ed5564;
	color:#FFF;
	padding:80px 0px 80px 0px;
	text-align:center;
}
.intro-category h1,
.intro-products h1{
	font-size:48px;
	padding-bottom:70px;
	position:relative;
	margin: 0;
}
.intro-category h1:after,
.intro-products h1:after{
	content:'';
	display: block;
	height: 5px;
	width: 80px;
	position: absolute;
	left: 50%;
	margin-left:-40px;
	bottom: 32px;
	background: #FFF;
}
.intro-category h1 + p,
.intro-products h1 + p {
	margin: 0;
}
.category-list{
	background:#f0f2f4;
}

.category-list h2 span{
	color: #e83647;
	font-weight: bold;
}
.category-list:after{
	content:'';
	display:block;
	clear:both;
}
.category-list article{
	background:#099;
	 -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.category-list article > div{
	background:rgba(255,255,255,0.94);
	margin-top:300px;
	padding:45px 30px;
	position:relative;
	z-index:2;
}
.category-list article h2{
	font-size:36px;
	margin:0px;
	color:#666;
	margin-bottom:20px;
	font-weight:900;
}
.category-list article p{
	font-size:18px;
	color:#666;
	font-weight:300;
	margin-bottom:50px;
}
.category-list article a.btn{
	color:#ed5564;
	border-color:#ed5564;
	font-weight:700;
	font-size:20px;
	display:inline-block;
	padding:8px 40px;
}
.category-list article a.btn:hover{
	background-color:#ed5564;
	color:#FFF;
}
.category-list article{
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
}
.category-list article:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd956+1,ffffff+100&0.3+1,0.05+100 */
	background:url(../img/fallback-gradient.png) center center no-repeat;
	background-size:cover;
	background: -moz-linear-gradient(-45deg, rgba(255,217,86,0.20) 1%, rgba(255,255,255,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,217,86,0.20) 1%,rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,217,86,0.20) 1%,rgba(255,255,255,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffd956', endColorstr='#0dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	z-index:0;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.category-list article:hover:after{
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.category-list article.dia-mulher{
	background:url(../img/subcat/dia-mulher.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.dia-maes{
	background:url(../img/subcat/dia-maes.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.dia-pais{
	background:url(../img/subcat/dia-pais.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.dia-homem{
	background:url(../img/subcat/dia-homem.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.final-de-ano{
	background:url(../img/subcat/fim-de-ano.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.carnaval{
	background:url(../img/subcat/carnaval.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.seguranca{
	background:url(../img/subcat/seguranca.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.outubro-rosa{
	background:url(../img/subcat/outubro-rosa.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.novembro-azul{
	background:url(../img/subcat/novembro-azul.jpg) center top no-repeat;
	background-size:cover;
}
.category-list article.meio-ambiente{
	background:url(../img/subcat/meio-ambiente.jpg) center top no-repeat;
	background-size:cover;
}
.product-list{
	padding-top:80px;
	padding-bottom:80px;
}
.product-list article{
	text-align:center;
	margin-bottom:40px;
}
.product-list a{
	text-decoration:none;
}
.products-image{
	margin:15px 0;
	border:1px solid #e2e2e2;
	border-bottom-width:4px;
	overflow:hidden;
	position:relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}
.products-image a{
	display:block;
	text-align:center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.products-image img{
	display:inline-block;
	-moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
	height: 100%;
	object-fit: contain;
}
.products-image a:hover img{
	-ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
  transform: scale(1.4);
}
.products-image a:before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0);
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
	z-index:10;
}
.products-image a:hover:before{
	background:rgba(255,255,255,0.75);
}
.products-image a:after{
	content:'Ver Detalhes';
	display:block;
	width:150px;
	height:40px;
	line-height:40px;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-75px;
	top:50%;
	margin-top:0px;
	font-weight:700;
	color:#333;
	border:2px solid #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	opacity:0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
	z-index:11;
}
.products-image a:hover:after{
	opacity:1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	margin-top:-20px;
}
.product-list article b{
	display:block;
	color:#ed5564;
	font-weight:800;
	font-size:18px;
	line-height:20px;
	margin-bottom:5px;
}
.product-list article p{
	color:#666;
	font-size:14px;
	line-height:20px;
	margin: 0;
}
.link-description{
	display:block;
	height:85px;
	overflow:hidden;
}
footer{
	color:#FFF;
	background:url(../img/bg-footer-default.jpg) center top no-repeat #353a48;
	background-size:cover;
	position: relative;
}
footer.others{
	background:url(../img/bg-footer-others.jpg) center center no-repeat #353a48;
}
footer.others h2{
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
footer:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../img/bg-pattern.png) left top repeat;
	z-index: 0;
}
footer > .container{
	position:relative;
}
footer.default > .container:after{
	content:'';
	background:url(../img/petala-footer.png) left top no-repeat;
	width:105px;
	height:98px;
	display:block;
	position:absolute;
	right:50px;
	top:-50px;
}

footer h2{
	font-size: 50px;
    margin-top: 90px;
}
footer h2,
footer p,
footer a{
	position: relative;
	z-index: 1;
}
footer p{
	margin-bottom: 50px;
	margin-top: 40px;
}
#PageDefault a{
	font-size: 15px;
	font-weight: 500;
	display: inline-block;
	padding: 3px 40px;
}

footer a, section.cta-blog a{
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
	padding:15px 40px;
}

footer .copyright p{
	font-size:16px;
	color: #FFF;
	margin-top: 100px;
	margin-bottom: 0;
	padding:40px;
	display: block;
	/*border-top:1px solid #393f4c;*/
	text-align: left;
}


section.cta-blog {
	padding-bottom: 100px;
}
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.modal-backdrop.in{
	background:rgba(255,255,255,0.75);
	opacity: 1;
    filter: alpha(opacity=100);
}
#ajaxModal .modal-content{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:0px 15px;
	border:1px solid #EEE;
}
#ajaxModal .modal-dialog{
	width:940px;
	margin:30px auto;
}
#ajaxModal .btn-close{
	display:block;
	height:26px;
	width:26px;
	background:url(../img/close-modal.png) center center no-repeat;
	border:none;
	overflow:hidden;
	text-indent:-1000px;
	margin-bottom:20px;
	float:right;
}
.produto-detalhes-titulo{
	font-size:24px;
	font-weight:900;
	color:#555;
	margin-bottom:15px;
}
.produto-detalhes-subtitulo{
	font-size:18px;
	color:#666;
	font-weight:400;
	margin-bottom:35px;
}
#ajaxModal h3{
	font-size:24px;
	font-weight:300;
	color:#666;
	padding-top:20px;
	margin-top:35px;
	margin-bottom:20px;
	border-top:1px solid #EEE;
}
.descricao-produto-detalhes{
	padding-bottom:35px;
	color:#888;
}
.descricao-produto-detalhes p{
	font-size:14px;
	line-height:1.4em;
	margin-bottom:10px;
}
.descricao-produto-detalhes ul{
	margin:20px 0px 0px;
}
.descricao-produto-detalhes ul li{
	font-size:14px;
	line-height:1.4em;
	margin-bottom:5px;
	padding-left:15px;
	position:relative;
}
.descricao-produto-detalhes ul li:before{
	content:'';
	width:4px;
	height:4px;
	background:#ed5564;
	display:block;
	position:absolute;
	left:0px;
	top:8px;
}
.btn-comprar{
	display:block;
	line-height:50px;
	text-align:center;
	font-size:24px;
	font-weight:700;
}
.preco-produto-detalhes{
	display:block;
	line-height:50px;
	font-size:24px;
	font-weight:300;
	color:#555;
}
.preco-produto-detalhes > span{
	font-size:50px;
}
.slider-for{
	position:relative;
}
.slider-for .slick-slide{
	text-align:center;
}
.slider-for .slick-slide img{
	margin:auto;
}
.slider-for .slick-prev,
.slider-for .slick-next{
	display: block;
    height: 40px;
    width: 40px;
	margin-top:-20px;
	overflow:hidden;
	text-indent:-1000px;
	position:absolute;
	z-index:999;
	border:none;
	top:50%;
}
.slider-for .slick-prev{
	left:0px;
	background: url(../img/setas-carousel-min.png) left top no-repeat;
}
.slider-for .slick-next{
	right:0px;
	background: url(../img/setas-carousel-min.png) right top no-repeat;
}
.slider-nav{
	padding-top:20px;
	margin-top:20px;
	border-top:1px solid #EEE;
}
.slider-nav .slick-slide{
	border:1px solid #eee;
	margin:0px 10px;
	cursor:pointer;
}
.slider-nav .slick-current{
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}
.inline-title {
	display: block;
	border-bottom: 1px solid #ededed;
	text-decoration: none;
	padding-bottom: 4px;
	height: 50px;
	line-height: 70px;
	font-weight: bold;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.default2 h2 {
        font-size: 33px;
        margin-top: 75px;
}

.default2 p {
    font-size: 19px;
}

.default2 ul {
 
    list-style:initial;
    font-size: 18px;
    line-height: 24px;
}




/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	header h1{
		font-size: 56px;
		margin-top: 30px;
	}
}
/* Portrait tablets and small desktops */
@media(max-width: 991px) {
	p{
		font-size:18px;
	}
	.navbar-nav>li>.dropdown-menu{
		margin-left:0px;
	}

	header .nav {
	    padding: 0;
	}
	header .logo img {
	    margin: 10px auto;
	}
	header.default > .container:after,
	header.default > .container:before,
	/*header.default  > .container i.scroll-down{
		display:none;
	}*/
	header h1{
		font-size: 56px;
		margin-top: 30px;
	}
	header.default > .container i.scroll-down {
	    position: relative;
	    left: 0;
	    right: 0;
	    bottom: -70px;
	    margin: 0 auto;
	}

	p.telefone {
	    color: #FFF;
	    float: none;
	    padding: 8px 32px;
	    margin: 0 auto;
	    display: table;
	}
	.acesso-empresas{
		margin: 20px auto;
	    display: table;
	    float: none;
	}

	#id-form-home{
		margin-top:80px;
	}
	.features-home .slick-prev{
		left:10px;
	}
	.features-home .slick-next{
		right:10px;
	}
	.navbar-brand{
		margin-right:20px;
	}
	.navbar-nav > li >a{
		margin:0px 0px;
	}
	.features .slick-dots {
		    margin: 0 auto 30px;
		    float: none;
		    text-align: center;
		    padding: 0;
		}
	.quem-confia{
		margin-top:0;
	}
	.category-list article{
		padding-top:1px;
	}
	.category-list article > div{
		background: rgba(255,255,255,1);
	}
	#ajaxModal .modal-dialog{
		width:740px;
	}
	.preco-produto-detalhes{
		text-align:right;
		margin-bottom:15px;
	}
	.preco-produto-detalhes > span {
		font-size: 50px;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	header .nav a img{
		width:200px;
	}
	.navbar-right>li>a, .acesso-empresas {
		padding: 8px 25px;
	}
	#id-form-home{
		margin-top:80px;
	}
	.features-full button{
		display:none !important;
	}

	.container-features li b{
		font-size:24px;
	}
	header .navbar-collapse{
		padding:0px;
	}
	header .nav.navbar-nav{
		margin:0;
		padding:0;
		text-align:center;
	}
	header .dropdown-menu>li>a{
		text-align:center;
	}
	header.others .navbar-right>li>a{
		float:none;
		background:#fcb813;
		color:#FFF;
		display:block;
	}
	#ajaxModal .modal-dialog{
		width:460px;
	}
	.tab-features{
		height:100px;
	}
	.slider-nav{
		margin-bottom:35px;
	}
	.link-description{
		height:auto;
		overflow:visible;
	}
	.link-description:after{
		content:'Ver Detalhes';
		display:block;
		width:150px;
		height:40px;
		line-height:40px;
		text-align:center;
		margin:20px auto 0px auto;
		font-weight:700;
		color:#333;
		border:2px solid #333;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
		z-index:11;
	}
	.products-image a:after{
		content:'';
		display:none;
	}
	.contact form .row {
		margin-bottom: 0;
	}
	.contact form .row > div {
		margin-bottom: 20px;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	p{
		font-size:16px;
		line-height:1.4em;
	}
	h2{
		font-size:32px;
	}
	header .nav{
		text-align:center;
	}
	header .nav a img{
		width:60%;
	}
	.navbar-right>li>a, .acesso-empresas {
		padding: 8px 20px;
	}
	header .nav a{
		display:inline-block;
		float:none;
		margin-left:auto;
		margin-right:auto;
	}
	header h1{
		font-size: 32px;
		margin-top:0px;
		padding-bottom:20px;
		text-align:center;
	}
	header.default h1:after{
		display:none;
	}
	header h1~p {
		display: none;
	}
	.acesso-empresas {
		margin: 15px 15px 5px;
	}
	#id-form-home p{
		font-size:28px;
	}
	#id-form-home input[type=text],
	#id-form-home input[type=email]{
		height:40px;
		line-height:40px;
	}
	#id-form-home .btn{
		font-size:20px;
	}
	#id-form-home {
   		margin-top: 50px;
	}
	.what,
	.how{
		max-width:120px;
	}
	.what{
		padding-left:20px;
	}
	.how{
		padding-right:20px;
	}
	.tab-features{
		height:100px;
	}
	.tabs-features-bottom{
		display:block;
		height:40px;
		background:none
	}
	.tabs-features-bottom >span{
		display:inline-block;
		height:40px;
		width:40px;
		margin:0px 25px;
		position:static;
	}
	.tabs-features-bottom >span.seta-0{
		background:url(../img/setas-carousel-min.png) left top no-repeat;
	}
	.tabs-features-bottom >span.seta-1{
		background:url(../img/setas-carousel-min.png) right top no-repeat;
	}
	.tabs-features-bottom >span.active{
		opacity:0.35;
		-moz-opacity: 0.35;
		filter: alpha(opacity=35);
	}
	.container-features ul li div{
		text-align:center;
		padding-left:0px;
	}
	.icon-home{
		position:static;
	}
	.icon-home:after{
		display:none;
	}
	footer a{
		font-size:20px;
	}
	footer .copyright p{
		font-size:12px;
	}
	#ajaxModal .modal-dialog{
		width:300px;
	}
	.contact form .row {
		margin-bottom: 0;
	}
	.contact form .row > div {
		margin-bottom: 20px;
	}
}
