﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = "~/Views/Shared/_LayoutNeue.cshtml";
    ViewBag.Home = true;
    ViewBag.Title = "Coroa de Flores para todo o Brasil";
    ViewBag.description = "Acesse o site coroas para velório, entregamos em todas as cidades, 24 horas de atendimento. Parcelamos em até 18X c/ Frete Grátis. Confira!";
}
@section NeueScripts{
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/geral.js"></script>

    

    <!-- CPV Custom Javascripts -->
    <script type="text/javascript">
        function orderNeue(i) { location.replace("coroa-de-flores?ordenacao=" + i + "#comprar") } $(document).ready(function () { i = !0; $(window).width() <= 750 && (i = !1), $(window).resize(function () { i = $(window).width() <= 750 ? !1 : !0 }), $(window).scroll(function () { var t = $(window).scrollTop(); t >= 140 && i ? $("#fixed-bar").fadeIn("fast") : $("#fixed-bar").fadeOut("fast") }), $(window).width() > 767 && $(".badge").each(function () { $(this).css("margin-left", "-" + $(this).outerWidth() / 2 + "px") }), $("nav#mmenu").mmenu(); var t = 1; $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show(), $(".controls").click(function () { $(this).is("#next") ? t++ : $(this).is("#prev") && t--, t > 10 ? t = 1 : 1 > t && (t = 10), $(".testimonial-item").hide(), $(".testimonial-item#item-" + t).show() }); });
    </script>

    <!-- Bootstrap JS -->
    <script type="text/javascript">
        if ("undefined" == typeof jQuery) throw new Error("Bootstrap's JavaScript requires jQuery"); +function (t) { "use strict"; var e = t.fn.jquery.split(" ")[0].split("."); if (e[0] < 2 && e[1] < 9 || 1 == e[0] && 9 == e[1] && e[2] < 1) throw new Error("Bootstrap's JavaScript requires jQuery version 1.9.1 or higher") } (jQuery), +function (t) { "use strict"; function e() { var t = document.createElement("bootstrap"), e = { WebkitTransition: "webkitTransitionEnd", MozTransition: "transitionend", OTransition: "oTransitionEnd otransitionend", transition: "transitionend" }; for (var i in e) if (void 0 !== t.style[i]) return { end: e[i] }; return !1 } t.fn.emulateTransitionEnd = function (e) { var i = !1, o = this; t(this).one("bsTransitionEnd", function () { i = !0 }); var n = function () { i || t(o).trigger(t.support.transition.end) }; return setTimeout(n, e), this }, t(function () { t.support.transition = e(), t.support.transition && (t.event.special.bsTransitionEnd = { bindType: t.support.transition.end, delegateType: t.support.transition.end, handle: function (e) { return t(e.target).is(this) ? e.handleObj.handler.apply(this, arguments) : void 0 } }) }) } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var i = t(this), n = i.data("bs.alert"); n || i.data("bs.alert", n = new o(this)), "string" == typeof e && n[e].call(i) }) } var i = '[data-dismiss="alert"]', o = function (e) { t(e).on("click", i, this.close) }; o.VERSION = "3.3.5", o.TRANSITION_DURATION = 150, o.prototype.close = function (e) { function i() { a.detach().trigger("closed.bs.alert").remove() } var n = t(this), s = n.attr("data-target"); s || (s = n.attr("href"), s = s && s.replace(/.*(?=#[^\s]*$)/, "")); var a = t(s); e && e.preventDefault(), a.length || (a = n.closest(".alert")), a.trigger(e = t.Event("close.bs.alert")), e.isDefaultPrevented() || (a.removeClass("in"), t.support.transition && a.hasClass("fade") ? a.one("bsTransitionEnd", i).emulateTransitionEnd(o.TRANSITION_DURATION) : i()) }; var n = t.fn.alert; t.fn.alert = e, t.fn.alert.Constructor = o, t.fn.alert.noConflict = function () { return t.fn.alert = n, this }, t(document).on("click.bs.alert.data-api", i, o.prototype.close) } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.button"), s = "object" == typeof e && e; n || o.data("bs.button", n = new i(this, s)), "toggle" == e ? n.toggle() : e && n.setState(e) }) } var i = function (e, o) { this.$element = t(e), this.options = t.extend({}, i.DEFAULTS, o), this.isLoading = !1 }; i.VERSION = "3.3.5", i.DEFAULTS = { loadingText: "loading..." }, i.prototype.setState = function (e) { var i = "disabled", o = this.$element, n = o.is("input") ? "val" : "html", s = o.data(); e += "Text", null == s.resetText && o.data("resetText", o[n]()), setTimeout(t.proxy(function () { o[n](null == s[e] ? this.options[e] : s[e]), "loadingText" == e ? (this.isLoading = !0, o.addClass(i).attr(i, i)) : this.isLoading && (this.isLoading = !1, o.removeClass(i).removeAttr(i)) }, this), 0) }, i.prototype.toggle = function () { var t = !0, e = this.$element.closest('[data-toggle="buttons"]'); if (e.length) { var i = this.$element.find("input"); "radio" == i.prop("type") ? (i.prop("checked") && (t = !1), e.find(".active").removeClass("active"), this.$element.addClass("active")) : "checkbox" == i.prop("type") && (i.prop("checked") !== this.$element.hasClass("active") && (t = !1), this.$element.toggleClass("active")), i.prop("checked", this.$element.hasClass("active")), t && i.trigger("change") } else this.$element.attr("aria-pressed", !this.$element.hasClass("active")), this.$element.toggleClass("active") }; var o = t.fn.button; t.fn.button = e, t.fn.button.Constructor = i, t.fn.button.noConflict = function () { return t.fn.button = o, this }, t(document).on("click.bs.button.data-api", '[data-toggle^="button"]', function (i) { var o = t(i.target); o.hasClass("btn") || (o = o.closest(".btn")), e.call(o, "toggle"), t(i.target).is('input[type="radio"]') || t(i.target).is('input[type="checkbox"]') || i.preventDefault() }).on("focus.bs.button.data-api blur.bs.button.data-api", '[data-toggle^="button"]', function (e) { t(e.target).closest(".btn").toggleClass("focus", /^focus(in)?$/.test(e.type)) }) } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.carousel"), s = t.extend({}, i.DEFAULTS, o.data(), "object" == typeof e && e), a = "string" == typeof e ? e : s.slide; n || o.data("bs.carousel", n = new i(this, s)), "number" == typeof e ? n.to(e) : a ? n[a]() : s.interval && n.pause().cycle() }) } var i = function (e, i) { this.$element = t(e), this.$indicators = this.$element.find(".carousel-indicators"), this.options = i, this.paused = null, this.sliding = null, this.interval = null, this.$active = null, this.$items = null, this.options.keyboard && this.$element.on("keydown.bs.carousel", t.proxy(this.keydown, this)), "hover" == this.options.pause && !("ontouchstart" in document.documentElement) && this.$element.on("mouseenter.bs.carousel", t.proxy(this.pause, this)).on("mouseleave.bs.carousel", t.proxy(this.cycle, this)) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 600, i.DEFAULTS = { interval: 5e3, pause: "hover", wrap: !0, keyboard: !0 }, i.prototype.keydown = function (t) { if (!/input|textarea/i.test(t.target.tagName)) { switch (t.which) { case 37: this.prev(); break; case 39: this.next(); break; default: return } t.preventDefault() } }, i.prototype.cycle = function (e) { return e || (this.paused = !1), this.interval && clearInterval(this.interval), this.options.interval && !this.paused && (this.interval = setInterval(t.proxy(this.next, this), this.options.interval)), this }, i.prototype.getItemIndex = function (t) { return this.$items = t.parent().children(".item"), this.$items.index(t || this.$active) }, i.prototype.getItemForDirection = function (t, e) { var i = this.getItemIndex(e), o = "prev" == t && 0 === i || "next" == t && i == this.$items.length - 1; if (o && !this.options.wrap) return e; var n = "prev" == t ? -1 : 1, s = (i + n) % this.$items.length; return this.$items.eq(s) }, i.prototype.to = function (t) { var e = this, i = this.getItemIndex(this.$active = this.$element.find(".item.active")); return t > this.$items.length - 1 || 0 > t ? void 0 : this.sliding ? this.$element.one("slid.bs.carousel", function () { e.to(t) }) : i == t ? this.pause().cycle() : this.slide(t > i ? "next" : "prev", this.$items.eq(t)) }, i.prototype.pause = function (e) { return e || (this.paused = !0), this.$element.find(".next, .prev").length && t.support.transition && (this.$element.trigger(t.support.transition.end), this.cycle(!0)), this.interval = clearInterval(this.interval), this }, i.prototype.next = function () { return this.sliding ? void 0 : this.slide("next") }, i.prototype.prev = function () { return this.sliding ? void 0 : this.slide("prev") }, i.prototype.slide = function (e, o) { var n = this.$element.find(".item.active"), s = o || this.getItemForDirection(e, n), a = this.interval, r = "next" == e ? "left" : "right", l = this; if (s.hasClass("active")) return this.sliding = !1; var h = s[0], d = t.Event("slide.bs.carousel", { relatedTarget: h, direction: r }); if (this.$element.trigger(d), !d.isDefaultPrevented()) { if (this.sliding = !0, a && this.pause(), this.$indicators.length) { this.$indicators.find(".active").removeClass("active"); var p = t(this.$indicators.children()[this.getItemIndex(s)]); p && p.addClass("active") } var c = t.Event("slid.bs.carousel", { relatedTarget: h, direction: r }); return t.support.transition && this.$element.hasClass("slide") ? (s.addClass(e), s[0].offsetWidth, n.addClass(r), s.addClass(r), n.one("bsTransitionEnd", function () { s.removeClass([e, r].join(" ")).addClass("active"), n.removeClass(["active", r].join(" ")), l.sliding = !1, setTimeout(function () { l.$element.trigger(c) }, 0) }).emulateTransitionEnd(i.TRANSITION_DURATION)) : (n.removeClass("active"), s.addClass("active"), this.sliding = !1, this.$element.trigger(c)), a && this.cycle(), this } }; var o = t.fn.carousel; t.fn.carousel = e, t.fn.carousel.Constructor = i, t.fn.carousel.noConflict = function () { return t.fn.carousel = o, this }; var n = function (i) { var o, n = t(this), s = t(n.attr("data-target") || (o = n.attr("href")) && o.replace(/.*(?=#[^\s]+$)/, "")); if (s.hasClass("carousel")) { var a = t.extend({}, s.data(), n.data()), r = n.attr("data-slide-to"); r && (a.interval = !1), e.call(s, a), r && s.data("bs.carousel").to(r), i.preventDefault() } }; t(document).on("click.bs.carousel.data-api", "[data-slide]", n).on("click.bs.carousel.data-api", "[data-slide-to]", n), t(window).on("load", function () { t('[data-ride="carousel"]').each(function () { var i = t(this); e.call(i, i.data()) }) }) } (jQuery), +function (t) { "use strict"; function e(e) { var i, o = e.attr("data-target") || (i = e.attr("href")) && i.replace(/.*(?=#[^\s]+$)/, ""); return t(o) } function i(e) { return this.each(function () { var i = t(this), n = i.data("bs.collapse"), s = t.extend({}, o.DEFAULTS, i.data(), "object" == typeof e && e); !n && s.toggle && /show|hide/.test(e) && (s.toggle = !1), n || i.data("bs.collapse", n = new o(this, s)), "string" == typeof e && n[e]() }) } var o = function (e, i) { this.$element = t(e), this.options = t.extend({}, o.DEFAULTS, i), this.$trigger = t('[data-toggle="collapse"][href="#' + e.id + '"],[data-toggle="collapse"][data-target="#' + e.id + '"]'), this.transitioning = null, this.options.parent ? this.$parent = this.getParent() : this.addAriaAndCollapsedClass(this.$element, this.$trigger), this.options.toggle && this.toggle() }; o.VERSION = "3.3.5", o.TRANSITION_DURATION = 350, o.DEFAULTS = { toggle: !0 }, o.prototype.dimension = function () { var t = this.$element.hasClass("width"); return t ? "width" : "height" }, o.prototype.show = function () { if (!this.transitioning && !this.$element.hasClass("in")) { var e, n = this.$parent && this.$parent.children(".panel").children(".in, .collapsing"); if (!(n && n.length && (e = n.data("bs.collapse"), e && e.transitioning))) { var s = t.Event("show.bs.collapse"); if (this.$element.trigger(s), !s.isDefaultPrevented()) { n && n.length && (i.call(n, "hide"), e || n.data("bs.collapse", null)); var a = this.dimension(); this.$element.removeClass("collapse").addClass("collapsing")[a](0).attr("aria-expanded", !0), this.$trigger.removeClass("collapsed").attr("aria-expanded", !0), this.transitioning = 1; var r = function () { this.$element.removeClass("collapsing").addClass("collapse in")[a](""), this.transitioning = 0, this.$element.trigger("shown.bs.collapse") }; if (!t.support.transition) return r.call(this); var l = t.camelCase(["scroll", a].join("-")); this.$element.one("bsTransitionEnd", t.proxy(r, this)).emulateTransitionEnd(o.TRANSITION_DURATION)[a](this.$element[0][l]) } } } }, o.prototype.hide = function () { if (!this.transitioning && this.$element.hasClass("in")) { var e = t.Event("hide.bs.collapse"); if (this.$element.trigger(e), !e.isDefaultPrevented()) { var i = this.dimension(); this.$element[i](this.$element[i]())[0].offsetHeight, this.$element.addClass("collapsing").removeClass("collapse in").attr("aria-expanded", !1), this.$trigger.addClass("collapsed").attr("aria-expanded", !1), this.transitioning = 1; var n = function () { this.transitioning = 0, this.$element.removeClass("collapsing").addClass("collapse").trigger("hidden.bs.collapse") }; return t.support.transition ? void this.$element[i](0).one("bsTransitionEnd", t.proxy(n, this)).emulateTransitionEnd(o.TRANSITION_DURATION) : n.call(this) } } }, o.prototype.toggle = function () { this[this.$element.hasClass("in") ? "hide" : "show"]() }, o.prototype.getParent = function () { return t(this.options.parent).find('[data-toggle="collapse"][data-parent="' + this.options.parent + '"]').each(t.proxy(function (i, o) { var n = t(o); this.addAriaAndCollapsedClass(e(n), n) }, this)).end() }, o.prototype.addAriaAndCollapsedClass = function (t, e) { var i = t.hasClass("in"); t.attr("aria-expanded", i), e.toggleClass("collapsed", !i).attr("aria-expanded", i) }; var n = t.fn.collapse; t.fn.collapse = i, t.fn.collapse.Constructor = o, t.fn.collapse.noConflict = function () { return t.fn.collapse = n, this }, t(document).on("click.bs.collapse.data-api", '[data-toggle="collapse"]', function (o) { var n = t(this); n.attr("data-target") || o.preventDefault(); var s = e(n), a = s.data("bs.collapse"), r = a ? "toggle" : n.data(); i.call(s, r) }) } (jQuery), +function (t) { "use strict"; function e(e) { var i = e.attr("data-target"); i || (i = e.attr("href"), i = i && /#[A-Za-z]/.test(i) && i.replace(/.*(?=#[^\s]*$)/, "")); var o = i && t(i); return o && o.length ? o : e.parent() } function i(i) { i && 3 === i.which || (t(n).remove(), t(s).each(function () { var o = t(this), n = e(o), s = { relatedTarget: this }; n.hasClass("open") && (i && "click" == i.type && /input|textarea/i.test(i.target.tagName) && t.contains(n[0], i.target) || (n.trigger(i = t.Event("hide.bs.dropdown", s)), i.isDefaultPrevented() || (o.attr("aria-expanded", "false"), n.removeClass("open").trigger("hidden.bs.dropdown", s)))) })) } function o(e) { return this.each(function () { var i = t(this), o = i.data("bs.dropdown"); o || i.data("bs.dropdown", o = new a(this)), "string" == typeof e && o[e].call(i) }) } var n = ".dropdown-backdrop", s = '[data-toggle="dropdown"]', a = function (e) { t(e).on("click.bs.dropdown", this.toggle) }; a.VERSION = "3.3.5", a.prototype.toggle = function (o) { var n = t(this); if (!n.is(".disabled, :disabled")) { var s = e(n), a = s.hasClass("open"); if (i(), !a) { "ontouchstart" in document.documentElement && !s.closest(".navbar-nav").length && t(document.createElement("div")).addClass("dropdown-backdrop").insertAfter(t(this)).on("click", i); var r = { relatedTarget: this }; if (s.trigger(o = t.Event("show.bs.dropdown", r)), o.isDefaultPrevented()) return; n.trigger("focus").attr("aria-expanded", "true"), s.toggleClass("open").trigger("shown.bs.dropdown", r) } return !1 } }, a.prototype.keydown = function (i) { if (/(38|40|27|32)/.test(i.which) && !/input|textarea/i.test(i.target.tagName)) { var o = t(this); if (i.preventDefault(), i.stopPropagation(), !o.is(".disabled, :disabled")) { var n = e(o), a = n.hasClass("open"); if (!a && 27 != i.which || a && 27 == i.which) return 27 == i.which && n.find(s).trigger("focus"), o.trigger("click"); var r = " li:not(.disabled):visible a", l = n.find(".dropdown-menu" + r); if (l.length) { var h = l.index(i.target); 38 == i.which && h > 0 && h--, 40 == i.which && h < l.length - 1 && h++, ~h || (h = 0), l.eq(h).trigger("focus") } } } }; var r = t.fn.dropdown; t.fn.dropdown = o, t.fn.dropdown.Constructor = a, t.fn.dropdown.noConflict = function () { return t.fn.dropdown = r, this }, t(document).on("click.bs.dropdown.data-api", i).on("click.bs.dropdown.data-api", ".dropdown form", function (t) { t.stopPropagation() }).on("click.bs.dropdown.data-api", s, a.prototype.toggle).on("keydown.bs.dropdown.data-api", s, a.prototype.keydown).on("keydown.bs.dropdown.data-api", ".dropdown-menu", a.prototype.keydown) } (jQuery), +function (t) { "use strict"; function e(e, o) { return this.each(function () { var n = t(this), s = n.data("bs.modal"), a = t.extend({}, i.DEFAULTS, n.data(), "object" == typeof e && e); s || n.data("bs.modal", s = new i(this, a)), "string" == typeof e ? s[e](o) : a.show && s.show(o) }) } var i = function (e, i) { this.options = i, this.$body = t(document.body), this.$element = t(e), this.$dialog = this.$element.find(".modal-dialog"), this.$backdrop = null, this.isShown = null, this.originalBodyPad = null, this.scrollbarWidth = 0, this.ignoreBackdropClick = !1, this.options.remote && this.$element.find(".modal-content").load(this.options.remote, t.proxy(function () { this.$element.trigger("loaded.bs.modal") }, this)) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 300, i.BACKDROP_TRANSITION_DURATION = 150, i.DEFAULTS = { backdrop: !0, keyboard: !0, show: !0 }, i.prototype.toggle = function (t) { return this.isShown ? this.hide() : this.show(t) }, i.prototype.show = function (e) { var o = this, n = t.Event("show.bs.modal", { relatedTarget: e }); this.$element.trigger(n), this.isShown || n.isDefaultPrevented() || (this.isShown = !0, this.checkScrollbar(), this.setScrollbar(), this.$body.addClass("modal-open"), this.escape(), this.resize(), this.$element.on("click.dismiss.bs.modal", '[data-dismiss="modal"]', t.proxy(this.hide, this)), this.$dialog.on("mousedown.dismiss.bs.modal", function () { o.$element.one("mouseup.dismiss.bs.modal", function (e) { t(e.target).is(o.$element) && (o.ignoreBackdropClick = !0) }) }), this.backdrop(function () { var n = t.support.transition && o.$element.hasClass("fade"); o.$element.parent().length || o.$element.appendTo(o.$body), o.$element.show().scrollTop(0), o.adjustDialog(), n && o.$element[0].offsetWidth, o.$element.addClass("in"), o.enforceFocus(); var s = t.Event("shown.bs.modal", { relatedTarget: e }); n ? o.$dialog.one("bsTransitionEnd", function () { o.$element.trigger("focus").trigger(s) }).emulateTransitionEnd(i.TRANSITION_DURATION) : o.$element.trigger("focus").trigger(s) })) }, i.prototype.hide = function (e) { e && e.preventDefault(), e = t.Event("hide.bs.modal"), this.$element.trigger(e), this.isShown && !e.isDefaultPrevented() && (this.isShown = !1, this.escape(), this.resize(), t(document).off("focusin.bs.modal"), this.$element.removeClass("in").off("click.dismiss.bs.modal").off("mouseup.dismiss.bs.modal"), this.$dialog.off("mousedown.dismiss.bs.modal"), t.support.transition && this.$element.hasClass("fade") ? this.$element.one("bsTransitionEnd", t.proxy(this.hideModal, this)).emulateTransitionEnd(i.TRANSITION_DURATION) : this.hideModal()) }, i.prototype.enforceFocus = function () { t(document).off("focusin.bs.modal").on("focusin.bs.modal", t.proxy(function (t) { this.$element[0] === t.target || this.$element.has(t.target).length || this.$element.trigger("focus") }, this)) }, i.prototype.escape = function () { this.isShown && this.options.keyboard ? this.$element.on("keydown.dismiss.bs.modal", t.proxy(function (t) { 27 == t.which && this.hide() }, this)) : this.isShown || this.$element.off("keydown.dismiss.bs.modal") }, i.prototype.resize = function () { this.isShown ? t(window).on("resize.bs.modal", t.proxy(this.handleUpdate, this)) : t(window).off("resize.bs.modal") }, i.prototype.hideModal = function () { var t = this; this.$element.hide(), this.backdrop(function () { t.$body.removeClass("modal-open"), t.resetAdjustments(), t.resetScrollbar(), t.$element.trigger("hidden.bs.modal") }) }, i.prototype.removeBackdrop = function () { this.$backdrop && this.$backdrop.remove(), this.$backdrop = null }, i.prototype.backdrop = function (e) { var o = this, n = this.$element.hasClass("fade") ? "fade" : ""; if (this.isShown && this.options.backdrop) { var s = t.support.transition && n; if (this.$backdrop = t(document.createElement("div")).addClass("modal-backdrop " + n).appendTo(this.$body), this.$element.on("click.dismiss.bs.modal", t.proxy(function (t) { return this.ignoreBackdropClick ? void (this.ignoreBackdropClick = !1) : void (t.target === t.currentTarget && ("static" == this.options.backdrop ? this.$element[0].focus() : this.hide())) }, this)), s && this.$backdrop[0].offsetWidth, this.$backdrop.addClass("in"), !e) return; s ? this.$backdrop.one("bsTransitionEnd", e).emulateTransitionEnd(i.BACKDROP_TRANSITION_DURATION) : e() } else if (!this.isShown && this.$backdrop) { this.$backdrop.removeClass("in"); var a = function () { o.removeBackdrop(), e && e() }; t.support.transition && this.$element.hasClass("fade") ? this.$backdrop.one("bsTransitionEnd", a).emulateTransitionEnd(i.BACKDROP_TRANSITION_DURATION) : a() } else e && e() }, i.prototype.handleUpdate = function () { this.adjustDialog() }, i.prototype.adjustDialog = function () { var t = this.$element[0].scrollHeight > document.documentElement.clientHeight; this.$element.css({ paddingLeft: !this.bodyIsOverflowing && t ? this.scrollbarWidth : "", paddingRight: this.bodyIsOverflowing && !t ? this.scrollbarWidth : "" }) }, i.prototype.resetAdjustments = function () { this.$element.css({ paddingLeft: "", paddingRight: "" }) }, i.prototype.checkScrollbar = function () { var t = window.innerWidth; if (!t) { var e = document.documentElement.getBoundingClientRect(); t = e.right - Math.abs(e.left) } this.bodyIsOverflowing = document.body.clientWidth < t, this.scrollbarWidth = this.measureScrollbar() }, i.prototype.setScrollbar = function () { var t = parseInt(this.$body.css("padding-right") || 0, 10); this.originalBodyPad = document.body.style.paddingRight || "", this.bodyIsOverflowing && this.$body.css("padding-right", t + this.scrollbarWidth) }, i.prototype.resetScrollbar = function () { this.$body.css("padding-right", this.originalBodyPad) }, i.prototype.measureScrollbar = function () { var t = document.createElement("div"); t.className = "modal-scrollbar-measure", this.$body.append(t); var e = t.offsetWidth - t.clientWidth; return this.$body[0].removeChild(t), e }; var o = t.fn.modal; t.fn.modal = e, t.fn.modal.Constructor = i, t.fn.modal.noConflict = function () { return t.fn.modal = o, this }, t(document).on("click.bs.modal.data-api", '[data-toggle="modal"]', function (i) { var o = t(this), n = o.attr("href"), s = t(o.attr("data-target") || n && n.replace(/.*(?=#[^\s]+$)/, "")), a = s.data("bs.modal") ? "toggle" : t.extend({ remote: !/#/.test(n) && n }, s.data(), o.data()); o.is("a") && i.preventDefault(), s.one("show.bs.modal", function (t) { t.isDefaultPrevented() || s.one("hidden.bs.modal", function () { o.is(":visible") && o.trigger("focus") }) }), e.call(s, a, this) }) } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.tooltip"), s = "object" == typeof e && e; (n || !/destroy|hide/.test(e)) && (n || o.data("bs.tooltip", n = new i(this, s)), "string" == typeof e && n[e]()) }) } var i = function (t, e) { this.type = null, this.options = null, this.enabled = null, this.timeout = null, this.hoverState = null, this.$element = null, this.inState = null, this.init("tooltip", t, e) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 150, i.DEFAULTS = { animation: !0, placement: "top", selector: !1, template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>', trigger: "hover focus", title: "", delay: 0, html: !1, container: !1, viewport: { selector: "body", padding: 0} }, i.prototype.init = function (e, i, o) { if (this.enabled = !0, this.type = e, this.$element = t(i), this.options = this.getOptions(o), this.$viewport = this.options.viewport && t(t.isFunction(this.options.viewport) ? this.options.viewport.call(this, this.$element) : this.options.viewport.selector || this.options.viewport), this.inState = { click: !1, hover: !1, focus: !1 }, this.$element[0] instanceof document.constructor && !this.options.selector) throw new Error("`selector` option must be specified when initializing " + this.type + " on the window.document object!"); for (var n = this.options.trigger.split(" "), s = n.length; s--; ) { var a = n[s]; if ("click" == a) this.$element.on("click." + this.type, this.options.selector, t.proxy(this.toggle, this)); else if ("manual" != a) { var r = "hover" == a ? "mouseenter" : "focusin", l = "hover" == a ? "mouseleave" : "focusout"; this.$element.on(r + "." + this.type, this.options.selector, t.proxy(this.enter, this)), this.$element.on(l + "." + this.type, this.options.selector, t.proxy(this.leave, this)) } } this.options.selector ? this._options = t.extend({}, this.options, { trigger: "manual", selector: "" }) : this.fixTitle() }, i.prototype.getDefaults = function () { return i.DEFAULTS }, i.prototype.getOptions = function (e) { return e = t.extend({}, this.getDefaults(), this.$element.data(), e), e.delay && "number" == typeof e.delay && (e.delay = { show: e.delay, hide: e.delay }), e }, i.prototype.getDelegateOptions = function () { var e = {}, i = this.getDefaults(); return this._options && t.each(this._options, function (t, o) { i[t] != o && (e[t] = o) }), e }, i.prototype.enter = function (e) { var i = e instanceof this.constructor ? e : t(e.currentTarget).data("bs." + this.type); return i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i)), e instanceof t.Event && (i.inState["focusin" == e.type ? "focus" : "hover"] = !0), i.tip().hasClass("in") || "in" == i.hoverState ? void (i.hoverState = "in") : (clearTimeout(i.timeout), i.hoverState = "in", i.options.delay && i.options.delay.show ? void (i.timeout = setTimeout(function () { "in" == i.hoverState && i.show() }, i.options.delay.show)) : i.show()) }, i.prototype.isInStateTrue = function () { for (var t in this.inState) if (this.inState[t]) return !0; return !1 }, i.prototype.leave = function (e) { var i = e instanceof this.constructor ? e : t(e.currentTarget).data("bs." + this.type); return i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i)), e instanceof t.Event && (i.inState["focusout" == e.type ? "focus" : "hover"] = !1), i.isInStateTrue() ? void 0 : (clearTimeout(i.timeout), i.hoverState = "out", i.options.delay && i.options.delay.hide ? void (i.timeout = setTimeout(function () { "out" == i.hoverState && i.hide() }, i.options.delay.hide)) : i.hide()) }, i.prototype.show = function () { var e = t.Event("show.bs." + this.type); if (this.hasContent() && this.enabled) { this.$element.trigger(e); var o = t.contains(this.$element[0].ownerDocument.documentElement, this.$element[0]); if (e.isDefaultPrevented() || !o) return; var n = this, s = this.tip(), a = this.getUID(this.type); this.setContent(), s.attr("id", a), this.$element.attr("aria-describedby", a), this.options.animation && s.addClass("fade"); var r = "function" == typeof this.options.placement ? this.options.placement.call(this, s[0], this.$element[0]) : this.options.placement, l = /\s?auto?\s?/i, h = l.test(r); h && (r = r.replace(l, "") || "top"), s.detach().css({ top: 0, left: 0, display: "block" }).addClass(r).data("bs." + this.type, this), this.options.container ? s.appendTo(this.options.container) : s.insertAfter(this.$element), this.$element.trigger("inserted.bs." + this.type); var d = this.getPosition(), p = s[0].offsetWidth, c = s[0].offsetHeight; if (h) { var f = r, u = this.getPosition(this.$viewport); r = "bottom" == r && d.bottom + c > u.bottom ? "top" : "top" == r && d.top - c < u.top ? "bottom" : "right" == r && d.right + p > u.width ? "left" : "left" == r && d.left - p < u.left ? "right" : r, s.removeClass(f).addClass(r) } var g = this.getCalculatedOffset(r, d, p, c); this.applyPlacement(g, r); var m = function () { var t = n.hoverState; n.$element.trigger("shown.bs." + n.type), n.hoverState = null, "out" == t && n.leave(n) }; t.support.transition && this.$tip.hasClass("fade") ? s.one("bsTransitionEnd", m).emulateTransitionEnd(i.TRANSITION_DURATION) : m() } }, i.prototype.applyPlacement = function (e, i) { var o = this.tip(), n = o[0].offsetWidth, s = o[0].offsetHeight, a = parseInt(o.css("margin-top"), 10), r = parseInt(o.css("margin-left"), 10); isNaN(a) && (a = 0), isNaN(r) && (r = 0), e.top += a, e.left += r, t.offset.setOffset(o[0], t.extend({ using: function (t) { o.css({ top: Math.round(t.top), left: Math.round(t.left) }) } }, e), 0), o.addClass("in"); var l = o[0].offsetWidth, h = o[0].offsetHeight; "top" == i && h != s && (e.top = e.top + s - h); var d = this.getViewportAdjustedDelta(i, e, l, h); d.left ? e.left += d.left : e.top += d.top; var p = /top|bottom/.test(i), c = p ? 2 * d.left - n + l : 2 * d.top - s + h, f = p ? "offsetWidth" : "offsetHeight"; o.offset(e), this.replaceArrow(c, o[0][f], p) }, i.prototype.replaceArrow = function (t, e, i) { this.arrow().css(i ? "left" : "top", 50 * (1 - t / e) + "%").css(i ? "top" : "left", "") }, i.prototype.setContent = function () { var t = this.tip(), e = this.getTitle(); t.find(".tooltip-inner")[this.options.html ? "html" : "text"](e), t.removeClass("fade in top bottom left right") }, i.prototype.hide = function (e) { function o() { "in" != n.hoverState && s.detach(), n.$element.removeAttr("aria-describedby").trigger("hidden.bs." + n.type), e && e() } var n = this, s = t(this.$tip), a = t.Event("hide.bs." + this.type); return this.$element.trigger(a), a.isDefaultPrevented() ? void 0 : (s.removeClass("in"), t.support.transition && s.hasClass("fade") ? s.one("bsTransitionEnd", o).emulateTransitionEnd(i.TRANSITION_DURATION) : o(), this.hoverState = null, this) }, i.prototype.fixTitle = function () { var t = this.$element; (t.attr("title") || "string" != typeof t.attr("data-original-title")) && t.attr("data-original-title", t.attr("title") || "").attr("title", "") }, i.prototype.hasContent = function () { return this.getTitle() }, i.prototype.getPosition = function (e) { e = e || this.$element; var i = e[0], o = "BODY" == i.tagName, n = i.getBoundingClientRect(); null == n.width && (n = t.extend({}, n, { width: n.right - n.left, height: n.bottom - n.top })); var s = o ? { top: 0, left: 0} : e.offset(), a = { scroll: o ? document.documentElement.scrollTop || document.body.scrollTop : e.scrollTop() }, r = o ? { width: t(window).width(), height: t(window).height()} : null; return t.extend({}, n, a, r, s) }, i.prototype.getCalculatedOffset = function (t, e, i, o) { return "bottom" == t ? { top: e.top + e.height, left: e.left + e.width / 2 - i / 2} : "top" == t ? { top: e.top - o, left: e.left + e.width / 2 - i / 2} : "left" == t ? { top: e.top + e.height / 2 - o / 2, left: e.left - i} : { top: e.top + e.height / 2 - o / 2, left: e.left + e.width} }, i.prototype.getViewportAdjustedDelta = function (t, e, i, o) { var n = { top: 0, left: 0 }; if (!this.$viewport) return n; var s = this.options.viewport && this.options.viewport.padding || 0, a = this.getPosition(this.$viewport); if (/right|left/.test(t)) { var r = e.top - s - a.scroll, l = e.top + s - a.scroll + o; r < a.top ? n.top = a.top - r : l > a.top + a.height && (n.top = a.top + a.height - l) } else { var h = e.left - s, d = e.left + s + i; h < a.left ? n.left = a.left - h : d > a.right && (n.left = a.left + a.width - d) } return n }, i.prototype.getTitle = function () { var t, e = this.$element, i = this.options; return t = e.attr("data-original-title") || ("function" == typeof i.title ? i.title.call(e[0]) : i.title) }, i.prototype.getUID = function (t) { do t += ~ ~(1e6 * Math.random()); while (document.getElementById(t)); return t }, i.prototype.tip = function () { if (!this.$tip && (this.$tip = t(this.options.template), 1 != this.$tip.length)) throw new Error(this.type + " `template` option must consist of exactly 1 top-level element!"); return this.$tip }, i.prototype.arrow = function () { return this.$arrow = this.$arrow || this.tip().find(".tooltip-arrow") }, i.prototype.enable = function () { this.enabled = !0 }, i.prototype.disable = function () { this.enabled = !1 }, i.prototype.toggleEnabled = function () { this.enabled = !this.enabled }, i.prototype.toggle = function (e) { var i = this; e && (i = t(e.currentTarget).data("bs." + this.type), i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i))), e ? (i.inState.click = !i.inState.click, i.isInStateTrue() ? i.enter(i) : i.leave(i)) : i.tip().hasClass("in") ? i.leave(i) : i.enter(i) }, i.prototype.destroy = function () { var t = this; clearTimeout(this.timeout), this.hide(function () { t.$element.off("." + t.type).removeData("bs." + t.type), t.$tip && t.$tip.detach(), t.$tip = null, t.$arrow = null, t.$viewport = null }) }; var o = t.fn.tooltip; t.fn.tooltip = e, t.fn.tooltip.Constructor = i, t.fn.tooltip.noConflict = function () { return t.fn.tooltip = o, this } } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.popover"), s = "object" == typeof e && e; (n || !/destroy|hide/.test(e)) && (n || o.data("bs.popover", n = new i(this, s)), "string" == typeof e && n[e]()) }) } var i = function (t, e) { this.init("popover", t, e) }; if (!t.fn.tooltip) throw new Error("Popover requires tooltip.js"); i.VERSION = "3.3.5", i.DEFAULTS = t.extend({}, t.fn.tooltip.Constructor.DEFAULTS, { placement: "right", trigger: "click", content: "", template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' }), i.prototype = t.extend({}, t.fn.tooltip.Constructor.prototype), i.prototype.constructor = i, i.prototype.getDefaults = function () { return i.DEFAULTS }, i.prototype.setContent = function () { var t = this.tip(), e = this.getTitle(), i = this.getContent(); t.find(".popover-title")[this.options.html ? "html" : "text"](e), t.find(".popover-content").children().detach().end()[this.options.html ? "string" == typeof i ? "html" : "append" : "text"](i), t.removeClass("fade top bottom left right in"), t.find(".popover-title").html() || t.find(".popover-title").hide() }, i.prototype.hasContent = function () { return this.getTitle() || this.getContent() }, i.prototype.getContent = function () { var t = this.$element, e = this.options; return t.attr("data-content") || ("function" == typeof e.content ? e.content.call(t[0]) : e.content) }, i.prototype.arrow = function () { return this.$arrow = this.$arrow || this.tip().find(".arrow") }; var o = t.fn.popover; t.fn.popover = e, t.fn.popover.Constructor = i, t.fn.popover.noConflict = function () { return t.fn.popover = o, this } } (jQuery), +function (t) {
            "use strict"; function e(i, o) { this.$body = t(document.body), this.$scrollElement = t(t(i).is(document.body) ? window : i), this.options = t.extend({}, e.DEFAULTS, o), this.selector = (this.options.target || "") + " .nav li > a", this.offsets = [], this.targets = [], this.activeTarget = null, this.scrollHeight = 0, this.$scrollElement.on("scroll.bs.scrollspy", t.proxy(this.process, this)), this.refresh(), this.process() } function i(i) { return this.each(function () { var o = t(this), n = o.data("bs.scrollspy"), s = "object" == typeof i && i; n || o.data("bs.scrollspy", n = new e(this, s)), "string" == typeof i && n[i]() }) } e.VERSION = "3.3.5", e.DEFAULTS = { offset: 10 }, e.prototype.getScrollHeight = function () { return this.$scrollElement[0].scrollHeight || Math.max(this.$body[0].scrollHeight, document.documentElement.scrollHeight) }, e.prototype.refresh = function () { var e = this, i = "offset", o = 0; this.offsets = [], this.targets = [], this.scrollHeight = this.getScrollHeight(), t.isWindow(this.$scrollElement[0]) || (i = "position", o = this.$scrollElement.scrollTop()), this.$body.find(this.selector).map(function () { var e = t(this), n = e.data("target") || e.attr("href"), s = /^#./.test(n) && t(n); return s && s.length && s.is(":visible") && [[s[i]().top + o, n]] || null }).sort(function (t, e) { return t[0] - e[0] }).each(function () { e.offsets.push(this[0]), e.targets.push(this[1]) }) }, e.prototype.process = function () { var t, e = this.$scrollElement.scrollTop() + this.options.offset, i = this.getScrollHeight(), o = this.options.offset + i - this.$scrollElement.height(), n = this.offsets, s = this.targets, a = this.activeTarget; if (this.scrollHeight != i && this.refresh(), e >= o) return a != (t = s[s.length - 1]) && this.activate(t); if (a && e < n[0]) return this.activeTarget = null, this.clear(); for (t = n.length; t--; ) a != s[t] && e >= n[t] && (void 0 === n[t + 1] || e < n[t + 1]) && this.activate(s[t]) }, e.prototype.activate = function (e) {
                this.activeTarget = e, this.clear(); var i = this.selector + '[data-target="' + e + '"],' + this.selector + '[href="' + e + '"]', o = t(i).parents("li").addClass("active"); o.parent(".dropdown-menu").length && (o = o.closest("li.dropdown").addClass("active")),
o.trigger("activate.bs.scrollspy")
            }, e.prototype.clear = function () { t(this.selector).parentsUntil(this.options.target, ".active").removeClass("active") }; var o = t.fn.scrollspy; t.fn.scrollspy = i, t.fn.scrollspy.Constructor = e, t.fn.scrollspy.noConflict = function () { return t.fn.scrollspy = o, this }, t(window).on("load.bs.scrollspy.data-api", function () { t('[data-spy="scroll"]').each(function () { var e = t(this); i.call(e, e.data()) }) })
        } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.tab"); n || o.data("bs.tab", n = new i(this)), "string" == typeof e && n[e]() }) } var i = function (e) { this.element = t(e) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 150, i.prototype.show = function () { var e = this.element, i = e.closest("ul:not(.dropdown-menu)"), o = e.data("target"); if (o || (o = e.attr("href"), o = o && o.replace(/.*(?=#[^\s]*$)/, "")), !e.parent("li").hasClass("active")) { var n = i.find(".active:last a"), s = t.Event("hide.bs.tab", { relatedTarget: e[0] }), a = t.Event("show.bs.tab", { relatedTarget: n[0] }); if (n.trigger(s), e.trigger(a), !a.isDefaultPrevented() && !s.isDefaultPrevented()) { var r = t(o); this.activate(e.closest("li"), i), this.activate(r, r.parent(), function () { n.trigger({ type: "hidden.bs.tab", relatedTarget: e[0] }), e.trigger({ type: "shown.bs.tab", relatedTarget: n[0] }) }) } } }, i.prototype.activate = function (e, o, n) { function s() { a.removeClass("active").find("> .dropdown-menu > .active").removeClass("active").end().find('[data-toggle="tab"]').attr("aria-expanded", !1), e.addClass("active").find('[data-toggle="tab"]').attr("aria-expanded", !0), r ? (e[0].offsetWidth, e.addClass("in")) : e.removeClass("fade"), e.parent(".dropdown-menu").length && e.closest("li.dropdown").addClass("active").end().find('[data-toggle="tab"]').attr("aria-expanded", !0), n && n() } var a = o.find("> .active"), r = n && t.support.transition && (a.length && a.hasClass("fade") || !!o.find("> .fade").length); a.length && r ? a.one("bsTransitionEnd", s).emulateTransitionEnd(i.TRANSITION_DURATION) : s(), a.removeClass("in") }; var o = t.fn.tab; t.fn.tab = e, t.fn.tab.Constructor = i, t.fn.tab.noConflict = function () { return t.fn.tab = o, this }; var n = function (i) { i.preventDefault(), e.call(t(this), "show") }; t(document).on("click.bs.tab.data-api", '[data-toggle="tab"]', n).on("click.bs.tab.data-api", '[data-toggle="pill"]', n) } (jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.affix"), s = "object" == typeof e && e; n || o.data("bs.affix", n = new i(this, s)), "string" == typeof e && n[e]() }) } var i = function (e, o) { this.options = t.extend({}, i.DEFAULTS, o), this.$target = t(this.options.target).on("scroll.bs.affix.data-api", t.proxy(this.checkPosition, this)).on("click.bs.affix.data-api", t.proxy(this.checkPositionWithEventLoop, this)), this.$element = t(e), this.affixed = null, this.unpin = null, this.pinnedOffset = null, this.checkPosition() }; i.VERSION = "3.3.5", i.RESET = "affix affix-top affix-bottom", i.DEFAULTS = { offset: 0, target: window }, i.prototype.getState = function (t, e, i, o) { var n = this.$target.scrollTop(), s = this.$element.offset(), a = this.$target.height(); if (null != i && "top" == this.affixed) return i > n ? "top" : !1; if ("bottom" == this.affixed) return null != i ? n + this.unpin <= s.top ? !1 : "bottom" : t - o >= n + a ? !1 : "bottom"; var r = null == this.affixed, l = r ? n : s.top, h = r ? a : e; return null != i && i >= n ? "top" : null != o && l + h >= t - o ? "bottom" : !1 }, i.prototype.getPinnedOffset = function () { if (this.pinnedOffset) return this.pinnedOffset; this.$element.removeClass(i.RESET).addClass("affix"); var t = this.$target.scrollTop(), e = this.$element.offset(); return this.pinnedOffset = e.top - t }, i.prototype.checkPositionWithEventLoop = function () { setTimeout(t.proxy(this.checkPosition, this), 1) }, i.prototype.checkPosition = function () { if (this.$element.is(":visible")) { var e = this.$element.height(), o = this.options.offset, n = o.top, s = o.bottom, a = Math.max(t(document).height(), t(document.body).height()); "object" != typeof o && (s = n = o), "function" == typeof n && (n = o.top(this.$element)), "function" == typeof s && (s = o.bottom(this.$element)); var r = this.getState(a, e, n, s); if (this.affixed != r) { null != this.unpin && this.$element.css("top", ""); var l = "affix" + (r ? "-" + r : ""), h = t.Event(l + ".bs.affix"); if (this.$element.trigger(h), h.isDefaultPrevented()) return; this.affixed = r, this.unpin = "bottom" == r ? this.getPinnedOffset() : null, this.$element.removeClass(i.RESET).addClass(l).trigger(l.replace("affix", "affixed") + ".bs.affix") } "bottom" == r && this.$element.offset({ top: a - e - s }) } }; var o = t.fn.affix; t.fn.affix = e, t.fn.affix.Constructor = i, t.fn.affix.noConflict = function () { return t.fn.affix = o, this }, t(window).on("load", function () { t('[data-spy="affix"]').each(function () { var i = t(this), o = i.data(); o.offset = o.offset || {}, null != o.offsetBottom && (o.offset.bottom = o.offsetBottom), null != o.offsetTop && (o.offset.top = o.offsetTop), e.call(i, o) }) }) } (jQuery);
</script>

    <script>
        var $cart = document.querySelector('.cart'),
        $drop = document.querySelector('.drop');

        if ($cart != null) {
            $cart.addEventListener('mouseover', function () {
                $drop.setAttribute('style', 'display:initial');
            });

            $cart.addEventListener('mouseout', function () {
                $drop.setAttribute('style', 'display:none');
            });
        }

    </script>


    <!-- Elegant Font IE 7 or older Fallback -->
    <!--[if lte IE 7]><script src="fonts/elegant_font/lte-ie7.js"></script><![endif]-->

    <!-- Mobile Menu (mmenu) -->
    <script src="content/neue/js/mmenu/dist/core/js/jquery.mmenu.min.all.js"></script>
    @*<script type="text/javascript">
    !function (e) { function t() { e[n].glbl || (r = { $wndw: e(window), $html: e("html"), $body: e("body") }, a = {}, i = {}, o = {}, e.each([a, i, o], function (e, t) { t.add = function (e) { e = e.split(" "); for (var n = 0, s = e.length; s > n; n++) t[e[n]] = t.mm(e[n]) } }), a.mm = function (e) { return "mm-" + e }, a.add("wrapper menu panels panel nopanel current highest opened subopened navbar hasnavbar title btn prev next listview nolistview inset vertical selected divider spacer hidden fullsubopen"), a.umm = function (e) { return "mm-" == e.slice(0, 3) && (e = e.slice(3)), e }, i.mm = function (e) { return "mm-" + e }, i.add("parent sub"), o.mm = function (e) { return e + ".mm" }, o.add("transitionend webkitTransitionEnd mousedown mouseup touchstart touchmove touchend click keydown"), e[n]._c = a, e[n]._d = i, e[n]._e = o, e[n].glbl = r) } var n = "mmenu", s = "5.4.3"; if (!(e[n] && e[n].version > s)) { e[n] = function (e, t, n) { this.$menu = e, this._api = ["bind", "init", "update", "setSelected", "getInstance", "openPanel", "closePanel", "closeAllPanels"], this.opts = t, this.conf = n, this.vars = {}, this.cbck = {}, "function" == typeof this.___deprecated && this.___deprecated(), this._initMenu(), this._initAnchors(); var s = this.$pnls.children(); return this._initAddons(), this.init(s), "function" == typeof this.___debug && this.___debug(), this }, e[n].version = s, e[n].addons = {}, e[n].uniqueId = 0, e[n].defaults = { extensions: [], navbar: { add: !0, title: "Menu", titleLink: "panel" }, onClick: { setSelected: !0 }, slidingSubmenus: !0 }, e[n].configuration = { classNames: { divider: "Divider", inset: "Inset", panel: "Panel", selected: "Selected", spacer: "Spacer", vertical: "Vertical" }, clone: !1, openingInterval: 25, panelNodetype: "ul, ol, div", transitionDuration: 400 }, e[n].prototype = { init: function (e) { e = e.not("." + a.nopanel), e = this._initPanels(e), this.trigger("init", e), this.trigger("update") }, update: function () { this.trigger("update") }, setSelected: function (e) { this.$menu.find("." + a.listview).children().removeClass(a.selected), e.addClass(a.selected), this.trigger("setSelected", e) }, openPanel: function (t) { var s = t.parent(); if (s.hasClass(a.vertical)) { var i = s.parents("." + a.subopened); if (i.length) return this.openPanel(i.first()); s.addClass(a.opened) } else { if (t.hasClass(a.current)) return; var o = this.$pnls.children("." + a.panel), r = o.filter("." + a.current); o.removeClass(a.highest).removeClass(a.current).not(t).not(r).not("." + a.vertical).addClass(a.hidden), e[n].support.csstransitions || r.addClass(a.hidden), t.hasClass(a.opened) ? t.nextAll("." + a.opened).addClass(a.highest).removeClass(a.opened).removeClass(a.subopened) : (t.addClass(a.highest), r.addClass(a.subopened)), t.removeClass(a.hidden).addClass(a.current), setTimeout(function () { t.removeClass(a.subopened).addClass(a.opened) }, this.conf.openingInterval) } this.trigger("openPanel", t) }, closePanel: function (e) { var t = e.parent(); t.hasClass(a.vertical) && (t.removeClass(a.opened), this.trigger("closePanel", e)) }, closeAllPanels: function () { this.$menu.find("." + a.listview).children().removeClass(a.selected).filter("." + a.vertical).removeClass(a.opened); var e = this.$menu.children("." + a.panel), t = e.first(); this.$menu.children("." + a.panel).not(t).removeClass(a.subopened).removeClass(a.opened).removeClass(a.current).removeClass(a.highest).addClass(a.hidden), this.openPanel(t) }, togglePanel: function (e) { var t = e.parent(); t.hasClass(a.vertical) && this[t.hasClass(a.opened) ? "closePanel" : "openPanel"](e) }, getInstance: function () { return this }, bind: function (e, t) { this.cbck[e] = this.cbck[e] || [], this.cbck[e].push(t) }, trigger: function () { var e = this, t = Array.prototype.slice.call(arguments), n = t.shift(); if (this.cbck[n]) for (var s = 0, a = this.cbck[n].length; a > s; s++) this.cbck[n][s].apply(e, t) }, _initMenu: function () { this.opts.offCanvas && this.conf.clone && (this.$menu = this.$menu.clone(!0), this.$menu.add(this.$menu.find("[id]")).filter("[id]").each(function () { e(this).attr("id", a.mm(e(this).attr("id"))) })), this.$menu.contents().each(function () { 3 == e(this)[0].nodeType && e(this).remove() }), this.$pnls = e('<div class="' + a.panels + '" />').append(this.$menu.children(this.conf.panelNodetype)).prependTo(this.$menu), this.$menu.parent().addClass(a.wrapper); var t = [a.menu]; this.opts.slidingSubmenus || t.push(a.vertical), this.opts.extensions = this.opts.extensions.length ? "mm-" + this.opts.extensions.join(" mm-") : "", this.opts.extensions && t.push(this.opts.extensions), this.$menu.addClass(t.join(" ")) }, _initPanels: function (t) { var n = this, s = this.__findAddBack(t, "ul, ol"); this.__refactorClass(s, this.conf.classNames.inset, "inset").addClass(a.nolistview + " " + a.nopanel), s.not("." + a.nolistview).addClass(a.listview); var o = this.__findAddBack(t, "." + a.listview).children(); this.__refactorClass(o, this.conf.classNames.selected, "selected"), this.__refactorClass(o, this.conf.classNames.divider, "divider"), this.__refactorClass(o, this.conf.classNames.spacer, "spacer"), this.__refactorClass(this.__findAddBack(t, "." + this.conf.classNames.panel), this.conf.classNames.panel, "panel"); var r = e(), d = t.add(t.find("." + a.panel)).add(this.__findAddBack(t, "." + a.listview).children().children(this.conf.panelNodetype)).not("." + a.nopanel); this.__refactorClass(d, this.conf.classNames.vertical, "vertical"), this.opts.slidingSubmenus || d.addClass(a.vertical), d.each(function () { var t = e(this), s = t; t.is("ul, ol") ? (t.wrap('<div class="' + a.panel + '" />'), s = t.parent()) : s.addClass(a.panel); var i = t.attr("id"); t.removeAttr("id"), s.attr("id", i || n.__getUniqueId()), t.hasClass(a.vertical) && (t.removeClass(n.conf.classNames.vertical), s.add(s.parent()).addClass(a.vertical)), r = r.add(s) }); var l = e("." + a.panel, this.$menu); r.each(function () { var t = e(this), s = t.parent(), o = s.children("a, span").first(); if (s.is("." + a.menu) || (s.data(i.sub, t), t.data(i.parent, s)), !s.children("." + a.next).length && s.parent().is("." + a.listview)) { var r = t.attr("id"), d = e('<a class="' + a.next + '" href="#' + r + '" data-target="#' + r + '" />').insertBefore(o); o.is("span") && d.addClass(a.fullsubopen) } if (!t.children("." + a.navbar).length && !s.hasClass(a.vertical)) { if (s.parent().is("." + a.listview)) var s = s.closest("." + a.panel); else var o = s.closest("." + a.panel).find('a[href="#' + t.attr("id") + '"]').first(), s = o.closest("." + a.panel); var l = e('<div class="' + a.navbar + '" />'); if (s.length) { var r = s.attr("id"); switch (n.opts.navbar.titleLink) { case "anchor": _url = o.attr("href"); break; case "panel": case "parent": _url = "#" + r; break; case "none": default: _url = !1 } l.append('<a class="' + a.btn + " " + a.prev + '" href="#' + r + '" data-target="#' + r + '" />').append(e('<a class="' + a.title + '"' + (_url ? ' href="' + _url + '"' : "") + " />").text(o.text())).prependTo(t), n.opts.navbar.add && t.addClass(a.hasnavbar) } else n.opts.navbar.title && (l.append('<a class="' + a.title + '">' + n.opts.navbar.title + "</a>").prependTo(t), n.opts.navbar.add && t.addClass(a.hasnavbar)) } }); var c = this.__findAddBack(t, "." + a.listview).children("." + a.selected).removeClass(a.selected).last().addClass(a.selected); c.add(c.parentsUntil("." + a.menu, "li")).filter("." + a.vertical).addClass(a.opened).end().not("." + a.vertical).each(function () { e(this).parentsUntil("." + a.menu, "." + a.panel).not("." + a.vertical).first().addClass(a.opened).parentsUntil("." + a.menu, "." + a.panel).not("." + a.vertical).first().addClass(a.opened).addClass(a.subopened) }), c.children("." + a.panel).not("." + a.vertical).addClass(a.opened).parentsUntil("." + a.menu, "." + a.panel).not("." + a.vertical).first().addClass(a.opened).addClass(a.subopened); var h = l.filter("." + a.opened); return h.length || (h = r.first()), h.addClass(a.opened).last().addClass(a.current), r.not("." + a.vertical).not(h.last()).addClass(a.hidden).end().appendTo(this.$pnls), r }, _initAnchors: function () { var t = this; r.$body.on(o.click + "-oncanvas", "a[href]", function (s) { var i = e(this), o = !1, d = t.$menu.find(i).length; for (var l in e[n].addons) if (o = e[n].addons[l].clickAnchor.call(t, i, d)) break; if (!o && d) { var c = i.attr("href"); if (c.length > 1 && "#" == c.slice(0, 1)) try { var h = e(c, t.$menu); h.is("." + a.panel) && (o = !0, t[i.parent().hasClass(a.vertical) ? "togglePanel" : "openPanel"](h)) } catch (p) { } } if (o && s.preventDefault(), !o && d && i.is("." + a.listview + " > li > a") && !i.is('[rel="external"]') && !i.is('[target="_blank"]')) { t.__valueOrFn(t.opts.onClick.setSelected, i) && t.setSelected(e(s.target).parent()); var f = t.__valueOrFn(t.opts.onClick.preventDefault, i, "#" == c.slice(0, 1)); f && s.preventDefault(), t.__valueOrFn(t.opts.onClick.blockUI, i, !f) && r.$html.addClass(a.blocking), t.__valueOrFn(t.opts.onClick.close, i, f) && t.close() } }) }, _initAddons: function () { for (var t in e[n].addons) e[n].addons[t].add.call(this), e[n].addons[t].add = function () { }; for (var t in e[n].addons) e[n].addons[t].setup.call(this) }, __api: function () { var t = this, n = {}; return e.each(this._api, function () { var e = this; n[e] = function () { var s = t[e].apply(t, arguments); return "undefined" == typeof s ? n : s } }), n }, __valueOrFn: function (e, t, n) { return "function" == typeof e ? e.call(t[0]) : "undefined" == typeof e && "undefined" != typeof n ? n : e }, __refactorClass: function (e, t, n) { return e.filter("." + t).removeClass(t).addClass(a[n]) }, __findAddBack: function (e, t) { return e.find(t).add(e.filter(t)) }, __filterListItems: function (e) { return e.not("." + a.divider).not("." + a.hidden) }, __transitionend: function (e, t, n) { var s = !1, a = function () { s || t.call(e[0]), s = !0 }; e.one(o.transitionend, a), e.one(o.webkitTransitionEnd, a), setTimeout(a, 1.1 * n) }, __getUniqueId: function () { return a.mm(e[n].uniqueId++) } }, e.fn[n] = function (s, a) { return t(), s = e.extend(!0, {}, e[n].defaults, s), a = e.extend(!0, {}, e[n].configuration, a), this.each(function () { var t = e(this); if (!t.data(n)) { var i = new e[n](t, s, a); t.data(n, i.__api()) } }) }, e[n].support = { touch: "ontouchstart" in window || navigator.msMaxTouchPoints, csstransitions: function () { if ("undefined" != typeof Modernizr) return Modernizr.csstransitions; var e = document.body || document.documentElement, t = e.style, n = "transition"; if ("string" == typeof t[n]) return !0; var s = ["Moz", "webkit", "Webkit", "Khtml", "O", "ms"]; n = n.charAt(0).toUpperCase() + n.substr(1); for (var a = 0; a < s.length; a++) if ("string" == typeof t[s[a] + n]) return !0; return !1 } () }; var a, i, o, r } } (jQuery), !function (e) { var t = "mmenu", n = "offCanvas"; e[t].addons[n] = { setup: function () { if (this.opts[n]) { var a = this.opts[n], i = this.conf[n]; o = e[t].glbl, this._api = e.merge(this._api, ["open", "close", "setPage"]), ("top" == a.position || "bottom" == a.position) && (a.zposition = "front"), "string" != typeof i.pageSelector && (i.pageSelector = "> " + i.pageNodetype), o.$allMenus = (o.$allMenus || e()).add(this.$menu), this.vars.opened = !1; var r = [s.offcanvas]; "left" != a.position && r.push(s.mm(a.position)), "back" != a.zposition && r.push(s.mm(a.zposition)), this.$menu.addClass(r.join(" ")).parent().removeClass(s.wrapper), this.setPage(o.$page), this._initBlocker(), this["_initWindow_" + n](), this.$menu[i.menuInjectMethod + "To"](i.menuWrapperSelector) } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("offcanvas slideout modal background opening blocker page"), a.add("style"), i.add("resize") }, clickAnchor: function (e) { if (!this.opts[n]) return !1; var t = this.$menu.attr("id"); if (t && t.length && (this.conf.clone && (t = s.umm(t)), e.is('[href="#' + t + '"]'))) return this.open(), !0; if (o.$page) { var t = o.$page.first().attr("id"); return t && t.length && e.is('[href="#' + t + '"]') ? (this.close(), !0) : !1 } } }, e[t].defaults[n] = { position: "left", zposition: "back", modal: !1, moveBackground: !0 }, e[t].configuration[n] = { pageNodetype: "div", pageSelector: null, noPageSelector: [], wrapPageIfNeeded: !0, menuWrapperSelector: "body", menuInjectMethod: "prepend" }, e[t].prototype.open = function () { if (!this.vars.opened) { var e = this; this._openSetup(), setTimeout(function () { e._openFinish() }, this.conf.openingInterval), this.trigger("open") } }, e[t].prototype._openSetup = function () { var t = this; this.closeAllOthers(), o.$page.each(function () { e(this).data(a.style, e(this).attr("style") || "") }), o.$wndw.trigger(i.resize + "-offcanvas", [!0]); var r = [s.opened]; this.opts[n].modal && r.push(s.modal), this.opts[n].moveBackground && r.push(s.background), "left" != this.opts[n].position && r.push(s.mm(this.opts[n].position)), "back" != this.opts[n].zposition && r.push(s.mm(this.opts[n].zposition)), this.opts.extensions && r.push(this.opts.extensions), o.$html.addClass(r.join(" ")), setTimeout(function () { t.vars.opened = !0 }, this.conf.openingInterval), this.$menu.addClass(s.current + " " + s.opened) }, e[t].prototype._openFinish = function () { var e = this; this.__transitionend(o.$page.first(), function () { e.trigger("opened") }, this.conf.transitionDuration), o.$html.addClass(s.opening), this.trigger("opening") }, e[t].prototype.close = function () { if (this.vars.opened) { var t = this; this.__transitionend(o.$page.first(), function () { t.$menu.removeClass(s.current).removeClass(s.opened), o.$html.removeClass(s.opened).removeClass(s.modal).removeClass(s.background).removeClass(s.mm(t.opts[n].position)).removeClass(s.mm(t.opts[n].zposition)), t.opts.extensions && o.$html.removeClass(t.opts.extensions), o.$page.each(function () { e(this).attr("style", e(this).data(a.style)) }), t.vars.opened = !1, t.trigger("closed") }, this.conf.transitionDuration), o.$html.removeClass(s.opening), this.trigger("close"), this.trigger("closing") } }, e[t].prototype.closeAllOthers = function () { o.$allMenus.not(this.$menu).each(function () { var n = e(this).data(t); n && n.close && n.close() }) }, e[t].prototype.setPage = function (t) { var a = this, i = this.conf[n]; t && t.length || (t = o.$body.find(i.pageSelector), i.noPageSelector.length && (t = t.not(i.noPageSelector.join(", "))), t.length > 1 && i.wrapPageIfNeeded && (t = t.wrapAll("<" + this.conf[n].pageNodetype + " />").parent())), t.each(function () { e(this).attr("id", e(this).attr("id") || a.__getUniqueId()) }), t.addClass(s.page + " " + s.slideout), o.$page = t, this.trigger("setPage", t) }, e[t].prototype["_initWindow_" + n] = function () { o.$wndw.off(i.keydown + "-offcanvas").on(i.keydown + "-offcanvas", function (e) { return o.$html.hasClass(s.opened) && 9 == e.keyCode ? (e.preventDefault(), !1) : void 0 }); var e = 0; o.$wndw.off(i.resize + "-offcanvas").on(i.resize + "-offcanvas", function (t, n) { if (1 == o.$page.length && (n || o.$html.hasClass(s.opened))) { var a = o.$wndw.height(); (n || a != e) && (e = a, o.$page.css("minHeight", a)) } }) }, e[t].prototype._initBlocker = function () { var t = this; o.$blck || (o.$blck = e('<div id="' + s.blocker + '" class="' + s.slideout + '" />')), o.$blck.appendTo(o.$body).off(i.touchstart + "-offcanvas " + i.touchmove + "-offcanvas").on(i.touchstart + "-offcanvas " + i.touchmove + "-offcanvas", function (e) { e.preventDefault(), e.stopPropagation(), o.$blck.trigger(i.mousedown + "-offcanvas") }).off(i.mousedown + "-offcanvas").on(i.mousedown + "-offcanvas", function (e) { e.preventDefault(), o.$html.hasClass(s.modal) || (t.closeAllOthers(), t.close()) }) }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "autoHeight"; e[t].addons[n] = { setup: function () { if (this.opts.offCanvas) { switch (this.opts.offCanvas.position) { case "left": case "right": return } var a = this, r = this.opts[n]; if (this.conf[n], o = e[t].glbl, "boolean" == typeof r && r && (r = { height: "auto" }), "object" != typeof r && (r = {}), r = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], r), "auto" == r.height) { this.$menu.addClass(s.autoheight); var d = function (e) { var t = parseInt(this.$pnls.css("top"), 10) || 0; _bot = parseInt(this.$pnls.css("bottom"), 10) || 0, this.$menu.addClass(s.measureheight), e = e || this.$pnls.children("." + s.current), e.is("." + s.vertical) && (e = e.parents("." + s.panel).not("." + s.vertical).first()), this.$menu.height(e.outerHeight() + t + _bot).removeClass(s.measureheight) }; this.bind("update", d), this.bind("openPanel", d), this.bind("closePanel", d), this.bind("open", d), o.$wndw.off(i.resize + "-autoheight").on(i.resize + "-autoheight", function () { d.call(a) }) } } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("autoheight measureheight"), i.add("resize") }, clickAnchor: function () { } }, e[t].defaults[n] = { height: "default" }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "backButton"; e[t].addons[n] = { setup: function () { if (this.opts.offCanvas) { var a = this, i = this.opts[n]; if (this.conf[n], o = e[t].glbl, "boolean" == typeof i && (i = { close: i }), "object" != typeof i && (i = {}), i = e.extend(!0, {}, e[t].defaults[n], i), i.close) { var r = "#" + a.$menu.attr("id"); this.bind("opened", function () { location.hash != r && history.pushState(null, document.title, r) }), e(window).on("popstate", function (e) { o.$html.hasClass(s.opened) ? (e.stopPropagation(), a.close()) : location.hash == r && (e.stopPropagation(), a.open()) }) } } }, add: function () { return window.history && window.history.pushState ? (s = e[t]._c, a = e[t]._d, void (i = e[t]._e)) : void (e[t].addons[n].setup = function () { }) }, clickAnchor: function () { } }, e[t].defaults[n] = { close: !1 }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "counters"; e[t].addons[n] = { setup: function () { var i = this, r = this.opts[n]; this.conf[n], o = e[t].glbl, "boolean" == typeof r && (r = { add: r, update: r }), "object" != typeof r && (r = {}), r = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], r), this.bind("init", function (t) { this.__refactorClass(e("em", t), this.conf.classNames[n].counter, "counter") }), r.add && this.bind("init", function (t) { t.each(function () { var t = e(this).data(a.parent); t && (t.children("em." + s.counter).length || t.prepend(e('<em class="' + s.counter + '" />'))) }) }), r.update && this.bind("update", function () { this.$pnls.find("." + s.panel).each(function () { var t = e(this), n = t.data(a.parent); if (n) { var o = n.children("em." + s.counter); o.length && (t = t.children("." + s.listview), t.length && o.html(i.__filterListItems(t.children()).length)) } }) }) }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("counter search noresultsmsg") }, clickAnchor: function () { } }, e[t].defaults[n] = { add: !1, update: !1 }, e[t].configuration.classNames[n] = { counter: "Counter" }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "dividers"; e[t].addons[n] = { setup: function () { var a = this, r = this.opts[n]; if (this.conf[n], o = e[t].glbl, "boolean" == typeof r && (r = { add: r, fixed: r }), "object" != typeof r && (r = {}), r = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], r), this.bind("init", function () { this.__refactorClass(e("li", this.$menu), this.conf.classNames[n].collapsed, "collapsed") }), r.add && this.bind("init", function (t) { switch (r.addTo) { case "panels": var n = t; break; default: var n = e(r.addTo, this.$pnls).filter("." + s.panel) } e("." + s.divider, n).remove(), n.find("." + s.listview).not("." + s.vertical).each(function () { var t = ""; a.__filterListItems(e(this).children()).each(function () { var n = e.trim(e(this).children("a, span").text()).slice(0, 1).toLowerCase(); n != t && n.length && (t = n, e('<li class="' + s.divider + '">' + n + "</li>").insertBefore(this)) }) }) }), r.collapse && this.bind("init", function (t) { e("." + s.divider, t).each(function () { var t = e(this), n = t.nextUntil("." + s.divider, "." + s.collapsed); n.length && (t.children("." + s.subopen).length || (t.wrapInner("<span />"), t.prepend('<a href="#" class="' + s.subopen + " " + s.fullsubopen + '" />'))) }) }), r.fixed) { var d = function (t) { t = t || this.$pnls.children("." + s.current); var n = t.find("." + s.divider).not("." + s.hidden); if (n.length) { this.$menu.addClass(s.hasdividers); var a = t.scrollTop() || 0, i = ""; t.is(":visible") && t.find("." + s.divider).not("." + s.hidden).each(function () { e(this).position().top + a < a + 1 && (i = e(this).text()) }), this.$fixeddivider.text(i) } else this.$menu.removeClass(s.hasdividers) }; this.$fixeddivider = e('<ul class="' + s.listview + " " + s.fixeddivider + '"><li class="' + s.divider + '"></li></ul>').prependTo(this.$pnls).children(), this.bind("openPanel", d), this.bind("init", function (t) { t.off(i.scroll + "-dividers " + i.touchmove + "-dividers").on(i.scroll + "-dividers " + i.touchmove + "-dividers", function () { d.call(a, e(this)) }) }) } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("collapsed uncollapsed fixeddivider hasdividers"), i.add("scroll") }, clickAnchor: function (e, t) { if (this.opts[n].collapse && t) { var a = e.parent(); if (a.is("." + s.divider)) { var i = a.nextUntil("." + s.divider, "." + s.collapsed); return a.toggleClass(s.opened), i[a.hasClass(s.opened) ? "addClass" : "removeClass"](s.uncollapsed), !0 } } return !1 } }, e[t].defaults[n] = { add: !1, addTo: "panels", fixed: !1, collapse: !1 }, e[t].configuration.classNames[n] = { collapsed: "Collapsed" }; var s, a, i, o } (jQuery), !function (e) { function t(e, t, n) { return t > e && (e = t), e > n && (e = n), e } var n = "mmenu", s = "dragOpen"; e[n].addons[s] = { setup: function () { if (this.opts.offCanvas) { var i = this, o = this.opts[s], d = this.conf[s]; if (r = e[n].glbl, "boolean" == typeof o && (o = { open: o }), "object" != typeof o && (o = {}), o = this.opts[s] = e.extend(!0, {}, e[n].defaults[s], o), o.open) { var l, c, h, p, f, u = {}, v = 0, m = !1, g = !1, b = 0, _ = 0; switch (this.opts.offCanvas.position) { case "left": case "right": u.events = "panleft panright", u.typeLower = "x", u.typeUpper = "X", g = "width"; break; case "top": case "bottom": u.events = "panup pandown", u.typeLower = "y", u.typeUpper = "Y", g = "height" } switch (this.opts.offCanvas.position) { case "right": case "bottom": u.negative = !0, p = function (e) { e >= r.$wndw[g]() - o.maxStartPos && (v = 1) }; break; default: u.negative = !1, p = function (e) { e <= o.maxStartPos && (v = 1) } } switch (this.opts.offCanvas.position) { case "left": u.open_dir = "right", u.close_dir = "left"; break; case "right": u.open_dir = "left", u.close_dir = "right"; break; case "top": u.open_dir = "down", u.close_dir = "up"; break; case "bottom": u.open_dir = "up", u.close_dir = "down" } switch (this.opts.offCanvas.zposition) { case "front": f = function () { return this.$menu }; break; default: f = function () { return e("." + a.slideout) } } var C = this.__valueOrFn(o.pageNode, this.$menu, r.$page); "string" == typeof C && (C = e(C)); var $ = new Hammer(C[0], o.vendors.hammer); $.on("panstart", function (e) { p(e.center[u.typeLower]), r.$slideOutNodes = f(), m = u.open_dir }).on(u.events + " panend", function (e) { v > 0 && e.preventDefault() }).on(u.events, function (e) { if (l = e["delta" + u.typeUpper], u.negative && (l = -l), l != b && (m = l >= b ? u.open_dir : u.close_dir), b = l, b > o.threshold && 1 == v) { if (r.$html.hasClass(a.opened)) return; v = 2, i._openSetup(), i.trigger("opening"), r.$html.addClass(a.dragging), _ = t(r.$wndw[g]() * d[g].perc, d[g].min, d[g].max) } 2 == v && (c = t(b, 10, _) - ("front" == i.opts.offCanvas.zposition ? _ : 0), u.negative && (c = -c), h = "translate" + u.typeUpper + "(" + c + "px )", r.$slideOutNodes.css({ "-webkit-transform": "-webkit-" + h, transform: h })) }).on("panend", function () { 2 == v && (r.$html.removeClass(a.dragging), r.$slideOutNodes.css("transform", ""), i[m == u.open_dir ? "_openFinish" : "close"]()), v = 0 }) } } }, add: function () { return "function" != typeof Hammer || Hammer.VERSION < 2 ? void (e[n].addons[s].setup = function () { }) : (a = e[n]._c, i = e[n]._d, o = e[n]._e, void a.add("dragging")) }, clickAnchor: function () { } }, e[n].defaults[s] = { open: !1, maxStartPos: 100, threshold: 50, vendors: { hammer: {}} }, e[n].configuration[s] = { width: { perc: .8, min: 140, max: 440 }, height: { perc: .8, min: 140, max: 880} }; var a, i, o, r } (jQuery), !function (e) { var t = "mmenu", n = "fixedElements"; e[t].addons[n] = { setup: function () { if (this.opts.offCanvas) { var s = this.opts[n]; this.conf[n], o = e[t].glbl, s = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], s); var a = function (e) { var t = this.conf.classNames[n].fixed; this.__refactorClass(e.find("." + t), t, "slideout").appendTo(o.$body) }; a.call(this, o.$page), this.bind("setPage", a) } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("fixed") }, clickAnchor: function () { } }, e[t].configuration.classNames[n] = { fixed: "Fixed" }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "iconPanels"; e[t].addons[n] = { setup: function () { var a = this, i = this.opts[n]; if (this.conf[n], o = e[t].glbl, "boolean" == typeof i && (i = { add: i }), "number" == typeof i && (i = { add: !0, visible: i }), "object" != typeof i && (i = {}), i = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], i), i.visible++, i.add) { this.$menu.addClass(s.iconpanel); for (var r = [], d = 0; d <= i.visible; d++) r.push(s.iconpanel + "-" + d); r = r.join(" "); var l = function (t) { var n = a.$pnls.children("." + s.panel).removeClass(r), o = n.filter("." + s.subopened); o.removeClass(s.hidden).add(t).slice(-i.visible).each(function (t) { e(this).addClass(s.iconpanel + "-" + t) }) }; this.bind("openPanel", l), this.bind("init", function (t) { l.call(a, a.$pnls.children("." + s.current)), i.hideNavbars && t.removeClass(s.hasnavbar), t.each(function () { e(this).children("." + s.subblocker).length || e(this).prepend('<a href="#' + e(this).closest("." + s.panel).attr("id") + '" class="' + s.subblocker + '" />') }) }) } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("iconpanel subblocker") }, clickAnchor: function () { } }, e[t].defaults[n] = { add: !1, visible: 3, hideNavbars: !1 }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "navbars"; e[t].addons[n] = { setup: function () { var a = this, i = this.opts[n], r = this.conf[n]; if (o = e[t].glbl, "undefined" != typeof i) { i instanceof Array || (i = [i]); var d = {}; e.each(i, function (o) { var l = i[o]; "boolean" == typeof l && l && (l = {}), "object" != typeof l && (l = {}), "undefined" == typeof l.content && (l.content = ["prev", "title"]), l.content instanceof Array || (l.content = [l.content]), l = e.extend(!0, {}, a.opts.navbar, l); var c = l.position, h = l.height; "number" != typeof h && (h = 1), h = Math.min(4, Math.max(1, h)), "bottom" != c && (c = "top"), d[c] || (d[c] = 0), d[c]++; var p = e("<div />").addClass(s.navbar + " " + s.navbar + "-" + c + " " + s.navbar + "-" + c + "-" + d[c] + " " + s.navbar + "-size-" + h); d[c] += h - 1; for (var f = 0, u = l.content.length; u > f; f++) { var v = e[t].addons[n][l.content[f]] || !1; v ? v.call(a, p, l, r) : (v = l.content[f], v instanceof e || (v = e(l.content[f])), v.each(function () { p.append(e(this)) })) } var m = Math.ceil(p.children().not("." + s.btn).length / h); m > 1 && p.addClass(s.navbar + "-content-" + m), p.children("." + s.btn).length && p.addClass(s.hasbtns), p.prependTo(a.$menu) }); for (var l in d) a.$menu.addClass(s.hasnavbar + "-" + l + "-" + d[l]) } }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("close hasbtns") }, clickAnchor: function () { } }, e[t].configuration[n] = { breadcrumbSeparator: "/" }, e[t].configuration.classNames[n] = { panelTitle: "Title", panelNext: "Next", panelPrev: "Prev" }; var s, a, i, o } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "breadcrumbs"; e[t].addons[n][s] = function (n, s, a) { var i = e[t]._c, o = e[t]._d; i.add("breadcrumbs separator"), n.append('<span class="' + i.breadcrumbs + '"></span>'), this.bind("init", function (t) { t.removeClass(i.hasnavbar).each(function () { for (var t = [], n = e(this), s = e('<span class="' + i.breadcrumbs + '"></span>'), r = e(this).children().first(), d = !0; r && r.length; ) { r.is("." + i.panel) || (r = r.closest("." + i.panel)); var l = r.children("." + i.navbar).children("." + i.title).text(); t.unshift(d ? "<span>" + l + "</span>" : '<a href="#' + r.attr("id") + '">' + l + "</a>"), d = !1, r = r.data(o.parent) } s.append(t.join('<span class="' + i.separator + '">' + a.breadcrumbSeparator + "</span>")).appendTo(n.children("." + i.navbar)) }) }); var r = function () { var e = this.$pnls.children("." + i.current), t = n.find("." + i.breadcrumbs), s = e.children("." + i.navbar).children("." + i.breadcrumbs); t.html(s.html()) }; this.bind("openPanel", r), this.bind("init", r) } } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "close"; e[t].addons[n][s] = function (n) { var s = e[t]._c, a = e[t].glbl; n.append('<a class="' + s.close + " " + s.btn + '" href="#"></a>'); var i = function (e) { n.find("." + s.close).attr("href", "#" + e.attr("id")) }; i.call(this, a.$page), this.bind("setPage", i) } } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "next"; e[t].addons[n][s] = function (s) { var a = e[t]._c; s.append('<a class="' + a.next + " " + a.btn + '" href="#"></a>'); var i = function (e) { e = e || this.$pnls.children("." + a.current); var t = s.find("." + a.next), i = e.find("." + this.conf.classNames[n].panelNext), o = i.attr("href"), r = i.html(); t[o ? "attr" : "removeAttr"]("href", o), t[o || r ? "removeClass" : "addClass"](a.hidden), t.html(r) }; this.bind("openPanel", i), this.bind("init", function () { i.call(this) }) } } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "prev"; e[t].addons[n][s] = function (s) { var a = e[t]._c; s.append('<a class="' + a.prev + " " + a.btn + '" href="#"></a>'), this.bind("init", function (e) { e.removeClass(a.hasnavbar) }); var i = function () { var e = this.$pnls.children("." + a.current), t = s.find("." + a.prev), i = e.find("." + this.conf.classNames[n].panelPrev); i.length || (i = e.children("." + a.navbar).children("." + a.prev)); var o = i.attr("href"), r = i.html(); t[o ? "attr" : "removeAttr"]("href", o), t[o || r ? "removeClass" : "addClass"](a.hidden), t.html(r) }; this.bind("openPanel", i), this.bind("init", i) } } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "searchfield"; e[t].addons[n][s] = function (n) { var s = e[t]._c, a = e('<div class="' + s.search + '" />').appendTo(n); "object" != typeof this.opts.searchfield && (this.opts.searchfield = {}), this.opts.searchfield.add = !0, this.opts.searchfield.addTo = a } } (jQuery), function (e) { var t = "mmenu", n = "navbars", s = "title"; e[t].addons[n][s] = function (s, a) { var i = e[t]._c; s.append('<a class="' + i.title + '"></a>'); var o = function (e) { e = e || this.$pnls.children("." + i.current); var t = s.find("." + i.title), o = e.find("." + this.conf.classNames[n].panelTitle); o.length || (o = e.children("." + i.navbar).children("." + i.title)); var r = o.attr("href"), d = o.html() || a.title; t[r ? "attr" : "removeAttr"]("href", r), t[r || d ? "removeClass" : "addClass"](i.hidden), t.html(d) }; this.bind("openPanel", o), this.bind("init", function () { o.call(this) }) } } (jQuery), !function (e) { function t(e) { switch (e) { case 9: case 16: case 17: case 18: case 37: case 38: case 39: case 40: return !0 } return !1 } var n = "mmenu", s = "searchfield"; e[n].addons[s] = { setup: function () { var d = this, l = this.opts[s], c = this.conf[s]; r = e[n].glbl, "boolean" == typeof l && (l = { add: l }), "object" != typeof l && (l = {}), l = this.opts[s] = e.extend(!0, {}, e[n].defaults[s], l), this.bind("close", function () { this.$menu.find("." + a.search).find("input").blur() }), this.bind("init", function (n) { if (l.add) { switch (l.addTo) { case "panels": var s = n; break; default: var s = e(l.addTo, this.$menu) } s.each(function () { var t = e(this); if (!t.is("." + a.panel) || !t.is("." + a.vertical)) { if (!t.children("." + a.search).length) { var n = c.form ? "form" : "div", s = e("<" + n + ' class="' + a.search + '" />'); if (c.form && "object" == typeof c.form) for (var i in c.form) s.attr(i, c.form[i]); s.append('<input placeholder="' + l.placeholder + '" type="text" autocomplete="off" />'), t.hasClass(a.search) ? t.replaceWith(s) : t.prepend(s).addClass(a.hassearch) } if (l.noResults) { var o = t.closest("." + a.panel).length; if (o || (t = d.$pnls.children("." + a.panel).first()), !t.children("." + a.noresultsmsg).length) { var r = t.children("." + a.listview).first(); e('<div class="' + a.noresultsmsg + '" />').append(l.noResults)[r.length ? "insertAfter" : "prependTo"](r.length ? r : t) } } } }), l.search && e("." + a.search, this.$menu).each(function () { var n = e(this), s = n.closest("." + a.panel).length; if (s) var r = n.closest("." + a.panel), c = r; else var r = e("." + a.panel, d.$menu), c = d.$menu; var h = n.children("input"), p = d.__findAddBack(r, "." + a.listview).children("li"), f = p.filter("." + a.divider), u = d.__filterListItems(p), v = "> a", m = v + ", > span", g = function () { var t = h.val().toLowerCase(); r.scrollTop(0), u.add(f).addClass(a.hidden).find("." + a.fullsubopensearch).removeClass(a.fullsubopen).removeClass(a.fullsubopensearch), u.each(function () { var n = e(this), s = v; (l.showTextItems || l.showSubPanels && n.find("." + a.next)) && (s = m), e(s, n).text().toLowerCase().indexOf(t) > -1 && n.add(n.prevAll("." + a.divider).first()).removeClass(a.hidden) }), l.showSubPanels && r.each(function () { var t = e(this); d.__filterListItems(t.find("." + a.listview).children()).each(function () { var t = e(this), n = t.data(i.sub); t.removeClass(a.nosubresults), n && n.find("." + a.listview).children().removeClass(a.hidden) }) }), e(r.get().reverse()).each(function (t) { var n = e(this), o = n.data(i.parent); o && (d.__filterListItems(n.find("." + a.listview).children()).length ? (o.hasClass(a.hidden) && o.children("." + a.next).not("." + a.fullsubopen).addClass(a.fullsubopen).addClass(a.fullsubopensearch), o.removeClass(a.hidden).removeClass(a.nosubresults).prevAll("." + a.divider).first().removeClass(a.hidden)) : s || (n.hasClass(a.opened) && setTimeout(function () { d.openPanel(o.closest("." + a.panel)) }, 1.5 * (t + 1) * d.conf.openingInterval), o.addClass(a.nosubresults))) }), c[u.not("." + a.hidden).length ? "removeClass" : "addClass"](a.noresults), this.update() }; h.off(o.keyup + "-searchfield " + o.change + "-searchfield").on(o.keyup + "-searchfield", function (e) { t(e.keyCode) || g.call(d) }).on(o.change + "-searchfield", function () { g.call(d) }) }) } }) }, add: function () { a = e[n]._c, i = e[n]._d, o = e[n]._e, a.add("search hassearch noresultsmsg noresults nosubresults fullsubopensearch"), o.add("change keyup") }, clickAnchor: function () { } }, e[n].defaults[s] = { add: !1, addTo: "panels", search: !0, placeholder: "Search", noResults: "No results found.", showTextItems: !1, showSubPanels: !0 }, e[n].configuration[s] = { form: !1 }; var a, i, o, r } (jQuery), !function (e) { var t = "mmenu", n = "sectionIndexer"; e[t].addons[n] = { setup: function () { var a = this, r = this.opts[n]; this.conf[n], o = e[t].glbl, "boolean" == typeof r && (r = { add: r }), "object" != typeof r && (r = {}), r = this.opts[n] = e.extend(!0, {}, e[t].defaults[n], r), this.bind("init", function (t) { if (r.add) { switch (r.addTo) { case "panels": var n = t; break; default: var n = e(r.addTo, this.$menu).filter("." + s.panel) } n.find("." + s.divider).closest("." + s.panel).addClass(s.hasindexer) } if (!this.$indexer && this.$pnls.children("." + s.hasindexer).length) { this.$indexer = e('<div class="' + s.indexer + '" />').prependTo(this.$pnls).append('<a href="#a">a</a><a href="#b">b</a><a href="#c">c</a><a href="#d">d</a><a href="#e">e</a><a href="#f">f</a><a href="#g">g</a><a href="#h">h</a><a href="#i">i</a><a href="#j">j</a><a href="#k">k</a><a href="#l">l</a><a href="#m">m</a><a href="#n">n</a><a href="#o">o</a><a href="#p">p</a><a href="#q">q</a><a href="#r">r</a><a href="#s">s</a><a href="#t">t</a><a href="#u">u</a><a href="#v">v</a><a href="#w">w</a><a href="#x">x</a><a href="#y">y</a><a href="#z">z</a>'), this.$indexer.children().on(i.mouseover + "-sectionindexer " + s.touchstart + "-sectionindexer", function () { var t = e(this).attr("href").slice(1), n = a.$pnls.children("." + s.current), i = n.find("." + s.listview), o = !1, r = n.scrollTop(), d = i.position().top + parseInt(i.css("margin-top"), 10) + parseInt(i.css("padding-top"), 10) + r; n.scrollTop(0), i.children("." + s.divider).not("." + s.hidden).each(function () { o === !1 && t == e(this).text().slice(0, 1).toLowerCase() && (o = e(this).position().top + d) }), n.scrollTop(o !== !1 ? o : r) }); var o = function (e) { a.$menu[(e.hasClass(s.hasindexer) ? "add" : "remove") + "Class"](s.hasindexer) }; this.bind("openPanel", o), o.call(this, this.$pnls.children("." + s.current)) } }) }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("indexer hasindexer"), i.add("mouseover touchstart") }, clickAnchor: function (e) { return e.parent().is("." + s.indexer) ? !0 : void 0 } }, e[t].defaults[n] = { add: !1, addTo: "panels" }; var s, a, i, o } (jQuery), !function (e) { var t = "mmenu", n = "toggles"; e[t].addons[n] = { setup: function () { var a = this; this.opts[n], this.conf[n], o = e[t].glbl, this.bind("init", function (t) { this.__refactorClass(e("input", t), this.conf.classNames[n].toggle, "toggle"), this.__refactorClass(e("input", t), this.conf.classNames[n].check, "check"), e("input." + s.toggle + ", input." + s.check, t).each(function () { var t = e(this), n = t.closest("li"), i = t.hasClass(s.toggle) ? "toggle" : "check", o = t.attr("id") || a.__getUniqueId(); n.children('label[for="' + o + '"]').length || (t.attr("id", o), n.prepend(t), e('<label for="' + o + '" class="' + s[i] + '"></label>').insertBefore(n.children("a, span").last())) }) }) }, add: function () { s = e[t]._c, a = e[t]._d, i = e[t]._e, s.add("toggle check") }, clickAnchor: function () { } }, e[t].configuration.classNames[n] = { toggle: "Toggle", check: "Check" }; var s, a, i, o } (jQuery);
    </script>*@

<script type="text/javascript">
    $(window).load(function () {
        $('.yv-testimonial').show();
        if ($('.testemunhos-slide').length) {
            
        }
    });
</script>

}

@section Rodape{
    <div class="lining hidden-xs">
        <div class="col-md-12">
            <h3>Veja os locais de entrega mais buscados</h3>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <h4><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo / SP</a></h4>
            <ul>
                <li><a href="/coroas-de-flores/cemiterio-do-araca-sao-paulo-sp">Cemitério do Araçá</a></li>
                <li><a href="/coroas-de-flores/cemiterio-de-congonhas-sao-paulo-sp">Cemitério de Congonhas</a></li>
                <li><a href="/coroas-de-flores/crematorio-vila-alpina-sao-paulo-sp">Crematório Vila Alpina</a></li>
                <li><a href="/coroas-de-flores/cemiterio-vila-formosa-i-sao-paulo-sp">Cemitério Vila Formosa</a></li>
                <li><a href="/coroas-de-flores/cemiterio-vila-mariana-sao-paulo-sp">Cemitério da Vila Mariana</a></li>
</ul>
            <a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">Ver todos locais em São Paulo</a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <h4><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro / RJ</a></h4>
            <ul>
                <li><a href="/coroas-de-flores/cemiterio-do-caju-campo-dos-goytacazes-rj">Cemitério do Caju</a></li>
                <li><a href="/coroas-de-flores/cemiterio-vertical-memorial-do-carmo-rio-de-janeiro-rj">Cemitério Memorial Vertical do Carmo</a></li>
                <li><a href="/coroas-de-flores/cemiterio-de-jacarepagua-rio-de-janeiro-rj">Cemitério de Jacarepagua</a></li>
                <li><a href="/coroas-de-flores/cemiterio-sao-joao-batista-rio-de-janeiro-rj">Cemitério São João Batista</a></li>
                <li><a href="/coroas-de-flores/cemiterio-jardim-da-saudade-sulacap">Cemitério Jardim Saudade Sulacap</a></li>
            </ul>
            <a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Ver todos locais no Rio de Janeiro</a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <h4><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte / MG</a></h4>
            <ul>
                <li><a href="/cemiterio-da-paz-belo-horizonte-mg">Cemitério da Paz</a></li>
                <li><a href="/coroas-de-flores/cemiterio-da-consolacao-belo-horizonte-mg">Cemitério da Consolação</a></li>
                <li><a href="/coroas-de-flores/cemiterio-do-bonfim-belo-horizonte-mg">Cemitério do Bonfim</a></li>
                <li><a href="/coroas-de-flores/cemiterio-necrpole-parque-da-colina-belo-horizonte-mg">Cemitério Necrópole Parque da Colina</a></li>
                <li><a href="/coroas-de-flores/cemiterio-parque-bosque-da-esperanca-belo-horizonte-mg">Cemitério Parque Bosque da Esperança</a></li>
            </ul>
            <a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Ver todos locais em Belo Horizonte</a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <h4><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília / DF</a></h4>
            <ul>
                <li><a href="/coroas-de-flores/cemiterio-campo-da-esperanca-brasilia-df">Cemitério Campo da Esperança</a></li>
            </ul>
            <a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Ver todos locais em Brasília</a>

            <h4><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre / RS</a></h4>
            <ul>
                <li><a href="/coroas-de-flores/cemterio-arcanjo-sao-miguel-e-almas-porto-alegre-rs">Cemitério Arcanjo São Miguel e Almas</a></li>
                <li><a href="/coroas-de-flores/cemiterio-parque-jardim-da-paz-porto-alegre-rs">Cemitério Parque Jardim da Paz</a></li>
                <li><a href="/coroas-de-flores/cemiterio-ecumenico-joao-xxiii-porto-alegre-rs">Cemitério Ecumenico João XXIII</a></li>
                <li><a href="/coroas-de-flores/cemiterio-batista-porto-alegre-rs">Cemitério Batista</a></li>
            </ul>
            <a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Ver todos locais em Porto Alegre</a>
        </div>   
    </div>
}

@Html.Partial("ProdutosNeue", Model)

<section class="sub depoimentos about">
    <!-- Container -->
    <div class="container">
        <div class="lining">
            <div class="col-md-6">
                <h3>Depoimentos de Clientes</h3>
                <div class="yv-testimonial" data-qty="9"></div>
                <div class="selo-your">
                    <a href="https://www.lojaconfiavel.com/coroasparavelorio" class="ts-footerstamp" data-lcname="coroasparavelorio" target="_blank">
                        <img src="//service.yourviews.com.br/Image/62d7e95f-dba9-4a4c-b046-04408c991aa9/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" style="width: 88px; height: 91px;" />
                    </a>
                    <p>
                        <small>
                            Nossos depoimentos são colhidos e auditados pela Yourviews e não podem ser manipulados pela nossa Equipe.
                            Não produzimos depoimentos falsos, nem alteramos o conteúdo que o cliente reportou.
                        </small>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Sobre a Coroas para Velório</h3>
                <iframe src="https://www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- /Container -->
</section>