﻿@model IEnumerable<Domain.Entities.Produto>

@{
    Layout = null;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
  
@foreach (var coroa in Model)
{
    var coroapromo = false;
	<div class="DivProduto">
		<div class="ProdutoDivImg"><a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome"><img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="ProdutoImg" alt="@coroa.Nome"/></a></div>
		<div class="Titulo">@Html.Raw(coroa.Nome.Replace("-","<br>"))</div>
		
        @if (promocao != null)
        {
            coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
            if (coroapromo)
            {
		<div class="Desconto">@promocao.Desconto% de desconto</div>     
            }
        }
        @if (!coroapromo)
        {
            <div class="ValorPor">
                @coroa.PrecoMinimo.Value.ToString("C2")
            </div>
        }
        else
        {
            decimal precopromo = (coroa.PrecoMinimo.Value - (coroa.PrecoMinimo.Value * promocao.Desconto / 100)); 
            <div class="ValorDe">
                Dê <del>@coroa.PrecoMinimo.Value.ToString("C2")</del>
            </div>
            <div class="ValorPor">
                Por 
                @if (configuracoes.Parcela > 1)
                {
                    @precopromo.ToString("C2")
                }
            </div> 
        } 
		<div class="Comprar"><a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })"><img src="/content/imagens/comprar2.png" class="ComprarImg" alt="Comprar" /></a></div>
	</div> 
}
     