﻿@{
    Layout = null;
} 
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Fornecedor - Coroas para velório/Laços Corporativos</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="/content/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
    <link href="/content/css/style.css" rel="stylesheet" type="text/css">
    <link href="/content/css/pages/signin.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/sweetalert.css" rel="stylesheet" />
</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="index.html">
				Fornecedor				
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">
					 
					<li class="">						
						<a href="http://www.coroasparavelorio.com.br" target="_blank" class=""> 
                            www.coroasparavelorio.com.br
						</a>
						
					</li>
				</ul>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container">
	
	<div class="content clearfix">
		
	    <form id="form_login" name="form_login" class="mws-form">
            <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
		
			<h1>Acesso fornecedor</h1>		
			
			<div class="login-fields">
				
				<p>Por favor, entre com os dados de sua floricultura abaixo:</p>
				
				<div class="field">
					<label for="username">E-mail:</label>
					<input type="text" id="login_email" name="login_email" value="" placeholder="e-mail" class="login username-field" /> 
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Senha:</label> 
					<input type="password" id="login_senha" name="login_senha" value="" placeholder="senha" class="login password-field"/>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				  
                <input type="button" value="Entrar" id="login_entrar" name="login_entrar" class="button btn btn-success btn-large" />
                <span id="processando" class="carregando-preto branco">Autenticando...</span>
				
			</div> <!-- .actions -->
			
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->

			<div class="login-extra">
	            <a href="javascript:void(0);" id="senha">Esqueci minha senha</a>
                <span id="enviando" class="carregando-preto branco">Enviando senha...</span>
            </div>
 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/scripts/bootstrap.js"></script>

<script src="/scripts/signin.js"></script>
    <script src="/Scripts/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#login_entrar").click(function () {
            if ($("#login_email").val() == '' || $("#login_senha").val() == '') {
                alert('Preencha seu e-mail e senha');
            } else {
                $("#login_entrar").hide();
                $("#processando").show();
                $.post("/Login/Login", { email: $("#login_email").val(), senha: $("#login_senha").val(), ReturnUrl: $("#ReturnUrl").val() }, function (data) {
                    if (data == "ERRO") {
                        alert('E-mail ou senha inválidos! Por favor, tente novamente ou utilize o esqueci minha senha.');
                    } else if (data == "ERRO1") {
                        swal("OPS!", "Falha ao acesso da rede Coroas para Velório!", "error");
                    }else if (data == "ERRO2") {
                        alert('Sua floricultura ainda não está liberada para acessar o sistema. Contate nossa empresa para acesso.');
                    } else {
                        window.location = data;
                    }
                });
                $("#processando").hide();
                $("#login_entrar").show();
            }
        });


        $("#senha").click(function () {
            if ($("#login_email").val() == '') {
                alert('Preencha seu e-mail para receber sua senha');
            } else {
                $("#enviando").show();
                $.post("/Login/Enviar_Senha", { email: $("#login_email").val() }, function (data) {
                    alert(data);
                });
                $("#enviando").hide();
            }
        });
    });
</script>
</body>

</html>
