﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Esqueci Minha Senha";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_esqueci").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    $.post("/Esqueci-Minha-Senha/Enviar", { email: $("#email").val() }, function (data) {
                        alert(data);
                        $(".botao").show();
                        $("#processando").hide();
                    });
                },
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    }
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "esqueci-minha-senha")" itemprop="url">      
      <span itemprop="title"><b>Esqueci Minha Senha</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Esqueci Minha Senha</h1>

        @using (Html.BeginForm("Index", "Esqueci-Minha-Senha", FormMethod.Post, new { id = "form_esqueci", name = "form_esqueci", enctype = "multipart/form-data", @class = "formulario" }))
        {    
        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="tabela">
            
            <tr>
                <td width="130">Digite seu e-mail para receber sua senha: </td>
                <td width="200">
                    <input type="text" name="email" id="email" />
                </td>
                <td width="10"></td>              
                <td width="200">                
                    <input type="submit" value="Enviar" class="botao" />
                    <div class="processando" id="processando">Enviando...</div>
                </td>
            </tr>

        </table>
            <a href="javascript:history.back();">Voltar</a>
        }
        <br />
        <br />
</div>