body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', 'Myriad Pro', Arial, Verdana, sans-serif;
    color: #333333;
}

input[type="button"] {
    cursor: pointer;
}

body a {
    text-decoration: none;
    color: #008541;
}

body ul {
    list-style: none;
}

img {
    border: none;
}

.clear {
    clear: both;
    display: block;
}

.CenteredContainer {
    width: 1024px;
    margin: 0 auto;
}

section, .section {
    padding: 0px;
    margin: 0px;
}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #DDDDDD;
    margin: 1em 0; 
    padding: 0;
}

header {
    border-bottom: 5px solid #ed5564;
    background-color: #fcb813;
    color: #000;
    min-height: 70px;
    margin-bottom: 40px;
    padding: 0px;
    overflow: hidden;
}

footer {
    background-color: #e9e9e9;
    margin-top: 40px;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

    footer .footerDecorativeStripe {
        height: 20px;
        background-color: #dddddd;
    }


header a {
    color: #000;
}

    header img {
        float: left;
        width: 74px;
        height: auto;
    }

    header ul {
        float: right;
        margin-top: 25px;
    }

        header ul li {
            float: left;
            margin-left: 60px;
            text-transform: uppercase;
            font-size: 12pt;
        }

        header .phoneIcon {
            padding-left: 34px;
            background-image: url('../imagesneue/icons/phone-minicon.png');
            background-repeat: no-repeat;
            background-position: center left;
            height: 24px;
        }

h1 {
    color: #333333;
    text-transform: uppercase;
    font-family: 'PT Sans', 'Myriad Pro';
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 34pt;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 22pt;
    margin-bottom: 8px;
}

.Column1 {
    width: 442px;
    float: left;
    padding: 20px 30px;
    margin-right: 10px;
    background-color: #e9e9e9;
    min-height: 320px;
}

    .Column1 .internalButton {
        float: left;
        margin-bottom: 25px;
        width: 116px;
        margin-right: 270px;
    }

.internalButton {
    padding: 6px 15px;
    background-color: #ed5564;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 13pt;
    width: 90px;
    cursor: pointer;
    text-transform: uppercase;
}

    .internalButton a {
        color: #FFFFFF;
    }

.Column2 {
    width: 442px;
    float: left;
    padding: 20px 30px;
    margin-left: 10px;
    background-color: #e9e9e9;
    min-height: 320px;
}

    .Column2 input, .Column2 select {
        width: 420px;
        background-color: #f0f0f0;
        color: #999999;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #e0e0e0;
        font-family: Arial;
        height: 32px;
        margin: 5px 0px;
        padding: 0px 10px;
    }

    .Column2 select {
        width: 442px;
    }

    .Column2 #login-send {
        cursor: hand;
        cursor: pointer;
        padding: 6px 15px;
        background-color: #ed5564;
        color: #FFFFFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: none;
        font-size: 13pt;
        width: 90px;
    }

    .Column2 #login-next {
        cursor: hand;
        cursor: pointer;
        float: right;
        padding: 6px 15px;
        background-color: #ed5564;
        color: #FFFFFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: none;
        font-size: 13pt;
        width: 90px;
    }

/*///////////// Formulário de Cadastro //////////////*/

#ShowSignup {
    text-align: center;
}

.groupMe {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

    .groupMe input, .groupMe select {
        margin: 5px 0px;
        background-color: #f6f6f6;
        color: #999999;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #e0e0e0;
        padding: 5px 10px;
        font-family: Arial;
    }

    .groupMe label {
        font-size: 10pt;
    }

    /* Dados Empresa */

    #razaoSocial-Signup, #razaosocial {width: 400px;}
    
    #nomeFantasia-Signup, #nomefantasia {width: 400px;}

    #cnpj-Signup, #cnpj {width: 220px;}

    #inscricaoEstadual-Signup, #inscricaoestadual {width: 270px;}

    #inscricaoMunicipal-Signup, #inscricaomunicipal {width: 268px;}

    #cep-Signup, #cep {width: 150px;}

    #estado-Signup, #estado {width: 90px;}

    #cidade-Signup, #cidade {width: 233px;}

    #bairro-Signup, #bairro {width: 287px;}

    #endereco-Signup, #logradouro {width: 412px;}

    #numero-Signup, #numero {width: 120px;}

    #complemento-Signup, #complemento {width: 225px;}

    /* Dados Contato */

    #nome-Signup, #nome {width: 343px;}

    #mail-Signup, #email {width: 343px;}

    #tel-Signup, #telefone {width: 150px;}

    #cel-Signup, #telefonecelular {width: 150px;}

    #senha-Signup, #senha {width: 200px;}

    #confirmsenha-Signup, #confirmacaosenha {width: 200px;}

    #finalizar-Signup, #bt-finalizar {
        padding: 6px 15px;
        background-color: #008541;
        color: #FFFFFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: none;
        font-size: 13pt;
    }
label.error
{
 display:none!important;   
}
