/*
Site Name: Site Institucional Laços Corporativos
Author: Guilherme de Oliveira Costa
Author URI: http://behance.net/guilhermeocosta
Version: 1.0.0 - 08.08.2014
*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', 'Myriad Pro', Arial, Verdana, sans-serif;
}

.fixed {
	position: fixed;
	top: 0;
	height: 46px;
	z-index: 100;
}

img {
    border: none;
}

.clear {
    clear: both;
    display: block;
}

.grid {
    background-image: url('../imagesneue/grid.png');
    background-repeat: repeat;
    height: 100%;
}

.CenteredContainer {
    width: 960px;
    margin: 0 auto;
}

section, .section {
    min-height: 90vh;
    max-height: 1000px;
    padding: 0px;
    margin: 0px;
    padding-top: 46px;
    padding-bottom: 20px;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'PT Sans', 'Myriad Pro';
    font-weight: bold;
    letter-spacing: -4px;
    font-size: 75pt;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.35);
    text-align: right;
    margin: 0px;
}

h2 {
    color: #FFFFFF;
    font-family: 'PT Sans', 'Myriad Pro';
    font-weight: normal;
    font-size: 19pt;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
    text-align: right;
    margin-left: 310px;
    width: 648px;
}

body ul {
    list-style: none;
}

header {
    height: 100vh;
    background-image: url('../imagesneue/header-bgbigger.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    /*overflow: hidden;*/
    min-width: 980px;
    max-height: 1000px;
    position: relative;
}

#AcessoEmpresas
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    width: 135px;
    font-size: 13pt;
    overflow: hidden;
    text-align: right;
    padding: 6px 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
    background-color: #333333;
}

#AcessoEmpresas *
{
    color: #fff;
    text-decoration: none;
}

#tulip {
    background-image: url('../imagesneue/tulip.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100vh;
    max-height: 1000px;
}

header #mainLogo {
    width: 245px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 75px;
    position: relative;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px 10px;
}

header #mainLogo:hover {
    -webkit-box-shadow: 0px 1px 25px 0px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0px 1px 25px 0px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 1px 25px 0px rgba(255, 255, 255, 0.35);
}

header span {
    color: #FFFFFF;
    font-family: 'PT Sans', 'Myriad Pro';
    font-weight: normal;
    font-size: 22pt;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
    text-align: left;
    margin-left: 100px;
    width: 660px;
    position: relative;
    top: 15px;
}

header button {
    margin-left: 690px;
}

.buttonGR {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0, 133, 65, 0.9);
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 14pt;
    cursor: pointer;
}

.btn-more {
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid #fd0;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fd0;
  font-weight: bold;
}

.secondaryButton {
    display: block;
    color: #FFFFFF;
    font-family: 'PT Sans', 'Myriad Pro', sans-serif;
    font-size: 14pt;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    width: 200px;
    height: 29px;
    padding-top: 3px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
    margin-left: 750px;
}

.secondaryButton:hover {
    background-color: #EEEEEE;
    color: #666666;
    font-weight: 700;
}

nav {
    height: 46px;
    padding: 4px 0px;
    background-color: #008541;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 980px
}

nav .CenteredContainer {
position: relative;
}

nav img {
    float: left;
    padding-right: 15px;
    border-right: 1px solid;
    border-right-color: rgb(255,255,255);
    border-right-color: rgba(255,255,255,0.3);

}

nav ul {
    float: right;
    font-family: 'PT Sans', 'Myriad Pro';
    text-transform: uppercase;
    font-size: 10pt;
    position: relative;
    top: -35px;
}

nav ul li {
    float: left;
    color: #FFFFFF;
    margin: 0px 20px;
    cursor: pointer;
}

nav ul li a, nav ul li a:hover, nav ul li a:active, nav ul li a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

nav ul #ContactNav {
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 20px;
    position: relative;
    top: -5px;
    margin-right: 0px;
}

h3 {
    font-family: 'PT Sans', 'Myriad Pro';
    text-transform: uppercase;
    font-size: 34pt;
    text-align: center;
    color: #333333;
    letter-spacing: -2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.boxProd {
    width: 290px;
    height: 303px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    background-image: url('../imagesneue/lorem-pixum.jpg');
    background-size: auto 310px;
    float: left;
    margin: 11px;
}

.boxProd h4 {
    color: #FFFFFF;
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: 'PT Sans', 'Myriad Pro';
    font-size: 16pt;
    padding: 8px 0px;
    text-align: center;
    margin-bottom: 70px;
}

.boxProd a {
    text-decoration: none;
}

.boxProd span {
    margin-left: 82px;
    font-family: 'PT Sans', 'Myriad Pro';
    text-transform: lowercase;
    font-size: 16pt;
}

.boxProd .hoverEffect {
    background-color: rgba(0,0,0, 0.6);
    background-repeat: repeat;
    height: 230px;
    padding-top: 80px;
    cursor: default;
}

.boxProd .ExcerptMe {
    background-color: #E0E0E0;
    color: #555555;
    width: 276px;;
    height: 303px;
    padding: 15px;
    cursor: default;
}

.boxProd .ExcerptMe h5 {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    width: 273px;
    padding-bottom: 3px;
    margin: 0px;
}

.boxProd .ExcerptMe p {
    padding: 0px 10px;
    font-size: 11pt;
    margin-bottom: 3px;
}

.boxProd .ExcerptMe ul {
    margin: 0px;
    font-size: 11pt;
}

.boxProd .ExcerptMe .excerptClose {
    font-size: 16pt;
    font-weight: bold;
    text-transform: lowercase;
    padding: 3px 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
}

.sectionButton {
    padding: 8px 20px;
    border: 2px solid #008541;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #008541;
    font-family: 'PT Sans', 'Myriad Pro';
    font-size: 16pt;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 375px;
    cursor: pointer;
}

.sectionButton:hover {
    background-color: #008541;
    color: #FFFFFF;
}

#About {
    background-color: #E9E9E9;
}

#About h4 {
    font-size: 16pt;
}

.Column11 {
    width: 300px;
    float: left;
    border-right: 1px solid #CCCCCC;
    padding-right: 40px;
    text-align: justify;
    color: #333333;
}

.Column22 {
    width: 570px;
    float: left;
    padding-left: 44px;
    color: #333333;
    overflow-x: hidden;
}

#About ul {
    list-style: none;
    font-size: 12pt;
    padding-left: 0px;
}

#About ul li {
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: left center;
    height: 80px;
    padding-top: 30px;
    padding-left: 92px;
    width: 170px;
    float: left;
}

#About ul #deliveryIcon {
    background-image: url('../imagesneue/icons/delivery-icon.png');
    margin-right: 20px;
}

#About ul #clockIcon  {
    background-image: url('../imagesneue/icons/clock-icon.png');
}

#About ul #billIcon {
    background-image: url('../imagesneue/icons/bill-icon.png');
    margin-right: 20px;
}

#About ul #listIcon {
    background-image: url('../imagesneue/icons/list-icon.png');
}

#About ul #parterIcon {
    background-image: url('../imagesneue/icons/partner-icon.png');
    margin-left: 20%;
    margin-top: 20px;
    width: 400px;
    padding-left: 112px;
}

#About .sectionButton {
    margin-top: 20px;
    position: relative;
    float: left;
    margin-left: 300px;
}

#HowWorks {
    background-color: #324d5b;
}

#HowWorks h3 {
    color: #FFFFFF;
}

#HowWorks span {
    color: #FFFFFF;
    font-style: italic;
    font-size: 13pt;
}

#HowWorks h5 {
    color: #FFFFFF;
    font-size: 18pt;
    text-transform: uppercase;
    margin: 0px;
}

#HowWorks li {
    padding-top: 185px;
    float: left;
    width: 410px;
    margin-right: 50px;
    margin-bottom: 15px;
    background-position: top center;
}

#HowWorks p {
    color: #FFFFFF;
    font-size: 12pt;
}

#step1 {
    background-image: url('../imagesneue/step1-bigger.png');
    background-repeat: no-repeat;
}

#step2 {
    background-image: url('../imagesneue/step2-bigger.png');
    background-repeat: no-repeat;
}

#step3 {
    background-image: url('../imagesneue/step3-bigger.png');
    background-repeat: no-repeat;
}

#step4 {
    background-image: url('../imagesneue/step4-bigger.png');
    background-repeat: no-repeat;
}

#Contact {
    background-color: #e9e9e9;
    min-height: 75vh;
    max-height: 800px;
}

#Contact p
{
    color: #333333;
    display: block;
    margin: 0px 15px 30px 15px;
}

.Column1 {
    width: 50%;
    float: left;
    border-right: 1px solid #CCCCCC;
}

.Column1 form {
    display: block;
    width: 415px;
    float: right;
    margin-right: 55px;
}

.Column1 form input, .Column1 form textarea {
    float: left;
    margin: 5px;
    background-color: #f0f0f0;
    color: #999999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    padding: 3px 5px;
    font-family: Arial;
}

#formSend {
    padding: 6px 15px;
    background-color: #008541;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-size: 13pt;
    cursor:pointer;
    cursor:hand;
}

/*Largura dos inputs de Contato*/
#formName {width: 300px;}
#formCel, #formPhone {width: 139px;}
#formMail {width: 300px;}
.Column1 form textarea {width: 400px;height:150px;resize:vertical;}


.Column2 {
    width: 45%;
    float: left;
}

.Column2 ul li a {
    color: #999999;
    text-decoration: none;
}

.Column2 ul li {
    margin-bottom: 4px;
    font-size: 14pt;
    font-family: 'PT Sans', 'Myriad Pro';
}

.Column2 ul li strong {
    color: #008541;
    font-weight: normal;
    margin-right: 170px;
}

.Column2 #socialUL li {
    float: left;
    margin-right: 4px;
}

.Column2 #socialUL li a:hover {
    position: relative;
    top: -3px;
}

footer
{
    height: 60px;
    background-color: #666666;
    width: 100%;
}

footer .FooterStripe
{
    background-color: #333333;
    height: 10px;
    min-height: 10px;
    width: 100%;
}

footer .CenteredContainer p
{
    color: #ffffff;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin: 0px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dropdown {
  position: absolute;
  top: 22px;
  left: 0;
  width: 400px;
  background: white;
  padding: 5px 0;
  list-style: none;
  margin: 0;
  cursor: default;
  border-radius: 2px;
  border: 1px solid #fafafa;
  -webkit-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.4);
  display: none;
}

.dropdown li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 0;
}

.dropdown li:hover {
  background: #f8f8f8;
}

.dropdown li:nth-of-type(odd) {
  border-right: 1px solid #f0f0f0;
}

.dropdown a, .dropdown a:visited, .dropdown a:active {
  color: #333;
  text-align: left;
  display: block;
}

.dropdown a:hover, .dropdown li:hover a {
  color: #333;
  text-decoration: underline;
}
