﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Coroas Para Velório - Administrador - Login</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link href="@Domain.Core.Configuracoes.CDN_URL/content/Admin/css/screen.css" rel="stylesheet" type="text/css" media="all" />
        <link href="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/visualize/visualize.css" rel="stylesheet" type="text/css" media="all" />
        <link href="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/jwysiwyg/jquery.wysiwyg.css" rel="stylesheet" type="text/css" media="all" />
        <link href="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/fancybox/jquery.fancybox-1.3.0.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-53436225-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body class="login">

	    <div id="login_wrapper">

		    <br class="clear"/>
		    <div id="login_top_window">
			    <img src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/images/top_login_window.png" alt="top window"/>
		    </div>
		
		    <!-- Begin content -->
		    <div id="login_body_window">
			    <div class="inner">
				    <img src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/images/login_logo.png" alt="logo"/>
				    <form action="/admin/login" method="post" id="form_login" name="form_login">
                        <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
					    <p>
						    <input type="text" id="login_email" name="login_email" style="width:285px" title="Email"/>
					    </p>
					    <p>
						    <input type="password" id="login_senha" name="login_senha" style="width:285px" title="******"/>
					    </p>
					    <p style="margin-top:50px">
						    <input type="submit" id="login_entrar" name="login_entrar" value="Entrar" class="Login" style="margin-right:5px"/>
					    </p>
				    </form>
			    </div>
		    </div>
		    <!-- End content -->
		
		    <div id="login_footer_window">
			    <img src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/images/footer_login_window.png" alt="footer window"/>
		    </div>
		    <div id="login_reflect">
			    <img src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/images/reflect.png" alt="window reflect"/>
		    </div>

	    </div>

        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/jquery.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/jquery-ui.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/jquery.img.preload.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/hint.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/visualize/jquery.visualize.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/jwysiwyg/jquery.wysiwyg.js"></script>
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/Admin/js/fancybox/jquery.fancybox-1.3.0.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                $('input[title!=""]').hint();
            });
            @Html.Raw(ViewBag.Mensagem != null ? "alert('" + ViewBag.Mensagem + "');" : "")
        </script>
    </body>

</html>