﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Como Comprar";
    ViewBag.Description = "Veja como comprar, personalizar e enviar Coroa de Flores para Velório em todo o país. Siga o passo a passo e compre com facilidade sem sair de casa.";
}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-comprar").addClass("active");
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Como Comprar</b></span>    </div>
</div>
</div>



<div id="ComoComprar">
<div class="Div">

	<h1 class="TituloPagina">Como comprar</h1>

	<div class="Caixa">
		<div class="Numero">1°</div>
		<div class="DivTextos">
			<div class="Titulo">Selecione a Coroa de flores de sua preferência e clique em comprar...</div>
			<div class="Texto">Após a escolha, você será direcionado para o Carrinho de Compras. Siga as próximas instruções para realizar a sua compra.<br />Caso não tenha encontrado sua coroa utilize <a href="/duvidas-frequentes" class="Url">nossa ajuda</a> ou entre em contato pelo chat clicando na janela no seu lado direito: "Em que podemos Ajudar?".</div>
		</div>
	</div>

	<div class="Caixa">
		<div class="Numero">2°</div>
		<div class="DivTextos">
			<div class="Titulo">Insira as informações solicitadas...</div>
			<div class="Texto">Preencha as informações da entrega do produto. Caso não possua alguma informação, entre em contato com nosso chat ou deixe em branco que nós faremos a pesquisa com nossos contatos. Na página '<a href="/velorios-e-cemiterios" class="Url">Velórios e Cemiterios</a>' você poderá encontrar informações importantes de qualquer velórios, cemitério ou hospital do Brasil.<br />Preencha seus dados cadastrais e escolha a faixa de homenagem grátis.</div>
		</div>
	</div>

	<div class="Caixa">
		<div class="Numero">3°</div>
		<div class="DivTextos">
			<div class="Titulo">Escolha a forma de pagamento...</div>
			<div class="Texto">O site Coroas Para Velório aceita os principais meios de pagamento, inclusive realiza o faturamento completo para empresas. Em caso de dúvidas, <a href="/contato" class="Url">entre em contato com a nossa Central de Atendimento</a>.</div>
		</div>
	</div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
    <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
    <div class="Separacao2"></div>

</div>
</div> 