﻿@model Admin.ViewModels.AdminModel
@{
    ViewBag.Title = "Dashboard Floriculturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
    <script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    @*<script src="/Scripts/sorttable.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('#home').addClass('active');
            $('#i_home_floriculturas').addClass('active');
        });
    </script>

    <style>
        .mws-panel-header {
            cursor: hand;
            cursor: pointer;
        }
    </style>

    @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.AdWords)
    {
        <script type="text/javascript">
            $(function () {
                $(".ConversaoOnlineOff").click(function () {
                    $("#processandoConversaoOnlineOff").show();
                    $.post("/Home/GetHomeVendaOrigem", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {

                        $(".GraphHolder").show();
                        $("#processandoConversaoOnlineOff").hide();
                        $.plot($("#mws-pie-1"),

                    data, {
                        series: {
                            pie: {
                                show: true
                            }
                        },
                        legend: {
                            show: false
                        }
                    });
                    });
                });

                $("#processandoTotalVendas").show();

                

                $.post("/Home/GetHomeDashFloriculturas", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {
                    $("#totalvendas").html(data);
                    $("#processandoTotalVendas").hide();
                    $("#processandoTotalVendas").parent().parent().find("thead").show();
                });

            });
        </script>
    }
}

<div class="container">
    @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.AdWords)
    {
        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2">Período</span>
            </div>
            <div class="mws-panel-body">
                <form class="mws-form">
                    <div class="mws-form-row">
                        <label>Selecione um novo período</label>
                        <div class="mws-form-item small">
                            De @Html.TextBox("datainicio", Request.QueryString["datainicio"], new { @class = "mws-textinput mws-datepicker ldata", maxlength = "100" }) até @Html.TextBox("datafim", Request.QueryString["datafim"], new { @class = "mws-textinput mws-datepicker ldata", maxlength = "100" }) <input type="submit" class="mws-button gray" value="Enviar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-books-2 ProcessaVendas">Fornecedores</span>
            </div>
            
            <div class="mws-panel-body">
                <table style="" class="mws-table HeadTable3">
                    <thead style="display: none;">
                        <tr>
                            <th>Nome</th>
                            <th style="width: 550px;">Cidades</th>
                            <th>Qtd Pedidos</th>
                            <th>NPS</th>
                            <th style="width: 50px;">% Repasse</th>
                            <th style="width: 100px;">Valor Repasse</th>
                        </tr>
                    </thead>
                    <tbody id="totalvendas">
                        <span id="processandoTotalVendas" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <h2>Seja bem-vindo!</h2>
    }
</div>