﻿@model Admin.ViewModels.AdminModel

@{
    ViewBag.Title = "Laços Corporativos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresas = (List<Domain.Entities.RelatorioLacosTopEmpresas_Result>)ViewBag.TopEmpresas;
    var vendacidade = (List<Domain.Entities.RelatorioLacosVendaCidade_Result>)ViewBag.VendaCidade;
    var vendaorigem = (List<Domain.Entities.RelatorioLacosVendaOrigem_Result>)ViewBag.VendaOrigem;
    var relatorioempresas = (List<Domain.Entities.RelatorioLacosEmpresas_Result>)ViewBag.RelatorioEmpresas;

}
@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#home').addClass('active');
        $('#i_lacos').addClass('active');
    });
</script>
    
          
<script type="text/javascript">          
    $(function () {
        var data = [
                @{
                    var comma = "";
                    foreach (var item in vendaorigem)
                    {
                    <text>
                    @comma { label: "@item.OrigemForma", data: @item.Total }                        
                    </text>
                        comma = ",";
                    }
                }
            ];

        $.plot($("#mws-pie-1"), 
    	data, {
    		    series: {
    		        pie: { 
    		            show: true
    		        }
    		    }, 
    		    legend: {
    		        show:false
    		    }
    	});
              
        $("#processandoTopProdutos").show();
        $.post("/Home/GetLacosTopProdutos", { datainicio: '@Request.QueryString["datainicio"]', datafim: '@Request.QueryString["datafim"]' }, function (data) {                
            $("#topprodutos").html(data);
            $("#processandoTopProdutos").hide();
        });
    });  
</script> 
}

<div class="container">            
    

@if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores)
{
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Período</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form">
                <div class="mws-form-row">
                    <label>Selecione um novo período</label>
                    <div class="mws-form-item small">
                        De @Html.TextBox("datainicio", Request.QueryString["datainicio"], new{@class = "mws-textinput mws-datepicker ldata", maxlength = "100"}) até @Html.TextBox("datafim", Request.QueryString["datafim"], new{@class = "mws-textinput mws-datepicker ldata", maxlength = "100"}) <input type="submit" class="mws-button gray" value="Enviar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="mws-report-container clearfix">
    <div class="mws-report" style="cursor:default;">
        <span class="mws-report-icon mws-ic ic-building"></span>
        <span class="mws-report-content">
            <span class="mws-report-title" style="width: 100%; display: inline-block;">Total Vendas</span>
            <span class="mws-report-value" style="padding-left:0px; font-size: 18px; margin-top: 5px;">@ViewBag.TotalVendas</span>
        </span>
    </div>

    <div class="mws-report" style="cursor:default;">
        <span class="mws-report-icon mws-ic ic-money"></span>
        <span class="mws-report-content">
            <span class="mws-report-title"  style="width: 100%; display: inline-block;">Total Faturamento</span>
            <span class="mws-report-value" style="padding-left:0px;font-size:18px; margin-top: 5px;">@ViewBag.TotalFaturamento</span>
        </span>
    </div>

    <div class="mws-report" style="cursor: default;">
        <span class="mws-report-icon mws-ic ic-money-dollar"></span>
        <span class="mws-report-content">
            <span class="mws-report-title"  style="width: 100%; display: inline-block;">Ticket Médio</span>
            <span class="mws-report-value" style="padding-left: 0px; font-size: 18px; margin-top: 5px;">@ViewBag.TicketMedio</span>
        </span>
    </div>
    <div class="mws-report" style="cursor: default;">
        <span class="mws-report-icon mws-ic ic-money-dollar"></span>
        <span class="mws-report-content">
            <span class="mws-report-title"  style="width: 100%; display: inline-block;">Repasse Total</span>
            <span class="mws-report-value" style="padding-left: 0px; font-size: 18px; margin-top: 5px;">@ViewBag.RepasseTotal</span>
        </span>
    </div>
    <div class="mws-report" style="cursor:default;">
        <span class="mws-report-icon mws-ic ic-money-dollar"></span>
        <span class="mws-report-content">
            <span class="mws-report-title"  style="width: 100%; display: inline-block;">Margem Total</span>
            <span class="mws-report-value" style="padding-left:0px;font-size:18px; margin-top: 5px;">@ViewBag.MargemTotal</span>
        </span>
    </div>
</div> 
<div class="mws-panel grid_4">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-graph">Conversão Online x Offline</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-content">
            <div id="mws-pie-1" style="width:100%; height:300px; "></div>
        </div>
    </div>
</div> 
      
    
<div class="mws-panel grid_4">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-books-2">TOP 15 Empresas</span>
    </div>
    <div class="mws-panel-body">
        <ul class="mws-summary">
            @foreach (var item in empresas)
            {
            <li>
                <span>@item.Total</span> @item.RazaoSocial
            </li>
            }
        </ul>
    </div>
</div> 
    
<div class="mws-panel grid_4">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-books-2">TOP 20 Produtos + vendidos</span>
    </div>
    <span id="processandoTopProdutos" class="carregando-branco" style="text-align:center;">Carregando dados...</span>
    <div class="mws-panel-body">
        <ul class="mws-summary" id="topprodutos"></ul>
    </div>
</div> 
     
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-books-2">Vendas por Cidades (Líquidas)</span>
    </div>
    <div class="mws-panel-body">
        <ul class="mws-summary">
        <table class="mws-table">
            <thead>
                <tr> 
                    <th>Bloco</th>
                    <th>Cidades</th>
                    <th>Qtde Total</th>
                    <th>Valor Total</th>
                    <th>Qtde Online</th>
                    <th>Valor Online</th>
                    <th>Qtde Offline</th>
                    <th>Valor Offline</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in vendacidade)
            {
                <tr class="gradeX">
                    <td>@item.Bloco</td>
                    <td>@item.Cidades</td>
                    <td>@item.Total</td>
                    <td>@(item.Valor.HasValue ? item.Valor.Value.ToString("C2") : "R$ 0,00")</td>
                    <td>@item.QtdeOnline</td>
                    <td>@(item.ValorOnline.HasValue ? item.ValorOnline.Value.ToString("C2") : "R$ 0,00")</td>
                    <td>@item.QtdeOffline</td>
                    <td>@(item.ValorOffline.HasValue ? item.ValorOffline.Value.ToString("C2") : "R$ 0,00")</td>
                </tr>
            } 
            </tbody>
        </table> 
    </div>
</div>     
		
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-books-2">Cadastro X Faturamentos (6 meses)</span>
    </div>
    <div class="mws-panel-body">
        <ul class="mws-summary">
        <table class="mws-table">
            <thead>
                <tr> 
                    <th>Razao Social</th>
                    <th>Data Cadastro</th>
                    <th>Qtde @DateTime.Now.ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.ToString("MM/yyyy")</th> 
                    <th>Qtde @DateTime.Now.AddMonths(-1).ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.AddMonths(-1).ToString("MM/yyyy")</th> 
                    <th>Qtde @DateTime.Now.AddMonths(-2).ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.AddMonths(-2).ToString("MM/yyyy")</th> 
                    <th>Qtde @DateTime.Now.AddMonths(-3).ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.AddMonths(-3).ToString("MM/yyyy")</th> 
                    <th>Qtde @DateTime.Now.AddMonths(-4).ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.AddMonths(-4).ToString("MM/yyyy")</th> 
                    <th>Qtde @DateTime.Now.AddMonths(-5).ToString("MM/yyyy")</th>
                    <th>Valor @DateTime.Now.AddMonths(-5).ToString("MM/yyyy")</th> 
                    <th>Qtde Total</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in relatorioempresas)
            {
                <tr class="gradeX">
                    <td>@item.RazaoSocial</td>
                    <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                    <td style="@(item.QtdeMes1 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes1</td>
                    <td style=" @(item.QtdeMes1 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes1.HasValue ? item.TotalMes1.Value.ToString("C2") : "R$ 0,00")</td> 
                    <td style=" @(item.QtdeMes2 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes2</td>
                    <td style=" @(item.QtdeMes2 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes2.HasValue ? item.TotalMes2.Value.ToString("C2") : "R$ 0,00")</td> 
                    <td style=" @(item.QtdeMes3 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes3</td>
                    <td style=" @(item.QtdeMes3 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes3.HasValue ? item.TotalMes3.Value.ToString("C2") : "R$ 0,00")</td> 
                    <td style=" @(item.QtdeMes4 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes4</td>
                    <td style=" @(item.QtdeMes4 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes4.HasValue ? item.TotalMes4.Value.ToString("C2") : "R$ 0,00")</td> 
                    <td style=" @(item.QtdeMes5 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes5</td>
                    <td style=" @(item.QtdeMes5 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes5.HasValue ? item.TotalMes5.Value.ToString("C2") : "R$ 0,00")</td>  
                    <td style=" @(item.QtdeMes6 > 0 ? "font-weight:bold;" : "")">@item.QtdeMes6</td>
                    <td style=" @(item.QtdeMes6 > 0 ? "font-weight:bold;" : "")">@(item.TotalMes6.HasValue ? item.TotalMes6.Value.ToString("C2") : "R$ 0,00")</td>  
                    <td>@item.Qtde</td>
                    <td>@(item.Total.HasValue ? item.Total.Value.ToString("C2") : "R$ 0,00")</td>
                </tr>
            } 
            </tbody>
        </table> 
    </div>
</div>   	
}
else
{
    <h2>Seja bem-vindo!</h2> 
}
</div>