﻿@{
    Layout = "/Views/Shared/_MasterLogin.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        //Validar Usuario
        $(document).ready(function () {
            $('body').addClass('grayme');

            $("#bntForm").click(function (e) {
                $("#processando").show();
                e.preventDefault();
                efetuarLogin();
            });

            $("body").keypress(function (e) {
                if (e.which == 13) {
                    $('#bntForm').click();
                }
            });
        });

        function efetuarLogin() {

            if ($("#login_email").val() == 'e-mail' || $("#login_senha").val() == 'senha' || $("#login_email").val() == "" || $("#login_senha").val() == "") {
                swal("OPS!", "Preencha seu e-mail e senha!", "error")
                $("#processando").hide();
            }
            else {
                $.post("/Home/Login", { email: $("#login_email").val(), senha: $("#login_senha").val(), ReturnUrl: $("#ReturnUrl").val() }, function (data) {
                    //alert("parte 2" + JSON.stringify(data));
                    if (data == "ERRO") {
                        $("#processando").hide();
                        swal("OPS!", "E-mail ou senha inválidos! Por favor, tente novamente ou utilize o esqueci minha senha.", "error")
                    } else if (data == "ERRO2") {
                        $("#processando").hide();
                        swal("OPS!", "Você não está associado a nenhuma empresa ou você foi bloqueado pelo administrador de sua empresa.", "error")
                    } else if (data == "ERRO3") {
                        $("#processando").hide();
                        swal("OPS!", "Acesso externo bloqueado!", "error")
                    } else if (data == "ERRO4") {
                        $("#processando").hide();
                        swal("OPS!", "Você já está logado em outro local!", "error")
                    } else {
                        $("#processando").hide();
                        window.location = data;
                    }
                });
            }
        }
    </script>
}

<section class="admin" id="login">
    <!-- Container -->
    <div class="container">
        <div class="row clearfix">
            <!-- Inset Container -->
            <div class="col-md-10 col-md-offset-1">
                <div class="row clearfix">
                    <div class="col-md-6 col-md-offset-3 center">
                        <h1>Administrador Coroas Para Velório</h1>
                        <div class="well c">
                            <div class="form-group clearfix">
                                <label class="control-label" for="login">Email</label>
                                <input type="text" class="form-control" name="login_email" id="login_email" />
                            </div>
                            <div class="form-group clearfix">
                                <label class="control-label" for="pass">Senha</label>
                                <input type="password" class="form-control"id="login_senha" name="login_senha" />
                            </div>
                            <div class="form-group clearfix c">
                                <input type="button" class="btn btn-primary" value="Entrar" id="bntForm" />
                            </div>
                            <div class="form-group clearfix c LoginLoading" style="display: none;">
                                Aguarde...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Inset Container -->
        </div>
    </div>
    <!-- /Container -->
</section>