﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/icons/icons.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/gerenciador.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/plupload/jquery.plupload.queue.css" media="screen" />

    <!-- sweetalert Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.css" media="screen" />

    <!-- sweetalert JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.js"></script>


<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/demo.css" media="screen" />


<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jimgareaselect/css/imgareaselect-default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fullcalendar/fullcalendar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/tipsy/tipsy.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/sourcerer/Sourcerer-1.2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/spinner/spinner.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jui/jquery.ui.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/elrte/css/elrte.full.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/elfinder/css/elfinder.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/lightbox/css/lightbox.css" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/mws.theme.css" media="screen" />

<!-- JavaScript Plugins -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jimgareaselect/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jgrowl/jquery.jgrowl.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.filestyle.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.dataTables.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/colorpicker/colorpicker.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/sourcerer/Sourcerer-1.2.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.placeholder.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.validate.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.validate.additional-methods.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.mousewheel.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery-ui.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.ui.mask.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.ui.datepicker-pt-BR.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery-ui-timepicker.js"></script>


<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/elrte/js/elrte.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/elfinder/js/elfinder.min.js"></script>

<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/mws.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/demo.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/themer.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/demo.formelements.js"></script>
<script src="@Domain.Core.Configuracoes.CDN_URL/scripts/lightbox/js/lightbox.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("div#mws-login .mws-login-back").mouseover(function (event) {
            $(this).find("a").animate({ 'left': 0 })
        }).mouseout(function (event) {
            $(this).find("a").animate({ 'left': 70 })
        });


        $("#login_entrar").click(function (e) {
            $("#processando").show();
            e.preventDefault();
            efetuarLogin();
        });

        $("#form_login").submit(function (e) {
            $("#processando").show();
            e.preventDefault();
            efetuarLogin();
        });

    });
    function efetuarLogin() {
        
        if ($("#login_email").val() == 'e-mail' || $("#login_senha").val() == 'senha') {
            Swal.fire("OPS!", "Preencha seu e-mail e senha!", "error")
            $("#processando").hide();
        }
        else {
            $.post("/Home/Login", { email: $("#login_email").val(), senha: $("#login_senha").val(), ReturnUrl: $("#ReturnUrl").val() }, function (data) {
                //alert("parte 2" + JSON.stringify(data));
                if (data == "ERRO") {
                    $("#processando").hide();
                    Swal.fire("OPS!", "E-mail ou senha inválidos! Por favor, tente novamente ou utilize o esqueci minha senha.", "error")
                } else if (data == "ERRO2") {
                    $("#processando").hide();
                    Swal.fire("OPS!", "Você não está associado a nenhuma empresa ou você foi bloqueado pelo administrador de sua empresa.", "error")                } else if (data == "ERRO3") {
                    $("#processando").hide();
                    Swal.fire("OPS!", "Acesso externo bloqueado!", "error")
                } else if (data == "ERRO4") {
                    $("#processando").hide();
                    Swal.fire("OPS!", "Você já está logado em outro local!", "error")
                } else {
                    $("#processando").hide();
                    window.location = data;
                }
            });
        }
    }
</script>

<title>Administrador Coroas para Velório - @ViewBag.Title</title>

</head>

<body>
    <input type="hidden" value="@HttpContext.Current.Request.ServerVariables["REMOTE_HOST"]" />
	<div id="mws-login">
    	<h1>Login</h1>
        <div class="mws-login-lock"><img src="@Domain.Core.Configuracoes.CDN_URL/content/icons/24/locked-2.png" alt="" /></div>
    	<div id="mws-login-form">
			<form id="form_login" name="form_login" class="mws-form">
                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]" />
        	    <div class="mws-form-row">
                	<div class="mws-form-item large">
                    	<input type="text" class="mws-login-username mws-textinput" placeholder="e-mail" id="login_email" name="login_email"/>
                    </div>
                </div>
                <div class="mws-form-row">
                	<div class="mws-form-item large">
                    	<input type="password" class="mws-login-password mws-textinput" placeholder="senha" id="login_senha" name="login_senha"/>
                    </div>
                </div>
                <div class="mws-form-row" style="text-align: center;">
                    <!--Trocado para tipo submit pra que quando apertar enter, ele fazer o login-->
                	@*<input type="button" value="Login" id="login_entrar" name="login_entrar" class="mws-button blue mws-login-button" />*@
                    <input type="submit" value="Login" id="login_entrar" name="login_entrar" class="mws-button blue mws-login-button"/>
                    <span id="processando" style="color: #FFF; display: none;">Autenticando...</span>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
