﻿@model Admin.ViewModels.AdminModel

@{
    Layout = null;
    
}

 <div id="mws-navigation">
    <ul>
        <li id="home"><a class="mws-i-24 i-home" href="/">Dashboard</a>
            <ul>
                <li id="i_home"><a href="@Url.Action("Index", "Home")">CPV</a></li> 
                <li id="i_lacos"><a href="@Url.Action("Lacos", "Home")">Laços Corporativos</a></li> 
            </ul>
        </li>
        @if (Model.CurrentAdministrador.Perfil != Domain.Entities.Administrador.Perfis.Conteudo)
        {
        <li id="pedidos">
			<a href="#" class="mws-i-24 i-shopping-cart-3">Pedidos Site</a>
            <ul>
                <li id="i_pedidos_site"><a href="@Url.Action("List", "PedidosSite", new { datainicial = DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") })">Pedidos</a></li>
                <li id="i_pedidos_novo"><a href="@Url.Action("Novo", "PedidosSite")">Novo</a></li>
            </ul>
		</li>
        <li id="pedidosempresa">
			<a href="#" class="mws-i-24 i-shopping-cart-3">Pedidos Corporativos</a>
            <ul>
                <li id="i_pedidos_empresas"><a href="@Url.Action("List", "PedidosEmpresa", new { datainicial = DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") })">Pedidos</a></li>
                @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento2)
                {
                <li id="i_pedidos_faturamento"><a href="@Url.Action("List", "FaturasEmpresa")">Faturas</a></li>
                }
                <li id="i_pedidos_empresa_novo"><a href="@Url.Action("Novo", "PedidosEmpresa")">Novo</a></li>
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master)
        {
        <li id="produtos">
			<a href="#" class="mws-i-24 i-dropbox">Produtos</a>
            <ul>
                <li id="i_produtos"><a href="@Url.Action("List", "Produto")">Produtos</a></li>
                <li id="i_tamanhos"><a href="@Url.Action("List", "Tamanho")">Tamanhos</a></li>
                <li id="i_flores"><a href="@Url.Action("List", "Flor")">Flores</a></li>
                <li id="i_coloracao"><a href="@Url.Action("List", "Coloracao")">Coloração</a></li>
                <li id="i_relacionamentos"><a href="@Url.Action("List", "Relacionamento")">Relacionamentos</a></li>
                <li id="i_faixas"><a href="@Url.Action("List", "FaixaPreco")">Faixas de Preço</a></li>
            </ul>
		</li>
        <li id="precos">
			<a href="#" class="mws-i-24 i-money-2">Preços</a>
            <ul>
                <li id="i_precos_coroas"><a href="@Url.Action("List", "Precos", new { tipo = 1 })">Preços de Coroas</a></li>
                <li id="i_precos_arranjos"><a href="@Url.Action("List", "Precos", new { tipo = 2 })">Preços de Arranjos</a></li>
                <li id="i_precos_flores"><a href="@Url.Action("List", "Precos", new { tipo = 3 })">Preços de <br />&nbsp;&nbsp;Flores de Aniversário</a></li>
                <li id="i_precos_buques"><a href="@Url.Action("List", "Precos", new { tipo = 4 })">Preços de <br />&nbsp;&nbsp;Orquídeas e Buquês</a></li>
                <li id="i_precos_datas"><a href="@Url.Action("List", "Precos", new { tipo = 5 })">Preços de <br />&nbsp;&nbsp;Datas Comemorativas</a></li>
                <li id="i_precos_eventos"><a href="@Url.Action("List", "Precos", new { tipo = 6 })">Preços de Eventos</a></li>
                <li id="i_descontos"><a href="@Url.Action("List", "Descontos")">Descontos</a></li>
                <li id="i_cupom"><a href="@Url.Action("List", "Cupom")">Cupons</a></li>
                <li id="i_promocao"><a href="@Url.Action("List", "Promocao")">Promoção</a></li>
            </ul>
        </li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Conteudo || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
        {
        <li id="conteudo">
			<a href="#" class="mws-i-24 i-documents-1">Conteúdo</a>
            <ul>
                @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
                {
                <li id="i_depoimentos"><a href="@Url.Action("List", "Depoimento")">Depoimentos</a></li>
                }
                @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Conteudo)
                {
                <li id="i_noticias"><a href="@Url.Action("List", "Noticia")">Notícias/Mídias</a></li>
                <li id="i_banners"><a href="@Url.Action("List", "Banner")">Banners</a></li>
                <li id="i_duvidas"><a href="@Url.Action("List", "DuvidasFrequentes")">Dúvidas Frequentes</a></li>
                }
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento4 || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
        {
        <li id="cliente">
			<a href="#" class="mws-i-24 i-users-2">Clientes</a>
            <ul>
                <li id="i_clientes"><a href="@Url.Action("List", "Cliente")">Clientes</a></li>
                <li id="i_empresas"><a href="@Url.Action("List", "Empresa")">Empresas</a></li>
                <li id="i_colaboradores"><a href="@Url.Action("List", "Colaborador")">Colaboradores</a></li>
            </ul>
		</li>
        }
        <li id="prospeccao">
			<a href="#" class="mws-i-24 i-users-2">Prospecção</a>
            <ul>
                <li id="i_empresascoroas"><a href="@Url.Action("List", "Prospeccao")">Empresas Coroas</a></li>  
                <li id="i_agenda"><a href="@Url.Action("Agenda", "Prospeccao")">Agenda</a></li>  
                <li id="i_aniversariante"><a href="@Url.Action("Aniversariantes", "Prospeccao")">Aniversariantes</a></li>  
            </ul>
		</li>
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento2)
        {
        <li id="financeiro">
			<a href="#" class="mws-i-24 i-text-document">Financeiro</a>
            <ul>
                <li id="i_boleto"><a href="@Url.Action("List", "Boleto")">Boletos</a></li>
                <li id="i_boletovenc"><a href="@Url.Action("List", "BoletoVencido")">Boletos Vencidos</a></li>
                <li id="i_remessa"><a href="@Url.Action("List", "Remessa")">Arquivo de Remessa</a></li>
                <li id="i_retorno"><a href="@Url.Action("Index", "Retorno")">Arquivo de Retorno</a></li>
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
        {
        <li id="qualidade">
			<a href="#" class="mws-i-24 i-check">Qualidade</a>
            <ul>
                <li id="i_qualidade"><a href="@Url.Action("PedidosSite", "Qualidade")">Pedidos Site</a></li>
                <li id="i_reclamacao"><a href="@Url.Action("Reclamacao", "Qualidade")">Reclamação</a></li>
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
        {
        <li id="relatorios">
			<a href="#" class="mws-i-24 i-text-document">Relatórios</a>
            <ul>
                @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
                {
                <li id="i_pesquisa"><a href="@Url.Action("Pesquisa", "Relatorio")">Pesquisa de Satisfação</a></li>
                }
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento2 || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
        {
        <li id="fornecedor">
			<a href="@Url.Action("List", "Fornecedor")" class="mws-i-24 i-truck-2">Fornecedores</a>
            <ul>
                <li id="i_fornecedor"><a href="@Url.Action("List", "Fornecedor")">Fornecedores</a></li>
                @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento2 || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento3)
                {
                <li id="i_repasse"><a href="@Url.Action("Repasses", "Fornecedor")">Repasses</a></li>
                <li id="i_fornecedorp"><a href="@Url.Action("Pedidos", "Fornecedor")">Pedidos não entregues</a></li>
                }
            </ul>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Conteudo || Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Atendimento2)
        {
        <li id="local">
			<a href="@Url.Action("List", "Local")" class="mws-i-24 i-apartment-building">Locais</a>
		</li>
        }
        @if (Model.CurrentAdministrador.Perfil == Domain.Entities.Administrador.Perfis.Master)
        {
        <li id="administrador">
			<a href="#" class="mws-i-24 i-text-document">Administradores</a>
            <ul>
                <li id="i_usuarios"><a href="@Url.Action("List", "Administrador")">Usuários</a></li>
                <li id="i_historico"><a href="@Url.Action("Historico", "Administrador", new { datainicial = DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") })">Histórico</a></li>
            </ul> 
		</li>
        <li id="configuracao">
			<a href="#" class="mws-i-24 i-text-document">Configurações</a>
            <ul>
                <li id="i_geral"><a href="@Url.Action("List", "Configuracao")">Gerais</a></li>
                <li id="i_cidades"><a href="@Url.Action("List", "Cidades")">Cidades</a></li>
            </ul>
		</li>
        }
	</ul>
</div>