﻿@model Domain.Entities.Administrador
@{
    ViewBag.Title = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-documents-1">Meu Perfil</span>
        </div>
        <div class="mws-panel-body">
            <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
            @using (Html.BeginForm("Perfil", "Home", null, FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ID)

                <div class="mws-form-row">
                    <label>Nome</label><br />
                    <div class="mws-form-item medium">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput required", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Receber Pedidos</label><br />
                    <div class="mws-form-item medium">
                        @{ 
                            if (ViewBag.TravaRecebePedidos)
                            {
                                @Html.CheckBoxFor(model => model.RecebePedidos, new { @disabled = "disabled" }) <text> SIM </text>
                                <br/>
                                <i>Você não pode alterar essa opção enquanto não houver outros usuários recebendo pedidos.</i>
                            }
                            else
                            {
                                @Html.CheckBoxFor(model => model.RecebePedidos)  <text> SIM </text>
                            }
                        }
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>E-mail</label><br />
                    <div class="mws-form-item medium">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput required", maxlength = "200" })
                    </div>
                </div>

                <div class="mws-form-row">
                <label>Senha </label>
                <div class="mws-form-item small">
                    @{var Senha = Model == null ? "" : Model.Senha;}
                    @Html.Password("Senha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Confirmação de senha </label>
                <div class="mws-form-item small">
                    @Html.Password("ConfirmacaoSenha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>  

                <div class="mws-form-row">
                    <label>Nova Foto</label> <i>Arquivo JPG (100px x 100px)</i>
                    <div class="mws-form-item large">
                        @if (Model != null)
                        {
                            if (Model.Foto != null)
                            {
                                <a href="@Model.Foto" target="_blank"><img src="@Model.Foto" border="0" /></a><br /><i>Para modificar a foto, selecione outro arquivo.</i><br />
                                <br />
                            }
                        }
                        @Html.InputFile("File")
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="btEnviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("Index")';" />
                    <span id="processando" class="carregando-branco" style="display:none;">Processando...</span>
                </div>
            }
        </div>
    </div>

    
@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#cliente').addClass('active');
        $('#i_colaboradores').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                Email: {
                    required: true,
                    email: true
                },
                Senha: "required",
                ConfirmacaoSenha: {
                    required: true,
                    equalTo: "#Senha"
                }
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                Email: {
                    required: "O campo e-mail é obrigatório.",
                    email: "digite um e-mail válido"
                },
                Senha: "O campo senha é obrigatório.",
                ConfirmacaoSenha: {
                    required: "digite a confirmação da senha",
                    equalTo: "a confirmação da senha deve ser identica a senha digitada"
                }
            }
        });
    });
</script>
}

