﻿@model Admin.ViewModels.AdminModel
@{
    Layout = null;
}
<!-- Logo Wrapper -->
<div id="mws-logo-container">
    <div id="mws-logo-wrap">
        <img src="@Domain.Core.Configuracoes.CDN_URL/content/images/logo.png" alt="Coroas para Velório" />
	</div>
</div>
        
<!-- User Area Wrapper -->
<div id="mws-user-tools" class="clearfix">       
    <!-- User Notifications -->
@*    <div id="mws-user-notif" class="mws-dropdown-menu">
        <a href="#" class="mws-i-24 i-alert-2 mws-dropdown-trigger">Notificações</a>
        <span id="qtde_notificacao" class="mws-dropdown-notif"></span>
        <div class="mws-dropdown-box">
            <div class="mws-dropdown-content">
                <ul class="mws-notifications"> 
                   <li class="unread" class="read unread" id="novaMensagem-Notificacao-1">
                        <a href="">
                            <span class="message">
                             D
                            </span>
                            <span class="time">
                              D
                            </span>
                        </a>
                    </li>  
                </ul> 
            </div>
        </div>
    </div> *@
@*    <!-- User Messages -->
    <div id="mws-user-message" class="mws-dropdown-menu">
        <a href="#" class="mws-i-24 i-message mws-dropdown-trigger">Mensagens</a>
       <span id="mensagem_nova" class="@((ViewBag.Mensagem.Count > 0) ? "mws-dropdown-notif" : "")">@((ViewBag.Mensagem.Count > 0) ? ViewBag.Mensagem.Count : "")</span>
        <div class="mws-dropdown-box">
            <div class="mws-dropdown-content">
                <ul class="mws-messages">
                    <!-- Message Content -->
                        foreach (var mensagem in ViewBag.Mensagem)
                        {
                    
                         <li class="((mensagem[3] != "") ? "read" : "unread")" id="novaMensagem-mensagem[0]-@mensagem[5]">
                         <a href="/mensagem[0]/Resposta/mensagem[5]" onclick="abrirMensagem('mensagem[0]',mensagem[5]);" >
                                <span class="sender">mensagem[1] (mensagem[0])</span>
                                <span class="message">
                                    Html.Raw((mensagem[4].Length > 20) ? mensagem[4].Substring(0, 20) : mensagem[4])
                                </span>
                                <span class="time">
                                    mensagem[2]
                                </span>
                            </a>
                        </li>
                        }
                   <!-- End Messages -->                            
                </ul>
                <div class="mws-dropdown-viewall" onclick="window.location = 'Url.Action("Index", "Orcamento")'">
	                <a href="Url.Action("Index", "Orcamento")">Todas as mensagens</a>
                </div>
            </div>
        </div>
    </div>*@
            
    <!-- User Functions --> 
    <div id="mws-user-info" class="mws-inset">
        <div id="mws-user-photo">
            <img src="@Model.Foto" alt="@Model.Nome" />
        </div>
        <div id="mws-user-functions">
            <div id="mws-username">
                Bem-vindo, @Model.Nome
            </div>
            <ul>
                <li><a href="@Url.Action("Perfil", "Home")">Meu Perfil</a></li>
                <li><a href="@Url.Action("Logout", "Home")">Sair</a></li>
            </ul>
        </div>
    </div>
</div>

@*@if (Model.CurrentAdministrador.Comercial)
{
    <script type="text/javascript">
        comercial = true;
        adminID = @(Model.ID);
    </script>
}*@