﻿@model Web.Handler._404
@{
    ViewBag.Title = "Oops";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
@section Head{
    @*<link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />*@
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

<div class="conteudo">
    <div class="oops">

        <h1>Oops!</h1>
        <br />
        <span class="qlassik" style="color: #555555; font-size: 26px;">Desculpe,</span><br />
        <span>Você tentou acessar a página <u>@ViewBag.Pagina</u>, mas ela não existe.</span>
        <br /><br />
        <span class="qlassik" style="color: #D50911; font-size: 20px;">Para mais informações, ligue para @configuracoes.SAC ou fale conosco pelo <a name="livezilla_chat_button" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl" style="color: #D50911;">atendimento online</a></span></span>
        <br /><br />

        <div class="hr"><hr /></div>

        @Html.Partial("Produtos", (List<Domain.Entities.Produto>) ViewBag.Destaques)
        
    </div>
</div>