﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.PedidoFloricultura>


    @{
        ViewBag.Title = "Pedidos Site";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNumero = Request.QueryString["numero"];
        var _requestNumeroCPV = Request.QueryString["nrcpv"];
        var _requestNumeroLACOS = Request.QueryString["nrlacos"];

        var _requestNome = Request.QueryString["nome"];
        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];
        var _requestEmail = Request.QueryString["email"];
        var _requestPossuiFoto = Request.QueryString["PossuiFoto"];
        var _requestStatus = Request.QueryString["status"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];
        var _requestStatusEntrega = Request.QueryString["statusentrega"];
        var _requestMeioPgto = Request.QueryString["meiopagamento"];
        var _requestStatusProcessamento = Request.QueryString["statusprocessamento"];

        var _TodosStatusPagamento = typeof(Domain.Entities.PedidoFloricultura.TodosStatusPagamento);
        var _TodosStatusProcessamento = typeof(Domain.Entities.PedidoFloricultura.TodosStatusProcessamento);
        var _TodosStatusEntrega = typeof(Domain.Entities.PedidoFloricultura.TodosStatusEntrega);
        var _MeiosPagamento = typeof(Domain.Entities.PedidoFloricultura.MeiosPagamento);
    }
    @section Scripts{
        <script type="text/javascript">
            function printExternal(url) {
                window.open( url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
            }
            $(document).ready(function () {
                $('#pedidos').addClass('active');
                $('#i_pedidos_floricultura_site').addClass('active');

                $(".print").click(function(){
                    printExternal("/PedidosFloricultura/Print/" + $(this).attr("rel"));
                    return false;
                });
                
                $(".print_recibo").click(function(){
                    printExternal("/PedidosFloricultura/PrintRecibo/" + $(this).attr("rel"));
                    return false;
                });

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Pedidos da Floricultura @(_requestNome != null && _requestNome != "" ? " para o Cliente " + _requestNome : "")
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "PedidosFloricultura")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td><strong>Número do Pedido:</strong></td>
                                            <td><input type="text" name="numero" class="InputNUmero" value="@_requestNumero" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Nome do Cliente/Razão Social:</td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td> Data de Inicial:</td>
                                            <td><input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Data de Final:</td>
                                            <td><input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Status Processamento:</td>
                                            <td>@Html.DropDownListForEnum("statusprocessamento", _TodosStatusProcessamento, (!String.IsNullOrEmpty(_requestStatusProcessamento) ? Convert.ToInt32(_requestStatusProcessamento) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Número do Pedido CPV:</td>
                                            <td><input type="text" name="nrcpv" class="InputNUmero" value="@_requestNumeroCPV" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Número do Pedido Lacos:</td>
                                            <td><input type="text" name="nrlacos" class="InputNUmero" value="@_requestNumeroLACOS" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table align="center" style="margin: 0px auto; margin-left: 20px;">
                                        <tr>
                                            <td>E-mail:</td>
                                            <td><input type="text" name="email" value="@_requestEmail" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Status de Pagamento:</td>
                                            <td>@Html.DropDownListForEnum("statuspagamento", _TodosStatusPagamento, (!String.IsNullOrEmpty(_requestStatusPagamento) ? Convert.ToInt32(_requestStatusPagamento) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Status de Entrega:</td>
                                            <td>@Html.DropDownListForEnum("statusentrega", _TodosStatusEntrega, (!String.IsNullOrEmpty(_requestStatusEntrega) ? Convert.ToInt32(_requestStatusEntrega) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Meio de Pagamento:</td>
                                            <td>@Html.DropDownListForEnum("meiopagamento", _MeiosPagamento, (!String.IsNullOrEmpty(_requestMeioPgto) ? Convert.ToInt32(_requestMeioPgto) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Nome Homenageado:</td>
                                            <td><input type="text" name="nomehomenageado" value="@Request.QueryString["nomehomenageado"]" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Faixa:</td>
                                            <td><input type="text" name="faixa" value="@Request.QueryString["faixa"]" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>

                            <th align="center" style="width: 120px;">Pedido</th>
                            <th align="center" style="width: 90px;">Status</th>
                            <th align="center" style="width: 140px;">Pagamento</th>
                            <th align="center" style="width: 250px;">Entrega</th>
                            <th align="center" style="width: 250px;">Cliente</th>
                            <th align="center">Produtos</th>                                                                             
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <tr>

                                <td class="center" style="width: 120px;">
                                    Cri: @item.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                    <br />
                                    @*@{
                                        if (item.HorarioEntrega != null)
                                        {
                                            DateTime DataEntrega = new DateTime();
                                            DataEntrega = (DateTime)item.HorarioEntrega;

                                            <text>Ent: </text>@DataEntrega.ToString("dd/MM/yyyy HH:mm")
                                            <br />
                                        }
                                    }*@
                                    
                                    <b>@item.ValorTotal.ToString("C2")</b>
                                    <br />
                                    <hr />
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 120px;">
                                                @Html.ActionLink(@item.Numero, "Visualizar", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })
                                            </li>
                                        </ul>
                                    </div>
                                    <br />
                                    @{
                                        if (item.StatusCancelamentoID == null)
                                        {
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        <a class="mws-ic-16 ic-printer print" rel="@item.ID" href="#">Entrega</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <br />
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        <a class="mws-ic-16 ic-printer print_recibo" rel="@item.ID" href="#">Recibo</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    }
                                </td>
                                <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusProcessamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusProcessamento)</td>
                                <td>                                    
                                    <span class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusPagamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusPagamento)</span> 
                                    <br />
                                    @if (item.ClienteFloricultura != null && item.ClienteFloricultura.ID != 31)
                                    {
                                        if (item.MeioPagamento != null)
                                        {
                                            @Domain.Helpers.EnumHelper.GetDescription(item.MeioPagamento)<br />@Domain.Helpers.EnumHelper.GetDescription(item.FormaPagamento)
                                        }
                                        else {
                                            <text>N/A</text>
                                        }
                                    }
                                </td>
                                <td>
                                    <span class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusEntrega)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</span>
                                    <br />
                                    @item.LocalEntregaCompleto
                                </td>

                                @{
                                    string TipoCliente = "";
                                    if (item.ContatoFunararia != null)
                                    {
                                        TipoCliente = "Funerária";
                                    }
                                    if (item.ClienteFloricultura != null)
                                    {
                                        if (item.ClienteFloricultura.ID == 17)
                                        {
                                            TipoCliente = "Cliente(Balcão)";
                                        }
                                        else
                                        {
                                            TipoCliente = "Cliente";                                            
                                        }
                                    }
                                }

                                @{
                                    string PessoaHomenageada = item.PessoaHomenageada;
                                    if (string.IsNullOrEmpty(PessoaHomenageada))
                                    {
                                        PessoaHomenageada = "SEM INFORMAÇÃO";
                                    }
                                    else
                                    {
                                        PessoaHomenageada = PessoaHomenageada.ToUpper();
                                    }

                                    if (item.ClienteFloricultura != null)
                                    {
                                        <td>
                                            @if (item.ClienteFloricultura.ID != 31)
                                            {
                                                @item.ClienteFloricultura.Nome <text>/</text> @TipoCliente
                                            }
                                            else
                                            {
                                                <text>ESG</text>
                                            }
                                            <br />
                                            Homenageado: @PessoaHomenageada
                                        </td>
                                    }
                                    if (item.ContatoFunararia != null)
                                    {
                                        <td>
                                            @item.ContatoFunararia.Nome / @TipoCliente
                                            <br />
                                            Homenageado: @PessoaHomenageada
                                        </td>
                                    }
                                }
                                <td>
                                    @{
                                        foreach (var Produto in item.PedidoItemFloriculturas)
                                        {
                                            string Msg = Produto.Mensagem;
                                            <p>@Produto.ProdutoTamanhoPrecoFloricultura.ProdutoFloricultura.Nome <text> - </text> @Produto.ProdutoTamanhoPrecoFloricultura.ProdutoTamanhoFloricultura.Nome</p>
                                            if (Msg != null)
                                            {
                                                <p>
                                                    @Msg
                                                </p>
                                            }
                                            <hr />
                                        }
                                    }
                                </td>                                
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="odd">
                                                <td valign="top" colspan="12" class="dataTables_empty">
                                                    Não há itens para serem exibidos
                                                </td>
                                            </tr>
                                        }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? " paginate_active" : "paginate_button" )">
                                        <a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&nome=@Request.QueryString["nome"]&numero=@Request.QueryString["numero"]&statusprocessamento=@Request.QueryString["statusprocessamento"]&email=@Request.QueryString["email"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&meiopagamento=@Request.QueryString["meiopagamento"]&nomehomenageado=@Request.QueryString["nomehomenageado"]&faixa=@Request.QueryString["faixa"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
