﻿
@{
    ViewBag.Title = "Novo Pedido Floricultura Flor Da Lins";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Funerarias = (IEnumerable<Domain.Entities.Funeraria>)ViewBag.Funerarias;
    var Clientes = (IEnumerable<Domain.Entities.ClienteFloricultura>)ViewBag.Clientes;
    //var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    //var produtos = (IEnumerable<Domain.Entities.ProdutoFloricultura>)ViewBag.Produto;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    //var origem = (IEnumerable<Domain.Entities.OrigemSite>)ViewBag.OrigemSite;
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<style>
    #Funenaria {
        display: none;
    }

    #Cliente {
        display: none;
    }

    .mws-form-row-half {
        float: left;
        width: 45%;
    }

        .mws-form-row-half > .mws-form-item {
            width: 100% !important;
        }

    .mws-form-row-third {
        float: left;
        width: 28%;
    }

        .mws-form-row-third > .mws-form-item {
            width: 100% !important;
        }


    #Funenaria .mws-form-row-third {
        padding-right: 5px !important;
        width: 22%;
        padding-left: 10px;
    }

        #Funenaria .mws-form-row-third img {
            margin-top: 15px;
        }

    #Cliente .mws-form-row-third {
        padding-right: 5px !important;
        width: 22%;
        padding-left: 10px;
    }

        #Cliente .mws-form-row-third img {
            margin-top: 15px;
        }

    h4 {
        margin-bottom: 0px;
        text-align: center;
    }

    .BuscarFunerariaCliente {
        border-right-color: #cccccc;
        border-right-width: 1px;
        border-right-style: solid;
        margin-bottom: 20px;
    }

    #Funenaria .mws-form-row-half {
        min-height: 80px;
    }

    #Cliente .mws-form-row-half {
        min-height: 80px;
    }

    .mws-form-row-fourth {
        float: left;
        width: 20%;
    }

        .mws-form-row-fourth:nth-child(2) {
            float: left;
            width: 8%;
        }

        .mws-form-row-fourth:nth-child(3) {
            float: left;
            width: 31%;
        }

        .mws-form-row-fourth:nth-child(4) {
            width: 25%;
        }

        .mws-form-row-fourth > .mws-form-item {
            width: 100% !important;
        }
</style>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Pedido</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "PedidosFloricultura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <h2>Cliente</h2>
                </div>
                <div class="mws-form-row">
                    <div class="mws-form-item small">
                        <input type="radio" name="TipoID" value="1" /> CLIENTES PF OU PJ
                        <input type="radio" name="TipoID" value="2" /> FUNERÁRIAS
                        <input type="radio" name="TipoID" value="3" /> PEDIDO NO BALCÃO
                    </div>
                </div>
                <div id="Funenaria" class="ActiveSearch">
                    <hr />
                    <div class="mws-form-row BuscarFunerariaCliente">
                        <div class="mws-form-row">
                            <h4>SELECIONE O CONTATO DA FUNERÁRIA</h4>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-row mws-form-row-third">
                                <label>Filtrar Pelo Nome</label>
                                <div class="mws-form-item">
                                    <input type="text" name="BuscaNomeFuneraria" id="BuscaNomeFuneraria" class="mws-textinput FormBuscaFunenraria" maxlength="200" />
                                </div>
                            </div>
                            <div class="mws-form-row mws-form-row-third">
                                <label>Filtrar Pelo CNPJ</label>
                                <div class="mws-form-item">
                                    <input type="text" name="BuscaCNPJFuneraria" id="BuscaCNPJFuneraria" class="mws-textinput FormBuscaFunenraria" maxlength="200" />
                                </div>
                            </div>
                            @*<div class="mws-form-row mws-form-row-third">
                                    <label>Filtrar Pelo Email</label>
                                    <div class="mws-form-item">
                                        <input type="text" name="BuscaEmailFuneraria" id="BuscaEmailFuneraria" class="mws-textinput FormBuscaFunenraria" maxlength="200" />
                                    </div>
                                </div>*@
                            <div class="mws-form-row mws-form-row-third">
                                <label></label>
                                <div class="mws-form-item">
                                    <img src="/Content/elrte/images/loading.gif" class="LoadingBusca" style="display: none;" />
                                </div>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <div class="mws-form-item DrpFunerarias">
                                <label>Lista de Clientes</label>
                                <select class="mws-textinput" id="FunerariaID" name="FunerariaID">
                                    <option value="">-- selecione --</option>
                                    @{
                                        foreach (var Funeraria in Funerarias)
                                        {
                                            var DocumentoResult = "";

                                            if (Funeraria.Documento != null)
                                            {
                                                DocumentoResult = Funeraria.Documento.Replace(".", "").Replace("-", "").Replace("/", "").Trim();
                                            }

                                            <option value="@Funeraria.ID" email="@Funeraria.EmailContato" documento="@DocumentoResult">@Funeraria.RazaoSocial - @Funeraria.DocumentoFormatado</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <div class="mws-form-item">
                                <label>Novo</label>
                                <input type="button" id="NovaFuneraria" class="mws-button green big" value="Adicionar Nova Funerária">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <div class="mws-form-item DrpContatosFuneraria">
                                <label>Lista de Contatos da Funerária</label>
                                <select class="mws-textinput" id="ContatoFunerariaID" name="ContatoFunerariaID">
                                    <option value="">-- selecione --</option>
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <div class="mws-form-item">
                                <label>Novo</label>
                                <input type="button" id="NovoContatoFuneraria" class="mws-button green big" value="Adicionar Novo Contato">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Cliente">
                    <hr />
                    <div class="mws-form-row BuscarFunerariaCliente">
                        <div class="mws-form-row">
                            <h4>SELECIONE O CLIENTE</h4>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-row mws-form-row-third">
                                <label>Filtrar Pelo Nome</label>
                                <div class="mws-form-item">
                                    <input type="text" name="BuscaNomeCliente" id="BuscaNomeCliente" class="mws-textinput FormBuscaCliente" maxlength="200" />
                                </div>
                            </div>
                            <div class="mws-form-row mws-form-row-third">
                                <label>Filtrar Pelo Documento</label>
                                <div class="mws-form-item">
                                    <input type="text" name="BuscaDocCliente" id="BuscaDocCliente" class="mws-textinput FormBuscaCliente" maxlength="200" />
                                </div>
                            </div>
                            <div class="mws-form-row mws-form-row-third">
                                <label>Filtrar Pelo Email</label>
                                <div class="mws-form-item">
                                    <input type="text" name="BuscaEmailCliente" id="BuscaEmailCliente" class="mws-textinput FormBuscaCliente" maxlength="200" />
                                </div>
                            </div>
                            <div class="mws-form-row mws-form-row-third">
                                <label></label>
                                <div class="mws-form-item">
                                    <img src="/Content/elrte/images/loading.gif" class="LoadingBuscaCliente" style="display: none;" />
                                </div>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-item DrpContatos">
                                <label>Lista de Clientes</label>
                                <select class="mws-textinput" id="ClienteID" name="ClienteID">
                                    <option value="">-- selecione --</option>
                                    @{
                                        foreach (var Cliente in Clientes)
                                        {
                                            var DocumentoResult = "";
                                            var ClienteNome = "";

                                            ClienteNome = Cliente.NomeCompleto;

                                            if (Cliente.Documento != null)
                                            {
                                                DocumentoResult = Cliente.Documento.Replace(".", "").Replace("-", "").Replace("/", "").Trim();
                                            }

                                            <option value="@Cliente.ID" email="@Cliente.Email" documento="@DocumentoResult">@ClienteNome - @Domain.Core.Funcoes.Formata_CNPJ(DocumentoResult)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-item">
                                <input type="button" id="NovoCliente" class="mws-button green right big" value="Adicionar Novo Cliente">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Balcao">
                </div>
                @*<div class="mws-form-row mws-form-row-half" id="labelCPFCNPJ">
                        <label id="lblDocumento">CPF</label>
                        <div class="mws-form-item small">
                            <input type="text" name="Documento" id="Documento" class="mws-textinput" maxlength="200" /><span id="busca-cliente" class="carregando-branco">Buscando cliente...</span>
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Nome do cliente ou responsável pela empresa</label>
                        <div class="mws-form-item">
                            <input type="text" name="Nome" id="Nome" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelNomeSolicitante" style="display:none;">
                        <label>Nome do Solicitante</label>
                        <div class="mws-form-item">
                            <input type="text" name="NomeSolicitante" id="NomeSolicitante" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelEmailSolicitante" style="display:none;">
                        <label>E-mail do solicitante</label>
                        <div class="mws-form-item">
                            <input type="text" name="EmailSolicitante" id="EmailSolicitante" class="mws-textinput" maxlength="200" /><br />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelEmail">
                        <label>E-mail</label>
                        <div class="mws-form-item">
                            <input type="text" name="Email" id="Email" class="mws-textinput" maxlength="200" /><br />
                        </div>
                    </div>
                    <div id="divEmpresa" style="display:none;">
                        <div class="mws-form-row mws-form-row-half">
                            <label>Razão Social (Nome da Funerária)</label>
                            <div class="mws-form-item">
                                <input type="text" name="RazaoSocial" id="RazaoSocial" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Telefone de contato</label>
                        <div class="mws-form-item small">
                            <input type="text" name="TelefoneContato" id="TelefoneContato" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="divPessoaContato" style="display:none;">
                        <label>Pessoa de contato</label>
                        <div class="mws-form-item">
                            <input type="text" name="PessoaContato" id="PessoaContato" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div id="divBrasil">
                        <div class="mws-form-row mws-form-row-half">
                            <label>Celular</label>
                            <div class="mws-form-item small">
                                <input type="text" name="CelularContato" id="CelularContato" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>CEP</label>
                            <div class="mws-form-item small">
                                <input type="text" name="CEP" id="CEP" class="mws-textinput" maxlength="200" />
                                <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Estado</label>
                            <div class="mws-form-item small">
                                @Html.DropDownList("EstadoID", (SelectList)ViewBag.Estados, new { @class = "mws-textinput" })
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Cidade</label>
                            <div class="mws-form-item small">
                                @Html.DropDownList("CidadeID", (SelectList)ViewBag.Cidades, new { @class = "mws-textinput" })
                                <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Logradouro</label>
                            <div class="mws-form-item">
                                <input type="text" name="Logradouro" id="Logradouro" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Número</label>
                            <div class="mws-form-item small">
                                <input type="text" name="Numero" id="Numero" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Complemento</label>
                            <div class="mws-form-item small">
                                <input type="text" name="Complemento" id="Complemento" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Bairro</label>
                            <div class="mws-form-item small">
                                <input type="text" name="Bairro" id="Bairro" class="mws-textinput" maxlength="200" />
                            </div>
                        </div>
                    </div>*@
                <hr />
                <div class="mws-form-row">
                    <h2>Dados Complementares</h2>
                </div>
                <div id="ContatoCompradorFuneraria" style="display: none;">
                    <div class="mws-form-row">
                        <label>Nome do Comprador</label>
                        <div class="mws-form-item small">
                            <input type="text" name="NomeComprador" id="NomeComprador" class="mws-textinput" maxlength="500" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Contato do Comprador</label>
                        <div class="mws-form-item small">
                            <input type="text" name="ContatoComprador" id="ContatoComprador" class="mws-textinput" maxlength="500" />
                        </div>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cliente Selecionado</label>
                    <div class="mws-form-item small">
                        <p id="LblCliente">
                            Ainda não há um cliente Selecionado
                        </p>
                        <input type="hidden" name="IdCliente" id="IdCliente" />
                        <input type="hidden" name="IdContatoFuneraria" id="IdContatoFuneraria" />
                    </div>
                </div>

                <div class="mws-form-row">
                    <label>Origem</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("OrigemID", (SelectList)ViewBag.Origem, "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                    <i id="TelLEnt" style="display: none;">
                    </i>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Pedido</h2>
                </div>
                <div id="LstProdutos">
                    <div class="InicioDiv" id="Produto1">
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Produto (1)</label>
                            <div class="mws-form-item">
                                <select name="ProdutoTamanhoID" id="ProdutoTamanhoID" class="mws-textinput"></select>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Valor</label>
                            <div class="mws-form-item">
                                <input type="text" name="ValorProduto1" id="ValorProduto1" class="mws-textinput valid ValorProduto" maxlength="200">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Frase de Homenagem</label>
                            <div class="mws-form-item">
                                <input style="max-width: 400px;" type="text" name="Frase" id="Frase1" class="mws-textinput Frase">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Obs Produto</label>
                            <div class="mws-form-item">
                                <input style="max-width: 245px;" type="text" name="ObsProduto" id="ObsProduto1" class="mws-textinput ObsProduto">
                            </div>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <input type="hidden" id="ValoresProdutos" name="ValoresProdutos" />
                        <input style="margin-left: 10px;" type="button" id="RemoverProdutos" disabled class="mws-button red big right" value="Remover Produtos">
                        <input type="button" id="NovoProduto" class="mws-button green big right" value="Adicionar Novo Produto">
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Detalhes de Entrega</h2>
                </div>
                <div class="mws-form-row">
                    <label>Pessoa Homenageada</label>
                    <div class="mws-form-item small">
                        <input type="text" name="PessoaHomenageada" id="PessoaHomenageada" class="mws-textinput" maxlength="200" /> <input type="checkbox" id="NaPessoaH" name="NaPessoaH"> Sem Informação
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Estado de Entrega</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("EstadoEntregaID", (SelectList)ViewBag.Estados, new { @class = "mws-textinput" }) <input type="checkbox" id="NaLocalEntrega" name="NaLocalEntrega">  Retirado na loja
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cidade de Entrega</label>
                    <div class="mws-form-item small">
                        <div class="mws-form-item small">
                            @Html.DropDownList("CidadeEntregaID", (SelectList)ViewBag.Cidades, new { @class = "mws-textinput" })
                        </div>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Local de Entrega</label>
                    <div class="mws-form-item small">
                        <input type="text" name="LocalEntrega" id="LocalEntrega" class="mws-textinput" maxlength="200" />
                        <input type="checkbox" id="LocalNaoCadastrado" name="LocalNaoCadastrado">  Local Não Cadastrado
                        <input type="hidden" id="LocalID" name="LocalID" />
                    </div>
                    <i id="TelLEnt" style="display: none;">
                    </i>
                </div>
                <div class="mws-form-row" id="LinkLocal">
                    <label>Local Selecionado</label>
                    <div class="mws-form-item small">
                        <span>N/A</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Complemento do Local de Entrega</label>
                    <div class="mws-form-item small">
                        <input type="text" name="ComplementoLocalEntrega" id="ComplementoLocalEntrega" class="mws-textinput" maxlength="200" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data/Hora de Entrega</label>
                    <div class="mws-form-item small">
                        <input type="text" name="HorarioEntrega" id="HorarioEntrega" class="mws-textinput mws-datepicker-hhmm" maxlength="20" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cobrança no Local</label>
                    <div class="mws-form-item small">
                        <select name="CobrarNoLocal" id="CobrarNoLocal" class="mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Comprovante de Pagamento</label>
                    <div class="mws-form-item small">
                        <input type="file" id="Comprovante" onchange="return ValidateFileUpload()" style="width:150px!important;" name="Comprovante" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data de Pagamento</label>
                    <div class="mws-form-item small">
                        <input type="text" name="DataDePagamento" id="DataDePagamento" class="mws-textinput mws-datepicker-hhmm" maxlength="20" />
                    </div>
                </div>
                <div id="Repasse" style="display: none;">
                    <hr />
                    <div class="mws-form-row">
                        <h2>Repasse</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Valor do Repasse</label>
                        <div class="mws-form-item small">
                            <input type="text" name="ValorRepasse" id="ValorRepasse" class="mws-textinput" maxlength="200" value="0" /> <input type="checkbox" id="SemRepasse" name="SemRepasse"> Sem Repasse
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Data/Hora do Repasse</label>
                        <div class="mws-form-item small">
                            <input type="text" name="DataRepasse" id="DataRepasse" class="mws-textinput mws-datepicker-hhmm" maxlength="20" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Status Repasse</label>
                        <div class="mws-form-item small">
                            <select name="StatusRepasseID" id="StatusRepasseID" class="mws-textinput">
                                <option value="">-- selecione --</option>
                                <option value="@((int)Domain.Entities.RepasseFloricultura.TodosStatus.PagamentoPendente)">Pagamento Pendente</option>
                                <option value="@((int)Domain.Entities.RepasseFloricultura.TodosStatus.Pago)">Pago</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Pagamento</h2>
                </div>
                <div class="mws-form-row">
                    <label>Valor dos Produtos</label>
                    <div class="mws-form-item small">
                        <span id="Valor"></span>
                    </div>
                </div>
                @*<div class="mws-form-row">
                        <label>Valor de Desconto</label>
                        <div class="mws-form-item small">
                            <input type="text" name="ValorDesconto" id="ValorDesconto" class="mws-textinput" maxlength="200" value="0" />
                        </div>
                    </div>*@
                <div class="mws-form-row">
                    <label>Valor Total Do Pedido</label>
                    <div class="mws-form-item small">
                        <input type="text" name="ValorTotal" id="ValorTotal" class="mws-textinput" maxlength="200" value="0" /> <i>Se este valor for alterado, os descontos e cupons serão ignorados. Coloque o valor final a ser pago.</i>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Forma de Pagamento</label>
                    <div class="mws-form-item small">
                        <select name="FormaPagamentoID" id="FormaPagamentoID" class="mws-textinput">
                            <option value="">-- selecione --</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.CartaoCredito)">Cartão de Crédito</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.CartaoDebito)">Cartão de Débito</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Dinheiro)">Dinheiro</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Cheque)">Cheque</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Mensal)">Mensal</option>
                            <option value="@((int)Domain.Entities.PedidoFloricultura.FormasPagamento.Deposito)">Depósito</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Meio de Pagamento</label>
                    <div class="mws-form-item small">
                        <select name="MeioPagamentoID" id="MeioPagamentoID" class="mws-textinput"></select>
                    </div>
                </div>
                <div class="mws-form-row" id="Parcelas" style="display: none;">
                    <label>Parcelas</label>
                    <div class="mws-form-item small">
                        <input type="text" name="ParcelasNR" id="ParcelasNR" class="mws-textinput OnlyNumber" maxlength="2" /> <i>Deixar em Branco para valores a vista.</i>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Status de Pagamento</label>
                    <div class="mws-form-item small">
                        <select name="StatusPagamentoID" id="StatusPagamentoID" class="mws-textinput">
                            <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento)">Aguardando Pagamento</option>
                            <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.Pago)">Pago</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row" id="divDataPagamento" style="display:none;">
                    <label>Data/Hora de Pagamento</label>
                    <div class="mws-form-item small">
                        <input type="text" name="DataPagamento" id="DataPagamento" class="mws-textinput mws-datepicker-hhmm" maxlength="20" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Observações</h2>
                </div>
                <div class="mws-form-row">
                    <label>Notas</label>
                    <div class="mws-form-item small">
                        @Html.TextArea("ObservacaoNota", new { @class = "mws-textinput", maxlength = "300" })
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
                                        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
}
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
<script type="text/javascript">
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }


        $(document).ready(function () {
            $("#enviar").click(function () {
                var StringFinal = "";
                $("#LstProdutos .InicioDiv").each(function () {
                    var IdProduto = $(this).find("select option:selected").val();
                    var ValorProduto = $(this).find(".ValorProduto").val();
                    var Frase = $(this).find(".Frase").val();
                    var ObsProduto = $(this).find(".ObsProduto").val();

                    StringFinal += IdProduto + "º" + ValorProduto + "º" + Frase + "º" + ObsProduto +  "|"

                });

                $("#ValoresProdutos").val(StringFinal);

                if(!$("#NaLocalEntrega").prop('checked') && !$("#LocalNaoCadastrado").prop('checked')){
                    if($("#LocalID").val() == ""){
                        if (confirm('Você não selecionou o local de entrega. Confirma o pedido?')) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }

                $(".ValorProduto").each(function () {
                    var ValorProduto = $(this).val();
                    if (ValorProduto == "") {
                        alert("Por favor, preencha o valor dos produtos selecionados.");
                        return false;
                    }
                });

                $(".InicioDiv").each(function () {
                    if ($(this).find("select option:selected").val() == undefined) {
                        alert("Por favor, selecione todos os produtos desejados.");
                        return false;
                    }
                });
            });

            //$("#ParcelasNR").keyup(function () {
            //    var Parcelas = parseInt($(this).val());
            //    if (Parcelas > 3) {
            //        $(this).val("");
            //    }
            //});

            $("#RemoverProdutos").click(function () {

                $("#SelectProduto").parent().parent().parent().remove();

                CalculaCoroa();

                if($(".InicioDiv").length > 1){
                    $("<input type='checkbox' class='SelectProduto' id='SelectProduto' name='SelectProduto'> <span id='Lblremove'>Selecionar</span>").insertAfter(".Frase:last");
                }

                $("#RemoverProdutos").attr("disabled", "disabled");

                $("#SelectProduto").click(function(){
                    if($(".SelectProduto").is(':checked')){
                        $("#RemoverProdutos").removeAttr("disabled");
                    }
                    else{
                        $("#RemoverProdutos").attr("disabled", "disabled");
                    }
                });

                return false;
            });

            $("#NovoProduto").click(function () {

                $("#RemoverProdutos").attr("disabled", "disabled");
                $("#NovoProduto").attr("disabled", "disabled");

                var count = $(".InicioDiv").length + 1;

                $("#Lblremove").remove();
                $("#SelectProduto").remove();

                $("<div class='InicioDiv' id='Produto" + count + "'><div class='mws-form-row mws-form-row-fourth'><label>Produto (" + count + ")</label><div class='mws-form-item'><select name='ProdutoTamanhoID" + count + "' id='ProdutoTamanhoID" + count + "' class='mws-textinput'></select></div></div><div class='mws-form-row mws-form-row-fourth'><label>Valor</label><div class='mws-form-item'><input type='text' name='ValorProduto" + count + "' id='ValorProduto" + count + "' class='mws-textinput valid ValorProduto' maxlength='200'></div></div><div class='mws-form-row mws-form-row-fourth'><label>Frase de Homenagem</label><div class='mws-form-item'><input  style='max-width: 400px;' type='text' name='Frase' id='Frase" + count + "' class='mws-textinput Frase'> </div></div><div class='mws-form-row mws-form-row-fourth'><label>Obs Produto</label><div class='mws-form-item'><input  style='max-width: 245px;' type='text' name='ObsProduto' id='ObsProduto" + count + "' class='mws-textinput ObsProduto'> </div></div></div>").insertAfter("#LstProdutos .InicioDiv:last");

                $.post('/Home/GetProdutosFloricultura/', { origem: 'Flor Da Lins' }, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {

                            if (data[i].Value != "") {
                                $("#ProdutoTamanhoID" + count + "").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);

                                $("#ProdutoTamanhoID" + count + " option:eq(" + (i + 1) + ")").attr('data-valor', data[i].Extra);
                            }
                        }
                    }
                    $("#NovoProduto").removeAttr("disabled", "disabled");

                    var CountSelects = $(".InicioDiv").length - 2;

                    $("<input type='checkbox' class='SelectProduto' id='SelectProduto' name='SelectProduto'> <span id='Lblremove'>Selecionar</span>").insertAfter(".ObsProduto:last");

                    $("#SelectProduto").click(function(){
                        if($(".SelectProduto").is(':checked')){
                            $("#RemoverProdutos").removeAttr("disabled");
                        }
                        else{
                            $("#RemoverProdutos").attr("disabled", "disabled");
                        }
                    });

                });

                $("#ProdutoTamanhoID" + count + "").change(function () {
                    $("#ValorProduto" + count + "").val($("#ProdutoTamanhoID" + count + " :selected").attr("data-valor"));
                    CalculaCoroa();
                });

                $(".ValorProduto").maskMoney();

                $(".ValorProduto").keyup(function () {
                    CalculaCoroa();
                });
            });

            $("#NovaFuneraria").click(function () {
                window.location.href = '/Funeraria/Novo?redirect=true';
            });

            $("#NovoCliente").click(function () {
                window.location.href = '/ClienteFloricultura/Edit?redirect=true';
            });

            $("#NovoContatoFuneraria").click(function () {
                if ($("#FunerariaID option:selected").val() != "") {
                    window.location.href = '/ContatoFuneraria/Novo?redirect=true&funerariaid=' + $("#FunerariaID option:selected").val();
                }
                else {
                    alert('Selecione uma Funerária!');
                }
            });

            if (getParameterByName("tipocadastro") == "funeraria") {
                if (parseInt(getParameterByName("contatoid")) > 0) {

                    $("#Repasse").show();
                    $("#ContatoCompradorFuneraria").show();

                    $("#IdContatoFuneraria").val(parseInt(getParameterByName("contatoid")));

                    $.post("/ContatoFuneraria/GetNomeContato", { IdContato: parseInt(getParameterByName("contatoid")) })

                        .done(function (data) {
                            $("#LblCliente").html("<a target='blank' href='/ContatoFuneraria/Editar/" + parseInt(getParameterByName("contatoid")) + "'>" + data + "</a>");
                        });

                    $("#OrigemID").val(3);

                    $("input[type=radio]").eq(1).attr('checked', true);
                }
            }

            if (getParameterByName("tipocadastro") == "cliente") {
                if (parseInt(getParameterByName("clienteid")) > 0) {

                    $("#IdCliente").val(parseInt(getParameterByName("clienteid")));

                    $.post("/ClienteFloricultura/GetNomeCliente", { IdCliente: parseInt(getParameterByName("clienteid")) })

                        .done(function (data) {
                            $("#LblCliente").html("<a target='blank' href='/ClienteFloricultura/Edit/" + parseInt(getParameterByName("clienteid")) + "'>" + data + "</a>");
                        });

                    $("input[type=radio]").eq(0).attr('checked', true);
                }
            }

            $("#EstadoEntregaID").change(function (){

            });

            $("#NaLocalEntrega").change(function () {
                if ($(this).attr('checked')) {
                    $("#ComplementoLocalEntrega").attr('disabled', 'disabled');

                    $("#LocalEntrega").val('');
                    $("#LocalID").val('');
                    $("#LinkLocal span").html("N/A");

                    $("#EstadoEntregaID option:first-child").attr("selected", "selected");
                    $("#CidadeEntregaID option:first-child").attr("selected", "selected");

                    $("#LocalEntrega").attr('disabled', 'disabled');
                    $("#EstadoEntregaID").attr('disabled', 'disabled');
                    $("#CidadeEntregaID").attr('disabled', 'disabled');

                    $("#LocalNaoCadastrado").attr('disabled', 'disabled');

                    $("#HorarioEntrega").attr('disabled', 'disabled');
                    $("#HorarioEntrega").val('');

                    $("#CobrarNoLocal").attr('disabled', 'disabled');
                    $("#CobrarNoLocal option:first-child").attr("selected", "selected");
                }
                else {
                    $("#ComplementoLocalEntrega").removeAttr('disabled');
                    $("#LocalEntrega").removeAttr('disabled');
                    $("#EstadoEntregaID").removeAttr('disabled');
                    $("#CidadeEntregaID").removeAttr('disabled');

                    $("#LocalNaoCadastrado").removeAttr('disabled');
                    $("#HorarioEntrega").removeAttr('disabled');
                    $("#CobrarNoLocal").removeAttr('disabled');
                }
            });

            $("#LocalNaoCadastrado").change(function () {
                if ($(this).attr('checked')) {
                    $("#LocalEntrega").val('');
                    $("#LocalID").val('');
                    $("#LinkLocal span").html("N/A");

                    $("#LocalEntrega").attr('disabled', 'disabled');

                    $("#NaLocalEntrega").attr('disabled', 'disabled');
                }
                else {
                    $("#LocalEntrega").removeAttr('disabled');
                    $("#EstadoEntregaID").removeAttr('disabled');
                    $("#CidadeEntregaID").removeAttr('disabled');

                    $("#NaLocalEntrega").removeAttr('disabled');
                }
            });

            $("#NaPessoaH").change(function () {
                if ($(this).attr('checked')) {
                    $("#PessoaHomenageada").val("");
                    $("#PessoaHomenageada").attr('disabled', 'disabled');
                }
                else {
                    $("#PessoaHomenageada").removeAttr('disabled');
                }
            });

            $("#SemRepasse").change(function () {
                if ($(this).attr('checked')) {
                    $("#ValorRepasse").val("");
                    $("#ValorRepasse").attr('disabled', 'disabled');

                    $("#DataRepasse").val("");
                    $("#DataRepasse").attr('disabled', 'disabled');

                    $("#StatusRepasseID").val("");
                    $("#StatusRepasseID option:first-child").attr("selected", "selected");
                    $("#StatusRepasseID").attr('disabled', 'disabled');
                }
                else {
                    $("#ValorRepasse").removeAttr('disabled');
                    $("#DataRepasse").removeAttr('disabled');
                    $("#StatusRepasseID").removeAttr('disabled');
                }
            });


            $(':input:not(textarea)').keydown(function (event) {
                var kc = event.witch || event.keyCode;
                if (kc == 13) {
                    event.preventDefault();
                    $(this).closest('form').attr('data-oldaction', function () {
                        return $(this).attr('action');
                    }).attr('action', 'javascript:;');

                    alert('Para finalizar o pedido, clique em salvar!');

                    $(this).closest('form').attr('action', function () {
                        return $(this).attr('data-oldaction');
                    });
                    return false;
                }
            });

            $.post('/Home/GetProdutosFloricultura/', { origem: 'Flor Da Lins' }, function (data) {
                if (data != undefined && data != "") {
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Value != "") {
                            $("#ProdutoTamanhoID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);

                            $("#ProdutoTamanhoID option:eq(" + (i + 1) + ")").attr('data-valor', data[i].Extra);
                        }
                    }
                }
                $("#ProdutoTamanhoID").show();
                $("#load_ProdutoTamanhoID").hide();
            });

            $("#LocalEntrega").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetLocalComID",
                        dataType: "json",
                        data: { local: $("#LocalEntrega").val(), cidadeID: $("#CidadeEntregaID").val(), estadoID: $("#EstadoEntregaID").val() },
                        success: function (data) {
                            response($.map(data, function (item, i) {
                                return { value: item, Key: i };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    if(ui.item.Key == "0"){
                        return false;
                    }
                    else{
                        $("#LinkLocal span").html(ui.item.value);
                        $("#LocalID").val(ui.item.Key);
                    }
                },
                minLength: 3,
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            $('#pedidos').addClass('active');

            $('#i_pedidos_floricultura_novo').addClass('active');

            $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });

            $(".ValorProduto").maskMoney();
            $("#ValorPago").maskMoney();
            $("#ValorRepasse").maskMoney();

            $("#FormaPagamentoID").change(function () {
                $("#divParcela").hide();
                $("#MeioPagamentoID").get(0).options.length = 0;

                $("#Parcelas").hide();

                switch ($("#FormaPagamentoID").val()) {
                    case "1":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Cartão de Crédito via Cielo", "7");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Cartão de Crédito via Redecard", "1");
                        $("#Parcelas").show();
                        break;
                    case "2":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Débito", "2");
                        break;
                    case "3":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Dinheiro", "3");
                        break;
                    case "4":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Cheque", "4");
                        $("#Parcelas").show();
                        break;
                    case "5":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Cartão de Crédito via Cielo", "7");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Cartão de Crédito via Redecard", "1");
                        $("#MeioPagamentoID").get(0).options[2] = new Option("Débito", "2");
                        $("#MeioPagamentoID").get(0).options[3] = new Option("Dinheiro", "3");
                        $("#MeioPagamentoID").get(0).options[4] = new Option("Cheque", "4");
                        $("#MeioPagamentoID").get(0).options[5] = new Option("Depósito", "6");
                        $("#MeioPagamentoID").get(0).options[6] = new Option("Depósito Itaú", "8");
                        $("#MeioPagamentoID").get(0).options[7] = new Option("Depósito Bradesco", "9");
                        $("#MeioPagamentoID").get(0).options[8] = new Option("Depósito BB", "10");
                        $("#MeioPagamentoID").get(0).options[9] = new Option("Depósito Caixa", "11");
                        break;
                    case "6":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Depósito", "6");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Depósito Itaú", "8");
                        $("#MeioPagamentoID").get(0).options[2] = new Option("Depósito Bradesco", "9");
                        $("#MeioPagamentoID").get(0).options[3] = new Option("Depósito BB", "10");
                        $("#MeioPagamentoID").get(0).options[4] = new Option("Depósito Caixa", "11");
                        break;
                }

            });

            $("#StatusPagamentoID").change(function () {
                if ($("#StatusPagamentoID").val() == "2") {
                    $("#divDataPagamento").show();
                } else {
                    $("#divDataPagamento").hide();
                }
            });

            var _nmCidadeEntregaSelecionada = '';
            var _idCidadeEntregaSelecionada = '';
            var _nmLocalEntregaSelecionado = '';
            var _idLocalEntregaSelecionado = '';

            var boleto = function () {
                if ($("#FormaPagamentoID").val() == "3")
                    return true;
                else
                    return false;
            };

            function CalculaCoroa() {
                var valor = parseFloat(0);

                $(".ValorProduto").each(function () {
                    if ($(this).val() != "") {
                        valor += parseFloat($(this).val().replace('.', '').replace(',', '.'));
                    }
                });

                $("#Valor").html((valor).toFixed(2).replace('.', ','));
                $("#ValorTotal").val(valor.toFixed(2).replace('.', ','));
                $("#ValorDesconto").val("0,00");

                if($("input[name='TipoID']:checked").val() == "2" || $("input[name='TipoID']:checked").val() == "1"){
                    $("#ValorRepasse").val((valor / 2).toFixed(2).replace('.', ','));
                }
            }

            $("#LocalEntregaId").change(function () {

                _nmLocalEntregaSelecionado = $("#LocalEntregaId :selected").text().split("-")[0].trim();
                _idLocalEntregaSelecionado = $('#LocalEntregaId option:selected').attr('value');
                $('#LocalID').val = _idLocalEntregaSelecionado;
                //_idLocalEntregaSelecionado = $('#LocalID').val();

                //if (_idLocalEntregaSelecionado == null || _idLocalEntregaSelecionado == "" || _idLocalEntregaSelecionado == "NULL") {
                //     $("#LocalID").val(0);
                //     $("#LocalEntregaId").val = _nmLocalEntregaSelecionado;
                //}
                //else
                //{
                //    if (_nmLocalEntregaSelecionado != "LOCAL NÃO CADASTRADO")
                //    {

                $.ajax(
                {
                    url: "/Home/GetLocalExiste",
                    dataType: "json",
                    data: {
                        local: _nmLocalEntregaSelecionado,
                        cidadeID: $("#CidadeEntregaID").val(),
                        estadoID: $("#EstadoEntregaID").val()
                    },
                    success: function (data) {
                        if (data == "false") {
                            $("#LocalID").val("0");
                        }
                        else {
                            var _localId = data.split(",")[1];
                            var _localText = data.split(",")[2];
                            var _localTel = data.split(",")[3];


                            $("#LocalID").val(_localId);
                            // $("#LocalEntregaId").val(_localId);
                            $("#LocalEntrega").val(_localText);
                            $("#TelLEnt").html("<br />Telefone do Local: " + _localTel);
                            $("#TelLEnt").show();
                        }
                    }
                });
                //}
                //}
            });



            function SelecionaClienteFuneraria() {

                $("#IdContatoFuneraria").val($("#ContatoFunerariaID").val());

                if ($("#ContatoFunerariaID").val() == 0 || $("#ContatoFunerariaID").val() == "") {
                    $("#LblCliente").html("Ainda não há um cliente Selecionado");
                }
                else {
                    $("#LblCliente").html("<a target='blank' href='/Funeraria/Editar/" + $("#ContatoFunerariaID").val() + "'>" + $("#ContatoFunerariaID option:selected").text() + "</a>");
                }
            };

            $("#ClienteID").change(function () {
                SelecionaCliente();
            });

            function SelecionaCliente() {
                $("#IdCliente").val($("#ClienteID").val());

                if ($("#ClienteID").val() == 0 || $("#ClienteID").val() == "") {
                    $("#LblCliente").html("Ainda não há um cliente Selecionado");
                }
                else {
                    $("#LblCliente").html("<a target='blank' href='/ClienteFloricultura/Edit/" + $("#ClienteID").val() + "'>" + $("#ClienteID option:selected").text() + "</a>");
                }
            }

            $("#FunerariaID").change(function () {
                $(".DrpContatosFuneraria").html("");
                $(".DrpContatosFuneraria").html("<label>Lista de Contatos da Funerária</label><select class='mws-textinput valid' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option></select>");

                $.post("/Funeraria/GetContatosFuneraria", { IdFuneraria: $(this).val() })
                    .done(function (data) {
                        if (data != "") {
                            var ResultDrp = "<label>Lista de Contatos da Funerária</label><select class='mws-textinput' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option>";
                            $.each(data, function (k, v) {
                                ResultDrp += "<option value='" + v.ID + "'>" + v.Nome + "</option>";
                            });
                            ResultDrp += "</select>";
                            $(".DrpContatosFuneraria").html(ResultDrp);

                            $("#ContatoFunerariaID").change(function () {
                                SelecionaClienteFuneraria();
                            });
                        }
                        else {
                            $(".DrpContatosFuneraria").html("<label>Lista de Contatos da Funerária</label><select class='mws-textinput' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option></select>");
                        }
                    });

            });

            // REGIAO BUSCA CLIENTE

            $(".FormBuscaCliente").keyup(function () {
                var nome = $("#BuscaNomeCliente").val().toUpperCase();
                var doc = $("#BuscaDocCliente").val().toUpperCase();
                var email = $("#BuscaEmailCliente").val().toUpperCase();

                $("#ClienteID option").remove();
                $("#ClienteID").html("<option value=''>-- selecione --</option>");

                $(".LoadingBuscaCliente").fadeIn(function () {
                    $.post("/ClienteFloricultura/GetClientes", { Nome: nome, CNPJ: doc, Email: email })
                        .done(function (data) {
                            $(".LoadingBuscaCliente").fadeOut(function () {
                                if (data != "") {
                                    var ResultDrp = "<label>Lista de Clientes</label><select class='mws-textinput' id='ClienteID' name='ClienteID'><option value=''>-- selecione --</option>";
                                    $.each(data, function (k, v) {
                                        ResultDrp += "<option value='" + v.ID + "'>" + v.NomeCompleto + " - " + v.DocumentoFormatado + "</option>";
                                    });
                                    ResultDrp += "</select>";
                                    $(".DrpContatos").html(ResultDrp);

                                    $("#ClienteID").change(function () {
                                        SelecionaCliente();
                                    });
                                }
                                else {
                                    $(".DrpContatosFuneraria").html("<label>Lista de Contatos da Funerária</label><select class='mws-textinput' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option></select>");
                                }
                            });
                        });
                });
            });

            // REGIAO BUSCA FUNERARIA

            $(".FormBuscaFunenraria").keyup(function () {

                var nome = $("#BuscaNomeFuneraria").val().toUpperCase();
                var cnpj = $("#BuscaCNPJFuneraria").val().toUpperCase();
                //var email = $("#BuscaEmailFuneraria").val().toUpperCase();

                $("#ContatoFunerariaID option").remove();
                $("#ContatoFunerariaID").html("<option value=''>-- selecione --</option>");

                $("#FunerariaID option").remove();
                $("#FunerariaID").html("<option value=''>-- selecione --</option>");

                $(".LoadingBusca").fadeIn(function () {
                    $.post("/Funeraria/GetFunerarias", { Nome: nome, CNPJ: cnpj, Email: "" })
                        .done(function (data) {
                            $(".LoadingBusca").fadeOut(function () {
                                if (data != "") {
                                    var ResultDrp = "<label>Lista de Funerárias</label><select class='mws-textinput' id='FunerariaID' name='FunerariaID'><option value=''>-- selecione --</option>";
                                    $.each(data, function (k, v) {
                                        ResultDrp += "<option value='" + v.ID + "'>" + v.RazaoSocial + " - " + v.DocumentoFormatado + "</option>";
                                    });
                                    ResultDrp += "</select>";
                                    $(".DrpFunerarias").html(ResultDrp);

                                    $("#FunerariaID").change(function () {
                                        $.post("/Funeraria/GetContatosFuneraria", { IdFuneraria: $(this).val() })
                                            .done(function (data) {
                                                if (data != "") {
                                                    var ResultDrp = "<label>Lista de Contatos da Funerária</label><select class='mws-textinput' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option>";
                                                    $.each(data, function (k, v) {
                                                        ResultDrp += "<option value='" + v.ID + "'>" + v.Nome + "</option>";
                                                    });
                                                    ResultDrp += "</select>";
                                                    $(".DrpContatosFuneraria").html(ResultDrp);

                                                    $("#ContatoFunerariaID").change(function () {
                                                        SelecionaClienteFuneraria();
                                                    });
                                                }
                                                else {
                                                    $(".DrpContatosFuneraria").html("<label>Lista de Contatos da Funerária</label><select class='mws-textinput' id='ContatoFunerariaID' name='ContatoFunerariaID'><option value=''>-- selecione --</option></select>");
                                                }
                                            });
                                    });

                                }
                                else {
                                    $(".DrpFunerarias").html("<label>Lista de Funerárias</label><select class='mws-textinput' id='FunerariaID' name='FunerariaID'><option value=''>-- selecione --</option></select>");
                                }
                            });
                        });
                });
            });


            $("#ValorDesconto").blur(function () {
                var valor1 = parseFloat($("#ProdutoTamanhoID").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));
                var desconto = parseFloat($("#ValorDesconto").val().replace('.', '').replace(',', '.'));

                $("#ValorTotal").val(((valor1 + valor2) - desconto).toFixed(2).replace('.', ','));
            });

            $(".ValorProduto").keyup(function () {
                CalculaCoroa();
            });

            $("#ProdutoTamanhoID").change(function () {
                $("#ValorProduto1").val($("#ProdutoTamanhoID :selected").attr("data-valor"));
                if ($("#ProdutoTamanhoID").val()) {
                    $(".divProduto2").show();
                }
                else {
                    $(".divProduto2").hide();
                    $("#DescricaoProduto2").val("");
                }
                CalculaCoroa();
            });

            $('.OnlyNumber').ForceNumericOnly();

            $("input[name='TipoID']").click(function () {
                $(".ActiveSearch").fadeOut(function () {

                    $("#IdCliente").val("");
                    $("#IdContatoFuneraria").val("");
                    $("#LblCliente").html("Ainda não há um cliente Selecionado");

                    $("#NomeComprador").val("");
                    $("#ContatoComprador").val("");

                    $(this).removeClass("ActiveSearch");

                    if ($("input[name='TipoID']:checked").val() == "1") {
                        $("#Cliente").fadeIn();
                        $("#Cliente").addClass("ActiveSearch");
                        $("#Repasse").show();
                        $("#ContatoCompradorFuneraria").hide();
                    }
                    if ($("input[name='TipoID']:checked").val() == "2") {
                        $("#Funenaria").fadeIn();
                        $("#Funenaria").addClass("ActiveSearch");
                        $("#OrigemID").val(3);
                        $("#Repasse").show();
                        $("#ContatoCompradorFuneraria").show();
                    }
                    if ($("input[name='TipoID']:checked").val() == "3") {
                        $("#Balcao").fadeIn();
                        $("#Balcao").addClass("ActiveSearch");
                        $("#LblCliente").html("<a target='blank' href='/Funeraria/Editar/17 '>BALCÃO</a>");
                        $("#IdCliente").val("17");
                        $("#OrigemID").val(1);
                        $("#Repasse").hide();
                        $("#ContatoCompradorFuneraria").hide();
                    }
                });
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    if ($("#IdCliente").val() == "" && $("#IdContatoFuneraria").val() == "") {
                        alert('Você deve selecionar um cliente ou um contato de uma funerária');
                    }
                    else {
                        var valortotal = 0;
                        if ($("#ValorTotal").val() != 'undefined' && $("#ValorTotal").val() != "NaN") {
                            valortotal = parseFloat($("#ValorTotal").val().replace('.', '').replace(',', '.'));
                        }
                        if (valortotal > 0) {
                            if ($("input[name='TipoID']:checked").val() == "2" && $("input[name='SemCPFCNPJ']:checked").val() != "on") {
                                if (ValidaCNPJ($("#Documento").val())) {
                                    form.submit();
                                } else {
                                    alert('CNPJ inválido, por favor, digite corretamente.');
                                }
                            } else if ($("input[name='TipoID']:checked").val() == "1" && $("input[name='SemCPFCNPJ']:checked").val() != "on") {
                                if (ValidaCPF($("#Documento").val())) {
                                    form.submit();
                                } else {
                                    alert('CPF inválido, por favor, digite corretamente.');
                                }
                            } else {
                                form.submit();
                            }
                        } else {
                            alert('O valor total a ser pago deve ser maior que zero. Por favor, ajuste para proesseguir.');
                        }
                    }
                },
                rules: {
                    OrigemID: "required",
                    ValorPago: "required",
                    ContatoFunerariaID: "required",
                    ProdutoTamanhoID: "required",
                    ValorProduto1: "required",
                    Email: {
                        email: true
                    },
                    //FormaPagamentoID: "required",
                    //MeioPagamentoID: "required",
                },
                messages: {
                    OrigemID: "O Campo origem é obrigatório",
                    ValorPago: "O Campo origem é obrigatório",
                    RazaoSocial: "O campo razão social é obrigatório",
                    NomeSolicitante: "O campo nome do solicitante é obrigatório",
                    Logradouro: "O campo logradouro é obrigatório para a forma de pagamento boleto",
                    Numero: "O campo número é obrigatório para a forma de pagamento boleto",
                    Bairro: "O campo bairro é obrigatório para a forma de pagamento boleto",
                    CEP: "O campo CEP é obrigatório para a forma de pagamento boleto",
                    EstadoID: "O campo estado é obrigatório",
                    CidadeID: "O campo estado é obrigatório",
                    TipoID: "O campo tipo é obrigatório",
                    Email: {
                        email: "Digite um e-mail válido"
                    },
                    EmailSecundario: {
                        email: "Digite um e-mail válido"
                    },
                    EmailSolicitante: {
                        email: "Digite um e-mail válido"
                    },
                    Documento: {
                        required: "O campo é obrigatório para a forma de pagamento boleto",
                        cpf: "Digite um CPF válido",
                        cnpj: "Digite um CNPJ válido"
                    },
                    ContatoFunerariaID: "O campo Contato é obrigatório",
                    ProdutoTamanhoID: "O campo produto é obrigatório",
                    ValorProduto1: "O campo Valor é obrigatório",
                    TelefoneContato: "O campo telefone é obrigatório",
                    DataEntrega: "O campo data de entrega é obrigatório",
                    EstadoEntregaID: "O campo estado de entrega é obrigatório",
                    CidadeEntregaID: "O campo cidade de entrega é obrigatório",
                    // LocalEntrega: "O campo local de entrega é obrigatório",
                    //FormaPagamentoID: "O campo forma de pagamento é obrigatório",
                    //MeioPagamentoID: "O campo meio de pagamento é obrigatório",
                    //OrigemTel: "O telefone de Origem é obrigatório",
                }
            });

        });
</script>
<script>
    function ValidateFileUpload() {
        var fuData = document.getElementById('Comprovante');
        var FileUploadPath = fuData.value;

        //To check if user upload any file
        if (FileUploadPath == '') {
            alert("Please upload an image");

        } else {
            var Extension = FileUploadPath.substring(
                    FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

            //The file uploaded is an image

            if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                                || Extension == "jpeg" || Extension == "jpg") {

                // To Display
                if (fuData.files && fuData.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(fuData.files[0]);
                }

            }

                //The file upload is NOT an image
            else {
                alert("Somente imagens GIF, PNG, JPG, JPEG e BMP. ");

            }
        }
    }
</script>
