﻿ @{ 
     Layout = null;
 }
<title>
    Formulário de Entrega - @ViewBag.pedido.Numero
</title>
<link href="/Content/PrintFloricultura.css" rel="stylesheet" />
<center>
    <div class="contentSection">
        <a href="#" id="printOut">IMPRIMIR ESSA PÁGINA</a>
        <br />
        <br />
    </div>
</center>
<div class="contentToPrint" style="padding: 5px; margin: auto;">
    <center>
        <img style="margin-right: 10px; vertical-align:  middle;" width="100" src="http://d26lpennugtm8s.cloudfront.net/stores/114/951/themes/common/logo-77322233-1481217593-6a34aef0293938cb2ff33856a5b291d91481217593.png?0" />        
        <table style="text-align: left; margin-top: 15px; font-family: Arial; font-size: 14px;">
            <tr>
                <td>
                    <center>
                        <h2>RECIBO - @ViewBag.pedido.Numero</h2>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="PrintTable" style="font-size: 14px; width: 800px;">
                        <tr>
                            <td>
                                <p>                                    
                                    VALOR: <b style="font-size: 16px;">@ViewBag.ValorTotal.ToString("C2")</b>
                                </p>
                                <p style="line-height: 30px;">
                                    Recebemos de: <b style="font-size: 16px;">@ViewBag.Contratante</b>, a Importância no valor de: <b style="font-size: 16px;">@ViewBag.ValorExtenso</b>, referente a compra do(s) produto(os): <b style="font-size: 16px;">@ViewBag.ProdudoExtenso</b> 
                                </p>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <center>
                        São Paulo @DateTime.Now.Day de @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month)) de @DateTime.Now.Year
                        <p>
                            Floricultura Flor da Lins - CNPJ: 07.263.517/0001-12
                        </p>  		
						<p>
						E-mail: contato@flordalins.com.br - Telefone: (11) 5573-0334 	
                        </p>									
                    </center>
                </td>
            </tr>
        </table>
    </center>
    <center style="font-size: 10px; margin-top: 15px;">
        ID @ViewBag.pedido.ID / PRINT DATE @DateTime.Now.ToShortDateString()
    </center>
</div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#printOut').click(function (e) {
                e.preventDefault();
                var w = window.open();
                var printOne = $('.contentToPrint').html();                
                w.document.write('<html><head><title>Formulário de Entreda da Flor da Lins</title></head><body>' + printOne) + '</body></html>';
                w.window.print();
                w.document.close();
                return false;
            });
        });
    </script>
