﻿ @{ 
     Layout = null;
 }
<title>
    Formulário de Entrega - @ViewBag.pedido.Numero
</title>
<link href="/Content/PrintFloricultura.css" rel="stylesheet" />
<center>
    <div class="contentSection">
        <a href="#" id="printOut">IMPRIMIR ESSA PÁGINA</a>
        <br />
        <br />
    </div>
</center>
<div class="contentToPrint" style="padding: 20px; width: 700px; margin: auto;">
    <center>
        <img width="100" src="http://d26lpennugtm8s.cloudfront.net/stores/114/951/themes/common/logo-77322233-1481217593-6a34aef0293938cb2ff33856a5b291d91481217593.png?0" />        
        <table style="text-align: left; margin-top: 15px; text-transform: uppercase; font-family: Arial; font-size: 11px !important;">
            <tr>
                <td>
                    <h2>
                        Formulário de Entrega - @ViewBag.pedido.Numero
                    </h2>
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <table id="PrintTable" style="font-size: 10px; width: 700px;">
                        <tr>
                            <td width="100px">
                                <b>Local de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.LocalDeEntrega
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Horário de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.HorarioEntrega
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Homenageado: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.Homenageado
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Cobrar no Local: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.CobrarNoLocal
                            </td>
                        </tr>
                        @{
                            if (ViewBag.CobrarNoLocal == "SIM")
                            {
                                <tr>
                                    <td>
                                        <b>Forma PAGT: </b>
                                    </td>
                                    <td class="bg" style="padding: 2px; border-bottom: 1px solid black">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>valor: </b>
                                    </td>
                                    <td class="bg" style="padding: 2px; ">
                                        @ViewBag.ValorTotalPedido
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                <b>Contratante: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.Contratante
                            </td>
                        </tr>
                        <tr>
						<tr>
                            <td>
                                <b>Data de Formalização: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.DataCriacao
                            </td>
                        </tr>
                        <tr>						
                            <td>
                                <b>Recebido por: </b>
                            </td>
                            <td class="bg" style="padding: 2px; border-bottom: 1px solid black; height: 20px;">
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Relacionamento: </b>
                            </td>
                            <td class="bg" style="padding: 2px; border-bottom: 1px solid black; height: 20px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <b>Data / Horario Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; border-bottom: 1px solid black; height: 20px;"></td>
                        </tr>
                    </table>
                    <table style="width: 100%; margin-top: 3px; font-size: 10px;">
                        <tr>
                            <td>
                                <center>
                                    <h3>
                                        Produtos
                                    </h3>
                                </center>
                                <hr />
                            </td>
                        </tr>
                        @{
                            foreach (var Produto in ViewBag.Produtos)
                            {
                                <tr>
                                    <td style="padding: 2px; ">
                                        <b>@Produto.Descricao - @Produto.ProdutoTamanhoPrecoFloricultura.ProdutoTamanhoFloricultura.Nome </b>
                                        <p>
										<p>
										<b>OBS:</b> @Produto.Obs
										</p>
										<p>
                                         <b>Homenageado(a):</b>   @Produto.Mensagem
                                        </p>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
			
        </table>
    </center>
    <center style="font-size: 10px; margin-top: 10px;">
        ID @ViewBag.pedido.ID / PRINT DATE @DateTime.Now.ToShortDateString()
    </center>
</div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#printOut').click(function (e) {
                e.preventDefault();
                var w = window.open();
                var printOne = $('.contentToPrint').html();                
                w.document.write('<html><head><title>Formulário de Entreda da Flor da Lins</title></head><body>' + printOne) + '</body></html>';
                w.window.print();
                w.document.close();
                return false;
            });
        });
    </script>
