﻿.alert {
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 15px;
    @include cpv-border-radius(3px);

    p {
        margin: 0;
    }
}

.alert-success {
    background: $success-bg;
    border-color: $success-brd;
    color: $success-font;
}

.alert-attention {
    background: $attention-bg;
    border-color: $attention-brd;
    color: $attention-font;
}