.checkout-button {
    font-size: 18px;
    font-family:Trebuchet MS,Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    padding:10px 20px;
    color: white;
    @media (max-width: $screen-xs-max) {
        font-size: 16px;
    }

    &:hover {
        color: white;
    }
}

.checkout-cancel{
	padding:11px 20px;
    font-size:16px;
    color:#797979;
    background-color:#e0e0e0;

    &:hover{
	    background-color:#d3d3d3;
    }
}

.btn-grey {
    background: #c4c4c4;
    @extend .checkout-button;

    &:hover {
        background: #b5b5b5;
    }
}

.checkout-go {
    background-color:#f10103;
    @extend .checkout-button;
    

    &:hover {
        background-color:#fe2829;
    }

    span {
        margin-left:10px;
    }
}

.checkout-sec {
    background-color:#b7b724;
    @extend .checkout-button;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        text-align: center;
    }

    &:hover{
	    background-color:#cccc28;        
    }
}

.-baselabel {
    margin-top: 24px;
}

.btn-green {
    background: $base-green;
    color: white;

    &:hover {
        background: lighten($base-green, 5%);
        color: white;
    }
}