body {
	@media (max-width: $screen-xs-max) {
		min-width: 310px;
	}
}

body, body * {
	font-family: $trebuchet;
}

.r {text-align: right}
.c {text-align: center}
.l {text-align: left}

textarea {
	resize: vertical;
}

body>.lining, section>.lining {
	margin-right: 0;
	margin-left: 0;
}

h1, span#simulacrum {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: $display-font;
	display: inline-block;
}

.internal h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.internal h1 + h2, .internal h2 + h2, .internal h2 + p {
	font-family: $trebuchet;
	font-size: $large-font - 4px;
	margin: 0 0 40px 0;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	text-align: center;
}

h6 {
	font-size: $basefont;
}

small, .small {
	font-size: 80%;
}

.form-control {
	@include cpv-border-radius(1px);
}

.btn-checkout {
	color: white;
    background: $base-red;
    background: -webkit-linear-gradient(lighten($base-red, 3%) 50%, $base-red 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lighten($base-red, 3%) 50%, $base-red 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lighten($base-red, 3%) 50%, $base-red 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lighten($base-red, 3%) 50%, $base-red 50%); /* Standard syntax */
	text-transform: uppercase;
	padding: 10px 45px;
	font-size: $large-font - 4px;

	&:hover, &:focus {
		color: white;
		background: lighten($base-red, 5%);
        background: -webkit-linear-gradient(lighten($base-red, 7%) 50%, lighten($base-red, 5%) 50%); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lighten($base-red, 7%) 50%, lighten($base-red, 5%) 50%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lighten($base-red, 7%) 50%, lighten($base-red, 5%) 50%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lighten($base-red, 7%) 50%, lighten($base-red, 5%) 50%); /* Standard syntax */
	}
}

.btn-cta {
	text-transform: uppercase;
	font-size: $large-font - 4px;
}

.breadcrumb {
	background-color: transparent;
	@include cpv-border-radius(0px);
	margin: 0;
	padding-left: 0;
	padding-right: 0;

	a {
		color: $dark-gray;
	}

	.active {
		font-weight: bold;
	}
}

@media (max-width: $screen-sm-max) {
	form {

		.form-group {

			.col-md-6:first-of-type {
				margin-bottom: 15px;
			}
		}
	}
}