body.checkout-proccess .divider{
	height:0;
    width:100%;
    border-bottom:1px solid #e0e0e0;
    margin-bottom:30px;
}
@media (max-width: 767px){
	body.checkout-proccess .divider{
		border:none
	}
}

body.checkout-proccess .cart .info {
	padding: 7px 10px;
	text-align: left;
	text-transform: uppercase;
	background-color: $soft-gray;
	border-left: 3px solid $light-gray;
	color: $deep-gray;
	position: relative;
	cursor: default;
    min-height: 415px;
}

@media(max-width: $screen-xs-max) {
	body.checkout-proccess #order-cupom {
		text-align: center;

		.form-group {
			margin-bottom: 0;
		}

		.form-control {
			text-align: center;
		}

		.btn-default {
			margin-top: 5px;
		}
	}
}

body.checkout-proccess #cupom {
	text-transform: uppercase;
}

body.checkout-proccess section.dialog-box{
	position:fixed;top:0;left:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.6);z-index:1000
}

body.checkout-proccess section.dialog-box div{
	width:100%;max-width:400px;padding:35px 25px;text-align:center;background:#f5f5f5;border-bottom:4px solid #e0e0e0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;margin:15% auto 0;position:relative;-webkit-box-shadow:3px 2px 6px rgba(0,0,0,0.4);-moz-box-shadow:3px 2px 6px rgba(0,0,0,0.4);box-shadow:3px 2px 6px rgba(0,0,0,0.4);font-family:Arial,Verdana,Helvetica,sans-serif
}

@media (max-width: 450px){
	body.checkout-proccess section.dialog-box div{
		max-width:300px
	}
}

body.checkout-proccess section.dialog-box div>span{
	color:white;font-size:18px;position:absolute;right:-4px;top:-22px;cursor:pointer
}

body.checkout-proccess section.dialog-box div>span:hover{
	color:#e6e6e6
}

body.checkout-proccess section.dialog-box div p{
	color:#797979;font-size:16px
}

body.checkout-proccess section.dialog-box div .form-control{
	margin:10px 0 15px;padding:10px 15px;height:36px;color:#555;text-align:center
}

body.checkout-proccess section.dialog-box div .checkout-go{
	border-bottom:3px solid #af0102;margin-bottom:0
}

body.checkout-proccess section.dialog-box div .checkout-cancel{
	border-bottom:3px solid #a8a8a8;margin-bottom:0
}

body.checkout-proccess section#main-header a img{
	max-width:140px
}

body.checkout-proccess section#main-header ul li:first-of-type{
	border-right:none;text-transform:none;color:#797979
}

body.checkout-proccess section#breadcrumbs{
	margin:30px 0;background-color:transparent
}

@media (max-width: 767px){
	body.checkout-proccess section#breadcrumbs{
		margin-top:0
	}

	body.checkout-proccess section#breadcrumbs .container{
		max-width:100%
	}

	body.checkout-proccess section#breadcrumbs .container .col-md-12{
		padding:0
	}

	body.checkout-proccess section#breadcrumbs .container .col-md-12 ol{
		padding-left:10px;padding-right:10px
	}
}

body.checkout-proccess section#breadcrumbs ol{
	border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0
}

@media (max-width: 767px){
	body.checkout-proccess section#breadcrumbs li:last-of-type{
		display:none
	}
}

body.checkout-proccess .product h1{
	text-transform:uppercase;font-family:Arial,Verdana,Helvetica,sans-serif;display:block;width:100%;font-weight:bold
}

@media (min-width: 1200px){
	body.checkout-proccess .product h1{
		font-size:30px;margin-bottom:6px
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	body.checkout-proccess .product h1{
		font-size:26px;letter-spacing:-0.5px
	}
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .product h1{
		font-size:22px;letter-spacing:-0.5px
	}
}

@media (max-width: 767px){
	body.checkout-proccess .product h1{
		text-align:center;font-size:22px
	}
}

body.checkout-proccess .product *, .makingof2 *, .pqcf *, .sf *, .descr-product *, .ft *, .fp *, .fh *, .avaliacao *, .backtotop * {
    font-family: $opensans;
}

body.checkout-proccess .product p{
	margin-bottom: 8px;
    color: #555;
    line-height: 1.2;
}

@media (max-width: 767px){
	body.checkout-proccess .product p{
		text-align:center;font-size:16px
	}
}

body.checkout-proccess .product ul{
	list-style:none;padding:0;margin:0
}

body.checkout-proccess .product .col-md-6:first-of-type{
	text-align:center
}

body.checkout-proccess .product .col-md-6:first-of-type>span{
	display:inline-block;overflow:hidden;text-align:center;width:100%;height:0;padding-bottom:100%;max-width:400px;max-height:400px
}

body.checkout-proccess .product .col-md-6:first-of-type>span img{
	width:100%;height:auto
}

.checkout-proccess .size.pull-left {
    @media (max-width: $screen-xs-max) {
        float: none!important;
        margin-top: 50px;
    }
    
    @media (min-width: $screen-lg-min) {
        float: none!important;
    }
}

body.checkout-proccess .product .picksize {
    text-align: center;
    margin-top: 24px;

    p {
        margin-bottom: 5px;
        font-size: 13px;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            width: 110px;
            height: 65px;
            background-color: #f5f5f5;
            border: 1px solid #e0e0e0;
            color: #797979;
            padding: 5px 0;
            cursor: pointer;
            position: relative;

            @media (max-width: 767px) {
                width: 90px;
                height: 60px;
                padding: 2px 0 10px;
            }

            &:last-of-type {

                &:hover i {
                    background: $success-font;
                    color: white;
                }

                &.selecionado i {
                    display: none;
                }

                i {
                    position: absolute;
                    display: block;
                    border: 1px solid $success-font;
                    color: $success-font;
                    padding: 3px 5px;
                    position: absolute;

                    @media (max-width: $screen-sm-max) {
                        top: 12px;
                        left: calc(100% + 20px);
                        font-size: $tiny-font;
                        width: 75px;
                    }

                    @media (max-width: $screen-xs-max) {
                        top: 0;
                        margin-top: -60px;
                        left: 50%;
                        margin-left: -20px;
                    }

                    @media (min-width: $screen-md-min) {
                        top: 7px;
                        left: calc(100% + 30px);
                        width: 100px;
                    }

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid $success-font;

                        @media (min-width: $screen-md-min) {
                            border-top-width: 20px;
                            border-bottom-width: 20px;
                            border-right-width: 20px;
                            left: -24px;
                            top: 4px;
                        }

                        @media (max-width: $screen-sm-max) {
                            left: -14px;
                            top: 8px;
                        }

                        @media (max-width: $screen-xs-max) {
                            left: calc(50% - 10px);
                            top: calc(100% + 3px);
                            border-top-width: 20px;
                            border-bottom-width: 20px;
                            border-right-width: 20px;
                            border-top: 10px solid $success-font;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                        }
                    }

                    b {
                        display: block;
                        font-style: normal;

                        @media (max-width: $screen-sm-max) {
                            font-size: $basefont;
                        }

                        @media (min-width: $screen-md-min) {
                            font-size: $basefont + 4px;
                        }
                    }
                }
            }
            /*&:last-of-type {
                border-color: #d6e9c6;
                background: #dff0d8;
                color: #3c763d;
                height: 75px;
                position: relative;
                top: 6px;
                padding: 0;

                i {
                    display: block;
                    text-align: center;
                    font-size: 11px;
                    font-weight: bold;
                }

                &.selecionado {

                    .NaoSelecionado1, .NaoSelecionado2 {
                        position: relative;
                        top: 10px;
                    }

                    i {
                        opacity: 0;
                    }
                }
            }*/
            &:hover, &.active, &.selecionado {
                background-color: #797979;
                border-color: #797979;
                color: white;

                span {
                    position: absolute;
                    top: 100%;
                    left: 30px;
                    width: 0;
                    height: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-top: 20px solid #797979;

                    @media (max-width: 767px) {
                        left: 30px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #797979;
                    }
                }
            }

            u {
                font-size: 22px;
                text-decoration: none;
                font-weight: bold;
                display: block;
                width: 100%;
            }
        }
    }
}

body.checkout-proccess .product .pricing{
	text-align:center
}

body.checkout-proccess .product .pricing ul{
	border-top:1px solid #e0e0e0;margin-top:30px;padding-top:15px;display:inline-block
}

@media (min-width: 768px){
	body.checkout-proccess .product .pricing ul{
		width:368px
	}
}

@media (max-width: 767px){
	body.checkout-proccess .product .pricing ul{
		margin-top:20px;width:278px
	}

	body.checkout-proccess .product .pricing ul li.Valores2 {
		width: 70%
	}

	body.checkout-proccess .product .pricing ul li.Valores1 {
		width: 30%
	}
}

body.checkout-proccess .product .pricing ul li{
	display:inline-block;width:50%;font-size:26px;float:left;text-align:left
}

body.checkout-proccess .product .pricing ul li:last-of-type{
	text-align:right;font-size:16px
}

body.checkout-proccess .product .cta-buy{
	text-align:center
}

body.checkout-proccess .product .cta-buy>ul{
	margin-top: 20px;
}

@media (min-width: 768px){
	body.checkout-proccess .product .cta-buy>ul{
		width:368px;display:inline-block
	}
}

body.checkout-proccess .product .cta-buy>ul li{
	display:inline-block;float:left;text-align:left;padding-top:20px;width:40%
}

@media (max-width: 767px){
	body.checkout-proccess .product .cta-buy>ul li{
		width:100%;text-align:center;margin-bottom:15px
	}

}

body.checkout-proccess .product .cta-buy>ul li:last-of-type{
	text-align:right;padding-top:0;width:99%
}

@media (max-width: 767px){
	body.checkout-proccess .product .cta-buy>ul li:last-of-type{
		width:100%;text-align:center
	}
}

body.checkout-proccess .product .cta-buy>ul li .btn-checkout{
	font-size: $large-font + 2px;
    font-family: $trebuchet;
    padding: 10px 40px;
}

body.checkout-proccess .product ul.argumentum{
	background-color: #f5f5f5;
    color: #555;
    cursor: default;
    margin-top: 30px;
    @extend .clearfix;
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .product ul.argumentum{
		margin-top: 15px;
	}
}

body.checkout-proccess .product ul.argumentum li{
	float:left;width:33.333333%;padding:15px 10px;text-align:center;text-transform:uppercase;font-weight:bold;font-size:13px
}

@media (max-width: 767px){
	body.checkout-proccess .product ul.argumentum li{
		width:100%;padding:5px 10px
	}
	
	body.checkout-proccess .product ul.argumentum li+li{
		border-top:1px solid #e0e0e0
	}
}

body.checkout-proccess .product ul.argumentum li span{
	width:27px;height:27px;display:inline-block;background-image:url("../img/ui/spritesheet.png");background-position:center;background-size:auto;background-repeat:no-repeat
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .product ul.argumentum li span{
		margin-top:10px
	}
}

body.checkout-proccess .product ul.argumentum li#arg-faixa span{
	background-position:0px -787px
}

body.checkout-proccess .product ul.argumentum li#arg-faturamento span{
	background-position:-27px -787px
}

body.checkout-proccess .product ul.argumentum li#arg-cartao span{
	background-position:-54px -787px
}

body.checkout-proccess .product ul.argumentum li u{
	text-decoration:none;position:relative;top:-7px
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .product ul.argumentum li u{
		top:-13px
	}
}

body.checkout-proccess section.trustvox{
	text-align:center;margin-top:30px
}

body.checkout-proccess section.trustvox h2{
	font-size:20px;color:#555;padding-bottom:5px;border-bottom:1px solid #e0e0e0
}


@media (min-width: 768px){
	body.checkout-proccess .cart.nav-buttons .lining .col-sm-6+.col-sm-6{
		text-align:right
	}
}

@media (max-width: 767px){
	body.checkout-proccess .cart.nav-buttons{
		text-align:center
	}
	
	body.checkout-proccess .cart.nav-buttons h1{
		margin-bottom:10px
	}
}

body.checkout-proccess .cart.order{
	margin-top:20px
}

body.checkout-proccess .cart.order .cart-card.heading{
	background-color:#555;color:white;padding:12px 20px;font-weight:bold;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px
}

@media (min-width: 1200px){
	body.checkout-proccess .cart.order .cart-card.heading{
		font-size:16px
	}
}

body.checkout-proccess .cart.order .cart-card.heading .col-md-2,body.checkout-proccess .cart.order .cart-card.heading .col-md-1{
	text-align:center
}

body.checkout-proccess .cart.order .cart-card.divider{
	padding-top:1px;border:1px solid #e0e0e0;border-bottom-width:2px;display:block;width:100%;margin-bottom:0
}

body.checkout-proccess .cart.order .cart-card.item-list{
	padding:15px 20px;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card.item-list{
		border:none;text-align:center
	}
}

body.checkout-proccess .cart.order .cart-card.item-list:nth-of-type(odd){
	background-color:#f5f5f5
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-7 span{
	@include cpv-cropper(100px, 0, 100px);
	float: left;
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .cart.order .cart-card.item-list .col-md-7 span{
		width: 80px;
		padding-bottom: 80px;
	}
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card.item-list .col-md-7 span{
		width: 100%;
		max-width: 200px;
		height: 230px;
		max-height: 230px;
		padding-bottom: 0;
		float: none;
		margin-bottom: 15px;
	}
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-7 span img{
	width:100%;height:auto
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-2,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1{
	padding-top:41px;text-align:center
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .cart.order .cart-card.item-list .col-md-2,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1{
		padding-top:35px
	}
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card.item-list .col-md-2,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1{
		padding-top:15px
	}
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-2 span,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1 span{
	font-size:20px;cursor:pointer
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .cart.order .cart-card.item-list .col-md-2 span,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1 span{
		font-size:16px
	}
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-2 span:hover,body.checkout-proccess .cart.order .cart-card.item-list .col-md-1 span:hover{
	color:#af0102
}

body.checkout-proccess .cart.order .cart-card.item-list .col-md-2+.col-md-2{
	font-size:18px
}

body.checkout-proccess .cart.order .cart-card.item-list strong{
	display:block;margin:41px 20px;float:left;font-size:18px;font-weight:normal;text-transform:uppercase
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .cart.order .cart-card.item-list strong{
		font-size:14px;width:calc(100% - 80px);margin:35px 0;padding:0 10px
	}
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card.item-list strong{
		float:none;margin:0;padding:0;font-size:16px
	}
}

body.checkout-proccess .cart.order .cart-card.item-list strong i {
	color: $base-blue;
	font-size: $tiny-font;
}

body.checkout-proccess .cart.order .cart-card.item-list u {
	font-size: $small-font;
	text-decoration: none;
}

body.checkout-proccess .cart.order .cart-card#order-subtotal,body.checkout-proccess .cart.order .cart-card#order-frete,body.checkout-proccess .cart.order .cart-card#order-cupom,body.checkout-proccess .cart.order .cart-card#order-total,body.checkout-proccess .cart.order .cart-card#order-desconto{
	border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding:15px 20px
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card#order-subtotal,body.checkout-proccess .cart.order .cart-card#order-frete,body.checkout-proccess .cart.order .cart-card#order-cupom,body.checkout-proccess .cart.order .cart-card#order-total,body.checkout-proccess .cart.order .cart-card#order-desconto{
		border-left:none;border-right:none
	}
}

body.checkout-proccess .cart.order .cart-card#order-subtotal .col-md-2,body.checkout-proccess .cart.order .cart-card#order-subtotal .col-md-1,body.checkout-proccess .cart.order .cart-card#order-frete .col-md-2,body.checkout-proccess .cart.order .cart-card#order-frete .col-md-1,body.checkout-proccess .cart.order .cart-card#order-cupom .col-md-2,body.checkout-proccess .cart.order .cart-card#order-cupom .col-md-1,body.checkout-proccess .cart.order .cart-card#order-total .col-md-2,body.checkout-proccess .cart.order .cart-card#order-total .col-md-1,body.checkout-proccess .cart.order .cart-card#order-desconto .col-md-2,,body.checkout-proccess .cart.order .cart-card#order-desconto .col-md-1{
	text-align:center
}

body.checkout-proccess .cart.order .cart-card#order-subtotal,body.checkout-proccess .cart.order .cart-card#order-frete,body.checkout-proccess .cart.order .cart-card#order-desconto{
	font-size:18px;text-transform:uppercase
}

body.checkout-proccess .cart.order .cart-card#order-total{
	background:#f0f0e1;color:#b7b724;font-weight:bold;text-transform:uppercase;font-size:26px;margin-bottom:20px
}

@media (max-width: 767px){
	body.checkout-proccess .cart.order .cart-card#order-total{
		font-size:22px
	}
}

body.checkout-proccess .cart.foot-buttons{
	text-align:right;margin-bottom:30px;
}

@media (max-width: 767px){
	body.checkout-proccess .cart.foot-buttons{
		text-align:center;
	}

	body.checkout-proccess .cart.foot-buttons .btn{
		margin-bottom:10px;
	}

	body.checkout-proccess .cart.foot-buttons .btn.checkout-sec{
		font-size:16px;
	}
}

body.checkout-proccess .login-signup{
	margin-bottom:60px
}

body.checkout-proccess .login-signup .login-card,body.checkout-proccess .login-signup .signup-card{
	background-color:#f5f5f5;border-bottom:3px solid #e0e0e0
}

@media (min-width: 768px){
	body.checkout-proccess .login-signup .login-card,body.checkout-proccess .login-signup .signup-card{
		height:265px
	}
}

@media (max-width: 767px){
	body.checkout-proccess .login-signup .login-card,body.checkout-proccess .login-signup .signup-card{
		margin-bottom:20px
	}
}

body.checkout-proccess .login-signup .login-card>span,body.checkout-proccess .login-signup .signup-card>span{
	display:block;width:100%;padding:10px 20px;background-color:#797979;color:white;font-size:20px;margin-bottom:15px;text-align:left;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px
}

body.checkout-proccess .login-signup .login-card p,body.checkout-proccess .login-signup .signup-card p{
	padding:0 15px;font-size:16px;margin-bottom:15px
}

@media (max-width: 767px){
	body.checkout-proccess .login-signup .login-card p,body.checkout-proccess .login-signup .signup-card p{
		text-align:center
	}
}

body.checkout-proccess .login-signup .login-card .form-group label,body.checkout-proccess .login-signup .signup-card .form-group label{
	display:block;width:100%;text-align:right;padding-top:6px
}

@media (max-width: 767px){
	body.checkout-proccess .login-signup .login-card .form-group label,body.checkout-proccess .login-signup .signup-card .form-group label{
		text-align:center
	}
}

body.checkout-proccess .login-signup .login-card .form-group a,body.checkout-proccess .login-signup .signup-card .form-group a{
	text-decoration:underline;color:#555;margin-top:10px;display:inline-block
}

body.checkout-proccess .login-signup .login-card .form-group a:hover,body.checkout-proccess .login-signup .signup-card .form-group a:hover{
	color:#797979
}

body.checkout-proccess .login-signup .login-card .form-group .col-sm-6+.col-sm-6,body.checkout-proccess .login-signup .signup-card .form-group .col-sm-6+.col-sm-6{
	text-align:right
}

body.checkout-proccess .login-signup .signup-card{
	text-align:center;padding-bottom:15px
}

@media (min-width: 768px){
	body.checkout-proccess .login-signup .signup-card p{
		margin-top:50px
	}
}

body.checkout-proccess .delivery .item-list .col-md-7 span{
	width:60px!important;padding-bottom:60px!important
}

@media (max-width: 767px){
	body.checkout-proccess .delivery .item-list .col-md-7 span{
		max-width: 120px!important;
		max-height: 135px!important;
		width: 100%!important;
		height: 135px!important;
	}
}

body.checkout-proccess .delivery .item-list strong{
	margin:24px 20px!important
}

@media (min-width: 768px) and (max-width: 991px){
	body.checkout-proccess .delivery .item-list strong{
		font-size:14px !important;width:calc(100% - 80px) !important;margin:20px 0!important;padding:0 10px!important
	}
}

@media (max-width: 767px){
	body.checkout-proccess .delivery .item-list strong{
		margin:10px 0!important
	}
}

body.checkout-proccess .delivery .item-list .col-md-2,body.checkout-proccess .delivery .item-list .col-md-1{
	padding-top:24px!important
}

body.checkout-proccess .delivery .item-list .col-md-2 span.icon_error-triangle,body.checkout-proccess .delivery .item-list .col-md-1 span.icon_error-triangle{
	color:#af0102
}

body.checkout-proccess .delivery .item-list .col-md-2 span.icon_error-triangle:hover,body.checkout-proccess .delivery .item-list .col-md-1 span.icon_error-triangle:hover{
	color:#af0102 !important
}

body.checkout-proccess .delivery .item-list .col-md-2 span.icon_check_alt,body.checkout-proccess .delivery .item-list .col-md-1 span.icon_check_alt{
	color:#00ab4e
}

body.checkout-proccess .delivery .item-list .col-md-2 span.icon_check_alt:hover,body.checkout-proccess .delivery .item-list .col-md-1 span.icon_check_alt:hover{
	color:#00ab4e !important
}

body.checkout-proccess .delivery .item-list label{
	display:block;margin:5px 0 0 0
}

@media (max-width: 991px){
	body.checkout-proccess .delivery .item-list label{
		margin:15px 0 5px!important
	}
}

body.checkout-proccess .delivery .item-list select{
	padding:3px 6px 3px 12px
}

body.checkout-proccess .delivery .item-list .form-control{
	margin-bottom:10px
}

body.checkout-proccess .delivery .delivery-card{
	background-color:#f5f5f5;padding:15px 10px;margin-bottom:30px;border:1px solid #e0e0e0
}

body.checkout-proccess .delivery .delivery-card,
body.checkout-proccess .delivery #opcoes {
	@extend .clearfix;
}

body.checkout-proccess .delivery .delivery-card h2,body.checkout-proccess .delivery .payment-card h2{
	border-bottom:1px solid #e0e0e0;margin:0 0 15px;padding-bottom:10px
}

body.checkout-proccess .delivery .delivery-card label,body.checkout-proccess .delivery .payment-card label{
	font-weight:normal;font-size:13px;margin-bottom:3px
}

body.checkout-proccess {

    .delivery {

        .delivery-card {

            .valid-success, .valid-error {
                position: relative;

                i {
                    position: absolute;
                    top: 31px;
                    right: 25px;
                }

                select + i {
                    right: 35px;
                }

                &.easy-autocomplete i {
                    top: 10px;
                    right: 10px;
                }
            }

            .valid-success {
                
                .form-control {
                    border-color: $base-green;

                    &:focus {
                        @include cpv-box-shadow(0, 0, 5px, $base-green);
                    }
                }

                i {
                    color: $base-green;
                }
            }

            .valid-error {

                .form-control {
                    border-color: $light-red;

                    &:focus {
                        @include cpv-box-shadow(0, 0, 5px, $light-red);
                    }
                }

                i {
                    color: $light-red;
                }
            }

            u {
                position: absolute;
                top: 22px;
                text-align: right;
                padding-right: 10px;
                padding-top: 6px;
                width: calc(100% - 30px);
                height: 34px;
                cursor: pointer;
            }
        }

        .easy-autocomplete-container {
            top: 34px;
        }
    }
}

body.checkout-proccess .delivery .delivery-card .form-control,body.checkout-proccess .delivery .payment-card .form-control{
	margin-bottom:10px
}

body.checkout-proccess .delivery .delivery-card select,body.checkout-proccess .delivery .delivery-card input[type="date"],body.checkout-proccess .delivery .delivery-card input[type="time"],body.checkout-proccess .delivery .payment-card select,body.checkout-proccess .delivery .payment-card input[type="date"],body.checkout-proccess .delivery .payment-card input[type="time"]{
	padding:3px 6px 3px 12px
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul{
	display:block;width:100%;list-style:none;margin:0 0 20px 0;padding:0
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li{
	float:left;width:25%;height:120px;border:1px solid #e0e0e0;text-align:center;padding:20px 10px;background-color:#f5f5f5;text-transform:uppercase;font-size:13px;color:#797979;cursor:pointer
}

@media (max-width: 767px){
	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li{
		padding:10px;height:115px
	}
}

@media (max-width: 480px){
	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li{
		width:100%;height:85px;text-align:left
	}

	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li br{
		display:none
	}
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li+li{
	border-left:none
}

@media (max-width: 480px){
	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li+li{
		border-left:1px solid #e0e0e0;border-top:none
	}
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li u{
	text-decoration:none
}

@media (max-width: 480px){
	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li u{
		display:inline-block;float:left;width:calc(100% - 85px);margin-left:5px;padding:10px 0 10px 10px;border-left:1px solid #e0e0e0;font-size:16px;margin-top:15px
	}
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li.active{
	position:relative;
    background-color:#e0e0e0;
    -webkit-box-shadow:inset 5px 5px 8px rgba(155,155,155,0);
    -moz-box-shadow:inset 5px 5px 8px rgba(155,155,155,0);
    box-shadow:inset 5px 5px 8px rgba(155,155,155,0);
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li.active i{
	position:absolute;
    top:100%;
    left:60px;
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-top:18px solid #e0e0e0;
    display:block;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        left: 45px;
    }
    @media (max-width: $screen-xs-max) {
        left: 33px;
    }
    @media (max-width: 480px) {
        display: none;
    }
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li span{
	display:inline-block;width:80px;height:52px;margin-bottom:5px;background-image:url("../img/ui/spritesheet.png");background-position:0px -815px;background-size:auto;background-repeat:no-repeat
}


@media (max-width: 480px){
	body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li span{
		float:left
	}
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li#opt-barcode span{
	background-position:0px -876px
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li#opt-pagseguro span{
	background-position:-81px -815px
}

body.checkout-proccess .delivery .payment-card>.lining>.col-md-12>ul li#opt-paypal span{
	background-position:-162px -815px
}

body.checkout-proccess .delivery .payment-card .info{
	background:#f5f5f5;
    border:1px solid #e0e0e0;
    margin-bottom:30px;
    padding:15px;
    color:#555;
    min-height: 390px;
}

body.checkout-proccess .delivery .payment-card .info h3{
	font-size:20px;
    text-transform:uppercase;
    border-bottom:1px solid #e0e0e0;
    padding-bottom:5px;
    margin:0 0 10px;
}

body.checkout-proccess .delivery .payment-card .info p:not(:last-child),
body.checkout-proccess .delivery .payment-card .info ul li{
	font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:15px;
    margin:0 0 12px 0;
    line-height:1.2;
}

body.checkout-proccess .delivery .payment-card .info #credito-nome{
	text-transform:uppercase
}

body.checkout-proccess .delivery .payment-card .info #credito-nome::-webkit-input-placeholder{
	text-transform:none
}

body.checkout-proccess .delivery .payment-card .info #credito-nome:-moz-placeholder{
	text-transform:none
}

body.checkout-proccess .delivery .payment-card .info #credito-nome::-moz-placeholder{
	text-transform:none
}

body.checkout-proccess .delivery .payment-card .info #credito-nome:-ms-input-placeholder{
	text-transform:none
}

body.checkout-proccess {

    .info#credito {

        #number-field {
            position: relative;

            #credito-num {
                padding-left: 50px;
            }

            span {
                position: absolute;
                display: block;
                top: 29px;
                left: 23px;
                width: 32px;
                height: 20px;
                overflow: hidden;
                background: url('../img/ui/credit-cards.png') no-repeat 0px 0px;

                &[bandeira=nda] {
                    background-position: 0px 0px;
                }
                &[bandeira=master] {
                    background-position: 0px -20px;
                }
                &[bandeira=visa] {
                    background-position: 0px -40px;
                }   
                &[bandeira=amex] {
                    background-position: 0px -60px;
                }
                &[bandeira=diners] {
                    background-position: 0px -80px;
                }
                &[bandeira=elo] {
                    background-position: 0px -100px;
                }
            }
        }
    }
}

section.order#finish {
	text-align: center;
	font-size: $basefont + 2px;

	h1 {
		font-size: $extreme-font * 1.3;
		margin-bottom: 20px;
		border-bottom: 1px solid $soft-gray;
		display: block;

		@media (min-width: $screen-lg-min) {
			font-size: $extreme-font * 1.5;
		}

		@media (max-width: $screen-xs-max) {
			font-size: $extreme-font * 1.5;
		}
	}

	@media (max-width: $screen-xs-max) {
		ul {
			text-align: left;
			list-style: none;
			padding: 5px 0 0;
			margin: 20px 0 10px;
			background: $soft-gray;

			li {
				border-bottom: 1px solid $light-gray;
				padding: 5px;
				margin-bottom: 5px;

				i {
					text-transform: uppercase;
					margin-bottom: 5px;
					font-size: $small-font;
					font-style: normal;
				}
			}
		}
	}

	a#generate-boleto {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		background-color: $base-lime;
		@include cpv-border-radius(2px);
		padding: 8px 15px 8px 90px;
		font-size: $big-font - 2px;
		margin: 40px 0 15px;

		@media (min-width: $screen-lg-min) {
			margin: 50px 0 25px;
		}

		@media (max-width: $screen-xs-max) {
			font-size: $big-font - 4px;
			margin-top: 35px;
		}

		span {
			position: absolute;
			top: -35px;
			left: 10px;
			width: 70px;
			height: 70px;
			border: 3px solid $base-lime;
			@include cpv-border-radius(50%);
			background-color: white;
			background-image: url('../img/ui/boleto.png');
			background-position: center 18px;
			background-repeat: no-repeat;
		}

		&:hover {
			background-color: lighten($base-lime, 3%);
			text-decoration: none;

			span {
				border-color: lighten($base-lime, 3%);
				background-position: center 20px;
			}
		}
	}

	h2 {
		margin: 25px 0 10px;
		text-align: left;

		+ p {
			text-align: left;
			margin-bottom: 30px;
			line-height: 1.4;
		}

        @media (max-width: $screen-xs-max) {
			text-align: center;
            padding-top: 30px;

            + p {
                text-align: center;
            }
		}
	}

	p.atten {
		font-style: italic;
		margin-top: 30px;
		padding-top: 10px;
		font-style: $basefont;
		color: $deep-gray;
		border-top: 1px solid $soft-gray;
	}

    div#grupo-lacos-flores {
        background: transparent url('../img/ui/grupo-lacos-flores.png') no-repeat center;
        background-size: contain;
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        border-right: 1px solid $soft-gray;

        @media (max-width: $screen-xs-max) {
            border-right: none;
            margin: 30px 0;
        }

        @media (min-width: $screen-sm-min) {
            background-size: 130px;
        }

        @media (min-width: $screen-md-min) {
            background-size: 150px;
        }

        @media (min-width: $screen-lg-min) {
            background-size: 170px;
        }
    }
}

body.checkout-proccess section.register {

	ul {
		list-style: none;
		padding: 0;
		margin: 20px 0;
        @extend .clearfix;

		li {
			width: 100%;
			
			div.radio {
				margin: 0;

				label {
					width: 100%;
					padding: 10px 15px;
					background: $soft-gray;
					border: 1px solid $light-gray;
					border-bottom: none;
					text-transform: uppercase;
					font-size: $basefont + 2px;
					position: relative;

					input {
						display: none;
					}

					span {
						display: none;
					}

					&.active {
						background: $light-gray;

						@media (min-width: $screen-md-min) {
							span {
								position: absolute;
								left: 100%;
								top: -1px;
								width: 0;
								height: 0;
								border-bottom: 20px solid transparent;
								border-left: 25px solid $light-gray;
								display: block;
							}
						}
					}
				}
			}

			&:last-of-type {

				label {
					border-bottom: 1px solid $light-gray!important;
				}
			}
		}

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {            
            li {
                width: 33.33333%;
                float: left;

                label {
                    border: 1px solid $light-gray!important;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
        	text-align: center;
        }
	}

	.form-group {
		@extend .clearfix;

		h4 {
			text-transform: uppercase;
			border-bottom: 1px solid $light-gray;
			padding: 0 15px 4px;
			margin: 10px 0 5px;
			font-weight: bold;
			cursor: default;
		}

		input, select, textarea {
			border: none;
			border-bottom: 1px solid $light-gray;
			padding: 12px 20px 15px 15px;
			margin: 10px 30px 10px 0;
			max-width: 100%!important;
			outline: none;
			font-size: $basefont + 2px;
			color: $deep-gray;
			font-family: $arial;
			-webkit-transition: 0.2s linear;
			-moz-transition: 0.2s linear;
			-o-transition: 0.2s linear;
			transition: 0.2s linear;
			background: transparent no-repeat right center;

			&.verified {
				border-color: $base-green;
				background: url('../img/ui/verified.png') no-repeat right center;
				color: $deep-gray;
			}

			&.error {
				border-color: $base-red;
				background: url('../img/ui/error.png') no-repeat right center;
			}

			@media (max-width: $screen-xs-max) {
				width: 100%;
				margin-right: 0;
			}

			&::-webkit-input-placeholder {
				font-size: $basefont + 2px;
				color: $dark-gray;
			}

			&:focus {
				border-color: $base-blue;
			}
		}

		select.error, select.verified {
			background-position: 90% center;
			color: $deep-gray;
		}

		@media (min-width: $screen-lg-min) {
			
            #pf-nome{ min-width: 500px; }
			#pf-mail, #pj-mail { min-width: 430px; }
			#pf-pass, #pf-pass2, #pj-pass, #pj-pass2, #ext-pass, #ext-pass2 { max-height: 46px; min-width: 366px; font-size: $big-font }
			#pf-logradouro, #pj-logradouro { min-width: 400px; }
			#pf-num, #pj-num { width: 130px; }
			#pf-compl, #pj-compl { width: 180px; }
			#pf-cidade, #pj-cidade { min-width: 300px; }
			#pf-bairro, #pj-bairro { min-width: 300px; }
            #pj-razao, #pj-nome { min-width: 375px; }
            #pj-cnpj { min-width: 250px; }
            #pj-inscr { min-width: 300px; }
            #pj-contato { min-width: 320px; }
            #ext-nome { min-width: 375px; }
            #ext-skp { min-width: 375px; }
            #ext-contato { min-width: 400px; }
		}

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            #pj-razao, #pj-nome, #pj-inscr, #pj-cnpj, #pj-pass, #pj-pass2, #pj-contato, #pj-mail, #pj-tel { min-width: 300px; }
            #ext-nome, #ext-mail, #ext-skp, #ext-pass, #ext-pass2, #ext-contato, #ext-tel { min-width: 300px; }
            #pj-logradouro { width: 320px; }
            #pj-num { width: 100px; }
            #pj-compl { width: 140px; }
            #pj-conheceu { width: 280px; }
        }

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			#pf-nome { min-width: 390px; }
			#pf-mail, #ext-mail, #ext-skp { min-width: 320px; }
			#pf-pass, #pf-pass2, #pj-pass, #pj-pass2, #ext-pass, #eext-pass2 { max-height: 46px; min-width: 250px; font-size: $large-font; }
			#pf-logradouro, #pj-logradouro { min-width: 280px; }
			#pf-num, #pj-num { width: 130px; }
			#pf-compl, #pj-compl { width: 180px; }
			#pf-cidade, #pf-bairro, #pj-cidade, #pj-bairro { min-width: 240px; }
            #pj-razao, #pj-nome, #pj-inscr, #pj-cnpj, #pj-contato, #pj-mail { min-width: 310px; }
            #ext-nome, #ext-mail, #ext-skp, #ext-contato, #ext-tel { min-width: 310px; }

			.r {
				text-align: center;
			}
		}

		@media (max-width: $screen-xs-max) {
			#pf-niverdia, #pf-nivermes {
				width: 45%!important;
			}

			#pf-niverdia {
				margin-right: 8%;
			}

            #pf-cep + a, #pj-cep + a {
                text-align: center;
                width: 100%;
                margin-bottom: 15px;
            }

			.r {
				text-align: center;
			}
		}

		#pf-niverdia:not(.valid), 
		#pf-nivermes:not(.valid), 
		#pf-estado:not(.valid), 
		#pf-cidade:not(.valid),
		#pf-conheceu:not(.valid) { color: $dark-gray!important; }

		#pf-cep + a, #pj-cep + a {
			display: inline-block;
			max-height: 46px;
			text-transform: uppercase;
			text-decoration: underline;
		}

		.checkbox {
			display: inline-block!important;
			position: relative;
			margin-top: 0;
			margin-bottom: 0;
            top: 15px;

			@media (max-width: $screen-xs-max) {
				margin-top: 15px;
				width: 80%;
				margin-left: 20%;
			}

			label {


				input {
				    margin-left: -20px!important;
    				margin-top: 0px!important;

    				@media (max-width: $screen-xs-max) {
    					width: initial!important;
    				}
				}
			}
		}

		.sendit {
			margin: 10px 0 50px 0;
            padding-top: 10px;
            border-top: 1px solid $soft-gray;
		}
	}
}

.btn-green.-baselabel {
    text-transform: uppercase;
}

.delivery-card .proceed {
    text-align: center;


    img {
        max-width: 80px;
        height: auto;
    }

    .heading {
        font-size: $large-font;
    }
}