/* latin-ext */
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@mixin cpv-border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin cpv-sprite($position: center, $size: auto, $repeat: no-repeat) {
	background-image: url('../img/ui/spritesheet.png');
	background-position: $position;
	background-size: $size;
	background-repeat: $repeat;
}

@mixin cpv-clientes($position: center, $size: auto, $repeat: no-repeat) {
  background-image: url('../img/ui/sprite-empresas.png');
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin cpv-cropper ($width, $height: 0, $pdbottom: 0) {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	width: $width;
	height: $height;
	padding-bottom: $pdbottom;
}

@mixin cpv-box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin title ($margin, $weight, $borde-bottom) {
    font-size: 29px;
    margin: $margin;
    font-weight: $weight;
    border-bottom: $borde-bottom;
}

@mixin fp-feature ($url-img, $min-height) {
    display: block;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-image: $url-img;
    background-position: center;
    width: 100%;
    min-height: $min-height;
}

@mixin modal-title {
        font-size: 20px;
        margin: 23px 0px -15px 0px;
        text-align: center;
        font-weight: 600;
    }

@mixin scroll-top ($left, $bottom, $right, $top, $width, $height, $bg-color, $radius) {
    z-index: 9999;
    content: '';
    position: fixed;
    left: $left;
    bottom: $bottom;
    right: $right;
    top: $top;
    cursor: pointer;
    width: $width;
    height: $height;
    background-color: $bg-color;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin label ($padding, $left, $top, $bg-color) {
    padding: $padding;
    cursor: default;
    white-space: nowrap;
    position: absolute;
    left: $left;
    top: $top;
    z-index: 10;
    display: inline-block;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $bg-color;
}



@mixin mQ($arg...) { 
    @if length($arg) == 1 {
        @media screen and (max-width: nth($arg, 1)) {
            @content;
        }
    }

    @if length($arg) == 2 {
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
        
        @content;
    }
}
}