// Font Family
$arial: Arial, Verdana, Helvetica, sans-serif;
$trebuchet: Trebuchet MS, Helvetica, Arial, sans-serif;
$opensans: 'Open Sans';

// Font Size
$extreme-font: 36px;
$display-font: 	30px;
$big-font:		26px;
$large-font: 	20px;
$int-font:      18px;
$newbase:       16px;
$basefont: 		14px;
$small-font:	13px;
$tiny-font:		11px;

// Colors
$soft-gray:		#f5f5f5;
$light-gray:	#e0e0e0;
$dark-gray: 	#a8a8a8;
$deep-gray: 	#797979;
$soft-black: 	#555;
$light-black: 	#333;
$medium-black: 	#111;
$base-red:		#af0102;
$light-red:		lighten($base-red, 13%);
$base-blue:		#3087b2;
$base-orange:	#f90;
$base-green:	#00ab4e;
$base-yellow:	#ffc822;
$base-lime:		#b7b724;
$light-lime:	#f0f0e1;
$success-bg:    #dff0d8;
$success-brd:   #d6e9c6;
$success-font:  #3c763d;
$attention-bg:  #fcf8e3;
$attention-brd: #faebcc;
$attention-font:#8a6d3b;
$bg-product: #fbfbfb;