﻿#mmenuneue {
    border-top: solid 1px #CCCCCC;

    .card-menu {
        min-height: 380px;

        ul {
            color: #DE1200;
            font-size: 18px;
            font-weight: 500;
            margin-top: 40px;
        }

        li {
            float: none;
            padding: 0px 0px;

            &:first-of-type {
                border: none;
                margin-top: 12px;
            }

            a {
                color: #333333;
                font-size: 14px;
                line-height: 26px;
                text-align: left;
                font-weight: normal;
                text-transform: initial;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
} 

.underline {
    text-decoration: underline;
}

.drop4 {
    position: absolute;
    right: -74px;
    top: 70px;
    background: white;
    z-index: 11;
    width: 180px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 0.5px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 4px .5px rgba(0,0,0,0.2);
    box-shadow: 3px 4px 0.5px rgba(0,0,0,0.2);

    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 9px 9px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -15px;
        top: -9px;
        left: 50%;
    }

    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 9px 9px;
        border-color: #CCCCCC transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -15px;
        top: -10px;
        left: 50%;
    }
}



.drop3 {
    position: absolute;
    right: -67px;
    top: 73px;
    background: white;
    z-index: 11;
    width: 280px;
    min-height: 84px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 0.5px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 4px .5px rgba(0,0,0,0.2);
    box-shadow: 3px 4px 0.5px rgba(0,0,0,0.2);
    padding: 12px;

    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 9px 9px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: 70px;
        top: -9px;
        left: 50%;
    }

    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 9px 9px;
        border-color: #CCCCCC transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: 70px;
        top: -10px;
        left: 50%;
    }

    .item {
        padding: 10px 18px 2px;
        text-align: left;

        .cropper {
            float: left;
            margin-right: 10px;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            width: 60px;
            height: 65px;
            padding-bottom: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            float: left;
            width: calc(100% - 90px);
            margin: 12px 0 0 0;
            font-size: 12px;

            small {
                color: #333333;
                font-family: Roboto;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .finish {
        padding: 10px 20px;

        .col-md-8 {
            color: #E1160B;
            font-size: 16px;
            font-weight: bold;
        }
    }

    hr {
        position: inherit;
        margin-top: 80px;
        border-top: 1px solid #CCCCCC;
    }
}

#nav-neue {
    #carddrop ul {
        margin: 16px 10px 12px !important;
        display: block !important;
    }

    #carddrop li {
        float: left !important;

        a {
            font-size: 14px !important;
            font-weight: normal !important;
            margin: 2px 0px !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    #carddrop1 ul {
        margin: 16px 6px 12px !important;
        display: block !important;
    }

    #carddrop1 li {
        float: left !important;

        a {
            font-size: 14px !important;
            font-weight: normal !important;
            margin: 2px 0px !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}


.btn-checkout-new {
    background-color: #E1160B;
    color: white !important;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold;
    border-radius: 0px;
    padding: 12px 0px;
}
