footer {
    @media (max-width: $screen-xs-max) {
        text-align: center;
    }

    section.foot-features {
        text-align: center;
        margin-top: 45px;

        ul {
            list-style: none;
            padding: 0px;
            display: inline-block;
            @extend .clearfix;

            li {
                float: left;
                width: 256px;
                height: 85px;
                margin: 0px 10px;
                @include cpv-sprite(0px 0px);

                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    margin: 0 5px;
                    width: 230px;
                }

                @media (max-width: $screen-xs-max) {
                    float: none;
                    margin: 0;
                }

                &#foo-blindado {
                    background-position: 0px -203px;
                    margin-left: 0;

                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        background-position: -12px -203px;
                    }
                }

                &#foo-frete {
                    background-position: 0px -375px;

                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        background-position: -14px -375px;
                    }
                }

                &#foo-entrega {
                    background-position: 0px -289px;
                    margin-right: 0;

                    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                        background-position: -12px -289px;
                    }
                }
            }
        }
    }

    section.ipsum {
        margin-top: 30px;
        border-top: 1px solid $light-gray;
        padding-top: 20px;

        * {
            font-size: $basefont + 2px;
            line-height: 1.4;
        }

        p {
            margin-bottom: 15px;
        }

        h3 {
            font-size: $large-font;
            text-align: center;
            color: $deep-gray;
            border-bottom: 1px solid $light-gray;
            padding-bottom: 10px;
        }

        h4 {
            font-weight: bold;
            color: $deep-gray;
        }

        a {
            text-decoration: underline;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 3px;

                &:hover {
                    background-color: $soft-gray;

                    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                        background-color: transparent;
                    }
                }

                a {
                    font-size: $basefont;

                    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                        letter-spacing: -0.7px;
                        white-space: nowrap;
                    }
                }
            }
        }

        ul + a {
            margin-top: 15px;
            display: block;

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-bottom: 30px;
            }
        }
    }


    section.main {
        background-color: mix(white, $light-gray, 30%);
        padding: 30px 0;
        margin-top: 50px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            .col-sm-6 {
                min-height: 260px;
            }
        }

        h5 {
            text-transform: uppercase;
            font-size: $basefont + 2px;

            @media (max-width: $screen-xs-max) {
                margin-top: 42px;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0 0 20px;
            line-height: 1.3;

            li {
                @media (max-width: $screen-xs-max) {
                    margin: 12px 0;
                }

                a {
                    text-decoration: underline;
                }
            }
        }

        h5 + a, a + a, br + a {
            @include cpv-sprite(0px 0px);
            display: inline-block;
            width: 36px;
            height: 36px;
            margin-right: 3px;

            @media (max-width: $screen-xs-max) {
                margin: 10px 10px;
            }
        }

        a#facebook {
            background-position: 0px -463px;

            &:hover {
                background-position: -111px -463px;
            }
        }

        a#twitter {
            background-position: -37px -463px;

            &:hover {
                background-position: -148px -463px;
            }
        }

        a#plus {
            background-position: -74px -463px;

            &:hover {
                background-position: -185px -463px;
            }
        }

        a#sustentavel {
            width: 142px;
            height: 40px;
            margin-top: 5px;
            background-position: 0px -500px;
        }

        #seguranca {
            text-align: center;
            margin-bottom: 10px;

            a {
                display: inline-block;
                background-color: transparent;
                width: 107px;
                height: 28px;
                @include cpv-sprite(-148px -500px);

                @media (max-width: $screen-xs-max) {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }

        .site-sincero {
            text-align: center;

            a {
                display: inline-block;
                width: 110px;
                height: 45px;
                @include cpv-sprite(0px -627px);
                margin-top: 10px;
            }
        }

        #google-safe {
            margin-top: 10px;
            display: inline-block;
            width: 80%;
            height: 0;
            padding-bottom: 20%;
            background-image: url(../img/ui/google-safe.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 100%;
                padding-bottom: 25%;
            }
        }

        .lining + .lining {
            text-align: center;

            span#payment {
                display: block;
                background-color: tint($soft-gray, 50%);
                @include cpv-border-radius(2px);
                background-image: url('../img/ui/1payment.png'), url('../img/ui/2payment.png');
                background-repeat: no-repeat, no-repeat;
                background-position: left, right;
                width: 100%;
                min-height: 68px;

                @include mQ(1199px) {
                    background-position: top, bottom;
                    background-position-y: 2px, 76px;
                    min-height: 148px;
                }

               
            }
        }
    }

    section.last {
        background-color: $soft-black;
        color: white;
        text-align: center;
        padding: 15px 0;

        span {
            display: block;
            margin-top: 20px;
        }

        a {
            color: $base-yellow;
        }
    }
}
