section#fixed-bar, section#mobile-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $soft-black;
	z-index: 100;
	color: white;
	text-align: center;
	padding: 6px 0;
	z-index: 99;

	* {
		font-family: $arial;
	}

	span {

		b {
			text-transform: uppercase;
			font-size: $large-font;
		}

		a {
			font-size: $small-font;
			text-decoration: underline;
			color: white;

			&:hover {
				color: $base-yellow;
			}
		}

		big {
			font-weight: bold;

			a {
				text-decoration: underline;

				&:hover {
					color: $base-yellow;
				}

				@media (min-width: $screen-lg-min) {
					font-size: $extreme-font;
				}

				@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
					font-size: $display-font;
				}

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					font-size: $big-font;
				}

				@media (max-width: $screen-xs-max) {
					font-size: $large-font;
				}
			}
		}
	}
}

section#mobile-fixed {

	.whatsapp {
		@media (max-width: 414px) {
			display: none;
		}
	}
}

section#login-bar {
	background-color: $soft-black;
	color: white;
	padding: 5px 0;
	text-align: right;
	font-size: $small-font;

	a {
		color: white;
		text-decoration: underline;
		font-weight: bold;
	}

	.whatsapp {
		display: inline-block;
		height: 16px;
		padding-left: 20px;
		padding-top: 1px;
		position: absolute;
		left: 10px;
		@include cpv-sprite(-240px -727px);
	}

    span {
        display: inline-block;
        margin: 0 3px;
    }
}

section#mobile-header {
    text-align: center;
    padding-top: 32px;

    span, a.icon_menu {
        font-size: $big-font;
        margin-top: 90%;
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: $light-black;

        i {
            position: absolute;
            bottom: -15px;
            right: -10px;
            background-color: $deep-gray;
            color: white;
            font-size: $basefont;
            padding: 5px;
            width: 24px;
            text-align: center;
            @include cpv-border-radius(50%);
        }
    }

    a.icon_menu {
        font-size: $extreme-font;

        &:hover, &:focus {
            color: $base-red;
            text-decoration: none;
        }

        &:visited {
            color: $light-black;
            text-decoration: none;
        }
    }

    img {
        width: 100%;
        padding: 10px 30px;
    }

    .whatsapp {
        background-color: $light-gray;
        padding: 2px 0;
    }
}

nav#mmenu {
	z-index: 100;
}

section#main-header {
	@media (max-width: $screen-xs-max) {
		display: none;
	}

	a {
		border: none;
		display: block;
		margin: 15px 20px;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			margin: 15px 0;
		}

		&:hover {
			border: none;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 320px;
			@media (min-width: $screen-md-min) {
				max-width: 180px;
			}
		}
	}

	& .lining div:last-of-type {
		text-align: right;
	}

	ul {
		@extend .clearfix;
		list-style: none;
		padding: 0px;
		margin: 26px 0 0;
		display: inline-block;

		li {
			float: left;
			text-align: right;
			padding: 0px 10px;
			text-transform: uppercase;
			color: $dark-gray;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				font-size: $small-font - 1px;
			}

			&:first-of-type {
				border-right: 1px solid $light-gray;
			}

			&:last-of-type {
				padding-right: 0;
			}

			strong, a {
				display: block;
				width: 100%;
				font-size: $big-font;
				padding-bottom: 4px;
				color: $light-black;
				margin: 0;
				font-weight: bold;

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					font-size: $big-font - 3px;
				}

				&:hover, &:focus {
					color: $soft-black;
					text-decoration: none;
				}

				i {
					display: inline-block;
					width: 24px;
					height: 24px;
					position: relative;
					top: 3px;
					margin-right: 5px;
					@include cpv-sprite(0px 0px);
				}
			}

			span {
				display: block;
				text-align: center;
				background-color: $deep-gray;
				padding: 6px 10px;
				color: white;
				font-size: $tiny-font;
				line-height: 0.8;
				letter-spacing: 0.5px;
				@include cpv-border-radius(3px);

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					padding: 6px 7px;
				}

				strong {
					font-size: $display-font;
					color: white;
					letter-spacing: -0.2px;
				}
			}
		}
	}

    nav.cart {
        display: inline-block;
        float: right;
        margin-top: 4px;
				margin-left: 10px;
        position: relative;

        button {
            display: block;
            background: $base-red;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            padding: 15px;
            color: white;
            margin: 0;
            position: relative;
            font-size: $big-font;
            text-decoration: none;
            border: none;

            span {
                position: absolute;
                top: 0;
                right: 0;
                text-indent: initial;
                font-size: $basefont;
                background: $light-black;
                color: white;
                width: 22px;
                height: 22px;
                line-height: 22px;
                @include cpv-border-radius(50%);
                margin: -6px -6px 0;
            }
        }

        .drop {
            display: none;
            position: absolute;
            right: 0;
            top: 56px;
            background: white;
            z-index: 11;
            width: 300px;
            border-top: 3px solid $base-red;
            @include cpv-box-shadow(3px, 4px, 0.5px,rgba(0,0,0,0.2));

            .item-empty {
                padding: 10px 20px;
                text-align: left;

                p {
                    font-size: $basefont + 3px;
                    margin: 0;
                }
            }

            .item {
                padding: 10px 20px;
                text-align: left;
                @extend .clearfix;

                &:nth-of-type(even) {
                    background-color: lighten($soft-gray, 3%);
                }

                .cropper {
                    float: left;
                    margin-right: 10px;
                    @include cpv-cropper (60px, 65px);

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    float: left;
                    width: calc(100% - 90px);
                    margin: 12px 0 0 0;

                    small {
                        font-style: italic;
                        color: $soft-black;
                    }
                }
            }

            .finish {
                padding: 10px 20px;

                .btn {
                    margin: 0;
                }
            }
        }
    }
}

nav.navbar-inverse {
	@include cpv-border-radius(0px);
	background-color: $dark-gray;
	border: none;
	min-height: 25px;
	margin-bottom: 0px;

	@media (max-width: $screen-xs-max) {
		display: none;
	}

	ul.navbar-nav {

		li {

			a {
				color: white;
				text-transform: uppercase;
				padding: 10px 20px;
				font-size: $basefont + 1px;

				@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
					padding: 8px 15px;
					font-size: $basefont - 1px;
				}

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					padding: 8px 15px;
					font-size: $basefont - 1px;
				}

				&:hover, &:visited, &:focus {
					background-color: $deep-gray;
				}
			}

			&.active a, &.active a:hover {
				background-color: $light-black;
			}

			&.dropdown {

				.drop1, .drop2 {
					display: block;
					width: 50%;
					float: left;
				}

				.drop1 {
					border-right: 1px solid $soft-gray;
				}

				ul {
					-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
				    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
				    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
				    z-index: 100000000;
				    @media (min-width: $screen-lg-min) {
				    	min-width: 380px;
				    }
				    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				    	min-width: 380px;
				    	left: initial;
				    	right: 0;
				    }
				    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				    	min-width: 360px;
				    	left: initial;
				    	right: 0;
				    }

					li {

						a {
							color: $deep-gray;
							font-size: $small-font;

							&:hover, &:focus {
								background-color: $soft-gray;
							}
						}

						a.outros-locais {
							background-color: $soft-gray;
						}
					}
				}
			}
		}
	}
}
