section.loop-title {
	margin-bottom: 15px;
	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	h1, span#simulacrum {
		color: $deep-gray;
	}

	.lining>div:last-of-type {
		text-align: right;

		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
	
	.form-control {
		padding: 8px 15px;
		height: initial;
		margin-top: 12px;
		background-color: $deep-gray;
		color: white;
		width: initial;
		display: inline-block;

		option[selected] {
			background-color: $deep-gray;
		}

		option[disabled] {
			color: $light-gray;
		}

		option:hover {
			background-color: $dark-gray;
		}
	}
}

section.sub {
	margin: 10px 0px 0px;

	h2, h3 {
		color: $deep-gray;
		border-bottom: 1px solid $light-gray;
		padding-bottom: 10px;
	}

	.col-md-6 + .col-md-6 {
		
		h2, h3 {
			margin-top: 45px;
		}
	}

	&.depoimentos {
		.col-md-6 + .col-md-6 {
		
			h2, h3 {
				margin-top: 14px;
			}
		}

		.site-sincero {
			text-align: center;

			a {
				display: inline-block;
				width: 207px;
				height: 85px;
				@include cpv-sprite(0px -542px);
				margin-top: 15px;
			}
		}
	}

	h2 {
		font-size: $big-font;
		text-align: center;
	}

	h3 {
		font-size: $large-font;
		margin-bottom: 30px;
	}

	#testimonials {
		position: relative;
		width: 90%;
		margin: 0 5%;
		background-color: $soft-gray;
		border: 1px solid $light-gray;
		padding: 25px;
		@include cpv-border-radius(1px);

		.controls {
			display: block;
			height: 60px;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			width: 20px;
			cursor: pointer;
			@include cpv-sprite(0px 0px);

			&#prev {
				left: -30px;
				background-position: -42px -142px;

				&:hover {
					background-position: -63px -142px;
				}
			}

			&#next {
				right: -30px;
				background-position: 0px -142px;

				&:hover {
					background-position: -21px -142px;
				}
			}
		}

		p {
			font-size: $large-font - 2px;
			font-family: $arial;
			font-style: italic;
		}

		blockquote {
			padding: 0 0 10px 0;
			border: none;
			border-bottom: 1px solid $light-gray;
			margin: 15px 0px;
			font-size: $basefont + 2px;
			font-style: italic;
			line-height: 1.2;
			color: $deep-gray;
		}

		ul {
			list-style: none;
			padding: 0;
			line-height: 1.6;

			li {

				a {
					background-color: shade( $soft-gray, 3.5% );
					color: $deep-gray;
					text-transform: uppercase;
					padding: 3px 10px;

					&:hover {
						text-decoration: none;
						background-color: $base-red;
						color: $soft-gray;
					}
				}

				&#testimonial-rate {

					i {
						color: $base-yellow;
						font-size: $large-font;
						margin: 0 2px;
						position: relative;
						top: 2px;
					}
				}

				&#testimonial-name {
					
					b {
						display: block;
						text-transform: uppercase;
						position: relative;
						top: 4px;
						width: 100%;
					}
				}
			}
		}
	}

	iframe {
		width: 100%;

		@media (min-width: $screen-md-min) {
			height: 312px;
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			height: 405px;
		}

		@media (max-width: $screen-xs-max) {
			height: 236px;
		}
	}
}

section.loop {

	.card {
		position: relative;
		text-align: center;
		padding: 10px 0;
		border: 1px solid transparent;
		margin: 10px 0px;
		@extend .clearfix;

		@media (max-width: $screen-xs-max) {
			border-top: 3px double $soft-gray;
			padding: 20px 0px;
		}

		@media (min-width: $screen-sm-min) {
			&:hover {
				border: 1px solid $soft-gray;
				background-color: lighten($soft-gray, 3%)
			}
		}

		span {
			@include cpv-cropper(80%, 0, 85%);

			@media (max-width: $screen-xs-max) {
				float: left;
				width: 40%;
				padding-bottom: 42%;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		h2 {
			text-transform: uppercase;
			font-size: $basefont;
		}

		p {
			font-size: $small-font;
			margin-top: 27px;

			small {
				font-size: 100%;
			}

			big {
				font-size: $large-font + 2px;
				font-weight: bold;
				letter-spacing: -0.5px;
				font-family: $arial;
			}
		}

		.badge {
			border: 1px solid $light-gray;
			background-color: white;
			font-family: $arial;
		    z-index: 10;
		    display: inline-block;
		    letter-spacing: -0.5px;
		    box-sizing: border-box;
		    padding: 8px 15px;
		    cursor: default;
		    white-space: nowrap;
		    position: absolute;
		    left: 50%;
		    top: 15px;

		    @media (max-width: $screen-xs-max) {
		    	display: none;
		    }
		}

		b.visible-xs {
			background-color: $soft-gray;
			float: left;
			width: 50%;
			margin-left: 5%;
			margin-bottom: 5px;
			padding: 5px 0;
			cursor: pointer;
		}

		&.empresas b.visible-xs {
			color: $base-blue;
		}

		&.mais-vendidas b.visible-xs {
			color: $base-orange;
		}

		&.desconto b.visible-xs {
			color: $base-green;
		}

		&.empresas {
			
			.badge {
				color: $base-blue;
			}
			
			&:hover .badge {
				background-color: $base-blue;
				border-color: $base-blue;
				color: white;
			}
		}

		&.mais-vendidas {
			
			.badge {
				color: $base-orange;
			}
			
			&:hover .badge {
				background-color: $base-orange;
				border-color: $base-orange;
				color: white;
			}
		}

		&.desconto {

			p {
				color: $base-green;
				margin-top: 0px;

				small {
					color: initial;
				}
			}
			
			.badge {
				color: $base-green;
			}
			
			&:hover .badge {
				background-color: $base-green;
				border-color: $base-green;
				color: white;
			}
		}

	}
}