﻿// Titles //
.makingof2 .title {
    @include title(68px 0 25px, 200, 1px solid #f5f5f5);
    text-align: center;

    @include mQ(991px) {
        margin-top: 79px;
    }

    @include mQ(767px) {
        margin-top: 47px;
        font-size: 27px;
    }
}

.pqcf .title {
    @include title(25px 0 25px, 200, 1px solid #f5f5f5);
}

.ft .title {
    text-align: center;
    @include title(64px 0 25px, 600, 1px solid #f5f5f5);
}

.descr-product .title {
    @include title(64px 0 25px, 200, 1px solid #f5f5f5);
    text-align: center;
}

.fp .title, .sf .title {
    @include title(40px 0 25px, 200, 1px solid #e2e2e2);
}

.fh .title, .avaliacao .title {
    text-align: center;
    @include title(40px 0 25px, 200, 1px solid #e2e2e2);
}
@include mQ (767px) {
    .pqcf .title, .descr-product .title, .sf .title, .ft .title, .fp .title, .fh .title {
        font-size: 27px;
    }
}
// Titles //

// Modal //
.fh .modal-header .close, .sf .modal-header .close {
    margin-top: -13px;
}

.fh .modal-title, .sf .modal-title {
    @include modal-title;
}
// Modal //

#yv-review-quickreview {
    .fa {
        font: normal normal normal $newbase/1 FontAwesome !important;
    }

    @include mQ(767px) {
        text-align: center;
    }
}

body.checkout-proccess {
    h3 {
        font-size: $int-font;
        font-weight: 600;
    }
}

a {
    cursor: pointer;
}

.product {
    a {
        cursor: pointer;
    }

    @include mQ (767px) {
        .smooth,  .smooth2, .smooth3 {
            font-size: 13px;
        }
    }
} 

body.checkout-proccess .features-product {
    position: initial;

    ul {
        margin-top: 10px;
        margin-bottom: 35px;
        font-size: $newbase;
        font-weight: 400;
    }

    li {
        list-style: initial;
        list-style-position: inside;
        text-align: left;
    }
}

.MargemSemVideo {
    margin: 60px 0 25px;
}

.makingof {
    margin-bottom: 60px;

    iframe {
        width: 100%;


        @include mQ(3000px) {
            height: 422px;
        }

        @include mQ(1199px) {
            height: 438px;
        }

        @include mQ(991px) {
            height: 405px;
        }

        @include mQ(767px) {
            height: 161px;
        }
    }
}

body.checkout-proccess .product-ft img {
    width: 100%;
    padding: 18px;
}

.ft {
    margin-bottom: 30px;

    .gallery-list {
        list-style: none;
        padding: 0px 32px 10px 0px;
    }

    .gallery-list .item {
        padding-bottom: calc(21% - 10px);
    }
}

.sf {
    background-color: $bg-product;
    min-height: 293px;

    .modal-body {
        text-align: center;

        p {
            font-size: 15px;
            line-height: 2;
        }
    }

    .col-md-6 {
        min-height: 125px;
    }
}

.descr-product {
    p {
        &:first-of-type {
            margin-top: 25px;
        }
    }

    .img-product img {
        width: 100%;
        padding: 16px;
        margin-top: -24px;

        @include mQ(767px) {
            padding: 36px 72px 12px 72px;
        }
    }

    .cta-descri {
        text-align: right;
        width: 95%;

        @include mQ(767px) {
            text-align: center;
            width: 91%;
        }

        ul {
            list-style: none;
        }
    }
}

.fp {
    background-color: $bg-product;
    min-height: 320px;

    #payment {
        @include fp-feature(url(../img/ui/payment.png), 140px);
    }

    #entrega {
        @include fp-feature(url('../img/ui/entrega.png'), 170px);
    }

    ul {
        font-size: $basefont;
    }
}

.fh {
    min-height: 520px;

    ul {
        font-size: $basefont;
        line-height: 2.4;
    }

    .gallery-list {
        list-style: none;
        padding: 22px 32px 10px 0px;

        .item {
            padding-bottom: calc(21% - 10px);
        }
    }

    .product-fh img {
        width: 100%;
        padding: 2px;
    }

    p {
        &:first-of-type {
            margin-top: 30px;
        }
    }
}

.avaliacao {
    min-height: 370px;

    .ava {
        border: solid 1px #d8d8d8;
        padding: 35px;
    }

    .title small {
        font-size: 64%;

        b {
            color: #337ab7;
        }

        a {
            font-weight: 400;
            font-style: italic;
        }

        @include mQ(500px) {           
                font-size: 49%;
        }
    }
}

#scroll {
    @include scroll-top (15px, 35px, 0, initial, 50px, 50px, #ea424a, 60px);

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff;
    }

    &:hover {
        background-color: #c7c7c7;
        opacity: 1;
        filter: "alpha(opacity=100)";
        -ms-filter: "alpha(opacity=100)";
    }
}

.backtotop {
    text-align: center;
    background-color: #6d6d6d;
    color: white;
    padding: 5px;

    a {
        font-size: 13px;
        color: white;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }

    p {
        margin-bottom: 0;
    }

    .glyphicon-chevron-up {
        animation: jump4 infinite 1s;
    }
}

@keyframes jump4 {
    0% {
        top: 0;
    }

    50% {
        top: 2px;
    }

    100% {
        top: 0;
    }
}

#main-header.line2 {
    border-bottom: solid #e0e0e0 1px;
    position: fixed;
    z-index: 9999;
    background-color: #FFFFFF;
    width: 100%;
    top: 0;
    bottom: auto;
}

#main-neueproduct {
    ul {
        @include mQ(991px) {
            margin: 22px 0 0 !important;
        }

        li {
            color: #666666 !important;
            text-transform: initial !important;
            font-size: 14px !important;
            text-align: left !important;
            line-height: 17px !important;

            @include mQ(991px) {
                font-size: 12px !important;
            }

            &:first-of-type {
                border: none !important;
            }

            a {
                font-size: 24px !important;

                @include mQ(991px) {
                    font-size: 19px !important;
                }
            }
        }
    }

    #nav-neue {
        a {
            margin: 33px 0px 14px 0px !important;
            color: #333333;
            font-size: 16px;

            @include mQ(1199px) {
                font-size: 13px;
            }

            &:hover {
                text-decoration: none !important;
            }

            &:focus {
                text-decoration: none !important;
            }

            img {
                max-width: 175px !important;
            }
        }

        .icon_menu {
            font-size: 30px;
        }

        .icon_cart {
            font-size: 25px;

            @include mQ(1199px) {
                font-size: 21px;
            }
        }


        .fas, .fa {
            font: normal normal normal 18px/1 FontAwesome !important;
        }

        span i {
            position: absolute;
            bottom: 32px;
            right: -15px;
            background-color: #FF0000;
            color: white;
            font-size: 12px;
            padding: 3px;
            width: 19px;
            text-align: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;

            @include mQ(991px) {
                right: -2px;
            }
        }

        .line {
            border-left: solid 1px #CCCCCC;
            height: 81px;
            left: 40px;
            top: 0px;
            filter: blur(0.5px)
        }
    }
}


   

    body.checkout-proccess section#breadcrumbsnew {
        margin: 47px 0;
        background-color: transparent
    }

    @include mQ(767px) {
        body.checkout-proccess section#breadcrumbsnew {
            margin-top: 0
        }

        body.checkout-proccess section#breadcrumbsnew .container {
            max-width: 100%
        }

        body.checkout-proccess section#breadcrumbsnews .container .col-md-12 {
            padding: 0
        }

        body.checkout-proccess section#breadcrumbsnew .container .col-md-12 ol {
            padding-left: 10px;
            padding-right: 10px
        }

        body.checkout-proccess section#breadcrumbsnew li:last-of-type {
            display: none
        }
    }


.breadcrumbnew {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 25px;
    margin-top: 54px;
    list-style: none;
    border-radius: $border-radius-base;

    @include mQ (991px) {
        padding: 8px 15px;
        margin-bottom: 52px;
    }

    @include mQ (767px) {
        margin-top: 24px;
        margin-bottom: 14px;
    }

    a > span {
        font-weight: normal;
    }

    span {
        font-weight: bold;
        color: #333333;
    }



    > li {
        display: inline-block;
        padding: 0 10px;
    }
}

    .pv2 .badgedesc {
        @include label (4px 35px, 37%, -5%, #000000);

        @include mQ(991px) {
            left: 27%;
            top: -9%;
        }

        @include mQ(767px) {
            left: 31%;
            top: -9%;
        }
    }


    .pv2 .badgeempresa {
        @include label (4px 35px, 37%, -5%, #1399D8);

        @include mQ(991px) {
            left: 27%;
            top: -9%;
        }

        @include mQ(767px) {
            left: 31%;
            top: -9%;
        }
    }



    .pv2 .badgevendida {
        @include label (4px 35px, 37%, -5%, #D0021B);

        @include mQ(991px) {
            left: 27%;
            top: -9%;
        }

        @include mQ(767px) {
            left: 31%;
            top: -9%;
        }
    }

    .pv2 .col-md-6:last-of-type {
        text-align: center;
    }

    .pv2 .gallery-list .item {
        width: calc(19% - 0px);
        margin: 11px;
        padding-bottom: calc(20% - 12px);

        @include mQ(991px) {
            width: calc(27% - 21px);
            padding-bottom: calc(21% - 17px);
            margin: 5px;
        }
    }

.pv2 {
    border-bottom: 2px solid #e0e0e0;

    h1 {
        margin-top: -85px;
        font-size: 26px !important;
        margin-bottom: 4px !important;

        @include mQ(991px) {
            margin-top: -55px;
            font-size: 22px !important;
        }

        @include mQ(767px) {
            margin-top: 29px;
        }
    }



    .features-product li {
        @include mQ(767px) {
            text-align: center !important;
        }
    }

    .col-lg-offset-2 {
        margin-left: 4.66667%;
    }

    @include mQ(991px) {
        .col-lg-offset-2 {
            margin-left: 0%;
        }
    }


    .product-image > img {
        left: 3px;
        height: 104% !important;
    }

    span.product-image {
        max-width: 473px !important;

        @include mQ(767px) {
            display: none !important;
        }
    }

    .product-image {
        padding-bottom: 85% !important;
    }

    .features-product ul {
        line-height: 28px;
    }

    .gallery-list {
        margin: 17px 0 85px !important;

        @include mQ(767px) {
            display: none
        }
    }
}

    a#yv-quickreview-more {
        color: #333333 !important;
        text-decoration: underline;
        font-weight: 500;
    }

    .new-frame {
        text-align: center;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        background-color: #EEEEEE;
        width: 87%;
        margin-bottom: 24px;
        margin-top: 12px;

        @include mQ(991px) {
            width: 100%;
        }

        @include mQ(767px) {
            margin-top: 43px;
            height: 443px;
        }

        .cta-buy li {
            @include mQ(991px, 768px) {
                width: 83% !important;
            }
        }

        @include mQ(767px) {
            .size.pull-left {
                margin-top: 32px !important;
            }
        }

        .picksize p {
            font-size: 20px !important;
            font-weight: 500;
            margin-bottom: 12px !important;
            margin-top: -3px;
            color: #333333 !important;
        }

        .yv-bootstrap {
            margin-top: 12px;
        }

        .selecionado {
            background-color: #333333 !important;
            border-color: #333333 !important;
            color: #fff !important;
        }

        .active {
            background-color: #333333 !important;
            border-color: #333333 !important;
            color: #fff !important;
        }

        #picksize2 ul li {
            display: block;
            width: 340px;
            height: 50px;
            border-radius: 3px;
            font-size: 15px;
            color: #333333;
            font-weight: 500;
            margin: 10px 10px;
            background-color: #ffffff;
            border: 1px solid #999999;
            padding: 14px 0;



            @include mQ(991px) {
                width: 283px;
            }

            @include mQ(440px) {
                width: 100%;
                margin: 18px 131px -5px -1px;
            }


            u {
                display: inline-block;
                width: 14%;
                font-size: 15px;
                font-weight: 500;

                @include mQ(767px) {
                    width: 17%;
                }
            }

            &:first-of-type u {
                width: 19%;

                @include mQ(767px) {
                    width: 21%;
                }
            }

            .NaoSelecionado2 {
                display: inline-block;
            }
        }

        .pricing ul {
            border-top: none !important;
            margin-top: 25px !important;
            padding-top: 0px !important;
        }

        .pricing ul li {
            display: block !important;
            width: 100% !important;
            float: none !important;
            text-align: center !important;
            font-size: 28px !important;
            color: #DE1200;
            font-weight: bold;

            &:last-child {
                font-size: 15px !important;
                color: #333333;
                line-height: 20px;
                font-weight: normal;
            }

            @include mQ(991px, 768px) {
                width: 87% !important;
            }
        }

        .product .cta-buy > ul {
            width: initial !important;
        }

        .btn-checkout {
            background: #729331 !important;
            font-size: 18px !important;
            padding: 17px 138px !important;
            margin-bottom: 26px;

            &:hover {
                background: #729331 !important;
            }

            @include mQ(991px) {
                padding: 15px 100px !important;
            }

            @include mQ(767px) {
                padding: 15px 131px !important;
            }

            @include mQ(450px) {
                padding: 14px 85px !important;
            }
        }
    }


    #resumo-carrinho {
        border-bottom: solid #e0e0e0 1px;
        position: fixed;
        z-index: 999;
        background-color: #FFFFFF;
        width: 100%;
        top: 82px;
        height: 66px;
        padding-top: 9px;

        @include mQ(991px) {
            top: 78px;
        }


        .smooth, .smooth2 {
            color: #333333;
            font-size: 16px;
            line-height: 49px;
            margin-left: 12px;

            @include mQ(991px) {
                font-size: 14px;
            }
        }

        .col-md-5 {
            text-align: center;

            > img {
                max-width: 44px;
                text-align: center;
                margin: 0px 12px;
            }

            @include mQ(991px) {
                font-size: 12px;
            }
        }

        .col-md-4 {
            color: #de1200;
            font-size: 18px;
            font-weight: 500;
            padding: 5px 0px;
            text-align: right;
        }

        div:last-of-type > a {
            background: #729331;
            font-size: 14px;
            padding: 9px 20px;
            margin-left: 15px;

            @include mQ(991px) {
                font-size: 12px;
            }
        }
    }



.slider-mobile {
    display: none;

    @include mQ(767px) {
        width: 100%;
        height: 300px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-scroll-snap-points-x: repeat(300px);
        -ms-scroll-snap-points-x: repeat(300px);
        scroll-snap-points-x: repeat(300px);
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        scroll-behavior: smooth;

        .slide {
            width: 100%;
            flex-shrink: 0;
            height: 100%;
        }

        img {
            width: 268px;
            height: auto;
            margin-top: 26px;
        }

        img[alt*="homenagem grátis ao centro em"] {
            width: 243px;
        }
    }
}

