﻿.popping {
    background: white;
    border: 1px solid #c0c0c0;
    position: absolute;
    z-index: 2;
    @include cpv-border-radius(4px);
    @include cpv-box-shadow(0, 5px, 8px, rgba(0,0,0,.2));

    @media (max-width: $screen-xs-max) {
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }

    @media (min-width: $screen-sm-min) {
        width: calc(100% - 30px);
        top: 100%;
        left: 15px;
    }

    &:before, &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
        border-style: solid;
    }

    &:after {
        border-color: transparent transparent $soft-gray transparent;
        border-width: 9px;
        left: calc(50% + 1px)
    }

    &:before {
        border-color: transparent transparent #c0c0c0 transparent;
        border-width: 10px;
    }

    .pop-title {
        margin: 0;
        padding: 4px 0;
        text-align: center;
        font-size: $small-font;
        background: $soft-gray;
    }

    .pop-content {
        padding: 5px 10px;

        p {
            margin: 0 0 5px 0;
        }

        p:not(:last-child) {
            margin-bottom: 0;
        }

        div {
            margin: 8px 0;
        }

        input[type=checkbox] {
            margin-right: 4px;
            position: relative;
            top: 2px;
        }
    }
}