section#breadcrumbs {
	background-color: $soft-gray;
}

section#features {
	text-align: center;
	background-color: $soft-gray;
	border-bottom: 1px solid $light-gray;

	@media (max-width: $screen-xs-max) {
		.container {
			width: 100%;
			max-width: initial;

			li {
				padding: 5px 7px;
			}
		}
	}

	@media (max-width: 480px) {
		ul {
			text-align: center;
			width: 100%;
			display: block;

			li {
				float: none!important;
				display: inline-block;

			}
		}
	}

	ul {
		@extend .clearfix;
		display: inline-block;
		list-style: none;
		padding: 0px;
		margin: 5px 0px;

		li {
			float: left;
			padding: 5px 10px;
			text-align: left;
			text-transform: uppercase;
			font-size: $tiny-font - 1px;
			color: $deep-gray;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				padding: 5px 6px;
			}

			i {
				display: inline-block;
				float: left;
				width: 17px;
				height: 17px;
				margin-right: 5px;
				@include cpv-sprite(0px 0px);
			}

			&#entrega i {
				background-position: 0px -60px;
			}

			&#faturamento i {
				background-position: 0px -98px;
			}

			&#atendimento i {
				background-position: 0px -25px;
			}

			&#frete i {
				background-position: 0px -115px; width: 23px;
			}

			&#pagamento i {
				background-position: 0px -42px;
			}

			&#faixa i {
				background-position: 0px -79px;
			}

			span {
				display: block;
				float: left;

				strong {
					display: block;
					width: 100%;
					color: $soft-black;
				}
			}
		}
	}
}

section.para-empresas {
	padding: 30px 0;

	h1, h2 {
		text-align: center;
		display: block;
		width: 100%;
	}

	h1 {
		font-size: $extreme-font;
		margin-top: 30px;
	}

	&#solucoes {
		padding: 0;

		.bx-wrapper {
			position: relative;

			&:hover {

				.bx-controls {
					opacity: 1;
				}
			}

			.bx-controls {
				opacity: 0;
				position: absolute;
				top: 50%;
				margin-top: -30px;
				width: 100%;
				-webkit-transition: 0.2s linear;
				-moz-transition: 0.2s linear;
				-o-transition: 0.2s linear;
				transition: 0.2s linear;

				@media (min-width: $screen-md-min) and (max-width: 1644px) {
					margin-top: -20px;
				}

				@media (max-width: $screen-sm-max) {
					display: none;
				}

				a {
					position: absolute;
					top: 0;
					display: block;
					background-color: $light-gray;
					background-position: center;
					background-repeat: no-repeat;
					-webkit-transition: background 0.1s linear;
					-moz-transition: background 0.1s linear;
					-o-transition: background 0.1s linear;
					transition: background 0.1s linear;

					@media (min-width: 1645px) {
						width: 60px;
						height: 60px;
						@include cpv-border-radius(30px);
						background-size: 20px;
					}

					@media (min-width: $screen-md-min) and (max-width: 1644px) {
						width: 40px;
						height: 40px;
						@include cpv-border-radius(20px);
						background-size: 15px;
					}

					&:hover {
						background-color: $dark-gray;
					}

					&.bx-prev {
						background-image: url('../img/ui/prev.png');
						left: 0;
						@media (min-width: 1645px) {
							margin-left: 10%;
						}

						@media (min-width: 1400px) and (max-width: 1644px) {
							margin-left: 2%;
						}

						@media (min-width: $screen-md-min) and (max-width: 1399px) {
							margin-left: 10px;
						}
					}

					&.bx-next {
						background-image: url('../img/ui/next.png');
						right: 0;
						@media (min-width: 1645px) {
							margin-right: 10%;
						}

						@media (min-width: 1400px) and (max-width: 1644px) {
							margin-right: 2%;
						}

						@media (min-width: $screen-md-min) and (max-width: 1399px) {
							margin-right: 10px;
						}
					}
				}
			}
		}

		.bxslider {

			& > li {
				padding: 60px 0;
				min-height: 310px;
				background-position: right center;
				background-repeat: no-repeat;
				background-color: $soft-gray;

				@media (min-width: 1645px) {
					background-position: 80% -30px;
				}

				@media (min-width: 1400px) and (max-width: 1644px) {
					background-position: 90% -30px;
				}

				@media (min-width: $screen-lg-min) and (max-width: 1399px) {
					background-position: 95% -30px;
				}

				@media (min-width: $screen-sm-min) {
					&#slide-coroas {background-image: url('../img/ui/slide-coroas.png')}

					&#slide-datas {background-image: url('../img/ui/slide-datas.png')}

					&#slide-escritorio {background-image: url('../img/ui/slide-escritorio.png')}

					&#slide-presente {background-image: url('../img/ui/slide-presente.png')}

					&#slide-maternidade {background-image: url('../img/ui/slide-maternidade.png')}
				}

				@media (max-width: $screen-xs-max) {
					text-align: center;
					padding: 30px 0 20px;
				}

				@media (min-width: $screen-md-min) and (max-width: 1644px) {
					.col-md-8 {
						padding-left: 55px;
						padding-right: 50px;
					}
				}

				@media (min-width: $screen-md-min) and (max-width: 1075px) {
					.col-md-8 {
						padding-right: 70px;
					}
				}

				@media (max-width: $screen-sm-max) {
					background-size: 315px auto;
				}

				h3 {
					font-size: $extreme-font;
					text-transform: uppercase;
					font-style: italic;
					font-weight: bold;
					margin: 0 0 20px 0;

					@media (max-width: $screen-xs-max) {
						font-size: $big-font;
					}
				}

				h4 {
					font-family: $arial;
					font-size: $basefont + 2px;
					line-height: 1.4;
					text-rendering: optimizeLegibility;
					margin: 0 0 30px 0;
				}

				ul {
					padding: 0;
					margin: 0;
					list-style: none;
					display: none; // Escondendo a lista de Features temporáriamente

					li {
						padding: 10px 20px;
						float: left;
						display: inline-block;
						font-size: $basefont + 2px;
						text-transform: uppercase;
						border-right: 1px solid $light-gray;

						@media (max-width: $screen-sm-max) {
							float: none;
							width: 100%;
							padding-left: 0;
							border-right: none;
							margin-bottom: 10px;
						}

						&:last-of-type {
							border-right: none;
						}
					}
				}
			}
		}
	}

	&#sobre {

		h2 {
			margin-bottom: 30px;
		}

		@media (min-width: $screen-md-min) {
			.col-md-4 {
				border-right: 1px solid $light-gray;

				p {
					padding-right: 10px;
				}
			}
		}

		.col-md-8 {
			text-align: center;
		}

		p, p strong {
			font-size: $basefont + 2px;
			line-height: 1.4;
			text-rendering: optimizeLegibility;
			font-family: $arial;
			text-align: justify;
			letter-spacing: -0.5px;
			margin-bottom: 20px;
		}

		ul {
			margin: 50px 0 30px 20px;
			padding: 0;
			list-style: none;
			display: inline-block;
			text-align: left;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				margin: 0;
				padding-left: 30px;
			}

			@media (max-width: $screen-xs-max) {
				display: none;
			}

			li {
				float: left;
				width: 50%;
				margin-bottom: 30px;
				cursor: default;

				&:hover span {
					background-color: $soft-gray
				}

				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					float: none;
					display: inline-block;
					width: 100%;
				}

				span {
					display: inline-block;
					width: 60px;
					height: 60px;
					float: left;
					background-color: $light-gray;
					@include cpv-border-radius(30px);
					@include cpv-sprite(0px 0px);

					&#corp-entrega {
						background-position: 0px -726px;
					}

					&#corp-atendimento {
						background-position: -60px -726px;
					}

					&#corp-faturamento {
						background-position: -120px -726px;
					}

					&#corp-relatorio {
						background-position: -180px -726px;
					}
				}

				em {
					font-size: $basefont + 2px;
					text-transform: uppercase;
					padding: 0 20px;
					margin-top: 15px;
					float: left;
					width: calc(100% - 60px);
				}
			}
		}

		@media (max-width: $screen-xs-max) {
			.btn {
				display: none;
			}
		}
	}

	&#clientes {
		background-color: $soft-gray;

		.costumer-card {
			margin: 15px 0;
			min-height: 150px;
			text-align: center;

			span {
				@include cpv-clientes();
				display: inline-block;
				width: 100%;
				height: 150px;
				background-position: 0px 0px;
				-webkit-transition: background 0.5s linear;
				-moz-transition: background 0.5s linear;
				-o-transition: background 0.5s linear;
				transition: background 0.5s linear;

				&:hover {
					background-image: url('../img/ui/sprite-empresas-color.png');
				}
			}

			&#volkswagen span 	{
				background-position: -17px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -35px -24px;
				}
			}

			&#bayer span {
				background-position: -217px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -235px -24px;
				}
			}

			&#itau span {
				background-position: -416px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -434px -24px;
				}
			}

			&#unilever span {
				background-position: -616px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -634px -24px;
				}
			}

			&#petrobras span {
				background-position: -819px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -837px -24px;
				}
			}

			&#peg span {
				background-position: -1018px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -1036px -24px;
				}
			}

			&#sherwin span {
				background-position: -1213px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -1229px -24px;
				}
			}

			&#central span {
				background-position: -1415px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -1431px -24px;
				}
			}

			&#rdsports span {
				background-position: -1617px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -1633px -24px;
				}
			}

			&#bancarios span {
				background-position: -1817px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -1833px -24px;
				}
			}

			&#figueira span {
				background-position: -2016px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -2032px -24px;
				}
			}

			&#raidho span {
				background-position: -2217px -24px;

				@media (max-width: $screen-md-max) {
					background-position: -2233px -24px;
				}
			}
		}
	}

	&#contato {

		form {
			margin-top: 30px;

			.control-label {
				font-weight: normal;
				text-transform: uppercase;
				font-size: $tiny-font + 1px;
			}
		}

		ul {
			margin: 90px 0 0 0;
			padding: 0;
			list-style: none;

			@media (max-width: $screen-xs-max) {
				margin-top: 50px;

				&:before {
					content: "Entre em contato";
					text-align: center;
					text-transform: uppercase;
					display: block;
					font-size: $large-font;
					background-color: $soft-gray;
					padding: 5px 0;
				}
			}

			li {
				font-size: $big-font;
				padding: 10px 0;
				border-bottom: 1px solid $soft-gray;
				font-weight: bold;
				text-align: center;

				a {
					color: $light-black;

					&:hover {
						color: $base-blue;
					}
				}

				a[href^="mailto"] {
					font-size: $basefont + 2px;
					font-weight: normal;
				}
			}
		}
	}
}

section.telefones {

	&#title {

		h1 {
			text-align: center;
			width: 100%;
		}
	}

	ul.list-group {

		a.list-group-item {
			text-transform: uppercase;
			font-size: $basefont + 2px;

			.btn {
				display: none;
				float: right;
				margin: 0;
				position: relative;
				top: -6px;
			}

			@media (min-width: $screen-sm-min) {
				&:hover {
					.btn {
						display: block;
					}
				}
			}
		}
	}
}

section.frases {

	.btn-group {
		margin-top: 10px;

		.btn-default {
			font-size: $basefont + 2px;

			&.active {
				background-color: $light-gray;
				color: $soft-black;
				border-color: $dark-gray;

				&:hover {
					border-color: $dark-gray;
				}
			}

			span {
				font-size: $large-font;
			}
		}
	}

	@media (max-width: $screen-xs-max) {

		.btn-group-justified {

			.btn-lg, .btn-group-lg>.btn {
				border-radius: 0;
			}

			& > .btn-group {
				display: block;
				width: 100%;

				&:first-child {

					.btn {
						border-bottom: none;
						position: relative;
						left: -1px;
						border-top-left-radius: 6px!important;
						border-top-right-radius: 6px!important;
					}
				}

				&:last-child {

					.btn {
						border-top: none;
						border-bottom-left-radius: 6px!important;
						border-bottom-right-radius: 6px!important;
					}
				}
			}
		}
	}

	.box {
		background-color: $soft-gray;
		text-align: center;
		@include cpv-border-radius(5px);
		margin: 20px 0 30px;
		padding: 0 15px;
		@extend .clearfix;

		h2 {
			border-bottom: 1px solid $light-gray;
			margin: 0 0 20px 0;
			padding-bottom: 5px;
		}

		.card {

			span {
				@include cpv-cropper(100%, 0, 100%);

				img {
					width: 100%;
				}
			}

			div	{
				position: relative;

				h4 {
					font-size: $basefont + 1px;
					text-transform: uppercase;
					letter-spacing: -0.7px;
					display: block;
					padding: 0 20px;
					margin-bottom: 20px;

					@media (max-width: $screen-sm-max) {
						font-size: $large-font - 2px;
						margin-bottom: 20px;
					}

					&:before, &:after {
						font-size: $extreme-font;
						font-family: $arial;
						font-weight: bold;
						position: absolute;
						top: -6px;
					}

					&:before {
						content: '\201C';
						left: 0;
					}

					&:after {
						content: '\201D';
						right: 0;
					}
				}
			}

			div.cta-card {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.5);

				a {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -19px;
					margin-left: -82.5px;
				}
			}

			&:hover div.cta-card {
				display: block;
			}
		}
	}
}

section.cidades-regioes {

	h1 {
		font-size: $extreme-font + 6px;
		text-align: center;
		display: block;
		width: 100%;
	}

	h1 + p {
		font-family: $arial;
		text-align: center;
		color: $deep-gray;
		font-size: $large-font + 2px;
		margin-top: 15px;
	}

	span.more {
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid $light-gray;
		padding-bottom: 15px;
		margin: 20px 0;

		a {
			font-family: $arial;
		}
	}

	span.cropper {
		@include cpv-cropper(100%, 0, 40%);

		img {
			width: 100%;
		}

		& + ul {
			display: block;
			padding: 5px 15px 10px;
			margin: 0;
			background-color: $soft-gray;
			list-style: none;
			border-bottom: 3px solid $light-gray;

			li {
				line-height: 1.4;
				font-family: $arial;

				&:first-of-type {
					font-size: $large-font - 2px;
					text-transform: uppercase;
				}
			}
		}
	}

	#placetext {
		margin-top: 50px;

		* {
			font-family: $arial;
			line-height: 1.3;
			text-rendering: optimizeLegibility;
		}

		h2 {
			font-weight: bold;
			font-size: $big-font;
			border-bottom: 1px solid $light-gray;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}

		p {
			font-size: $basefont + 2px;
			text-align: justify;
			text-justify: auto;
		}

		// Debug for strong code
		void {
			display: none;
		}

		p + p > strong:first-child:last-child {
			font-size: $large-font - 2px;
			margin-top: 20px;
			display: block;
			color: $soft-black;
		}
	}

	&#places {
		margin-top: 40px;

		h5 {
			font-size: $large-font;
			text-align: center;
			color: $deep-gray;
			border-bottom: 1px solid $light-gray;
			padding-bottom: 10px;
		}

		h6 {
			font-size: $basefont + 4px;
			font-weight: bold;
			color: $deep-gray;
		}

		ul {
			list-style: none;
			margin: 0 0 15px 0;
			padding: 0;
			line-height: 1.3;

			li {
				padding: 2px 0;

				&:hover {
					background-color: $soft-gray;

					a {
						color: $light-black;
					}
				}

				a {
					font-family: $arial;
					text-decoration: underline;
				}
			}
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			.col-sm-6:nth-of-type(6) {
				ul {
					min-height: 150px;
				}
			}
		}
	}
}
