﻿@model Domain.Entities.Fornecedor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fornecedor</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoID)
            @Html.ValidationMessageFor(model => model.EstadoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PessoaContato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PessoaContato)
            @Html.ValidationMessageFor(model => model.PessoaContato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailContato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailContato)
            @Html.ValidationMessageFor(model => model.EmailContato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonePrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonePrimario)
            @Html.ValidationMessageFor(model => model.TelefonePrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefoneSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefoneSecundario)
            @Html.ValidationMessageFor(model => model.TelefoneSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonesAdicionais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonesAdicionais)
            @Html.ValidationMessageFor(model => model.TelefonesAdicionais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNPJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNPJ)
            @Html.ValidationMessageFor(model => model.CNPJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BancoPrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BancoPrimario)
            @Html.ValidationMessageFor(model => model.BancoPrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgenciaPrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgenciaPrimario)
            @Html.ValidationMessageFor(model => model.AgenciaPrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContaPrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContaPrimario)
            @Html.ValidationMessageFor(model => model.ContaPrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoContaPrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoContaPrimario)
            @Html.ValidationMessageFor(model => model.TipoContaPrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FavorecidoPrimario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FavorecidoPrimario)
            @Html.ValidationMessageFor(model => model.FavorecidoPrimario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BancoSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BancoSecundario)
            @Html.ValidationMessageFor(model => model.BancoSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgenciaSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgenciaSecundario)
            @Html.ValidationMessageFor(model => model.AgenciaSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContaSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContaSecundario)
            @Html.ValidationMessageFor(model => model.ContaSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoContaSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoContaSecundario)
            @Html.ValidationMessageFor(model => model.TipoContaSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FavorecidoSecundario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FavorecidoSecundario)
            @Html.ValidationMessageFor(model => model.FavorecidoSecundario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Entrega24h)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Entrega24h)
            @Html.ValidationMessageFor(model => model.Entrega24h)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntregaHorario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EntregaHorario)
            @Html.ValidationMessageFor(model => model.EntregaHorario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntregaCidadesProximas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EntregaCidadesProximas)
            @Html.ValidationMessageFor(model => model.EntregaCidadesProximas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observacao)
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataCadastro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCadastro)
            @Html.ValidationMessageFor(model => model.DataCadastro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Principal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Principal)
            @Html.ValidationMessageFor(model => model.Principal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Liberado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Liberado)
            @Html.ValidationMessageFor(model => model.Liberado)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
