﻿@{
    ViewBag.Title = "- Termos e Condições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="960px">
<tr>
<td><hr class="divisa" style="width:300px" /></td>
<td><h1 class="laranja">TERMOS E CONDIÇÕES</h1> </td>
<td><hr class="divisa" style="width:300px" /></td>
</tr>
</table>
<p>O site www.lacoscorporativos.com.br vem por meio desta carta informar aos seus clientes e consumidores as práticas legais de uso de seu portal de vendas, aqui chamadas  de Termos de Uso e Condições Comerciais.</p>

<p>Fica desde já claro que o site Laços Corporativos poderá a qualquer momento alterar tais práticas sem qualquer tipo de prévio aviso aos seus clientes e parceiros. Qualquer tipo de atualização, modificação, revisão ou simples alteração ficará a total critério do site LacosCorporativos.com.br e seus proprietários.</p>

<p>a) O site Laços Corporativos tem o objetivo único de comercializar flores, arranjos florais, presente ou coroas fúnebres para serem entregues em diversos locais do país.</p>

<p>b) Os produtos comercializados pelo site LacosCorporativos.com.br bem como suas descrições poderão ser atualizados periodicamente sem prévio aviso aos clientes;</p>

<p>c) As atualizações dos produtos poderão ser feitas no sentido de melhoria, correção, sazonalidade de recursos ou qualquer outra necessidade identificada pelo site;</p>

<p>d) Todas as informações contidas no site LacosCorporativos.com.br são de propriedade particular e estão proibidas de serem utilizadas para fins públicos sem a autorização dos proprietários;</p>

<p>e) Os clientes e usuários poderão utilizar as informações contidas no site LacosCorporativos.com.br com a finalidade particular, exclusivamente, sem qualquer tipo de alteração ou modificação;</p>

<p>f) As únicas formas de pagamento aceitas pelo site LacosCorporativos.com.br serão débitos em conta, boleto bancário, cartão de crédito, cheque e dinheiro. Qualquer outra forma de pagamento será vetada;</p>

<p>g) Os usuários e clientes são inteiramente responsáveis pelas informações pessoais que inserem nos processos de compras, não cabendo ao site Laços Corporativos se responsabilizar pela veracidade das informações;</p>
<br />
<p>Agradecemos pela compreensão,<br />

Equipe Laços Corporativos </p>