﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "A empresa";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";

    var depoimentosPF = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPF;
    var depoimentosPJ = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPJ;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "a-empresa")" itemprop="url">      
      <span itemprop="title"><b>A Empresa</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<h1>A empresa</h1>
<div class="conteudo empresa">
    <div class="one-third" style="width:100%">
    
        <span class="qlassik">Conheça um pouco mais sobre a nossa empresa assistindo ao vídeo</span><br /><br />
        
        <center><iframe width="560" height="315" src="//www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0" allowfullscreen></iframe></center>
	<br>
	<br>
	<br>
    </div>
    <div class="one-third">

        <span class="qlassik">A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.</span>
        <p style="text-align: justify">
            A empresa possui o objetivo de oferecer uma solução rápida, segura e prática de entrega de Coroas de Flores em todos os cemitérios, velórios, hospitais, igrejas e crematórios do Brasil.
            <br /><br />
            Com uma grande e qualificada rede de floriculturas, nossa empresa possui operação para entregar homenagens onde quer que esteja ocorrendo um velório, sempre com qualidade e pontualidade.
        </p>
        <br />
        <span class="qlassik">Equipe Coroas Para Velório</span>
          
        <p style="text-align: justify">
            Coroas de Flores para todos os cemitérios e velórios do Brasil.
            <br />
            atendimento@coroasparavelorio.com.br
        </p>
    </div>

    <div class="two-third">
        <span class="qlassik">Sobre nossos produtos:</span>
        <br /><br /><br />
        <div class="itens-produtos frete">
            Nossas Coroas de Flores possuem FRETE GRÁTIS para qualquer cidade do Brasil.
        </div>
        <div class="itens-produtos faixa">
            Todas as Coroas de Flores acompanham uma faixa de homenagens sem nenhum custo adicional.
        </div>
        <div class="itens-produtos flores">
            Trabalhamos com flores frescas, garantindo qualidade à Coroa de Flores.
        </div>
        <div class="itens-produtos estrela">
            Em caso de ausência, as flores serão substituídas por outras de mesma qualidade ou superior.
        </div>

    </div>
</div>
<div class="hr-dk"><hr></div>
<div class="conteudo empresa parte-2">
    <div class="two-third" style="background: none; margin: 0 4% 0 0; width: 58%">
        <span class="qlassik">Nossa missão</span>
        <p>
            Possibilitar as pessoas de prestarem suas últimas homenagens, sempre com qualidade e pontualidade, aonde quer que seja o local de velório.
        </p>
        <br /><br />
        <span class="qlassik">Nossa visão para @DateTime.Now.Year</span>
        <p>
            Ser reconhecida por nossos clientes como a melhor empresa de homenagens fúnebres do Brasil.
            <br /><br />
            Nossos valores, Responsabilidades e diretrizes:
            <ul>
                <li>Transparência, Ética e Honestidade em todas as nossas ações;</li>
                <li>Respeito a todos os nossos clientes, compreendendo o momento delicado;</li>
                <li>Facilitar a compra e o pagamento, com processos rápidos e desburocratizados;</li>
                <li>Investir sempre em nossos talentos;</li>
                <li>Sempre antecipar nosso cliente, oferecendo informações, respostas e praticidade.</li>
            </ul>
        </p>
    </div>

    <div class="one-third" style="margin: 0; width: 38%;">
        <span class="qlassik">Depoimentos</span>
        <br /><br />
        <div class="box_lista">
        @if (depoimentosPF.Any())
        {
            foreach (var item in depoimentosPF)
            {
            <div class="depoimento" style="width: 300px">
                <p>
                    @item.Texto
                </p>
            </div>
            <div class="baixo-depoimento"></div>
            <h3>@item.Nome</h3>
            <i>@item.Cidade</i>
            }
        }
        </div>
        <div class="box_lista">
        @if (depoimentosPJ.Any())
        {
            foreach (var item in depoimentosPJ)
            {
            <div class="depoimento" style="width: 300px">
                <p>
                    @item.Texto
                </p>
            </div>
            <div class="baixo-depoimento"></div>
            <h3>@item.Nome / @item.Empresa</h3>
            <i>@item.Cidade</i>
            }
        }
        </div>
        <a href="@Url.Action("Index", "depoimentos-de-clientes")" style="float:right; margin-right: 25px;">ver mais depoimentos</a>
    </div>
</div>