/* ----------------------------------------------------------------
    
    Filename: lacos.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Guilherme de Oliveira Costa
    Website: http://www.benance.net/guilhermedeocosta
    
-----------------------------------------------------------------*/

/* ============================================================= */
/* ======================= Media Queries ======================= */
/* ============================================================= */

/* ===================== Bootstrap xs size ===================== */
    @media screen and (min-width: 275px) and (max-width: 767px) {
        .card {
            max-width: 350px;
            margin: 15px auto!important;
        }
        
        .modal-dialog {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .modal-dialog ul li {
            text-align: center;
        }
        
        .navbar-default .navbar-toggle {
            background-color: #eeeeee;
        }
        
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            text-align: center!important;
        }
        
        .navbar.navbar-default ul li a:hover {
            background-color: darkgreen;
        }
        
        .dropdown-menu>li>a {
            background-color: #008541!important;
            color: #ffffff!important;
        }

        .dropdown-menu>li>a:hover {
            background-color: darkgreen!important;
            color: #ffffff!important;
        }
    }

/* ===================== Bootstrap sm size ===================== */
    @media screen and (min-width: 768px) and (max-width: 991px) {        
        .card p {
            min-height: 28px!important;
        }

        section.section#contato-obrigado #col-logo {
            padding: 15px 25px!important;
        }
    }

/* ===================== Bootstrap md size ===================== */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .card h3 {
            min-height: 34px!important;
        }
        
        .card p {
            min-height: 42px!important;
        }
    }

/* ===================== Bootstrap lg size ===================== */
    @media screen and (min-width: 1200px) {
        
    }

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */

/* ======= Debug ======== */
body>.row, html>.row {
    margin: 0px!important;
}

/* ======= General ======== */
body * {
    font-family: 'PT Sans', 'Myriad Pro', Sans-Serif;
}

body {
    background-color: #f6f6f6;
}

/* ======= Navbar ======== */
.navbar>.container .navbar-brand {
    min-width: 160px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar>.container .navbar-brand img, .navbar>.container-fluid .navbar-brand img {
    min-width: 120px!important;
    height: auto;
}

.navbar.navbar-default {
    background-color: #008541;
    border-color: transparent;
    color: #ffffff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.navbar>.container .navbar-brand img, .navbar>.container-fluid .navbar-brand img {
    display: block;
    width: 100%;
    max-width: 90px;
    height: auto;
    margin: 0 auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: darkgreen;
    color: #ffffff;
}

.navbar.navbar-default ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar.navbar-default ul li a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: darkgreen;
    color: #ffffff;
}

.open>.dropdown-menu 
{
    background-color: #008541;
    border-color: transparent;
}

.dropdown-menu>li>a 
{
    background-color: #008541;
    color: #ffffff;
}

.dropdown-menu>li>a:hover 
{
    background-color: darkgreen;
    color: #ffffff;
}

#login {
    padding-top: 4px;
    padding-bottom: 4px;
}

#login a {
    background-color: darkgreen;
    padding: 10px 15px;
}

/* ======= Header ======== */
h1 {
    text-transform: uppercase;
    font-size: 34pt;
    text-align: center;
    color: #333333;
    letter-spacing: -2px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    letter-spacing: -0.5px;
}

/* ======= Vitrine ======== */
.card {
    background-color: #ffffff;
    margin: 15px 0px;
    text-align: center;
    padding: 15px;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid transparent;
}

.card:hover 
{
    border-color: #f3f3f3;
}

.card span {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
}

.card span img {
    width: 100%;
    height: auto;
}

.card h3 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.card p {
    line-height: 14px;
    font-size: 13px;
    color: #999999;
    letter-spacing: -0.5px;
}

/* ======= Call to Action ======== */
section#cta {
    text-align: center;
    margin-top: 20px;
    background-color: #324d5b;
    color: #ffffff;
    padding: 30px 0px;
}

section#cta h4 
{
    font-size: 22px;
    margin-bottom: 20px;
}

/* ======= Footer ======== */
footer {
    text-align: center;
}

footer .footer-stripe {
    background-color: #333333;
    height: 10px;
    min-height: 10px;
    width: 100%;
}

footer .footer-bottom {
    padding: 15px 0px;
    background-color: #666666;
    color: #ffffff;
    font-size: 14px;
}
footer .footer-bottom p {
    margin: 0px;
}

/* ======= Modal ======== */
ul.col-md-6, ul.col-sm-6, ul.col-xs-12 {
    list-style: none;
}

ul.col-md-6 li {
    text-align: center;
}

ul.col-md-6 li a {
    font-size: 16px;
}

/* ======= Contato Obrigado ======== */
section.section#contato-obrigado {
    padding: 120px 0px;
}

section.section#contato-obrigado .row>div {
    border-left: 1px solid #f3f3f3;
}

section.section#contato-obrigado #col-logo {
    padding: 5px 50px;
    border-left: none;
}

section.section#contato-obrigado p {
    margin: 10px 0px 20px;
    font-size: 16px;
    font-style: oblique;
}

/* ============================================================= */
/* ===================== ANIMATED BUTTON ======================= */
/* ============================================================= */
.a-btn{
    background:#ffdd00;
    /*background:-webkit-gradient(linear,left top,left bottom,color-stop(#ffdd00,0),color-stop(#fdb813,1));
    background:-webkit-linear-gradient(top, #ffdd00 0%, #fdb813 100%);
    background:-moz-linear-gradient(top, #ffdd00 0%, #fdb813 100%);
    background:-o-linear-gradient(top, #ffdd00 0%, #fdb813 100%);
    background:linear-gradient(top, #ffdd00 0%, #fdb813 100%);*/
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#fdb813',GradientType=0 );
    padding-left:35px;
    padding-right:80px;
    height:45px;
    display:inline-block;
    position:relative;
    border:1px solid #5d81ab;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text{
    padding-top:7px;
    display:block;
    font-size:20px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#ffffff;
    font-weight: 600;
    text-shadow:0px 1px 1px #5d81ab;
    text-transform: uppercase;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-slide-text{
    padding-top: 3px;
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#f89c1b;
    color:#ffffff;
    font-size:18px;
    font-weight: 500;
    letter-spacing: -0.5px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url('../../imagesneue/arrow_right.png') no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    padding-right:270px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none;
}
.a-btn:hover .a-btn-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#ffffff;
}
.a-btn:hover .a-btn-slide-text{
    width:190px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}
