﻿@model IEnumerable<Domain.Entities.Noticia>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Coroas para Velório na Mídia - Notícias - Manchetes - Revistas";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "noticias-de-mercado")" itemprop="url">      
      <span itemprop="title"><b>Noticias de Mercado</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Notícias de Mercado</h1>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
        <div class="box_lista_noticia">
            @if (item.Foto != null)
            {
                if (item.Foto.Length > 0)
                {
                    <img src="/content/noticias/@item.ID/thumb/@item.Foto" style="float:left; margin-top:10px; margin-right:10px;"/>
                }
            }
            <h2>@item.Data.ToString("dd/MM/yyyy") - @item.Titulo</h2>
            <p>
                @item.Chamada
                <br />
                <a href="@Url.RouteUrl("Noticias", new { rotuloUrl = item.RotuloUrl, id = item.ID })">Continuar lendo</a>
            </p>
        </div>
        }
        if (ViewBag.TotalPaginas > 1)
        {
            <div class="clear"></div>
            <div class="paginacao">   
                <div class="titulo">@ViewBag.TituloPaginacao</div>
                <div class="paginas">
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "ativa" : "")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Não há notícias para serem listadas.</p>
    }
</div>