﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Mais Vendidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" /> 
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "coroas-de-flores")" itemprop="url">      
      <span itemprop="title"><b>Mais Vendidas</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Mais Vendidas</h1>

    @if (Model != null)
    {
    <p>Veja a relação de coroas mais vendidas:</p>
    }
    else
    {
        <p>Não há coroas neste momento mas confira nossos produtos.</p>
    }
</div>

@if (Model != null)
{
    @Html.Partial("Produtos", Model)
}
