﻿@model List<Domain.Entities.Retorno>

@{
    ViewBag.Title = "Arquivo de Retorno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#financeiro').addClass('active');
            $('#i_retorno').addClass('active');
        });       
    </script>
}
@if (ViewBag.Resultado == MvcExtensions.Controllers.Message.SaveSucess)
{
    <div class="mws-form-message mws-panel success">Arquivo processado com sucesso! <br />Verifique abaixo o resultado do processamento.</div>
}
else if (ViewBag.Resultado == MvcExtensions.Controllers.Message.SaveFailure)
{
    <div class="mws-form-message mws-panel error">Não foi possível processar o arquivo! <br />@ViewBag.Mensagem</div>
}
 
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">
            Arquivo de Retorno
        </span>
    </div>
    <div class="mws-panel-body">
        <table class="mws-table">
            <tr>
                <td>
                    <form method="post" enctype="multipart/form-data" action="@Url.Action("Processar")">
                        <input name="arquivo" type="file" style="height:24px;" />
                        <input type="submit" value="processar" class="mws-button gray small" style="margin:0px 30px; padding:4px 20px; text-transform:uppercase;" />
                    </form>
                </td>
            </tr>
            <tr class="odd">
                <td valign="top" colspan="6" class="dataTables_empty">
                    @if (Model != null)
                    {
                        <span><b>@Model.Count.ToString("000") Total de Registros Processados</b></span>
                        <br />
                        <span>@Model.Count(r => r.Tipo == Domain.Entities.Retorno.Tipos.Invalido).ToString("000") Registros Inválidos</span>
                        <br />
                        <span>@Model.Count(r => r.Tipo == Domain.Entities.Retorno.Tipos.Erro).ToString("000") Erros Relatados</span>
                        <br />
                        <span>@Model.Count(r => r.Tipo == Domain.Entities.Retorno.Tipos.Sucesso).ToString("000") Boletos Processados</span>
                        <br />
                        <span>@Model.Count(r => r.Tipo == Domain.Entities.Retorno.Tipos.Outros).ToString("000") Outros</span>
                        <br /><br />
                        <hr />
                        <b>Registros Detalhados</b>
                        <br />
                        foreach (var retorno in Model)
                        {
                            <span><b>Linha @retorno.Linha (@retorno.Tipo)</b></span><br />
                            <span>Ocorrência: @Domain.Helpers.EnumHelper.GetDescription(retorno.Ocorrencia)</span><br />
                            <i>@retorno.Mensagem</i>
                            <br /><br />
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>