﻿@model IEnumerable<Domain.Entities.Pesquisa>

@{
    ViewBag.Title = "Relatório de Pesquisas de Satisfação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#relatorios').addClass('active');
            $('#i_pesquisa').addClass('active');
        });       
    </script>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Relatório de Pesquisas de Satisfação
            <input type="button" value="Download Excel" class="mws-button blue right padding_1" onclick="javascript:window.open('@Url.Action("PesquisaExcel", "Relatorio")');"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th style="text-align:center;">Pedido</th>
                    <th style="text-align:center;">Cliente</th>
                    <th style="text-align:center;">Prazo</th>
                    <th style="text-align:center;">Qualidade</th>
                    <th style="text-align:center;">Atendimento</th>
                    <th style="text-align:center;">Recomendaria?</th>
                    <th style="text-align:center;">Como Conheceu</th>
                    <th style="text-align:center;">Sugestões</th>
                    <th style="text-align:center;">Data</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="">@item.Nome</td>
                    <td style="">@item.Email</td>
                    <td style="">@item.Telefone</td>
                    <td style="text-align:center;">@Html.Raw(item.Pedido != null?"<a href=\"" + Url.Action("Visualizar", "PedidosSite", new{ id = item.PedidoID}) + "\" target=\"_blank\">" + item.Pedido.Numero + "</a>":"")</td>
                    <td style="text-align:center;">@Html.Raw(item.Pedido != null ? "<a href=\"" + Url.Action("Edit", "Cliente", new { id = item.ClienteID }) + "\" target=\"_blank\">" + item.Cliente.Nome + "</a>" : "")</td>
                    <td style="text-align:center;">@item.PrazoEntrega</td>
                    <td style="text-align:center;">@item.QualidadeProduto</td>
                    <td style="text-align:center;">@item.Atendimento</td>
                    <td style="text-align:center;">@Html.Raw(item.Recomendacao.HasValue?item.Recomendacao.Value ? "<b>SIM</b>" : "NÃO":"Não Respondeu")</td>
                    <td style="text-align:center;">@item.ComoConheceu</td>                    
                    <td style="text-align:center;">@item.Sugestoes</td>
                    <td style="text-align:center;">@item.DataCriacao.Value.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
                }
            }else{
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
    </div>
</div>
