﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var desconto = (Domain.Entities.Desconto)ViewBag.Desconto;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    bool temPromocao = false;
    var mensagemDesconto = "<span>* O desconto de itens na promoção da semana não são cumulativos e são prioritários aos demais descontos do site.</span>";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
 
}

@Html.Action("Caminho", "Pedido", new { posicao = 1 })

<div class="conteudo">
    <table>
    <tr>
        <td style="width:310px;">
            <h1>Meu Carrinho</h1>
        </td>
    @if (Model.Itens.Any())
    {
        <td style="width:310px;">@*<input type="button" onclick="window.location = '@Url.Action("Index", "Home")'" value="Adicionar outra coroa" class="botaoCinza" />*@</td>
        <td><input type="button" onclick="window.location = '@Url.Action("Limpar", "carrinho")'" value="Limpar carrinho" class="botaoCinza" /></td>
        <td><input type="button" onclick="window.location = '@Url.Action("Index", "pedido")'" value="Finalizar compra" class="botao" id="FinalizarCompra" /></td>
    }
    </tr>
    </table>

    <div id="carrinho">
    @if (Model.Itens.Any())
    {
        <table celspacing="0" cellpadding="0" border="0" width="960" class="carrinho box-radius">
            <thead>
                <tr class="qlassik" style="font-size: 22px" >
                    <th colspan="2">Produto</th>
                    <th>Tamanho</th>
                    <th width="100">Valor</th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Itens)
                {
                    var textoPromo = "";
                    var valor = item.Valor.ToString("C2");
                    
                    if (promocao != null)
                    {
                        if (promocao.PromocaoProduto.Count(c => c.ProdutoID == item.ProdutoTamanho.ProdutoID) > 0)
                        {
                            temPromocao = true;
                            if (Model.Cupom == null && temPromocao)
                            {
                                decimal valorDesconto = (item.Valor - (item.Valor * promocao.Desconto / 100));
                                textoPromo = "<i style='font-size:11px;color:#e3010f;'>Cora na promoção da semana com " + promocao.Desconto + "% de desconto.</i>";
                                valor = "<span style='font-size:12px'>De <del>" + valor + "</del> por</span><br>" + valorDesconto.ToString("C2");
                            }
                        }
                    } 
                    <tr class="item">
                        <td style="width:100px;">
                             <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })"><img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.Nome" title="@item.ProdutoTamanho.Produto.Nome"></a>            
                        </td>
                        <td style="width:350px;">

                            <div class="tipoprod">
                                @item.ProdutoTamanho.Produto.Tipo
                            </div>
                            <div class="nomeprod">
                                @item.ProdutoTamanho.Produto.Nome
                                <br />
                                @Html.Raw(textoPromo)
                            </div>
                        </td>
                        <td align="center">@item.ProdutoTamanho.Tamanho.Nome</td>
                        <td width="100" align="center">
                            <span class="valor">
                                @Html.Raw(valor)
                            </span>
                        </td>
                        <td width="50" align="center">
                            <a href="javascript:void(0)" onclick="Carrinho.Remover(@item.ID, function() { window.location = window.location })">
                                <img src="/Content/img/lixeira.png" alt="Remover" title="Remover" border="0" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr height="10"></tr>
                <tr class="qlassik" style="font-size: 20px">
                    <td colspan="2"></td>
                    <td><b>Subtotal: </b></td>
                    <td style="text-align:center;">@Model.Subtotal.ToString("c2")</td>
                    <td></td>
                </tr>
                <tr class="qlassik" style="font-size: 20px">
                    <td colspan="2"></td>
                    <td>
                        <b>Cupom de Desconto: </b>
                        @if (Model.Cupom != null)
                        {
                            @Model.Cupom.Codigo
                            if(Model.Cupom.Tipo == Domain.Entities.Cupom.Tipos.Porcentagem){
                                <span style="font-size:12px;">@("(" + Model.Cupom.Valor + "%)")</span>
                            }
                            <a href="javascript:void(0);" onclick="Carrinho.RemoverCupom()">remover</a>
                        }
                        else
                        {
                            <input id="cupom" type="text" />
                            <a href="javascript:void(0);" onclick="Carrinho.AplicarCupom()">aplicar</a>
                        }
                    </td>
                    <td>
                    </td>
                    <td></td>
                </tr>
                <tr class="qlassik" style="font-size: 20px">
                    <td colspan="2"></td>
                    <td><b>Descontos: </b></td>
                    <td style="text-align:center;">
                        <font class="vermelho">
                            @((-Model.Desconto).ToString("c2"))
                        </font>
                    </td>
                    <td></td>
                </tr>
                <tr class="qlassik" style="font-size: 30px">
                    <td colspan="2"></td>
                    <td><b>Total: </b></td>
                    <td style="width:140px;text-align:center;">
                    <font style="color: #30ab0b">
                        @Model.Total.ToString("c2")
                    </font>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left;">
                        @if (!temPromocao)
                        {
                            var mensagem = "Adicione outra coroa";
                            if (desconto != null)
                            {
                                if (desconto.Ativo)
                                {
                                    var valor = "";

                                    if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Percentual)
                                    {
                                        valor = desconto.Valor.ToString("N0") + "%";
                                    }
                                    else if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Valor)
                                    {
                                        valor = desconto.Valor.ToString("C2");
                                    }

                                    switch (desconto.RegraID)
                                    {
                                        case ((int)Domain.Entities.Desconto.Regras.APartirDeValor):
                                            mensagem += " com " + valor + " de desconto nas compras a partir de " + desconto.Referencia.ToString("C2") + "! *";
                                            break;
                                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMaiorValor):
                                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMenorValor):
                                            mensagem += " com " + valor + " de desconto a partir da 2ª! *";
                                            break;
                                        case ((int)Domain.Entities.Desconto.Regras.EmTodoSite):
                                            mensagem += " com " + valor + " de desconto em todo o site! *";
                                            break;
                                    }
                                }
                            }
                        <div class="leve-outra">
                            <span>Aproveite</span><br />
                            <div class="mensagem">@mensagem</div>
                            <input type="button" onclick="window.location = '@Url.Action("Index", "coroas-de-flores")'" value="Adicionar Coroa" class="botao">
                        </div>
                        }
                        else
                        {                        
                        <div class="leve-outra">
                            <br /><br />
                            <input type="button" onclick="window.location = '@Url.Action("Index", "coroas-de-flores")'" value="Adicionar outra Coroa" class="botao">
                        </div>
                        }
                    </td>
                    <td colspan="2" >
                        <input type="button" onclick="window.location = '@Url.Action("Index", "Pedido")'" value="Finalizar compra" class="botao" id="FinalizarCompra" />
                    </td>
                </tr>
                <tr height="5"></tr>
            </tfoot>
        </table>
        if (!temPromocao)
        {
        @Html.Raw(mensagemDesconto);
        }
    }
    else
    {        
        <p>
            Não há itens em seu carrinho, por favor, navegue pelas opções do menu ou <a href="/">clique aqui</a> para retornar ao catálogo.
        </p>
    }
    </div>
</div>
@section Script{
@if (Model.Cupom != null && temPromocao)
{
    <script type="text/javascript">                            alert('Atenção, o desconto na utilização do cupom não é cumulativo aos itens em promoção da semana. \n\nNessas condições, o valor do produto volta ao valor original.');</script>
}
}