﻿@model Domain.Entities.Carrinho
<div id="ResumoCarrinho" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'carrinho']);">
    <img src="/Content/img/ico-carrinho.png" border="0" alt="carrinho" title="carrinho"/>
    <span>
        @Model.Itens.Count
        <br />itens
    </span>
</div>