﻿@model Domain.Entities.Carrinho
<div id="ResumoCarrinho" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'carrinho']);">
    <img src="/Content/img/novo/ico-carrinho.png" border="0" alt="carrinho" title="carrinho"/> @Model.Itens.Count itens
</div>