﻿@model IEnumerable<Domain.Entities.EstoqueLote>
    <style>
        .mws-form-row-half{
            float: left;
            width: 45%;
        }
        .mws-form-row-third {
            float: left;
            width: 28%;
        }
    </style>
    @{
        var Fornecedor = (Domain.Entities.EstoqueFornecedor)ViewBag.Fornecedor;
        ViewBag.Title = "Novo Faturamento para o Fornecedor " + Fornecedor.NomeFornecedor;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @if (ViewBag.Erro != null)
    {
        <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-documents-1">Novo Faturamento para o Fornecedor @Fornecedor.NomeFornecedor</span>
        </div>
        <div class="mws-panel-body">

            <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
            @using (Html.BeginForm("SalvarFatura", "LoteFloriculturaFatura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
            {
               <input type="hidden" name="Lotes" id="Lotes" />
               <input type="hidden" name="FornecedorID" id="FornecedorID" value="@Fornecedor.ID" />
                <div class="mws-form-block">
                    <div class="mws-form-row mws-form-row-third">
                        <label>Fornecedor</label>
                        <div class="mws-form-row">
                            <a target="_blank" href="/Fornecedor/Editar/@Fornecedor.ID">@Fornecedor.NomeFornecedor - @Domain.Core.Funcoes.Formata_CNPJ(Fornecedor.Documento)</a>
                            <br />
                            @ViewBag.CidadeFornecedor
                            <br />
                            @Fornecedor.Email
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-third">
                        <label>Contas</label>
                        <div class="mws-form-row">
                            @{
                                foreach (var Conta in @Fornecedor.EstoqueFornecedorConta)
                                {
                                    <p>
                                        <b>Banco:</b> @Conta.EstoqueFornecedorBanco.NomeBanco<br />
                                        <b>Conta:</b> @Conta.DescConta<br />
                                        <b>Favorecido:</b> @Conta.Favorecido
                                    </p>
                                }
                            }
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-third">
                    </div>
                        <hr />
                        <div class="mws-form-row">
                            <label>Lotes a serem incluídos nessa fatura.</label>
                            <div class="mws-form-row">
                                <table class="mws-table" style="border:1px solid #ccc;">
                                    <thead>
                                        <tr>
                                            <th align="center">Adicionar</th>
                                            <th align="center">ID</th>
                                            <th align="center">Data</th>
                                            <th align="center">Produtos</th>
                                            <th align="center">Valor Total</th>

                                        </tr>
                                    </thead>
                                    @foreach (var Lote in Model)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="@Lote.ID" class="Lote" />
                                                </td>
                                                <td>
                                                    <a target="_blank" href="@Url.Action("Visualizar", "LoteFloricultura", new { id = Lote.ID })">@Lote.Numero</a>
                                                </td>
                                                <td>
                                                    @Lote.DataCadastro
                                                </td>
                                                <td>
                                                    <table style="width: 600px;">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Produto
                                                                </th>
                                                                <th>
                                                                    Qtd
                                                                </th>
                                                                <th>
                                                                    Valor Unid.
                                                                </th>
                                                                <th>
                                                                    Valor Total
                                                                </th>
                                                                <th>
                                                                    Dt Val.
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                            foreach (var Produto in Lote.EstoqueLoteItem)
                                                            {
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            @Produto.EstoqueProduto.DescProduto
                                                                        </td>
                                                                        <td>
                                                                            @Produto.Qtd
                                                                        </td>
                                                                        <td>
                                                                            @Produto.ValorUnitario.ToString("C2")
                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                decimal ValorTotal = Produto.Qtd * Produto.ValorUnitario;
                                                                            }
                                                                            @ValorTotal.ToString("C2")
                                                                        </td>
                                                                        <td>
                                                                            @Produto.DataVencimento
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                                }
                                                        }
                                                    </table>
                                                </td>
                                                <td>
                                                    @Lote.ValorTotal.ToString("C2")
                                                </td>

                                            </tr>
                                        </tbody>
                                                                                }
                                </table>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>Forma de Pagamento</label>
                            <div class="mws-form-item small">
                                <select class="mws-textinput" id="FormaPagamentoID" name="FormaPagamentoID">
                                    <option value="">--- Selecione ---</option>
                                    @{
                                        foreach (var Forma in ViewBag.FormaPagamento)
                                        {
                                            <option value="@Forma.ID">@Forma.DescFormaPagamento</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>Status de Pagamento</label>
                            <div class="mws-form-item small">
                                <select class="mws-textinput" id="StatusPagamentoID" name="StatusPagamentoID">
                                    <option value="">--- Selecione ---</option>
                                    @{
                                        foreach (var Status in ViewBag.LstStatusPGT)
                                        {
                                            <option value="@Status.ID">@Status.DescStatusPagamento</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div id="Cheque" style="display: none;">
                            <div class="mws-form-row">
                                <label>Banco Emissor do Cheque</label>
                                <div class="mws-form-item small">
                                    <select class="mws-textinput" id="BancoID" name="BancoID">
                                        <option value="">--- Selecione ---</option>
                                        @{
                                            foreach (var Banco in ViewBag.Bancos)
                                            {
                                                <option value="@Banco.ID">@Banco.NomeBanco</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mws-form-row">
                                <label>Nr Do Cheque</label>
                                <input type="text" name="NrCheque" id="NrCheque" class="mws-textinput OnlyNumber valid">
                            </div>
                            <div class="mws-form-row">
                                <label>Bom Para</label>
                                <input style="max-width: 135px;" type="text" name="BomPara" id="BomPara" class="mws-textinput mws-datepicker DataValidade" maxlength="20" />
                            </div>
                        </div>
                        @*<div class="mws-form-row">
                <label>E-mail do financeiro</label>
                <div class="mws-form-item small">
                    @Html.Raw(empresa.EmailFinanceiro != null?"<a href='mailto:@empresa.EmailFinanceiro'>" + empresa.EmailFinanceiro+"</a>":"N/I")
                </div>
            </div>
            <div class="mws-form-row">
                <label>E-mail de contato</label>
                <div class="mws-form-item small">
                    <a href="mailto:@empresa.EmailContato">@empresa.EmailContato</a>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Condição de Faturamento</label>
                <div class="mws-form-item small">
                    @Domain.Helpers.EnumHelper.GetDescription(empresa.CondicaoFaturamento)
                </div>
            </div>
            <div class="mws-form-row">
                <label>OBS Financeira</label>
                <div class="mws-form-item small">
                    @(String.IsNullOrEmpty(empresa.ObservacaoFinanceira) ? "N/I" : empresa.ObservacaoFinanceira)
                </div>
            </div>
            <div class="mws-form-row">
                <label>Dia(s) do mês para Faturamento</label>
                <div class="mws-form-item small">
                    @switch (empresa.CondicaoFaturamento)
                    {
                       case Domain.Entities.Empresa.CondicoesFaturamento.Imediato:
                       case Domain.Entities.Empresa.CondicoesFaturamento.NI:
                            <text>hoje</text>
                       break;
                       case Domain.Entities.Empresa.CondicoesFaturamento.Mensal:
                            @empresa.FaturamentoDiaMes;
                       break;
                       case Domain.Entities.Empresa.CondicoesFaturamento.Pontual:
                            @empresa.FaturamentoPontual;
                       break;
                    }
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>Título</label>
                <div class="mws-form-item small">
                    <input type="text" name="Titulo" id="Titulo" class="mws-textinput" maxlength = "200" />
                </div>
            </div>

            <hr />
            <div class="mws-form-row">
                <label>Valor Total</label>
                <div class="mws-form-item small">
                    <span id="Valor">selecione os produtos</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Valor de Desconto</label>
                <div class="mws-form-item small">
                    <input type="text" name="ValorDesconto" id="ValorDesconto" class="mws-textinput" maxlength = "200" value="0"/>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Valor para Pagamento</label>
                <div class="mws-form-item small">
                    <span id="ValorTotal">selecione os produtos</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Data de Vencimento</label>
                <div class="mws-form-item small">
                    <input type="text" name="DataVencimento" id="DataVencimento" class = "mws-textinput mws-datepicker" maxlength = "100" value="@ViewBag.DataVencimento" />
                </div>
             </div>
            <div class="mws-form-row">
                <label>Meio de Pagamento</label>
                <div class="mws-form-item small">
                    <select name="FormaPagamentoID" id="FormaPagamentoID" class = "mws-textinput">
                        <option value="">-- selecione --</option>
                        <option value="1">Cartão de Crédito</option>
                        <option value="2">Transferência Bancária</option>
                        <option value="3">Boleto Bancário</option>
                        <option value="9">Tradaq</option>
                    </select>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Forma de Pagamento</label>
                <div class="mws-form-item small">
                    <select name="MeioPagamentoID" id="MeioPagamentoID" class = "mws-textinput">
                        <option value="">-- selecione --</option>
                        <option value="7">Cartão Manual (Redeshop)</option>
                        <option value="5">Boleto/Faturamento</option>
                        <option value="8">Depósito Bradesco</option>
                        <option value="9">Depósito Banco do Brasil</option>
                        <option value="10">Depósito Itaú</option>
                        <option value="14">Permuta</option>
                    </select>
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <label>E-mails adicionais para envio do boleto e NFe <br /><i>OBS: Separar dois ou mais e-mails com ; (ponto e vírgula)</i></label>
                <div class="mws-form-item small">
                    <input type="text" name="EmailsFinanceiro" id="EmailsFinanceiro" class = "mws-textinput" maxlength = "300" />
                </div>
             </div>
            <hr />
            <div class="mws-form-row">
                <label>Observações</label>
                <div class="mws-form-item small">
                    <textarea id="Observacoes" name="Observacoes" class = "mws-textinput" maxlength = "300"></textarea>
                </div>
             </div>*@
                        <div class="mws-button-row">
                            <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                            <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                            <span id="processando" class="carregando-branco">Processando...</span>
                        </div>
                    </div>
                                    }
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
        <script type="text/javascript">
            var total = parseFloat(0);

            function Soma(obj) {
                var valor = parseFloat(obj.getAttribute('data-valor').replace(',', '.'));
                if (obj.checked) {
                    total = total + valor;
                }
                else {
                    total = total - valor;
                }
                $("#ValorDesconto").val("0");
                $("#Valor").html(total.toFixed(2).replace('.', ','));
                $("#ValorTotal").html(total.toFixed(2).replace('.', ','));
            }

            $(document).ready(function () {
                $('#estoque').addClass('active');
                $('#i_list_faturar').addClass('active');

                $("#enviar").click(function () {
                    $("#Lotes").val("");
                    var IDsLotes = "";
                    $(".Lote").each(function () {
                        IDsLotes += $(this).val() + ",";
                    });
                    IDsLotes = IDsLotes.substring(0, IDsLotes.length - 1);
                    $("#Lotes").val(IDsLotes);
                });

                $("#FormaPagamentoID").change(function () {
                    if ($(this).val() == 2) {
                        $("#Cheque").show();
                    }
                    else {
                        $("#Cheque").hide();
                    }
                });

                $("#form").validate({
                    meta: "validate",
                    submitHandler: function (form) {
                        form.submit();
                    },
                    rules: {
                        FormaPagamentoID: "required",
                        StatusPagamentoID: "required",
                        BancoID: "required"
                    },
                    messages: {
                        FormaPagamentoID: "O Campo é obrigatório",
                        StatusPagamentoID: "O Campo é obrigatório",
                        BancoID: "O Campo é obrigatório"
                    }
                });
            });
        </script>
    }
