﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.EstoqueFornecedor>


    @{
        ViewBag.Title = "Faturas Floricultura Flor Da Lins";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNumero = Request.QueryString["numero"];
        var _requestNome = Request.QueryString["nome"];
        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];
        var _requestFormaPgto = Request.QueryString["formapagamento"];
        var _requestCheque = Request.QueryString["cheque"];

        var _TodosStatusPagamento = typeof(Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento);
        var _FormasPagamento = typeof(Domain.Entities.EstoqueFaturaFormaPagamento.TodosFormasPagamento);

    }
    @section Scripts{
        <script type="text/javascript">
            function printExternal(url) {
                window.open( url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
            }
            $(document).ready(function () {
                $('#estoque').addClass('active');
                $('#i_list_faturar').addClass('active');

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Lotes p/ Faturar @(_requestNome != null && _requestNome != "" ? " para o Fornecedor " + _requestNome : "")                
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td>Nome do Fornecedor:</td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td> Data Inicial de Compra do Lote:</td>
                                            <td><input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Data Final de Compra do Lote:</td>
                                            <td><input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table align="center" style="margin: 0px auto; margin-left: 20px;">
                                        <tr>
                                            <td>Dia de Faturamento:</td>
                                            <td>
                                                <select name="diafaturamento" id="diafaturamento" style="width:300px;">
                                                    <option value="">Selecione uma opção</option>
                                                    @{
                                                        foreach (var Dia in ViewBag.DiaDeFaturamento)
                                                        {
                                                            int DiaDoFat = Dia;
                                                            int DiaDoFatReq = 0;

                                                            if (!string.IsNullOrEmpty(Request.QueryString["diafaturamento"]))
                                                            {
                                                                DiaDoFatReq = int.Parse(Request.QueryString["diafaturamento"]);
                                                            }

                                                            <option @{if (DiaDoFatReq == DiaDoFat && !string.IsNullOrEmpty(Request.QueryString["diafaturamento"])) { <text> selected</text> } } value="@DiaDoFat">@{ if (DiaDoFat == 0)
                                                                { <text>Faturamento Instantâneo</text> }
                                                                else { @DiaDoFat } }  </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>

                            <th align="center" style="width: 120px;">Fornecedor</th>                            
                            <th align="center">Qtd Lotes p/ Faturar</th>                            
                            <th align="center">Dia de Faturamento</th>
                            <th align="center" style="width: 120px;">Ações</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var Fornecedor in Model)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" href="/Fornecedor/Editar/@Fornecedor.ID">@Fornecedor.NomeFornecedor</a>                                    
                                </td>
                                <td>
                                    @Fornecedor.QtdLotesNaoFaturados
                                </td>
                                <td>
                                    @Fornecedor.DiaFaturamento
                                </td>
                                <td style="text-align: center;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width:140px;"><a class="mws-ic-16 ic-money" href="/LoteFloriculturaFatura/Faturar/@Fornecedor.ID" target="_blank">Faturar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&PossuiFoto=@Request.QueryString["PossuiFoto"]&meiopagamento=@Request.QueryString["meiopagamento"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
