﻿
@{
    ViewBag.Title = "Novo Lote Floricultura Flor Da Lins";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<style>
    .mws-form-row-half {
        float: left;
        width: 45%;
    }

    .mws-form-row-fourth {
        float: left;
        width: 20%;
    }

        .mws-form-row-fourth:nth-child(2) {
            float: left;
            width: 8%;
        }

        .mws-form-row-fourth:nth-child(3) {
            float: left;
            width: 8%;
        }

        .mws-form-row-fourth:nth-child(4) {
            width: 8%;
        }

        .mws-form-row-fourth:nth-child(5) {
            width: 8%;
        }

        .mws-form-row-fourth:nth-child(6) {
            width: 20%;
        }

        .mws-form-row-fourth > .mws-form-item {
            width: 100% !important;
        }
</style>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Lote</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "LoteFloricultura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <div class="mws-form-row mws-form-row-half">
                        <div class="mws-form-item DrpFornecedores">
                            <label>Selecione o Fornecedor</label>
                            <select class="mws-textinput" id="FornecedorID" name="FornecedorID">
                                <option value="">--- Selecione ---</option>
                                @{
                                    foreach (var Fornecedor in ViewBag.Fornecedores)
                                    {
                                        <option data="@Fornecedor.DataDoFaturamento" diasfat="@Fornecedor.DiaFaturamento" value="@Fornecedor.ID">@Fornecedor.NomeFornecedor</option>
                                    }
                                }
                            </select>                            
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <div class="mws-form-item">
                            <label>Novo</label>
                            <input type="button" id="NovoFornecedor" class="mws-button green big" value="Adicionar Novo Fornecedor"> <a target="_blank" id="LinkFornecedor" href="#" style="margin-left: 10px; display: none;"> Visualizar Fornecedor </a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Itens do Lote</h2>
                </div>
                <div id="LstProdutos">
                    <div class="InicioDiv" id="Produto1">
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Item (1)</label>
                            <div class="mws-form-item">
                                <select name="ProdutoEstoqueID1" id="ProdutoEstoqueID1" class="mws-textinput ProdutoEstoque"></select>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Un. Medida</label>
                            <div class="mws-form-item">
                                <select name="UniMedida1" id="UniMedida1" class="mws-textinput UniMedida"></select>                                
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Qtd</label>
                            <div class="mws-form-item">
                                <input type="text" name="Qtd1" id="Qtd1" class="mws-textinput valid Qtd OnlyNumber" maxlength="5">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Valor Uni.</label>
                            <div class="mws-form-item">
                                <input type="text" name="ValorUnidade1" id="ValorUnidade1" class="mws-textinput valid ValorUnidade">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Valor Total</label>
                            <div class="mws-form-item">
                                <input type="text" name="ValorTotal1" id="ValorTotal1" disabled class="mws-textinput valid ValorTotal">
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-fourth">
                            <label>Data Validade</label>
                            <div class="mws-form-item">                                
                                <input style="max-width: 135px;" type="text" name="DataValidade1" id="DataValidade1" class="mws-textinput mws-datepicker DataValidade" maxlength="20" />
                            </div>
                        </div>
                    </div>                    
                    <div class="clear">

                    </div>
                    <div class="mws-form-row">
                        <input type="hidden" id="ValoresProdutos" name="ValoresProdutos" />
                        <input style="margin-left: 10px;" type="button" id="RemoverProdutos" disabled="" class="mws-button red big right" value="Remover Produtos">
                        <input type="button" id="NovoProduto" class="mws-button green big right" value="Adicionar Novo Produto">
                    </div>
                </div>
                <hr />
                <div class="mws-form-row">
                    <h2>Faturamento</h2>
                </div>
                <div class="mws-form-row DescFat">
                    <p>

                    </p>
                </div>
                    <div id="FaturamentoInstantaneo" style="display: none;">
                        <div class="mws-form-row">
                            <label>Forma de Pagamento</label>
                            <div class="mws-form-item small">
                                <select class="mws-textinput" id="FormaPagamentoID" name="FormaPagamentoID">
                                    <option value="">--- Selecione ---</option>
                                    @{
                                        foreach (var Forma in ViewBag.FormaPagamento)
                                        {
                                            <option value="@Forma.ID">@Forma.DescFormaPagamento</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>Status de Pagamento</label>
                            <div class="mws-form-item small">
                                <select class="mws-textinput" id="StatusPagamentoID" name="StatusPagamentoID">
                                    <option value="">--- Selecione ---</option>
                                    @{
                                        foreach (var Status in ViewBag.LstStatusPGT)
                                        {
                                            <option value="@Status.ID">@Status.DescStatusPagamento</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                <div id="Cheque" style="display: none;">
                    <div class="mws-form-row">
                        <label>Banco Emissor do Cheque</label>
                        <div class="mws-form-item small">
                            <select class="mws-textinput" id="BancoID" name="BancoID">
                                <option value="">--- Selecione ---</option>
                                @{
                                    foreach (var Banco in ViewBag.Bancos)
                                    {
                                        <option value="@Banco.ID">@Banco.NomeBanco</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Nr Do Cheque</label>
                        <input type="text" name="NrCheque" id="NrCheque" class="mws-textinput OnlyNumber valid">
                    </div>
                    <div class="mws-form-row">
                        <label>Bom Para</label>
                        <input style="max-width: 135px;" type="text" name="BomPara" id="BomPara" class="mws-textinput mws-datepicker DataValidade" maxlength="20" />                        
                    </div>
                </div>
                    <hr />
                    <div class="mws-form-row">
                        <h2>Resumo</h2>
                    </div>
                    <div class="mws-form-row">
                        <p>
                            <b>Valor do Lote:</b> <span class="ValorTotalPedido">N/A</span>
                        </p>
                        <p>
                            <b>Data Prevista p/ Faturamento:</b> <span class="DataFaturamento">N/A</span>
                        </p>
                    </div>
                </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar">
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='/PedidosSite/List';">
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {

                    var retorno = true;
                    var Msg = "";
                    $(".Qtd").each(function () {
                        var ValorProduto = $(this).val();
                        if (ValorProduto == "") {
                            Msg += "Por favor, preencha a Qtd dos produtos selecionados.  \n";
                            retorno = false;
                        }
                    });

                    $(".ValorUnidade").each(function () {
                        var ValorProduto = $(this).val();
                        if (ValorProduto == "") {
                            Msg += "Por favor, preencha o Valor Unitário dos produtos selecionados. \n";
                            retorno = false;
                        }
                    });

                    if ($("#FornecedorID").val() == "") {
                        Msg += "Por favor, selecione o Fornecedor.  \n";
                    }
                    if (retorno == true) {
                        form.submit();
                    }
                    else{
                        alert(Msg);
                    }
                },
                rules: {
                    BancoID: "required",
                    FornecedorID: "required",
                    NrCheque: "required",
                    FormaPagamentoID: "required",
                    StatusPagamentoID: "required",
                },
                messages: {
                    BancoID: "O Campo Banco é obrigatório",
                    FornecedorID: "O Campo Fornecedor é obrigatório",
                    NrCheque: "O Campo Nr é obrigatório",
                    FormaPagamentoID: "O Campo é obrigatório",
                    StatusPagamentoID: "O Campo é obrigatório",
                }
            });

            $(".DataValidade ").mask({
                mask: "##/##/####",
                allowPartials: !1
            });
            $(".ValorUnidade").maskMoney();
            $('.OnlyNumber').ForceNumericOnly();
            $.post('/Home/GetProdutosEstoqueFloricultura/', { }, function (data) {
                if (data != undefined && data != "") {
                    for (var i = 0; i < data.length; i++) {                        
                        if (data[i].Value != "") {
                            $("#ProdutoEstoqueID1").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);                            
                        }
                    }
                }
                $("select[name=ProdutoEstoqueID1] option:eq(0)").remove();
            });
            $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                if (data != undefined && data != "") {
                    for (var i = 0; i < data.length; i++) {                        
                        if (data[i].Value != "") {
                            $("#UniMedida1").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                        }
                    }
                }
                $("select[name=UniMedida1] option:eq(0)").remove();
            });

            $(".Qtd").keyup(function () {
                CalculaPedido();
            });
            $(".ValorUnidade").keyup(function () {
                CalculaPedido();
            });
            $("#FornecedorID").change(function () {                
                if ($(this).val() != "") {
                    $("#LinkFornecedor").attr("href", "/LoteFloricultura/Visualizar/" + $(this).val());
                    $("#LinkFornecedor").show();

                    var DiasFaturamento = "";

                    if ($("[id*='FornecedorID'] :selected").attr('diasfat') == "0") {
                        DiasFaturamento = "Imediato";
                        $("#FaturamentoInstantaneo").show();
                        $(".DescFat").hide();
                    }
                    else {
                        DiasFaturamento = "Dia: " + $("[id*='FornecedorID'] :selected").attr('diasfat');
                        $(".DescFat p").html("Esse fornecedor tem uma data de faturamento pré definida. Não é possível adicionar uma fatura.");
                        $("#FaturamentoInstantaneo").hide();
                        $(".DescFat").show();
                    }

                    $(".DataFaturamento").html($("[id*='FornecedorID'] :selected").attr('data') + " / " + DiasFaturamento);
                    
                }
                else {
                    $("#LinkFornecedor").hide();
                    $(".DataFaturamento").html("N/A");
                }
                
            });

            $("#NovoProduto").click(function () {

                $(".DataValidade ").mask({
                    mask: "##/##/####",
                    allowPartials: !1
                });
                $(".ValorUnidade").maskMoney();
                $('.OnlyNumber').ForceNumericOnly();

                $("#RemoverProdutos").attr("disabled", "disabled");
                $("#NovoProduto").attr("disabled", "disabled");

                var count = $(".InicioDiv").length + 1;

                $("#Lblremove").remove();
                $("#SelectProduto").remove();

                $("<div class='InicioDiv' id='Produto" + count + "'> <div class='mws-form-row mws-form-row-fourth'> <label>Item (" + count + ")</label> <div class='mws-form-item'> <select name='ProdutoEstoqueID" + count + "' id='ProdutoEstoqueID" + count + "' class='mws-textinput ProdutoEstoque valid'></select> </div> </div> <div class='mws-form-row mws-form-row-fourth'> <label>Un. Medida</label> <div class='mws-form-item'> <select name='UniMedida" + count + "' id='UniMedida" + count + "' class='mws-textinput UniMedida'></select> </div> </div> <div class='mws-form-row mws-form-row-fourth'> <label>Qtd</label> <div class='mws-form-item'> <input type='text' name='Qtd" + count + "' id='Qtd" + count + "' class='mws-textinput valid Qtd OnlyNumber' maxlength='5'> </div> </div> <div class='mws-form-row mws-form-row-fourth'> <label>Valor Uni.</label> <div class='mws-form-item'> <input type='text' name='ValorUnidade" + count + "' id='ValorUnidade" + count + "' class='mws-textinput valid ValorUnidade'> </div> </div> <div class='mws-form-row mws-form-row-fourth'> <label>Valor Total</label> <div class='mws-form-item'> <input type='text' name='ValorTotal" + count + "' id='ValorTotal" + count + "' disabled='' class='mws-textinput valid ValorTotal'> </div> </div> <div class='mws-form-row mws-form-row-fourth'> <label>Data Validade</label> <div class='mws-form-item'> <input style='max-width: 135px;' type='text' name='DataValidade" + count + "' id='DataValidade" + count + "' class='mws-textinput mws-datepicker DataValidade hasDatepicker' maxlength='20'> </div> </div> </div>").insertAfter("#LstProdutos .InicioDiv:last");


                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueID" + count + "").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    
                    $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                        if (data != undefined && data != "") {
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value != "") {
                                    $("#UniMedida" + count + "").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                                }
                            }
                        }

                        Liberarcad(count);

                        $("select[name=UniMedida" + count + "] option:eq(0)").remove();
                    });

                });

               

                $("#ProdutoTamanhoID" + count + "").change(function () {
                    $("#ValorProduto" + count + "").val($("#ProdutoTamanhoID" + count + " :selected").attr("data-valor"));
                    CalculaCoroa();
                });

                $(".ValorProduto").maskMoney();

                $(".ValorProduto").keyup(function () {
                    CalculaCoroa();
                });
            });

            function Liberarcad(count)
            {
                $("select[name=ProdutoEstoqueID" + count + "] option:eq(0)").remove();
                $("#NovoProduto").removeAttr("disabled", "disabled");

                var CountSelects = $(".InicioDiv").length - 2;

                $("<input type='checkbox' class='SelectProduto' id='SelectProduto' name='SelectProduto'> <span id='Lblremove'>Selecionar</span>").insertAfter(".InicioDiv .DataValidade:last");

                $("#SelectProduto").click(function () {
                    if ($(".SelectProduto").is(':checked')) {
                        $("#RemoverProdutos").removeAttr("disabled");
                    }
                    else {
                        $("#RemoverProdutos").attr("disabled", "disabled");
                    }
                });
            }

            $("#RemoverProdutos").click(function () {

                $("#SelectProduto").parent().parent().parent().remove();

                CalculaCoroa();

                if ($(".InicioDiv").length > 1) {
                    $("<input type='checkbox' class='SelectProduto' id='SelectProduto' name='SelectProduto'> <span id='Lblremove'>Selecionar</span>").insertAfter(".Frase:last");
                }

                $("#RemoverProdutos").attr("disabled", "disabled");

                $("#SelectProduto").click(function () {
                    if ($(".SelectProduto").is(':checked')) {
                        $("#RemoverProdutos").removeAttr("disabled");
                    }
                    else {
                        $("#RemoverProdutos").attr("disabled", "disabled");
                    }
                });

                return false;
            });

            $("#enviar").click(function () {

              
                var StringFinal = "";
                $("#LstProdutos .InicioDiv").each(function () {
                    var IdProduto = $(this).find(".ProdutoEstoque option:selected").val();
                    var IdUnidade = $(this).find(".UniMedida option:selected").val();
                    var Qtd = $(this).find(".Qtd").val();
                    var ValorUni = $(this).find(".ValorUnidade").val();
                    var DataValidade = $(this).find(".DataValidade").val();

                    StringFinal += IdProduto + "º" + IdUnidade + "º" + Qtd + "º" + ValorUni + "º" + DataValidade + "|";

                });

                $("#ValoresProdutos").val(StringFinal);
            });

            $("#FormaPagamentoID").change(function () {
                if ($(this).val() == 2) {
                    $("#Cheque").show();
                }
                else {
                    $("#Cheque").hide();
                }
            });
        });

        function CalculaPedido() {
            var valor = parseFloat(0);

            $(".Qtd").each(function () {
                var ValorUnidade = $(this).parent().parent().parent().find(".ValorUnidade").val().replace(",", ".");

                if (ValorUnidade == "") {
                    ValorUnidade = 0;
                }
                
                var Qtd = $(this).val();

                if (Qtd == "") {
                    Qtd = 0;
                }
                
                if (ValorUnidade > 0 && Qtd > 0) {
                    var ValorTotal = ValorUnidade * Qtd;

                    $(this).parent().parent().parent().find(".ValorTotal").val(ValorTotal.toString().replace(".", ","));
                    $(".ValorTotalPedido").html("R$ " + ValorTotal.toString().replace(".", ","));
                }
                
            });

            $("#Valor").html((valor).toFixed(2).replace('.', ','));
            $("#ValorTotal").val(valor.toFixed(2).replace('.', ','));
            $("#ValorDesconto").val("0,00");

            if ($("input[name='TipoID']:checked").val() == "2" || $("input[name='TipoID']:checked").val() == "1") {
                $("#ValorRepasse").val((valor / 2).toFixed(2).replace('.', ','));
            }

      
        }
    </script>

}