﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model Domain.Entities.EstoqueFaturaPagamento

@{
    ViewBag.Title = "Visualizar Fatura #" + Model.ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;

}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Fatura #@Model.ID</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_produto">
                    <a href="javascript:abre('produto');" class="mws-ic-16 ic-cart">Lotes</a>
                </li>
                <li class="li_aba" id="li_pagamento">
                    <a href="javascript:abre('pagamento');" class="mws-ic-16 ic-money-dollar">Pagamento</a>
                </li>
            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "LoteFloriculturaFatura", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)

            if (Model.EstoqueFaturaPagamento_x_Cheque.Count > 0)
            {
                <input type="hidden" value="@Model.EstoqueFaturaPagamento_x_Cheque.First().EstoqueFaturaCheque.ID" id="ChequeID" name="ChequeID" />
            }

            Domain.Entities.EstoqueFornecedor Fornecedor = null;
            if (Model.EstoqueFaturaPagamento_x_Lote.Count > 0)
            {
                Fornecedor = Model.EstoqueFaturaPagamento_x_Lote.First().EstoqueLote.EstoqueFornecedor;
            }

            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            @if (Model.DataCancelamento != null)
                            {
                                DateTime DataCancelamento = (DateTime)Model.DataCancelamento;
                                <i> ( Esta fatura foi cancelada em @DataCancelamento.ToString("dd/MM/yyyy HH:mm") ) </i>
                            }
                            else
                            {
                                @Model.EstoqueFaturaStatusPagamento.DescStatusPagamento
                            }

                            @if (Model.EstoqueFaturaStatusCancelamento == null && Model.EstoqueFaturaStatusPagamento.ID == (int)Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento.EmAberto)
                            {
                                <input type="button" class="mws-button red" value="Cancelar" id="cancelar_fatura" />
                            }

                        </div>
                        <label>Número da Fatura</label>
                        <div class="mws-form-item small">
                            @Model.ID
                        </div>
                        <label>Data da Fatura</label>
                        <div class="mws-form-item small">
                            @Model.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <hr />
                        <label>Fornecedor</label>
                        <div class="mws-form-item small">
                            @if (Fornecedor != null)
                            {
                                <a href="@Url.Action("List", "LoteFornecedor", new { clienteID = Fornecedor.ID })" target="_blank">
                                    @Fornecedor.NomeFornecedor
                                </a>
                            }
                            else
                            {
                                <i>Fatura Cancelada</i>
                            }
                        </div>
                        <label>Valor Total Fatura</label>
                        <div class="mws-form-item small">
                            @{
                                if (Model.ValorTotal != null)
                                {
                                    decimal ValorTotal = (decimal)Model.ValorTotal;
                                    @ValorTotal.ToString("C2");
                                }
                                else
                                {
                                    <text>
                                        R$ 0,00
                                    </text>
                                }
                            }

                        </div>
                        <label>Status Pagamento</label>
                        <div class="mws-form-item small">
                            @Model.EstoqueFaturaStatusPagamento.DescStatusPagamento
                        </div>
                    </div>
                </div>
                <div class="abas" id="produto">
                    <div class="mws-form-row">
                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">ID</th>
                                    <th align="center">Data</th>
                                    <th align="center">Produtos</th>
                                    <th align="center">Valor Total</th>

                                </tr>
                            </thead>
                            @{
                                foreach (var FaturaXLote in Model.EstoqueFaturaPagamento_x_Lote)
                                {
                                    var Lote = FaturaXLote.EstoqueLote;
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="@Url.Action("Visualizar", "LoteFloricultura", new { id = Lote.ID })">@Lote.Numero</a>
                                            </td>
                                            <td>
                                                @Lote.DataCadastro
                                            </td>
                                            <td>
                                                <table style="width: 600px;">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Produto
                                                            </th>
                                                            <th>
                                                                Qtd
                                                            </th>
                                                            <th>
                                                                Valor Unid.
                                                            </th>
                                                            <th>
                                                                Valor Total
                                                            </th>
                                                            <th>
                                                                Dt Val.
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    @{
                                                        foreach (var Produto in Lote.EstoqueLoteItem)
                                                        {
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        @Produto.EstoqueProduto.DescProduto
                                                                    </td>
                                                                    <td>
                                                                        @Produto.Qtd
                                                                    </td>
                                                                    <td>
                                                                        @Produto.ValorUnitario.ToString("C2")
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            decimal ValorTotal = Produto.Qtd * Produto.ValorUnitario;
                                                                        }
                                                                        @ValorTotal.ToString("C2")
                                                                    </td>
                                                                    <td>
                                                                        @Produto.DataVencimento
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                                            }
                                                    }
                                                </table>
                                            </td>
                                            <td>
                                                @Lote.ValorTotal.ToString("C2")
                                            </td>

                                        </tr>
                                    </tbody>
                                                                            }
                            }
                        </table>
                    </div>
                </div>
                <div class="abas" id="pagamento">
                    @{
                        var BloqueaPagamento = false;
                        if (Model.DataCancelamento != null || Model.EstoqueFaturaStatusPagamento.ID == (int)Domain.Entities.EstoqueFaturaStatusPagamento.TodosStatusPagamento.Pago)
                        {
                            BloqueaPagamento = true;
                        }
                    }
                    <div class="mws-form-row">
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            <select class="mws-textinput" @{if (BloqueaPagamento) { <text> disabled </text>   }} id="FormaPagamentoID" name="FormaPagamentoID">
                                <option value="">--- Selecione ---</option>
                                @{
                                    foreach (var Forma in ViewBag.FormaPagamento)
                                    {
                                        <option @{if (Model.EstoqueFaturaFormaPagamento.ID == Forma.ID) { <text> selected</text> } } value="@Forma.ID">@Forma.DescFormaPagamento</option>
                                            }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            <select class="mws-textinput" @{if (BloqueaPagamento) { <text> disabled </text>   }} id="StatusPagamentoID" name="StatusPagamentoID">
                                <option value="">--- Selecione ---</option>
                                @{
                                    foreach (var Status in ViewBag.LstStatusPGT)
                                    {
                                        <option @{if (Model.EstoqueFaturaStatusPagamento.ID == Status.ID) { <text> selected</text> } } value="@Status.ID">@Status.DescStatusPagamento</option>
                                            }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="Cheque" @{ if (Model.EstoqueFaturaPagamento_x_Cheque.Count <= 0) { <text> style="display: none;" </text>  } }>
                        <div class="mws-form-row">
                            <label>Banco Emissor do Cheque</label>
                            <div class="mws-form-item small">
                                <select class="mws-textinput" @{if (BloqueaPagamento) { <text> disabled </text>   }} id="BancoID" name="BancoID">
                                    <option value="">--- Selecione ---</option>
                                    @{
                                        foreach (var Banco in ViewBag.Bancos)
                                        {
                                            <option @{ if (Model.EstoqueFaturaPagamento_x_Cheque.Count > 0 && Model.EstoqueFaturaPagamento_x_Cheque.First().EstoqueFaturaCheque.EstoqueFornecedorBanco.ID == Banco.ID) { <text> selected</text>} } value="@Banco.ID">@Banco.NomeBanco</option>
                                                }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <label>Nr Do Cheque</label>
                            <input type="text" value="@{if (Model.EstoqueFaturaPagamento_x_Cheque.Count > 0) { @Model.EstoqueFaturaPagamento_x_Cheque.First().EstoqueFaturaCheque.NrCheque; }}" name="NrCheque" @{if (BloqueaPagamento) { <text> disabled </text>   }} id="NrCheque" class="mws-textinput OnlyNumber valid">
                        </div>
                        <div class="mws-form-row">
                            <label>Bom Para</label>
                            <input style="max-width: 135px;" value="@{if (Model.EstoqueFaturaPagamento_x_Cheque.Count > 0) { @Model.EstoqueFaturaPagamento_x_Cheque.First().EstoqueFaturaCheque.BomPara; }}" @{if (BloqueaPagamento) { <text> disabled </text>   }} type="text" name="BomPara" id="BomPara" class="mws-textinput mws-datepicker DataValidade" maxlength="20" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Data Pagamento</label>
                        <input type="text" value="@Model.DataPagamento" name="DataPagamento" id="DataPagamento" class="mws-textinput mws-datepicker DataValidade">
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
    }
    </div>
</div>
<div id="div_produto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueID" id="ProdutoEstoqueID" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedida" id="UniMedida" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValor" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtd" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidade" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemID" value="" />
</div>

<div id="div_novoproduto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueIDADD" id="ProdutoEstoqueIDADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedidaADD" id="UniMedidaADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValorADD" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtdADD" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidadeADD" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemIDADD" value="" />
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript">
        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {


        });


        $(document).ready(function () {
            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }

            $('.OnlyNumber').ForceNumericOnly();
            $(".DataValidade ").mask({
                mask: "##/##/####",
                allowPartials: !1
            });

            $("#adicionar_produto").click(function () {

                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueIDADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueIDADD] option:eq(0)").remove();
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedidaADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedidaADD] option:eq(0)").remove();
                });

                $("#div_novoproduto").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja adicionar esse produto?')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AdicionarProduto/',
                                    {
                                        LoteID: @Model.ID,
                                        ProdutoEstoqueID: $("#ProdutoEstoqueIDADD option:selected").val(),
                                        UniMedida: $("#UniMedidaADD option:selected").val(),
                                        valor: $('#NovoValorADD').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtdADD').val(),
                                        NovaDtValidade: $('#NovaDtValidadeADD').val()
                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        "Cancelar": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".remover_produto").click(function () {
                if (confirm('Você tem certeza que deseja remover o item deste lote?')) {

                    $.post('/LoteFloricultura/RemoverProduto/', { LoteItemID: $(this).attr("data-item"), LoteID: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('Produto removido com sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $(".alterar_produto").click(function () {
                var BtnAlterar = $(this);
                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueID] option:eq(0)").remove();
                    var IdProd = $(BtnAlterar).parent().parent().find(".ITEM_ProdID").attr("rel");
                    $("#ProdutoEstoqueID").val(IdProd);
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedida").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedida] option:eq(0)").remove();
                    var IdUniMed = $(BtnAlterar).parent().parent().find(".ITEM_UnidID").attr("rel");
                    $("#UniMedida").val(IdUniMed);
                });

                var ValorUnidade = $(this).parent().parent().find(".ITEM_ValorUni").attr("rel");
                var QtdUnidade = $(this).parent().parent().find(".ITEM_Qtd").attr("rel");
                var DtValidade = $(this).parent().parent().find(".ITEM_DT").attr("rel");

                $("#NovoValor").val(ValorUnidade);
                $("#NovaQtd").val(QtdUnidade);
                $("#NovaDtValidade").val(DtValidade.substring(0, DtValidade.length - 9));

                $("#ItemID").val($(this).attr("data-item"));
                $("#div_produto").dialog({
                    resizable: false,
                    width: 500,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja alterar o produto deste lote? Ele poderá alterar valores finais.\nEsta ação não poderá ser revertida.')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AlterarProduto/',
                                    {
                                        itemID: $("#ItemID").val(),
                                        ProdutoEstoqueID: $("#ProdutoEstoqueID option:selected").val(),
                                        UniMedida: $("#UniMedida option:selected").val(),
                                        valor: $('#NovoValor').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtd').val(),
                                        NovaDtValidade: $('#NovaDtValidade').val()

                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                });
            });

            $('#estoque').addClass('active');
            $('#i_faturas').addClass('active');
            $('.abas').hide();
            $('#resumo').show();

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                }
            });

            $("#enviar").click(function () {

            });

            $("#FormaPagamentoID").change(function () {
                if ($(this).val() == 2) {
                    $("#Cheque").show();
                }
                else {
                    $("#Cheque").hide();
                }
            });

            $("#cancelar_fatura").click(function () {
                if(confirm('Você confirma o cancelamento desta fatura? Todos os lotes ficarão sem faturamento e deverão ser inclusos em nova fatura.')){
                    $.post('/LoteFloriculturaFatura/Cancelar/', { id: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('Fatura cancelada com sucesso!');
                            submitted = true;
                            location.reload(true);
                            $(this).dialog("close");
                        } else {
                            alert(data);
                        }
                    });
                }
            });
        });

        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}