﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

}
<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <title>Laços Corporativos @ViewBag.Title</title>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Laços Corporativos" />
    <meta name="keywords" content="Laços Corporativos" />
    <link type="text/css" href="@Url.Content("~/areas/empresas/content/style.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/areas/empresas/content/ui-darkness/jquery-ui-1.10.4.custom.css")" rel="stylesheet" />
    <link href="/Areas/Empresas/Content/Plugin/EasyAutocomplete-1.3.5/easy-autocomplete.min.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.5.0/dist/sweetalert2.all.min.js" type="text/javascript"></script>

    <script src="/Areas/Empresas/Content/Plugin/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"></script>


    <link type="text/css" href="@Url.Content("~/Scripts/BootStrap/css/bootstrap.css")" rel="stylesheet" />
    <!--[if IE]>
        <script async src="/scripts/html5shiv.js"></script>
        <link href="/content/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">

        $(document).ready(function () {
            $("#bookmarkme").click(function (e) {
                e.preventDefault(); // this will prevent the anchor tag from going the user off to the link
                var bookmarkUrl = this.href;
                var bookmarkTitle = this.title;
                if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                    alert("Essa função não está disponpivel no Google Chrome. Clique na estrela no final da barra de endereços ou aperte Ctrl+D para nos adicionar aos favoritos.");
                } else if (window.sidebar) { // For Mozilla Firefox Bookmark
                    window.sidebar.addPanel(bookmarkTitle, bookmarkUrl, "");
                } else if (window.external || document.all) { // For IE Favorite
                    window.external.AddFavorite(bookmarkUrl, bookmarkTitle);
                } else if (window.opera) { // For Opera Browsers
                    $("a.bookmark").attr("href", bookmarkUrl);
                    $("a.bookmark").attr("title", bookmarkTitle);
                    $("a.bookmark").attr("rel", "sidebar");
                } else { // for other browsers which does not support
                    alert('Your browser does not support this bookmark action');
                    return false;
                }
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49938284-1', 'lacoscorporativos.com.br');
        ga('send', 'pageview');

    </script>

    <style type="text/css">
        .breadcrumb {
            padding: 0px;
            margin-bottom: 0px;
            background-color: #ffffff;
            border-radius: 0px;
        }

            .breadcrumb li.active {
                color: #999999;
            }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
    <script>alert('Você está utilizando um navegador desatualizado.\nEste site não foi desenvolvido para ser visualizado corretamente no seu navegador.\n\nPor favor, entre em contato pelo telefone 0800-777-1986 e faça seu pedido.');</script>
    <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
        <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Você está usando um navegador desatualizado</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
        </div>
        <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
        <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/pt-br/internet-explorer/ie-11-worldwide-languages' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
        <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
    </div>
    <![endif]-->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <img class="Logo" src="@Url.Content("~/areas/empresas/content/img/logo2.png")" alt="Laços Corporativos" title="Laços Corporativos" />
                @*@{
                    if (ViewBag.LogoEmpresa != null && ViewBag.LogoEmpresa)
                    {
                        <img style="max-height: 40px;" src="@ViewBag.Logo" />
                    }
                }*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "empresas", new { area = "" })">Home</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/empresas/suporte">Suporte Online</a></li>
                    @Html.Action("Saudacao", "Home")
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div> 
    <div class="container Painel">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                  <li><a href="@Url.Action("Index", "empresas", new { area = "" })">Home</a></li>
                  @if (@ViewBag.ProdutoNome != null)
                  {
                      <li><a href="/empresas/pedido">Novo Pedido</a></li>
                      <li><a href="/empresas/pedido/produtos/@ViewBag.Link">@ViewBag.Titulo</a></li>
                      <li class="active">@ViewBag.ProdutoNome</li>
                  }
                  else if (@ViewBag.Titulo != null)
                  {
                      <li><a href="/@ViewBag.Link">@ViewBag.H1</a></li>
                      <li class="active">@ViewBag.Titulo</li>
                  }
                  else
                  {
                      <li class="active">@ViewBag.H1</li>
                  }
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h1>
                    @ViewBag.H1 @ViewBag.TituloAUX
                </h1>
                 <p>
                   @ViewBag.P
                </p>
                <hr />
            </div>
        </div>
    </div>
    <div id="Main" class="container">
        @RenderBody()
    </div>
    
    <script src="@Url.Content("~/scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"
        type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.bpopup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tinycarousel.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/scripts/funcoes.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/cep.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/BootStrap/js/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("Script", false)
    @RenderSection("Head", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".hover").mouseover(function () {
                var img = $(this).children("img:first");
                img.attr("src", img.attr("src").replace('-off', '-on'));
            });
            $(".hover").mouseout(function () {
                var img = $(this).children("img:first");
                img.attr("src", img.attr("src").replace('-on', '-off'));
            });
        }); 
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M836JC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M836JC');</script>
    <!-- End Google Tag Manager -->
    <!--Tag RDStation-->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/f60a3c08-2722-4367-a42f-0d763d779f50-loader.js"></script>
    <!--Tag RDStation-->
</body>
</html>
