﻿@{
    Layout = null;
}
<div class="row CategoriasLista">
    <a href="/empresas/pedido/produtos/coroas-de-flores" class="hover">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="image-cropper">
                <img src="../../../../Content/images/categorias/coroas-de-flores.jpg" />
            </div>

            <h3>Coroa de Flores</h3>
        </div>
    </a>
    @if (ViewBag.EmpresaID != 1)
    {
        @*<a href="/empresas/pedido/produtos/flores-para-presentes" class="hover">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="/Content/images/categorias/decoracao-de-escritorio.jpg" />
                </div>
                <h3>Flores para presentes</h3>
            </div>
        </a>*@
        @*<a href="/empresas/pedido/produtos/decoracao-de-evento" class="hover">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="../../../../Content/images/categorias/eventos-corporativos.jpg" />
                </div>

                <h3>Eventos Corporativos</h3>
            </div>
        </a>
        <a href="/empresas/pedido/produtos/arranjos" class="hover">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="/Content/images/categorias/flores-para-aniversario.jpg" />
                </div>

                <h3>Arranjos</h3>
            </div>
        </a>
        <a href="/empresas/pedido/produtos/arranjo-maternidade" class="hover">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="/Content/images/categorias/maternidade-novo.jpg" />
                </div>

                <h3>Arranjos de Maternidade</h3>
            </div>
        </a>*@
        if (!ViewBag.TravaKitBEBE)
        {
        <a href="/empresas/pedido/produtos/kits-bebe" class="hover">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="../../../../Content/images/categorias/kit-bebe.jpg" />
                </div>

                <h3>Kits Bebê</h3>
            </div>
        </a>
        }
        <a href="http://corporativo.lacoscorporativos.com.br/personalizados" class="hover" target="_blank">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-cropper">
                    <img src="../../../../Content/images/categorias/presentes-personalizados.jpg"  />
                </div>

                <h3>Presentes Personalizados</h3>
            </div>
        </a>
    }
</div>
<a name="categorias"></a><a name="produtos"></a>