﻿@model Domain.Entities.Colaborador
@if (Model != null)
{
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Olá @Model.PrimeiroNome
        <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/empresas/acessos/alterar_senha">Alterar Senha</a></li>
            <li><a href="/empresas/acessos/meus_dados">Meus Dados</a></li>
            <li class="divider"></li>
            <li><a href="/login/sair"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
        </ul>
    </li>
    
   
}