﻿@model Domain.Entities.Noticia

@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div id="CaminhoPagina">
<div class="Div" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Desabilitado2" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="@Url.Action("index", "noticias-de-mercado")" itemprop="url">      
      <span itemprop="title">Noticias de Mercado</span>    
    </a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>@Model.Titulo</b></span>  </div>
</div>
</div>


<div id="CoroasNaMidiaDetalhes">
<div class="Div">

	<div class="Data">@Model.Data.ToString("dd/MM/yyyy")</div>
	<h1 class="TituloPagina">@Model.Titulo</h1>

	<div class="Texto1">@Model.Chamada</div>

	<div class="Texto">
		<div class="Texto2">
        @if (Model.Foto != null)
        {
            if (Model.Foto.Length > 0)
            {
                <img src="/content/noticias/@Model.ID/@Model.Foto" class="Foto" alt="Foto" align="left"/>
            }
        } 
        @Html.Raw(Model.Descricao)
        </div>
	</div>
     
    @if (@Model.Fonte != null)
    {
	    <div class="Fonte"><b>Fonte:</b><a href="@Model.Fonte" target="_blank" rel="nofolow">@Model.Fonte</a></div> 
    }
	<div class="Voltar"><a href="@Url.Action("index", "noticias-de-mercado")" class="Voltar2">Voltar</a></div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div> 