﻿@model Domain.Entities.Flor

@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = (List<Domain.Entities.Produto>)ViewBag.ProdutosVejaTambem;
    ViewBag.Titulo = "Coroas de flores com " + Model.Nome;
}

<div id="CaminhoPagina">
<div class="Div" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Desabilitado2" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "significado-das-flores")" itemprop="url">      
      <span itemprop="title">Significado das Flores</span>    
    </a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.RouteUrl("Flores", new { rotuloUrl = Model.RotuloUrl, id = Model.ID })" itemprop="url">      
          <span itemprop="title"><b>@Model.Nome</b></span>    
        </a> 
    </div>
</div>
</div>
 
<div id="CoroasNaMidiaDetalhes">
<div class="Div">
 
	<h1 class="TituloPagina">@Model.Nome</h1>

	<div class="Texto1">@Model.BreveDescritivo</div>

	<div class="Texto">
		<div class="Texto2">
        @if (Model.Foto != null)
        {
            if (Model.Foto.Length > 0)
            {
                <img src="/content/flores/@Model.ID/@Model.Foto" class="Foto" alt="Foto" align="left"/>
            }
        } 
        @Html.Raw(Model.Descricao)
        </div>
	</div>
      
    @if (produtos.Any())
    {
        @Html.Partial("Produtos", produtos)
    }
	<div class="Voltar"><a href="@Url.Action("index", "significado-das-flores")" class="Voltar2">Voltar</a></div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div> 
 