﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Soluções Corporativas";
}
  
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado"><span itemprop="title"><b>Soluções Corporativas</b></span></div>
</div>
</div>

<div id="SolucoesCorporativas">
<div class="Div">

	<h1 class="TituloPagina">Soluções Corporativas</h1>

	<div class="Div1">
		<div class="Div1Texto1">
			O site Laços Flores busca facilitar a aquisição de flores e arranjos, desburocratizando o processo de compra e facilitando os trâmites internos das empresas. Trabalhamos com Nota Fiscal Eletrônica e todas as formas de pagamento.
		</div>
	</div>

	<div class="SubTituloPagina">Alguns de nossos clientes</div>

	<div class="DivImagens">
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/1.png" width="54" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/2.png" width="136" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/3.png" width="54" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/4.png" width="49" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/5.png" width="32" height="53" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/6.png" width="91" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/7.png" width="55" height="55" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/8.png" width="122" height="27" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/9.png" width="124" height="54" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/10.png" width="113" height="34" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/11.png" width="111" height="52" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/12.png" width="85" height="56" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/13.png" width="84" height="31" border="0" alt="Imagem" /></p></div>
		<div class="DivImagens2"><p><img src="/content/imagens/solucoes_corporativas/14.png" width="50" height="50" border="0" alt="Imagem" /></p></div>
	</div>

	<div class="SubTituloPagina">Veja nossas soluções:</div>

	<div class="Quadro1">
		<div class="QuadroTitulo">Compra Esporádica - Faturamento Simples</div>
		<div class="QuadroTexto">A solução mais indicada à empresa é o Faturamento. <br />Após a compra do produto(ou pela loja virtual ou pelo televendas), nossa empresa formalizará o pedido por email e solicitará os dados para faturamento. Os dados necessários são:<br /><br /><b>Razão Social<br />CNPJ<br />Endereço Completo (Logradouro, Número, Completo, Bairro, Cidade, Estado e CEP)<br />Inscrição Estadual (caso não seja isento)</b><br /><br />Será enviado Boleto Bancário e Nota Fiscal com vencimento padrão de 15 dias. <br />Trabalhamos com Nota Fiscal Eletrônica e Boleto Eletrônico, facilitando o envio.</div>
	</div>

	<div class="Quadro2">
		<div class="QuadroTitulo">Compra Recorrente - Contrato de Prestação de Serviço</div>
		<div class="QuadroTexto">Caso a empresa tenha compra recorrente do produto, pode-se solicitar um Acordo Comercial ou Contrato de Prestação de Serviços. Não existe número mínimo de aquisições por mês.<br /><br />Desta forma, nossa empresa fornecerá a entrega do produto durante todo o mês e o faturamento será realizado uma única vez, todo dia 30. Será enviada uma Nota Fiscal e um Boleto Bancário, com vencimento padrão de 15 dias.<br /><br />Nossa empresa possui todas as certidões para cadastro em sistemas corporativas (Sistemas de Compra ou Sistemas Integrados).</div>
	</div> 

</div>

</div>