﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/docs.css" type="text/css" media="screen" /><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
        <script src="/content/landings/01/html5shiv.js"></script>
    <![endif]-->

    <title>Coroa de Flores para todo o Brasil</title>

    <meta name="viewport" 
      content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link href="../../Content/fonts/qlassik/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/landings/Exterior/css/@Html.Raw(ViewBag.Style)" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="../../Scripts/geral.js" type="text/javascript"></script>
    <link href="../../Content/landings/fancy/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/landings/fancy/jquery.fancybox.js" type="text/javascript"></script>
    <script src="../../Scripts/geral.js" type="text/javascript"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/9f2e9145-3595-41d9-80bd-86ebc2f26ef6.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
        _.push(o)
        }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?1smq53vPf6P2pOXQndUTsU7xI0wTXfwd'; z.t = +new Date; $.
        type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->
    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/7945.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".TelFancy").fancybox({
            'width': 640,  //or whatever 
            'height': 400
        }); 
    });
</script>
</head>
<body>
    <header>
        <div id="Topo">
            <div class="conteudo">
                <a href="/" class="logo">
                    <img src="/Content/img/logo.png" width="224" alt="Coroas para Velório" title="Coroas para Velório"><br>
                </a>
                <div class="informacoes">
                    <div class="painel-acessos">
                            @Html.Action("Menu", "Landings")
                    </div>
                        
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li id="page-coroas"><a href="/coroas-de-flores" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-de-flores']);">Coroas de Flores</a></li>
                <li id="page-comprar"><a href="/como-comprar" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'como-comprar']);">Como Comprar</a></li>                    
                <li id="page-frases"><a href="/frases-de-homenagens" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">Frases de Homenagem</a></li>
                <li id="page-promocao"><a href="/mais-vendidas" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
            </ul>
        </nav>
    </header>
    <div class="clear">
    </div>
    <div id="Content">
        <h1>
            Você que está <b>fora do país</b>, utilize o <b>Coroas Para Velório</b> <br />
            Faça a sua homenagem no Brasil!
        </h1>
        <div class="clear">
        </div>
        <div id="Texto">
            <p class="high">
            - Entregamos em <b>Qualquer Cemitério</b> do Brasil em até 1 hora 
            </p>
            <p class="high">
            - Parcelamos em <b>até 3x</b>
            </p>
            <p class="Meio">
            TODOS OS <b>MEIOS DE PAGAMENTOS</b> INTERNACIONAIS
            </p>
            <img src="../../Content/landings/Exterior/img/Cards.jpg" />
        </div>    
        <div id="Contatos">
        <p>
            ATENDIMENTO 24h
        </p>
        <ul>
            <li>
                São Paulo e Grande São Paulo <b>(11) 3522-9394</b>
            </li>
            <li>
                Rio de Janeiro e Região <b>(21) 4063-6470</b>
            </li>
            <li>
                Belo Horizonte e Região <b>(31) 4063-6470</b>
            </li>
            <li>
                Brasília e Região <b>(61) 4063-6470</b>
            </li>
            <li>
                Porto Alegre e Região <b>(51) 4063-8558</b>
            </li>
            <li>
                Curitiba e Região <b>(41) 4063-9550</b>
            </li>
        </ul>
        <a class="TelFancy" href="../../Content/landings/exterior/img/TelefonesFull.jpg">Veja Todos os Telefones</a>
        <p style="margin-top: 20px;">
            ATENDIMENTO VIA SKYPE
        </p>
        <span>
            <img src="../../Content/landings/exterior/img/SkypeIcon.jpg" /> coroasparavelorio
        </span>
        </div> 
        <div class="clear">
        </div>   
        <br />
        <div style="position: relative; top: -70px;">
            <h2 class="Highlight" style="color: #838383;">
                Nossas Coroas De Flores
            </h2>        
            <ul class="coroas-lista">
                <li id="Produto_2" class="produto">
                    <a style="background: url(/Content/landings/01/img/produtos/2/thumb/coroa_de_flores_1CPremium01.png) no-repeat center center;" class="imagem fancy" href="/Content/landings/01/img/produtos/2/coroa_de_flores_1CPremium01.png"></a>
                    <div class="Texto">
                        <a href="/coroas-de-flores/coroa-de-flores-premium-01/2" class="titulo qlassik">
                                <span>Coroa de Flores</span><br /> Premium - 01
                        </a> 
                        <span class="preco preco-2" style="display: none;">A partir de R$ 189,00</span>
                        <div class="mais-detalhes" data-id="2" style="display: none;">mais detalhes</div>
                        <div class="box-detalhes box" style="display: inline;">
                            <div class="planos">
                                <div class="coroa desativado" data-rel="2" id="CoroaPequena" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'pequena']);">
                                    <div class="tamanho">
                                        <h4>
                                            Pequena</h4>
                                        1,00 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 189,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 63,00
                                        </div>
                                    </div>
                                </div>
                                <div class="coroa ativo" data-rel="2" id="CoroaMedia" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'media']);">
                                    <div class="tamanho">
                                        <h4>
                                            Média</h4>
                                        1,20 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 219,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 73,00
                                        </div>
                                    </div>
                                </div>
                                <div class="coroa desativado" data-rel="2" id="CoroaGrande" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'grande']);">
                                    <div class="tamanho">
                                        <h4>
                                            Grande</h4>
                                        1,50 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 249,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 83,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="botao-comprar" value="comprar" data-url="/coroas-de-flores/coroa-de-flores-premium-01/2"
                                data-id="2">
                        </div>
                    </div>
                </li>
                <li id="Produto_24" class="produto">
                    <a style="background: url(/Content/landings/01/img/produtos/24/thumb/coroa_de_flores_1CLuxo04.png) no-repeat center center;" class="imagem fancy" href="/Content/landings/01/img/produtos/24/coroa_de_flores_1CLuxo04.png"></a>
                    <div class="Texto">
                         <a href="/coroas-de-flores/coroa-de-flores-luxo-04/24" class="titulo qlassik">
                                <span>Coroa de Flores</span><br /> Luxo - 04
                        </a> 
                                <span class="preco preco-3" style="display: none;">
                                    A partir de R$ 225,00</span>
                        <div class="mais-detalhes" data-id="3" style="display: none;">
                            mais detalhes</div>
                        <div class="box-detalhes box" style="display: inline;">
                            <div class="planos">
                                <div class="coroa desativado" data-rel="24" id="CoroaPequena" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'pequena']);">
                                    <div class="tamanho">
                                        <h4>
                                            Pequena</h4>
                                        1,00 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 335,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 111,67
                                        </div>
                                    </div>
                                </div>
                                <div class="coroa ativo" data-rel="24" id="CoroaMedia" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'media']);">
                                    <div class="tamanho">
                                        <h4>
                                            Média</h4>
                                        1,20 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 385,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 128,33
                                        </div>
                                    </div>
                                </div>
                                <div class="coroa desativado" data-rel="24" id="CoroaGrande" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'grande']);">
                                    <div class="tamanho">
                                        <h4>
                                            Grande</h4>
                                        1,50 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">
                                            R$ 435,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font> R$ 145,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="botao-comprar" value="comprar" data-url="/coroas-de-flores/coroa-de-flores-luxo-04/24"
                                data-id="24">
                        </div>
                    </div>
                </li>
                <li id="Produto_25" class="produto">
                    <div class="planos_promocao"><b>Desconto de 15%</b>!</div>
                    <a style="background: url(/Content/landings/01/img/produtos/25/thumb/coroa_de_flores_1CLuxo05.png) no-repeat center center;"class="imagem fancy" href="/Content/landings/01/img/produtos/25/coroa_de_flores_1CLuxo05.png"></a>
                    <div class="Texto">
                        <a href="/coroas-de-flores/coroa-de-flores-luxo-05/25" class="titulo qlassik">
                                <span>Coroa de Flores</span><br /> Luxo - 05
                        </a> <span class="preco preco-1" style="display: none;">
                                    A partir de R$ 235,00</span>
                        <div class="mais-detalhes" data-id="25" style="display: none;">
                            mais detalhes</div>
                        <div class="box-detalhes box" style="display: inline;">
                            <div class="planos">
                                <div class="coroa desativado" data-rel="25" id="CoroaPequena" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'pequena']);">
                                    <div class="tamanho">
                                        <h4>Pequena</h4>
                                        1,00 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total"><del>R$ 335,00</del></div>
                                        <div class="parcelado">
    R$ 284,75                                    </div>
                                    </div>
                                </div>
                                <div class="coroa ativo" data-rel="25" id="CoroaMedia" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'media']);">
                                    <div class="tamanho">
                                        <h4>Média</h4>
                                        1,20 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total"><del>R$ 385,00</del></div>
                                        <div class="parcelado">
    R$ 327,25                                    </div>
                                    </div>
                                </div>
                                <div class="coroa desativado" data-rel="25" id="CoroaGrande" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'grande']);">
                                    <div class="tamanho">
                                        <h4>Grande</h4>
                                        1,50 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total"><del>R$ 435,00</del></div>
                                        <div class="parcelado">
    R$ 369,75                                    </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="botao-comprar" value="comprar" data-url="/coroas-de-flores/coroa-de-flores-luxo-05/25"
                                data-id="25">
                        </div>
                    </div>
                </li>
                <li id="Produto_30" class="produto"><a style="background: url(/Content/landings/01/img/produtos/30/thumb/coroa_de_flores_2CLuxo01.png) no-repeat center center;" class="imagem fancy" href="/Content/landings/01/img/produtos/30/coroa_de_flores_2CLuxo01.png"></a>
                    <div class="Texto">
                        <a href="/coroas-de-flores/coroa-de-flores-2c-luxo-01/30" class="titulo qlassik">
                                <span>Coroa de Flores</span><br /> 2C Luxo 1
                        </a> <span class="preco preco-18" style="display: none;">
                                    A partir de R$ 245,00</span>
                        <div class="mais-detalhes" data-id="30" style="display: none;">
                            mais detalhes</div>
                        <div class="box-detalhes box" style="display: inline;">
                            <div class="planos">
                                <div class="coroa desativado" data-rel="30" id="CoroaPequena" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'pequena']);">
                                    <div class="tamanho">
                                        <h4>Pequena</h4>
                                        1,50 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">R$ 455,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font>
    R$ 151,67                                    </div>
                                    </div>
                                </div>
                                <div class="coroa ativo" data-rel="30" id="CoroaMedia" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'media']);">
                                    <div class="tamanho">
                                        <h4>Média</h4>
                                        1,70 x 1,00
                                    </div>
                                    <div class="valor">
                                        <div class="total">R$ 515,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font>
    R$ 171,67                                    </div>
                                    </div>
                                </div>
                                <div class="coroa desativado" data-rel="30" id="CoroaGrande" onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', 'grande']);">
                                    <div class="tamanho">
                                        <h4>Grande</h4>
                                        1,90 x 1,20
                                    </div>
                                    <div class="valor">
                                        <div class="total">R$ 595,00</div>
                                        <div class="parcelado">
                                            <font style="font-size: 12px; color: #666; font-weight: normal">3x</font>
    R$ 198,33                                    </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="botao-comprar" value="comprar" data-url="/coroas-de-flores/coroa-de-flores-2c-luxo-01/30"
                                data-id="30">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear">
            </div>
            <br />     
            <br />   
            <h2>
                Saiba mais sobre a Empresa
            </h2>
            <div class="Videos">
                <iframe width="560" height="315" src="//www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <br />
            <br />
            <div style="width: 100%; text-align: center; margin-bottom: 20px;">
                <a class="CallTo" href="/">veja todas as nossas coroas de flores</a>
            </div>
            <br />
            <br />
            <h2>
                Depoimentos
            </h2>
            <div id="depoimentos" itemscope="" itemtype="http://data-vocabulary.org/Review">
                <div class="depoimento" itemprop="description">
                    <p>
                        Muito obrigada e quero dizer que me surpreendi com o atendimento. Rápido e muito
                        eficiente... Num momento de dor, foi tudo que precisava. A família adorou a homenagem.
                        Obrigada! Lucineide
                        <br>
                        <br>
                        <b>Item avaliado:</b> <span itemprop="itemreviewed">Site Coroas para Velório</span>
                        <span itemprop="summary" style="display: none;">Muito obrigada e quero dizer que me
                            surpreendi com o atendimento. Rápido e muito eficiente... Num mo</span>
                        <br>
                        <b>Nota:</b> <span itemprop="rating">10</span>
                    </p>
                </div>
                <div class="baixo-depoimento">
                </div>
                <h3 itemprop="reviewer">
                    Lucineide C. Ribeiro
                </h3>
                <i>BRASÍLIA - <span itemprop="dtreviewed" datetime="2013-03-03">03/03/2013</span></i>
            </div>
            <div id="depoimentos" itemscope="" itemtype="http://data-vocabulary.org/Review">
                <div class="depoimento" itemprop="description">
                    <p>
                        Agradeço pela agilidade com que fomos atendidos em nossa homenagem para o pai de
                        nosso funcionário. Parabenizo a equipe pelo profissionalismo e também pelo envio
                        da nota fiscal e do boleto bancário. Obrigado.
                        <br>
                        <br>
                        <b>Item avaliado:</b> <span itemprop="itemreviewed">Site Coroas para Velório</span>
                        <span itemprop="summary" style="display: none;">Agradeço pela agilidade com que fomos
                            atendidos em nossa homenagem para o pai de nosso funcionário. </span>
                        <br>
                        <b>Nota:</b> <span itemprop="rating">10</span>
                    </p>
                </div>
                <div class="baixo-depoimento">
                </div>
                <h3 itemprop="reviewer">
                    Antonio - ITAÚ</h3>
                <i>SÃO PAULO - <span itemprop="dtreviewed" datetime="2013-01-12">12/01/2013</span></i>
            </div>
            <div class="clear">
            </div>
            <br /><br /><br />
            <div style="width: 100%; text-align: center; margin-bottom: 20px;">
                <a class="CallTo" href="/">veja todas as nossas coroas de flores</a>
            </div>
            <br />
            <div id="Selos">
                    <div id="armored_website" style="float: left; margin-left: 300px; margin-top: 15px; width: 115px; height: 32px;">
                    @*<a rel="canonical" href="https://s3-sa-east-1.amazonaws.com/cdn.siteblindado.com/lp_aw/verificar-pt-br.html?url=www.coroasparavelorio.com.br" onclick="javascript:window.open(this.href);return false;" title="Visualizou o selo Site Blindado? Navegue tranquilamente, esse site esta BLINDADO CONTRA ATAQUES. Realizamos milhares de testes simulando ataques de hacker, para garantir a segurança do site. Clique no selo e confira o certificado."><img src="http://s3-sa-east-1.amazonaws.com/selo.siteblindado.com/seals_aw/coroasparavelorio.com.br/siteblindado.gif" oncontextmenu="alert(&quot;Cópia&nbsp;Proibida&nbsp;por&nbsp;Lei&nbsp;-&nbsp;Site&nbsp;Blindado®&nbsp;é&nbsp;marca&nbsp;registrada&nbsp;de&nbsp;Site&nbsp;Blindado&nbsp;S.A.&quot;);return" false;"="" style="border-style: none"></a>*@
                
                    <param id="aw_pg_post" value="1">
                    </div>
                    <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
            <img src="/Content/img/selos.jpg" title="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil"
                alt="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil" border="0">
        </div>
        </div>        
    </div>
    <footer>
        <div id="Descritivo">
            <div class="conteudo">O site Coroas Para Velório é uma floricultura online especializada na confecção e entrega de coroa de flores em todos os cemitérios, velórios, hospitais e crematórios do Brasil. A empresa funciona 24h por dia, todos os dias da semana, inclusive finais de semana e feriado. Para encomendar a sua coroa de flores, entre em contato com a nossa Central de Atendimento ou realize a sua compra online. O pagamento pode ser efetuado por Boleto, Cartão de Crédito, Depósito em Conta ou Faturamento Empresas.  <object id="d9db2af9-0809-a1ae-8b0a-48a5088aa899" type="application/gas-events-abn" height="0" width="0"></object></div>
        </div>
        <div id="DestaquesRodape" class="qlassik">
            <div class="conteudo">
                <table cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td class="titulo">Coroa de Flores para Todo o Brasil</td>
                        <td class="sac">SAC: 0800-777-1986</td>
                    </tr>
                </tbody></table>
                    
                    
                <a href="/contato"><img src="/Content/img/atendimento-24h-rodape.png" alt="Atendimento 24h" title="Atendimento 24h" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'atendimento-24']);"></a>
            </div>
        </div>
        <nav>
            <div class="conteudo">
                <div class="divisao">
                    <h3>Institucional</h3>
                    <ul>
                        <li><a href="/a-empresa" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">A Empresa</a></li>
                        <li><a href="/coroas-para-velorio-na-midia" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">Coroas para Velório na Mídia</a></li>
                        <li><a href="/depoimentos-de-clientes" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">Depoimentos de Clientes</a></li>
                        <li><a href="/seja-uma-floricultura-parceira" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">Seja uma Floricultura Parceira</a></li>
                        <li><a href="/seja-um-promotor" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">Seja um Promotor</a></li>
                    </ul>
                    <h3>Condições Comerciais</h3>
                    <ul>
                        <li><a href="/termos-e-condicoes-comerciais" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">Termos e Condições Comerciais</a></li>
                        <li><a href="/politicas-de-privacidade" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="divisao">
                    <h3>Mais Informações</h3>
                    <ul>
                        <li><a href="/como-comprar" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">Como Comprar</a></li>
                        <li><a href="/tempo-e-prazo-de-entrega" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">Tempo e Prazo de Entrega</a></li>
                        <li><a href="/indique-o-coroas-para-velorio" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">Indique o Coroas para Velório</a></li>
                        <li><a href="/significado-das-flores" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">Significado das Flores</a></li>
                        <li><a href="/condolencias-virtuais-gratis" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">Condolências Virtuais Grátis</a></li>
                        <li><a href="/frases-de-homenagens" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">Frases de Homenagens</a></li>
                        <li><a href="/noticias-de-mercado" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">Notícias de Mercado</a></li>
                        <li><a href="/seguranca" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">Segurança</a></li>
                        <li><a href="/blog" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">Blog</a></li>
                    </ul>
                    <h3>Dúvidas Frequentes</h3>
                    <ul>                        
                        <li><a href="/duvidas-frequentes" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">Acesse nosso FAQ</a></li>
                    </ul>
                </div>
                <div class="divisao">
                    <h3>Compre Online</h3>
                    <ul>
                        <li><a href="/coroas-de-flores" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">Coroas de Flores</a></li>
                        <li><a href="/promocao-da-semana" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promoca-da-semana']);">Promoção da Semana</a></li>
                            
                        <li><a href="/solucoes-corporativas" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">Soluções Corporativas</a></li>
                        <li><a href="/velorios-e-cemiterios" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                        <li><a href="/cidades-e-regioes" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">Cidades e Regiões</a></li>
                    </ul>
                    <h3>Televendas</h3>
                    <p>
                        Entrega em todo o Brasil
                        <br>
                        0800-777-1986
                        <br>
                        Central de Atendimento<br><a href="/contato" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">clique aqui!</a>
                    </p>
                </div>
                <div class="divisao">
                    <h3>Central de Atendimento</h3>
                    <ul>
                        <li><a href="/contato" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                        <li><a href="/pesquisa-de-satisfacao" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                    </ul>
                    <h3>Redes Sociais</h3>
                    <fb:like href="https://www.facebook.com/coroasparavelorio" send="false" layout="button_count" width="450" show_faces="false" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=405767179533971&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcoroasparavelorio&amp;layout=button_count&amp;locale=pt_BR&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=450"><span style="vertical-align: bottom; width: 101px; height: 20px;"><iframe name="f16f63b07" width="450px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=405767179533971&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FdgdTycPTSRj.js%3Fversion%3D40%23cb%3Df3d3b1c55c%26domain%3Dwww.coroasparavelorio.com.br%26origin%3Dhttp%253A%252F%252Fwww.coroasparavelorio.com.br%252Ff38c1d782%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcoroasparavelorio&amp;layout=button_count&amp;locale=pt_BR&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=450" class="" style="border: none; visibility: visible; width: 101px; height: 20px;"></iframe></span></fb:like>
                    <br>
                    <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 20px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 300px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1399408435468" name="I0_1399408435468" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;annotation=inline&amp;width=300&amp;hl=pt-BR&amp;origin=http%3A%2F%2Fwww.coroasparavelorio.com.br&amp;url=http%3A%2F%2Fwww.coroasparavelorio.com.br%2Fcoroas-de-flores%2Fcemiterio-vila-alpina-sao-pedro-sao-paulo-sp&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.pjG1qAV7lig.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTNbd-KAf7BlYVpGyzFO9UD2Q179kQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1399408435468&amp;parent=http%3A%2F%2Fwww.coroasparavelorio.com.br&amp;pfname=&amp;rpctoken=31973137" data-gapiattached="true" title="+1"></iframe></div>
                    <script type="text/javascript">
                        window.___gcfg = { lang: 'pt-BR' };

                        (function () {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                        
                    <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);"><img src="/Content/img/facebook.png" alt="Facebook" title="Facebook"></a>
                    <a href="https://plus.google.com/102823637340385654450" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);"><img src="/Content/img/googleplus.png" alt="Google +" title="Google +" style="clear:none;margin-left:5px;"></a>
                    <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);"><img src="/Content/img/twitter.png" alt="Twitter" title="Twitter" style="clear:none;margin-left:5px;"></a>
                    <a href="https://www.youtube.com/channel/UC7XRIHe6ZBggpB65MOPyOaQ/feed?view_as=public" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'youtube']);"><img src="/Content/img/youtube.png" alt="Youtube" title="Youtube" style="clear:none;margin-left:5px;"></a>
                    <a href="http://www.sitesustentavel.com.br/certificado/list?url=www.coroasparavelorio.com.br" title="Site Sustentável" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'selo-sustentavel']);">
                        <img src="//www.sitesustentavel.com.br/images/selo/sitesustentavel142x40.png" alt="Clique no selo e confira nossa certificação! Navegue tranquilamente. Esse site é SUSTENTÁVEL, ou seja, está neutralizando o CO2 emitido e contribuindo para um mundo melhor." style="width:142px;height:40px;border:none;"></a>
                        
                        
                </div>
                <div class="divisao">
                    <h3>Meios de pagamento</h3>
                    <img src="/Content/img/meios-de-pagamento.png" alt="Meios de Pagamento" title="Meios de Pagamento">
                    <img src="/Content/img/meios-pag-footer.png" alt="PagSeguro" title="PagSeguro">
                    <h3>Segurança</h3>
                    <a href="https://selo.siteblindado.com.br/verificar?url=www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'site-blindado']);"><img src="/Content/img/site-blindado.png" alt="Site Blindado" title="Site Blindado"></a>
                </div>
            </div>
        </nav>
        <div id="Final">
            <div class="conteudo">
                <div id="Copyright">
                    Copyright © 2014 Coroas para Velório
                    <br>
                    TODOS OS DIREITOS RESERVADOS
                    <br>
                    <u>www.coroasparavelorio.com.br</u>
                </div>
                <div id="Avisos">
                    <span class="branco">
                        <u>www.coroasparavelorio.com.br</u>
                        <br>
                        <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a>
                    </span>
                    <br>
                    As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.
                    <br>
                    É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site.

                </div>
                <div id="Producao">
                    <a href="http://www.utime.com.br" target="_blank">
                        Produzido por:<br>
                        <img src="/Content/img/utime.png" alt="uTime" title="uTime">
                    </a>
                </div>
            </div>
        </div> 
        <div id="TelDiv">
            asdasd
        </div>       
   </footer>
</body>
</html>
