﻿@model IEnumerable<Domain.Entities.IPedido>

    @{
        ViewBag.Title = "Boletos Pagar Me";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestMeioPgto = Request.QueryString["meiopagamento"];
        var _MeiosPagamento = typeof(Domain.Entities.Pedido.MeiosPagamento);
        
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                 @{
                     if (String.IsNullOrEmpty(_requestMeioPgto))
                     {
                         <text>$("#meiopagamento").val("");</text>
                     }
                  }

                $('#financeiro').addClass('active');
                $('#i_cobranca').addClass('active');

                $(".datadevencimento").click(function () {

                    var ID = $(this).attr("ID").split(',')[0];
                    var Tipo = $(this).attr("ID").split(',')[1];

                    if (confirm('Ao alterar a data de vencimento, um novo arquivo deve ser enviado para o banco. Você confirma a alteração?')) {
                        $("#div_vencimento_boleto").dialog({
                            resizable: false,
                            height: 240,
                            modal: true,
                            buttons: {
                                "Salvar": function () {
                                    $.post('/Cobranca/AlterarVecimento/', {
                                        id: ID,
                                        Tipo: Tipo,
                                        data: $('#VencimentoBoleto').val()
                                    }, function (data) {
                                        if (data.retorno == "OK") {

                                            window.open(data.LinkBoleto);

                                            Swal.fire("Salvo!", "Data de vencimento alterada com sucesso!", "success");
                                        } else {
                                            alert(data.mensagem);
                                        }
                                    });
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                });

                $(".serasa").click(function () {

                    var ID = $(this).attr("ID").split(',')[0];
                    var Tipo = $(this).attr("ID").split(',')[1];

                    $.post('/Cobranca/Serasa/', {
                        id: ID,
                        Tipo: Tipo
                    }, function (data) {
                        if (data.sucesso) {
                            Swal.fire("Salvo!", "Pedido marcado como Serasa!", "success");
                        } else {
                            Swal.fire("Erro!", data.mensagem, "error");
                        }
                    });
                });

                $(".prejuizo").click(function () {

                    var ID = $(this).attr("ID").split(',')[0];
                    var Tipo = $(this).attr("ID").split(',')[1];

                    $.post('/Cobranca/Prejuizo/', {
                        id: ID,
                        Tipo: Tipo                        
                    }, function (data) {
                        if (data.sucesso) {
                            Swal.fire("Salvo!", "Prejuízo salvo com sucesso!", "success");                            
                        } else {                            
                            Swal.fire("Erro!", data.mensagem, "error");
                        }
                    });
                });

                $(".cobranca").click(function () {

                    var ID = $(this).attr("ID").split(',')[0];
                    var Tipo = $(this).attr("ID").split(',')[1];

                    $.post('/Cobranca/EnviaCobranca/', {
                        id: ID,
                        Tipo: Tipo
                    }, function (data) {
                        if (data.sucesso) {
                            Swal.fire("Salvo!", "Cobrança enviada com sucesso!", "success");                            
                        } else {
                            Swal.fire("Erro!", data.mensagem, "error");
                        }
                    });
                });

                $(".salvarObs").click(function () {
                    var Texto = $(this).parent().find("textarea").val();
                    var Span = $(this).parent().find("span");

                    $(Span).show();

                    var ID = $(this).parent().find("textarea").attr("ID").split(',')[0];
                    var Tipo = $(this).parent().find("textarea").attr("ID").split(',')[1];

                    $.post('/Cobranca/Salva/', {
                        id: ID,
                        Tipo: Tipo,
                        texto: Texto
                    }, function (data) {
                        if (data.sucesso) {
                            Swal.fire("Salvo!", "Obs salva com sucesso! !", "success");
                            $(Span).hide();
                        } else {
                            $(Span).hide();
                            Swal.fire("Erro!", data.mensagem, "error");                            
                        }
                    });

                });

                $("#Filtrar").click(function () {
                    if ($("#datafinal").val() == "") {
                        alert('Preencha a data de vencimento final');
                        return false;
                    }
                });

            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Boletos Pagar Me
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align:left;">
                    <form method="get">
                        <table>
                            <tr>
                                <td>
                                    Data de Vencimento Final:<br />
                                    <input type="text" name="datafinal" id="datafinal" value="@{ if (string.IsNullOrEmpty(Request.QueryString["datafinal"])) { <text> @DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy") </text> } else { @Request.QueryString["datafinal"] }; }" autocomplete="off" class="mws-textinput mws-datepicker" />
                                </td>
                                <td style="padding-left: 10px">
                                    Origem: <br />
                                    <select name="origem" id="origem" style="width:300px;">
                                        <option value="">Selecione uma opção</option>
                                        <option value="1" @(Request.QueryString["origem"] == "1" ? "selected" : "")>CPV</option>
                                        <option value="2" @(Request.QueryString["origem"] == "2" ? "selected" : "")>LAÇOS CORPORATIVOS</option>
                                    </select>
                                </td>
                                <td style="padding-left: 10px">
                                    Meio de Pagamento: <br />
                                    @Html.DropDownListForEnum("meiopagamento", _MeiosPagamento, (!String.IsNullOrEmpty(_requestMeioPgto) ? Convert.ToInt32(_requestMeioPgto) : 0), new { style = "width:300px;" })
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    Pedido CPV:<br />
                                    <input type="text" name="pedidoCPV" value="@Request.QueryString["pedidoCPV"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td style="padding-left: 10px">
                                    Pedido CORP:<br />
                                    <input type="text" name="pedidoCORP" value="@Request.QueryString["pedidoCORP"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td style="padding-left: 10px">
                                   Atendente:<br />
                                    <select name="administradorID" id="administradorID" style="width:300px;">
                                        <option value="">Selecione uma opção</option>
                                        @foreach (var Iten in ViewBag.LstAtendentes)
                                        {
                                            <option value="@Iten.Value" @(Request.QueryString["administradorID"] == @Iten.Value ? "selected" : "")>@Iten.Text</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nome do Cliente / Empresa:<br />
                                    <input type="text" name="NomeCliente" value="@Request.QueryString["NomeCliente"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td style="padding-left: 10px">
                                    Email do Cliente:<br />
                                    <input type="text" name="EmailCliente" value="@Request.QueryString["EmailCliente"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nosso Número:<br />
                                    <input type="text" name="NossoNumero" value="@Request.QueryString["NossoNumero"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td style="padding-left: 10px">
                                    Trans. ID:<br />
                                    <input type="text" name="TransID" value="@Request.QueryString["TransID"]" autocomplete="off" style="width:100px;" />
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>
                        <input id="Filtrar" type="submit" class="mws-button gray small" value="Filtrar" />
                    </form>
                </div>
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th style="text-align:center; width:250px;">Pedido</th>                            
                            <th style="width: 450px;">Boleto / Entrega / Produtos</th>                            
                            <th style="width: 350px;">Emails</th>                            
                            <th style="width: 120px;" align="center">Ações</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            Domain.Entities.Pedido PedidoCPV = new Domain.Entities.Pedido();
                            Domain.Entities.PedidoEmpresa PedidoCORP = new Domain.Entities.PedidoEmpresa();

                            var IPedido = (Domain.Entities.IPedido)item;

                            if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                            {
                                PedidoCPV = (Domain.Entities.Pedido)IPedido;
                            }
                            else
                            {
                                PedidoCORP = (Domain.Entities.PedidoEmpresa)IPedido;
                            }

                            <tr>
                                <td style="text-align:left;">
                                    <b>NR.:</b> <a target="_blank" href="@IPedido.LinkPedido">
                                        @IPedido.Numero
                                    </a>
                                    <br />
                                    <b>Data:</b> @IPedido.DataCriacao
                                    <br />
                                    <br />
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            <b>Valor Pedido: </b>@PedidoCPV.ValorTotal.ToString("C2")
                                        }
                                        else
                                        {
                                            <b>Valor Fat: </b>@PedidoCORP.Faturamento.ValorTotal.ToString("C2")
                                        }
                                    }
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Empresa)
                                        {
                                            <br />
                                            <b>Venc Fat: </b>@PedidoCORP.Faturamento.DataVencimento.ToShortDateString()
                                        }
                                    }
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Empresa)
                                        {
                                            if (PedidoCORP.Faturamento != null)
                                            {
                                                <br />
                                                <b>Link Fat: </b> <a target="_blank" href="/FaturasEmpresa/Visualizar/@PedidoCORP.Faturamento.ID">@PedidoCORP.Faturamento.ID</a>
                                                <br />
                                                <br />
                                                <b>Pedidos da Fat:</b>
                                                <ul style="margin-bottom: 0px; padding-bottom: 0px;">
                                                    @foreach (var itemLstPedidosDaFatura in IPedido.LstPedidosDaFatura)
                                                    {
                                                        <li>
                                                            <a target="_blank" hre="/PedidosEmpresa/Visualizar/@itemLstPedidosDaFatura.ID">
                                                                @itemLstPedidosDaFatura.ID
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }

                                        }
                                    }
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            <br />
                                            <br />
                                            <b>Meio de Pgt: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCPV.MeioPagamento)
                                            <br />
                                            <b>Forma de Pgt: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCPV.FormaPagamento)
                                            <br />
                                            <b>Status de Processamento: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCPV.StatusProcessamento)
                                            <br />
                                            <b>Status de Entrega: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCPV.StatusEntrega)
                                            <br />
                                            <b>Atendente: </b>@PedidoCPV.AdministradorNome
                                        }
                                        else
                                        {
                                            if (PedidoCORP.Faturamento != null)
                                            {
                                                <br />
                                                <b>Meio de Pgt: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCORP.Faturamento.MeioPagamento)
                                                <br />
                                                <b>Forma de Pgt: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCORP.Faturamento.FormaPagamento)
                                                <br />
                                                <b>Status de Processamento: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCORP.Status)
                                                <br />
                                                <b>Status de Entrega: </b>@Domain.Helpers.EnumHelper.GetDescription(PedidoCORP.StatusEntrega)
                                                <br />
                                                <b>Atendente: </b>@PedidoCORP.AdministradorNome
                                            }
                                        }
                                    }
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            if (PedidoCPV.NFeLink != "")
                                            {
                                                <br />
                                                <b>Nota Fiscal:</b> <a target="_blank" href="@PedidoCPV.NFeLink">@PedidoCPV.NFeNumero</a>
                                            }
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(PedidoCORP.Faturamento.NFeLink))
                                            {
                                                string StringPDF = "";
                                                {
                                                    var Index = PedidoCORP.Faturamento.NFeLink.IndexOf("key=");

                                                    if (Index >= 0)
                                                    {
                                                        var IdDownload = PedidoCORP.Faturamento.NFeLink.Substring(Index + 4);
                                                        StringPDF = "http://nfe2.nfemais.com.br/v3/painel/danfe.php?key=" + IdDownload;
                                                    }
                                                }

                                                <br />
                                                if (!string.IsNullOrEmpty(StringPDF))
                                                {
                                                    <b>Nota Fiscal:</b> <a target="_blank" href="@StringPDF">@PedidoCORP.Faturamento.NFeNumero</a>
                                                }
                                                else
                                                {
                                                    <b>Nota Fiscal:</b> <a target="_blank" href="@PedidoCORP.Faturamento.NFeLink">@PedidoCORP.Faturamento.NFeNumero</a>
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            if (PedidoCPV.BoletosVencidos > 1)
                                            {
                                                var DataVencimentoFinal = "";

                                                if (string.IsNullOrEmpty(Request.QueryString["datafinal"]))
                                                {
                                                    DataVencimentoFinal = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy");
                                                }
                                                else {
                                                    DataVencimentoFinal = Request.QueryString["datafinal"];
                                                };

                                                <b>Boletos em Aberto:</b> <a target="_blank" href="/Cobranca/List?ClienteID=@PedidoCPV.Cliente.ID&datafinal=@DataVencimentoFinal">@PedidoCPV.BoletosVencidos</a>
                                                <br />
                                            }

                                            if (PedidoCPV.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.BoletoPagarMe)
                                            {
                                                <b>Trans. ID.:</b> <a href="/BoletoPagarMe/Edit/@PedidoCPV.BoletoPagarMeReturn.ID" target="_blank">@PedidoCPV.BoletoPagarMeReturn.TransactionID</a>
                                                <br />
                                                <b>Valor:</b> @PedidoCPV.BoletoPagarMeReturn.Valor.ToString("C2")
                                                <br />
                                                <b>Venc Boleto:</b> @PedidoCPV.BoletoPagarMeReturn.DataVencimento.Value.ToShortDateString()
                                                <br />
                                                <b>Sacado:</b> @PedidoCPV.BoletoPagarMeReturn.SacadoNome
                                                <br />
                                                <b>Sacado Doc:</b> @PedidoCPV.BoletoPagarMeReturn.SacadoDocumento
                                                <br />
                                                <br />
                                            }

                                            if (PedidoCPV.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto)
                                            {
                                                <b>Nosso Nr.:</b> @PedidoCPV.Boleto.NossoNumero
                                                <br />
                                                <b>Nr. Doc.:</b> <a href="/Boleto/List?boletoID=@PedidoCPV.Boleto.ID" target="_blank">@PedidoCPV.Boleto.NumeroDocumento</a>
                                                <br />
                                                <b>Valor:</b> @PedidoCPV.Boleto.Valor.ToString("C2")
                                                <br />
                                                <b>Venc Boleto:</b> @PedidoCPV.Boleto.DataVencimento.ToShortDateString()
                                                <br /><br />
                                                <b>Sacado: </b>@PedidoCPV.Boleto.SacadoNome
                                                <br />
                                                <b>Sacado Doc: </b>@PedidoCPV.Boleto.SacadoDocumento
                                                <br />
                                                <br />
                                            }

                                            <b>Cliente:</b> @PedidoCPV.Cliente.Nome.ToUpper()
                                            <br />
                                            <b>Telefone:</b> @PedidoCPV.Cliente.TelefoneContato
                                            <br />
                                            <b>Cel:</b> @PedidoCPV.Cliente.CelularContato
                                            <br />
                                            <b>Email:</b> @PedidoCPV.Cliente.Email
                                        }
                                        else
                                        {
                                            if (PedidoCORP.FaturasVencidas > 0)
                                            {
                                                var DataVencimentoFinal = "";

                                                if (string.IsNullOrEmpty(Request.QueryString["datafinal"]))
                                                {
                                                    DataVencimentoFinal = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy");
                                                }
                                                else {
                                                    DataVencimentoFinal = Request.QueryString["datafinal"];
                                                };

                                                <b>Faturas em Aberto:</b> <a target="_blank" href="/Cobranca/List?empresaID=@PedidoCORP.Empresa.ID&datafinal=@DataVencimentoFinal">@PedidoCORP.FaturasVencidas</a>
                                                <br />
                                            }
                                            if (PedidoCORP.Faturamento.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto)
                                            {

                                                if (PedidoCORP.Faturamento != null && PedidoCORP.Faturamento.Boleto != null && !string.IsNullOrEmpty(PedidoCORP.Faturamento.Boleto.NossoNumero))
                                                {
                                                    <b>Nosso Nr.:</b> @PedidoCORP.Faturamento.Boleto.NossoNumero
                                                    <br />
                                                }
                                                else
                                                {
                                                    <b>Nosso Nr.:</b> <text>N/A</text>
                                                    <br />
                                                }


                                                if (PedidoCORP.Faturamento.Boleto != null)
                                                {
                                                    <b>Nr. Doc.:</b> <a href="/Boleto/List?boletoID=@PedidoCORP.Faturamento.Boleto.ID" target="_blank">@PedidoCORP.Faturamento.Boleto.NumeroDocumento</a>
                                                    <br />
                                                    <b>Valor:</b> @PedidoCORP.Faturamento.Boleto.Valor.ToString("C2")
                                                    <br />
                                                    <b>Venc Boleto:</b> @PedidoCORP.Faturamento.Boleto.DataVencimento.ToShortDateString()
                                                    <br /><br />
                                                    <b>Sacado: </b>@PedidoCORP.Faturamento.Boleto.SacadoNome
                                                    <br />
                                                    <b>Sacado Doc: </b>@PedidoCORP.Faturamento.Boleto.SacadoDocumento
                                                    <br />
                                                    <br />
                                                }
                                                else
                                                {
                                                    <b>Dados do Boleto Indisponível </b>
                                                    <br />
                                                }

                                            }

                                            <b>Cliente:</b> @PedidoCORP.Colaborador.Nome.ToUpper()
                                            <br />
                                            <b>Empresa:</b> @PedidoCORP.Empresa.RazaoSocial.ToUpper()
                                            <br />
                                                    <br />
                                                    <b>Telefone Colaborador:</b> @PedidoCORP.Colaborador.Telefone
                                                    <br />
                                                    <b>Celular de Urgência:</b> @PedidoCORP.TelefoneContato
                                                    <br />
                                                    <b>Telefone Empresa:</b> @PedidoCORP.Empresa.TelefoneContato
                                                    <br />
                                                    <b>Cel:</b> @PedidoCORP.Colaborador.TelefoneCelular
                                                    <br />
                                                    <b>Email:</b> @PedidoCORP.Colaborador.Email
                                        }
                                    }
                                    <br />
                                    <br />
                                    <hr />
                                    @{
                                        if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            if (PedidoCPV.DataEntrega != null)
                                            {
                                                <b>Data Entrega:</b> @PedidoCPV.DataEntrega<br />
                                            }
                                            <b>Homenageado:</b> @PedidoCPV.PessoaHomenageada.ToUpper()
                                        }
                                        else
                                        {
                                            if (PedidoCORP.DataEntrega != null)
                                            {
                                                <b>Data Entrega:</b> @PedidoCORP.DataEntrega<br />
                                            }
                                            <b>Homenageado:</b> @PedidoCORP.PessoaHomenageada.ToUpper()
                                        }
                                    }
                                    <br />
                                    <b>Local Entrega:</b> @IPedido.LocalDeEntregaDetalhado
                                    <br /><br />
                                    @{
                                        foreach (var Produto in IPedido.NomeProdutos)
                                        {
                                            @Produto<br />
                                        }
                                    }
                                    <br />
                                    <hr />
                                    <b>Observações de Cobrança</b>
                                    <br />
                                    @{
                                        string Notas = "";
                                    }
                                    @if (IPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                    {
                                        Domain.Entities.Pedido PedidoCPVNotas = new Domain.Entities.Pedido();
                                        PedidoCPVNotas = (Domain.Entities.Pedido)IPedido;

                                        Notas = PedidoCPVNotas.ObservacaoFinanceira;
                                    }
                                    else {
                                        Domain.Entities.PedidoEmpresa PedidoCORPotas = new Domain.Entities.PedidoEmpresa();
                                        PedidoCORPotas = (Domain.Entities.PedidoEmpresa)IPedido;

                                        Notas = PedidoCORPotas.ObservacaoFinanceira;
                                    }
                                    <textarea class="mws-textinput" name='@IPedido.ID,@IPedido.TipoPedido' id='@IPedido.ID,@IPedido.TipoPedido' style="width: 100%; min-height: 120px; text-align: left;">@Notas</textarea>
                                    <br />
                                    <input type="button" class="salvarObs" value="Salvar" /> <span style="display: none;">Aguarde...</span>
                                </td>



                                <td>
                                    @{
                                        if (IPedido.LstLogsMandrill != null)
                                        {
                                            <ul>
                                                @foreach (var Email in IPedido.LstLogsMandrill)
                                                {
                                                    <li>
                                                        @if (Email.Titulo != null) { @Email.Titulo } else { <text>Sem Título</text> } | @if (Email.Status != null) { @Email.Status } else { <text>Sem Status</text> } | @if (Email.RejectReason != null){ <text> - </text>@Email.RejectReason }
                                                      
                                                        @if (Email.Aberto)
                                                        {
                                                            <text>Aberto</text>
                                                        }
                                                        else {
                                                            <text>N Abe.</text>
                                                        }
                                                        /
                                                        @if (Email.Clicado)
                                                        {
                                                            <text>Clicado</text>
                                                        }
                                                        else {
                                                            <text>N Cli.</text>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <text>N/A</text>
                                        }
                                    }
                                </td>
                                <td style="text-align: center;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width:120px;border-bottom:1px solid #fff;margin-bottom:1px;">
                                                <a id="@IPedido.ID,@IPedido.TipoPedido" class="mws-ic-16 ic-delete prejuizo" title="Prejuízo">Prejuízo</a>
                                            </li>
                                            <li style="width:120px;border-bottom:1px solid #fff;margin-bottom:1px;">
                                                <a id="@IPedido.ID,@IPedido.TipoPedido" class="mws-ic-16 ic-email cobranca">Cobrança</a>
                                            </li>
                                            <li style="width:120px;border-bottom:1px solid #fff;margin-bottom:1px;">
                                                <a id="@IPedido.ID,@IPedido.TipoPedido" class="mws-ic-16 ic-delete serasa" title="Serasa">Serasa</a>
                                            </li>
                                            @{
                                                if (IPedido.MeioPgtID == 17 || IPedido.MeioPgtID == 5)
                                                {
                                                    <li style="width:120px;border-bottom:1px solid #fff;margin-bottom:1px;">
                                                        <a id="@IPedido.ID,@IPedido.TipoPedido" class="alterar_vencimento_boleto_pedido mws-ic-16 ic-edit datadevencimento">Dt Venc Bol.</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                    }
                </table>
                <div class="dataTables_wrapper">    
                    <div class="dataTables_info">@ViewBag.MensagemFooter</div>      
                </div>
            </div>
        </div>
    </div>
    <div id="div_vencimento_boleto" title="Digite uma nova data de vencimento" style="display:none;">
        <p>
            <input type="text" id="VencimentoBoleto" class="select" maxlength="300" />
        </p>
    </div>

    
