﻿@model IEnumerable<Domain.Entities.Local>
@{
    ViewBag.Titulo = "Buscar Local";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("buscar", "local", new { termo = @Request.QueryString["termo"] })" itemprop="url">      
      <span itemprop="title"><b>Resultado da busca por <u>@Request.QueryString["termo"]</u></b></span>    
    </a> 
    </div>    
</div>

<div class="hr"><hr /></div>

<div class="conteudo">
    <h1>Resultados da busca por <u>@Request.QueryString["termo"]</u> @Html.Raw((Request.QueryString["cidade"] != null) ? " em <u>" + Request.QueryString["cidade"] + "</u>" : "")</h1>

    <div id="ResultadosBusca">
            
        <div class="clear"></div>
        @{var tipos = Model.Select(c => c.Tipo).Distinct().ToList(); }
        @if (tipos.Any())
        {
            foreach (var tipo in tipos)
            {
            
                <div class="title qlassik vermelho" style="width:100%;">
                @Domain.Helpers.EnumHelper.GetDescription(tipo)
                </div>
            
                <div class="results">
                <div class="destaques">
                @{
                  var locais = Model.Where(c => c.Tipo == tipo).OrderBy(c => c.Destaque).OrderBy(c => c.Titulo);
                  var locaisDestaque = locais.Where(c => c.Destaque).Take(5);
                }
                @foreach (var local in locaisDestaque)
                {
                    var foto = "";
                    var css = "";
                    if (local.Foto.Length > 0)
                    {
                        foto = "background: url('/content/locais/" + local.ID + "/thumb/" + local.Foto + "')!important;";
                    }
                    else
                    {
                        css = Enum.GetName(typeof(Domain.Entities.Local.Tipos), local.TipoID).ToLower();
                    }
                    <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })">
	                    <div class="resultado @css" style="@foto">
	                        <div class="titulo">
                                @local.Titulo / @local.Cidade.Nome - @local.Estado.Sigla
                            </div>
                        </div>
                    </a>
                }
                </div>
                <div class="items">
                @foreach (var local in locais)
                { 
                    <div class="item">
                    <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })"> 
	                    <div class="titulo">
                            @local.Titulo / @local.Cidade.Nome - @local.Estado.Sigla <br /><br />
                        </div> 
                    </a>
                    </div>
                }
                </div>
                </div>
            }
            
            if (ViewBag.TotalPaginas > 1)
            {
            <div class="clear"></div>
            <div class="paginacao">   
                <div class="titulo">@ViewBag.TituloPaginacao</div>
                <div class="paginas">
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "ativa" : "")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]">@i.ToString()</a></span>
                    }
                </div>
            </div>
            }
        }
        else
        {
            <p>Não foram encontrados locais para a busca digitada.</p>
        }

    </div>
    <span class="qlassik" style="color: #757575; font-size: 40px; text-align: center;">Não encontrou o que procurava? <span style="color: #D50911;">Ligue Agora! @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</span></span>
    <br /><br />
    <div class="hr"><hr /></div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Destaques)

</div>