﻿@model Domain.Entities.Local

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var locaisCidade = (List<Domain.Entities.Local>)ViewBag.LocaisCidade;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    Domain.Entities.Local _local = null;
    if (Session["local"] != null)
    {
        _local = (Domain.Entities.Local)Session["local"];
    }
    if (_local != null)
    {
        ViewBag.Titulo = "Coroa de Flores para Velório - Flores Fúnebres - Entrega em " + _local.Titulo;
        ViewBag.Descricao = _local.DescricaoRodape;
        ViewBag.Description = _local.TagDescription;
        ViewBag.Keywords = _local.TagKeywords;
        if (!configuracoes.TelefoneIndisponivel)
        {
            ViewBag.Televendas = _local.Televendas;
        }
        else
        {
            ViewBag.Televendas = configuracoes.SAC;
        }
        ViewBag.Local = _local.Cidade.NomeCompleto;
    }
}
@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");
        });
    </script>
}

@section Script{
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDwGGcJ3EAnkWb1_4Doyk2VdGkfhSHeXcI&sensor=false&libraries=panoramio">
    </script>
    <script type="text/javascript">
    
        google.maps.event.addDomListener(window, 'load', function () {
            var geo = new google.maps.Geocoder;
            geo.geocode({ 'address': '@Model.EnderecoMaps' }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var map = new google.maps.Map(document.getElementById('map-canvas'), {
                        
                        @if(Model.Tipo == Domain.Entities.Local.Tipos.Cidade){
                            <text>zoom: 7,</text>
                        }
                        else
                        {
                            <text>zoom: 16,</text>
                        }
                        
                        center: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()),
                        mapTypeId: google.maps.MapTypeId.ROADMAP 
                    });

                    var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
                    panoramioLayer.setMap(map);
                    panoramioLayer.setTag('@Html.Raw(Domain.Helpers.EnumHelper.GetDescription(Model.Tipo))');

                    var infoWindow = new google.maps.InfoWindow;

                    var onMarkerClick = function () {
                        var marker = this;
                        var latLng = marker.getPosition();

                        var contentString = '<div id="content">' +
                                        '<div id="siteNotice">' +
                                        '</div>' +
                                        '<h2 id="firstHeading" class="firstHeading">@Model.Titulo</h2>' +
                                        '<div id="bodyContent">' +
                                        '@Html.Raw(!String.IsNullOrEmpty(Model.Foto)?"<img src=\"" + Domain.Core.Configuracoes.DOMINIO + "/content/locais/" + Model.ID + "/" + Model.Foto + "\" width=\"100\" style=\"float:left;\"/>":"")' +
                                        '<p><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=@Model.EnderecoMaps&amp;aq=&amp;sll=' + latLng.lat() + ',' + latLng.lng() + '&amp;sspn=8.172646,14.27124&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=@Model.Titulo&amp;ll=-22.134502,-51.394122&amp;spn=0.004005,0.006968&amp;z=14" target="_blank">Como chegar pelo Google Maps</a></p>' +
                                        '</div>' +
                                        '</div>';
                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    };

                    google.maps.event.addListener(map, 'click', function () {
                        infoWindow.close();
                    });

                    var marker1 = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
                    });
                    google.maps.event.addListener(marker1, 'click', onMarkerClick);

                } 
            });
        });

    </script>
}


<div class="hr-dk"><hr /></div>
<div class="conteudo">

    <div class="local" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="infos">
            <div class="cima">
                <div style="float:left;width:448px;">
                    <h2>Coroa de Flores para </h2>
                    <h1 itemprop="name">@Model.Titulo</h1>
                </div>
                <div style="float:left;width:512px;">
                    <div class="box-radius cinza600" style="padding: 5px;">
                    <table>
                        <tr>
                            <td colspan="2" style="height:30px;">Precisa de Coroa de Flores para @Model.Titulo ?</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="televendas">Televendas:</span>
                                <span class="telefone vermelho">@(configuracoes.TelefoneIndisponivel ? configuracoes.SAC : Model.Televendas)</span>
                            </td>
                            <td>
                                @if (!String.IsNullOrEmpty(Model.PrazoEntrega))
                                { 
                                    <span class="prazoentrega">Prazo de entrega:</span>
                                    <span class="telefone vermelho">@Model.PrazoEntrega</span> 
                                }                            
                            </td>
                        </tr>
                        <tr>
                            <td>                                
                                @if (!String.IsNullOrEmpty(Model.Frete))
                                { 
                                    <span class="frete">Frete para o local:</span>
                                    <span class="telefone vermelho">@Model.Frete</span> 
                                }
                            </td>
                            <td>                            
                                @if (!String.IsNullOrEmpty(Model.FaixaHomenagem))
                                { 
                                    <span class="faixa">Faixa de Homenagens:</span>
                                    <span class="telefone vermelho">@Model.FaixaHomenagem</span> 
                                }
                            </td>
                        </tr>                    
                    </table> 
                    </div>
                    <div  style="text-align:center;"><a href="#coroas"><img src="/Content/img/veja-nossas-coroas.png" alt="veja nossas coroas" border="0"/></a></div>
                </div>
            </div>
            <div style="float:left;width:432px;">
                @if (Model.Foto.Length > 0)
                {
                <div class="foto">
                    <img src="@Url.Content("/content/locais/" + Model.ID + "/" + Model.Foto)" class="foto" alt="@Model.Titulo" height="189" />
                </div>
                }
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <p class="qlassik cidade">
                        <span itemprop="addressLocality">@Model.Cidade.Nome</span> - <span itemprop="addressRegion">@Model.Estado.Sigla</span>
                    </p>     
                     <span itemprop="streetAddress" style="font-size:12px;color:#757575;">@Model.Logradouro @Model.Numero @Model.Complemento @Model.Bairro</span>
                     <span itemprop="postalCode"  style="font-size:12px;color:#757575;">@Model.CEP</span>
                     <br /><br />
                </div>
                <p class="informacao" style="width:440px;">
                    @Html.Raw(Model.Descricao)
                </p>
            </div>
            <div style="float:left;margin-left:20px;width:508px;">
                @if (Model.EnderecoMaps.Length > 0)
                {
                <br />
                    <div class="box-radius cinza600" style="padding: 5px;height: 430px;">
                        <center>Mapa do @Model.Titulo</center>
                        <div id="map-canvas"></div>
                    </div>
                }
            </div>
            <div style="clear: both"></div>
            @{var tipos = locaisCidade.Select(c => c.Tipo).Distinct().ToList(); }
            @if (tipos.Any())
            {
                <br />
                <h2 class="qlassik vermelho">Veja a lista de locais em @Model.Cidade.Nome - @Model.Estado.Sigla</h2>
                <br />
                foreach (var tipo in tipos)
                {
                    <div class="resposta-local">
                        <div class="title qlassik vermelho" style="width:100%;">
                            @{var nome = Domain.Helpers.EnumHelper.GetDescription(tipo);
                              if (tipo == Domain.Entities.Local.Tipos.Hospital)
                              {
                                  nome = "Hospitais";
                              }
                              else
                              {
                                  nome += "s";
                              }
                              }
                              @(nome)
                            <br />
                        </div>
            
                        <div class="locais">
                            @{var locais = locaisCidade.Where(c => c.Tipo == tipo).OrderBy(c => c.Principal);}
                            @foreach (var local in locais.Take(5))
                            {
                                <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })" class="link">
                                   @local.Titulo / @local.Estado.Sigla
                                </a>
                                <br />
                            }
                            @if (locais.Count() > 5)
                            {
                                <br />
                            <a class="vermelho" href="@Url.Action("buscar", "local", new { termo = Domain.Helpers.EnumHelper.GetDescription(tipo), cidade = Model.Cidade.NomeCompleto, cidadeID = Model.CidadeID })">veja a relação completa</a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <a name="coroas"></a>
    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
</div>