﻿@model IEnumerable<Domain.Entities.Local>
@{
    ViewBag.Title = "Cidades e Regiões";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    //var destaques = (List<Domain.Entities.Local>)ViewBag.Destaques;
    var estados = (List<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
 
@section Script{  
    <script type="text/javascript">
        $(document).ready(function () {

            $('#buscaestado').change(function () {
                var estadoID = $(this).val(); 
                if (estadoID != null) {
                    $('.ResulUF').hide();
                    $('.div-' + estadoID).show(); 
                }
            });
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Cidades e Regiões</b></span> </div>
</div>
</div>
 
 
<div id="CidadesRegioes">
<div class="Div">

	<h1 class="TituloPagina">Cidades e regiões</h1>
	<div class="VejaNossasCoroas">Veja nossa relação de <a href="/flores" class="FiltroSelecionado">Flores e Arranjos</a></div>

	<div class="Texto1">Para qual cidade você precisa de flores?</div>

	<div class="Busca">
		<div class="BuscaTexto">Procure aqui a cidade que deseja enviar as Flores</div>
		<div class="BuscaOpcoes">
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
			<div class="DivOpcaoBusca"><input type="text" name="termo" id="local-termo" class="DivOpcaoBuscaInput busca_local" value="Nome da cidade ou local" onfocus="if(this.value=='Nome da cidade ou local') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Nome da cidade ou local'; }" /></div>
			<div class="DivOpcaoBusca2"><input type="submit" value="BUSCAR" class="DivOpcaoBuscar" /></div>
        </form>
		</div>
	</div>
    
	<div class="Linha"></div>

	<div class="Texto4">Procure a cidade por estado</div>

	<div class="Busca2">
		<div class="BuscaTexto2">Estado</div>
		<div class="BuscaOpcoes2">
			<div class="DivOpcaoBusca">
            <select name="estado" class="DivOpcaoBuscaSelect" id="buscaestado">
				<option value=""></option>
				<option value="AP">Amapá</option>
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="DF">Distrito Federal</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MG">Minas Gerais</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MT">Mato Grosso</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="PR">Paraná</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="SC">Santa Catarina</option>
				<option value="SE">Sergipe</option>
				<option value="SP">São Paulo</option>
				<option value="TO">Tocantins</option>
			</select>
            </div> 
		</div>
     	 
        @foreach (var estado in estados)
        {
            var locais = Model.Where(l => l.EstadoID == estado.ID).OrderBy(l => l.Titulo).ToList();
            if (locais.Any())
            {
		        <div class="ResulUF div-@(estado.Sigla)" id="ResultadosEstado">

			        <div class="ResulUFLinha1">
				        <div class="ResulUFTitulo">@estado.Nome &raquo; Principais cidades</div>
				        @*<div class="ResulUFBusca">
					        <div class="ResulUFBusca2">buscar nos resultados:</div>
					        <div class="ResulUFBusca3">
						        <div class="DivBuscaResul2"><input type="text" name="busca_resultados" class="DivBuscaResulInput" value="insira nome da cidade" onfocus="if(this.value=='insira nome da cidade') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'insira nome da cidade'; }" /></div>
						        <div class="DivBuscaResul2"><input type="button" value="BUSCAR" class="DivBuscarResul" /></div>
					        </div>
				        </div>*@
			        </div>

			        <div class="Resultados">
                        @foreach (var local in locais)
                        {
			            <div class="Resultados2">&raquo; <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })" style="@((local.Principal) ? "font-weight: bold;" : "")">@local.Titulo @(local.TotalLocaisRelacionados > 0 ? "(" + local.TotalLocaisRelacionados + ")" : "")</a></div>
                        } 
				        <div class="Resultados3"><a href="@Url.Action("buscar", "local", new { termo = @estado.Sigla, cidades = "sim" })" class="FiltroSelecionado">Veja todas as cidades em @estado.Nome</a></div>
			        </div>

		        </div> 
            }
        }  

	</div>

@*    @if (destaques.Any())
    {
        
	    <h2>Cidades mais buscadas</h2>
	
        foreach (var item in destaques)
        {
            var foto = "";
            var css = "";
            if (item.Foto.Length > 0)
            {
                foto = "background: url('/content/locais/" + item.ID + "/thumb/" + item.Foto + "')!important;";
            }
            else
            {
                css = Enum.GetName(typeof(Domain.Entities.Local.Tipos), item.TipoID).ToLower();
            }
            <a href="@Url.RouteUrl("Local", new { rotuloUrl = item.RotuloUrl })">
	            <div class="resultado @css" style="@foto">
		            <div class="titulo">@item.Titulo</div>
	            </div>
            </a>
        }
    }*@
    

	<div class="NaoEncontrou">

		<div class="Texto1">Não encontrou o seu local?</div>

		<div class="Div2">
		<div class="Texto2">Busque novamente</div>
		<div class="DivBusca">
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo"> 
			<div class="DivBusca2"><input type="text" name="termo" id="local-termo" class="DivBuscaInput  busca_local" value="Encontre cidades" onfocus="if(this.value=='Encontre cidades') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre cidades'; }" /></div>
			<div class="DivBusca2"><input type="image"  src="/content/imagens/busca.png" class="DivBuscar" alt="Buscar" /></div>
        </form>
		</div>
		</div>

		<div class="Texto3">Ou fale conosco pelo nosso Atendimento Online ou ligue para nossa Central de Atendimento 24h: (11) 4097-9400</div>

	</div> 

</div>
  
</div>

  
