﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Como comprar Coroas de Flores para Velório";
    ViewBag.Description = "Veja como comprar, personalizar e enviar Coroa de Flores para Velório em todo o país. Siga o passo a passo e compre com facilidade sem sair de casa.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-comprar").addClass("active");
        });
    </script>
}



<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "como-comprar")" itemprop="url">      
      <span itemprop="title"><b>Como Comprar</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Como Comprar</h1>

    Veja abaixo os passos para efetuar uma compra:

    <div class="passo1 passo-passo">
        <div class="texto">
            <h2>Selecione a Coroa de flores de sua preferência e clique em comprar...</h2>
            <p>Após a escolha, você será direcionado para o Carrinho de Compras. Siga as próximas instruções para realizar a sua compra. </p>
        </div>
    </div>

    <div class="passo2 passo-passo">
        <div class="texto">
            <h2>Insira as informações solicitadas...</h2>
            <p>Preencha as informações da entrega do produto. Caso não possua alguma informação, deixe em branco que nós faremos a pesquisa com nossos contatos. Preencha seus dados cadastrais e escolha a faixa de homenagem.</p>
        </div>
    </div>

    <div class="passo3 passo-passo">
        <div class="texto">
            <h2>Escolha a forma de pagamento...</h2>
            <p>O site Coroas Para Velório aceita os principais meios de pagamento, inclusive realiza o faturamento completo para empresas. Em caso de dúvidas, entre em contato com a nossa Central de Atendimento.</p>
        </div>
    </div>
</div>