﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Políticas de Cancelamento e de Troca e Devolução.";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Políticas de Cancelamento e de Troca e Devolução.</b></span> </div>
</div>
</div> 

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Políticas de Cancelamento e de Troca e Devolução</h1>

	<div class="Div1">
		<div class="Div1Texto1">

			<h2 class="SubTitle">Cancelamento do Produto</h2>
             <p>
                 1 - Você poderá solicitar o cancelamento do seu pedido <b>em até 30 minutos</b> após a sua compra. Seja ela feita por Telefone (11 5573-0334), na Loja Física (Av. Lins de Vasconcelos, 2106 - São Paulo/SP) ou diretamente pelo nosso site (<a href="https://www.lacosflores.com.br">lacosflores.com.br</a>). 
             </p>
            
            <p>
               Para solicitar o cancelamento, você deverá ligar para a <b>Nossa Central de Atendimento 24 horas: (11) 5573-0334</b>.
            </p>

  

		</div>
        <br />
        <div class="Div1Texto1">

            <h2 class="SubTitle">Reembolso do Valor</h2>
            <p>
                1 – Para pagamento realizado por uma destas vias: 
            </p>
            <ul>
                <li>Boleto Bancário;</li>
                <li>PayPal ou Pagseguro;</li>
                <li>Faturamento Empresas;</li>
                <li>Transferência Bancária.</li>
            </ul>
            <p>
                O reembolso poderá ser solicitado em nossa <b>Central de Atendimento</b> qualquer dia ou horário da semana.
                Após o seu contato e estando dentro das normas da empresa – confira as regras em <i>“Para o Cancelamento do Produto”</i> - a nossa equipe efetua o reembolso no mesmo dia da solicitação.

            </p>
            <p>
                Para solicitar o reembolso, você deverá ligar para a <b>Nossa Central de Atendimento 24 horas: (11) 5573-0334</b>.
            </p>
            <br />
            <p>
                2 – Caso a compra seja realizada com cartão de crédito:
            </p>
            <p>
                De acordo com as normas da financeira, o pedido de reembolso será solicitado por nós em até 2 (dois) dias da solicitação na Central de Atendimento. Após este procedimento, serão necessários mais 10 dias para que a financeira realize de fato o estorno do valor em seu cartão de crédito. 
            </p>



        </div>
        <br />
        <div class="Div1Texto1">

            <h2 class="SubTitle">Dúvidas sobre Trocas e Devoluções:</h2>
            <p>
                1 - Como trocar um produto danificado?
            </p>

            <p>
                Se o produto adquirido em nosso site estiver fora dos padrões de qualidade, entre em contato imediatamente com a <b>Central de Atendimento 24 horas: (11) 5573-0334.</b>
            </p>
            <p>
                Você deverá devolver o produto em sua embalagem original, sem qualquer tipo de dano. 
            </p>
            <br />
            <p>
                2- Recebi um produto diferente do comprado, o que devo fazer?
            </p>

            <p>
                Se o seu pedido chegou com produtos diferentes do adquirido (tipo de flor, cor, vaso, entre outros), entre em contato imediatamente com a <b>Central de Atendimento 24 horas: (11) 5573-0334.</b>
            </p>

            <p>
                Você deverá devolver o produto em sua embalagem original, sem qualquer tipo de dano.
            </p>

        </div>
        <br />
        <br />
        <div class="Div1Texto1">

            <p>
                Continua com dúvidas sobre as nossas políticas de cancelamento e trocas e devoluções?
            </p>
            <p>Entre em contato conosco: <b>Central de Atendimento 24 horas: (11) 5573-0334.</b> </p>
            
        </div>

    </div>
     

</div>

</div>
