//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: "\00bb"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      font-size: 24px;
      font-family: arial, verdana, sans-serif;
      color: $breadcrumb-color;
      line-height: 8px;
      position: relative;
      top: 2px;
      font-weight: normal;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
