﻿@model Domain.Entities.Colaborador
@{
    ViewBag.Title = "Acessos";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik">Alterar Senha</span>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
        <form id="form-senha" method="post" action="@Url.Action("salvar")">
            <table cellpadding="0" cellspacing="0" border="0" id="EditarAcesso" width="1000">
                <tr>
                    <td width="300"></td>
                    <td>
                        <label>Senha Atual</label><br />
                        <input id="senha-atual" name="senha-atual" type="password" />
                    </td>
                </tr>
                <tr>
                    <td width="300"></td>
                    <td>
                        <label>Nova Senha</label><br />
                        <input id="senha-nova" name="senha-nova" type="password" />
                    </td>
                </tr>
                <tr>
                    <td width="300"></td>
                    <td>
                        <label>Confirmação da Nova Senha</label><br />
                        <input id="senha-nova-confirmacao" name="senha-nova-confirmacao" type="password" />
                    </td>
                </tr>
                <tr>
                    <td width="300"></td>
                    <td>
                        <input type="submit" value="alterar" class="botao-alterar"  id="finalizar"/>
                            <div class="processando" id="processando">Processando, por favor, aguarde...</div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-senha").validate({
                meta: 'validate',
                onkeyup: false,
                errorClass: 'erro',
                submitHandler: function (form) {
                    var senhaAtual = $('#senha-atual').val();
                    var senhaNova = $('#senha-nova').val();
                    $('#finalizar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("salvar-senha")', { senhaAtual: senhaAtual, senhaNova: senhaNova }, function (data) {
                        if (data == 'OK') {
                            alert('Sua senha foi alterada com sucesso.');
                            window.location = '@Url.Action("index", "home")';
                        } else {
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert(data);
                        }
                    });
                },
                rules: {
                    'senha-atual': 'required',
                    'senha-nova': 'required',
                    'senha-nova-confirmacao': {
                        required: true,
                        equalTo: '#senha-nova'
                    }
                },
                messages: {
                    'senha-atual': 'Preencha a Senha Atual',
                    'senha-nova': 'Preencha a Nova Senha',
                    'senha-nova-confirmacao': {
                        required: 'Preencha a Confirmação da Nova Senha',
                        equalTo: 'A Confirmação da Nova Senha deve ser igual a Nova Senha'
                    }
                }
            });

        });
    </script>
}