﻿@model Domain.Entities.Colaborador
@{
    ViewBag.Title = "Acessos";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik">@(Model != null ? Model.Nome : "Novo Acesso")</span>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
        <form id="form-acesso" method="post" action="@Url.Action("salvar")">

            <input id="acesso-codigo" name="acesso-codigo" type="hidden" value="@colaborador.Codigo" />

            <table cellpadding="0" cellspacing="0" border="0" id="EditarAcesso" width="1000">
                <tr>
                    <td>
                        <label>Tipo de Acesso:</label><br />
                        <select id="acesso-tipo" name="acesso-tipo">
                            <option value="1" @(colaborador.TipoID == 1 ? "selected=\"selected\"" : "")>Master</option>
                            <option value="2" @(colaborador.TipoID == 2 ? "selected=\"selected\"" : "")>Usuário</option>
                        </select>
                    </td>
                    <td>
                        <label>Nome</label><br />
                        <input id="acesso-nome" name="acesso-nome" type="text" value="@colaborador.Nome" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Email</label><br />
                        <input id="acesso-email" name="acesso-email" type="text" value="@colaborador.Email" />
                    </td>
                    <td>
                        <label>Login</label><br />
                        <input id="acesso-login" name="acesso-login" type="text" value="@colaborador.Login" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Senha</label><br />
                        <input id="acesso-senha" name="acesso-senha" type="password" />
                    </td>
                    <td>
                        <label>Confirmação de Senha</label><br />
                        <input id="acesso-confirmacao-senha" name="acesso-confirmacao-senha" type="password" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Telefone</label><br />
                        <input id="acesso-telefone" name="acesso-telefone" type="text" value="@colaborador.Telefone" />
                    </td>
                    <td>
                        <label>Departamento</label><br />
                        <input id="acesso-departamento" name="acesso-departamento" type="text" value="@colaborador.Departamento" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Recebe e-mail de novos pedidos</label><br />
                        <input id="email-pedido" name="email-pedido" type="checkbox" value="on" @(colaborador.RecebeEmailPedido?"checked=checked":"")/>
                    </td>
                    <td>
                        <label>Recebe e-mail de NFs</label><br />
                        <input id="email-nf" name="email-nf" type="checkbox" value="on" @(colaborador.RecebeEmailNFe?"checked=checked":"")/>
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="salvar" class="botao-salvar" id="finalizar"/>
                            <div class="processando" id="processando">Processando, por favor, aguarde...</div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-acesso").validate({
                meta: 'validate',
                onkeyup: false,
                errorClass: 'erro',
                submitHandler: function (form) {
                    $('#finalizar').hide();
                    $('#processando').show();
                    form.submit();
                },
                rules: {
                    'acesso-nome': 'required',
                    'acesso-email': {
                        required: true,
                        email: true
                    },
                    'acesso-login': 'required', 
                    @if(Model == null){
                    <text>
                    'acesso-senha': {
                        required: true
                    },
                    'acesso-confirmacao-senha': {
                        required: true,
                        equalTo: '#acesso-senha'
                    },
                    </text>
                    }
                    'acesso-telefone': 'required',
                    'acesso-departamento': 'required'
                },
                messages: {
                    'acesso-nome': 'Preencha o Nome',
                    'acesso-email': {
                        required: 'Preencha o Email',
                        email: 'Preencha um Email válido'
                    },
                    'acesso-login': 'Preencha o Login',
                    'acesso-senha': 'Preencha a Senha',
                    'acesso-confirmacao-senha': {
                        required: 'Preencha a Confirmação de Senha',
                        equalTo: 'A Confirmação de Senha deve ser igual a Senha'
                    },
                    'acesso-telefone': 'Preencha o Telefone',
                    'acesso-departamento': 'Preencha o Departamento'
                }
            });

        });
    </script>
}