﻿@model IEnumerable<Domain.Entities.Colaborador>
@{
    ViewBag.Title = "Acessos";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";
}

<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik">Acessos</span>
        <a href="@Url.Action("novo")">
            <div class="botao-novo-acesso">Novo acesso</div>
        </a>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
		<table cellpadding="0" cellspacing="0" border="0" width="1120" id="ListaGrande">
        @if (Model.Any())
        {
            foreach (var colaborador in Model)
            {
            <tr class="item" bgcolor="#e9e9e9">
                <td width="15"></td>
                <td width="260">
                    <span>@colaborador.Nome</span>
                </td>
                <td width="260">
                    <span>@colaborador.Login</span>
                </td>
                <td width="260">
                    <span>@colaborador.Email</span>
                </td>
                <td width="260">
                    <span>@colaborador.Departamento</span>
                </td>
                <td width="160">
                    <div class="botao-detalhes" onclick="Colaborador.Excluir(@colaborador.ID)" style="margin-bottom: 2px">excluir</div>
                    <div class="botao-detalhes" onclick="Colaborador.Modificar(@colaborador.ID)">modificar</div>
                </td>
                <td></td>
            </tr>
            }
        }
        else
        {
            <tr class="item" bgcolor="#e9e9e9"><td colspan="6" align="center">Nenhum acesso cadastrado.</td></tr>
        }
        </table>
    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">
        var Colaborador = new function () {
            this.Excluir = function (id) {
                if (confirm('Deseja realmente excluir esse acesso?')) {
                    $.post('@Url.Action("excluir")', { id: id }, function (data) {
                        if (data == 'OK') {
                            window.location = window.location;
                        } else {
                            alert(data);
                        }
                    });
                }
            };

            this.Modificar = function (id) {
                window.location = '@Url.Action("modificar")/' + id;
            };
        };
    </script>
}