﻿@model Domain.Entities.Colaborador
@{
    ViewBag.Title = "Acessos";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var colaborador = Model == null ? new Domain.Entities.Colaborador() : Model;
}

<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik">Meus Dados</span>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
        <table cellpadding="0" cellspacing="0" border="0" id="EditarAcesso" width="1000">
            <tr>
                <td>
                    <b>Dados da Empresa</b><br />
                    CNPJ: @Model.Empresa.CNPJ<br />
                    Inscrição Estadual: @Model.Empresa.InscricaoEstadual<br />
                    Nome Fantasia: @Model.Empresa.NomeFantasia<br />
                    Razão Social: @Model.Empresa.RazaoSocial<br />
                    Endereço: @Model.Empresa.Endereco - @Model.Empresa.Bairro<br />
                    CEP: @Model.Empresa.CEP - @Model.Empresa.Cidade.Nome/@Model.Empresa.Estado.Sigla<br />
                    Contato: @Model.Empresa.PessoaContato<br />
                    Email: @Model.Empresa.EmailContato<br />
                    Telefone: @Model.Empresa.TelefoneContato<br />
                    
                    <br />

                    <b>Seus Dados</b><br />
                    Nome: @Model.Nome<br />
                    Departamento: @Model.Departamento<br />
                    Email: @Model.Email<br />
                    Login: @Model.Login<br />
                    Telefone: @Model.Telefone<br />
                </td>
                <td style="width: 503px; vertical-align: top;">
                    <form id="form-contato" action="" method="post" onsubmit="return false;">
                        <label>Solicitar modificação de informações:</label><br />
                        <textarea id="contato-mensagem" name="contato-mensagem" rows="10"></textarea>
                        <input id="contato-enviar" type="submit" value="enviar" class="botao-salvar" />
                            <div class="processando" id="processando">Enviando, por favor, aguarde...</div>
                    </form>
                </td>
            </tr>
        </table>

    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#contato-enviar').click(function () {
                var mensagem = $('#contato-mensagem').val();
                if (mensagem == '') {
                    alert('Informe os dados que deseja modificar');
                    $('#contato-mensagem').focus();
                } else {
                    $('#contato-enviar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("Enviar_Modificacao")', { mensagem: mensagem }, function () {
                        $('#contato-mensagem').val('');
                        $('#contato-enviar').show();
                        $('#processando').hide();
                        alert('Sua solicitação foi enviada. Obrigado!');
                    });
                }
            });
        });
    </script>
}