﻿body, html
{    
    margin:0;
    padding:0;
    font-family:Tahoma;
}

img
{
    border: none;
}

.clear
{
    clear: both;
}
a
{
    color: #e3010f; 
}
.centro
{
    text-align: center;
}
header
{    
    margin-bottom: 10px;
    float:left;
    clear:both;
    width:100%;
}

p {
color: #757575;
font-family: Tahoma;
font-size: 14px;
}

header .conteudo
{
    margin:0 auto;
    width:960px;
}

header nav
{
    background: rgb(228,228,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,228,226,1) 0%, rgba(238,238,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,226,1)), color-stop(100%,rgba(238,238,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(228,228,226,1) 0%,rgba(238,238,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e2', endColorstr='#eeeeed',GradientType=0 ); /* IE6-9 */
    clear:both;
    float: left;
    font-family: 'qlassik_medium', sans-serif !important;
    margin: 10px 0 0;
    width:100%;
}

header nav ul
{
    list-style:none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}


.Highlight
{
        margin-bottom: 5px;
    color: #930000; font-family: 'qlassik_medium',sans-serif!important; font-size: 36px    
}

header nav ul li
{    
    display:block;
    float:left;
    font-size: 20px;
    padding: 13px 24px 10px;
    text-transform: uppercase;
}

header nav ul li:hover
{
    background-color: rgb(216, 213, 213);
    color: #FFFFFF!important;
}

header nav ul li a
{    
    color: #616161;
    text-decoration:none;
}

header nav ul li.ativo
{
    background: #e3010f;
    color: #ffffff;
}

header nav ul li.ativo a
{
    color: #ffffff !important;
}

header nav ul li.active
{
    background: #6c7118;
    color: #ffffff;
}

header nav ul li.active a
{
    color: #ffffff !important;
}

#Topo div.informacoes
{
    float:left;
    width: 655px;
}

#Topo a.logo
{
    display:block;
    float:left;
    margin: 14px 0 0;
    width: 302px;
}

#MenuUsuario 
{
    margin-top: 14px;
}

#MenuUsuario .bt-acessos
{
    background: rgb(240,240,240); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
    color: #4e4e4e;
    float: right;
    font-size: 10px;
    margin-left: 4px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
    z-index: 10;
}

#MenuUsuario .bt-acessos a
{
    color: #4e4e4e;
    text-decoration: none;
}

#MenuUsuario 
{
    float: right;
}

#MenuUsuario .bt-acessos span
{
    position: relative;
    top: -2px;
}

#MenuUsuario #nome
{
    color: #717171;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    margin: 30px 0 0;
}

#MenuUsuario #nome a
{
    color: #4d4d4d;
    text-decoration: underline;
}

#MenuUsuario .Esquerda
{
    float: left;
    width: 300px;
}

#MenuUsuario .meus-pedidos
{
    background: none repeat scroll 0 0 #e3010f;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 7px 5px 0 0;
    padding: 3px;
    text-align: center;
}

#MenuUsuario .Esquerda #nome
{
    color: #606060;
    float: left;
    font-size: 16px;
    margin: 7px 0 0 10px;
}

#ResumoCarrinho
{
    cursor: hand;
    cursor: pointer;
}

#Content
{
    margin: auto;
    width: 960px;
}

.SubTitle
{    
    float: left;
    position: relative;
    top: 21px;
    margin-right: 10px;
    color: #838383;
    font-weight: bold;
    font-family: 'qlassik_medium',sans-serif!important;
}

h1 
{    
    margin-bottom: 0px;
    float: left;
    font-family: 'qlassik_medium',sans-serif!important;
    color: #838383;
    font-size: 36px;
    margin-top: 15px;
    font-weight: normal!important;
}

h2 {
    font-family: 'qlassik_medium',sans-serif!important;
    color: #838383;
    font-size: 30px;
    margin-top: 15px;
    font-weight: normal!important;
}

.Videos
{    
    width: 100%;
    text-align: center;
}

.CallTo
{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ac1212;
}

.CallTo:hover
{
    background-color: #890E0E;
}

#Texto img
{
    border: 1px solid #ccc;
background: #757575;
float: left;
height: 139px;
width: 189px;
margin: 0 20px 0 0;
margin-bottom: 20px;
}

#Texto .Cidade
{
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
}
#Texto
{
    margin-top: 20px;
}

#Texto .Tel
{
    float: right;
    margin-top: -65px;
    margin-right: 20px;
    left: 945px;
    top: 195px;
}


#Texto .Televendas
{
    padding: 0px;
    margin: 0px;
    color: #000000;
}

#Texto .Nrs
{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #930000;
    font-size: 25px;
}


footer
{
    width:100%;
    float:left;
}

footer div.conteudo
{
    width:960px;
    margin:0 auto;
}


#Descritivo
{
    color:#4c4c4c;
    font-size:12px;
    padding:10px 0;
    float:left;
    border-top:solid 1px #e5e5e5;
    width:100%;
    margin-top:20px;
}

#DestaquesRodape
{
    background: #e7e7e7;
    border-top: solid 1px #2d2d2d;
    border-bottom: solid 1px #2d2d2d;
    color: #757575;
    float: left;
    height: 60px;
    width: 100%;
}

#DestaquesRodape div.conteudo table
{
    float: left;
    margin: 10px 10px 10px 0;
    width: 635px;
}

#DestaquesRodape div.conteudo table tr td
{
    border-right: 1px solid #757575;
}

#DestaquesRodape table tr td.titulo
{
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    width: 300px;
}

#DestaquesRodape table tr td.sac
{
    background: url("../img/icone-tel.png") no-repeat scroll 10px center transparent;
    font-family: Tahoma;
    font-size: 18px;
    *font-size: 17px;
    padding-left: 30px;
    width: 127px;
}

#DestaquesRodape table tr td.televendas
{
    font-size: 15px;
    line-height: 17px;
    padding-left: 17px;
    width: 163px;
}

#DestaquesRodape table tr td.televendas span
{
    font-size: 25px;
}

#DestaquesRodape a
{
    border-right: 1px solid #757575;
    display: block;
    float: left;
    height: 36px;
    margin: 9px 0;
    padding: 0 10px 6px 0;
}

#DestaquesRodape a:last-child
{
    border-right: 0 none;
    height: auto;
    margin: 5px 0 0 15px;
    padding: 0;
}

footer nav
{
    width:100%;
    float:left;
    background:#dadada;
    padding-bottom:15px;
}

footer nav div.divisao
{
    float:left;
    width:172px;
    padding:0 10px;
}

footer nav div.divisao h3
{
    clear: both;
    color: #2d2d2d;
    font-family: 'qlassik_medium', sans-serif !important;
    float: left;
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

footer nav div.divisao ul
{
    float:left;
    clear:both;
    list-style:none;
    margin-bottom:20px;
    margin-top:0px;
    *margin-left: 0px;
    padding:0;
}

footer nav div.divisao ul li
{
    float:left;
    clear:both;
    width: 170px;
}

footer nav div.divisao a
{
    color:#2d2d2d;
    font-size:11px;
}

footer nav div.divisao p
{
    float:left;
    clear:both;
    color:#2d2d2d;
    font-size:11px;
    margin:0;
    width: 170px;
}

footer nav div.divisao img
{
    float:left;
    clear:both;
    margin-top:10px;
}

#Final
{
    width:100%;
    float:left;
    background:#BBBBBB;
    font-size:11px;
    color:#360104;
    padding:20px 0;
}

#Copyright
{
    float:left;
    width:200px;
    color:#ffffff;
}

#Avisos
{
    float:left;
    text-align:center;
    width:560px;
    color:#ffffff;
}

#Avisos span.branco, #Avisos span.branco a
{
    color:#ffffff;
}

#Producao a
{
    color:#360104;
}

#Producao
{
    width:200px;
    float:left;
    text-align:right;
}

#BannersInf,#BannersSup
{
    float: left;
    height: 141px;
    margin: 5px 0 0 0;
    overflow: hidden;
    width: 960px;
}

#BannersInf div.banner,#BannersSup div.banner
{
    display: none;
    position: relative;
    width: 960px;
    z-index: 0;
}

#BannersInf div.banner.selecionado,#BannersSup div.banner.selecionado
{
    display:block;
}

#BannersInf div.navegacao,#BannersSup div.navegacao
{
    float:right;
    margin:-23px 10px 0 0;
    position:relative;
    z-index:1;
}

#BannersInf div.navegacao a,#BannersSup div.navegacao a
{
    display:block;
    float:left;
    margin-left:7px;
    border-radius:10px;
    background:#ffffff;
    width:13px;
    height:13px;
}

#BannersInf div.navegacao a.selecionado,#BannersSup div.navegacao a.selecionado
{
    background:#dddc00;
}


#Selos
{
    float: left;
    width:960px;
} #Selos div
{
    width: 570px;
}


.coroas-lista
{
    margin: 0 0 0 0;
    padding:0;    
    margin-top: 10px;
}
.coroas-lista li
{
    color:#555;
    float: left;
    list-style: none outside none;
    padding: 10px;
    width: 210px;
    border:1px dotted #ccc;
    margin:4px;
}
.coroas-lista li a
{
    color: #555555;
    text-decoration:none;
}
.coroas-lista li .imagem
{
    border: 1px solid #FFFFFF;
    display: block;
    height: 193px;
    margin: 0 auto 10px auto;
    width: 193px;
}
.coroas-lista li.separador
{
    border-right:1px dotted #ccc;
}
.coroas-lista li .Texto
{
    margin: 0 0 0 17px;
    width: 188px;
}

.coroas-lista li .subtitulo
{
    font-size:11px;
    display: block;
}
.coroas-lista li .titulo
{
    font-family: 'qlassik_medium',sans-serif!important;
    display: block;
    font-size:30px;
    line-height:27px;
}

.coroas-lista li .titulo span
{    
    font-size: 20px;
}

.coroas-lista li .chamada
{
    font-size:12px;
    display: block;
}
.coroas-lista li .preco
{
    font-size:12px;
    display: block;
    padding:10px;
}
.coroas-lista li .preco span
{
    color:#e30613;
}
.coroas-lista li .mais-detalhes
{
    background: url("../img/botao.png") no-repeat scroll 0 0 transparent;
    color: #463637;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    margin: 10px 8px;
    padding: 5px 0 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 126px;
    float:right;
}

.planos
{
    float: left;
    height: 150px;
    margin:  10px 0 0 3px;
    width: 180px;
    text-align: center;
}
.planos_promocao{
    font-size: 12px;        
    color: #0B9705;
    text-align: center;
    position: absolute;
    width: 200px;
    background: #D5FFD2;
    border: 1px solid #0B9705;
    padding: 4px;
    margin-top: -22px;
}
.planos .coroa
{
    background: url("../img/bg-planos.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    float: left;
    height: 50px;
    margin: 0 0 5px 0;
    width: 180px;
}
.planos .coroa .tamanho
{
    float: left;
    font-size: 11px;
    padding: 6px 0 0 0;
    text-align: center;
    width: 73px;
}
.planos .ativo .tamanho
{
    color: #FFFFFF;
    padding: 9px 0 0 0;
    width: 83px;
}
.planos .coroa .tamanho h4
{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.planos .ativo .tamanho h4
{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.planos .desativado
{
    background-position: 0 -50px;
    height: 44px;
}
.planos .coroa .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 6px 0 0 0;
    text-align: center;
    width: 100px;
}
.planos .ativo .valor
{
    float: left;
    font-size: 11px;
    margin: 0 0 0 5px;
    padding: 9px 0 0 0;
    text-align: center;
    width: 90px;
}
.planos .coroa .valor .total
{
    font-size: 14px;
    width: 100px;
}

.planos .ativo .valor .parcelado
{
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.botao-comprar
{
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;    
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: #ac1212;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
    margin-left: 18px;
    margin-top: 9px;
}

.botao-comprar:hover
{
    background-color: #890E0E;
}

#depoimentos
{
    float:left;
    margin-left:20px;
     color: #555555;
    font-size: 12px;
}
#depoimentos .depoimento
{
    background: url(../img/aspas.png) no-repeat 20px 20px #f0f0f0;
    padding: 20px 33px;
    width: 360px;
}
#depoimentos .depoimento p
{
    color: #515151;
    font-size: 13px;
    line-height: 20px;
}
#depoimentos .baixo-depoimento
{
    background: url(../img/baixo-depoimento.png) no-repeat 33px 0 transparent;
    height: 21px;
    width: 200px;
}