﻿@model List<Domain.Entities.RetornoResult>
    @{
        ViewBag.Title = "NFEs a Gerar";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#financeiro').addClass('active');
                $('#i_nfes_gerar').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Resultado NFEs
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align:left;">

                </div>
                <input type="hidden" id="Pedidos" name="Pedidos" />
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th style="text-align:center; width:100px;">Pedido</th>
                            <th style="text-align:center;">Link NF</th>
                            <th style="text-align:center;">MSG</th>
                        </tr>
                    </thead>
                    @{
                        List<Domain.Entities.RetornoResult> novoRetorno = new List<Domain.Entities.RetornoResult>();
                        var SessionName = "RetornoResult|" + Request.QueryString["id"];

                        novoRetorno = (List<Domain.Entities.RetornoResult>)Session[SessionName];
                        Session[SessionName] = null;
                    }

                    @if (novoRetorno != null && novoRetorno.Count > 0)
                    {
                        foreach (var retorno in novoRetorno)
                        {
                            <tr>
                                <td style="text-align:center;">
                                    @if (retorno.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                    {
                                        int IdPedidoRetorno = int.Parse(retorno.IdPedido);
                                        var Pedido = ViewBag.pedidoRepository.Get(IdPedidoRetorno);
                                        <a target="_blank" href="/PedidosSite/Visualizar/@retorno.IdPedido">@Pedido.Numero</a>
                                    }
                                </td>
                                <td>
                                    <a target="_blank" href="@retorno.LinkNF">@retorno.LinkNF</a>
                                </td>
                                <td>
                                    @retorno.Msg
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                    }
                </table>

            </div>
        </div>

    </div>

    <div id="div_vencimento_boleto" title="Digite uma nova data de vencimento" style="display:none;">
        <p>
            <input type="text" id="VencimentoBoleto" class="select" maxlength="300" />
        </p>
    </div>
