﻿@model IEnumerable<Domain.Entities.IPedido>

    @{
        ViewBag.Title = "NFEs a Gerar";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#Filtrar").click(function () {
                    if ($("#datainicial").val() == "" || $("#datafinal").val() == "") {
                        alert('Preencha a data de vencimento inicial e final');
                        return false;
                    }
                });

                $("#ExportExcel").click(function () {
                    var iframe;
                    iframe = document.getElementById("download-container");
                    if (iframe === null) {
                        iframe = document.createElement('iframe');
                        iframe.id = "download-container";
                        iframe.style.visibility = 'hidden';
                        document.body.appendChild(iframe);
                    }
                    iframe.src = '/BoletoPagarMe/Exportar?' + window.location.href.split("?")[1];

                });

                $("#gerarNfes").click(function () {

                    Swal.fire({
                        title: "Atenção!",
                        text: "A emissão das NFEs pode levar vários minutos.Por favor, Aguarde.",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sim, emitir!'
                    }).then(function () {
                        var Pedidos = "";
                        $("#Pedidos").val('');
                        $('.Check:checked').each(function () {
                            Pedidos += $(this).attr("rel") + ",";
                        });
                        $("#Pedidos").val(Pedidos.replace("undefined", "").substring(0, Pedidos.length - 1));

                        $("#gerarNfes").attr('disabled', true);
                        $(".loader").fadeIn();

                        $.post('/NFEaEmitir/gerar/',
                        {
                            Pedidos: $("#Pedidos").val()
                        }, function (data) {
                            window.location = "/NFEaEmitir/ListResult?id=" + data.split('|')[1]
                        }).fail(function (data) {
                            Swal.fire({
                                title: "Erro!",
                                text: "Ocorreu um erro no Servidor.",
                                type: "error"
                            });
                        });
                    });
                });

                $(".CheckAll").click(function () {
                    if ($(this).attr("checked") == "checked") {

                        $(".Check").each(function () {
                            if ($(this).attr('disabled') != 'disabled') {
                                $(this).attr('checked', true);
                                $("#gerarNfes").removeAttr('disabled');
                            }
                        });

                    }
                    else {
                        $(".Check").removeAttr('checked', true);
                        $("#gerarNfes").attr('disabled', true);
                    }
                });

                $('.Check').change(function () {
                    if ($('.Check:checked').length > 0) {
                        $("#gerarNfes").removeAttr('disabled');
                    }
                    else {
                        $("#gerarNfes").attr('disabled', true);
                    }
                });

                $('#financeiro').addClass('active');
                $('#i_nfes_gerar').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                NFEs a Gerar
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align:left;">
                    <form method="get">
                        <table>
                            <tr>
                                <td>Data inicial do Pedido:</td>
                                <td><input type="text" name="datainicial" id="datainicial" value="@{ if (string.IsNullOrEmpty(Request.QueryString["datainicial"])) { <text> @DateTime.Now.ToString("dd/MM/yyyy") </text> } else { @Request.QueryString["datainicial"] }; }" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                <td style="width:20px;"></td>
                                <td>Data final do Pedido:</td>
                                <td><input type="text" name="datafinal" id="datafinal" value="@{ if (string.IsNullOrEmpty(Request.QueryString["datafinal"])) { <text> @DateTime.Now.ToString("dd/MM/yyyy") </text> } else { @Request.QueryString["datafinal"] }; }" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            </tr>
                            <tr>
                                <td>Nome Cliente/Empresa:</td>
                                <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;" /></td>
                                <td style="width:20px;"></td>
                                <td>Número do Pedido:</td>
                                <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;" /></td>
                                <td style="width:20px;"></td>
                            </tr>
                            <tr>
                                <td>Status de Pagamento do Pedido:</td>
                                <td>@Html.DropDownListForEnum("statuspagamentoped", typeof(Domain.Entities.Pedido.TodosStatusPagamento), (!String.IsNullOrEmpty(Request.QueryString["statuspagamentoped"]) ? Convert.ToInt32(Request.QueryString["statuspagamentoped"]) : 0), new { style = "width:300px;" })</td>
                                <td style="width:20px;"></td>
                                <td>Tipo do Pedido:</td>
                                <td>@Html.DropDownListForEnum("tipopedido", typeof(Domain.Entities.OrigemPedido), (!String.IsNullOrEmpty(Request.QueryString["tipopedido"]) ? Convert.ToInt32(Request.QueryString["tipopedido"]) : 0), new { style = "width:300px;" })</td>
                                <td style="width:20px;"></td>
                            </tr>
                        </table>
                        <input id="Filtrar" type="submit" class="mws-button gray small" value="Filtrar" />
                    </form>
                </div>
                <input type="hidden" id="Pedidos" name="Pedidos" /> 
                <table class="mws-table">
                    <tr>
                        <td align="left">
                            <br />
                            <input type="checkbox" class="CheckAll"> SELECIONAR TODOS OS REGISTROS
                            <br />
                            <br />
                        </td>
                        <td align="right">
                            <br />                            
                            <img class="loader pull-right" style="margin-top: 6px; margin-left: 6px; display: none;" src="/Content/images/ajax-loader-fff.gif" />
                            <input disabled type="button" id="gerarNfes" value="Gerar NFEs" class="mws-button blue right" />
                            <br />
                            <br />
                        </td>
                    </tr>
                </table>
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th style="text-align:center;"></th>     
                            <th style="text-align:center; width:100px;">Nr. Pedido</th>                            
                            <th style="width:100px;text-align:center;">Valor</th>
                            <th style="text-align:center;">Data de Criação</th>
                            <th style="text-align:center;">Cliente</th>
                            <th style="text-align:center;">Status</th>                            
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            Domain.Entities.IPedido iPedido = (Domain.Entities.IPedido)item;
                            Domain.Entities.Pedido PedidoCPV = null;
                            Domain.Entities.PedidoEmpresa PedidoEmpresa = null;

                            if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                            {
                                PedidoCPV = (Domain.Entities.Pedido)iPedido;
                            }
                            else
                            {
                                PedidoEmpresa = (Domain.Entities.PedidoEmpresa)iPedido;
                            }
                            <tr>
                                <td style="text-align:center;">
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                           <text><input type="checkbox" class="Check" rel="@PedidoCPV.ID|CPV"></text>
                                        }
                                        else
                                        {
                                            <text><input type="checkbox" class="Check" rel="@PedidoEmpresa.ID|CORP"></text>
                                        }
                                    }
                                </td>
                                <td style="text-align:center;">
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            <a href="/PedidosSite/Visualizar/@PedidoCPV.ID" target="_blank">@PedidoCPV.Numero</a>
                                        }
                                        else
                                        {
                                            <a href="/FaturasEmpresa/Visualizar/@PedidoEmpresa.ID" target="_blank">@PedidoEmpresa.Numero</a>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            @PedidoCPV.ValorTotal.ToString("C2");
                                        }
                                        else
                                        {
                                            @PedidoEmpresa.Valor.ToString("C2");
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            @PedidoCPV.DataCriacao;
                                        }
                                        else
                                        {
                                            @PedidoEmpresa.DataCriacao;
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                            @PedidoCPV.Cliente.Nome.ToUpper() <br />
                                            if (PedidoCPV.Cliente.NomeFantasia != null)
                                            {
                                                @PedidoCPV.Cliente.NomeFantasia.ToUpper();
                                            }
                                        }
                                        else
                                        {
                                            @PedidoEmpresa.Empresa.RazaoSocial.ToUpper()<br /> @PedidoEmpresa.Empresa.NomeCompleto.ToUpper()
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (iPedido.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                                        {
                                           @Domain.Helpers.EnumHelper.GetDescription(PedidoCPV.StatusPagamento)
                                        }
                                        else
                                        {
                                            @Domain.Helpers.EnumHelper.GetDescription(PedidoEmpresa.Faturamento.StatusPagamento)
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                    }
                </table>
                @*<div class="dataTables_wrapper">
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                            @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                            {
                                <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&nome=@Request.QueryString["nome"]&numero=@Request.QueryString["numero"]&email=@Request.QueryString["email"]&statusprocessamento=@Request.QueryString["statusprocessamento"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusretorno=@Request.QueryString["statusretorno"]&datainicialcej=@Request.QueryString["datainicialcej"]&datafinalcej=@Request.QueryString["datafinalcej"]&origem=@Request.QueryString["origem"]&nossonumero=@Request.QueryString["nossonumero"]">@i.ToString()</a></span>
                            }
                        </span>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div id="div_vencimento_boleto" title="Digite uma nova data de vencimento" style="display:none;">
        <p>
            <input type="text" id="VencimentoBoleto" class="select" maxlength="300" />
        </p>
    </div>
