﻿@model List<Domain.Entities.IPedido>
    @{
        ViewBag.Title = "NFEs a Gerar";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#financeiro').addClass('active');
                $('#i_nfes_gerar').addClass('active');

                $("#LstPedidos tbody tr").each(function () {
                    var TD = $(this);

                    $(TD).find("img").fadeIn();

                    var Tipo = $(this).attr("rel").split(',')[0];
                    var PedidoID = $(this).attr("rel").split(',')[1].split(':')[0];
                    var Modo = $(this).attr("rel").split(',')[1].split(':')[1];

                    $.post('/NFEaEmitir/Consultar/',
                       {
                           PedidoID: PedidoID,
                           Tipo: Tipo,
                           Modo: Modo
                       }, function (data) {

                           if (data.Msg == "OK") {
                               $(TD).find("td:eq(1)").html("Emitida");
                               $(TD).find("td:eq(2)").html(data.LinkNF);
                               $(TD).find("td:eq(3)").html(data.Msg);
                               $(TD).find("td:eq(4)").html(data.Msg);
                           }
                           else {
                               $(TD).find("td:eq(1)").html("Não Emitida");
                               $(TD).find("td:eq(2)").html("");
                               $(TD).find("td:eq(3)").html(data.Msg);
                               $(TD).find("td:eq(4)").html("Erro");
                           }

                           $(TD).find("img").fadeOut();

                       }).fail(function (data) {
                           Swal.fire({
                               title: "Erro!",
                               text: "Ocorreu um erro no Servidor.",
                               type: "error"
                           });
                           $(TD).find("img").fadeOut();
                       });
                });

            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Resultado NFEs
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align:left;">

                </div>
                <input type="hidden" id="Pedidos" name="Pedidos" />
                <table class="mws-table" id="LstPedidos">
                    <thead>
                        <tr>
                            <th style="text-align:center; width:100px;">Pedido</th>
                            <th style="text-align:center; width:100px;">Status NF</th>
                            <th style="text-align:center; width:100px;">Tipo</th>
                            <th style="text-align:center;">Link NF</th>
                            <th style="text-align:center;">MSG</th>
                            <th style="text-align:center;">Retorno</th>
                        </tr>
                    </thead>
                    @{
                        List<Domain.Entities.IPedido> novoRetorno = new List<Domain.Entities.IPedido>();
                        novoRetorno = Model;
                    }

                    @if (novoRetorno != null && novoRetorno.Count > 0)
                    {
                        foreach (var retorno in novoRetorno)
                        {
                            Domain.Entities.Pedido PedidoCPV = null;
                            Domain.Entities.PedidoEmpresa PedidoCORP = null;
                            string Tipo = "";
                            string TipoRemessaVenda = "";

                            if (retorno.TipoPedido == Domain.Entities.OrigemPedido.Cliente)
                            {
                                PedidoCPV = (Domain.Entities.Pedido)retorno;
                                Tipo = "CPV";
                                TipoRemessaVenda = "Venda";
                            }
                            else
                            {
                                PedidoCORP = (Domain.Entities.PedidoEmpresa)retorno;

                                if (!string.IsNullOrEmpty(PedidoCORP.NrReferenciaNFRemessa) && PedidoCORP.StatusNFRemessa == Domain.Entities.PedidoEmpresa.TodosStatusNFsRemessa.Processando)
                                {
                                    TipoRemessaVenda = "Remessa";
                                }
                                else
                                {
                                    TipoRemessaVenda = "Venda";
                                }

                                Tipo = "CORP";
                            }
                            <tbody>
                                <tr rel="@Tipo,@retorno.ID:@TipoRemessaVenda">
                                    <td style="text-align:center;">
                                        @{
                                            if (PedidoCPV != null)
                                            {
                                                <a target="_blank" href="/PedidosSite/Visualizar/@PedidoCPV.ID">@PedidoCPV.Numero</a>
                                            }
                                            if (PedidoCORP != null)
                                            {
                                                if (TipoRemessaVenda == "Remessa")
                                                {
                                                    <a target="_blank" href="/PedidosEmpresa/Visualizar/@PedidoCORP.ID">@PedidoCORP.ID</a>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="/FaturasEmpresa/Visualizar/@PedidoCORP.Faturamento.ID">@PedidoCORP.Faturamento.ID</a>
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="text-align:center;">
                                        @{
                                            if (PedidoCPV != null)
                                            {
                                                @PedidoCPV.StatusNF
                                            }
                                            if (PedidoCORP != null)
                                            {
                                                if (TipoRemessaVenda == "Remessa")
                                                {
                                                    @PedidoCORP.StatusNFRemessa
                                                }
                                                else
                                                {
                                                    @PedidoCORP.Faturamento.StatusNF
                                                }

                                            }
                                        }
                                    </td>
                                    <td>
                                        @TipoRemessaVenda
                                    </td>
                                    <td>
                                        @*<a target="_blank" href="@retorno.LinkNF">@retorno.LinkNF</a>*@
                                    </td>
                                    <td>
                                        @*@retorno.Msg*@
                                    </td>
                                    <td style="text-align:center;">
                                        <img style="display: none;" src="/Content/images/ajax-loader-fff.gif" />
                                    </td>
                                </tr>
                            </tbody>
                                                }
                                            }
                                            else
                                            {
                                                <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                                            }
                </table>

            </div>
        </div>

    </div>

    <div id="div_vencimento_boleto" title="Digite uma nova data de vencimento" style="display:none;">
        <p>
            <input type="text" id="VencimentoBoleto" class="select" maxlength="300" />
        </p>
    </div>
