﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.EstoqueFornecedor>


    @{
        ViewBag.Title = "Fornecedores Floricultura Flor Da Lins";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNome = Request.QueryString["nome"];
        var _requestEmail = Request.QueryString["email"];
        var _requestDocumento = Request.QueryString["documento"];

        

    }
    @section Scripts{
        <script type="text/javascript">
            function printExternal(url) {
                window.open( url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
            }
            $(document).ready(function () {
                $('#estoque').addClass('active');
                $('#i_fornecedores').addClass('active');

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Fornecedores @(_requestNome != null && _requestNome != "" ? " para o Fornecedor " + _requestNome : "")                
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "EstoqueFornecedorFloricultura")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td><strong>Nome do Fornecedor:</strong></td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><input type="text" name="email" class="email" value="@_requestEmail" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Documento:</td>
                                            <td><input type="text" name="documento" class="documento" value="@_requestDocumento" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table align="center" style="margin: 0px auto; margin-left: 20px;">
                                        <tr>
                                            <td>Tipo:</td>
                                            <td>
                                                <select name="tipoid" id="tipoid" style="width:300px;">
                                                    <option value="">Selecione uma opção</option>
                                                    <option @{if (Request.QueryString["tipoid"] == "1") { <text>selected</text> } } value="1">PF</option>
                                                    <option @{if (Request.QueryString["tipoid"] == "2") { <text>selected</text> } } value="2">PJ</option>                                                    
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dia de Faturamento:</td>
                                            <td>
                                                <select name="diafaturamento" id="diafaturamento" style="width:300px;">
                                                    <option value="">Selecione uma opção</option>
                                                    @{
                                                        foreach (var Dia in ViewBag.DiaDeFaturamento)
                                                        {
                                                            int DiaDoFat = Dia;
                                                            int DiaDoFatReq = 0;

                                                            if (!string.IsNullOrEmpty(Request.QueryString["diafaturamento"]))
                                                            {
                                                                DiaDoFatReq = int.Parse(Request.QueryString["diafaturamento"]);
                                                            }

                                                            <option @{if (DiaDoFatReq == DiaDoFat && !string.IsNullOrEmpty(Request.QueryString["diafaturamento"])) { <text> selected</text> } } value="@DiaDoFat">@{ if(DiaDoFat == 0 ) { <text>Faturamento Instantâneo</text> } else{ @DiaDoFat } }  </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>

                            <th align="center" style="width: 120px;"</th>
                            <th align="center">Fornecedor</th>
                            <th align="center">Contatos</th>                            
                            <th align="center">Data Cadastro</th>                            
                            <th align="center">Lotes</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="center" style="width: 150px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 150px;">
                                                <a class="mws-ic-16 ic-view" href="/EstoqueFornecedorFloricultura/Visualizar/@item.ID">Visualizar</a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    @{ 
                                        int IdCidade = (int)item.CidadeID;
                                        var Cidade = ViewBag.cidadeRepository.Get(IdCidade);
                                    }
                                    @item.NomeFornecedor / @Cidade.NomeCompleto
                                    <br />
                                    <br />
                                    @if (item.DiaFaturamento == 0)
                                    {
                                        <text>Faturamento Instantâneo</text>
                                    }
                                    else
                                    {
                                        <text>Faturamento: </text> @item.DiaFaturamento
                                    }
                                    <br />
                                    <br />
                                    @Domain.Core.Funcoes.Formata_CNPJ(item.Documento) - @Domain.Helpers.EnumHelper.GetDescription(item.Tipo)
                                </td>
                                <td>
                                   @item.Telefone / @item.Email
                                </td>
                                <td>
                                    @item.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                                </td>
                                <td>
                                    <table class="mws-table">
                                        <tr class="even odd">
                                            <td style="text-align: right; width: 115px;">
                                                Faturas Pagas
                                            </td>
                                            <td style="width: 220px;">
                                                @{
                                                    decimal ValorFaturasPagas = 0;
                                                    if (item.ValorFaturasPagas != null)
                                                    {
                                                        ValorFaturasPagas = (decimal)item.ValorFaturasPagas;
                                                    }
                                                }
                                                Qtd.: @item.QtdFaturasPagas / Valor: @ValorFaturasPagas.ToString("C2")
                                            </td>
                                        </tr>
                                        <tr class="even odd" >
                                            <td style="text-align: right; width: 115px;">
                                                Faturas em Aberto
                                            </td>
                                            <td style="width: 220px;">
                                                @{
                                                    decimal ValorFaturasAberto = 0;
                                                    if (item.ValorFaturasAberto != null)
                                                    {
                                                        ValorFaturasAberto = (decimal)item.ValorFaturasAberto;
                                                    }
                                                }
                                                Qtd.: @item.QtdFaturasAberto / Valor: @ValorFaturasAberto.ToString("C2")
                                            </td>
                                        </tr>
                                        <tr class="even odd" >
                                            <td style="text-align: right; width: 115px;">
                                                Lotes sem Fatura
                                            </td>
                                            <td style="width: 220px;">
                                                @{
                                                    decimal ValorLotesNaoFaturados = 0;
                                                    if (item.ValorLotesNaoFaturados != null)
                                                    {
                                                        ValorLotesNaoFaturados = (decimal)item.ValorLotesNaoFaturados;
                                                    }
                                                }
                                                Qtd.: @item.QtdLotesNaoFaturados / Valor: @ValorLotesNaoFaturados.ToString("C2")
                                            </td>
                                        </tr>
                                        <tr class="even odd">
                                            <td style="text-align: right; width: 115px;">
                                                Lotes
                                            </td>
                                            <td style="width: 220px;">
                                                Qtd.: @item.QtdDeLotes
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&email=@Request.QueryString["email"]&documento=@Request.QueryString["documento"]&tipoid=@Request.QueryString["tipoid"]&diafaturamento=@Request.QueryString["diafaturamento"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
