﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Home = true;
    var depoimentos = (List<Domain.Entities.Depoimento>)ViewBag.Depoimentos;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" />
}

@Html.Action("Superior", "Banners")

@Html.Partial("Produtos", Model)

@section Inferior{
    @Html.Partial("DepoimentosDestaque", depoimentos)
}
 