﻿@{Layout = null;}
<script type="text/javascript">
    AbrePrimeiraCompra();
</script>
<div class="bg" style="display:none;"></div>
<div class="popup_primeira_compra" style="display:none;">
<a href="javascript:void(0);" onclick="FechaPrimeiraCompra();" class="fechar"><img src="/content/img/close.png" /></a>
    <form id="primeira_form">
    <table border="0" width="650px;" style="margin-top:130px;">
    <tr>
        <td style="width:200px;"></td>
        <td colspan="2"><input type="text" id="primeira_nome" name="primeira_nome" maxlength="200" style="width:450px;height:29px;border:1px solid #a6a589;"/></td>
    </tr>
    <tr>
        <td style="width:200px;"></td>
        <td colspan="2"><input type="text" id="primeira_telefone" name="primeira_telefone" maxlength="20" style="width:250px;height:29px;border:1px solid #a6a589;"/></td>
    </tr>
    <tr>
        <td style="width:200px;"></td>
        <td><input type="text" id="primeira_email" name="primeira_email" maxlength="200" style="width:350px;height:29px;border:1px solid #a6a589;"/></td>
        <td align="left"><input type="submit" value="" style="width:90px;height:30px; background-image:url(/content/img/bt_enviar.gif);"/></td>
    </tr>
    </table>
    </form>
</div>