﻿@{
    Layout = null;
}
<aside id="Sugestoes">
    <header>
        <img src="/Content/img/ajuda-coroas.jpg" alt="Precisa de ajuda para escolher a coroa?" title="Precisa de ajuda para escolher a coroa?" border="0" />
    </header>
    <form id="buscar-sugestoes" method="get" action="@Url.Action("sugestoes", "coroas-de-flores")">
        <table border="0" cellpadding="0" cellspacing="0" width="290">
            <tr>
                <td width="130">RELACIONAMENTO:</td>
                <td width="10"></td>
                <td width="130">FAIXA DE PREÇO:</td>
            </tr>

            <tr>
                <td width="130">@Html.DropDownList("relacionamento", new SelectList(ViewBag.Relacionamento as IEnumerable<Domain.Entities.Relacionamento>, "ID", "Nome"), "-- todos --", new { onmousedown = "_gaq.push(['_trackEvent', 'ajuda-escolha', 'select', 'relacionamento' + this.value]);" })</td>
                <td width="10"></td>
                <td width="130">@Html.DropDownList("faixa-de-preco", new SelectList(ViewBag.FaixaPreco as IEnumerable<Domain.Entities.FaixaPreco>, "ID", "Nome"), "-- todas --", new { onmousedown = "_gaq.push(['_trackEvent', 'ajuda-escolha', 'select', 'faixa-preco' + this.value]);" })</td>
            </tr>
            
            <tr height="10"><td></td></tr>

            <tr>
                <td width="130">Coloração:</td>
                <td width="10"></td>
                <td width="130">Sexo:</td>
            </tr>

            <tr>
                <td width="130">@Html.DropDownList("coloracao", new SelectList(ViewBag.Coloracao as IEnumerable<Domain.Entities.Coloracao>, "ID", "Nome"), "-- todos --", new { onmousedown = "_gaq.push(['_trackEvent', 'ajuda-escolha', 'select', 'coloracao' + this.value]);" })</td>
                <td width="10"></td>
                <td width="147">
                    <input name="sexo" type="checkbox" value="M" onmousedown = "_gaq.push(['_trackEvent', 'ajuda-escolha', 'select', 'sexo-m']);"/><span>Masc</span>
                    <input name="sexo" type="checkbox" value="F" onmousedown = "_gaq.push(['_trackEvent', 'ajuda-escolha', 'select', 'sexo-f']);"/><span>Fem</span>
                    <input type="submit" value="ok" class="versugestao" />
                </td>
            </tr>
        </table>
    </form>
</aside>
