﻿/* ----------------------------------------------------------------
    
    Filename: landing.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Guilherme de Oliveira Costa
    Website: http://www.benance.net/guilhermedeocosta
    
-----------------------------------------------------------------*/


/* =======================    GENERAL    ======================= */
body {
    font-family: 'Open Sans', sans-serif;
}

.ie body {
    
}

.l { text-align: left; }
.r { text-align: right; }
.c { text-align: center; }

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    padding-top: 40px;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 21px;
}

.cropper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    position: relative;
}

    .cropper img {
        width: 100%;
        height: auto;
    }

.space-me {
    display: block;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
}

.space-me.ten-px {min-height:10px;}
.space-me.fifteen-px {min-height:15px;}
.space-me.twenty-px {min-height:20px;}
.space-me.thirty-px {min-height:30px;}
.space-me.fifty-px {min-height:50px;}

/* =====================   ANIMATIONS   ===================== */
.animate {
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
}

/* =====================   HEADER   ===================== */
header {
    background-image: url('../img/ui/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #ffffff;
    padding-top: 15px;
}

header .logo span {
    float: left;
}

header .logo .divider {
    margin: 5px 15px;
    width: 1px;
    max-width: 1px;
    overflow: hidden;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.3);
    height: 36px;
    display: inline-block;
}

#first-call {
    background-image: url('../img/ui/woman.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    text-align: right;
    height: 200px;
    margin-bottom: 0px;
    padding: 15px;
    padding-right: 240px;
}

/* =====================   FEATURES   ===================== */
#features {
    background-color: #f8f8f8;
    padding: 10px 0px 7px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}

#features .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
}

#features .feature {
    color: #f0081e;
    text-align: right;
}

#features .feature span {
    display: block;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/ui/icons-spritesheet.png');
    font-size: 11px;
    text-transform: uppercase;
    height:  34px;
}

#features .feature#pagamento span {
    background-position: 155px 2px;
}

#features .feature#flores span {
    background-position: 155px -53px;
}

#features .feature#cartao span {
    background-position: 155px -110px;
}

#features .feature#frete span {
    background-position: 153px -164px;
}

#features .feature#atendimento span {
    background-position: 155px -218px;
}

#features .feature#entrega span {
    background-position: 155px -275px;
}

/* =====================   SHOWCASE   ===================== */
.product-card>div {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.product-card span {
    display: block;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-card span.detalhes {
    padding-bottom: 0px;
    overflow: initial;
    height: initial;
    background-position: left center;
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 2px 10px;
    text-transform: lowercase;
    opacity: 0;
    display: inline-block;
    cursor: pointer;
    color: #999999;
}

.product-card:hover span.detalhes {
    opacity: 1;
}

.product-card span#rosa-e-provence {
    background-image: url('../img/photos/rosa-e-provence.png');
}

.product-card span#uma-rosa-tres-sabores {
    background-image: url('../img/photos/uma-rosa-tres-sabores.png');
}

.product-card span#trois-roses {
    background-image: url('../img/photos/trois-roses.png');
}

.product-card span#rosa-doce {
    background-image: url('../img/photos/rosa-doce.png');
}

.product-card span#botao-de-rosa {
    background-image: url('../img/photos/botao-de-rosa.png');
}

.product-card span#uma-rosa-tres-aromas {
    background-image: url('../img/photos/uma-rosa-tres-aromas.png');
}

.product-card span#kit-relax {
    background-image: url('../img/photos/kit-relax.png');
}

.product-card span#kit-banho {
    background-image: url('../img/photos/kit-banho.png');
}

.product-card>div a {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #cd0316;
    color: #ffffff;
    top: 190px;
    left: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 35px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.6s;
}

.product-card>div:hover a {
    width: 120px;
    height: 120px;
    top: 175px;
    left: 45px;
    box-shadow: inset 0 0 0 6px #a60111;
    padding: 50px 0px;
    text-decoration: none;
}

.product-card p {
    text-align: right;
    margin-right: 50px;
    font-weight: 700;
    color: #9f9f9f;
    font-size: 16px;
    display: none;
}

.product-card p b {
    color: #3db537;
    font-size: 21px;
    font-weight: 600;
}

.product-card h2 {
    border-top: 1px dotted #e8e8e8;
    margin: 0px 20px;
    padding-top: 5px;
    text-align: right;
}

/* =====================   EMPRESA   ===================== */
section#empresa {
    background-color: #f8f8f8;
    padding: 40px 0px;
    margin-top: 50px;
    color: #828282;
}

section#empresa img {
    width: 100%;
    height: auto;
    border: 7px solid #ffffff;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.1);
}

section#empresa h3 {
    margin-top: 0px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 32px;
    color: #cd0316;
}

section#empresa p {
    line-height: 22px;
}

/* =======================    SHOWROOM    ======================= */
section.showroom {
    height: 700px;
    height: 100vh;
    box-sizing: border-box;
    padding: 11% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    overflow: hidden;
    position: relative;
}

span.controlling {
    display: block;
    position: absolute;
    height: 20px;
    width: 50px;
    border-radius: 50% / 100%;
    background-color: transparent;
    border: 2px solid #ffffff;
    background-image: url('../img/ui/icons-spritesheet.png');
    background-repeat: no-repeat;
    left: 50%;
    opacity: 0.5;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    cursor: pointer;
}

span.controlling:hover {
    opacity: 1;
}

span.controlling.prev-section {
    top: 0;
    margin-left: -24px;
    background-position: 17px -364px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

span.controlling.next-section {
    bottom: 0;
    margin-left: 24px;
    background-position: 17px -326px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

section.showroom#flores-nobres {
    background-image: url('../img/ui/flores-nobres-bg.jpg');
}

section.showroom#rosas-nacionais {
    background-image: url('../img/ui/rosas-nacionais-bg.jpg');
}

section.showroom#orquidea {
    background-image: url('../img/ui/orquidea-bg.jpg');
}

section.showroom .photo {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
}

section.showroom .photo img {
    width: 80%;
    margin-top: 45px;
    display: inline-block;
}

section.showroom#rosas-nacionais .photo img {
    margin-top: 75px;
    width: 90%;
}

section.showroom#orquidea .photo img {
    margin-top: 30px;
    width: 65%;
}

section.showroom h3 {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    margin-top: 10px;
}

section.showroom h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 35px 0px 10px;
}

section.showroom p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

section.showroom span p {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}

section.showroom p b {
    font-size: 44px;
}

section.showroom .btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 18px 50px;
    margin-top: 15px;
    font-size: 16px;
}

section.showroom#flores-nobres .btn:hover, section.showroom#flores-nobres .btn:focus {
    color: #bd315b;
}

section.showroom#rosas-nacionais .btn:hover, section.showroom#rosas-nacionais .btn:focus {
    color: #a92c2c;
}

section.showroom#orquidea .btn:hover, section.showroom#orquidea .btn:focus {
    color: #5d4f60;
}

/* =======================    FOOTER    ======================= */
footer {
    background-color: #f0f0f0;
    color: #777777;
    padding: 15px 0px;
    font-size: 13px;
}

.btn-primary {
    background-color: #cd0316;
    color: white;
    border-color: #cd0316;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #a60111;
    border-color: #a60111;
    color: white;
}

/* ============================================================= */
/* ======================= Media Queries ======================= */
/* ============================================================= */

/* ====================== Custom xlg size ===================== */
    @media screen and (min-width: 1400px) {
        /*Extra Large styles*/
        .product-card span#p-flores {
            margin: 0px 0px 0px 120px;
        }

        .product-card span#p-rosas {
            margin: 0px 0px 0px 60px;
        }

        .product-card span#p-orquidea {
            margin: 0px 50px;
        }

        .product-card>div a {
            top: 250px;
            left: 50px;
        }

        .product-card>div:hover a {
            top: 235px;
            left: 35px;            
        }
    }

/* ===================== Bootstrap lg size ===================== */
    @media screen and (min-width: 1200px) and (max-width: 1399px) {
        /*Big Screens styles*/
        .product-card span#p-flores {
            margin: 0px 0px 0px 120px;
        }

        .product-card span#p-rosas {
            margin: 0px 0px 0px 60px;
        }

        .product-card span#p-orquidea {
            margin: 0px 50px;
        }

        .product-card>div a {
            top: 250px;
            left: 50px;
        }

        .product-card>div:hover a {
            top: 235px;
            left: 35px;            
        }
    }

/* ===================== Bootstrap md size ===================== */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        /*Standard Screens styles*/
        .product-card span#p-flores {
            margin: 0px 0px 0px 60px;
        }

        .product-card>div a {
            left: 20px;
        }

        .product-card>div:hover a {
            left: 5px;            
        }

        .product-card p {
            margin-right: 30px;
        }
        
        .product-card h2 {
            margin: 0px 30px;
            padding-left: 90px;
            min-height: 52px;
        }
        
        #features .feature#pagamento span {
            background-position: 202px 2px;
        }

        #features .feature#flores span {
            background-position: 202px -53px;
        }

        #features .feature#cartao span {
            background-position: 202px -110px;
        }

        #features .feature#frete span {
            background-position: 200px -164px;
        }

        #features .feature#atendimento span {
            background-position: 202px -218px;
        }

        #features .feature#entrega span {
            background-position: 202px -275px;
        }

        section.showroom {
            min-height: 100vh;
            height: initial;
        }

    }

/* ===================== Bootstrap sm size ===================== */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /*Tablet styles*/
        header #first-call h1 {
            font-size: 36px;
        }

        #features .feature#pagamento span {
            background-position: 148px 2px;
        }

        #features .feature#flores span {
            background-position: 148px -53px;
        }

        #features .feature#cartao span {
            background-position: 148px -110px;
        }

        #features .feature#frete span {
            background-position: 146px -164px;
        }

        #features .feature#atendimento span {
            background-position: 148px -218px;
        }

        #features .feature#entrega span {
            background-position: 148px -275px;
        }

        .product-card>div a {
            width: 90px;
            height: 90px;
            top: 120px;
            left: 0px;
            padding: 35px 0px;
        }

        .product-card>div:hover a {
            width: 110px;
            height: 110px;
            top: 110px;
            left: -10px;            
            padding: 45px 0px;
        }

        .product-card p {
            margin-right: 20px;
        }

        .product-card h2 {
            margin: 0px 10px;
            padding-left: 60px;
            letter-spacing: -0.5px;
            min-height: 52px;
        }

        section.showroom {
            min-height: 600px;
            height: initial;
        }
    }

/* ===================== Bootstrap xs size ===================== */
    @media screen and (min-width: 1px) and (max-width: 767px) {
        /*Smartphone styles*/
        header {
            height: initial;
            margin-bottom: 50px;
            max-height: none;
        }
        
        header .logo {
            text-align: center;
        }

        header .logo span {
            display: block;
            width: 100%;
        }

        header #first-call {
            background: none;
            padding: 0px;
            text-align: center;
        }

        header #first-call h1 {
            margin-top: 20px;
            padding: 0px;
            font-size: 30px;
        }

        header br {
            display: none;
        }

        .product-card span#p-flores {
            padding-bottom: 100%;
            margin: 0px 0px 0px 20px;
        }

        .product-card span#p-rosas {
            padding-bottom: 100%;
        }

        .product-card span#p-orquidea {
            padding-bottom: 120%;
        }

        .product-card {
            margin-bottom: 50px;
            text-align: center;
        }

        .product-card>div {
            display: inline-block;
            width: 100%;
            max-width: 400px;
        }

        .product-card>div a {
            padding: 35px 0px;
            float: none;
            position: initial;
            border-radius: 0;
            width: 100%;
            height: 40px;
            padding: 10px 15px;
            margin-top: 15px;
        }

        .product-card>div:hover a {            
            width: 100%;
            height: 40px;
            padding: 10px 15px;
        }

        .product-card p {
            margin-right: 20px;
        }

        .product-card h2 {
            margin: 0px 10px;
            letter-spacing: -0.5px;
        }

        section#empresa {
            margin-top: 0px;
        }

        section#empresa img {
            border: 5px solid #ffffff;
        }

        section#empresa h3 {
            margin-top: 15px;
            text-align: center;
        }

        section#empresa p {
            line-height: 25px;
        }

        section.showroom {
            height: initial;
            min-height: 500px;
            text-align: center;
        }

        section.showroom .container {
            max-width: 320px;
        }

        section.showroom h3 {
            margin-top: 30px;
            font-size: 30px;
            line-height: initial;
        }

        section.showroom .r {
            text-align: center;
        }

        section.showroom p b {
            font-size: 30px;
        }
    }

/* ============================================================= */
/* ============================================================= */
/* ============================================================= */