﻿@{
    ViewBag.Title = "Cadastre-se ou acesse sua conta";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
    var returnUrl = "/pedido";
    if (Request.QueryString["returnUrl"] != null){
        returnUrl = Request.QueryString["returnUrl"];
    }
    
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@if (Request.QueryString["returnUrl"] == null)
{
      @Html.Action("Caminho", "Pedido", new { posicao = 2 })
}

<div id="CadastreSe" class="conteudo">
    <h1>Cadastre-se ou acesse sua conta</h1>

    <div>
        <div id="Autenticacao" class="box-radius cinza600">
            <div class="content">
                <span class="qlassik">Sou um novo cliente</span>
                <br /><br />
                Cadastre-se e finalize sua compra: é fácil, rápido e seguro. Cadastre-se agora.
                <br /><br />
                @if(Request.QueryString["returnUrl"] == "/pedido"){
                    <input class="botao" type="button" value="Cadastrar e finalizar compra"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se?returnUrl=@returnUrl';" />
                }
                else
                {
                    <input class="botao" type="button" value="Cadastrar"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'cadastrar']);" onclick="javascript:window.location='/cadastre-se';" />                    
                }
                <br /><br />
                Tem alguma dúvida?
                <br />
                Contate agora a nossa Central de Atendimento e esclareça suas questões.
            </div>
        </div>
        <div id="Autenticacao" class="box-radius cinza600">
            <div class="content">
                <span class="qlassik">Sou cadastrado</span>
                <br /><br />
                <input id="returnUrl" type="hidden" value="@returnUrl" />
                <table cellspacing="0" cellpadding="0" border="0" width="100%" class="tabela" align="center">
                <tr>
                    <td class="right bold" width="50">E-mail:</td>
                    <td width="20"></td>
                    <td width="200"><input id="autenticacao-email" type="text" />
                    </td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td class="right bold" width="50">Senha:</td>
                    <td width="20"></td>
                    <td width="200"><input id="autenticacao-senha" type="password" />
                        <a href="@Url.Action("index", "esqueci-minha-senha", new{ returnUrl= returnUrl})">esqueci minha senha</a>
                    </td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td colspan="4" class="center">
                        <input id="autenticacao-entrar" class="botao" type="button" value="entrar" style="margin-right: 30px" href="javascript:void(0);"  onmousedown="_gaq.push(['_trackEvent', 'cadastro', 'clique', 'entrar']);"/></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>