﻿@model Web.Models.ClienteModel

<div id="MenuUsuario">
    @if (Model.Autenticado)
    {
       @* <div class="bt-acessos">
            
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("meus-pedidos", "cliente")"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Meus pedidos
            </a>
        </div>*@
        <div class="clear"></div>
        
        <div class="div_opcoes2">
         Olá, <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">@Model.Nome</a> | <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </div>

    }
    else
    {
         <div class="div_opcoes2">
                Olá Visitante, <a href="@Url.Action("identificacao", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'entrar']);">Identifique-se</a>
            </div>
        @*<div class="bt-acessos">
            <a href="@Url.Action("Index", "empresas")" target="_blank"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'empresas']);">
                Empresas
            </a>
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Minha conta
            </a>
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Meus pedidos
            </a>
        </div>*@
        <div class="clear"></div>
    }
</div>