﻿@model Web.Models.ClienteModel

<div id="MenuUsuario">
    @if (Model.Autenticado)
    {
        <div class="bt-acessos">
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Minha conta
            </a>
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("meus-pedidos", "cliente")"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Meus pedidos
            </a>
        </div>
        <div class="clear"></div>
        <span id="nome" class="qlassik">
            Olá, @Model.Nome!
            <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </span>
    }
    else
    {
        <div class="bt-acessos">
            <a href="http://www.lacoscorporativos.com.br" target="_blank"  onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'empresas']);">
                Empresas
            </a>
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Minha conta
            </a>
        </div>
        <div class="bt-acessos">
            <a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Meus pedidos
            </a>
        </div>
        <div class="clear"></div>
        <span id="nome" class="qlassik">
            Olá, visitante!
            <a href="@Url.Action("identificacao", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'entrar']);">Identifique-se</a>
        </span>
    }
</div>