﻿@model IEnumerable<Domain.Entities.Pedido>

@{
    ViewBag.Title = "Meus Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}

<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("meus-pedidos", "cliente")" itemprop="url">      
      <span itemprop="title"><b>Meus Pedidos</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Meus Pedidos</h1>

    <div id="carrinho">
    @if (Model.Any())
    {
        
<table celspacing="0" cellpadding="0" border="0" width="960">
            <tr class="qlassik" style="font-size: 20px" bgcolor="#ccc">
                <td>Nº Pedido</td>
                <td>Forma de Pagamento</td>
                <td>Valor</td>
                <td>Data do Pedido</td>
                <td>Status</td>
                <td>Vencimento</td>
                <td>Data de Pagamento</td>
            </tr>

@foreach (var item in Model) {
    <tr class="item">
        <td>
            <span class="n-pedido" onclick="mostraPedido(@item.ID)">
                @Html.DisplayFor(modelItem => item.Numero)
            </span>

            <div class="escurece"></div>

            <div id="pedido-@item.ID" class="ItemPedido box">
                <div class="close">X</div>
                <table class="InfosItem" width="550">
                    <tr>
                        <td colspan="2">
                            <span class="title qlassik">Pedido nº: <span class="vermelho">@item.ID</span></span>
                        </td>
                    </tr>
                    <tr class="qlassik" style="font-size: 20px">
                        <td>Produtos</td>
                        <td>Tamanho</td>
                        <td>Preço Unitário</td>
                    </tr>
                    @foreach(var itempedido in item.PedidoItens){
                        <tr class="item">
                            <td>@itempedido.ProdutoTamanho.Produto.Nome</td>
                            <td>@itempedido.ProdutoTamanho.Tamanho.Nome</td>
                            <td>@itempedido.Valor.ToString("C2")</td>
                        </tr>
                    }
                    <tr height="10"></tr>
                    <tr class="f15">
                        <td></td>
                        <td>Desconto</td>
                        <td>@item.ValorDesconto.ToString("C2")</td>
                    </tr>
                    <tr class="f15">
                        <td></td>
                        <td>Total</td>
                        <td>@item.ValorTotal.ToString("C2")</td>
                    </tr>
                </table>
            </div>

        </td>
        <td>
            @Domain.Helpers.EnumHelper.GetDescription((Domain.Entities.Pedido.MeiosPagamento)item.MeioPagamentoID)
            @if (item.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && item.Boleto != null)
            {
                <br />
                <a href="@Url.Action("index", "boleto", new { codigo = item.Codigo })" target="_blank">imprimir</a>
            }
        </td>
        <td>
            @item.ValorTotal.ToString("C2")
        </td>
        <td>
            @item.DataSolicitada.ToString("dd/MM/yyyy HH:mm")
        </td>
        <td>
            @Domain.Helpers.EnumHelper.GetDescription((Domain.Entities.Pedido.TodosStatusPagamento)item.StatusPagamentoID)
            @if (!String.IsNullOrEmpty(item.NFeLink))
            {
                <br />
                <a href="@item.NFeLink" target="_blank">NFe</a>
            }
        </td>
        <td>
            @if (item.MeioPagamento == Domain.Entities.Pedido.MeiosPagamento.Boleto && item.Boleto != null)
            {
                @item.Boleto.DataVencimento.ToString("dd/MM/yyyy")
            }
            else { <text>A vista</text> }
        </td>
        <td>
            @if (item.DataPagamento.HasValue)
            {
            @item.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")
            }
            else
            {
                <text>Pendente de pagamento</text>
            }
        </td>
    </tr>
}

</table>

    }
    else
    {        
        <p>
            Não há pedidos efetuados.
        </p>
    }
    </div>
</div>