﻿@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Minha Conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
}
@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}

@section Script{ 
    <script type="text/javascript" src="@Url.Content("~/Scripts/cep.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[name=TipoID]').click(function () {
                var valor = $(this).val();
                Tipo(valor);
            });
            $('input[name=Exterior]').click(function () {
                var valor = $("input[name='Exterior']:checked").val();
                Exterior(valor);
            });
            Tipo($('input[name=TipoID]:checked').val());
            Exterior($('input[name=Exterior]:checked').val());

            $('#EstadoID').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">-- selecione uma cidade --</option>';
                $('#CidadeID').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">-- selecione uma cidade --</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#CidadeID').html(html);
                    });
                }
            });

            $('#CEP').mask('99999-999');
            $('#TelefoneContato').mask('(99) 99999999');
            $('#CelularContato').mask('(99) 99999999?9');

            $('#form').validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    $('#minha-conta-enviando').show();
                    $('#minha-conta-enviar').hide();
                    if ($("input[name='TipoID']:checked").val() == "1") {
                        var cpf = $('#Documento').val();
                        var email = $('#Email').val();
                        $.post('@Url.Action("ValidarFisica")', { email: email, cpf: cpf }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#minha-conta-enviando').hide();
                                $('#minha-conta-enviar').show();
                            }
                        });
                    } else if ($("input[name='TipoID']:checked").val() == "2") {
                        var cnpj = $('#Documento').val();
                        var email = $('#Email').val();
                        $.post('@Url.Action("ValidarJuridica")', { email: email, cnpj: cnpj }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#minha-conta-enviando').hide();
                                $('#minha-conta-enviar').show();
                            }
                        });
                    }
                },
                rules: {
                    'Nome': 'required',
                    'Documento': {
                        required: brasil
                    },
                    'Email': {
                        required: true,
                        email: true
                    },
                    'EmailSecundario': {
                        email: true
                    },
                    'TipoID': {
                        required: true
                    },
                    'CEP': {
                        required: brasil
                    },
                    'RazaoSocial': {
                        required: pj
                    },
                    'InscricaoEstadual': {
                        required: pj
                    },
                    'Logradouro': {
                        required: brasil
                    },
                    'Numero': {
                        required: brasil
                    },
                    'Bairro': {
                        required: brasil
                    },
                    'Estado': {
                        required: brasil
                    },
                    'Cidade': {
                        required: brasil
                    },
                    'TelefoneContato': 'required',
                    'Senha': 'required',
                    'ConfirmaSenha': {
                        required: true,
                        equalTo: '#Senha'
                    }
                },
                messages: {
                    'Nome': 'Preencha com seu nome',
                    'Documento': {
                        required: 'Preencha o número do documento'
                    },
                    'TipoID': {
                        required: 'Selecione o tipo de pessoa, física ou jurídica'
                    },
                    'Email': {
                        required: 'Preencha com o seu e-mail',
                        email: 'Digite um e-mail válido'
                    },
                    'EmailSecundario': {
                        email: 'Digite um e-mail válido'
                    },
                    'CEP': {
                        required: 'Preencha com o seu CEP'
                    },
                    'RazaoSocial': {
                        required: 'Preencha com o sua razão social'
                    },
                    'InscricaoEstadual': {
                        required: 'Preencha com o sua IE, caso seja isento, digite ISENTO'
                    },
                    'Logradouro': {
                        required: 'Preencha com o seu endereço'
                    },
                    'Numero': {
                        required: 'Preencha com o seu número'
                    },
                    'Bairro': {
                        required: 'Preencha com o seu bairro'
                    },
                    'Estado': {
                        required: 'Selecione seu estado'
                    },
                    'Cidade': {
                        required: 'Selecione sua cidade'
                    },
                    'TelefoneContato': 'Preencha com o seu telefone de contato',
                    'Senha': 'Preencha com o sua senha ',
                    'ConfirmaSenha': {
                        required: 'Preencha com o sua confirmação de senha',
                        equalTo: 'As senhas digitadas não são iguais'
                    }
                }
            });

        });

        function Tipo(id) {
            switch (id) {
                case '1':
                    $('#Documento').mask('999.999.999-99');
                    $('#div_empresa').hide();
                    $('#lblDocumento').html('CPF');
                    break;
                case '2':
                    $('#Documento').mask('99.999.999/9999-99');
                    $('#div_empresa').show();
                    $('#lblDocumento').html('CNPJ');
                    break;
            }
        }
        function Exterior(sim) {
            if (sim) {
                $('#div_brasil_cep').hide();
                $('#div_brasil_uf').hide();
                $('#div_brasil_endereco').hide();
                $('#div_brasil_comp').hide();
            } else {
                $('#div_brasil_cep').show();
                $('#div_brasil_uf').show();
                $('#div_brasil_endereco').show();
                $('#div_brasil_comp').show();
            }
        }

        var pj = function () {
            if ($("input[name='TipoID']:checked").val() == "2")
                return true;
            else
                return false;
        };

        var pf = function () {
            if ($("input[name='TipoID']:checked").val() == "1")
                return true;
            else
                return false;
        };

        var exterior = function () {
            if ($("input[name='Exterior']:checked").val())
                return true;
            else
                return false;
        };

        var brasil = function () {
            if (!$("input[name='Exterior']:checked").val())
                return true;
            else
                return false;
        };
    </script>
}


<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("minha-conta", "cliente")" itemprop="url">      
      <span itemprop="title"><b>Minha Conta</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div id="CadastreSe" class="conteudo">
    <h1>Minha Conta</h1>
        <div id="Cadastro" class="box-radius">
            <div class="content">
                @if (Request.QueryString["msg"] == "sucesso")
                {
                 <table cellspacing="0" cellpadding="0" border="0" width="900px" class="tabela">
                 <tr>
                 <td><div class="message success">Seus dados foram atualizados com sucesso!</div></td>
                 </tr>
                 </table>
                }
                else
                {
                    if (Request.QueryString["atualizar"] == "sim")
                    {
                        <h2>Para continuar, você deve confirmar seus dados.</h2>
                    }
                    else
                    {
                    <p>Aqui você pode atualizar seu cadastro.</p>
                    }
                    if (Request.QueryString["msg"] == "erro")
                    {
                     <table cellspacing="0" cellpadding="0" border="0" width="900px" class="tabela">
                     <tr>
                     <td><div class="message error">Ocorreu um erro ao tentar atualizar seu cadastro. Por favor, tente novamente mais tarde ou nos comunique através do formulário de contato.</div></td>
                     </tr>
                     </table>
                    }
                    using (Html.BeginForm("minha-conta", "cliente", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
                    {
                            <input name="redirect" type="hidden" value="@Request.QueryString["returnUrl"]" />    
                            <table cellspacing="0" cellpadding="0" border="0" width="800" class="tabela">   
                                <tr>
                                    <td class="right" style="width:200px"><label>Nome</label></td>
                                    <td style="width:200px"> @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td width="10"></td>
                                    <td class="right" style="width:200px"><label>E-mail</label></td>
                                    <td>@Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })</td>
                                </tr>   
                                <tr>
                                    <td class="right"><label>Tipo</label></td>
                                    <td>
                                    <input type="radio" name="TipoID" value="2" @((Model != null) ? Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica ? "checked='checked'" : "" : "")/> PJ
                                    <input type="radio" name="TipoID" value="1" @((Model != null) ? Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? "checked='checked'" : "" : "")/> PF
                                    </td>
                                    <td width="10"></td>
                                    <td class="right" style="width:200px"><label>E-mail secundário</label></td>
                                    <td>@Html.TextBoxFor(model => model.EmailSecundario, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td colspan="3"></td>
                                </tr>   
                                <tr>
                                    <td class="right"><label id="lblDocumento">CPF</label></td>
                                    <td> @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })</td>
                                </tr>   
                                <tr id="div_empresa">
                                    <td class="right"><label>Razão Social</label></td>
                                    <td>@Html.TextBoxFor(model => model.RazaoSocial, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>IE</label></td>
                                    <td>@Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "mws-textinput", maxlength = "200" })</td>
                                </tr>   
                                <tr>
                                    <td class="right"><label>Senha </label></td>
                                    <td>@{var Senha = Model == null ? "" : Model.Senha;}
                                    @Html.Password("Senha", Senha, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Confirmação de senha </label></td>
                                    <td>@Html.Password("ConfirmacaoSenha", Senha, new { @class = "mws-textinput", maxlength = "200" })</td>
                                </tr>   
                                <tr>
                                    <td class="right"><label>Telefone</label></td>
                                    <td>@Html.TextBoxFor(model => model.TelefoneContato, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Celular</label></td>
                                    <td> @Html.TextBoxFor(model => model.CelularContato, new { @class = "mws-textinput", maxlength = "200" })</td>
                                </tr>             
                                <tr>
                                    <td class="right"><label>Skype:</label></td>
                                    <td>@Html.TextBoxFor(model => model.Skype, new { @class = "mws-textinput" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Residente no Exterior?</label></td>
                                    <td><input type="checkbox" name="Exterior" id="Exterior" value="on" @(Model.Exterior ? "checked=checked" : "") /> SIM</td>
                                </tr>
                                <tr id="div_brasil_cep" style="@((Model.Exterior) ? "display:none;" : "")">
                                    <td class="right"><label>CEP</label></td>
                                    <td>@Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })                                
                                    </td>
                                    <td width="10"></td>                                
                                    <td colspan="2"><span id="load_cep" class="processando">Buscando endereço...</span></td>
                                </tr>   
                                <tr id="div_brasil_uf" style="@((Model.Exterior) ? "display:none;" : "")">
                                    <td class="right"><label>Estado</label></td>
                                    <td>@Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Cidade</label></td>
                                    <td>@Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                                    <span id="load_cidade" class="processando">Buscando cidades...</span></td>
                                </tr>   
                                <tr id="div_brasil_endereco" style="@((Model.Exterior) ? "display:none;" : "")">
                                    <td class="right"><label>Logradouro</label></td>
                                    <td>@Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Número</label></td>
                                    <td>@Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })</td>
                                </tr>   
                                <tr id="div_brasil_comp" style="@((Model.Exterior) ? "display:none;" : "")">
                                    <td class="right"><label>Complemento</label></td>
                                    <td>@Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })</td>
                                    <td width="10"></td>
                                    <td class="right"><label>Bairro</label></td>
                                    <td>@Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })</td>
                                </tr>       
                                <tr>
                                    <td colspan="4"><br /></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3"><input id="minha-conta-enviar" class="botao" name="minha-conta-enviar" type="submit" value="continuar" /><span id="minha-conta-enviando" class="processando">enviado...</span></td>
                                </tr>
                        </table>
                    }
                }
            </div>
        </div>
</div>