﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pesquisa de Satisfação";
    var pedido = (Domain.Entities.Pedido)ViewBag.Pedido;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {

            $('#telefone').mask('(99) 99999999');

            $('#EstadoID').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">selecione uma cidade</option>';
                $('#CidadeID').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#CidadeID').html(html);
                    });
                }
            });
            $('.satisfeito').change(function () {
                var satisfeito = $('.satisfeito:checked').val(); 
                if(satisfeito == 'true'){
                    $('#divsatisfeitonao').hide();
                    $('#satisfeitonao').val('');
                    $('#satisfeitonaooutro').val('');
                }else{
                    $('#divsatisfeitonao').show();
                }
            });
            $('#satisfeitonao').change(function () {
                var satisfeito = $('#satisfeitonao').val(); 
                if(satisfeito != 'Outro'){
                    $('#satisfeitonaooutro').hide(); 
                    $('#satisfeitonaooutro').val(satisfeito);
                }else{
                    $('#satisfeitonaooutro').show();
                    $('#satisfeitonaooutro').val('');
                }
            });
            $("#form_pesquisa").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/pesquisa-de-satisfacao/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/pesquisa-de-satisfacao?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    email: {
                        email: true
                    },
                    recomendacao: "required",
                    satisfeito: "required",
                    entrega: "required",
                    qualidade: "required",
                    atendimento: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    sugestoes: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    email: {
                        email: "Digite um e-mail válido"
                    },
                    recomendacao: "Selecione se você recomendaria o Coroas para Velório para um amigo",
                    satisfeito: "Selecione se você está satisfeito",
                    entrega: "Selecione a nota para a entrega",
                    qualidade: "Selecione a nota para a qualidade",
                    atendimento: "Selecione a nota para o atendimento",
                    EstadoID: "Selecione seu estado",
                    CidadeID: "Selecione sua cidade",
                    sugestoes: "Faça sua sugestão, reclamação ou elogio",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
            
            @if(pedido != null){
                <text>
                $('#EstadoID').val('@pedido.EstadoID');
                $('#EstadoID').change();
                var t = setTimeout(function () { $("#CidadeID").val('@pedido.CidadeID'); }, 2000);
                </text>
            }
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "seja-um-promotor")" itemprop="url">      
      <span itemprop="title"><b>Pesquisa de Satisfação</b></span>    
    </a>   
    </div>    
</div> 
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Pesquisa de Satisfação</h1>
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua pesquisa foi enviada com sucesso! Obrigado.</div>
    }
    else
    {
    <p>
        Gostaríamos de convidá-lo a responder esta breve pesquisa de satisfação sobre nossos serviços prestados. Agradecemos antecipadamente pela sua participação. <br /><br />

        Avalie utilizando uma das opções abaixo:
    </p>
    <div class="box-radius">
        @using (Html.BeginForm("Enviar", "Pesquisa-de-Satisfacao", FormMethod.Post, new { id = "form_pesquisa", name = "form_pesquisa", enctype = "multipart/form-data", @class = "formulario" }))
        {   
            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">
             
                <tr><!-- Nome Completo: -->
                    <td colspan="6">
                        <table border="0" style="float:left; text-align:right;margin-bottom:20px;" cellspacing="0">
                              <tbody>
                              <tr style="font-weight:bold;">
                                <td style="width:200px;"></td>
                                <td style="width:100px;text-align:center;">Muito Ruim</td>
                                <td style="width:100px;text-align:center;">Ruim</td>
                                <td style="width:100px;text-align:center;">Bom</td>
                                <td style="width:100px;text-align:center;">Muito Bom</td>
                                <td style="width:100px;text-align:center;">Sem Avaliação</td>
                              </tr>
                              <tr style="background:#eaee91; text-align:right;">
                                <td>Prazo de Entrega:</td>
                                <td style="text-align:center;"><input type="radio" name="entrega" value="Muito Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="entrega" value="Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="entrega" value="Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="entrega" value="Muito Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="entrega" value="Sem Avaliação"></td>
                              </tr>
                              <tr style="background:#d4dd23; text-align:right;">
                                <td>Qualidade do Produto:</td>
                                <td style="text-align:center;"><input type="radio" name="qualidade" value="Muito Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="qualidade" value="Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="qualidade" value="Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="qualidade" value="Muito Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="qualidade" value="Sem Avaliação"></td>
                              </tr>
                              <tr style="background:#eaee91; text-align:right;">
                                <td>Nosso Atendimento:</td>
                                <td style="text-align:center;"><input type="radio" name="atendimento" value="Muito Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="atendimento" value="Ruim"></td>
                                <td style="text-align:center;"><input type="radio" name="atendimento" value="Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="atendimento" value="Muito Bom"></td>
                                <td style="text-align:center;"><input type="radio" name="atendimento" value="Sem Avaliação"></td>
                              </tr>                              
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="right">Você recomendaria nossos serviços a amigos ou conhecidos?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="radio" value="true" id="recomendacao" name="recomendacao"/> SIM
                        <input type="radio" value="false" id="recomendacao" name="recomendacao"/> NÃO
                    </td>
                    <td width="97"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">Satisfeito?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="radio" value="true" id="satisfeito" name="satisfeito" class="satisfeito"/> SIM
                        <input type="radio" value="false" id="satisfeito" name="satisfeito" class="satisfeito"/> NÃO
                    </td>
                    <td width="97"></td>
                </tr>
                <tr style="display:none;" id="divsatisfeitonao">
                    <td colspan="2" class="right">Diga-nos porque não está satisfeito</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <select style="width:235px; height:23px;" id="satisfeitonao" name="satisfeitonao">		
					        <option>Selecione</option>
					        <option value="Atraso da Entrega">Atraso da Entrega</option>
					        <option value="Coroa fora do padrão">Coroa fora do padrão </option>
					        <option value="Erro na Faixa">Erro na Faixa</option>
					        <option value="Outro">Outro</option> 
				        </select>
                        <input type="text" id="satisfeitonaooutro" name="satisfeitonaooutro" style="display:none;"/>
                    </td>
                    <td width="97"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">Porque o Coroas para Velório?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="porquecpv" name="porquecpv"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Como nos conheceu? -->
                    <td colspan="2" class="right">Como nos conheceu?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <select style="width:235px; height:23px;" id="conheceu" name="conheceu">		
					        <option>Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- CEP: -->
                    <td colspan="2" class="right">Sugestões, Reclamações ou Elogios <br />Por favor adicione qualquer comentário a respeito de sua compra ou de nossos serviços:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <textarea id="sugestoes" name="sugestoes"></textarea>
                    </td>
                    <td width="97"></td>
                </tr>
                
                <tr>
                    <td colspan="2" class="right"><label>Estado:</label></td>
                    <td width="20"></td>
                    <td colspan="2">
                        <select id="EstadoID" name="EstadoID">
                            <option value="">selecione um estado</option>
                            @foreach (var estado in estados.OrderBy(e => e.Nome))
                            {
                                <option value="@estado.ID">@estado.Sigla</option>
                            }
                        </select>
                    </td>
                    <td width="97"></td>                    
                <tr>
                    <td colspan="2" class="right"><label>Cidade:</label></td>
                    <td width="20"></td>
                    <td colspan="2"><select id="CidadeID" name="CidadeID"></select></td>
                    <td width="97"></td>    
                </tr>

                <tr style="@(pedido != null?"display:none;":"")"><!-- Tel Residencial: -->
                    <td colspan="2" class="right">Número do Pedido:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="pedido" name="pedido" value="@(pedido != null?pedido.Numero:"")"/>
                    </td>
                    <td width="97"></td>
                </tr>
                
                <tr style="@(pedido != null?"display:none;":"")"><!-- Email: -->
                    <td colspan="2" class="right">Nome:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nome" name="nome" value="@(pedido != null?pedido.Cliente.Nome:"")"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr style="@(pedido != null?"display:none;":"")"><!-- Tel Residencial: -->
                    <td colspan="2" class="right">Telefone de contato:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="telefone" name="telefone" value="@(pedido != null?pedido.Cliente.TelefoneContato:"")"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr style="@(pedido != null?"display:none;":"")"><!-- Email: -->
                    <td colspan="2" class="right">E-mail:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="email" name="email" value="@(pedido != null?pedido.Cliente.Email:"")"/>
                    </td>
                    <td width="97"></td>
                </tr>
                
                <tr>
                    <td colspan="2" class="right">Validação:</td>
                    <td width="20"></td>
                    <td colspan="2">                           
                        @captcha
                    </td>
                    <td width="97"></td>
                </tr> 
                
                <tr height="10">
                    <td colspan="3"></td>
                    <td colspan="3"><input type="checkbox" name="depoimento" id="depoimento" value="true"/> Autorizo a publicação do meu depoimento.</td>
                </tr>
                <tr height="10">
                    <td colspan="6"></td>
                </tr>
                 
                <tr height="10">
                    <td colspan="6" class="center">
                        <input type="submit" value="Enviar" class="botao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'pesquisa-satisfacao', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>

            </table>
        }
    </div>
    }
    <p>
        Agradecemos pela preferência!<br />Equipe Coroas Para Velório.
    </p>
</div>