﻿@model IEnumerable<Domain.Entities.Produto>
@{
    ViewBag.Title = "Coroas de Flores Mais Vendidas | Coroas para Velório";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Coroas de Flores Mais Vendidas - Atendimento e entrega em todo Brasil, 24 horas todos os dias + frete grátis. Acesse o site e confira!";
}

@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-mais-vendidas").addClass("active");
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Mais Vendidas</b></span> </div>
</div>
</div> 

<div id="ComoComprar" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div class="Div">
		<h1 class="TituloPagina"><span itemprop="title"><b>Mais Vendidas</b></span></h1>
	</div>
</div>
  
@if (Model != null)
{
    @Html.Partial("Produtos", Model)
}
