﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Termos e condições comerciais";
    ViewBag.Description = "Para não ter dúvidas, confira os nossos Termos e condições especiais. Acesse aqui e tire todas as suas dúvidas. Confira!";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Termos e condições comerciais</b></span> </div>
</div>
</div> 

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Termos e condições especiais</h1>

    <div class="Div1">

        <div class="Div1Texto1">
            <h2 class="subTitulo">Para o Cancelamento do Produto</h2>

            1 - O cliente poderá solicitar o cancelamento do seu pedido até 30 minutos após a sua compra. Seja a compra sendo feita por telefone ou diretamente no site. Para isso, o mesmo deverá ligar para a Nossa Central de Atendimento 24 horas: @configuracoes.SAC.<br><br>

            <h2 class="subTitulo">Para o Reembolso do Produto</h2>
            1 – Caso a compra seja realizada por alguma destas formas de pagamento: Boleto Bancário, PayPal, Pagseguro, Faturamento Empresas e Transferência Bancária. O reembolso poderá ser solicitado em nossa Central de Atendimento 24 horas qualquer dia ou horário da semana. Após o contato do cliente e estando dentro das normas da empresa – link da página de Termos e Condições Comerciais -. o nosso atendimento efetua o reembolso no mesmo dia do pedido. Para isso, o mesmo deverá ligar para a Nossa Central de Atendimento 24 horas: @configuracoes.SAC.<br><br>
            2 – Caso a compra seja realizada com cartão de crédito e de acordo com as normas da financeira, o pedido de reembolso será solicitado por nossa empresa 2 dias após a solicitação do cliente em nossa Central de Atendimento. Após este procedimento, serão necessários mais 10 dias para que a financeira realize de fato o estorno do pedido. Para isso, o mesmo deverá ligar para a Nossa Central de Atendimento 24 horas: @configuracoes.SAC.<br><br>
            Para conhecer nossos Termos e Condições Comerciais, acesse o link ao lado:<a href="https://www.coroasparavelorio.com.br/termos-e-condicoes-comerciais">Termos e Condições Comerciais - Link</a><br><br>
            Agradecemos pela compreensão,<br>
            Equipe Coroas Para Velório

        </div>
    </div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>

</div>
</div>
