﻿@model Domain.Entities.Depoimento

@{
    ViewBag.Title = Model == null ? "Novo Depoimento" : "Edição do depoimento de " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = (List<Domain.Entities.Produto>)ViewBag.Produtos;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Depoimento" : "Edição do depoimento de " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Depoimento", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Depoimento.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Depoimento.Tipos.PF), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Empresa</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Empresa, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Cidade, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>E-mail</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Texto</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Texto, new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Data</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Data, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nota</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nota, new { @class = "mws-textinput", maxlength = "2" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Aprovado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Aprovado)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Destaque na Home?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Home)  SIM
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Destaque na Página do Produto</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.ProdutoID, new SelectList(produtos, "ID", "Nome"), " -- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>  
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#conteudo').addClass('active');
        $('#i_depoimentos').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                TipoID: "required",
                Cidade: "required",
                Texto: "required",
                Email: {
                    required : true,
                    email : true
                },
                Data: {
                    required : true
                }
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                TipoID: "Selecione o tipo",
                Cidade: "O campo cidade é obrigatório",
                Texto: "O campo texto é obrigatório",
                Email: {
                    required: "O campo e-mail é obrigatório",
                    email: "Digite um e-mail válido"
                },
                Data: {
                    required: "O campo data é obrigatório"
                }
            }
        });
    });
</script>
}