﻿@model IEnumerable<Domain.Entities.Depoimento>

@{
    ViewBag.Title = "Depoimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#conteudo').addClass('active');
            $('#i_depoimentos').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Depoimentos
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Depoimento")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Nome</th>
                    <th style="text-align:center;">Tipo</th>
                    <th style="text-align:center;">Empresa</th>
                    <th style="text-align:center;">Cidade</th>
                    <th style="text-align:center;">Data</th>
                    <th style="text-align:center;">Aprovado</th>
                    <th style="text-align:center;">Destaque Home</th>
                    <th style="text-align:center;">Destaque Produto</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="">@item.Nome<br /><i>@item.Email</i></td>
                    <td style="text-align:center;">@Enum.GetName(typeof(Domain.Entities.Depoimento.Tipos),item.TipoID)</td>
                    <td style="">@item.Empresa</td>
                    <td style="">@item.Cidade</td>
                    <td style="text-align:center;">@item.Data.ToString("dd/MM/yyyy HH:mm")</td>
                    <td style="text-align:center;">@Html.Raw(item.Aprovado ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@Html.Raw(item.Home ? "<b>SIM</b>" : "NÃO")</td>
                    <td style="text-align:center;">@(item.ProdutoID.HasValue?item.Produto.Nome:"NÃO")</td>
                    <td class="center" style="width:164px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }else{
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
    </div>
</div>
