﻿@{
    ViewBag.Title = "Cadastre-se";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";

    //pegar email pelo carrinho
    String email = Request.QueryString["email"];
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    var Carrinho = new Domain.Entities.Carrinho();
    if (HttpContext.Current.Session["_carrinho"] != null)
    {
        Carrinho = (Domain.Entities.Carrinho)HttpContext.Current.Session["_carrinho"];
    }


}
@section Script{
    <!--VEINTERACTIVE JS-->
    <script src="//configusa.veinteractive.com/tags/DDF7E5CC/DE1F/4CFB/9B0E/785966056CEB/tag.js" type="text/javascript" async></script>
    <script type="text/javascript" src="/Scripts/latinize.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cep.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

             var Data = {
                'event': 'checkout',
                'ecommerce': {
                    'actionField': {
                        'step': 1
                    },
                    'products': [
                                @foreach(var Item in Carrinho.Itens)
                                {
                                    var CarrinhoItem = (Domain.Entities.CarrinhoItem)Item;
                                    var Produto = CarrinhoItem.ProdutoTamanho.Produto;
                                    var Tamanho = CarrinhoItem.ProdutoTamanho.Tamanho.Nome;

                                    if (Tamanho == "Pequena")
                                    {
                                        Tamanho = "P";
                                    }
                                    if (Tamanho == "Média")
                                    {
                                        Tamanho = "M";
                                    }
                                    if (Tamanho == "Grande")
                                    {
                                        Tamanho = "G";
                                    }

                                    string Categoria = "";

                                    switch (Produto.ID)
                                    {
                                        case 20:
                                        case 1:
                                        case 18:
                                        case 2:
                                        case 19:
                                        case 3:
                                            Categoria = "Premium";
                                            break;
                                        case 22:
                                        case 21:
                                        case 25:
                                        case 24:
                                        case 23:
                                            Categoria = "Luxo";
                                            break;
                                        case 27:
                                        case 28:
                                        case 29:
                                            Categoria = "Super Luxo";
                                            break;
                                        case 30:
                                        case 34:
                                        case 33:
                                        case 32:
                                        case 31:
                                            Categoria = "Duplas";
                                            break;
                                        default:
                                            break;
                                    }

                                    <text>
                                    {
                                        'name': '@Produto.Nome',
                                        'id': '@Produto.ID',
                                        'price': '@CarrinhoItem.ProdutoTamanho.Preco.ToString().Replace(",", ".")',
                                        'category': '@Categoria',
                                        'variant': '@Tamanho',
                                        'quantity': 1
                                    },
                                    </text>

                                }
                    ]
                }
            };

            console.log(Data);
            console.log(dataLayer.push(Data));

            $('#TipoCadastro input[name=cadastro-tipo]').click(function () {
                var valor = $(this).val();
                Tipo(valor);
            });
            Tipo($('#TipoCadastro input[name=cadastro-tipo]:checked').val());

            $('#cadastro-fisica-estado').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">selecione uma cidade</option>';
                $('#cadastro-fisica-cidade').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#cadastro-fisica-cidade').html(html);
                    });
                }
            });

            $('#cadastro-juridica-estado').change(function () {
                var estadoID = $(this).val();
                var html = '<option value="">selecione uma cidade</option>';
                $('#cadastro-juridica-cidade').html(html);
                if (estadoID != null) {
                    Local.Cidades(estadoID, function (data) {
                        var html = '<option value="">selecione uma cidade</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].ID + '">' + data[i].Nome + '</option>';
                        }
                        $('#cadastro-juridica-cidade').html(html);
                    });
                }
            });

            //Inicio blur Campos
            //Pessoa Fisica
            $('#cadastro-fisica-celular').blur(function () {
                var xxx = $(this).mask();
                if (xxx.length >= 10) {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            $('#cadastro-fisica-complemento').blur(function () {
                if ($('#cadastro-fisica-complemento').val().length > 0) {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            $('#cadastro-fisica-como-conheceu').blur(function () {
                if ($('#cadastro-fisica-como-conheceu').val() != "Selecione") {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            valida('#cadastro-fisica-email');
            valida('#cadastro-fisica-nome');
            valida('#cadastro-fisica-logradouro');
            valida('#cadastro-fisica-numero');
            valida('#cadastro-fisica-bairro');
            valida('#cadastro-fisica-estado');
            valida('#cadastro-fisica-cidade');
            valida('#cadastro-fisica-senha');
            valida('#cadastro-fisica-confirma-senha');
            valida2('#cadastro-fisica-cpf', 11);
            valida2('#cadastro-fisica-cep', 8);
            valida2('#cadastro-fisica-telefone', 10);

            //Pessoa Juridica
            $('#cadastro-juridica-celular').blur(function () {
                var xxx = $(this).mask();
                if (xxx.length >= 10) {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            $('#cadastro-juridica-complemento').blur(function () {
                if ($('#cadastro-juridica-complemento').val().length > 0) {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            $('#cadastro-juridica-como-conheceu').blur(function () {
                if ($('#cadastro-juridica-como-conheceu').val() != "Selecione") {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            valida('#cadastro-juridica-razao-social');
            valida('#cadastro-juridica-nome-fantasia');
            valida('#cadastro-juridica-inscricao-estadual');
            valida('#cadastro-juridica-pessoa-contato')
            valida('#cadastro-juridica-email');
            valida('#cadastro-juridica-logradouro');
            valida('#cadastro-juridica-numero');
            valida('#cadastro-juridica-bairro');
            valida('#cadastro-juridica-estado');
            valida('#cadastro-juridica-cidade');
            valida('#cadastro-juridica-senha');
            valida('#cadastro-juridica-confirma-senha');
            valida2('#cadastro-juridica-cnpj', 14);
            valida2('#cadastro-juridica-telefone', 10);
            valida2('#cadastro-juridica-cep', 8);

            //Exterior
            valida('#cadastro-exterior-nome');
            valida('#cadastro-exterior-pessoacontato');
            valida('#cadastro-exterior-email');
            valida('#cadastro-exterior-senha');
            valida('#cadastro-exterior-confirma-senha');
            valida2('#cadastro-exterior-telefone', 10);

            $('#cadastro-exterior-skype').blur(function () {
                if ($('#cadastro-exterior-skype').val().length > 0) {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            $('#cadastro-exterior-como-conheceu').blur(function () {
                if ($('#cadastro-exterior-como-conheceu').val() != "Selecione") {
                    $(this).css("border", "1px solid #00DD00");
                    $(this).css("background-color", "#f2fff2");
                } else {
                    $(this).css("border", "");
                    $(this).css("background-color", "");
                }
            });

            function valida(value) {
                $(value).blur(function () {
                    if ($(value).val().length > 0) {
                        $(this).css("border", "1px solid #00DD00");
                        $(this).css("background-color", "#f2fff2");
                    }
                    else {
                        $(this).css("border", "1px solid #DD0000");
                        $(this).css("background-color", "#fff2f2");
                    }
                });
            }

            function valida2(value, val) {
                $(value).blur(function () {
                    var xxx = $(this).mask();
                    if (xxx.length >= val) {
                        $(this).css("border", "1px solid #00DD00");
                        $(this).css("background-color", "#f2fff2");
                    }
                    else {
                        $(this).css("border", "1px solid #DD0000");
                        $(this).css("background-color", "#fff2f2");
                    }
                });
            }
            //Fim blur campos

            $('#cadastro-fisica-cpf').mask('999.999.999-99');
            $('#cadastro-fisica-cep').mask('99999-999');
            $('#cadastro-fisica-telefone').mask('(99) 99999999?9');
            $('#cadastro-exterior-telefone').mask('(99) 99999999');
            $('#cadastro-fisica-celular').mask('(99) 99999999?9');

            $('#cadastro-juridica-cnpj').mask('99.999.999/9999-99');
            $('#cadastro-juridica-cep').mask('99999-999');
            $('#cadastro-juridica-telefone').mask('(99) 99999999');
            $('#cadastro-juridica-celular').mask('(99) 99999999?9');

            $('#cadastro-fisica').validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    $('#cadastro-fisica-enviando').show();
                    $('#cadastro-fisica-enviar').hide();

                    var cpf = $('#cadastro-fisica-cpf').val();
                    var email = $('#cadastro-fisica-email').val();
                    if ($('#cadastro-fisica-cidade').val() === undefined || $('#cadastro-fisica-estado').val() === undefined || !$('#formEndfis').is(":visible")) {
                        $('#formEndfis').show();
                        alert('Você deve selecionar sua cidade e estado.');
                        $('#cadastro-fisica-estado').focus();
                        $('#cadastro-fisica-enviando').hide();
                        $('#cadastro-fisica-enviar').show();
                    } else {
                        $.post('@Url.Action("ValidarFisica")', { email: email, cpf: cpf }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#cadastro-fisica-enviando').hide();
                                $('#cadastro-fisica-enviar').show();
                            }
                        });
                    }
                },
                rules: {
                    'cadastro-fisica-nome': 'required',
                    'cadastro-fisica-cpf': 'required',
                    'cadastro-fisica-email': {
                        required: true,
                        email: true
                    },
                    'cadastro-fisica-cep': 'required',
                    'cadastro-fisica-logradouro': 'required',
                    'cadastro-fisica-numero': 'required',
                    'cadastro-fisica-bairro': 'required',
                    'cadastro-fisica-estado': 'required',
                    'cadastro-fisica-cidade': 'required',
                    'cadastro-fisica-telefone': 'required',
                    'cadastro-fisica-como-conheceu': 'required',
                    'cadastro-fisica-senha': 'required',
                    'cadastro-fisica-confirma-senha': {
                        required: true,
                        equalTo: '#cadastro-fisica-senha'
                    }
                },
                messages: {
                    'cadastro-fisica-nome': 'Preencha seu Nome Completo',
                    'cadastro-fisica-cpf': 'Preencha seu CPF',
                    'cadastro-fisica-email': {
                        required: "Digite seu Email",
                        email: "Digite um e-mail válido"
                    },
                    'cadastro-fisica-cep': 'Preencha seu CEP',
                    'cadastro-fisica-logradouro': 'Preencha o Logradouro',
                    'cadastro-fisica-numero': 'Preencha o Número',
                    'cadastro-fisica-bairro': 'Preencha o Bairro',
                    'cadastro-fisica-estado': 'Selecione um Estado',
                    'cadastro-fisica-cidade': 'Selecione uma Cidade',
                    'cadastro-fisica-telefone': 'Preencha seu Telefone',
                    'cadastro-fisica-como-conheceu': 'Selecione Como Conheceu',
                    'cadastro-fisica-senha': 'Preencha sua Senha',
                    'cadastro-fisica-confirma-senha': {
                        required: 'Preencha a Confirmação de Senha',
                        equalTo: 'A Senha e a Confirmação de Senha devem ser iguais'
                    }
                }
            });

            $('#cadastro-juridica').validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $('#cadastro-juridica-enviando').show();
                    $('#cadastro-juridica-enviar').hide();

                    var cnpj = $('#cadastro-juridica-cnpj').val();
                    var email = $('#cadastro-juridica-email').val();
                    if ($('#cadastro-juridica-cidade').val() === undefined || $('#cadastro-juridica-estado').val() === undefined || !$('#formEndJur').is(":visible")) {
                        $('#formEndJur').show();
                        alert('Você deve selecionar sua cidade e estado.');
                        $('#cadastro-juridica-estado').focus();
                        $('#cadastro-juridica-enviando').hide();
                        $('#cadastro-juridica-enviar').show();
                    } else {
                        $.post('@Url.Action("ValidarJuridica")', { email: email, cnpj: cnpj }, function (data) {
                            if (data == 'OK') {
                                form.submit();
                            } else {
                                alert(data);
                                $('#cadastro-juridica-enviando').hide();
                                $('#cadastro-juridica-enviar').show();
                            }
                        });
                    }
                },
                rules: {
                    'cadastro-juridica-razao-social': 'required',
                    'cadastro-juridica-inscricao-estadual': 'required',
                    'cadastro-juridica-cnpj': 'required',
                    'cadastro-juridica-pessoa-contato': 'required',
                    'cadastro-juridica-email': {
                        required: true,
                        email: true
                    },
                    'cadastro-juridica-telefone': 'required',
                    'cadastro-juridica-cep': 'required',
                    'cadastro-juridica-logradouro': 'required',
                    'cadastro-juridica-numero': 'required',
                    'cadastro-juridica-bairro': 'required',
                    'cadastro-juridica-estado': 'required',
                    'cadastro-juridica-cidade': 'required',
                    'cadastro-juridica-como-conheceu': 'required',
                    'cadastro-juridica-senha': 'required',
                    'cadastro-juridica-confirma-senha': {
                        required: true,
                        equalTo: '#cadastro-juridica-senha'
                    }
                },
                messages: {
                    'cadastro-juridica-razao-social': 'Preencha a Razão Social',
                    'cadastro-juridica-inscricao-estadual': 'Preencha a Inscrição Estadual',
                    'cadastro-juridica-cnpj': 'Preencha o CNPJ',
                    'cadastro-juridica-pessoa-contato': 'Preencha a Pessoa de Contato',
                    'cadastro-juridica-email': {
                        required: "Digite o Email",
                        email: "Digite um e-mail válido"
                    },
                    'cadastro-juridica-telefone': 'Preencha o Telefone',
                    'cadastro-juridica-cep': 'Preencha o CEP',
                    'cadastro-juridica-logradouro': 'Preencha o Logradouro',
                    'cadastro-juridica-numero': 'Preencha o Número',
                    'cadastro-juridica-bairro': 'Preencha o Bairro',
                    'cadastro-juridica-estado': 'Selecione um Estado',
                    'cadastro-juridica-cidade': 'Selecione uma Cidade',
                    'cadastro-juridica-como-conheceu': 'Selecione Como Conheceu',
                    'cadastro-juridica-senha': 'Preencha a Senha',
                    'cadastro-juridica-confirma-senha': {
                        required: 'Preencha a Confirmação de Senha',
                        equalTo: 'A Senha e a Confirmação de Senha devem ser iguais'
                    }
                }
            });

            $('#cadastro-exterior').validate({
                meta: "validate",
                invalidHandler: function (n, t) {
                    var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid()
                },
                submitHandler: function (form) {
                    $('#cadastro-fisica-enviando').show();
                    $('#cadastro-fisica-enviar').hide();

                    var email = $('#cadastro-exterior-email').val();
                    $.post('@Url.Action("ValidarFisicaExterior")', { email: email }, function (data) {
                        if (data == 'OK') {
                            form.submit();
                        } else {
                            alert(data);
                            $('#cadastro-fisica-enviando').hide();
                            $('#cadastro-fisica-enviar').show();
                        }
                    });
                },
                rules: {
                    'cadastro-exterior-nome': 'required',
                    'cadastro-exterior-email': {
                        required: true,
                        email: true
                    },
                    'cadastro-exterior-telefone': 'required',
                    'cadastro-exterior-pessoacontato': 'required',
                    'cadastro-exterior-como-conheceu': 'required',
                    'cadastro-exterior-senha': 'required',
                    'cadastro-exterior-confirma-senha': {
                        required: true,
                        equalTo: '#cadastro-exterior-senha'
                    }
                },
                messages: {
                    'cadastro-exterior-nome': 'Preencha seu Nome Completo',
                    'cadastro-exterior-email': {
                        required: "Digite seu Email",
                        email: "Digite um Email válido"
                    },
                    'cadastro-exterior-telefone': 'Preencha o Telefone de contato no Brasil',
                    'cadastro-exterior-pessoacontato': 'Preencha o nome da pessoa de contato no Brasil',
                    'cadastro-exterior-como-conheceu': 'Selecione Como Conheceu',
                    'cadastro-exterior-senha': 'Preencha sua Senha',
                    'cadastro-exterior-confirma-senha': {
                        required: 'Preencha a Confirmação de Senha',
                        equalTo: 'A Senha e a Confirmação de Senha devem ser iguais'
                    }
                }
            });

        });

        function Tipo(id) {
            switch (id) {
                case '1':
                    $('#Cadastro div.fisica').fadeIn();
                    $('#Cadastro div.juridica').hide();
                    $('#Cadastro div.exterior').hide();
                    break;
                case '2':
                    $('#Cadastro div.fisica').hide();
                    $('#Cadastro div.juridica').fadeIn();
                    $('#Cadastro div.exterior').hide();
                    break;
                case '3':
                    $('#Cadastro div.fisica').hide();
                    $('#Cadastro div.juridica').hide();
                    $('#Cadastro div.exterior').fadeIn();
                    break;
            }
        }

        $('#cadastro-tipo-exterior').click(function () {
            $('#Cadastro div.fisica').hide();
            $('#Cadastro div.juridica').hide();
            $('#Cadastro div.exterior').fadeIn();
        });
    </script>
}


<div id="Identificacao">
    <div class="Div">

        <h1 class="TituloPagina">Cadastre-se </h1>
        @if (Request.QueryString["msg"] == "sucesso")
        {
            <div class="message success">Seu cadastro foi realizado com sucesso! <br />Agora você já pode efetuar seus pedidos online!</div>
        }
        else
        {
            <h3 class="Texto">Dúvidas? Ligue para @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)!</h3>

            <div class="Div0">

                <div class="Div1" style="width:calc(100% - 20px);">

                    <div class="BarraCinza">
                        <table cellspacing="0" cellpadding="15" border="0" width="100%" id="TipoCadastro">
                            <tr>
                                <td>
                                    <input name="cadastro-tipo" type="radio" value="1" checked="checked" />
                                    <label>Pessoa Física</label>
                                </td>
                                <td>
                                    <input name="cadastro-tipo" type="radio" value="2" />
                                    <label>Pessoa Jurídica</label>
                                </td>
                                <td>
                                    <input name="cadastro-tipo" type="radio" value="3" />
                                    <label>Residente no exterior</label>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div id="Cadastro">
                        <div class="DivLinhaEsquerda"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
                        <div class="DivMeio2" style="text-align:left;">

                            <div class="fisica">
                                <form id="cadastro-fisica" method="post" action="@Url.Action("Index")">
                                    <input name="cadastro-tipo" type="hidden" value="1" />
                                    <input name="cadastro-redirect" type="hidden" value="@Request.QueryString["returnUrl"]" />

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">CPF:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-cpf" name="cadastro-fisica-cpf" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Nome Completo:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-nome" name="cadastro-fisica-nome" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Email:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-email" name="cadastro-fisica-email" type="text" class="FormCampoInput" value="@email" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Telefone 1:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-telefone" name="cadastro-fisica-telefone" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Telefone 2:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-celular" name="cadastro-fisica-celular" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">CEP:</div>
                                        <div class="FormCampo">
                                            <input id="cadastro-fisica-cep" name="cadastro-fisica-cep" type="text" class="FormCampoInput" style="width:65px;" />
                                            <a href="http://www.buscacep.correios.com.br/" target="_blank"> Buscar CEP</a><br />
                                            <span id="loading-fisica-cep" class="processando">buscando CEP...</span>
                                        </div>
                                    </div>
                                    <div id="formEndfis" style="display:none;">
                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Logradouro:</div>
                                            <div class="FormCampo"><input id="cadastro-fisica-logradouro" name="cadastro-fisica-logradouro" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Número:</div>
                                            <div class="FormCampo"><input id="cadastro-fisica-numero" name="cadastro-fisica-numero" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Complemento:</div>
                                            <div class="FormCampo"><input id="cadastro-fisica-complemento" name="cadastro-fisica-complemento" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Bairro:</div>
                                            <div class="FormCampo"><input id="cadastro-fisica-bairro" name="cadastro-fisica-bairro" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Estado:</div>
                                            <div class="FormCampo">
                                                <select class="FormCampoSelect" id="cadastro-fisica-estado" name="cadastro-fisica-estado">
                                                    <option value="">selecione um estado</option>
                                                    @foreach (var estado in estados.OrderBy(e => e.Nome))
                                                    {
                                                        <option value="@estado.ID">@estado.Sigla</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Cidade:</div>
                                            <div class="FormCampo"><select class="FormCampoSelect" id="cadastro-fisica-cidade" name="cadastro-fisica-cidade"></select></div>
                                        </div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-senha" name="cadastro-fisica-senha" type="password" class="FormCampoInput" class="FormCampoInput" /></div>

                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Confirme a Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-fisica-confirma-senha" name="cadastro-fisica-confirma-senha" type="password" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Como nos conheceu?</div>
                                        <div class="FormCampo">
                                            <select class="FormCampoSelect" id="cadastro-fisica-como-conheceu" name="cadastro-fisica-como-conheceu">
                                                <option>Selecione</option>
                                                <option value="google"> Google (www.google.com.br)</option>
                                                <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
                                                <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
                                                <option value="guia mais impresso">Guia Mais (lista impressa)</option>
                                                <option value="guia mais internet">Guia Mais (internet)</option>
                                                <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
                                                <option value="material impresso">Material Impresso (cartões, folders) </option>
                                                <option value="parceria corporativa">Parceria Corporativa </option>
                                                <option value="indicação de conhecidos">Indicação de Conhecidos </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Deseja receber os nossos e-mails?</div>
                                        <div class="FormCampo">
                                            <input type="checkbox" name="cadastro-fisica-receber-email" value="true" checked />
                                        </div>
                                    </div>

                                    <div class="FormDivBotao">       <input id="cadastro-fisica-enviar" class="FormBotao" name="cadastro-fisica-enviar" type="submit" value="CONTINUAR" onmousedown="_gaq.push(['_trackEvent', 'form', 'cadastro-pf', 'enviou'])" /><span id="cadastro-fisica-enviando" class="processando">enviado...</span></div>
                                </form>
                            </div>

                            <div class="juridica" style="display:none;">
                                <form id="cadastro-juridica" method="post" action="@Url.Action("Index")">
                                    <input name="cadastro-redirect" type="hidden" value="@Request.QueryString["returnUrl"]" />
                                    <input name="cadastro-tipo" type="hidden" value="2" />
                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Razão Social:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-razao-social" name="cadastro-juridica-razao-social" type="text" class="FormCampoInput" /></div>
                                    </div>
                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Nome Fantasia:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-nome-fantasia" name="cadastro-juridica-nome-fantasia" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Inscrição Estadual:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-inscricao-estadual" name="cadastro-juridica-inscricao-estadual" type="text" class="FormCampoInput" value="ISENTO" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">CNPJ:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-cnpj" name="cadastro-juridica-cnpj" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Pessoa de Contato:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-pessoa-contato" name="cadastro-juridica-pessoa-contato" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Email:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-email" name="cadastro-juridica-email" type="text" class="FormCampoInput" value="@email" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Telefone:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-telefone" name="cadastro-juridica-telefone" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Celular:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-celular" name="cadastro-juridica-celular" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">CEP:</div>
                                        <div class="FormCampo">
                                            <input id="cadastro-juridica-cep" name="cadastro-juridica-cep" type="text" class="FormCampoInput" style="width:100px;" />
                                            <a href="http://www.buscacep.correios.com.br/" target="_blank"> Buscar CEP</a><br />
                                            <span id="loading-juridica-cep" class="processando">buscando CEP...</span>
                                        </div>
                                    </div>

                                    <div class="FormDiv2" style="height: 32px;"></div>

                                    <div id="formEndJur" style="display: none;">
                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Logradouro:</div>
                                            <div class="FormCampo"><input id="cadastro-juridica-logradouro" name="cadastro-juridica-logradouro" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Número:</div>
                                            <div class="FormCampo"><input id="cadastro-juridica-numero" name="cadastro-juridica-numero" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Complemento:</div>
                                            <div class="FormCampo"><input id="cadastro-juridica-complemento" name="cadastro-juridica-complemento" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Bairro:</div>
                                            <div class="FormCampo"><input id="cadastro-juridica-bairro" name="cadastro-juridica-bairro" type="text" class="FormCampoInput" /></div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Estado:</div>
                                            <div class="FormCampo">
                                                <select class="FormCampoSelect" id="cadastro-juridica-estado" name="cadastro-juridica-estado">
                                                    <option value="">selecione um estado</option>
                                                    @foreach (var estado in estados.OrderBy(e => e.Nome))
                                                    {
                                                        <option value="@estado.ID">@estado.Sigla</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="FormDiv2">
                                            <div class="FormNomeCampo">Cidade:</div>
                                            <div class="FormCampo"><select class="FormCampoSelect" id="cadastro-juridica-cidade" name="cadastro-juridica-cidade"></select></div>
                                        </div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-senha" name="cadastro-juridica-senha" type="password" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Confirme a Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-juridica-confirma-senha" name="cadastro-juridica-confirma-senha" type="password" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Como nos conheceu?</div>
                                        <div class="FormCampo">
                                            <select class="FormCampoSelect" id="cadastro-juridica-como-conheceu" name="cadastro-juridica-como-conheceu">
                                                <option>Selecione</option>
                                                <option value="google"> Google (www.google.com.br)</option>
                                                <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
                                                <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
                                                <option value="guia mais impresso">Guia Mais (lista impressa)</option>
                                                <option value="guia mais internet">Guia Mais (internet)</option>
                                                <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
                                                <option value="material impresso">Material Impresso (cartões, folders) </option>
                                                <option value="parceria corporativa">Parceria Corporativa </option>
                                                <option value="indicação de conhecidos">Indicação de Conhecidos </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Deseja receber os nossos e-mails?</div>
                                        <div class="FormCampo">
                                            <input type="checkbox" name="cadastro-juridica-receber-email" value="true" checked />
                                        </div>
                                    </div>

                                    <div class="FormDivBotao">
                                        <input id="cadastro-juridica-enviar" class="FormBotao" name="cadastro-juridica-enviar" type="submit" value="CONTINUAR" onmousedown="_gaq.push(['_trackEvent', 'form', 'cadastro-pj', 'enviou'])" /><span id="cadastro-juridica-enviando" class="processando">processando...</span>
                                    </div>
                                </form>
                            </div>

                            <div class="exterior" style="display:none;">
                                <form id="cadastro-exterior" method="post" action="@Url.Action("Index")">
                                    <input name="cadastro-tipo" type="hidden" value="1" />
                                    <input name="cadastro-tipo-exterior" type="hidden" value="1" />
                                    <input name="cadastro-redirect" type="hidden" value="@Request.QueryString["returnUrl"]" />

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Nome Completo:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-nome" name="cadastro-exterior-nome" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Email:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-email" name="cadastro-exterior-email" type="text" class="FormCampoInput" value="@email" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Skype:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-skype" name="cadastro-exterior-skype" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Telefone de contato no Brasil:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-telefone" name="cadastro-exterior-telefone" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Nome do contato no Brasil:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-pessoacontato" name="cadastro-exterior-pessoacontato" type="text" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Como nos conheceu?</div>
                                        <div class="FormCampo">
                                            <select class="FormCampoSelect" id="cadastro-exterior-como-conheceu" name="cadastro-exterior-como-conheceu">
                                                <option>Selecione</option>
                                                <option value="google"> Google (www.google.com.br)</option>
                                                <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
                                                <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
                                                <option value="guia mais impresso">Guia Mais (lista impressa)</option>
                                                <option value="guia mais internet">Guia Mais (internet)</option>
                                                <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
                                                <option value="material impresso">Material Impresso (cartões, folders) </option>
                                                <option value="parceria corporativa">Parceria Corporativa </option>
                                                <option value="indicação de conhecidos">Indicação de Conhecidos </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-senha" name="cadastro-exterior-senha" type="password" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Confirme a Senha:</div>
                                        <div class="FormCampo"><input id="cadastro-exterior-confirma-senha" name="cadastro-exterior-confirma-senha" type="password" class="FormCampoInput" /></div>
                                    </div>

                                    <div class="FormDiv2">
                                        <div class="FormNomeCampo">Deseja receber os nossos e-mails?</div>
                                        <div class="FormCampo">
                                            <input type="checkbox" name="cadastro-exterior-receber-email" value="true" checked />
                                        </div>
                                    </div>

                                    <div class="FormDivBotao">  <input id="cadastro-exterior-enviar" class="FormBotao" name="cadastro-exterior-enviar" type="submit" value="CONTINUAR" onmousedown="_gaq.push(['_trackEvent', 'form', 'cadastro-pf-exterior', 'enviou'])" /><span id="cadastro-exterior-enviando" class="processando">enviando...</span></div>
                                </form>
                            </div>
                        </div>
                        <div class="DivLinhaDireita"><img src="/content/imagens/fita_lateral.png" class="DivLinhaImg" alt="Borda" /></div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>
