﻿@{ 
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Formas de Pagamento";
    ViewBag.Description = "Coroas de flores em até 18X c/ Frete Grátis. Confira nossas formas de pagamento e adquira já a sua!";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-formas").addClass("active");
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Formas de Pagamento</b></span> </div>
</div>
</div> 

<div id="FormasPagamento">
<div class="Div">

	<h1 class="TituloPagina">Formas de pagamento</h1>

	<div class="Div1">
		<div class="Div1Texto1">
        Com o objetivo de facilitar a sua homenagem fúnebre, o site Coroas Para Velório disponibiliza diversas formas de pagamento para sua coroa de flores.
        <br /><br />
        Seja pela internet ou pelo telefone, nós disponibilizamos pagamento por cartão de crédito, boleto bancário, faturamento para empresas, Pagseguro e Paypal.
        <br /><br />
        Temos formas de pagamento especiais para clientes Pessoa Jurídica. Clique aqui para conhecer nossas Soluções Corporativas.
        <br /><br />
        Veja melhor cada forma de pagamento que disponibilizamos.
        <br />
        </div>

		<div class="Opcoes">

			<div class="Opcoes1">
			<div class="OpcoesImg"><img src="/content/imagens/cartoes.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Cartão de crédito</b><br /><br />Aceitamos as principais bandeiras de cartão de crédito para facilitar a sua compra de coroa de flores. Esta opção de pagamento está disponível para todos os clientes (pessoa física ou pessoa jurídica).</div>
			</div>

			<div class="Opcoes1">
			<div class="OpcoesImg"><img src="/content/imagens/Boleto.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Boleto Bancário</b><br /><br />Ao optar por pagamento via boleto bancário o cliente possui 5 dias para o vencimento após a compra. Os dados necessários são Nome, CPF e Endereço Completo.</div>
			</div>

			@*<div class="Opcoes2">
			<div class="OpcoesImg"><img src="/content/imagens/bancos.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Transferência Bancária</b><br /><br />Trabalhamos com os principais bancos, como Itaú, Bradesco, Banco do Brasil, Caixa Econômica e Santander.</div>
			</div>*@
            <div class="Opcoes2">
                <div class="OpcoesImg"><img src="/content/imagens/Faturamento.png" width="132" height="73" border="0" alt="Icone" /></div>
                <div class="OpcoesTexto"><b>Faturamento Empresas</b><br /><br />Empresas que optem pelo faturamento pode realizar o pagamento em até 20 dias. Os dados necessários são Razão Social, CNPJ e Endereço Completo.</div>
            </div>
            
		</div>
		<div class="Opcoes">

			@*<div class="Opcoes1">
			<div class="OpcoesImg"><img src="/content/imagens/Faturamento.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Faturamento Empresas</b><br /><br />Empresas que optem pelo faturamento pode realizar o pagamento em até 20 dias. Os dados necessários são Razão Social, CNPJ e Endereço Completo.</div>
			</div>*@

			<div class="Opcoes1">
			<div class="OpcoesImg"><img src="/content/imagens/Pagseguro.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Pagseguro</b><br /><br />Utilizamos o intermediador de pagamentos do UOL para nossos clientes se sentirem mais confortáveis na hora de inserir os dados de cartão de crédito.</div>
			</div>

			<div class="Opcoes2">
			<div class="OpcoesImg"><img src="/content/imagens/Paypal.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Paypal</b><br /><br />Um dos maiores intermediadores de pagamento do mundo e muito usado para compras internacionais. Caso esteja fora do país é uma boa opção para pagamento.</div>
			</div>
		</div>

		<div class="SiteBlindado">
		<div class="SiteBlindadoSeguranca">SEGURANÇA</div>
		<div class="SiteBlindadoImagem"><img src="/content/imagens/site_blindado4.png" width="140" height="28" border="0" alt="Icone" /></div>
		<div class="SiteBlindadoTexto">Todas os seus dados estão seguros, pois o site Coroas Para Velório utiliza a segurança de criptografia do SITE BLINDADO. Caso tenha qualquer dúvida, <a href="https://selo.siteblindado.com.br/verificar?url=www.coroasparavelorio.com.br" target="_blank">clique aqui</a> e veja como funciona.</div>
		</div>

	</div>

	<div id="AindaTemDuvida">

		<div class="Div2Texto1">Ainda possui dúvidas?<br />Entre em contato conosco pelo <b>Chat</b> ou ligue para nossa <b>Central de Atendimento:</b> @configuracoes.SAC <b>(24h)</b></div>

		<div class="Div2Texto2">Ou acesse nossa seção de <a href="/duvidas-frequentes" class="Div2Texto3"><b>Perguntas Frequentes</b></a>.<br /><br />Para realizar a sua homenagem, veja nossa relação de <a href="/coroa-de-flores" class="Div2Texto3"><b>Coroas de Flores</b></a>.</div>

		<div class="Div2Texto4">Procure aqui o cemitério, velório, hospital, crematório ou cidade que deseja enviar coroas de flores:</div>

		<div class="DivBusca">
           <form method="get" action="@Url.Action("buscar", "local")">
			<div class="DivBusca2"><input type="text" id="local-termo" name="termo" class="DivBuscaInput busca_local" value="Encontre velórios ou cemitérios" onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" /></div>
			<div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
            </form>
		</div>

	</div>
    
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
 
</div>