﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        Layout = null;
        ViewBag.Title = "NPS - Coroas Para Velorio";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no,initial-scale=1" />
    <link href="../../Content/css/bootstrap-stars.css" rel="stylesheet" />
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53436225-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style type="text/css">

        #ContainerNote .pull-left{
            display: inline-block;
            float: none!important;
        }

        #ContainerNote div {
            margin-bottom: 10px;
        }

        .muitopouco{
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            top: 18px;
        }
        .moreComment {
            display: none;
        }

        input[type=checkbox] {
            zoom: 1;
            transform: scale(1);
            -ms-transform: scale(2);
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            -moz-transform: scale(2);
            transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            margin: 0px;
            margin-bottom: 5px !important;
        }

        header .nps-stars a {
            font-size: 3em !important;
            margin: 0 8px;
        }

        .br-theme-bootstrap-stars .br-widget a {
            font: normal normal normal 40px/1 'Glyphicons Halflings';
        }

        .br-widget > a::after {
            font-size: 60px;
            margin: 0 3px;
        }

        .br-theme-bootstrap-stars .br-widget a.br-selected:after {
            color: gold;
        }

        .br-theme-bootstrap-stars .br-widget a.br-active:after {
            color: gold;
        }

        .tituloRating {
            font-weight: normal;
            font-family: arial, helvetica, sans-serif;            
            margin-bottom: 10px;
        }

            .tituloRating > label {
                font-weight: normal;
                position: relative;
                left: 10px;
                top: 3px;                
                font-family: arial, helvetica, sans-serif; 
                 
            }

        #ContainerNote {
            max-width: 775px;
            margin: auto;
            font-weight: bold;
            font-size: 20px;
        }

            #ContainerNote div span {
                position: relative;
                top: -8px;
            }

        #last span {
            position: relative;
            left: -6px;
        }

        #ContainerNote div {
            border-radius: 30px;
            border: 2px solid #000000;
            padding: 20px;
            width: 55px;
            height: 55px;
            margin-right: 5px;
            cursor: hand;
            cursor: pointer;
        }

        #ContainerNote .red {
            color: #e00000;
        }

        #ContainerNote div.red {
            border-color: #e00000;
        }

        #ContainerNote div.selectedred {
            background-color: #e00000;
            color: white;
        }

        #ContainerNote .orange {
            color: #dc9600;
        }
        #ContainerNote .selectedorange {
            background-color: #dc9600;
            color: white;
        }

        #ContainerNote div.orange {
            border-color: #dc9600;
        }

        #ContainerNote .green {
            color: #0f8200;
        }
        #ContainerNote .selectedgreen {
            background-color: #0f8200;
            color: white;
        }

        #ContainerNote div.green {
            border-color: #0f8200;
        }
    </style>
    <!-- Jquery Plugins -->
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <title>@ViewBag.Title - Administrador Coroas para Velório</title>
    <link href="../../Content/neue/css/cpv.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $("#ContainerNote div").click(function () {
                    window.location = "/NPS/AtualizaNPSNew?Identi=@Request.QueryString["Identi"]&Nota=" + $(this).attr("rel");
                });

                $("#ContainerNote div").mouseover(function () {
                    var Nota = $(this).find('span').html();
                    Nota = parseInt(Nota);

                    if (Nota >= 0 && Nota <= 6) {
                        $("#ContainerNote div[rel='" + Nota + "']").addClass('selectedred');                        
                    }
                    if (Nota == 7 || Nota == 8) {
                        $("#ContainerNote div[rel='" + Nota + "']").addClass('selectedorange');
                    }
                    if (Nota == 9 || Nota == 10) {
                        $("#ContainerNote div[rel='" + Nota + "']").addClass('selectedgreen');
                    }
                });

                $("#ContainerNote div").mouseleave(function () {
                    var Nota = $(this).find('span').html();
                    Nota = parseInt(Nota);

                    if (!$(this).hasClass('active')) {
                        if (Nota >= 0 && Nota <= 6) {
                            $("#ContainerNote div[rel='" + Nota + "']").removeClass('selectedred');
                        }
                        if (Nota == 7 || Nota == 8) {
                            $("#ContainerNote div[rel='" + Nota + "']").removeClass('selectedorange');
                        }
                        if (Nota == 9 || Nota == 10) {
                            $("#ContainerNote div[rel='" + Nota + "']").removeClass('selectedgreen');
                        }
                    }
                });

                $("input[type=checkbox]")
                    .click(function () {
                        if ($(this).is(':checked')) {
                            $(".moreComment")
                                .fadeIn(function () {
                                    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
                                });
                        } else {
                            $(".moreComment")
                                .fadeOut(function () {
                                    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
                                });
                        }

                    });
            });
    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img style="width: 100%; max-width: 170px; position: relative; margin: auto; margin-top: 15px;"
                     src="https://www.coroasparavelorio.com.br/content/neue/img/coroas-para-velorio.png"
                     alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
            </div>
        </div>
        <br />
        <br />
        <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <h1>
                    Em uma escala de 0 a 10, o quanto você indicaria nossa empresa para um amigo?
                </h1>
                <hr />
            </div>
        </div>
        <div class="row">
          
            <div style="text-align: right;" class="col-lg-2 col-md-2 muitopouco hidden-xs hidden-md hidden-sm">
                Não Indicaria
            </div>

            <div class="col-lg-8 col-md-12 text-center nps-stars">
                <div id="ContainerNote">
                    @for (int i = 0; i <= 10; i++)
                    {
                        var ClassCor = "";
                        if (i >= 0 && i <= 6)
                        {
                            ClassCor = "red";
                        }
                        if (i >= 7 && i <= 8)
                        {
                            ClassCor = "orange";
                        }

                        if (i >= 9)
                        {
                            ClassCor = "green";
                        }

                        <div rel="@i" class="pull-left @ClassCor @if(int.Parse(Request.QueryString["Nota"]) >= i){ <text>active selected</text>@ClassCor }" @if (i == 10) { <text>id="last"</text>  } >
                            <span>@i</span>
                        </div>
                    }
                </div>
            </div>

            <div style="text-align: left;" class="col-lg-2 col-md-2 muitopouco  hidden-xs hidden-md hidden-sm">
                indicaria muito
            </div>
        </div>
        <div>
            <div style="text-align: center;" class="page-header">
                <h1>
                    @(ViewBag.NPSMEnsagem)
                </h1>
            </div>
            @{
                string URL = Url.Action("SalvarNew");
                URL += "?Nota=" + @Request.QueryString["Nota"];
            }

            <form method="post" action="@URL">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9 col-md-12">
                    </div>

                    @foreach (var Iten in (System.Data.Objects.DataClasses.EntityCollection<Domain.Entities.NPSPergunta_NEW>)ViewBag.NPSPerguntas)
                    {
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 tituloRating">
                            <input class="ck" type="checkbox" name="pergunta-@Iten.ID" value="true" id="pergunta-@Iten.ID" />
                            &nbsp;
                            <label class="control-label" for="pergunta-@Iten.ID">@Iten.Pergunta</label>
                        </div>
                    }

                </div>
                <div class="row moreComment">
                    <div style="text-align: center;" class="col-md-6 col-md-offset-3">
                        <br />
                        <p>
                            <b>Quer complementar sua resposta com alguma observação?</b>
                        </p>
                    </div>
                    <br />
                    <div style="text-align: center;" class="col-md-6 col-md-offset-3">
                        <textarea maxlength="3000" id="obs" name="obs" style="max-width: none; height:70px;" class="form-control col-md-6"></textarea>
                    </div>
                </div>
                <br />
                <div class="row moreComment">
                    <div class="col-md-12" style="text-align: center;">
                        <input id="Submit1" style="height: 40px; padding-top: 8px; text-transform: uppercase;" class="btn btn-success" type="submit" value="Enviar Minha Opinião" />
                        <input type="hidden" name="guid" id="guid" value="@Request.QueryString["Identi"]" value="Norway" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</body>
</html>



<script src="../../Scripts/bootstrap.min.js"></script>
<script src="../../Scripts/jquery.barrating.min.js"></script>
<script src="../../Scripts/nps.js"></script>