﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        Layout = null;
        ViewBag.Title = "Reports";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53436225-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Jquery Plugins -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <title>@ViewBag.Title - Administrador Coroas para Velório</title>
    <link href="../../Content/neue/css/cpv.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img style="width: 100%; max-width: 170px; position: relative; margin: auto; margin-top: 15px;"
                    src="https://www.coroasparavelorio.com.br/content/neue/img/coroas-para-velorio.png"
                    alt="Coroas para Velório - Coroas de Flores para todo o Brasil">
            </div>
        </div>
        <div style="text-align: center;" class="page-header">
            <h1>
                Obrigado Pelo Feedback!</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                @{
                    if ((string)ViewBag.Nota == "1" || (string)ViewBag.Nota == "2")
                    {
                    <p>
                        A sua pesquisa será direcionada para a equipe de QUALIDADE da empresa para que possamos
                        apurar e resolver o problema.
                    </p>
                    <br />
                    <p>
                        Agradecemos muito pelo seu feedback e nos comprometemos a melhorar
                    </p>
                    }
                    if ((string)ViewBag.Nota == "3")
                    {
                    <p>
                        Obrigado pela resposta! Temos trabalho pela frente para atingir 5 estrelas.
                    </p>
                    <br />
                    <p>
                        Seu feedback será passado para a área de OPERAÇÕES da empresa para que possamos
                        melhorar nosso serviço.
                    </p>
                    }
                    if ((string)ViewBag.Nota == "4")
                    {
                    <p>
                        Muito obrigado pela sua resposta!
                    </p>
                    <p>
                        Nós queremos chegar em 5 estrelas e vamos usar o seu feedback para melhorar ainda
                        mais o nosso serviço. Conte com a gente sempre que precisar! Conhece nosso Grupo
                        de solução completa em Flores? Acesse: <a href="http://www.grupolacosflores.com.br">
                            www.grupolacosflores.com.br</a>
                    </p>
                    }
                    if ((string)ViewBag.Nota == "5")
                    {
                    <p>
                        Nós agradecemos muito pelo seu feedback e estaremos sempre a sua disposição.
                    </p>
                    <br />
                    
                    <p>
                        Conhece nosso Grupo de solução completa em Flores? <a href="http://www.grupolacosflores.com.br">
                            www.grupolacosflores.com.br</a>
                    </p>
                    }
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <a class="btn btn-success" href="/">Voltar para o Site </a>
            </div>
        </div>
    </div>
</body>
</html>
