﻿@model Domain.Entities.Cliente

@{
    ViewBag.Title = Model == null ? "Novo Cliente" : "Edição do cliente " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
    var atendimentos = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Atendimento;
    var administrador = (Domain.Entities.Administrador)ViewBag.Administrador;
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Cliente" : "Edição do cliente " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Cliente", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.DataCadastro)
            @Html.HiddenFor(model => model.DataUltimoLogin)
            @Html.HiddenFor(model => model.DataAtualizacao)
            @Html.HiddenFor(model => model.NotaPlanoAcao)
            @Html.HiddenFor(model => model.NotaUltimoContato)
            @Html.HiddenFor(model => model.PessoaContato)
            @Html.HiddenFor(model => model.Skype)
            @Html.HiddenFor(model => model.LacosDataContato)
            @Html.HiddenFor(model => model.LacosInteresse)
            @Html.HiddenFor(model => model.LacosInteresseMotivo)
            @Html.HiddenFor(model => model.LacosEmailEnviado)
            @Html.HiddenFor(model => model.LacosDataEmailEnviado)
            @Html.HiddenFor(model => model.LacosNomeEmailEnviado)
            @Html.HiddenFor(model => model.LacosEnderecoEmailEnviado)
            @Html.HiddenFor(model => model.LacosTextoEmailEnviado)
            @Html.HiddenFor(model => model.LacosReuniaoAgendada)
            @Html.HiddenFor(model => model.LacosReuniaoAgendadaMotivo)
            @Html.HiddenFor(model => model.LacosDataProximoContato)
            @Html.HiddenFor(model => model.LacosTesteRealizado)
            @Html.HiddenFor(model => model.LacosStatusProspecaoID)
            @Html.HiddenFor(model => model.LacosDataMigracao)
            @Html.HiddenFor(model => model.ProblemaEmail)
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Nome</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>E-mail</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>E-mail secundário</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.EmailSecundario, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Tipo</label>
                <div class="mws-form-item small">
                    <input type="radio" name="TipoID" value="2" @((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaJuridica ? "checked='checked'" : "" : "") /> PJ
                    <input type="radio" name="TipoID" value="1" @((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaFisica ? "checked='checked'" : "" : "checked='checked'") /> PF
                </div>
            </div>
            <div class="mws-form-row">
                <label id="lblDocumento">@((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaFisica ? "CPF" : "CNPJ" : "CPF")</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div id="divEmpresa" style="@((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaJuridica ? "" : "display:none;" : "display:none;")">
                <div class="mws-form-row">
                    <label>Razão Social</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.RazaoSocial, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Nome Fantasia</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.NomeFantasia, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>IE</label>
                    <div class="mws-form-item small">
                        <select class="mws-textinput" id="TipoIE" name="TipoIE">
                            <option @{ if (Model != null && Model.TipoIE == 1) { <text> selected </text>  } } value="1">Isento</option>
                            <option @{ if (Model != null && Model.TipoIE == 2) { <text> selected </text>  } } value="2">Não Contribuinte</option>
                            <option @{ if (Model != null && Model.TipoIE == 3) { <text> selected </text>  } } value="3">Contribuinte</option>
                        </select>
                        @{
                            string ValorInscricaoEstadual = "";
                            if (Model != null)
                            {
                                ValorInscricaoEstadual = Model.InscricaoEstadual;
                            }
                            else
                            {
                                ValorInscricaoEstadual = "";
                            }
                        }

                        @if (Model != null && Model.TipoIE == 3)
                        {
                            @Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "mws-textinput OnlyNumber", maxlength = "200", @Value = ValorInscricaoEstadual })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "mws-textinput OnlyNumber", maxlength = "200", disabled = "disabled", @Value = ValorInscricaoEstadual })
                        }

                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Qtde Funcionários</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.QtdeFuncionarios, new { @class = "mws-textinput" })
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Senha </label>
                <div class="mws-form-item small">
                    @{var Senha = Model == null ? "" : Model.Senha;}
                    @Html.Password("Senha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Confirmação de senha </label>
                <div class="mws-form-item small">
                    @Html.Password("ConfirmacaoSenha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Telefone</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TelefoneContato, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Celular</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CelularContato, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>CEP</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })
                    <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Estado</label>
                <div class="mws-form-item small">
                    @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cidade</label>
                <div class="mws-form-item small">
                    @Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                    <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Logradouro</label>
                <div class="mws-form-item large">
                    @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Número</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Complemento</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Bairro</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Como conheceu</label>
                <div class="mws-form-item small">
                    <select id="ComoConheceu" name="ComoConheceu" class="mws-textinput">
                        <option value="" @(Model != null ? Model.ComoConheceu == "" ? "selected=selected" : "" : "")>-- selecione --</option>
                        <option value="google" @(Model != null ? Model.ComoConheceu == "google" ? "selected=selected" : "" : "")> Google (www.google.com.br)</option>
                        <option value="outros buscadores" @(Model != null ? Model.ComoConheceu == "outros buscadores" ? "selected=selected" : "" : "")>Outros Buscadores (Yahoo, Bing, etc)</option>
                        <option value="comparadores de preço" @(Model != null ? Model.ComoConheceu == "comparadores de preço" ? "selected=selected" : "" : "")>Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
                        <option value="guia mais impresso" @(Model != null ? Model.ComoConheceu == "guia mais impresso" ? "selected=selected" : "" : "")>Guia Mais (lista impressa)</option>
                        <option value="guia mais internet" @(Model != null ? Model.ComoConheceu == "guia mais internet" ? "selected=selected" : "" : "")>Guia Mais (internet)</option>
                        <option value="anunmcio revista/jornal" @(Model != null ? Model.ComoConheceu == "anunmcio revista/jornal" ? "selected=selected" : "" : "")>Anúncio Revista/Jornal </option>
                        <option value="material impresso" @(Model != null ? Model.ComoConheceu == "material impresso" ? "selected=selected" : "" : "")>Material Impresso (cartões, folders) </option>
                        <option value="parceria corporativa" @(Model != null ? Model.ComoConheceu == "parceria corporativa" ? "selected=selected" : "" : "")>Parceria Corporativa </option>
                        <option value="indicação de conhecidos" @(Model != null ? Model.ComoConheceu == "indicação de conhecidos" ? "selected=selected" : "" : "")>Indicação de Conhecidos </option>
                        <option value="Tradaq" @(Model != null ? Model.ComoConheceu == "Tradaq" ? "selected=selected" : "" : "")>Tradaq</option>
                    </select>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Produto Padrao</label>
                <div class="mws-form-item small">
                    <select name="ProdutoTamanhoIDPadrao" id="ProdutoTamanhoIDPadrao" class="mws-textinput"></select>
                    <span id="load_ProdutoTamanhoIDPadrao" class="carregando-branco">Buscando produtos...</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Desconto Padrão</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.DescontoPadrao, new { @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>NF Automática?</label>
                <div class="mws-form-item large">
                    @{
                        if (Model != null)
                        {
                            @Html.CheckBox("NFAutomatica", Model.NFAutomatica ?? false) <text>SIM</text>
                        }
                        else
                        {
                            <text><input data-val="true" id="NFAutomatica" name="NFAutomatica" type="checkbox" value="true"></text>
                        }
                    }

                </div>
            </div>
            @if (Model != null)
            {
                <div class="mws-form-row">
                    <label>Data de cadastro</label>
                    <div class="mws-form-item small">
                        @Model.DataCadastro.ToString("dd/MM/yyyy HH:mm")
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data de último login</label>
                    <div class="mws-form-item small">
                        @if (Model.DataUltimoLogin.HasValue)
                        {
                            @Model.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm")
                        }
                        else
                        {
                            <i>Ainda não se logou</i>
                        }
                    </div>
                </div>
            }
            <div class="mws-form-row">
                <label>Atendimento/Comercial</label>
                <div class="mws-form-item small">
                    @{int? atendimentoid = Model == null ? administrador.ID : Model.LacosAtendimentoID; }
                    @if (administrador.Perfil == Domain.Entities.Administrador.Perfis.Socios || administrador.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores)
                    {
                        @Html.DropDownListFor(model => model.LacosAtendimentoID, new SelectList(atendimentos, "ID", "Nome", atendimentoid), "-- selecione -- ", new { @class = "mws-textinput" })
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.LacosAtendimentoID)
                        @(Model != null ? Model.LacosAtendimentoID.HasValue ? Model.Administrador.Nome : "S/A" : "S/A")
                    }
                </div>
            </div>

            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
                            }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#DescontoPadrao").maskMoney({ allowZero: true });



            $.post('/Home/GetProdutosByOrigem/', { origem: 'Coroas Para Velório' }, function (data) {

                $("#load_ProdutoTamanhoIDPadrao").show();                
                if (data != undefined && data != "") {
                    for (var i = 0; i < data.length; i++) {
                        $("#ProdutoTamanhoIDPadrao").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                        $("#ProdutoTamanhoIDPadrao option:eq(" + (i + 1) + ")").attr('data-valor', data[i].Extra);
                    }

                    @{ 
                        if (Model != null)
                        {
                            <text>
                            $("#ProdutoTamanhoIDPadrao option[value=@Model.ProdutoTamanhoIDPadrao]").prop('selected', true);
                            </text>
                        }
                    }
                }
                $("#load_ProdutoTamanhoIDPadrao").hide();
            });

            $("#TipoIE").change(function () {

                if ($(this).val() == "1") {
                    $("#InscricaoEstadual").attr('disabled', 'disabled');
                    $("#InscricaoEstadual").val('ISENTO');
                }
                if ($(this).val() == "3") {
                    $("#InscricaoEstadual").removeAttr('disabled');
                    $("#InscricaoEstadual").val('');
                }
                if ($(this).val() == "2") {
                    $("#InscricaoEstadual").attr('disabled', 'disabled');
                    $("#InscricaoEstadual").val('NÃO CONTRIBUINTE');
                }
            });

            $('#clientes').addClass('active');
            $('#i_clientes').addClass('active');

            @if (Model == null)
        {
         <text>$("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });</text>
        }
        else if (Model.TipoID == 0 || Model.TipoID == 1)
        {
         <text>$("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });</text>
        }
        else if (Model.TipoID == 2)
        {
         <text>$("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });</text>
        }


            var pj = function () {
                if ($("input[name='TipoID']:checked").val() == "2")
                    return true;
                else
                    return false;
            };

            var pf = function () {
                if ($("input[name='TipoID']:checked").val() == "1")
                    return true;
                else
                    return false;
            };

            $("input[name='TipoID']").click(function () {
                if ($("input[name='TipoID']:checked").val() == "2") {
                    $("#divEmpresa").show();
                    $("#lblDocumento").html('CNPJ');
                    $("#Documento").mask('destroy');
                    $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
                } else {
                    $("#divEmpresa").hide();
                    $("#lblDocumento").html('CPF');
                    $("#Documento").mask('destroy');
                    $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
                }
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {

                    if ($("#TipoIE").val() == "3" && $("#InscricaoEstadual").val() == "" && $("input[name='TipoID']:checked").val() == "2") {
                        Swal.fire("Atenção!", "Preencha a inscrição estadual.", "error");
                    }
                    else {
                        form.submit();
                    }
                },
                rules: {
                    Nome: "required",
                    RazaoSocial: { required: pj },
                    InscricaoEstadual: { required: pj },
                    EstadoID: "required",
                    CidadeID: "required",
                    TipoID: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    EmailSecundario: {
                        email: true
                    },
                    Documento: {
                        required: true
                    },
                    TelefoneContato: "required"
                },
                messages: {
                    Nome: "O campo nome é obrigatório",
                    RazaoSocial: "O campo razão social é obrigatório",
                    InscricaoEstadual: "O campo IE é obrigatório",
                    EstadoID: "O campo estado é obrigatório",
                    CidadeID: "O campo estado é obrigatório",
                    TipoID: "O campo tipo é obrigatório",
                    Email: {
                        required: "O campo e-mail é obrigatório",
                        email: "Digite um e-mail válido"
                    },
                    EmailSecundario: {
                        email: "Digite um e-mail válido"
                    },
                    Documento: {
                        required: "O campo é obrigatório",
                        cpf: "Digite um CPF válido",
                        cnpj: "Digite um CNPJ válido"
                    },
                    TelefoneContato: "O campo telefone é obrigatório"
                }
            });
        });
    </script>
}