﻿@model IEnumerable<Domain.Entities.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientes').addClass('active');
            $('#i_clientes').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Clientes
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Cliente")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
        <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                <table>
                <tr>
                    <td>Data de Cadastro:</td>
                    <td colspan="4"><input type="text" name="datacadastro" id="datacadastro" value="@Request.QueryString["datacadastro"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Nome/Razão Social:</td>
                    <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>CPF/CNPJ:</td>
                    <td><input type="text" name="cpf" value="@Request.QueryString["cpf"]" autocomplete="off" style="width:150px;"/></td> 
                </tr>
                <tr>
                    <td colspan="2">Somente clientes migrados para Laços Corporativos:</td>
                    <td colspan="2"><input type="checkbox" name="migrados" id="migrados" @(Request.QueryString["migrados"] == "true" ? "checked=checked" : "") value="true"/></td>
                   
                </tr>  
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                </form> 
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Nome / Razão Social</th>
                        <th align="center">Tipo</th>
                        <th align="center">Telefones</th>
                        <th style="text-align:center; width:50px;">E-mail</th>
                        <th style="text-align:center;">Cidade/Estado</th>
                        <th style="text-align:center; width:150px;">Data de Cadastro</th>
                        <th style="text-align:center; width:150px;">Último Login</th>
                        <th style="text-align:center; width:150px;">Data de Atualização</th>
                        <th style="text-align:center; width:50px;">Pedidos</th>
                        <th style="text-align:center; width:50px;">Erros e-mail</th>
                        <th align="center">Ações</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)<br /><br />@item.RazaoSocial<br /><i>@item.NomeFantasia</i></td>
                        <td>@Domain.Helpers.EnumHelper.GetDescription(item.Tipo)</td>
                        <td style="text-align:center;">@item.TelefoneContato<br />@item.CelularContato</td>
                        <td style="text-align:center;">@item.Email</td>
                        <td style="text-align:center;">
                        @if(item.Cidade != null){
                            <text>@item.Cidade.Nome / @item.Cidade.Estado.Sigla</text>
                        }else{
                            <text>N/I</text>
                        }
                        </td>
                        <td style="text-align:center;">@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align:center;">@(item.DataUltimoLogin.HasValue?item.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm"):"Nunca logou")</td>
                        <td style="text-align:center;">@(item.DataAtualizacao.HasValue ? item.DataAtualizacao.Value.ToString("dd/MM/yyyy HH:mm") : "Nunca atualizou")</td>
                        <td style="text-align:center;"><a href="@Url.Action("List", "PedidosSite", new { clienteID = item.ID, datainicial = DateTime.Now.ToString("dd/MM/yyyy"), datafinal = DateTime.Now.ToString("dd/MM/yyyy") })">@item.Pedidoes.Count</a></td>
                        <td style="text-align:center;"><a href="/Cliente/ErrosEmail/@item.ID" target="_blank">@item.RetornoEmails.Count</a></td>
                        <td class="center">                        
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                            
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
                                    @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Atendimento && admin.Perfil != Domain.Entities.Administrador.Perfis.Fornecedores)
                                    {
                                        if(admin.Perfil != Domain.Entities.Administrador.Perfis.LacosCorporativos && admin.Perfil != Domain.Entities.Administrador.Perfis.Qualidade){
							            <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                                        }
                                        if(item.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica){
                                            if(!item.LacosDataMigracao.HasValue){
                                                <li style="width:162px;">@Html.ActionLink("Copiar para Laços", "Edit", "Empresa", new { cnpj = item.Documento }, new { @class = "mws-ic-16 ic-asterisk-orange" })</li>
                                            }else{
                                                <li style="width:162px;">@Html.ActionLink("Cadastro no Laços", "List", "Empresa", new { cnpj = item.Documento }, new { @class = "mws-ic-16 ic-view" })</li>
                                            }
                                        } 
                                        <li style="width:162px;">@Html.ActionLink("Guerra", "TelaGuerra", new { clienteid = item.ID }, new { @class = "mws-ic-16 ic-eye" })</li>    
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="10" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&cpf=@Request.QueryString["cpf"]&datacadastro=@Request.QueryString["datacadastro"]&pedidos=@Request.QueryString["pedidos"]&migrados=@Request.QueryString["migrados"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>
</div>