﻿@model Web.Models.ClienteModel
@{
    Layout = null;
}

@if (Model.Autenticado)
{

    <span>
        Olá, @Model.Nome!
    </span>
    if (Request.Path != "/V3" && Request.Path != "/empresas")
    {
        <span>
            <i class="icon_pencil-edit_alt"></i>
            <a href="@Url.Action("minha-conta", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">
                Cadastro
            </a>
        </span>
        <span>
            <i class="icon_document_alt"></i>
            <a href="@Url.Action("meus-pedidos", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'meus-pedidos']);">
                Pedidos
            </a>
        </span>
    }

        <span>
            <i class="icon_close_alt2"></i>
            <a id="usuario-menu-sair" href="/cliente/sair" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'sair']);">Sair</a>
        </span>

}

else if (Request.Path == "/V3")
{
    <span><i class="icon_profile"></i> <a href="@Url.Action("identificacao", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Identifique-se</a></span>
}

else if (Request.Path == "/empresas")
{
    <span><i class="icon_profile"></i> <a href="@Url.Action("identificacao", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Identifique-se</a></span>
}

else
{
    <span>Por favor,<i class="icon_id-2>"></i> <a href="@Url.Action("identificacao", "cliente")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'minha-conta']);">Identifique-se</a></span>
} 