﻿@model Domain.Entities.Cliente

@{
    ViewBag.Title = "Tela de Guerra";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var primeiropedido = Model.Pedidos.OrderBy(c => c.DataCriacao).FirstOrDefault();
    var pedidos = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado).SelectMany(c => c.PedidoItens).GroupBy(c => c.ProdutoTamanho.Produto);
    var vendaorigem = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado).GroupBy(c => c.OrigemForma);
    var pagamentos = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado).GroupBy(c => c.FormaPagamento);
    var ultimopedido = Model.Pedidos.OrderByDescending(c => c.DataCriacao).FirstOrDefault();
}
@section Scripts{
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/home.js")" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#cliente').addClass('active');
            $('#i_clientes').addClass('active');
            
        $("#formnotas").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Cliente/SalvarNotaPlanoAcao/', { id: @(Model.ID), NotaPlanoAcao: $('#NotaPlanoAcao').val() }, function (data) {
                    if (data == "ERRO") {
                        alert('A nota não foi salva automaticamente. Copie, dê um refresh na página e tente novamente.'); 
                    }  else{
                        submitted = true;
                        location.reload(true);
                        }
                });  
            },
            rules: { 
                NotaPlanoAcao: "required" 
            },
            messages: { 
                NotaPlanoAcao: "Digite o texto da nota" 
            }
        });
        
        $("#formnotasu").validate({
            meta: "validate",
            submitHandler: function (form) {
                $.post('/Cliente/SalvarNotaUltimoContato/', { id: @(Model.ID), NotaUltimoContato: $('#NotaUltimoContato').val() }, function (data) {
                    if (data == "ERRO") {
                        alert('A nota não foi salva automaticamente. Copie, dê um refresh na página e tente novamente.'); 
                    }  else{
                        submitted = true;
                        location.reload(true);
                        }
                });  
            },
            rules: { 
                NotaUltimoContato: "required" 
            },
            messages: { 
                NotaUltimoContato: "Digite o texto da nota" 
            }
        });
    });      
    $(function () {
        var data = [
                @{
                    var comma = "";
                    foreach (var item in vendaorigem)
                    {
                    <text>
                    @comma { label: "@item.Select(c => c.OrigemForma).FirstOrDefault()", data: @item.Count() }                        
                    </text>
                        comma = ",";
                    }
                }
            ];

        $.plot($("#mws-pie-1"), 
    	data, {
    		    series: {
    		        pie: { 
    		            show: true
    		        }
    		    }, 
    		    legend: {
    		        show:false
    		    }
    	});
              
    });  
</script> 
}
<div class="container">   
    <h3>Tela de Guerra @(Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? "de " + Model.Nome : "da empresa " + Model.RazaoSocial) - @Domain.Helpers.EnumHelper.GetDescription(Model.Tipo)</h3>

    <div class="mws-report-container clearfix">
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-building"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Data de cadastro</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@Model.DataCadastro.ToString("dd/MM/yyyy")</span>
            </span>
        </div>

        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-money-dollar"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Data do primeiro pedido</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@(primeiropedido!=null?primeiropedido.DataCriacao.ToString("dd/MM/yyyy"):"N/I")</span>
            </span>
        </div>
        @if (Model.QtdeFuncionarios.HasValue)
        {
        <div class="mws-report" style="cursor:default;">
            <span class="mws-report-icon mws-ic ic-report-user"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Total de Funcionários</span><br />
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;">@(Model.QtdeFuncionarios)</span>
            </span>
        </div>
        }
        <div class="mws-report" style="cursor:default;width:300px!important;">
            <span class="mws-report-icon mws-ic ic-lorry"></span>
            <span class="mws-report-content">
                <span class="mws-report-title">Último Pedido</span><br />
                @if (ultimopedido != null)
                {
                <span class="mws-report-value" style="padding-left:20px;padding-top:10px;font-size:12px;"><a href="/PedidosSite/Visualizar/@ultimopedido.ID" target="_blank">@ultimopedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")</a></span>
                }
                else
                {
                <span class="mws-report-value" style="padding-left:20px;font-size:12px;">Não fez pedido</span>
                }
            </span>
        </div> 
    </div>

    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Pedidos</span>
        </div>
        <div class="mws-panel-body"> 
                <table class="mws-table">
                <thead>
                    <tr> 
                        <th>Nome</th>
                        <th>Total Pedidos</th>
                        <th>Pedidos 3 meses</th>
                        <th>Pedidos 6 meses</th>
                        <th>Total Faturamento</th>
                        <th>Faturamento 3 meses</th>
                        <th>Faturamento 6 meses</th>
                        <th>Ticket Médio</th> 
                    </tr>
                </thead>
                <tbody> 
                @{
                    var _total = Model.Pedidos.Count(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado);
                    var _faturamento = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado).Sum(c => c.ValorTotal);
                    var _ticket = _total > 0 ? _faturamento / _total : 0;

                    var _total3 = Model.Pedidos.Count(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado && c.DataCriacao >= DateTime.Now.AddDays(-91));
                    var _faturamento3 = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado && c.DataCriacao >= DateTime.Now.AddDays(-91)).Sum(c => c.ValorTotal);
                    var _ticket3 = _total3 > 0 ? _faturamento3 / _total3 : 0;

                    var _total6 = Model.Pedidos.Count(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado && c.DataCriacao >= DateTime.Now.AddDays(-181));
                    var _faturamento6 = Model.Pedidos.Where(c => c.StatusProcessamento != Domain.Entities.Pedido.TodosStatusProcessamento.Cancelado && c.DataCriacao >= DateTime.Now.AddDays(-181)).Sum(c => c.ValorTotal);
                    var _ticket6 = _total6 > 0 ? _faturamento6 / _total6 : 0; 
                    }
                    <tr class="gradeX">
                        <td>@(Model.Tipo == Domain.Entities.Cliente.Tipos.PessoaFisica ? Model.Nome : Model.RazaoSocial)</td>
                        <td>@_total</td> 
                        <td>@_total3</td> 
                        <td>@_total6</td> 
                        <td>@_faturamento.ToString("C2")</td>
                        <td>@_faturamento3.ToString("C2")</td>
                        <td>@_faturamento6.ToString("C2")</td>
                        <td>@_ticket.ToString("C2")</td> 
                    </tr> 
                </tbody>
            </table>  
        </div>
    </div>
         
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-graph">Conversão Online x Offline</span>
        </div>
        <div class="mws-panel-body">
            <div class="mws-panel-content">
                <div id="mws-pie-1" style="width:100%; height:300px; "></div>
            </div>
        </div>
    </div> 
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-pencil">Plano de Ação</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("NotaPlanoAcao", "Cliente", FormMethod.Post, new { @class = "mws-form", id = "formnotas", name = "formnotas", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row"> 
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.NotaPlanoAcao, new { @class = "mws-textinput", style = "width:100%!important;", rows = "5" })
                        </div>
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarnota"/> 
                        <span id="processandonotas" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div> 
        </div>
    </div> 
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-pencil">Nota de Último Contato</span>
        </div>
        <div class="mws-panel-body"> 
                <div class="mws-form-block">
                @using (Html.BeginForm("NotaUltimoContato", "Cliente", FormMethod.Post, new { @class = "mws-form", id = "formnotasu", name = "formnotasu", enctype = "multipart/form-data" }))
                {
                    <div class="mws-form-row"> 
                        <label>Nova nota</label>
                        <div class="mws-form-item small">
                            @Html.TextAreaFor(model => model.NotaUltimoContato, new { @class = "mws-textinput", style = "width:100%!important;", rows = "5" })
                        </div>
                    </div>  
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviarnotau"/> 
                        <span id="processandonotasu" class="carregando-branco">Processando...</span>
                    </div>
                }
                </div> 
        </div>
    </div>  
    
     
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Produtos comprados</span>
        </div>
        <div class="mws-panel-body">
            <ul class="mws-summary">
                @foreach (var item in pedidos.OrderByDescending(c => c.Count()))
                {
                <li>
                    <span>@item.Count()</span> @item.Select(c => c.ProdutoTamanho.Produto.Nome).FirstOrDefault() -  @item.Select(c => c.ProdutoTamanho.Produto.Tipo).FirstOrDefault()
                </li>
                }
            </ul>
        </div>
    </div> 
    
    <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-books-2">Formas de Pagamento</span>
        </div>
        <div class="mws-panel-body">
            <ul class="mws-summary">
                @foreach (var item in pagamentos)
                {
                <li>
                    <span>@item.Count()</span> @Domain.Helpers.EnumHelper.GetDescription(item.Select(c => c.FormaPagamento).FirstOrDefault())
                </li>
                }
            </ul>
        </div>
    </div>   
</div>