﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
    var desconto = (Domain.Entities.Desconto)ViewBag.Desconto;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    bool temPromocao = false;
    var mensagemDesconto = "<span>* O desconto de itens na promoção da semana não são cumulativos e são prioritários aos demais descontos do site.</span>";
}
 
@*
@Html.Action("Caminho", "Pedido", new { posicao = 1 })
*@

<div id="Carrinho">
<div class="Div">

	<h1 class="TituloPagina">Meu carrinho</h1>

    @if (Model.Itens.Any())
    { 
        @*<input type="button" onclick="window.location = '@Url.Action("Limpar", "carrinho")'" value="Limpar carrinho" class="botaoCinza" /> *@
	    <div class="FinalizarCompra"><input type="image" src="/content/imagens/finalizar_compra.png"  onclick="showBox();" value="Finalizar compra" class="FinalizarCompraImg" id="FinalizarCompra" /></div> 
 
	    <div class="Linha1">
		    <div class="Linha1Coluna1">Produto</div>
		    <div class="Linha1Coluna2">Tamanho</div>
		    <div class="Linha1Coluna2">Valor</div>
		    <div class="Linha1Coluna4">Remover</div>
	    </div>
        
	    <div class="Degrade">
            @foreach (var item in Model.Itens)
            {
                var textoPromo = "";
                var valor = item.Valor.ToString("C2");

                if (promocao != null)
                {
                    if (promocao.PromocaoProdutoes.Count(c => c.ProdutoID == item.ProdutoTamanho.ProdutoID) > 0)
                    {
                        temPromocao = true;
                        if (Model.Cupom == null && temPromocao)
                        {
                            decimal valorDesconto = (item.Valor - (item.Valor * promocao.Desconto / 100));
                            textoPromo = "<i style='font-size:11px;color:#0066cc;'>Cora na promoção da semana com " + promocao.Desconto + "% de desconto.</i>";
                            valor = "<span style='font-size:12px'>De <del>" + valor + "</del> por</span><br>" + valorDesconto.ToString("C2");
                        }
                    }
                } 
		        <div class="LinhaProdutos">
			        <div class="LinhaProdutosColuna1">
				        <div class="LinhaProdutosFoto"><p><a href="@Url.RouteUrl("Produto", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })"><img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg"/></a></p></div>
				        <div class="LinhaProdutosNome"><p>@item.ProdutoTamanho.Produto.Nome<br />@Html.Raw(textoPromo)</p></div>
			        </div>
			        <div class="LinhaProdutosColuna2"><p>@item.ProdutoTamanho.Tamanho.Nome</p></div>
			        <div class="LinhaProdutosColuna3"><p>@Html.Raw(valor)</p></div>
			        <div class="LinhaProdutosColuna4">
                        <p>
                        <a href="javascript:void(0)" onclick="Carrinho.Remover(@item.ID, function() { window.location = window.location })">
                            <img src="/content/imagens/carrinho_excluir.png" class="LinhaProdutosExcluir" alt="Excluir produto" />
                        </a>
                        </p>
                    </div>
		        </div> 
            }
		    <div class="LinhaSubtotal" style="display:none;">
			    <div class="LinhaSubtotalColuna1">&nbsp;</div>
			    <div class="LinhaSubtotalColuna2"><p>SUBTOTAL</p></div>
			    <div class="LinhaSubtotalColuna3"><p>@Model.Subtotal.ToString("c2")</p></div>
			    <div class="LinhaSubtotalColuna4">&nbsp;</div>
		    </div> 
		    <div class="LinhaSubtotal">
			    <div class="LinhaSubtotalColuna1">&nbsp;</div>
			    <div class="LinhaSubtotalColuna2"><p>FRETE</p></div>
			    <div class="LinhaSubtotalColuna3"><p>GRÁTIS</p></div>
			    <div class="LinhaSubtotalColuna4">&nbsp;</div>
		    </div>            
		    <div class="LinhaDesconto">
			    <div class="LinhaDescontoColuna1">
				    <div class="LinhaDescontoCupom"><p>Cupom de desconto</p></div>
				    <div class="LinhaDescontoCupom3">
                        @if (Model.Cupom != null)
                        {
                            
                            if (Model.Cupom.Tipo == Domain.Entities.Cupom.Tipos.Porcentagem)
                            {
                                <div class="LinhaDescontoCupom2"><p>@Model.Cupom.Codigo @("(" + Model.Cupom.Valor + "%)")</p></div>
                            } 
                            <div class="LinhaDescontoCupom2"><p><input type="button" value="Remover" class="LinhaDescontoCupomAplicar" onclick="Carrinho.RemoverCupom();"/></p></div>
                        }
                        else
                        {
				            <div class="LinhaDescontoCupom2"><p><input type="text" class="LinhaDescontoCupomInput Cupom2" /></p></div>
				            <div class="LinhaDescontoCupom2"><p><input type="button" value="Aplicar" class="LinhaDescontoCupomAplicar" onclick="Carrinho.AplicarCupom();"/></p></div>
                        }
				    </div>
			    </div>
                 @if (Model.Cupom != null)
                 {
			    <div class="LinhaDescontoColuna2"><p>DESCONTO</p></div>
			    <div class="LinhaDescontoColuna3"><p>@((-Model.Desconto).ToString("c2"))</p></div>
                 }
			    <div class="LinhaDescontoColuna4">&nbsp;</div>
		    </div>             
		    <div class="LinhaTotal">
			    <div class="LinhaTotalColuna1">&nbsp;</div>
			    <div class="LinhaTotalColuna2"><p>TOTAL</p></div>
			    <div class="LinhaTotalColuna2"><p>@Model.Total.ToString("c2")</p></div>
			    <div class="LinhaTotalColuna4">&nbsp;</div>
		    </div>
	    </div>
               
	    <div class="LinhaBotoes">
    
        @if (!temPromocao)
        {
            var mensagem = "";
            if (desconto != null)
            {
                if (desconto.Ativo)
                {
                    var valor = "";

                    if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Percentual)
                    {
                        valor = desconto.Valor.ToString("N0") + "%";
                    }
                    else if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Valor)
                    {
                        valor = desconto.Valor.ToString("C2");
                    }

                    switch (desconto.RegraID)
                    {
                        case ((int)Domain.Entities.Desconto.Regras.APartirDeValor):
                            mensagem += "Compras acima de " + desconto.Referencia.ToString("C2") + " com " + valor + " de desconto! *";
                            break;
                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMaiorValor):
                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMenorValor):
                            mensagem += "O segundo produto com " + valor + " de desconto! *";
                            break;
                        case ((int)Domain.Entities.Desconto.Regras.EmTodoSite):
                            mensagem += "Na compra do segundo produto, ganhe " + valor + " de desconto! *";
                            break;
                    }
                }
            }
		    <div class="LinhaBotoesAproveite">
		    <div class="LinhaBotoesAproveite1"><b>APROVEITE!</b><br />@mensagem</div>
		    <div class="LinhaBotoesAproveite2">
            <input type="image" src="/content/imagens/seta_aproveite.png" onclick="window.location = '@Url.Action("Index", "flores")'" value="Adicionar Produto" class="LinhaBotoesAproveiteSeta"/>
            </div>
		    </div>

	       }
	    </div>
	    <div class="LinhaBotoes">
		    <div class="LinhaBotoes2"><input type="image" onclick="showBox();" src="/content/imagens/finalizar_compra.png" class="LinhaBotoesFinalizar" alt="Finalizar compra" /></div>
		    <div class="LinhaBotoes1"><input type="image" onclick="window.location = '@Url.Action("Index", "flores")'" src="/content/imagens/adicionar_outro_produto.png" class="LinhaBotoesAdicionar" alt="Adicionar outro produto" /></div>
            
	    </div>
    
        if (!temPromocao)
        {
            <div class="LinhaTextoDesconto">
            @Html.Raw(mensagemDesconto)
            </div>
        }
    }
    else
    {        
        <div class="LinhaTextoDesconto">
            Não há itens em seu carrinho, por favor, navegue pelas opções do menu ou <a href="/">clique aqui</a> para retornar ao catálogo.
        </div>
    } 
</div>
</div> 


<div id="Carrinho2">
<div class="Div">

	<h1 class="TituloPagina">Meu carrinho</h1>
	<div class="FinalizarCompra"><input type="image" src="/content/imagens/finalizar_compra.png"  onclick="showBox();" value="Finalizar compra" class="FinalizarCompraImg" id="FinalizarCompra" /></div> 
 
	<div class="Linha1">
		<div class="Linha1Coluna1">Produto</div>
	</div>

    <div class="Degrade">
            @foreach (var item in Model.Itens)
            {
                var textoPromo = "";
                var valor = item.Valor.ToString("C2");

                if (promocao != null)
                {
                    if (promocao.PromocaoProdutoes.Count(c => c.ProdutoID == item.ProdutoTamanho.ProdutoID) > 0)
                    {
                        temPromocao = true;
                        if (Model.Cupom == null && temPromocao)
                        {
                            decimal valorDesconto = (item.Valor - (item.Valor * promocao.Desconto / 100));
                            textoPromo = "<i style='font-size:11px;color:#0066cc;'>Cora na promoção da semana com " + promocao.Desconto + "% de desconto.</i>";
                            valor = "<span style='font-size:12px'>De <del>" + valor + "</del> por</span><br>" + valorDesconto.ToString("C2");
                        }
                    }
                } 
		        <div class="LinhaProdutos"> 
				    <div class="LinhaProdutosFoto"><p><a href="@Url.RouteUrl("Produto", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })"><img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg"/></a></p></div>
                    
			        <div class="LinhaProdutosDados">
				        <div class="LinhaProdutosNome">@item.ProdutoTamanho.Produto.Nome<br />@Html.Raw(textoPromo)</div>
				        <div class="LinhaProdutosTamanho">@item.ProdutoTamanho.Tamanho.Nome</div>
				        <div class="LinhaProdutosValor">@Html.Raw(valor)</div>
				        <div class="LinhaProdutosExcluir">
					        <div class="LinhaProdutosExcluir1">                            
                            <a href="javascript:void(0)" onclick="Carrinho.Remover(@item.ID, function() { window.location = window.location })">
                                <img src="/content/imagens/carrinho_excluir.png" class="LinhaProdutosExcluirImg" alt="Excluir produto" />
                            </a>
                            </div>
					        <div class="LinhaProdutosExcluir2"><a href="javascript:void(0)" onclick="Carrinho.Remover(@item.ID, function() { window.location = window.location })">Excluir produto</a></div>
				        </div>
			        </div>  
		        </div> 
            }
		    <div class="LinhaSubtotal" style="display:none;"> 
			    <div class="LinhaSubtotalColuna1"><p>SUBTOTAL</p></div>
			    <div class="LinhaSubtotalColuna2"><p>@Model.Subtotal.ToString("c2")</p></div> 
		    </div> 
		    <div class="LinhaSubtotal"> 
			    <div class="LinhaSubtotalColuna1"><p>FRETE</p></div>
			    <div class="LinhaSubtotalColuna2"><p>GRÁTIS</p></div> 
		    </div>            
		    <div class="LinhaDesconto">
			    <div class="LinhaSubtotalColuna1">
				    <div class="LinhaDescontoCupom"><p>Cupom de desconto</p></div>
				    <div class="LinhaDescontoCupom3">
                        @if (Model.Cupom != null)
                        {

                            if (Model.Cupom.Tipo == Domain.Entities.Cupom.Tipos.Porcentagem)
                            {
                                <div class="LinhaDescontoCupom2"><p>@Model.Cupom.Codigo @("(" + Model.Cupom.Valor + "%)")</p></div>
                            } 
                            <div class="LinhaDescontoCupom2"><p><input type="button" value="Remover" class="LinhaDescontoCupomAplicar" onclick="Carrinho.RemoverCupom();"/></p></div>
                        }
                        else
                        {
				            <div class="LinhaDescontoCupom2"><p><input type="text" class="LinhaDescontoCupomInput Cupom1" /></p></div>
				            <div class="LinhaDescontoCupom2"><p><input type="button" value="Aplicar" class="LinhaDescontoCupomAplicar" id="cupomShow" onclick="Carrinho.AplicarCupom();"/></p></div>
                        }
				    </div>
			    </div>
@if (Model.Cupom != null)
{
			    <div class="LinhaDescontoColuna2"><p>DESCONTO</p></div>
			    <div class="LinhaSubtotalColuna2"><p>@((-Model.Desconto).ToString("c2"))</p></div> 
}
		    </div>             
		    <div class="LinhaTotal"> 
			    <div class="LinhaSubtotalColuna1"><p>TOTAL</p></div>
			    <div class="LinhaTotalColuna2"><p>@Model.Total.ToString("c2")</p></div> 
		    </div>
	    </div>
       
       
	    <div class="LinhaBotoes">
    
        @if (!temPromocao)
        {
            var mensagem = "Adicione outro produto";
            if (desconto != null)
            {
                if (desconto.Ativo)
                {
                    var valor = "";

                    if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Percentual)
                    {
                        valor = desconto.Valor.ToString("N0") + "%";
                    }
                    else if (desconto.Tipo == Domain.Entities.Desconto.Tipos.Valor)
                    {
                        valor = desconto.Valor.ToString("C2");
                    }

                    switch (desconto.RegraID)
                    {
                        case ((int)Domain.Entities.Desconto.Regras.APartirDeValor):
                            mensagem += " com " + valor + " de desconto nas compras a partir de " + desconto.Referencia.ToString("C2") + "! *";
                            break;
                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMaiorValor):
                        case ((int)Domain.Entities.Desconto.Regras.APartirDoSegundoProdutoMenorValor):
                            mensagem += " com " + valor + " de desconto a partir do 2ª produto! *";
                            break;
                        case ((int)Domain.Entities.Desconto.Regras.EmTodoSite):
                            mensagem += " com " + valor + " de desconto em todo o site! *";
                            break;
                    }
                }
            }
		    <div class="LinhaBotoesAproveite">
		    <div class="LinhaBotoesAproveite1"><b>APROVEITE!</b><br />@mensagem</div>
		    <div class="LinhaBotoesAproveite2">
            <input type="image" src="/content/imagens/seta_aproveite.png" onclick="window.location = '@Url.Action("Index", "flores")'" value="Adicionar Produto" class="LinhaBotoesAproveiteSeta"/>
            </div>
		    </div>
        }
	    </div>
    
        @if (!temPromocao)
        {
            <div class="LinhaTextoDesconto">
            @Html.Raw(mensagemDesconto)
            </div>
        }  
            
	    <div class="LinhaBotoes">
		    <div class="LinhaBotoes2"><input type="image" onclick="showBox();" src="/content/imagens/finalizar_compra.png" class="LinhaBotoesFinalizar" alt="Finalizar compra" /></div>
		    <div class="LinhaBotoes1"><input type="image" onclick="window.location = '@Url.Action("Index", "flores")'" src="/content/imagens/adicionar_outro_produto.png" class="LinhaBotoesAdicionar" alt="Adicionar outro produto" /></div>
            
	    </div>
         
</div>
</div>

@section Script{
    @if (Model.Cupom != null && temPromocao)
    {
        <script type="text/javascript">
            alert('Atenção, o desconto na utilização do cupom não é cumulativo aos itens em promoção da semana. \n\nNessas condições, o valor do produto volta ao valor original.');
        </script>
    }
    
     @if (!ViewBag.Cliente)
     {
         <script type="text/javascript">
             function showBox() {
                 $('.backgrounder').fadeIn('200');
             }    
         </script>
     }
     else
     {
          <script type="text/javascript">
              function showBox() {
                  window.location = "/pedido";
              }    
         </script>
     }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.LinhaDescontoCupomAplicar').click(function () {
                $('.LinhaDescontoColuna2').show();
                $('.LinhaDescontoColuna3').show();
            });
        });

        //Validação Email
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $(document).ready(function () {
            $("#enviarEmail").click(function () {
                if (validateEmail($("#capture-mail").val())) {
                    window.location = "/carrinho/VerificarEmail/" + $("#capture-mail").val();
                }
                else {
                    alert("Digite um E-mail Valido.");
                }
            });

            $("#closeBox").click(function () {
                $(".backgrounder").fadeOut("200");
            });
        });
    </script>
}