﻿@model Domain.Entities.Carrinho   
@{
    Layout = null;
}
<div class="CarrinhoM">
<a href="/carrinho"><img src="/content/imagens/carrinho3.png" class="CarrinhoM2" alt="Carrinho" /></a>
<div class="CarrinhoMQtde"><a href="/carrinho">@Model.Itens.Count</a></div>
</div>