﻿@{
    Layout = null;
    int posicao = Convert.ToInt32(ViewBag.Posicao);    
}
<div class="CaminhoGrande qlassik">
    <div class="um-quarto @((posicao == 1) ? "atual" : (posicao > 1) ? "ativo":"")">
        <span>1</span>
        <a href="@((posicao >= 1) ? Url.Action("Index", "carrinho") : "#")">Meu Carrinho</a>
    </div>
    <div class="um-quarto @((posicao == 2) ? "atual" : (posicao > 2) ? "ativo":"")">
        <span>2</span>
        <a href="@((posicao >= 2) ? Url.Action("identificacao", "cliente") : "#")">Identificação</a>
    </div>
    <div class="um-quarto @((posicao == 3) ? "atual" : (posicao > 3) ? "ativo":"")">
        <span>3</span>
        <a href="@((posicao >= 3) ? Url.Action("Index", "pedido") : "#")">Pedido</a>
    </div>
    <div class="um-quarto @((posicao == 4) ? "atual" : (posicao > 4) ? "ativo":"")">
        <span>4</span>
        <a href="@((posicao >= 4) ? Url.Action("Index", "confirmacao") : "#")">Confirmação</a> 
    </div>
</div>

