﻿@model Domain.Entities.Pedido

@{
    ViewBag.Title = "Pedido realizado com sucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{ 
   
}

<div id="CompraConcluida">
    <div class="Div">

        <h1 class="TituloPagina">Confirmação</h1>

        <div class="Obrigado"><img src="/content/imagens/obrigado.png" class="Obrigado2" alt="Obrigado" /></div>
        <div class="Obrigado3"><img src="/content/imagens/obrigado.png" class="Obrigado4" alt="Obrigado" /></div>
        <div class="Linha3">
            Obrigado por visitar nosso site e fazer aqui a sua compra.<br />
            Pedidos sujeitos à análise e confirmação de seus dados cadastrais e de entrega.
        </div>
        <div class="Separacao2">&nbsp;</div>

    </div>
</div>

