﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";

    var cliente = (Domain.Entities.Cliente)ViewBag.Cliente;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
 

@section Script{ 
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>
    <script type="text/javascript">

        $(window).resize(function() {
            if($('#painel').css('display') != 'none'){
                showPainel();
            }
        });

        $(document).ready(function () {


            if(popupBloqueada){
                $('#shopline-mensagem').show();
            }else{
                $('#shopline-mensagem').hide();
                }

            $('#data-entrega').mask('99/99/9999');
            $('#data-entrega').datepicker();
            $('#hora-entrega').mask('99:99');
            $('#cartao-validade').mask('99/99');
            $('#cartao-numero').mask('99999999999999?99');
            $('#cartao-codigo').mask('999?9');

            $('#estado').val('');
            $('#estado').change(function(){
                var estado = $('#estado').val();
                $('#cidade').html('');
                if(estado != ''){
                    Local.Cidades(estado, function(data){
                        var html = '<option value="">selecione a cidade</option>';
                        for(var c in data){
                            var cidade = data[c];
                            html += '<option value="' + cidade.ID + '">' + cidade.Nome + '</option>';
                        }
                        $('#cidade').html(html);
                    });
                }
            });

        });


        function showPainel(){
            $('#painel').css("width", $(document).width());
            $('#painel').css("height", $(document).height());
            $('#painel div').css("margin-top", $(document).height()/2);
            $('#painel').show();
        }

        function hidePainel(){
            $('#painel').hide();
        }

        function Frase(id, obj){
            $('#frase-' + id).val($(obj).val());
            $('#frase-' + id).focus();
        }

        function Selecionar(meioPagamento){
            switch(meioPagamento){
                case 'CartaoCredito':
                    break;
                case 'Boleto':
                    $('.form-pagamento').hide();
                    $('#Formulario-Boleto').show();
                    break;
                case 'PagSeguro':
                    $('.form-pagamento').hide();
                    $('#Formulario-PagSeguro').show();
                    break;
                case 'PayPal':
                    $('.form-pagamento').hide();
                    $('#Formulario-PayPal').show();
                    break;
                case 'Shopline':
                    $('.form-pagamento').hide();
                    $('#Formulario-Shopline').show();
                    break;
                case 'Faturamento':
                    $('.form-pagamento').hide();
                    $('#Formulario-Faturamento').show();
                    break;
            }
        }

        function Pagar(meioPagamento){
            if(Validar()){
                var pessoaHomenageada = $('#pessoa-homenageada').val();
                var grauParentesco = $('#grau-parentesco').val();
                var localEntrega = $('#local-entrega').val();
                var telefoneContato = $('#telefone-contato').val();
                var dataEntrega = $('#data-entrega').val();
                var horaEntrega = $('#hora-entrega').val();
                var observacoes = $('#observacoes').val();

                switch(meioPagamento){
                    case 'CartaoCredito':
                        var bandeira = $('#cartao-bandeira').val();
                        var nome = $('#cartao-nome').val();
                        var numero = $('#cartao-numero').val();
                        var validade = $('#cartao-validade').val();
                        var codigo = $('#cartao-codigo').val();
                        var parcela = $('#cartao-parcela').val();

                         $('#cartao-bandeira').val('');
                         $('#cartao-nome').val('');
                         $('#cartao-numero').val('');
                         $('#cartao-validade').val('');
                         $('#cartao-codigo').val('');

                        var erros = '';
                        var quantidade = 0;

                        if(nome == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Nome Impresso no Cartão';
                        }
                        if(numero == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Número do Cartão';
                        }
                        if(validade == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Validade do Cartão';
                        }
                        if(codigo == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Código de Segurança';
                        }

                        if(quantidade > 0){
                            if(quantidade > 1){
                                erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                            }
                            alert(erros);
                        }else{
                            $('.FormBotao').hide();
                            showPainel();

                            var CardHashRetorno = "";
                            PagarMe.encryption_key = "@((Domain.Core.Configuracoes.PagarMe_DefaultCriptKey))";

                            var creditCard = new PagarMe.creditCard();
                            creditCard.cardHolderName = nome;
                            creditCard.cardExpirationMonth = validade.substring(0, 2);
                            creditCard.cardExpirationYear = validade.substring(3, 5);
                            creditCard.cardNumber = numero;
                            creditCard.cardCVV = codigo;

                            creditCard.generateHash(function(hash) {
                                $.ajax({
                                    url: '/Pedido/Pagar',
                                    type: "POST",
                                    dataType: 'json',
                                    data: {
                                        bandeira: bandeira,
                                        nome: nome,
                                        numero: numero,
                                        validade: validade,
                                        codigo: codigo,
                                        parcela: parcela,                                        
                                        dataSolicitada: dataEntrega + ' ' + horaEntrega,
                                        formaPagamento: @((int)(Domain.Entities.Pedido.FormasPagamento.CartaoCredito)),
                                        localEntrega: localEntrega,
                                        meioPagamento: @((int)(Domain.Entities.Pedido.MeiosPagamento.PagarMe)),
                                        observacoes: observacoes,
                                        pessoaHomenageada: pessoaHomenageada,
                                        cardHash: hash,
                                        cidadeID: 8570,
                                        estadoID: 26
                                    },
                                    success: function (data) {
                                        if(data.Retorno == 'Paid'){
                                            Redirecionar(data.Codigo);
                                        }else{
                                            alert('Transação negada, por favor, tente novamente ou utilize outro meio de pagamento!\n\n' + data.Retorno + ' - ' + data.Mensagem);
                                            hidePainel();
                                            habilita();
                                            $('.FormBotao').show();
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        hidePainel();
                                        error("Ocorreu um erro ao processar seu pedido. Entre em contato pelo telefone 0800-777-1986 para verificar o status.\n\nErro: " + xhr.status + "\nDescrição: " + thrownError);
                                    }
                                });
                            });

                        }

                        break;

                    case 'Boleto':
                    case 'Faturamento':
                        showPainel();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Boleto)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Boleto)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                Redirecionar(data.Codigo);
                            },
                            function (error) {
                                hidePainel();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;

                    case 'PagSeguro':
                        showPainel();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PagSeguro)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#reference').val(data.Codigo);
                                $('#form-pagseguro').submit();
                            },
                            function (error) {
                                hidePainel();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;

                    case 'PayPal':
                        showPainel();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PayPal)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#paypal-custom').val(data.Codigo);
                                $('#return').val($('#return').val() + "?codigo=" + data.Codigo);
                                $('#form-paypal').submit();
                            },
                            function (error) {
                                hidePainel();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;

                    case 'Shopline':
                        showPainel();
                        $('.FormBotao').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Shopline)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                Shopline.GerarDC(data.Codigo,
                                    function(dc){
                                        $('#shopline-dc').val(dc);
                                        $('#form-shopline').closest('form').attr('target', 'new').submit().removeAttr('target');
                                        //$('#form-shopline').submit();
                                        //Redirecionar(data.Codigo);
                                    },
                                    function () {
                                        alert('Não foi possível criar seu pedido. Tente novamente com outra forma de pagamento.');
                                        hidePainel();
                                        $('.FormBotao').show();
                                    }
                                );
                            },
                            function (error) {
                                hidePainel();
                                $('.FormBotao').show();
                                alert(error);
                            }
                        );
                        break;
                }
            }
        }

        function Redirecionar(codigo){
            window.location = '@Url.Action("confirmacao", "pedido")?codigo=' + codigo;
        }

        function Validar(){
            var pessoaHomenageada = $('#pessoa-homenageada').val();
            var grauParentesco = $('#grau-parentesco').val();
            var localEntrega = $('#local-entrega').val();
            var estado = $('#estado').val();
            var cidade = $('#cidade').val();
            var telefoneContato = $('#telefone-contato').val();
            var dataEntrega = $('#data-entrega').val();
            var horaEntrega = $('#hora-entrega').val();
            var observacoes = $('#observacoes').val();

            var erros = '';
            var quantidade = 0;

            $('.mensagem input').each(function(){
                var valor = $(this).val();
                if(valor == ''){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Frase de Homenagem';
                }
            });

            if(pessoaHomenageada == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Pessoa Homenageada';
            }
            if(grauParentesco == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Grau de Parentesco';
            }
            if(localEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Local de Entrega';
            }
            if(estado == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione o Estado';
            }
            if(cidade == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione a Cidade';
            }
            if(dataEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Data de Entrega';
            }
            if(horaEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Hora de Entrega';
            }
            if(dataEntrega != '' && horaEntrega != ''){
                var _dataEntrega = dataEntrega.split('/');
                var _horaEntrega = horaEntrega.split(':');
                var data=new Date(parseInt(_dataEntrega[2]),parseInt(_dataEntrega[1])-1,parseInt(_dataEntrega[0]),parseInt(_horaEntrega[0]),parseInt(_horaEntrega[1]));
                var hoje = new Date();
                if(data <= hoje){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- A Data e Hora de entrega deve ser maior que a data atual';
                }
            }

            if(quantidade > 0){
                if(quantidade > 1){
                    erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                }
                alert(erros);
                return false;
            }

            return true;
        }

    </script>
}

@*@Html.Action("Caminho", "Pedido", new { posicao = 3 })*@


<div id="Pedido">
<div class="Div">

	<h1 class="TituloPagina">Pedido</h1> 
             
	    <div class="Linha1">
		    <div class="Linha1Coluna1">Produto</div>
		    <div class="Linha1Coluna2">Tamanho</div>  
		    <div class="Linha1Coluna2">Valor</div>
	    </div> 
        
	    <div class="Degrade">
            @foreach (var item in Model.Itens)
            {
		        <div class="LinhaProdutos" style="height:225px;">
			        <div class="LinhaProdutosColuna1">
				        <div class="LinhaProdutosFoto"><p><a target="_blank" href="@Url.RouteUrl("Produto", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })"><img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="100" alt="@item.ProdutoTamanho.Produto.ImgAlt" title="@item.ProdutoTamanho.Produto.ImgTitle" class="LinhaProdutosFotoImg"/></a></p></div>
				        <div class="LinhaProdutosNome"><p>@item.ProdutoTamanho.Produto.Nome</p></div>
			        </div>
			        <div class="LinhaProdutosColuna2"><p>@item.ProdutoTamanho.Tamanho.Nome</p></div>
			        <div class="LinhaProdutosColuna3">
                        <p>@item.Valor.ToString("C2")
                        </p></div>
			        <div class="LinhaProdutosColuna4">
                    </div>
                        <table cellspacing="0" cellpadding="0" border="0" width="90%" class="tabelapedido">  
                            <tr> 
                                <td>Digite a mensagem: </td>
                                <td width="25"></td>
                                <td>
                                    <input type="text" id="frase-@item.ID" value="@item.Mensagem" onblur="Carrinho.AtualizarMensagem(@item.ID, this.value)" style="width:100%;"/>  
                                </td> 
                            </tr> 
                        </table>
		        </div>   
            }
		    <div class="LinhaSubtotal">
			    <div class="LinhaSubtotalColuna1">&nbsp;</div>
			    <div class="LinhaSubtotalColuna2"><p>SUBTOTAL</p></div>
			    <div class="LinhaSubtotalColuna3"><p>@Model.Subtotal.ToString("c2")</p></div>
			    <div class="LinhaSubtotalColuna4">&nbsp;</div>
		    </div> 
		    <div class="LinhaSubtotal">
			    <div class="LinhaSubtotalColuna1">&nbsp;</div>
			    <div class="LinhaSubtotalColuna2"><p>FRETE</p></div>
			    <div class="LinhaSubtotalColuna3"><p>GRÁTIS</p></div>
			    <div class="LinhaSubtotalColuna4">&nbsp;</div>
		    </div>   
		    <div class="LinhaDesconto">
			    <div class="LinhaDescontoColuna1">&nbsp;</div>
			    <div class="LinhaDescontoColuna2"><p>DESCONTO</p></div>
			    <div class="LinhaDescontoColuna3"><p>@((-Model.Desconto).ToString("c2"))</p></div>
			    <div class="LinhaDescontoColuna4">&nbsp;</div> 
		    </div>   
		    <div class="LinhaTotal">
			    <div class="LinhaTotalColuna1">&nbsp;</div>
			    <div class="LinhaTotalColuna2"><p>TOTAL</p></div>
			    <div class="LinhaTotalColuna2"><p>@Model.Total.ToString("c2")</p></div>
			    <div class="LinhaTotalColuna4">&nbsp;</div>
		    </div> 
        </div> 
    
    <div style="margin-bottom:20px;clear:both;"></div>
	<h2 class="TituloPagina">Dados da entrega</h2>

	<div class="Formulario2">
    
	    <div class="formpedido">
         
		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Pessoa Homenageada:</div>
			    <div class="FormCampo"><input type="text" id="pessoa-homenageada" name="pessoa-homenageada" class="FormCampoInput" /></div>
		    </div>
         
		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Local de Entrega:</div>
			    <div class="FormCampo"><input type="text" id="local-entrega" name="local-entrega" class="FormCampoInput" /></div>
		    </div>
         
		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Data da Entrega:</div>
			    <div class="FormCampo"><input type="text" id="data-entrega" name="data-entrega" class="FormCampoInput" /></div>
		    </div>
                         
		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Hora da Entrega:</div>
			    <div class="FormCampo"><input type="text" id="hora-entrega" name="hora-entrega" class="FormCampoInput" /></div>
		    </div> 

		    <div class="FormDiv2">
			    <div class="FormNomeCampo">Observações:</div>
			    <div class="FormCampo"><textarea id="observacoes" name="observacoes" class="FormCampoTextarea"></textarea></div>
		    </div> 
        </div>
    </div>
    
    <div style="margin-bottom:20px;clear:both;"></div>
	<h2 class="TituloPagina">Dados de pagamento</h2> 
    
    <div style="margin-bottom:20px;clear:both;"></div>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="pagamento" style="text-align: left;height:50px;">
        <tr>
            <td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('CartaoCredito')"><img src="/content/imagens/ico-cartao-credito.png" title="Cartão de Crédito" alt="Cartão de Crédito" /></a><br />
                Cartão de Crédito
            </td>
            @if (!cliente.Exterior)
            {
            @*<td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('Boleto')"><img src="/content/imagens/ico-boleto.png" title="Boleto"  alt="Boleto"/></a><br />
                Boleto
            </td>*@       
            @*<td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('PagSeguro')"><img src="/content/imagens/ico-pagseguro.png" title="PagSeguro" alt="PagSeguro" /></a><br />
                PagSeguro
            </td>*@ 
            } 
            @*<td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('PayPal')"><img src="/content/imagens/ico-paypal.png" title="PayPal"  alt="PayPal"/></a><br />
                PayPal
            </td>*@ 
@*            @if (!cliente.Exterior)
            { 
            <td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('Shopline')"><img src="/content/imagens/ico-shopline.gif" height="48" title="Shopline"  alt="Shopline"/></a><br />
                Débito Itáu
            </td> 
            }*@
            @if (cliente.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica && !cliente.Exterior)
            {
            @*<td align="center" width="110" style="vertical-align:top;">
                <a href="javascript:void(0)" onclick="Selecionar('Faturamento')"><img src="/content/imagens/ico-faturamento.png" title="Faturamento para empresas" alt="Faturamento para empresas"/></a><br />
                Faturamento para empresas
            </td>*@
            }
        </tr>
    </table>
    
    <div style="margin-bottom:20px;clear:both;"></div>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;" id="Formulario-CartaoCredito">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">
                Cartão de Crédito
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Bandeira:</label></td>
            <td>
                <select id="cartao-bandeira">
                    <option value="2">Mastercard</option>
                    <option value="1">Visa</option>                
    @*<option value="5">American Express</option>*@
                    <option value="4">Dinners</option>
                    <option value="3">Elo</option>
                    
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Nome impresso no cartão:</label></td>
            <td><input id="cartao-nome" type="text" maxlength="20"/></td>
        </tr>
        <tr>
            <td><label>Número do cartão:</label></td>
            <td><input id="cartao-numero" type="text" maxlength="20"/></td>
        </tr>
        <tr>
            <td><label>Data de validade:</label></td>
            <td><input id="cartao-validade" type="text" maxlength="5" /></td>
        </tr>
        <tr>
            <td><label>Código de segurança:</label></td>
            <td><input id="cartao-codigo" type="text" maxlength="5"/></td>
        </tr>
        <tr>
            <td><label>Parcelar em:</label></td>
            <td>
                <select id="cartao-parcela">                    
                    @for (var i = 1; i <= configuracoes.Parcela; i++)
                    {
                    <option value="@i">@((i == 1) ? "À vista" : i + " vezes")</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" class="FormBotao" onclick="Pagar('CartaoCredito')" value="Fechar pedido com cartão de crédito" />
                <span id="CartaoCredito-processando" class="processando">processando...</span>
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Boleto">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">Boleto Bancário
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
            O boleto gerado após a confirmação de sua compra deve ser:<br />
            - Impresso e pago na agência bancária de sua preferência; ou<br />
            - Pago pela Internet, utilizando a sequência numérica do código de barras (contido na parte superior esquerda do boleto).<br /><br />

            Validade do boleto:<br />
            O boleto tem prazo de validade de 07 dias após a finalização do pedido.<br /><br />

            <b>Atenção:</b><br />
            Não faça depósito ou transferência entre contas. O boleto não é enviado pelo correio, imprima-o e pague no banco ou pela internet. Caso você tenha um programa anti pop-up, você deverá desativá-lo antes de finalizar sua compra com esta forma de pagamento.<br /><br />
            Importante ressaltar que realizamos a entrega do produto imediatamente e o pagamento pode ser feito dentro do prazo de vencimento do Boleto.<br />

            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" class="FormBotao" onclick="Pagar('Boleto')" value="Fechar pedido com boleto bancário" />
                    <span id="Boleto-processando" class="processando">processando...</span></td>
        </tr>
    </table>
   
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-PagSeguro">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">PagSeguro
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td>
            O pagseguro é um intermediador de pagamentos online bastante conhecido no Brasil.<br /><br />
            Para finalizar a compra de sua coroa de flores via PagSeguro é necessário criar um cadastro (caso você não possua) e escolher a melhor forma de pagamento. <br /><br />

            São aceitas todas as bandeiras de cartão de crédito, boleto bancário e depósito em conta nesta opção de pagamento.<br /><br />
            Os principais cartões de crédito brasileiros são aceitos (Visa, Master, Amex, Dinners, Aurea, Hipercard, Ello, etc)<br /><br />

            Observações: Não são aceitos cartões INTERNACIONAIS (emitidos fora do Brasil)<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">            
                <form id="form-pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                    <input type="hidden" name="receiverEmail" value="@Domain.Core.Configuracoes.PAGSEGURO_EMAIL" />
                    <input type="hidden" name="currency" value="BRL" />
                    <input type="hidden" id="redirectURL" name="redirectURL" value="@Domain.Core.Configuracoes.DOMINIO/pagseguro/retorno" />
                    <input type="hidden" id="reference" name="reference" value="" />
                    @if (Model.Desconto > 0)
                    {
                        <input type="hidden" name="extraAmount" value="-@Model.Desconto.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                    }
      
                    @foreach (var item in Model.Itens)
                    {
                        <input type="hidden" name="itemId@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                        <input type="hidden" name="itemDescription@(item.ID + 1)" value="@item.Descricao" />
                        <input type="hidden" name="itemAmount@(item.ID + 1)" value="@item.Valor.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                        <input type="hidden" name="itemQuantity@(item.ID + 1)" value="1" />  
                        <input type="hidden" name="itemWeight@(item.ID + 1)" value="0" />
                    }

                    <input type="hidden" name="senderName" value="@cliente.Nome" />
                    <input type="hidden" name="senderEmail" value="@cliente.Email" />

                    <input type="button" class="FormBotao" onclick="Pagar('PagSeguro');return false;" value="Fechar pedido com PagSeguro" />
                    <span id="PagSeguro-processando" class="processando">processando...</span>
                </form>	
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-PayPal">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">PayPal
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td>
            O paypal é um dos maiores intermediadores de pagamentos online do mundo.<br /><br />
            Para finalizar a compra de sua coroa de flores via Paypal é necessário criar um cadastro (caso você não possua) e escolher a melhor forma de pagamento.<br /><br />

            São aceitas todas as bandeiras internacionais de cartão de crédito (Visa, Master, Amex, Dinners, entre outros).<br /><br />

            Observação: para finalizar sua compra um cartão de crédito INTERNACIONAL (emitido fora do Brasil), utilize o Paypal<br />

            </td>
        </tr>
        <tr>
            <td colspan="2">            
                <form id="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="charset" value="utf-8" />
                    <input type="hidden" name="business" value="@Domain.Core.Configuracoes.PAYPAL_EMAIL" />
                    <input type="hidden" name="return" value="@Domain.Core.Configuracoes.DOMINIO/@Url.Action("Retorno", "PayPal")" />
                    <input type="hidden" name="currency_code" value="BRL" />
                    <input type="hidden" name="lc" value="BR" />
                    <input type="hidden" name="discount_amount_cart" value="@Model.Desconto.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                    <input id="paypal-custom" type="hidden" name="custom" value="" />

                    @foreach (var item in Model.Itens)
                    {
                        <input type="hidden" name="item_name_@(item.ID + 1)" value="@item.Descricao" />
                        <input type="hidden" name="item_number_@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                        <input type="hidden" name="amount_@(item.ID + 1)" value="@item.Valor.ToString("N2", new System.Globalization.CultureInfo("en-US"))" />
                    }

                    <input type="button" class="FormBotao" onclick="Pagar('PayPal')" value="Fechar pedido com PayPal" />
                    <span id="PayPal-processando" class="processando">processando...</span>
                </form>
            </td>
        </tr>
    </table>
    
@*    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Shopline">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">Débito Itaú
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td>Para finalizar o seu pedido via Débito em Conta Itaú, utilizando o Shopline Itaú é necessário que você seja correntista do banco.<br /><br />

                As opções de pagamento são: Transferência Bancária, Cartões de Crédito (emitidos pelo Itaú) e Financiamento Itaú.
            </td>
        </tr>
        <tr>
            <td colspan="2">           
            <br />
                    <div class="message vermelho" id="shopline-mensagem"><center>Antes de continuar, desbloqueie popups em seu navegador, ou não conseguirá seguir com o pagamento.</center></div> 
                <form id="form-shopline" action="https://shopline.itau.com.br/shopline/shopline.aspx" method="post">
                    <input id="shopline-dc" type="hidden" name="DC" value=""/>
                    <input type="button" class="FormBotao" onclick="Pagar('Shopline')" value="Fechar pedido com Shopline" />
                    <span id="Shopline-processando" class="processando">processando...</span>
                </form>
            </td>
        </tr>
    </table>*@
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Faturamento">
        <tr>
            <td width="250" colspan="4" class="tabelatitulo">Faturamento para empresas
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td>Por meio do pagamento via Faturamento Empresas, será emitido um Boleto e uma Nota Fiscal com as informações fornecidas no cadastro. O prazo padrão de pagamento é de 07 dias após a confirmação do pedido, podendo ser estendido em caso de adequação ao processo de compra da empresa. <br /><br />

                Importante ressaltar que realizamos a entrega do produto imediatamente e o pagamento pode ser feito dentro do prazo de vencimento do Boleto.<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">           
                <input type="button" class="FormBotao" onclick="Pagar('Faturamento')" value="Fechar pedido com Faturamento para empresas" />
                <span id="Faturamento-processando" class="processando">processando...</span>
            </td>
        </tr>
    </table>
     
</div>
</div>
 