﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Dia dos Pais Laços Flores</title>
    <meta name="description" content="">

    <!-- Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,300,400|Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Landing CSS -->
    <link href="/css/landing.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css">
.menu-fixo {
position:fixed !important;
top: 0;
z-index: 99;    
}
#MenuFixo
{
    display: none; 
    font-family: Arial; 
    position: fixed;
    width:100%;
    height: 47px; 
    background-color: #575757;
    z-index: 99999999; 
    color: #FFFFFF; 
    background-color:#000;
}

#MenuFixo .Inner .Left.Atend
{
    margin-top: 14px;    
    font-size: 1em;
}

#MenuFixo .Inner .Left.TelefoneRegiao
{
    margin-top: 20px;
    margin-left: 10px;
}

#MenuFixo .Inner .Left.TelefoneRegiao a
{
    text-decoration: underline;
    color: #EDEDED;    
    font-size: 0.8em;
}

#MenuFixo .Inner .Left.Atend b
{
    font-size: 1.2em;
}

#MenuFixo .Inner .Left.oito
{
    margin-top: 3px;
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 10px;
}
#MenuFixo .Inner .Left
{
    float: left;
}

#MenuFixo .Inner
{
    text-align: center;
    width: 640px; 
    position: relative;
    margin: 0 auto;       
}
    
    </style>


    <script type="text/javascript">
        $(document).ready(function () {


            if ($(window).width() > 780) {
                if ($(window).scrollTop() > 180) {
                    if ($("#MenuFixo").css("display") != "block") {
                        $("#MenuFixo").fadeIn("fast");
                    }
                }
                else {
                    if ($("#MenuFixo").css("display") == "block") {
                        $("#MenuFixo").fadeOut("fast");
                    }
                }
            }

            if ($(window).width() > 780) {
                $(window).on("scroll", function (i) {
                    if ($(window).scrollTop() > 180) {
                        if ($("#MenuFixo").css("display") != "block") {
                            $("#MenuFixo").fadeIn("fast");
                        }
                    }
                    else {
                        if ($("#MenuFixo").css("display") == "block") {
                            $("#MenuFixo").fadeOut("fast");
                        }
                    }
                });
            }
        });

    </script>




  </head>
  <body>
    <header>
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-2 col-sm-4">
            <img src="/img/logo.png" alt="Laços Flores - Dia dos Pais é aqui!" />
          </div>
          <div class="col-md-4 col-md-offset-6 col-sm-5 col-sm-offset-3">
            <ul>
              <li>Televendas 24h <a href="tel:(11)55730334">(11) 4097-9400</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </header>

    <section id="showcase">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12">
            <h1>Presenteie com Flores nesse Dia dos Pais</h1>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="card">
              <input type="text" class="nome" value="Surpreendente Kit Laços Beer" style="display: none;" />
              <input type="text" class="id" value="352" style="display: none;" />
              <img src="/img/kit-lacos-beer.jpg" class="compra" style="cursor: pointer;"/>
              <p>
                <small>R$ 289,00</small>
                <br />
                3x <big>R$ 96,33</big>
              </p>
              <h4>Kit Laços Beer</h4>
              <p class="desc">Flor Cravo, 4 garrafas de cervejas importadas, castanhas, amendoins e salgadinhos</p>
              <button class="more trg-beer">Ver Detalhes</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="card">
              <input type="text" class="nome" value="Refinado Kit Meu Clássico Pai" style="display: none;" />
              <input type="text" class="id" value="351" style="display: none;" />
              <img src="/img/kit-meu-classico-pai.jpg" class="compra" style="cursor: pointer;"/>
              <p>
                <small>R$ 179,00</small>
                <br />
                3x <big>R$ 59,66</big>
              </p>
              <h4>Kit Meu Classico Pai</h4>
              <p class="desc">Flor Cravo, vinho importado de até R$ 50,00</p>
              <button class="more trg-classico">Ver Detalhes</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="card">
              <input type="text" class="nome" value="Tradicional Kit Destilado Dia dos Pais" style="display: none;" />
              <input type="text" class="id" value="350" style="display: none;" />
              <img src="/img/kit-destilado-dia-dos-pais.jpg" class="compra" style="cursor: pointer;"/>
              <p>
                <small>R$ 319,00</small>
                <br />
                3x <big>R$ 106,33</big>
              </p>
              <h4>Kit Destilado Dia dos Pais</h4>
              <p class="desc">Flor Cravo, Black Label, castanhas, amendoins e salgadinhos</p>
              <button class="more trg-destilado">Ver Detalhes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <!-- MenuFixo -->
    <div class="menu-fixo" id="MenuFixo" style="display: block;">
                <div class="Inner">
                    <div class="Left Atend">
                        Atendimento <b>24 HORAS</b>
                    </div>
                    <div class="Left oito">
                        (11) 4097-9400
                    </div>
                    <div class="Left TelefoneRegiao">
                        <a onclick="_gaq.push(['_trackEvent', 'Tarja Preta', 'Clique', 'Contato']);" href="telefones-de-sua-regiao.php">ou veja o telefone da sua região</a>
                    </div>
                </div>
            </div>
    <!-- /MenuFixo -->

    <section id="features">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12">
            <ul class="clearfix">
              <li id="pagamento">
                <span>
                  Pagamento em boleto ou cartão de crédito
                </span>
                <i></i>
              </li>
              <li id="cartao">
                <span>
                  Cartão com<br />mensagem grátis
                </span>
                <i></i>
              </li>
              <li id="frete">
                <span>
                  Frete grátis para<br />todo São Paulo/SP
                </span>
                <i></i>
              </li>
              <li id="atendimento">
                <span>
                  Atendimento e entrega 24h todos os dias
                </span>
                <i></i>
              </li>
              <li id="entrega">
                <span>
                  Entregas em até<br />3 horas
                </span>
                <i></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <section id="about">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-3 col-sm-4">
            <span>
              <h3>Nossa Empresa</h3>
            </span>
          </div>
          <div class="col-md-9 col-sm-8">
            <p>
              Criada com o propósito de oferecer de maneira rápida, prática e segura flores a toda Grande São Paulo, a empresa <strong>Laços Flores</strong> faz parte de uma das maiores companhias de flores do Brasil, o Grupo Laços Flores.
            </p>
            <p>
              Localizada na Av. Lins de Vasconcelos, 2106 - São Paulo/SP, nossa floriculturas garante a qualidade e, principalmente, a pontualidade da entrega de cada pedido realizado no e-commerce Laços Flores.
            </p>
            <p>
              Faça já o seu pedido no site ou entre em contato com o nosso atendimento telefônico 24 horas pelo (11) 4097-9400.
            </p>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <section class="product" id="beer">
      <!-- Container -->
      <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-4">
          <div class="cropper">
            <img src="/img/kit-lacos-beer.jpg" />
          </div>
        </div>

        <div class="col-lg-8 col-md-9 col-sm-8">
          <h2>Surpreendente Kit Laços Beer</h2>
          <p>
            Composto com cervejas importadas, castanhas, amendoins, salgadinhos e petiscos, este Kit é ideal para pais descolados que gostam de tomar uma cervejinha sempre na companhia de familiares e amigos.
          </p>
          <span>
            <p>R$ 289,00</p>
            <p><b>3x R$ 96,33</b></p>
          </span>      
          <input type="text" class="nome" value="Surpreendente Kit Laços Beer" style="display: none;" />
          <input type="text" class="id" value="352" style="display: none;" />
          <button class="btn hvr-sweep-to-right compra">Comprar</button>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <!-- Divider -->
    <section class="divider">
      <span></span>
    </section>
    <!-- /Divider -->

    <section class="product" id="classico">
      <!-- Container -->
      <div class="container">
        <div class="hidden-sm hidden-md hidden-lg visible-xs">
          <div class="cropper">
            <img src="/img/kit-meu-classico-pai.jpg" />
          </div>
        </div>

        <div class="col-lg-8 col-md-9 col-sm-8">
          <h2>Refinado Kit Meu Clássico Pai</h2>
          <p>
            Se o seu pai é um apreciador de vinho, este é o presente certo para o Dia dos Pais. Solicite agora mesmo o Kit Meu Clássico Pai e brinde com ele esta data especial!
          </p>
          <span>
            <p>R$ 179,00</p>
            <p><b>3x R$ 59,66</b></p>
          </span>
          <input type="text" class="nome" value="Refinado Kit Meu Clássico Pai" style="display: none;" />
          <input type="text" class="id" value="351" style="display: none;" />
          <button class="btn hvr-sweep-to-right compra">Comprar</button>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-4 hidden-xs">
          <div class="cropper">
            <img src="/img/kit-meu-classico-pai.jpg" />
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <!-- Divider -->
    <section class="divider">
      <span></span>
    </section>
    <!-- /Divider -->

    <section class="product" id="destilado">
      <!-- Container -->
      <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-4">
          <div class="cropper">
            <img src="/img/kit-destilado-dia-dos-pais.jpg" />
          </div>
        </div>

        <div class="col-lg-8 col-md-9 col-sm-8">
          <h2>Tradicional Kit Destilado Dia dos Pais</h2>
          <p>
            Aproveite esta oferta e dê para seu pai este Kit com cravos, petiscos, castanhas, amendoins, salgadinhos e o legítimo e supremo Whisky Black Label. Faça algo diferente neste Dia dos Pais e surpreenda quem você ama!
          </p>
          <span>
            <p>R$ 319,00</p>
            <p><b>3x R$ 106,33</b></p>
          </span>
          <input type="text" class="nome" value="Tradicional Kit Destilado Dia dos Pais" style="display: none;" />
          <input type="text" class="id" value="350" style="display: none;" />
          <button class="btn hvr-sweep-to-right compra">Comprar</button>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <footer>
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12 c">
            <p><a href="http://www.lacosflores.com.br">www.lacosflores.com.br</a> | <a href="mailto:contato@lacosflores.com.br">contato@lacosflores.com.br</a></p>
            <p>Copyright &copy; 2015 Laços Flores. Todos os direitos reservados. CNPJ: 12.404.942/0001-14</p>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Scrolling Scripts -->
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/jquery.simplr.smoothscroll.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".compra").click(function () {
                var id = $(this).parent().children(".id").val();
                var nome = $(this).parent().children(".nome").val();
                $.post('/Carrinho/Adicionar', { produtoTamanhoID: id, descricao: nome, mensagem: '', observacoes: '' }, function (data) {
                    if (data == 'OK') {
                        window.location = '/Carrinho';
                    } else {
                        alert("Erro");
                    }
                });
            });

            // Smooth Scrolling
            $(function () {
                $.srSmoothscroll({
                    // defaults
                    step: 45,
                    speed: 300,
                    ease: 'linear',
                    target: $('body'),
                    container: $(window)
                })
            });

            $('.trg-beer').click(function () {
                $('html, body').animate({
                    scrollTop: $("#beer").offset().top - 30
                }, 1000);
            });

            $('.trg-classico').click(function () {
                $('html, body').animate({
                    scrollTop: $("#classico").offset().top - 30
                }, 1000);
            });

            $('.trg-destilado').click(function () {
                $('html, body').animate({
                    scrollTop: $("#destilado").offset().top - 30
                }, 1000);
            });
        });
    </script>
  </body>
</html>
