﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dia dos Namorados - Laços Flores</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Hover CSS -->
    <link href="/css/hover.css" rel="stylesheet" media="all">

    <!-- Landing CSS -->
    <link href="/css/landing.css" rel="stylesheet" />    

    <!-- Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,300,400|Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63719539-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <header role="banner">
        <div class="container">
            <div class="row clearfix logo">
                <div class="col-md-12">
                    <span><img src="/img/ui/logo.png" alt="Laços Flores - Flores para o Dia dos Namorados" /></span>
                    <span class="hidden-xs divider"></span>
                    <span class="hidden-xs"><p>Televendas 24h<br /><b>(11) 4097-9400</b></p></span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div id="first-call">
                        <h1>Dia dos Namorados</h1>
                        <p>Presenteie com flores quem você ama. Compre agora<br /> e programe a entrega para o dia 12/06</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="hidden-xs" id="features">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-3 col-sm-3 feature" id="pagamento">
                    <span>
                        <p>
                            Pagamento em <b>Boleto</b><br />ou <b>Cartão de Crédito</b>
                        </p>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 feature" id="flores">
                    <span>
                        <p>
                            Nossas Flores estão<br /><b>sempre frescas</b>
                        </p>
                    </span>
                </div>
                <div class="col-lg-2 hidden-md hidden-sm hidden-xs feature" id="cartao">
                    <span>
                        <p>
                            Cartão com<br /><b>Mensagem Grátis</b>
                        </p>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 feature" id="frete">
                    <span>
                        <p>
                            <b>Frete Grátis</b><br />para toda São Paulo/SP
                        </p>
                    </span>
                </div>
                <div class="col-lg-2 hidden-md hidden-sm hidden-xs feature" id="atendimento">
                    <span>
                        <p>
                            Central de<br />Atendimento <b>24 horas</b>
                        </p>
                    </span>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 feature" id="entrega">
                    <span>
                        <p>
                            Entrega expressa em<br />até <b>3 horas</b>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-sm-4 product-card">
                        <div>
                            <span id="p-flores"></span>
                            <p>
                                R$ 129,00
                                <br />
                                <b>3x R$ <big>43,00</big></b>
                            </p>
                            <h2 class="nome">Buquê de Flores Nobres</h2>
                            
                            <input type="text" class="id" value="144" style="display: none;" />
                            <a class="compra">Comprar</a>
                        </div>
                    </div>

                    <div class="col-sm-4 product-card">
                        <div>
                            <span id="p-rosas"></span>
                            <p>
                                R$ 129,00
                                <br />
                                <b>3x R$ <big>43,00</big></b>
                            </p>
                            <h2 class="nome">Buquê de Rosas Nacionais</h2>

                            <input type="text" class="id" value="149" style="display: none;" />
                            <a class="compra">Comprar</a>
                        </div>
                    </div>

                    <div class="col-sm-4 product-card">
                        <div>
                            <span id="p-orquidea"></span>
                            <p>
                                R$ 149,00
                                <br />
                                <b>3x R$ <big>49,67</big></b>
                            </p>
                            <h2 class="nome">Arranjo de Orquídea</h2>
                            
                            <input type="text" class="id" value="152" style="display: none;" />
                            <a class="compra">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <section id="empresa">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-5">
                    <img src="/img/ui/empresa.jpg" alt="Sobre o Laços Flores" />
                </div>
                <div class="col-md-8 col-sm-7">
                    <h3>Nossa Empresa</h3>
                    <p>
                        Criada com o propósito de oferecer de maneira rápida, prática e segura flores a todos os estados brasileiros, a empresa Laços Flores faz parte de uma das maiores companhias de flores do Brasil, o Grupo Laços Flores.
                    </p>
                    <p>
                        Distribuída nas quatro regiões do país, sua grande rede de floriculturas garante a qualidade e, principalmente, a pontualidade da entrega de cada pedido realizado no e-commerce Laços Flores.
                    </p>
                    <p>
                        Faça já o seu pedido no site ou entre em contato com o nosso atendimento telefônico 24 horas pelo (11) 4097-9400.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="showroom" id="flores-nobres">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-4">
                    <span class="photo">
                        <img src="/img/ui/buque-flores-nobres.jpg" alt="Buquê de Flores Nobres para o Dia dos Namorados" />
                    </span>
                </div>
                <div class="col-md-8 col-sm-8">
                    <h3>Surpreenda nesse dia dos namorados com o buquê de flores nobres</h3>
                    <h4 class="nome">Buquê de Flores Nobres</h4>
                    <p>
                        Composto por flores nobres de diferentes tipos, este buquê certamente deixará a pessoa amada surpreendida. Mix de belas flores em uma composição única e harmônica!
                    </p>
                    <span>
                        <p>
                            R$ 129,00
                        </p>
                        <p>
                            <b>3x de R$ 38,90</b>
                        </p>
                    </span>
                    <input type="text" class="id" value="144" style="display: none;" />
                    <button class="btn hvr-sweep-to-right compra">Comprar</button>
                </div>
            </div>
        </div>
    </section>

    <section class="showroom" id="rosas-nacionais">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12 hidden visible-xs">
                    <span class="photo">
                        <img src="/img/ui/buque-rosas-nacionais.jpg" alt="Buquê de Rosas Vermelhas Nacionais para o Dia dos Namorados" />
                    </span>
                </div>
                <div class="col-md-8 col-sm-8 r">
                    <h3>O Tradicional Buquê de Rosas Sempre Encanta o seu Amor</h3>
                    <h4 class="nome">Buquê de Rosas Nacionais</h4>
                    <p>
                        Símbolo reconhecido do amor, as rosas são indicadas para casais clássicos que não abrem mão de presentear com estilo e beleza. Peça já este lindo Buquê com 15 Rosas para o Dia dos Namorados.
                    </p>
                    <span>
                        <p>
                            R$ 129,00
                        </p>
                        <p>
                            <b>3x de R$ 38,90</b>
                        </p>
                    </span>
                    <input type="text" class="id" value="149" style="display: none;" />
                    <button class="btn hvr-sweep-to-right compra">Comprar</button>
                </div>
                <div class="col-md-4 col-sm-4 hidden-xs">
                    <span class="photo">
                        <img src="/img/ui/buque-rosas-nacionais.jpg" alt="Buquê de Rosas Vermelhas Nacionais para o Dia dos Namorados" />
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="showroom" id="orquidea">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-4">
                    <span class="photo">
                        <img src="/img/ui/orquidea.jpg" alt="Buquê de Flores Nobres para o Dia dos Namorados" />
                    </span>
                </div>
                <div class="col-md-8 col-sm-8">
                    <h3>Elegância e Estilo, o melhor Presente para a melhor ocasião</h3>
                    <h4 class="nome">Arranjo de Orquídea</h4>
                    <p>
                        Com vaso ornamentado, este sofisticado arranjo de orquídeas irá tornar esta data ainda mais encantadora e marcante na vida do casal. Orquídeas belas e frescas para todo o Brasil. Peça Agora!
                    </p>
                    <span>
                        <p>
                            R$ 129,00
                        </p>
                        <p>
                            <b>3x de R$ 38,90</b>
                        </p>
                    </span>
                    <input type="text" class="id" value="152" style="display: none;" />
                    <button class="btn hvr-sweep-to-right compra">Comprar</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 c">
                    <p>Laços Flores | CNPJ: 12.404.942/0001-14</p>
                    <p><a href="https://www.lacosflores.com.br/" target="_blank">www.lacosflores.com.br</a> | contato@lacosflores.com.br</p>
                    <p id="copyright">
                        Copyright &copy; 2015 Laços Flores. Todos os direitos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Scrolling Scripts -->
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/jquery.simplr.smoothscroll.min.js"></script>
    

    <!-- jQuery Block Codes -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".compra").click(function () {
                var id = $(this).parent().children(".id").val();
                var nome = $(this).parent().children(".nome").val();
                $.post('/Carrinho/Adicionar', { produtoTamanhoID: id, descricao: nome, mensagem: '', observacoes: '' }, function (data) {
                    if (data == 'OK') {
                        window.location = '/Carrinho';
                    } else {
                        alert("Erro");
                    }
                });
            });

            // Smooth Scrolling
            $(function () {
                $.srSmoothscroll({
                    // defaults
                    step: 45,
                    speed: 300,
                    ease: 'linear',
                    target: $('body'),
                    container: $(window)
                })
            })
        });
    </script>
</body>
</html>