﻿@{
    Layout = null;
}
<script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.post('/Carrinho/Adicionar', { produtoTamanhoID: @ViewBag.produtoTamanhoID, descricao: '@ViewBag.descricao', mensagem: '@ViewBag.mensagem', observacoes: '@ViewBag.observacoes' }, function (data) {
            if (data == 'OK') {
                window.location = '/Carrinho';
            } else {
                alert("Erro");
            }
        });
    });
</script>