﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Arranjo de flores para o Outubro Rosa | Laços Flores</title>
    <meta name="description" content="Envie um arranjo de flores neste mês do Outubro Rosa e participe da campanha de prevenção ao câncer de mama. Acesse e saiba como!">
    <meta name="keywords" content="Arranjo de flores, flores, cancer de mama, outubro rosa, laço rosa, arranjo de flores para o cancer de mama, lembrete outubro rosa, lembrete cancer de mama">
    <meta name="robots" content="follow, index">

    <!-- CSS Calls -->
    <link href="/Landing/Outubro-Rosa/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans:400,300,600|Oswald' rel='stylesheet' type='text/css'>
    <link href="/Landing/Outubro-Rosa/css/landing.dev.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-63719539-1']);
          _gaq.push(['_trackPageview']);
          

          (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>

  </head>
  <body>
    <header>
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-3">
            <img src="/Landing/Outubro-Rosa/img/logo.png" alt="Laços Flores Combatendo o Câncer de Mama - Participe você também do Outubro Rosa" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <main>
              <h1>Outubro Rosa</h1>
              <h2>Envie flores e demonstre seu apoio a esta causa</h2>
              <h3>O simples gesto de enviar um arranjo com laço rosa de presente para a sua mãe, irmã e amigas próximas, torna-se uma grande iniciativa neste mês de conscientização.</h3>
              <h3>Visando participar desta importante campanha, a Laços Flores disponibiliza neste mês do Outubro Rosa arranjos especiais que podem ser enviados para qualquer cidade brasileira para alertar sobre a realidade do câncer de mama e a importância do diagnóstico precoce.</h3>
              <button class="btn btn-lg btn-main"><span class="glyphicon glyphicon-menu-down"></span> Participe</button>
            </main>
          </div>
        </div>
      </div>
      <!-- /Container -->      
    </header>

    <section id="showcase">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-4 col-sm-4">
            <div class="card">
              <span>
                  <a href="#" onclick="return false;">
                      <img style="cursor: default;" src="/Landing/Outubro-Rosa/img/01.jpg" alt="Produto #1">
                  </a>
              </span>
              <h2>Orquídea da Vida</h2>
              <p>R$ <big>159</big>,00</p>
              <input type="text" class="nome" value="Orquídea da Vida" style="display: none;" />
                <input type="text" class="id" value="368" style="display: none;" />
              <button class="btn btn-lg btn-checkout compra">Comprar</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="card">
              <span>
                  <a href="#" onclick="return false;">
                      <img style="cursor: default;" src="/Landing/Outubro-Rosa/img/02.jpg" alt="Produto #1">
                  </a>
              </span>
              <h2>Astromélia Prevenção</h2>
              <p>R$ <big>119</big>,00</p>
              <input type="text" class="nome" value="Astromélia Prevenção" style="display: none;" />
              <input type="text" class="id" value="367" style="display: none;" />
              <button class="btn btn-lg btn-checkout compra">Comprar</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="card">
              <span>
                  <a href="#" onclick="return false;">
                      <img style="cursor: default;" src="/Landing/Outubro-Rosa/img/03.jpg" alt="Produto #1">
                  </a>
              </span>
              <h2>Rosa Outubro Rosa</h2>
              <p>R$ <big>129</big>,00</p>
              <input type="text" class="nome" value="Rosa Outubro Rosa" style="display: none;" />
              <input type="text" class="id" value="369" style="display: none;" />
              <button class="btn btn-lg btn-checkout compra">Comprar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <section id="features">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12">
            <ul class="clearfix">
              <li id="pagamento">
                <span>
                  Pagamento em Boleto<br />ou Cartão de Crédito
                </span>
                <i></i>
              </li>
              <li id="flores">
                <span>
                  Flores sempre<br />frescas
                </span>
                <i></i>
              </li>
              <li id="mensagem">
                <span>
                  Cartão com<br />mensagem grátis
                </span>
                <i></i>
              </li>
              <li id="frete">
                <span>
                  Frete grátis<br />para todo Brasil
                </span>
                <i></i>
              </li>
              <li id="atendimento">
                <span>
                  Atendimento e entrega<br />24 horas todos os dias
                </span>
                <i></i>
              </li>
              <li id="entregas">
                <span>
                  Entregas em<br />até 3 horas
                </span>
                <i></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <section id="enterprise">
      <!-- Container -->
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-8">
            <h4>Também ajudamos sua empresa<br/>a apoiar o Outubro Rosa</h4>
          </div>
          <div class="col-md-4 c">
              <button onclick="window.location.href = 'https://www.lacoscorporativos.com.br#Contact';" class="btn btn-lg btn-main"><span class="glyphicon glyphicon-menu-right"></span> Faça Parte</button>
          </div>
        </div>
      </div>
      <!-- /Container -->
    </section>

    <footer>
      <section id="main">
        <!-- Container -->
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-6 col-sm-5">
              <img src="/Landing/Outubro-Rosa/img/logo-pink.png" alt="Laços Flores Combatendo o Câncer de Mama - Participe você também do Outubro Rosa">
            </div>
            <div class="col-md-6 col-sm-7">
              <span>
                Atendimento 24h<br/>
                <a href="tel:08007771986">0800-777-1986</a>
              </span>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-12 c">
              <a href="http://www.lacosflores.com.br" target="_blank">www.lacosflores.com.br</a>
            </div>
          </div>
        </div>
        <!-- /Container -->
      </section>
      <section id="social">
        <!-- Container -->
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-12 c">
              <a href="https://www.facebook.com/LacosFloresOficial" class="social" id="facebook"></a>
              <!--<a href="#" class="social" id="instagram"></a>
              <a href="#" class="social" id="twitter"></a>
              <a href="#" class="social" id="linkedin"></a>
              <a href="#" class="social" id="gplus"></a>
              <a href="#" class="social" id="youtube"></a>-->
            </div>
          </div>
        </div>
        <!-- /Container -->
      </section>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- JS Calls -->
    <script src="/Landing/Outubro-Rosa/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('main .btn-main').click(function () {
                $('html, body').animate({
                    scrollTop: $("section#showcase").offset().top - 50
                }, 1000);
            });


            $(".compra").click(function () {
                var id = $(this).parent().children(".id").val();
                var nome = $(this).parent().children(".nome").val();
                $.post('/Carrinho/Adicionar', { produtoTamanhoID: id, descricao: nome, mensagem: '', observacoes: '' }, function (data) {
                    if (data == 'OK') {
                        window.location = '/Carrinho';
                    } else {
                        alert("Erro");
                    }
                });
            });
        });
    </script>
  </body>
</html>