﻿@{
    ViewBag.Title = " - Home";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutHome.cshtml";
    
    var departamentos = (List<string>)ViewBag.Departamentos;

    var total = 350;

    var widthCoroas = ViewBag.ValorTotal > 0?  Convert.ToInt32((total * ViewBag.ValorTotalCoroas / ViewBag.ValorTotal)) : 0;
    var widthArranjos = ViewBag.ValorTotal > 0?  Convert.ToInt32((total * ViewBag.ValorTotalArranjo / ViewBag.ValorTotal)): 0;
    var widthBuques = ViewBag.ValorTotal > 0?  Convert.ToInt32((total * ViewBag.ValorTotalBuques / ViewBag.ValorTotal)): 0;
    var widthAniversario = ViewBag.ValorTotal > 0?  Convert.ToInt32((total * ViewBag.ValorTotalAniversario / ViewBag.ValorTotal)): 0;
    var widthDatas = ViewBag.ValorTotal > 0?  Convert.ToInt32((total * ViewBag.ValorTotalDatas / ViewBag.ValorTotal)): 0;
    var widthEventos = ViewBag.ValorTotal > 0 ? Convert.ToInt32((total * ViewBag.ValorTotalEventos / ViewBag.ValorTotal)) : 0;
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {

            var item = $("#menu-painel");
            item.removeClass("hover");
            var img = item.children("img:first");
            img.attr("src", img.attr("src").replace('-off', '-on'));

            $("#de").mask("99/99/9999");
            $("#de").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#ate").mask("99/99/9999");
            $("#ate").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });

        function Filtrar() {
            var url = '@Url.Action("Index")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&departamento=' + $('#departamento').val();
            window.location = url;
        }
    </script>
} 
 
 
<div class="conteudo6 box-radius empresas">

<h1>Histórico de Pedidos</h1>
Selecione as opções abaixo para filtrar:<br /><br />
De <input id="de" type="text" class="busca" value="@Request["de"]" /> até <input id="ate" type="text" class="busca" value="@Request["ate"]" /> 
<div style="float:right;">
<span style="@(departamentos.Count == 0?"display:none;":"")">
Departamento 
<select id="departamento" class="busca">
    <option value=""> - Todos - </option>
    @foreach(var depto in departamentos){
    <option value="@depto" @(Request["departamento"] == depto ? "selected=\"selected\"" : "")>@(depto.Length > 0 ? depto.ToUpper() : "S/ DEPTO INFORMADO")</option>
    }
</select>
</span>
<input type="button" value="Filtrar" class="btn" onclick="Filtrar()" />
</div>
<br /><br />

@if (ViewBag.TotalCoroas > 0 || ViewBag.TotalArranjo > 0 || ViewBag.TotalBuques > 0 || ViewBag.TotalAniversario > 0 || ViewBag.TotalDatas > 0 || ViewBag.TotalEventos > 0)
{
<center><i><span class="pequeno">@Html.Raw(ViewBag.LabelPeriodo)</span></i></center>
    if (ViewBag.TotalCoroas > 0)
    {
    <div class="box_home azulclaro">
        <div class="title">Coroas de Flores</div>
        <img src="/areas/empresas/content/img/ico_home_mais.gif" class="icone"/>
        <div class="total">@ViewBag.TotalCoroas </div>
    </div> 
    }
    if (ViewBag.TotalArranjo > 0)
    {
    <div class="box_home roxo">
        <div class="title">Arranjo Maternidade</div>
        <img src="/areas/empresas/content/img/ico_home_flor.gif" class="icone"/>
        <div class="total">@ViewBag.TotalArranjo</div>
    </div> 
    }
    if (ViewBag.TotalBuques > 0)
    {
    <div class="box_home laranja">
        <div class="title">Orquídeas e Buquês</div>
        <img src="/areas/empresas/content/img/ico_home_buque.gif" class="icone"/>
        <div class="total">@ViewBag.TotalBuques</div>
    </div> 
    }
    if (ViewBag.TotalAniversario > 0)
    {
    <div class="box_home amarelo">
        <div class="title">Flores Aniversário</div>
        <img src="/areas/empresas/content/img/ico_home_aniversario.gif" class="icone"/>
        <div class="total">@ViewBag.TotalAniversario </div>
    </div> 
    }
    if (ViewBag.TotalDatas > 0)
    {
    <div class="box_home">
        <div class="title">Datas Comemorativas</div>
        <img src="/areas/empresas/content/img/ico_home_datas.gif" class="icone"/>
        <div class="total">@ViewBag.TotalDatas</div>
    </div> 
    }
    if (ViewBag.TotalEventos > 0)
    {
    <div class="box_home verde">
        <div class="title">Eventos<br /><br /></div>
        <img src="/areas/empresas/content/img/ico_home_eventos.gif" class="icone"/>
        <div class="total">@ViewBag.TotalEventos</div>
    </div> 
    }
}
else
{
    <p><center>Não há dados para gerar as estatísticas. As estatísticas serão geradas conforme você faz os pedidos pelo nosso sistema no período selecionado.</center></p>
}
 <div style="clear:both;"></div> 
</div>
@if (ViewBag.ValorTotalCoroas > 0 || ViewBag.ValorTotalArranjo > 0 || ViewBag.ValorTotalBuques > 0 || ViewBag.ValorTotalAniversario > 0 || ViewBag.ValorTotalDatas > 0 || ViewBag.ValorTotalEventos > 0)
{
<div class="conteudo7 box-radius empresas">
<h2>Valores (R$)</h2>
<div class="box-interno">

    @if (ViewBag.ValorTotalCoroas > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthCoroas)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="azulclaro font-28">
                Coroas de Flores<br />
                @ViewBag.ValorTotalCoroas.ToString("C2")
            </td>
        </tr>
        </table>
    </div>  
    }
    @if (ViewBag.ValorTotalArranjo > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthArranjos)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="roxo font-28">
                Arranjo Maternidade<br />
                @ViewBag.ValorTotalArranjo.ToString("C2")
            </td>
        </tr>
        </table>
    </div> 
    }
    @if (ViewBag.ValorTotalBuques > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthBuques)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="laranja font-28">
                Orquídeas e Buquês<br />
                @ViewBag.ValorTotalBuques.ToString("C2")
            </td>
        </tr>
        </table>
    </div> 
    }
    @if (ViewBag.ValorTotalAniversario > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthAniversario)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="amarelo font-28">
                Flores Aniversário<br />
                @ViewBag.ValorTotalAniversario.ToString("C2")
            </td>
        </tr>
        </table>
    </div> 
    }
    @if (ViewBag.ValorTotalDatas > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthDatas)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="cinza font-28">
                Datas Comemorativas<br />
                @ViewBag.ValorTotalDatas.ToString("C2")
            </td>
        </tr>
        </table>
    </div> 
    }
    @if (ViewBag.ValorTotalEventos > 0)
    {
    <div class="box_valores">
        <table border="0">
        <tr>
            <td rowspan="2" valign="top"><img src="/areas/empresas/content/img/barra-home.gif" /></td>
            <td style="height:146px;">
                <div class="box-radius box-cinza" style="width:@(widthEventos)px;"></div>
            </td>
        </tr>
        <tr> 
            <td class="verde font-28">
                Eventos<br />
                @ViewBag.ValorTotalEventos.ToString("C2")
            </td>
        </tr>
        </table>
    </div> 
    }
 <div style="clear:both;"></div>  
</div>
</div>
}