﻿@model Domain.Entities.Bairro

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;  
} 
@section Script{
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDwGGcJ3EAnkWb1_4Doyk2VdGkfhSHeXcI&sensor=false&libraries=panoramio">
    </script>
    <script type="text/javascript">
    
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");
        });
        google.maps.event.addDomListener(window, 'load', function () {
            var geo = new google.maps.Geocoder;
            geo.geocode({ 'address': '@(Model.NomeCompleto),Brasil' }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var map = new google.maps.Map(document.getElementById('map-canvas'), { 
                        zoom: 16,
                        center: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()),
                        mapTypeId: google.maps.MapTypeId.ROADMAP 
                    });

                    var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
                    panoramioLayer.setMap(map); 

                    var infoWindow = new google.maps.InfoWindow;

                    var onMarkerClick = function () {
                        var marker = this;
                        var latLng = marker.getPosition();

                        var contentString = '<div id="content">' +
                                        '<div id="siteNotice">' +
                                        '</div>' +
                                        '<h2 id="firstHeading" class="firstHeading">@Model.NomeCompleto</h2>' +
                                        '<div id="bodyContent">' +
                                        '@Html.Raw(!String.IsNullOrEmpty(Model.Foto)?"<img src=\"" + Domain.Core.Configuracoes.DOMINIO + "/content/bairros/" + Model.ID + "/" + Model.Foto + "\" width=\"100\" style=\"float:left;\"/>":"")' +
                                        '<p><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=@Model.NomeCompleto,Brasil&amp;aq=&amp;sll=' + latLng.lat() + ',' + latLng.lng() + '&amp;sspn=8.172646,14.27124&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=@Model.NomeCompleto, Brasil&amp;ll=-22.134502,-51.394122&amp;spn=0.004005,0.006968&amp;z=14" target="_blank">Como chegar pelo Google Maps</a></p>' +
                                        '</div>' +
                                        '</div>';
                        infoWindow.setContent(contentString);
                        infoWindow.open(map, marker);
                    };

                    google.maps.event.addListener(map, 'click', function () {
                        infoWindow.close();
                    });

                    var marker1 = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
                    });
                    google.maps.event.addListener(marker1, 'click', onMarkerClick);

                } 
            });
        });

    </script>
}


<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Desabilitado"><a href="/bairros" itemprop="url"><span itemprop="title">Bairros</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>@Model.Nome</b></span></div>
</div>
</div>
 

<div id="CidadesRegioesInterna" itemscope itemtype="http://schema.org/LocalBusiness">
<div class="Div">

	<div class="DivTituloPagina">
	<h1 style="margin: 10px; margin-bottom: 0px;" class="TituloPagina"><span itemprop="name">Coroas de Flores para @Model.Nome ?</span></h1>
    <p class="SubTituloPagina">
    Ligue: @configuracoes.SAC
    </p> 
	</div>
     
    
    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
	<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
	<div class="Separacao2"></div>
    
  
    @if (Model.Foto.Length > 0)
    {
	<div class="Foto">
		<div class="FotoImagem"><img src="@Url.Content("/content/bairros/" + Model.ID + "/" + Model.Foto)" class="FotoImg" alt="Foto de @Model.NomeCompleto" /></div>
		<div class="FotoNomeCidade" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<div class="FotoNomeCidade2"><span itemprop="addressLocality">@Model.Nome</span> - <span itemprop="addressRegion">@Model.Estado.Sigla</span></div>
			<div class="FotoTelefone">Televendas: @configuracoes.SAC</div> 
		</div>
	</div> 
    }
     
    @if (Model.EnderecoMaps.Length > 0)
    {
    <div class="MapaGoogle"><div id="map-canvas" class="MapaGoogle2"></div></div>
    } 

	<div class="DescricaoTitulo1">@Model.Nome</div>
	<div class="DescricaoTexto">
    @Html.Raw(Model.Descricao)
	</div>

	<div class="Separacao2"></div>

    <div class="DescricaoTexto" style="margin-bottom: 20px;">

    
    </div>
        
    <a name="locais"></a>
	<div class="ListaLocais">Veja a lista de locais em @Model.Estado.Sigla</div>
      
</div>
</div>
  