﻿@model IEnumerable<Domain.Entities.Estado>
@{
    ViewBag.NaoExibeHeader = true;
    ViewBag.Title = "Bairros no Brasil";
    ViewBag.Description = "Encontre informações sobre bairros em todo o país. Telefone, endereço, mapa, floricultura. Compre Coroa de Flores pela internet.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes; 
}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");

            $('#estado').change(function () {
                var estadoID = $(this).val();
                if (estadoID != null) {
                    $('.ResulCidade').hide();
                    $('.div-' + estadoID).show();
                }
            }); 
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Bairros</b></span></div>
</div>
</div>


<div id="VeloriosCemiterios">
<div class="Div">

	<h1 class="TituloPagina">Bairros em todo o país</h1>
	<div class="VejaNossasCoroas">Veja nossas <a href="/coroa-de-flores" class="FiltroSelecionado">Coroa de Flores</a></div>
    
	<div class="Texto">Entregamos nossas Coroas de Flores gratuitamente para todo Brasil. <br />Você pode encontrar todos os locais cadastrados procurando por estado e cidade, ou encontrar o local desejado digitando o nome ou endereço na busca.</div>
    
	<div class="Texto1">Procure por estado e veja os locais cadastrados em cada cidade</div>
    
	<div class="Busca"> 
		<div class="Busca3">
			<div class="BuscaTexto">Estado</div>
			<div class="DivOpcaoBusca">
            <select name="estado" id="estado" class="DivOpcaoBuscaSelect">
				<option value=""></option>
				<option value="AP">Amapá</option>
				<option value="AC">Acre</option>
				<option value="AL">Alagoas</option>
				<option value="AM">Amazonas</option>
				<option value="BA">Bahia</option>
				<option value="CE">Ceará</option>
				<option value="DF">Distrito Federal</option>
				<option value="ES">Espírito Santo</option>
				<option value="GO">Goiás</option>
				<option value="MA">Maranhão</option>
				<option value="MG">Minas Gerais</option>
				<option value="MS">Mato Grosso do Sul</option>
				<option value="MT">Mato Grosso</option>
				<option value="PA">Pará</option>
				<option value="PB">Paraíba</option>
				<option value="PE">Pernambuco</option>
				<option value="PI">Piauí</option>
				<option value="PR">Paraná</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="RN">Rio Grande do Norte</option>
				<option value="RO">Rondônia</option>
				<option value="RR">Roraima</option>
				<option value="RS">Rio Grande do Sul</option>
				<option value="SC">Santa Catarina</option>
				<option value="SE">Sergipe</option>
				<option value="SP">São Paulo</option>
				<option value="TO">Tocantins</option>
			</select>
            </div>
		</div> 
	</div> 
    

	<div class="Busca2">
     
        @foreach (var estado in Model)
        { 
		    <div id="ResultadosBusca" class="ResulCidade div-@(estado.Sigla)">
		            <div class="ResulBLinha1">

			            <div class="ResulBTitulo">Resultado de busca para @estado.Nome </div>  
                    
			        </div>

			        <div class="Resultados">
                            @foreach (var local in estado.Bairro.Where(c =>c.Disponivel).ToList())
                            {
                                <div class="Resultados2"><b>@local.Nome</b> <br /><a href="@Url.RouteUrl("Bairro", new { rotuloUrl = local.RotuloUrl, estado = local.Estado.Sigla.ToLower() })" class="FiltroSelecionado">+ Veja mais</a></div>
                            }  
		            </div> 
            </div> 
        }   
	</div> 

	<div class="NaoEncontrou">

		<div class="Texto1">Não encontrou o seu local?</div>

		<div class="Div2">
		<div class="Texto2">Busque novamente</div>
		<div class="DivBusca">
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo"> 
			<div class="DivBusca2"><input type="text" name="termo" id="local-termo" class="DivBuscaInput busca_local" value="Encontre velórios ou cemitérios" onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" /></div>
			<div class="DivBusca2"><input type="image"  src="/content/imagens/busca.png" class="DivBuscar" alt="Buscar" /></div>
        </form>
		</div>
		</div>

		<div class="Texto3">Ou fale conosco pelo nosso Atendimento Online ou ligue para nossa Central de Atendimento 24h: @configuracoes.SAC.</div>

    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
    <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
    <div class="Separacao2"></div>
	</div> 

</div>
 
</div>

  