﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        Layout = null;
        ViewBag.Title = "Reports";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53436225-1', 'auto');
    @Html.Action("TrackUser", "Home")
    ga('send', 'pageview');

    </script>
    <!-- Jquery Plugins -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/bootstrap/css/bootstrap.css" media="screen" />
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title - Administrador Coroas para Velório</title>
    <link href="../../Content/NewStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img style="width: 100%; max-width: 170px; position: relative; margin: auto; margin-top: 15px;"
                    src="http://www.coroasparavelorio.com.br/content/neue/img/coroas-para-velorio.png"
                    alt="Coroas para Velório - Coroas de Flores para todo o Brasil">
            </div>
        </div>
        <div style="text-align: center;" class="page-header">
            <h1>
                Obrigado pelo Feedback</h1>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <a class="btn btn-success" href="http://www.coroasparavelorio.com.br/" role="button">
                    Acessar o Site</a>
            </div>
        </div>
    </div>
</body>
</html>
