﻿@using Domain.Entities
@model IEnumerable<Domain.Entities.Repasse>

@{
    ViewBag.Title = "Repasse ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fornecedor = (Domain.Entities.Fornecedor)ViewBag.Fornecedor;
}

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedor').addClass('active');

            $('#todos').click(function (event) {
                if (this.checked) {
                    // Iterate each checkbox
                    $(':checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    // Iterate each checkbox
                    $(':checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });

            $("#adicionar_data").click(function () {
                $("#div_data_repasse").dialog({
                    resizable: false,
                    height: 240,
                    modal: true,
                    buttons: {
                        "Salvar": function () {

                            var pedidos = new Array();
                            var data_to_send = "";
                            $('input[name="pedidos"]:checked').each(function () {
                                pedidos.push($(this).val());
                                data_to_send += $(this).val() + ",";
                            });

                            //var data_to_send = $('input[name="pedidos"]:checked').serializeObject();


                            if ($('#DataRepasse').val().length > 0 && pedidos.length > 0) {
                                $.post('/Fornecedor/AlterarDataRepasse/', { data: $('#DataRepasse').val(), pedidos: data_to_send }, function (data) {
                                    if (data.sucesso) {
                                        alert(data.mensagem); 
                                        location.reload(true);
                                    } else {
                                        alert(data.mensagem);
                                    }
                                });
                            } else {
                                alert('Digite uma data para repasse e selecione pelo menos um pedido.');
                            }
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });


            $("#alterar_status").click(function () {
                $("#div_alterar_status").dialog({
                    resizable: false,
                    height: 240,
                    modal: true,
                    buttons: {
                        "Salvar": function () {

                            var pedidos = new Array();
                            var data_to_send = "";
                            $('input[name="pedidos"]:checked').each(function () {
                                pedidos.push($(this).val());
                                data_to_send += $(this).val() + ",";
                            });

                            //var data_to_send = $('input[name="pedidos"]:checked').serializeObject();


                            if ($('#statusrepasse').val().length > 0 && pedidos.length > 0) {
                                $.post('/Fornecedor/AlterarStatusRepasse/', { status: $('#statusrepasse').val(), pedidos: data_to_send }, function (data) {
                                    if (data.sucesso) {
                                        alert(data.mensagem);
                                        location.reload(true);
                                    } else {
                                        alert(data.mensagem);
                                    }
                                });
                            } else {
                                alert('Selecione um status e pelo menos um pedido.');
                            }
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        });
         
    </script>
}

<div id="div_data_repasse" title="Digite uma data de repasse" style="display:none;">
    <p>
       <center><input type="text" id="DataRepasse" class= "select"  maxlength = "300" /></center>
    </p>
</div>
<div id="div_alterar_status" title="Selecione um novo status" style="display:none;">
    <p>
       <center>@Html.DropDownListForEnum("statusrepasse", typeof(Domain.Entities.Repasse.TodosStatus), null, null)</center>
    </p>
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Datas de repasses para o fornecedor @fornecedor.Nome
        </span>    
    </div>
    <div class="mws-panel-body">     
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            Selecione os pedidos para setar a data de repasse:<br /><br />
            <table>
            <tr>
                <td>Data de Repasse Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput  mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Repasse Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput  mws-datepicker" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Data do Pedido Inicial:</td>
                <td>
                    <input type="text" name="datainicialpedido" id="datainicialpedido" value="@Request.QueryString["datainicialpedido"]" autocomplete="off" class="mws-textinput  mws-datepicker" style="width:150px;" />
                </td>
                <td style="width:20px;"></td>
                <td>
                    Data do Pedido Final:
                </td>
                <td>
                    <input type="text" name="datafinalpedido" id="datafinalpedido" value="@Request.QueryString["datafinalpedido"]" autocomplete="off" class="mws-textinput  mws-datepicker" style="width:150px;" />
                </td>
            </tr>
            <tr>
                <td>Status de Pagamento:</td>
                <td>
                    @Html.DropDownListForEnum("status", typeof(Domain.Entities.Repasse.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), null)
                </td>
                <td style="width:20px;">

                </td> 
                <td>
                    Tipo Pedido:
                </td>
                <td>
                    <select name="TipoPedido" id="TipoPedido">
                        <option  value="">Selecione uma opção</option>
                        <option @if (Request.QueryString["TipoPedido"] == "1") { <text>selected</text> } value="1">CPV</option>
                        <option @if (Request.QueryString["TipoPedido"] == "2") { <text>selected</text> } value="2">LAÇOS</option>
                    </select>
                </td>
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
            <center><b>Foram encontrados @Model.Count() repasses totalizando @ViewBag.Total</b></center>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center"><input type="checkbox" name="todos" id="todos" /></th>
                    <th align="center">Data Criação Repasse</th> 
                    <th align="center">Data Pedido</th> 
                    <th align="center">Tipo Pedido</th> 
                    <th align="center">Nome do Falecido</th>
                    <th align="center">Local de Entrega</th>
                    <th align="center">Número</th>  
                    <th align="center">Celular do Solicitante</th>
                    <th align="center">Valor Total</th>
                    <th align="center">Valor do Repasse</th>
                    <th align="center">Data do Repasse</th>
                    <th align="center">Produto</th>
                    <th align="center">Valor Unitário</th>
                    <th style="text-align:center; ">Status</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any()){ 
                foreach (var item in Model){ 
                    <tr>
                        <td align="center">
                            @if ((item.StatusID != (int)Repasse.TodosStatus.Cancelado 
                                && item.StatusID != (int)Repasse.TodosStatus.Pago)
                                || ((Administrador)ViewBag.Admin).PerfilID == (int)Administrador.Perfis.Socios
                                || ((Administrador)ViewBag.Admin).PerfilID == (int)Administrador.Perfis.Coordenadores
                            ) {
                                <input type="checkbox" name="pedidos" value="@item.ID" />
                            }
                        </td>
                        <td align="center">
                            @item.DataCriacao
                        </td> 
                        <td align="center">
                            @if (item.PedidoEmpresa == null)
                            {
                                <text>CPV</text>
                            }
                            else {
                                <text>LAÇOS</text>
}
                        </td> 
                        <td align="center">
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                             }
                             else{
                                @item.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                             }
                        </td> 
                        <td>
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.PessoaHomenageada
                             }
                             else{
                                @item.PedidoEmpresa.PessoaHomenageada
                             }
                        </td>
                        <td>
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.LocalEntrega
                             }
                             else{
                                @item.PedidoEmpresa.LocalEntrega
                             }
                        </td>
                        <td>                        
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.Numero
                             }
                             else{
                                @item.PedidoEmpresaID
                             }
                        </td>
                        <td>                        
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.Cliente.CelularContato
                             }
                             else{
                                @item.PedidoEmpresa.Colaborador.TelefoneCelular
                             }
                        </td>
                        <td>
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.Pedido.ValorTotal.ToString("C2")
                             }
                             else{
                                @item.PedidoEmpresa.Valor.ToString("C2")
                             } 
                        </td> 
                        <td>
                            @item.ValorRepasse.ToString("C2")
                        </td>
                        <td>
                            @((item.DataRepasse.HasValue) ? item.DataRepasse.Value.ToString("dd/MM/yyyy") : "")
                        </td>
                        <td>
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.ProdutoTamanho.Produto.Nome
                             }
                             else{
                                @item.PedidoEmpresa.ProdutoTamanho.Produto.Nome
                             } 
                        </td> 
                        <td>
                             @if (item.PedidoEmpresa == null){
                                @item.PedidoItem.ProdutoTamanho.Preco.ToString("C2")
                             }
                             else{
                                @item.PedidoEmpresa.ProdutoTamanho.Preco.ToString("C2")
                             } 
                        </td>                          
                        <td style="text-align:center;" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.Status)">@Domain.Helpers.EnumHelper.GetDescription(item.Status)</td> 
                        <td class="center" style="width:105px;">    
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>             
                                    @if (item.PedidoEmpresa == null){
                                        <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosSite", new { id = item.PedidoItem.PedidoID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                    }
                                    else{
                                        <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosEmpresa", new { id = item.PedidoEmpresaID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                    }
                                </ul>
                            </div>              
                        </td>
                    </tr> 
                }
            } 
            else{
                <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens pendentes para setar data de repasse para serem exibidos</td></tr>
            }
            </table> 
        </div>
        <div >   
           <div class="mws-form">
            <div class="mws-button-row">
                <input type="button" class="mws-button blue" value="Alterar Status" id="alterar_status"/>
                <input type="button" class="mws-button blue" value="Adicionar data" id="adicionar_data"/>
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>  
            </div>
        </div>
    </div>
</div>