﻿@model Domain.Entities.Fornecedor
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = Model == null ? "Novo Fornecedor" : "Edição do fornecedor " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
   // var bancos = (IEnumerable<Domain.Entities.Banco>)ViewBag.Bancos;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Fornecedor" : "Edição do fornecedor " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Fornecedor", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Nome</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Pessoa de contato</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.PessoaContato, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Data Aniversáio Pessoa de Contato</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.DataAniversario, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>E-mail de contato</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.EmailContato, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Senha</label>
                <div class="mws-form-item small">
                    @{var senha = Model != null ? Model.Senha : "";}
                    @Html.Password("Senha", senha, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Senha Financeira </label><i>( Só preencha essa senha se a floricultura quiser acesso restrito à valores )</i>
                <div class="mws-form-item small">
                    @{var senhaf = Model != null ? Model.SenhaFinanceira : "";}
                    @Html.Password("SenhaFinanceira", senhaf, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Telefone primário</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TelefonePrimario, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Telefone secundário</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TelefoneSecundario, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Telefones adicionais</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TelefonesAdicionais, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Tipo</label>
                <div class="mws-form-item small">
                    <input type="radio" name="tipoPessoa" value="PJ" @((Model != null) ? Model.CNPJ != null ? "checked='checked'" : "" : "") /> PJ
                    <input type="radio" name="tipoPessoa" value="PF" @((Model != null) ? Model.CPF != null ? "checked='checked'" : "" : "") /> PF
                </div>
            </div>
            <div class="mws-form-row" id="divCPF" style="@((Model != null) ? Model.CPF != null ? "" : "display:none;" : "display:none;")">
                <label>CPF</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CPF, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row" id="divCNPJ" style="@((Model != null) ? Model.CNPJ != null ? "" : "display:none;" : "")">
                <label>CNPJ</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CNPJ, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Fluxo de Pagamento</label>
                <div class="mws-form-item small">
                    @{var fluxopagamentoID = Model != null ? Model.FluxoPagamentoID : 0;}
                    @Html.DropDownListForEnum("FluxoPagamentoID", typeof(Domain.Entities.Fornecedor.FluxosPagamento), fluxopagamentoID, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Dados de depósito primário</label>
                <div class="mws-form-item small">
                    <table cellpadding="4" cellspacing="4" width="500px">
                        @*<tr>
                        <td>BAaaaaNCO:</td>
                        <td>
                            <div class="mws-form-row">
                                <label>Estaaaaaasado</label>
                                <div class="mws-form-item small">
                                    @Html.DropDownList("box1banco", new SelectList(bancos, "ID", "NomeBanco"), "-- selecione -- ", new { @class = "mws-textinput" })

                                </div>
                            </div>
                        </td>
                    </tr>*@
                        <tr>
                            <td>BANCO:</td>
                            <td>
                                <select id="BancoPrimario" name="BancoPrimario" class="mws-textinput" style="width:300px;">
                                    <option value="">Selecione</option>
                                    @try
                                    {
                                        if (!String.IsNullOrEmpty(Model.BancoPrimario))
                                        {
                                            <option value="@Model.BancoPrimario" selected>@Model.BancoPrimario</option>
                                        }
                                    }
                                    catch { }
                                    <option value='Cooperativo do Brasil | BANCOOB | 756'>Cooperativo do Brasil | BANCOOB | 756</option>
                                    <option value='CAIXA ECONÔMICA FEDERAL | 104'>CAIXA ECONÔMICA FEDERAL | 104</option>
                                    <option value='BANCO DA AMAZÔNIA | 003'>BANCO DA AMAZÔNIA | 003</option>
                                    <option value='Banco do Estado do Rio Grande do Sul | 041'>Banco do Estado do Rio Grande do Sul | 041</option>
                                    <option value='ITAÚ UNIS.A. | 341'>ITAÚ UNIS.A. | 341</option>
                                    <option value='BRADESCO | 237'>BRADESCO | 237</option>
                                    <option value='COOPERATIVO SICREDI | 748'>COOPERATIVO SICREDI | 748</option>
                                    <option value='HSBC Bank Brasil | Múltiplo | 399'>HSBC Bank Brasil | Múltiplo | 399</option>
                                    <option value='SANTANDER (BRASIL) | 033'>SANTANDER (BRASIL) | 033</option>
                                    <option value='BANESTES do Estado do Espírito Santo | 021'>BANESTES do Estado do Espírito Santo | 021</option>
                                    <option value='BANCO DA CHINA BRASIL | 083-4'>BANCO DA CHINA BRASIL | 083-4</option>
                                    <option value='Banco do Estado do Pará | 038'>Banco do Estado do Pará | 038</option>
                                    <option value='Mercantil do Brasil | 390'>Mercantil do Brasil | 390</option>
                                    <option value='BANCO DO BRASIL | 001'>BANCO DO BRASIL | 001</option>
                                    <option value='BRB | de Brasília | 71'>BRB | de Brasília | 071</option>
                                    <option value='ABN AMRO | 76'>ABN AMRO | 076</option>
                                    <option value='BANCO DO NORDESTE DO BRASIL | 05'>BANCO DO NORDESTE DO BRASIL | 05</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>AGÊNCIA:</td>
                            <td>@Html.TextBoxFor(model => model.AgenciaPrimario, new { @class = "mws-textinput", maxlength = "4", style = "width:200px;" })</td>
                        </tr>
                        <tr>
                            <td>AGÊNCIA D:</td>
                            <td>@Html.TextBoxFor(model => model.DigitoAgenciaPrimario, new { @class = "mws-textinput", maxlength = "1", style = "width:30px;" })</td>
                        </tr>
                        <tr>
                            <td>CONTA:</td>
                            <td>@Html.TextBoxFor(model => model.ContaPrimario, new { @class = "mws-textinput", maxlength = "200", style = "width:200px;" })</td>
                        </tr>
                        <tr>
                            <td>TIPO DE CONTA:</td>
                            <td>@Html.TextBoxFor(model => model.TipoContaPrimario, new { @class = "mws-textinput", maxlength = "2", style = "width:200px;text-transform:uppercase;" })</td>
                        </tr>
                        <tr>
                            <td>FAVORECIDO:</td>
                            <td>@Html.TextBoxFor(model => model.FavorecidoPrimario, new { @class = "mws-textinput", maxlength = "200", style = "width:400px;" })</td>
                        </tr>
                        <tr>
                            <td>OPERAÇÃO:</td>
                            <td>@Html.TextBoxFor(model => model.OperacaoPrimario, new { @class = "mws-textinput", maxlength = "50", style = "width:200px;" })</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Dados de depósito secundário</label>
                <div class="mws-form-item small">
                    <table cellpadding="4" cellspacing="4" width="500px">
                        <tr>
                            <td>BANCO:</td>
                            <td>
                                <select id="BancoPrimario" name="BancoPrimario" class="mws-textinput" style="width:300px;">
                                    <option value="">Selecione</option>
                                    @try
                                    {
                                        if (!String.IsNullOrEmpty(Model.BancoSecundario))
                                        {
                                            <option value="@Model.BancoSecundario" selected>@Model.BancoSecundario</option>
                                        }
                                    }
                                    catch { }
                                    <option value='Cooperativo do Brasil | BANCOOB | 756'>Cooperativo do Brasil | BANCOOB | 756</option>
                                    <option value='CAIXA ECONÔMICA FEDERAL | 104'>CAIXA ECONÔMICA FEDERAL | 104</option>
                                    <option value='BANCO DA AMAZÔNIA | 003'>BANCO DA AMAZÔNIA | 003</option>
                                    <option value='Banco do Estado do Rio Grande do Sul | 041'>Banco do Estado do Rio Grande do Sul | 041</option>
                                    <option value='ITAÚ UNIS.A. | 341'>ITAÚ UNIS.A. | 341</option>
                                    <option value='BRADESCO | 237'>BRADESCO | 237</option>
                                    <option value='COOPERATIVO SICREDI | 748'>COOPERATIVO SICREDI | 748</option>
                                    <option value='HSBC Bank Brasil | Múltiplo | 399'>HSBC Bank Brasil | Múltiplo | 399</option>
                                    <option value='SANTANDER (BRASIL) | 033'>SANTANDER (BRASIL) | 033</option>
                                    <option value='BANESTES do Estado do Espírito Santo | 021'>BANESTES do Estado do Espírito Santo | 021</option>
                                    <option value='BANCO DA CHINA BRASIL | 083-4'>BANCO DA CHINA BRASIL | 083-4</option>
                                    <option value='Banco do Estado do Pará | 038'>Banco do Estado do Pará | 038</option>
                                    <option value='Mercantil do Brasil | 390'>Mercantil do Brasil | 390</option>
                                    <option value='BANCO DO BRASIL | 001'>BANCO DO BRASIL | 001</option>
                                    <option value='BRB | de Brasília | 71'>BRB | de Brasília | 071</option>
                                    <option value='ABN AMRO | 76'>ABN AMRO | 076</option>
                                    <option value='BANCO DO NORDESTE DO BRASIL | 05'>BANCO DO NORDESTE DO BRASIL | 05</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>AGÊNCIA:</td>
                            <td>@Html.TextBoxFor(model => model.AgenciaSecundario, new { @class = "mws-textinput", maxlength = "4", style = "width:200px;" })</td>
                        </tr>
                        <tr>
                            <td>AGÊNCIA D:</td>
                            <td>@Html.TextBoxFor(model => model.DigitoAgenciaSecundario, new { @class = "mws-textinput", maxlength = "1", style = "width:30px;" })</td>
                        </tr>
                        <tr>
                            <td>CONTA:</td>
                            <td>@Html.TextBoxFor(model => model.ContaSecundario, new { @class = "mws-textinput", maxlength = "200", style = "width:200px;" })</td>
                        </tr>
                        <tr>
                            <td>TIPO DE CONTA:</td>
                            <td>@Html.TextBoxFor(model => model.TipoContaSecundario, new { @class = "mws-textinput", maxlength = "2", style = "width:200px;text-transform:uppercase;" })</td>
                        </tr>
                        <tr>
                            <td>FAVORECIDO:</td>
                            <td>@Html.TextBoxFor(model => model.FavorecidoSecundario, new { @class = "mws-textinput", maxlength = "200", style = "width:400px;" })</td>
                        </tr>
                        <tr>
                            <td>OPERAÇÃO:</td>
                            <td>@Html.TextBoxFor(model => model.OperacaoSecundario, new { @class = "mws-textinput", maxlength = "50", style = "width:200px;" })</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mws-form-row">
                <label>CEP</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Entrega 24h?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.Entrega24h)  SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Principal do Estado?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.Principal)  SIM
                </div>
            </div>
            <div class="mws-form-row" id="divHorario" style="@((Model != null) ? Model.Entrega24h ? "display:none;" : "" : "")">
                <label>Horário de entrega</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.EntregaHorario, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Horário de Funcionamento</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.HorarioFuncionamento, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Responsável por Problemas</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ResponsavelProblemas, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Valor do Frete ou Taxa</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ValorFrete, new { @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Características</label>
                <div class="mws-form-item small">
                    @foreach (var item in Enum.GetValues(typeof(Domain.Entities.FornecedorCaracteristica.Todas)).Cast<Domain.Entities.FornecedorCaracteristica.Todas>())
                    {
                        <input type="checkbox" name="caracteristicas" value="@((int)item)" @(Model != null ? (Model.FornecedorCaracteristicas.Count(c => c.CaracteristicaID == (int)item) > 0 ? "checked" : "") : "") /> @Domain.Helpers.EnumHelper.GetDescription(item) <Br />
                    }
                </div>
            </div>
            <div class="mws-form-row">
                <label>Estado</label>
                <div class="mws-form-item small">
                    @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cidades Atendidas</label>
                <div class="mws-form-item large">
                    <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    <div class="mws-dualbox clearfix">
                        <div class="mws-dualbox-col1">
                            <div class="mws-dualbox-filter clearfix">
                                todas as cidades
                                <input type="text" id="box1Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box1Clear">X</button>
                            </div>
                            @Html.DropDownList("box1View", new SelectList(ViewBag.TodasCidades as IEnumerable<Domain.Entities.Cidade>, "ID", "NomeCompleto"), new { @multiple = "multiple", @size = "15" })
                            <span id="box1Counter" class="countLabel"></span>
                            <select id="box1Storage"></select>
                        </div>
                        <div class="mws-dualbox-col2">
                            <button id="to2" type="button">&gt;</button>
                            <button id="allTo2" type="button">&gt;&gt;</button>
                            <div class="clear"></div>
                            <button id="allTo1" type="button">&lt;&lt;</button>
                            <button id="to1" type="button">&lt;</button>
                        </div>
                        <div class="mws-dualbox-col3">
                            <div class="mws-dualbox-filter clearfix">
                                cidades selecionadas
                                <input type="text" id="box2Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box2Clear">X</button>
                            </div>

                            @Html.DropDownList("box2View", new SelectList(ViewBag.Cidades as IEnumerable<Domain.Entities.Cidade>, "ID", "NomeCompleto"), new { @multiple = "multiple", @size = "15" })
                            <span id="box2Counter" class="countLabel"></span>
                            <select id="box2Storage"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Entrega em cidades próximas</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.EntregaCidadesProximas, new { @class = "mws-textinput", maxlength = "200" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Observação</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.Observacao, new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Data de cadastro</label>
                <div class="mws-form-item small">
                    @{var data = (Model == null) ? DateTime.Now.ToString("dd/MM/yyyy") : Model.DataCadastro.ToString("dd/MM/yyyy");}
                    @Html.TextBox("DataCadastro", data, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Valor Mínimo de coroa</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ValorMinimoDeCoroa, new { @class = "mws-textinput money", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Fornecedor com acesso ao sistema de fornecedores?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.Liberado)  SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Forçar atualização de Latitude e Longitude baseado no CEP?</label>
                <div class="mws-form-item large">
                    <input type="checkbox" value="on" name="forcarAtualizacao" /> SIM
                </div>
            </div>
            <div class="mws-form-row">
                <label>Latitude <br /><i>Só altere se estiver incorreto e selecione, ao preencher o CEP, a latitude é verificada automaticamente.</i></label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Latitude, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Longitude <br /><i>Só altere se estiver incorreto, ao preencher o CEP, a longitude é verificada automaticamente.</i></label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Longitude, new { @class = "mws-textinput", maxlength = "50" })
                </div>
            </div>
            @if (Model != null)
            {
                if (Model.Latitude.HasValue && Model.Longitude.HasValue)
                {
                    if (Model.Latitude != 0 && Model.Longitude != 0)
                    {
                        <div class="mws-form-row">
                            <label>Mapa</label>
                            <div class="mws-form-item small">
                                <a href="http://maps.google.com/maps?q=@Model.CEP,loc:@(Model.Latitude.Value.ToString().Replace(",", ".")),@(Model.Longitude.Value.ToString().Replace(",", "."))" target="_blank">clique aqui</a>
                            </div>
                        </div>
                    }
                }
            }

            <div class="mws-button-row">
                @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Comunicacao)
                {
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                }
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {

        $(".money").maskMoney();

        $("#ContaPrimario").keypress(function (e) {
            if (/\d+|[/b]+|-+|x/i.test(e.key) ){
            } else {
                return false;
            }
        });
        $("#ContaSecundario").keypress(function (e) {
            if (/\d+|[/b]+|-+|x/i.test(e.key) ){
            } else {
                return false;
            }
        });

        $('#fornecedor').addClass('active');
        $('#i_fornecedor').addClass('active');

        $("#DataAniversario").mask({ mask: "##/##", allowPartials: true, placeholder: " " });

        $("#AgenciaPrimario").mask({ mask: "####", allowPartials: false, placeholder: "_" });
        $("#AgenciaSecundario").mask({ mask: "####", allowPartials: false, placeholder: "_" });

        $("#DigitoAgenciaPrimario").mask({ mask: "#", allowPartials: false, placeholder: " " });
        $("#DigitoAgenciaSecundario").mask({ mask: "#", allowPartials: false, placeholder: " " });

        $("#DataAniversario").attr('placeholder', 'DD/MM');

        $("#ValorFrete").maskMoney();
        $("#Entrega24h").click(function () {
            if ($("#Entrega24h").is(':checked')) {
                $("#divHorario").hide();
                $("#EntregaHorario").val('');
            } else {
                $("#divHorario").show();
            }
        });
        $("#CEP").blur(function () {
            $("#Latitude").val('0');
            $("#Longitude").val('0');
        });

        $("input[name='tipoPessoa']").click(function () {
            if ($("input[name='tipoPessoa']:checked").val() == "PJ") {
                $("#divCNPJ").show();
                $("#divCPF").hide();
                $("#CPF").val('');
            } else {
                $("#divCPF").show();
                $("#divCNPJ").hide();
                $("#CNPJ").val('');
            }
        });

        var pj = function () {
            if ($("input[name='tipoPessoa']:checked").val() == "PJ")
                return true;
            else
                return false;
        };

        var pf = function () {
            if ($("input[name='tipoPessoa']:checked").val() == "PF")
                return true;
            else
                return false;
        };

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                PessoaContato: "required",
                EstadoID: "required",
                tipoPessoa: "required",
                FluxoPagamentoID: "required",
                BancoPrimario: "required",
                EmailContato: {
                    email: true
                },
                CPF: {
                    cpf: pf
                },
                CNPJ: {
                    cnpj: pj
                },
                TelefonePrimario: "required"
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                PessoaContato: "O campo pessoa de contato é obrigatório.",
                EstadoID: "O campo estado é obrigatório.",
                EmailContato: {
                    email: "Digite um e-mail válido"
                },
                CPF: {
                    cpf: "Digite um CPF válido"
                },
                CNPJ: {
                    cnpj: "Digite um CNPJ válido"
                },
                TelefonePrimario: "O campo telefone primário é obrigatório.",
                tipoPessoa: "O campo Tipo é obrigatório.",
                FluxoPagamentoID: "O campo Fluxo de Pagamento é obrigatório.",
                BancoPrimario: "O campo Banco Primário é obrigatório."
            }
        });
    });
</script>
}