﻿@model IEnumerable<Domain.Entities.Fornecedor>

    @{
        ViewBag.Title = "Fornecedores";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var admin = (Domain.Entities.Administrador)ViewBag.Admin;
    }


    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#fornecedor').addClass('active');
                $('#i_fornecedor').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Fornecedores
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Fornecedor")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align:left;">
                    <form method="get">
                        <table>
                            <tr>
                                <td style="height:20px;" colspan="8"></td>
                            </tr>
                            <tr>
                                <td>Nome/Razão Social:</td>
                                <td><input type="text" name="termo" value="@Request.QueryString["termo"]" autocomplete="off" style="width:300px;" /></td>
                                <td style="width:70px;"></td>
                                <td>Dados Bancários:</td>
                                <td><input type="text" name="favorecido" value="@Request.QueryString["favorecido"]" autocomplete="off" style="width:300px;" /></td>
                                <td style="width:70px;"></td>
                                <td>E-mail:</td>
                                <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:300px;" /></td>
                            </tr>
                            <tr>
                                <td style="height:25px;" colspan="8"></td>
                            </tr>
                            <tr>
                                <td>Cidade:</td>
                                <td><input type="text" name="cidade" value="@Request.QueryString["cidade"]" autocomplete="off" style="width:300px;" /></td>
                                <td style="width:70px;"></td>
                                <td>Banco:</td>
                                <td>
                                    @{
                                        List<string> LstBanco = new List<string>();
                                        LstBanco.Add("COOPERATIVO DO BRASIL | BANCOOB | 756");
                                        LstBanco.Add("CAIXA ECONÔMICA FEDERAL | 104");
                                        LstBanco.Add("BANCO DA AMAZÔNIA | 003");
                                        LstBanco.Add("BANCO DO ESTADO DO RIO GRANDE DO SUL | 041");
                                        LstBanco.Add("ITAÚ UNIS.A. | 341");
                                        LstBanco.Add("BRADESCO | 237");
                                        LstBanco.Add("COOPERATIVO SICREDI | 748");
                                        LstBanco.Add("HSBC BANK BRASIL | MÚLTIPLO | 399");                                        
                                        LstBanco.Add("SANTANDER (BRASIL) | 033");
                                        LstBanco.Add("BANESTES DO ESTADO DO ESPÍRITO SANTO | 021");
                                        LstBanco.Add("BANCO DA CHINA BRASIL | 083");
                                        LstBanco.Add("BANCO DO ESTADO DO PARÁ | 037");
                                        LstBanco.Add("BANCO DO BRASIL | 001");
                                        LstBanco.Add("BRB | DE BRASÍLIA | 070");
                                        LstBanco.Add("ABN AMRO | 075");
                                        LstBanco.Add("BANCO DO NORDESTE DO BRASIL | 004");
                                    }
                                    <select id="banco" name="banco" class="mws-textinput" style="width:300px;">
                                        <option value=""></option>
                                        @{
                                            foreach (var Banco in LstBanco.OrderBy(q => q).ToList())
                                            {
                                                <option @if (Request.QueryString["banco"] == Banco) { <text> selected</text> } value='@Banco'>@Banco</option>
                                            }
                                        }
                                    </select>

                                </td>
                                <td style="width:70px;"></td>
                                <td>Fluxo de Pagamento:</td>
                                <td>
                                    @Html.DropDownListForEnum("fluxo", typeof(Domain.Entities.Fornecedor.FluxosPagamento), (!String.IsNullOrEmpty(Request.QueryString["fluxo"]) ? Convert.ToInt32(Request.QueryString["fluxo"]) : 0), new { style = "width:300px;" })
                                </td>
                            </tr>
                            <tr>
                                <td style="height:25px;" colspan="8"></td>
                            </tr>
                            @*<tr>
                                <td>Data de Repasse Inicial:</td>
                                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput  mws-datepicker" style="width:150px;" /></td>
                                <td style="width:70px;"></td>
                                <td>Data de Repasse Final:</td>
                                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput  mws-datepicker" style="width:150px;" /></td>
                                <td style="width:70px;"></td>
                                <td>Status de Pagamento:</td>
                                <td>@Html.DropDownListForEnum("status", typeof(Domain.Entities.Repasse.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
                            </tr>
                            <tr>
                                <td style="height:25px;" colspan="8"></td>
                            </tr>*@
                            <tr>
                                <td style="width:150px;">Sem Valor de Repasse:</td>
                                <td><input type="checkbox" name="valorrepasse" id="valorrepasse" @(Request.QueryString["valorrepasse"] == "true" ? "checked=checked" : "") value="true" /></td>
                                <td style="width:70px;"></td>
                                <td style="width:150px;">Sem Data de Repasse:</td>
                                <td><input type="checkbox" name="datarepasse" id="datarepasse" @(@Request.QueryString["datarepasse"] == "true" ? "checked=checked" : "") value="true" /></td>
                                <td style="width:70px;"></td>
                                <td style="width:150px;">Repasses em Aberto:</td>
                                <td><input type="checkbox" name="repasseaberto" id="repasseaberto" @(@Request.QueryString["repasseaberto"] == "true" ? "checked=checked" : "") value="true" /></td>
                            </tr>
                            <tr>
                                <td style="height:20px;" colspan="8"></td>
                            </tr>
                        </table>
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br /><br />
                    </form>
                </div>
                <table class="mws-table">

                    <thead>
                        <tr>
                            <th align="center">Nome</th>
                            <th align="center">Contato</th>
                            <th align="center">Telefones</th>
                            <th style="text-align:center; width:50px;">Estado</th>
                            <th style="text-align:center; width:250px;">Cidades</th>
                            <th style="text-align:center; width:150px;">Entrega 24h</th>
                            <th style="text-align:center; width:150px;">Principal</th>
                            <th style="text-align:center; width:100px;">Repasses Aberto</th>
                            <th style="text-align:center; width:150px;">Dados Bancários</th>
                            <th align="center">Ações</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                <td>@item.PessoaContato<br /><i>@item.EmailContato</i></td>
                                <td style="text-align:center;">@item.TelefonePrimario<br />@item.TelefoneSecundario</td>
                                <td style="text-align:center;">@item.Estado.Sigla</td>
                                <td>
                                    @{var comma = "";}
                                    @foreach (var cidade in item.FornecedorCidades.OrderBy(c => c.Cidade.Nome).OrderBy(c => c.Cidade.Estado.Sigla))
                                    {
                                        @Html.Raw(comma + cidade.Cidade.NomeCompleto)
                                        comma = "<br>";
                                    }
                                </td>
                                <td style="text-align:center;">@Html.Raw(item.Entrega24h ? "<b>SIM</b>" : "NÃO")<br /><i>@item.EntregaHorario</i></td>
                                <td style="text-align:center;">@Html.Raw(item.Principal ? "<b>SIM</b>" : "NÃO")</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalRepassesAberto)</td>
                                <td>
                                    <b>Fluxo de Pagamento:</b> @Domain.Helpers.EnumHelper.GetDescription(item.FluxoPagamento)
                                    <br /><br />
                                    <b>Dados primários</b>
                                    <br />
                                    <table cellpadding="4" cellspacing="4" style="font-size:10px;">
                                        <tr>
                                            <td>BANCO:</td>
                                            <td>@item.BancoPrimario</td>
                                        </tr>
                                        <tr>
                                            <td>AGÊNCIA:</td>
                                            <td>@item.AgenciaPrimario</td>
                                        </tr>
                                        <tr>
                                            <td>CONTA:</td>
                                            <td>@item.ContaPrimario</td>
                                        </tr>
                                        <tr>
                                            <td>TIPO DE CONTA:</td>
                                            <td>@item.TipoContaPrimario</td>
                                        </tr>
                                        <tr>
                                            <td>FAVORECIDO:</td>
                                            <td>@item.FavorecidoPrimario</td>
                                        </tr>
                                    </table>
                                    @if (!String.IsNullOrEmpty(item.BancoSecundario))
                                    {
                                        <b>Dados secundários</b>
                                            <br />
                                            <table cellpadding="4" cellspacing="4" style="font-size:10px;">
                                                <tr>
                                                    <td>BANCO:</td>
                                                    <td>@item.BancoSecundario</td>
                                                </tr>
                                                <tr>
                                                    <td>AGÊNCIA:</td>
                                                    <td>@item.AgenciaSecundario</td>
                                                </tr>
                                                <tr>
                                                    <td>CONTA:</td>
                                                    <td>@item.ContaSecundario</td>
                                                </tr>
                                                <tr>
                                                    <td>TIPO DE CONTA:</td>
                                                    <td>@item.TipoContaSecundario</td>
                                                </tr>
                                                <tr>
                                                    <td>FAVORECIDO:</td>
                                                    <td>@item.FavorecidoSecundario</td>
                                                </tr>
                                            </table>
                                    }
                                </td>
                                <td class="center" style="width:244px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
                                            @if (admin.Perfil != Domain.Entities.Administrador.Perfis.Comunicacao)
                                            {
                                                <li>@Html.ActionLink("Repasse", "Repasses", new { fornecedorid = item.ID }, new { @class = "mws-ic-16 ic-money" })</li>

                                                    <li>@Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>
                                                    <li>@Html.ActionLink("Datas", "Datas", new { id = item.ID, datainicial = DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy") }, new { @class = "mws-ic-16 ic-calendar-1" })</li>
                                                    <li style="width:162px;">@Html.ActionLink("Tabela de Repasse", "TabelaRepasse", new { id = item.ID }, new { @class = "mws-ic-16 ic-money-dollar" })</li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="odd"><td valign="top" colspan="11" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                                        }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]&favorecido=@Request.QueryString["favorecido"]&email=@Request.QueryString["email"]&cidade=@Request.QueryString["cidade"]&banco=@Request.QueryString["banco"]&valorrepasse=@Request.QueryString["valorrepasse"]&datarepasse=@Request.QueryString["datarepasse"]&fluxo=@Request.QueryString["fluxo"]&repasseaberto=@Request.QueryString["repasseaberto"]">@i.ToString()</a></span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
