﻿@model IEnumerable<Domain.Entities.Fornecedor>
@{
    ViewBag.Title = "Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedor').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">
        Salvo com sucesso!
        <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
    <div class="mws-form-message mws-panel success">
        Removido com sucesso!
        <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
{
    <div class="mws-form-message mws-panel error">
        Erro!
        <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Fornecedores
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Fornecedor")';"/>
        </span>
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align: left;">
                <form method="get">
                <table style="margin-bottom: 0px;">
                    <tr>
                        <td style="width: 125px;">
                            Nome Fornecedor:
                        </td>
                        <td>
                            <input type="text" name="termo" value="@Request.QueryString["termo"]" autocomplete="off" style="width:300px;margin-bottom: 10px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cidade:
                        </td>
                        <td>
                            <input  type="text" name="cidade" value="@Request.QueryString["cidade"]" autocomplete="off" style="width:300px;margin-bottom: 10px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            E-mail:
                        </td>
                        <td>
                            <input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:300px;margin-bottom: 10px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nota:
                        </td>
                        <td>
                            <select style="margin-bottom: 10px;" id="Nota" name="Nota">
                                <option value="">Selecione uma opção</option>
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Nota"])){if (1 == int.Parse(Request.QueryString["Nota"])){ @Html.Raw("selected") }} } value="1">1</option>
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Nota"])){if (2 == int.Parse(Request.QueryString["Nota"])){ @Html.Raw("selected") }} } value="2">2</option>
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Nota"])){if (3 == int.Parse(Request.QueryString["Nota"])){ @Html.Raw("selected") }} } value="3">3</option>
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Nota"])){if (4 == int.Parse(Request.QueryString["Nota"])){ @Html.Raw("selected") }} } value="4">4</option>
                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["Nota"])){if (5 == int.Parse(Request.QueryString["Nota"])){ @Html.Raw("selected") }} } value="5">5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Colaborador:
                        </td>
                        <td>
                            <select style="margin-bottom: 10px;" id="IdAdministrador" name="IdAdministrador">
                                <option value="">Selecione uma opção</option>
                                @{
                                    List<Domain.Entities.Administrador> lstReturn = new List<Domain.Entities.Administrador>();
                                    lstReturn = ViewBag.LstAdmins;

                                    foreach (var Item in lstReturn)
                                    {
                                    <option @{if (!string.IsNullOrEmpty(Request.QueryString["IdAdministrador"]))
                                              {
                                                  if (Item.ID == int.Parse(Request.QueryString["IdAdministrador"]))
                                                  { @Html.Raw("selected") }
                                              } } value="@Item.ID">@Item.Nome</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            Data Inicial:
                            <input style="margin-left: 51px;" type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-30).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/>
                        </td>
                        <td style="padding-left: 10px;">
                            Data Final:
                            <input type="text" name="datafinal" id="datafinal" value="@(Request.QueryString["datafinal"] == null ? DateTime.Now.ToString("dd/MM/yyyy") : Request.QueryString["datafinal"])" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/>
                        </td>
                    </tr>
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar" />
                </form>
            </div>
            @{
                
                List<Admin.ViewModels.FornecedorNPS> LstForne = new List<Admin.ViewModels.FornecedorNPS>();
                LstForne = ViewBag.ListaGeralFornecedorNPSCalculada;

                <h2 style="margin-bottom: 0px; background-color: #FAFAFA; padding-left: 10px; padding-top: 10px; padding-bottom: 20px;">
                    @{
                        if (ViewBag.SpanSays > 2000)
                        {
                            <text>Todo o período selecionado</text>
                        }
                        else
                        {
                            <text>Quantidade de Dias no período selecionado:</text> @ViewBag.SpanSays
                        }

                        decimal SomaMult = 0;
                        decimal SomaQtd = 0;

                        if (LstForne.Count > 0)
                        {
                            foreach (var item in LstForne)
                            {
                                SomaMult += item.Nota * item.QtdNota;
                                SomaQtd += item.QtdNota;
                            }

                        }
                    
                    }
                </h2>
                
                <h2 style="margin-bottom: 0px; background-color: #FAFAFA; padding-left: 10px; padding-top: 10px;
                    padding-bottom: 20px;">
                    @if (!string.IsNullOrEmpty(Request.QueryString["IdAdministrador"]))
                    {
                        if (SomaMult > 0 && SomaQtd > 0)
                        {
                            <text>Media Geral:</text> @(String.Format("{0:0.##}", SomaMult / SomaQtd))
                        }
                    }
                </h2>
                
               @* <h2 style="margin-bottom: 0px; background-color: #FAFAFA; padding-left: 10px; padding-top: 10px;
                    padding-bottom: 20px;">
                    @if (!string.IsNullOrEmpty(Request.QueryString["IdAdministrador"]))
                    {
                        <text>Qtd Avaliações:</text> @SomaQtd
                    }
                </h2>*@
                
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th align="center">
                                Pedido
                            </th>
                            <th align="center">
                                Data Pedido
                            </th>
                            <th align="center">
                                Data Última Resposta
                            </th>
                            <th align="center">
                               Processou
                            </th>
                            <th align="center">
                                Contato
                            </th>
                            <th style="width: 85px;" align="center">
                                Telefone
                            </th>
                            @*<th align="center">
                                Cidade
                            </th>*@
                            <th align="center">
                                Nota
                            </th>
                             <th align="center">
                                 Respostas
                             </th>
                            <th style="width: 300px;" align="center">
                                Obs
                            </th>
                        </tr>
                    </thead>
                    @if (LstForne.Count > 0)
                    {
                        foreach (var item in LstForne)
                        {
                        <tr>
                            <td>
                                <a target="_blank" href="/PedidosSite/Visualizar/@Html.Raw(item.IdPedido.ToString())">@Html.Raw(item.NrPedido.ToString()) </a>
                            </td>
                            <td>
                                @Html.Raw(item.DataPedido.ToShortDateString()) @Html.Raw(item.DataPedido.ToShortTimeString())
                            </td>
                            <td>
                                @Html.Raw(item.DataEnvioAvaliacao.ToShortDateString()) @Html.Raw(item.DataEnvioAvaliacao.ToShortTimeString())
                            </td>
                            <td>
                                @Html.Raw(item.NomeProcessou)
                            </td>
                            <td>
                                @Html.Raw(item.Floricultura.ToUpper()) - @Html.Raw(item.PessoaContato)
                                <br />
                                <i>
                                    @Html.Raw(item.EmailContato)
                                </i>
                            </td>
                            <td>
                                @Html.Raw(item.Telefone)
                            </td>
                            @*<td>
                                @Html.Raw(item.Cidade)
                            </td>*@
                            <td>
                                @Html.Raw(String.Format("{0:0.##}", item.Nota))
                            </td>
                            <td>
                             @{
                                if (!string.IsNullOrEmpty(item.Respostas))
                                {
                                    @Html.Raw(item.Respostas.ToString())
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }
                            }
                            </td>
                            <td>
                            @{
                            if (!string.IsNullOrEmpty(item.Obs))
                            {
                                @Html.Raw(item.Obs.ToString())
                            }
                            else
                            {
                                @Html.Raw("N/A")
                            }
                        }
                                
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd">
                            <td valign="top" colspan="11" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>
            }
            @if (ViewBag.TotalPaginas > 1)
            {
                <div class="dataTables_wrapper">
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                            @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                            {
                                <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]&favorecido=@Request.QueryString["favorecido"]&email=@Request.QueryString["email"]&cidade=@Request.QueryString["cidade"]&banco=@Request.QueryString["banco"]&valorrepasse=@Request.QueryString["valorrepasse"]&datarepasse=@Request.QueryString["datarepasse"]&fluxo=@Request.QueryString["fluxo"]&repasseaberto=@Request.QueryString["repasseaberto"]">@i.ToString()</a></span>
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
