﻿@model IEnumerable<Domain.Entities.Fornecedor>
    @{
        ViewBag.Title = "Fornecedores NPS New";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var admin = (Domain.Entities.Administrador)ViewBag.Admin;
    }
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#fornecedor').addClass('active');
                $('#i_fornecedornpsnew').addClass('active');
            });
        </script>
    }
    @if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(Request.QueryString["msg"]))
        </div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(Request.QueryString["msg"]))
        </div>
    }
    else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(Request.QueryString["msg"]))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Fornecedores - NPS New
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Fornecedor")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table style="margin-bottom: 0px;">
                            <tr>
                                <td style="width: 125px;">
                                    Nome Fornecedor:
                                </td>
                                <td>
                                    <input type="text" name="termo" value="@Request.QueryString["termo"]" autocomplete="off" style="width:300px;margin-bottom: 10px;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cidade:
                                </td>
                                <td>
                                    <input type="text" name="cidade" value="@Request.QueryString["cidade"]" autocomplete="off" style="width:300px;margin-bottom: 10px;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    E-mail:
                                </td>
                                <td>
                                    <input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:300px;margin-bottom: 10px;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Colaborador:
                                </td>
                                <td>
                                    <select style="margin-bottom: 10px;" id="IdAdministrador" name="IdAdministrador">
                                        <option value="">Selecione uma opção</option>
                                        @{
                                            List<Domain.Entities.Administrador> lstReturn = new List<Domain.Entities.Administrador>();
                                            lstReturn = ViewBag.LstAdmins;

                                            foreach (var Item in lstReturn)
                                            {
                                                <option @{if (!string.IsNullOrEmpty(Request.QueryString["IdAdministrador"])) { if (Item.ID == int.Parse(Request.QueryString["IdAdministrador"])) { @Html.Raw("selected")  } } } value="@Item.ID">@Item.Nome</option>
                                            }
                                        }
                                    </select>

                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    Data Inicial:
                                    <input style="margin-left: 51px;" type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-30).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                </td>
                                <td style="padding-left: 10px;">
                                    Data Final:
                                    <input type="text" name="datafinal" id="datafinal" value="@(Request.QueryString["datafinal"] == null ? DateTime.Now.ToString("dd/MM/yyyy") : Request.QueryString["datafinal"])" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                        <input type="submit" class="mws-button gray small" value="Filtrar" />
                    </form>
                </div>
                <h2 style="margin-bottom: 0px;background-color: #FAFAFA;padding-left: 10px;padding-top: 10px;padding-bottom: 20px;">
                    @{ 
                        int NpsFinal = (int)ViewBag.NPSGeral;
                    }
                    NPS Geral: @NpsFinal
                </h2>

                @{
                    List<Admin.ViewModels.FornecedorNPS> LstForne = new List<Admin.ViewModels.FornecedorNPS>();
                    LstForne = ViewBag.ListaGeralFornecedorNPSCalculada;

                    if (ViewBag.Busca == true)
                    {
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th align="center">
                                        Contato
                                    </th>
                                    <th style="width: 85px;" align="center">
                                        Telefone
                                    </th>
                                    @*<th align="center">
                                            Cidade
                                        </th>*@
                                    <th align="center">
                                        Nota
                                    </th>
                                    <th align="center">
                                        Qtd Avaliações
                                    </th>
                                </tr>
                            </thead>
                            @if (LstForne.Count > 0)
                            {
                                foreach (var item in LstForne)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(item.Floricultura.ToUpper()) - @Html.Raw(item.PessoaContato)
                                            <br />
                                            <i>
                                                @Html.Raw(item.EmailContato)
                                            </i>
                                        </td>
                                        <td>
                                            @Html.Raw(item.Telefone)
                                        </td>
                                        <td>
                                            @item.Nota
                                        </td>
                                        <td>
                                            @Html.Raw(item.QtdNota.ToString())
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="odd">
                                    <td valign="top" colspan="11" class="dataTables_empty">
                                        Não há itens para serem exibidos
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <table class="mws-table">
                            <tr>
                                <td>
                                    <p>
                                        <b>Melhores 30 fornecedores </b>
                                    </p>
                                    <table class="mws-table">
                                        <thead>
                                            <tr>
                                                <th align="center">
                                                    Contato
                                                </th>
                                                <th style="width: 85px;" align="center">
                                                    Telefone
                                                </th>
                                                <th align="center">
                                                    Estado
                                                </th>
                                                <th align="center">
                                                    Nota
                                                </th>
                                            </tr>
                                        </thead>
                                        @foreach (var Item in ViewBag.resultTop30NPS)
                                        {
                                            Admin.ViewModels.FornecedorNPS novoNPS = new Admin.ViewModels.FornecedorNPS();
                                            novoNPS = Item;
                                            <tr>
                                                <td>
                                                    @Html.Raw(novoNPS.Floricultura.ToUpper()) - @Html.Raw(novoNPS.PessoaContato)
                                                    <br />
                                                    <i>
                                                        @Html.Raw(novoNPS.EmailContato)
                                                    </i>
                                                </td>
                                                <td>
                                                    @Html.Raw(novoNPS.Telefone)
                                                </td>
                                                <td>
                                                    @Html.Raw(novoNPS.Estado)
                                                </td>
                                                <td>
                                                    @{
                                                        int Nota = (int)novoNPS.Nota;
                                                    }
                                                    @Nota
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td>
                                    <p>
                                        <b>Piores 30 fornecedores </b>
                                    </p>
                                    <table class="mws-table">
                                        <thead>
                                            <tr>
                                                <th align="center">
                                                    Contato
                                                </th>
                                                <th style="width: 85px;" align="center">
                                                    Telefone
                                                </th>
                                                <th align="center">
                                                    Estado
                                                </th>
                                                <th align="center">
                                                    Nota
                                                </th>
                                            </tr>
                                        </thead>
                                        @foreach (var Item in ViewBag.resultPiores30NPS)
                                        {
                                            Admin.ViewModels.FornecedorNPS novoNPS = new Admin.ViewModels.FornecedorNPS();
                                            novoNPS = Item;
                                            <tr>
                                                <td>
                                                    @Html.Raw(novoNPS.Floricultura.ToUpper()) - @Html.Raw(novoNPS.PessoaContato)
                                                    <br />
                                                    <i>
                                                        @Html.Raw(novoNPS.EmailContato)
                                                    </i>
                                                </td>
                                                <td>
                                                    @Html.Raw(novoNPS.Telefone)
                                                </td>
                                                <td>
                                                    @Html.Raw(novoNPS.Estado)
                                                </td>
                                                <td>
                                                    @{
                                                        int Nota = (int)novoNPS.Nota;
                                                    }
                                                    @Nota
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
