﻿@model IEnumerable<Domain.Entities.Fornecedor>

@{
    ViewBag.Title = "Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedorp').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Fornecedores com Pedidos Pendentes de Entrega
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align:left;"> 
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Nome</th>
                        <th align="center">Contato</th>
                        <th align="center">Telefones</th>
                        <th style="text-align:center; width:50px;">Estado</th>
                        <th style="text-align:center; width:250px;">Cidades</th>
                        <th style="text-align:center; width:150px;">Entrega 24h</th>
                        <th style="text-align:center; width:150px;">Principal</th>
                        <th style="text-align:center; width:150px;">Pedidos Pendentes<br />(Site)</th>
                        <th style="text-align:center; width:150px;">Pedidos Pendentes<br />(Empresa)</th> 
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@item.PessoaContato<br /><i>@item.EmailContato</i></td>
                        <td style="text-align:center;">@item.TelefonePrimario<br />@item.TelefoneSecundario</td>
                        <td style="text-align:center;">@item.Estado.Sigla</td>
                        <td>
                            @{var comma = "";}
                            @foreach(var cidade in item.FornecedorCidades.OrderBy(c => c.Cidade.Nome).OrderBy(c => c.Cidade.Estado.Sigla)){
                                @Html.Raw(comma + cidade.Cidade.NomeCompleto)
                                comma = ", ";
                            }
                        </td>
                        <td style="text-align:center;">@Html.Raw(item.Entrega24h ? "<b>SIM</b>" : "NÃO")<br /><i>@item.EntregaHorario</i></td>
                        <td style="text-align:center;">@Html.Raw(item.Principal ? "<b>SIM</b>" : "NÃO")</td>
                        <td style="text-align:center;"><a href="/Fornecedor/PedidosSite?fornecedorID=@item.ID">@item.Pedidos.Count(p => p.StatusEntregaID == (int)Domain.Entities.TodosStatusEntrega.Despachado && p.StatusProcessamentoID == (int)Domain.Entities.Pedido.TodosStatusProcessamento.Processando)</a></td>
                        <td style="text-align:center;"><a href="/Fornecedor/PedidosEmpresa?fornecedorID=@item.ID">@item.PedidoEmpresas.Count(e => e.StatusEntregaID == (int)Domain.Entities.TodosStatusEntrega.Despachado && (e.StatusID == (int)Domain.Entities.PedidoEmpresa.TodosStatus.PedidoEmAnalise || e.StatusID == (int)Domain.Entities.PedidoEmpresa.TodosStatus.NovoPedido))</a></td> 
                    </tr>
                    }
                }else{
                    <tr class="odd"><td valign="top" colspan="11" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                </table>
                @if (ViewBag.TotalPaginas > 1)
                {
                <div class="dataTables_wrapper">   
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                        @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                        {
                            <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&termo=@Request.QueryString["termo"]">@i.ToString()</a></span>
                        }
                        </span>
                    </div>
                </div>
                }
        </div>
    </div>
</div>