﻿@model IEnumerable<Domain.Entities.Pedido>

@{
    ViewBag.Title = "Pedidos Pendentes (Site) ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fornecedor = (Domain.Entities.Fornecedor)ViewBag.Fornecedor;
}

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedorp').addClass('active');
            
        });

        function editapedido(id) {
            $('#label_obs_' + id).hide();
            $('#txt_obs_' + id).show();
            $('#label_recebido_' + id).hide();
            $('#txt_recebido_' + id).show();
            $('#label_parentesco_' + id).hide();
            $('#txt_parentesco_' + id).show();
            $('#label_data_' + id).hide();
            $('#txt_data_' + id).show();
            $('#edita_' + id).hide();
            $('#save_' + id).show();
            $('#label_status_' + id).hide();
            $('#status_' + id).show();
            $('#cancela_' + id).show();
        }

        function cancelapedido(id) {
            $('#label_obs_' + id).show();
            $('#txt_obs_' + id).hide();
            $('#label_recebido_' + id).show();
            $('#txt_recebido_' + id).hide();
            $('#label_parentesco_' + id).show();
            $('#txt_parentesco_' + id).hide();
            $('#label_data_' + id).show();
            $('#txt_data_' + id).hide();
            $('#edita_' + id).show();
            $('#save_' + id).hide();
            $('#cancela_' + id).hide();
            $('#label_status_' + id).show();
            $('#status_' + id).hide();
        }
        function salvapedido(id) {
            $('#save_' + id).hide();
            $('#label_save_' + id).show();
            $.post('/Fornecedor/SalvaPedidoSite/', { id: id, observacao: $('#txt_obs_' + id).val(), recebido: $('#txt_recebido_' + id).val(), parentesco: $('#txt_parentesco_' + id).val(), data: $('#txt_data_' + id).val(), status: $('#status_' + id).val() }, function (data) {
                if (data.sucesso) {
                    $('#label_recebido_' + id).html($('#txt_recebido_' + id).val());
                    $('#label_parentesco_' + id).html($('#txt_parentesco_' + id).val());
                    $('#label_data_' + id).html($('#txt_data_' + id).val());
                    $('#label_status_' + id).html($('#status_' + id + ' option:selected').text());
                    $('#label_obs_' + id).html($('#txt_obs_' + id).val());

                    $('#label_obs_' + id).show();
                    $('#txt_obs_' + id).hide();
                    $('#label_recebido_' + id).show();
                    $('#txt_recebido_' + id).hide();
                    $('#label_parentesco_' + id).show();
                    $('#txt_parentesco_' + id).hide();
                    $('#label_data_' + id).show();
                    $('#txt_data_' + id).hide();
                    $('#edita_' + id).show();
                    $('#save_' + id).hide();
                    $('#cancela_' + id).hide();
                    $('#label_status_' + id).show();
                    $('#status_' + id).hide();
                    if (data.mensagem.length > 0)
                        alert(data.mensagem);
                } else {
                    alert(data.mensagem);
                } 
                $('#label_save_' + id).hide();
            });
        }
    </script>
}

<div id="div_data_repasse" title="Digite uma data de repasse" style="display:none;">
    <p>
       <center><input type="text" id="DataRepasse" class= "select"  maxlength = "300" /></center>
    </p>
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Pedidos Pendentes (Site) para @fornecedor.Nome - Telefone: @fornecedor.TelefonePrimario @fornecedor.TelefoneSecundario
        </span>    
    </div>
    <div class="mws-panel-body">   
        @using (Html.BeginForm("PedidosSite", "Fornecedor", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
        <div class="mws-form-block">     
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;"> 
        </div>
        <table class="mws-table">
            <thead>
                <tr> 
                    <th align="center">Número</th>  
                    <th align="center">Produtos</th>
                    <th align="center">Nome do Falecido</th>
                    <th align="center">Local de Entrega</th>
                    <th align="center">Data Solicitada de Entrega</th>
                    <th align="center">Recebido Por</th>
                    <th align="center">Relacionamento</th>
                    <th align="center">Data de Entrega</th> 
                    <th style="text-align:center;">Observação</th>  
                    <th style="text-align:center; ">Status</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            { 
                foreach (var item in Model)
                { 
                    <tr> 
                        <td align="center">
                             <a href="/PedidosSite/Visualizar/@item.ID" target="_blank">@item.Numero</a>
                        </td> 
                        <td>
                             @foreach(var produto in @item.PedidoItens){
                                 @produto.ProdutoTamanho.Produto.Nome <br />
                             }
                        </td>
                        <td>
                             @item.PessoaHomenageada
                        </td>
                        <td>                        
                             @item.LocalEntrega
                        </td>
                        <td>
                             @item.DataSolicitada.ToString("dd/MM/yyyy HH:mm")
                        </td>  
                        <td><span id="label_recebido_@(item.ID)">@item.RecebidoPor</span><input type="text" style="display:none;" class = "mws-textinput" name="txt_recebido_@(item.ID)"  id="txt_recebido_@(item.ID)" value="@item.RecebidoPor" /></td>
                        <td><span id="label_parentesco_@(item.ID)">@item.ParentescoRecebidoPor</span><input type="text" style="display:none;" class = "mws-textinput" name="txt_parentesco_@(item.ID)"  id="txt_parentesco_@(item.ID)" value="@item.ParentescoRecebidoPor" /></td>
                    
                        <td><span id="label_data_@(item.ID)">@((item.DataEntrega.HasValue) ? item.DataEntrega.Value.ToString("dd/MM/yyyy HH:mm") : "")</span><input style="display:none;" type="text" class = "mws-textinput mws-datepicker-hhmm ldatah"  name="txt_data_@(item.ID)"  id="txt_data_@(item.ID)" value="@((item.DataEntrega.HasValue) ? item.DataEntrega.Value.ToString("dd/MM/yyyy HH:mm") : "")"/></td>
                        <td><span id="label_obs_@(item.ID)">@Html.Raw(item.ObsEntrega != null ? item.ObsEntrega.Replace("\n", "<br>") : "")</span><textarea rows="5" style="display:none;" class = "mws-textinput" name="txt_obs_@(item.ID)"  id="txt_obs_@(item.ID)">@item.ObsEntrega</textarea></td>
                    
                        <td style="text-align:center;">                        
                            @Html.DropDownListForEnum("status_" + item.ID, typeof(Domain.Entities.TodosStatusEntrega), item.StatusEntrega, new { style = "display:none;" })
                            <span id="label_status_@(item.ID)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</span>
                        </td> 
                        <td class="center" style="width:105px;">    
                            <div class="mws-panel-toolbar top clearfix">
                        	    <ul>                                              
                                    <li style="width:100px;"><span id="label_save_@(item.ID)" style="display:none;width:100px!important;" class="carregando-branco">Processando...</span></li>
                                    <li style="width:100px;" id="edita_@(item.ID)"><a class="mws-ic-16 ic-edit" onclick="editapedido('@item.ID');" target="_blank">Editar</a></li>
                                    <li style="width:100px;display:none;" id="save_@(item.ID)"><a class="mws-ic-16 ic-disk" onclick="salvapedido('@item.ID');" target="_blank">Salvar</a></li>
                                    <li style="width:100px;display:none;" id="cancela_@(item.ID)"><a class="mws-ic-16 ic-cross" onclick="cancelapedido('@item.ID');" target="_blank">Cancelar</a></li>
                                </ul>
                            </div>              
                        </td>
                    </tr> 
                }
            } 
            else
            {
                <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens pendentes para serem exibidos</td></tr>
            }
            </table> 
        </div>
        <div class="mws-button-row"> 
            <input type="reset" class="mws-button gray" value="Voltar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
            <span id="processando" class="carregando-branco">Processando...</span>
        </div>
        </div>
        }
            
    </div>
</div>