﻿@model IEnumerable<Admin.ViewModels.PedidosModel>

@{
    ViewBag.Title = "Repasse ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fornecedor = (Domain.Entities.Fornecedor)ViewBag.Fornecedor;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedor').addClass('active');
        });
        function editapedido(id) {
            $('#label_valor_' + id).hide();
            $('#label_data_' + id).hide();
            $('#txt_valor_' + id).show();
            $('#txt_data_' + id).show();
            $('#edita_' + id).hide();
            $('#save_' + id).show();
            $('#cancela_' + id).show();
        }
        function cancelapedido(id) { 
            $('#label_valor_' + id).show();
            $('#label_data_' + id).show();
            $('#txt_valor_' + id).hide();
            $('#txt_data_' + id).hide();
            $('#edita_' + id).show();
            $('#save_' + id).hide();
            $('#cancela_' + id).hide();
        }
        function salvapedido(id, numero) {

            $.post('/Fornecedor/SalvaFornecedor/', { itemID: id, numero: numero, valor: $('#txt_valor_' + id).val(), data: $('#txt_data_' + id).val() }, function (data) {
                if (data.sucesso) {
                    $('#label_valor_' + id).html('R$ ' + $('#txt_valor_' + id).val());
                    $('#label_data_' + id).html($('#txt_data_' + id).val());
                    $('#label_valor_total_' + numero).html(data.total);

                    $('#label_valor_' + id).show();
                    $('#label_data_' + id).show();
                    $('#txt_valor_' + id).hide();
                    $('#txt_data_' + id).hide();
                    $('#edita_' + id).show();
                    $('#save_' + id).hide();
                    $('#cancela_' + id).hide();
                } else {
                    alert(data.mensagem);
                }
            });
        }
    </script>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Repasses para o fornecedor @fornecedor.Nome
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Data de Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
            </tr>
            <tr>
                <td>Sem Valor de Repasse:</td>
                <td><input type="checkbox" name="valorrepasse" id="valorrepasse" @(Request.QueryString["valorrepasse"] == "true" ? "checked=checked" : "") value="true"/></td>
                <td style="width:20px;"></td>
                <td>Sem Data de Repasse:</td>
                <td><input type="checkbox" name="datarepasse" id="datarepasse" @(@Request.QueryString["datarepasse"] == "true" ? "checked=checked" : "") value="true"/></td>
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Tipo de Pedido</th>
                    <th align="center">ID</th>
                    <th align="center">Nome do Falecido</th>
                    <th align="center">Local de Entrega</th>
                    <th align="center">Número</th>
                    <th align="center">Valor Total</th>
                    <th align="center">Valor do Repasse Total</th>
                    <th align="center">Produto</th> 
                    <th align="center">Valor</th>
                    <th align="center">Valor do Repasse</th>
                    <th align="center">Data do Repasse</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                var pedidoID = 0;
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @Domain.Helpers.EnumHelper.GetDescription(item.Tipo)
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @item.PedidoID
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @item.Falecido
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @item.LocalEntrega
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @item.Numero
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            @item.ValorTotal.ToString("C2")
                        }
                    </td>
                    <td>
                        @if (item.PedidoID != pedidoID)
                        {
                            <span id="label_valor_total_@(item.Numero)">@item.ValorRepasseTotal.ToString("C2")</span>
                        }
                    </td>
                    <td>@item.Produto <br />@item.Tamanho</td>
                    <td>@item.Valor.ToString("C2")</td>
                    <td><span id="label_valor_@(item.ItemPedidoID)">@item.ValorRepasse.ToString("C2")</span><input type="text" style="display:none;" class = "mws-textinput lvalor" name="txt_valor_@(item.ItemPedidoID)"  id="txt_valor_@(item.ItemPedidoID)" value="@item.ValorRepasse.ToString("N2")" /></td>
                    <td><span id="label_data_@(item.ItemPedidoID)">@((item.DataRepasse.HasValue) ? item.DataRepasse.Value.ToString("dd/MM/yyyy") : "")</span><input style="display:none;" type="text" class = "mws-textinput mws-datepicker ldata"  name="txt_data_@(item.ItemPedidoID)"  id="txt_data_@(item.ItemPedidoID)" value="@((item.DataRepasse.HasValue) ? item.DataRepasse.Value.ToString("dd/MM/yyyy") : "")"/></td>
                    <td class="center" style="width:105px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>           
                                <li style="width:100px;" id="edita_@(item.ItemPedidoID)"><a class="mws-ic-16 ic-edit" onclick="editapedido('@item.ItemPedidoID');" target="_blank">Editar</a></li>
                                <li style="width:100px;display:none;" id="save_@(item.ItemPedidoID)"><a class="mws-ic-16 ic-disk" onclick="salvapedido('@item.ItemPedidoID','@item.Numero');" target="_blank">Salvar</a></li>
                                <li style="width:100px;display:none;" id="cancela_@(item.ItemPedidoID)"><a class="mws-ic-16 ic-cross" onclick="cancelapedido('@item.ItemPedidoID');" target="_blank">Cancelar</a></li>
                                                 
                                @if (item.Tipo == Admin.ViewModels.PedidosModel.TodosTipos.Cliente)
                                {
                                    <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosSite", new { id = item.PedidoID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                }
                                else
                                {
                                    <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosEmpresa", new { id = item.PedidoID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
                                pedidoID = item.PedidoID;
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="12" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
        </div>
    </div>
</div>