﻿@model IEnumerable<Domain.Entities.Repasse>

@{
    ViewBag.Title = "Repasse ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_repasse').addClass('active');
            $('.abreinfo').click(function () {
                if ($('#info-' + $(this).attr("data-id")).is(":visible")) {
                    $('.abreinfo').html('+ info do fornecedor');
                    $('#info-' + $(this).attr("data-id")).hide();
                } else {
                    $('.abreinfo').html('- info do fornecedor');
                    $('#info-' + $(this).attr("data-id")).show();
                }
            });

        });
        function editapedido(id, status) {
            console.log(status);
            //if (status == 2) {
            //    console.log(status);
            //    alert("O repasse já foi pago. Você não pode editá-lo!");
            //    return;
            //    //if (!confirm('O repasse já foi pago. Você tem certeza que deseja editá-lo?'))
            //    //    return;
            //}
            $('#label_valor_' + id).hide();
            $('#label_data_' + id).hide();
            $('#txt_valor_' + id).show();
            $('#txt_data_' + id).show();
            $('#edita_' + id).hide();
            $('#save_' + id).show();
            $('#label_status_' + id).hide();
            $('#status_' + id).show();
            $('#cancela_' + id).show();
        }
        function cancelapedido(id) { 
            $('#label_valor_' + id).show();
            $('#label_data_' + id).show();
            $('#txt_valor_' + id).hide();
            $('#txt_data_' + id).hide();
            $('#edita_' + id).show();
            $('#save_' + id).hide();
            $('#cancela_' + id).hide();
            $('#label_status_' + id).show();
            $('#status_' + id).hide();
        }
        function salvapedido(id, numero) {

            $.post('/Fornecedor/SalvaFornecedor/', { itemID: id, valor: $('#txt_valor_' + id).val(), data: $('#txt_data_' + id).val(), status: $('#status_' + id).val() }, function (data) {
                if (data.sucesso) {
                    $('#label_valor_' + id).text('R$ ' + $('#txt_valor_' + id).val());
                    $('#label_data_' + id).text($('#txt_data_' + id).val());
                    $('#label_status_' + id).innerHTML = ($('#status_' + id + ' option:selected').text());

                    $('#label_valor_' + id).show();
                    $('#label_data_' + id).show();
                    $('#txt_valor_' + id).hide();
                    $('#txt_data_' + id).hide();
                    
                    $('#edita_' + id).show();
                    $('#save_' + id).hide();
                    $('#cancela_' + id).hide();
                    $('#label_status_' + id).show();
                    $('#status_' + id).hide();
                    if (data.mensagem.length > 0) {
                        alert(data.mensagem);
                    }
                    if ($('#status_' + id).val() == "2") {
                        $('#edita_' + id).hide();

                    }
                    var classe = "";

                    console.log($('#status_' + id).val());
                    switch ($('#status_' + id).val()) {
                        case "1":
                            classe = "aguardandopagamento";
                            break;
                        case "2":
                            classe = "pago";
                            break;
                        case "3":
                            classe = "cancelado";
                            break;
                        case "4":
                            classe = "fechamento";
                            break;
                        default:
                    }
                    var a = $('#status_' + id + ' option:selected').text();
                    
                    var label = $('#label_status_' + id);
                    
                    label.innerHTML = a;    
                    document.getElementById('label_status_' + id).innerHTML = a;
                    $($(label).parent()).removeClass("aguardandopagamento pago cancelado fechamento");
                    $($(label).parent()).addClass(classe);

                }
                else {
                    alert(data.mensagem);
                }
            });
        }
    </script>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Repasses para Fornecedores
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                    <table align="center" style="margin: 0px auto;">
                        <tr style="height:20px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Data de Inicial de Repasse:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 100px;"></td>
                            <td>Data de Final de Repasse:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Data de Inicial do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datainicialped" id="datainicialped" value="@Request.QueryString["datainicialped"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width:100px;"></td>
                            <td>Data de Final do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datafinalped" id="datafinalped" value="@Request.QueryString["datafinalped"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Status de Pagamento:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("status", typeof(Domain.Entities.Repasse.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width:100px;"></td>
                            <td>Fornecedor:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="fornecedor" id="fornecedor" value="@Request.QueryString["fornecedor"]" autocomplete="off" class="mws-textinput" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>E-mail do Cliente:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="email" id="email" value="@Request.QueryString["email"]" autocomplete="off" class="mws-textinput" style="width:150px;" /></td>
                            <td style="width:100px;"></td>
                            <td>Número do Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="numero" id="numero" value="@Request.QueryString["numero"]" autocomplete="off" class="mws-textinput" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Sem Valor de Repasse:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="checkbox" name="valorrepasse" id="valorrepasse" @(Request.QueryString["valorrepasse"] == "true" ? "checked=checked" : "") value="true" /></td>
                            <td style="width:100px;"></td>
                            <td>Sem Data de Repasse:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="checkbox" name="datarepasse" id="datarepasse" @(@Request.QueryString["datarepasse"] == "true" ? "checked=checked" : "") value="true" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:30px;"></tr>
                    </table>
                    <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                        <input type="submit" class="mws-button green big" value="Filtrar" />
                    </div>
                    <br /><br />
                </form>
            </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center" valign="middle">Tipo de Pedido</th>
                    <th align="center" valign="middle">ID do Item ou Pedido</th>
                    <th align="center" valign="middle">Data do Pedido</th>
                    <th align="center" valign="middle" style="width:200px;">Floricultura</th>
                    <th align="center" valign="middle">Nome do Falecido</th>
                    <th align="center" valign="middle">Local de Entrega</th>
                    <th align="center" valign="middle">Número</th>
                    <th align="center" valign="middle">Valor Total do Pedido</th>
                    <th align="center" valign="middle">Produto</th>
                    <th align="center" valign="middle">Valor do Produto</th>
                    <th align="center" valign="middle">Status Pagamento</th>
                    <th align="center" valign="middle">Valor do Repasse</th>
                    <th align="center" valign="middle">Valor total do Repasse</th>
                    <th align="center" valign="middle">Frete do Fornecedor por Entrega</th>
                    <th align="center" valign="middle">Frete do Repasse</th>
                    <th align="center" valign="middle">Data do Repasse</th>
                    <th align="center" valign="middle">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
            <tr style="@(Request.QueryString["repasseid"] == item.ID.ToString() ? "background-color:#FFFAB3!important;" : "")">
                <td>
                    @if (item.PedidoEmpresa != null)
                    {
                        <text>PJ</text>
                    }
                    else
                    {
                        <text>PF</text>
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItemID
                    }
                    else
                    {
                        @item.PedidoEmpresaID
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                    }
                    else
                    {
                        @item.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                    }
                </td>
                <td>
                    @if (item.FornecedorID.HasValue)
                    {
                        <a href="repasses?datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&fornecedorid=@item.FornecedorID&valorrepasse=@Request.QueryString["valorrepasse"]&datarepasse=@Request.QueryString["datarepasse"]">@item.Fornecedor.Nome</a>
                        <br />
                        <a href="javascript:void(0);" class="abreinfo" data-id="@item.ID">+ info do fornecedor</a>
                        <div class="info" style="display:none;" id="info-@item.ID">
                            <br />
                            @item.Fornecedor.TelefonePrimario<br />@item.Fornecedor.TelefoneSecundario
                            <br /> <br />
                            <b>Repasses em aberto: </b>@item.Fornecedor.TotalRepassesAberto
                            <br /> <br />
                            <b>Fluxo de Pagamento:</b> @Domain.Helpers.EnumHelper.GetDescription(item.Fornecedor.FluxoPagamento)
                            <br /><br />
                            <b>Dados primários</b>
                            <br />
                            <table cellpadding="4" cellspacing="4" style="font-size:10px;">
                                <tr>
                                    <td>BANCO:</td>
                                    <td>@item.Fornecedor.BancoPrimario</td>
                                </tr>
                                <tr>
                                    <td>AGÊNCIA:</td>
                                    <td>@item.Fornecedor.AgenciaPrimario</td>
                                </tr>
                                <tr>
                                    <td>CONTA:</td>
                                    <td>@item.Fornecedor.ContaPrimario</td>
                                </tr>
                                <tr>
                                    <td>TIPO DE CONTA:</td>
                                    <td>@item.Fornecedor.TipoContaPrimario</td>
                                </tr>
                                <tr>
                                    <td>FAVORECIDO:</td>
                                    <td>@item.Fornecedor.FavorecidoPrimario</td>
                                </tr>
                            </table>
                            @if (!String.IsNullOrEmpty(item.Fornecedor.BancoSecundario))
                            {
                                <b>Dados secundários</b>
                                <br />
                                <table cellpadding="4" cellspacing="4" style="font-size:10px;">
                                    <tr>
                                        <td>BANCO:</td>
                                        <td>@item.Fornecedor.BancoSecundario</td>
                                    </tr>
                                    <tr>
                                        <td>AGÊNCIA:</td>
                                        <td>@item.Fornecedor.AgenciaSecundario</td>
                                    </tr>
                                    <tr>
                                        <td>CONTA:</td>
                                        <td>@item.Fornecedor.ContaSecundario</td>
                                    </tr>
                                    <tr>
                                        <td>TIPO DE CONTA:</td>
                                        <td>@item.Fornecedor.TipoContaSecundario</td>
                                    </tr>
                                    <tr>
                                        <td>FAVORECIDO:</td>
                                        <td>@item.Fornecedor.FavorecidoSecundario</td>
                                    </tr>
                                </table>
                            }
                        </div>
                    }
                    else
                    {
                        <text>S/Fornecedor Informado</text>
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.Pedido.PessoaHomenageada
                    }
                    else
                    {
                        @item.PedidoEmpresa.PessoaHomenageada
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.Pedido.LocalEntrega
                    }
                    else
                    {
                        @item.PedidoEmpresa.LocalEntrega
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.Pedido.Numero<br />
                        <i>@item.PedidoItem.Pedido.PedidoItems.Count produtos</i>
                    }
                    else
                    {
                        @item.PedidoEmpresaID
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.Pedido.ValorTotal.ToString("C2")
                    }
                    else
                    {
                        @item.PedidoEmpresa.Valor.ToString("C2")
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.ProdutoTamanho.Produto.Nome
                        <br />
                        @item.PedidoItem.ProdutoTamanho.Tamanho.NomeCompleto
                    }
                    else
                    {
                        @item.PedidoEmpresa.ProdutoTamanho.Produto.Nome
                        <br />
                        @item.PedidoEmpresa.ProdutoTamanho.Tamanho.NomeCompleto
                    }
                </td>
                <td>
                    @if (item.PedidoEmpresa == null)
                    {
                        @item.PedidoItem.ProdutoTamanho.Preco.ToString("C2")
                    }
                    else
                    {
                        @item.PedidoEmpresa.ProdutoTamanho.Preco.ToString("C2")
                    }
                </td>
                <td class="@Domain.Core.Funcoes.GeraRotuloMVC(item.Status)">
                    <select style="display: none;" name="status_@(item.ID)" id="status_@(item.ID)">
                        <option value="">Selecione uma opção</option>

                        @if (admin.Perfil == Domain.Entities.Administrador.Perfis.TI
                            || admin.Perfil == Domain.Entities.Administrador.Perfis.Socios
                            || admin.Perfil == Domain.Entities.Administrador.Perfis.Financeiro
                            || admin.Perfil == Domain.Entities.Administrador.Perfis.Qualidade
                            || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores)
                        {
                            <option value="1" @{if (item.StatusID == 1) { <text> selected </text>  } }>Aguardando Pagamento</option>
                            <option value="2" @{if (item.StatusID == 2) { <text> selected </text>  } }>Pagamento Efetuado</option>
                        }

                        <option value="3" @{if (item.StatusID == 3) { <text> selected </text>  } }>Cancelado</option>

                    </select>
                    <span id="label_status_@(item.ID)">@Domain.Helpers.EnumHelper.GetDescription(item.Status)</span>
                </td>
                <td>
                    <span id="label_valor_@(item.ID)">@item.ValorRepasse.ToString("C2")</span><input type="text" style="display:none;" class="mws-textinput lvalor" name="txt_valor_@(item.ID)" id="txt_valor_@(item.ID)" value="@item.ValorRepasse.ToString("N2")" />
                </td>
                <td>

                    @if (item.ValorTotal != null)
                    {
                        @item.ValorTotal.Value.ToString("C2")
                    }
                    else
                    {
                        <text>R$ 0,00</text>
                    }

                </td>
                <td>
                    @item.Fornecedor.ValorFrete.ToString("C2")
                </td>
                <td>
                    @if (item.ValorFrete != null)
                    {
                        @item.ValorFrete.Value.ToString("C2")
                    }
                    else
                    {
                        <text>R$ 0,00</text>
                    }
                </td>
                <td><span id="label_data_@(item.ID)">@((item.DataRepasse.HasValue) ? item.DataRepasse.Value.ToString("dd/MM/yyyy") : "")</span><input style="display:none;" type="text" class="mws-textinput mws-datepicker ldata" name="txt_data_@(item.ID)" id="txt_data_@(item.ID)" value="@((item.DataRepasse.HasValue) ? item.DataRepasse.Value.ToString("dd/MM/yyyy") : "")" /></td>
                <td class="center" style="width:105px;">
                    <div class="mws-panel-toolbar top clearfix">
                        <ul>
                            @if (
                                item.Status != Domain.Entities.Repasse.TodosStatus.Pago 
                                || admin.Perfil == Domain.Entities.Administrador.Perfis.Socios
                                || admin.Perfil == Domain.Entities.Administrador.Perfis.Financeiro
                                || admin.Perfil == Domain.Entities.Administrador.Perfis.TI
                                || admin.Perfil == Domain.Entities.Administrador.Perfis.Qualidade
                                || admin.Perfil == Domain.Entities.Administrador.Perfis.Coordenadores
                                )
                            {
                                <li style="width:100px;" id="edita_@(item.ID)">
                                    <a class="mws-ic-16 ic-edit" onclick="editapedido('@item.ID','@item.StatusID');" target="_blank">Editar</a>
                                </li>
                            }

                            @if (item.Status == Domain.Entities.Repasse.TodosStatus.AguardandoPagamento || item.Status == Domain.Entities.Repasse.TodosStatus.Pago)
                            {
                                <li style="width:100px;display:none;" id="save_@(item.ID)"><a class="mws-ic-16 ic-disk" onclick="salvapedido('@item.ID');" target="_blank">Salvar</a></li>
                                <li style="width:100px;display:none;" id="cancela_@(item.ID)"><a class="mws-ic-16 ic-cross" onclick="cancelapedido('@item.ID');" target="_blank">Cancelar</a></li>
                            }

                            @if (item.PedidoEmpresa == null)
                            {
                                <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosSite", new { id = item.PedidoItem.PedidoID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                            }
                            else
                            {
                                <li style="width:100px;">@Html.ActionLink("Pedido", "Visualizar", "PedidosEmpresa", new { id = item.PedidoEmpresaID }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                            }
                        </ul>
                    </div>
                </td>
            </tr> 
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&datainicialped=@Request.QueryString["datainicialped"]&datafinalped=@Request.QueryString["datafinalped"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&fornecedorid=@Request.QueryString["fornecedorid"]&fornecedor=@Request.QueryString["fornecedor"]&valorrepasse=@Request.QueryString["valorrepasse"]&datarepasse=@Request.QueryString["datarepasse"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>