﻿@model IEnumerable<Domain.Entities.Produto>

@{
    ViewBag.Title = "Preços";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var precos = (List<Domain.Entities.FornecedorPreco>)ViewBag.Precos;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fornecedor').addClass('active');
            $('#i_fornecedor').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

 
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Tabela de Repasse para o fornecedor @ViewBag.Fornecedor.Nome</span>
    </div> 
    <div class="mws-panel-body">
        @using (Html.BeginForm("TabelaRepasse", "Fornecedor", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <input type="hidden" value="@ViewBag.Fornecedor.ID" id="FornecedorID" name="FornecedorID" />
        <div class="mws-form-block">
         
@if (Model.Any())
{
    foreach (var item in Model)
    {
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-20 i-table-1">@item.Nome
                @if (item.ProdutoTamanhoes.Count < ViewBag.Tamanhos)
                {
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Precos", new { produtoID = item.ID, tipo = Request.QueryString["tipo"] })';"/>
                }
            </span>    
        </div>
        <div class="mws-panel-body">
            
            <table class="mws-table">
                <thead>
                    <tr>
                        <th align="center">Foto</th>                        
                        <th align="center">Tamanho</th>
                        <th style="text-align:center;width:150px;">Preço de venda</th> 
                        <th style="text-align:center;width:150px;" align="center">Valor de Repasse Padrão</th>
                    </tr>
                </thead>
                @if (item.ProdutoTamanhoes.Any())
                {
                    foreach (var tamanho in item.ProdutoTamanhoes)
                    {
                        var fornecedorpreco = precos.FirstOrDefault(c => c.ProdutoTamanhoID == tamanho.ID && c.ProdutoID == item.ID && c.FornecedorID == ViewBag.Fornecedor.ID);
                        var valor = (fornecedorpreco != null)?fornecedorpreco.Repasse.HasValue?fornecedorpreco.Repasse.Value.ToString("N2"):"0,00":"0,00";
                    <tr>
                        <td><img src="/content/produtos/@item.ID/thumb/@item.Foto" height="50"/></td>
                        <td>@tamanho.Tamanho.Nome - @tamanho.Tamanho.Dimensao</td>
                        <td style="text-align:center;">@tamanho.Preco.ToString("C2")</td> 
                        <td style="text-align:center;"><input type="text" class="repasse mws-textinput" style="text-align:center;" name="@(tamanho.ID)-preco" id="@(tamanho.ID)-preco" value="@valor" /></td> 
                    </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há preços para este produto</td></tr>
                }
                </table>
        </div>
    </div>
    }
}
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>