﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Política de privacidade";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "politica-de-privacidade")" itemprop="url">      
      <span itemprop="title"><b>Política de Privacidade</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
<h1>Política de privacidade</h1>

<p>O site Coroas Para Velório.com.br vem por meio desta carta informar aos seus usuários sobre a Politíca de Privacidade das informações.</p>

<p>a) Os dados cadastrados pelos clientes e usuários, tais como Nome Completo, Registro Geral (RG) ou Cadastro de Pessoa Física (CPF), permancerão em total sigilo pela Equipe do site coroasparavelorio.com.br;</p>

<p>b) As informações corporativas fornecidas para a emissão das notas ou cupons fiscais também serão tratadas de forma sigilosa;</p>

<p>c) As informações a respeito de contatos dos clientes, tais como telefone fixo, telefone celular ou email, não serão passados em hipótese alguma a terceiros;</p>

<p>d) Os dados de cartão de crédito, independente da bandeira, não serão armazenados pelos nossos servidores ou funcionários, cabendo aos nossos clientes a manipulação e inserção dos dados dentro dos domínios seguros das operadoras de cartão de crédito;</p>

<p>e) Qualquer tipo de comunicação realizada pelo site Coroas Para Velório.com.br, tais como novidades, promoções ou informações, será dirigida com a permissão dos clientes e usuários;</p>

<p>Qualquer dúvida a respeito de nossa Política de Privacidade poderá ser dirigida ao email: contato@coroasparavelorio.com.br</p>

<p>Agradecemos a preferência,<br />
Equipe Coroas Para Velório.com.br</p>
</div>
