﻿@{
    ViewBag.H1 = "Suporte Online";
    ViewBag.Title = "- Suporte";
    
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";

    var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;
}
 
<div class="row form-horizontal">
    <div class=col-md-12>
        <p>
            Envie-nos suas dúvidas, sugestões, críticas ou comentários.
        </p>
        <p>
            Por favor, seja o mais específico possível quanto a suas dúvidas, para que possamos lhe ajudar com eficiência!
        </p>
    </div>

    <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
            <form class="form-group" id="form-contato" action="" method="post">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 control-label" for="contato-assunto">Assunto</label>
                            <div class="col-md-12 col-xs-12">
                                <input id="contato-assunto" name="contato-assunto" type="text" placeholder="Digite o assunto" class="form-control input-md" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-12 col-xs-12 col control-label" for="contato-telefone">Telefone</label>
                            <div class="col-md-12 col-xs-12">
                                <input id="contato-telefone" name="contato-telefone" type="text" value="@colaborador.Telefone" class="form-control input-md" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="contato-mensagem">Mensagem</label>
                            <div class="col-md-12">
                                <textarea id="contato-mensagem" placeholder="Digite sua mensagem" class="form-control input-md" name="contato-mensagem" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>     

                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Enviar" class="btn  btn-lg btn-success" id="finalizar" />
                    </div>
                    <div class="processando col-md-12" id="processando">
                        Enviando, por favor, aguarde...
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="phoneOrSomething">
                <span>Ou ligue para o nosso atendimento gratuito 24h pelo número</span>
                <h2>0800-777-1986</h2>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-contato").validate({
                meta: 'validate',
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },                
                submitHandler: function (form) {
                    var assunto = $('#contato-assunto').val();
                    var telefone = $('#contato-telefone').val();
                    var mensagem = $('#contato-mensagem').val();
                    $('#finalizar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("enviar")', { assunto: assunto, telefone: telefone, mensagem: mensagem }, function (data) {
                        if (data == 'OK') {
                            $('#contato-assunto').val('');
                            $('#contato-telefone').val('');
                            $('#contato-mensagem').val('');
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert('Sua mensagem foi enviada. Em breve entraremos em contato. Obrigado!');
                        } else {
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert('Não foi possível enviar sua mensagem. Tente novamente mais tarde.');
                        }
                    });
                },
                rules: {
                    'contato-assunto': {
                        required: true
                    },
                    'contato-telefone': {
                        required: true
                    },
                    'contato-mensagem': {
                        required: true
                    }
                },
                messages: {
                    'contato-assunto': 'Preencha o Assunto',
                    'contato-telefone': 'Preencha o Telefone',
                    'contato-mensagem': 'Preencha a Mensagem'
                }
            });

        });

    </script>
}