﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.Lote>


    @{
        ViewBag.Title = "Lote";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNumero = Request.QueryString["numero"];
        var _requestNome = Request.QueryString["nome"];
        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];
        var _requestStatus = Request.QueryString["status"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];
        var _requestStatusEntrega = Request.QueryString["statusentrega"];
        var _requestMeioPgto = Request.QueryString["meiopagamento"];


    }
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#financeiro').addClass('active');
                $('#i_lst_lotes').addClass('active');

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });

                $("#GerarRemessa").click(function () {
                    if (confirm('Você tem certeza que deseja Gerar remessas?')) {
                        $("#GerarRemessa").attr("disabled", "disabled");
                        $.post('/Lote/GerarRemessa/', function (data) {
                            if (data == "OK") {
                                alert('Remessa Gerada com Sucesso!');
                                location.reload();
                            } else {
                                alert(data);
                                $("#GerarRemessa").removeAttr("disabled");
                            }
                        });
                    }
                });

                $(".remover_cnab").click(function () {
                    var BTN = $(this);
                    if (confirm('Você tem certeza que deseja remover esse CNAB?')) {

                        $(BTN).attr("disabled", "disabled");

                        $.post('/Lote/RemoverCNAB/', { CnabID: $(this).attr("data-item") }, function (data) {
                            if (data == "OK") {
                                alert('CNAB removido com sucesso!');
                                location.reload();
                            } else {
                                alert(data);
                            }
                        });
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Lotes @(_requestNome != null && _requestNome != "" ? " para o Cliente " + _requestNome : "")
                <input type="button" id="GerarRemessa" value="Gerar Remessa (@ViewBag.PagamentoParaGerar)" @{ if(ViewBag.PagamentoParaGerar == 0) { <text> disabled </text> } } class="mws-button blue right padding_1" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td><strong>Número do Lote:</strong></td>
                                            <td><input type="text" name="numero" class="InputNUmero" value="@_requestNumero" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Descrição do Lote:</td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td> Data de Inicial:</td>
                                            <td><input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Data de Final:</td>
                                            <td><input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>                                
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th align="center" style="width: 120px;"></th>                            
                            @*<th align="center">Descrição</th>*@
                            <th align="center">Criação Lote</th>                            
                            <th align="center">Valor</th>
                            <th align="center">Pagamentos</th>
                            <th align="center">CNAB</th>
                            <th align="center">Ação</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            Domain.Entities.Lote novoLote = new Domain.Entities.Lote();
                            novoLote = item;
                            <tr>
                                <td class="center" style="width: 120px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 120px;">
                                                <a target="_blank" class="mws-ic-16 ic-view" href="/Lote/Visualizar/@novoLote.ID">@novoLote.ID</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                @*<td>
                                    @novoLote.Descricao
                                </td>*@
                                <td>
                                    @novoLote.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                </td>
                                <td>
                                    Total: <b>@novoLote.ValorTotal.ToString("C2")</b>
                                    <br />
                                    <br />
                                    Terceiros: @novoLote.ValorTerceiros.ToString("C2")<br />
                                    Floriculturas: @novoLote.ValorFloriculturas.ToString("C2")<br />
                                </td>
                                <td>
                                    Qtd. PGT.: <b>@novoLote.QtdPagamentos</b>
                                    <br />
                                    <br />
                                    Qtd. PGT. Pagos: <b>@novoLote.QtdPagamentosPagos</b><br />                                    
                                </td>
                                <td>
                                    @{
                                        if (novoLote.CNABs.Count > 0)
                                        {
                                            <text>Data de Criação:</text> @novoLote.CNABs.First().DataCriacao
                                        }
                                        else
                                        {
                                            <text>N/A</text>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (novoLote.CNABs.Count > 0)
                                        {
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        <a target="_blank" class="mws-ic-16 ic-view Baixar_CNAB" rel="@novoLote.CNABs.First().ID" href="/Lote/BaixarCNAB?CnabID=@novoLote.CNABs.First().ID">
                                                            Baixar CNAB
                                                        </a>
                                                    </li>
                                                </ul>                                                
                                            </div>
                                            <br />
                                            <div>
                                                <input type="button" style="width: 120px;" class="mws-button red remover_cnab" value="Remover" data-item="@novoLote.CNABs.First().ID">
                                            </div>
                                        }
                                        else
                                        {
                                            <text>N/A</text>
                                        }
                                    }
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&PossuiFoto=@Request.QueryString["PossuiFoto"]&meiopagamento=@Request.QueryString["meiopagamento"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
