﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@{
    ViewBag.Title = "Lista de Repasses em Aberto";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _requestCod = Request.QueryString["cod"];
    var _requestMsg = Request.QueryString["msg"];

    var _requestNome = Request.QueryString["nome"];
    var _requestFavorecido = Request.QueryString["nomefavorecido"];
    var _requestNrPedido = Request.QueryString["NrPedido"];
    var _requestOrigemFornecedor = Request.QueryString["OrigemFornecedor"];
    var _requestfluxo = Request.QueryString["fluxo"];


    List<Domain.Entities.IRepasse> lstIRepasse = new List<Domain.Entities.IRepasse>();
    lstIRepasse = ViewBag.lstIRepasse;

}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#dataPagamentoLote").mask({ mask: "##/##/####", allowPartials: false });

            $(".RemoverDataParaPagamento").click(function(){
                var Btn = $(this);

                $(Btn).attr("disabled", "disabled");

                $.post('/Lote/RemoverDataParaPagamento/',  {
                    RepasseID: $(Btn).attr("rel")
                }, function (data) {
                    if (data == "OK") {
                        alert('Data de Pagamento Removida com Sucesso!');
                        submitted = true;
                        location.reload();
                    } else {
                        alert(data);
                        $(Btn).removeAttr("disabled");
                    }
                });

                return false;
            });

           

            $('.CheckSingle').change(function () {
                if ($('.CheckSingle:checkbox:checked').length > 0) {
                    $(".check_page").removeAttr('disabled')
                }
                else{
                    $(".check_page").attr('disabled', true)
                }
            });

            $('.CheckAll').change(function () {
                if ($('.CheckSingle:checkbox:checked').length > 0) {
                    $(".check_page").removeAttr('disabled')
                }
                else {
                    $(".check_page").attr('disabled', true)
                }
            });

            $('#financeiro').addClass('active');
            $('#i_lst_repasse').addClass('active');
            $(".CheckSingle").click(function () {
                if ($(this).attr("checked") == "checked") {
                    $(this).parent().parent().parent().parent().parent().find(".adicionar_lote").removeAttr('disabled');
                }
                else {
                    $(this).parent().parent().parent().parent().parent().find(".adicionar_lote").attr('disabled', true);
                }
            });

            $(".CheckAll").click(function () {
                if ($(this).attr("checked") == "checked") {
                    $(this).parent().parent().parent().parent().find(".CheckSingle:enabled").attr('checked', true);
                    $(this).parent().parent().parent().parent().find(".adicionar_lote").removeAttr('disabled');
                }
                else {
                    $(this).parent().parent().parent().parent().find(".CheckSingle:enabled").removeAttr('checked', true);
                    $(this).parent().parent().parent().parent().find(".adicionar_lote").attr('disabled', true);
                }
            });

            $(".CheckPage").click(function () {
                if ($(this).attr("checked") == "checked") {

                    $(".CheckSingle").each(function () {
                        if ($(this).attr('disabled') != 'disabled') {
                            $(this).attr('checked', true);
                            $(".adicionar_lote").removeAttr('disabled');
                        }
                    });
                   
                }
                else {
                    $(".CheckSingle").removeAttr('checked', true);
                    $(".adicionar_lote").attr('disabled', true);
                }
            });

            $("input[type='submit']").click(function(){
                if($("#datainicial").val() == ""){
                    alert('Preencha a data inicial do repasse');
                    return false;
                }
                if($("#datafinal").val() == ""){
                    alert('Preencha a data final do repasse');
                    return false;
                }
            });

            $(".adicionar_lote").click(function () {

                var Origem = $(this).attr("rel");

                var IDS = "";
                $(this).parent().parent().parent().parent().find(".CheckSingle:checked:enabled").each(function () {
                    IDS += $(this).attr("rel") + ",";
                });
                IDS = IDS.substring(0, IDS.length - 1);
                $("#IdPagamentos").val(IDS);

                if (IDS == "") {
                    alert('Não há pagamentos selecionados');
                }
                else {
                    $("#div_adicionar_lote").dialog({
                        resizable: false,
                        width: 450,
                        modal: true,
                        buttons: {
                            "Salvar": function () {
                                if (confirm('Você tem certeza que deseja adicionar esses pagamentos?')) {
                                    $(".ui-button").attr("disabled", "disabled");
                                    $.post('/Lote/AdicionarDataPagamento/',
                                        {
                                            IdPagamentos: $("#IdPagamentos").val(),
                                            DataPagamento: $("#dataPagamentoLote").val(),
                                            Origem: Origem
                                        }, function (data) {
                                            if (data == "OK") {
                                                $(this).dialog("close");
                                                submitted = true;
                                                location.reload();
                                            } else {
                                                alert(data);
                                                $(".ui-button").removeAttr("disabled");
                                            }
                                        });
                                }
                            },
                            "Cancelar": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }

                
            });
        });
    </script>
}
@if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">
        Salvo com sucesso!
        <br />@(Server.UrlDecode(_requestMsg))
    </div>
}
else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
    <div class="mws-form-message mws-panel success">
        Removido com sucesso!
        <br />@(Server.UrlDecode(_requestMsg))
    </div>
}
else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
{
    <div class="mws-form-message mws-panel error">
        Erro!
        <br />@(Server.UrlDecode(_requestMsg))
    </div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">
            Pagamentos em Aberto @{
                List<Domain.Entities.IRepasse> LstIrepasses = new List<Domain.Entities.IRepasse>();
                LstIrepasses = ViewBag.lstIRepasse;
                if (LstIrepasses.Count > 0)
                {
                    var ValorCPV = LstIrepasses.Where(r => r.PedidoCPV != null).Select(r => r.PedidoCPV).Distinct().ToList().Sum(a => a.PedidoItems.Sum(P => P.RepasseAtual.ValorRepasse));
                    

                    var ValorCORP = LstIrepasses.Where(r => r.PedidoLacos != null).ToList().Sum(r => r.PedidoLacos.RepasseAtual.ValorRepasse);
                    var ValorTotalAPagar = ValorCPV + ValorCORP;

                    <text>no Valor de: </text> @ValorTotalAPagar.ToString("C2");
                }
            } @(_requestNome != null && _requestNome != "" ? " para o Fornecedor " + _requestNome : "")
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "EstoqueFornecedorFloricultura")';" />
        </span>
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align: left;">
                <form method="get">
                    <table align="center" style="margin: 0px auto;">
                        <tr>
                            <td>
                                <table align="center" style="margin: 0px auto;">
                                    <tr>
                                        <td><strong>Nome do Fornecedor:</strong></td>
                                        <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Data Inicial Pedido:
                                        </td>
                                        <td>
                                            <input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Data Final Pedido:
                                        </td>
                                        <td>
                                            <input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nome do Favorecido:</td>
                                        <td><input type="text" name="nomefavorecido" value="@_requestFavorecido" autocomplete="off" style="width:500px;" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table align="center" style="margin: 0px auto; margin-left: 20px;">
                                    <tr>
                                        <td>Fluxo de Pagamento:</td>
                                        <td>
                                            @Html.DropDownListForEnum("fluxo", typeof(Domain.Entities.Fornecedor.FluxosPagamento), (!String.IsNullOrEmpty(Request.QueryString["fluxo"]) ? Convert.ToInt32(Request.QueryString["fluxo"]) : 0), new { style = "width:300px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Origem Fornecedor:</td>
                                        <td>
                                            <select name="OrigemFornecedor" id="OrigemFornecedor" style="width:300px;">
                                                <option value="">Selecione uma opção</option>
                                                <option @{if (Request.QueryString["OrigemFornecedor"] == "Floricultura") { <text> selected </text>    } } value="Floricultura">Floricultura</option>
                                                <option @{if (Request.QueryString["OrigemFornecedor"] == "Generico") { <text> selected </text>     } } value="Generico">Generico</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Banco:</td>
                                        <td>
                                            @{
                                                List<string> LstBanco = new List<string>();
                                                LstBanco.Add("COOPERATIVO DO BRASIL | BANCOOB | 756");
                                                LstBanco.Add("CAIXA ECONÔMICA FEDERAL | 104");
                                                LstBanco.Add("BANCO DA AMAZÔNIA | 003");
                                                LstBanco.Add("BANCO DO ESTADO DO RIO GRANDE DO SUL | 041");
                                                LstBanco.Add("ITAÚ UNIS.A. | 341");
                                                LstBanco.Add("BRADESCO | 237");
                                                LstBanco.Add("COOPERATIVO SICREDI | 748");
                                                LstBanco.Add("HSBC BANK BRASIL | MÚLTIPLO | 399");                                                
                                                LstBanco.Add("SANTANDER (BRASIL) | 033");
                                                LstBanco.Add("BANESTES DO ESTADO DO ESPÍRITO SANTO | 021");
                                                LstBanco.Add("BANCO DA CHINA BRASIL | 083");
                                                LstBanco.Add("BANCO DO ESTADO DO PARÁ | 037");
                                                LstBanco.Add("BANCO DO BRASIL | 001");
                                                LstBanco.Add("BRB | DE BRASÍLIA | 070");
                                                LstBanco.Add("ABN AMRO | 075");
                                                LstBanco.Add("BANCO DO NORDESTE DO BRASIL | 004");
                                            }
                                            <select id="banco" name="banco" class="mws-textinput" style="width:300px;">
                                                <option value="">Selecione uma opção</option>
                                                @{
                                                    foreach (var Banco in LstBanco.OrderBy(q => q).ToList())
                                                    {
                                                        <option @if (Request.QueryString["banco"] == Banco) { <text> selected</text> } value='@Banco'>@Banco</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nr Do Pedido:</td>
                                        <td><input type="text" name="NrPedido" value="@_requestNrPedido" autocomplete="off" style="width:500px;" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                        <input type="submit" class="mws-button green big" value="Filtrar" />
                    </div>
                    <br />
                </form>
            </div>
            <table class="mws-table">
                <thead>
                    <tr>
                        <th style="text-align: left;">
                            <input type="checkbox" class="CheckPage"> SELECIONA TODOS OS REGISTROS
                        </th>
                        <th style="text-align: right;">
                            <input disabled type="button" class="mws-button blue adicionar_lote check_page" value="Adicionar Todos os registros a um Lote" rel="Both">
                        </th>
                    </tr>
                </thead>
                @if (lstIRepasse.Any())
                {
                    List<Domain.Entities.Repasse> LstRepasses = new List<Domain.Entities.Repasse>();
                    LstRepasses = ViewBag.LstRepasses;

                    List<Domain.Entities.PagamentoGenerico> LstPagamentosGenericos = new List<Domain.Entities.PagamentoGenerico>();
                    LstPagamentosGenericos = ViewBag.LstPagamentosGenericos;

                    foreach (var IDForencedor in lstIRepasse.Select(r => r.Fornecedor_ID).ToList().Distinct())
                    {
                        Domain.Entities.OrigemFornecedor OrigemFornecedor = lstIRepasse.Where(r => r.Fornecedor_ID == IDForencedor).First().TipoRepasse;

                        string FluxoPagamento = "";
                        string Telefone = "";
                        int IdFornecedor = 0;
                        string NomeFornecedor = "";
                        string TipoFornecedor = "";
                        string Banco = "";
                        string Conta = "";
                        string Agencia = "";
                        string Favorecido = "";

                        if (OrigemFornecedor == Domain.Entities.OrigemFornecedor.Floricultura)
                        {
                            var Fornecedor = LstRepasses.Where(r => r.Fornecedor.ID == IDForencedor).First().Fornecedor;

                            NomeFornecedor = Fornecedor.Nome;
                            FluxoPagamento = Fornecedor.FluxoPagamento.ToString();
                            TipoFornecedor = "FLORES";
                            IdFornecedor = Fornecedor.ID;
                            Telefone = Fornecedor.TelefonePrimario + " " + Fornecedor.TelefoneSecundario;

                            Banco = Fornecedor.BancoPrimario;
                            Agencia = Fornecedor.AgenciaPrimario;
                            Conta = Fornecedor.ContaPrimario + " - " + Fornecedor.TipoContaPrimario;

                            if (!string.IsNullOrEmpty(Fornecedor.FavorecidoPrimario))
                            {
                                Favorecido = Fornecedor.FavorecidoPrimario.ToUpper();
                            }
                            else
                            {
                                Favorecido = "";
                            }

                        }
                        else {
                            var Fornecedor = LstPagamentosGenericos.Where(r => r.FornecedorGenerico.ID == IDForencedor).First().FornecedorGenerico;

                            NomeFornecedor = Fornecedor.NomeFornecedor;
                            FluxoPagamento = "N/A";
                            TipoFornecedor = "TERCEIRO";
                            IdFornecedor = Fornecedor.ID;

                            if (Fornecedor.FornecedorGenericoContas.Count > 0)
                            {
                                Banco = Fornecedor.FornecedorGenericoContas.First().FornecedorGenericoBanco.NomeBanco;
                                Agencia = Fornecedor.FornecedorGenericoContas.First().Agencia;
                                Conta = Fornecedor.FornecedorGenericoContas.First().Conta + " - " + Fornecedor.FornecedorGenericoContas.First().ContaDigito + " - " + Fornecedor.FornecedorGenericoContas.First().FornecedorGenericoTipoConta.Sigla;
                                Favorecido = Fornecedor.FornecedorGenericoContas.First().Favorecido;
                            }
                        }

                        <tbody>
                            <tr>
                                <td colspan="2" class="center" style="width: 150px;">
                                    <div style="width: 100%;text-align: left;">
                                        @{
                                            <b>
                                                @if (OrigemFornecedor == Domain.Entities.OrigemFornecedor.Floricultura)
                                                {
                                                    <a target="_blank" href="/Fornecedor/Edit/@IdFornecedor">@TipoFornecedor: @NomeFornecedor.ToUpper() - @TipoFornecedor - @FluxoPagamento.ToUpper()</a>  <br />
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="/FornecedorGenerico/Visualizar/@IdFornecedor">@TipoFornecedor: @NomeFornecedor.ToUpper() - @TipoFornecedor - @FluxoPagamento.ToUpper()</a><br />
                                                }
                                            </b>
                                        }
                                        <br />
                                        @Favorecido<br />
                                        @Banco Ag.: @Agencia / @Conta
                                        <br />
                                        <br />
                                    </div>
                                    <table style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="CheckAll" rel="@IdFornecedor" />
                                                </th>
                                                <th>
                                                    Dt Repasse / Pgt
                                                </th>
                                                <th>
                                                    Dt P/ Pgt
                                                </th>
                                                <th>
                                                    Pedido
                                                </th>
                                                <th>
                                                    Repasse
                                                </th>
                                                <th style="width: 445px;">
                                                    Lote
                                                </th>
                                                <th align="center" style="width: 120px;">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                foreach (var Repasse in lstIRepasse.Where(r => r.Fornecedor_ID == IdFornecedor && r.TipoRepasse == OrigemFornecedor).ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="CheckSingle" @{if (Repasse.Lote != null || Repasse.DataPPagamento != null) { <text> disabled </text>       }; } rel="@Repasse.PagamentoID|@Repasse.TipoRepasse" />
                                                        </td>
                                                        <td>
                                                            @Repasse.DataCriacao
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (Repasse.DataPPagamento != null)
                                                                {
                                                                    DateTime DtPPgt = new DateTime();
                                                                    DtPPgt = (DateTime)Repasse.DataPPagamento;
                                                                    @DtPPgt.ToShortDateString();

                                                                    if (Repasse.Lote == null)
                                                                    {
                                                                        <a class="RemoverDataParaPagamento" rel="@Repasse.ID" href="#">Remover</a>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <text>N/A</text>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (Repasse.PedidoCPV != null || Repasse.PedidoLacos != null)
                                                                {
                                                                    if (Repasse.PedidoCPV != null)
                                                                    {
                                                                        @Repasse.PedidoCPV.DataCriacao.ToShortDateString() <br /><a href="/PedidosSite/Visualizar/@Repasse.PedidoCPV.ID">@Repasse.PedidoCPV.Numero</a>
                                                                    }

                                                                    if (Repasse.PedidoLacos != null)
                                                                    {
                                                                        @Repasse.PedidoLacos.DataCriacao.ToShortDateString() <br /><a href="/PedidosEmpresa/Visualizar/@Repasse.PedidoLacos.ID">@Repasse.PedidoLacos.ID</a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <text>N/A</text>
                                                                }
                                                            }
                                                            <br />
                                                            @{
                                                                if (Repasse.PedidoCPV != null)
                                                                {
                                                                    @Repasse.PedidoCPV.ValorTotal.ToString("C2")
                                                                }
                                                                else
                                                                {
                                                                    @Repasse.PedidoLacos.Valor.ToString("C2")
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (Repasse.PedidoCPV != null)
                                                            {
                                                                if (Repasse.PedidoCPV.PedidoItems.Where(r => r.RepasseAtual.ID == Repasse.ID).Any())
                                                                {
                                                                    var RepasseItemCPV = Repasse.PedidoCPV.PedidoItems.Where(r => r.RepasseAtual.ID == Repasse.ID).First().RepasseAtual;

                                                                    if (RepasseItemCPV != null)
                                                                    {
                                                                        var RepasseCPV = "R$ 0,00";
                                                                        RepasseCPV = decimal.Parse(RepasseItemCPV.ValorRepasse.ToString()).ToString("C2");

                                                                        <text>Valor Repasse: </text> @RepasseCPV; <br />
                                                                    }
                                                                }
                                                            }
                                                            else if (Repasse.PedidoLacos != null && Repasse.PedidoLacos.RepasseAtual != null)
                                                            {
                                                                var RepasseCORP = decimal.Parse(Repasse.PedidoLacos.RepasseAtual.ValorRepasse.ToString()).ToString("C2");

                                                                var FreteRepasseCORP = "R$ 0,00";
                                                                if (Repasse.PedidoLacos.RepasseAtual.ValorFrete != null)
                                                                {
                                                                    FreteRepasseCORP = decimal.Parse(Repasse.PedidoLacos.RepasseAtual.ValorFrete.ToString()).ToString("C2");
                                                                }

                                                                <text>Valor Repasse: </text> @RepasseCORP <br />
                                                                <text>Valor Frete: </text> @FreteRepasseCORP <br />
                                                            }

                                                            @{
                                                                Domain.Entities.PagamentoGenerico.TodosStatusPagamento StatusGenerico = (Domain.Entities.PagamentoGenerico.TodosStatusPagamento)Repasse.IDStatus;
                                                                Domain.Entities.Repasse.TodosStatus StatusRepasse = (Domain.Entities.Repasse.TodosStatus)Repasse.IDStatus;
                                                            }

                                                            @{
                                                                if (OrigemFornecedor == Domain.Entities.OrigemFornecedor.Generico)
                                                                {
                                                                    @Domain.Helpers.EnumHelper.GetDescription(StatusGenerico)
                                                                }
                                                                if (OrigemFornecedor == Domain.Entities.OrigemFornecedor.Floricultura)
                                                                {
                                                                    @Domain.Helpers.EnumHelper.GetDescription(StatusRepasse)
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (Repasse.Lote != null)
                                                                {
                                                                    @Repasse.Lote.DataCriacao.ToShortDateString(); <a target="_blank" href="/Lote/Visualizar/@Repasse.Lote.ID">@Repasse.Lote.ID</a>
                                                                }
                                                                else
                                                                {
                                                                    <text>N/A</text>
                                                                }
                                                            }
                                                            <hr />
                                                            @{
                                                                if (Repasse.LstHistorico.Count > 0)
                                                                {
                                                                    <ul>
                                                                        @foreach (var Historico in Repasse.LstHistorico)
                                                                        {
                                                                            <li>
                                                                                <b>@Historico.DataRetorno.ToShortDateString()</b> @Domain.Helpers.EnumHelper.GetDescription(Historico.StatusProcessamento) - @Historico.Mensagem
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="mws-panel-toolbar top clearfix">
                                                                <ul>
                                                                    <li style="width: 120px;">
                                                                        @{
                                                                            if (Repasse.PedidoCPV != null || Repasse.PedidoLacos != null)
                                                                            {
                                                                                if (Repasse.PedidoCPV != null)
                                                                                {
                                                                                    <a target="_blank" class="mws-ic-16 ic-view" href="/Fornecedor/Repasses?numero=@Repasse.PedidoCPV.Numero&repasseid=@Repasse.ID">Visualizar</a>
                                                                                }

                                                                                if (Repasse.PedidoLacos != null)
                                                                                {
                                                                                    <a target="_blank" class="mws-ic-16 ic-view" href="/Fornecedor/Repasses?numero=@Repasse.PedidoLacos.ID&repasseid=@Repasse.ID">Visualizar</a>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <a target="_blank" class="mws-ic-16 ic-view" href="/PagamentoGenerico/Visualizar/@Repasse.PagamentoFornGenerico.ID">Visualizar</a>
                                                                            }
                                                                        }
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>                                                       
                                                    </tr>
                                                                            }
                                            }
                                        </tbody>
                                        @*<tfoot>
                                        <tr style="background-color: #848484;">
                                            <td colspan="8" style="text-align: right; padding-right: 20px;">
                                                <input type="button" class="mws-button blue adicionar_lote" value="adicionar a um Lote" rel="@OrigemFornecedor" disabled>
                                            </td>
                                        </tr>
                                    </tfoot>*@
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr class="odd">
                                                                                    <td valign="top" colspan="12" class="dataTables_empty">
                                                                                        Não há itens para serem exibidos
                                                                                    </td>
                                                                                </tr>
                                                                            }
            </table>
            <input type="hidden" value="" id="IdPagamentos" />
            <div id="div_adicionar_lote" title="Informe a Data de Pagamento" style="display:none;">
                <b>Data de Pagamento</b>
                <br />
                <input type="text" name="dataPagamentoLote" id="dataPagamentoLote" style="width:150px;" />
            </div>
            @if (ViewBag.TotalPaginas > 1)
            {
                <div class="dataTables_wrapper">
                    <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                    <div class="dataTables_paginate paging_full_numbers">
                        <span>
                            @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                            {
                                <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                    <a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&fluxo=@Request.QueryString["fluxo"]&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&OrigemFornecedor=@Request.QueryString["OrigemFornecedor"]&datainicialpedido=@Request.QueryString["datainicialpedido"]&datafinalpedido=@Request.QueryString["datafinalpedido"]&banco=@Request.QueryString["banco"]">@i.ToString()</a>
                                </span>
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
