﻿
@{
    ViewBag.Title = "Novo Lote";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Lote</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "Lote", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <label>Descrição</label>
                            <input type="text" name="Descricao" id="Descricao" class="mws-textinput valid">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <label>Data Para Pagamento</label>
                            <input type="text" name="DataParaPagamento" id="DataParaPagamento" class="mws-textinput mws-datepicker valid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar">
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='/PedidosSite/List';">
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#financeiro').addClass('active');
            $('#i_novo_lote').addClass('active');

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    Descricao: "required"
                },
                messages: {
                    Descricao: "O Campo Banco é obrigatório"
                }
            });
        });

    </script>

}