﻿
@{
    ViewBag.Title = "Retorno Lote";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Retorno Lote</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("SalvarRetorno", "Lote", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <div class="mws-form-row">
                        <div class="mws-form-item">
                            <label>Arqiivo</label>
                            <input type="file" id="CNAB" style="width:150px!important;" onchange="return ValidateFileUpload()" name="CNAB" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar">
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#financeiro').addClass('active');
            $('#i_lst_lotes').addClass('active');

        });

    </script>
<script>
        function ValidateFileUpload() {
            var fuData = document.getElementById('CNAB');
            var FileUploadPath = fuData.value;

            //To check if user upload any file
            if (FileUploadPath == '') {
                alert("Formato inválido");

            } else {
                var Extension = FileUploadPath.substring(
                        FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

                //The file uploaded is an image

                if (Extension == "ret" || Extension == "txt" ) {

                    // To Display
                    if (fuData.files && fuData.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function(e) {
                            $('#blah').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(fuData.files[0]);
                    }
                }

                    //The file upload is NOT an image
                else {
                    alert("Somente arquivos RET e TXT");

                }
            }
        }
</script>
}
}