﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model Domain.Entities.Lote

@{
    ViewBag.Title = "Visualizar Lote #" + Model.ID + Model.Descricao;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;

}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Lote #@Model.ID @Model.Descricao</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_produto">
                    <a href="javascript:abre('produto');" class="mws-ic-16 ic-money-dollar">Repasses e PAGTs</a>
                </li>
                @*<li class="li_aba" id="li_cnab">
                        <a href="javascript:abre('cnab');" class="mws-ic-16 ic-user-money-dollar">CNAB</a>
                    </li>*@
                @*<li class="li_aba" id="li_pagamento">
                        <a href="javascript:abre('pagamento');" class="mws-ic-16 ic-money-dollar">Faturamento</a>
                    </li>*@
                @*<li class="li_aba" id="li_dados">
                        <a href="javascript:abre('dados');" class="mws-ic-16 ic-user-business-boss">Cliente</a>
                    </li>
                    <li class="li_aba" id="li_entrega">
                        <a href="javascript:abre('entrega');" class="mws-ic-16 ic-delivery">Entrega</a>
                    </li>


                    <li class="li_aba" id="li_notas">
                        <a href="javascript:abre('notas');" class="mws-ic-16 ic-pencil">Notas</a>
                    </li>*@
            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "Lote", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)

            Domain.Entities.Lote Lote = new Domain.Entities.Lote();
            Lote = Model;

            decimal ValorLote = 0;

            foreach (var ItemLote in Lote.ItemLotes)
            {
                if (ItemLote.Fornecedor != null)
                {
                    ValorLote += ItemLote.Repasse_X_ItemLote.Sum(r => r.Repasse.ValorRepasse);
                }
                else
                {
                    ValorLote += ItemLote.PagamentoGenerico_X_ItemLote.Sum(r => r.PagamentoGenerico.Valor);
                }
            }

            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>ID do Lote</label>
                        <div class="mws-form-item small">
                            @Model.ID
                        </div>
                        <label>Descrição do Lote</label>
                        <div class="mws-form-item small">
                            @Model.Descricao
                        </div>
                        <label>Data de Criação do Lote</label>
                        <div class="mws-form-item small">
                            @Model.DataCriacao.ToString("dd/MM/yyyy")
                        </div>
                        @*<label>Data Para Pagamento</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.DataParaPagamento, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                        </div>*@
                        <hr />
                        <label>Valor Total Lote</label>
                        <div class="mws-form-item small">
                            @ValorLote.ToString("C2")
                        </div>
                    </div>
                </div>

                <div class="abas" id="produto">

                    <div class="mws-form-row">

                        <table class="mws-table" style="border:1px solid #ccc;">
                            <thead>
                                <tr>
                                    <th align="center">Fornecedor</th>
                                    <th align="center">Valor</th>
                                    <th align="center">Status PGT</th>
                                    <th align="center">Data Para PGT</th>                                    
                                    <th align="center">Histórico</th>                                    
                                    <th align="center" colspan="2">Ação</th>
                                </tr>
                            </thead>
                            @foreach (var item in Lote.ItemLotes.Where(r => r.PagamentoGenerico_X_ItemLote.Count > 0).ToList())
                            {
                                foreach (var Item in item.PagamentoGenerico_X_ItemLote)
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="/FornecedorGenerico/Visualizar/@Item.PagamentoGenerico.FornecedorGenerico.ID">
                                                @Item.PagamentoGenerico.FornecedorGenerico.NomeFornecedor
                                            </a>
                                            <br />
                                            TERCEIRO
                                        </td>
                                        <td>
                                            @Item.PagamentoGenerico.Valor.ToString("C2")
                                        </td>
                                        <td>
                                            @Domain.Helpers.EnumHelper.GetDescription(Item.PagamentoGenerico.Status)
                                        </td>
                                        <td>
                                            @{
                                                if (Item.PagamentoGenerico.DataDePagamento != null)
                                                {
                                                    DateTime dtPpgt = new DateTime();
                                                    dtPpgt = (DateTime)Item.PagamentoGenerico.DataDePagamento;
                                                    @dtPpgt.ToShortDateString();
                                                }
                                                else
                                                {
                                                    <text>N/A</text>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (Item.PagamentoGenerico.LstHistorico.Count > 0)
                                                {
                                                    <ul>
                                                        @foreach (var Retorno in Item.PagamentoGenerico.LstHistorico)
                                                        {
                                                            <li>
                                                                @Retorno.DataRetorno.ToShortDateString() <text> - </text> @Domain.Helpers.EnumHelper.GetDescription(Retorno.StatusProcessamento) - Msg.: @Retorno.Mensagem
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <text>SEM HISTÓRICO</text>
                                                }
                                            }
                                            <hr />
                                            @{

                                                if (Item.PagamentoGenerico.LstCNAB.Count > 0)
                                                {
                                                    var CNAB = Item.PagamentoGenerico.LstCNAB.First();

                                                    <b>CNAB:</b> @CNAB.ID
                                                    <br />
                                                    <b>Nr Controle:</b> @Item.PagamentoGenerico.NrControle
                                                    <br />
                                                    <ul>
                                                        @{
                                                            foreach (var StatusRetorno in CNAB.CNAB_ItemCnab.Where(r => r.PagamentoGenericoID == Item.PagamentoGenerico.ID).First().CNAB_ItemCnab_X_CNAB_StatusDeRetorno.ToList())
                                                            {
                                                                <li>
                                                                    @StatusRetorno.CNAB_StatusDeRetorno.Descricao
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                            }
                                                            else
                                                            {
                                                                <text>N/A</text>
                                                            }
                                            }
                                        </td>
                                        <td>
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        <a target="_blank" class="mws-ic-16 ic-view" href="/PagamentoGenerico/Visualizar/@Item.PagamentoGenerico.ID">
                                                            Visualizar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="button" @{if (Item.PagamentoGenerico.LstCNAB.Where(r => r.LoteID == Lote.ID).ToList().Count > 0) { <text> disabled </text>     }} class="mws-button red remover_pagamento_repasse" rel="PagamentoGenerico" value="Remover" data-item="@Item.PagamentoGenerico.ID">
                                        </td>
                                    </tr>

                                }
                            }
                            @foreach (var item in Lote.ItemLotes.Where(r => r.Repasse_X_ItemLote.Count > 0).ToList())
                            {
                                foreach (var Item in item.Repasse_X_ItemLote)
                                {


                                    <tr>
                                        <td>
                                            <a target="_blank" href="/Fornecedor/Edit/@Item.Repasse.Fornecedor.ID">
                                                @Item.Repasse.Fornecedor.Nome
                                            </a>
                                            <br />
                                            FLORES
                                        </td>
                                        <td>
                                            @Item.Repasse.ValorRepasse.ToString("C2")
                                        </td>
                                        <td>
                                            @Domain.Helpers.EnumHelper.GetDescription(@Item.Repasse.Status)
                                        </td>                                        
                                        <td>
                                            @{
                                                if (Item.Repasse.DataPPagamento != null)
                                                {
                                                    DateTime dtPpgt = new DateTime();
                                                    dtPpgt = (DateTime)Item.Repasse.DataPPagamento;
                                            @dtPpgt.ToShortDateString();
                                                }
                                                else
                                                {
                                            <text>N/A</text>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (Item.Repasse.LstHistorico.Count > 0)
                                                {
                                            <ul>
                                                @foreach (var Retorno in Item.Repasse.LstHistorico)
                                                        {
                                                        <li>
                                                            @Retorno.DataRetorno.ToShortDateString() <text> - </text> @Domain.Helpers.EnumHelper.GetDescription(Retorno.StatusProcessamento) - Msg.: @Retorno.Mensagem
                                                        </li>
                                                        }
                                            </ul>
                                                }
                                                else
                                                {
                                            <text>SEM HISTÓRICO</text>
                                                }
                                            }
                                            <hr />
                                            @{

                                                if (Item.Repasse.LstCNAB.Count > 0)
                                                {
                                                    var CNAB = Item.Repasse.LstCNAB.First();

                                            <b>CNAB:</b> @CNAB.ID
                                            <br />
                                            <b>Nr Controle:</b> @Item.Repasse.NrControle
                                            <br />
                                            <ul>
                                                @{
                                                            foreach (var StatusRetorno in CNAB.CNAB_ItemCnab.Where(r => r.RepasseID == Item.Repasse.ID).First().CNAB_ItemCnab_X_CNAB_StatusDeRetorno.ToList())
                                                            {
                                                        <li>
                                                            @StatusRetorno.CNAB_StatusDeRetorno.Descricao
                                                        </li>
                                                            }
                                                }
                                            </ul>
                                                }
                                                else
                                                {
                                            <text>N/A</text>
                                                }
                                            }
                                        </td>

                                        <td width="100px">
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        @{
                                                            if (Item.Repasse.PedidoCPV != null || Item.Repasse.PedidoLacos != null)
                                                            {
                                                                if (Item.Repasse.PedidoCPV != null)
                                                                {
                                                                    <a target="_blank" class="mws-ic-16 ic-view" href="/Fornecedor/Repasses?numero=@Item.Repasse.PedidoCPV.Numero&repasseid=@Item.Repasse.ID">Visualizar</a>
                                                                }

                                                                if (Item.Repasse.PedidoLacos != null)
                                                                {
                                                                    <a target="_blank" class="mws-ic-16 ic-view" href="/Fornecedor/Repasses?numero=@Item.Repasse.PedidoLacos.ID&repasseid=@Item.Repasse.ID">Visualizar</a>
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="button" @{if (Item.Repasse.LstCNAB.Where(r => r.LoteID == Lote.ID).ToList().Count > 0) { <text> disabled </text>     }} class="mws-button red remover_pagamento_repasse" rel="Repasse" value="Remover" data-item="@Item.Repasse.ID">
                                        </td>
                                    </tr>

        }
    }
                        </table>
                    </div>
                </div>

                @*<div class="abas" id="cnab">
                        <div class="mws-form-row">
                            @{
                                if (Lote.QtdPagamentos != Lote.PagamentosComCNAB && Lote.ItemLote.Count > 0)
                                {
                                    <text> <input type="button" class="mws-button blue" value="Gerar CNAB" id="gerar_cnab"> </text>
                                }
                            }

                        </div>
                        <div class="mws-form-row">
                            <table class="mws-table" style="border:1px solid #ccc;">
                                <thead>
                                    <tr>
                                        <th align="center">Id CNAB</th>
                                        <th align="center">Data de Criação</th>
                                        <th align="center" colspan="2">Ação</th>
                                    </tr>
                                </thead>
                                @foreach (var CNAB in ViewBag.CNABs)
                                {
                                    <tr>
                                        <td>
                                            @CNAB.ID
                                        </td>
                                        <td>
                                            @CNAB.DataCriacao
                                        </td>
                                        <td  style="width: 120px;">
                                            <div class="mws-panel-toolbar top clearfix">
                                                <ul>
                                                    <li style="width: 120px;">
                                                        <a target="_blank" class="mws-ic-16 ic-view Baixar_CNAB" rel="@CNAB.ID" href="/Lote/BaixarCNAB?CnabID=@CNAB.ID">
                                                            Baixar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td  style="width: 120px;">
                                            @{
                                                Domain.Entities.CNAB NovoCNAB = new Domain.Entities.CNAB();
                                                NovoCNAB = CNAB;

                                            }



                                            <input @{ if (NovoCNAB.CNAB_ItemCnab.Where(r => r.CNAB_ItemCnab_X_CNAB_StatusDeRetorno.Any()).ToList().Count > 0) { <text>disabled</text> }; } type="button" class="mws-button red remover_cnab" value="Remover" data-item="@CNAB.ID">
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>*@

                @*<div class="abas" id="pagamento">
                        <div class="mws-form-row">
                            <label>Faturas:</label>
                            <div class="mws-form-item small">
                                @{

                                    if (Model.EstoqueFaturaPagamento_x_Lote.Count() > 0)
                                    {
                                        <table class="mws-table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Data de Criação
                                                    </th>
                                                    <th>
                                                        Data de Pagamento
                                                    </th>
                                                    <th>
                                                        Status Do Pagamento
                                                    </th>
                                                    <th>
                                                        Forma de pagamento
                                                    </th>
                                                    <th>
                                                        Valor Total
                                                    </th>
                                                    <th>
                                                        Ação
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var Item in Model.EstoqueFaturaPagamento_x_Lote)
                                                {
                                                    var Fatura = Item.EstoqueFaturaPagamento;
                                                    <tr>
                                                        <td>
                                                            @Fatura.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (Fatura.DataPagamento != null)
                                                                {
                                                                    DateTime DtPagt = new DateTime();
                                                                    DtPagt = (DateTime)Fatura.DataPagamento;

                                                                    @DtPagt.ToString("dd/MM/yyyy HH:mm")
                                                                }
                                                                else
                                                                {
                                                                    <text>N/A</text>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @Fatura.EstoqueFaturaStatusPagamento.DescStatusPagamento
                                                        </td>
                                                        <td>
                                                            @Fatura.EstoqueFaturaFormaPagamento.DescFormaPagamento
                                                            @if (Fatura.EstoqueFaturaFormaPagamento.ID == (int)Domain.Entities.EstoqueFaturaFormaPagamento.TodosFormasPagamento.Cheque)
                                                            {
                                                                if (Fatura.EstoqueFaturaPagamento_x_Cheque.Any())
                                                                {
                                                                    var Cheque = Fatura.EstoqueFaturaPagamento_x_Cheque.FirstOrDefault().EstoqueFaturaCheque;
                                                                    <text>/</text> <b>Nr:</b> <a target="_blank" href="/ChequeEstoque/Visualizar/@Cheque.ID">@Cheque.NrCheque </a>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @{
                                                                decimal VlrTotal = 0;
                                                                VlrTotal = (decimal)Fatura.ValorTotal;
                                                                <text>@VlrTotal.ToString("C2")</text>
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="mws-panel-toolbar top clearfix">
                                                                <ul>
                                                                    <li><a class="mws-ic-16 ic-view" href="/LoteFloriculturaFatura/Visualizar/@Fatura.ID" target="_blank">Fatura</a></li>
                                                                </ul>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                                }
                                            </tbody>
                                        </table>
                                                                }
                                                                else
                                                                {
                                                                    <p>
                                                                        Lote ainda não faturado. <a href="/LoteFloriculturaFatura/ListFaturar?nome=@Model.EstoqueFornecedor.NomeFornecedor&datainicial=@DateTime.Now.AddYears(-1).ToString("dd/MM/yyyy")&datafinal=@DateTime.Now.ToString("dd/MM/yyyy")">Faturar</a>
                                                                    </p>
                                                                }
                                }
                            </div>
                        </div>
                    </div>*@


                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
    }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {


        });


        $(document).ready(function () {
            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }

            $(".DataValidade ").mask({
                mask: "##/##/####",
                allowPartials: !1
            });


            $(".remover_pagamento_repasse").click(function () {
                if (confirm('Você tem certeza que deseja remover o item deste lote?')) {

                    $.post('/Lote/RemoverPagamentoRepasse/', { ID: $(this).attr("data-item"), Tipo: $(this).attr("rel"), LoteID: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('Produto removido com sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $(".remover_cnab").click(function () {
                var BTN = $(this);
                if (confirm('Você tem certeza que deseja remover esse CNAB?')) {

                    $(BTN).attr("disabled", "disabled");

                    $.post('/Lote/RemoverCNAB/', { CnabID: $(this).attr("data-item") }, function (data) {
                        if (data == "OK") {
                            alert('CNAB removido com sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            @*$("#gerar_cnab").click(function () {
                if (confirm('Você tem certeza que deseja Gerar um CNAB Para Esse Lote?')) {

                    $("#gerar_cnab").attr("disabled", "disabled");

                    $.post('/Lote/GerarCnab/', { LoteID: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('CNAB Gerado com Sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                            $("#gerar_cnab").removeAttr("disabled");
                        }
                    });
                }
            });*@

            $('#financeiro').addClass('active');
            $('#i_lst_lotes').addClass('active');
            $('.abas').hide();
            $('#resumo').show();


            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                },
                rules: {
                    DataParaPagamento: "required"
                },
                messages: {
                    DataParaPagamento: "O campo é obrigatório."
                }
            });

            $("#enviar").click(function () {

            });
        });

        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}