﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
        Layout = null;
        ViewBag.Title = "Reports";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53436225-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style type="text/css">
        .moreComment
        {
            display: none;
        }
        input[type=checkbox]
        {
            zoom: 1;
            transform: scale(1);
            -ms-transform: scale(2);
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            -moz-transform: scale(2);
            transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            margin: 0px;
            margin-bottom: 5px !important;
        }
    </style>
    <!-- Jquery Plugins -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <title>Laços Flores</title>
    <link href="https://www.coroasparavelorio.com.br/Content/neue/css/cpv.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {

            $("input[type=checkbox]").click(function () {
                $(".moreComment").fadeIn(function () {

                    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img style="width: 100%; max-width: 170px; position: relative; margin: auto; margin-top: 15px;"
                    src="/content/imagens/logo.png" alt="Laços Flores">
            </div>
        </div>
        <div style="text-align: center;" class="page-header">
            <h1>@ViewBag.NPSMEnsagem</h1>
        </div>
        <br />
        @{
            string URL = Url.Action("Salvar");
            URL += "?Nota=" + @Request.QueryString["Nota"];
        }
        <form method="post" action="@URL">
        <div class="row">
            <div style="text-align: center;" class="col-md-6 col-md-offset-3">
                <p>
                    <b style="text-transform: uppercase;">Quais opções abaixo levaram você a nos dar essa
                        nota?</b>
                </p>
            </div>
            <br />
            <br />
            @{
                foreach (var Iten in (System.Data.Objects.DataClasses.EntityCollection<Domain.Entities.NPSPergunta>)ViewBag.NPSPerguntas)
                {
                <div style="margin: 5px;" class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
                    <div class="col-md-5 col-sm-3 col-xs-3" style="text-align: right;">
                        <input class="ck" type="checkbox" name="pergunta-@Iten.ID" value="true" id="pergunta-@Iten.ID" />
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-8" style="text-align: left; padding-top: 8px;">
                        @Iten.Pergunta
                    </div>
                </div>
                }
            }
        </div>
        <br />
        <br />
        <div class="row moreComment">
            <div style="text-align: center;" class="col-md-6 col-md-offset-3">
                <p>
                    <b>Quer complementar sua resposta com alguma observação?</b>
                </p>
            </div>
            <br />
            <div style="text-align: center;" class="col-md-6 col-md-offset-3">
                <textarea maxlength="3000" id="obs" name="obs" style="max-width: none; height: 70px;"
                    class="form-control col-md-6"></textarea>
            </div>
        </div>
        <br />
        <div class="row moreComment">
            <div class="col-md-12" style="text-align: center;">
                <input id="Submit1" style="height: 40px; padding-top: 8px; text-transform: uppercase;"
                    class="btn btn-success" type="submit" value="Enviar Minha Opinião" />
                <input type="hidden" name="guid" id="guid" value="@Request.QueryString["Identi"]" value="Norway">
            </div>
        </div>
        <br />
        </form>
    </div>
</body>
</html>
