﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mensagens para Cartão"; 

}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-frases").addClass("active");
        });
    </script>
}
     
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado"><span itemprop="title"><b>Frases de Homenagens</b></span>    </div>
</div>
</div>

<div id="FrasesHomenagem">
<div class="Div">

    <div class="h-container">
        <h1 class="TituloPagina">Mensagens para Cartão</h1>
	    <div class="VejaNossasCoroas"><a href="/flores" class="btn-default">Veja Flores e Arranjos</a></div>
    </div>

	<div class="Filtro">
		<div class="FiltroVer">Ver:</div>	 
		<div class="FiltroOpcoes"><a href="#colegas-de-trabalho" class="FiltroNaoSelecionado">Colegas de trabalho</a></div>	
		<div class="FiltroOpcoes"><a href="#familiares" class="FiltroNaoSelecionado">Familiares</a></div>	
		<div class="FiltroOpcoes"><a href="#amigos-proximos" class="FiltroNaoSelecionado">Amigos próximos</a></div>	
	</div>

	<div class="Div1">
		<div class="Div1Texto1">
            
            <a name="colegas-de-trabalho"></a> 
			<span class="TituloPagina2">COLEGAS DE TRABALHO</span><br /><br />
             
			- Uma homenagem da (nome da empresa)<br /> 
			- Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos<br /><br />

            <div class="Filtro">
		        <div class="FiltroOpcoes nopad"><a href="/flores" class="FiltroNaoSelecionado">Conheça nossas flores e arranjos</a></div>	
	        </div>

            <br />
            <br />
            <br />
            <br />
            
            <a name="familiares"></a> 
			<br /><span class="TituloPagina2">FAMILIARES</span><br /><br />

			- Uma homenagem de toda a Família (sobrenome da família)<br />
			- Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)<br /> 
			- Com carinho, uma homenagem da Família (sobrenome)<br /> 

            <div class="Filtro"> 
		        <div class="FiltroOpcoes nopad"><a href="/flores" class="FiltroNaoSelecionado">Ver flores e arranjos</a></div>	
	        </div>

            <br />
            <br />
            <br />
            <br />
            
            <a name="amigos-proximos"></a> 
			<br /><span class="TituloPagina2">AMIGOS PRÓXIMOS</span><br /><br />
             
			- Obrigado por fazer parte de nossas vidas – Amigos da (referência)<br />
			- Você sempre estará presente em nossos corações – Amigos da (referência)<br /> 
			- É uma honra contar com a sua amizade – Amigos da (referência)<br />
			- Ao melhor amigo do mundo – (nome da pessoa que está enviando)<br />

		</div>
	</div>

	<div class="Div3">
        <div class="div-centraliza">
            <a href="/flores" class="btn-default" style="position: relative; top: 30px;">Ver flores e arranjos</a>
        </div>
    </div>

    <br />
    <br />
     
</div>

</div> 