﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.PagamentoGenerico>


    @{
        ViewBag.Title = "Pagamentos Genéricos";
        Layout = "~/Views/Shared/_Layout.cshtml";

        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNome = Request.QueryString["nome"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];

        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];

        var _TodosStatusPagamento = typeof(Domain.Entities.PagamentoGenerico.TodosStatusPagamento);

    }
    @section Scripts{
        <script type="text/javascript">
            function printExternal(url) {
                window.open( url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
            }
            $(document).ready(function () {
                $('#financeiro').addClass('active');
                $('#i_lst_pagamentos_genericos').addClass('active');

                $(".filtrarBtn").click(function () {

                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            alert('Preencha uma data Inicial');
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            alert('Preencha uma data Final');
                            return false;
                        }
                    }
                });
            });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Pagamentos Genéricos @(_requestNome != null && _requestNome != "" ? " para o Fornecedor " + _requestNome : "")                
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "PagamentoGenerico")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table align="center" style="margin: 0px auto;">
                                        <tr>
                                            <td><strong>Nome do Fornecedor:</strong></td>
                                            <td><input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" /></td>
                                        </tr>
                                        <tr>
                                            <td> Data de Inicial:</td>
                                            <td><input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Data de Final:</td>
                                            <td><input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                                        </tr>
                                        <tr>
                                            <td>Status:</td>
                                            <td>@Html.DropDownListForEnum("statuspagamento", _TodosStatusPagamento, (!String.IsNullOrEmpty(_requestStatusPagamento) ? Convert.ToInt32(_requestStatusPagamento) : 0), new { style = "width:300px;" })</td>                                            
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>

                            <th align="center" style="width: 120px;"</th>                                                     
                            <th align="center">Valor</th>
                            <th align="center">Data Criação</th>                            
                            <th align="center">Status</th>
                            <th align="center">Fornecedor</th>
                            <th align="center">Lote</th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="center" style="width: 150px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 150px;">
                                                <a class="mws-ic-16 ic-view" href="/PagamentoGenerico/Visualizar/@item.ID">Visualizar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    @item.Valor.ToString("C2")
                                </td>
                                <td>
                                    @item.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                </td>
                                <td>
                                    @item.StatusPagamentoFornecedorGenerico.DescStatusPagamento
                                </td>
                                <td>
                                    <a href="/FornecedorGenerico/Visualizar/@item.FornecedorGenerico.ID" target="_blank">
                                        @item.FornecedorGenerico.NomeFornecedor
                                    </a>
                                </td>
                                <td>
                                    @{
                                        if (item.Lote != null)
                                        {
                                            <a href="/Lote/Visualizar/@item.Lote.ID" target="_blank">@item.Lote.Descricao.ToUpper()</a> <br />
                                            @item.ValorTotal.ToString("C2") <text>-</text>  @item.Lote.DataCriacao.ToString("dd/MM/yyyy HH:mm")<br />
                                        }
                                        else
                                        {
                                            <text>N/A</text>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&email=@Request.QueryString["email"]&documento=@Request.QueryString["documento"]&tipoid=@Request.QueryString["tipoid"]&diafaturamento=@Request.QueryString["diafaturamento"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
