﻿@model Domain.Entities.PagamentoGenerico
@{
    ViewBag.Title = "Novo Pagamento Genérico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Pagamento Genérico</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "PagamentoGenerico", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <div class="mws-form-block" style="width: 100%">
                <div class="mws-form-row">
                    <label>Pagamento Genérico:</label>
                    <div class="mws-form-item small">
                        @Html.DropDownList("fornecedorgenerico", (SelectList)ViewBag.FornecedorGenerico, new { @class = "mws-textinput" })                        
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Valor</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Data de Pagamento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.DataDePagamento, new { @class = "mws-textinput mws-datepicker" })
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar">
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='/PedidosSite/List';">
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#financeiro').addClass('active');
            $('#i_novo_fornecedor_generico').addClass('active');

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    Valor: "required",
                    DataDePagamento: "required"
                },
                messages: {
                    Valor: "O Campo é Obrigatório",
                    DataDePagamento: "O Campo é Obrigatório"
                }
            });
        });


    </script>

}