﻿@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model Domain.Entities.PagamentoGenerico

@{
    ViewBag.Title = "Visualizar Pagamento Genérico #" + Model.ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var admin = (Domain.Entities.Administrador)ViewBag.Admin;

}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
    <div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Pagamento Genérico #@Model.ID </span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-wizard clearfix">
            <ul>
                <li class="li_aba current" id="li_resumo">
                    <a href="javascript:abre('resumo');" class="mws-ic-16 ic-view">Resumo</a>
                </li>
                <li class="li_aba" id="li_produto">
                    <a href="javascript:abre('produto');" class="mws-ic-16 ic-money-dollar">Lote</a>
                </li>
                <li class="li_aba" id="li_cnab">
                    <a href="javascript:abre('cnab');" class="mws-ic-16 ic-user-money-dollar">Fornecedor</a>
                </li>
            </ul>
        </div>
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Editar", "PagamentoGenerico", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)

            Domain.Entities.PagamentoGenerico PagamentoGenerico = new Domain.Entities.PagamentoGenerico();
            PagamentoGenerico = Model;

            <div class="mws-form-block">
                <div class="abas" id="resumo">
                    <div class="mws-form-row">
                        <label>ID do Pagamento Genérico</label>
                        <div class="mws-form-item small">
                            @PagamentoGenerico.ID
                        </div>
                        <label>Data de Pagamento</label>
                        <div class="mws-form-item small">
                            @{
                                if (PagamentoGenerico.DataDePagamento != null)
                                {
                                    DateTime DataPagt = new DateTime();
                                    DataPagt = (DateTime)PagamentoGenerico.DataDePagamento;
                                    @DataPagt.ToString("dd/MM/yyyy HH:mm")
                                }
                                else
                                {
                                    <text>N/A</text>
                                }
                            }
                        </div>
                        <label>Data de Criação</label>
                        <div class="mws-form-item small">
                            @PagamentoGenerico.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        </div>
                        <hr />
                        <label>Valor Total</label>
                        <div class="mws-form-item small">
                            @{
                                if (PagamentoGenerico.StatusPagamentoFornecedorGenerico.ID == (int)Domain.Entities.PagamentoGenerico.TodosStatusPagamento.Cancelado)
                                {
                                    @PagamentoGenerico.Valor.ToString("C2")
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Valor, new { @class = "mws-textinput", @maxlength = 200 })
                                }
                            }
                        </div>
                        <label>Status Do Pagamento</label>
                        <div class="mws-form-item small">
                            @{
                                if (PagamentoGenerico.StatusPagamentoFornecedorGenerico.ID == (int)Domain.Entities.PagamentoGenerico.TodosStatusPagamento.Cancelado || PagamentoGenerico.StatusPagamentoFornecedorGenerico.ID == (int)Domain.Entities.PagamentoGenerico.TodosStatusPagamento.Pago)
                                {
                                    @PagamentoGenerico.StatusPagamentoFornecedorGenerico.DescStatusPagamento
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.StatusPagamentoFornecedorGenerico.ID, new SelectList(ViewBag.StatusPagamento, "ID", "DescStatusPagamento"), new { @id = "IdStatusPagamentoFornecedorGenerico", @class = "mws-textinput" })
                                }
                            }

                        </div>
                    </div>
                </div>

                <div class="abas" id="produto">
                    <div class="mws-form-row">
                        @{
                            if (PagamentoGenerico.Lote != null)
                            {
                                <label>Lote</label>
                                <div class="mws-form-item small">
                                    <a href="/Lote/Visualizar/@PagamentoGenerico.Lote.ID" target="_blank">
                                        @PagamentoGenerico.Lote.Descricao.ToUpper()
                                    </a>
                                </div>
                                <label>Data Criação Lote</label>
                                <div class="mws-form-item small">
                                    @PagamentoGenerico.Lote.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                                </div>
                            }
                            else
                            {
                                <text>N/A</text>
                            }
                        }
                    </div>
                </div>
                <div class="abas" id="cnab">
                    <div class="mws-form-row">
                        <label>Fornecedor</label>
                        <div class="mws-form-item small">
                            <a href="/FornecedorGenerico/Visualizar/@PagamentoGenerico.FornecedorGenerico.ID" target="_blank">
                                @PagamentoGenerico.FornecedorGenerico.NomeFornecedor
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="button" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
                            }
    </div>
</div>
<div id="div_produto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueID" id="ProdutoEstoqueID" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedida" id="UniMedida" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValor" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtd" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidade" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemID" value="" />
</div>

<div id="div_novoproduto" title="Selecione um novo produto para este lote" style="display:none;">
    <b>Produto</b><br />
    <select name="ProdutoEstoqueIDADD" id="ProdutoEstoqueIDADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Unidade Medida</b><br />
    <select name="UniMedidaADD" id="UniMedidaADD" class="select">
        <option>-- selecione --</option>
    </select>
    <br /><br />
    <b>Valor</b><br />
    <input type="text" id="NovoValorADD" class="select" maxlength="10" value="" /><br /><br />
    <b>Qtd</b><br />
    <input type="text" id="NovaQtdADD" class="select OnlyNumber" maxlength="10" value="" /><br /><br />
    <b>Data Validade</b><br />
    <input type="text" id="NovaDtValidadeADD" class="select DataValidade" maxlength="10" value="" />
    <input type="hidden" id="ItemIDADD" value="" />
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript">
        var formHasChanged = false;
        var submitted = false;

        $(document).on('change', 'input:text, select, textarea', function (e) {
            formHasChanged = true;
        });

        $(document).ready(function () {


        });


        $(document).ready(function () {
            window.onbeforeunload = function (e) {
                if (formHasChanged && !submitted) {
                    var message = "Você modificou os dados dessa página. Se você sair, os dados digitados serão perdidos.", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }

            $('.OnlyNumber').ForceNumericOnly();
            $(".DataValidade ").mask({
                mask: "##/##/####",
                allowPartials: !1
            });

            $("#adicionar_produto").click(function () {

                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueIDADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueIDADD] option:eq(0)").remove();
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedidaADD").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedidaADD] option:eq(0)").remove();
                });

                $("#div_novoproduto").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja adicionar esse produto?')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AdicionarProduto/',
                                    {
                                        LoteID: @Model.ID,
                                        ProdutoEstoqueID: $("#ProdutoEstoqueIDADD option:selected").val(),
                                        UniMedida: $("#UniMedidaADD option:selected").val(),
                                        valor: $('#NovoValorADD').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtdADD').val(),
                                        NovaDtValidade: $('#NovaDtValidadeADD').val()
                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        "Cancelar": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $(".remover_pagamento_repasse").click(function () {
                if (confirm('Você tem certeza que deseja remover o item deste lote?')) {

                    $.post('/Lote/RemoverPagamentoRepasse/', { ID: $(this).attr("data-item"), Tipo: $(this).attr("rel"), LoteID: @Model.ID }, function (data) {
                        if (data == "OK") {
                            alert('Produto removido com sucesso!');
                            location.reload();
                        } else {
                            alert(data);
                        }
                    });
                }
            });

            $(".alterar_produto").click(function () {
                var BtnAlterar = $(this);
                $.post('/Home/GetProdutosEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#ProdutoEstoqueID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=ProdutoEstoqueID] option:eq(0)").remove();
                    var IdProd = $(BtnAlterar).parent().parent().find(".ITEM_ProdID").attr("rel");
                    $("#ProdutoEstoqueID").val(IdProd);
                });

                $.post('/Home/GetUnidadesMedidaEstoqueFloricultura/', {}, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Value != "") {
                                $("#UniMedida").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    }
                    $("select[name=UniMedida] option:eq(0)").remove();
                    var IdUniMed = $(BtnAlterar).parent().parent().find(".ITEM_UnidID").attr("rel");
                    $("#UniMedida").val(IdUniMed);
                });

                var ValorUnidade = $(this).parent().parent().find(".ITEM_ValorUni").attr("rel");
                var QtdUnidade = $(this).parent().parent().find(".ITEM_Qtd").attr("rel");
                var DtValidade = $(this).parent().parent().find(".ITEM_DT").attr("rel");

                $("#NovoValor").val(ValorUnidade);
                $("#NovaQtd").val(QtdUnidade);
                $("#NovaDtValidade").val(DtValidade.substring(0, DtValidade.length - 9));

                $("#ItemID").val($(this).attr("data-item"));
                $("#div_produto").dialog({
                    resizable: false,
                    width: 500,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja alterar o produto deste lote? Ele poderá alterar valores finais.\nEsta ação não poderá ser revertida.')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/LoteFloricultura/AlterarProduto/',
                                    {
                                        itemID: $("#ItemID").val(),
                                        ProdutoEstoqueID: $("#ProdutoEstoqueID option:selected").val(),
                                        UniMedida: $("#UniMedida option:selected").val(),
                                        valor: $('#NovoValor').val().replace('.', ''),
                                        NovaQtd: $('#NovaQtd').val(),
                                        NovaDtValidade: $('#NovaDtValidade').val()

                                    }, function (data) {
                                        if (data == "OK") {
                                            $(this).dialog("close");
                                            submitted = true;
                                            location.reload();
                                        } else {
                                            alert(data);
                                            $(".ui-button").removeAttr("disabled");
                                        }
                                    });
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                });
            });

            $('#financeiro').addClass('active');
            $('#i_lst_pagamentos_genericos').addClass('active');
            $('.abas').hide();
            $('#resumo').show();


            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    submitted = true;
                    form.submit();
                }
            });

            $("#enviar").click(function () {

            });
        });

        function abre(aba) {
            $('.abas').hide();
            $('.li_aba').removeClass('current');
            $('#' + aba).show();
            $('#li_' + aba).addClass('current');
        }
    </script>
}