﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Política de privacidade";
    ViewBag.Description = "A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.";
} 

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Política de Privacidade</b></span>    </div>
</div>
</div>

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Política de privacidade</h1>

	<div class="Div1">
		<div class="Div1Texto1">

			O site Coroas Para Velório.com.br vem por meio desta carta informar aos seus usuários sobre a Politíca de Privacidade das informações.<br /><br />

			a) Os dados cadastrados pelos clientes e usuários, tais como Nome Completo, Registro Geral (RG) ou Cadastro de Pessoa Física (CPF), permancerão em total sigilo pela Equipe do site coroasparavelorio.com.br;<br /><br />

			b) As informações corporativas fornecidas para a emissão das notas ou cupons fiscais também serão tratadas de forma sigilosa;<br /><br />

			c) As informações a respeito de contatos dos clientes, tais como telefone fixo, telefone celular ou email, não serão passados em hipótese alguma a terceiros;<br /><br />

			d) Os dados de cartão de crédito, independente da bandeira, não serão armazenados pelos nossos servidores ou funcionários, cabendo aos nossos clientes a manipulação e inserção dos dados dentro dos domínios seguros das operadoras de cartão de crédito;<br /><br />

			e) Qualquer tipo de comunicação realizada pelo site Coroas Para Velório.com.br, tais como novidades, promoções ou informações, será dirigida com a permissão dos clientes e usuários;<br /><br />

			Qualquer dúvida a respeito de nossa Política de Privacidade poderá ser dirigida ao email: contato@coroasparavelorio.com.br<br /><br />

			Agradecemos a preferência,<br />
			Equipe Coroas Para Velório.com.br

		</div>
	</div> 

@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div>