﻿@model IEnumerable<Domain.Entities.vwNFe>

@{
    ViewBag.Title = "Notas Fiscais ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var origens = (IEnumerable<string>)ViewBag.Origem;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#financeiro').addClass('active');
            $('#i_nfe').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Notas Fiscais
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                <table>
                <tr>
                    <td>Data de Inicial:</td>
                    <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>Data de Final:</td>
                    <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>Número do Pedido ou Fatura:</td>
                    <td><input type="text" name="pedido" value="@Request.QueryString["pedido"]" autocomplete="off" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Nome/Razão Social:</td>
                    <td><input type="text" name="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>
                    <td style="width:20px;"></td> 
                    <td>E-mail:</td>
                    <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;"/></td>
                    <td style="width:20px;"></td> 
                    <td>Origem Venda:</td>
                    <td>
                        <select class="mws-textinput" name="origem" id="origem" style="width:300px;">
							<option value=""></option>
                            @foreach (var i in origens)
                            {
                                <option value="@i" @(i == Request.QueryString["origem"] ? "selected" : "")>@i</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>NFe enviada?</td>
                    <td><input type="checkbox" name="enviada" id="enviada" @(@Request.QueryString["enviada"] == "true" ? "checked=checked" : "") value="true"/></td>
                </tr> 
                </table>
                <input type="submit" class="mws-button gray small" value="Filtrar"/>
                <input type="button" class="mws-button green small" style="float:right;" value="Exportar para Excel" onclick="javascript:location='Excel?datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&pedido=@Request.QueryString["pedido"]&nome=@Request.QueryString["nome"]&email=@Request.QueryString["email"]&nfe=@Request.QueryString["nfe"]&enviada=@Request.QueryString["enviada"]';" />
 
                </form>
            </div>
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th style="width:250px;text-align:center;">Datas</th>
                    <th style="text-align:center;">Nome/Razão Social</th>                    
                    <th style="width:150px;text-align:center;">Pedido</th>
                    <th style="width:100px;text-align:center;">Fatura</th>                    
                    <th style="text-align:center;">Link NFe</th>
                    <th style="text-align:center;">Link XML</th>
                    <th style="text-align:center;">Origem</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="text-align:left;">
                        Pedido/Fatura: @item.DataCriacao.ToString("dd/MM/yyyy")
                        <br />
                        NF: @((item.NFeData.HasValue) ? item.NFeData.Value.ToString("dd/MM/yyyy") : "")
                    </td>
                    <td style="text-align:center;">@item.NomeSolicitante</td>                    
                    <td style="text-align:center;">@item.Pedido</td>
                    <td style="text-align:center;">@item.Fatura</td> 
                    <td style="text-align:center;">
                        <a target="_blank" href="@item.NFeLink">
                            NF
                        </a>
                    </td> 
                    <td style="text-align:center;">

                        @{
                            if (!string.IsNullOrEmpty(item.CaminhoXmlNotaFiscal))
                            {
                                <a target="_blank" href="@item.CaminhoXmlNotaFiscal">
                                    XML
                                </a>
                            }
                        }
                    </td> 
                    <td style="text-align:center;">@item.OrigemSite</td> 
                    <td class="center" style="width:100px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                            <ul>
                                @if (!String.IsNullOrEmpty(item.Pedido))
                                {
                                    <li>
                                        <a target="_blank" href="/PedidosSite/Visualizar/@item.ID">
                                            @item.Pedido
                                        </a>                                        
                                    </li>
                                }
                                else if (!String.IsNullOrEmpty(item.Fatura))
                                {
                                    <li>@Html.ActionLink("Fatura", "Visualizar", "FaturasEmpresa", new { id = item.Fatura }, new { @class = "mws-ic-16 ic-view", target = "_blank" })</li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="16" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&nome=@Request.QueryString["nome"]&pedido=@Request.QueryString["pedido"]&email=@Request.QueryString["email"]&nfe=@Request.QueryString["nfe"]&enviada=@Request.QueryString["enviada"]&origem=@Request.QueryString["origem"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
            </div>
    </div>
</div>
