﻿/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLV83L2yn_om9bG0a6EHWBso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLcd1d68IHFKI_qxdvoxWsfE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{ 
font-family: arial,verdana; 
color: #797979;
}
a{color: #0066cc;}
#TopoFaixaPreta .div_centraliza a
{
    color:#fff;
}
#Menu .div_centraliza a, #Topo .carrinho_qtde a, .VejaMaisTexto a, .Ofereca2 a
{
    color:#fff;
    text-decoration:none;
}
#Topo .telefones_regiao a
{
    color: #707070;
}
iframe[name=google_conversion_frame]
{
    width:0px;
    height:0px;
}
#VejaMais .texto a
{
    color:#FFFFFF;
    text-decoration:none;
}
#Rodape1 .div2 span
{
    font-family: Trebuchet MS,arial,verdana;
    font-size: 22px;
    color: #797979;
    float: right;
    margin-left: -30px;
}
#Rodape2 .redes_sociais, .redes_sociais_visivel
{
    width: 123px;
}
#Rodape3 .div_centraliza a
{
    color:#fff;
}
#Rodape2 .texto a, .texto_visivel a
{
    color: #1B8ABA;
} 
#CaminhoPagina a
{
    color: #909090;
    text-decoration:none;
}

.processando
{
    background:url('/content/imagens/loading.gif') 10px 50% no-repeat;
    padding-left:50px;
    padding-bottom: 10px;
    padding-top: 10px;
    display:none;
    float: right;
    font-size:12px!important;
    margin:auto;
    font-family: Trebuchet MS,arial,verdana;
    font-size: 12px;
}

label.error
{
    display:none!important;
}
input.error, textarea.error, select.error
{
    border: 1px solid #DD0000!important;
    background-color: #fff2f2; 
}

.escurece
{
    background: url("../imagens/bg_escurece.png") repeat;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.lightbox
{
    height: 454px;
    left: 50%;
    margin: -227px 0 0 -300px;
    position: fixed;
    top: 50%;
    width: 600px;
}
.lightbox .close
{
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-size: 24px;
}
.lightbox .cartao
{
    float: left;
    font-family: Brush Script MT;
    font-size: 40px;
    width: 600px;
}


.message
{	
	font-size:16px;
    font-family: Trebuchet MS,arial,verdana;
	border:1px solid #d2d2d2;
	padding:15px 8px 15px 45px;
	position:relative;
	vertical-align:middle;
	background:#f8f8f8;
	margin:10px 12px 12px 12px;
	float: left;
	padding-top: 15px;
}

.message p, 
.message ul, 
.message ol
{
	margin:0;
}

.message ul li, 
.message ol li
{
	list-style-position:inside;
	list-style-type:inherit;
	margin:0;
}

.message.erro
{
	background-color:#ffcbca;
	background-image:url(/content/imagens/message-error.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#eb979b;
	color:#9b4449;
}

.message.success
{
	background-color:#e1f1c0;
	background-image:url(/content/imagens/message-success.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#b5d56d;
	color:#62a426;
}

.message.warning
{
	background-color:#fef0b1;
	background-image:url(/content/imagens/message-warning.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#ddca76;
	color:#a98b15;
}

.message.info
{
	background-color:#bce5f7;
	background-image:url(/content/imagens/message-info.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#a6d3e8;
	color:#11689E;
}  
#CoroasNaMidia .Url A
{
    color: #202020;
}

.paginacao
{
    width:100%;
    margin-top:10px;
    font-size: 13px;
    font-family: Trebuchet MS,arial,verdana;
}
.paginacao .titulo
{
}
.paginacao .paginas
{
    margin-top:10px;
}
.paginacao .paginas span
{
    border: 1px solid #5c6105;
    float: left;
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.paginacao .paginas span a
{
    text-decoration:none;
    color: #5c6105;
}
.paginacao .paginas .ativa
{
    background-color:#E7E7E7;
}

#BannersInf
{
    margin-top:10px;
}
.FormValidacaoCampo{
    font-size: 14px;
    font-family: arial,verdana;
    color: #303030;
}

#CaptchaInputText{
    width: 100%;
    height: 16px;
    padding: 7px;
    border: 1px solid #AAAAAA;
    font-family: arial,verdana;
    font-size: 13px;
    color: #303030;
}
#CidadesRegioes .Resultados2 a{
    color: #404040;
}
#ResultadoBusca .ListaLocaisRTexto a
{
    color: #404040;
}
#ResultadoBusca .Paginacao a
{
    text-decoration:none;
}
#ResultadoBusca .PaginacaoSelecionado a
{
    color: #fff;
}
#ResultadoBusca .PaginacaoNaoSelecionado a
{
    color: #666666;
}
.ListaLocaisRTitulo
{
    margin-top:20px;
}
#CidadesRegioesInterna .produto .quadrado2
{
    margin-left: 0px!important;
}
#ListagemProdutos .produto .quadrado1
{
    margin-right: 10px!important;
}
#ResultadoBusca .PaginacaoNaoSelecionado
{
    margin-bottom:5px;
}
#PaginaProduto .AparicoesDiv1
{
    padding-right: 5px!important;
    padding-left: 5px!important;
}
#PaginaProduto #EscolhaTamanho .Selecionado  div{
    color: #ffffff; 
}
#Depoimentos .Mais{
height: 40px;
}
.valorDe
{
    padding-top: 3px;
font-family: arial,verdana;
font-size: 12px;
color: #666666;
font-weight:normal;
}


#ListagemProdutos .produto span.Desconto
{
    background-color: #00AB4E !important;
    z-index: 10;
    display: block;
    width: 109px;
    margin-left: 50px;
    position: relative;
    top: 26px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Opera, Chrome, and Safari */
    font-family: Arial;
    color: #FFFFFF;
    padding: 9px 7px;
    padding-bottom: 5px;
}

#ListagemProdutos .produto span.CleanDesconto
{
    background-color: transparent!important;
}

#ListagemProdutos .produto .Desconto 
{
font-family: arial,verdana;
font-size: 12px;
color: #1B8ABA;
font-weight:normal;
height: 20px;
}
.QuadroGDados .Desconto
{
font-family: arial,verdana;
font-size: 12px;
color: #1B8ABA;
font-weight:normal; 
}  
 
#Cadastro .FormCampoInput {width:100%;height:16px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
#Cadastro .FormCampoSelect {width:105%;height:32px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
#Cadastro .FormCampoTextarea {width:100%;height:100px;overflow:auto;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}

#Cadastro .FormCampoObrigatorio {float:left;width:calc(100% - 95px);text-align:left;padding-left:95px;font-family:arial,verdana;font-size:12px;color:#DD0000;margin-top:-23px}
#Cadastro .FormCampoObrigatorio2 {float:left;width:calc(100% - 95px);text-align:left;padding-left:95px;font-family:arial,verdana;font-size:12px;color:#DD0000;margin-top:-108px}
 .FormBotao {height:38px;cursor:pointer;background-color:#b5b422;border:0px;color:#FFFFFF;font-family:arial,verdana;font-size:14px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.BarraCinza a {color:#fff;}

table .td_cidade
{
    text-align:left;
    font-weight:bold;
    font-family: trebuchet ms,arial,verdana;
    font-size: 15px;
    padding:5px;
    padding-right:20px;
}
.tabelapedido
{
    text-align: left;
    margin:0 auto;
    font-weight:normal;
}
 
.tabelapedido input[type=text] {width:100%;height:16px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.tabelapedido select {width:103%;height:32px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030} 

.formpedido .FormDiv1 {float:left;width:50%}
.formpedido .FormDiv2 {float:left;width:50%;padding-top:10px}

.formpedido .FormNomeCampo {float:left;width:180px;text-align:right;font-size:14px;font-family:arial,verdana;color:#303030;padding-top:7px}
.formpedido .FormNomeCampo2 {float:left;padding-left:10px;text-align:right;font-size:14px;font-family:arial,verdana;color:#303030;padding-top:7px}
.formpedido .FormCampo {float:left;padding-left:5px}

.formpedido .FormCampoInput {width:280px;height:16px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.formpedido .FormCampoSelect {width:296px;height:32px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.formpedido .FormCampoTextarea {width:280px;height:100px;overflow:auto;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.form-pagamento
{
    font-size: 14px;
    font-family: arial,verdana;
    color: #303030; 
    width:80%;
    margin:0 auto;
    border:1px solid #d2d2d2;
    padding: 15px 15px 15px 15px;
}
.form-pagamento .tabelatitulo
{
    font-size: 18px;
    font-weight:bold;
}
.form-pagamento tr td
{
    padding:5px;
}
.form-pagamento input[type=text] {width:280px;height:16px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.form-pagamento select {width:296px;height:32px;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.form-pagamento textarea {width:280px;height:100px;overflow:auto;padding:7px;border:1px solid #AAAAAA;font-family:arial,verdana;font-size:13px;color:#303030}
.pagamento
{font-size: 14px;
font-family: arial,verdana;
color: #303030;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
    width:100%;
    height:100%;
}
.overlay div b
{
    font-size:24px;  
}
.overlay div
{ 
    font-family: trebuchet ms,arial,verdana;
    text-align:center;
    color:#fff;
}
.ui-datepicker 
{
    font-size:12px;  
}
.banner img{width: 100%;}
.FormBotao{text-transform:uppercase;} 

/* these styles are for the demo, but are not required for the plugin */
.zoom {
	display:inline; 
}
		
/* magnifying glass icon */
.zoom:after {
	content:'';
	display:inline; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url(icon.png);
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

#ex2 img:hover { cursor: url(grab.cur), default; }
#ex2 img:active { cursor: url(grabbed.cur), default; }

.pedidos {
	margin:0px;padding:0px;
	width:100%; 
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.pedidos table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.pedidos tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.pedidos table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.pedidos table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.pedidos tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.pedidos tr:hover td{
	
}
.pedidos tr:nth-child(odd){ background-color:#cccccc; }
.pedidos tr:nth-child(even)    { background-color:#ffffff; }.pedidos td{
	vertical-align:middle;
	 
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:12px;
	font-family:Trebuchet ms,arial,verdana;
	font-weight:normal;
	color:#000000;
}.pedidos tr:last-child td{
	border-width:0px 1px 0px 0px;
}.pedidos tr td:last-child{
	border-width:0px 0px 1px 0px;
}.pedidos tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.pedidos tr:first-child td{
		background:-o-linear-gradient(bottom, #575757 5%, #575757 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #575757), color-stop(1, #575757) );
	background:-moz-linear-gradient( center top, #575757 5%, #575757 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#575757", endColorstr="#575757");	background: -o-linear-gradient(top,#575757,575757);

	background-color:#575757;
	border:0px solid #575757;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Trebuchet ms,arial,verdana;
	font-weight:bold;
	color:#ffffff;
}
.pedidos tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #575757 5%, #575757 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #575757), color-stop(1, #575757) );
	background:-moz-linear-gradient( center top, #575757 5%, #575757 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#575757", endColorstr="#575757");	background: -o-linear-gradient(top,#575757,575757);

	background-color:#575757;
}
.pedidos tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.pedidos tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
#HomeDepoimentosSobre .titulo, #PaginaProduto .QuadroGTitulo, #HomeTitulo .titulo, .TituloPagina
{
    font-weight:normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; 
}

#Rodape4 {width:100%;text-align:center;padding-bottom:15px}
#Rodape4 a{color:#1B8ABA;}
#Rodape4 .div_centraliza {width:980px;display:inline-block;}
#Rodape4 .titulo {font-family:Trebuchet MS,arial,verdana;font-size:16px;color:#666666;text-align:left;padding-top:15px;padding-bottom:8px;font-weight:normal;text-transform:uppercase;border-bottom: 1px solid #DDDDDD;}
#Rodape4 .titulo2 {font-family:Trebuchet MS,arial,verdana;font-size:13px;text-align:left;font-weight:bold;}
#Rodape4 .texto, .texto_visivel {font-family:arial,verdana;font-size:12px;color:#1B8ABA;line-height:19px;text-decoration:underline;text-align:left}
#Rodape4 .texto2, .texto_visivel2 {font-family:arial,verdana;font-size:12px;color:#777777;line-height:19px;text-decoration:none;text-align:left}
#Rodape4 .div1 {float:left;width:25%}
#Rodape4 .div2 {float:left;padding-left:1%;width:24%}
#Rodape4 .div3 {float:left;padding-left:1%;width:24%}
#Rodape4 .div4 {float:left;padding-left:1%;width:24%} 
#Rodape4 .redes_sociais, .redes_sociais_visivel {float:left}
#Rodape4 .meios_pagamento, .meios_pagamento_visivel {float:left;height:184px}
#Rodape4 .seguranca, .seguranca_visivel {float:left}
#Rodape4 .seta {float:right;display:none}

.ui-widget-content, .ui-widget
{
    font-size: 14px!important;
    font-family: arial,verdana!important;
    font-weight:normal!important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    border: 1px solid #6b6b6b;
    background: #6b6b6b;
    font-weight: bold;
    color: #ffffff;
}

.ui-autocomplete-category {
font-weight: bold;
padding: .2em .4em;
margin: .8em 0 .2em;
line-height: 1.5;
}
.popup_primeira_compra
{
    background: url(../imagens/popup-primeira-compra.gif) no-repeat 33px 0 transparent;
    height: 380px;
    width: 700px;
    position:absolute;
    top:216px; 
    left:50%;
    margin-left:-350px;
    z-index:1000;
}
.popup_primeira_compra .fechar
{
    float: right;
    margin-top: -30px;
    margin-right: -20px;
}

.h-container 
{
    display: block;
    height: 35px;
    float: left;
    width: 100%;
    position: relative;
}

.btn-default 
{
    background-image: url('/..imagens/ui/btn-background.png');
    background-repeat: repeat-x;
    background-position: left center;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #cc0000;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#FrasesHomenagem .FiltroOpcoes.nopad
{
    padding-left: 0px!important;
}

#FrasesHomenagem .FiltroOpcoes.nopad a 
{
    color: #333333;
    font-weight: bold;
}
#PaginaProduto p { 
cursor: url(/content/imagens/lupa.gif), default;
}