﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Condolências Virtuais Gratis";
    ViewBag.Description = "Confira a nossa ferramenta de Condolências Virtuais, preste uma ultima homenagem! Acesse o site ou ligue grátis 0800-777-1986";
}
 
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_condolencias").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    $.post("/condolencias-virtuais-gratis/Enviar", { emailDe: $("#emailDe").val(), nomeDe: $("#nomeDe").val(), emailPara: $("#emailPara").val(), nomePara: $("#nomePara").val(), mensagem: $("#mensagem").val(), tipo: $("#tipo:checked").val() }, function (data) {
                        if (data == "OK") {
                            window.location = "/condolencias-virtuais-gratis?msg=sucesso";
                        } else {
                            alert(data);
                            $(".botao").show();
                            $("#processando").hide();
                        }
                    });
                },
                rules: {
                    nomeDe: "required",
                    emailDe: {
                        required: true,
                        email: true
                    },
                    nomePara: "required",
                    emailPara: {
                        required: true,
                        email: true
                    },
                    mensagem: "required",
                    tipo: "required"
                },
                messages: {
                    nomeDe: "Digite seu nome",
                    emailDe: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    nomePara: "Digite o nome de seu amigo",
                    emailPara: {
                        required: "Digite o e-mail de seu amigo",
                        email: "Digite um e-mail válido"
                    },
                    mensagem: "Digite a mensagem",
                    tipo: "Selecione o cartão"
                }
            });
        });

        // Cartão Condolências Virtuais

        $('#VisualizarCartao').click(function () {
            if ($("#tipo:checked").val() == 1 || $("#tipo:checked").val() == 2 || $("#tipo:checked").val() == 3) {
                $('#visualizaPara').html($('#nomePara').val());
                $('#visualizaMensagem').html($('#mensagem').val().replace(/\n/g, "<br />"));
                $('#visualizaDe').html($('#nomeDe').val());

                if ($('#tipo:checked').val() == 1) {
                    $(".cor").attr("style", "background: #0074bc;");
                    $(".rosa-condolencia").attr("src", "/Content/html/condolencias/flor-azul.jpg");
                } else if ($('#tipo:checked').val() == 2) {
                    $(".cor").attr("style", "background: #0a736e;");
                    $(".rosa-condolencia").attr("src", "/Content/html/condolencias/flor-verde.jpg");
                } else if ($('#tipo:checked').val() == 3) {
                    $(".cor").attr("style", "background: #c05398;");
                    $(".rosa-condolencia").attr("src", "/Content/html/condolencias/flor-rosa.jpg");
                }

                $('.escurece').show();
            } else {
                alert('Selecione o cartão.');
            }
            return false;
        });
        $('.close').click(function () {
            $('.escurece').hide();
            $('.box').hide();
            return false;
        });
    </script>
}

<div id="CaminhoPagina">
<div class="Div" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a></div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Condolências Virtuais Gratis</b></span></div>
</div>
</div>
 
<div id="CondolenciasVirtuaisGratis">
    <div class="Div">
	    <h1 class="TituloPagina">Condolências Virtuais Grátis</h1>

	    <div class="Div1">
		    <div class="Div1Texto1">Utilize a nossa ferramenta de Condolências Virtuais para enviar uma mensagem a quem está precisando. Escolha um dos cartões disponíveis, preencha os dados e escreva uma mensagem carinhosa a quem você quer transmitir suas condolências.</div>
	    </div>
    
        @if (Request.QueryString["msg"] == "sucesso")
        {
        <div class="message success">Suas condolências foram enviadas com sucesso!</div>
        }
        else
        {
            using (Html.BeginForm("Index", "Condolencias-Virtuais-Gratis", FormMethod.Post, new { id = "form_condolencias", name = "form_condolencias", enctype = "multipart/form-data", @class = "formulario" }))
            {   
	        <div class="Formulario">

		        <div class="TituloPagina2">De:</div>

		        <div class="FormDiv">
			        <div class="FormNomeCampo">Seu nome:</div>
			        <div class="FormCampo"><input type="text" id="nomeDe" name="nomeDe" class="FormCampoInput" /></div>
		        </div>

		        <div class="FormDiv">
			        <div class="FormNomeCampo">Seu e-mail:</div>
			        <div class="FormCampo"><input type="text" id="emailDe" name="emailDe" class="FormCampoInput" /></div>
		        </div>

		        <div class="TituloPagina2">Para:</div>

		        <div class="FormDiv">
			        <div class="FormNomeCampo">Seu nome:</div>
			        <div class="FormCampo"><input type="text" id="nomePara" name="nomePara" class="FormCampoInput" /></div>
		        </div>

		        <div class="FormDiv">
			        <div class="FormNomeCampo">Seu e-mail:</div>
			        <div class="FormCampo"><input type="text" id="emailPara" name="emailPara" class="FormCampoInput" /></div>
		        </div>

		        <div class="TituloPagina2">Texto que deseja inserir no cartão:</div>

		        <div class="FormDiv">
			        <div class="FormNomeCampo">&nbsp;</div>
			        <div class="FormCampo"><textarea id="mensagem" name="mensagem" class="FormCampoTextarea"></textarea></div>
		        </div>

		        <div class="TituloPagina2">Escolha abaixo a cor de fundo da mensagem:</div>

		        <div class="CorFundo">
			        <div class="CorFundoOpcao">
				        <div class="CorFundoRadio"><input type="radio" name="tipo" id="tipo" value="1" /></div>
				        <div class="CorFundoImagem"><img src="/content/imagens/msg_condolencia1.png" class="CorFundoImg" alt="Imagem" /></div>
			        </div>
			        <div class="CorFundoOpcao">
				        <div class="CorFundoRadio"><input type="radio" name="tipo" id="tipo" value="2" /></div>
				        <div class="CorFundoImagem"><img src="/content/imagens/msg_condolencia2.png" class="CorFundoImg" alt="Imagem" /></div>
			        </div>
			        <div class="CorFundoOpcao">
				        <div class="CorFundoRadio"><input type="radio" name="tipo" id="tipo" value="3" /></div>
				        <div class="CorFundoImagem"><img src="/content/imagens/msg_condolencia3.png" class="CorFundoImg" alt="Imagem" /></div>
			        </div>
		        </div>

		        <div class="FormDivBotao">                        
			        <div class="Visualizar"><input type="submit" value="VISUALIZAR" class="FormBotao" id="VisualizarCartao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'condolencias', 'visualizou'])"/></div>                        
			        <div class="Enviar">
                        <input type="submit" value="ENVIAR CONDOLÊNCIA" class="FormBotao2"  onmousedown="_gaq.push(['_trackEvent', 'form', 'condolencias', 'enviou'])"/>
                        <span class="processando" id="processando">Enviando...</span>
                    </div>
		        </div>

	        </div> 	          
            }
        }
        
    </div>
</div>

<div class="escurece">
    <div class="lightbox">
        <div class="close">
            <u>fechar</u>
        </div>
        <div class="cartao">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color: #ffffff; font-family: MV Boli;">
                <tr height="11px">
                    <td colspan="5" class="cor"></td>
                </tr>
                <tr height="8px">
                    <td width="11px" class="cor"></td>
                    <td bgcolor="#ffffff" colspan="3"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr height="30px">
                    <td width="11px" class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr>
                    <td width="11px" class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td class="cor">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color: #ffffff; font-family: MV Boli;">
                            <tr>
                                <td width="40px"></td>
                                <td id="visualizaPara"></td>
                                <td width="40px"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr height="20px">
                    <td width="11px" class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr>
                    <td width="11px" class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td class="cor">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color: #ffffff; font-family: MV Boli;">
                            <tr>
                                <td width="80px"></td>
                                <td id="visualizaMensagem" style="font-size: 26px; text-align: justify"></td>
                                <td width="80px"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr>
                    <td width="11px" class="cor"></td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td class="cor">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color: #ffffff; font-family: MV Boli;">
                            <tr>
                                <td width="244px">
                                    <img class="rosa-condolencia" src="/Content/html/condolencias/flor-azul.jpg" alt="condolencias" title="condolencias" border="0"/>
                                </td>
                                <td id="visualizaDe" style="text-align: right"></td>
                                <td width="44px"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="8px" bgcolor="#ffffff"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr height="8px">
                    <td width="11px" class="cor"></td>
                    <td bgcolor="#ffffff" colspan="3"></td>
                    <td width="11px" class="cor"></td>
                </tr>
                <tr height="11px">
                    <td colspan="5" class="cor"></td>
                </tr>
            </table>
        </div>
    </div>
</div>