﻿@model IEnumerable<Domain.Entities.PedidoEmpresa>

@{
    ViewBag.Title = "Pedidos Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pedidosempresa').addClass('active');
            $('#i_pedidos_empresas').addClass('active');

            $("#ExportExcel").click(function(){
                var iframe;
                iframe = document.getElementById("download-container");
                if (iframe === null)
                {
                    iframe = document.createElement('iframe');  
                    iframe.id = "download-container";
                    iframe.style.visibility = 'hidden';
                    document.body.appendChild(iframe);
                }
                iframe.src = '/PedidosEmpresa/Exportar?' + window.location.href.split("?")[1];  
               
            });

            if (getParameterByName('GrupoEconomico') != null) {
                
                $('#GrupoEconomico option').each(function () {
                    if ($(this).val() == getParameterByName('GrupoEconomico')) {
                        $(this).attr('selected', true);
                    }
                });
            }

        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString()) {
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@Html.Raw(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString()) {
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString()) {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}

@if (Request.QueryString["StatusNF"] == "Processando")
{
    <script type="text/javascript">
        Swal.fire({
            title: 'Pedido efetuado com NFe!',
            text: 'Você será redirecionado para a tela de resultado do procesamento da NFe em 3 seg...',
            timer: 3000,
            onOpen: function () {
                swal.showLoading()
            }
        }).then(
          function () { },
          // handling the promise rejection
          function (dismiss) {
              if (dismiss === 'timer') {
                  window.location = "/NFEaEmitir/ListProcessar";
              }
          }
        )
    </script>
}

@if (Request.QueryString["StatusNF"] == "NaoEmitida")
{
    <script type="text/javascript">
        Swal.fire("Erro!", "Houve um erro na hora de emitir a NF deste pedido!", "error");
    </script>
}

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Pedidos corporativos
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "PedidosEmpresa")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
            <div class="dataTables_filter" style="text-align:left;">
                <form method="get">
                    <table align="center" style="margin: 0px auto;">
                        <tr style="height:20px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td><strong>Número do Pedido:</strong> </td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="id" value="@Request.QueryString["id"]" autocomplete="off" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:20px;"></tr>

                        <tr>
                            <td style="width: 20px;"></td>
                            <td> Data Inicial:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null ? DateTime.Now.AddDays(-2).ToString("dd/MM/yyyy") : Request.QueryString["datainicial"])" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 100px;"></td>
                            <td>Data Final:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" /></td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Razão Social:</td>
                            <td style="width: 20px;"></td>
                            @if (ViewBag.RazaoSocialEmpresa != null)
                            {
                                <td><input type="text" name="razao" value="@ViewBag.RazaoSocialEmpresa" autocomplete="off" style="width:150px;" /></td>
                            }
                            else
                            {
                                <td><input type="text" name="razao" value="@Request.QueryString["razao"]" autocomplete="off" style="width:150px;" /></td>
                            }
                            <td style="width: 100px;"></td>
                            <td>Grupo Econômico:</td>
                            <td style="width: 20px;">
                                @{
                                    List<System.Web.UI.WebControls.ListItem> lstGrupo = new List<System.Web.UI.WebControls.ListItem>();

                                    lstGrupo = ViewBag.lstGrupo;
                                }
                            </td>
                            <td>@Html.DropDownList("GrupoEconomico", new SelectList(lstGrupo, "Value", "Text"), new { style = "width:300px; font-size: 10px;" })
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>E-mail:</td>
                            <td style="width: 20px;"></td>
                            <td><input type="text" name="email" value="@Request.QueryString["email"]" autocomplete="off" style="width:150px;" /></td>
                            @*<td style="width: 20px;"></td>
                    @{
                        List<System.Web.UI.WebControls.ListItem> lstGrupo = new List<System.Web.UI.WebControls.ListItem>();

                        lstGrupo = ViewBag.lstGrupo;
                    };*@
                            <td style="width: 100px;"></td>
                            <td>Pedidos Pendentes de Faturamento:</td>
                            <td style="width: 20px;"></td>
                            <td>
                                <input id="naofaturado" name="naofaturado" type="checkbox" @{ if (Request.QueryString["naofaturado"] == "on") { <text> checked </text> } }>
                            </td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Status de Pedido:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("status", typeof(Domain.Entities.PedidoEmpresa.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 100px;"></td>
                            <td>Status de Pagamento:</td>
                            <td style="width: 20px;"></td>
                            <td>
                                <select name="statuspagamento" id="statuspagamento" style="width:300px;">
                                    <option value="">Selecione uma opção</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "1") { <text>selected</text> }; } value="1">Aguardando Pagamento</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "2") { <text>selected</text> }; } value="2">Pagamento Efetuado</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "3") { <text>selected</text> }; } value="3">Cancelada</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "4") { <text>selected</text> }; } value="4">Estornado</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "5") { <text>selected</text> }; } value="5">Prejuízo</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "6") { <text>selected</text> }; } value="6">Protestado</option>
                                    <option @{if (Request.QueryString["statuspagamento"] == "7") { <text> selected</text> }; } value="7">Sem Fatura</option>
                                </select>
                            </td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:10px;"></tr>
                        <tr>
                            <td style="width: 20px;"></td>
                            <td>Status de Entrega:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("statusentrega", typeof(Domain.Entities.TodosStatusEntrega), (!String.IsNullOrEmpty(Request.QueryString["statusentrega"]) ? Convert.ToInt32(Request.QueryString["statusentrega"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 100px;"></td>
                            <td>Meio de Pagamento:</td>
                            <td style="width: 20px;"></td>
                            <td>@Html.DropDownListForEnum("meiopagamento", typeof(Domain.Entities.Pedido.MeiosPagamento), (!String.IsNullOrEmpty(Request.QueryString["meiopagamento"]) ? Convert.ToInt32(Request.QueryString["meiopagamento"]) : 0), new { style = "width:300px;" })</td>
                            <td style="width: 20px;"></td>
                        </tr>
                        <tr style="height:30px;"></tr>
                    </table>
                    <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                        <input type="submit" class="mws-button green big" value="Filtrar" />
                    </div>
                    <br /><br />
                </form>
            </div>
            <table class="mws-table">
                <tr>
                    <td align="right">
                        <br />
                        <input type="button" id="ExportExcel" value="Export Excel" class="mws-button blue right" />
                        <br />
                        <br />
                    </td>
                </tr>                
            </table>

            <table class="mws-table">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle; width:110px;">Pedido</th>
                        <th style="text-align: center; vertical-align: middle"> Status de Operação</th>
                        <th style="text-align: center; vertical-align: middle"> Status de Pagamento</th>
                        <th style="text-align: center; vertical-align: middle"> Status de Entrega</th>
                        <th style="text-align: center; vertical-align: middle"> Fornecedor</th>
                        <th style="text-align: center; vertical-align: middle"> Processamento</th>
                        <th style="text-align: center; vertical-align: middle; width:50px;">Empresa<br /><br />Origem</th>
                        <th style="text-align: center; vertical-align: middle"> Falecido<br /><br />Local de Entrega</th>
                        <th style="text-align: center; vertical-align: middle"> Data de Criação</th>
                        @*<th align="center">Data Solicitada</th>*@
                        <th style="text-align: center; vertical-align: middle"> Valor Total</th>
                        @*<th align="center">Data de Atualização</th>*@
                        <th style="text-align: center; vertical-align: middle"> Fatura</th>
                        <th style="text-align: center; vertical-align: middle"> Forma de Pagamento</th>
                    </tr>
                </thead>
                @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    var processamento = item.AdministradorPedidoes.Where(c => c.AcaoEnum == Domain.Entities.AdministradorPedido.Acao.ProcessouPedido).LastOrDefault();
                        <tr>
                            <td style="text-align: center; vertical-align: middle; width: 110px;">
                                <div class="mws-panel-toolbar top clearfix">
                                    <ul>
                                        <li style="width:110px;">
                                            <a target="_blank" class="mws-ic-16 ic-view" href="@Url.Action("Visualizar", new { id = item.ID })">
                                                @item.Numero
                                            </a>
                                            @*@Html.ActionLink(@item.Numero, "Visualizar", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })*@
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td style="text-align: center; vertical-align: middle" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.Status)">@Domain.Helpers.EnumHelper.GetDescription(item.Status)</td>
                            <td style="text-align: center; vertical-align: middle" class="@((item.FaturamentoID.HasValue) ? Domain.Core.Funcoes.GeraRotuloMVC(item.Faturamento.StatusPagamento) : "naofaturado")">@((item.FaturamentoID.HasValue) ? Domain.Helpers.EnumHelper.GetDescription(item.Faturamento.StatusPagamento) : "Não Faturado")</td>
                            <td style="text-align: center; vertical-align: middle" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusEntrega)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</td>
                            <td style="text-align: center; vertical-align: middle">
                                @if (item.Fornecedor != null)
                                {
                                    @item.Fornecedor.Nome
                                    <br /><br />
                                        @item.Fornecedor.TelefonePrimario
                                        <br /><br />
                                        @item.Fornecedor.Estado.Sigla
                                }
                                else
                                {<text>Não processado</text>}
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @if (processamento != null)
                                {<text>@processamento.Administrador.Nome em @processamento.DataCriacao.ToString("dd/MM/yyyy HH:mm")</text>}
                                else
                                {<text>Não processado</text>}
                            </td>
                            <td style="text-align: center; vertical-align: middle; width: 50px;">
                                @item.Empresa.NomeFantasia
                                <br /><br />
                                @item.Colaborador.Email
                                <br /><br />
                                @item.Origem - @item.OrigemForma
                                <br /><br />
                                @item.OrigemSite
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @item.PessoaHomenageada
                                <br />
                                <br />
                                @if (@item.Local != null)
                                {
                                    @item.Local.Titulo
                                }
                                else
                                {
                                    <text>LOCAL NÃO CADASTRADO</text>
                                    <br /><br />
                                    @item.ComplementoLocalEntrega
                                }
                            </td>
                            <td style="text-align: center; vertical-align: middle">@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                        @*<td>@item.DataSolicitada.ToString("dd/MM/yyyy HH:mm")</td>*@
                            <td style="text-align: center; vertical-align: middle">@item.Valor.ToString("C2")</td>
                            <td style="text-align: center; vertical-align: middle">@Html.Raw(item.FaturamentoID.HasValue ? "<a target='_blank' href='" + @Url.Action("Visualizar", "FaturasEmpresa", new { id = item.FaturamentoID.Value }) + "'>" + item.Faturamento.Titulo + "</a>" : "")</td>
                            <td style="text-align: center; vertical-align: middle">@(item.FaturamentoID.HasValue ? Domain.Helpers.EnumHelper.GetDescription(item.Faturamento.MeioPagamento) : "")</td>
                        
                    </tr>
                    }
                }
                else {
                    <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
            </table>

                @if (ViewBag.TotalPaginas > 1)
            {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["id"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&razao=@Request.QueryString["razao"]&meiopagamento=@Request.QueryString["meiopagamento"]&clienteID=@Request.QueryString["clienteID"]">@i.ToString()</a></span>
                                }
                            </span>
                        </div>
                    </div>
                }
</div>
    </div>
</div>