﻿@{
    ViewBag.Title = "Novo Pedido Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var empresas = (IEnumerable<Domain.Entities.Empresa>)ViewBag.Empresas;
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
    var pedidos = (IEnumerable<Domain.Entities.PedidoEmpresa>)ViewBag.PedidoEmpresas;
    var _TodosTiposDeFrete = typeof(Domain.Entities.PedidoEmpresa.TodosTiposDeFrete);
}

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Pedido</span>
    </div>
    <div class="mws-panel-body">

        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Novo", "PedidosEmpresa", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
            {

        <div class="mws-form-block">
            @if (pedidos != null && pedidos.Count() > 0)
            {
                <div id="pedidosRealizados">
                    <div class="mws-form-row">
                        <h2>Últimos Pedidos</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Últimos Pedidos</label>
                        <div class="mws-form-item small">
                            <table class="mws-table">
                                <thead>
                                    <tr>
                                        <th align="center" style="width: 120px;">Pedido</th>
                                        <th align="center" style="width: 120px;">Data de Criação</th>
                                        <th align="center">Produto</th>
                                    </tr>
                                </thead>
                                @if (pedidos.Count() > 0)
                                {
                                    foreach (var item in pedidos)
                                    {
                                        var processamento = item.AdministradorPedidoes.Where(c => c.AcaoEnum == Domain.Entities.AdministradorPedido.Acao.ProcessouPedido).LastOrDefault();
                                        <tr>
                                            <td class="center" style="width:120px;">
                                                <div class="mws-panel-toolbar top clearfix">
                                                    <ul>
                                                        <li style="width:120px;">
                                                            @Html.ActionLink(@item.Numero, "Visualizar", new { id = item.ID }, new { @class = "mws-ic-16 ic-view" })
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                @if (processamento != null)
                                                {<text>@processamento.Administrador.Nome em @processamento.DataCriacao.ToString("dd/MM/yyyy HH:mm")</text>}
                                            else
                                            {<text>Não processado</text>}
                                            </td>
                                            <td width="50px;">
                                                @item.ProdutoTamanho.Produto.Nome
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
            <div class="mws-form-row">
                <h2>Empresa Solicitante</h2>
            </div>
            <div class="mws-form-row">
                <label>Empresa</label>
                <div class="mws-form-item small">
                    @Html.DropDownList("EmpresaID", new SelectList(empresas, "ID", "NomeCompleto", ViewBag.EmpresaID), "-- selecione --", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Colaborador</label>
                <div class="mws-form-item small">
                    <select name="ColaboradorID" id="ColaboradorID" class="mws-textinput">
                        <option>-- selecione --</option>
                    </select>
                    <input type="button" value="Novo Colaborador" class="mws-button green small" id="adiciona_colaborador" style="@(ViewBag.NovoColaborador ? "" : "display:none;")" />
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <h2>Pedido</h2>
            </div>
            <div class="mws-form-row">
                <label>Produto</label>
                <div class="mws-form-item small">
                    <select name="EmpresaProdutoTamanhoID" id="EmpresaProdutoTamanhoID" class="mws-textinput">
                        <option>-- selecione --</option>
                    </select>
                </div>
            </div>
            <div id="QtdBox" class="mws-form-row" style="display: none;">
                <label>Qtd</label>
                <div class="mws-form-item small">
                    <input type="text" value="1" name="QTD" id="QTD" class="mws-textinput OnlyNumber">
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ordem De Compra</label>
                <div class="mws-form-item small">
                    <input type="text" name="OrdemDeCompra" id="OrdemDeCompra" class="mws-textinput">
                </div>
            </div>
            <div class="mws-form-row">
                <label>Texto Padrão NF</label>
                <div class="mws-form-item small">
                    @Html.TextArea("TextoPadraoNF", new { @class = "mws-textinput", maxlength = "300" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Descrição do produto personalizado</label>
                <div class="mws-form-item small">
                    @Html.TextArea("DescricaoProduto", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row ProdutosNFE" style="display: none;">
                <label>Produtos - NFe</label>
                <div class="InicioDiv" id="ProdutoAddFaturamento">
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px">
                        <label>Cod. Produto</label>
                        <div class="mws-form-item">
                            <input type="hidden" id="CodigoProdutoFaturamento" />
                            <input type="hidden" id="ValoresProdutoFaturamento" name="ValoresProdutoFaturamento" />
                            <input type="text" name="ProdutoCodigoNCM" id="ProdutoCodigoNCM" class="mws-textinput" maxlength="200">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                        <label>Produto</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                        <label>NCM</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>QTD</label>
                        <div class="mws-form-item">
                            <input type="text" name="ProdutoQTD" id="ProdutoQTD" class="mws-textinput OnlyNumber" value="0" maxlength="4">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>Valor Uni.</label>
                        <div class="mws-form-item">
                            <input type="text" name="ProdutoValorUni" id="ProdutoValorUni" value="0,00" class="mws-textinput money">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                        <label>Valor Total</label>
                        <div class="mws-form-item">
                            R$ 0,00
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px">
                        <label></label>
                        <div class="mws-form-item" style="padding-top: 10px;">
                            <input type="button" id="AddProdutoNfe" class="mws-button green big" value="Adicionar">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="LstProedutosNFe">
                    <table class="mws-table">
                        <thead>
                            <tr>
                                <th>
                                    Cod
                                </th>
                                <th>
                                    Produto
                                </th>
                                <th>
                                    NCM
                                </th>
                                <th>
                                    QTD
                                </th>
                                <th>
                                    Valor Uni
                                </th>
                                <th>
                                    Valor Total
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="mws-form-row contatoHomenageado" style="display: none;">
                <label>Telefone Homenageado <i>(Necessário para evitar problemas na hora da entrega)</i></label>
                <div class="mws-form-item small">
                    <input type="text" name="TelefoneContatoHomenageado" id="TelefoneContatoHomenageado" class="mws-textinput valid" maxlength="200">
                </div>
            </div>
            <div class="mws-form-row">
                <label>Celular de Urgência</label>
                <div class="mws-form-item small">
                    <input type="text" name="TelefoneContato" id="TelefoneContato" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Origem Forma</label>
                <div class="mws-form-item small">
                    <select id="OrigemForma" name="OrigemForma" class="mws-textinput">
                        <option value="">-- selecione --</option>
                        <option value="EMAIL">E-mail</option>
                        <option value="TELEFONE">Telefone</option>
                    </select>
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <h2>Detalhes de Entrega</h2>
            </div>
            <div class="mws-form-row">
                <label>Pessoa Homenageada</label>
                <div class="mws-form-item small">
                    <input type="text" name="PessoaHomenageada" id="PessoaHomenageada" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Frase de Homenagem</label>
                <div class="mws-form-item small">
                    <select id="frases" name="frases">
                        <option value="">-- selecione uma sugestão --</option>
                        <optgroup label="COLEGAS DE TRABALHO"></optgroup>
                        <optgroup label="- Mais Usadas">
                            <option value="Sentimentos dos Amigos da (nome da empresa)">Sentimentos dos Amigos da (nome da empresa)</option>
                            <option value="Homenagem dos Amigos da (nome da empresa)">Homenagem dos Amigos da (nome da empresa)</option>
                            <option value="Condolências dos Amigos da (nome da empresa)">Condolências dos Amigos da (nome da empresa)</option>
                            <option value="Saudades dos Amigos da (nome da empresa)">Saudades dos Amigos da (nome da empresa)</option>
                        </optgroup>
                        <optgroup label="- Sofisticadas">
                            <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)</option>
                            <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">Sinceras condolências dos Diretores e Funcionários da (nome da empresa)</option>
                            <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)</option>
                            <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">Condolências dos Diretores e Colaboradores da (nome da empresa)</option>
                            <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)</option>
                        </optgroup>
                        <optgroup label="- Empresas">
                            <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>
                            <option value="Sentimentos aos familiares – (nome da empresa)">Sentimentos aos familiares – (nome da empresa)</option>
                            <option value="Condolências aos familiares – (nome da empresa)">Condolências aos familiares – (nome da empresa)</option>
                            <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos</option>
                        </optgroup>
                        <optgroup label="FAMILIARES">
                            <option value="Uma homenagem de toda a Família (sobrenome da família)">Uma homenagem de toda a Família (sobrenome da família)</option>
                            <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)</option>
                            <option value="Sinceras condolências de toda a Família (sobrenome da família)">Sinceras condolências de toda a Família (sobrenome da família)</option>
                            <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">Condolências aos amigos e parentes – Família (sobrenome da família)</option>
                            <option value="Com carinho, uma homenagem da Família (sobrenome)">Com carinho, uma homenagem da Família (sobrenome)</option>
                            <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família   (sobrenome)</option>
                            <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">Saudades de todos os seus familiares – Família (sobrenome da família)</option>
                        </optgroup>
                        <optgroup label="AMIGOS PRÓXIMOS">
                            <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)</option>
                            <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">Saudades eternas de uma pessoa especial – Amigos da (referência)</option>
                            <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">"Obrigado por fazer parte de nossas vidas – Amigos da (referência)</option>
                            <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">Você sempre estará presente em nossos corações – Amigos da (referência)</option>
                            <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)</option>
                            <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)</option>
                            <option value="Descanse em paz e vá com Deus – Amigos da (referência)">Descanse em paz e vá com Deus – Amigos da (referência)</option>
                            <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">Foi uma honra contar com a sua amizade – Amigos da (referência)</option>
                            <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">Ao melhor amigo do mundo – (nome da pessoa que está enviando)</option>
                        </optgroup>
                    </select>
                    <br />
                    <br />
                    <textarea name="Frase" id="Frase" class="mws-textinput"></textarea>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Nome do Funcionário</label>
                <div class="mws-form-item small">
                    <input type="text" name="NomeFuncionario" id="NomeFuncionario" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Parentesco</label>
                <div class="mws-form-item small">
                    <input type="text" name="Parentesco" id="Parentesco" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Departamento</label>
                <div class="mws-form-item small">
                    <input type="text" name="Departamento" id="Departamento" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Estado de Entrega</label>
                <div class="mws-form-item small">
                    @*@Html.DropDownList("EstadoEntregaID", new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })*@
                    @Html.DropDownList("EstadoEntregaID", (SelectList)ViewBag.Estados, "-- selecione -- ", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Cidade de Entrega</label>
                <div class="mws-form-item small">
                    <select name="CidadeEntregaID" id="CidadeEntregaID" class="mws-textinput">
                        <option>-- selecione --</option>
                    </select>
                    <span id="load_cidade_entrega" class="carregando-branco">Buscando cidades...</span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Logradouro Entrega</label>
                <div class="mws-form-item small">
                    <input type="text" name="LogradouroEntrega" id="LogradouroEntrega" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>CEP Entrega</label>
                <div class="mws-form-item small">
                    <input type="text" name="CepEntrega" id="CepEntrega" class="mws-textinput OnlyNumber" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>NR Entrega</label>
                <div class="mws-form-item small">
                    <input type="text" name="NrEntrega" id="NrEntrega" class="mws-textinput OnlyNumber" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Bairro Entrega</label>
                <div class="mws-form-item small">
                    <input type="text" name="BairroEntrega" id="BairroEntrega" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Local de Entrega</label>
                <div class="mws-form-item small">
                    <input type="hidden" name="LocalEntrega" id="LocalEntrega" />
                    <select name="LocalID" id="LocalID" class="mws-textinput">
                        <option>-- selecione --</option>
                    </select>
                    <span id="load_local_entrega" class="carregando-branco">Buscando locais...</span>
                </div>
                <i id="TelLEnt" style="display: none;">
                </i>
            </div>
            <div class="mws-form-row">
                <label>Complemento do Local de Entrega</label>
                <div class="mws-form-item small">
                    <input type="text" name="ComplementoLocalEntrega" id="ComplementoLocalEntrega" class="mws-textinput" maxlength="200" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Data</label>
                <div class="mws-form-item small">
                    <input type="text" name="DataEntrega" id="Data" class="mws-textinput mws-datepicker" maxlength="20" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Hora de Entrega</label>
                <div class="mws-form-item small">
                    <select id="horario" name="horario">
                        <option value=""> -- Escolha um Horário -- </option>
                        <option value="entre as 8:00 e as 11:00">entre as 8:00 e as 11:00</option>
                        <option value="entre as 11:00 e as 15:00">entre as 11:00 e as 15:00</option>
                        <option value="entre as 15:00 e as 18:00">entre as 15:00 e as 18:00</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div class="mws-form-item small">
                    <input type="text" style="display: none" name="hora" id="hora" class="mws-textinput" maxlength="20" placeholder="hora da entrega" />
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <h2>Desconto</h2>
            </div>
            <div class="mws-form-row">
                <label>Cupom</label>
                <div class="mws-form-item small">
                    <input type="text" name="Cupom" id="Cupom" class="mws-textinput" maxlength="200" value="" />
                    <span id="labelcupom"></span>
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <h2>Pagamento</h2>
            </div>

            <div class="mws-form-row">
                <label>Subtotal</label>
                <div class="mws-form-item small">
                    <span id="Valor"></span>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Desconto</label>
                <div class="mws-form-item small">
                    <input type="text" name="ValorDesconto" id="ValorDesconto" class="mws-textinput" maxlength="200" value="0" />
                    <i>Se este valor for alterado, os descontos e cupons serão ignorados. Coloque o valor final a ser pago.</i>
                </div>
            </div>
            <div class="mws-form-row">
                <label>Tipo de Frete</label>
                <div class="mws-form-item small">
                    @Html.DropDownListForEnum("TipoFreteID", _TodosTiposDeFrete, 4, new { style = "width:300px;" })
                </div>
            </div>
            <div class="mws-form-row DivTransportadora" style="display: none;">
                <label>Transportador</label>
                <div class="mws-form-item small">
                    @Html.DropDownList("TransportadorID", (SelectList)ViewBag.Transportadores, "-- selecione -- ", new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row DivFrete" style="display: none;">
                <label>Frete</label>
                <div class="mws-form-item small">
                    <input type="text" name="ValorFrete" id="ValorFrete" class="mws-textinput money" maxlength="200" value="0" />
                </div>
            </div>
            <div class="mws-form-row">
                <label>Total</label>
                <div class="mws-form-item small">
                    <input type="text" name="ValorTotal" id="ValorTotal" class="mws-textinput" maxlength="200" value="0" />
                </div>
            </div>
            <hr />
            <div class="mws-form-row">
                <h2>Observações</h2>
            </div>
            <div class="mws-form-row">
                <label>Notas</label>
                <div class="mws-form-item small">
                    @Html.TextArea("ObservacaoNota", new { @class = "mws-textinput", maxlength = "300" })
                </div>
            </div>

            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>

        }
    </div>
</div>

@*Modal Cadastro de Novo Colaborador*@
<div id="div_adiciona_colaborador" title="Adicione o novo colaborador" style="display:none;">
    <p>
        <div style="float:left;padding:5px;margin:5px;">
            <div class="mws-form-item small">
                Nome:<br />
                <input type="text" name="nome_colaborador" id="nome_colaborador" class="mws-textinput" maxlength="200" />
            </div>
            <br />
            <div class="mws-form-item small">
                E-mail:<br />
                <input type="text" name="email_colaborador" id="email_colaborador" class="mws-textinput" maxlength="200" />
            </div>
        </div>
        <div style="float:left;padding:5px;margin:5px;">
            <div class="mws-form-item small">
                Login:<br />
                <input type="text" name="login_colaborador" id="login_colaborador" class="mws-textinput" maxlength="200" />
            </div>
            <br />
            <div class="mws-form-item small">
                Telefone:<br />
                <input type="tel" name="telefone_colaborador" id="telefone_colaborador" class="mws-textinput" maxlength="11" />
            </div>
        </div>
        <div style="float:left;padding:5px;margin:5px;">
            <div class="mws-form-item small">
                Departamento:<br />
                <input type="text" name="departamento_colaborador" id="departamento_colaborador" class="mws-textinput" maxlength="200" />
            </div>
        </div>
    </p>
</div>
@section Scripts{

    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>

    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script type="text/javascript">

        function CalularProdutosFaturamentoEnvio() {
            var StrFinal = "";
            $("#LstProedutosNFe tbody tr").each(function () {
                var CodProdutoFaturamento = $(this).find("td:eq(0)").attr("rel");
                var QTD = $(this).find("td:eq(3)").html();
                var ValorUni = $(this).find("td:eq(4)").html();

                StrFinal += CodProdutoFaturamento + "," + QTD + "," + ValorUni.replace(",", ".") + "|";
            });
            StrFinal = StrFinal.substring(0, StrFinal.length - 1);

            $("#ValoresProdutoFaturamento").val(StrFinal);
        }

        function CalcularValorProdutosNFE() {
            var ValorFinal = 0;
            $("#LstProedutosNFe tbody tr").each(function () {
                ValorFinal += parseFloat($(this).find("td:eq(5)").html());
            });
            return ValorFinal;
        }

        function CalularProdutosFaturamento() {
            var QTD = parseInt("0");
            if ($("#ProdutoQTD").val() != "") {
                QTD = parseFloat($("#ProdutoQTD").val());
            }

            var ValorUni = parseFloat("0");
            if ($("#ProdutoValorUni").val() != "") {
                ValorUni = parseFloat($("#ProdutoValorUni").val().replace(",", "."));
            }

            var Total = QTD * ValorUni;

            if (Total > 0) {
                var TotalSTR = Total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                $("#ProdutoAddFaturamento .mws-form-row:eq(5) .mws-form-item").html("R$ " + TotalSTR);
            }
            else {
                $("#ProdutoAddFaturamento .mws-form-row:eq(5) .mws-form-item").html("R$ 0,00");
            }
        }

        function makeid() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        $(document).ready(function () {

            $("#TipoFreteID").change(function () {
                if ($(this).val() != "4" && $(this).val() != "" && $(this).val() != undefined) {
                    $(".DivFrete").show();
                    $(".DivTransportadora").show();
                }
                else {
                    $(".DivFrete input").val('0');
                    $(".DivFrete").hide();
                    $(".DivTransportadora").hide();
                    $("#TransportadorID").val($("#TransportadorID option:first").val());
                }
            });

            $("#AddProdutoNfe").click(function () {
                var NCM = $("#ProdutoAddFaturamento .mws-form-row:eq(2) .mws-form-item").html().trim();
                var QTD = $("#ProdutoQTD").val();
                var ValorTotal = $("#ProdutoAddFaturamento .mws-form-row:eq(5) .mws-form-item").html().trim().replace("R$ ", "").replace(",", "");
                ValorTotal = parseFloat(ValorTotal);

                var CodigoProdutoFaturamento = $("#CodigoProdutoFaturamento").val();
                if (NCM != "" && QTD != "" && CodigoProdutoFaturamento != "" && ValorTotal > 0) {

                    var CodigoProduto = $("#ProdutoCodigoNCM").val().split('-')[0].trim();
                    var Prduto = $("#ProdutoCodigoNCM").val().split('-')[1].trim();
                    var ValorUnitario = $("#ProdutoValorUni").val();
                    var CodigoProdutoFaturamento = $("#CodigoProdutoFaturamento").val();

                    var IDGenerico = makeid();

                    $("#LstProedutosNFe table tbody").append("<tr><td rel='" + CodigoProdutoFaturamento + "'>" + CodigoProduto + "</td><td>" + Prduto + "</td><td>" + NCM + "</td><td>" + QTD + "</td><td>" + ValorUnitario + "</td><td>" + ValorTotal + "</td><td><input type='button' class='mws-button red big removerProdutoFaturamento" + IDGenerico + "' value='Remover'></td></tr>");
                    var IdTriger = ".removerProdutoFaturamento" + IDGenerico;

                    $("#LstProedutosNFe").on("click", IdTriger, function () {
                        $(this).parent().parent().remove();

                        $("#ValorTotal").val(CalcularValorProdutosNFE().toFixed(2).toString().replace(".", ","));
                    });
                }
                else {
                    alert('Preencha todos os campos');
                };

                $("#ValorTotal").val(CalcularValorProdutosNFE().toFixed(2).toString().replace(".", ","));

            });

            $('.OnlyNumber').ForceNumericOnly();
            $(".money").maskMoney()

            $("#ProdutoQTD").keyup(function () {
                CalularProdutosFaturamento();
            });
            $("#ProdutoValorUni").keyup(function () {
                CalularProdutosFaturamento();
            });

            $("#ProdutoCodigoNCM").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetProdutosFaturamentoByNCMeNome",
                        getValue: 'Nome',
                        dataType: "json",
                        data: {
                            codigo: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.NomeDisplay,
                                    value: item.ProdutoID,
                                    NCM: item.NCM,
                                    NomeProduto: item.NomeProduto
                                };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    var NomeDisplay = ui.item.label;
                    var ID = ui.item.value;
                    var NomeProduto = ui.item.NomeProduto;
                    var NCM = ui.item.NCM;

                    $("#CodigoProdutoFaturamento").val(ID);
                    $("#ProdutoAddFaturamento .mws-form-row:eq(1) .mws-form-item").html(NomeProduto);
                    $("#ProdutoAddFaturamento .mws-form-row:eq(2) .mws-form-item").html(NCM);
                    $("#ProdutoCodigoNCM").val(NomeDisplay);

                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            $('#pedidosempresa').addClass('active');
            $('#i_pedidos_empresa_novo').addClass('active');

            function CalculaCoroa() {
                if ($("#EmpresaProdutoTamanhoID").val() == "198") {
                    var frete = parseFloat($("#ValorFrete").val().replace(',', '.'));
                    var desconto = parseFloat($("#ValorDesconto").val().replace(',', '.'));

                    var ValorQtd = 0;
                    $("#LstProedutosNFe tbody tr").each(function () {
                        ValorQtd += parseFloat($(this).find("td:eq(5)").html());
                    });

                    var ValorTotal = (ValorQtd + frete) - desconto;

                    $("#ValorTotal").val(ValorTotal.toFixed(2).replace('.', ','));
                }
                else {
                    var valor = parseFloat($("#EmpresaProdutoTamanhoID").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));

                    if (valor == 0.01) {
                        valor = 0.00;
                    }

                    var desconto = parseFloat($("#ValorDesconto").val().replace(',', '.'));
                    var frete = parseFloat($("#ValorFrete").val().replace(',', '.'));
                    var QTD = 1;
                    if ($("#QTD").val() != "") {
                        QTD = parseInt($("#QTD").val());
                    }

                    if (QTD == 0) {
                        QTD = 1;
                    }

                    if (desconto > (valor * QTD)) {
                        alert('O desconto não pode ser maior que o valor do produto.');
                        $("#ValorDesconto").focus();
                    }
                    else {
                        $("#Valor").html((valor).toFixed(2).replace('.', ','));
                        var ValorTotal = (((valor * QTD) - desconto) + frete).toFixed(2).replace('.', ',');

                        $("#ValorTotal").val(ValorTotal);
                    }
                }
            }

            var _nmCidadeEntregaSelecionada = '';
            var _idCidadeEntregaSelecionada = '';
            var _nmLocalEntregaSelecionado = '';
            var _idLocalEntregaSelecionado = '';

            @if(ViewBag.EmpresaID > 0)
            {
                           <text>
            var t = setTimeout(function () {
                $("#EmpresaID").change();
            }, 1000);
            </text>
            }

            //$("#LocalEntrega").blur(function () {
            //    if ($(this).val() == "") {
            //        $("#LocalID").val("");
            //    }
            //    else {
            //        if ($("#LocalEntrega").val() != "LOCAL NÃO CADASTRADO") {
            //            $.ajax({
            //                url: "/Home/GetLocalExiste",
            //                dataType: "json",
            //                data: { local: $("#LocalEntrega").val(), cidadeID: $("#CidadeEntregaID").val(), estadoID: $("#EstadoEntregaID").val() },
            //                success: function (data) {
            //                    if (data == "false") {
            //                        $("#LocalID").val("");
            //                    }
            //                    else {
            //                        $("#LocalID").val(data.split(",")[1]);
            //                    }
            //                }
            //            });
            //        }
            //    }
            //});

            //$("#LocalEntrega").autocomplete({
            //    source: function (request, response) {
            //        $.ajax({
            //            url: "/Home/GetLocalKeyPair",
            //            dataType: "json",
            //            data: { local: request.term, cidadeID: $("#CidadeEntregaID").val(), estadoID: $("#EstadoEntregaID").val() },
            //            success: function (data) {
            //                response($.map(data, function (item) {
            //                    return { label: item.Value, value: item.Value, Key: item.Key };
            //                }));
            //            }
            //        });
            //    },
            //    select: function (event, ui) {
            //        $("#LocalID").val(ui.item.Key);
            //    },
            //    minLength: 3,
            //    open: function () {
            //        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            //    },
            //    close: function () {
            //        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            //    }
            //});

            $("#CidadeEntregaID").change(function () {

                _nmCidadeEntregaSelecionada = $("#CidadeEntregaID option:selected").text().split("-")[0].trim();
                _idCidadeEntregaSelecionada = $("#CidadeEntregaID option:selected").attr('value');

                $("#LocalEntregaId").removeAttr("disabled");

                $.post('/Home/GetLocais/', { CidadeID: _idCidadeEntregaSelecionada },
                function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {

                            var resultText = data[i].Text;
                            var resultValue = data[i].Value;
                            $("#LocalID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                        }
                    }
                    // $("#LocalEntregaId option:first").remove();
                    $("#load_local_entrega").hide();
                    $("#LocalEntregaId").show();
                });
            });

            $("#LocalEntregaId").change(function () {

                _nmLocalEntregaSelecionado = $("#LocalEntregaId :selected").text().split("-")[0].trim();
                _idLocalEntregaSelecionado = $('#LocalEntregaId option:selected').attr('value');
                $.ajax(
                {
                    url: "/Home/GetLocalExiste",
                    dataType: "json",
                    data: {
                        local: _nmLocalEntregaSelecionado,
                        cidadeID: $("#CidadeEntregaID").val(),
                        estadoID: $("#EstadoEntregaID").val()
                    },
                    success: function (data) {
                        var _localId = data.split(",")[1];
                        var _localText = data.split(",")[2];
                        var _localTel = data.split(",")[3];

                        $("#LocalEntrega").val(_localText);
                        $("#TelLEnt").html("<br />Telefone do Local: " + _localTel);
                        $("#TelLEnt").show();
                    }
                });
            });

            $("#adiciona_colaborador").click(function () {

                $("#div_adiciona_colaborador").dialog({
                    resizable: false,
                    width: 450,
                    modal: true,
                    buttons: {
                        "Salvar": function () {
                            if (confirm('Você tem certeza que deseja adicionar esse novo colaborador? \nEsta ação não poderá ser revertida.')) {
                                $(".ui-button").attr("disabled", "disabled");
                                $.post('/PedidosEmpresa/AdicionaColaborador/', { empresaID: $("#EmpresaID").val(), nome: $("#nome_colaborador").val(), login: $("#login_colaborador").val(), email: $("#email_colaborador").val(), telefone: $("#telefone_colaborador").val(), departamento: $("#departamento_colaborador").val() }, function (data) {
                                    if (data == "OK") {
                                        $(".ui-button").removeAttr("disabled");

                                        $("#div_adiciona_colaborador").dialog("close");

                                        $("#ColaboradorID").get(0).options.length = 0;
                                        $("#ColaboradorID").get(0).options[0] = new Option("-- selecione --", "");
                                        $.post('/PedidosEmpresa/GetColaboradores/', { id: $("#EmpresaID").val() }, function (data) {
                                            if (data != undefined && data != "") {
                                                for (var i = 0; i < data.length; i++) {
                                                    $("#ColaboradorID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                                                }
                                            }
                                        });

                                        alert('Colaborador adicionado com sucesso! Selecione para efetuar o pedido');

                                    } else {
                                        alert(data);
                                        $(".ui-button").removeAttr("disabled");
                                    }
                                });
                            }
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            //Aplica a lógica na opção Outro
            $("#horario").change(function () {
                if ($(this).val() == "Outro") {
                    $("#hora").fadeIn("200");
                    $("#hora").mask({ mask: "##:##", allowPartials: false });
                }
                else {
                    $("#hora").fadeOut("200");
                    $("#hora").val("");
                }
            });

            $("#TelefoneContatoHomenageado").mask({
                mask: "(##) ########?#",
                allowPartials: !0,
                placeholder: " "
            });

            $("#ValorDesconto").blur(function () {
                CalculaCoroa();
            });

            $("#ValorFrete").blur(function () {
                CalculaCoroa();
            });

            $("#Cupom").blur(function () {
                if ($("#Cupom").val().length > 0) {
                    $.post('/PedidosEmpresa/ValidaCupom/', { empresaID: $("#EmpresaID").val(), codigo: $("#Cupom").val() }, function (data) {
                        if (data.retorno == "OK") {
                            $("#labelcupom").html(data.mensagem);
                            if (data.tipo == 1) {
                                var valor = parseFloat($("#EmpresaProdutoTamanhoID").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));
                                valor = valor * (data.valor / 100);
                                if (valor < 0)
                                    valor = 0;
                                $("#ValorDesconto").val((valor).toFixed(2).replace('.', ','));
                            } else {
                                $("#ValorDesconto").val((data.valor).replace('.', ','));
                            }
                            CalculaCoroa();
                            $("#ValorDesconto").attr('disabled', true);
                        } else if (data.retorno == "ERRO") {
                            alert(data.mensagem);
                        }
                    });
                } else {
                    $("#ValorDesconto").prop('disabled', false);
                    $("#ValorDesconto").val(0);
                    $("#labelcupom").html('');
                    CalculaCoroa();
                }
            });

            $("#EmpresaProdutoTamanhoID").change(function () {
                if ($("#EmpresaProdutoTamanhoID option:selected").attr("rel") != "CoroaFlor" && $("#EmpresaProdutoTamanhoID option:selected").attr("rel") != "Kitsbebe") {
                    $("#ValorDesconto").val("0,00");
                    $("#ValorDesconto").parent().parent().hide();
                    $(".ProdutosNFE").show();
                }
                else {
                    $("#ValorDesconto").parent().parent().show();
                    $(".ProdutosNFE").hide();
                    $("#ValoresProdutoFaturamento").val("");
                    $("#LstProedutosNFe tbody tr").remove();
                }


                if ($("#EmpresaProdutoTamanhoID option:selected").attr("rel") == "Kitsbebe") {
                    $(".contatoHomenageado").show();
                }
                else {
                    $(".contatoHomenageado").hide();
                }

                if ($("#Cupom").val().length > 0) {
                    $("#Cupom").blur();
                } else {
                    CalculaCoroa();
                }
            });

            $("#frases").change(function () {
                $("#Frase").val($("#frases option:selected").val());
            });

            $("#EmpresaProdutoTamanhoID").change(function () {
                var Qtd = $("#EmpresaProdutoTamanhoID").find(":selected").attr('data-qtd');
                if (Qtd == "true") {
                    $("#QtdBox").show();
                }
                else {
                    $("#QtdBox").hide();
                    $("#QTD").val("0");
                }
            });

            $("#QTD").blur(function () {
                CalculaCoroa();
            });

            $("#EmpresaID").change(function () {
                var id = $("#EmpresaID option:selected").val();

                $.post('/PedidosEmpresa/VerificaLiberaCadastro/', { id: id }, function (data) {
                    if (data == "OK") {
                        $('#adiciona_colaborador').show();
                    } else {
                        $('#adiciona_colaborador').hide();
                    }
                });
                $.post('/PedidosEmpresa/GetFrases/', { id: id }, function (data) {
                    if (data != undefined && data != "") {
                        $("#frases").get(0).options.length = 0;
                        $("#frases").children().remove("optgroup");
                        $("#frases").get(0).options[0] = new Option("-- selecione uma sugestão --", "");
                        for (var i = 0; i < data.length; i++) {
                            $("#frases").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                        }
                    } else {
                        $("#frases").html('<option value="">-- selecione uma sugestão --</option>                            <optgroup label="COLEGAS DE TRABALHO"></optgroup>                            <optgroup label="- Mais Usadas">                                                                                        <option value="Sentimentos dos Amigos da (nome da empresa)">Sentimentos dos Amigos da (nome da empresa)</option>                                <option value="Homenagem dos Amigos da (nome da empresa)">Homenagem dos Amigos da (nome da empresa)</option>                                <option value="Condolências dos Amigos da (nome da empresa)">Condolências dos Amigos da (nome da empresa)</option>                                <option value="Saudades dos Amigos da (nome da empresa)">Saudades dos Amigos da (nome da empresa)</option>                            </optgroup>                            <optgroup label="- Sofisticadas">                                <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)</option>                                <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">Sinceras condolências dos Diretores e Funcionários da (nome da empresa)</option>                                <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)</option>                                <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">Condolências dos Diretores e Colaboradores da (nome da empresa)</option>                                <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)</option>                            </optgroup>                            <optgroup label="- Empresas">                                <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>                                <option value="Sentimentos aos familiares – (nome da empresa)">Sentimentos aos familiares – (nome da empresa)</option>                                <option value="Condolências aos familiares – (nome da empresa)">Condolências aos familiares – (nome da empresa)</option>                                <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos</option>                            </optgroup>                            <optgroup label="FAMILIARES">                                <option value="Uma homenagem de toda a Família (sobrenome da família)">Uma homenagem de toda a Família (sobrenome da família)</option>                                <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)</option>                                <option value="Sinceras condolências de toda a Família (sobrenome da família)">Sinceras condolências de toda a Família (sobrenome da família)</option>                                <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">Condolências aos amigos e parentes – Família (sobrenome da família)</option>                                <option value="Com carinho, uma homenagem da Família (sobrenome)">Com carinho, uma homenagem da Família (sobrenome)</option>                                <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família   (sobrenome)</option>                                <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">Saudades de todos os seus familiares – Família (sobrenome da família)</option>                            </optgroup>                              <optgroup label="AMIGOS PRÓXIMOS">                                <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)</option>                                <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">Saudades eternas de uma pessoa especial – Amigos da (referência)</option>                                <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">"Obrigado por fazer parte de nossas vidas – Amigos da (referência)</option>                                <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">Você sempre estará presente em nossos corações – Amigos da (referência)</option>                                <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)</option>                                <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)</option>                                <option value="Descanse em paz e vá com Deus – Amigos da (referência)">Descanse em paz e vá com Deus – Amigos da (referência)</option>                                <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">Foi uma honra contar com a sua amizade – Amigos da (referência)</option>                                <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">Ao melhor amigo do mundo – (nome da pessoa que está enviando)</option>                            </optgroup>');
                    }
                });

                if ($("#ColaboradorID").length > 0) {
                    $("#ColaboradorID").get(0).options.length = 0;
                    $("#ColaboradorID").get(0).options[0] = new Option("-- selecione --", "");
                    $.post('/PedidosEmpresa/GetColaboradores/', { id: id }, function (data) {
                        if (data != undefined && data != "") {
                            for (var i = 0; i < data.length; i++) {
                                $("#ColaboradorID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            }
                        }
                    });
                }
                
            });

            $("#ColaboradorID").change(function () {

                $.post('/PedidosEmpresa/GetProdutos/',
                {
                    id: $("#EmpresaID option:selected").val(), 
                    colaboradorID: $("#ColaboradorID option:selected").val()
                },
                function (data) {
                    if (data != undefined && data != "" && data != "ERRO") {
                        $("#EmpresaProdutoTamanhoID").html(data);
                        CalculaCoroa();
                        if ($("#EmpresaProdutoTamanhoID").val() == "198") {
                            $(".ProdutosNFE").show();
                            $("#ValorDesconto").parent().parent().hide();
                        }
                    }
                });


                //if ($("#EmpresaProdutoTamanhoID").length > 0) {
                //    $("#EmpresaProdutoTamanhoID").get(0).options.length = 0;
                //    $("#EmpresaProdutoTamanhoID").get(0).options[0] = new Option("-- selecione --", "");

                //    $.post('/PedidosEmpresa/GetProdutos/',
                //        {
                //            id: id
                //        },
                //        function (data) {
                //            if (data != undefined && data != "" && data != "ERRO") {
                //                $("#EmpresaProdutoTamanhoID").html(data);
                //                CalculaCoroa();
                //                if ($("#EmpresaProdutoTamanhoID").val() == "198") {
                //                    $(".ProdutosNFE").show();
                //                    $("#ValorDesconto").parent().parent().hide();
                //                }
                //            }
                //        });
                //}

            });

            $(':input:not(textarea)').keydown(function (event) {
                var kc = event.witch || event.keyCode;
                if (kc == 13) {
                    event.preventDefault();
                    $(this).closest('form').attr('data-oldaction', function () {
                        return $(this).attr('action');
                    }).attr('action', 'javascript:;');

                    //alert('Para finalizar o pedido, clique em salvar!');

                    $(this).closest('form').attr('action', function () {
                        return $(this).attr('data-oldaction');
                    });
                    return false;
                }
            });

            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    if ($("#TelefoneContatoHomenageado").parent().parent().css('display') == "block" && $("#TelefoneContatoHomenageado").val() == "") {
                        alert('Preencha o telefone do Homenageado');
                        return false;
                    }
                    else {
                        CalularProdutosFaturamentoEnvio();
                        form.submit();
                    }
                },
                rules: {
                    EmpresaID: "required",
                    ColaboradorID: "required",
                    EmpresaProdutoTamanhoID: "required",
                    EstadoID: "required",
                    CidadeID: "required",
                    TipoID: "required",
                    Frase: "required",
                    OrigemForma: "required",
                    TelefoneContato: "required",
                    TelefoneContatoHomenageado: "required",
                    PessoaHomenageada: "required",
                    DataEntrega: "required",
                    EstadoEntregaID: "required",
                    CidadeEntregaID: "required"
                },
                messages: {
                    EmpresaID: "O campo empresa é obrigatório",
                    ColaboradorID: "O campo colaborador é obrigatório",
                    EmpresaProdutoTamanhoID: "O campo produto é obrigatório",
                    Frase: "O campo frase é obrigatório",
                    Parentesco: "O campo parentesco é obrigatório",
                    Departamento: "O campo departamento é obrigatório",
                    OrigemForma: "O campo origem forma é obrigatório",
                    TelefoneContato: "O campo telefone é obrigatório",
                    TelefoneContatoHomenageado: "O campo telefone é obrigatório",
                    NomeFuncionario: "O campo nome do funcionário é obrigatório",
                    PessoaHomenageada: "O campo pessoa homenageada é obrigatório",
                    DataEntrega: "O campo data de entrega é obrigatório",
                    EstadoEntregaID: "O campo estado de entrega é obrigatório",
                    CidadeEntregaID: "O campo cidade de entrega é obrigatório"
                }
            });

            $("#enviar").click(function () {

                _nmLocalEntregaSelecionado = $("#LocalEntregaId :selected").text().split("-")[0].trim();
                _idLocalEntregaSelecionado = $('#LocalEntregaId option:selected').attr('value');

                if (_idLocalEntregaSelecionado == "") {
                    //$("#LocalEntrega").val("NULL");
                    $("#LocalEntregaId :selected").text("LOCAL NÃO CADASTRADO");
                }

            });
        });
    </script>
}
    }
