﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tempo e Prazo de Entrega";
    ViewBag.Description = "Veja nosso tempo e prazo de entrega de coroa de flores, entregamos em todo o Brasil! Acesse o site ou ligue grátis 0800-777-1986";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
 

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Tempo e Prazo de Entrega</b></span></div>
</div>
</div>

<div id="TempoPrazo">
<div class="Div">

	<h1 class="TituloPagina">Tempo e prazo de entrega</h1>

	<div class="Selo"><img src="/content/imagens/selo-entrega.jpg" class="SeloImg" alt="Selo" /></div>

	<div class="Div1">
		<div class="Div1Texto2">

			<div	class="Div1Texto4">O site Coroas Para Velório sabe que suas entregas precisam ser rápidas para atender com qualidade o mercado de coroa de flores.<br /><br />

			Com o objetivo de trabalharmos com transparência com nossos clientes, nossa empresa decidiu padronizar os tempos e prazos de entrega. Entre em contato pelo televendas no número <b>0800-777-1986</b> e encomende sua Coroa de Flores.<br /><br /></div>

			<b>Prazo Médio de Entrega</b><br />
			<div class="PrazoEntrega"><div class="PrazoEntrega2">Capitais e Cidades Grandes</div><div class="PrazoEntrega3">1h00 a 1h30</div></div>
			<div class="PrazoEntrega"><div class="PrazoEntrega2">Cidades de Menor Porte</div><div class="PrazoEntrega3">1h00 a 2h00</div></div>

		</div>

		<div class="Div1Texto3">Nosso frete é gratuito para todo o Brasil!</div>
	</div>

	<div id="AindaTemDuvida">

		<div class="Div2Texto1">Ainda possui dúvidas?<br />Entre em contato conosco pelo <b>Chat</b> ou ligue para nossa <b>Central de Atendimento:</b> 0800-777-1986 <b>(24h)</b></div>

		<div class="Div2Texto2">Ou acesse nossa seção de <a href="/duvidas-frequentes" class="Div2Texto3"><b>Perguntas Frequentes</b></a>.<br />Esses prazos são nossos tempos médios de entrega, podendo variar de acordo com a demanda, velórios de grande porte, condições do clima e mesmo nossa proximidade em relação ao local de entrega.<br /><br />Nosso objetivo é atender todos os nossos clientes com a maior qualidade possível, e isso inclui o prazo de entrega de nossos produtos, que precisam chegar com agilidade e em excelente condições.<br /><br />Para realizar a sua homenagem, veja nossa relação de <a href="/coroa-de-flores" class="Div2Texto3"><b>Coroas de Flores</b></a>.</div>

		<div class="Div2Texto4">Procure aqui o cemitério, velório, hospital, crematório ou cidade que deseja enviar coroas de flores:</div>
        
		<div class="DivBusca">
           <form method="get" action="@Url.Action("buscar", "local")">
			<div class="DivBusca2"><input type="text" id="local-termo" name="termo" class="DivBuscaInput busca_local" value="Encontre velórios ou cemitérios" onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" /></div>
			<div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
            </form>
		</div>
	</div>
    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
    <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
    <div class="Separacao2"></div>
</div>
</div>
