﻿@model Domain.Entities.Transportador

@{
    ViewBag.Title = Model == null ? "Novo Transportador" : "Edição do produto " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var cidades = (IEnumerable<Domain.Entities.Cidade>)ViewBag.Cidades;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Transportador" : "Edição do Transportador " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Transportador", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)            
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { id = "Nome", name = "Nome", @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Razão Social</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.RazaoSocial, new { id = "RazaoSocial", name = "RazaoSocial", @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        <input type="radio" name="TipoID" value="2" @((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaJuridica ? "checked='checked'" : "" : "") /> PJ
                        <input type="radio" name="TipoID" value="1" @((Model != null) ? Model.TipoID == (int)Domain.Entities.Cliente.Tipos.PessoaFisica ? "checked='checked'" : "" : "checked='checked'") /> PF
                    </div>
                </div>
                <div class="mws-form-row">
                    <label id="lblDocumento">@((Model != null) ? Model.TipoID == (int)Domain.Entities.Transportador.Tipos.PessoaFisica ? "CPF" : "CNPJ" : "CPF")</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Documento, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Email</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { id = "Email", name = "Email", @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Telefone</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TelefoneContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Celular</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CelularContato, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>CEP</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.CEP, new { @class = "mws-textinput", maxlength = "200" })
                        <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Estado</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.EstadoID, new SelectList(estados, "ID", "Sigla"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Cidade</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.CidadeID, new SelectList(cidades, "ID", "Nome"), "-- selecione -- ", new { @class = "mws-textinput" })
                        <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Logradouro</label>
                    <div class="mws-form-item large">
                        @Html.TextBoxFor(model => model.Logradouro, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Número</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Numero, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Complemento</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Complemento, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Bairro</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Bairro, new { @class = "mws-textinput" })
                    </div>
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#transportador').addClass('active');
        $('#i_transportador_novo').addClass('active');

        $("input[name='TipoID']").click(function () {
            if ($("input[name='TipoID']:checked").val() == "2") {
                $("#divEmpresa").show();
                $("#lblDocumento").html('CNPJ');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
            } else {
                $("#divEmpresa").hide();
                $("#lblDocumento").html('CPF');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
            }
        });

        var pj = function () {
            if ($("input[name='TipoID']:checked").val() == "2")
                return true;
            else
                return false;
        };

        var pf = function () {
            if ($("input[name='TipoID']:checked").val() == "1")
                return true;
            else
                return false;
        };

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                RazaoSocial: "required",
                InscricaoEstadual: { required: pj },
                EstadoID: "required",
                CidadeID: "required",
                TipoID: "required",
                Logradouro: "required",
                Numero: "required",                
                Email: {
                    required: false,
                    email: true
                },
                Documento: {
                    required: true
                }                
            },
            messages: {
                Nome: "O campo nome é obrigatório",
                RazaoSocial: "O campo razão social é obrigatório",
                InscricaoEstadual: "O campo IE é obrigatório",
                EstadoID: "O campo estado é obrigatório",
                CidadeID: "O campo estado é obrigatório",
                TipoID: "O campo tipo é obrigatório",
                Email: {
                    required: "O campo e-mail é obrigatório",
                    email: "Digite um e-mail válido"
                },
                Documento: {
                    required: "O campo é obrigatório",
                    cpf: "Digite um CPF válido",
                    cnpj: "Digite um CNPJ válido"
                },
                Logradouro: "O campo é obrigatório",
                Numero: "O campo é obrigatório"                
            }
        });
    });
</script>
}