﻿@model IEnumerable<Domain.Entities.Transportador>

@{
    ViewBag.Title = "Transportadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var origens = (IEnumerable<Domain.Entities.OrigemSite>)ViewBag.OrigemSite;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#transportador').addClass('active');
            $('#i_transportador').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Transportadores
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Transportador")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Título:</td>
                <td><input type="text" name="titulo" value="@Request.QueryString["titulo"]" autocomplete="off" style="width:150px;"/></td>
                <td style="width:20px;"></td>
            </tr>
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Nome</th>
                    <th style="text-align:center;width:150px;">Razão Social</th>
                    <th style="text-align:center;width:150px;">Email</th>
                    <th style="text-align:center;width:150px;">Local</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.RazaoSocial)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cidade.NomeCompleto)</td>
                    <td class="center" style="width:284px;">
                        <div class="mws-panel-toolbar top clearfix">
                            <ul>
                                <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
                                <li>
                                    @if (item.PedidoEmpresas.Count > 0)
                                    {
                                        <span style="font-size:10px;vertical-align:10px;" onclick="javascript:alert('Este item não pode ser excluído pois possui pedidos relacionados.');">Possui pedidos</span>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })
                                    }
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&titulo=@Request.QueryString["titulo"]&origem=@Request.QueryString["origem"]&tipo=@Request.QueryString["tipo"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>
