﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Política de privacidade";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
} 

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Política de Privacidade</b></span>    </div>
</div>
</div>

<div id="TermosCondicoesComerciais">
<div class="Div">

	<h1 class="TituloPagina">Política de privacidade</h1>

	<div class="Div1">
		<div class="Div1Texto1">

			A fim de demonstrar transparência aos seus clientes, o Laços Flores apresenta sua Política de Privacidade, cujo objetivo é responder às dúvidas sobre os dados que são coletados pelo nosso site (www.lacosflores.com.br).<br /><br />
            1)	A sua senha é importante para manter seus dados em sigilo absoluto. Desse modo, é imprescindível que o cliente não a forneça para ninguém, evitando possíveis transtornos.<br /><br />
            2)	Nenhum funcionário do Laços Flores tem acesso para ler ou mudar as senhas dos clientes cadastrados.<br /><br />
            3)	Dados como nome, telefone, e-mail, etc não serão divulgados para terceiros em hipótese alguma, com a finalidade de manter a privacidade do cliente.<br /><br />
            4)	Com a finalidade de oferecer maior segurança ao cliente, o número do cartão de crédito <b>NÃO</b> fica armazenado em nossos servidores.<br /><br />
            5)	As transações com cartões de crédito são feitas diretamente com os servidores das administradoras VISA, Mastercard, American Express etc, cuja finalidade é garantir total segurança ao cliente.<br /><br />
            <br /><br />

            <h2 class="TituloPagina">Mais sobre Política de Privacidade</h2><br /><br />
            Disponibilizamos serviços de Atendimento Online. Por meio dele o cliente pode contar com auxílio rápido para que suas dúvidas sejam tiradas. Ou, se preferir, poderemos entrar em contato para facilitar sua compra ou esclarecer qualquer dúvida.<br /><br />
            <b>E-mail:</b> contato@lacosflores.com.br<br />
            <b>Telefone:</b> (11) 4097-9400 <br />
            <br /><br /><br /><br />
			Nossos colaboradores lhe auxiliarão em qualquer horário e dia da semana, pois funcionamos 24 horas por dia.<br />
			Equipe Laços Flores 

		</div>
	</div> 

</div>

</div>