﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    Domain.Entities.Local local = null;
    if (Session["local"] != null){
        local = (Domain.Entities.Local)Session["local"];
    }
    if (local != null)
    {
        ViewBag.Titulo = "Coroas de flores para " + local.Titulo;
        ViewBag.Title = "Coroas de flores para " + local.Titulo;
        ViewBag.Descricao = local.DescricaoRodape;
        ViewBag.Description = local.TagDescription;
        ViewBag.Keywords = local.TagKeywords;
        ViewBag.Televendas = local.Televendas;
    }
}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico")" />
        <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "" : ViewBag.Title + " - ") @configuracoes.Titulo</title>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="@(String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description)"/>
        <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />
        <link type="text/css" href="@Url.Content("~/Content/css/geral.css")" rel="stylesheet" />
         
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21015416-2']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_set', 'currencyCode', 'BRL']);

            @Html.Raw(ViewBag.TrackTrans)

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>        
        
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
		@if(ViewBag.Retargeting == null)
		{
        <text>
		var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
		</text>
		}else{
        @Html.Raw(ViewBag.Retargeting)
		}
        /* ]]> */
        </script>

        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>

        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>   

         
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/datepicker-ptbr.js")"></script>
        <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/funcoes.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/geral.js")"></script> 
        @RenderSection("Script", false)
        <link rel="Stylesheet" type="text/css" href="/Content/fonts/qlassik/stylesheet.css" />
        @RenderSection("Head", false)
        <link type="text/css" href="@Url.Content("~/Content/css/compra.css")" rel="stylesheet" />
        <link type="text/css" href="//code.jquery.com/ui/1.11.1/themes/humanity/jquery-ui.css" rel="stylesheet" />
    </head>

    <body>
        <div class="overlay" id="painel">
        <div>
            <b>Processando pagamento</b>
            <br /><br />
            <img src="/content/img/processando.gif" />
            <br /><br />
            Por favor, aguarde! Não feche seu browser até o retorno de nosso sistema.
        </div>
        </div>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-2SWW6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({ 'gtm.start':
        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
        <!-- End Google Tag Manager -->

        <!--[if lt IE 7]>
        <script>alert('Você está utilizando um navegador desatualizado.\nEste site não foi desenvolvido para ser visualizado corretamente no seu navegador.\n\nPor favor, entre em contato pelo telefone 0800-777-1986 e faça seu pedido.');</script>
        <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
        <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
        <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
            <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
            <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
            <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Você está usando um navegador desatualizado</div>
            <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
            </div>
            <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
            <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/pt-br/internet-explorer/ie-11-worldwide-languages' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
            <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
        </div>
        </div>
        <![endif]-->
        <header>
            <div id="Topo">
                <div class="conteudo">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="@Url.Content("~/Content/img/logopequeno.png")" alt="Coroas para Velório"  title="Coroas para Velório"/>
                    </a>
                    <div class="informacoes">
                        <div class="atendimento">
                            <span class="televendas">
                                Televendas 24h:<br />
                                <span class="telefone">@Html.Raw(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</span>
                                <br /><br />
                                <a href="@Url.Action("index", "cidades-e-regioes")" class="mudar_local" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'veja-nossas-cidades']);">veja nossas cidades de entrega</a>
                            </span>
                            <div class="nav-institucional" style="float: right;">
                                @*<div class="bt">
                                       <a name="livezilla_chat_button" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'chat-online']);">Chat Online</a>
                                       <div id="livezilla_tracking" style="display:none"></div>
                                       <script type="text/javascript">
                                        /* <![CDATA[ */
                                        var script = document.createElement("script");script.async=true;script.type="text/javascript";var src = "http://chat.coroasparavelorio.com.br/server.php?acid=0cfb9&request=track&output=jcrpt&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);
                                        /* ]]> */
                                        </script>
                                </div>
                                <div class="bt" style="margin: 5px 0 0;">|</div>*@
                                <div class="bt">
                                    <a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'contato']);">
                                        Contato
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="painel-acessos">
                            @Html.Action("Menu", "Cliente")
                            @Html.Action("Resumo", "Carrinho")
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul>
                    <li id="page-coroas"><a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-de-flores']);">Coroas de Flores</a></li>
                    <li id="page-comprar"><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'como-comprar']);">Como Comprar</a></li>
                    <li id="page-vel-cemit"><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                    @*<li id="page-coroas-midia"><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-para-velorio-na-midia']);">CPV na Mídia</a></li>*@
                    <li id="page-frases"><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">Frases de Homenagem</a></li>
                    <li id="page-promocao" class="ativo"><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
                </ul>
            </nav>
        </header>

        <div id="Conteudo">
            
            @RenderBody()

            <div class="hr-dk"><hr /></div>

            
            <div id="Selos" class="centro">
                <div id="armored_website" style="float: left; margin-left: 300px; margin-top: 10px">
                    <param id="aw_preload" value="true" />
                </div>
                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>

                <img src="../../Content/img/selos.jpg" alt="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil" title="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil" border="0" />
            </div>
        </div>

        <footer>
            <div id="Descritivo">
                <div class="conteudo">@Html.Raw(String.IsNullOrEmpty(ViewBag.Descricao) ? configuracoes.Descricao : ViewBag.Descricao)</div>
            </div>

            <div id="DestaquesRodape" class="qlassik">
                <div class="conteudo">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="titulo">@(String.IsNullOrEmpty(ViewBag.Titulo) ? configuracoes.Titulo : ViewBag.Titulo)</td>
                            <td class="sac">SAC: @(String.IsNullOrEmpty(ViewBag.SAC) ? configuracoes.SAC : ViewBag.SAC)</td>
                        </tr>
                    </table>
                    @*<a name="livezilla_chat_button" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'chat-online']);"><img src="/Content/img/atendimento-online-rodape.png?" alt="Atendimento Online" title="Atendimento Online" /></a>*@
                    <a href="@Url.Action("Index", "contato")"><img src="@Url.Content("~/Content/img/atendimento-24h-rodape.png")" alt="Atendimento 24h" title="Atendimento 24h" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);"/></a>
                </div>
            </div>

            <div id="Final">
                <div class="conteudo">
                    <div id="Copyright">
                        Copyright © @DateTime.Now.Year 
                        <br />
                        TODOS OS DIREITOS RESERVADOS
                        <br />
                        <u>www.coroasparavelorio.com.br</u>
                    </div>
                    <div id="Avisos">
                        <span class="branco">
                            <u>www.coroasparavelorio.com.br</u>
                            <br />
                            <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a>
                        </span>
						<br />
						Imagens meramente ilustrativas, em caso de ausência de alguma flor em nossos estoques, faremos a substituição por uma equivalente ou superior, sempre com o objetivo de manter o padrão e a qualidade da coroa de flores adquirida.
                        <br />
                        As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.
                        <br />
                        É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site.
                    </div>
                    <div id="Producao">
                        <a href="http://www.utime.com.br" target="_blank">
                            Produzido por:<br />
                            <img src="@Url.Content("~/Content/img/utime.png")" alt="uTime" title="uTime" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <div id="ResultadoLocais" style="display:none;"></div>
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
        _.push(o)
        }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
                $.src = '//v2.zopim.com/?1qMf6YaR1Yei0fn0YRutk6y66FXcTQcF'; z.t = +new Date; $.
        type = 'text/javascript'; e.parentNode.insertBefore($, e)
            })(document, 'script');
        </script>
        <!--End of Zopim Live Chat Script-->
        <!--VEINTERACTIVE JS-->
        <script src="//configusa.veinteractive.com/tags/DDF7E5CC/DE1F/4CFB/9B0E/785966056CEB/tag.js" type="text/javascript" async></script>
    </body>
</html> 