﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

}
<!DOCTYPE HTML>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico")" />
    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : ViewBag.Title)
    </title>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="@(String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description)"/>
    <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />
    <link href="http://fonts.googleapis.com/css?family=Yanone Kaffeesatz" rel="stylesheet"
        type="text/css">
    <link type="text/css" href="@Url.Content("~/Content/css/novo/geral.css")" rel="stylesheet" />
    <link type="text/css" media="screen and (min-width: 1024px)" href="@Url.Content("~/Content/css/novo/style_1024.css")" rel="stylesheet" />
    <link type="text/css" media="screen and (min-width: 800px) and (max-width:1024px)" href="@Url.Content("~/Content/css/novo/style_800.css")" rel="stylesheet" />
    <link type="text/css" media="screen and (min-width: 460px) and (max-width:800px)" href="@Url.Content("~/Content/css/novo/style_460.css")" rel="stylesheet" />
    <link type="text/css" media="screen and (min-width: 1px) and (max-width:460px)" href="@Url.Content("~/Content/css/novo/style_0.css")" rel="stylesheet" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <div style="display: none;">
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
    </div>
    <noscript>
        <div style="display: none;">
            <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-2SWW6" height="0" width="0"
            style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start':
        new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
    <!-- End Google Tag Manager -->
    <!--[if lt IE 7]>
        <script>alert('Você está utilizando um navegador desatualizado.\nEste site não foi desenvolvido para ser visualizado corretamente no seu navegador.\n\nPor favor, entre em contato pelo telefone 0800-777-1986 e faça seu pedido.');</script>
        <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
        <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
        <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
            <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
            <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
            <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Você está usando um navegador desatualizado</div>
            <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
            </div>
            <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
            <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/pt-br/internet-explorer/ie-11-worldwide-languages' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
            <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
        </div>
        </div>
        <![endif]-->
    <div id="fb-root">
    </div>
    <script type="text/javascript">
        window.fbAsyncInit = function () {
            FB.init({
                appId: '405767179533971', // App ID
                channelUrl: '//www.coroasparavelorio.com.br/channel.php', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            FB.Event.subscribe('edge.create', function (href, widget) {
                pageTracker._setCustomVar(1, 'facebookLiker', 'true', 1);
                pageTracker._trackEvent('facebook', 'like', href);
            });

        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=325199997512479";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));


    </script>
    <div id="menuMobile">
        <div class="Busca">
            <div class="BuscaAlign">
                <input type="text" id="busca" name="busca" class="BuscaInput" value="Encontre velórios ou cemitérios"
                    onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }"
                    onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }"></div>
            <div class="BuscaAlign">
                <img src="/Content/img/novo/busca.png" class="BuscaBotao" alt="Buscar"></div>
        </div>
        <div class="Opcoes">
            COROAS DE FLORES</div>
        <div class="Opcoes">
            ENTREGA</div>
        <div class="Opcoes">
            FORMAS DE PAGAMENTO</div>
        <div class="Opcoes">
            VELÓRIOS E CEMITÉRIOS</div>
        <div class="Opcoes">
            FRASES DE HOMENAGEM</div>
        <div class="Opcoes">
            MAIS VENDIDAS</div>
        <div class="Opcoes">
            LOGIN</div>
        <div class="Sombra">
            &nbsp;</div>
    </div>
    <div id="menuMobile2" onclick="esconde('menuMobile');esconde('menuMobile2')">
        &nbsp;</div>
    <div id="TopoFaixaPreta">
        <div class="div_centraliza">
        <div id="TelsTop">
            <div class="Inner">
                <span>Televendas 24h</span> <b>@Html.Raw(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</b>
            </div>
            
        </div>
            <div id="BarraCinza">
                <div class="div_centraliza">
                    <div class="div1">
                        <div class="div1_centro">
                            <div class="imagem">
                                <p>
                                    <img src="/Content/img/novo/m_faturamento-b.png" border="0" alt="Faturamento para empresas com NF-e"></p>
                            </div>
                            <div class="texto">
                                <p>
                                    FATURAMENTO PARA<br>
                                    <b>EMPRESAS COM NF-e</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="div2_centro">
                            <div class="imagem">
                                <p>
                                    <img src="/Content/img/novo/m_faixa_homenagem-b.png" border="0" alt="Faixa para homenagem grátis"></p>
                            </div>
                            <div class="texto">
                                <p>
                                    FAIXA PARA<br>
                                    <b>HOMENAGEM GRÁTIS</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="div3">
                        <div class="div3_centro">
                            <div class="imagem">
                                <p>
                                    <img src="/Content/img/novo/m_entrega_brasil-b.png" border="0" alt="Entrega para todo Brasil"></p>
                            </div>
                            <div class="texto">
                                <p>
                                    ENTREGA PARA<br>
                                    <b>TODO O BRASIL</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="div4">
                        <div class="div4_centro">
                            <div class="imagem">
                                <p>
                                    <img src="/Content/img/novo/m_frete_gratis-b.png" border="0" alt="Frete grátis para todo Brasil"></p>
                            </div>
                            <div class="texto">
                                <p>
                                    FRETE GRÁTIS<br>
                                    <b>PARA TODO BRASIL</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="div6">
                        <div class="div6_centro">
                            <div class="imagem">
                                <p>
                                    <img src="/Content/img/novo/m_atenimento_24h-b.png" border="0" alt="Atendimento 24 horas"></p>
                            </div>
                            <div class="texto">
                                <p>
                                    ATENDIMENTO<br>
                                    <b>24 HORAS</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Right">
                <div class="painel-acessos">
                    @Html.Action("MenuNovo", "Cliente")
                    <div class="div_separacao">
                        <img src="/Content/img/novo/separacao_topo.png" class="imagem_separacao" alt="Separação"></div>
                    @Html.Action("ResumoNovo", "Carrinho")
                </div>
            </div>
            @* <div class="div_opcoes2">
                <a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'contato']);">Contato</a>
            </div>*@
        </div>
    </div>
    <div class="TopoFaixaPretaTamanho">
    </div>
    <div id="FaixaTelefone">
        <div class="Centraliza">
            <div class="Div1">
                <div class="Telefone">
                    Televendas 24h: <b>@Html.Raw(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</b></div>
                <div class="TelefoneImg">
                    <img src="/Content/img/novo/telefone_cel.png" class="TelefoneImg2" alt="Telefone"></div>
            </div>
            <div class="Chat">
                <div class="ChatImg">
                    <img src="/Content/img/novo/chat_cel.png" width="20" height="20" border="0" alt="Chat"></div>
                <div class="ChatImg2">
                    CHAT online</div>
            </div>
        </div>
    </div>
    <div id="Topo">
        <div class="div_centraliza">
            <div class="MenuCel">
                <img src="/Content/img/novo/menu_celular2.png" class="MenuCelImg" onclick="mostra('menuMobile');mostra('menuMobile2');"
                    alt="Menu"></div>
            <div class="div_logo">
                <a href="@Url.Action("Index", "Home")">
                    <img alt="Coroas para Velório" title="Coroas para Velório" src="@Url.Content("~/Content/img/novo/logo.png")" class="imagem_logo" alt="Logo">
                </a>
            </div>
            <div class="CarrinhoM">
                <img src="/Content/img/novo/carrinho.png" class="CarrinhoM2" alt="Carrinho">
                <div class="CarrinhoMQtde">
                    1</div>
            </div>
            <div class="telefones">
                <font class="televendas">Televendas 24h</font>
                <br />
                <font class="telefone">@Html.Raw(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</font><br>
                <font class="telefones_regiao">Veja o telefone de sua Região</font>
            </div>
            <div class="carrinho">
                <div class="carrinho_flor">
                    <img src="/Content/img/novo/flor_topo.png" class="carrinho_flor_imagem" alt="Carrinho"></div>
                <div class="carrinho_qtde">
                    0</div>
            </div>
        </div>
    </div>
    <div id="Menu">
        <div class="div_centraliza">
            <div class="div_texto0" onclick="mostra_esconde('Menu2');">
                <div class="div_menu">
                    <p>
                        MENU</p>
                </div>
                <div class="div_imagem_menu">
                    <img src="/Content/img/novo/menu_celular.png" class="imagem_menu" alt="Menu"></div>
            </div>
            <div id="Menu2">
                <div id="page-coroas" class="div_texto1">
                    <p>
                        <a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-de-flores']);">
                            COROAS DE FLORES</a></p>
                </div>
                <div class="div_texto2">
                    <p>
                        <a href="#">ENTREGA</a></p>
                </div>
                <div class="div_texto3">
                    <p>
                        <a href="#">FORMAS DE PAGAMENTO</a></p>
                </div>
                <div id="page-vel-cemit" class="div_texto4">
                    <p>
                        <a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">
                            Velórios e Cemitérios</a></p>
                </div>
                <div id="page-frases" class="div_texto5">
                    <p>
                        <a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">
                            Frases de Homenagem</a></p>
                </div>
                <div id="page-promocao" class="div_texto6" onmouseover="mostra('MaisVendidas');"
                    onmouseout="esconde('MaisVendidas');">
                    <p>
                        <a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">
                            Mais Vendidas</a></p>
                </div>
            </div>
            <div id="MaisVendidas" onmouseover="mostra('MaisVendidas');" onmouseout="esconde('MaisVendidas');"
                style="display: none;">
                <div class="Posiciona">
                    <div class="DivProduto">
                        <div class="ProdutoDivImg">
                            <img src="/Content/img/novo/foto1.png" class="ProdutoImg" alt="Foto do Produto"></div>
                        <div class="Titulo">
                            Coroa de Flores<br>
                            Premium - 01</div>
                        <div class="Desconto">
                            15% de desconto</div>
                        <div class="ValorDe">
                            De: R$ 250,00</div>
                        <div class="ValorPor">
                            Por: R$ 220,00</div>
                        <div class="Comprar">
                            <img src="/Content/img/novo/comprar2.png" class="ComprarImg" alt="Comprar"></div>
                    </div>
                    <div class="DivProduto2">
                        <div class="ProdutoDivImg">
                            <img src="/Content/img/novo/foto2.png" class="ProdutoImg" alt="Foto do Produto"></div>
                        <div class="Titulo">
                            Coroa de Flores<br>
                            Premium - 01</div>
                        <div class="Desconto">
                            15% de desconto</div>
                        <div class="ValorDe">
                            De: R$ 250,00</div>
                        <div class="ValorPor">
                            Por: R$ 220,00</div>
                        <div class="Comprar">
                            <img src="/Content/img/novo/comprar2.png" class="ComprarImg" alt="Comprar"></div>
                    </div>
                    <div class="DivProduto2">
                        <div class="ProdutoDivImg">
                            <img src="/Content/img/novo/foto3.png" class="ProdutoImg" alt="Foto do produto"></div>
                        <div class="Titulo">
                            Coroa de Flores<br>
                            Premium - 01</div>
                        <div class="Desconto">
                            15% de desconto</div>
                        <div class="ValorDe">
                            De: R$ 250,00</div>
                        <div class="ValorPor">
                            Por: R$ 220,00</div>
                        <div class="Comprar">
                            <img src="/Content/img/novo/comprar2.png" class="ComprarImg" alt="Comprar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="BarraCinzaM">
	<div class="div_centraliza">

		<div class="div1">
			<div class="div1_centro">
				<div class="imagem"><p><img src="/Content/img/novo/m_frete_gratis.png" width="30" height="19" border="0" alt="Frete grátis para todo brasil"></p></div>
				<div class="texto"><p>FRETE GRÁTIS<br><b>PARA TODO BRASIL</b></p></div>
			</div>
		</div>

		<div class="div2">
			<div class="div2_centro">
				<div class="imagem"><p><img src="/Content/img/novo/m_faixa_homenagem.png" width="22" height="22" border="0" alt="Faixa para homenagem grátis"></p></div>
				<div class="texto"><p>FAIXA PARA<br><b>HOMENAGEM GRÁTIS</b></p></div>
			</div>
		</div>

		<div class="div3">
			<div class="div3_centro">
				<div class="imagem"><p><img src="/Content/img/novo/m_atenimento_24h.png" width="20" height="20" border="0" alt="Atendimento 24 horas"></p></div>
				<div class="texto"><p>ATENDIMENTO<br><b>24 HORAS</b></p></div>
			</div>
		</div>

	</div>
</div>
    @RenderBody()        
    <div id="HomeDepoimentosSobre">
            <div class="div_centraliza">
                @RenderSection("Inferior", false)
                <div class="sobre">
                    <div class="titulo">
                        Sobre a Coroas para Velório</div>
                    <div class="video">
                        <iframe src="//www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0" allowfullscreen=""
                            class="iframe_video_sobre" scrolling="no" name="video_sobre"></iframe>
                    </div>
                </div>
            </div>
        </div>
    <div id="OpcoesM">
        <div class="div_centraliza">
            <div class="div_imagem">
                <img src="/Content/img/novo/site_blindado3.png" width="140" height="85" border="0"
                    alt="Site blindado"></div>
            <div class="div_imagem">
                <img src="/Content/img/novo/frete_gratis3.png" width="140" height="85" border="0"
                    alt="Frete grátis"></div>
            <div class="div_imagem">
                <img src="/Content/img/novo/entrega24h3.png" width="140" height="85" border="0" alt="Entrega 24 horas"></div>
        </div>
    </div>
    <div id="Opcoes">
        <div class="div_centraliza">
            <div class="div_imagem">
                <div id="armored_website" style="float: left; margin-left: 300px; margin-top: 15px">
                    <param id="aw_preload" value="true" />
                </div>
                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
            </div>
            <div class="div_imagem">
                <img src="/Content/img/novo/frete_gratis.png" width="256" height="85" border="0"
                    alt="Frete grátis"></div>
            <div class="div_imagem">
                <img src="/Content/img/novo/entrega24h.png" width="256" height="85" border="0" alt="Entrega 24 horas"></div>
        </div>
    </div>
    <div id="TextoRodape">
        <div class="div_centraliza">
            <div class="texto">
                @Html.Raw(String.IsNullOrEmpty(ViewBag.Descricao) ? configuracoes.Descricao : ViewBag.Descricao)
            </div>
        </div>
    </div>
    <div id="Rodape1">
        <div class="div_centraliza">
            <div class="div1">
                @(String.IsNullOrEmpty(ViewBag.Titulo) ? configuracoes.Titulo : ViewBag.Titulo)</div>
            <div class="div2">
                <img class="Left" src="/Content/img/novo/rodape_telefone.png" width="30" height="29"
                    border="0" alt="Telefone">
                <div class="Left tel">
                    SAC: @Html.Raw(String.IsNullOrEmpty(ViewBag.SAC) ? configuracoes.SAC : ViewBag.SAC)
                </div>
            </div>
            <div class="div3">
                <img src="/Content/img/novo/rodape_atendimento_online.png" width="120" height="29"
                    border="0" alt="Atendimento Online"></div>
            <div class="div3">
                <img src="/Content/img/novo/rodape_atendimento_24h.png" width="136" height="31" border="0"
                    alt="Atendimento 24 horas"></div>
        </div>
    </div>
    <div id="Rodape2">
        <div class="div_centraliza">
            <div class="div1">
                <input type="hidden" id="input_institucional" name="input_institucional" value="">
                <input type="hidden" id="input_condicoes_comerciais" name="input_condicoes_comerciais"
                    value="">
                <input type="hidden" id="input_mais_informacoes" name="input_mais_informacoes" value="">
                <input type="hidden" id="input_compre_online" name="input_compre_online" value="">
                <input type="hidden" id="input_duvidas_frequentes" name="input_duvidas_frequentes"
                    value="">
                <input type="hidden" id="input_televendas" name="input_televendas" value="">
                <input type="hidden" id="input_televendas2" name="input_televendas2" value="">
                <input type="hidden" id="input_central_atendimento" name="input_central_atendimento"
                    value="">
                <input type="hidden" id="input_redes_sociais" name="input_redes_sociais" value="">
                <input type="hidden" id="input_meios_pagamento" name="input_meios_pagamento" value="">
                <input type="hidden" id="input_seguranca" name="input_seguranca" value="">
                <div class="titulo" onclick="mostra_esconde2('institucional','1')">
                    INSTITUCIONAL</div>
                <div class="texto" id="institucional">
                    <ul>
                        <li><a href="@Url.Action("Index", "a-empresa")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">
                            A Empresa</a></li>
                        <li><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">
                            Coroas para Velório na Mídia</a></li>
                        <li><a href="@Url.Action("Index", "depoimentos-de-clientes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">
                            Depoimentos de Clientes</a></li>
                        <li><a href="@Url.Action("Index", "seja-uma-floricultura-parceira")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">
                            Seja uma Floricultura Parceira</a></li>
                        <li><a href="@Url.Action("Index", "seja-um-promotor")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">
                            Seja um Promotor</a></li>
                    </ul>
                </div>
                <div class="titulo" onclick="mostra_esconde2('condicoes_comerciais','1')">
                    CONDIÇÕES COMERCIAIS</div>
                <div class="texto" id="condicoes_comerciais">
                    <ul>
                        <li><a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">
                            Termos e Condições Comerciais</a></li>
                        <li><a href="@Url.Action("Index", "politicas-de-privacidade")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">
                            Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
            <div class="div2">
                <div class="titulo" onclick="mostra_esconde2('mais_informacoes','1')">
                    MAIS INFORMAÇÕES</div>
                <div class="texto" id="mais_informacoes">
                    <ul>
                        <li><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">
                            Como Comprar</a></li>
                        <li><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">
                            Tempo e Prazo de Entrega</a></li>
                        <li><a href="@Url.Action("Index", "indique-o-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">
                            Indique o Coroas para Velório</a></li>
                        <li><a href="@Url.Action("Index", "significado-das-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">
                            Significado das Flores</a></li>
                        <li><a href="@Url.Action("Index", "condolencias-virtuais-gratis")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">
                            Condolências Virtuais Grátis</a></li>
                        <li><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">
                            Frases de Homenagens</a></li>
                        <li><a href="@Url.Action("Index", "noticias-de-mercado")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">
                            Notícias de Mercado</a></li>
                        <li><a href="@Url.Action("Index", "seguranca")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">
                            Segurança</a></li>
                        <li><a href="/blog" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">
                            Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="div3">
                <div class="titulo" onclick="mostra_esconde2('compre_online','1')">
                    COMPRE ONLINE</div>
                <div class="texto" id="compre_online">
                    <ul>
                        <li><a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">
                            Coroas de Flores</a></li>
                        <li><a href="@Url.Action("Index", "promocao-da-semana")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promoca-da-semana']);">
                            Promoção da Semana</a></li>
                        @*<li><a href="@Url.Action("Index", "arranjos-de-flores")">Arranjos de Flores</a></li>*@
                        <li><a href="@Url.Action("Index", "solucoes-corporativas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">
                            Soluções Corporativas</a></li>
                        <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">
                            Velórios e Cemitérios</a></li>
                        <li><a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">
                            Cidades e Regiões</a></li>
                    </ul>
                </div>
                <div class="titulo" onclick="mostra_esconde2('duvidas_frequentes','1')">
                    DÚVIDAS FREQUENTES</div>
                <div class="texto" id="duvidas_frequentes">
                    <div class="texto" id="duvidas_frequentes">
                        <ul>
                            <li><a href="@Url.Action("Index", "duvidas-frequentes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">
                                Acesse nosso FAQ</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="div4">
                <div class="titulo" onclick="mostra_esconde2('televendas','1');mostra_esconde2('televendas2','2')">
                    TELEVENDAS</div>
                <div class="texto2" id="televendas2">
                    <p>
                        Entrega em todo o Brasil
                        <br />
                        @Html.Raw(configuracoes.Televendas)
                        <br />
                        Central de Atendimento<br />
                        <a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">
                            clique aqui!</a>
                    </p>
                    <div class="titulo" onclick="mostra_esconde2('central_atendimento','1')">
                        CENTRAL DE ATENDIMENTO</div>
                    <div class="texto" id="central_atendimento">
                      <ul>
                            <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                            <li><a href="@Url.Action("Index", "pesquisa-de-satisfacao")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                        </ul>
                    </div>
                    <div class="titulo" onclick="mostra_esconde2('redes_sociais','3')">
                        REDES SOCIAIS</div>
                    <div class="redes_sociais" id="redes_sociais">
                        <a href="http://www.facebook.com/coroasparavelorio">
                            <img src="/Content/img/novo/facebook.png" width="36" height="36" border="0" alt="Facebook">
                        </a><a href="https://twitter.com/coroasvelorio">
                            <img src="/Content/img/novo/twitter.png" width="36" height="36" border="0" alt="Twitter">
                        </a><a href="https://plus.google.com/102823637340385654450">
                            <img src="/Content/img/novo/google_plus.png" width="36" height="36" border="0" alt="Google Plus">
                        </a>
                    </div>
                </div>
            </div>
            <div class="div5">
                <div class="titulo" onclick="mostra_esconde2('meios_pagamento','4')">
                    MEIOS DE PAGAMENTO</div>
                <div class="meios_pagamento" id="meios_pagamento">
                    <img src="/Content/img/novo/formas_pagamento.png" width="130" height="169" border="0"
                        alt="Formas de pagamento"></div>
                <div class="titulo" onclick="mostra_esconde2('seguranca','5')">
                    SEGURANÇA</div>
                <div class="seguranca" id="seguranca">
                 <div id="armored_website" style="float: left; margin-left: 300px; margin-top: 15px">
                    <param id="aw_preload" value="true" />
                </div>
                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>   
                </div>
            </div>
        </div>
    </div>
    <div id="Rodape3">
        <div class="div_centraliza">
            Coroas para velorio | CNPJ: 03.324.243.243/0001-98<br>
            www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a> 
            <br>
            As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.
            <br>
            É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora
            do site<br>
            <br>
            Copyright © 2013 Coroas para Velório | TODOS OS DIREITOS RESERVADOS | www.coroasparavelorio.com.br
        </div>
    </div>
    <div id="RodapeM">
        <div id="Rodape1M">
            <div class="atendimento">
                <img src="/Content/img/novo/atendimento24.png" class="atendimentoImg" alt="Atendimento 24 horas"></div>
            <div class="sac">
                <img src="/Content/img/novo/rodape_telefone.png" class="sacImg" alt="Telefone"></div>
        </div>
        <div id="Rodape2M">
            <div class="texto">
                A EMPRESA</div>
            <div class="texto">
                FAQ</div>
            <div class="texto">
                COMO COMPRAR</div>
        </div>
        <div id="Rodape3M">
            Coroas para velorio<br>
            CNPJ: 03.324.243.243/0001-98<br>
            www.coroasparavelorio.com.br<br>
            <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a><br>
            <div class="versaoDesktop">
                <span class="versaoDesktop2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesse a versão desktop &gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            Copyright © 2013 Coroas para Velório<br>
            Todos os direitos reservados
        </div>
    </div>
    <div id="ResultadoLocais" style="display: none;">
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"
        type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.min.js"
        type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/funcoes.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/geral.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/novo/scripts.js")"></script>
    @RenderSection("Script", false)
    @Html.Action("Depoimentos", "Home")
    @Html.Action("PrimeiraCompra", "Home")
    @Html.Action("AtendimentoIndisponivel", "Home")
    <link rel="Stylesheet" type="text/css" href="/Content/fonts/qlassik/stylesheet.css" />
    @RenderSection("Head", false)
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
        _.push(o)
        }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?1qMf6YaR1Yei0fn0YRutk6y66FXcTQcF'; z.t = +new Date; $.
        type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->
</body>
</html>
