﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

}
<!DOCTYPE HTML>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico")" />
        <title>@(String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : ViewBag.Title)</title>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="@(String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description)"/>
        <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />
        <link type="text/css" href="@Url.Content("~/Content/css/geral.css")" rel="stylesheet" />

         
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21015416-2']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>  
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>

        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>

        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>   

    </head>

    <body>  
         

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-2SWW6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-2SWW6');</script>
        <!-- End Google Tag Manager -->
        <!--[if lt IE 7]>
        <script>alert('Você está utilizando um navegador desatualizado.\nEste site não foi desenvolvido para ser visualizado corretamente no seu navegador.\n\nPor favor, entre em contato pelo telefone 0800-777-1986 e faça seu pedido.');</script>
        <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
        <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
        <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
            <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
            <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
            <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Você está usando um navegador desatualizado</div>
            <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
            </div>
            <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
            <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/pt-br/internet-explorer/ie-11-worldwide-languages' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
            <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
        </div>
        </div>
        <![endif]-->
          <div id="fb-root"></div>
            <script type="text/javascript">    
                window.fbAsyncInit = function() {
                    FB.init({
                        appId: '405767179533971', // App ID
                      channelUrl : '//www.coroasparavelorio.com.br/channel.php', // Channel File
                      status     : true, // check login status
                      cookie     : true, // enable cookies to allow the server to access the session
                      xfbml      : true  // parse XFBML
                    });

                    FB.Event.subscribe('edge.create', function (href, widget) {
                        pageTracker._setCustomVar(1, 'facebookLiker', 'true', 1);
                        pageTracker._trackEvent('facebook', 'like', href);
                    });

                };
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=325199997512479";
                    fjs.parentNode.insertBefore(js, fjs);
                } (document, 'script', 'facebook-jssdk'));


            </script>

        <header>
            <div id="Topo">
                <div class="conteudo">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="@Url.Content("~/Content/img/logo.png")" alt="Coroas para Velório" title="Coroas para Velório" /><br />
                    </a>
                    <div class="informacoes">
@*                        <div style="position: absolute;margin-left: 43px;margin-top:5px;">
                            <a name="livezilla_chat_button" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'chat-online-banner']);" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl"><img src="/Content/img/chat.gif?" alt="Atendimento Online" title="Atendimento Online" width=200px /></a>
                        </div>*@
                        <div class="atendimento">
                            <span class="televendas">
                                Televendas 24h:<br />
                                <span class="telefone">@Html.Raw(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</span>
                                <br /><br />
                                <a href="@Url.Action("index", "cidades-e-regioes")" class="mudar_local" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'veja-nossas-cidades']);">veja nossas cidades de entrega</a>
                            </span>
                            <div class="nav-institucional" style="float:right;">
@*                                 <div class="bt">

                                       <a name="livezilla_chat_button" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'chat-online']);">Chat Online</a>
                                       <div id="livezilla_tracking" style="display:none"></div>
                                       <script type="text/javascript">
                                        /* <![CDATA[ */
                                        var script = document.createElement("script");script.async=true;script.type="text/javascript";var src = "http://chat.coroasparavelorio.com.br/server.php?acid=8627d&request=track&output=jcrpt&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);
                                        /* ]]> */
                                        </script>
                                </div>
                                <div class="bt" style="margin: 5px 0 0;">|</div>*@

                                <div class="bt">
                                    <a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'contato']);">
                                        Contato
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="painel-acessos">
                            @Html.Action("Menu", "Cliente")
                            @Html.Action("Resumo", "Carrinho")
                        </div>
                        
                        <div style="clear: both"></div>
                    </div>
                    <h3 class="vermelho title">@(String.IsNullOrEmpty(ViewBag.Titulo) ? configuracoes.Titulo : ViewBag.Titulo)
                    </h3>
                </div>
            </div>

            <nav>
                <ul>
                    <li id="page-coroas"><a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-de-flores']);">Coroas de Flores</a></li>
                    <li id="page-comprar"><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'como-comprar']);">Como Comprar</a></li>
                    <li id="page-vel-cemit"><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                    @*<li id="page-coroas-midia"><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-para-velorio-na-midia']);">CPV na Mídia</a></li>*@
                    <li id="page-frases"><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">Frases de Homenagem</a></li>
                    <li id="page-promocao" class="ativo"><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
                </ul>
            </nav>
        </header>

        <div id="Conteudo">
            
            <section id="BoxEsq">
                <aside id="Busca">
                    <header>
                        <img src="../../Content/img/precisa-coroas.jpg" alt="Precisa de coroas urgente?" title="Precisa de coroas urgente?" border="0" />
                    </header>
                    <form id="buscar-local" method="get" action="@Url.Action("buscar", "local")">
                        <input id="local-termo" name="termo" type="text" title="digite o local" placeholder="Velórios, cemitérios, hospitais e crematórios" />
                        <input type="submit" title="buscar" />
                    </form>
                </aside>

                @Html.Action("Sugestoes", "Home")
            </section>
            <div id="Destaques">
                <div class="conteudo">
                    <a name="comprar"></a>
                    <img src="@Url.Content("~/Content/img/faturamento-para-empresas.png")" alt="Faturamento para empresas com NF-e"  title="Faturamento para empresas com NF-e"/>
                    <img src="@Url.Content("~/Content/img/faixas-para-homenagem.png")" alt="Faixas para homenagem" title="Faixas para homenagem" />
                    <img src="@Url.Content("~/Content/img/entrega-para-todo-brasil.png")" alt="Entrega para todo Brasil" title="Entrega para todo Brasil" />
                    <img src="@Url.Content("~/Content/img/frete-gratis-para-todo-brasil.png")" alt="Frete grátis para todo Brasil" title="Frete grátis para todo Brasil"/>
                    <img src="@Url.Content("~/Content/img/pagamento-via-boleto-ou-cartao.png")" alt="Pagamento via Boleto ou Cartão de Crédito" title="Pagamento via Boleto ou Cartão de Crédito"/>
                    <img src="@Url.Content("~/Content/img/atendimento-24horas.png")" alt="Atendimento 24 horas" title="Atendimento 24 horas"/>
                </div>
            </div>

            @RenderBody()

            @Html.Action("Inferior", "Banners")

            <div class="hr-dk"><hr /></div>
            
            @RenderSection("Inferior", false)

            <div id="Selos">
                <div id="armored_website" style="float: left; margin-left: 300px; margin-top: 15px">
                    <param id="aw_preload" value="true" />
                </div>
                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>

                <img src="/Content/img/selos.jpg" title="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil"  alt="Site Seguro | Entrega 24 Hrs | Frete Grátis para todo o Brasil" border="0" />
            </div>
        </div>

        <footer>
            <div id="Descritivo">
                <div class="conteudo">@Html.Raw(String.IsNullOrEmpty(ViewBag.Descricao) ? configuracoes.Descricao : ViewBag.Descricao)</div>
            </div>

            <div id="DestaquesRodape" class="qlassik">
                <div class="conteudo">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="titulo">@(String.IsNullOrEmpty(ViewBag.Titulo) ? configuracoes.Titulo : ViewBag.Titulo)</td>
                            <td class="sac">SAC: @Html.Raw(String.IsNullOrEmpty(ViewBag.SAC) ? configuracoes.SAC : ViewBag.SAC)</td>
                        </tr>
                    </table>
                    
                    @*<a name="livezilla_chat_button" href="javascript:void(window.open('http://chat.coroasparavelorio.com.br/chat.php?acid=2f36c','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'chat-online']);"><img src="/Content/img/atendimento-online-rodape.png?" alt="Atendimento Online" title="Atendimento Online" /></a>*@
                    <a href="@Url.Action("Index", "contato")"><img src="@Url.Content("~/Content/img/atendimento-24h-rodape.png")" alt="Atendimento 24h" title="Atendimento 24h" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'atendimento-24']);"/></a>
                </div>
            </div>

            <nav>
                <div class="conteudo">
                    <div class="divisao">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "a-empresa")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">A Empresa</a></li>
                            <li><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">Coroas para Velório na Mídia</a></li>
                            <li><a href="@Url.Action("Index", "depoimentos-de-clientes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">Depoimentos de Clientes</a></li>
                            <li><a href="@Url.Action("Index", "seja-uma-floricultura-parceira")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">Seja uma Floricultura Parceira</a></li>
                            <li><a href="@Url.Action("Index", "seja-um-promotor")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">Seja um Promotor</a></li>
                        </ul>
                        <h3>Condições Comerciais</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">Termos e Condições Comerciais</a></li>
                            <li><a href="@Url.Action("Index", "politicas-de-privacidade")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">Política de Privacidade</a></li>
                        </ul>
                    </div>
                    <div class="divisao">
                        <h3>Mais Informações</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">Como Comprar</a></li>
                            <li><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">Tempo e Prazo de Entrega</a></li>
                            <li><a href="@Url.Action("Index", "indique-o-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">Indique o Coroas para Velório</a></li>
                            <li><a href="@Url.Action("Index", "significado-das-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">Significado das Flores</a></li>
                            <li><a href="@Url.Action("Index", "condolencias-virtuais-gratis")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">Condolências Virtuais Grátis</a></li>
                            <li><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">Frases de Homenagens</a></li>
                            <li><a href="@Url.Action("Index", "noticias-de-mercado")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">Notícias de Mercado</a></li>
                            <li><a href="@Url.Action("Index", "seguranca")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">Segurança</a></li>
                            <li><a href="/blog" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">Blog</a></li>
                        </ul>
                        <h3>Dúvidas Frequentes</h3>
                        <ul>                        
                            <li><a href="@Url.Action("Index", "duvidas-frequentes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">Acesse nosso FAQ</a></li>
                        </ul>
                    </div>
                    <div class="divisao">
                        <h3>Compre Online</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">Coroas de Flores</a></li>
                            <li><a href="@Url.Action("Index", "promocao-da-semana")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promoca-da-semana']);">Promoção da Semana</a></li>
                            @*<li><a href="@Url.Action("Index", "arranjos-de-flores")">Arranjos de Flores</a></li>*@
                            <li><a href="@Url.Action("Index", "solucoes-corporativas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">Soluções Corporativas</a></li>
                            <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                            <li><a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">Cidades e Regiões</a></li>
                        </ul>
                        <h3>Televendas</h3>
                        <p>
                            Entrega em todo o Brasil
                            <br />
                            @Html.Raw(configuracoes.Televendas)
                            <br />
                            Central de Atendimento<br /><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">clique aqui!</a>
                        </p>
                    </div>
                    <div class="divisao">
                        <h3>Central de Atendimento</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                            <li><a href="@Url.Action("Index", "pesquisa-de-satisfacao")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                        </ul>
                        <h3>Redes Sociais</h3>
                        <fb:like href="https://www.facebook.com/coroasparavelorio" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
                        <br />
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-callback="_gaq.push(['_trackEvent', 'footer', 'clique', 'google-plus']);"></div>
                        <script type="text/javascript">
                            window.___gcfg = { lang: 'pt-BR' };

                            (function () {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                        
                        <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);"><img src="@Url.Content("~/Content/img/facebook.png")" alt="Facebook" title="Facebook" /></a>
                        <a href="https://plus.google.com/102823637340385654450" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);"><img src="@Url.Content("~/Content/img/googleplus.png")" alt="Google +" title="Google +"  style="clear:none;margin-left:5px;"/></a>
                        <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);"><img src="@Url.Content("~/Content/img/twitter.png")" alt="Twitter" title="Twitter" style="clear:none;margin-left:5px;" /></a>
                        <a href="https://www.youtube.com/channel/UC7XRIHe6ZBggpB65MOPyOaQ/feed?view_as=public" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'youtube']);"><img src="@Url.Content("~/Content/img/youtube.png")" alt="Youtube" title="Youtube" style="clear:none;margin-left:5px;" /></a>
                        <a href="http://www.sitesustentavel.com.br/certificado/list?url=www.coroasparavelorio.com.br" title="Site Sustentável" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'selo-sustentavel']);">
                            <img src="//www.sitesustentavel.com.br/images/selo/sitesustentavel142x40.png"
                                    alt="Clique no selo e confira nossa certificação! Navegue tranquilamente. Esse site é SUSTENTÁVEL, ou seja, está neutralizando o CO2 emitido e contribuindo para um mundo melhor."
                                    style="width:142px;height:40px;border:none;"></a>
                        </a>
                        @*<script type="text/javascript">var na_lang="pt";</script>
                        <script assync type="text/javascript" src="//cdn.navegganalytics.com/na.js"></script>*@
                    </div>
                    <div class="divisao">
                        <h3>Meios de pagamento</h3>
                        <img src="@Url.Content("~/Content/img/meios-de-pagamento.png")" alt="Meios de Pagamento" title="Meios de Pagamento" />
                        <img src="@Url.Content("~/Content/img/meios-pag-footer.png")" alt="PagSeguro" title="PagSeguro" />
                        <h3>Segurança</h3>
                        <a href="https://selo.siteblindado.com.br/verificar?url=www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'site-blindado']);"><img src="@Url.Content("~/Content/img/site-blindado.png")" alt="Site Blindado" title="Site Blindado" /></a>
                    </div>
                </div>
            </nav>

            <div id="Final">
                <div class="conteudo">
                    <div id="Copyright">
                        Copyright © @DateTime.Now.Year Coroas para Velório
                        <br />
                        TODOS OS DIREITOS RESERVADOS
                        <br />
                        <u>www.coroasparavelorio.com.br</u>
                    </div>
                    <div id="Avisos">
                        <span class="branco">
                            <u>www.coroasparavelorio.com.br</u>
                            <br />
                            <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a>
                        </span>
                        <br />
                        As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.
                        <br />
                        É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site.

                    </div>
                    <div id="Producao">
                        <a href="http://www.utime.com.br" target="_blank">
                            Produzido por:<br />
                            <img src="@Url.Content("~/Content/img/utime.png")" alt="uTime" title="uTime" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <div id="ResultadoLocais" style="display:none;"></div> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.min.js" type="text/javascript"></script> 
        <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/funcoes.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/geral.js")"></script>
        @RenderSection("Script", false)
         
        @Html.Action("Depoimentos", "Home") 
        @Html.Action("PrimeiraCompra", "Home")
        @Html.Action("AtendimentoIndisponivel", "Home")
        <link rel="Stylesheet" type="text/css" href="/Content/fonts/qlassik/stylesheet.css" />
        @RenderSection("Head", false)
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
        d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
            z.set.
        _.push(o)
        }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
                $.src = '//v2.zopim.com/?1qMf6YaR1Yei0fn0YRutk6y66FXcTQcF'; z.t = +new Date; $.
        type = 'text/javascript'; e.parentNode.insertBefore($, e)
            })(document, 'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    </body>
</html> 