﻿@model IEnumerable<Domain.Entities.Depoimento>

@if (Model.Any())
{
    <div style="width:963px;float:left;">
    <h2>Depoimentos de clientes</h2>
    @foreach (var item in Model)
    {
    <div id="depoimentos" itemscope itemtype="http://data-vocabulary.org/Review">
        <div class="depoimento" itemprop="description">
            <p>
                @item.Texto
                <br /><br />
                <b>Item avaliado:</b>
                @if(item.Produto != null){
                <span itemprop="itemreviewed">@item.Produto.Nome</span>
                }else{
                <span itemprop="itemreviewed">Site Coroas para Velório</span>
                }
                <span itemprop="summary" style="display:none;">@(item.Texto.Length > 100?item.Texto.Substring(0,100):item.Texto)</span>
                <br />
                <b>Nota:</b> <span itemprop="rating">@item.Nota</span>
            </p>
        </div>
        <div class="baixo-depoimento"></div>
        <h3 itemprop="reviewer">@item.Nome  @(!String.IsNullOrEmpty(item.Empresa)?" - " + item.Empresa.ToUpper():"")</h3>
        <i>@item.Cidade.ToUpper() - <span  itemprop="dtreviewed" datetime="@item.Data.ToString("yyyy-MM-dd")">@item.Data.ToString("dd/MM/yyyy")</span></i>
    </div>
    }
    </div>
}
