﻿@model IEnumerable<Domain.Entities.Produto>
@{
    var produtos = new List<Domain.Entities.Produto>();
    produtos.AddRange(Model.OrderBy(p => p.PrecoMinimo).ToList());
    var ordenacao = "preco-menor";
    if (!String.IsNullOrEmpty(Request["ordenacao"]))
    {
        ordenacao = Request["ordenacao"];
        switch (ordenacao)
        {
            case "preco-menor":
                produtos = produtos.OrderBy(p => p.PrecoMinimo).ToList();
                break;
            case "preco-maior":
                produtos = produtos.OrderByDescending(p => p.PrecoMaximo).ToList();
                break;
            case "mais-vendidas":
                produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                break;
            case "empresas":
                produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                break;
            case "amigos":
                produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                break;
            case "familiares":
                produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                break;
        }
    }
      
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
}
<div class="destaques-home">
    @if (ViewBag.NaoExibeHeader == null)
    {
        if (ViewBag.Home != null)
        {
            if (ViewBag.Home)
            {
            <span class="melhores qlassik"><h1 style="font-size: 30px;display:inline;">Coroa de Flores</h1></span>
            }
        }
        else if (ViewBag.Sugestoes != null)
        {
            if (ViewBag.Sugestoes)
            {
            <span class="melhores qlassik">Veja as sugestões de coroas de flores que encontramos para você</span>
            }
        }
        else if (ViewBag.TemPromocaoSemana != null)
        {
            if (ViewBag.TemPromocaoSemana)
            {
            <span class="melhores qlassik">Confira nossas coras em promoção</span>
            }
        }
        else
        {
    <span class="melhores qlassik">As melhores coroas de flores estão aqui!</span>
        }
    <div class="ordenar">
    Ordenar por 
    <select onchange="Pagina.Ordenar(this.value);" onmousedown="_gaq.push(['_trackEvent', 'ordenar', 'select', this.value]);">
        <option value="preco-menor" @(ordenacao == "preco-menor" ? "selected=\"selected\"" : "")>Mais baratas</option>
        <option value="preco-maior" @(ordenacao == "preco-maior" ? "selected=\"selected\"" : "")>Mais caras</option>
        <option value="mais-vendidas" @(ordenacao == "mais-vendidas" ? "selected=\"selected\"" : "")>Mais vendidas</option>
        <option value="empresas" @(ordenacao == "empresas" ? "selected=\"selected\"" : "")>Para empresas</option>
        <option value="amigos" @(ordenacao == "amigos" ? "selected=\"selected\"" : "")>Para amigos</option>
        <option value="familiares" @(ordenacao == "familiares" ? "selected=\"selected\"" : "")>Para familiares</option>
    </select>  
    </div>
    <div class="hr"><hr /></div>
    }
    @if (produtos.Any())
    {
    <ul class="coroas-lista">
        @foreach (var coroa in produtos)
        {
            var coroapromo = false;
        <li id="Produto_@(coroa.ID)" class="produto">
            @if (promocao != null)
            {
                coroapromo = promocao.PromocaoProduto.Count(c => c.ProdutoID == coroa.ID) > 0;
                if (coroapromo)
                {
                <div class="planos_promocao">Promoção da semana com <b>desconto de @promocao.Desconto%</b>!</div>
                }
            }
            <a style="background:url(@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)) no-repeat center center;" class="imagem" href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })#comprar"></a>
            <div class="Texto">
                <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="subtitulo">@Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo)</a>
                <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="titulo qlassik">@coroa.Nome</a>
                @if (coroa.PrecoMinimo.HasValue)
                {
                    <span class="preco preco-@coroa.ID" style="display:none;">A partir de @coroa.PrecoMinimo.Value.ToString("C2")</span>
                }
                <div class="mais-detalhes" data-id="@coroa.ID" style="display:none;">mais detalhes</div>
                <div class="box-detalhes box"  style="display:inline;">
                    <div class="planos">
                        @{var total = coroa.ProdutoTamanhos.Count;}
                        @foreach (var item in coroa.ProdutoTamanhos)
                        {
                            <text>
                            <div class="coroa @((item.Tamanho.Tipo == Domain.Entities.Tamanho.Tipos.Media) ? "ativo" : (total == 1) ? "ativo" : "desativado")" data-rel="@(coroa.ID)" id="Coroa@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID))"  onmousedown="_gaq.push(['_trackEvent', 'tamanho', 'select', '@(Enum.GetName(typeof(Domain.Entities.Tamanho.Tipos), item.Tamanho.TipoID).ToLower())']);">
                                <div class="tamanho">
                                    <h4>@item.Tamanho.Nome</h4>
                                    @item.Tamanho.Dimensao
                                </div>
                                @if (!coroapromo)
                                {
                                <div class="valor">
                                    <div class="total">@item.Preco.ToString("C2")</div>
                                    <div class="parcelado">
                                        @if (configuracoes.Parcela > 1)
                                        {
                                        <font style="font-size: 12px; color: #666; font-weight: normal">@(configuracoes.Parcela)x</font>
                                        @((item.Preco / configuracoes.Parcela).ToString("C2"))
                                        }
                                    </div>
                                </div>
                                }
                                else
                                {
                                    decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                <div class="valor">
                                    <div class="total"><del>@item.Preco.ToString("C2")</del></div>
                                    <div class="parcelado">
                                        @if (configuracoes.Parcela > 1)
                                        {
                                        @precopromo.ToString("C2")
                                        }
                                    </div>
                                </div>
                                }
                            </div>
                            </text>
                        }
                    </div>
                    <input type="button" class="botao-comprar" value="comprar" data-url="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" data-id="@coroa.ID" />
                </div>
            </div>
        </li>
        }
    </ul>
    }
</div>
