.card-menu {
  min-height: 380px; }

.card-menu ul {
  color: #DE1200;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px !important; }

.card-menu li {
  float: none !important;
  padding: 0px 0px !important; }

.card-menu ul li:first-of-type {
  border: none !important;
  margin-top: 12px; }

.card-menu li a {
  color: #333333 !important;
  font-size: 14px !important;
  line-height: 26px !important;
  text-align: left !important;
  font-weight: normal !important;
  text-transform: initial !important; }

.card-menu li a:hover {
  text-decoration: underline !important; }

.underline {
  text-decoration: underline; }

#mmenuneue {
  border-top: solid 1px #CCCCCC; }
