﻿@model IEnumerable<Domain.Entities.Repasse>

@{
    ViewBag.Title = "Recebimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{

<script type="text/javascript">
    $(document).ready(function () {
        $("#li_recebimentos").addClass("active");


        $("#datainicial").mask({ mask: "##/##/####", allowPartials: false });
        $("#datafinal").mask({ mask: "##/##/####", allowPartials: false });
        $("#datainicialped").mask({ mask: "##/##/####", allowPartials: false });
        $("#datafinalped").mask({ mask: "##/##/####", allowPartials: false });

        $("#Filtrar_BTN").click(function () {
            if ($("#datainicialped").val() == "" || $("#datafinalped").val() == "") {
                alert('Preencha a Data inicial e final do pedido');
                return false;
            }
        });

        $("#login_entrar").click(function () {
            if ($("#login_senha").val() == '') {
                alert('Preencha sua senha');
            } else {
                $("#login_entrar").hide();
                $("#processando").show();
                $.post("/Recebimentos/Login", { senha: $("#login_senha").val() }, function (data) {
                    if (data == "ERRO") {
                        alert('Senha inválida! Por favor, tente novamente ou entre em contato conosco.'); 
                    } else {
                        window.location = data;
                    }
                });
                $("#processando").hide();
                $("#login_entrar").show();
            }
        });

    });
</script>
}
@if (Request.QueryString["cod"] == "sucesso")
{
<div class="mws-form-message mws-panel success">Sucesso! <br />Registro salvo com sucesso.</div>
}
 
@if (ViewBag.ExibeLogin)
{
	
	<div class="content clearfix">
		
	    <form id="form_login" name="form_login" class="mws-form">
            <input type="hidden" id="ReturnUrl" name="ReturnUrl"/>
		
			<h1>Acesso restrito</h1>		
			
			<div class="login-fields">
				
				<p>Por favor, digite sua senha financeira:</p>
				 				
				<div class="field"> 
					<input type="password" id="login_senha" name="login_senha" value="" placeholder="senha" class="login password-field"/>
				</div> <!-- /password -->
				 
				  
                <input type="button" value="Entrar" id="login_entrar" name="login_entrar" class="button btn btn-success btn-large" />
                <span id="processando" class="carregando-preto branco">Autenticando...</span>
				
			</div> <!-- .actions -->
			
			
		</form>
		
	</div> 
}
else
{ 
        
    <!-- /content --> 
      <div class="row">
        <div class="span12">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Resumo</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  <h6 class="bigstats">Dados processados até o momento.</h6>
                  <div id="big_stats" class="cf">
                    <div class="stat"> Pedidos<br /> <span class="value">@ViewBag.Pedidos</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> Em aberto<br /> <span class="value">@ViewBag.EmAberto</span> </div>
                    <!-- .stat -->
                    
                    <div class="stat"> Pago<br /> <span class="value">@ViewBag.Pago</span> </div>
                    <!-- .stat -->
                     
                  </div>
                </div>
                <!-- /widget-content --> 
                
              </div>
            </div>
          </div>
          <!-- /widget -->  
        </div>
        <!-- /span6 -->
        </div>
          <!-- /widget -->
          <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Recebimentos</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <form method="get">
                <input type="hidden" value="@Request.QueryString["token"]" name="token" />
                <table cellpadding="10" cellspacing="5">
                <tr>
                    <td>Data de Inicial de Pagamento:</td>
                    <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>Data de Final de Pagamento:</td>
                    <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Data de Inicial do Pedido:</td>
                    <td><input type="text" name="datainicialped" id="datainicialped" value="@Request.QueryString["datainicialped"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                    <td style="width:20px;"></td>
                    <td>Data de Final do Pedido:</td>
                    <td><input type="text" name="datafinalped" id="datafinalped" value="@Request.QueryString["datafinalped"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                </tr>
                <tr>
                    <td>Status de Pagamento:</td>
                    <td>@Html.DropDownListForEnum("status", typeof(Domain.Entities.Repasse.TodosStatus), (!String.IsNullOrEmpty(Request.QueryString["status"]) ? Convert.ToInt32(Request.QueryString["status"]) : 0), null)</td>
                    <td style="width:20px;"></td>
                    <td colspan="2">
                <input type="submit" id="Filtrar_BTN"  value="Filtrar"/></td>
                </tr>
                </table>
              </form>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:160px; text-align: center;"> Data</th>                                         
                    <th> Nome do Falecido</th> 
                    <th> Local de Entrega</th> 
                    <th style="width:120px;"> Valor de Repasse</th>
                    <th> Número do Pedido </th>
                    <th style="width:120px;"> Data de Pagamento</th>
                    <th style="width:120px;"> Status de Pagamento</th> 
                    <th>Aprovado</th> 
                  </tr>
                </thead>
                <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                      <tr>
                          <td style="text-align: center;">
                              @if (item.PedidoEmpresa != null)
                              {
                                  <text>Data do Pedido </text>
                                  @item.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                              }
                              else
                              {
                                  <text>Data do Pedido </text>
                                  @item.PedidoItem.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                              }
                              <br /><br />
                              @{
                                  DateTime DataRepasse = new DateTime();

                                  if (item.DataRepasse != null)
                                  {
                                      DataRepasse = (DateTime)item.DataRepasse;
                                      <text>Data do Pgamento </text>
                                      @DataRepasse.ToString("dd/MM/yyyy HH:mm")
                                  }
                              }
                          </td>  
                        <td>
                             @if (item.PedidoEmpresa != null)
                             {
                                 @item.PedidoEmpresa.PessoaHomenageada
                             }
                             else
                             {
                                 @item.PedidoItem.Pedido.PessoaHomenageada
                             }
                        </td> 
                        <td>
                             @if (item.PedidoEmpresa != null)
                             {
                                 @item.PedidoEmpresa.LocalEntrega
                             }
                             else
                             {
                                 @item.PedidoItem.Pedido.LocalEntrega
                             }
                        </td> 
                        <td>
                            @(item.ValorRepasse > 0 ? item.ValorRepasse.ToString("C2") : "Não Informado")
                        </td>
                        <td>
                             @if (item.PedidoEmpresa != null)
                             {
                                 @item.PedidoEmpresaID
                             }
                             else
                             {
                                 @item.PedidoItem.Pedido.Numero
                             }
                        </td> 
                        <td>
                            @(item.DataRepasse.HasValue ? item.DataRepasse.Value.ToString("dd/MM/yyyy HH:mm") : "")
                        </td>
                        <td>
                            @Domain.Helpers.EnumHelper.GetDescription(item.Status)
                        </td> 
                          <td>

                          </td>
                      </tr> 
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="13" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                }
                
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
}