﻿@model IEnumerable<Domain.Entities.Flor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Significado das Flores";
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado"><span itemprop="title"><b>Significado das Flores</b></span></div>
</div>
</div>
 

<div id="SignificadoFlores">
<div class="Div">

	<h1 class="TituloPagina">Significado das Flores</h1>
     
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
	    <div class="Listagem">
            @if (item.Foto != null)
            {
                if (item.Foto.Length > 0)
                {
                    <div class="Foto"><a href="@Url.RouteUrl("Flores", new { rotuloUrl = item.RotuloUrl, id = item.ID })"><img src="/content/flores/@item.ID/thumb/@item.Foto" alt="@item.Nome" title="@item.Nome" alt="Foto" /></a></div>
                }
            } 
		    <div class="DivTextos">
			    <div class="Titulo">@item.Nome</div>
			    <div class="Titulo2">@item.BreveDescritivo</div> 
		    </div>
		    <div class="Url"><a href="@Url.RouteUrl("Flores", new { rotuloUrl = item.RotuloUrl, id = item.ID })" class="Url2">Ver mais</a></div> 
        </div>
        }
    }
    else
    {
        <p>Não há flores para serem exibidas.</p>
    }
</div>

</div>