﻿@{
Layout = string.Empty;
}

<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:html5="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,index,follow" />

        <title>Flores para Presente | Laços Corporativos</title>
        <meta name="description" content="Oferecemos diferentes flores para aniversário de funcionários ou colaboradores. Diversos tipos de flores, coloração e vasos." />
        
        <!-- Bootstrap -->
        <link href="../../content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../../content/bootstrap/css/lacos.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="icon" href="../../content/imagesneue/favicon.ico" type="image/x-icon" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="../../content/placeholder/jquery.placeholder.js"></script>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../content/bootstrap/js/bootstrap.min.js"></script>

        <!-- Masks' Plugin -->
        <script src="../../content/bootstrap/js/maskplugin/jquery.mask.js"></script>

        <!-- Zooms' Plugin -->
        <script src="../../content/bootstrap/js/zoom-master/jquery.zoom.js"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            
            // Zoom da vitrine
            //$('.card>span').hover(function() {
                //var zoompath = $(this).children().attr('src').split('.jpg');
                //var zoomsplitted = zoompath[0];

                //$('.card>span>img').css('display', 'block').parent().zoom({url: zoomsplitted+'-big.jpg'});
            //});

            $('.card>span>img').css('display', 'block').parent().zoom();
            
            // Máscaras do form
            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

            $('#tel, #cel').mask(SPMaskBehavior, spOptions);

            //Validação Nome
            function validateName(name) {
                var re = /^[\sa-zA-Z]*$/;
                return re.test(name);
            }

            //Validação Email
            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            // Validations
            var contactNome = false;
            var contactEmail = false;
            var contactMsg = false;

            //Check do Nome
            $('#nome').blur(function () {

                var resultadoname = validateName($('#nome').val());

                if (resultadoname == true) {
                    $(this).css("border-color", "#d6e9c6");
                    $(this).css("background-color", "#dff0d8");
                    contactNome = true;
                }

                else {
                    $(this).css("border-color", "#ebccd1");
                    $(this).css("background-color", "#f2dede");
                    contactNome = false;
                }
            });

            //Check do Email
            $('#email').blur(function () {
                var mail = $('#email').val();
                var resultadomail = validateEmail(mail);

                if (resultadomail == true) {
                    $(this).css("border-color", "#d6e9c6");
                    $(this).css("background-color", "#dff0d8");
                    contactEmail = true;
                }

                else {
                    $(this).css("border-color", "#ebccd1");
                    $(this).css("background-color", "#f2dede");
                    contactEmail = false;
                }
            });

            //Check da Mensagem
            $('#message').blur(function () {

                var messagelength = $('#message').val();

                if (messagelength.length > 9) {
                    $(this).css("border-color", "#d6e9c6");
                    $(this).css("background-color", "#dff0d8");
                    contactMsg = true;
                }

                else {
                    $(this).css("border-color", "#ebccd1");
                    $(this).css("background-color", "#f2dede");
                    contactMsg = false;
                }

            });

            // Submit
            $("form").submit(function (e) {
                if (contactNome && contactEmail && contactMsg) {
                    return;
                }
                alert("Preencha os campos corretamente e tente novamente");
                e.preventDefault();
            });
        });
        </script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-59636160-1', 'auto');
                ga('send', 'pageview');
        </script>
    </head>

    <body>
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="../../content/imagesneue/menu-logo.png" alt="Laços Corporativos Logotipo" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Início</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorias <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/categorias/flores-para-presente">Flores para Aniversário</a></li>
                                <li><a href="/categorias/arranjos-de-flores-para-empresas">Arranjos para Empresas</a></li>
                                <li><a href="/categorias/coroas-de-flores">Coroas de Flores</a></li>
                                <li><a href="/categorias/flores-para-datas-comemorativas">Datas Comemorativas</a></li>
                                <li><a href="/categorias/flores-para-decoracao-de-escritorio">Arranjos de Escritório</a></li>
                                <li><a href="/categorias/flores-para-eventos-corporativos">Eventos Corporativos</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Contato</a></li>
                        <li id="login"><a href="/login">Acesso Empresas</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <main>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h1>Flores para Presente</h1>
                            <h2>
                                <p>Contamos com diversos tipos de arranjos para aniversário, que podem variar nos tipos de flores, coloração e vasos.</p>
                                <p>Todos acompanham cartão de felicitações personalizado.</p>
                            </h2>
                        </div>
                    </div>
                </div>
            </main>
        </header>

        <section class="section" id="showcase">
            <div class="container">
                <div class="row clearfix">
                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/cesto-rosas-ferrero-rocher.jpg" alt="Cesto de Rosas com Ferrero Rocher" />
                            </span>
                            <h3>Rosas com Ferrero Rocher</h3>
                            <p>Cesto com 20 Rosas e 15 bomboms Ferrero Rocher</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/arranjo-orquidea-branca.jpg" alt="Arranjo de Orquídea Phalaenopsis Branca" />
                            </span>
                            <h3>Arranjo de Orquídea</h3>
                            <p>Arranjo de Orquídea Phalaenopsis branca com vaso em vidro ou cachepot</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/mini-buque-ferrero-rocher.jpg" alt="Mini Buquê de Rosas com Ferrero Rocher" />
                            </span>
                            <h3>Mini Buquê com Ferrero</h3>
                            <p>Mini Buquê com 12 Rosas e 15 bomboms Ferrero Rocher</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/buque-rosas-colombianas-2.jpg" alt="Buquê de Rosas Colombianas" />
                            </span>
                            <h3>Buquê Rosas</h3>
                            <p>Buquê com 6 Rosas Colombianas Vermelhas num lindo arranjo.</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/buque-flores-nobres.jpg" alt="Buquê de Flores Nobres" />
                            </span>
                            <h3>Buquê Flores Nobres</h3>
                            <p>Buquê com 36 flores nobres (Gérbera, Astromélia, Cravo e Lírio) com vaso</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/buque-rosas-colombianas.jpg" alt="Buquê de Rosas Colombianas Vermelhas" />
                            </span>
                            <h3>Buquê Rosas</h3>
                            <p>Buquê com 12 Rosas Colombianas vermelhas com vaso em vidro ou cachepot</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/cesta-rosas.jpg" alt="Cesta de Rosas" />
                            </span>
                            <h3>Cesta de Rosas</h3>
                            <p>Cesta com 20 Rosas de cores diversas com folhagem em Gipsophila e Phitos Porus</p>
                        </div>
                    </div>
                    <!-- /Product Card -->

                    <!-- Product Card -->
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <span>
                                <img src="../../content/imagesneue/detalhes/ramalhete-rosas.jpg" alt="Ramalhete de Rosas Nacionais" />
                            </span>
                            <h3>Ramalhete Rosas</h3>
                            <p>Ramalhete com 24 Rosas Nacionais e folhagem em Gipsophila</p>
                        </div>
                    </div>
                    <!-- /Product Card -->
                </div>
            </div>
        </section>

        <section class="section" id="cta">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <h4>Para maiores informações e condições especiais para empresas, fale com nosso Gerente Comercial</h4>
                        <a href="#" class="a-btn" data-toggle="modal" data-target="#myModal">
						    <span class="a-btn-text">Entre em Contato</span> 
						    <span class="a-btn-slide-text">Ligamos para você!</span>
						    <span class="a-btn-icon-right"><span></span></span>
					    </a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-stripe"></div>
            <div class="footer-bottom">
                <p>Copyright @DateTime.Now.Year © - Laços Corporativos. Todos os Direitos Reservados</p>
            </div>
        </footer>

        <!-- Modal Contact -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Contato</h4>
                    </div>
                    <form role="form" action="/EnviarEmail.php" method="POST">
                        <div class="modal-body">
                            <div class="form-group clearfix">
                                <ul class="col-sm-6">
                                    <li>Atendimento</li>
                                    <li><a href="tel:#">0800 777 1984</a></li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li>Email</li>
                                    <li><a href="mailto:comercial@lacoscorporativos.com.br">comercial@lacoscorporatios.com.br</a></li>
                                </ul>
                            </div>                            
                            <div class="form-group clearfix">
                                <div class="col-sm-6">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu Nome">
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Seu Email">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-6">
                                    <label for="tel">Telefone (opcional)</label>
                                    <input type="text" class="form-control" id="tel" name="tel" placeholder="(00) 0000-0000">
                                </div>
                                <div class="col-sm-6">
                                    <label for="cel">Celular (opcional)</label>
                                    <input type="text" class="form-control" id="cel" name="cel" placeholder="(00) 90000-0000">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-6">
                                    <label for="nome">Empresa</label>
                                    <input type="text" class="form-control" id="empresa" name="empresa" placeholder="Sua Empresa">
                                </div>
                                <div class="col-sm-6">
                                    <label for="nome">Departamento</label>
                                    <input type="text" class="form-control" id="departamento" name="departamento" placeholder="Seu Departamento">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-6">
                                    <label for="pref-cont">Preferência de Contato</label>
                                    <select class="form-control" id="pref-cont" name="pref-cont">
                                      <option>Qualquer</option>
                                      <option>Email</option>
                                      <option>Telefone Fixo</option>
                                      <option>Celular</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="pref-hor">Horário</label>
                                    <select class="form-control" id="pref-hor" name="pref-hor">
                                      <option>Qualquer</option>
                                      <option>Manhã</option>
                                      <option>Tarde</option>
                                      <option>Noite</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-12">
                                    <label for="message">Mensagem</label>
                                    <textarea type="text" class="form-control" id="message" name="message" placeholder="Sua Mensagem" rows"6"></textarea>
                                </div>
                            </div>
                            <div class="row clearfix">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>