﻿@{
Layout = string.Empty;
}

@{
Layout = string.Empty;
}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:html5="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,index,follow" />

    <title>Obrigado Pelo Contato! | Laços Corporativos</title>
    <meta name="description" content="" />

    <!-- Bootstrap -->
    <link href="../../content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../content/bootstrap/css/lacos.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../../content/imagesneue/favicon.ico" type="image/x-icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="../../content/placeholder/jquery.placeholder.js"></script>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../content/bootstrap/js/bootstrap.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59636160-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <header class="header">
        <main>
        </main>
    </header>

    <!-- Contato Obrigado -->
    <section class="section" id="contato-obrigado">
        <!-- Container -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-5 col-sm-6 col-xs-12" id="col-logo">
                    <a href="https://www.lacoscorporativos.com.br">
                        <img src="../../content/imagesneue/logo.png" class="img-responsive" alt="Laços Corporativos - Soluções em Flores para Empresas" />
                    </a>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h1>Obrigado!</h1>
                    <p>Recebemos seu contato com sucesso. Em breve nossa equipe entrará em contato.</p>
                    <a href="https://www.lacoscorporativos.com.br">
                        <button class="btn btn-default">Voltar para o site</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>
    <!-- /Contato Obrigado -->

    <footer hidden>
        <div class="footer-stripe"></div>
        <div class="footer-bottom">
            <p>Copyright @DateTime.Now.Year © - Laços Corporativos. Todos os Direitos Reservados</p>
        </div>
    </footer>
</body>
</html>