﻿@{
    Layout = null;
    var Path = Request.Path;
} 
    <div id="Menu">
        <div class="div_centraliza">
            <div class="div_texto0" onclick="mostra_esconde('Menu2');">
                <div class="div_menu">
                    <p>
                        MENU</p>
                </div>
                <div class="div_imagem_menu">
                    <img src="/content/imagens/menu_celular.png" class="imagem_menu" alt="Menu" /></div>
            </div>
            <div id="Menu2">
                <div class="div_texto1" id="page-flores">
                    <p>
                        <a href="@Url.Action("Index", "flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'flores']);">
                            FLORES E ARRANJOS</a></p>
                </div>
                <div class="div_texto3" id="page-coroas">
                    <p>
                        <a href="@Url.Action("coroa-de-flores", "flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroa-de-flores']);">
                            COROA DE FLORES</a></p>
                </div>
                <div class="div_texto2" id="page-entrega">
                    <p>
                        <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                            ENTREGA</a></p>
                </div>
                <div class="div_texto4" id="page-formas">
                    <p>
                        <a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
                            FORMAS DE PAGAMENTO</a></p>
                </div>
                @*<div class="div_texto4" id="page-vel-cemit" >
                    <p>
                        <a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'cidades-e-regioes']);">
                            CIDADES E REGIÕES</a></p>
                </div>*@ 
                <div style="background-color: transparent;"  class="div_texto6" id="page-mais-vendidas" onmouseover="mostra('MaisVendidas');"
                    onmouseout="esconde('MaisVendidas');">
                    <p>
                        <a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">
                            MAIS VENDIDAS</a></p>
                </div>
            </div>
          </div>
    </div> 