﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = null;
}
@{
    var produtos = new List<Domain.Entities.Produto>();
    produtos.AddRange(Model.OrderBy(p => p.PrecoMinimo).OrderBy(c => c.Ordem).ToList());
    var ordenacao = "";
    var categorizacao = "";
    if (!String.IsNullOrEmpty(Request["ordenacao"]))
    {
        ordenacao = Request["ordenacao"];
        switch (ordenacao)
        {
            case "preco-menor":
                produtos = produtos.OrderBy(p => p.PrecoMinimo).ToList();
                break;
            case "preco-maior":
                produtos = produtos.OrderByDescending(p => p.PrecoMaximo).ToList();
                break;
            case "mais-vendidas":
                produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                break;
            case "empresas":
                produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                break;
            case "amigos":
                produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                break;
            case "familiares":
                produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                break;
            default:
                produtos = produtos.OrderBy(p => p.PrecoMinimo).OrderBy(c => c.Ordem).ToList();
                break;
        }
    }
    
    if (!String.IsNullOrEmpty(Request["categoria"]))
    {
        categorizacao = Request["categoria"];
        produtos = produtos.Where(p => Domain.Core.Funcoes.GeraNomeArquivoMVC(Domain.Helpers.EnumHelper.GetDescription(p.Tipo).Trim()) == categorizacao).ToList();
    }

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;

    var Count = 1;
    var Line = 1;
}
<div id="HomeTitulo">
    <div class="div_centraliza">
        @if (ViewBag.NaoExibeHeader == null)
        {
            if (ViewBag.Home != null)
            {
                if (ViewBag.Home)
                {
            <h1 class="titulo">
                Flores
            </h1>
            <span class="hideM">para Cidade de São Paulo</span>
                }
            }
            else if (ViewBag.Sugestoes != null)
            {
                if (ViewBag.Sugestoes)
                {
            <div class="titulo">
                <p>
                    Veja as sugestões de flores que encontramos para você</p>
            </div>
                }
            }
            else if (ViewBag.TemPromocaoSemana != null)
            {
                if (ViewBag.TemPromocaoSemana)
                {
            <div class="titulo">
                <p>
                    Confira nossas flores em promoção</p>
            </div>
                }
            }
            
            else if (ViewBag.Titulo != null)
            { 
            <div class="titulo">
                <p>@ViewBag.Titulo</p>
            </div> 
            }
            else
            {
            <h1 class="titulo">
                <p>
                    As melhores flores estão aqui!</p>
            </h1>
            }
            <div class="ordenar">
                <div class="select">
                    <p>
                        <select class="select_input" id="categoria">
                            <option value="">Categorias:</option>
                            @*<option value="flor-de-aniversario" @(categorizacao == "flor-de-aniversario" ? "selected=\"selected\"" : "")>Flor de Aniversário</option>*@
                            @*<option value="orquidea-e-buque" @(categorizacao == "orquidea-e-buque" ? "selected=\"selected\"" : "")>Orquídea e Buquê</option>*@
                            @*<option value="arranjo-maternidade" @(categorizacao == "arranjo-maternidade" ? "selected=\"selected\"" : "")>Arranjos de Maternidade</option>*@
                            <option value="coroa-de-flores" @(categorizacao == "coroa-de-flores" ? "selected=\"selected\"" : "")>Coroa de Flores</option>
                            @*<option value="datas-comemorativas" @(categorizacao == "datas-comemorativas" ? "selected=\"selected\"" : "")>Datas Comemorativas</option>*@
                            <option value="kits-bebe" @(categorizacao == "kits-bebe" ? "selected=\"selected\"" : "")>Kits Bebê</option>
                        </select>
                    </p>
                </div>
                <div class="select">
                    <p>
                        <select class="select_input" onchange="Pagina.Ordenar(this.value);" onmousedown="_gaq.push(['_trackEvent', 'ordenar', 'select', this.value]);">
                            <option value="">Ordenar por:</option>
                            <option value="preco-menor" @(ordenacao == "preco-menor" ? "selected=\"selected\"" : "")>
                                Mais baratas</option>
                            <option value="preco-maior" @(ordenacao == "preco-maior" ? "selected=\"selected\"" : "")>
                                Mais caras</option>
                            <option value="mais-vendidas" @(ordenacao == "mais-vendidas" ? "selected=\"selected\"" : "")>
                                Mais vendidas</option>
                            <option value="empresas" @(ordenacao == "empresas" ? "selected=\"selected\"" : "")>Para
                                empresas</option>
                            <option value="amigos" @(ordenacao == "amigos" ? "selected=\"selected\"" : "")>Para
                                amigos</option>
                            <option value="familiares" @(ordenacao == "familiares" ? "selected=\"selected\"" : "")>
                                Para familiares</option>
                        </select>
                    </p>
                </div>
            </div>
            <form id="buscar-local" method="get" action="@Url.Action("buscar", "local")"> 
            </form>
        }
    </div>
</div>

<div class="divisorM">
    <span></span>
</div>
@if (produtos.Any())
{
    if (Request.Path == "/" && string.IsNullOrEmpty(Request.QueryString["ordenacao"]))
    {
        produtos = produtos.Where(r => r.ID != 26 && r.ID != 31 && r.ID != 3 && r.ID != 19).ToList();
    }
    
    <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
    <div id="ListagemProdutos">
        <div class="div_centraliza">
            @foreach (var coroa in produtos)
            {
                var coroapromo = false;
                var tamanhopequeno = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "pequena");
                var tamanhomedio = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "media");
                var tamanhogrande = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "grande");
                <div class="produto Line@(Line)" id="Produto_@(coroa.ID)" style="@*@(Line > 1 && ViewBag.Home != null ? "display:none;" : "")*@">
                    @{
                if (Count % 4 == 0)
                {
                    Line++;
                }
                    }
                    <div class="quadrado@(Count % 4 == 0 ? Html.Raw("2") : Html.Raw("1"))">
                        
                        @if (promocao != null)
                        {
                            coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
                            if (coroapromo)
                            {
                            <span class="Desconto">
                                @promocao.Desconto% de desconto </span>
                            }
                            else
                            {
                            <span class="Desconto CleanDesconto"></span>
                            }
                        }
                        <div class="foto">
                            <a href="@Url.RouteUrl("Produto", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="foto_tamanho" alt="@coroa.ImgAlt" title="@coroa.ImgTitle"/>
                            </a>
                        </div>
                        @*<div><a class="categoria @Domain.Core.Funcoes.GeraNomeArquivoMVC(Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo).Trim())" href="/flores/@Domain.Core.Funcoes.GeraNomeArquivoMVC(Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo).Trim())">@Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo)</a></div>*@
                        <h2 class="titulo">
                             @coroa.Nome</h2>
                        <div class="tamanho_imagens">
                            <center>
                                <div class="escolha_tamanho_div">
                                    @if (tamanhopequeno != null)
                                    {
                                        <div id="pequena@(coroa.ID)_s" class="escondido_left CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho" /></div>
                                        <div id="pequena@(coroa.ID)_ns" class="esquerda CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhopequeno.ID);mostra('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('grande@(coroa.ID)');mostra('pequena@(coroa.ID)_s');esconde('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="media@(coroa.ID)_s" class="esquerda CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');" alt="Tamanho"/></div>
                                        <div id="media@(coroa.ID)_ns" class="escondido_left CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');esconde('media@(coroa.ID)_ns');mostra('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                    @if (tamanhogrande != null)
                                    {
                                        <div id="grande@(coroa.ID)_s" class="escondido_left CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');" alt="Tamanho"/></div>
                                        <div id="grande@(coroa.ID)_ns" class="esquerda CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');esconde('grande@(coroa.ID)_ns');mostra('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                </div>
                            </center>
                        </div>
                        @foreach (var item in coroa.ProdutoTamanhoes.OrderBy(c => c.Preco).Take(1))
                        {
                                    
                            <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)" >
                                <div class="tamanho_texto">
                                    @item.Tamanho.Dimensao</div>
                                    <div class="valor">
                                @if (!coroapromo)
                                {
                                        <div class="valorDe">
                                            &nbsp;
                                        </div>
                                        <div class="valorPor">
                                            <span>a partir de</span> @item.Preco.ToString("C2")</div> 
                                }
                                else
                                {
                                    decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100)); 
                                        <div class="valorDe">
                                            Dê <del>@item.Preco.ToString("C2")</del>
                                        </div>
                                        <div class="valorPor" style="color: #00AB4E;">
                                            Por
                                            @if (configuracoes.Parcela > 1)
                                            {
                                                @precopromo.ToString("C2")
                                            }
                                        </div>
                                }
                                    </div>
                            </div>
                                    
                        } 
                        <div class="comprar">
                            <a href="@Url.RouteUrl("Produto", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" id="comprar@(coroa.ID)" class="comprarproduto2">
                                <img src="/Content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar" />
                            </a>
                        </div>
                    </div>
                </div>
                        Count++;
            }
        </div> 
    </div>
}
<script type="text/javascript">  var  totalLinha = @Line;</script>
<!-- /Nova Listagem de Produtos -->
<div id="ListagemProdutos2">
    @if (produtos.Any())
    {
        Count = 0;
        <div class="div_centraliza" id="ListaProdutos">
            @foreach (var coroa in produtos)
            {
                Count += 1;
                var coroapromo = false;
                var tamanhopequeno = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "pequena");
                var tamanhomedio = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "media");
                var tamanhogrande = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "grande");
                    
                    
                    
                <div class="containerM">
                    <a href="@Url.RouteUrl("Produto", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                        <div class="row-prod">
                            <span class="col1"><span class="imgcropper">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="foto_tamanho" alt="@coroa.ImgAlt" title="@coroa.ImgTitle"/>
                            </span></span><span class="col2">
                                @if (promocao != null)
                                {
                                    coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;

                                    if (coroapromo)
                                    {
                                    <span class="promoM">Em Promoção</span>
                                    }
                                }
                                <h4>
                                    @Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo) @coroa.Nome.Replace("Coroa de Flores", "")</h4>
                                @foreach (var item in coroa.ProdutoTamanhoes.Where(r => r.TamanhoID == 1 || r.TamanhoID == 4).ToList())
                                {
                                       
                                    <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)_m"  @(item.Tamanho.Nome.ToLower().Replace("é", "e") == "media" ? Html.Raw("") : Html.Raw("class='escondido'"))>
                                        @*@item.Tamanho.Dimensao*@
                                        @if (!coroapromo)
                                        {
                                            @*Preço sem Promoção*@
                                            <div class="precoM nodisc">@item.Preco.ToString("C2")</div>
                                        }
                                        else
                                        {
                                            decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                            
                                            @*Preço antes da Promoção*@
                                            <div class="Desconto">
                                                de @item.Preco.ToString("C2");</div>
                                                                  
                                            if (configuracoes.Parcela > 1)
                                            {
                                                
                                            @*Preço depois da Promoção*@
                                            <div class="precoM yesdisc">
                                                por @precopromo.ToString("C2")</div>
                                            }

                                        }
                                    </div>
                                }
                                              @foreach (var item in coroa.ProdutoTamanhoes.OrderBy(c => c.Preco).Take(1))
                                              {

                                                  <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)">
                                                      <div class="tamanho_texto">
                                                          @item.Tamanho.Dimensao
                                                      </div>
                                                      <div class="valor">
                                                          @if (!coroapromo)
                                                          {
                                                              <div class="valorDe">
                                                                  &nbsp;
                                                              </div>
                                                              <div class="valorPor">
                                                                  <span>a partir de</span> @item.Preco.ToString("C2")
                                                              </div>
                                                          }
                                                          else
                                                          {
                                                              decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                                              <div class="valorDe">
                                                                  Dê <del>@item.Preco.ToString("C2")</del>
                                                              </div>
                                                              <div class="valorPor" style="color: #00AB4E;">
                                                                  Por
                                                                  @if (configuracoes.Parcela > 1)
                                                                  {
                                                                      @precopromo.ToString("C2")
                                                                  }
                                                              </div>
                                                          }
                                                      </div>
                                                  </div>

                                              }
                                             
                                              
                            </span><span class="arrow-rightM" role="button">></span>
                        </div>
                    </a>
                </div>
                <div class="divisorM">
                    <span></span>
                </div>
                    
                    
                <div class="quadrado1 produtosM" id="produto_m_@(Count)" style="@(Count > 1 ? "display:none;" : "")">
                    @*@if (promocao != null)
                        {
                            coroapromo = promocao.PromocaoProduto.Count(c => c.ProdutoID == coroa.ID) > 0;
                            if (coroapromo)
                            {
                                <text>@promocao.Desconto% de desconto</text>
                            }
                        }*@ @*<div class="tamanho_imagens">
                            <center>
                                <div class="escolha_tamanho_div">
                                    @if (tamanhopequeno != null)
                                    {
                                        <div id="pequena@(coroa.ID)_m_s" class="escondido_left">
                                            <img src="/content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho"></div>

                                        <div id="pequena@(coroa.ID)_m_ns" class="esquerda">
                                            <img src="/content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhopequeno.ID);mostra('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');mostra('pequena@(coroa.ID)_m_s');esconde('pequena@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_s');mostra('grande@(coroa.ID)_m_ns');esconde('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="media@(coroa.ID)_m_s" class="esquerda">
                                            <img src="/content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');" alt="Tamanho"></div>

                                        <div id="media@(coroa.ID)_m_ns" class="escondido_left">
                                            <img src="/content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m_s');mostra('pequena@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_s');mostra('grande@(coroa.ID)_m_ns');esconde('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="grande@(coroa.ID)_m_s" class="escondido_left">
                                            <img src="/content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');" alt="Tamanho"></div>

                                        <div id="grande@(coroa.ID)_m_ns" class="esquerda">
                                            <img src="/content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m_s');mostra('pequena@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_s');esconde('grande@(coroa.ID)_m_ns');mostra('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                </div>
                            </center>
                        </div>*@ @* <div class="mais_detalhes">
                        <a href="@Url.RouteUrl("Produto", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                            + detalhes da coroa</a></div>
                    <div class="comprar">
                        <a href="javascript:void(0);" id="comprar@(coroa.ID)_m" class="comprarproduto2" data-id="@tamanhomedio.ID" data-nome="@coroa.Nome">
                            <img src="/Content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar" />
                        </a>
                    </div>*@
                </div>
                    
                    
            }
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var totalProdutosM = @Count;
        var produtoCount = 1;
        $('#seta_esquerda').click(function () {    
            produtoCount = produtoCount -1;
            if(produtoCount > 1 && produtoCount < totalProdutosM){
                $('.produtosM').hide();
                $('#produto_m_' + produtoCount).show();
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_h.png");
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_h.png"); 
            }else{
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_d.png");
                }
        });

        $('#categoria').change(function(){
            if($(this).val() == "coroa-de-flores"){
                window.location = "/flores/coroa-de-flores";
            //if($(this).val() == "flor-de-aniversario"){
            //    window.location = "/flores/flor-de-aniversario";
            //}else if($(this).val() == "orquidea-e-buque"){
            //    window.location = "/flores/orquidea-e-buque";
            //}else if($(this).val() == "arranjo-maternidade"){
            //    window.location = "/flores/arranjo-maternidade";
            }else if($(this).val() == "datas-comemorativas"){
                window.location = "/flores/datas-comemorativas";
            }else if($(this).val() == "kits-bebe"){
                window.location = "/flores/kits-bebe";
            }

            //alert("trocou");

        });

        if(window.location.href.indexOf("/flores/coroa-de-flores") > -1) {
            $('#categoria').find('option[value="coroa-de-flores"]').attr('selected',true);
         //if(window.location.href.indexOf("/flores/flor-de-aniversario") > -1) {
         //    $('#categoria').find('option[value="flor-de-aniversario"]').attr('selected',true);
         //}else if(window.location.href.indexOf("/flores/orquidea-e-buque") > -1) {
         //   $('#categoria').find('option[value="orquidea-e-buque"]').attr('selected',true);
         //}else if(window.location.href.indexOf("/flores/arranjo-maternidade") > -1) {
         //   $('#categoria').find('option[value="arranjo-maternidade"]').attr('selected',true);
         }else if(window.location.href.indexOf("/flores/datas-comemorativas") > -1) {
            $('#categoria').find('option[value="datas-comemorativas"]').attr('selected',true);
         }else if(window.location.href.indexOf("/flores/kits-bebe") > -1) {
             $('#categoria').find('option[value="kits-bebe"]').attr('selected',true);
         }

        $('#seta_direita').click(function () {            
            produtoCount = produtoCount +1;
            if(produtoCount > 1 && produtoCount < totalProdutosM){
                $('.produtosM').hide();
                $('#produto_m_' + produtoCount).show();
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_h.png");
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_h.png");
            }else{
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_d.png"); 
                }
        });
    });
</script>
