﻿.popping {
    background: white;
    border: 1px solid #c0c0c0;
    position: absolute;
    z-index: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2)
}
@media (max-width: 767px) {
    .popping {
        width: 200px;
        left: 50%;
        margin-left: -100px
    }
}
@media (min-width: 768px) {
    .popping {
        width: calc(100% - 30px);
        max-width: 205px;
        top: 100%;
        left: 15px
    }
}
.popping:before,
.popping:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-style: solid
}
.popping:after {
    border-color: transparent transparent #f5f5f5 transparent;
    border-width: 9px;
    left: calc(50% + 1px)
}
.popping:before {
    border-color: transparent transparent #c0c0c0 transparent;
    border-width: 10px
}
.popping .pop-title {
    margin: 0;
    padding: 4px 0;
    text-align: center;
    font-size: 13px;
    background: #f5f5f5
}
.popping .pop-content {
    padding: 5px 10px
}
.popping .pop-content p {
    margin: 0 0 5px 0
}
.popping .pop-content p:not(:last-child) {
    margin-bottom: 0
}
.popping .pop-content div {
    margin: 8px 0
}
.popping .pop-content input[type=checkbox] {
    margin-right: 4px;
    position: relative;
    top: 2px
}