﻿ .chart {
    position: relative;
    display: inline-block;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.percent {
    display: inline-block; 
    z-index: 2;
    font-weight: bolder;
}
.percent:after {
    content: '%';  
    
}