﻿#processando {
    display: none;
}

.carregando-branco {
    background: url('images/ajax-loader-fff.gif') 10px 50% no-repeat;
    padding-left: 30px;
    display: none;
    width: 200px !important;
}

.carregando-preto {
    background: url('images/ajax-loader-000.gif') 10px 50% no-repeat;
    padding-left: 30px;
    display: none;
    width: 200px !important;
}

.branco {
    color: #fff;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.padding_1 {
    padding: 2px 5px;
}

.pagina {
    color: #fff;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.p_mensagem {
    border: 1px solid #ccc;
    width: 100%;
    height: 120px;
}

.p_mensagem2 {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    margin: 0;
}

.list_mensagens {
    float: left;
    width: 500px;
    margin-right: 10px;
}

.mensagem_descricao {
    width: 49%;
    float: left;
}

.mensagem_destaque {
    background-color: #96B3E3 !important;
}

.mensagem_nao_lida {
    font-weight: bold;
}
/**/
.mws-panel .mws-panel-divisor {
    background-color: #f8f8f8;
    margin: 0 2px;
    border: 1px solid #bcbcbc;
    border-bottom: 0;
    /* CSS 3 */
    -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    -khtml-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.15);
}


.mws-form label.large {
    padding-bottom: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.mws-form fieldset legend.divisao {
    margin-left: 10px;
    padding: 0 4px;
    border: 0;
}

.mws-help {
}

#submenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px; /* Width of Menu Items */
}

    #submenu ul li {
        position: relative;
        border: 1px solid #ccc;
        width: 100px;
    }

#submenu li ul {
    position: absolute;
    left: 149px; /* Set 1px less than menu width */
    top: 0;
    display: none;
}

/* Styles for Menu Items */
#submenu ul li a {
    display: block;
    text-decoration: none;
    color: #777;
    background: #fff; /* IE6 Bug */
    padding: 5px;
    border-bottom: 0;
}

    #submenu ul li a:hover {
        color: #E2144A;
        background: #f9f9f9;
    }
/* Hover Styles */

#submenu li ul li a {
    padding: 2px 5px;
}
/* Sub Menu Styles */

#submenu li:hover ul, li.over ul {
    display: block;
}
/* The magic */




div.list_categorias {
    background: #F7F7F7;
    border: 1px dotted #ccc;
    padding: 5px;
}



/*Edicao de fotos*/

table.mws-gallery tr td {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}

table.mws-gallery tr th {
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
}

    table.mws-gallery tr th.no_border {
        border-bottom: 0px;
        border-right: 0px;
        border-top: 0px;
    }

table.mws-gallery tr div.mws-gallery_td {
    margin: 0;
    list-style: none;
}

table.mws-gallery tr div.mws-gallery_td {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 4px;
    position: relative;
    cursor: pointer;
    border: 1px solid #999999;
    background: #ffffff;
    padding: 5px;
}

table.mws-gallery div.mws-gallery_td img {
    max-width: 100%;
}

table.mws-gallery div.mws-gallery_td:hover .mws-gallery-overlay {
    display: block;
}

table.mws-gallery div.mws-gallery_td .mws-gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: url(images/core/mws-gallery-overlay.png);
}

    table.mws-gallery div.mws-gallery_td .mws-gallery-overlay .mws-gallery-zoom {
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        background: #323232 url(icons/24/magnifying-glass-2.png) no-repeat center center;
        /* CSS 3 */
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
    }


    table.mws-gallery div.mws-gallery_td .mws-gallery-overlay .mws-gallery-play {
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
        background: #323232 url(icons/24/play.png) no-repeat center center;
        /* CSS 3 */
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
    }

table.dados tr td {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    border-collapse: inherit;
}

.error {
    color: #9B4449;
    font-size: 12px;
}


.saldo_negativo {
    color: #BC4343;
}

.opcao_pagamento_left {
    float: left;
    margin: 10px;
    padding: 20px;
}

.opcao_pagamento_right {
    float: left;
    margin: 10px;
    padding: 20px;
}

.form_fornecedor {
    width: 1012px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border: solid 2px #EEE;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    behavior: url(PIE.htc);
    color: #757575;
    z-index: 3;
    position: relative;
    clear: both;
    background: white;
}

    .form_fornecedor p {
        margin-bottom: 0px;
        margin-top: 5px;
    }

.barra_titulo {
    width: 100%;
    height: 40px;
    background: #EDEDED;
    z-index: 1;
    position: relative;
    font-size: 18px;
    color: #757575;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(PIE.htc);
}

.table_cartao {
    border: 1px solid #CCC;
    width: 45%;
    float: left;
}

    .table_cartao tbody tr {
        border: 1px solid #CCC;
        font-size: 14px;
    }

        .table_cartao tbody tr .codigo_cartao_hidden {
            visibility: hidden;
        }

        .table_cartao tbody tr .codigo_cartao_visible {
            visibility: visible;
        }

#label_cartao {
    width: 100%;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin-top: 50px;
}

.div_selecionada {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    color: #333;
}

.label_plano_free {
    color: #00405C;
}

.label_plano_gold {
    color: #FDB10F;
}


.file-hidde {
    position: absolute;
    left: -137px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 2;
}

.ui-resizable {
    width: 100% !important;
}

.mws-form-message.tip {
    font-size: 14px;
}

.mws-panel .mws-panel-header span.mws-i-24 {
    font-family: verdana;
    font-size: 15px;
    text-transform: uppercase;
}

.status_1 {
    color: #a38a01;
    font-weight: bold;
}

.status_2 {
    color: #a33301;
    font-weight: bold;
}

.status_3 {
    color: #021c7f;
    font-weight: bold;
}

.status_4 {
    color: #d7e403;
    font-weight: bold;
}

.status_5 {
    color: #490101;
    font-weight: bold;
}

.filtro input[type=button] {
    float: left;
    margin-right: 10px;
    width: 170px;
}

.filtro {
    margin-bottom: 10px;
    padding: 20px;
    font-weight: bold;
}

.nova {
    background-color: #fdfbcf !important;
}

.nova_notificacao {
    float: right;
    display: block;
    width: 100px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    background-color: #c00;
    top: -4px;
    right: -4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.mws-form-row label {
    font-weight: bold;
}

.mws-datepicker, .mws-datepicker-hhmm {
    width: 150px !important;
}

.mws-wizard ul li {
    background: none;
}

    .mws-wizard ul li a, .mws-wizard ul li span {
        color: #ccc;
    }

.select {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.1) inset;
    color: #323232;
    margin: 0;
    outline: medium none;
    padding: 6px 7px;
}

.aguardandopagamento, .emanalise {
    color: #b6a218;
}

.prejuizo {
    color: red;
}

.pago {
    color: #094297;
}

.cancelado, .pedidocancelado, .cancelada {
    color: #973409;
}

.estornado, .naofaturado {
    color: #f18419;
}

.criado, .novopedido, .nova {
    color: #098d16;
}

.processando, .pedidoemanalise {
    color: #103e92;
}

.concluido, .pedidoconcluido, .paga, .resolvido {
    color: #094297;
}

.removido, .pedidoreprovado, .estornado {
    color: #6c161e;
}

.pendente {
    color: #098d16;
}

.despachado {
    color: #057aa6;
}

.entregue {
    color: #094297;
}

.entreganaorequerida {
    color: #9505a6;
}

.devolvido {
    color: #e69811;
}

.principal {
    background-color: #000000;
    font-family: arial;
    color: #9999CC;
    font-size: 18px;
    font-weight: bold;
}

.menusuperior {
    width: 100%;
    height: 33px;
    background-color: #3d414a;
}

div.mws-panel-toolbar ul li a:visited {
    color: #cccccc;
}
