﻿.center
{
    text-align: center;
}

.NrVendas
{
    font-size: 28px;
}

#NPSDash .progress
{
    margin-top: 16px;
    margin-bottom: 16px;
}

#NPSDash .titleNPS b
{
    font-size: 18px;
}

.tipo-pedido {
    color: #666666;
}

#ListagemRemessa .nav-stacked{
    margin-top: 35px;
}

hr.TopPadding{
    margin-top: 40px;
}

.TopoRemessa{
   margin-top: 15px;
}

#TopoRemessa{
    margin-top: 10px;
}

#NovaRemessaCPV{
    margin-bottom: 10px;
    margin-top: 10px;
}

#NovaRemessaLC{
    margin-bottom: 10px;
    margin-top: 10px;
}

#ProdutosMaisVendidos .DescNome{
    padding-top: 10px;
}

#MeiosDePagamentos .DescNome{
    padding-top: 10px;
}