﻿@model Domain.Entities.PedidoEmpresa

@if (Model != null)
{
    var PedidoEmpresa = (Domain.Entities.PedidoEmpresa)Model;

    <h2>
        Pedido
    </h2>
    <table cellpadding="2" cellspacing="2" border="0" width="100%" class="tabela">
        <tr>
            <td colspan="2">
                <span class="titulo">Pedido: </span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="item">@Model.ID</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="titulo">Produto: </span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="item">@Model.ProdutoTamanho.Produto.Tipo @Model.ProdutoTamanho.Produto.Nome (@Model.ProdutoTamanho.Tamanho.Nome)</span>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <span class="titulo">Data Criação:</span>
            </td>
            <td>
                <span class="titulo">Faturado: </span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.DataCriacao.ToString()</span>
            </td>
            <td>
                <span class="item">@(Model.Faturamento == null ? "Não" : "Sim")</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titulo">Criado por: </span>
            </td>
            <td>
                <span class="titulo">Status: </span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.Colaborador.Nome</span>
            </td>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(Model.Status)</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titulo">Valor: </span>
            </td>
            <td>
                <span class="titulo">Data/Hora Solicitada:</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.Valor.ToString("c2")</span>
            </td>
            <td>
                <span class="item">@Model.DataSolicitada.ToString("dd/MM/yyyy HH'h'mm")</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titulo">Nome do Homenageado:</span>
            </td>
            <td>
                <span class="titulo">Frase:</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.PessoaHomenageada</span>
            </td>
            <td>
                <span class="item">@Model.Mensagem</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titulo">Nome do Funcionário:</span>
            </td>
            <td>
                <span class="titulo">Parentesco:</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.NomeFuncionario</span>
            </td>
            <td>
                <span class="item">@Model.Parentesco</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="titulo">Departamento:</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="item">@Model.Departamento</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="titulo">Local de Entrega:</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="item">@Model.LocalEntrega</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="titulo">Estado:</span>
            </td>
            <td>
                <span class="titulo">Cidade:</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="item">@Model.Estado.Nome</span>
            </td>
            <td>
                <span class="item">@Model.Cidade.Nome</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="titulo">Observações:</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="item">@Model.Observacoes</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <span class="titulo">Telefone Contato:</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="item">@Model.TelefoneContato</span>
            </td>
        </tr>
    </table>
    <h2>
        Entrega
    </h2>
    <table cellpadding="2" cellspacing="2" border="0" width="100%" class="tabela">
        <tsr>
            <td>
                <span class="titulo">Status Entrega: </span>
            </td>
            <td>
                <span class="titulo">Recebido Por: </span>
            </td>
        </tsr>
        <tr>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(PedidoEmpresa.StatusEntrega)</span>
            </td>
            <td>
                <span class="item">@PedidoEmpresa.RecebidoPor</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titulo">Relacionamento com Homenageado: </span>
            </td>
            <td>
                <span class="titulo">Data Entrega: </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="titulo">@PedidoEmpresa.ParentescoRecebidoPor</span>
            </td>
            <td>
                <span class="titulo">
                    @{
                        if (PedidoEmpresa.DataEntrega != null)
                        {
                            @PedidoEmpresa.DataEntrega.Value.ToString()
                        }
                    }
                </span>
            </td>

        </tr>
        <tr>
            <td>
                <span class="titulo">Data Solicitada p/ Entrega: </span>
            </td>
            <td>
                <span class="titulo">Local Entrega: </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    @{
                        if (PedidoEmpresa.DataSolicitada != null)
                        {
                            @PedidoEmpresa.DataSolicitada.ToString()
                        }
                    }
                </span>
            </td>
            <td>
                <span>
                    @PedidoEmpresa.Cidade.NomeCompleto
                    <br />
                    @PedidoEmpresa.ComplementoLocalEntrega
                    @{
                        if (PedidoEmpresa.LocalID != null)
                        {
                            @PedidoEmpresa.Local.Titulo
                        }
                    }
                </span>
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <span class="titulo">Obs. Entrega: </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    @PedidoEmpresa.ObsEntrega
                </span>
            </td>
        </tr>
    </table>
    <br /><br />
}
else
{
    <p>Pedido inválido!</p>
}

