﻿@model IEnumerable<Domain.Entities.PedidoEmpresa>
    @{
        ViewBag.H1 = "Histórico de Pedidos";
        Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
        var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;
        var labelpedidos = "Pedidos";

        var de = "";
        var ate = "";
        var status = 0;
        var pedidos = Model;


        if (!String.IsNullOrEmpty(Request["de"]))
        {
            de = Request["de"];
            DateTime _de;
            if (DateTime.TryParse(de, out _de))
            {
                _de = new DateTime(_de.Year, _de.Month, _de.Day, 0, 0, 0);
                pedidos = pedidos.Where(p => p.DataCriacao >= _de);
                labelpedidos += " de <b>" + Request["de"] + "</b>";
            }
        }


        if (!String.IsNullOrEmpty(Request["ate"]))
        {
            ate = Request["ate"];
            DateTime _ate;
            if (DateTime.TryParse(ate, out _ate))
            {
                _ate = new DateTime(_ate.Year, _ate.Month, _ate.Day, 23, 59, 59, 999);
                pedidos = pedidos.Where(p => p.DataCriacao <= _ate);
                labelpedidos += " até <b>" + Request["ate"] + "</b>";
            }
        }
        else
        {
            labelpedidos += " até o momento";
        }

        if (!String.IsNullOrEmpty(Request["status"]))
        {
            if (int.TryParse(Request["status"], out status))
            {
                pedidos = pedidos.Where(p => p.StatusID == status);
            }
        }

    }
    <div class="row form-horizontal">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    De
                </label>
                <div class="col-md-12">
                    <input id="de" type="text" class="busca form-control input-md" value="@de" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Até
                </label>
                <div class="col-md-12">
                    <input id="ate" type="text" class="busca form-control input-md" value="@ate" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Status
                </label>
                <div class="col-md-12">
                    <select id="status" class="busca">
                        <option value="">- Todos - </option>
                        <option value="1" @(status == 1 ? "selected=\"selected\"" : "")>Novo pedido</option>
                        <option value="2" @(status == 2 ? "selected=\"selected\"" : "")>Processado</option>
                        <option value="5" @(status == 5 ? "selected=\"selected\"" : "")>Pedido concluído</option>
                        <option value="4" @(status == 4 ? "selected=\"selected\"" : "")>Pedido cancelado</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="button" value="Filtrar" class="btn pull-right" onclick="Filtrar()" />
            <input type="button" value="Exportar para Excel" class="btn pull-right" onclick="Exportar()" style="float:right; margin-right: 5px;" />
        </div>
    </div>
    <div class="row ListagemPedidos">
        <table class="table">
            <thead>
                <tr class="titulo">
                    <th>
                        PEDIDO
                    </th>
                    <th>
                        DATA
                    </th>
                    <th>
                        PRODUTO
                    </th>
                    <th>
                        VALOR
                    </th>
                    <th>
                        STATUS
                    </th>
                    <th>
                        DETALHES
                    </th>
                    <th>
                        ENTREGA
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            @if (pedidos.Any())
            {
                foreach (var pedido in pedidos)
                {
                    <tbody>
                        <tr class="item">
                            <td>
                                <div class="solicitar text-center">
                                    @pedido.ID
                                    <i><div class="depto">@pedido.Origem</div></i>
                                </div>
                            </td>
                            <td class="od" width="150">
                                <span class="data">@pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")</span>
                                @if (!String.IsNullOrEmpty(pedido.Colaborador.Departamento))
                                {
                                    <i><div class="depto">@pedido.Colaborador.Departamento</div></i>
                                }
                            </td>
                            <td>
                                @pedido.ProdutoTamanho.Produto.Nome (@pedido.ProdutoTamanho.Tamanho.Nome - @pedido.ProdutoTamanho.Tamanho.Dimensao)<br />
                                <i>@Domain.Helpers.EnumHelper.GetDescription(pedido.ProdutoTamanho.Produto.Tipo)</i>
                            </td>
                            <td class="od" width="150">
                                @pedido.Valor.ToString("c2")
                            </td>
                            <td>
                                @{
                                    string Status = Domain.Helpers.EnumHelper.GetDescription(pedido.Status).Replace("Pedido", "");
                                    if (Status == " em Análise")
                                    {
                                        Status = "Processado";
                                    }
                                }

                                <div class="status @pedido.Status">@Status</div>
                            </td>
                            <td width="80" class="text-center" class="od">
                                <a href="javascript:void(0);" onclick="Pedido.Abrir('@pedido.Codigo')">
                                    <i class="glyphicon glyphicon-plus">
                                    </i>
                                </a>                                
                            </td>
                            <td width="80" class="text-center" class="od">
                                @if (pedido.ProdutoKitBB == true && pedido.CodRastreamentoMandae != null)
                                {
                                    <a href="javascript:void(0);" onclick="Pedido.AbrirEntrega('@pedido.CodRastreamentoMandae')">
                                        <i class="glyphicon glyphicon-plus">
                                        </i>
                                    </a>
                                }
                            </td>
                            <td>
                                <div class="solicitar text-center">
                                    <a href="javascript:void(0);" onclick="Pedido.Solicitar('@pedido.Codigo')">Solicitar <br />Faturamento</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            }
            else
            {
                <tbody>
                    <tr class="item">
                        <td colspan="6" align="center">
                            Nenhum pedido localizado.
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <span class="pequeno">@Html.Raw(labelpedidos)</span>
    </div>
    <div id="Detalhes" title="DETALHES DO PEDIDO">
        <div>
        </div>
    </div>
    <div id="DetalhesDaEntrega" title="DETALHES DA ENTREGA">
        <div>            
        </div>
    </div>
    @section Script{
        <script type="text/javascript">

        var Pedido = new function () {

            this.Abrir = function (codigo) {
                $('#Detalhes div').html('');
                $.post('@Url.Action("detalhes")', { codigo: codigo }, function (data) {
                    $('#Detalhes div').html(data);
                });
                $("#Detalhes").dialog({
                    open: function () {
                        $(this).closest('.ui-dialog').css({ 'top': '100px' });
                    },
                    resizable: false,
                    width: 900,
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            };

            this.AbrirEntrega = function (codigo) {
                $('#DetalhesDaEntrega div').html('Carregando... <img src="/Content/images/loading.gif" />');
                $.get('/empresas/Home/GetStatusEntrega?NrRastreamento=' + codigo, function (data) {

                    if (data.Erro != null) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Houve um erro ao carregar os dados da entrega!'
                        });

                    } else {
                        $('#DetalhesDaEntrega div').html('');

                        if (data.events.length > 0) {
                            $.each(data.events, function (index, obj) {
                                $('#DetalhesDaEntrega div').append("<span>" + obj.date + ": <b>" + obj.name + "</b></span><br /><p>" + obj.description + "</p>");
                            });
                        }
                        else {
                            $('#DetalhesDaEntrega div').append("<p>Ainda naoo há dados disponíveis para essa entrega.</p>");
                        }
                    }
                });
                $("#DetalhesDaEntrega").dialog({
                    open: function () {
                        $(this).closest('.ui-dialog').css({ 'top': '100px' });
                    },
                    resizable: false,
                    width: 900,
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            };

            this.Solicitar = function (codigo) {
                $.post('@Url.Action("solicitar")', { codigo: codigo }, function (data) {
                    alert('Um email foi enviado aos administradores solicitando o faturamento desse pedido. Obrigado!');
                });
            };
        };

        function Filtrar() {
            var url = '@Url.Action("Index")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&status=' + $('#status').val();
            window.location = url;
        }



        function Exportar() {
            var url = '@Url.Action("Exportar")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&status=' + $('#status').val();
            window.location = url;
        }

        $(document).ready(function () {

            //            var item = $("#menu-pedidos");
            //            item.removeClass("hover");
            //            var img = item.children("img:first");
            //            img.attr("src", img.attr("src").replace('-off', '-on'));

            $("#de").mask("99/99/9999");
            $("#de").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#ate").mask("99/99/9999");
            $("#ate").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
        </script>
    }
