﻿
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@model IEnumerable<Domain.Entities.Pedido>


    @{
        ViewBag.Title = "Pedidos Site";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var origemSite = (IEnumerable<SelectListItem>)ViewBag.OrigemSite;
        var _requestCod = Request.QueryString["cod"];
        var _requestMsg = Request.QueryString["msg"];

        var _requestNumero = Request.QueryString["numero"];
        var _requestNome = Request.QueryString["nome"];
        var _requestDocumento = Request.QueryString["documento"];
        var _requestDataInicial = Request.QueryString["datainicial"];
        var _requestDataFinal = Request.QueryString["datafinal"];
        var _requestEmail = Request.QueryString["email"];
        var _requestPossuiFoto = Request.QueryString["PossuiFoto"];
        var _requestStatus = Request.QueryString["status"];
        var _requestStatusPagamento = Request.QueryString["statuspagamento"];
        var _requestStatusEntrega = Request.QueryString["statusentrega"];
        var _requestMeioPgto = Request.QueryString["meiopagamento"];

        var _ProcessouPedido = Domain.Entities.AdministradorPedido.Acao.ProcessouPedido;
        var _TodosStatusPagamento = typeof(Domain.Entities.Pedido.TodosStatusPagamento);
        var _TodosStatusProcessamento = typeof(Domain.Entities.Pedido.TodosStatusProcessamento);
        var _TodosStatusEntrega = typeof(Domain.Entities.TodosStatusEntrega);
        var _MeiosPagamento = typeof(Domain.Entities.Pedido.MeiosPagamento);
    }
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                $('#pedidos').addClass('active');
                $('#i_pedidos_site').addClass('active');

                $(".filtrarBtn").click(function () {

                            if ($(".InputNUmero").val() == "") {
                                if ($("#datainicial").val() == "") {
                                    alert('Preencha uma data Inicial');
                                    return false;
                                }
                                if ($("#datafinal").val() == "") {
                                    alert('Preencha uma data Final');
                                    return false;
                                }
                            }
                        });
                    });
        </script>
    }
    @if (_requestCod == MvcExtensions.Controllers.Message.SaveSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Salvo com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
    {
        <div class="mws-form-message mws-panel success">
            Removido com sucesso!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    else if (_requestCod == MvcExtensions.Controllers.Message.SaveFailure.ToString() || _requestCod == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
    {
        <div class="mws-form-message mws-panel error">
            Erro!
            <br />@(Server.UrlDecode(_requestMsg))
        </div>
    }
    <style type="text/css">
        .dataTables_filter table table tr td{
            padding-bottom: 5px;
            padding-left: 5px;
        }
    </style>
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">
                Pedidos do site @(_requestNome != null ? " para o cliente " + _requestNome : "")
                <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Novo", "PedidosSite")';" />
            </span>
        </div>
        <div class="mws-panel-body">
            <div class="dataTables_wrapper">
                <div class="dataTables_filter" style="text-align: left;">
                    <form method="get">
                        <table align="center" style="margin: 0px auto;">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <strong>Número do Pedido:</strong>
                                            </td>
                                            <td>
                                                <input type="text" name="numero" class="InputNUmero" value="@_requestNumero" autocomplete="off" style="width:150px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nome do Cliente/Razão Social:</td>
                                            <td>
                                                <input type="text" name="nome" value="@_requestNome" autocomplete="off" style="width:500px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Data de Inicial:</td>
                                            <td>
                                                <input type="text" name="datainicial" id="datainicial" value="@(_requestDataInicial == null ? DateTime.Now.ToString("dd/MM/yyyy") : _requestDataInicial)" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Data de Final:</td>
                                            <td>
                                                <input type="text" name="datafinal" id="datafinal" value="@_requestDataFinal" autocomplete="off" class="mws-textinput mws-datepicker" style="width:150px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Status de Entrega:</td>
                                            <td>@Html.DropDownListForEnum("statusentrega", _TodosStatusEntrega, (!String.IsNullOrEmpty(_requestStatusEntrega) ? Convert.ToInt32(_requestStatusEntrega) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>CPF / CNPJ:</td>
                                            <td><input type="text" name="documento" value="@_requestDocumento" autocomplete="off" style="width:150px;" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                E-mail:
                                            </td>

                                            <td>
                                                <input type="text" name="email" value="@_requestEmail" autocomplete="off" style="width:150px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Possui Foto:
                                            </td>
                                            <td>
                                                <select name="PossuiFoto" id="PossuiFoto" style="width:300px;">
                                                    <option value="">Selecione uma opção</option>
                                                    <option @if (!string.IsNullOrEmpty(_requestPossuiFoto) && _requestPossuiFoto.ToString() == "SIM") { <text> selected </text> } value="SIM">SIM</option>
                                                    <option @if (!string.IsNullOrEmpty(_requestPossuiFoto) && _requestPossuiFoto.ToString() == "NAO") { <text> selected </text> } value="NAO">NÃO</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Status de Pagamento:</td>
                                            <td>@Html.DropDownListForEnum("statuspagamento", _TodosStatusPagamento, (!String.IsNullOrEmpty(_requestStatusPagamento) ? Convert.ToInt32(_requestStatusPagamento) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Meio de Pagamento:</td>
                                            <td>@Html.DropDownListForEnum("meiopagamento", _MeiosPagamento, (!String.IsNullOrEmpty(_requestMeioPgto) ? Convert.ToInt32(_requestMeioPgto) : 0), new { style = "width:300px;" })</td>
                                        </tr>
                                        <tr>
                                            <td>Processado por:</td>
                                            <td>
                                                @{
                                                    List<Domain.Entities.Administrador> LstUsers = new List<Domain.Entities.Administrador>();
                                                    LstUsers = (List<Domain.Entities.Administrador>)ViewBag.LstUsuarios;

                                                    <select name="administradorid" id="administradorid" style="width:300px;">
                                                        <option value="">Selecione uma opção</option>

                                                        @foreach (var User in LstUsers)
                                                        {
                                                            <option @if (Request.QueryString["administradorid"] == User.ID.ToString()) { <text> selected="selected" </text> } value="@User.ID">@User.Nome</option>
                                                        }

                                                    </select>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="mws-panel-toolbar top clearfix" align="center" style="height:30px; top:50%">
                            <input type="submit" class="mws-button green big" value="Filtrar" />
                        </div>
                        <br /><br />
                    </form>
                </div>
                @*<table class="mws-table" style="min-width: 1700px;">*@
                <table class="mws-table">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; width: 120px;">Pedido</th>
                            @*<th style="text-align: center; vertical-align: middle"> Status de Operação</th>*@
                            <th style="text-align: center; vertical-align: middle"> Status <br /><br /> Operação <br />&<br /> Pagamento</th>
                            <th style="text-align: center; vertical-align: middle"> Status de Entrega</th>
                            <th style="text-align: center; vertical-align: middle"> Fornecedor</th>
                            <th style="text-align: center; vertical-align: middle"> Processamento</th>
                            <th style="text-align: center; vertical-align: middle"> Data Solicitada</th>
                            <th style="text-align: center; vertical-align: middle; width: 100px;"> Cliente<br /><br />Origem</th>
                            <th style="text-align: center; vertical-align: middle"> Homenageado<br /><br />Local de Entrega</th>
                            @*<th style="text-align: center; vertical-align: middle"> Data de Criação</th>*@
                            <th style="text-align: center; vertical-align: middle"> Valor Total<br /><br />Repasse</th>
                            @*<th align="center" style="width: 100px;">
                                <th align="center">Repasse</th>*@
                            @*<th align="center" style="width: 100px;">*@
                            <th style="text-align: center; vertical-align: middle"> Forma de Pagamento</th>
                            @*<th align="center">Data de Atualização</th>*@
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            var processamento = item.AdministradorPedidoes.Where(c => c.AcaoEnum == _ProcessouPedido).LastOrDefault();
                            var CorDaLinha = "";

                            TimeSpan ts = (DateTime)item.DataSolicitada - DateTime.Now;



                            // FALTA UMA HORA PARA ENTREGA E AINDA NÃO HÁ FOTO
                            if ((ts.TotalHours > 0 && ts.TotalHours <= 1) && item.PedidoItems.Where(p => p.FotoEntrega == "").Count() > 0)
                            {
                                CorDaLinha = "#FCFF50";
                            }

                            // VERIFICA SE TEM FOTO E A FOTO FOI VALIDADA
                            if (item.PedidoItems.Where(p => p.FotoEntrega == "").Count() == 0 && item.PedidoItems.Where(p => p.FotoValidada == false).Count() == 0)
                            {
                                CorDaLinha = "#3CFD39";
                            }

                            // VERIFICA SE JÁ PASSOU DO HORARIO DE ENTREGA E NÃO TEM FOTO NO SISTEMA
                            if (ts.TotalHours < 0 && (item.PedidoItems.Where(p => p.FotoEntrega == "").Count() > 0 || item.PedidoItems.Where(p => p.FotoValidada == false).Count() > 0))
                            {
                                CorDaLinha = "#FF6161";
                            }
                            <tr>
                                <td style="text-align: center; vertical-align: middle; width: 120px;">
                                    <div class="mws-panel-toolbar top clearfix">
                                        <ul>
                                            <li style="width: 120px;">
                                                <a target="_blank" class="mws-ic-16 ic-view" href="@Url.Action("Visualizar", new { id = item.ID })">
                                                    @item.Numero
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                @*<td style="text-align: center; vertical-align: middle" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusProcessamento)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusProcessamento)</td>*@
                                <td style="text-align: center; vertical-align: middle">
                                        <div class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusProcessamento)">
                                            <strong>Processamento:</strong>
                                            <br />
                                            <br />
                                            @Domain.Helpers.EnumHelper.GetDescription(item.StatusProcessamento)
                                        </div>
                                        <br /><br />
                                        <div class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusPagamento)">
                                            <strong>Pagamento:</strong>
                                            <br />
                                            <br />
                                            @Domain.Helpers.EnumHelper.GetDescription(item.StatusPagamento)
                                        </div>
                                </td>
                                <td style="text-align: center; vertical-align: middle" class="@Domain.Core.Funcoes.GeraRotuloMVC(item.StatusEntrega)">@Domain.Helpers.EnumHelper.GetDescription(item.StatusEntrega)</td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (item.Fornecedor != null)
                                    {
                                        @item.Fornecedor.Nome
                                        <br /><br />
                                        @item.Fornecedor.TelefonePrimario
                                        <br /><br />
                                        @item.Fornecedor.Estado.Sigla
                                    }
                                    else
                                    {<text>Não processado</text>}
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @if (processamento != null)
                                    {
                                        <text>
                                            @processamento.Administrador.Nome
                                            <br /><br />
                                            @item.DataCriacao.ToString("dd/MM/yyyy")
                                            <br /><br />
                                            @item.DataCriacao.ToString("HH:mm:ss")
                                        </text>
                                    }
                                    else
                                    {<text>Não processado</text>}
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @item.DataSolicitada.ToString("dd/MM/yyyy")
                                    <br /><br />
                                    @if (@item.DataSolicitada.ToString("HH:mm") != "00:00")
                                    {@item.DataSolicitada.ToString("HH:mm")}
                                    else
                                    {<text>HORÁRIO NÃO INFORMADO</text>}
                                </td>
                                <td style="text-align: center; vertical-align: middle; width: 100px;">
                                    <strong>Cliente:</strong>
                                    <br /><br />
                                    @item.Cliente.Nome
                                    <br />
                                    @item.Cliente.Email
                                    <br /><br />
                                    <strong>Sistema Origem:</strong>
                                    <br /><br />
                                    @item.Origem - @item.OrigemForma
                                    <br />
                                    @item.OrigemSite
                                </td>
                                <td style="text-align: center; vertical-align: middle">
                                    <strong>Homenageado:</strong>
                                    <br /><br />
                                    @item.PessoaHomenageada.ToUpper()
                                    <br /><br />
                                    <strong>Local de Entrega:</strong>
                                    <br /><br />
                                    @if (@item.Local != null)
                                    {
                                        @item.Local.Titulo.ToUpper()
                                        <br /><br />
                                        @item.Cidade.NomeCompleto
                                    }
                                    else
                                    {
                                        if (@item.LocalEntrega != null && @item.LocalEntrega != "LOCAL NÃO CADASTRADO")
                                        {
                                            {
                                                @item.LocalEntrega.ToUpper()
                                                <br /><br />
                                                @item.Cidade.NomeCompleto
                                            }
                                        }
                                        else
                                        {
                                            if (@item.ComplementoLocalEntrega != null)
                                            {
                                                {
                                                    @item.ComplementoLocalEntrega.ToUpper()
                                                    <br /><br />
                                                    @item.Cidade.NomeCompleto
                                                }
                                            }
                                            else
                                            {
                                                <text>LOCAL NÃO CADASTRADO</text>
                                            }
                                        }
                                    }
                                </td>

                                @*<td style="text-align: center; vertical-align: middle">
                                    @item.DataCriacao.ToString("dd/MM/yyyy")
                                    <br /><br />
                                    @item.DataCriacao.ToString("HH:mm:ss")
                                </td>*@
                                <td style="text-align: center; vertical-align: middle">
                                    @item.ValorTotal.ToString("C2")
                                        <br /><br />
                                    @{var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;}

                                        @foreach (var i in item.PedidoItems)
                                        {
                                            var coroapromo = false;
                                            if (promocao != null)
                                            {
                                                coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == i.ProdutoTamanho.Produto.ID) > 0;
                                            }

                                            decimal Desconto = 0;
                                            if (coroapromo)
                                            {
                                                Desconto = (int)promocao.PromocaoProdutoes.Where(c => c.ProdutoID == i.ProdutoTamanho.Produto.ID).FirstOrDefault().Promocao.Desconto;
                                            }

                                            int Fator = 0;
                                            decimal ValorProduto = (i.Valor / 100) * (100 - Desconto);

                                            if (ValorProduto <= 188)
                                            {
                                                Fator = 60;
                                            }
                                            if (ValorProduto >= 189 && ValorProduto <= 225)
                                            {
                                                Fator = 57;
                                            }
                                            if (ValorProduto >= 226 && ValorProduto <= 300)
                                            {
                                                Fator = 53;
                                            }
                                            if (ValorProduto >= 301 && ValorProduto <= 350)
                                            {
                                                Fator = 52;
                                            }
                                            if (ValorProduto >= 351 && ValorProduto <= 400)
                                            {
                                                Fator = 50;
                                            }
                                            if (ValorProduto >= 401 && ValorProduto <= 600)
                                            {
                                                Fator = 45;
                                            }
                                            if (ValorProduto >= 601 && ValorProduto <= 985)
                                            {
                                                Fator = 40;
                                            }
                                            if (ValorProduto >= 986 && ValorProduto <= 1250)
                                            {
                                                Fator = 35;
                                            }
                                            if (ValorProduto >= 1251 && ValorProduto < 1755)
                                            {
                                                Fator = 30;
                                            }

                                            // ALTERAÇÃO DE FATOR PARA FATOR -5% PEDIDA PELO BASILE. DIA 17.07.2017
                                            decimal ValorIdeal = (ValorProduto / 100) * (Fator - 5);

                                            decimal ValorRepasseAtual = i.RepasseAtual.ValorRepasse;

                                            <span>Negoc:</span> @ValorRepasseAtual.ToString("C2")
                                            <br />
                                            <span>Max:</span> @ValorIdeal.ToString("C2")
                                            <br />
                                        }
                                    </td>
                                <td style="text-align: center; vertical-align: middle">
                                    @Domain.Helpers.EnumHelper.GetDescription(item.MeioPagamento)
                                    <br /><br />
                                    @Domain.Helpers.EnumHelper.GetDescription(item.FormaPagamento)
                                </td>
                                @*<td>
                                        @item.DataAtualizacao.ToString("dd/MM/yyyy HH:mm")
                                    </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd">
                            <td valign="top" colspan="12" class="dataTables_empty">
                                Não há itens para serem exibidos
                            </td>
                        </tr>
                    }
                </table>

                @if (ViewBag.TotalPaginas > 1)
                {
                    <div class="dataTables_wrapper">
                        <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                        <div class="dataTables_paginate paging_full_numbers">
                            <span>
                                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                                {
                                    <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")">
                                            <a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["email"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["status"]&statuspagamento=@Request.QueryString["statuspagamento"]&statusentrega=@Request.QueryString["statusentrega"]&PossuiFoto=@Request.QueryString["PossuiFoto"]&meiopagamento=@Request.QueryString["meiopagamento"]&administradorid=@Request.QueryString["administradorid"]">@i.ToString()</a>
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
