﻿@model Domain.Entities.Cliente
@using System.Web.Mvc.Html;

<!-- #region - VARIAVEIS -->
@{
    ViewBag.Title = "Novo Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    //var origem = (IEnumerable<Domain.Entities.OrigemSite>)ViewBag.OrigemSite;
    var pedidos = (IEnumerable<Domain.Entities.Pedido>)ViewBag.Pedidos;
}

<!-- #endregion -->
<!-- #region - CABECALHO - Mensagens -->

@if (ViewBag.Erro != null)
{
    <div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}

<!-- #endregion -->
<!-- #region - CABECALHO - Estilos -->
<style>
    .mws-form-row-half {
        float: left;
        width: 45%;
    }

        .mws-form-row-half > .mws-form-item {
            width: 100% !important;
        }

    .unique-container {
        width: 25% !important;
    }

        .unique-container .mws-textinput {
            width: 100% !important;
        }

    .easy-autocomplete.eac-green-light ul li, .easy-autocomplete.eac-green-light ul .eac-category {
        margin-left: 0;
    }
</style>

<!-- #endregion -->
<!-- #region - CONTEUDO -->
<div class="mws-panel grid_8">

    <!-- #region - CABECALHO - Novo Pedido -->
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo Pedido</span>
    </div>

    <!-- #endregion -->


    <div class="mws-panel-body">

        <!-- #region - CABECALHO - Mensagens -->
        <div id="erro" class="mws-form-message error" style="display:none;">
            ERRO! Verifique todos os campos abaixo.
        </div>
        <!-- #endregion -->
        <!-- #region - CONTEUDO -->
        @using (Html.BeginForm("Novo", "PedidosSite", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            <!-- #region - PRIMEIRO PASSO - ADWORDS / OUTROS -->
            @*<div id="FirstStep">
                    <div class="mws-form-block center" style="width: 100%">
                        <div class="mws-form-row">
                            <h2>Por favor, selecione a origem deste pedido!</h2>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-item">
                                <div style="display: inline-block; padding: 10px;background-color: #ececec; width: 80px;">
                                    <input type="checkbox" name="AdWords" id="AdWords" /><br />
                                    <span><b>ADWORDS</b></span>
                                </div>
                                <div style="display: inline-block; margin-left: 20px;padding: 10px;background-color: #ececec; width: 80px;">
                                    <input type="checkbox" name="Coroinhas" id="Coroinhas" /><br />
                                    <span><b>COROINHAS</b></span>
                                </div>
                                <div style="display: inline-block; margin-left: 20px;padding: 10px;background-color: #ececec; width: 80px;">
                                    <input type="checkbox" name="Guiamais" id="Guiamais" /><br />
                                    <span><b>GUIAMAIS</b></span>
                                </div>
                                <div style="display: inline-block; margin-left: 20px;padding: 10px;background-color: #ececec; width: 80px;">
                                    <input type="checkbox" name="0800Adw" id="0800Adw" /><br />
                                    <span><b>0800ADW</b></span>
                                </div>
                                <div style="display: inline-block; margin-left: 20px;padding: 10px;background-color: #ececec; width: 80px;">
                                        <input type="checkbox" name="Outros" id="Outros" /><br />
                                        <span><b>OUTROS</b></span>
                                    </div>
                                </div>
                        </div>
                        <div class="mws-form-row">
                            <hr />
                            <input type="button" class="mws-button blue" value="Avancar" id="Avancar" />
                        </div>
                    </div>
                </div>*@
            <!-- #endregion -->

            <!-- #region - SEGUNDO PASSO - PEDIDO -->
            <div id="SecoundStep">

                <input type="hidden" id="LeadScoreValue" name="LeadScoreValue" value="" />

                <input type="hidden" id="TravaAtualizaLigacao" name="TravaAtualizaLigacao" value="false" />
                <input type="hidden" id="IdLigacao" name="IdLigacao" value="" />
                <input type="hidden" id="DadosLigacao" name="DadosLigacao" value="" />

                <!-- #region - PEDIDO - Token -->
                <input type="hidden" id="Token" name="Token" value="@ViewBag.Token" />
                <!-- #endregion -->
                <!-- #region - PEDIDO - DataInicioEdicao -->
                <input type="hidden" id="DataInicioEdicao" name="DataInicioEdicao" value="@DateTime.Now" />
                <!-- #endregion -->

                <div class="mws-form-block" style="width: 100%">
                    <!-- #region - PEDIDO - Ultimos Pedidos Realizados -->
                    @if (pedidos != null && pedidos.Count() > 0)
                    {
                        <div id="pedidosRealizados">
                            <div class="mws-form-row">
                                <h2>Últimos Pedidos</h2>
                            </div>
                            <div class="mws-form-row">
                                <label>Últimos Pedidos</label>
                                <div class="mws-form-item small">
                                    <table class="mws-table">
                                        <thead>
                                            <tr>
                                                <th align="center" style="width: 120px;">Pedido</th>
                                                <th align="center">Data de Criação</th>
                                                <th align="center">Processamento</th>
                                                <th align="center">Cliente</th>
                                                <th align="center" style="width: 220px;">Produto</th>
                                            </tr>
                                        </thead>
                                        @if (pedidos.Count() > 0)
                                        {
                                            foreach (var item in pedidos)
                                            {
                                                var processamento = item.AdministradorPedidoes.Where(c => c.AcaoEnum == Domain.Entities.AdministradorPedido.Acao.ProcessouPedido).LastOrDefault();
                                                <tr>
                                                    <td class="center" style="width:120px;">
                                                        <div class="mws-panel-toolbar top clearfix">
                                                            <ul>
                                                                <li style="width: 120px;">
                                                                    <a target="_blank" class="mws-ic-16 ic-view" href="@Url.Action("Visualizar", new { id = item.ID })">
                                                                        @item.Numero
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @item.DataCriacao
                                                    </td>
                                                    <td>
                                                        @if (processamento != null)
                                                        {<text>@processamento.Administrador.Nome <br /> @processamento.DataCriacao.ToString("dd/MM/yyyy HH:mm")</text>}
                                                        else
                                                        {<text>Não processado</text>}
                                                    </td>
                                                    <td>
                                                        <a target="_blank" href="/Cliente/Edit/@item.Cliente.ID">@item.Cliente.Nome / @item.Cliente.RazaoSocial</a>
                                                        <br />
                                                        @item.Cliente.Email
                                                    </td>
                                                    <td width="50px;">
                                                        @item.NomeProdutos.FirstOrDefault()
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="odd"><td valign="top" colspan="14" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Dados Cadastrais -->
                    <div class="mws-form-row">
                        <h2>Dados Cadastrais</h2>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Residente no Exterior?</label>
                        <div class="mws-form-item large">
                            <input type="checkbox" name="Exterior" id="Exterior" value="on" />  SIM
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Tipo</label>
                        <div class="mws-form-item small">
                            <input type="radio" id="ckTipoPJ" name="TipoID" value="2" @(Model.TipoID == 2 ? "checked=\"checked\"" : "") /> PJ
                            <input type="radio" id="ckTipoPF" name="TipoID" value="1" @(Model.TipoID == 1 ? "checked=\"checked\"" : "") /> PF
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Selecione caso o usuário não tenha CPF/CNPJ</label>
                        <div class="mws-form-item small">
                            <input type="checkbox" name="SemCPFCNPJ" value="on" id="SemCPFCNPJ" /> Sem CPF/CNPJ
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelCPFCNPJ">
                        <label id="lblDocumento">CPF</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.Documento, new { type = "text", name = "Documento", id = "Documento", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="Documento" id="Documento" class="mws-textinput" maxlength = "200" /><span id="busca-cliente" class="carregando-branco">Buscando cliente...</span>*@
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Nome do cliente ou responsável pela empresa</label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.Nome, new { type = "text", name = "Nome", id = "Nome", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="Nome" id="Nome" class="mws-textinput" maxlength = "200" />*@
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelNomeSolicitante" style="display:none;">
                        <label>Nome do Solicitante</label>
                        <div class="mws-form-item">
                            <input type="text" name="NomeSolicitante" id="NomeSolicitante" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Selecione caso o usuário não tenha e-mail</label>
                        <div class="mws-form-item">
                            <input type="checkbox" name="SemEmail" value="on" id="SemEmail" /> Sem e-mail
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelEmailSolicitante" style="display:none;">
                        <label>E-mail do solicitante</label>
                        <div class="mws-form-item">
                            <input type="text" name="EmailSolicitante" id="EmailSolicitante" class="mws-textinput" maxlength="200" /><br />
                            <input type="checkbox" name="EnviarEmailSolicitante" value="on" id="EnviarEmailSolicitante" checked= checked /> Enviar e-mail de novo pedido
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelEmail">
                        <label>E-mail</label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.Email, new { type = "text", name = "Email", id = "Email", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="Email" id="Email" class="mws-textinput" maxlength = "200" />*@
                            <br />
                            <input type="checkbox" name="EnviarEmail" value="on" id="EnviarEmail" checked= checked /> Enviar e-mail de novo pedido
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="labelEmailSecundario" style="height: 75px;">
                        <label>E-mail secundário (cópia)</label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.EmailSecundario, new { type = "text", name = "EmailSecundario", id = "EmailSecundario", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="EmailSecundario" id="EmailSecundario" class="mws-textinput" maxlength = "200" />*@
                        </div>
                    </div>
                    <div id="divEmpresa" style="display:none;">
                        <div class="mws-form-row mws-form-row-half">
                            <label>Razão Social</label>
                            <div class="mws-form-item">
                                @Html.TextBoxFor(model => model.RazaoSocial, new { type = "text", name = "RazaoSocial", id = "RazaoSocial", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="RazaoSocial" id="RazaoSocial" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>IE</label>
                            <select class="mws-textinput" id="TipoIE" name="TipoIE">
                                <option value="@{ var ID3 = (int)Domain.Entities.Cliente.TipoInscricaoEstadual.Isento; @ID3; }">@Domain.Helpers.EnumHelper.GetDescription(Domain.Entities.Cliente.TipoInscricaoEstadual.Isento)</option>
                                <option value="@{ var ID = (int)Domain.Entities.Cliente.TipoInscricaoEstadual.Contribuinte; @ID; }"> @Domain.Helpers.EnumHelper.GetDescription(Domain.Entities.Cliente.TipoInscricaoEstadual.Contribuinte)</option>
                                <option value="@{ var ID2 = (int)Domain.Entities.Cliente.TipoInscricaoEstadual.NaoContribuinte; @ID2; }">@Domain.Helpers.EnumHelper.GetDescription(Domain.Entities.Cliente.TipoInscricaoEstadual.NaoContribuinte)</option>
                            </select>
                            <input type="text" name="InscricaoEstadual" id="InscricaoEstadual" class="mws-textinput OnlyNumber" maxlength="200" disabled value="ISENTO" />
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half">
                        <label>Telefone de contato</label>
                        <div class="mws-form-item small">
                            @Html.TextBoxFor(model => model.TelefoneContato, new { type = "text", name = "TelefoneContato", id = "TelefoneContato", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="TelefoneContato" id="TelefoneContato" class="mws-textinput" maxlength = "200" />*@
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-half" id="divPessoaContato" style="display:none;">
                        <label>Pessoa de contato</label>
                        <div class="mws-form-item">
                            @Html.TextBoxFor(model => model.PessoaContato, new { type = "text", name = "PessoaContato", id = "PessoaContato", @class = "mws-textinput", maxlength = "200" })
                            @*<input type="text" name="PessoaContato" id="PessoaContato" class="mws-textinput" maxlength = "200" />*@
                        </div>
                    </div>
                    <div id="divBrasil">
                        <div class="mws-form-row mws-form-row-half">
                            <label>Celular</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.CelularContato, new { type = "text", name = "CelularContato", id = "CelularContato", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="CelularContato" id="CelularContato" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>CEP</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.CEP, new { type = "text", name = "CEP", id = "CEP", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="CEP" id="CEP" class="mws-textinput" maxlength = "200" />*@
                                <span id="load_cep" class="carregando-branco">Buscando endereço...</span>
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Estado</label>
                            <div class="mws-form-item small">
                                @Html.DropDownList("EstadoID", (SelectList)ViewBag.Estados, "-- selecione -- ", new { @class = "mws-textinput" })
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Cidade</label>
                            <div class="mws-form-item small">
                                @Html.DropDownList("CidadeID", (SelectList)ViewBag.Cidades, "-- selecione -- ", new { @class = "mws-textinput" })
                                @*<select name="CidadeID" id="CidadeID" class = "mws-textinput">
                                        <option>-- selecione --</option>
                                    </select>
                                    <span id="load_cidade" class="carregando-branco">Buscando cidades...</span>*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Logradouro</label>
                            <div class="mws-form-item">
                                @Html.TextBoxFor(model => model.Logradouro, new { type = "text", name = "Logradouro", id = "Logradouro", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="Logradouro" id="Logradouro" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Número</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.Numero, new { type = "text", name = "Numero", id = "Numero", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="Numero" id="Numero" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Complemento</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.Complemento, new { type = "text", name = "Complemento", id = "Complemento", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="Complemento" id="Complemento" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                        <div class="mws-form-row mws-form-row-half">
                            <label>Bairro</label>
                            <div class="mws-form-item small">
                                @Html.TextBoxFor(model => model.Bairro, new { type = "text", name = "Bairro", id = "Bairro", @class = "mws-textinput", maxlength = "200" })
                                @*<input type="text" name="Bairro" id="Bairro" class="mws-textinput" maxlength = "200" />*@
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Dados Complementares -->
                    <div class="mws-form-row">
                        <h2>Dados Complementares</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Origem Site</label>
                        <div class="mws-form-item small">
                            @Html.DropDownList("OrigemSite", (SelectList)ViewBag.OrigemSite, "-- selecione -- ", new { @class = "mws-textinput" })
                        </div>
                        <br />
                        <i>Quando a origem site é Laços Flores, os emails enviados seguem a identidade Laços Flores. Em qualquer outro caso, é enviado o e-mail como Coras para Velório.</i>
                    </div>
                    <div class="mws-form-row">
                        <label>Origem Forma</label>
                        <div class="mws-form-item small">
                            <select id="OrigemForma" name="OrigemForma" class="mws-textinput">
                                <option value="">-- selecione --</option>
                                <option value="ONLINE">Online</option>
                                <option value="EMAIL">E-mail</option>
                                <option value="TELEFONE">Telefone</option>
                                <option value="CHAT">Chat</option>
                                <option value="WHATS">Whats APP</option>
                            </select>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Pedido -->
                    <div class="mws-form-row">
                        <h2>Pedido</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Produto (1)</label>
                        <div class="mws-form-item small">
                            <input disabled type="text" name="ProdutoTamanho1AutoComplete" id="ProdutoTamanho1AutoComplete" class="mws-textinput" maxlength="200" /> <span id="CheckOKProdutoTamanho1" class="mws-ic-16 ic-accept" style="display: none; padding-left: 16px;margin-left: 10px;padding-bottom: 1px;"></span>
                        </div>
                    </div>
                    <div class="mws-form-row" style="display: none;">
                        <label>Produto (1)</label>
                        <div class="mws-form-item small">
                            <select name="ProdutoTamanhoID" id="ProdutoTamanhoID" class="mws-textinput"></select>
                            <span id="load_ProdutoTamanhoID" class="carregando-branco">Buscando produtos...</span>
                        </div>
                    </div>
                    <div class="mws-form-row" style="display: none;">
                        <label>Descrição do produto personalizado (1)</label>
                        <div class="mws-form-item small">
                            @Html.TextArea("DescricaoProduto1", new { @class = "mws-textinput", maxlength = "300" })
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Produto (2)</label>
                        <div class="mws-form-item small">
                            <input disabled type="text" name="ProdutoTamanho2AutoComplete" id="ProdutoTamanho2AutoComplete" class="mws-textinput" maxlength="200" /> <span id="CheckOKProdutoTamanho2" class="mws-ic-16 ic-accept" style="display: none; padding-left: 16px;margin-left: 10px;padding-bottom: 1px;"></span>
                        </div>
                    </div>
                    <div class="mws-form-row" style="display: none;">
                        <label>Produto (2)</label>
                        <div class="mws-form-item small">
                            <select name="ProdutoTamanhoID2" id="ProdutoTamanhoID2" class="mws-textinput"></select>
                            <span id="load_ProdutoTamanhoID2" class="carregando-branco">Buscando produtos...</span>
                        </div>
                    </div>
                    <div class="mws-form-row" style="display: none;">
                        <label>Descrição do produto personalizado (2)</label>
                        <div class="mws-form-item small">
                            @Html.TextArea("DescricaoProduto2", new { @class = "mws-textinput", maxlength = "300" })
                        </div>
                    </div>
                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Detalhes de Entrega -->
                    <div class="mws-form-row">
                        <h2>Detalhes de Entrega</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Pessoa Homenageada</label>
                        <div class="mws-form-item small">
                            <input type="text" name="PessoaHomenageada" id="PessoaHomenageada" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Frase de Homenagem do primeiro produto</label>
                        <div class="mws-form-item small">
                            <textarea name="Frase" id="Frase" class="mws-textinput"></textarea>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Frase de Homenagem do segundo produto</label>
                        <div class="mws-form-item small">
                            <textarea name="Frase2" id="Frase2" class="mws-textinput"></textarea>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Estado de Entrega</label>
                        <div class="mws-form-item small">
                            @Html.DropDownList("EstadoEntregaID", (SelectList)ViewBag.Estados, "-- selecione -- ", new { @class = "mws-textinput" })
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Cidade de Entrega</label>
                        <div class="mws-form-item small">
                            <select name="CidadeEntregaID" id="CidadeEntregaID" class="mws-textinput">
                                <option>-- selecione --</option>
                            </select>
                            <span id="load_cidade_entrega" class="carregando-branco">Buscando cidades...</span>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Local de Entrega</label>
                        <div class="mws-form-item small">
                            <input type="text" name="LocalEntregaAutoComplete" id="LocalEntregaAutoComplete" class="mws-textinput" maxlength="200" /> <span id="CheckOKLocal" class="mws-ic-16 ic-accept" style="display: none; padding-left: 16px;margin-left: 10px;padding-bottom: 1px;"></span>
                        </div>
                    </div>
                    <div class="mws-form-row" style="display: none;">
                        <label>Local ID</label>
                        <div class="mws-form-item small">
                            <input type="text" name="LocalID" id="LocalID" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Complemento do Local de Entrega</label>
                        <div class="mws-form-item small">
                            <input type="text" name="ComplementoLocalEntrega" id="ComplementoLocalEntrega" class="mws-textinput" maxlength="200" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Data/Hora de Entrega</label>
                        <div class="mws-form-item small">
                            <input type="text" name="DataEntrega" id="DataEntrega" class="mws-textinput mws-datepicker-hhmm" maxlength="20" />
                        </div>
                    </div>
                    @*
                        data hora separado rodrigo

                            <div class="mws-form-row">
                            <label>Data da Entrega:</label>
                            <input type="text" class="mws-textinput" name="DataEntrega" id="DataEntrega" />
                        </div>
                        <div class="mws-form-row" style="position:relative">
                            <label>Hora da Entrega:</label>
                            <input type="text" class="mws-textinput" name="order-hora" id="order-hora" />
                            <u style="display:none;">Desfazer</u>
                        </div>
                    *@

                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Pagamento -->
                    <div class="mws-form-row">
                        <h2>Pagamento</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Valor dos Produtos</label>
                        <div class="mws-form-item small">
                            <span id="Valor"></span>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Valor de Desconto</label>
                        <div class="mws-form-item small">
                            <input type="text" name="ValorDesconto" id="ValorDesconto" class="mws-textinput" maxlength="200" value="0" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Valor para Pagamento</label>
                        <div class="mws-form-item small">
                            <input type="text" readonly="readonly" name="ValorTotal" id="ValorTotal" class="mws-textinput" maxlength="200" value="0" /> <i>Se este valor for alterado, os descontos e cupons serão ignorados. Coloque o valor final a ser pago.</i>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Forma de Pagamento</label>
                        <div class="mws-form-item small">
                            <select name="FormaPagamentoID" id="FormaPagamentoID" class="mws-textinput">
                                <option value="">-- selecione --</option>
                                <option value="0">A definir posteriormente</option>
                                @*<option value="@((int)Domain.Entities.Pedido.FormasPagamento.Boleto)">Boleto Bancário/Faturamento</option>*@
                                <option value="@((int)Domain.Entities.Pedido.FormasPagamento.BoletoPagarMe)">Boleto Pagar Me</option>
                                <option value="@((int)Domain.Entities.Pedido.FormasPagamento.CartaoCredito)">Cartão de Crédito</option>
                                @*<option value="@((int)Domain.Entities.Pedido.FormasPagamento.DinheiroCheque)">Dinheiro/Cheque</option>*@
                                @*<option value="@((int)Domain.Entities.Pedido.FormasPagamento.Envio)">Envio via PayPal/PagSeguro</option>*@
                                <option value="@((int)Domain.Entities.Pedido.FormasPagamento.DepositoBancario)">Transferência Bancária</option>
                                @*<option value="@((int)Domain.Entities.Pedido.FormasPagamento.Tradaq)">Tradaq</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row" id="divParcela" style="display:none;">
                        <label>Parcela</label>
                        <div class="mws-form-item small">
                            <select id="Parcela" name="Parcela" class="mws-textinput">
                                @for (var i = 1; i <= configuracoes.Parcela; i++)
                                {
                                    <option value="@i">@((i == 1) ? "À vista" : i + " vezes")</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Meio de Pagamento</label>
                        <div class="mws-form-item small">
                            <select name="MeioPagamentoID" id="MeioPagamentoID" class="mws-textinput"></select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Status de Pagamento</label>
                        <div class="mws-form-item small">
                            <select name="StatusPagamentoID" id="StatusPagamentoID" class="mws-textinput">
                                <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento)">Aguardando Pagamento</option>
                                <option value="@((int)Domain.Entities.Pedido.TodosStatusPagamento.Pago)">Pago</option>
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row" id="divDataPagamento" style="display:none;">
                        <label>Data/Hora de Pagamento</label>
                        <div class="mws-form-item small">
                            <input type="text" name="DataPagamento" id="DataPagamento" class="mws-textinput mws-datepicker-hhmm" maxlength="20" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />
                        </div>
                    </div>

                    <!-- #endregion -->
                    <hr />
                    <!-- #region - PEDIDO - Pagamento -->
                    <div class="mws-form-row">
                        <h2>Observações</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Notas</label>
                        <div class="mws-form-item small">
                            @Html.TextArea("ObservacaoNota", new { @class = "mws-textinput", maxlength = "300" })
                        </div>
                    </div>
                    <!-- #endregion -->
                    <hr />

                    <div class="mws-form-row">
                        <h2>Ligações</h2>
                    </div>
                    <div class="mws-form-row">
                        <label>Atuais</label>
                        <div class="mws-form-item small">
                            <table class="mws-table">
                                <thead>
                                    <tr>
                                        <th align="center" style="width: 20px;"></th>
                                        <th align="center" style="width: 200px;">Nr Origem</th>
                                        <th align="center" style="width: 200px;">Nr Destino</th>
                                        <th align="center" style="width: 200px;">Nome da Linha</th>
                                        <th align="center">Nr Entrada</th>
                                        <th align="center">Hora Atendimento</th>
                                        <th align="center">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody id="LigacoesTR"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Finalizadas</label>
                        <div class="mws-form-item small">
                            <table class="mws-table">
                                <thead>
                                    <tr>
                                        <th align="center" style="width: 20px;"></th>
                                        <th align="center" style="width: 200px;">Nr Origem</th>
                                        <th align="center" style="width: 200px;">Nr Destino</th>
                                        <th align="center" style="width: 200px;">Nome da Linha</th>
                                        <th align="center">Nr Entrada</th>
                                        <th align="center">Hora Atendimento</th>
                                        <th align="center">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody id="LigacoesFinalizadasTR"></tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <!-- #region - PEDIDO - Botoes -->
                    <div class="mws-button-row">
                        <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                        <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                        <span id="processando" class="carregando-branco">Processando...</span>
                    </div>
                    <!-- #endregion -->
                </div>
                <!-- #endregion -->
            </div>
            <!-- #endregion -->
    }
        <!-- #endregion -->
    </div>
</div>
<!-- #endregion -->
<!-- #region - SCRIPTS -->
@section Scripts{
    <script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
    </script>
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>

    <script type="text/javascript">
        function SetaLigacao(IDLigacao) {

            $("#DadosLigacao").val('');

            var TravaAtualizaLigacao = false;
            $(".CheckLigacao").each(function () {
                if (this.checked) {
                    TravaAtualizaLigacao = true
                }
            });

            if (TravaAtualizaLigacao) {
                $("#TravaAtualizaLigacao").val("true");
                $("#IdLigacao").val(IDLigacao.replace("#", ""));

                var DadosDaLigacao = "";

                // PREENCHE ID DA LIGACAO
                DadosDaLigacao += IDLigacao + ",";
                // PREENCHE HORA DE ATENDIMENTO
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(6)").html() + ",";
                // PREENCHE NR DE ORIGEM
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(2)").html().replace("(", "").replace(")", "").replace("-", "").replace(" ", "") + ",";
                // PREENCHE NR DE DESTINO
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(3)").html().replace("(", "").replace(")", "").replace("-", "").replace(" ", "") + ",";
                // PREENCHE TIPO DE LIGACAO
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(7)").html() + ",";
                // PREENCHE ID LINHA DE ENTRADA
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(5) span").html() + ",";
                // PREENCHE TEMPO DE LIGACAO
                DadosDaLigacao += "0,";
                // PREENCHE AUDIO DA LIGACAO
                DadosDaLigacao += $(".CheckLigacao:checked").parent().parent().find("td:nth-child(5) span:nth-child(2)").html();

                $("#DadosLigacao").val(DadosDaLigacao);

            }
            else {
                $("#TravaAtualizaLigacao").val("false");
                $("#IdLigacao").val("");
            }
        }

        function AtualizaLugacoes() {
            var TravaAtualizaLigacao = $("#TravaAtualizaLigacao").val();

            if (TravaAtualizaLigacao == "false") {
                $.post('/Home/AtualizaLigacao/', function (data) {
                    var TravaAtualizaLigacao = false;
                    $(".CheckLigacao").each(function () {
                        if (this.checked) {
                            TravaAtualizaLigacao = true
                        }
                    });

                    if (!TravaAtualizaLigacao) {
                        $("#LigacoesFinalizadasTR").html("");
                        var Linhas = "";
                        if (data != null && data != "null") {
                            $.each($.parseJSON(data), function () {
                                Linhas += "<tr class='Finalizadas'>";

                                var IDInput = "#" + this.IdLigacao.replace(".", "X");

                                Linhas += "<td><input class='CheckLigacao' type='checkbox' id='" + this.IdLigacao.replace(".", "X") + "' /></td>";
                                Linhas += "<td>" + this.NrOrigem + "</td>";
                                Linhas += "<td>" + this.NrDestino + "</td>";
                                Linhas += "<td>" + this.NomeLinha + "</td>";
                                Linhas += "<td><span style='display: none;' class='IdLinhaEntrada'>" + this.IdLinha + "</span><span style='display: none;' class='LinkAudio'>" + this.LinkAudio + "</span>" + this.NrEntrada + "</td>";
                                var date = new Date(this.HoraAtendimento);
                                Linhas += "<td>" + date.toLocaleDateString('pt-BR') + " - " + date.toLocaleTimeString('pt-BR') + "</td>";
                                Linhas += "<td>" + this.TipoLigacao + "</td>";
                                Linhas += "</tr>";

                                $(IDInput).die();
                                $(IDInput).live("click", function (event) {
                                    SetaLigacao(IDInput);
                                });
                            });

                            Linhas += "<tr style='background-color: #ffebeb;' class='Finalizadas'>";

                            //var IDInput = "#" + this.IdLigacao;
                            var IDInput = "#SemLigacao";

                            Linhas += "<td><input class='CheckLigacao' type='checkbox' id='SemLigacao' /></td>";
                            Linhas += "<td>--</td>";
                            Linhas += "<td>--</td>";
                            Linhas += "<td>--</td>";
                            Linhas += "<td>--</td>";
                            Linhas += "<td>--</td>";
                            Linhas += "<td>--</td>";
                            Linhas += "</tr>";

                            $(IDInput).die();
                            $(IDInput).live("click", function (event) {
                                SetaLigacao(IDInput);
                            });

                            $("#LigacoesFinalizadasTR").html(Linhas);
                        }
                    }
                });
            }
        }

        function AtualizaLigacaoAtual() {
            var TravaAtualizaLigacao = $("#TravaAtualizaLigacao").val();

            if (TravaAtualizaLigacao == "false") {
                $.post('/Home/AtualizaLigacaoAtual/', function (data) {
                    var TravaAtualizaLigacao = false;
                    $(".CheckLigacao").each(function () {
                        if (this.checked) {
                            TravaAtualizaLigacao = true
                        }
                    });

                    if (!TravaAtualizaLigacao) {
                        $("#LigacoesTR").html("");
                        var Linhas = "";
                        if (data != null && data != "null") {
                            $.each($.parseJSON(data), function () {
                                Linhas += "<tr class='Finalizadas'>";

                                var IDInput = "#" + this.IdLigacao.replace(".", "X");

                                Linhas += "<td><input rel='" + this.IdLigacao + "' class='CheckLigacao' type='checkbox' id='" + this.IdLigacao.replace(".", "X") + "' /></td>";
                                Linhas += "<td>" + this.NrOrigem + "</td>";
                                Linhas += "<td>" + this.NrDestino + "</td>";
                                Linhas += "<td>" + this.NomeLinha + "</td>";
                                Linhas += "<td><span style='display: none;' class='IdLinhaEntrada'>" + this.IdLinha + "</span><span style='display: none;' class='LinkAudio'>" + this.LinkAudio + "</span>" + this.NrEntrada + "</td>";
                                var date = new Date(this.HoraAtendimento);
                                Linhas += "<td>" + date.toLocaleDateString('pt-BR') + " - " + date.toLocaleTimeString('pt-BR') + "</td>";
                                Linhas += "<td>" + this.TipoLigacao + "</td>";
                                Linhas += "</tr>";

                                $(IDInput).die();
                                $(IDInput).live("click", function (event) {
                                    SetaLigacao(IDInput);
                                });
                            });
                            $("#LigacoesTR").html(Linhas);

                        }
                    }
                });
            }
        }

        function CalcularDesconto() {
            if ($("#ValorDesconto").val() != "") {
                var valor1 = parseFloat($("#ProdutoTamanhoID").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));
                var valor2 = parseFloat($("#ProdutoTamanhoID2").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));
                var desconto = parseFloat($("#ValorDesconto").val().replace('.', '').replace(',', '.'));
                $("#ValorTotal").val(((valor1 + valor2) - desconto).toFixed(2).replace('.', ','));
            }
        }

        function CalculaCoroa(clicked) {
            $("#ValorDesconto").val("0,00");
            if (getParameterByName("ProdutoTamanhoID") != null && clicked == false) {
                var valor1 = parseFloat($("#ProdutoTamanhoID  option[value=" + getParameterByName("ProdutoTamanhoID") + "]").attr('data-valor').replace('.', '').replace(',', '.'));
                $("#ProdutoTamanhoID").val(getParameterByName("ProdutoTamanhoID"));                
                $("#ValorDesconto").val(getParameterByName("DescontoPadrao").replace('.', ','));   
            }
            else {
                var valor1 = parseFloat($("#ProdutoTamanhoID").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));
            }

            var valor2 = parseFloat($("#ProdutoTamanhoID2").find(":selected").attr('data-valor').replace('.', '').replace(',', '.'));

            $("#Valor").html((valor1 + valor2).toFixed(2).replace('.', ','));
            $("#ValorTotal").val((valor1 + valor2).toFixed(2).replace('.', ','));

            CalcularDesconto();
        }
      
        $(document).ready(function () {

            AtualizaLigacaoAtual();
            setInterval(function () {
                AtualizaLigacaoAtual();
            }, 4000);

            AtualizaLugacoes();
            setInterval(function () {
                AtualizaLugacoes();
            }, 15000);

            $('.OnlyNumber').ForceNumericOnly();

            //#region Variaveis e Inicializacao

            var _nmCidadeEntregaSelecionada = '';
            var _idCidadeEntregaSelecionada = '';
            var _nmLocalEntregaSelecionado = '';
            var _idLocalEntregaSelecionado = '';

            var exterior = function () {
                if ($("input[name='Exterior']:checked").val() == "on")
                    return true;
                else
                    return false;
            };

            var boleto = function () {
                if ($("#FormaPagamentoID").val() == "3")
                    return true;
                else
                    return false;
            };

            var pj = function () {
                if ($("input[name='TipoID']:checked").val() == "2")
                    return true;
                else
                    return false;
            };

            var pf = function () {
                if ($("input[name='TipoID']:checked").val() == "1" || $("input[name='TipoID']:checked").val() == "0" || $("input[name='TipoID']:checked").val() == "undefined")
                    return true;
                else
                    return false;
            };

            var segunda = function () {
                if ($("#ProdutoTamanhoID2").val() != "")
                    return true;
                else
                    return false;
            };

          
            function MostraDescricoesPersonalizadosProd1() {
                if ($("#ProdutoTamanhoID").val()) {

                    if ($("#ProdutoTamanhoID").val() == "198") {
                        $("#DescricaoProduto1").parent().parent().show();
                    }
                    else {
                        $("#DescricaoProduto1").parent().parent().hide();
                    }

                    $(".divProduto2").show();
                }
                else {
                    $(".divProduto2").hide();
                    $("#ProdutoTamanhoID2").val("");
                    $("#DescricaoProduto2").val("");
                }
            }

            function MostraDescricoesPersonalizadosProd2() {
                if ($("#ProdutoTamanhoID2").val() == "198") {
                    $("#DescricaoProduto2").parent().parent().show();
                }
                else {
                    $("#DescricaoProduto2").parent().parent().hide();
                }
            }

            $(':input:not(textarea)').keydown(function (event) {
                var kc = event.witch || event.keyCode;
                if (kc == 13) {
                    event.preventDefault();
                    $(this).closest('form').attr('data-oldaction', function () {
                        return $(this).attr('action');
                    }).attr('action', 'javascript:;');

                    //alert('Para finalizar o pedido, clique em salvar!');

                    Swal.fire("Atenção!", "Para finalizar o pedido, clique em salvar!", "info")

                    $(this).closest('form').attr('action', function () {
                        return $(this).attr('data-oldaction');
                    });
                    return false;
                }
            });

            $('#pedidos').addClass('active');

            $('#i_pedidos_novo').addClass('active');

            // Masks
            $('#order-data').mask('00/00/0000').attr('maxlength', '10');
            $('#order-hora').mask('01:21', {
                'translation': {
                    0: { pattern: /[0-2]/ },
                    1: { pattern: /[0-9]/ },
                    2: { pattern: /[0-5]/ }
                }
            }).attr('maxlength', '5');

            if (getParameterByName("ProdutoTamanhoID") != null) {

                $("#OrigemSite").val('Coroas para Velório')
                ChangeOrigemSite();
                $("#CheckOKProdutoTamanho1").show();

                $("#ProdutoTamanho1AutoComplete").val(getParameterByName("ProdutoTamanhoID"));
                $("#ProdutoTamanho1AutoComplete").removeAttr("disabled");
                $("#ProdutoTamanho1AutoComplete").val(getParameterByName("ProdutoTamanhoPadraoNome"));                
            }

            //#endregion

            //#region Primeiro Passo

            //if (getParameterByName("documento") != null) {
            //    $("#FirstStep").hide();
            //    $("#SecoundStep").show();
            //}

            if (getParameterByName("AdWords") == "true") {
                $("#AdWords").attr('checked', 'checked');
            }
            else if (getParameterByName("Coroinhas") == "true") {
                $("#Coroinhas").attr('checked', 'checked');
            }
            else if (getParameterByName("Guiamais") == "true") {
                $("#Guiamais").attr('checked', 'checked');
            }
            else if (getParameterByName("0800Adw") == "true") {
                $("#0800Adw").attr('checked', 'checked');
            }
            else if (getParameterByName("Outros") == "true") {
                $("#Outros").attr('checked', 'checked');
            }
            else {
                $("#AdWords").removeAttr('checked');
                $("#Coroinhas").removeAttr('checked');
                $("#Guiamais").removeAttr('checked');
                $("#0800Adw").removeAttr('checked');
                $("#Outros").removeAttr('checked');
            }

            $("#AdWords").on('change', function () {
                if ($("#AdWords").attr('checked') == 'checked') {
                    $("#Outros").removeAttr('checked');
                    $("#Coroinhas").removeAttr('checked');
                    $("#Guiamais").removeAttr('checked');
                    $("#0800Adw").removeAttr('checked');
                }
            });

            $("#Outros").on('change', function () {
                if ($("#Outros").attr('checked') == 'checked') {
                    $("#AdWords").removeAttr('checked');
                    $("#Coroinhas").removeAttr('checked');
                    $("#Guiamais").removeAttr('checked');
                    $("#0800Adw").removeAttr('checked');
                }
            });
            $("#Coroinhas").on('change', function () {
                if ($("#Coroinhas").attr('checked') == 'checked') {
                    $("#AdWords").removeAttr('checked');
                    $("#Outros").removeAttr('checked');
                    $("#Guiamais").removeAttr('checked');
                    $("#0800Adw").removeAttr('checked');
                }
            });
            $("#Guiamais").on('change', function () {
                if ($("#Guiamais").attr('checked') == 'checked') {
                    $("#AdWords").removeAttr('checked');
                    $("#Outros").removeAttr('checked');
                    $("#Coroinhas").removeAttr('checked');
                    $("#0800Adw").removeAttr('checked');
                }
            });
            $("#0800Adw").on('change', function () {
                if ($("#0800Adw").attr('checked') == 'checked') {
                    $("#Coroinhas").removeAttr('checked');
                    $("#Outros").removeAttr('checked');
                    $("#AdWords").removeAttr('checked');
                    $("#Guiamais").removeAttr('checked');
                }
            });

            //$("#Avancar").click(function(){
            //    if ($("#0800Adw").attr('checked') != 'checked' && $("#AdWords").attr('checked') != 'checked' && $("#Outros").attr('checked') != 'checked' && $("#Coroinhas").attr('checked') != 'checked' && $("#Guiamais").attr('checked') != 'checked') {
            //        Swal.fire("Atenção!", "Selecione a Origem do Pedido.!", "error");
            //        return false;
            //    }
            //    else{
            //        $("#FirstStep").fadeOut(function (){
            //            $("#SecoundStep").fadeIn();
            //        });
            //    }
            //});
            //#endregion

            //#region Dados Cadastrais

            if ($("input[name='TipoID']:checked").val() == "2") {
                $("#lblDocumento").html('CNPJ');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
            } else {
                $("#ckTipoPF").prop("checked", true);
                $("#lblDocumento").html('CPF');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
            };

            if ($("input[name='TipoID']:checked").val() == "2") {
                $("#labelNomeSolicitante").hide();
                $("#labelEmailSolicitante").hide();
                //$("#labelNomeSolicitante").show();
                //$("#labelEmailSolicitante").show();
                $("#divEmpresa").show();
                $("#lblDocumento").html('CNPJ');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
            } else {
                $("#labelNomeSolicitante").hide();
                $("#labelEmailSolicitante").hide();
                $("#divEmpresa").hide();
                $("#lblDocumento").html('CPF');
                $("#Documento").mask('destroy');
                $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
            }

            $("input[name='TipoID']").click(function () {
                if ($("input[name='TipoID']:checked").val() == "2") {
                    $("#labelNomeSolicitante").hide();
                    $("#labelEmailSolicitante").hide();
                    //$("#labelNomeSolicitante").show();
                    //$("#labelEmailSolicitante").show();
                    $("#divEmpresa").show();
                    $("#lblDocumento").html('CNPJ');
                    $("#Documento").mask('destroy');
                    $("#Documento").mask({ mask: "##.###.###/####-##", allowPartials: false });
                } else {
                    $("#labelNomeSolicitante").hide();
                    $("#labelEmailSolicitante").hide();
                    $("#divEmpresa").hide();
                    $("#lblDocumento").html('CPF');
                    $("#Documento").mask('destroy');
                    $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });
                }
            });

            function LogicaCPV(data, documento) {
                if ($("#AdWords").attr('checked') == 'checked') {
                    window.location = '/pedidossite/novo?documento=' + documento + "&AdWords=true";
                }
                else if ($("#Coroinhas").attr('checked') == 'checked') {
                    window.location = '/pedidossite/novo?documento=' + documento + "&Coroinhas=true";
                }
                else if ($("#Guiamais").attr('checked') == 'checked') {
                    window.location = '/pedidossite/novo?documento=' + documento + "&Guiamais=true";
                }
                else if ($("#0800Adw").attr('checked') == 'checked') {
                    window.location = '/pedidossite/novo?documento=' + documento + "&0800Adw=true";
                }
                else if ($("#Outros").attr('checked') == 'checked') {
                    window.location = '/pedidossite/novo?documento=' + documento + "&Outros=true";
                }
                else {
                    if (data.ProdutoTamanhoID != "" && data.ProdutoTamanhoID != undefined) {
                        window.location = '/pedidossite/novo?documento=' + documento + '&ProdutoTamanhoID=' + data.ProdutoTamanhoID + '&ProdutoTamanhoPadraoNome=' + data.ProdutoTamanhoPadraoNome + '&DescontoPadrao=' + data.DescontoPadrao;
                    }
                    else {
                        window.location = '/pedidossite/novo?documento=' + documento;
                    }


                }
            }

            $("#Documento").blur(function () {
                var documento = $("#Documento").val();
                if (documento != "__.___.___/____-__" && documento != "___.___.___-__" && documento.length > 0) {
                    $("#busca-cliente").show();
                    $.post('/Cliente/GetCliente/', { documento: documento }, function (data) {

                        $.post('/ListaNegra/isListaNegra/', { documento: documento }, function (retorno) {
                            if (retorno.situacao == "SIM") {
                                Swal.fire("Atenção!", "Este cliente esta na Black List de vendas.\nVendas somente por cartão de crédito.!", "info");
                            }
                        });

                        if (data.Tipo == "EMPRESA") {
                            window.location = '/pedidosempresa/novo?cnpj=' + documento;
                        }

                        if (data != undefined && data != "" && data.Tipo == "CLIENTE") {
                            LogicaCPV(data, documento);
                        }

                        $("#busca-cliente").hide();
                    });
                }
            });

            $("#Exterior").click(function () {
                if ($("input[name='Exterior']:checked").val() == "on") {
                    $("#divPessoaContato").show();

                    $("input[name='SemCPFCNPJ']").attr('checked', true);
                    $("#labelCPFCNPJ").hide();
                    $("#Documento").val('');

                    $('input:radio[name="TipoID"]').filter('[value="1"]').attr('checked', true);
                    $("#divEmpresa").hide();
                    $("#lblDocumento").html('CPF');
                    $("#Documento").mask('destroy');
                    $("#Documento").mask({ mask: "###.###.###-##", allowPartials: false });

                    $("#divBrasil").hide();

                } else {
                    $("#divPessoaContato").hide();
                    $("#divBrasil").show();
                }
            });

            $("#SemCPFCNPJ").click(function () {
                if ($("input[name='SemCPFCNPJ']:checked").val() == "on") {
                    $("#labelCPFCNPJ").hide();
                    $("#Documento").val('');
                } else {
                    $("#labelCPFCNPJ").show();
                }
            });

            $("#SemEmail").click(function () {
                if ($("input[name='SemEmail']:checked").val() == "on") {
                    $("#labelEmail").hide();
                    $("#labelEmailSecundario").hide();
                    $("#Email").val('');
                    $("#EmailSecundario").val('');
                } else {
                    $("#labelEmail").show();
                    $("#labelEmailSecundario").show();
                }
            });
            //#endregion

            //#region Dados Complementares
            $("#OrigemSite").change(function () {
                if ($(this).val() == "Coroas para Velório") {
                    $("#OrigemForma option[value='ONLINE']").hide();
                    $("#OrigemForma option[value='']").attr("Selected", "Selected");
                }
                else {
                    $("#OrigemForma option[value='ONLINE']").show();
                }
            });

            $("#TipoIE").change(function () {

                if ($(this).val() == "1") {
                    $("#InscricaoEstadual").attr('disabled', 'disabled');
                    $("#InscricaoEstadual").val('ISENTO');
                }
                if ($(this).val() == "3") {
                    $("#InscricaoEstadual").removeAttr('disabled');
                    $("#InscricaoEstadual").val('');
                }
                if ($(this).val() == "2") {
                    $("#InscricaoEstadual").attr('disabled', 'disabled');
                    $("#InscricaoEstadual").val('NÃO CONTRIBUINTE');
                }
            });

            function ChangeOrigemSite() {
                var origem = $("#OrigemSite option:selected").text();
                $("#ProdutoTamanhoID").hide();
                $("#ProdutoTamanhoID2").hide();
                $("#load_ProdutoTamanhoID").show();
                $("#load_ProdutoTamanhoID2").show();

                $("#ProdutoTamanhoID").get(0).options.length = 0;
                $("#ProdutoTamanhoID2").get(0).options.length = 0;

                $("#ProdutoTamanhoID").get(0).options[0] = new Option("-- selecione --", "");
                $("#ProdutoTamanhoID2").get(0).options[0] = new Option("-- selecione --", "");

                $("#ProdutoTamanhoID option:eq(0)").attr('data-valor', '0');
                $("#ProdutoTamanhoID2 option:eq(0)").attr('data-valor', '0');

                $.post('/Home/GetProdutosByOrigem/', { origem: origem }, function (data) {
                    if (data != undefined && data != "") {
                        for (var i = 0; i < data.length; i++) {

                            $("#ProdutoTamanhoID").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);
                            $("#ProdutoTamanhoID2").get(0).options[i + 1] = new Option(data[i].Text, data[i].Value);

                            $("#ProdutoTamanhoID option:eq(" + (i + 1) + ")").attr('data-valor', data[i].Extra);
                            $("#ProdutoTamanhoID2 option:eq(" + (i + 1) + ")").attr('data-valor', data[i].Extra);

                            $("#ProdutoTamanho1AutoComplete").removeAttr("disabled");
                        }

                        if (getParameterByName("ProdutoTamanhoID") != null) {
                            CalculaCoroa(false);
                        }
                        
                    }
                    $("#ProdutoTamanhoID").show();
                    $("#ProdutoTamanhoID2").show();
                    $("#load_ProdutoTamanhoID").hide();
                    $("#load_ProdutoTamanhoID2").hide();
                });

            }

            $("#OrigemSite").change(function () {
                ChangeOrigemSite();
            });
            //#endregion


            //$("#EstadoEntregaID").val($("#EstadoID option:selected").attr('value'));

            $("#ProdutoTamanho1AutoComplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetProdutosTamanhoAutoComplete?Origem=" + $("#OrigemSite").val(),
                        getValue: 'Nome',
                        dataType: "json",
                        data: {
                            Nome: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Nome, value: item.ProdutoTamanhoID };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#ProdutoTamanhoID").val(ui.item.value);
                    $("#CheckOKProdutoTamanho1").show();
                    $("#ProdutoTamanho1AutoComplete").val(ui.item.label);

                    CalculaCoroa();
                    MostraDescricoesPersonalizadosProd1();
                    $("#ProdutoTamanho2AutoComplete").removeAttr("disabled");

                    if ($("#ProdutoTamanhoID").val() == "198") {
                        $("#ValorTotal").removeAttr("readonly");
                    }

                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            $("#ProdutoTamanho1AutoComplete").keyup(function () {
                $("#CheckOKProdutoTamanho1").hide();
                $("#ProdutoTamanhoID").val(0);
                $("#ProdutoTamanho2AutoComplete").val("");
                $("#CheckOKProdutoTamanho2").hide();
                $("#ProdutoTamanho2AutoComplete").attr("disabled", "disabled");

                CalculaCoroa();
                MostraDescricoesPersonalizadosProd1();

                $("#ValorTotal").attr("readonly", "readonly");
            });

            $("#ProdutoTamanho2AutoComplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetProdutosTamanhoAutoComplete?Origem=" + $("#OrigemSite").val(),
                        getValue: 'Nome',
                        dataType: "json",
                        data: {
                            Nome: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Nome, value: item.ProdutoTamanhoID };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#ProdutoTamanhoID2").val(ui.item.value);
                    $("#CheckOKProdutoTamanho2").show();
                    $("#ProdutoTamanho2AutoComplete").val(ui.item.label);

                    CalculaCoroa(true);
                    MostraDescricoesPersonalizadosProd2();
                    $("#ProdutoTamanho2AutoComplete").removeAttr("disabled");

                    if ($("#ProdutoTamanhoID2").val() == "198") {
                        $("#ValorTotal").removeAttr("readonly");
                    }

                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            $("#ProdutoTamanho2AutoComplete").keyup(function () {
                $("#CheckOKProdutoTamanho2").hide();
                $("#ProdutoTamanhoID2").val(0);

                CalculaCoroa();
                MostraDescricoesPersonalizadosProd2();

                $("#ValorTotal").attr("readonly", "readonly");
            });


            ////////////// *************** Mudanca de cidade para preencher combo de locais de entrega

            $("#LocalEntregaAutoComplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/GetLocaisAutoComplete?idCidade=" + $("#CidadeEntregaID").val(),
                        getValue: 'Titulo',
                        dataType: "json",
                        data: {
                            local: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Titulo + " - " + item.Televendas, value: item.IdLocal, telefone: item.Televendas, local: item.Titulo };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#LocalID").val(ui.item.value);
                    $("#CheckOKLocal").show();
                    $("#LocalEntregaAutoComplete").val(ui.item.local);
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            //#endregion
            $("#LocalEntregaAutoComplete").keyup(function () {
                $("#CheckOKLocal").hide();
                $("#LocalID").val('');
            });

           

            //#region Pagamento
            $("#ValorDesconto").blur(function () {
                CalcularDesconto();
            });

            $("#MeioPagamentoID").change(function () {
                if ($(this).val() == "16") {
                    $("#StatusPagamentoID option[value='2']").remove();
                }
                else {
                    $("#StatusPagamentoID").append("<option value='2'>Pago</option>");
                }
            });

            $("#FormaPagamentoID").change(function () {
                $("#divParcela").hide();
                $("#MeioPagamentoID").get(0).options.length = 0;

                switch ($("#FormaPagamentoID").val()) {
                    case "0":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("A definir posteriormente", "0");
                        break;
                    case "3":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Boleto Itaú", "5");
                        break;
                    case "1":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Cartão de Crédito Manual (Redeshop)", "7");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Cartão de Crédito via PagarME", "16");
                        $("#divParcela").show();
                        break;
                    case "8":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Dinheiro/Cheque", "13");
                        break;
                    case "6":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("PayPal", "4");
                        $("#MeioPagamentoID").get(0).options[2] = new Option("PagSeguro", "3");
                        break;
                    case "7":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Bradesco", "8");
                        $("#MeioPagamentoID").get(0).options[2] = new Option("Banco do Brasil", "9");
                        $("#MeioPagamentoID").get(0).options[3] = new Option("Itaú", "10");
                        $("#MeioPagamentoID").get(0).options[4] = new Option("Santander", "11");
                        $("#MeioPagamentoID").get(0).options[5] = new Option("Caixa Econômica", "12");
                        break;
                    case "9":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("-- selecione --", "");
                        $("#MeioPagamentoID").get(0).options[1] = new Option("Permuta", "14");
                        break;
                    case "10":
                        $("#MeioPagamentoID").get(0).options[0] = new Option("Boleto Pagar Me", "17");
                        break;
                }

            });

            $("#StatusPagamentoID").change(function () {
                if ($("#StatusPagamentoID").val() == "2") {
                    $("#divDataPagamento").show();
                } else {
                    $("#divDataPagamento").hide();
                }
            });
            //#endregion

            //#region Validacao e Envio
            $("#form").validate({
                meta: "validate",
                submitHandler: function (form) {
                    var Ok = false;

                    if ($("#IdLigacao").val() == "" && $("#OrigemForma").val() == "TELEFONE") {
                        Swal.fire("Atenção!", "Selecione a ligação para este pedido!", "error");
                    }
                    else if ($(".CheckLigacao:checked").length >= 2) {
                        Swal.fire("Atenção!", "Selecione somente 1 ligação para o pedido!", "error");
                    }
                    else if (($("input[name='Exterior']:checked").val() != "on" && $("input[name='SemCPFCNPJ']:checked").val() != "on") && $("#Documento").val() == "") {
                        Swal.fire("Atenção!", "Preencha o CPF ou CNPJ!", "error");
                    }
                    else if ($("#FormaPagamentoID").val() == "10" && $("#CEP").val() == "") {
                        Swal.fire("Atenção!", "Preencha o CEP!", "error");
                    }
                    else {
                        if ($("#TipoIE").val() == "3" && $("#InscricaoEstadual").val() == "" && $("input[name='TipoID']:checked").val() == "2") {
                            Swal.fire("Atenção!", "Preencha a inscrição estadual.", "error");
                        }
                        else {
                            if (($("#Documento").val() == '' || $("#Documento").val() == 'N/I') && $("#FormaPagamentoID").val() == '3') {
                                Swal.fire("Atenção!", "Para forma de pagamento como boleto é necessário o cadastro do CPF ou CNPJ.!", "error");
                            } else {
                                var valortotal = 0;
                                if ($("#ValorTotal").val() != 'undefined' && $("#ValorTotal").val() != "NaN") {
                                    valortotal = parseFloat($("#ValorTotal").val().replace('.', '').replace(',', '.'));
                                }
                                if (valortotal > 0) {
                                    if ($("input[name='TipoID']:checked").val() == "2" && $("input[name='SemCPFCNPJ']:checked").val() != "on") {
                                        if (ValidaCNPJ($("#Documento").val())) {
                                            Ok = true;
                                        } else {
                                            Swal.fire("Atenção!", "CNPJ inválido, por favor, digite corretamente!", "error");
                                        }
                                    } else if ($("input[name='TipoID']:checked").val() == "1" && $("input[name='SemCPFCNPJ']:checked").val() != "on") {
                                        if (ValidaCPF($("#Documento").val())) {
                                            Ok = true;
                                        } else {
                                            Swal.fire("Atenção!", "CPF inválido, por favor, digite corretamente!", "error");
                                        }
                                    } else {
                                        Ok = true;
                                    }
                                } else {
                                    Swal.fire("Atenção!", "O valor total a ser pago deve ser maior que zero. Por favor, ajuste para prosseguir!", "error");
                                }
                            }
                        }
                    }

                    if (Ok) {

                        @{
                            if(ViewBag.JaRepondeuLead == true)
                            {
                                 <text>form.submit();</text>
                            }
                            else
                            {
                               <text>
                        
                                if ($("input[name='TipoID']:checked").val() == "2") {
                                    Swal.fire({
                                        title: 'Pesquisa de Perfil do Cliente',
                                        type: 'info',
                                        html: '<table id="LeadScore"><tr><td><p>O Cliente é do departamento de RH? </p> </td> </tr> <tr> <td> <table> <tr> <td> <input type="radio" name="Pergunta1" id="SIM1" /> <span style="font-size: 12px; position: relative; top: -2px;">SIM</span> </td> <td> <input type="radio" name="Pergunta1" id="NAO1" /> <span style="font-size: 12px; position: relative; top: -2px;" >NÃO</span> </td> </tr> </table> </td> </tr> <tr> <td> <p> A empresa possui mais de 500 colaboradores? </p> </td> </tr> <tr> <td> <table> <tr> <td> <input type="radio" name="Pergunta2" id="SIM2" /> <span style="font-size: 12px; position: relative; top: -2px;">SIM</span> </td> <td> <input type="radio" name="Pergunta2" id="NAO|2" /> <span style="font-size: 12px; position: relative; top: -2px;">NÃO</span> </td> </tr> </table> </td> </tr> </table>',
                                        showCloseButton: true,
                                        showLoaderOnConfirm: true,
                                        allowOutsideClick: false,
                                        preConfirm: function (email) {
                                            return new Promise(function (resolve, reject) {
                                                var CountFalse = 0;
                                                $("#LeadScore input[type=radio]").each(function () {
                                                    if (!$(this).prop('checked')) {
                                                        CountFalse++;
                                                    }
                                                });

                                                if (CountFalse == 2) {
                                                    resolve();
                                                }
                                                else {
                                                    reject('Responda as Perguntas!');
                                                }
                                            })
                                        },
                                        confirmButtonText:
                                          'Salvar'
                                    }).then(function () {

                                        var Resposta = "";
                                        if ($("#SIM1").prop('checked')) {
                                            Resposta += "sim";
                                        }
                                        else {
                                            Resposta += "nao";
                                        }
                                        if ($("#SIM2").prop('checked')) {
                                            Resposta += ",sim";
                                        }
                                        else {
                                            Resposta += ",nao";
                                        }
                                        $("#LeadScoreValue").val(Resposta);
                                        form.submit();
                                    });
                                }
                                else {
                                    form.submit();
                                }

                               </text>
                            }
                        }
                    }
                },
                rules: {
                    TipoID: "required",
                    Documento: { required: boleto },

                    //Dados Cadastrais PJ
                    RazaoSocial: { required: pj },
                    NomeSolicitante: { required: pj },
                    Logradouro: { required: boleto },
                    Numero: { required: boleto },
                    Bairro: { required: boleto },
                    CEP: { required: boleto },

                    //Dados Cadastrais PF
                    Nome: "required",
                    Email: { email: true },
                    EmailSecundario: { email: true },
                    EmailSolicitante: { email: true },
                    TelefoneContato: "required",
                    EstadoID: "required",
                    CidadeID: "required",

                    ////**Dados Complementares**////
                    OrigemSite: "required",
                    OrigemForma: "required",

                    ////**Pedido**////
                    ProdutoTamanhoID: "required",

                    ////**Detalhes de Entrega**////
                    //PessoaHomenageada: "required",
                    //Frase: "required",
                    //Frase2: { required: segunda },
                    //EstadoEntregaID: "required",
                    //CidadeEntregaID: "required",
                    //LocalEntrega: "required",
                    //DataEntrega: "required",

                    ////**Pagamento**////
                    FormaPagamentoID: "required",
                    MeioPagamentoID: "required",
                },
                messages: {
                    TipoID: "O campo tipo é obrigatório",
                    Documento: {
                        required: "O campo é obrigatório para a forma de pagamento boleto",
                        cpf: "Digite um CPF válido",
                        cnpj: "Digite um CNPJ válido"
                    },
                    Nome: "O campo nome é obrigatório",
                    RazaoSocial: "O campo razão social é obrigatório",
                    NomeSolicitante: "O campo nome do solicitante é obrigatório",
                    Logradouro: "O campo logradouro é obrigatório para a forma de pagamento boleto",
                    Numero: "O campo número é obrigatório para a forma de pagamento boleto",
                    Bairro: "O campo bairro é obrigatório para a forma de pagamento boleto",
                    CEP: "O campo CEP é obrigatório para a forma de pagamento boleto",
                    Email: { email: "Digite um e-mail válido" },
                    EmailSecundario: { email: "Digite um e-mail válido" },
                    EmailSolicitante: { email: "Digite um e-mail válido" },
                    TelefoneContato: "O campo telefone é obrigatório",
                    EstadoID: "O campo estado é obrigatório",
                    CidadeID: "O campo estado é obrigatório",

                    ////**Dados Complementares**////
                    OrigemSite: "O campo origem site é obrigatório",
                    OrigemForma: "O campo origem forma é obrigatório",

                    ////**Pedido**////
                    ProdutoTamanhoID: "O campo produto é obrigatório",

                    ////**Detalhes de Entrega**////
                    //PessoaHomenageada: "O campo pessoa homenageada é obrigatório",
                    //Frase: "O campo frase é obrigatório",
                    //Frase2: "O campo frase é obrigatório",
                    //EstadoEntregaID: "O campo estado de entrega é obrigatório",
                    //CidadeEntregaID: "O campo cidade de entrega é obrigatório",
                    // LocalEntrega: "O campo local de entrega é obrigatório",
                    //DataEntrega: "O campo data de entrega é obrigatório",

                    ////**Pagamento**////
                    FormaPagamentoID: "O campo forma de pagamento é obrigatório",
                    MeioPagamentoID: "O campo meio de pagamento é obrigatório",
                }
            });

            $("#enviar").click(function () {
                _nmLocalEntregaSelecionado = $("#LocalEntregaId :selected").text().split("-")[0].trim();
                _idLocalEntregaSelecionado = $('#LocalEntregaId option:selected').attr('value');

                if (_idLocalEntregaSelecionado == "") {
                    $("#LocalEntregaId :selected").text("LOCAL NÃO CADASTRADO");
                }

            });

            //#endregion

        });


        //#region Funcao recuperar dados da URL
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        //#endregion

        //#region ABA Detalhes de Entrega - Executa posterior carregamento para setar Local de ENtrega
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var idcidade = $("#CidadeID").val();
                $("#CidadeEntregaID").val(idcidade);
                $("#CidadeEntregaID").change();
            }, 3000);
        }, false);
        //#endregion

       

    </script>

}
<!-- #endregion --> 				   