﻿@model Domain.Entities.Pedido
@using System.Web.Mvc.Html;

<!-- #region - VARIAVEIS -->
@{
    ViewBag.Title = "Pagar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ 
    Domain.Entities.Pedido NovoPedido = new Domain.Entities.Pedido();
    NovoPedido = Model;
}


<div class="mws-panel grid_8">

   
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Pagar Pedido #@NovoPedido.Numero - @NovoPedido.Cliente.Nome.ToUpper()</span> 
    </div>

   

    
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">
            ERRO! Verifique todos os campos abaixo.
        </div>
      
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {

            <input type="hidden" id="Token" name="Token" value="@ViewBag.Token" />


                <div class="mws-form-block" style="width: 100%">
                    <div class="mws-form-row">
                        <label>Resumo do Pedido <a target="_blank" href="/PedidosSite/Visualizar/@NovoPedido.ID">@NovoPedido.Numero</a></label>
                        @NovoPedido.Cliente.Nome - @NovoPedido.DataCriacao - @NovoPedido.ValorTotal.ToString("C2")
                    </div>
                    <div class="mws-form-row">
                        <label>Nr Cartão</label>
                        <input class="mws-textinput OnlyNumber" id="NrCartao" maxlength="200" name="NrCartao" type="text" value="">
                    </div>
                    <div class="mws-form-row">
                        <label>Nome Portador</label>
                        <input class="mws-textinput" id="Nome" maxlength="200" name="NrCartao" type="text" value="">
                    </div>
                   
                    <div class="mws-form-row">
                        <label>Validade</label>
                        <input class="mws-textinput" style="max-width: 50px;" id="Validade" name="Validade" type="text">
                    </div>
                    <div class="mws-form-row">
                        <label>Cod Seg</label>
                        <input class="mws-textinput" style="max-width: 50px;" id="Cod" maxlength="4" name="Cod" type="text">
                    </div>
                    <div class="mws-form-row">
                        <label>Parcelas</label>
                        <select id="Parcelas" name="Parcelas" class="mws-textinput valid">
                            <option @{ if (NovoPedido.Parcela == 1) { <text> selected </text> }; } value="1">À vista</option>
                            <option @{ if (NovoPedido.Parcela == 2) { <text> selected </text> }; } value="2">2 vezes</option>
                            <option @{ if (NovoPedido.Parcela == 3) { <text> selected </text> }; } value="3">3 vezes</option>
                         </select>
                     </div>
                     <div class="mws-form-row">
                        <input type="button" class="mws-button green" value="Pagar" id="Pagar" /> <span style="display: none;" id="wait">Aguarde...</span>
                    </div>
                </div>
        }
       
    </div>
</div>



<!-- #region - SCRIPTS -->
@section Scripts{

<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/cep.js"></script>
<script src="https://assets.pagar.me/js/pagarme.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {



        $("#Pagar").click(function () {
            $('#Pagar').prop("disabled", true);
            $('#wait').fadeIn();

            var CardHashRetorno = "";
            PagarMe.encryption_key = "@((Domain.Core.Configuracoes.PagarMe_DefaultCriptKey))";

            var creditCard = new PagarMe.creditCard();

            var CartaoLimpo = "";

            creditCard.cardHolderName = $("#Nome").val();
            creditCard.cardExpirationMonth = $("#Validade").val().substring(0, 2);
            creditCard.cardExpirationYear = $("#Validade").val().substring(3, 5);
            creditCard.cardNumber = $("#NrCartao").val().replace("_", "").replace("_", "").replace("_", "")
            creditCard.cardCVV = $("#Cod").val().replace("_", "").replace("_", "").replace("_", "");

            creditCard.generateHash(function (hash) {

                $.ajax({
                    url: '/PedidosSite/ProcessarPagamento',
                    type: "POST",
                    dataType: 'json',
                    data: {
                        PedidoID: @NovoPedido.ID,
                        hash: hash,
                        Parcelas: $("#Parcelas").val()
                    },
                    success: function (data) {
                        if(data == 'Paid'){
                            window.location = "/PedidosSite/List?datainicial=@DateTime.Now.ToString("dd/MM/yyyy")&datafinal=@DateTime.Now.ToString("dd/MM/yyyy")&statusentrega=0&cod=SaveSucess&msg=O pedido @NovoPedido.Numero para o cliente @NovoPedido.Cliente.Nome foi criado e pago com sucesso!&PedidoID=" @NovoPedido.ID;
                            $('#wait').fadeOut();
                        }
                        else{
                            alert(data);
                            $('#Pagar').prop("disabled", false);
                            $('#wait').fadeOut();
                        }
                    }
                });
            });
        });


        $("#NrCartao").mask({
            mask: "################",
            allowPartials: 1
        });

        $("#Validade").mask({
            mask: "##/##"
        });

        $("#Cod").mask({
            mask: "####",
            allowPartials: 1
        });

        $('.OnlyNumber').ForceNumericOnly();

        });

</script>		
<script type="text/javascript">
        jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };
</script>
}
<!-- #endregion --> 				   