﻿@model Domain.Entities.ProdutoSemelhante
@{
    ViewBag.Title = "Novo produto semelhante";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produtos = (IEnumerable<Domain.Entities.Produto>)ViewBag.Produtos;
    var produto = (Domain.Entities.Produto)ViewBag.Produto; 
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">Novo produto semelhante para @produto.Nome</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("EditSemelhante", "Produto", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.Hidden("ProdutoID", Request.QueryString["produtoID"])
            <div class="mws-form-block">
               
                <div class="mws-form-row">
                    <label>Coroa de Flores</label>
                    <div class="mws-form-item small">
                        <select name="ProdutoSemelhanteID" id="ProdutoSemelhanteID" class = "mws-textinput">
                            <option value="">-- selecione --</option>
                            @foreach (var item in produtos)
                            {
                                <option value="@item.ID">@item.Nome</option>                                
                            }
                        </select>
                    </div>
                </div>   
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">


    $(document).ready(function () {
        $('#cliente').addClass('active');
        $('#i_empresas').addClass('active');

        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                ProdutoTamanhoID: "required", 
            },
            messages: {
                ProdutoTamanhoID: "O campo produto/tamanho é obrigatório."
            }
        });
    });
</script>
}