﻿@model Domain.Entities.Produto

@{
    ViewBag.Title = Model == null ? "Novo Produto" : "Edição do produto " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var coloracoes = (IEnumerable<Domain.Entities.Coloracao>)ViewBag.Coloracoes;
    var flores = (IEnumerable<Domain.Entities.Flor>)ViewBag.Flores;
    var tamanhos = (IEnumerable<Domain.Entities.Tamanho>)ViewBag.Tamanhos;
    var relacionamentos = (IEnumerable<Domain.Entities.Relacionamento>)ViewBag.Relacionamentos;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Produto" : "Edição do produto " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Produto", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Foto)
            @Html.HiddenFor(model => model.RotuloUrl)
            @Html.HiddenFor(model => model.Mobile)
        <div class="mws-form-block">
            <div class="mws-form-row">
                <label>Tipo</label>
                <div class="mws-form-item small">
                    @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Produto.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Produto.Tipos.CoroaFlor), new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ideal para o sexo</label>
                <div class="mws-form-item small">
                    @Html.DropDownListForEnum("SexoID", typeof(Domain.Entities.Produto.Sexos), (Model != null ? Model.Sexo : Domain.Entities.Produto.Sexos.Ambos), new { @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Título</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Nome, new { id = "Titulo", name = "Titulo", @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Código NCM</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.CodigoNcm, new { id = "CodigoNcm", name = "CodigoNcm", @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Foto <i>Arquivo JPG (400px x 400px)</i></label>
                <div class="mws-form-item small">
                    @if (Model != null)
                    {
                        <a href="/content/produtos/@Model.ID/@Model.Foto" target="_blank">
                            <img src="/content/produtos/@Model.ID/thumb/@Model.Foto" border="0" />
                        </a>
                        <br />
                        <i>Para modificar a foto, selecione outro arquivo.</i>
                        <br />
                    }
                    @Html.InputFile("File")
                </div>
            </div>
            <div class="mws-form-row">
                <label>Title Imagem</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ImgTitle, new { id = "ImgTitle", name = "ImgTitle", @class = "mws-textinput", maxlength = "100" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Alt Imagem</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.ImgAlt, new { id = "ImgAlt", name = "ImgAlt", @class = "mws-textinput", maxlength = "1000" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Flores</label>
                <div class="mws-form-item small">
                    @foreach (var flor in ViewBag.Flores)
                    {
                        if (Model == null)
                        {
                            <input type="checkbox" name="flores" value="@flor.ID" /> @flor.Nome <br />
                        }
                        else
                        {
                            <input type="checkbox" name="flores" value="@flor.ID" @((Model.ProdutoFlors.Count(f => f.FlorID == flor.ID) > 0) ? "checked" : "") /> @flor.Nome <br />
                        }
                    }
                </div>
            </div>
            <div class="mws-form-row">
                <label>Colorações</label>
                <div class="mws-form-item small">
                    @foreach (var coloracao in ViewBag.Coloracoes)
                    {
                        if (Model == null)
                        {
                            <input type="checkbox" name="coloracoes" value="@coloracao.ID" /> @coloracao.Nome <br />
                        }
                        else
                        {
                            <input type="checkbox" name="coloracoes" value="@coloracao.ID" @((Model.ProdutoColoracaos.Count(f => f.ColoracaoID == coloracao.ID) > 0) ? "checked" : "") /> @coloracao.Nome <br />
                        }
                    }
                </div>
            </div>
            <div class="mws-form-row">
                <label>Relacionamentos</label>
                <div class="mws-form-item small">
                    @foreach (var relacionamento in ViewBag.Relacionamentos)
                    {
                        if (Model == null)
                        {
                            <input type="checkbox" name="relacionamentos" value="@relacionamento.ID" /> @relacionamento.Nome <br />
                        }
                        else
                        {
                            <input type="checkbox" name="relacionamentos" value="@relacionamento.ID" @((Model.ProdutoRelacionamentoes.Count(f => f.RelacionamentoID == relacionamento.ID) > 0) ? "checked" : "") /> @relacionamento.Nome <br />
                        }
                    }
                </div>
            </div>
            <div class="mws-form-row">
                <label>Breve Descritivo</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.BreveDescritivo, new { id = "BreveDescritivo", name = "BreveDescritivo", @class = "mws-textinput", maxlength = "1000" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Descrição</label>
                <div class="mws-form-item small">
                    @Html.TextAreaFor(model => model.Descricao, new { id = "Descricao", name = "Descricao", @class = "mws-textinput" })
                </div>
            </div>
            <div class="mws-form-row">
                <label>MetaTag Description</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TagDescription, new { id = "TagDescription", name = "TagDescription", @class = "mws-textinput", @maxlength = 155 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>MetaTag Keywords</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.TagKeywords, new { id = "TagKeywords", name = "TagKeywords", @class = "mws-textinput", @maxlength = 155 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Número (referência para fornecedor)</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Numero, new { id = "Numero", name = "Numero", @class = "mws-textinput", @maxlength = 100 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ordem de Mais Vendida (coloque 0 para não aparecer)</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.MaisVendida, new { id = "MaisVendida", name = "MaisVendida", @class = "mws-textinput", @maxlength = 3 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ordem de Para Amigos (coloque 0 para não aparecer)</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ParaAmigos, new { id = "ParaAmigos", name = "ParaAmigos", @class = "mws-textinput", @maxlength = 3 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ordem de Para Empresas (coloque 0 para não aparecer)</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ParaEmpresas, new { id = "ParaEmpresas", name = "ParaEmpresas", @class = "mws-textinput", @maxlength = 3 })
                </div>
            </div>
            <div class="mws-form-row">
                <label>Ordem de Para Famílias (coloque 0 para não aparecer)</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.ParaFamilias, new { id = "ParaFamilias", name = "ParaFamilias", @class = "mws-textinput", @maxlength = 3 })
                </div>
            </div>

            <div class="mws-form-row">
                <label>Ordem de exibição padrão</label>
                <div class="mws-form-item small">
                    @Html.TextBoxFor(model => model.Ordem, new { id = "Ordem", name = "Ordem", @class = "mws-textinput", @maxlength = 3 })
                </div>
            </div>

            <div class="mws-form-row">
                <label>Destaque na home CPV, Laços Corporativos e/ou Laços Flores?</label>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.DestaqueHome) SIM
                </div>
            </div>

            <div class="mws-form-row">
                <label>Disponível para venda no site CPV?</label>
                <i>Os produtos que não estiverem disponíveis, não são exibidos em nenhum tamanho. Somente coroas para velório são exibidos no site CPV.</i>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.Disponivel)  SIM
                </div>
            </div>

            <!--<div class="mws-form-row">
        <label>Habilitar TrustVox para este produto?</label>
        <i>Habilita opiniões e avaliações sobre este produto no site CPV.</i>
        <div class="mws-form-item large">
            Html.CheckBoxFor(model => model.TrustVox)  SIM
        </div>
    </div>-->

            <div class="mws-form-row">
                <label>Disponível para venda no site Laços Corporativos?</label>
                <i>Os produtos que não estiverem disponíveis, não são exibidos em nenhum tamanho.</i>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.DisponivelLacos)  SIM
                </div>
            </div>

            <div class="mws-form-row">
                <label>Disponível para venda no site Laços Flores?</label>
                <i>Os produtos que não estiverem disponíveis, não são exibidos em nenhum tamanho.</i>
                <div class="mws-form-item large">
                    @Html.CheckBoxFor(model => model.DisponivelLacosFlores)  SIM
                </div>
            </div>

            <div class="mws-form-row">
                <label>Disponibilidade no admin por origem site</label>
                <div class="mws-form-item large">
                    <span id="load_origem" class="carregando-branco">Buscando origem...</span>
                    <div class="mws-dualbox clearfix">
                        <div class="mws-dualbox-col1">
                            <div class="mws-dualbox-filter clearfix">
                                todas as origens
                                <input type="text" id="box1Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box1Clear">X</button>
                            </div>
                            @Html.DropDownList("box1View", new SelectList(ViewBag.TodasOrigens as IEnumerable<Domain.Entities.OrigemSite>, "ID", "Titulo"), new { @multiple = "multiple", @size = "15" })
                            <span id="box1Counter" class="countLabel"></span>
                            <select id="box1Storage"></select>
                        </div>
                        <div class="mws-dualbox-col2">
                            <button id="to2" type="button">&gt;</button>
                            <button id="allTo2" type="button">&gt;&gt;</button>
                            <div class="clear"></div>
                            <button id="allTo1" type="button">&lt;&lt;</button>
                            <button id="to1" type="button">&lt;</button>
                        </div>
                        <div class="mws-dualbox-col3">
                            <div class="mws-dualbox-filter clearfix">
                                origens selecionadas
                                <input type="text" id="box2Filter" class="mws-textinput" autocomplete="off" />
                                <button type="button" id="box2Clear">X</button>
                            </div>

                            @Html.DropDownList("box2View", new SelectList(ViewBag.Origens as IEnumerable<Domain.Entities.OrigemSite>, "ID", "Titulo"), new { @multiple = "multiple", @size = "15" })
                            <span id="box2Counter" class="countLabel"></span>
                            <select id="box2Storage"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mws-form-row ProdutosNFE">
                <label>Valor do Produto</label>
                <div class="InicioDiv">
                    @ViewBag.ValorProduto
                </div>
            </div>
            <div class="mws-form-row ProdutosNFE">
                <label>Produtos Faturamento</label>
                <div class="InicioDiv" id="ProdutoAddFaturamento">
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px">
                        <label>Cod. Produto</label>
                        <div class="mws-form-item">
                            <input type="hidden" id="CodigoProdutoFaturamento" />
                            <input type="hidden" id="ValoresProdutoFaturamento" name="ValoresProdutoFaturamento" />
                            <input type="text" name="ProdutoCodigoNCM" id="ProdutoCodigoNCM" class="mws-textinput" maxlength="200">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                        <label>Produto</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                        <label>NCM</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>Valor Uni.</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>Valor Total</label>
                        <div class="mws-form-item">
                            N/A
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>Desconto</label>
                        <div class="mws-form-item">
                            <input type="text" name="Desconto" id="Desconto" class="mws-textinput money" value="0" maxlength="10">
                        </div>
                    </div>
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px; width: 8%;">
                        <label>QTD</label>
                        <div class="mws-form-item">
                            <input type="text" name="ProdutoQTD" id="ProdutoQTD" class="mws-textinput OnlyNumber" value="0" maxlength="4">
                        </div>
                    </div>

                    @*<div class="mws-form-row mws-form-row-sixth form-row-text" style="padding-left: 15px; padding-right: 0px">
                    <label>Valor Total</label>
                    <div class="mws-form-item">
                        R$ 0,00
                    </div>
                </div>*@
                    <div class="mws-form-row mws-form-row-sixth" style="padding-left: 15px; padding-right: 0px">
                        <label></label>
                        <div class="mws-form-item" style="padding-top: 10px;">
                            <input type="button" id="AddProduto" class="mws-button green big" value="Adicionar">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="LstProedutosNFe">
                    <table class="mws-table">
                        <thead>
                            <tr>
                                <th>
                                    Cod
                                </th>
                                <th>
                                    Produto
                                </th>
                                <th>
                                    NCM
                                </th>
                                <th>
                                    Valor. Uni
                                </th>
                                <th>
                                    Valor. Total
                                </th>
                                <th>
                                    Desconto
                                </th>
                                <th>
                                    QTD
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.TblProdutoXFaturamento))
                                {
                                    @Html.Raw(ViewBag.TblProdutoXFaturamento)
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mws-button-row">
                <input type="submit" class="mws-button blue" value="Salvar" id="enviar" />
                <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';" />
                <span id="processando" class="carregando-branco">Processando...</span>
            </div>
        </div>
        }
    </div>
</div>
@section Scripts{
<script type="text/javascript">

    jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
    };

    

    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

    function CalcularValorTotal() {
        var QTD = 0;
        if ($("#ProdutoQTD").val() != "") {
            QTD = parseFloat($("#ProdutoQTD").val());
        }

        var Desconto = 0
        if ($("#Desconto").val() != "") {
            Desconto = parseFloat($("#Desconto").val().replace(",", "."));
        }

        var ValorUnitario = parseFloat($("#ProdutoAddFaturamento .mws-form-row:eq(3) .mws-form-item").html().replace("R$ ", ""));
        var ValorFinal = ValorUnitario;

        if (QTD > 0) {
            ValorFinal = (ValorUnitario - Desconto) * QTD;
        }

        $("#ProdutoAddFaturamento .mws-form-row:eq(4) .mws-form-item").html("R$ " + ValorFinal.toFixed(2));
    }

    function CalularProdutosFaturamentoEnvio() {
        var StrFinal = "";
        var ValorTotal = 0;

        $("#LstProedutosNFe tbody tr").each(function () {
            var CodProdutoFaturamento = $(this).find("td:eq(0)").attr("rel");
            var QTD = $(this).find("td:eq(6)").html();
            var ValorUnit = $(this).find("td:eq(3)").html();
            var ValorDesconto = $(this).find("td:eq(5)").html();

            StrFinal += CodProdutoFaturamento + "," + QTD + "," + ValorUnit.replace("R$", "").replace(",", ".") + "," + ValorDesconto.replace("R$", "").replace(",", ".") + "|";
            ValorTotal += (parseFloat(ValorUnit.replace("R$", "").replace(",", ".")) - parseFloat(ValorDesconto.replace("R$", "").replace(",", "."))) * parseFloat(QTD);
        });
        StrFinal = StrFinal.substring(0, StrFinal.length - 1);

        //ValorTotal

        $("#ValoresProdutoFaturamento").val(StrFinal);
    }

    $(document).ready(function () {

        $("#Desconto").keyup(function () {
            CalcularValorTotal();
        });

        $("#ProdutoQTD").keyup(function () {
            CalcularValorTotal();
        });

        // SUB PRODUTOS - BEGIN

        $("#ProdutoCodigoNCM").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/GetProdutosFaturamentoByNCMeNome",
                    getValue: 'Nome',
                    dataType: "json",
                    data: {
                        codigo: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.NomeDisplay,
                                value: item.ProdutoID,
                                NCM: item.NCM,
                                NomeProduto: item.NomeProduto,
                                Preco: item.Preco
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {

               

                var NomeDisplay = ui.item.label;
                var ID = ui.item.value;
                var NomeProduto = ui.item.NomeProduto;
                var NCM = ui.item.NCM;
                var Preco = parseFloat(ui.item.Preco);

                $("#CodigoProdutoFaturamento").val(ID);
                $("#ProdutoAddFaturamento .mws-form-row:eq(1) .mws-form-item").html(NomeProduto);
                $("#ProdutoAddFaturamento .mws-form-row:eq(2) .mws-form-item").html(NCM);
                $("#ProdutoAddFaturamento .mws-form-row:eq(3) .mws-form-item").html("R$ " + Preco.toFixed(2));
                $("#ProdutoCodigoNCM").val(NomeDisplay);

                return false;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });

        $("#LstProedutosNFe table tbody input").click(function () {
            $(this).parent().parent().remove();
        });


        $("#AddProduto").click(function () {
            var NCM = $("#ProdutoAddFaturamento .mws-form-row:eq(2) .mws-form-item").html().trim();
            var Preco = parseFloat($("#ProdutoAddFaturamento .mws-form-row:eq(3) .mws-form-item").html().trim().replace("R$ ", ""));
            var ValorTotal = parseFloat($("#ProdutoAddFaturamento .mws-form-row:eq(4) .mws-form-item").html().trim().replace("R$ ", ""));
            var Desconto = parseFloat($("#Desconto").val().replace(",", "."));
            if (Desconto == "") {
                Desconto = 0
            }

            var QTD = $("#ProdutoQTD").val();

            var CodigoProdutoFaturamento = $("#CodigoProdutoFaturamento").val();
            if (NCM != "" && QTD != "" && CodigoProdutoFaturamento != "") {

                var CodigoProduto = $("#ProdutoCodigoNCM").val().split('-')[0].trim();
                var Prduto = $("#ProdutoCodigoNCM").val().split('-')[1].trim();
                var CodigoProdutoFaturamento = $("#CodigoProdutoFaturamento").val();

                var IDGenerico = makeid();

                $("#LstProedutosNFe table tbody").append("<tr><td rel='" + CodigoProdutoFaturamento + "'>" + CodigoProduto + "</td><td>" + Prduto + "</td><td>" + NCM + "</td><td>" + "R$ " + Preco.toFixed(2) + "</td><td>" + "R$ " + ValorTotal.toFixed(2) + "</td><td>" + "R$ "+ Desconto.toFixed(2) + "</td><td>" + QTD + "</td><td><input type='button' class='mws-button red big removerProdutoFaturamento" + IDGenerico + "' value='Remover'></td></tr>");
                var IdTriger = ".removerProdutoFaturamento" + IDGenerico;

                $("#LstProedutosNFe").on("click", IdTriger, function () {
                    $(this).parent().parent().remove();
                });
            }
            else {
                alert('Preencha todos os campos');
            };
        });

        $(".money").maskMoney();
        $('.OnlyNumber').ForceNumericOnly();

        // SUB PRODUTOS - END

        $('#produtos').addClass('active');
        $('#i_produtos').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if ($('#Descricao').val().length == 0) {
                    alert('O campo descrição é obrigatório.');
                } else {
                    CalularProdutosFaturamentoEnvio();

                    form.submit();
                }
            },
            rules: {
                TipoID: "required",
                Titulo: "required",
                ImgTitle: "required",
                ImgAlt: "required",
                CategoriaID: "required",
                SexoID: "required",
                Nome: "required",
                BreveDescritivo: "required",
                Descricao: "required"
            },
            messages: {
                TipoID: "O campo Tipo é obrigatório.",
                Titulo: "O campo Título é obrigatório.",
                ImgTitle: "O campo Title Imagem é obrigatório.",
                ImgAlt: "O campo Alt Imagem é obrigatório.",
                CategoriaID: "O campo categoria é obrigatório.",
                SexoID: "O campo sexo é obrigatório.",
                Nome: "O campo título é obrigatório.",
                BreveDescritivo: "O campo breve descritivo é obrigatório.",
                Descricao: "O campo descrição é obrigatório."
            }
        });
    });
</script>
}