﻿@model IEnumerable<Domain.Entities.ProdutoSemelhante>
@{
    ViewBag.Title = "Produtos Semelhantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var produto = (Domain.Entities.Produto)ViewBag.Produto;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#produtos').addClass('active');
            $('#i_produtos').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString())
{
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
} 
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Produtos semelhantes para o produto @produto.Nome
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("EditSemelhante", "Produto", new { produtoID = Request.QueryString["produtoID"] })';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
            
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Produto</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="">@item.ProdutosSemelhantes.Nome</td> 
                    <td class="center" style="width:164px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "EditSemelhante", new { produtoID = item.ProdutoID, id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>@Html.ActionLink("Deletar", "DeleteSemelhante", new { produtoID = item.ProdutoID, id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })</li>                                           
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
    </div>
</div>