﻿@model Domain.Entities.Noticia

@{
    ViewBag.Title = Model == null ? "Nova Notícia" : "Edição da notícia/mídia " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Nova Categoria" : "Edição da notícia/mídia " + Model.Titulo)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Noticia", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Foto)
            @Html.HiddenFor(model => model.RotuloUrl)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Noticia.Tipo), (Model != null ? Model.Tipos : Domain.Entities.Noticia.Tipo.MERCADO), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Foto <i>Arquivo JPG (400px x 400px)</i></label>
                    <div class="mws-form-item small">
                    @if (Model != null)
                    {
                        if (Model.Foto != null)
                        {
                        <a href="/content/noticias/@Model.ID/@Model.Foto" target="_blank"><img src="/content/noticias/@Model.ID/thumb/@Model.Foto" border="0" /></a><br /><i>Para modificar a foto, selecione outro arquivo.</i><br />
                        <br />
                        }
                    }
                    @Html.InputFile("File")
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Fonte</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Fonte, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Chamada</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Chamada, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Descrição</label>
                    <div class="mws-form-item small">
                        @Html.TextAreaFor(model => model.Descricao, new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Data</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Data, new { @class = "mws-textinput mws-datepicker", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Tag Description</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagDescription, new { @class = "mws-textinput", maxlength = "155" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Tag Keywords</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.TagKeywords, new { @class = "mws-textinput", maxlength = "155" })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Publicado)  SIM
                    </div>
                </div>
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#conteudo').addClass('active');
        $('#i_noticias').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                if ($('#Descricao').val().length == 0) {
                    alert('Preencha a descrição da notícia.');
                } else {
                    form.submit();
                }
            },
            rules: {
                Titulo: "required",
                TipoID: "required",
                Chamada: "required",
                Descricao: "required",
                Data: {
                    required : true
                },
                TagDescription: "required"
            },
            messages: {
                Titulo: "O campo título é obrigatório.",
                TipoID: "Selecione o tipo de notícia",
                Chamada: "O campo chamada é obrigatório",
                Descricao: "O campo descrição é obrigatório",
                Data: {
                    required: "O campo data é obrigatório"
                },
                TagDescription: "O campo tag description é obrigatório"
            }
        });
    });
</script>
}