﻿@{
    Layout = "~/Views/Shared/_LayoutNeue.cshtml";
}

@section NeueScripts {

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    //Script Yourviews -->
        (function () {
            var yvs = document.createElement("script");
            yvs.type = "text/javascript";
            yvs.async = true;
            yvs.id = "_yvsrc";
            yvs.src = "//service.yourviews.com.br/script/62d7e95f-dba9-4a4c-b046-04408c991aa9/yvapi.js";
            var yvs_script = document.getElementsByTagName("script")[0];
            yvs_script.parentNode.insertBefore(yvs, yvs_script);
        })();
        //Script Yourviews -->  
</script>
}

<section>
    <div class="container">
        <div class="lining">
            <div class="col-md-12">
            <div id="yv-show-form" style="min-height:300px; background-image:url(https://service.yourviews.com.br/static/images/loading.gif);background-repeat:no-repeat">
                <br /><br />Por favor aguarde...
            </div>
            <div class="clear"></div>
            </div>
            </div>
        </div>
</section>