﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var TextoApoio = "CAPITAIS E REGIÕES METROPOLITANAS";
    var TelAd = "4007-2233";
    var Tel0800 = configuracoes.SAC;

    if (!string.IsNullOrEmpty(Request.QueryString["gclid"]) || Request.Cookies["_ao5_track_adwords"] != null)
    {
        TextoApoio = "ATENDIMENTO NACIONAL";
        TelAd = "4003-3138";
        Tel0800 = "0800-580-3250";
    }

    string tituloGeral = "";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] != null)
    {
        if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "local")
        {

            tituloGeral = ViewBag.Title;

        }
        else
        {
            tituloGeral = ViewBag.Title + " | Coroas Para Velório";
        }
    }
    else
    {
        tituloGeral = ViewBag.Title + " | Coroas Para Velório";
    }

}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    @{
        var URL = "https://www.coroasparavelorio.com.br" + Request.Url.AbsolutePath;
    }
    <link rel="canonical" href="@URL" />
    <!-- Prevent Skype Toolbar to change de CSS from DOM elements -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />

    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : tituloGeral)</title>
    <meta name="description" content="@(String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description)" />
    <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />

    <meta name="robots" content="noindex, nofollow">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,700,800" rel="stylesheet">

    <style type="text/css">
    body,body *{font-family:Trebuchet MS,Helvetica,Arial,sans-serif}h1{font-family:'Yanone Kaffeesatz',sans-serif;font-size:30px}section#login-bar{background-color:#555;color:#fff;padding:5px 0;text-align:right;font-size:13px}section#main-header a{border:none;display:block;margin:15px 20px}section#main-header a img{width:100%;height:auto;max-width:300px}section#main-header ul{list-style:none;padding:0;margin:26px 0 0;display:inline-block}section#main-header ul li{float:left;text-align:right;padding:0 10px;text-transform:uppercase;color:#a8a8a8}section#main-header ul li strong{display:block;width:100%;font-size:26px;padding-bottom:4px;color:#333}section#main-header ul li span{display:block;text-align:center;background-color:#797979;padding:6px 10px;color:#fff;font-size:11px;line-height:.8;letter-spacing:.5px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px}nav.navbar-inverse{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;background-color:#a8a8a8;border:none;min-height:25px;margin-bottom:0}section#features{text-align:center;background-color:#f5f5f5;border-bottom:1px solid #e0e0e0}section#features ul{display:inline-block;list-style:none;padding:0;margin:5px 0}section#features ul li{float:left;padding:5px 10px;text-align:left;text-transform:uppercase;font-size:10px;color:#797979}section#features ul li i{display:inline-block;float:left;width:17px;height:17px;margin-right:5px;background-image:url(../img/ui/spritesheet.png);background-position:0 0;background-size:auto;background-repeat:no-repeat}section#features ul li span{display:block;float:left}section.loop-title .form-control{padding:8px 15px;height:initial;margin-top:12px;background-color:#797979;color:#fff;width:initial;display:inline-block}section.loop .card{position:relative;text-align:center;padding:10px 0;border:1px solid transparent;margin:10px 0}section.loop .card span{display:inline-block;overflow:hidden;text-align:center;width:80%;height:0;padding-bottom:85%}section.loop .card span img{width:100%;height:auto}section.loop .card h2{text-transform:uppercase;font-size:14px}.btn-checkout{color:#fff;background-color:#af0102;text-transform:uppercase;padding:10px 45px;font-size:16px}@{<text>@@media(min-width:768px){.visible-xs{display:none}</text>}
    </style>

    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css" rel="stylesheet">
    <link href="~/Content/neue/css/bootstrap-full.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415714095468338'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=415714095468338&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">
        function getParam(p) {

            var match = RegExp('[?&]' + p + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        function setCookie(name, value, days) {

            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = ";expires=" + date.toGMTString();
            var domain = ";domain =.coroasparavelorio.com.br"
            var path = ";path=/";
            document.cookie = name + "=" + value + expires + domain + path;
        };

        window.onload = function () {

            var url = 'https://www.coroasparavelorio.com.br/tracker/tracker.php';

            var params = ['ads_palavra', 'ads_grupo', 'ads_campanha', 'ads_posicao', 'ads_regiao'];
            var campos = ['palavra', 'grupo', 'campanha', 'posicao', 'regiao'];

            var gclid = getParam('gclid');

            if (gclid) {

                setCookie('_ao5_track_adwords', gclid, 1);

                url += '?gclid=' + gclid;

                for (var i = 0; i < params.length; i++) {

                    var v = getParam(params[i]);

                    if (v) {

                        url += '&' + campos[i] + '=' + v;
                    }
                }

                document.body.innerHTML += '<img src="' + url + '" style="display: none" />';
            }

        }
    </script>
    <style type="text/css">
        nav.navbar-inverse {
            background-color: rgb(227, 6, 18);
        }

        section#main-header a {
            margin: 0px;
        }

        nav.navbar-inverse ul.navbar-nav li a {
            font-size: 12px;
        }

        nav.navbar-inverse ul.navbar-nav li span {
            color: #ffffff;
            line-height: 2.3
        }     


        section#main-header ul li strong, section#main-header ul li a {
            font-size: 24px;
        }

        nav.navbar-inverse ul.navbar-nav li a:hover, nav.navbar-inverse ul.navbar-nav li a:focus {
            background-color: #333;
        }

        nav.navbar-inverse {
            margin-bottom: -13px;
        }

        section#main-header ul li strong, section#main-header ul li {
            font-size: 12px;
                 }

        section#main-header ul {
            margin-top: 30px;
            margin-bottom: 30px;
        }

            section#main-header ul li span {
                background-color: #e30612;
            }

        .icon_profile {
            line-height: 2;
        }

        ul 
        }

        @@media (max-width: 1199px) {
            nav.navbar-inverse ul.navbar-nav li a {
                font-size: 10px;
            }
        }

        @@media (max-width: 992px) {
            section#main-header a img {
                max-width: 205px;
                margin-top: 25px;
            }

            section#main-header a {
                margin: 15px 0;
            }
        }

        @@media (min-width: 992px) {
            section#main-header a img {
                max-width: 205px;
                margin-top: 25px;
            }
        }
    </style>
</head>

<body id="LayoutNew">
    <!-- Fixed Bar -->
    <section id="fixed-bar" style="display:none">
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <div class="col-xs-12">
                    <span>
                        <text>Atendimento</text> <b>24 horas</b>
                        <big><a href="tel:@Tel0800">@Tel0800</a></big> <a href="/contato">ou veja o telefone da sua região</a>
                    </span>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>
    <!-- /Fixed Bar -->
    <header>
        <!-- Login Stripe -->
        <nav class="navbar navbar-inverse">
            <!-- Container -->
            <div class="container">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coroa de Flores <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <li><a href="/coroa-de-flores/premium">Coroa de Flores Premium</a></li>
                                <li><a href="/coroa-de-flores/luxo">Coroa de Flores Luxo</a></li>
                                <li><a href="/coroa-de-flores/super-luxo">Coroa de Flores Super Luxo</a></li>
                                <li><a href="/coroa-de-flores/duplas">Coroa de Flores Duplas</a></li>
                                <li><a href="/coroa-de-flores">Todas as Coroas</a></li>
                            </ul>
                        </li>
                        <li class="hidden-sm">
                            <a href="/tempo-e-prazo-de-entrega" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                                Prazos e Entregas
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frases Homenagem <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/frases-de-homenagens/mensagens-para-amigo">Frases e Mensagens de Luto para Amigo</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-familiares">Frases e Mensagens de Luto para Familiares</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-colegas-de-trabalho">Frases e Mensagens de Luto para Colegas de Trabalho</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-mae">Frases e Mensagens de Luto para Mãe</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-pai">Frases e Mensagens de Luto para Pai</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-primos">Frases e Mensagens de Luto para Primo</a></li>
                                <li><a href="/frases-de-homenagens">Mais Frases</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/formas-de-pagamento" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
                                Formas de Pagamento
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Onde Atendemos <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <span class="drop1">
                                    <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-recife-pe">Recife</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-fortaleza-ce">Fortaleza</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-salvador-ba">Salvador</a></li>
                                </span>

                                <span class="drop2">
                                    <li><a href="/coroas-de-flores/coroa-de-flores-campinas-sp">Campinas</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-santos-sp">Santos</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-cuiaba-mt">Cuiabá</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-campo-grande-ms">Campo Grande</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-florianopolis-sc">Florianópolis</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp">São José dos Campos</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-guarulhos-sp">Guarulhos</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-jundiai-sp">Jundiaí</a></li>
                                    <li><a href="/coroas-de-flores/coroa-de-flores-niteroi-rj">Niterói</a></li>
                                    <li><a href="/velorios-e-cemiterios" class="outros-locais">Outros Locais</a></li>
                                </span>
                            </ul>
                        </li>
                        <li>
                            @Html.Action("MenuNeue", "Cliente")
                        </li>
                    </ul>
                </div>
                <!-- /navbar-collapse -->
            </div>
            <!-- /Ccontainer -->
        </nav>
        <!-- /Login Stripe -->
        <!-- Mobile Fixed Phone -->
        <section id="mobile-fixed" class="visible-xs">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-xs-6">
                        <span>Capitais:<br /> <big><a href="tel:@TelAd">@TelAd</a></big></span>
                    </div>
                    <div class="col-xs-6">
                        <span>Outras Cidades:<br /> <big><a href="tel:@Tel0800">@Tel0800</a></big></span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Mobile Fixed Phone -->
        <!-- Mobile Header -->
        <section id="mobile-header" class="visible-xs">
            <!-- Container -->
            <div class="container-fluid">
                <div class="lining">
                    <div class="col-xs-2">
                        <a href="#mmenu" class="icon_menu"></a>
                    </div>
                    <div class="col-xs-8">
                        <a href="@Url.Action("Index", "Home")">
                            <!--[if IE]>
                            <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <![endif]-->
                            <!--[if !IE]> -->
                            <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <!-- <![endif]-->
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/carrinho">
                            <span class="icon_cart"><i>@Html.Action("ResumoMobile", "Carrinho")</i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Container -->
            <!-- Whatsapp -->
            <section class="whatsapp"></section>
        </section>
        <!-- /Mobile Header -->
        <!-- Menu for mobile screens -->
        @Html.Action("NavigationMobile", "Cliente")

        <!-- Mainly Header -->
        <section id="main-header">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-3 col-sm-3">
                        <a href="@Url.Action("Index", "Home")">
                            <!--[if IE]>
                            <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <![endif]-->
                            <!--[if !IE]> -->
                            <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
                            <!-- <![endif]-->
                        </a>
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <ul>
                            <li>
                                <a href="tel:@TelAd"><i></i>@TelAd</a>
                                @TextoApoio
                            </li>
                            <li>
                                <a href="tel:@Tel0800"><i></i>@Tel0800</a>
                                OUTRAS CIDADES
                            </li>

                            @Html.Action("Resumo", "Carrinho")

                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Mainly Header -->
        <!-- Menu for Desktop and Tablet screens -->

    </header>

    @if (ViewBag.Home == true || Request.Path == "/coroa-de-flores")
    {
    <!-- Features -->
        <section id="features">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <ul>
                            <li class="hidden-sm hidden-xs" id="entrega">
                                <i></i>
                                <span>
                                    Entrega para
                                    <strong>todo o Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faturamento">
                                <i></i>
                                <span>
                                    Faturamento para
                                    <strong>empresas com NF-e</strong>
                                </span>
                            </li>

                            <li id="atendimento">
                                <i></i>
                                <span>
                                    Atendimento e entrega
                                    <strong>24 horas todos os dias</strong>
                                </span>
                            </li>

                            <li id="frete">
                                <i></i>
                                <span>
                                    Frete grátis
                                    <strong>para todo Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="pagamento">
                                <i></i>
                                <span>
                                    Pagamento com boleto
                                    <strong>ou cartão de crédito</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faixa">
                                <i></i>
                                <span>
                                    Faixa para
                                    <strong>homenagem grátis</strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    <!-- /Features -->
    }

    @RenderBody()

    <footer>
        @if (Request.Path.StartsWith("/coroa-de-flores"))
        {

        }


        @if (ViewBag.Home == true | Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores") || Request.Path.StartsWith("/coroa-de-flores"))
        {
        <section class="foot-features">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <ul>
                            @*<li style="background-image: none;">
                                    <div class="div_imagem">
                                        <div id="armored_website_02" style="border-style: none;padding-top: 30px;position: relative;margin: auto;">
                                                <param id="aw_preload" value="true" />
                                            </div>
                                            <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                                    </div>
                                </li>*@
                            <li id="foo-frete"></li>
                            <li id="foo-entrega"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        }

        @if (Request.Path == "/coroa-de-flores")
        {
        <section class="ipsum">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>
                            Ligadas às cerimônias de despedida do entes e amigos queridos, a coroa de flores representava em diversas culturas milenares um símbolo de grande honra. Segundo diversas fontes históricas, as antigas civilizações gregas passaram a usá-la da forma como conhecemos hoje, em homenagem aos mortos, simbolizando o triunfo final da vida sobre a morte.
                        </p>
                        <p class="hidden-xs">
                            Prestar homenagens a quem amamos e que infelizmente já não está mais entre nós é um importante sinal de atenção e afeto.
                        </p>
                        <h2>
                            Como escolher a coroa de flores
                        </h2>
                        <hr />
                        <p>
                            A escolha das flores depende do gosto de quem vai enviá-la, mas algumas dicas podem auxiliar a prestar o mais belo e verdadeiro tributo.
                        </p>
                        <p>
                            Antúrio, girassol, lisiantos, lírios e copos de leite são indicados para pessoas mais idosas, e também para colegas de trabalho. As gérberas são coloridas, e expressam profundas condolências aos familiares do falecido. As margaridas são indicadas para velórios infantis ou de jovens, enquanto as rosas são enviadas por familiares e amigos próximos à pessoa falecida. Orquídeas são uma belíssima e delicada homenagem na ocasião do falecimento de mães.
                        </p>
                        <p>
                            As coroas são produzidas com flores naturais e podem ter diferentes aromas, combinações de cores e tamanhos. As flores são decoradas em forma de um arco e finalizadas com uma faixa, contendo frases de amigos e familiares, reforçando o respeito à memória daquele que se foi. É uma forma de transpassar emoções que simplesmente não podem ser expressas na forma de palavras.
                        </p>
                        <p>
                            Seja para os velórios, enterros ou qualquer outra cerimônia funeral, encontre a coroa ideal em nosso site, e conte com uma entrega rápida em todo o Brasil. A central de atendimento Coroas Para Velório funciona 24 horas por dia, incluindo finais de semana e feriados, e a coroa é entregue em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                        </p>
                        <p>
                            Pioneiro no segmento de homenagens fúnebres, o e-commerce Coroas para Velório é especializado na entrega de coroa de flores no Brasil. Com estrutura para enviar de maneira rápida e segura coroa de flores em todos os estados brasileiros, o Coroas para Velório garante a segurança de sua compra on-line através de nosso site blindado; sem riscos de fraudes ou clonagem.
                        </p>
                        <p>
                            Com uma Central de Atendimento que funciona 24 horas por dia, incluindo finais de semana e feriados, o Coroas para Velório faz a entrega de coroas de flores em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                        </p>
                        <p>
                            Visando garantir a comodidade de todos os nossos clientes no momento do luto, disponibilizamos as seguintes formas de pagamentos: boleto, cartões, depósito bancário ou faturamento para empresas com emissão de Nota Fiscal.
                        </p>
                        <p>
                            Para encomendar a sua coroa de flores, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a coroa de flores.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Container -->
        </section>
        }

        @if (ViewBag.Home == true | Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores"))
        {
        <section class="ipsum">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        @if (ViewBag.Home == true)
                            {
                            <p>
                                Pioneiro no segmento de homenagens fúnebres, o e-commerce <strong>Coroas para Velório</strong> é especializado na entrega de <strong>coroa de flores</strong> no Brasil. Com estrutura para enviar de maneira rápida e segura coroas de flores em todos os estados brasileiros, o Coroas para Velório garante a segurança de sua compra on-line através de nosso site blindado; sem riscos de fraudes ou clonagem.
                            </p>
                            <p class="hidden-xs">
                                Com uma Central de Atendimento que funciona 24 horas por dia, incluindo finais de semana e feriados, o Coroas para Velório faz a entrega de <strong>coroas de flores</strong> em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                            </p>
                            <p class="hidden-xs">
                                Visando garantir a comodidade de todos os nossos clientes no momento do luto, disponibilizamos as seguintes formas de pagamentos: boleto, cartões, depósito bancário ou faturamento para empresas com emissão de Nota Fiscal.
                            </p>
                            <p class="hidden-xs">
                                Para encomendar as suas <strong>coroas de flores</strong>, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a <strong>coroa de flores</strong>.
                            </p>
                            <a class="visible-xs">Leia mais</a>
                            }

                            else
                            {
                            @Html.Raw(String.IsNullOrEmpty(ViewBag.Descricao) ? configuracoes.Descricao : ViewBag.Descricao)
                            }
                    </div>
                </div>

                @RenderSection("Rodape", false)
            </div>
            <!-- Container -->
        </section>
        }

        <section class="main">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('institucional','1')">Institucional</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "a-empresa")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">A Empresa</a></li>
                            @*<li><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">Coroas para Velório na Mídia</a></li>*@
                            <li><a href="@Url.Action("Index", "depoimentos-de-clientes")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">Depoimentos de Clientes</a></li>
                            <li><a href="@Url.Action("Index", "seja-uma-floricultura-parceira")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">Seja uma Floricultura Parceira</a></li>
                            @*<li><a href="@Url.Action("Index", "seja-um-promotor")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">Seja um Promotor</a></li>*@
                        </ul>

                        <h5 onclick="mostra_esconde2('condicoes_comerciais','1')">Condições Comerciais</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">Termos e Condições Comerciais</a></li>
                            <li><a href="@Url.Action("Index", "politicas-de-privacidade")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">Política de Privacidade</a></li>
                            <li><a href="@Url.Action("Index", "politica-de-reembolso-e-cancelamento")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politica-de-reembolso-e-cancelamento']);">Política de Reembolso e Cancelamento</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('mais_informacoes','1')">Mais Informações</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">Como Comprar</a></li>
                            <li><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">Tempo e Prazo de Entrega</a></li>
                            <li><a href="@Url.Action("Index", "indique-o-coroas-para-velorio")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">Indique o Coroas para Velório</a></li>
                            <li><a href="@Url.Action("Index", "significado-das-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">Significado das Flores</a></li>
                            <li><a href="@Url.Action("Index", "condolencias-virtuais-gratis")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">Condolências Virtuais Grátis</a></li>
                            <li><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">Frases de Homenagens</a></li>
                            @*<li><a href="@Url.Action("Index", "noticias-de-mercado")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">Notícias de Mercado</a></li>*@
                            <li><a href="@Url.Action("Index", "seguranca")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">Segurança</a></li>
                            <li><a href="/blog" target="_blank" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('compre_online','1')">Compre Online</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "coroa-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">Coroa de Flores</a></li>
                            <!-- <li><a href="#">Arranjos de Condolências</a></li>-->
                            <li><a href="@Url.Action("Index", "promocao-da-semana")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promocao-da-semana']);">Promoção da Semana</a></li>
                            <li><a href="@Url.Action("Index", "mais-vendidas")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
                            <li><a href="@Url.Action("Index", "solucoes-corporativas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">Soluções Corporativas</a></li>
                            <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                            <li><a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">Cidades e Regiões</a></li>
                        </ul>

                        <h5 onclick="mostra_esconde2('duvidas_frequentes','1')">Dúvidas Frequentes</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "duvidas-frequentes")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">Acesse nosso FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('televendas','1');mostra_esconde2('televendas2','2')">Televendas</h5>
                        <ul>
                            <li>Entregas em todo o Brasil</li>
                            @{
                                <li>@TelAd</li>
                            }

                            <li><a href="@Url.Action("Index", "contato")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'central-de-atendimento']);">Central de Atendimento</a></li>
                        </ul>

                        <h5 onclick="mostra_esconde2('central_atendimento','1')">Central de Atendimento</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "contato")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                            <li><a href="/contato/telefones-de-sua-regiao" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'telefones-por-regioes']);">Regiões de Atendimento</a></li>
                            <li><a href="@Url.Action("Index", "pesquisa-de-satisfacao")" rel="nofollow" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                        </ul>
                    </div>
                </div>

                <div class="lining">
                    <div class="col-md-3 col-sm-3">
                        <h5 onclick="mostra_esconde2('redes_sociais','3')">Redes Sociais</h5>
                        <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);" id="facebook"></a>
                        <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);" id="twitter"></a>
                        <a href="https://plus.google.com/102823637340385654450" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);" id="plus"></a>
                        <br />
                        @RenderSection("SocialScripts", false)
                        @*<a href="http://www.sitesustentavel.com.br/certificado/list?url=www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'selo-sustentavel']);" id="sustentavel" rel="nofollow"></a>*@
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <h5>Meios de Pagamento</h5>
                        <span id="payment"></span>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h5 onclick="mostra_esconde2('seguranca','5')">Segurança</h5>
                        <!-- <div class="div_imagem">
                            <div id="armored_website" style="position:relative;margin:auto;">
                                <param id="aw_preload" value="true" />
                            </div>
                            <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                        </div> -->
                        <div class="site-sincero">
                            <a href="http://certificados.trustvox.com.br/coroas-para-velorio" target="_blank" rel="nofollow" title="Opiniões Sinceras - Você pode confiar! Selo Trustvox"></a>
                        </div>
                        <div class="validcomm">
                            <a href="http://www.validcomm.com.br/valida/certificado/?d=coroasparavelorio.com.br">
                                <img src="https://www.validcomm.com.br/valida/selo/?d=coroasparavelorio.com.br">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>

        <section class="last">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>Coroas para velorio | CNPJ: 12.404.942/0001-14</p>
                        <p>www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a></p>
                        <p>As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.</p>
                        <p>É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site</p>

                        <span>
                            <p>Copyright &copy; @DateTime.Now.Year Coroas para Velório | TODOS OS DIREITOS RESERVADOS</p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    </footer>

    @RenderSection("Script", false)
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-2SWW6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
    <!-- /Google Tag Manager -->
    <!-- TAGUEAMENTO -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_set', 'currencyCode', 'BRL']);

        @Html.Raw(ViewBag.TrackTrans)

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        @if (ViewBag.Retargeting == null)
 {
    <text>
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        </text>
 }
 else
 {
    @Html.Raw(ViewBag.Retargeting)
 }
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- TAGUEAMENTO -->

</body>

<!-- Mmenu -->
<link href="/content/neue/js/mmenu/dist/core/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">

@RenderSection("NeueScripts", false)
</html>