﻿<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53436225-1', 'auto');
    @Html.Action("TrackUser", "Home")
    ga('send', 'pageview');

</script>
<!-- Required Stylesheets -->    
    <link href="/Content/_popping.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/icons/icons.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/gerenciador.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/plupload/jquery.plupload.queue.css" media="screen" />

<!-- Autocomplete Stylesheets -->
<link href="/Content/easy-autocomplete.min.css" rel="stylesheet" />
<link href="/Content/easy-autocomplete.themes.min.css" rel="stylesheet" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/demo.css" media="screen" />

<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jimgareaselect/css/imgareaselect-default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fullcalendar/fullcalendar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/tipsy/tipsy.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/sourcerer/Sourcerer-1.2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/spinner/spinner.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/jui/jquery.ui.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/elrte/css/elrte.full.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/elfinder/css/elfinder.css" media="screen" />
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/lightbox/css/lightbox.css" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/mws.theme.css" media="screen" />

<!-- JavaScript Plugins -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   

<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jimgareaselect/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jgrowl/jquery.jgrowl.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.filestyle.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.dataTables.js"></script>
    
    <!-- Autocomplete Stylesheets -->
    <script src="/Scripts/jquery.easy-autocomplete.min.js"></script>
    <script src="/Scripts/typeahead.js/typeahead.jquery.min.js"></script>
    <script src="/Scripts/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/Scripts/typeahead.js/bloodhound.min.js"></script>

  
    <!-- Tabs JavaScript -->
    <script src="/Scripts/jquery.steps.min.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/colorpicker/colorpicker.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/sourcerer/Sourcerer-1.2.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.placeholder.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.validate.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.validate.additional-methods.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.mousewheel.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery-ui.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.ui.mask.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.ui.datepicker-pt-BR.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery-ui-timepicker.js"></script>

<!-- sweetalert Stylesheets -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.1/dist/sweetalert2.css" media="screen" />

<!-- sweetalert JavaScript -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.1/dist/sweetalert2.all.min.js"></script>


<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/elrte/js/elrte.min.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/elfinder/js/elfinder.min.js"></script>

<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/funcoes.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/mws.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/demo.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/themer.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/demo.formelements.js"></script>
<script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.maskMoney.js"></script>
<script src="@Domain.Core.Configuracoes.CDN_URL/scripts/lightbox/js/lightbox.js" type="text/javascript"></script>

 
<link rel="stylesheet" media="screen" href="@Domain.Core.Configuracoes.CDN_URL/content/superfish.css">
<link rel="stylesheet" media="screen" href="@Domain.Core.Configuracoes.CDN_URL/content/superfish-navbar.css">
<script src="@Domain.Core.Configuracoes.CDN_URL/scripts/hoverIntent.js"></script>
<script src="@Domain.Core.Configuracoes.CDN_URL/scripts/superfish.js"></script>
    <link rel="stylesheet" href="../../Content/font-awesome.min.css"/>

    <script>

    jQuery(document).ready(function () {
        jQuery('ul.sf-menu').superfish({
            pathClass: 'current'
        });
    });

</script>
<script type="text/javascript">
    var comercial = false;
    var adminID = 0;
    $(document).ready(function () {
        $("div#mws-login .mws-login-back").mouseover(function (event) {
            $(this).find("a").animate({ 'left': 0 })
        }).mouseout(function (event) {
            $(this).find("a").animate({ 'left': 70 })
        });

        setInterval(function () {
            $.post('/Home/SetarAtividade/', function (data) {
                if (data != null && typeof data === 'object') {
                    window.location = data.url;
                }
            });
        }, 15000);

        setInterval(function () {
            $.post('/Home/GetPedidos/', function (data) {
                if (data != undefined && data != "" && data != "ERRO") {
                    $.jGrowl(data, { header: "NOVOS PEDIDOS", position: "bottom-right" });
                }
            });
        }, 15000);
    });
</script>
<script src="@Url.Content(Domain.Core.Configuracoes.CDN_URL + "/scripts/forms_gerenciador.js")" type="text/javascript"></script>    
 @RenderSection("Scripts", false)

<title>@ViewBag.Title - Administrador Coroas para Velório</title>
    <style>  
        .menusuperior {
            height: 36px;   
        } 
        .sf-arrows {
            font-size: 12px;
        }
        .sf-arrows .sf-with-ul {
            font-size: 12px;
            padding-right: 5px;
        }
        .sf-arrows .sf-with-ul:after {
            content: none;
        }
    </style>
</head>

<body>
<!--[if IE 6]>
<div style='text-align: center;clear: both;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0010_portuguese.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> 
<![endif]-->
<!--[if IE 7]>
<div style='text-align: center;clear: both;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0010_portuguese.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> 
<![endif]-->

@*	<!-- Themer -->  
	<div id="mws-themer">
    	<div id="mws-themer-hide"></div>
        <div id="mws-themer-content">
        	<div class="mws-themer-section">
	        	<label for="mws-theme-presets">Presets</label> <select id="mws-theme-presets"></select>
            </div>
            <div class="mws-themer-separator"></div>
            <div class="mws-themer-section">
                <ul>
                    <li><span>Base Color</span> <div id="mws-base-cp" class="mws-cp-trigger"></div></li>
                    <li><span>Text Color</span> <div id="mws-text-cp" class="mws-cp-trigger"></div></li>
                    <li><span>Text Glow Color</span> <div id="mws-textglow-cp" class="mws-cp-trigger"></div></li>
                </ul>
            </div>
            <div class="mws-themer-separator"></div>
            <div class="mws-themer-section">
            	<ul>
                    <li><span>Text Glow Opacity</span> <div id="mws-textglow-op"></div></li>
                </ul>
            </div>
            <div class="mws-themer-separator"></div>
            <div class="mws-themer-section">
	            <button class="mws-button red small" id="mws-themer-getcss">Get CSS</button>
            </div>
        </div>
        <div id="mws-themer-css-dialog">
        	<div class="mws-form">
            	<div class="mws-form-row" style="padding:0;">
		        	<div class="mws-form-item">
                    	<textarea cols="auto" rows="auto" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Themer End -->*@
     

	<!-- Header Wrapper -->
	<div id="mws-header" class="clearfix">       
            @Html.Action("Saudacao", "Home")        
    </div>
    <div class="menusuperior">
            @Html.Action("MenuSuperior", "Home")     
    </div>

    <!-- Main Wrapper -->
    <div id="mws-wrapper">
    	@*<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        	<!-- Main Navigation -->
                @Html.Action("MenuLateral", "Home")     
            <!-- End Navigation -->            
        </div>*@
        
        
        <!-- Container Wrapper -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Main Container -->            
            @RenderBody()
            <!-- End Main Container -->
            
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Coroas para Velório | Todos os direitos reservados.
            </div>
            <!-- End Footer -->
            
        </div>
        <!-- End Container Wrapper -->
        
    </div>
    <!-- End Main Wrapper -->
    @if (DateTime.Now.DayOfWeek != DayOfWeek.Saturday && DateTime.Now.DayOfWeek != DayOfWeek.Sunday && DateTime.Now.Hour >= 8 && DateTime.Now.Hour <= 20)
    {
        if (Request.Cookies["exibeproximo"] == null)
        {
            Response.Cookies["exibeproximo"].Value = "1";
            Response.Cookies["exibeproximo"].Expires = DateTime.Now.AddHours(2);
        <script type="text/javascript">
            var timerId = 0;
            var exibiu = false;
            if (comercial && !exibiu) {
                timerId = setInterval(function () {

                    $.post('/Home/GetProximoContato/', { id: adminID }, function (data) {
                        if (data != undefined && data != "" && data != "ERRO") {
                            $.jGrowl(data, { life: 600000, header: "PRÓXIMO CONTATO", position: "bottom-right" });
                        }
                        exibiu = true;
                    });
                    if (exibiu) {
                        clearInterval(timerId);
                    }

                }, 30000);
            }
        </script>
        }
        if (Request.Cookies["exibereuniao"] == null)
        {
            Response.Cookies["exibereuniao"].Value = "1";
            Response.Cookies["exibereuniao"].Expires = DateTime.Now.AddHours(2);
        <script type="text/javascript">
            var timerId = 0;
            var exibiu = false;
            if (comercial && !exibiu) {
                timerId = setInterval(function () {

                    $.post('/Home/GetProximaReuniao/', { id: adminID }, function (data) {
                        if (data != undefined && data != "" && data != "ERRO") {
                            $.jGrowl(data, { life: 600000, header: "REUNIÃO", position: "bottom-right" });
                        }
                        exibiu = true;
                    });
                    if (exibiu) {
                        clearInterval(timerId);
                    }

                }, 30000);
            }
        </script>
        }
        if (Request.Cookies["exibefollow"] == null)
        {
            Response.Cookies["exibefollow"].Value = "1";
            Response.Cookies["exibefollow"].Expires = DateTime.Now.AddHours(2);
        <script type="text/javascript">
            var timerId = 0;
            var exibiu = false;
            if (comercial && !exibiu) {
                timerId = setInterval(function () {

                    $.post('/Home/GetProximoFollow/', { id: adminID }, function (data) {
                        if (data != undefined && data != "" && data != "ERRO") {
                            $.jGrowl(data, { life: 600000, header: "FOLLOW UP", position: "bottom-right" });
                        }
                        exibiu = true;
                    });
                    if (exibiu) {
                        clearInterval(timerId);
                    }

                }, 30000);
            }
        </script>
        }
    } 
</body>
</html>

