﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53436225-1', 'auto');
        @Html.Action("TrackUser", "Home")
        ga('send', 'pageview');

    </script>
    <style type="text/css">
        .top-buffer { margin-bottom:20px; margin-top: 10px; }
        .col-centered{ float: none; margin: 0 auto; }
        label{
            margin-bottom: 0px!important;
        }
        .navbar-nav {
            font-size: 13px;
        }
    </style>

    <!-- Jquery Plugins -->
    <link rel="stylesheet" href="@Domain.Core.Configuracoes.CDN_URL/content/jui-dashboard/jquery-ui.css">
    <!-- sweetalert Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.1/dist/sweetalert2.css" media="screen" />
    <!-- sweetalert JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.1/dist/sweetalert2.all.min.js"></script>
    <!-- JavaScript Plugins-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="@Domain.Core.Configuracoes.CDN_URL/content/jui-dashboard/jquery-ui.js"></script>
    <script src="@Domain.Core.Configuracoes.CDN_URL/content/jui-dashboard/jquery.mask.js"></script>

    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/jui-dashboard/datepicker-pt-BR.js"></script>

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="@Domain.Core.Configuracoes.CDN_URL/content/bootstrap/css/bootstrap.css" media="screen" />
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/content/bootstrap/js/bootstrap.js"></script>
   
    @RenderSection("Scripts", false)

    <title>@ViewBag.Title - Administrador Coroas para Velório</title>
    <link href="../../Content/NewStyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../Content/font-awesome.min.css" />
</head>
<body>

    @Html.Partial("~/Views/Menus/MainMenu.cshtml", (Admin.ViewModels.AdminModel)ViewBag.adminModel);

<div class="container">
    @RenderBody()
</div>
<script>
    $(function() {
        setInterval(function() {
            $.post('/Home/SetarAtividade/', function(data) {
                if (data != null && typeof data === 'object') {
                    window.location = data.url;
                }
            });
        }, 15000);            
    });
</script>
</body>
</html>
