﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Administrador Coroas para Velório - @ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link href="http://centraldasaude.com.br/css/bootstrap.min.css" rel="stylesheet">

    <!-- Central da Saúde CSS -->
    <link href="http://centraldasaude.com.br/css/central.css" rel="stylesheet">

    <!-- Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://centraldasaude.com.br/js/bootstrap.min.js"></script>

    <script src="http://centraldasaude.com.br/js/jquery.mask.js"></script>

    <!-- Swall JS -->
    <script src="http://centraldasaude.com.br/js/sweetalert.min.js"></script>

    <script type="text/javascript">
        function SomenteNumero(e) {
            var tecla = (window.event) ? event.keyCode : e.which;
            if ((tecla > 47 && tecla < 58)) return true;
            else {
                if (tecla == 8 || tecla == 0) return true;
                else return false;
            }
        }

        //Mascara de data
        function formatar(src, mask) {
            var i = src.value.length;
            var saida = mask.substring(0, 1);
            var texto = mask.substring(i);
            if (texto.substring(0, 1) != saida) {
                src.value += texto.substring(0, 1);
            }
        }
    </script>
    @RenderSection("Scripts", false)



</head>
<body>
    <header class="header admin">
        <div class="row clearfix" id="stripe" hidden>
            <div class="container">
                <div class="col-md-12">
                    <ul>
                        <li><b>Administrador Coroas para Velório: </b><a href="tel:4007-2233">4007-2233</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 logo">
                    <a href="http://admin.coroasparavelorio.com.br/">
                        <img src="https://www.coroasparavelorio.com.br/content/neue/img/coroas-para-velorio.png" class="trg-home" alt="Coroas para Velório" />
                    </a>
                </div>
            </div>
        </div>
    </header>


    @RenderBody()


    <footer id="footer">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    <p>CNPJ 12.404.942/0001-14</p>
                    <p>Copyright © 2017, Coroas para velorio. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Second Modal -->
</body>
</html>
