﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Acesso Restrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="mws-error-container">
        <h1 id="mws-error-code">Acesso <span>Restrito</span></h1>
        <p id="mws-error-message">Tente se logar novamente <a href="/Home/Login">clicando aqui</a>.</p>
    </div>
</div>       