﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Oops, ocorreu um erro ao tentar executar a página";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model != null && Model.Exception != null)
    {

        var logged_user = MvcExtensions.Security.Models.LoggedUser.GetFromJSON(HttpContext.Current.User.Identity.Name);
        var user_data = "Anonymous";
        if(logged_user != null){
            if (logged_user.ID > 0){
                user_data = "ID = " + logged_user.ID + " | Username = " + logged_user.Username;
            }
        }
        var querystring = "";
        foreach (string key in Request.QueryString.Keys)
        {
            querystring += key + " = " + Request.QueryString[key] + "<br>";
        }
        var form = "";
        foreach (string key in Request.Form.Keys)
        {
            form += key + " = " + Request.Form[key] + "<br>";
        }
        var log_message = string.Format("O seguinte erro ocorreu no site:\n\n<b>Controler</b>: {0}\n\n<b>Action</b>: {1}\n\n<b>Url</b>: {2}\n\n<b>User</b>: {3}\n\n<b>Querystring</b>:<br> {4}\n\n<b>Form</b>:<br> {5}\n\n<b>Exception</b>:<br> {6}\n\n<b>Stack Trace</b>:<br> {7}", Model.ControllerName, Model.ActionName, System.Web.HttpContext.Current.Request.Url, user_data, querystring, form, Model.Exception.Message, Model.Exception.StackTrace);
        try
        {
            if(Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO.Length > 0){
                Domain.Core.Funcoes.EnviaEmail(Domain.Core.Configuracoes.EMAIL_NOREPLY, "Não Responder", Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO, "Coroas para Velório", Domain.Core.Configuracoes.EMAIL_RECEBIMENTO_ERRO, "Coroas para Velório", "", "[COROAS PARA VELORIO] - ERRO ENCONTRADO NO SITE", log_message.Replace("\n", "<br>"), true);
            }
        }
        catch { }
    }
}
<div id="mws-container" class="clearfix">
    <div class="container">
        <div id="mws-error-container">

                <h1 id="mws-error-code">Oops! Erro!</h1>
                <br />
                <p id="mws-error-message"><b>Desculpe!<br />Ocorreu um erro ao tentar executar a página...</b><br />Não se preocupe, nossa equipe já foi avisada. Tente novamente mais tarde.</p>
                <div style="text-align:left;">
                <i>
                @if (Request.IsLocal)
                {
                    if (Model != null && Model.Exception != null)
                    {
                    <text><b>Exception:</b> @Model.Exception.Message<br />
                    <b>Stack Trace:</b> @Html.Raw(Model.Exception.StackTrace.Replace("\n", "<br>"))<br /></text>
                    }
                    else
                    {
                    <text><b>Exception was null</b></text>
                    }
                }
                else
                {
                    <text>O erro foi reportado ao administrador.</text>
                }
                </i>
                </div>
        </div>
    </div>            
</div>