﻿@using System.Collections.Generic
@using Admin.Helpers
@using Admin.Interfaces
@model List<Admin.Interfaces.IReportable>              
@{
    Layout = "";        
}

@if (Model != null && Model.Any()){
    string[] colunas = ReportHelper.Colunas(Model.FirstOrDefault());
    if (colunas.Any()){
        <table class="table">
            <thead>
            <tr>
                @foreach (string coluna in colunas) {
                    <th data-coluna="@coluna.Split('|')[1]">
                        @coluna.Split('|')[0]
                    </th>
                }
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++){
                    <tr>
                        @foreach (string coluna in colunas){
                            <td>
                                @ReportHelper.GetValor(Model[i],coluna.Split('|')[1])
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    
}
else {

}