﻿@using Admin.ViewModel
@model Admin.ViewModel.MetricaGenerica

@{
    ViewBag.Title = "";
    Layout = "";
}

@if (Model != null) {

    <div id="@("divPnlPrg"+Model.Id)" class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">
                @Model.Titulo
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="@("divPrg"+Model.Id)" class="col-md-12">
                   <div class="progress">
                        <div class="progress-bar barra">
                           
                        </div>
                    </div>
                    <div class="col-md-6 atual">
                        <p><b>Atual:</b> -</p>
                    </div>
                    <div class="col-md-6 text-right meta">
                        <p><b>Meta:</b> -</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var meta = parseFloat("@Model.Meta.ToString()");
            var atual = parseFloat("@Model.Atual.ToString()");
            var percent = meta > 0 ? (atual * 100) / meta : 100;
            var textPercent = parseInt(percent);
            var classe = "";
            if (percent <= 75) {
                classe = "perigo";
            }
            else if (percent > 75 && percent <= 99) {
                classe = "alerta";
            }
            else if (percent > 99) {
                classe = "sucesso";
                percent = 100;
            }
            if (meta === 0) {
                textPercent = "-";
            } else {
                textPercent = textPercent + "%";
            }
            percent = parseInt(percent);
            $("#@("divPnlPrg" + Model.Id)").addClass(classe);
            $("#@("divPrg"+Model.Id) .barra").css("width", percent + "%");
            $("#@("divPrg"+Model.Id) .barra").html(textPercent);

            @if (Model.TipoDado == MetricaGenerica.TipoDadoMetrica.Numero){
                <text>
                
                $("#@("divPrg"+Model.Id) .atual").html("<p><b>Atual:</b> " + "@(Model.Atual.ToString("N0"))" + "</p>");
                $("#@("divPrg"+Model.Id) .meta").html("<p><b>Meta:</b> " + "@(Model.Meta.ToString("N0"))" + "</p>");
                </text>
            }
            else{
                <text>
                $("#@("divPrg"+Model.Id) .atual").html("<p><b>Atual:</b> R$ " + "@(Model.Atual.ToString("N2"))" + "</p>");
                $("#@("divPrg"+Model.Id) .meta").html("<p><b>Meta:</b> R$ " + "@(Model.Meta.ToString("N2"))" + "</p>");
                </text>
            }
            $("#@("divPrg"+Model.Id) .barra").animate({
                width: percent+"%"
            }, 500);
            
        });
    </script>
}
