﻿@using Admin.ViewModel
@model MetricaGenerica

@{
    ViewBag.Title = "";
    Layout = "";
}

@if (Model != null) {

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="panel-title">
                @Model.Titulo
                @switch ((MetricaGenerica.TipoDadoMetrica)Model.TipoDado) {
                    case MetricaGenerica.TipoDadoMetrica.Moeda:
                        <a href="#" class="meta" data-toggle="popover" title="Meta: R$ @Model.Meta.ToString("N2")" data-content="Atual: R$ @Model.Atual.ToString("N2")">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    break;
                    case MetricaGenerica.TipoDadoMetrica.Numero:
                        <a href="#" class="meta" data-toggle="popover" title="Meta: @Model.Meta.ToString("N0")" data-content="Atual: @Model.Atual.ToString("N0")">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    break;
                    case MetricaGenerica.TipoDadoMetrica.Percetagem:
                        <a href="#" class="meta" data-toggle="popover" title="Meta: @Model.Meta.ToString("N2")%" data-content="Atual: @Model.Atual.ToString("N2")%">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    break;
                }
                
            </h3>
        </div>
        <div class="panel-body text-center">
            <span class="chart @("chart"+Model.Id)">
                <span class="percent"></span>
            </span>
        </div>
    </div>
    <script>

        $(function() {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
            $('.@("chart" + Model.Id)').easyPieChart({
                animate: 1000,
                barColor: "blue",
                trackColor: "#f2f2f2",
                lineWidth: 5,
                size: 60,
                lineCap: 'butt',
                scaleColor: false,
                onStep: function(value) {
                    this.$el.find('span').text(~~value);
                }
            });
            
            var meta = parseFloat("@Model.Meta.ToString()");
            var atual = parseFloat("@Model.Atual.ToString()");


            @if (Model.TipoDado == MetricaGenerica.TipoDadoMetrica.Numero){
                <text> 
            meta = parseInt(meta);
            atual = parseInt(atual);
                </text>
            }

            var percent = meta > 0 ? (atual * 100) / meta : 100;

            var options = {};
            if (percent < 100) {
                options.barColor = "red";
            } else {
                options.barColor = "green";
            }
            $(".@("chart" + Model.Id)").data('easyPieChart').refresh(options, percent);
            
        });

    </script>

}
