﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = null;

    var produtos = new List<Domain.Entities.Produto>();
    int[] paraEmpresa = { 24, 18, 28, 32 };
    int[] maisVendidas = { 23, 22 };
    int[] populares = { };
    produtos.AddRange(Model.Where(p => p.Ordem != 100).OrderBy(r => r.Ordem).ToList());

    string ordenacao = "";
    if (!String.IsNullOrEmpty(Request["ordenacao"]))
    {
        ordenacao = Request["ordenacao"];
        switch (ordenacao)
        {
            case "preco-menor":
                produtos = produtos.OrderBy(p => p.PromocaoProdutoes.Count == 1 ? p.PrecoMinimo * 0.85M : p.PrecoMinimo).ToList();
                break;
            case "preco-maior":
                produtos = produtos.OrderByDescending(p => p.PromocaoProdutoes.Count == 1 ? p.PrecoMinimo * 0.85M : p.PrecoMinimo).ToList();
                break;
            case "mais-vendidas":
                produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                break;
            case "empresas":
                produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                break;
            case "amigos":
                produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                break;
            case "familiares":
                produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                break;
            default:
                produtos = produtos.OrderBy(p => p.PrecoMinimo).OrderBy(c => c.Ordem).ToList();
                break;
        }
    }

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
}   
    
    @if (ViewBag.NaoExibeHeader == null)
    {
    <section class="loop-title" @promocao>
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <div class="col-md-6 col-sm-6">
                    @if (Request.Path == "/coroa-de-flores")
                    {
                        <h1>Coroas de Flores</h1>
                    }

                    else
                    {
                        <h1>Coroa de Flores - entrega para Todo o Brasil</h1>
                    }
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <select class="form-control select_input" onchange="orderNeue(this.value);" onmousedown="_gaq.push(['_trackEvent', 'ordenar', 'select', this.value]);">
                        <option value="" disabled selected>Ordenar Coroas de Flores por:</option>
                        <option value="preco-menor">Mais baratas</option>
                        <option value="preco-maior")>Mais caras</option>
                        <option value="mais-vendidas">Mais vendidas</option>
                        <option value="empresas">Para empresas</option>
                        <option value="amigos">Para amigos</option>
                        <option value="familiares">Para familiares</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>
    }

    @{  

        var listCoroas = produtos.ToList();
        var listDeluxe = produtos.ToList();
        var listArranjos = produtos.ToList();

        if (Request.Path != "/V3" && Request.Path != "/empresas")
        {

            if (Request.Path != "/coroa-de-flores/premium" && Request.Path != "/coroa-de-flores/luxo" && Request.Path != "/coroa-de-flores/super-luxo" && Request.Path != "/coroa-de-flores/duplas" && Request.Path != "/coroa-de-flores")
            {
                if (Request.Path == "/")
                {
                    listCoroas = produtos.Where(r => r.ID == 24 || r.ID == 1 || r.ID == 26 || r.ID == 22 || r.ID == 18 || r.ID == 23 || r.ID == 20 || r.ID == 21 || r.ID == 25 || r.ID == 27 || r.ID == 28 || r.ID == 29).ToList();
                    listDeluxe = produtos.Where(r => r.ID == 30 || r.ID == 32 || r.ID == 33 || r.ID == 34).ToList();
                    listArranjos = produtos.Where(r => r.ID == 235 || r.ID == 234 || r.ID == 237 || r.ID == 236).ToList();
                }
                else
                {
                    listCoroas = produtos.Where(r => r.ID == 1 || r.ID == 21 || r.ID == 25 || r.ID == 24 || r.ID == 2 || r.ID == 22 || r.ID == 23 || r.ID == 27).ToList();
                }
            }
        }
    }
    
    <section class="loop" id="coroas">
        <!-- Container -->
        <div class="container">
            
            <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
            <div class="lining">

                @foreach (var coroa in listCoroas)
                {
                    var coroapromo = false;
                    var coroaTamanhoMedio = coroa.ProdutoTamanhoes.ElementAt(1);
                    var a = "";
                    
                    if (promocao != null)
                    {
                        coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
                        if (coroapromo)
                        {
                            a = "desconto";
                        }
                        else if (paraEmpresa.Contains(coroa.ID))
                        {
                            a = "empresas";
                        }
                        else if (maisVendidas.Contains(coroa.ID))
                        {
                            a = "mais-vendidas";
                        }
                    }
                    <!-- Card -->
                    <div class="col-md-3 col-sm-4">
                        <div class="card @a" id="Produto_@(coroa.ID)">

                        @if (coroapromo)
                        {
                            <div class="badge"><i class="icon_currency"></i> @promocao.Desconto% de Desconto</div>
                        }
                        else if (paraEmpresa.Contains(coroa.ID))
                        {
                            <div class="badge"><i class="icon_building"></i> Para Empresas</div>
                        }
                        else if (maisVendidas.Contains(coroa.ID))
                        {
                            <div class="badge"><i class="icon_star"></i> Mais Vendidas</div>
                        }
                            
                        <span>
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" alt="@coroa.Nome" />
                            </a>
                        </span>
                        <h2>Coroa de Flores @coroa.Nome.Replace("Coroa de Flores", "")</h2>
                        @if (!coroapromo)
                        {
                            <p>a partir de <big>@coroaTamanhoMedio.Preco.ToString("C2")</big></p>
                        }
                        else
                        {
                            decimal precopromo = (coroaTamanhoMedio.Preco - (coroaTamanhoMedio.Preco * promocao.Desconto / 100));
                            <p><small>de <strike>@coroaTamanhoMedio.Preco.ToString("C2")</strike></small></p>
                            if (configuracoes.Parcela > 1)
                            {
                                <p>por <big>@precopromo.ToString("C2")</big></p>
                            }
                        }
                                    
                        <a class="btn btn-checkout comprarproduto2" href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" id="comprar@(coroa.ID)">Comprar</a>
                    </div>
                    <!-- /Card -->
                </div>
                }
            </div>
        </div>
        <!-- /Container -->
    </section>

    @if (Request.Path == "/")
    {
    <section class="sub">
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <div class="col-md-12">
                    <h2>Linha exclusiva de Coroas Especiais</h2>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>

    <section class="loop" id="coroas-luxo">
        <!-- Container -->
        <div class="container">
            
            <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
            <div class="lining">

                @foreach (var coroa in listDeluxe)
                {
                    var coroapromo = false;
                    var coroaTamanhoMedio = coroa.ProdutoTamanhoes.ElementAt(1);
                    var a = "";

                    if (promocao != null)
                    {
                        coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
                        if (coroapromo)
                        {
                            a = "desconto";
                        }
                        else if (paraEmpresa.Contains(coroa.ID))
                        {
                            a = "empresas";
                        }
                        else if (maisVendidas.Contains(coroa.ID))
                        {
                            a = "mais-vendidas";
                        }
                    }
                    <!-- Card -->
                    <div class="col-md-3 col-sm-4">
                        <div class="card @a" id="Produto_@(coroa.ID)">

                        @if (coroapromo)
                        {
                            <div class="badge"><i class="icon_currency"></i> @promocao.Desconto% de Desconto</div>
                        }
                        else if (paraEmpresa.Contains(coroa.ID))
                        {
                            <div class="badge"><i class="icon_building"></i> Para Empresas</div>
                        }
                        else if (maisVendidas.Contains(coroa.ID))
                        {
                            <div class="badge"><i class="icon_star"></i> Mais Vendidas</div>
                        }
                            
                        <span>
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" alt="@coroa.Nome" />
                            </a>
                        </span>
                        <h2>@Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo) @coroa.Nome.Replace("Coroa de Flores", "")</h2>
                        @if (!coroapromo)
                        {
                            @*<p>a partir de <big>@coroaTamanhoMedio.Preco.ToString("C2")</big></p>*@
                        }
                        else
                        {
                            @*decimal precopromo = (coroaTamanhoMedio.Preco - (coroaTamanhoMedio.Preco * promocao.Desconto / 100));
                            <p><small>de <strike>@coroaTamanhoMedio.Preco.ToString("C2")</strike></small></p>
                            if (configuracoes.Parcela > 1)
                            {
                                <p>por <big>@precopromo.ToString("C2")</big></p>
                            }*@
                        }
                                    
                        <a class="btn btn-checkout comprarproduto2" href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" id="comprar@(coroa.ID)">Comprar</a>
                    </div>
                    <!-- /Card -->
                </div>
                }
            </div>
        </div>
        <!-- /Container -->
    </section>
    }