﻿@using Admin.Helpers
@using Admin.ViewModel
@model List<Admin.Interfaces.IReportable>              
@{
    Layout = "";        
}

@if (Model != null && Model.Any()){

    List<ReportGridColuna> colunas = ReportHelper.GetColunas(Model.FirstOrDefault());
    if (colunas.Any()){
        <table class="table">
            @if (ViewBag.ReportGridExibeTitilos == null || (bool)ViewBag.ReportGridExibeTitilos) {
                <thead>
                    <tr>
                        @foreach (ReportGridColuna coluna in colunas) {
                            <th data-coluna="@coluna.Titulo.Split('|')[1]">
                                @coluna.Titulo.Split('|')[0]
                            </th>
                        }
                    </tr>
                </thead>
            }     
            <tbody>
            @for (int i = 0; i < Model.Count; i++){
                <tr>
                    @foreach (ReportGridColuna coluna in colunas){
                        <td>
                            @if (coluna.PossuiLink) {
                                ReportLinkColuna link = ReportHelper.GetLink(Model[i], coluna.Titulo.Split('|')[1]);
                                if (!string.IsNullOrWhiteSpace(link.Url)) {
                                    <a href="@link.Url" @(link.NovaGuia ? "target=_blank" : "") title="@link.TituloAlt">
                                        @ReportHelper.GetValor(Model[i], coluna.Titulo.Split('|')[1])
                                    </a>
                                }
                                else{
                                    @ReportHelper.GetValor(Model[i], coluna.Titulo.Split('|')[1])
                                }
                            }
                            else {
                                @ReportHelper.GetValor(Model[i], coluna.Titulo.Split('|')[1])
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    
}
else {
    <div>
        <p>A consulta não retornou nenhum item.</p>
    </div>
}