﻿@model IEnumerable<Domain.Entities.Local>
@{
    ViewBag.Title = "Cemitérios e Velórios no Brasil - Veja lista completa, Coroa de Flores";
    ViewBag.Description = "Encontre informações sobre CEMITÉRIO e VELÓRIO em todo o país. Telefone, endereço, mapa, floricultura. Compre Coroa de Flores pela internet.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var destaques = (List<Domain.Entities.Local>)ViewBag.Destaques;
    var estados = (List<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "velorios-e-cemiterios")" itemprop="url">      
      <span itemprop="title"><b>Velórios e Cemitérios</b></span>    
    </a>
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo page-cemiterios">

    <h1>Velórios e Cemitérios em todo o país</h1>
    <div class="clear"></div>

    @if (destaques.Any())
    {
        
	    <h2>Velórios e cemitérios mais populares pelo Brasil</h2>
	
        foreach (var item in destaques)
        {
            var foto = "";
            var css = "";
            if (item.Foto.Length > 0)
            {
                foto = "background: url('/content/locais/" + item.ID + "/thumb/" + item.Foto + "')!important;";
            }
            else
            {
                css = Enum.GetName(typeof(Domain.Entities.Local.Tipos), item.TipoID).ToLower();
            }
            <a href="@Url.RouteUrl("Local", new { rotuloUrl = item.RotuloUrl })">
	            <div class="resultado @css" style="@foto">
		            <div class="titulo">@item.Titulo</div>
	            </div>
            </a>
        }
    }
    
	
    <div id="buscar-pagina-velorios">
        <div class="title" style="margin-top: 0px;width: 454px;"><h2 class="qlassik vermelho">Qual o local de entrega de sua coroa de flores?</h2></div>
        
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
            <input type="text" placeholder="Velórios, cemitérios, hospitais e crematórios" title="digite o local" name="termo" id="local-termo">
            <input type="submit" title="buscar">
        </form>
    </div>

    <p>Existem diversas tradições para realizar um <strong>velório no Brasil</strong>, muitas delas, ligadas a temas religiosos e crenças familiares. Muitas religiões determinam o formato que um velório deve ter para ser ideal dentro de suas crenças, em contrapartida, as escolhas de como formar um velório precisam ser tomadas com agilidade.</p>

    <p>A missão do momento é decidir como fazer um velório completo e com aparência bonita em um curto período tempo, considerando ainda o fato de que o momento é delicado para toda a família, portanto, os serviços de decoração, local, ambiente e espaço precisam ser eficientes e reunir qualidade e rapidez.</p>

    <h2>Coroa de flor para velório</h2>

    <p>Uma homenagem para uma pessoa especial requer uma cerimônia decorada e harmoniosa e que esteja em equilíbrio com o momento tão frágil. As <strong>coroas de flores</strong>, geralmente expressam os sentimentos das famílias e amigos.</p>

    <p>As flores enfeitam e perfumam o ambiente a fim de garantir um velório mais calmo e menos triste. A coroa de flor é encomendada pelos responsáveis e organizadores do velório, os familiares e amigos escolhem as flores, a faixa e a mensagem que deve ser estampada para a homenagem.</p>

    <h2>Velórios</h2>

    <p>O velório é sempre um momento muito íntimo e reservado, por isso, as famílias precisam ter privacidade e estar confortáveis a fim de que estejam unidas e sem demais preocupações com a organização.</p>

    <p>Outro ponto importante e que sempre gera dúvidas é a escolha do cemitério. Afinal, é natural que haja hesitação em decidir qual a cidade ideal para o enterro, principalmente quando famílias e parentes moram distantes uns dos outros. </p>

    <h2>Cemitérios famosos no Brasil</h2>

    <p>O <strong><a href="/coroas-de-flores/cemiterio-da-consolacao-sp" target="_blank">Cemitério da Consolação</a></strong>, em São Paulo, por exemplo, é conhecido por sepultamentos de muitos brasileiros famosos, como Tarsila do Amaral, Monteiro Lobato, Ramos de Azevedo, Cândido Fontoura, o belo mausoléu da família Matarazzo, entre muitas outras personalidades.</p>

    <p>O <a href="/coroas-de-flores/cemiterio-vila-formosa-i-sp" target="_blank">Cemitério da Vila Formosa</a>,  localizado na Zona Leste da capital paulista, não só é  o maior do Brasil, como também da América Latina, e possui uma ampla área de 763.175 m². No Rio de Janeiro, um dos mais conhecidos é o <strong><a href="/coroas-de-flores/cemiterio-sao-joao-batista-rj" target="_blank">Cemitério São João Batista</a></strong>, localizado no bairro de Botafogo. Este também é o nome de um importante cemitério localizado na cidade de <a href="/coroas-de-flores/cemiterio-são-joao-batista-ce" target="_blank">Fortaleza</a>, Ceará. Outros como o Cemitério da Soledade, no <a href="/coroas-de-flores/coroa-de-flores-belem-pa" target="_blank">Pará</a> e o <a href="/coroas-de-flores/cemiterio-do-bonfim-mg" target="_blank">Cemitério do Bonfim</a>, em Minas Gerais também se destacam nos respectivos estados.</p>
    
        
    <h2 class="qlassik vermelho" style="margin-top:40px;float:left;">
        Não encontrou o seu local? <br />Ligue agora para nossa Central de Atendimento 24h:  @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)!
    </h2>
	
	<div class="clear"></div>
	<br /><br />
	<h2>Todos os locais cadastrados</h2>
	
  @*  @foreach (var estado in estados)
    {
        var locais = Model.Where(l => l.EstadoID == estado.ID).OrderBy(l => l.Titulo).ToList();
        if (locais.Any())
        {
	        <div class="lista-cemiterios">
		        <div class="estado vermelho qlassik">@estado.Nome</div>
		        <ul>
                    @{var cidades = locais.Select(c => c.Cidade).Distinct().ToList();}
                    @if (cidades.Any())
                    {
                        foreach (var cidade in cidades)
                        {
                            var locaiscidades = locais.Where(c => c.CidadeID == cidade.ID).OrderBy(l => l.Titulo).ToList();
                            <li>
                                <br />
                                <span style="font-weight: bold;">@cidade.Nome</span>
                                <br />
                                <ul>
                                @foreach (var local in locaiscidades)
                                {
			                    <li><a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })">@local.Titulo</a></li>
                                }
                                </ul>
                            </li>
                        }
                    }
		        </ul>
	        </div>
        }
    }*@
    
    @foreach (var estado in estados)
    {
        var locais = Model.Where(l => l.EstadoID == estado.ID).OrderBy(l => l.Titulo).ToList();
        if (locais.Any())
        {
	        <div class="lista-cidades box-radius cinza600">
		        <div class="estado vermelho">@estado.Nome</div>
		        <ul>
                    @foreach (var local in locais)
                    {
			        <li><a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })" style="@((local.Principal) ? "font-weight: bold;":"")">@local.Titulo @(local.TotalLocaisRelacionados > 0 ? "(" + local.TotalLocaisRelacionados + ")" : "")</a><br /><br /></li>
                    }
		        </ul>
	        </div>
        }
    } 
    <div id="buscar-pagina-velorios">
        <div class="title" style="margin-top: 0px;width: 454px;"><h2 class="qlassik vermelho">Qual o local de entrega de sua coroa de flores?</h2></div>
        
        <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
            <input type="text" placeholder="Velórios, cemitérios, hospitais e crematórios" title="digite o local" name="termo" id="local-termo">
            <input type="submit" title="buscar">
        </form>
    </div>
<h2 class="qlassik" style="margin-top:40px;float:left;">
    Não encontrou o seu local? <br />Ligue agora para nossa Central de Atendimento 24h:  @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)!
</h2>
</div>

	
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-vel-cemit").addClass("active");
        });
    </script>