﻿@model IEnumerable<Domain.Entities.Local>
@{
    ViewBag.NaoExibeHeader = true;
    ViewBag.Titulo = "Resultado da busca " + Request.QueryString["termo"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}


<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <div class="Div">
        <div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
        <div class="Seta">&raquo;</div>
        <div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Resultado da busca por <u>@Request.QueryString["termo"]</u></b></span></div>
    </div>
</div>


<div id="ResultadoBusca">
    <div class="Div">

        <h1 class="TituloPagina">Resultados da busca @Html.Raw((Request.QueryString["termo"] != null) ? "por <u>" + Request.QueryString["termo"] + "</u>" : "") @Html.Raw((Request.QueryString["cidade"] != null) ? " em <u>" + Request.QueryString["cidade"] + "</u>" : "")</h1>

        <div class="TotalResultados">@ViewBag.TotalItens resultado(s) encontrado(s)</div>

        <div class="Filtro">
            <div class="FiltroVer">Ver:</div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]" class="@(String.IsNullOrEmpty(Request.QueryString["tipo"]) ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Todos</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=cemiterios" class="@(Request.QueryString["tipo"] == "cemiterios" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Cemitérios</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=velorios" class="@(Request.QueryString["tipo"] == "velorios" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Velórios</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=capelas" class="@(Request.QueryString["tipo"] == "capelas" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Capelas</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=crematorios" class="@(Request.QueryString["tipo"] == "crematorios" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Crematórios</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=hospitais" class="@(Request.QueryString["tipo"] == "hospitais" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Hospitais</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=funerarias" class="@(Request.QueryString["tipo"] == "funerarias" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Funerárias</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=igrejas" class="@(Request.QueryString["tipo"] == "igrejas" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Igrejas</a></div>
            <div class="FiltroOpcoes"><a href="?termo=@Request.QueryString["termo"]&cidadeID=@Request.QueryString["cidadeID"]&cidade=@Request.QueryString["cidade"]&tipo=cidades" class="@(Request.QueryString["tipo"] == "cidades" ? "FiltroSelecionado" : "FiltroNaoSelecionado")">Cidades</a></div>
        </div>

        <div class="ResulBusca">
            <div class="ResulBusca2">buscar nos resultados:</div>
            <div class="ResulBusca3">
                <form action="@Url.Action("buscar", "local")" method="get">
                    <div class="DivBuscaResul2"><input type="text" name="termo" id="local-termo" class="DivBuscaResulInput busca_local" value="Nome da cidade ou local" onfocus="if(this.value=='Nome da cidade ou local') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Nome da cidade ou local'; }" /></div>
                    <div class="DivBuscaResul2"><input type="submit" value="OK" class="DivBuscarResul" /></div>
                </form>
            </div>
        </div>

        <div class="ListaLocaisResul">

            @{var tipos = Model.Select(c => c.Tipo).Distinct().ToList(); }
            @if (tipos.Any())
            {
                foreach (var tipo in tipos)
                {
                    var locais = Model.Where(c => c.Tipo == tipo).OrderBy(c => c.Destaque).OrderBy(c => c.Titulo);

                    <div class="ListaLocaisRTitulo">@Domain.Helpers.EnumHelper.GetDescription(tipo)</div>

                    foreach (var local in locais)
                    {
                        <div class="ListaLocaisRTexto">

                            @{
                                var Lines = System.IO.File.ReadLines(Server.MapPath("~/assets/redirect-local-rotas.csv")).ToList();

                                if (Lines.Where(r => r.Split(',')[0] == local.ID.ToString()).Any())
                                {
                                    var URL = Lines.Where(r => r.Split(',')[0] == local.ID.ToString()).First().Split(',')[1];

                                    <a href="@URL">
                                        @local.Titulo / @local.Cidade.Nome - @local.Estado.Sigla
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.RouteUrl("Local", new { rotuloUrl = local.RotuloUrl })">
                                        @local.Titulo / @local.Cidade.Nome - @local.Estado.Sigla
                                    </a>
                                }
                            }


                        </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="Texto2"><p>Não foram encontrados locais para a busca digitada.</p></div>
                                }
        </div>

        @if (ViewBag.TotalPaginas > 1)
        {
            <div class="Paginacao">
                <div class="PaginacaoPag">Páginas: </div><br /> <br />
                @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                {
                    <div class="@(i == ViewBag.PaginaAtual ? "PaginacaoSelecionado" : "PaginacaoNaoSelecionado")"><a href="?pagina=@i&termo=@Request.QueryString["termo"]&tipo=@Request.QueryString["tipo"]">@i.ToString()</a></div>
                }
            </div>
            <br />
            <div class="PaginacaoPag"><i>@ViewBag.TituloPaginacao</i></div>
        }


        <div class="NaoEncontrou">

            <div class="Texto1">Não encontrou o seu local?</div>

            <div class="Div2">
                <div class="Texto2">Busque novamente</div>
                <div class="DivBusca">
                    <form action="@Url.Action("buscar", "local")" method="get" id="buscar-local-baixo">
                        <div class="DivBusca2"><input type="text" name="termo" id="local-termo" class="DivBuscaInput busca_local" value="Encontre velórios ou cemitérios" onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" /></div>
                        <div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="DivBuscar" alt="Buscar" /></div>
                    </form>
                </div>
            </div>

            <div class="Texto3">Ou fale conosco pelo nosso Atendimento Online ou ligue para nossa Central de Atendimento 24h: @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas)</div>

        </div>

        @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
        <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
        <div class="Separacao2"></div>

    </div>
</div>
@*    @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Destaques)*@
