﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Como comprar Flores para Velório";
    ViewBag.Description = "Veja como comprar, personalizar e enviar flores em todo o país. Siga o passo a passo e compre com facilidade sem sair de casa.";
}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-comprar").addClass("active");
        });
    </script>
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Como Comprar</b></span>    </div>
</div>
</div>



<div id="ComoComprar">
<div class="Div">

	<h1 class="TituloPagina">Como comprar</h1>

	<div class="Caixa">
		<div class="Numero">1°</div>
		<div class="DivTextos">
			<div class="Titulo">Selecione a flor ou arranjo de sua preferência e clique em comprar...</div>
			<div class="Texto">Após a escolha, você será direcionado para o Carrinho de Compras. Siga as próximas instruções para realizar a sua compra.<br />Caso não tenha encontrado algum produto entre em contato conosoco pelo telefone <b>(11) 4097-9400.</b></div>
		</div>
	</div>

	<div class="Caixa">
		<div class="Numero">2°</div>
		<div class="DivTextos">
			<div class="Titulo">Insira as informações solicitadas...</div>
			<div class="Texto">Preencha as informações da entrega do produto. Caso não possua alguma informação, entre em contato conosco ou deixe em branco que nós faremos a pesquisa com os nossos contatos. <br />Preencha seus dados cadastrais e digite a mensagem do cartão grátis.</div>
		</div>
	</div>

	<div class="Caixa">
		<div class="Numero">3°</div>
		<div class="DivTextos">
			<div class="Titulo">Escolha a forma de pagamento...</div>
			<div class="Texto">O site Laços Flores aceita cartão de crédito e transferência bancária. Dúvidas, <a href="/contato" class="Url">entre em contato com a nossa Central de Atendimento</a>.</div>
		</div>
	</div>

    

</div>
</div> 