﻿@model Admin.Handler._404
@{
    ViewBag.Title = "Página não encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mws-container" class="clearfix">
    <div class="container">
        <div id="mws-error-container">
            <h1 id="mws-error-code">Erro <span>404</span></h1>
            <p id="mws-error-message">Você tentou acessar a página <u>@Model.RequestedUrl.Replace(Domain.Core.Configuracoes.DOMINIO, "").Replace(":80", "")</u> mas ela não existe.</p>
        </div>
    </div>            
</div>