﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

}
<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <title>Laços Corporativos @ViewBag.Title</title>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Laços Corporativos"/>
    <meta name="keywords" content="Laços Corporativos" />
    <link type="text/css" href="@Url.Content("~/Content/style.css")" rel="stylesheet" /> 

        
    <!--[if IE]>
        <script async src="/scripts/html5shiv.js"></script>
        <link href="/content/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49938284-1', 'lacoscorporativos.com.br');
  ga('send', 'pageview');

</script>
</head>
<body>
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e32b5c7e-e462-45f4-b486-a1d9b4276514-loader.js"></script>
<div id="aw_bGFjb3Njb3Jwb3JhdGl2b3MuY29tLmJy"></div>
    <!--[if lt IE 7]>
    <script>alert('Você está utilizando um navegador desatualizado.\nEste site não foi desenvolvido para ser visualizado corretamente no seu navegador.\n\nPor favor, entre em contato pelo telefone 0800-777-1986 e faça seu pedido.');</script>
    <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='AVISO!'/></div>
        <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Você está usando um navegador desatualizado</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar melhor neste site, por favor, atualize seu navegador.</div>
        </div>
        <div style='width: 75px; float: left;'><a href='http://pt-br.www.mozilla.com/pt-BR/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
        <div style='width: 75px; float: left;'><a href='http://windows.microsoft.com/pt-br/internet-explorer/ie-11-worldwide-languages' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
        <div style='float: left;'><a href='http://www.google.com/chrome?hl=pt-BR' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
    </div>
    <![endif]--> 
        <header>
            <div id="Topo">
                <div class="conteudo">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="@Url.Content("~/Content/images/logo.jpg")" alt="Laços Corporativos" title="Laços Corporativos" /><br />
                    </a>
                    <div class="informacoes"> 
                        
                        <div class="televendas">
                            <span class="icone">Dúvidas?</span> <span class="telefone">@(String.IsNullOrEmpty(ViewBag.SAC) ? configuracoes.SAC : ViewBag.SAC)</span>
                        </div>
 
                            @Html.Action("login", "login")
                        <div style="clear: both"></div>
                    </div> 
                    <div id="slogan">Flores para todos os momentos</div>
                </div>
            </div>
        </header>
        <section id="Conteudo">
                <div class="conteudo">
                @RenderBody()
                </div>
        </section>
        <footer>
            <div id="Rodape">
                <div class="conteudo">
                    <div class="icones">
                        <img src="/content/images/faturamento-para-empresas.jpg" />
                        <img src="/content/images/cartoes-homenagem.jpg" />
                        <img src="/content/images/entrega-brasil.jpg" />
                        <img src="/content/images/frete-gratis.jpg" />
                        <img src="/content/images/pagamento-boleto.jpg" />
                        <img src="/content/images/atendimento-24.jpg" />
                    </div>
                </div>
            </div>
            <div id="Rodape2">
            <nav>
                <div class="conteudo">
                    <div class="divisao" style="width:100px;">
                        <a href="@Url.Action("Index", "Home")" class="logo-rodape">
                            <img src="@Url.Content("~/Content/images/logo3.jpg")" alt="Laços Corporativos" title="Laços Corporativos" /><br />
                        </a>                        
                    </div>
                    <div class="divisao">
                        <h3>Mapa do Site</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "sobre")">Sobre</a></li>
                            <li><a href="@Url.Action("Index", "produtos")">Produtos</a></li>
                            <li><a href="@Url.Action("Index", "contato")">Contato</a></li>
                            <li><a href="@Url.Action("Index", "cadastre-se")">Cadastre-se</a></li>
                            <li><a href="@Url.Action("Index", "login")">Acesso empresas</a></li>
                            <li><a href="@Url.Action("Index", "termos-e-condicoes")">Termos e condições</a></li>  
                        </ul>       
                    </div>
                    <div class="divisao">
                        <h3>Redes Sociais</h3>
                        <fb:like href="https://www.facebook.com/coroasparavelorio" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
                        <br />
                        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-callback="_gaq.push(['_trackEvent', 'footer', 'clique', 'google-plus']);"></div>
                        <script type="text/javascript">
                            window.___gcfg = { lang: 'pt-BR' };

                            (function () {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                        
                        <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);"><img src="@Url.Content("~/Content/images/facebook.png")" alt="Facebook" title="Facebook" /></a>
                        <a href="https://plus.google.com/102823637340385654450" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);"><img src="@Url.Content("~/Content/images/googleplus.png")" alt="Google +" title="Google +"  style="clear:none;margin-left:5px;"/></a>
                        <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);"><img src="@Url.Content("~/Content/images/twitter.png")" alt="Twitter" title="Twitter" style="clear:none;margin-left:5px;" /></a>
                         
                    </div>
                    <div class="divisao" style="width:240px;">
                        <h3>Meios de Pagamento</h3>
                        <ul>
                            <li><img src="/content/images/faturamento-empresa-ico.jpg" /> Faturamento Empresa</li>
                            <li><img src="/content/images/cartao-ico.jpg" /> Cartão de Crédito Corporativo</li>
                        </ul>       
                        <h3>Segurança</h3> 
                        <a href="https://selo.siteblindado.com.br/verificar?url=www.lacoscorporativos.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'site-blindado']);"><img src="@Url.Content("~/Content/img/site-blindado.png")" alt="Site Blindado" title="Site Blindado" /></a>
                    </div> 
                    <div class="duvidas">
                        <b>Dúvidas?</b><br />
                        <span class="telefone-duvidas">@(String.IsNullOrEmpty(ViewBag.SAC) ? configuracoes.SAC : ViewBag.SAC)</span>                            
                    </div>
                </div>
             </nav>
            </div>
            <div id="Rodape3">
                <div class="conteudo">
                    <div class="logo"><a href="http://www.grupolacosflores.com.br" target="_blank"><img src="/content/images/logo2.jpg" /> Grupo Laços Flores @DateTime.Now.Year</a></div>
                </div>
            </div>
        </footer> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script> 
    <script src="@Url.Content("~/scripts/jquery.validate.additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.bpopup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.tinycarousel.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/scripts/funcoes.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/scripts/cep.js")" type="text/javascript"></script> 
    @RenderSection("Script", false)
    @RenderSection("Head", false) 
</body>
</html>
