﻿@{
    Layout = null;
}
<br />
<br />
<hr class="divisa" />
<h2><img src="/Content/images/sub-tit-junte-se.jpg" title="Junte-se a milhares de empresas que já utilizam nossos serviços!"/></h2>
<br /> 
<div class="center"><a href="/cadastre-se"><button class="btn-cadastro">Quero me cadastrar!</button></a></div>
<div class="float-cadastre" title="Cadastre-se e já realize seus pedidos"></div>
<div class="space-100"></div>
<div class="space-100"></div>