﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:html5="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <meta name="robots" content="all,index,follow" />

        <!--[if lt IE 9]>
        <script src="../content/shiv/dist/html5shiv.js"></script>
        <![endif]-->

        <!--[if IE]>
	    <link rel="stylesheet" type="text/css" href="../content/cssneue/internal-ie.css" />
        <![endif]-->
		
		<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/cssneue/internalstyle.css")" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="@Url.Content("~/Content/placeholder/jquery.placeholder.js")"></script>

        <title>Soluções em Flores para Empresas | Laços Corporativos</title>

    </head>

    <body>
        <header>
            <div class="CenteredContainer">
                <span>
                    <img src="/content/img/logo2.png" alt="Laços Corporativos" />
                </span>

                <nav>
                    <ul>
                        <li><a href="@Url.Content("/")">Home</a></li>
                        <li><a href="@Url.Content("cadastre-se")">Cadastro</a></li>
                        <li><a href="/empresas">Área Empresas</a></li>
                        <li class="internalAnchor"><a href="@Url.Content("/#Contact")">Contato</a></li>
                        <li class="phoneIcon">0800 777 1986</li>
                    </ul>
                </nav>
            </div>
            <div class="clear"></div>
        </header>

        @RenderBody()

        <footer>
            <div class="footerDecorativeStripe"></div>
            <div class="CenteredContainer">
                <p>Copyright @DateTime.Now.Year © - Laços Corporativos. Todos os Direitos Reservados</p>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" type="text/javascript"></script> 
        <script src="@Url.Content("~/scripts/jquery.validate.additional-methods.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/jquery.validate.messages_pt-BR.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/modernizr-2.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/jquery.bpopup.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/jquery.tinycarousel.min.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript" ></script>
        <script src="@Url.Content("~/scripts/funcoes.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/scripts/cep.js")" type="text/javascript"></script> 
        @RenderSection("Script", false)
        @RenderSection("Head", false) 
    </body>
</html>
