﻿@model Site_Lacos.Handler._404

@{
    ViewBag.Title = "Oops!";
    Layout = "~/Views/Shared/New_Header.cshtml";
}

<section class="CenteredContainer">
<h1>Oops!</h1>
<br />
<h2>Desculpe!<br />Não localizamos a página <u>@ViewBag.Pagina</u>.</h2>  
</section>