﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Seja um Promotor";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_promotor").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/seja-um-promotor/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/seja-um-promotor?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    nome: "required",
                    cpf: "required",
                    cep: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    endereco: "required",
                    numero: "required",
                    bairro: "required",
                    cidade: "required",
                    uf: "required",
                    telefone: "required",
                    acordo: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    nome: "Digite seu nome",
                    cpf: "Digite seu CPF",
                    cep: "Digite o CEP",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    endereco: "Digite o endereço",
                    bairro: "Digite o bairro",
                    cidade: "Digite a cidade",
                    numero: "Digite o número",
                    uf: "Digite o estado",
                    telefone: "Digite o telefone para contato",
                    acordo: "Você deve aceitar os termos e condições comerciais",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "seja-um-promotor")" itemprop="url">      
      <span itemprop="title"><b>Seja um Promotor</b></span>    
    </a>   
    </div>    
</div> 
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Seja um Promotor</h1>
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua solicitação foi enviada com sucesso! Por favor, aguarde nosso retorno.</div>
    }
    else
    {
    <p>
        Você gostaria de ser um Promotor do Site Coroas Para Velório?<br /><br />
        Além de ajudar outras pessoas com a aquisição deste tipo de produto em momentos delicados, você ainda recebe uma comissão para cada venda realizada.<br /><br />
        Para participar do nosso quadro de vendedores, basta preencher o cadastro abaixo (válido apenas para pessoa física).<br /><br />
        Nossa equipe entrará em contato com você para conhecer um pouco mais sobre a sua personalidade e sobre os seus atributos. Após a entrevista, você receberá um Código de Identificação (ou Código Promocional).<br /><br />
        Toda vez que uma compra online ou pelo televendas for realizada com o seu código, será creditada a comissão em sua conta.<br /><br />

        Preencha o formulário abaixo para receber mais informações:
    </p>
    <div class="box-radius">
        @using (Html.BeginForm("Enviar", "Seja-um-promotor", FormMethod.Post, new { id = "form_promotor", name = "form_promotor", enctype = "multipart/form-data", @class = "formulario" }))
        {   
            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">

                <tr>
                    <td width="97"></td>
                    <td width="97"></td>
                    <td width="20"></td>
                    <td width="174"></td>
                    <td width="97"></td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome Completo: -->
                    <td colspan="2" class="right">Nome Completo:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nome" name="nome"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- CPF: -->
                    <td colspan="2" class="right">CPF:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="cpf" name="cpf"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- CEP: -->
                    <td colspan="2" class="right">CEP:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="cep" name="cep"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Endereço: -->
                    <td colspan="2" class="right">Endereço:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="endereco" name="endereco"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Número: -->
                    <td colspan="2" class="right">Número:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" class="input56" id="numero" name="numero"/>
                        &nbsp;&nbsp;
                        Complemento
                        &nbsp;&nbsp;&nbsp;
                        <input type="text" class="input56" id="complemento" name="complemento"/>
                    </td>
                    <td></td>
                </tr>

                <tr><!-- Bairro: -->
                    <td colspan="2" class="right">Bairro:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="bairro" name="bairro"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Cidade: -->
                    <td colspan="2" class="right">Cidade:</td>
                    <td width="20"></td>
                    <td>
                        <input type="text" class="input100" id="cidade" name="cidade"/>
                        &nbsp;&nbsp;
                        Estado
                    </td>
                    <td>
                        <input type="text" class="input56" id="uf" name="uf"/>
                    </td>
                    <td></td>
                </tr>

                <tr><!-- Tel Residencial: -->
                    <td colspan="2" class="right">Tel Residencial:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="telefone" name="telefone"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Tel Celular: -->
                    <td colspan="2" class="right">Tel Celular:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="celular" name="celular"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Nextel: -->
                    <td colspan="2" class="right">Nextel:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nextel" name="nextel"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">Email:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="email" name="email"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Como nos conheceu? -->
                    <td colspan="2" class="right">Como nos conheceu?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <select style="border:0px; width:235px; height:23px;" id="conheceu" name="conheceu">		
					        <option>Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select>
                    </td>
                    <td width="97"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">Validação:</td>
                    <td width="20"></td>
                    <td colspan="2">                
                        @captcha
                    </td>
                </tr> 

                <tr height="10">
                    <td colspan="6"></td>
                </tr>

                <tr>
                    <td colspan="2" class="right"></td>
                    <td width="20"></td>
                    <td colspan="3">
                        <input type="radio" id="acordo" name="acordo"/>
                        Li e estou de acordo com os Termos e Condições Comerciais
                    </td>
                </tr>

                <tr height="10">
                    <td colspan="6"></td>
                </tr>

                <tr height="10">
                    <td colspan="6" class="center">
                        <input type="submit" value="Cadastrar" class="botao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'promotor', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>

            </table>
        }
    </div>
    }
    <p>
        Agradecemos pela preferência!<br />Equipe Coroas Para Velório.
    </p>
</div>