/* ----------------------------------------------------------------
    
    Filename: landing.css
    Description: over-bootstrap css
    Version: 1.0.0
    Author: Guilherme de Oliveira Costa
    Website: http://www.benance.net/guilhermedeocosta
    
-----------------------------------------------------------------*/

::selection {
  background: #fa3c90;
  color: white;
}
::-moz-selection {
  background: #fa3c90;
  color: white;
}

.c {text-align: center}
.r {text-align: right}
.l {text-align: left}

body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
}

.btn-main {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	padding-left: 30px;
	padding-right: 40px;
	font-size: 26px;
}

.btn-main span {
	margin-right: 10px;
}

.btn-main:hover {
	background-color: white;
	color: #ea3283;
}

.btn-checkout {
	width: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: #fdb813;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	border-bottom: 3px solid #ffde00;
}

.btn-checkout:hover, .btn-checkout:focus {
	background-color: #ffde00;
	color: white;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 120px;
}

header {
	margin-bottom: 60px;
	min-height: 100vh;
}

header img {
	width: 100%;
	max-width: 200px;
	height: auto;
	margin-top: 15px;
}

header main {
	background-image: url('../img/feather.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	padding-right: 360px;
	text-align: center;
	margin-top: 80px;
}

header main h2 {
	font-family: 'Oswald';
	padding: 10px 0;
	border: 3px double white;
	border-color: rgba(255,255,255,0.6);
	border-left: none;
	border-right: none;
}

header main h3 {
	font-family: 'Open Sans Light', sans-serif;
	font-weight: normal;
	margin-bottom: 30px;
	font-size: 26px;
	line-height: 1.2;
}

section#showcase {
	margin-bottom: 60px;
}

section#showcase .card {
	text-align: center;
	background-color: white;
	color: #333;
}

section#showcase .card span {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin-bottom: 15px;
}

section#showcase .card span img {
	width: 100%;
	height: auto;
}

section#showcase .card h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	color: #c22065;
	margin: 0;
}

section#showcase .card p {
	color: #68be68;
	font-size: 20px;
	letter-spacing: -1.5px;
	margin: 0 0 10px;
}

section#showcase .card p big {
	font-size: 150%;
	font-weight: 600;
}

section#features {
	background-color: white;
	color: #ea3283;
	text-align: center;
	padding: 10px 0;
}

section#features ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

section#features ul li {
	float: left;
	display: inline-block;
	padding: 5px 10px;
	text-align: right;
}

section#features ul li span {
	display: inline-block;
	float: left;
	padding-right: 5px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.5px;
}

section#features ul li i {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background-image: url('../img/spritesheet.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

section#features ul li#pagamento i 		{background-position: 0px 0px}
section#features ul li#flores i 		{background-position: -31px 0px}
section#features ul li#mensagem i 		{background-position: -62px 0px}
section#features ul li#frete i 			{background-position: -93px 0px}
section#features ul li#atendimento i 	{background-position: -124px 0px}
section#features ul li#entregas i 		{background-position: -155px 0px}

section#enterprise {
	padding: 30px 0;
}

section#enterprise .c {
	padding-top: 20px;
}

section#enterprise h4 {
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: right;
	margin: 0;
}

footer {

}

footer section#main {
	background-color: white;
	padding: 30px 0;
}

footer section#main img {
	max-width: 300px;
	margin-top: 20px;
}

footer section#main span {
	padding-right: 130px;
	background-image: url('../img/phone.png');
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 110px;
	display: block;
	text-align: right;
	font-size: 24px;
	color: #ea3283;
	padding-top: 12px;
	line-height: 36px;
}

footer section#main span a {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	color: #ea3283;
}

footer section#main span a:hover {
	text-decoration: none;
}

footer section#main .c {
	border-top: 1px solid #f0f0f0;
	margin-top: 20px;
	padding-top: 15px;
}

footer section#main div>a {	
	font-size: 22px;
	color: #ea3283;
	font-family: 'Open Sans Light', sans-serif;
}

footer section#main div>a:hover {
	text-decoration: none;	
}

footer section#social {
	padding: 20px 0;
}

footer section#social a {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 0 6px;
	background-image: url('../img/spritesheet.png');
	background-repeat: no-repeat;
	background-position: 0px -31px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

footer section#social a:hover {
	box-shadow: 0 0 10px #fff;
}

footer section#social a:first-of-type {
	margin-left: 0;
}

footer section#social a:last-of-type {
	margin-right: 0;
}

footer section#social a#facebook 	{background-position: 0px -31px}
footer section#social a#instagram 	{background-position: -46px -31px}
footer section#social a#twitter 	{background-position: -92px -31px}
footer section#social a#linkedin 	{background-position: -138px -31px}
footer section#social a#gplus 		{background-position: -184px -31px}
footer section#social a#youtube 	{background-position: -230px -31px}

@media (min-width: 1200px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	header main {
		background-size: initial;
		padding-right: 260px;
		height: initial;
		margin-bottom: 60px;
	}

	section#features ul li {
		padding: 5px;
	}

	section#enterprise h4 {
		font-size: 40px;
	}

	section#enterprise .c {
		padding-top: 15px;
	}

	footer section#main {
		padding: 20px 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 85px;
		margin-bottom: 10px;
	}

	.btn-checkout {
		font-size: 24px;
	}

	header {
		min-height: initial;
		padding-bottom: 60px;
	}

	header main {
		background-size: initial;
		padding-right: 180px;
		background-size: 170px;
	}

	header main h3 {
		font-size: 22px;
		margin-bottom: 15px;
	}

	header .btn-main {
		font-size: 22px;
		margin-top: 15px;
	}

	section#showcase .card h2 {
		font-size: 22px;
	}

	section#showcase .card p {
		font-size: 18px;
		margin-top: 10px;
	}

	section#showcase .card p big {
		font-size: 130%;
	}

	section#features ul li#flores, section#features ul li#mensagem {display: none}

	section#enterprise h4 {
		text-align: center;
	}

	footer section#main span {
		background-size: 80px;
		padding-right: 100px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 450px;
	}

	h1 {
		font-size: 60px;
		padding-right: 60px;
		padding-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}

	header {
		text-align: center;
		min-height: initial;
		margin-bottom: 30px;
	}

	header main {
		background-size: initial;
		padding: 0;
		background-size: 80px;
		background-position: right top;
	}

	header main h3 {
		font-size: 20px;
	}

	section#showcase .card {
		margin-bottom: 20px;
	}

	section#features {
		display: none;
	}

	section#enterprise h4 {
		font-size: 24px;
		text-align: center;
		line-height: 1.4;
	}

	section#enterprise br {
		display: none;
	}

	section#main img {
		width: 100%;
		max-width: 300px;
	}

	footer section#main span {
		background-image: none;
		padding: 0;
		text-align: center;
		margin-top: 15px;
	}

	footer section#main .c {
		margin-top: 0;
	}

	footer section#social a:last-of-type {
		margin-right: 6px;
	}

	footer section#social a:first-of-type {
		margin-left: 6px;
	}
}

@media (max-width: 399px) {
	h1 {
		font-size: 48px;
		padding: 20px 0 0;
		margin: 0 0 10px;
		padding-top: 0;
	}

	.btn-main {
		font-size: 20px;
	}

	header main {
		background-size: 30px;
		background-image: none;
	}
}