﻿@model Domain.Entities.Administrador

@{
    ViewBag.Title = Model == null ? "Novo Administrador" : "Administrador " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Ramais = (IEnumerable<Domain.Entities.Ramai>)ViewBag.Ramais;
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Administrador " : "Administrador " + Model.Nome)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Administrador", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID) 
            @Html.HiddenFor(model => model.DataUltimoLogin) 
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Perfil</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("PerfilID", typeof(Domain.Entities.Administrador.Perfis), (Model != null ? Model.Perfil : Domain.Entities.Administrador.Perfis.Atendimento), new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Nome</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Ramal</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListFor(model => model.RamalID, new SelectList(Ramais, "ID", "NumeroRamal"), "-- selecione -- ", new { @class = "mws-textinput" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>E-mail </label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Email, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div> 
                
                <div class="mws-form-row">
                    <label>Senha </label>
                    <div class="mws-form-item small">
                        @{var Senha = Model == null ? "" : Model.Senha;}
                        @Html.Password("Senha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Confirmação de senha </label>
                    <div class="mws-form-item small">
                        @Html.Password("ConfirmacaoSenha", Senha, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>              
                <div class="mws-form-row">
                    <label>Liberado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Liberado)  SIM
                    </div>
                </div> 
                <div class="mws-form-row">
                    <label>Comercial em Laços?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Comercial)  SIM
                    </div>
                </div>
                @if (Model != null)
                {
                <div class="mws-form-row">
                    <label>Data de último login</label>
                    <div class="mws-form-item small">
                        @if (Model.DataUltimoLogin.HasValue)
                        {
                            @Model.DataUltimoLogin.Value.ToString("dd/MM/yyyy HH:mm")
                        }
                        else
                        {
                            <i>Ainda não se logou</i>
                        }
                    </div>
                </div>  
                }
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#administrador').addClass('active');
        $('#i_usuarios').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Nome: "required",
                Email: {
                    required: true,
                    email: true
                },
                Senha: "required",
                ConfirmacaoSenha: {
                    required: true,
                    equalTo: "#Senha"
                }
            },
            messages: {
                Nome: "O campo nome é obrigatório.",
                Email: {
                    required: "O campo e-mail é obrigatório.",
                    email: "digite um e-mail válido"
                },
                Senha: "O campo senha é obrigatório.",
                ConfirmacaoSenha: {
                    required: "digite a confirmação da senha",
                    equalTo: "a confirmação da senha deve ser identica a senha digitada"
                }
            }
        });
    });
</script>
}