﻿@model IEnumerable<Domain.Entities.AdministradorPedido>

@{
    ViewBag.Title = "Histórico de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarios = (IEnumerable<Domain.Entities.Administrador>)ViewBag.Usuarios;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#administrador').addClass('active');
            $('#i_historico').addClass('active');
        });       
    </script>
} 

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Histórico de Pedidos 
            <input type="button" value="Relatório" class="mws-button blue right padding_1" onclick="javascript:window.open('@Url.Action("Relatorio", "Administrador")');"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">            
        <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table>
            <tr>
                <td>Data de Inicial:</td>
                <td><input type="text" name="datainicial" id="datainicial" value="@Request.QueryString["datainicial"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Data de Final:</td>
                <td><input type="text" name="datafinal" id="datafinal" value="@Request.QueryString["datafinal"]" autocomplete="off" class = "mws-textinput mws-datepicker" style="width:150px;"/></td>
                <td style="width:20px;"></td>
                <td>Número do Pedido:</td>
                <td><input type="text" name="numero" value="@Request.QueryString["numero"]" autocomplete="off" style="width:150px;"/></td> 
            </tr> 
            <tr>
                <td>Ação:</td>
                <td colspan="6">@Html.DropDownListForEnum("acaoID", typeof(Domain.Entities.AdministradorPedido.Acao), (!String.IsNullOrEmpty(Request.QueryString["acaoID"]) ? Convert.ToInt32(Request.QueryString["acaoID"]) : 0), new { style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>Usuário:</td>
                <td colspan="6">@Html.DropDownList("usuarioID", new SelectList(usuarios, "ID", "Nome", (!String.IsNullOrEmpty(Request.QueryString["usuarioID"]) ? Convert.ToInt32(Request.QueryString["usuarioID"]) : 0)), "Selecione uma opção", new { @class = "mws-textinput" })</td>
            </tr>  
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/>
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th align="center">Usuário</th>
                    <th align="center">Pedido ou Fatura</th>
                    <th align="center">Ação</th> 
                    <th align="center">Data de Criação</th>  
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Administrador.Nome</td> 
                        <td align="center"> 
                            @if(item.PedidoID.HasValue){
                                <a href="@Url.Action("Visualizar", "PedidosSite", new { id=item.PedidoID })" target="_blank">@item.Pedido.Numero</a>
                            }
                            else if(item.PedidoEmpresaID.HasValue){
                                <a href="@Url.Action("Visualizar", "PedidosEmpresa", new { id=item.PedidoEmpresaID })" target="_blank">@item.PedidoEmpresaID</a>
                            }
                            else if (item.FaturamentoID.HasValue){
                                <a href="@Url.Action("Visualizar", "FaturasEmpresa", new { id=item.FaturamentoID })" target="_blank">@item.Faturamento.Empresa.RazaoSocial - (fatura @item.FaturamentoID)</a>
                            }
                        </td> 
                        <td>@Domain.Helpers.EnumHelper.GetDescription(item.AcaoEnum)</td> 
                        <td>@item.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td> 
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="11" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&datainicial=@Request.QueryString["datainicial"]&datafinal=@Request.QueryString["datafinal"]&email=@Request.QueryString["acaoID"]&numero=@Request.QueryString["numero"]&status=@Request.QueryString["usuarioID"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>