﻿@model IEnumerable<Domain.Entities.Administrador>

@{
    ViewBag.Title = "Administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#administrador').addClass('active');
            $('#i_usuarios').addClass('active');
        });       
    </script>
}
@if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveSucess.ToString())
{
<div class="mws-form-message mws-panel success">Salvo com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteSucess.ToString())
{
<div class="mws-form-message mws-panel success">Removido com sucesso! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
}
 else if (Request.QueryString["cod"] == MvcExtensions.Controllers.Message.SaveFailure.ToString() || Request.QueryString["cod"] == MvcExtensions.Controllers.Message.DeleteFailure.ToString())
 {
<div class="mws-form-message mws-panel error">Erro! <br />@(Server.UrlDecode(Request.QueryString["msg"]))</div>
 }

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Administradores
            <input type="button" value="Novo" class="mws-button blue right padding_1" onclick="javascript:window.location='@Url.Action("Edit", "Administrador")';"/>
        </span>    
    </div>
    <div class="mws-panel-body">
        <div class="dataTables_wrapper">   
            <div class="dataTables_filter" style="text-align:left;">
            <form method="get">
            <table> 
            <tr>
                <td>Nome do Colaborador:</td>
                <td><input type="text" name="nome" id="nome" value="@Request.QueryString["nome"]" autocomplete="off" style="width:150px;"/></td>  
                <td style="width:20px;"></td>
                <td>Somente liberados?</td>
                <td><input type="checkbox" name="liberado" id="liberado" value="1" @(Request.QueryString["liberado"] == "1" ? "checked" : "")/> SIM</td> 
            </tr>   
            </table>
            <input type="submit" class="mws-button gray small" value="Filtrar"/> 
            </form>
        </div>
        <table class="mws-table">
            <thead>
                <tr>
                    <th style="text-align:center;">Nome</th>
                    <th style="width:150px;text-align:center;">Perfil</th>
                    <th style="width:150px;text-align:center;">Liberado</th>
                    <th align="center">Ações</th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td style="">@item.Nome</td>
                    <td style="text-align:center;">@Domain.Helpers.EnumHelper.GetDescription(item.Perfil)</td>
                    <td style="text-align:center;">@Html.Raw(item.Liberado ? "<b>SIM</b>" : "NÃO")</td>
                    <td class="center" style="width:164px;">                        
                        <div class="mws-panel-toolbar top clearfix">
                        	<ul>                            
                                <li>@Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "mws-ic-16 ic-edit" })</li>
							    <li>                                    
                                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "mws-ic-16 ic-cross", title = "Excluir", onclick = "return confirm('Deseja excluir este item? Todos os dados relacionados serão perdidos');" })
                                </li>                                           
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
            }
            </table>
            @if (ViewBag.TotalPaginas > 1)
            {
            <div class="dataTables_wrapper">   
                <div class="dataTables_info">@ViewBag.TituloPaginacao</div>
                <div class="dataTables_paginate paging_full_numbers">
                    <span>
                    @for (var i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <span class="@(i == ViewBag.PaginaAtual ? "paginate_active" : "paginate_button")"><a class="pagina" href="?pagina=@i&nome=@Request.QueryString["nome"]&liberado=@Request.QueryString["liberado"]">@i.ToString()</a></span>
                    }
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>
