﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Relatório de Produção</title> 
    <style type="text/css">
        html{
	    font-family: verdana,arial,sans-serif;
	    font-size:12px;}
    table.gridtable {
	    font-family: verdana,arial,sans-serif;
	    font-size:10px;
	    color:#333333;
	    border-width: 1px;
	    border-color: #666666;
	    border-collapse: collapse;
    }
    table.gridtable th {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #666666;
	    background-color: #dedede;
    }
    table.gridtable td {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #666666;
	    background-color: #ffffff;
	    text-align:center;
    }
    </style>  
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="@Domain.Core.Configuracoes.CDN_URL/scripts/jquery.ui.mask.js"></script> 
    <script>
        $(function () {
            $("#mes").mask({ mask: "##/####", allowPartials: false });
          });
    </script>

</head>
<body> 

    <center>
        Digite o mês para extrair o relatório
        <br />
        <form method="get">
        <table>
            <tr> 
                <td><input type="text" id="mes" name="mes" value="@Request.QueryString["mes"]" style="text-align:center;" /></td>   
            </tr> 
            <tr>
                <td align="center"><input type="submit" value="Enviar"/></td>   
            </tr>            
        </table>         
        </form>
        
    </center>
    <br />
@if (ViewBag.Resultado != null)
{
    <a href="/Administrador/RelatorioExcel?mes=@Request.QueryString["mes"]">Exportar para excel</a>
    @Html.Raw(ViewBag.Resultado)
}
</body>
</html>
