﻿@model Domain.Entities.Pedido

@{
    ViewBag.Title = "Pedido realizado com sucesso";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    
    ViewBag.TrackTrans = "_gaq.push(['_addTrans',";
    ViewBag.TrackTrans += "'" + Model.ID + "',";          // transaction ID - required
    ViewBag.TrackTrans += "'Coroas para velório',";  // affiliation or store name
    ViewBag.TrackTrans += "'" + Model.ValorTotal.ToString("N2") + "',";          // total - required
    ViewBag.TrackTrans += "'0',";           // tax
    ViewBag.TrackTrans += "'0',";              // shipping
    if(Model.Cliente.Cidade != null){
        ViewBag.TrackTrans += "'" + Model.Cliente.Cidade.Nome + "',";       // city
        ViewBag.TrackTrans += "'" + Model.Cliente.Cidade.Estado.Nome + "',";     // state or province
    }
    ViewBag.TrackTrans += "'BRA'";             // country
    ViewBag.TrackTrans += "]);";
    
    foreach(var item in Model.PedidoItens){
        ViewBag.TrackTrans += "\n_gaq.push(['_addItem',";
        ViewBag.TrackTrans += "'" + Model.ID + "',";           // transaction ID - required
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.ProdutoID + "',";           // SKU/code - required
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.Produto.Nome + "',";        // product name
        ViewBag.TrackTrans += "'" + item.ProdutoTamanho.Tamanho.Nome + "',";   // category or variation
        ViewBag.TrackTrans += "'" + item.Valor.ToString("N2") + "',";          // unit price - required
        ViewBag.TrackTrans += "'1'";               // quantity - required
      ViewBag.TrackTrans += "]);";
    }
    
    ViewBag.TrackTrans += "\n_gaq.push(['_trackTrans']);"; //submits transaction to the Analytics servers

    ViewBag.Retargeting = "var google_conversion_language = \"pt\";";
	ViewBag.Retargeting += "var google_conversion_format = \"2\";"; 
	ViewBag.Retargeting += "var google_conversion_color = \"ffffff\";"; 
	ViewBag.Retargeting += "var google_conversion_label = \"KmjoCLWsywgQm7jd0gM\";"; 
	ViewBag.Retargeting += "var google_conversion_value = 1.000000;"; 
	ViewBag.Retargeting += "var google_remarketing_only = false; "; 

}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
    <script type="text/javascript">

        window.optimizely = window.optimizely || [];
        window.optimizely.push(['trackEvent', 'totalPrice', { 'revenue': valueInCents}]);

    </script>   
}
<!--VEINTERACTIVE PIXEL TAG-->
<img src="//cdsusa.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=DDF7E5CC-DE1F-4CFB-9B0E-785966056CEB" width="1" height="1"/>
<form>
<input type="hidden" id="totalPrice" value="@Model.ValorTotal.ToString("N2")" />
</form>

@Html.Action("Caminho", "Pedido", new { posicao = 4 })

<div class="conteudo">
    <h1>Pedido realizado com sucesso</h1>

    <div class="DadosPedido">
        <div class="NumeroPedido">
            Número do seu pedido<br /><br />
            <span class="codigo">@Model.Numero</span><br /><br />
            A confirmação do pedido foi enviada a seu endereço de e-mail:<br />- @Model.Cliente.Email
        </div>
        <div class="TipoPagamento">
            @switch (Model.MeioPagamento)
            {
                case Domain.Entities.Pedido.MeiosPagamento.Boleto:
                    <img src="../../Content/img/ico-boleto.png" style="float:left; margin-right: 10px" alt="Boleto bancário" title="Boleto bancário"/>
                    <span>Boleto bancário</span><br />
                    <a href="@Url.Action("index", "boleto", new { codigo = Model.Codigo })" target="_blank">Clique aqui para gerar e imprimir seu Boleto.</a>
                        break;
                case Domain.Entities.Pedido.MeiosPagamento.Cielo:
                    <img src="../../Content/img/ico-cartao-credito.png" style="float:left; margin-right: 10px" alt="Cartão de Crédito" title="Cartão de Crédito" />
                    <span>Cartão de Crédito</span><br />      
                        if (Model.DataPagamento.HasValue)
                        {
                        <b>Data de Pagamento: </b> @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")<br />
                        }
                     <b>Retorno: </b>@Model.Retorno <br />
                     <b>Mensagem: </b>@Model.Mensagem<br />
                     <b>TID: </b>@Model.TID
                            break;
                case Domain.Entities.Pedido.MeiosPagamento.PagSeguro:
                    <img src="../../Content/img/ico-pagseguro.png" style="float:left; margin-right: 10px"  alt="PagSeguro" title="PagSeguro"/>
                    <span>PagSeguro</span><br />      
                            if (Model.DataPagamento.HasValue)
                            {
                        <b>Data de Pagamento: </b> @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")<br />
                            }
                            break;
                case Domain.Entities.Pedido.MeiosPagamento.PayPal:
                    <img src="../../Content/img/ico-paypal.png" style="float:left; margin-right: 10px" alt="PayPal" title="PayPal" />
                    <span>PayPal</span><br />      
                            if (Model.DataPagamento.HasValue)
                            {
                        <b>Data de Pagamento: </b> @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")<br />
                            }
                            break;
                case Domain.Entities.Pedido.MeiosPagamento.Shopline:
                    <img src="../../Content/img/ico-shopline.gif" style="float:left; margin-right: 10px"  alt="Itaú Shopline" title="Itaú Shopline"/>
                    <span>Itaú Shopline</span><br />            
                            if (Model.DataPagamento.HasValue)
                            {
                        <b>Data de Pagamento: </b> @Model.DataPagamento.Value.ToString("dd/MM/yyyy HH:mm")<br />
                            }
                            if (Model.StatusPagamento == Domain.Entities.Pedido.TodosStatusPagamento.Pago)
                            {
                        <b>Código de Autorização: </b> @Model.ShoplineCodAut<br />
                        <b>Comprovante de Venda: </b> @Model.ShoplineCompVenda          
                            }
                            break;
            }
            <br />
            <br />
            <br />
            ATENÇÂO! É fundamental que exista alguém para receber a encomenda no endereço de entrega especificado e que este endereço esteja correto, para que a entrega seja realizada dentro do prazo escolhido.
        </div>
    </div>
    <h2 class="qlassik">Local de entrega:</h2>
    @Model.LocalEntrega.ToUpper() - @Model.Cidade.Nome.ToUpper() - @Model.Estado.Sigla.ToUpper()
    <br />
    <br />
    Obrigado por visitar nosso site e fazer aqui a sua compra.<br />
    Pedidos sujeitos à análise e confirmação de seus dados cadastrais e de entrega.
</div>


