﻿@model Domain.Entities.Carrinho
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";

    var cliente = (Domain.Entities.Cliente)ViewBag.Cliente;
    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}


@section Script{ 
    <script type="text/javascript"> 
        
        $(window).resize(function() {
            if($('#painel').css('display') != 'none'){ 
                showPainel();
            }
        });

        $(document).ready(function () {
        

            if(popupBloqueada){                
                $('#shopline-mensagem').show();
            }else{
                $('#shopline-mensagem').hide();
                }

            $('#data-entrega').mask('99/99/9999');            
            $('#data-entrega').datepicker();
            $('#hora-entrega').mask('99:99');
            $('#cartao-validade').mask('99/99');
            $('#cartao-numero').mask('99999999999999?99');
            $('#cartao-codigo').mask('999?9');

            $('#estado').val('');
            $('#estado').change(function(){
                var estado = $('#estado').val();
                $('#cidade').html('');
                if(estado != ''){
                    Local.Cidades(estado, function(data){
                        var html = '<option value="">selecione a cidade</option>';
                        for(var c in data){
                            var cidade = data[c];
                            html += '<option value="' + cidade.ID + '">' + cidade.Nome + '</option>';
                        }
                        $('#cidade').html(html);
                    });
                }
            });
                        
        });
        

        function showPainel(){
            $('#painel').css("width", $(document).width());
            $('#painel').css("height", $(document).height());
            $('#painel div').css("margin-top", $(document).height()/2);
            $('#painel').show();
        }
        
        function hidePainel(){ 
            $('#painel').hide();
        }

        function Frase(id, obj){
            $('#frase-' + id).val($(obj).val());
            $('#frase-' + id).focus();
        }
        
        function Selecionar(meioPagamento){
            switch(meioPagamento){
                case 'CartaoCredito':
                    $('.form-pagamento').hide();
                    $('#Formulario-CartaoCredito').show();
                    break;
                case 'Boleto':
                    $('.form-pagamento').hide();
                    $('#Formulario-Boleto').show();
                    break;
                case 'PagSeguro':
                    $('.form-pagamento').hide();
                    $('#Formulario-PagSeguro').show();
                    break;
                case 'PayPal':
                    $('.form-pagamento').hide();
                    $('#Formulario-PayPal').show();
                    break;
                case 'Shopline':
                    $('.form-pagamento').hide();
                    $('#Formulario-Shopline').show();
                    break;
                case 'Faturamento':
                    $('.form-pagamento').hide();
                    $('#Formulario-Faturamento').show();
                    break;
            }
        } 

        function Pagar(meioPagamento){ 
            if(Validar()){
                var pessoaHomenageada = $('#pessoa-homenageada').val();
                var grauParentesco = $('#grau-parentesco').val();
                var localEntrega = $('#local-entrega').val();
                var estado = $('#estado').val();
                var cidade = $('#cidade').val();
                var telefoneContato = $('#telefone-contato').val();
                var dataEntrega = $('#data-entrega').val();
                var horaEntrega = $('#hora-entrega').val();
                var observacoes = $('#observacoes').val();

                switch(meioPagamento){
                    case 'CartaoCredito':
                        var bandeira = $('#cartao-bandeira').val();
                        var nome = $('#cartao-nome').val();
                        var numero = $('#cartao-numero').val();
                        var validade = $('#cartao-validade').val();
                        var codigo = $('#cartao-codigo').val();
                        var parcela = $('#cartao-parcela').val();
                        
                         $('#cartao-bandeira').val('');
                         $('#cartao-nome').val('');
                         $('#cartao-numero').val('');
                         $('#cartao-validade').val('');
                         $('#cartao-codigo').val(''); 

                        var erros = '';
                        var quantidade = 0;

                        if(nome == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Nome Impresso no Cartão';
                        }
                        if(numero == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Número do Cartão';
                        }
                        if(validade == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Validade do Cartão';
                        }
                        if(codigo == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Código de Segurança';
                        }

                        if(quantidade > 0){
                            if(quantidade > 1){
                                erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                            }
                            alert(erros);
                        }else{
                            $('.botao-pagar').hide();
                            showPainel();
                            Pedido.Pagar(bandeira, nome, numero, validade, codigo, parcela, cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.CartaoCredito)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Cielo)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                                function (data) {
                                    if(data.Retorno == '0'){
                                        Redirecionar(data.Codigo);
                                    }else{
                                        alert('Transação negada, por favor, tente novamente ou utilize outro meio de pagamento!\n\n' + data.Retorno + ' - ' + data.Mensagem);
                                        hidePainel();
                                        $('.botao-pagar').show();
                                    }
                                },
                                function (error) {
                                    hidePainel();         
                                    $('.botao-pagar').show();       
                                    alert(error);
                                }
                            );
                        }

                        break;

                    case 'Boleto':
                    case 'Faturamento':
                        showPainel();
                        $('.botao-pagar').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Boleto)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Boleto)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                Redirecionar(data.Codigo);
                            },
                            function (error) {
                                hidePainel();         
                                $('.botao-pagar').show();              
                                alert(error);
                            }
                        );
                        break;

                    case 'PagSeguro':
                        showPainel();
                        $('.botao-pagar').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PagSeguro)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#reference').val(data.Codigo);
                                $('#form-pagseguro').submit();
                            },
                            function (error) {
                                hidePainel();            
                                $('.botao-pagar').show();           
                                alert(error);
                            }
                        );
                        break;

                    case 'PayPal':
                        showPainel();
                        $('.botao-pagar').hide();
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.PayPal)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                $('#paypal-custom').val(data.Codigo);
                                $('#return').val($('#return').val() + "?codigo=" + data.Codigo);
                                $('#form-paypal').submit();
                            },
                            function (error) {
                                hidePainel();                        
                                $('.botao-pagar').show();      
                                alert(error);
                            }
                        );
                        break;

                    case 'Shopline':
                        showPainel();
                        $('.botao-pagar').hide(); 
                        Pedido.Criar(cidade, dataEntrega + ' ' + horaEntrega, estado, @((int)(Domain.Entities.Pedido.FormasPagamento.Indefinido)), localEntrega, @((int)(Domain.Entities.Pedido.MeiosPagamento.Shopline)), observacoes, grauParentesco, pessoaHomenageada, telefoneContato,
                            function (data) {
                                Shopline.GerarDC(data.Codigo,
                                    function(dc){
                                        $('#shopline-dc').val(dc);
                                        $('#form-shopline').closest('form').attr('target', 'new').submit().removeAttr('target');
                                        //$('#form-shopline').submit();
                                        //Redirecionar(data.Codigo);
                                    },
                                    function () {
                                        alert('Não foi possível criar seu pedido. Tente novamente com outra forma de pagamento.');
                                        hidePainel();     
                                        $('.botao-pagar').show();
                                    }
                                );
                            },
                            function (error) {
                                hidePainel();                    
                                $('.botao-pagar').show();          
                                alert(error);
                            }
                        );  
                        break;
                }
            }
        }

        function Redirecionar(codigo){
            window.location = '@Url.Action("confirmacao", "pedido")?codigo=' + codigo;
        }

        function Validar(){
            var pessoaHomenageada = $('#pessoa-homenageada').val();
            var grauParentesco = $('#grau-parentesco').val();
            var localEntrega = $('#local-entrega').val();
            var estado = $('#estado').val();
            var cidade = $('#cidade').val();
            var telefoneContato = $('#telefone-contato').val();
            var dataEntrega = $('#data-entrega').val();
            var horaEntrega = $('#hora-entrega').val();
            var observacoes = $('#observacoes').val();

            var erros = '';
            var quantidade = 0;

            $('.mensagem input').each(function(){
                var valor = $(this).val();
                if(valor == ''){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Frase de Homenagem';
                }
            });

            if(pessoaHomenageada == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Pessoa Homenageada';
            }
            if(grauParentesco == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Grau de Parentesco';
            }
            if(localEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Local de Entrega';
            }
            if(estado == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione o Estado';
            }
            if(cidade == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Selecione a Cidade';
            }
            if(dataEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Data de Entrega';
            }
            if(horaEntrega == ''){
                quantidade++;
                erros += (erros.length > 0 ? '\n' : '') + '- Preencha o campo Hora de Entrega';
            }
            if(dataEntrega != '' && horaEntrega != ''){
                var _dataEntrega = dataEntrega.split('/');
                var _horaEntrega = horaEntrega.split(':');
                var data=new Date(parseInt(_dataEntrega[2]),parseInt(_dataEntrega[1])-1,parseInt(_dataEntrega[0]),parseInt(_horaEntrega[0]),parseInt(_horaEntrega[1]));   
                var hoje = new Date(); 
                if(data <= hoje){
                    quantidade++;
                    erros += (erros.length > 0 ? '\n' : '') + '- A Data e Hora de entrega deve ser maior que a data atual';
                }
            }

            if(quantidade > 0){
                if(quantidade > 1){
                    erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                }
                alert(erros);
                return false;
            }

            return true;
        }

    </script>
}

@Html.Action("Caminho", "Pedido", new { posicao = 3 })

<div class="conteudo">

    <h1>Pedido</h1>
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="pedido" style="text-align: left; float: left;">
        <thead>
            <tr class="qlassik table-padding" style="font-size: 30px;" bgcolor="#dbdbdb">
                <th colspan="2" style="padding-left: 20px">Produto</th>
                <th width="240">Tamanho</th>
                <th width="160">Valor</th>
            </tr>
            <tr height="5">
                <th width="125"></th>
                <th width="523"></th>
                <th width="240"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Itens)
            {
                <tr height="5">
                    <td width="125"></td>
                    <td width="523"></td>
                    <td width="240"></td>
                    <td></td>
                </tr>
                <tr class="item">
                    <td width="255">
                        <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = item.ProdutoTamanho.Produto.RotuloUrl, id = item.ProdutoTamanho.ProdutoID })"><img src="@Url.Content("~/content/produtos/" + item.ProdutoTamanho.ProdutoID + "/thumb/" + item.ProdutoTamanho.Produto.Foto)" border="0" height="150" alt="@item.ProdutoTamanho.Produto.Nome" title="@item.ProdutoTamanho.Produto.Nome"></a>            
                    </td>
                    <td colspan="3">
                        <table cellspacing="0" cellpadding="0" border="0" width="807" style="text-align: left">
                            <tr>
                                <td width="453">
                                    @item.ProdutoTamanho.Produto.Tipo
                                    <br />
                                    <font class="qlassik" style="font-size: 20px">@item.ProdutoTamanho.Produto.Nome</font>
                                </td>
                                <td width="231">
                                    <font class="qlassik" style="font-size: 20px">@item.ProdutoTamanho.Tamanho.Nome</font>
                                </td>
                                <td>
                                    <font class="qlassik" style="font-size: 20px">@item.Valor.ToString("C2")</font>
                                </td>
                            </tr>
                            <tr height="5"></tr>
                            <tr>
                                <td colspan="3">
                                    <table cellspacing="0" cellpadding="0" border="0" width="807" style="text-align: left" class="mensagem">
                                        <tr height="15"></tr>
                                        <tr>
                                            <td width="25"></td>
                                            <td width="270">
                                                <font style="font-size: 14px;">
                                                    Primeiro selecione uma sugestão de frase:
                                                </font>
                                            </td>
                                            <td width="25"></td>
                                            <td width="453">
                                                <select onchange="Frase(@item.ID, this);">
                                                    <option value="">-- selecione uma sugestão --</option>
                                                    <optgroup label="COLEGAS DE TRABALHO"></optgroup>
                                                    <optgroup label="- Mais Usadas">                                                        
                                                        <option value="Sentimentos dos Amigos da (nome da empresa)">Sentimentos dos Amigos da (nome da empresa)</option>
                                                        <option value="Homenagem dos Amigos da (nome da empresa)">Homenagem dos Amigos da (nome da empresa)</option>
                                                        <option value="Condolências dos Amigos da (nome da empresa)">Condolências dos Amigos da (nome da empresa)</option>
                                                        <option value="Saudades dos Amigos da (nome da empresa)">Saudades dos Amigos da (nome da empresa)</option>
                                                    </optgroup>
                                                    <optgroup label="- Sofisticadas">
                                                        <option value="Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)">Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)</option>
                                                        <option value="Sinceras condolências dos Diretores e Funcionários da (nome da empresa)">Sinceras condolências dos Diretores e Funcionários da (nome da empresa)</option>
                                                        <option value="Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)">Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)</option>
                                                        <option value="Condolências dos Diretores e Colaboradores da (nome da empresa)">Condolências dos Diretores e Colaboradores da (nome da empresa)</option>
                                                        <option value="Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)">Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)</option>
                                                    </optgroup>
                                                    <optgroup label="- Empresas">
                                                        <option value="Uma homenagem da (nome da empresa)">Uma homenagem da (nome da empresa)</option>
                                                        <option value="Sentimentos aos familiares – (nome da empresa)">Sentimentos aos familiares – (nome da empresa)</option>
                                                        <option value="Condolências aos familiares – (nome da empresa)">Condolências aos familiares – (nome da empresa)</option>
                                                        <option value="Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos">Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos</option>
                                                    </optgroup>
                                                    <optgroup label="FAMILIARES">
                                                        <option value="Uma homenagem de toda a Família (sobrenome da família)">Uma homenagem de toda a Família (sobrenome da família)</option>
                                                        <option value="Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)">Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)</option>
                                                        <option value="Sinceras condolências de toda a Família (sobrenome da família)">Sinceras condolências de toda a Família (sobrenome da família)</option>
                                                        <option value="Condolências aos amigos e parentes – Família (sobrenome da família)">Condolências aos amigos e parentes – Família (sobrenome da família)</option>
                                                        <option value="Com carinho, uma homenagem da Família (sobrenome)">Com carinho, uma homenagem da Família (sobrenome)</option>
                                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família (sobrenome)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família   (sobrenome)</option>
                                                        <option value="Saudades de todos os seus familiares – Família (sobrenome da família)">Saudades de todos os seus familiares – Família (sobrenome da família)</option>
                                                    </optgroup>  
                                                    <optgroup label="AMIGOS PRÓXIMOS">
                                                        <option value="Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)">Uma pessoa nunca morre quando está viva em nossos corações – Amigos da (referência)</option>
                                                        <option value="Saudades eternas de uma pessoa especial – Amigos da (referência)">Saudades eternas de uma pessoa especial – Amigos da (referência)</option>
                                                        <option value="Obrigado por fazer parte de nossas vidas – Amigos da (referência)">"Obrigado por fazer parte de nossas vidas – Amigos da (referência)</option>
                                                        <option value="Você sempre estará presente em nossos corações – Amigos da (referência)">Você sempre estará presente em nossos corações – Amigos da (referência)</option>
                                                        <option value="Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)">Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)</option>
                                                        <option value="À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)">À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)</option>
                                                        <option value="Descanse em paz e vá com Deus – Amigos da (referência)">Descanse em paz e vá com Deus – Amigos da (referência)</option>
                                                        <option value="Foi uma honra contar com a sua amizade – Amigos da (referência)">Foi uma honra contar com a sua amizade – Amigos da (referência)</option>
                                                        <option value="Ao melhor amigo do mundo – (nome da pessoa que está enviando)">Ao melhor amigo do mundo – (nome da pessoa que está enviando)</option>
                                                    </optgroup>     
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr height="10"></tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <font style="font-size: 14px;">
                                                    Agora complete ou customize a sua frase:
                                                </font>
                                            </td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="frase-@item.ID" value="@item.Mensagem" onblur="Carrinho.AtualizarMensagem(@item.ID, this.value)"/>  
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr height="15"></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <tr height="15">
                        <td colspan="4" style="border-top: 1px solid #dbdbdb"></td>
                    </tr>
                </tr>
            }
        </tbody>
        <tfoot class="qlassik">
            <tr>
                <td colspan="2"></td>
                <td>
                    <font style="font-size: 20px">Subtotal:</font>
                </td>
                <td>
                    <font style="font-size: 20px">@Model.Subtotal.ToString("c2")</font>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    <font style="font-size: 20px">Desconto:</font>
                </td>
                <td>
                    <font style="font-size: 20px" class="vermelho">@((-Model.Desconto).ToString("c2"))</font>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    <font style="font-size: 30px">Total:</font>
                </td>
                <td>
                    <font style="font-size: 30px; color: #178d00">@Model.Total.ToString("c2")</font>
                </td>
            </tr>
        </tfoot>

    </table>

    <h1 style="clear: both">Dados da entrega</h1>

    <table cellspacing="0" cellpadding="0" border="0" width="960" class="entrega" style="text-align: left;">
        <tr height="20"></tr>
        <tr>
            <td width="30"></td>
            <td width="320">
                <label>Pessoa Homenageada:</label><br />
                <input id="pessoa-homenageada" type="text" />
            </td>
            <td width="320">
                <label>Local de Entrega:</label><br />
                <input id="local-entrega" type="text" />
            </td>
            <td width="290">
                <label>Estado:</label><br />
                <select id="estado">
                    <option value="">selecione o estado</option>
                    @foreach (var estado in estados)
                    {
                        <option value="@estado.ID">@estado.Nome</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td width="30">
            </td>
            <td width="320">
                <label>Cidade:</label><br />
                <select id="cidade">
                    <option></option>
                </select>
            </td>
            <td width="320">
                <label>Data da Entrega:</label><br />
                <input id="data-entrega" type="text" />
            </td>
            <td width="290">
                <label>Hora da Entrega:</label><br />
                <input id="hora-entrega" type="text"/>
            </td>
        </tr>
        <tr>
            <td width="30"></td>
            <td colspan="3" rowspan="2">
                <label>Observações</label><br />
                <textarea id="observacoes"></textarea>
            </td>
        </tr>
        <tr height="30"></tr>
    </table>
    
    <h1 style="clear: both;margin-top:20px;">Dados de pagamento</h1>
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="pagamento" style="text-align: left;">
        <tr>
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('CartaoCredito')"><img src="../../Content/img/ico-cartao-credito.png" title="Cartão de Crédito" alt="Cartão de Crédito" /></a><br />
                Cartão de Crédito
            </td>
            @if(!cliente.Exterior)
            {
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('Boleto')"><img src="../../Content/img/ico-boleto.png" title="Boleto"  alt="Boleto"/></a><br />
                Boleto
            </td>       
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('PagSeguro')"><img src="../../Content/img/ico-pagseguro.png" title="PagSeguro" alt="PagSeguro" /></a><br />
                PagSeguro
            </td> 
            } 
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('PayPal')"><img src="../../Content/img/ico-paypal.png" title="PayPal"  alt="PayPal"/></a><br />
                PayPal
            </td> 
            @if (!cliente.Exterior)
            { 
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('Shopline')"><img src="../../Content/img/ico-shopline.gif" height="48" title="Shopline"  alt="Shopline"/></a><br />
                Débito Itáu
            </td> 
            }
            @if (cliente.Tipo == Domain.Entities.Cliente.Tipos.PessoaJuridica && !cliente.Exterior)
            {
            <td align="center" width="110">
                <a href="javascript:void(0)" onclick="Selecionar('Faturamento')"><img src="../../Content/img/ico-faturamento.png" title="Faturamento para empresas" alt="Faturamento para empresas"/></a><br />
                Faturamento para empresas
            </td>
            }
        </tr>
    </table>

    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-CartaoCredito">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">Cartão de Crédito</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td><label>Bandeira:</label></td>
            <td>
                <select id="cartao-bandeira">
                    <option value="5">American Express</option>
                    <option value="4">Dinners</option>
                    <option value="3">Elo</option>
                    <option value="2">Mastercard</option>
                    <option value="1">Visa</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Nome impresso no cartão:</label></td>
            <td><input id="cartao-nome" type="text" maxlength="20"/></td>
        </tr>
        <tr>
            <td><label>Número do cartão:</label></td>
            <td><input id="cartao-numero" type="text" maxlength="20"/></td>
        </tr>
        <tr>
            <td><label>Data de validade:</label></td>
            <td><input id="cartao-validade" type="text" maxlength="5" /></td>
        </tr>
        <tr>
            <td><label>Código de segurança:</label></td>
            <td><input id="cartao-codigo" type="text" maxlength="5"/></td>
        </tr>
        <tr>
            <td><label>Parcelar em:</label></td>
            <td>
                <select id="cartao-parcela">                    
                    @for (var i = 1; i <= configuracoes.Parcela; i++)
                    {
                    <option value="@i">@((i == 1)?"À vista":i + " vezes")</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" class="botao-pagar" onclick="Pagar('CartaoCredito')" value="Fechar pedido com cartão de crédito" />
                <span id="CartaoCredito-processando" class="processando">processando...</span>
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Boleto">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">Boleto Bancário</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
            O boleto gerado após a confirmação de sua compra deve ser:<br />
            - Impresso e pago na agência bancária de sua preferência; ou<br />
            - Pago pela Internet, utilizando a sequência numérica do código de barras (contido na parte superior esquerda do boleto).<br /><br />

            Validade do boleto:<br />
            O boleto tem prazo de validade de 07 dias após a finalização do pedido.<br /><br />

            <b>Atenção:</b><br />
            Não faça depósito ou transferência entre contas. O boleto não é enviado pelo correio, imprima-o e pague no banco ou pela internet. Caso você tenha um programa anti pop-up, você deverá desativá-lo antes de finalizar sua compra com esta forma de pagamento.<br /><br />
            Importante ressaltar que realizamos a entrega da Coroa de Flores imediatamente e o pagamento pode ser feito dentro do prazo de vencimento do Boleto.<br />

            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" class="botao-pagar" onclick="Pagar('Boleto')" value="Fechar pedido com boleto bancário" />
                    <span id="Boleto-processando" class="processando">processando...</span></td>
        </tr>
    </table>
   
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-PagSeguro">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">PagSeguro</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
            O pagseguro é um intermediador de pagamentos online bastante conhecido no Brasil.<br /><br />
            Para finalizar a compra de sua coroa de flores via PagSeguro é necessário criar um cadastro (caso você não possua) e escolher a melhor forma de pagamento. <br /><br />

            São aceitas todas as bandeiras de cartão de crédito, boleto bancário e depósito em conta nesta opção de pagamento.<br /><br />
            Os principais cartões de crédito brasileiros são aceitos (Visa, Master, Amex, Dinners, Aurea, Hipercard, Ello, etc)<br /><br />

            Observações: Não são aceitos cartões INTERNACIONAIS (emitidos fora do Brasil)<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">            
                <form id="form-pagseguro" method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">
                    <input type="hidden" name="receiverEmail" value="@Domain.Core.Configuracoes.PAGSEGURO_EMAIL" />
                    <input type="hidden" name="currency" value="BRL" />
                    <input type="hidden" id="redirectURL" name="redirectURL" value="@Domain.Core.Configuracoes.DOMINIO/pagseguro/retorno" />
                    <input type="hidden" id="reference" name="reference" value="" />
      
                    @foreach (var item in Model.Itens)
                    {
                        <input type="hidden" name="itemId@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                        <input type="hidden" name="itemDescription@(item.ID + 1)" value="@item.Descricao" />
                        <input type="hidden" name="itemAmount@(item.ID + 1)" value="@item.Valor.ToString("#.00", new System.Globalization.CultureInfo("en-US"))" />
                        <input type="hidden" name="itemQuantity@(item.ID + 1)" value="1" />  
                        <input type="hidden" name="itemWeight@(item.ID + 1)" value="0" />
                    }

                    <input type="hidden" name="senderName" value="@cliente.Nome" />
                    <input type="hidden" name="senderEmail" value="@cliente.Email" />

                    <input type="button" class="botao-pagar" onclick="Pagar('PagSeguro');return false;" value="Fechar pedido com PagSeguro" />
                    <span id="PagSeguro-processando" class="processando">processando...</span>
                </form>	
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-PayPal">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">PayPal</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>
            O paypal é um dos maiores intermediadores de pagamentos online do mundo.<br /><br />
            Para finalizar a compra de sua coroa de flores via Paypal é necessário criar um cadastro (caso você não possua) e escolher a melhor forma de pagamento.<br /><br />

            São aceitas todas as bandeiras internacionais de cartão de crédito (Visa, Master, Amex, Dinners, entre outros).<br /><br />

            Observação: para finalizar sua compra um cartão de crédito INTERNACIONAL (emitido fora do Brasil), utilize o Paypal<br />

            </td>
        </tr>
        <tr>
            <td colspan="2">            
                <form id="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="upload" value="1" />
                    <input type="hidden" name="charset" value="utf-8" />
                    <input type="hidden" name="business" value="@Domain.Core.Configuracoes.PAYPAL_EMAIL" />
                    <input type="hidden" name="return" value="@Domain.Core.Configuracoes.DOMINIO/@Url.Action("Retorno", "PayPal")" />
                    <input type="hidden" name="currency_code" value="BRL" />
                    <input type="hidden" name="lc" value="BR" />
                    <input type="hidden" name="discount_amount_cart" value="@Model.Desconto.ToString("#.00", new System.Globalization.CultureInfo("en-US"))" />
                    <input id="paypal-custom" type="hidden" name="custom" value="" />

                    @foreach (var item in Model.Itens)
                    {
                        <input type="hidden" name="item_name_@(item.ID + 1)" value="@item.Descricao" />
                        <input type="hidden" name="item_number_@(item.ID + 1)" value="@item.ProdutoTamanho.ID" />
                        <input type="hidden" name="amount_@(item.ID + 1)" value="@item.Valor.ToString("#.00", new System.Globalization.CultureInfo("en-US"))" />
                    }

                    <input type="button" class="botao-pagar" onclick="Pagar('PayPal')" value="Fechar pedido com PayPal" />
                    <span id="PayPal-processando" class="processando">processando...</span>
                </form>
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Shopline">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">Débito Itaú</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>Para finalizar o seu pedido via Débito em Conta Itaú, utilizando o Shopline Itaú é necessário que você seja correntista do banco.<br /><br />

                As opções de pagamento são: Transferência Bancária, Cartões de Crédito (emitidos pelo Itaú) e Financiamento Itaú.
            </td>
        </tr>
        <tr>
            <td colspan="2">           
            <br />
                    <div class="message vermelho" id="shopline-mensagem"><center>Antes de continuar, desbloqueie popups em seu navegador, ou não conseguirá seguir com o pagamento.</center></div> 
                <form id="form-shopline" action="https://shopline.itau.com.br/shopline/shopline.aspx" method="post">
                    <input id="shopline-dc" type="hidden" name="DC" value=""/>
                    <input type="button" class="botao-pagar" onclick="Pagar('Shopline')" value="Fechar pedido com Shopline" />
                    <span id="Shopline-processando" class="processando">processando...</span>
                </form>
            </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="text-align: left;display:none;" id="Formulario-Faturamento">
        <tr>
            <td width="250" colspan="4">
                <font class="qlassik" style="font-size: 30px; line-height: 26px">Faturamento para empresas</font>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td>Por meio do pagamento via Faturamento Empresas, será emitido um Boleto e uma Nota Fiscal com as informações fornecidas no cadastro. O prazo padrão de pagamento é de 07 dias após a confirmação do pedido, podendo ser estendido em caso de adequação ao processo de compra da empresa. <br /><br />

                Importante ressaltar que realizamos a entrega da Coroa de Flores imediatamente e o pagamento pode ser feito dentro do prazo de vencimento do Boleto.<br />
            </td>
        </tr>
        <tr>
            <td colspan="2">           
                <input type="button" class="botao-pagar" onclick="Pagar('Faturamento')" value="Fechar pedido com Faturamento para empresas" />
                <span id="Faturamento-processando" class="processando">processando...</span>
            </td>
        </tr>
    </table>
</div>