﻿@{
    ViewBag.Title = "Suporte";
    Layout = "~/areas/itaubba/Views/Shared/_Layout.cshtml";

    var colaborador = (Domain.Entities.Colaborador)ViewBag.Colaborador;
}

<div id="Conteudo" class="pedidos">

    <div id="Titulo">
        <span class="qlassik">Suporte</span>
    </div>
    <div id="Pagina" style="padding: 0; width: 1120px;">
        
        <h2 class="qlassik" style="margin-left: 50px">Dúvidas na hora da compra? </h2>

        <div class="passos">
            <br />
            1º) Selecione a Coroa de flores de sua preferência e clique em<br />comprar...
            <br /><br />
            2º) Insira as informações solicitadas...
            <br /><br />
            3º) Escolha a forma de pagamento...
            <br /><br />
            <a href="@Url.Action("novo", "pedidos")">
                <input type="button" value="Fazer um novo pedido" class="finalizar-pedido qlassik" id="NovoPedido" />
            </a>
        </div>
@*
        <div class="passos">
            <iframe width="480" height="270" src="http://www.youtube.com/embed/goDEyXLtvfE" frameborder="0" allowfullscreen></iframe>
        </div>*@
        <div style="clear: both"></div>
        
        <h2 class="qlassik" style="margin-left: 50px">Envie-nos um email.</h2>
        
        <div class="passos">
            Envie-nos suas dúvidas, sugestões, críticas ou comentários.
            <br />
            Por favor, seja o mais específico possível quanto a suas dúvidas, para que possamos lhe ajudar com eficiência!
            <br /><br />
            <h2 class="qlassik">
                Ou ligue para o nosso<br />atendimento 24h pelo<br />0800-777-1986
            </h2>
        </div>
        
        <div class="passos">
            <form id="form-contato" action="" method="post">
                <table cellpadding="0" cellspacing="0" border="0" width="500">
                    <tr>
                        <td width="260">
                            <label>Assunto</label><br />
                            <input id="contato-assunto" name="contato-assunto" type="text" />
                        </td>
                        <td>
                            <label>Telefone</label><br />
                            <input id="contato-telefone" name="contato-telefone" type="text" value="@colaborador.Telefone" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Mensagem</label><br />
                            <textarea id="contato-mensagem" name="contato-mensagem" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <input type="submit" value="Enviar" id="finalizar"/>
                            <div class="processando" id="processando">Enviando, por favor, aguarde...</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
    @Html.Partial("Rodape")
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-contato").validate({
                meta: 'validate',
                onkeyup: false,
                errorClass: 'erro',
                submitHandler: function (form) {
                    var assunto = $('#contato-assunto').val();
                    var telefone = $('#contato-telefone').val();
                    var mensagem = $('#contato-mensagem').val();
                    $('#finalizar').hide();
                    $('#processando').show();
                    $.post('@Url.Action("enviar")', { assunto: assunto, telefone: telefone, mensagem: mensagem }, function (data) {
                        if (data == 'OK') {
                            $('#contato-assunto').val('');
                            $('#contato-telefone').val('');
                            $('#contato-mensagem').val('');
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert('Sua mensagem foi enviada. Em breve entraremos em contato. Obrigado!');
                        } else {
                            $('#finalizar').show();
                            $('#processando').hide();
                            alert('Não foi possível enviar sua mensagem. Tente novamente mais tarde.');
                        }
                    });
                },
                rules: {
                    'contato-assunto': {
                        required: true
                    },
                    'contato-telefone': {
                        required: true
                    },
                    'contato-mensagem': {
                        required: true
                    }
                },
                messages: {
                    'contato-assunto': 'Preencha o Assunto',
                    'contato-telefone': 'Preencha o Telefone',
                    'contato-mensagem': 'Preencha a Mensagem'
                }
            });

        });

    </script>
}