﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Formas de Pagamento"; 

}

@section Head{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-formas").addClass("active");
        });
    </script>
}
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Formas de Pagamento</b></span> </div>
</div>
</div> 

<div id="FormasPagamento">
<div class="Div">

	<h1 class="TituloPagina">Formas de pagamento</h1>

	<div class="Div1">
		<div class="Div1Texto1">
        Com o objetivo de facilitar a seu pedido, o site Laços Flores disponibiliza diversas formas de pagamento para seu produto.
        <br /><br />
        Seja pela internet ou pelo telefone, nós disponibilizamos pagamento por cartão de crédito.
        <br /><br />
       
        <b>Veja melhor cada forma de pagamento que disponibilizamos.</b>
        <br />
        </div>

		<div class="Opcoes">

			<div class="Opcoes1">
			<div class="OpcoesImg"><img src="/content/imagens/cartoes.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Cartão de crédito</b><br /><br />Aceitamos as principais bandeiras de cartão de crédito para facilitar a sua compra de flores. Esta opção de pagamento está disponível para todos os clientes (pessoa física ou pessoa jurídica).</div>
			</div>

			<div class="Opcoes1" style="display: none;">
			<div class="OpcoesImg"><img src="/content/imagens/Boleto.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Boleto Bancário</b><br /><br />Ao optar por pagamento via boleto bancário o cliente possui 7 dias para o vencimento após a compra. Os dados necessários são Nome, CPF e Endereço Completo.</div>
			</div>

            <div class="Opcoes1" style="display: none;">
                <div class="OpcoesImg"><img src="/content/imagens/Faturamento.png" width="132" height="73" border="0" alt="Icone" /></div>
                <div class="OpcoesTexto"><b>Faturamento Empresas</b><br /><br />Empresas que optem pelo faturamento pode realizar o pagamento em até 20 dias. Os dados necessários são Razão Social, CNPJ e Endereço Completo.</div>
            </div>

			@*<div class="Opcoes2">
			<div class="OpcoesImg"><img src="/content/imagens/bancos.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Transferência Bancária</b><br /><br />Trabalhamos com os principais bancos, como Itaú, Bradesco, Banco do Brasil, Caixa Econômica e Santander.</div>
			</div>*@
            
		</div>
		<div class="Opcoes">

			<div class="Opcoes1 Opcoes3" style="display: none;">
			<div class="OpcoesImg"><img src="/content/imagens/Pagseguro.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Pagseguro</b><br /><br />Utilizamos o intermediador de pagamentos do UOL para nossos clientes se sentirem mais confortáveis na hora de inserir os dados de cartão de crédito.</div>
			</div>

			<div class="Opcoes2" style="display: none;">
			<div class="OpcoesImg"><img src="/content/imagens/Paypal.png" width="132" height="73" border="0" alt="Icone" /></div>
			<div class="OpcoesTexto"><b>Paypal</b><br /><br />Um dos maiores intermediadores de pagamento do mundo e muito usado para compras internacionais. Caso esteja fora do país é uma boa opção para pagamento.</div>
			</div>
		</div>
@*
		<div class="SiteBlindado">
		<div class="SiteBlindadoSeguranca">SEGURANÇA</div>
		<div class="SiteBlindadoImagem"><img src="/content/imagens/site_blindado4.png" width="140" height="28" border="0" alt="Icone" /></div>
		<div class="SiteBlindadoTexto">Todas os seus dados estão seguros, pois o site Laços Flores utiliza a segurança de criptografia do SITE BLINDADO. Caso tenha qualquer dúvida, <a href="https://selo.siteblindado.com.br/verificar?url=www.lacosflores.com.br" target="_blank">clique aqui</a> e veja como funciona.</div>
		</div>*@

	</div>
    
	<div id="AindaTemDuvida">
     
		@*<div class="Div2Texto4">Procure aqui a cidade que deseja enviar flores:</div>
        
		<div class="DivBusca" style="width:100%;">
           <form method="get" action="@Url.Action("buscar", "local")">
			<div class="DivBusca2"><input type="text" id="local-termo" name="termo" class="DivBuscaInput busca_local" value="Encontre sua cidade" onfocus="if(this.value=='Encontre sua cidade') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre sua cidade'; }" /></div>
			<div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
            </form>
		</div>*@

	</div>
    
</div> 
</div>