﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    ViewBag.Title = " - Contato";
    Layout = "~/Views/Shared/New_Header.cshtml";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    var estados = (IEnumerable<Domain.Entities.Estado>)ViewBag.Estados;
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");

    var returlUrl = String.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "/empresas" : Request.QueryString["returnUrl"];
}
@section Script{    
    <script type="text/javascript"> 
        $(document).ready(function () {
		          
            $('#telefone').mask('(99) 99999999?9');
            $('#telefonecelular').mask('(99) 99999999?9');
            $('#cep').mask('99999-999');
            $('#cnpj').mask('99.999.999/9999-99');
              
            $('#estado').change(function () {
                var estadoID = $(this).val(); 
                var html = '<option value="">-- selecione --</option>';
                $('#cidade').html(html);
                if (estadoID != null) {
                    $.post("/Home/GetCidades", {estadoid : $('#estado').val()}, function (data) {
                        var html = '<option value="">-- selecione --</option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                        }
                        $('#cidade').html(html);
                    });
                }
            });

            var type = 'bt-finalizar';

            $("#form_cadastro").validate({
                meta: "validate",
                invalidHandler: function (n, t) {var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".finalizar").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/Cadastre-se/EnviarNew", formdata, function (data) {
                        if (data.status == "OK") {
                            $("#processando").hide();
                            if(type == "bt-finalizar"){                                        
                                window.location = '@(returlUrl)?sucesso=sim';
                            }else if(type == "bt-pedido"){
                                $('#categorias').bPopup({
                                    onClose: function() { window.location = '/pedidos?sucesso=sim';},
                                    onOpen: $('#lista-categorias').tinycarousel(),
                                    speed: 650,
                                    transition: 'slideIn'
                                }); 
                            }
                        } else {                   
                            $('#mensagem_erro').bPopup({ 
                                speed: 650,
                                transition: 'slideIn'
                            });      
                            $('#mensagem_erro').html(data.mensagem);
                            $(".finalizar").show();
                            $("#processando").hide();    
                        }
                    });
                },
                rules: {
                    razaosocial: "required",
                    nomefantasia: "required",
                    cnpj: {
                        required: true,
                        cnpj: true
                    },
                    cep: "required",
                    estado: "required",
                    cidade: "required",
                    bairro: "required",
                    logradouro: "required",
                    numero: "required",
                    nome: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    telefone: "required", 
                    senha: "required",
                    confirmacaosenha: {
                        required: true,
                        equalTo: "#senha"
                    }
                },
                messages: {
                    razaosocial: "Digite a razão social da empresa",
                    nomefantasia: "Digite o nome fantasia da empresa",
                    cnpj: {
                        required: "Digite o CNPJ",
                        cnpj: "Digite um CNPJ válido"
                    },
                    cep: "Digite seu CEP",
                    estado: "Selecione o estado",
                    cidade: "Selecione a cidade",
                    bairro: "Digite o bairro",
                    logradouro: "Digite o endereço",
                    numero: "Digite o número",
                    nome: "Digite seu nome",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    telefone: "Digite", 
                    senha: "Digite a senha",
                    confirmacaosenha: {
                        required: "Digite a confirmação de senha",
                        equalTo: "A senha e a confirmação de senha devem ser iguais"
                    }
                }
            }); 

            $('.enviar').click(function () {
                $('form#form_cadastro').submit();
               
            });

        });
    </script>
}

<section class="CenteredContainer form tabela2 tabela">
    <h1 id="Atual">Cadastre-se</h1>
    <div id="ShowSignup" style="display: none;">
        <h1>Cadastro Efetuado com sucesso!</h1>
        <hr />
        <p>Tudo certo! Você já pode começar a comprar agora mesmo!</p>
        <span class="internalButton"><a href="#">Ver Categorias de Produtos</a></span>

    </div>

    @using (Html.BeginForm("Index", "Cadastre-se", FormMethod.Post, new { id = "form_cadastro", name = "form_cadastro", enctype = "multipart/form-data", @class = "formulario" }))
    {
        <input type="hidden" id="botao" name="botao" />
        
        <h2>Dados da Empresa</h2>
        <p>Informe seus dados completos. Em caso de dúvidas, entre em contato conosco através de nossa <a href="#">Central de Atendimento</a></p>
        <hr />
        
        <div class="groupMe">
            <label for="razaosocial">Razão Social:</label><br />
            <input type="text" name="razaosocial" id="razaosocial" maxlength="500" placeholder="Digite a Razão Social"  />
        </div>

        <div class="groupMe">
            <label for="nomefantasia">Nome Fantasia:</label><br />
            <input type="text" id="nomefantasia" name="nomefantasia" maxlength="500" placeholder="Digite o Nome Fantasia" />
        </div>
        
        <div class="groupMe">
            <label for="cnpj">CNPJ:</label><br />
            <input type="text" id="cnpj" name="cnpj" maxlength="500" placeholder="Digite o CNPJ" />
        </div>
            
        <div class="groupMe">
            <label for="inscricaoestadual">Inscrição Estadual:</label><br />
            <input type="text" id="inscricaoestadual" name="inscricaoestadual" maxlength="100" placeholder="Digite a Inscrição Estadual" />
        </div>

        <div class="groupMe">
            <label for="inscricaomunicipal">Inscrição Municipal:</label><br />
            <input type="text" id="inscricaomunicipal" name="inscricaomunicipal" maxlength="100" placeholder="Digite a Inscrição Municipal" />
        </div>

        <div class="clear"></div>

        <div class="groupMe">
            <label for="cep">CEP:</label><br />
            <input type="text" id="cep" name="cep" maxlength="50" placeholder="Digite o CEP" /><span id="load_cep" class="processando" style="display:none;">buscando CEP...</span>
        </div>
        
        <div class="groupMe">
            <label for="estado">Estado:</label><br />
            <select id="estado" name="estado">
                <option value="">--</option>
                @foreach (var estado in estados.OrderBy(e => e.Nome))
                {
                    <option value="@estado.ID">@estado.Sigla</option>
                }
            </select>
        </div>
        
        <div class="groupMe">
            <label for="cidade">Cidade:</label><br />
            <select id="cidade" name="cidade"></select>
        </div>

        <div class="groupMe">
            <label for="bairro">Bairro:</label><br />
            <input type="text" id="bairro" name="bairro" maxlength="50" placeholder="Digite o Bairro" />
        </div>

        <div class="clear"></div>

        <div class="groupMe">
            <label for="logradouro">Endereço:</label><br />
            <input type="text" id="logradouro" name="logradouro" maxlength="200" placeholder="Digite o Endereço" />
        </div>

        <div class="groupMe">
            <label for="numero">Número:</label><br />
            <input type="text" id="numero" name="numero" maxlength="50" placeholder="Digite o Número" />
        </div>
                    
        <div class="groupMe">
            <label for="complemento">Complemento:</label><br />
            <input type="text" id="complemento" name="complemento" maxlength="100" placeholder="Digite o Complemento" />
        </div>

        <div class="clear"></div>
        
        <h2>Informações para Contato</h2>
        <hr />
        <div class="clear"></div>
        
        <div class="groupMe">
            <label for="nome">Nome:</label><br />
            <input type="text" id="nome" name="nome" maxlength="200" placeholder="Digite o Nome" />
        </div>

        <div class="clear"></div>

        <div class="groupMe">
            <label for="email">Email:</label><br />
            <input type="text" id="email" name="email" maxlength="200" placeholder="Digite o Email" />
        </div>
                
        <div class="clear"></div>

        <div class="groupMe">
            <label for="telefone">Telefone:</label><br />
            <input type="text" id="telefone" name="telefone" maxlength="50" placeholder="Digite o Telefone" />
        </div>

        <div class="groupMe">
            <label for="telefonecelular">Celular:</label><br />
            <input type="text" id="telefonecelular" name="telefonecelular" maxlength="50" placeholder="Digite o Celular" />
        </div>

        <div class="clear"></div>

        <div class="groupMe">
            <label for="senha">Senha:</label><br />
            <input type="password" id="senha" name="senha" placeholder="Digite sua Senha" />
        </div>

        <div class="clear"></div>

        <div class="groupMe">
            <label for="confirmacaosenha">Confirmação:</label><br />
            <input type="password" id="confirmacaosenha" name="confirmacaosenha" placeholder="Confirme sua Senha" />
        </div>

        <div class="clear"></div>
        
        <div class="groupMe finalizar">
            <input class="btn-cadastro2 enviar" type="button" name="finalizar-Signup" id="bt-finalizar" value="Finalizar Cadastro"  />
        </div>

        <div class="clear"></div>
        
        <div class="groupMe">
            <div class="processando" id="processando" style="display:none;">Enviando...</div>
        </div>
        
        <div class="clear"></div>
        
        <div id="mensagem_erro" style="display:none;background-color:#FFFFFF; padding: 15px 20px;">
            <h2>ATENÇÃO,</h2>
	        <span id="mensagem"></span>
            <br />
            <h3>Entre em contato pelo telefone @(String.IsNullOrEmpty(ViewBag.Televendas) ? configuracoes.Televendas : ViewBag.Televendas) e faça seu pedido ou acesse com seu usuário e senha clicando <a href="/login">aqui</a>.</h3>
        </div>
    }       
</section>