﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Segurança";
    ViewBag.description = "Garantimos a segurança da sua compra, conheça nossas práticas adotadas. Conheça o site Coroas Para Velório. Confira Aqui!";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Segurança</b></span> </div>
</div>
</div> 

<div id="Seguranca">
<div class="Div">

	<h1 class="TituloPagina">Segurança</h1>

	<div class="Texto1">
	Dentro da missão do site Coroas Para Velório está inclusa a questão de segurança no momento de efetuar a compra online de coroa de flores.<br /><br />
	Desta forma, nossa empresa adotou algumas práticas importantes:
	</div>

	<div class="Listagem">
		<div class="Foto">
        <div class="div_imagem"><div id="armored_website_02" style="border-style: none;position: relative;margin: auto;">
            <param id="aw_preload" value="true" />
        </div>
        <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
        </div></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Selo de Site Blindado</div>
		</div>
	</div>

	<div class="Listagem">
		<div class="Foto"><img src="@Url.Content("~/Content/img/ico-serasa.png")" alt="Serasa Experian" title="Serasa Experian" /></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Certificado Digital Serasa Experian</div>
		</div>
	</div>

	<div class="Listagem">
		<div class="Foto"><img src="@Url.Content("~/Content/img/ico-pagseguro.png")" alt="PagSeguro" title="PagSeguro" /></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Pagamento via Pagseguro</div>
		</div>
	</div>

	<div class="Listagem">
		<div class="Foto"><img src="@Url.Content("~/Content/img/ico-paypal.png")" alt="paypal" title="paypal" /></div>
		<div class="DivTextos">
			<div class="Titulo"></div>
			<div class="Texto">Pagamento via PayPal</div>
		</div>
	</div>

	<div class="Texto2">
	Caso tenha qualquer dúvida em qualquer com relação a nossa Política de Segurança, por favor entre em contato através do nosso Chat  ou nossa Central de Atendimento:<br />
	@configuracoes.SAC (24h por dia).<br />
	<b>Atendimento online (chat)</b><br /><br />

	Estamos a sua disposição<br />
	Equipe Coroas Para Velório<br />
	www.coroasparavelorio.com.br<br />
	</div>
     
@Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
<div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
<div class="Separacao2"></div>
</div>
</div>
}