.mws-ic-16.ic-accept{background-image:url(16/accept.png);}
.mws-ic-16.ic-add{background-image:url(16/add.png);}
.mws-ic-16.ic-alarm{background-image:url(16/alarm.png);}
.mws-ic-16.ic-anchor{background-image:url(16/anchor.png);}
.mws-ic-16.ic-application{background-image:url(16/application.png);}
.mws-ic-16.ic-application2{background-image:url(16/application2.png);}
.mws-ic-16.ic-application-add{background-image:url(16/application_add.png);}
.mws-ic-16.ic-application-cascade{background-image:url(16/application_cascade.png);}
.mws-ic-16.ic-application-delete{background-image:url(16/application_delete.png);}
.mws-ic-16.ic-application-double{background-image:url(16/application_double.png);}
.mws-ic-16.ic-application-edit{background-image:url(16/application_edit.png);}
.mws-ic-16.ic-application-error{background-image:url(16/application_error.png);}
.mws-ic-16.ic-application-form{background-image:url(16/application_form.png);}
.mws-ic-16.ic-application-get{background-image:url(16/application_get.png);}
.mws-ic-16.ic-application-go{background-image:url(16/application_go.png);}
.mws-ic-16.ic-application-home{background-image:url(16/application_home.png);}
.mws-ic-16.ic-application-key{background-image:url(16/application_key.png);}
.mws-ic-16.ic-application-lightning{background-image:url(16/application_lightning.png);}
.mws-ic-16.ic-application-link{background-image:url(16/application_link.png);}
.mws-ic-16.ic-application-osx{background-image:url(16/application_osx.png);}
.mws-ic-16.ic-application-osx-terminal{background-image:url(16/application_osx_terminal.png);}
.mws-ic-16.ic-application-put{background-image:url(16/application_put.png);}
.mws-ic-16.ic-application-side-boxes{background-image:url(16/application_side_boxes.png);}
.mws-ic-16.ic-application-side-contract{background-image:url(16/application_side_contract.png);}
.mws-ic-16.ic-application-side-expand{background-image:url(16/application_side_expand.png);}
.mws-ic-16.ic-application-side-list{background-image:url(16/application_side_list.png);}
.mws-ic-16.ic-application-side-tree{background-image:url(16/application_side_tree.png);}
.mws-ic-16.ic-application-split{background-image:url(16/application_split.png);}
.mws-ic-16.ic-application-tile-horizontal{background-image:url(16/application_tile_horizontal.png);}
.mws-ic-16.ic-application-tile-vertical{background-image:url(16/application_tile_vertical.png);}
.mws-ic-16.ic-application-view-columns{background-image:url(16/application_view_columns.png);}
.mws-ic-16.ic-application-view-detail{background-image:url(16/application_view_detail.png);}
.mws-ic-16.ic-application-view-gallery{background-image:url(16/application_view_gallery.png);}
.mws-ic-16.ic-application-view-icons{background-image:url(16/application_view_icons.png);}
.mws-ic-16.ic-application-view-list{background-image:url(16/application_view_list.png);}
.mws-ic-16.ic-application-view-tile{background-image:url(16/application_view_tile.png);}
.mws-ic-16.ic-application-view-xp{background-image:url(16/application_view_xp.png);}
.mws-ic-16.ic-application-view-xp-terminal{background-image:url(16/application_view_xp_terminal.png);}
.mws-ic-16.ic-arrow-branch{background-image:url(16/arrow_branch.png);}
.mws-ic-16.ic-arrow-divide{background-image:url(16/arrow_divide.png);}
.mws-ic-16.ic-arrow-in{background-image:url(16/arrow_in.png);}
.mws-ic-16.ic-arrow-inout{background-image:url(16/arrow_inout.png);}
.mws-ic-16.ic-arrow-join{background-image:url(16/arrow_join.png);}
.mws-ic-16.ic-arrow-left{background-image:url(16/arrow_left.png);}
.mws-ic-16.ic-arrow-merge{background-image:url(16/arrow_merge.png);}
.mws-ic-16.ic-arrow-out{background-image:url(16/arrow_out.png);}
.mws-ic-16.ic-arrow-redo{background-image:url(16/arrow_redo.png);}
.mws-ic-16.ic-arrow-refresh{background-image:url(16/arrow_refresh.png);}
.mws-ic-16.ic-arrow-right{background-image:url(16/arrow_right.png);}
.mws-ic-16.ic-arrow-undo{background-image:url(16/arrow_undo.png);}
.mws-ic-16.ic-asterisk-orange{background-image:url(16/asterisk_orange.png);}
.mws-ic-16.ic-attach{background-image:url(16/attach.png);}
.mws-ic-16.ic-attach-2{background-image:url(16/attach_2.png);}
.mws-ic-16.ic-award-star-gold{background-image:url(16/award_star_gold.png);}
.mws-ic-16.ic-bandaid{background-image:url(16/bandaid.png);}
.mws-ic-16.ic-basket{background-image:url(16/basket.png);}
.mws-ic-16.ic-bell{background-image:url(16/bell.png);}
.mws-ic-16.ic-bin-closed{background-image:url(16/bin_closed.png);}
.mws-ic-16.ic-blog{background-image:url(16/blog.png);}
.mws-ic-16.ic-blueprint{background-image:url(16/blueprint.png);}
.mws-ic-16.ic-blueprint-horizontal{background-image:url(16/blueprint_horizontal.png);}
.mws-ic-16.ic-bluetooth{background-image:url(16/bluetooth.png);}
.mws-ic-16.ic-bomb{background-image:url(16/bomb.png);}
.mws-ic-16.ic-book{background-image:url(16/book.png);}
.mws-ic-16.ic-bookmark{background-image:url(16/bookmark.png);}
.mws-ic-16.ic-bookmark-book{background-image:url(16/bookmark_book.png);}
.mws-ic-16.ic-bookmark-book-open{background-image:url(16/bookmark_book_open.png);}
.mws-ic-16.ic-bookmark-document{background-image:url(16/bookmark_document.png);}
.mws-ic-16.ic-bookmark-folder{background-image:url(16/bookmark_folder.png);}
.mws-ic-16.ic-books{background-image:url(16/books.png);}
.mws-ic-16.ic-book-addresses{background-image:url(16/book_addresses.png);}
.mws-ic-16.ic-book-next{background-image:url(16/book_next.png);}
.mws-ic-16.ic-book-open{background-image:url(16/book_open.png);}
.mws-ic-16.ic-book-previous{background-image:url(16/book_previous.png);}
.mws-ic-16.ic-box{background-image:url(16/box.png);}
.mws-ic-16.ic-brick{background-image:url(16/brick.png);}
.mws-ic-16.ic-bricks{background-image:url(16/bricks.png);}
.mws-ic-16.ic-briefcase{background-image:url(16/briefcase.png);}
.mws-ic-16.ic-bug{background-image:url(16/bug.png);}
.mws-ic-16.ic-buildings{background-image:url(16/buildings.png);}
.mws-ic-16.ic-bullet-add-1{background-image:url(16/bullet_add_1.png);}
.mws-ic-16.ic-bullet-add-2{background-image:url(16/bullet_add_2.png);}
.mws-ic-16.ic-bullet-key{background-image:url(16/bullet_key.png);}
.mws-ic-16.ic-cake{background-image:url(16/cake.png);}
.mws-ic-16.ic-calculator{background-image:url(16/calculator.png);}
.mws-ic-16.ic-calendar-1{background-image:url(16/calendar_1.png);}
.mws-ic-16.ic-calendar-2{background-image:url(16/calendar_2.png);}
.mws-ic-16.ic-camera{background-image:url(16/camera.png);}
.mws-ic-16.ic-cancel{background-image:url(16/cancel.png);}
.mws-ic-16.ic-car{background-image:url(16/car.png);}
.mws-ic-16.ic-cart{background-image:url(16/cart.png);}
.mws-ic-16.ic-cd{background-image:url(16/cd.png);}
.mws-ic-16.ic-change-password{background-image:url(16/change_password.png);}
.mws-ic-16.ic-chart-bar{background-image:url(16/chart_bar.png);}
.mws-ic-16.ic-chart-curve{background-image:url(16/chart_curve.png);}
.mws-ic-16.ic-chart-line{background-image:url(16/chart_line.png);}
.mws-ic-16.ic-chart-organisation{background-image:url(16/chart_organisation.png);}
.mws-ic-16.ic-chart-pie{background-image:url(16/chart_pie.png);}
.mws-ic-16.ic-clipboard-paste-image{background-image:url(16/clipboard_paste_image.png);}
.mws-ic-16.ic-clipboard-sign{background-image:url(16/clipboard_sign.png);}
.mws-ic-16.ic-clipboard-text{background-image:url(16/clipboard_text.png);}
.mws-ic-16.ic-clock{background-image:url(16/clock.png);}
.mws-ic-16.ic-cog{background-image:url(16/cog.png);}
.mws-ic-16.ic-coins{background-image:url(16/coins.png);}
.mws-ic-16.ic-color-swatch-1{background-image:url(16/color_swatch_1.png);}
.mws-ic-16.ic-color-swatch-2{background-image:url(16/color_swatch_2.png);}
.mws-ic-16.ic-comment{background-image:url(16/comment.png);}
.mws-ic-16.ic-compass{background-image:url(16/compass.png);}
.mws-ic-16.ic-compress{background-image:url(16/compress.png);}
.mws-ic-16.ic-computer{background-image:url(16/computer.png);}
.mws-ic-16.ic-connect{background-image:url(16/connect.png);}
.mws-ic-16.ic-contrast{background-image:url(16/contrast.png);}
.mws-ic-16.ic-control-eject{background-image:url(16/control_eject.png);}
.mws-ic-16.ic-control-end{background-image:url(16/control_end.png);}
.mws-ic-16.ic-control-equalizer{background-image:url(16/control_equalizer.png);}
.mws-ic-16.ic-control-fastforward{background-image:url(16/control_fastforward.png);}
.mws-ic-16.ic-control-pause{background-image:url(16/control_pause.png);}
.mws-ic-16.ic-control-play{background-image:url(16/control_play.png);}
.mws-ic-16.ic-control-repeat{background-image:url(16/control_repeat.png);}
.mws-ic-16.ic-control-rewind{background-image:url(16/control_rewind.png);}
.mws-ic-16.ic-control-start{background-image:url(16/control_start.png);}
.mws-ic-16.ic-control-stop{background-image:url(16/control_stop.png);}
.mws-ic-16.ic-control-wheel{background-image:url(16/control_wheel.png);}
.mws-ic-16.ic-counter{background-image:url(16/counter.png);}
.mws-ic-16.ic-counter-count{background-image:url(16/counter_count.png);}
.mws-ic-16.ic-counter-count-up{background-image:url(16/counter_count_up.png);}
.mws-ic-16.ic-counter-reset{background-image:url(16/counter_reset.png);}
.mws-ic-16.ic-counter-stop{background-image:url(16/counter_stop.png);}
.mws-ic-16.ic-cross{background-image:url(16/cross.png);}
.mws-ic-16.ic-cross-octagon{background-image:url(16/cross_octagon.png);}
.mws-ic-16.ic-cross-octagon-fram{background-image:url(16/cross_octagon_fram.png);}
.mws-ic-16.ic-cross-shield{background-image:url(16/cross_shield.png);}
.mws-ic-16.ic-cross-shield-2{background-image:url(16/cross_shield_2.png);}
.mws-ic-16.ic-crown{background-image:url(16/crown.png);}
.mws-ic-16.ic-crown-bronze{background-image:url(16/crown_bronze.png);}
.mws-ic-16.ic-crown-silver{background-image:url(16/crown_silver.png);}
.mws-ic-16.ic-css{background-image:url(16/css.png);}
.mws-ic-16.ic-cursor{background-image:url(16/cursor.png);}
.mws-ic-16.ic-cut{background-image:url(16/cut.png);}
.mws-ic-16.ic-dashboard{background-image:url(16/dashboard.png);}
.mws-ic-16.ic-data{background-image:url(16/data.png);}
.mws-ic-16.ic-database{background-image:url(16/database.png);}
.mws-ic-16.ic-databases{background-image:url(16/databases.png);}
.mws-ic-16.ic-delete{background-image:url(16/delete.png);}
.mws-ic-16.ic-deliver{background-image:url(16/deliver.png);}
.mws-ic-16.ic-delivery{background-image:url(16/delivery.png);}
.mws-ic-16.ic-delivery-schedule{background-image:url(16/delivery_schedule.png);}
.mws-ic-16.ic-desktop{background-image:url(16/desktop.png);}
.mws-ic-16.ic-desktop-empty{background-image:url(16/desktop_empty.png);}
.mws-ic-16.ic-direction{background-image:url(16/direction.png);}
.mws-ic-16.ic-disconnect{background-image:url(16/disconnect.png);}
.mws-ic-16.ic-disk{background-image:url(16/disk.png);}
.mws-ic-16.ic-doc-access{background-image:url(16/doc_access.png);}
.mws-ic-16.ic-doc-break{background-image:url(16/doc_break.png);}
.mws-ic-16.ic-doc-convert{background-image:url(16/doc_convert.png);}
.mws-ic-16.ic-doc-excel-csv{background-image:url(16/doc_excel_csv.png);}
.mws-ic-16.ic-doc-excel-table{background-image:url(16/doc_excel_table.png);}
.mws-ic-16.ic-doc-film{background-image:url(16/doc_film.png);}
.mws-ic-16.ic-doc-illustrator{background-image:url(16/doc_illustrator.png);}
.mws-ic-16.ic-doc-music{background-image:url(16/doc_music.png);}
.mws-ic-16.ic-doc-music-playlist{background-image:url(16/doc_music_playlist.png);}
.mws-ic-16.ic-doc-offlice{background-image:url(16/doc_offlice.png);}
.mws-ic-16.ic-doc-page{background-image:url(16/doc_page.png);}
.mws-ic-16.ic-doc-page-previous{background-image:url(16/doc_page_previous.png);}
.mws-ic-16.ic-doc-pdf{background-image:url(16/doc_pdf.png);}
.mws-ic-16.ic-doc-photoshop{background-image:url(16/doc_photoshop.png);}
.mws-ic-16.ic-doc-resize{background-image:url(16/doc_resize.png);}
.mws-ic-16.ic-doc-resize-actual{background-image:url(16/doc_resize_actual.png);}
.mws-ic-16.ic-doc-shred{background-image:url(16/doc_shred.png);}
.mws-ic-16.ic-doc-stand{background-image:url(16/doc_stand.png);}
.mws-ic-16.ic-doc-table{background-image:url(16/doc_table.png);}
.mws-ic-16.ic-doc-tag{background-image:url(16/doc_tag.png);}
.mws-ic-16.ic-doc-text-image{background-image:url(16/doc_text_image.png);}
.mws-ic-16.ic-door{background-image:url(16/door.png);}
.mws-ic-16.ic-door-in{background-image:url(16/door_in.png);}
.mws-ic-16.ic-drawer{background-image:url(16/drawer.png);}
.mws-ic-16.ic-drink{background-image:url(16/drink.png);}
.mws-ic-16.ic-drink-empty{background-image:url(16/drink_empty.png);}
.mws-ic-16.ic-drive{background-image:url(16/drive.png);}
.mws-ic-16.ic-drive-burn{background-image:url(16/drive_burn.png);}
.mws-ic-16.ic-drive-cd{background-image:url(16/drive_cd.png);}
.mws-ic-16.ic-drive-cd-empty{background-image:url(16/drive_cd_empty.png);}
.mws-ic-16.ic-drive-delete{background-image:url(16/drive_delete.png);}
.mws-ic-16.ic-drive-disk{background-image:url(16/drive_disk.png);}
.mws-ic-16.ic-drive-error{background-image:url(16/drive_error.png);}
.mws-ic-16.ic-drive-go{background-image:url(16/drive_go.png);}
.mws-ic-16.ic-drive-link{background-image:url(16/drive_link.png);}
.mws-ic-16.ic-drive-network{background-image:url(16/drive_network.png);}
.mws-ic-16.ic-drive-rename{background-image:url(16/drive_rename.png);}
.mws-ic-16.ic-dvd{background-image:url(16/dvd.png);}
.mws-ic-16.ic-edit{background-image:url(16/edit.png);}
.mws-ic-16.ic-editar{background-image:url(16/edit.png);}
.mws-ic-16.ic-email{background-image:url(16/email.png);}
.mws-ic-16.ic-email-open{background-image:url(16/email_open.png);}
.mws-ic-16.ic-email-open-image{background-image:url(16/email_open_image.png);}
.mws-ic-16.ic-emoticon-evilgrin{background-image:url(16/emoticon_evilgrin.png);}
.mws-ic-16.ic-emoticon-grin{background-image:url(16/emoticon_grin.png);}
.mws-ic-16.ic-emoticon-happy{background-image:url(16/emoticon_happy.png);}
.mws-ic-16.ic-emoticon-smile{background-image:url(16/emoticon_smile.png);}
.mws-ic-16.ic-emoticon-surprised{background-image:url(16/emoticon_surprised.png);}
.mws-ic-16.ic-emoticon-tongue{background-image:url(16/emoticon_tongue.png);}
.mws-ic-16.ic-emoticon-unhappy{background-image:url(16/emoticon_unhappy.png);}
.mws-ic-16.ic-emoticon-waii{background-image:url(16/emoticon_waii.png);}
.mws-ic-16.ic-emoticon-wink{background-image:url(16/emoticon_wink.png);}
.mws-ic-16.ic-envelope{background-image:url(16/envelope.png);}
.mws-ic-16.ic-envelope-2{background-image:url(16/envelope_2.png);}
.mws-ic-16.ic-error{background-image:url(16/error.png);}
.mws-ic-16.ic-exclamation{background-image:url(16/exclamation.png);}
.mws-ic-16.ic-exclamation-octagon-fram{background-image:url(16/exclamation_octagon_fram.png);}
.mws-ic-16.ic-eye{background-image:url(16/eye.png);}
.mws-ic-16.ic-feed{background-image:url(16/feed.png);}
.mws-ic-16.ic-feed-ballon{background-image:url(16/feed_ballon.png);}
.mws-ic-16.ic-feed-document{background-image:url(16/feed_document.png);}
.mws-ic-16.ic-female{background-image:url(16/female.png);}
.mws-ic-16.ic-film{background-image:url(16/film.png);}
.mws-ic-16.ic-films{background-image:url(16/films.png);}
.mws-ic-16.ic-find{background-image:url(16/find.png);}
.mws-ic-16.ic-flag-blue{background-image:url(16/flag_blue.png);}
.mws-ic-16.ic-folder{background-image:url(16/folder.png);}
.mws-ic-16.ic-font{background-image:url(16/font.png);}
.mws-ic-16.ic-funnel{background-image:url(16/funnel.png);}
.mws-ic-16.ic-grid{background-image:url(16/grid.png);}
.mws-ic-16.ic-grid-dot{background-image:url(16/grid_dot.png);}
.mws-ic-16.ic-group{background-image:url(16/group.png);}
.mws-ic-16.ic-hammer{background-image:url(16/hammer.png);}
.mws-ic-16.ic-hammer-screwdriver{background-image:url(16/hammer_screwdriver.png);}
.mws-ic-16.ic-hand{background-image:url(16/hand.png);}
.mws-ic-16.ic-hand-point{background-image:url(16/hand_point.png);}
.mws-ic-16.ic-heart{background-image:url(16/heart.png);}
.mws-ic-16.ic-heart-break{background-image:url(16/heart_break.png);}
.mws-ic-16.ic-heart-empty{background-image:url(16/heart_empty.png);}
.mws-ic-16.ic-heart-half{background-image:url(16/heart_half.png);}
.mws-ic-16.ic-heart-small{background-image:url(16/heart_small.png);}
.mws-ic-16.ic-help{background-image:url(16/help.png);}
.mws-ic-16.ic-highlighter{background-image:url(16/highlighter.png);}
.mws-ic-16.ic-house{background-image:url(16/house.png);}
.mws-ic-16.ic-html{background-image:url(16/html.png);}
.mws-ic-16.ic-images{background-image:url(16/images.png);}
.mws-ic-16.ic-image-1{background-image:url(16/image_1.png);}
.mws-ic-16.ic-image-2{background-image:url(16/image_2.png);}
.mws-ic-16.ic-inbox{background-image:url(16/inbox.png);}
.mws-ic-16.ic-invoice{background-image:url(16/invoice.png);}
.mws-ic-16.ic-ipod{background-image:url(16/ipod.png);}
.mws-ic-16.ic-ipod-cast{background-image:url(16/ipod_cast.png);}
.mws-ic-16.ic-joystick{background-image:url(16/joystick.png);}
.mws-ic-16.ic-key{background-image:url(16/key.png);}
.mws-ic-16.ic-keyboard{background-image:url(16/keyboard.png);}
.mws-ic-16.ic-layers{background-image:url(16/layers.png);}
.mws-ic-16.ic-layer-treansparent{background-image:url(16/layer_treansparent.png);}
.mws-ic-16.ic-layout{background-image:url(16/layout.png);}
.mws-ic-16.ic-layout-header-footer-3{background-image:url(16/layout_header_footer_3.png);}
.mws-ic-16.ic-layout-header-footer-3-mix{background-image:url(16/layout_header_footer_3_mix.png);}
.mws-ic-16.ic-layout-join{background-image:url(16/layout_join.png);}
.mws-ic-16.ic-layout-join-vertical{background-image:url(16/layout_join_vertical.png);}
.mws-ic-16.ic-layout-select{background-image:url(16/layout_select.png);}
.mws-ic-16.ic-layout-select-content{background-image:url(16/layout_select_content.png);}
.mws-ic-16.ic-layout-select-footer{background-image:url(16/layout_select_footer.png);}
.mws-ic-16.ic-layout-select-sidebar{background-image:url(16/layout_select_sidebar.png);}
.mws-ic-16.ic-layout-split{background-image:url(16/layout_split.png);}
.mws-ic-16.ic-layout-split-vertical{background-image:url(16/layout_split_vertical.png);}
.mws-ic-16.ic-lifebuoy{background-image:url(16/lifebuoy.png);}
.mws-ic-16.ic-lightbulb{background-image:url(16/lightbulb.png);}
.mws-ic-16.ic-lightbulb-off{background-image:url(16/lightbulb_off.png);}
.mws-ic-16.ic-lightning{background-image:url(16/lightning.png);}
.mws-ic-16.ic-link{background-image:url(16/link.png);}
.mws-ic-16.ic-link-break{background-image:url(16/link_break.png);}
.mws-ic-16.ic-lock{background-image:url(16/lock.png);}
.mws-ic-16.ic-lock-unlock{background-image:url(16/lock_unlock.png);}
.mws-ic-16.ic-magnet{background-image:url(16/magnet.png);}
.mws-ic-16.ic-magnifier{background-image:url(16/magnifier.png);}
.mws-ic-16.ic-magnifier-zoom-in{background-image:url(16/magnifier_zoom_in.png);}
.mws-ic-16.ic-male{background-image:url(16/male.png);}
.mws-ic-16.ic-map{background-image:url(16/map.png);}
.mws-ic-16.ic-marker{background-image:url(16/marker.png);}
.mws-ic-16.ic-medal-bronze-1{background-image:url(16/medal_bronze_1.png);}
.mws-ic-16.ic-medal-gold-1{background-image:url(16/medal_gold_1.png);}
.mws-ic-16.ic-media-player-small-blue{background-image:url(16/media_player_small_blue.png);}
.mws-ic-16.ic-microphone{background-image:url(16/microphone.png);}
.mws-ic-16.ic-mobile-phone{background-image:url(16/mobile_phone.png);}
.mws-ic-16.ic-money{background-image:url(16/money.png);}
.mws-ic-16.ic-money-dollar{background-image:url(16/money_dollar.png);}
.mws-ic-16.ic-money-euro{background-image:url(16/money_euro.png);}
.mws-ic-16.ic-money-pound{background-image:url(16/money_pound.png);}
.mws-ic-16.ic-money-yen{background-image:url(16/money_yen.png);}
.mws-ic-16.ic-monitor{background-image:url(16/monitor.png);}
.mws-ic-16.ic-mouse{background-image:url(16/mouse.png);}
.mws-ic-16.ic-music{background-image:url(16/music.png);}
.mws-ic-16.ic-music-beam{background-image:url(16/music_beam.png);}
.mws-ic-16.ic-neutral{background-image:url(16/neutral.png);}
.mws-ic-16.ic-new{background-image:url(16/new.png);}
.mws-ic-16.ic-newspaper{background-image:url(16/newspaper.png);}
.mws-ic-16.ic-note{background-image:url(16/note.png);}
.mws-ic-16.ic-nuclear{background-image:url(16/nuclear.png);}
.mws-ic-16.ic-package{background-image:url(16/package.png);}
.mws-ic-16.ic-page{background-image:url(16/page.png);}
.mws-ic-16.ic-page-2{background-image:url(16/page_2.png);}
.mws-ic-16.ic-page-2-copy{background-image:url(16/page_2_copy.png);}
.mws-ic-16.ic-page-code{background-image:url(16/page_code.png);}
.mws-ic-16.ic-page-copy{background-image:url(16/page_copy.png);}
.mws-ic-16.ic-page-excel{background-image:url(16/page_excel.png);}
.mws-ic-16.ic-page-lightning{background-image:url(16/page_lightning.png);}
.mws-ic-16.ic-page-paste{background-image:url(16/page_paste.png);}
.mws-ic-16.ic-page-red{background-image:url(16/page_red.png);}
.mws-ic-16.ic-page-refresh{background-image:url(16/page_refresh.png);}
.mws-ic-16.ic-page-save{background-image:url(16/page_save.png);}
.mws-ic-16.ic-page-white-cplusplus{background-image:url(16/page_white_cplusplus.png);}
.mws-ic-16.ic-page-white-csharp{background-image:url(16/page_white_csharp.png);}
.mws-ic-16.ic-page-white-cup{background-image:url(16/page_white_cup.png);}
.mws-ic-16.ic-page-white-database{background-image:url(16/page_white_database.png);}
.mws-ic-16.ic-page-white-delete{background-image:url(16/page_white_delete.png);}
.mws-ic-16.ic-page-white-dvd{background-image:url(16/page_white_dvd.png);}
.mws-ic-16.ic-page-white-edit{background-image:url(16/page_white_edit.png);}
.mws-ic-16.ic-page-white-error{background-image:url(16/page_white_error.png);}
.mws-ic-16.ic-page-white-excel{background-image:url(16/page_white_excel.png);}
.mws-ic-16.ic-page-white-find{background-image:url(16/page_white_find.png);}
.mws-ic-16.ic-page-white-flash{background-image:url(16/page_white_flash.png);}
.mws-ic-16.ic-page-white-freehand{background-image:url(16/page_white_freehand.png);}
.mws-ic-16.ic-page-white-gear{background-image:url(16/page_white_gear.png);}
.mws-ic-16.ic-page-white-get{background-image:url(16/page_white_get.png);}
.mws-ic-16.ic-page-white-paintbrush{background-image:url(16/page_white_paintbrush.png);}
.mws-ic-16.ic-page-white-paste{background-image:url(16/page_white_paste.png);}
.mws-ic-16.ic-page-white-php{background-image:url(16/page_white_php.png);}
.mws-ic-16.ic-page-white-picture{background-image:url(16/page_white_picture.png);}
.mws-ic-16.ic-page-white-powerpoint{background-image:url(16/page_white_powerpoint.png);}
.mws-ic-16.ic-page-white-put{background-image:url(16/page_white_put.png);}
.mws-ic-16.ic-page-white-ruby{background-image:url(16/page_white_ruby.png);}
.mws-ic-16.ic-page-white-stack{background-image:url(16/page_white_stack.png);}
.mws-ic-16.ic-page-white-star{background-image:url(16/page_white_star.png);}
.mws-ic-16.ic-page-white-swoosh{background-image:url(16/page_white_swoosh.png);}
.mws-ic-16.ic-page-white-text{background-image:url(16/page_white_text.png);}
.mws-ic-16.ic-page-white-text-width{background-image:url(16/page_white_text_width.png);}
.mws-ic-16.ic-page-white-tux{background-image:url(16/page_white_tux.png);}
.mws-ic-16.ic-page-white-vector{background-image:url(16/page_white_vector.png);}
.mws-ic-16.ic-page-white-visualstudio{background-image:url(16/page_white_visualstudio.png);}
.mws-ic-16.ic-page-white-width{background-image:url(16/page_white_width.png);}
.mws-ic-16.ic-page-white-word{background-image:url(16/page_white_word.png);}
.mws-ic-16.ic-page-white-world{background-image:url(16/page_white_world.png);}
.mws-ic-16.ic-page-white-wrench{background-image:url(16/page_white_wrench.png);}
.mws-ic-16.ic-page-white-zip{background-image:url(16/page_white_zip.png);}
.mws-ic-16.ic-paintbrush{background-image:url(16/paintbrush.png);}
.mws-ic-16.ic-paintcan{background-image:url(16/paintcan.png);}
.mws-ic-16.ic-palette{background-image:url(16/palette.png);}
.mws-ic-16.ic-paper-bag{background-image:url(16/paper_bag.png);}
.mws-ic-16.ic-paste-plain{background-image:url(16/paste_plain.png);}
.mws-ic-16.ic-paste-word{background-image:url(16/paste_word.png);}
.mws-ic-16.ic-pencil{background-image:url(16/pencil.png);}
.mws-ic-16.ic-photo{background-image:url(16/photo.png);}
.mws-ic-16.ic-photos{background-image:url(16/photos.png);}
.mws-ic-16.ic-photo-album{background-image:url(16/photo_album.png);}
.mws-ic-16.ic-piano{background-image:url(16/piano.png);}
.mws-ic-16.ic-picture{background-image:url(16/picture.png);}
.mws-ic-16.ic-pilcrow{background-image:url(16/pilcrow.png);}
.mws-ic-16.ic-pill{background-image:url(16/pill.png);}
.mws-ic-16.ic-pin{background-image:url(16/pin.png);}
.mws-ic-16.ic-pipette{background-image:url(16/pipette.png);}
.mws-ic-16.ic-plaing-card{background-image:url(16/plaing_card.png);}
.mws-ic-16.ic-plug{background-image:url(16/plug.png);}
.mws-ic-16.ic-plugin{background-image:url(16/plugin.png);}
.mws-ic-16.ic-printer{background-image:url(16/printer.png);}
.mws-ic-16.ic-projection-screen{background-image:url(16/projection_screen.png);}
.mws-ic-16.ic-projection-screen-present{background-image:url(16/projection_screen_present.png);}
.mws-ic-16.ic-rainbow{background-image:url(16/rainbow.png);}
.mws-ic-16.ic-report{background-image:url(16/report.png);}
.mws-ic-16.ic-rocket{background-image:url(16/rocket.png);}
.mws-ic-16.ic-rosette{background-image:url(16/rosette.png);}
.mws-ic-16.ic-rss{background-image:url(16/rss.png);}
.mws-ic-16.ic-ruby{background-image:url(16/ruby.png);}
.mws-ic-16.ic-ruler-1{background-image:url(16/ruler_1.png);}
.mws-ic-16.ic-ruler-2{background-image:url(16/ruler_2.png);}
.mws-ic-16.ic-ruler-crop{background-image:url(16/ruler_crop.png);}
.mws-ic-16.ic-ruler-triangle{background-image:url(16/ruler_triangle.png);}
.mws-ic-16.ic-safe{background-image:url(16/safe.png);}
.mws-ic-16.ic-script{background-image:url(16/script.png);}
.mws-ic-16.ic-selection{background-image:url(16/selection.png);}
.mws-ic-16.ic-selection-select{background-image:url(16/selection_select.png);}
.mws-ic-16.ic-server{background-image:url(16/server.png);}
.mws-ic-16.ic-shading{background-image:url(16/shading.png);}
.mws-ic-16.ic-shape-aling-bottom{background-image:url(16/shape_aling_bottom.png);}
.mws-ic-16.ic-shape-aling-center{background-image:url(16/shape_aling_center.png);}
.mws-ic-16.ic-shape-aling-left{background-image:url(16/shape_aling_left.png);}
.mws-ic-16.ic-shape-aling-middle{background-image:url(16/shape_aling_middle.png);}
.mws-ic-16.ic-shape-aling-right{background-image:url(16/shape_aling_right.png);}
.mws-ic-16.ic-shape-aling-top{background-image:url(16/shape_aling_top.png);}
.mws-ic-16.ic-shape-flip-horizontal{background-image:url(16/shape_flip_horizontal.png);}
.mws-ic-16.ic-shape-flip-vertical{background-image:url(16/shape_flip_vertical.png);}
.mws-ic-16.ic-shape-group{background-image:url(16/shape_group.png);}
.mws-ic-16.ic-shape-handles{background-image:url(16/shape_handles.png);}
.mws-ic-16.ic-shape-move-back{background-image:url(16/shape_move_back.png);}
.mws-ic-16.ic-shape-move-backwards{background-image:url(16/shape_move_backwards.png);}
.mws-ic-16.ic-shape-move-forwards{background-image:url(16/shape_move_forwards.png);}
.mws-ic-16.ic-shape-move-front{background-image:url(16/shape_move_front.png);}
.mws-ic-16.ic-shape-square{background-image:url(16/shape_square.png);}
.mws-ic-16.ic-shield{background-image:url(16/shield.png);}
.mws-ic-16.ic-sitemap{background-image:url(16/sitemap.png);}
.mws-ic-16.ic-slide{background-image:url(16/slide.png);}
.mws-ic-16.ic-slides{background-image:url(16/slides.png);}
.mws-ic-16.ic-slides-stack{background-image:url(16/slides_stack.png);}
.mws-ic-16.ic-smiley-confuse{background-image:url(16/smiley_confuse.png);}
.mws-ic-16.ic-smiley-cool{background-image:url(16/smiley_cool.png);}
.mws-ic-16.ic-smiley-cry{background-image:url(16/smiley_cry.png);}
.mws-ic-16.ic-smiley-fat{background-image:url(16/smiley_fat.png);}
.mws-ic-16.ic-smiley-mad{background-image:url(16/smiley_mad.png);}
.mws-ic-16.ic-smiley-red{background-image:url(16/smiley_red.png);}
.mws-ic-16.ic-smiley-roll{background-image:url(16/smiley_roll.png);}
.mws-ic-16.ic-smiley-slim{background-image:url(16/smiley_slim.png);}
.mws-ic-16.ic-smiley-yell{background-image:url(16/smiley_yell.png);}
.mws-ic-16.ic-socket{background-image:url(16/socket.png);}
.mws-ic-16.ic-sockets{background-image:url(16/sockets.png);}
.mws-ic-16.ic-sort{background-image:url(16/sort.png);}
.mws-ic-16.ic-sort-alphabet{background-image:url(16/sort_alphabet.png);}
.mws-ic-16.ic-sort-date{background-image:url(16/sort_date.png);}
.mws-ic-16.ic-sort-disable{background-image:url(16/sort_disable.png);}
.mws-ic-16.ic-sort-number{background-image:url(16/sort_number.png);}
.mws-ic-16.ic-sort-price{background-image:url(16/sort_price.png);}
.mws-ic-16.ic-sort-quantity{background-image:url(16/sort_quantity.png);}
.mws-ic-16.ic-sort-rating{background-image:url(16/sort_rating.png);}
.mws-ic-16.ic-sound{background-image:url(16/sound.png);}
.mws-ic-16.ic-sound-note{background-image:url(16/sound_note.png);}
.mws-ic-16.ic-spellcheck{background-image:url(16/spellcheck.png);}
.mws-ic-16.ic-sport-8ball{background-image:url(16/sport_8ball.png);}
.mws-ic-16.ic-sport-basketball{background-image:url(16/sport_basketball.png);}
.mws-ic-16.ic-sport-football{background-image:url(16/sport_football.png);}
.mws-ic-16.ic-sport-golf{background-image:url(16/sport_golf.png);}
.mws-ic-16.ic-sport-raquet{background-image:url(16/sport_raquet.png);}
.mws-ic-16.ic-sport-shuttlecock{background-image:url(16/sport_shuttlecock.png);}
.mws-ic-16.ic-sport-soccer{background-image:url(16/sport_soccer.png);}
.mws-ic-16.ic-sport-tennis{background-image:url(16/sport_tennis.png);}
.mws-ic-16.ic-stamp{background-image:url(16/stamp.png);}
.mws-ic-16.ic-star-1{background-image:url(16/star_1.png);}
.mws-ic-16.ic-star-2{background-image:url(16/star_2.png);}
.mws-ic-16.ic-status-online{background-image:url(16/status_online.png);}
.mws-ic-16.ic-stop{background-image:url(16/stop.png);}
.mws-ic-16.ic-style{background-image:url(16/style.png);}
.mws-ic-16.ic-sum{background-image:url(16/sum.png);}
.mws-ic-16.ic-sum-2{background-image:url(16/sum_2.png);}
.mws-ic-16.ic-switch{background-image:url(16/switch.png);}
.mws-ic-16.ic-tab{background-image:url(16/tab.png);}
.mws-ic-16.ic-table{background-image:url(16/table.png);}
.mws-ic-16.ic-tag{background-image:url(16/tag.png);}
.mws-ic-16.ic-tag-blue{background-image:url(16/tag_blue.png);}
.mws-ic-16.ic-target{background-image:url(16/target.png);}
.mws-ic-16.ic-telephone{background-image:url(16/telephone.png);}
.mws-ic-16.ic-television{background-image:url(16/television.png);}
.mws-ic-16.ic-textfield{background-image:url(16/textfield.png);}
.mws-ic-16.ic-textfield-rename{background-image:url(16/textfield_rename.png);}
.mws-ic-16.ic-text-align-center{background-image:url(16/text_align_center.png);}
.mws-ic-16.ic-text-align-justify{background-image:url(16/text_align_justify.png);}
.mws-ic-16.ic-text-align-left{background-image:url(16/text_align_left.png);}
.mws-ic-16.ic-text-align-right{background-image:url(16/text_align_right.png);}
.mws-ic-16.ic-text-allcaps{background-image:url(16/text_allcaps.png);}
.mws-ic-16.ic-text-bold{background-image:url(16/text_bold.png);}
.mws-ic-16.ic-text-columns{background-image:url(16/text_columns.png);}
.mws-ic-16.ic-text-dropcaps{background-image:url(16/text_dropcaps.png);}
.mws-ic-16.ic-text-heading-1{background-image:url(16/text_heading_1.png);}
.mws-ic-16.ic-text-horizontalrule{background-image:url(16/text_horizontalrule.png);}
.mws-ic-16.ic-text-indent{background-image:url(16/text_indent.png);}
.mws-ic-16.ic-text-indent-remove{background-image:url(16/text_indent_remove.png);}
.mws-ic-16.ic-text-italic{background-image:url(16/text_italic.png);}
.mws-ic-16.ic-text-kerning{background-image:url(16/text_kerning.png);}
.mws-ic-16.ic-text-letterspacing{background-image:url(16/text_letterspacing.png);}
.mws-ic-16.ic-text-letter-omega{background-image:url(16/text_letter_omega.png);}
.mws-ic-16.ic-text-linespacing{background-image:url(16/text_linespacing.png);}
.mws-ic-16.ic-text-list-bullets{background-image:url(16/text_list_bullets.png);}
.mws-ic-16.ic-text-list-numbers{background-image:url(16/text_list_numbers.png);}
.mws-ic-16.ic-text-lowercase{background-image:url(16/text_lowercase.png);}
.mws-ic-16.ic-text-padding-bottom{background-image:url(16/text_padding_bottom.png);}
.mws-ic-16.ic-text-padding-left{background-image:url(16/text_padding_left.png);}
.mws-ic-16.ic-text-padding-right{background-image:url(16/text_padding_right.png);}
.mws-ic-16.ic-text-padding-top{background-image:url(16/text_padding_top.png);}
.mws-ic-16.ic-text-signature{background-image:url(16/text_signature.png);}
.mws-ic-16.ic-text-smallcaps{background-image:url(16/text_smallcaps.png);}
.mws-ic-16.ic-text-strikethrough{background-image:url(16/text_strikethrough.png);}
.mws-ic-16.ic-text-subscript{background-image:url(16/text_subscript.png);}
.mws-ic-16.ic-ticket{background-image:url(16/ticket.png);}
.mws-ic-16.ic-timeline-marker{background-image:url(16/timeline_marker.png);}
.mws-ic-16.ic-traffic{background-image:url(16/traffic.png);}
.mws-ic-16.ic-transmit{background-image:url(16/transmit.png);}
.mws-ic-16.ic-trash{background-image:url(16/trash.png);}
.mws-ic-16.ic-trophy{background-image:url(16/trophy.png);}
.mws-ic-16.ic-trophy-bronze{background-image:url(16/trophy_bronze.png);}
.mws-ic-16.ic-trophy-silver{background-image:url(16/trophy_silver.png);}
.mws-ic-16.ic-ui-combo-box{background-image:url(16/ui_combo_box.png);}
.mws-ic-16.ic-ui-saccordion{background-image:url(16/ui_saccordion.png);}
.mws-ic-16.ic-ui-slider-1{background-image:url(16/ui_slider_1.png);}
.mws-ic-16.ic-ui-slider-2{background-image:url(16/ui_slider_2.png);}
.mws-ic-16.ic-ui-tab-bottom{background-image:url(16/ui_tab_bottom.png);}
.mws-ic-16.ic-ui-tab-content{background-image:url(16/ui_tab_content.png);}
.mws-ic-16.ic-ui-tab-disable{background-image:url(16/ui_tab_disable.png);}
.mws-ic-16.ic-ui-tab-side{background-image:url(16/ui_tab_side.png);}
.mws-ic-16.ic-ui-text-field-hidden{background-image:url(16/ui_text_field_hidden.png);}
.mws-ic-16.ic-ui-text-field-password{background-image:url(16/ui_text_field_password.png);}
.mws-ic-16.ic-umbrella{background-image:url(16/umbrella.png);}
.mws-ic-16.ic-user{background-image:url(16/user.png);}
.mws-ic-16.ic-user-black-female{background-image:url(16/user_black_female.png);}
.mws-ic-16.ic-user-business{background-image:url(16/user_business.png);}
.mws-ic-16.ic-user-business-boss{background-image:url(16/user_business_boss.png);}
.mws-ic-16.ic-user-female{background-image:url(16/user_female.png);}
.mws-ic-16.ic-user-silhouette{background-image:url(16/user_silhouette.png);}
.mws-ic-16.ic-user-thief{background-image:url(16/user_thief.png);}
.mws-ic-16.ic-user-thief-baldie{background-image:url(16/user_thief_baldie.png);}
.mws-ic-16.ic-vcard{background-image:url(16/vcard.png);}
.mws-ic-16.ic-vector{background-image:url(16/vector.png);}
.mws-ic-16.ic-view{background-image:url(16/view.png);}
.mws-ic-16.ic-wait{background-image:url(16/wait.png);}
.mws-ic-16.ic-wall{background-image:url(16/wall.png);}
.mws-ic-16.ic-wall-break{background-image:url(16/wall_break.png);}
.mws-ic-16.ic-wall-brick{background-image:url(16/wall_brick.png);}
.mws-ic-16.ic-wall-disable{background-image:url(16/wall_disable.png);}
.mws-ic-16.ic-wand{background-image:url(16/wand.png);}
.mws-ic-16.ic-weather-clouds{background-image:url(16/weather_clouds.png);}
.mws-ic-16.ic-weather-cloudy{background-image:url(16/weather_cloudy.png);}
.mws-ic-16.ic-weather-lightning{background-image:url(16/weather_lightning.png);}
.mws-ic-16.ic-weather-rain{background-image:url(16/weather_rain.png);}
.mws-ic-16.ic-weather-snow{background-image:url(16/weather_snow.png);}
.mws-ic-16.ic-weather-sun{background-image:url(16/weather_sun.png);}
.mws-ic-16.ic-webcam{background-image:url(16/webcam.png);}
.mws-ic-16.ic-world{background-image:url(16/world.png);}
.mws-ic-16.ic-zone{background-image:url(16/zone.png);}
.mws-ic-16.ic-zones{background-image:url(16/zones.png);}
.mws-ic-16.ic-zone-money{background-image:url(16/zone_money.png);}