﻿@model Domain.Entities.Promocao
@{
    ViewBag.Title = "Promoção da Semana";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "A Laços Flores é a maior empresa de Homenagens Fúnebres do Brasil.";
}
 
<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Promoção da Semana</b></span>  </div>
</div>
</div>  
@if (Model != null)
{
    @Html.Partial("Produtos", Model.PromocaoProdutoes.Select(c => c.Produto).Where(c => c.Disponivel))
}
else
{
<div id="Seguranca">
	<div class="Div">
		<h1 class="TituloPagina">Promoção da Semana</h1>
        
	    <div class="Texto">
            <p>Não há promoções neste momento mas confira nossos descontos na compra de nossos produtos.</p>
        
	    </div>
	</div>

</div>
}
