﻿@model Domain.Entities.Noticia
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-coroas-midia").addClass("active");
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "coroas-para-velorio-na-midia")" itemprop="url">      
      <span itemprop="title">Coroas para Velório na Mídia</span>    
    </a> 
        <div> > </div>
    
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
        <a href="@Url.RouteUrl("Midia", new { rotuloUrl = Model.RotuloUrl, id = Model.ID })" itemprop="url">      
          <span itemprop="title"><b>@Model.Titulo</b></span>    
        </a> 
        </div>   
    </div>    
</div>

<div class="hr"><hr /></div>
<div class="conteudo">

    <h1>@Model.Titulo</h1>
    <h2>@Model.Chamada</h2>
    <h3>@Model.Data.ToString("dd/MM/yyyy")</h3>
    
    @if (Model.Foto != null)
    {
        if (Model.Foto.Length > 0)
        {
            <img src="/content/noticias/@Model.ID/@Model.Foto" style="float:left; margin-top:10px; margin-right:10px;" alt="@Model.Titulo" title="@Model.Titulo"/>
        }
    }
    <p>@Html.Raw(Model.Descricao)</p>
    
    <br /><br />
    @if (@Model.Fonte != null)
    {
        <text><b>Fonte: </b><a href="@Model.Fonte" target="_blank" rel="nofolow">@Model.Fonte</a></text> 
    }

</div>