﻿@model Domain.Entities.Faturamento

@{
    ViewBag.Title = "Pagamento com Cartão de Crédito";
    ViewBag.H1 = "Pagamento com Cartão de Crédito da fatura #" + Model.ID;
    ViewBag.P = "Digite os dados de seu cartão de crédito para efetuar o pagamento.";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
}

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cartao-validade').mask('99/99');
            $('#cartao-numero').mask('99999999999999?99');
            $('#cartao-codigo').mask('999?9');
            
            $('#pagar').click(function(){
            
                        var bandeira = $('#cartao-bandeira').val();
                        var nome = $('#cartao-nome').val();
                        var numero = $('#cartao-numero').val();
                        var validade = $('#cartao-validade').val();
                        var codigo = $('#cartao-codigo').val();
                        var parcela = $('#cartao-parcela').val();
                        
                         $('#cartao-bandeira').val('');
                         $('#cartao-nome').val('');
                         $('#cartao-numero').val('');
                         $('#cartao-validade').val('');
                         $('#cartao-codigo').val(''); 

                        var erros = '';
                        var quantidade = 0;
                        
                        if(bandeira == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Selecione a bandeira do Cartão';
                        }
                        if(nome == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Nome Impresso no Cartão';
                        }
                        if(numero == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha o Número do Cartão';
                        }
                        if(validade == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Validade do Cartão';
                        }
                        if(codigo == ''){
                            quantidade++;
                            erros += (erros.length > 0 ? '\n' : '') + '- Preencha a Código de Segurança';
                        }

                        if(quantidade > 0){
                            if(quantidade > 1){
                                erros = 'Verifique os ' + quantidade + ' erros abaixo:\n' + erros;
                            }
                            alert(erros);
                        }else{
                            $('#pagar').hide();
                            $('#processando').show();

                            $.post('/Faturas/PagarCartaoCredito/', { bandeira: bandeira, nome: nome, numero: numero, validade: validade, codigo: codigo, id: @(Model.ID) }, function (data) {
                                if(data.Retorno == '0'){
                                    alert('Pagamento efetuado com sucesso!');
                                    location = '/empresas/faturas';
                                }else{
                                    alert(data.Mensagem + '\n\n' + data.Retorno + ' - Transação negada.');
                                        
                                    $('#processando').hide();
                                    $('#pagar').show();
                                } 
                             }); 
                        }
            });

        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <form id="form-pedido" action="" method="post" class="form-horizontal">
    <table cellspacing="0" cellpadding="0" border="0" width="960" class="form-pagamento" style="" id="Formulario-CartaoCredito"> 
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Bandeira:</label></td>
            <td>
                <select id="cartao-bandeira">
                    <option value="">- selecione -</option>
                    <option value="5">American Express</option>
                    <option value="4">Dinners</option>
                    <option value="3">Elo</option>
                    <option value="2">Mastercard</option>
                    <option value="1">Visa</option>
                </select>
            </td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Nome impresso no cartão:</label></td>
            <td><input id="cartao-nome" type="text" maxlength="20" class="form-control input-md"/></td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Número do cartão:</label></td>
            <td><input id="cartao-numero" type="text" maxlength="20" class="form-control input-md"/></td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Data de validade:</label></td>
            <td><input id="cartao-validade" type="text" maxlength="5" class="form-control input-md"/></td>
        </tr>
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td><label>Código de segurança:</label></td>
            <td><input id="cartao-codigo" type="text" maxlength="5" class="form-control input-md"/></td>
        </tr> 
        <tr style="height:10px;"><td width="25" colspan="4"></td></tr>
        <tr>
            <td colspan="2">
                <input type="button" class="btn btn-default" id="pagar" value="Efetuar pagamento com cartão de crédito" />
                <span id="processando" class="processando">processando...</span>
            </td>
        </tr>
    </table>
        </form>
    </div>
</div>