﻿@model Domain.Entities.Faturamento
           
@if (Model != null)
{
    <table cellpadding="2" cellspacing="2" border="0" width="100%" class="tabela">
        <tr>
            <td colspan="2">
                <span class="titulo">Título: </span>
            </td>
        </tr>
        <tr>
            <td colspan="2"> 
                <span class="item">@Model.Titulo</span>
            </td>
        </tr>
        
        <tr>
            <td width="50%">
                <span class="titulo">Status:</span>
            </td>
            <td>
                <span class="titulo">Meio de Pagamento:</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(Model.Status)</span>
            </td>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(Model.MeioPagamento)</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="titulo">Forma de Pagamento:</span>
            </td>
            <td>
                <span class="titulo">Status do Pagamento:</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(Model.FormaPagamento)</span>
            </td>
            <td>
                <span class="item">@Domain.Helpers.EnumHelper.GetDescription(Model.StatusPagamento)</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="titulo">Subtotal:</span>
            </td>
            <td>
                <span class="titulo">Descontos:</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="item">@Model.ValorTotal.ToString("c2")</span>
            </td>
            <td>
                <span class="item">@Model.ValorDesconto.ToString("c2")</span>
            </td>
        </tr> 
        
        <tr>
            <td>
                <span class="titulo">Data de Criação:</span>
            </td>
            <td>
                <span class="titulo">Data de Atualização:</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="item">@Model.DataCriacao.ToShortDateString()</span>
            </td>
            <td>
                <span class="item">@Model.DataAtualizacao.ToShortDateString()</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="titulo">Data de Vencimento:</span>
            </td>
            <td>
                <span class="titulo">Data de Pagamento:</span>
            </td>
        </tr>
        
        <tr>
            <td>
                <span class="item">@Model.DataVencimento.ToShortDateString()</span>
            </td>
            <td>
                <span class="item">@(Model.DataPagamento.HasValue ? Model.DataPagamento.Value.ToShortDateString() : "-")</span>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <span class="titulo">Data de Processamento:</span>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <span class="item">@(Model.DataProcessamento.HasValue ? Model.DataProcessamento.Value.ToShortDateString() : "-")</span>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <span class="titulo">Observações:</span>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <span class="item">@Model.Observacoes</span>
            </td>
        </tr>
    </table>
    
    <h3 style="text-align:center;">PEDIDOS PARA ESTA FATURA:</h3>
    
    <table cellpadding="2" cellspacing="2" border="0" width="100%" class="tabela tabela2">
    @if (Model.PedidoEmpresas.Any())
    {
        <tr>
            <th>Produto</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
        foreach (var pedido in Model.PedidoEmpresas.OrderBy(p => p.DataCriacao))
        {
            <tr class="item">  
                <td>
                    <small>@Domain.Helpers.EnumHelper.GetDescription(pedido.ProdutoTamanho.Produto.Tipo)</small><br />
                    <span>@pedido.ProdutoTamanho.Produto.Nome (@pedido.ProdutoTamanho.Tamanho.Nome)</span>
                </td>
                <td> 
                    <span>@pedido.Valor.ToString("c2")</span>
                </td>
                <td> 
                    <span>@pedido.DataCriacao.ToShortDateString()</span>
                </td>
                <td>
                    <div class="status @pedido.Status">@Domain.Helpers.EnumHelper.GetDescription(pedido.Status)</div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="item"><td colspan="6" align="center">Nenhum pedido localizado.</td></tr>
    }
    </table>
}
else
{
    <p>Fatura inválida!</p>
}
<br /><br />