﻿@model IEnumerable<Domain.Entities.Faturamento>
@{
    ViewBag.H1 = "Histórico de Faturas";
    Layout = "~/Areas/Empresas/Views/Shared/_LayoutInner.cshtml";
    var labelfaturas = "Faturas";

    var de = "";
    var ate = "";
    var status = 0;
    var faturas = Model; 

    if (!String.IsNullOrEmpty(Request["de"]))
    {
        de = Request["de"];
        DateTime _de;
        if (DateTime.TryParse(de, out _de))
        {
            _de = new DateTime(_de.Year, _de.Month, _de.Day, 0, 0, 0);
            faturas = faturas.Where(p => p.DataVencimento >= _de);
            labelfaturas += " de <b>" + Request["de"] + "</b>";
        }
    }


    if (!String.IsNullOrEmpty(Request["ate"]))
    {
        ate = Request["ate"];
        DateTime _ate;
        if (DateTime.TryParse(ate, out _ate))
        {
            _ate = new DateTime(_ate.Year, _ate.Month, _ate.Day, 23, 59, 59, 999);
            faturas = faturas.Where(p => p.DataVencimento <= _ate);
            labelfaturas += " até <b>" + Request["ate"] + "</b>";
        }
    }
    else
    {

        labelfaturas += " até o momento";
    }

    if (!String.IsNullOrEmpty(Request["status"]))
    {
        if (int.TryParse(Request["status"], out status))
        {
            faturas = faturas.Where(p => p.StatusID == status);
        }
    }
}
<div class="row form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    De</label>
                <div class="col-md-12">
                    <input id="de" type="text" class="busca form-control input-md" value="@de" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Até</label>
                <div class="col-md-12">
                    <input id="ate" type="text" class="busca form-control input-md" value="@ate" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-12 control-label" for="textinput">
                    Status</label>
                <div class="col-md-12">
                    <select id="status" class="busca">
                        <option value="">- Todos -</option>
                        <option value="0" @(status == 0 ? "selected=\"selected\"" : "")>Fatura nova</option>
                        <option value="1" @(status == 1 ? "selected=\"selected\"" : "")>Fatura com pagamento
                            pendente</option>
                        <option value="2" @(status == 2 ? "selected=\"selected\"" : "")>Fatura paga</option>
                        <option value="3" @(status == 3 ? "selected=\"selected\"" : "")>Fatura cancelada</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" value="Filtrar" class="btn pull-right" onclick="Filtrar()" />
    </div>
</div>
<div class="row">
    @if (Request.QueryString["sucesso"] == "sim")
    {
        <a href="">
            <img src="/areas/empresas/content/img/pedido-sucesso.gif" /></a>
    } 
    <table class="table">
        <thead>
            <tr class="titulo">
                <th>
                    DATA VENCIMENTO
                </th>
                <th>
                    TÍTULO DA FATURA
                </th>
                <th>
                    VALOR
                </th>
                <th>
                    STATUS
                </th>
                <th>
                    VER MAIS
                </th>
            </tr>
        </thead>
        @if (faturas.Any())
        {
            foreach (var fatura in faturas)
            {
            <tbody>
                <tr class="item">
                    <td class="od">
                        <span class="data">@fatura.DataVencimento.ToShortDateString()</span>
                    </td>
                    <td>
                        @fatura.Titulo
                    </td>
                    <td class="od">
                        @fatura.ValorTotal.ToString("c2")
                    </td>
                    <td>
                        <div class="status @fatura.Status">@Domain.Helpers.EnumHelper.GetDescription(fatura.StatusPagamento)</div>
                    </td>
                    <td class="od">
                        <a href="javascript:void(0);" onclick="Faturas.Abrir('@fatura.ID')">
                            <img src="/areas/empresas/content/img/ico_mais.gif" /></a>
                        @if (fatura.StatusPagamento == Domain.Entities.Pedido.TodosStatusPagamento.AguardandoPagamento)
                        {
                            if (fatura.Boleto != null)
                            {
                            <a href="javascript:void(0);" onclick="javascript:window.open('/empresas/faturas/boleto?id=@fatura.ID');" style="margin:10px;">
                                <img src="/areas/empresas/content/img/imprimir-boleto.png" border="0" /></a>    
                            }
                            <a href="javascript:void(0);" onclick="javascript:window.open('/empresas/faturas/cartaocredito?id=@fatura.ID');" style="margin:10px;">
                                <img src="/areas/empresas/content/img/ico-servicos-cartao-credito1.png" /> Pagar com cartão de crédito</a>    
                        }
                        @if (!String.IsNullOrEmpty(fatura.NFeLink))
                        {
                         
                            <a href="javascript:void(0);" onclick="javascript:window.open('@fatura.NFeLink');" style="margin:10px;">
                                <img src="/areas/empresas/content/img/imprimir-nfe.png" border="0" /></a>    
                        }
                    </td>
                </tr>
            </tbody>
            }
        }
        else
        {
            <tbody>
                <tr class="item">
                    <td colspan="6" align="center">
                        Nenhuma fatura localizada.
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <span class="pequeno">@Html.Raw(labelfaturas)</span>
</div>
<div id="Detalhes" title="DETALHES DA FATURA">
    <div>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        var Faturas = new function () {
            this.Abrir = function (id) {
                $('#Detalhes div').html('');
                $.post('@Url.Action("detalhes")', { id: id }, function (data) {
                    $('#Detalhes div').html(data);
                });
                $("#Detalhes").dialog({
                    resizable: false,
                    width: 700,
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            };

        };

        function Filtrar() {
            var url = '@Url.Action("Index")?';
            url += 'de=' + $('#de').val();
            url += '&ate=' + $('#ate').val();
            url += '&status=' + $('#status').val();
            window.location = url;
        }

        $(document).ready(function () {

            //            var item = $("#menu-faturas");
            //            item.removeClass("hover");
            //            var img = item.children("img:first");
            //            img.attr("src", img.attr("src").replace('-off', '-on'));

            $("#de").mask("99/99/9999");
            $("#de").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });

            $("#ate").mask("99/99/9999");
            $("#ate").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
    </script>
}
