﻿@using Domain.Entities
@model Admin.ViewModel.MetaViewModel

@{
    Layout = "";
}
<style>
    .field-validation-error {
        color: #a94442;
    }
    .input-validation-error {
        border-color: #a94442;
    }
</style>

<form id="frmEditar" method="post">
    @Html.HiddenFor(m => m.IdArea)
    @Html.HiddenFor(m=>m.Id)
    <div class="row">

        <div class="col-lg-4">          
            <label for="txtNomeMeta" class="control-label">Nome</label>
            <br/>
            @Html.TextBoxFor(m => m.Nome, new{id = "txtNomeMeta", @class = "form-control"})
            @Html.ValidationMessageFor(m=>m.Nome) 
        </div>

        <div class="col-lg-4">
            <label for="txtDataInicio" class="control-label">Data de Ínicio</label>
            <br/>
            @Html.TextBoxFor(m => m.DataInicio, new{id = "txtDataInicio", @class = "form-control datepicker"})
            @Html.ValidationMessageFor(m => m.DataInicio)
        </div>

        <div class="col-lg-4">
            <label for="txtDataFim" class="control-label">Data de Término</label>
            <br/>
            @Html.TextBoxFor(m => m.DataFim, new{id = "txtDataFim", @class = "form-control datepicker"})
            @Html.ValidationMessageFor(m => m.DataFim)
            
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-4 hidden">
            <label for="ddlCriterio" class="control-label">Critério</label>
            <br/>
            @Html.DropDownListFor(m=>m.IdCriterioBusca,(SelectList)ViewBag.Criterios,new {id= "ddlCriterio", @class="form-control"})
            
        </div>

        <div class="col-lg-4">
            <label for="ddlUsuario" class="control-label">Colaborador</label>
            <br/>
            @Html.DropDownListFor(m => m.IdUsuario, (SelectList)ViewBag.Colaboradores,"Nenhum", new { id = "ddlUsuario", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdUsuario)
        </div>

        <div class="col-lg-4">
            <label for="ddlStatus" class="control-label">Status</label>
            <br/>
            @Html.DropDownListFor(m => m.IdStatus, (SelectList) ViewBag.Status, new{id = "ddlStatus", @class = "form-control"})
            @Html.ValidationMessageFor(m => m.IdStatus)
        </div>
        <div class="clearfix"></div>
        @for (int i = 0; i < Model.Metricas.Count; i++) {
            <div class="col-lg-4">
                @Html.HiddenFor(m => m.Metricas[i].Id)
                @Html.HiddenFor(m => m.Metricas[i].IdMeta)
                @Html.HiddenFor(m => m.Metricas[i].Nome)
                @Html.HiddenFor(m => m.Metricas[i].IdTipoMetrica)
                <label for="@("txtMetrica_" + Model.Metricas[i].Id)" class="control-label">@Model.Metricas[i].Nome</label>
                <br/>
                @{ string strClasse = "metrica";}
                @switch ((Metrica.TodosTiposMetrica)Model.Metricas[i].IdTipoMetrica){
                    case Metrica.TodosTiposMetrica.Valor:
                        strClasse = "mascaraValor";
                    break;
                    case Metrica.TodosTiposMetrica.Numerico:
                        strClasse = "mascaraNumero";
                    break;
                    case Metrica.TodosTiposMetrica.Porcentagem:
                        strClasse = "mascaraPorcentagem";
                    break;
                }
                       @Html.TextBoxFor(m=>m.Metricas[i].Valor,new {@id= "txtMetrica_" + Model.Metricas[i].Id , @class="form-control "+ strClasse})
                </div>
        }


    </div>
</form>

<script>
    $(function() {

        $('.datepicker').datepicker();

            var dp = $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: '-120M',
            maxDate: '+120M'
                    });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }
        $(".mascaraValor").mask("000.000.000.000,00", { placeholder: ' ', reverse: true });
        $(".mascaraNumero").mask("0000000000000", { placeholder: ' ', reverse: true });
    });
</script>