﻿@using Admin.ViewModels
@using Domain.Entities
@model Admin.ViewModel.MetaFiltroViewModel

@{
    Layout = "";
}

<form id="frmFiltro">
    <div class="row">
        <div class="col-lg-2">
            <label for="txtFiltroNome" class="control-label">Nome</label>
            <br/>
            @Html.TextBoxFor(m=>m.Nome,new {id="txtFiltroNome", @class="form-control"})
        </div>
        <div class="col-lg-2">
            <label for="txtFiltroDataInicio" class="control-label">Início</label>
            <br />
            @Html.TextBoxFor(m => m.DataInicio, new { id = "txtFiltroDataInicio", @class = "form-control datepicker", placeholder = "dd/mm/yyyy" })
        </div>
        <div class="col-lg-2">
            <label for="txtFiltroDataInicio" class="control-label">Término</label>
            <br />
            @Html.TextBoxFor(m => m.DataFim, new { id = "txtFiltroDataFim", @class = "form-control datepicker", placeholder = "dd/mm/yyyy" })
        </div>
        <div class="col-lg-2 @(ViewBag.adminModel != null && ((AdminModel)ViewBag.adminModel).PerfilId == (int)Administrador.Perfis.LacosCorporativos ? "hidden" : "")">
            <label for="ddlFiltroUsuario" class="control-label">Usuário</label>
            <br/>
            @Html.DropDownListFor(m=>m.IdUsuario, (SelectList)ViewBag.Colaboradores, "Todos", new { id = "ddlFiltroUsuario", @class = "form-control" })

        </div>
        <div class="col-lg-2">
            <label for="ddlFiltroStatus" class="control-label">Status</label>
            <br/>
            @Html.DropDownListFor(m => m.IdStatus, (SelectList) ViewBag.Status, "Todos",new{id = "ddlFiltroStatus", @class = "form-control"})

        </div>
        <div class="col-lg-2 hidden">
            <label for="ddlFiltroCriterio" class="control-label">Critério</label>
            <br/>
            @Html.DropDownListFor(m => m.IdCriterio, (SelectList) ViewBag.Criterios, "Todos", new{id = "ddlFiltroCriterio", @class = "form-control"})

        </div>
        <div class=" col-lg-2">
            <br/>
            <button class="btn btn-primary" id="btnFiltrar">Filtrar</button>

            @*<button class="btn btn-default" id="btnLimparFiltro">Limpar</button>*@

            @if (ViewBag.adminModel != null && (((AdminModel) ViewBag.adminModel).PerfilId == (int) Administrador.Perfis.Coordenadores || ((AdminModel) ViewBag.adminModel).PerfilId == (int) Administrador.Perfis.TI || ((AdminModel)ViewBag.adminModel).PerfilId == (int)Administrador.Perfis.Socios)){

                <button class="btn btn-default" id="btnNova">Nova</button>
            }

        </div>
    </div>
</form>


