﻿@using Admin.ViewModels
@using Domain.Entities
@{                      
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Metas";
}
    
<style>
    .form-control {
        margin-bottom: 10px;
    }
</style>
<br/>
<div class="row">
    <div class="col-lg-12 col-md-12 text-center">
        <h1>Gerenciamento de Metas</h1>   
    </div>
</div>

<hr/>
@Html.Action("Filtrar", "Meta")


<hr/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div id="divResultado" class="panel panel-default">
            @Html.Action("Listar", "Meta")
        </div>
    </div>
</div>

        
<div id="mdlEditar" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 class="modal-title">Editar</h4>
            </div>
            <div id="divModalContent" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="btnSalvar" type="button" class="btn btn-primary">Salvar</button>
                <button id="btnCancelar" type="button" class="btn btn-default">Cancelar</button>

            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#btnNova").click(function (e) {
            e.preventDefault();

            $("#mdlEditar").find(".modal-title").text("Nova Meta");
            $.get("@Url.Action("Editar","Meta")", function (data, status) {
                if (status == "success") {
                    $("#divModalContent").html(data);
                    $("#mdlEditar").modal("show");
                }
                else {
                    alert("Desculpe, ocorreu um problema.");
                }

            });
        });

        $("#btnCancelar").click(function (e) {
            e.preventDefault();
            $("#frmEditar")[0].reset();
            $("#mdlEditar").modal("hide");
        });

        $("#btnSalvar").click(function(e) {
            e.preventDefault();
            
            var res = getFormData("frmEditar");
            //console.log(res);

            $.post("@Url.Action("Editar","Meta")", res, function (data, status) {
                if (typeof(data) != "object") {
                    $("#divModalContent").html(data);
                }
                else {
                    $("#mdlEditar").modal("hide");
                    $.get("@Url.Action("Listar","Meta")", function (data, status) {
                        if (status == "success") {
                            $("#divResultado").html(data);
                            
                        }
                        else {
                            alert("Desculpe, ocorreu um problema.");
                        }

                    });
                }
                //console.log(status);
                //console.log(data);

            });
            //vai postar a informação
        });

        $(".editar").click(function(e) {
            var id = $($($(this).parent()).find(".hdfIdMeta")).val();
            $("#mdlEditar").modal("show");
            $("#mdlEditar").find(".modal-title").text("Editar Meta");
            //console.log(id);
            $.get("@Url.Action("Editar","Meta")"+"/"+id, function (data, status) {
                if (status == "success") {
                    $("#divModalContent").html(data);
                    $("#mdlEditar").modal("show");
                }
                else {
                    alert("Desculpe, ocorreu um problema.");
                }

            });
        });

        $("#frmEditar").submit(function (e) {

            e.preventDefault();
            
            return false;
        });

        $("#btnFiltrar").click(function(e) {
            e.preventDefault();
            var dados = getFormData("frmFiltro");
            var regExpData = /^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/;
            if (dados) {
                if (dados.DataInicio) {
                    dados.DataInicio = dados.DataInicio.replace(regExpData, "$2$1$3");
                }
                if (dados.DataFim) {
                    dados.DataFim = dados.DataFim.replace(regExpData, "$2$1$3");
                }
            }
            
            console.log(dados);
            $.get("@Url.Action("Listar", "Meta")", dados).done(function (data, status) {
                if (status === "success") {
                    $("#divResultado").html(data);  
                }           
            });         
        });
        $("#btnLimparFiltro").click(function(e) {
            e.preventDefault();
            $("#frmFiltro")[0].reset();
        });


        $('.datepicker').datepicker();

        var dp = $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: '-120M',
            maxDate: '+120M'
        });

        try {
            dp.mask('99/99/9999');
        } catch (e) {

        }
    });
           
    function getFormData(idForm) {
        var res = {};
        $("#" + idForm + " input, #" + idForm + " select, #" + idForm + " textarea").each(function (i, obj) {
            res[obj.name] = $(obj).val();
        });
        return res;
    }

</script>