﻿@using Admin.ViewModels
@using Domain.Entities
@model List<Domain.Entities.Meta>

    @{
        Layout = "";
    }

    @if (Model != null ) {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Início
                    </th>
                    <th>
                        Término
                    </th>
                    <th>
                        Status
                    </th>
                    <th style="width: 90px;">

                    </th>
                </tr>
            </thead>
            <tbody>
            @if (Model.Any()) {
                for (int i = 0; i < Model.Count; i++) {
                    <tr>
                        <td>
                            @Model[i].NomeMeta
                        </td>
                        <td>
                            @{
                                if (Model[i].DataInicio.HasValue) {
                                    <text>
                                        @Model[i].DataInicio.Value.ToString("dd/MM/yyyy")
                                    </text>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model[i].DataFim.HasValue) {
                                    <text>
                                        @Model[i].DataFim.Value.ToString("dd/MM/yyyy")
                                    </text>
                                }
                            }
                        </td>
                        <td>
                            @Model[i].StatusMeta.Nome
                        </td>
                        <td>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <input class="hdfIdMeta" type="hidden" value="@Model[i].Id" />
                                    <a href="@(Url.Action("Comercial", "Dashboards") + "/" + Model[i].Id)" class="btn btn-default" title="Visualizar">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    @if (ViewBag.adminModel != null && (((AdminModel)ViewBag.adminModel).PerfilId == (int)Administrador.Perfis.Coordenadores || ((AdminModel)ViewBag.adminModel).PerfilId == (int)Administrador.Perfis.TI) || ((AdminModel)ViewBag.adminModel).PerfilId == (int)Administrador.Perfis.Socios) {
                                        <a href="#" class="btn btn-default editar" title="Editar">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@(Url.Action("Deletar", "Meta") + "/" + Model[i].Id)" class="btn btn-default" title="Remover" onclick="return confirm('Deseja remover este item?');">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    }

                                </span>
                            </div>

                        </td>
                    </tr>
                }
            }
            else {
                <tr>
                    <td colspan="5">
                        <div class="row">
                            <div class="text-center">
                                <p>
                                    Nenhuma informação encontrada
                                </p>
                            </div>
                            
                        </div>
                    </td>
                </tr>
            }
            
            </tbody>
        </table>
    }    

<script>
    $(function() {
        $(".editar").click(function(e) {
            var id = $($($(this).parent()).find(".hdfIdMeta")).val();
            $("#mdlEditar").modal("show");
            $("#mdlEditar").find(".modal-title").text("Editar Meta");
            //console.log(id);
            $.get("@Url.Action("Editar","Meta")"+"/"+id, function (data, status) {
                if (status == "success") {
                    $("#divModalContent").html(data);
                    $("#mdlEditar").modal("show");
                }
                else {
                    alert("Desculpe, ocorreu um problema.");
                }

            });
        });
    });
</script>