﻿@model Web.Handler._404
@{
    ViewBag.Title = "Oops";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
} 

<div id="Erro404">
<div class="Div">

	<h1 class="TituloPagina">Não localizamos a página <u>@ViewBag.Pagina</u>.</h1>

	<div class="VejaMais">
		<div class="VejaMaisDiv">
			<div class="VejaMaisTexto"><p><a href="/coroas-de-flores">VEJA NOSSAS Flores</a></p></div>
		</div>
	</div>

	<div class="NaoEncontrou">

		<div class="Texto1">Não encontrou o seu local?</div>

		<div class="Div2">
		<div class="Texto2">Busque novamente</div>
		<div class="DivBusca">
            <form method="get" action="@Url.Action("buscar", "local")">
			<div class="DivBusca2"><input type="text" id="local-termo" name="termo" class="DivBuscaInput busca_local" value="Encontre cidades" onfocus="if(this.value=='Encontre cidades') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre cidades'; }" /></div>
			<div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
            </form>
		</div>
		</div>

		<div class="Texto3">Ou fale conosco pelo nosso Atendimento Online ou ligue para nossa Central de Atendimento 24h: @configuracoes.SAC</div>

	</div>
    
</div>
    
</div> 