﻿@{
    ViewBag.NaoExibeHeader = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "A empresa";
    ViewBag.Description = "Veja a trajetória da nossa empresa e depoimentos de clientes. Confira a historia de sucesso da CPV. Acesse!";

    var depoimentosPF = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPF;
    var depoimentosPJ = (List<Domain.Entities.Depoimento>)ViewBag.DepoimentosPJ;
}

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a></div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>A Empresa</b></span></div>
</div>
</div>

<div id="Empresa">
<div class="Div">

	<h1 class="TituloPagina">A empresa</h1>

	<div class="Div1">
		<div class="Div1Texto1">A Coroas Para Velório é a maior empresa de Homenagens Fúnebres do Brasil.</div>
		<div class="Div1Texto2">A empresa possui o objetivo de oferecer uma solução rápida, segura e prática de entrega de Coroas de Flores em todos os cemitérios, velórios, hospitais, igrejas e crematórios do Brasil.<br /><br />Com uma grande e qualificativa rede de floriculturas, nossa empresa possui operação para entregar homenagens onde quer que esteja ocorrendo um velório, sempre com qualidade e pontualidade.</div>
		<div class="Div1Texto3">Equipe Coroas Para Velórios</div>
		<div class="Div1Texto2">Coroas de Flores para todos os cemitérios e velórios do Brasil.<br />atendimento@coroasparavelorio.com.br</div>
	</div>

	<div class="Div2">
		<div class="Div2Texto1">Sobre nossos produtos</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/m_frete_gratis.png" class="Div2OpcaoImg2" alt="Frete grátis" /></div>
			<div class="Div2OpcaoTexto">Nossas Coroas de Flores possuem FRETE GRÁTIS para qualquer cidade do Brasil</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/m_faixa_homenagem.png" class="Div2OpcaoImg2" alt="Faixa de homenagem" /></div>
			<div class="Div2OpcaoTexto">Todas as Coroas de Flores acompanham uma faixa de homenagens sem nenhum custo adicional.</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/flor.png" class="Div2OpcaoImg2" alt="Flores frescas" /></div>
			<div class="Div2OpcaoTexto">Trabalhamos com flores frescas, garantindo qualidade á Coroa de Flores</div>
		</div>

		<div class="Div2Opcao">
			<div class="Div2OpcaoImg"><img src="/content/imagens/estrela.png" class="Div2OpcaoImg2" alt="Estrela" /></div>
			<div class="Div2OpcaoTexto">Em caso de ausência, as flores serão substituídas por outras de mesma qualidade ou superior.</div>
		</div>

	</div>

	<div class="Div3"><img src="/content/imagens/flor_empresa.png" class="Div3Img" alt="Flor" /></div>

	<div class="Div7">
		<div class="Div7Texto">Conheça um pouco mais sobre a nossa empresa assistindo ao vídeo</div>
		<div class="Div7Video"><iframe src="//www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0" allowfullscreen class="Div7Video2" scrolling="no" name="video_sobre"></iframe></div>
	</div>

	<div class="Div4">

		<div class="Div4DivTextos">

			<div class="Div4DivAlinhamento">
				<div class="Div4Missao">Nossa missão</div>	
				<div class="Div4MissaoTexto">Possibilitar as pessoas de prestarem suas últimas homenagens, sempre com qualidade e pontualidade, aonde quer que seja o local de velório.</div>
			</div>

			<div class="Div4DivAlinhamento">
				<div class="Div4Vissao">Nossa visão para @DateTime.Now.Year</div>	
				<div class="Div4VissaoTexto">Ser reconhecida por nossos clientes como a melhor empresa de homenagens fúnebres do Brasil. <br /><br />Nossos valores, Responsabilidades e diretrizes:<br /><br />&bull; Transparência, Ética e Honestidade em todas as nossas ações;<br />&bull; Respeito a todos os nossos clientes, compreendendo o momento delicado;<br />&bull; Facilitar a compra e o pagamento, com processos rápidos e desburocratizados;<br />&bull; Investir sempre em nossos talentos;<br />&bull; Sempre antecipar nosso cliente, oferecendo informações, respostas e praticidade.</div>
			</div>

		</div>

		<div class="Div5">

			<div class="Div5Titulo">Depoimentos</div>	
             
            
			<div class="Div5Depoimento">
            
                @if (depoimentosPF.Any())
                {
                    foreach (var item in depoimentosPF)
                    { 
				        <div class="Div5DepoimentoQuadrado">
					        <div class="Div5DepoimentoAspas"><img src="/content/imagens/empresa_depoimentos_aspas.png" class="Div5DepoimentoAspasImg" alt="Aspas" /></div>
					        <div class="Div5DepoimentoTexto">@item.Texto</div>
				        </div>

				        <div class="Div5DepoimentoSeta"><img src="/content/imagens/empresa_depoimentos_seta.png" class="Div5DepoimentoSetaImg" alt="Seta" /></div>

				        <div class="Div5DepoimentoInfo">
				        <div class="Div5DepoimentoNome">@item.Nome.ToUpper()</div>
				        </div>

				        <div class="Div5DepoimentoInfo">
				        <div class="Div5DepoimentoCidade">@item.Cidade.ToUpper()</div>
				        </div>
                    }
                }

			</div>

			<div class="Div5Depoimento2">
            
                @if (depoimentosPJ.Any())
                {
                    foreach (var item in depoimentosPJ)
                    { 
				        <div class="Div5DepoimentoQuadrado">
					        <div class="Div5DepoimentoAspas"><img src="/content/imagens/empresa_depoimentos_aspas.png" class="Div5DepoimentoAspasImg" alt="Aspas" /></div>
					        <div class="Div5DepoimentoTexto">@item.Texto</div>
				        </div>

				        <div class="Div5DepoimentoSeta"><img src="/content/imagens/empresa_depoimentos_seta.png" class="Div5DepoimentoSetaImg" alt="Seta" /></div>

				        <div class="Div5DepoimentoInfo">
				        <div class="Div5DepoimentoNome">@item.Nome.ToUpper()</div>
				        </div>

				        <div class="Div5DepoimentoInfo">
				        <div class="Div5DepoimentoCidade">@item.Cidade.ToUpper()</div>
				        </div>
                    }
                }

			</div>

			<div class="Div5DepoimentoMais"><a href="@Url.Action("Index", "depoimentos-de-clientes")">ver mais depoimentos</a></div>

		</div>


	</div>
        <div class="DivBanner">
		<div class="Div6">
        @Html.Partial("Produtos", (List<Domain.Entities.Produto>)ViewBag.Produtos)
	    <div class="VejaMaisCoroas">[+] <a href="/coroa-de-flores" class="VejaMaisCoroas2">Veja mais Coroa de Flores</a></div>
	    <div class="Separacao2"></div>
        </div>
        </div>
        
</div>
</div>
