﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Frases para Coroa de Flores - Velório - Floricultura em promoção";
    ViewBag.Description = "FRASES PARA COROAS DE FLORES. Preste sua última homenagem. Compre e envie Coroa Fúnebre com mensagem personalizada para qualquer lugar do país.";

}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}

@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-frases").addClass("active");
        });
    </script>
}
    
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "frases-de-homenagens")" itemprop="url">      
      <span itemprop="title"><b>Frases de Homenagens</b></span>    
    </a> 
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo" id="FrasesHomenagens">
    <h1>Frases de Homenagens</h1>
    <div class="half" style="line-height:20px;">

        <div class="title qlassik">Colegas de trabalho</div>
        <br />

        <b>Mais usadas:</b>
        <ul>
            <li>Sentimentos dos Amigos da (nome da empresa)</li>
            <li>Homenagem dos Amigos da (nome da empresa)</li>
            <li>Condolências dos Amigos da (nome da empresa)</li>
            <li>Saudades dos Amigos da (nome da empresa)</li>
        </ul>
        <i>Observação: ao invés de usar "Amigos", pode-se utilizar "Colegas", "Equipe", "Colaboradores", "Funcionários".</i>
        <br /><br />
        <b>Sofisticadas:</b>
        <ul>
            <li>Com carinho, sinceros sentimentos dos Colegas da (nome da empresa)</li>
            <li>Sinceras condolências dos Diretores e Funcionários da (nome da empresa)</li>
            <li>Uma sincera homenagem dos Diretores e Funcionários da (nome da empresa)</li>
            <li>Condolências dos Diretores e Colaboradores da (nome da empresa)</li>
            <li>Foi uma honra tê-lo como amigo e colega de trabalho – Amigos da (nome da empresa)</li>
        </ul>
        <b>Empresas:</b>
        <ul>
            <li>Uma homenagem da (nome da empresa)</li>
            <li>Sentimentos aos familiares – (nome da empresa)</li>
            <li>Condolências aos familiares – (nome da empresa)</li>
            <li>Uma sincera homenagem da (nome da empresa) a todos os familiares e amigos</li>
        </ul>
    </div>

    <div class="half" style="line-height:20px;">
        <div class="title qlassik">Familiares</div>
        <ul>
            <li>Uma homenagem de toda a Família (sobrenome da família)</li>
            <li>Uma homenagem de (nome da pessoa que está enviando) e família (sobrenome da família)</li>
            <li>Sinceras condolências de toda a Família (sobrenome da família)</li>
            <li>Condolências aos amigos e parentes – Família (sobrenome da família)</li>
            <li>Com carinho, uma homenagem da Família (sobrenome)</li>
            <li>À família (sobrenome da pessoa falecida), nossas sinceras condolências – Família   (sobrenome)</li>
            <li>Saudades de todos os seus familiares – Família (sobrenome da família)</li>
        </ul>
    </div>

    <div class="half" style="line-height:20px;">
        <div class="title qlassik">Amigos Próximos </div>
        <ul>
            <li>Uma pessoa nunca morre quando está viva em nossos corações – Amigos da    (referência)</li>
            <li>Saudades eternas de uma pessoa especial – Amigos da (referência)</li>
            <li>Obrigado por fazer parte de nossas vidas – Amigos da (referência)</li>
            <li>Você sempre estará presente em nossos corações – Amigos da (referência)</li>
            <li>Brilha uma nova estrela no céu. Sentimentos dos Amigos da (referência)</li>
            <li>À família (sobrenome da pessoa falecida), nossas sinceras condolências – Amigos da (referência)</li>
            <li>Descanse em paz e vá com Deus – Amigos da (referência)</li>
            <li>Foi uma honra contar com a sua amizade – Amigos da (referência)</li>
            <li>Ao melhor amigo do mundo – (nome da pessoa que está enviando)</li>
        </ul>
    </div>
</div>