body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
}

.l {
    text-align: left
}

.r {
    text-align: right
}

#first-call,
.c,
.cropper {
    text-align: center
}

h1 {
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 31px;
    margin-top: 90px;
    line-height: 35px;
}

h1+span {
    display: inline-block;
    width: 15%;
    height: 3px;
    background: #fff;
    margin-bottom: 5px
}

h2 {
    font-weight: 300;
    color: #707070;
    font-size: 21px
}

section h3,
section h4,
section#cta label {
    font-family: Oswald, sans-serif
}

h2 b {
    margin: 10px 0;
    display: block
}

.cropper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative
}

.cropper img {
    width: 100%;
    height: auto
}

.space-me {
    display: block;
    width: 100%;
    white-space: nowrap;
    background-color: transparent
}

.space-me.ten-px {
    min-height: 10px
}

.space-me.fifteen-px {
    min-height: 15px
}

.space-me.twenty-px {
    min-height: 20px
}

.space-me.thirty-px {
    min-height: 30px
}

.space-me.fifty-px {
    min-height: 50px
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

header {
    background-image: url(../img/banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #fff;
    height: 690px;
}

#first-call,
.product-card span {
    background-repeat: no-repeat;
    background-size: contain
}

header .logo .divider {
    margin: 5px 15px;
    width: 1px;
    max-width: 1px;
    overflow: hidden;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .3);
    height: 36px;
    display: inline-block
}

.textKit{
    font-size: 40px;
    line-height: 38px;
    margin: 140px 0 0 0;
}
.forte{
    font-size: 33px;
}
.logo{
    margin-top: 150px;
}

.acesso-empresas {
    float: left;
    padding: 11px 35px;
    margin: 8px 0 0 0;
    background-color: #f19800;
}

.btn-stroke {
    color: #FFF;
    font-size: 22px;
    border: none;
    border-radius: 0;
}

.conheca-programa {
    padding: 11px 35px;
    margin: 25px 0 0 0;
    background-color: #00913d;
}


.conheca h4{
    color: #888888;
    margin-top: 40px;
    font-size: 50px;
}

.conheca span{
    color: #00913d;
}

.conheca hr{
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0;
    border-top: 5px solid #00913d;
    width: 50%;
}

.conheca p{
    font-size: 24px;
    color: #888888;
    margin-bottom: 30px;
}


.conheca .saiba-compoe {
    padding: 7px 35px;
    margin: 25px 0 0 0;
    background-color: #ed5564;
}

.conheca .contrate-agora {
    padding: 7px 60px;
    margin: 25px 0 60px 0;
    background-color: #f19800;
}


.veja {
    background: #caa674 url(../img/bg-verde.jpg);
    height: 720px;
    width: 100%;
    background-repeat: no-repeat;
}

.veja h4{
    color: #fff;
    margin: 50px 0 40px 0;
    text-transform: none;
    font-size: 50px;
}

.veja .box{
    color: #fff;
    font-size: 25px;
    margin: 20px 0 0 0;
}

.veja span{
    font-size: 27px;
    color: #26a15a;
}

.veja .saiba-mais {
    padding: 0px 21px;
    margin: 10px 0 0 0;
    background-color: #bfbfbf;
    color: #000;
}

.veja .contrate-agora {
    padding: 7px 60px;
    margin: 60px auto;
    display: table;
    background-color: #eeeeee;
    float: none;
    color: #000;
}

.parceiros {
    background: #caa674 url(../img/bg-cinza.jpg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
}

.parceiros h4{
    color: #fff;
    margin: 50px 0 40px 0;
    text-transform: none;
    font-size: 50px;
}

.parceiros hr{
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0;
    border-top: 5px solid #f19800;
    width: 50%;
}

.parceiros img{
    margin: 20px auto;
}

.parceiros h3{
    color: #fff;
    margin: 25px 0 0 0;
    text-transform: none;
    font-size: 28px;
    text-align: center;
}

.parceiros .saiba-mais {
    padding: 7px 40px;
    margin: 30px auto;
    display: table;
    background-color: #f19800;
    float: none;
    color: #fff;
}


.porque h4{
    color: #888888;
    margin: 160px 0 40px 0;
    text-transform: none;
    font-size: 46px;
}

.porque .imgLinha{
    margin: 40px 0 0 0;
}

.porque .imgLinha img{
    padding-left: 30px;
}

.porque span{
    color: #f06271;
    font-weight: bold;
}

.porque .box{
    margin:48px 0 0 0;
}

.porque .box p{
    font-size: 28px;
    color: #888888;
    font-weight: 500;
}


.quemSomos {
    background-color: #f06271;
    height: 400px;
    width: 100%;
}

.quemSomos h4{
    color: #fff;
    margin: 160px 0 40px 0;
    text-transform: none;
    font-size: 46px;
}

.quemSomos .imgLinha{
    margin: 40px 0 0 0;
}

.quemSomos .imgLinha img{
    padding-left: 30px;
}

.quemSomos p{
    color: #fff;
    margin-top: 57px;
    padding: 0;
    font-size: 21px;
}



footer#cta {
    background-image: url(../img/bg-footer.jpg);
    height: 100%;
    width: 100%;
}

#cta h1{
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 50px;
}

footer#cta h5 {
    font-size: 24px;
    margin-bottom: 72px;
    margin-top: 50px;
    color: #fff;
}

footer#cta ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}

.copyright{
    color: #fff;
    font-size: 13px;
    margin-left: 67px;
}
form{
    margin: 0 auto;
    width: 75%;
}

footer#cta label {
    padding: 8px 15px 20px;
    font-weight: 300;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    text-align: right;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
}

footer#cta .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

footer#cta .btn-send {
    background-color: #00adee;
    color: #fff;
    font-size: 21px;
    transition: .6s;
    font-weight: 700;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 85px;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer#cta .btn-send:hover {
    box-shadow: inset 0 0 0 4px #c9a471
}

footer#text {
    background: #CE202D;
    color: #fff;
    padding: 50px 0 70px
}

section h3,
section h4 {
    font-size: 32px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px
}

section .FeaturesWork {
    margin-bottom: 30px
}

section#text img {
    max-width: 100%
}

section#text h3 {
    margin-bottom: 50px
}

section#text h3 b,
section#text h4 b {
    font-weight: 500
}

section#cta span,
section#text span {
    display: inline-block;
    width: 80px;
    height: 2px;
    background: #fff;
    margin-bottom: 10px
}

section#text p {
    font-size: 16px;
    line-height: 1.5;
    text-render: optimizeLegibility
}

section#empresa {
    background-color: #f8f8f8;
    padding: 40px 0;
    margin-top: 50px;
    color: #828282
}

section#empresa img {
    width: 100%;
    height: auto;
    border: 7px solid #fff;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, .1);
    -moz-box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, .1);
    box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, .1)
}

section#empresa h3 {
    margin-top: 0;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #cd0316
}

section#empresa p {
    line-height: 22px
}

section.showroom {
    height: 700px;
    height: 100vh;
    box-sizing: border-box;
    padding: 11% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    overflow: hidden;
    position: relative
}

span.controlling {
    display: block;
    position: absolute;
    height: 20px;
    width: 50px;
    border-radius: 50%/100%;
    background-color: transparent;
    border: 2px solid #fff;
    background-image: url(../img/ui/icons-spritesheet.png);
    background-repeat: no-repeat;
    left: 50%;
    opacity: .5;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    cursor: pointer
}

span.controlling:hover {
    opacity: 1
}

span.controlling.prev-section {
    top: 0;
    margin-left: -24px;
    background-position: 17px -364px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none
}

span.controlling.next-section {
    bottom: 0;
    margin-left: 24px;
    background-position: 17px -326px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none
}

section.showroom#flores-nobres {
    background-image: url(../img/ui/flores-nobres-bg.jpg)
}

section.showroom#rosas-nacionais {
    background-image: url(../img/ui/rosas-nacionais-bg.jpg)
}

section.showroom#orquidea {
    background-image: url(../img/ui/orquidea-bg.jpg)
}

section.showroom .photo {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

section.showroom .photo img {
    width: 80%;
    margin-top: 45px;
    display: inline-block
}

section.showroom#rosas-nacionais .photo img {
    margin-top: 75px;
    width: 90%
}

section.showroom#orquidea .photo img {
    margin-top: 30px;
    width: 65%
}

section.showroom h3 {
    font-family: Oswald;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    margin-top: 10px
}

section.showroom h4 {
    font-size: 18px;
    margin: 35px 0 10px
}

section.showroom p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px
}

section.showroom span p {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500
}

section.showroom p b {
    font-size: 44px
}

section.showroom .btn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 18px 50px;
    margin-top: 15px;
    font-size: 16px
}

section.showroom#flores-nobres .btn:focus,
section.showroom#flores-nobres .btn:hover {
    color: #bd315b
}

section.showroom#rosas-nacionais .btn:focus,
section.showroom#rosas-nacionais .btn:hover {
    color: #a92c2c
}

section.showroom#orquidea .btn:focus,
section.showroom#orquidea .btn:hover {
    color: #5d4f60
}

footer {
    background-color: #f0f0f0;
    color: #777;
    padding: 15px 0;
    font-size: 13px
}

.btn-primary {
    background-color: #cd0316;
    color: #fff;
    border-color: #cd0316
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #a60111;
    border-color: #a60111;
    color: #fff
}

@media screen and (min-width:1400px) {
    .product-card span#p-flores {
        margin: 0 0 0 120px
    }
    .product-card span#p-rosas {
        margin: 0 0 0 60px
    }
    .product-card span#p-orquidea {
        margin: 0 50px
    }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .product-card span#p-flores {
        margin: 0 0 0 120px
    }
    .product-card span#p-rosas {
        margin: 0 0 0 60px
    }
    .product-card span#p-orquidea {
        margin: 0 50px
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .product-card span#p-flores {
        margin: 0 0 0 60px
    }
    .product-card p {
        margin-right: 30px
    }
    #features .feature#pagamento span {
        background-position: 202px 2px
    }
    #features .feature#flores span {
        background-position: 202px -53px
    }
    #features .feature#cartao span {
        background-position: 202px -110px
    }
    #features .feature#frete span {
        background-position: 200px -164px
    }
    #features .feature#atendimento span {
        background-position: 202px -218px
    }
    #features .feature#entrega span {
        background-position: 202px -275px
    }
    section.showroom {
        min-height: 100vh;
        height: initial
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    header #first-call h1 {
        font-size: 36px
    }
    #features .feature#pagamento span {
        background-position: 148px 2px
    }
    #features .feature#flores span {
        background-position: 148px -53px
    }
    #features .feature#cartao span {
        background-position: 148px -110px
    }
    #features .feature#frete span {
        background-position: 146px -164px
    }
    #features .feature#atendimento span {
        background-position: 148px -218px
    }
    #features .feature#entrega span {
        background-position: 148px -275px
    }
    .product-card p {
        margin-right: 20px
    }
    .product-card h2 {
        margin: 0 10px;
        padding-left: 60px;
        letter-spacing: -.5px;
        min-height: 52px
    }
    section.showroom {
        min-height: 600px;
        height: initial
    }
}

@media screen and (min-width:1px) and (max-width:767px) {
    .product-card,
    .product-card h2,
    .product-card h3,
    header .logo,
    section#empresa h3,
    section.showroom,
    section.showroom .r {
        text-align: center
    }
    header {
        height: initial;
        margin-bottom: 0;
        max-height: none
    }
    header .logo span {
        display: block;
        width: 100%
    }
    header #first-call {
        background: 0 0;
        padding: 0;
        text-align: center
    }
    header #first-call h1 {
        margin-top: 20px;
        padding: 0;
        font-size: 25px
    }
    header br {
        display: none
    }
    .textKit {
        font-size: 60px;
        margin: 12px 0 0 0;
    }
    .logo {
        margin-top: 65px;
    }
    .product-card span#p-flores {
        padding-bottom: 100%;
        margin: 0 0 0 20px
    }
    .product-card span#p-rosas {
        padding-bottom: 100%
    }
    .product-card span#p-orquidea {
        padding-bottom: 120%
    }
    .product-card {
        margin-bottom: 50px
    }
    .product-card>div {
        display: inline-block;
        width: 100%;
        max-width: 400px
    }
    .product-card p {
        margin-right: 20px
    }
    .product-card h2 {
        margin: 0 10px;
        letter-spacing: -.5px
    }
    section#empresa {
        margin-top: 0
    }
    section#empresa img {
        border: 5px solid #fff
    }
    section#empresa h3 {
        margin-top: 15px
    }
    section#empresa p {
        line-height: 25px
    }
    section.showroom {
        height: initial;
        min-height: 500px
    }
    section.showroom .container {
        max-width: 320px
    }
    section.showroom h3 {
        margin-top: 30px;
        font-size: 30px;
        line-height: initial
    }
    section.showroom p b {
        font-size: 30px
    }

    .copyright {
    color: #fff;
    font-size: 13px;
    margin-left: 0;
}
}

section#text li {
    font-size: 18px;
    padding-bottom: 15px
}

#BtnMain {
    text-decoration: none;
    background-color: #c9a471;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 20px;
    border-radius: 0;
}