﻿@model Domain.Entities.Repasse

<!-- #region - VARIAVEIS -->
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _statusEntrega = ViewBag.StatusEntregaPedido;
}

<!-- #endregion -->


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            var _statusEntrega = '@ViewBag.StatusEntregaPedido';

            //Recuperar os parametros da URL quando tiver filtro
            var urlParams;
            (window.onpopstate = function () {
                var match,
                    pl = /\+/g,  // Regex for replacing addition symbol with a spaceleilao
                    search = /([^&=]+)=?([^&]*)/g,
                    decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                    query = window.location.search.substring(1);

                urlParams = {};
                while (match = search.exec(query))
                    urlParams[decode(match[1])] = decode(match[2]);
            })();

            
            if (_statusEntrega =="PendenteAtendimento") {
                swal("Pendente de Atendimento!", "Status de Entrega - Pendente de Atendimento \n\n\ Verifique as informações e conclua o preenchimento dos dados para processar entrega !", "warning");
            }

            if (_statusEntrega =="PendenteFornecedor") {
                swal("Pendente de Fornecedor!", "Status de Entrega - Pendente de Fornecedor \n\n\ Verifique as informações e conclua o preenchimento dos dados para processar entrega !", "warning");
            }

            if (_statusEntrega =="Cancelado") {
                swal("Cancelado!", "Pedido cancelado !", "error");
            }

            if (_statusEntrega == "EmProducao") {
                swal("Em Produção", "Pedido em processo de Produção  \n\n\ As informações deste pedido não podem ser alteradas.!", "warning");
            }

            if (_statusEntrega == "EntregaEmAndamento") {
                swal("Entrega em Andamento", "Pedido em processo de Entrega em Andamento  \n\n\ As informações deste pedido já podem ser preenchidas!", "success");
            }

            if (_statusEntrega == "Entregue") {
                swal("Entregue", "Pedido já Entregue pela Floricultura !", "success");
            }

            $("#li_pedidos").addClass("active");

            $("#dataentrega").mask("00/00/0000", { placeholder: "__/__/____" });
            $("#horaentrega").mask("00:00", { placeholder: "__:__" });
            $("#dataentrega").datepicker({ showOtherMonths: true });

            $("#form").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    form.submit();
                },
                rules: {
                    dataentrega: "required",
                    horaentrega: "required",
                    recebidopor: "required",
                    parentesco: "required"
                },
                messages: {
                    dataentrega: "Digite a data de entrega",
                    horaentrega: "Digite a hora de entrega",
                    recebidopor: "Digite o nome de quem recebeu",
                    parentesco: "Digite o parentesco de quem recebeu"
                }
            });
        });
    </script>
}
@if (Model != null)
{
    if (Model.PedidoEmpresa != null)
    {
        <h2>PEDIDO CORPORATIVO</h2>
    }
    else
    {
        <h2>PEDIDO CPV</h2>
    }
}

@using (Html.BeginForm("Editar", "Pedidos", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form", enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>
            @if (Model != null)
            {
                if (Model.PedidoEmpresa != null)
                {
                    @Model.PedidoEmpresaID
                }
                else
                {
                    @Model.PedidoItem.Pedido.Numero
                }
            }
            else
            {
                if (Model != null)
                {
                    if (Model.PedidoItem != null)
                    {
                        if (Model.PedidoItem.Pedido != null)
                        {
                            @Model.PedidoItem.Pedido.Numero
                        }
                    }
                }
            }
        </legend>

        <!-- #region - Detalhes -->
        <h3>Detalhes</h3>
        <table style="width:100%">
            <tr>
                <td>
                    @if (Model.PedidoEmpresa != null)
                    {
                        <a target="_blank" href="/Pedidos/PrintEntrega?PedidoID=@Model.PedidoEmpresaID&TipoPedido=Empresa">FORMULÁRIO DE ENTREGA</a>
                    }
                    else
                    {
                        <a target="_blank" href="/Pedidos/PrintEntrega?PedidoID=@Model.PedidoItem.Pedido.ID&TipoPedido=Cliente">FORMULÁRIO DE ENTREGA</a>
                    }
                </td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Data do Pedido
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            @Model.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        }
                        else
                        {
                            @Model.PedidoItem.Pedido.DataCriacao.ToString("dd/MM/yyyy HH:mm")
                        }
                    </div>

                </td>
                <td>
                    <div class="editor-label">
                        Data/Hora Solicitada para Entrega
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            if (Model.PedidoEmpresa.DataSolicitada.TimeOfDay.ToString().Equals("00:00:00") && Model.PedidoEmpresa.Observacoes.Contains("Horário de Entrega:"))
                            {
                                @Model.PedidoEmpresa.DataSolicitada.ToString("dd/MM/yyyy")
                                <br />
                                if (@Model.PedidoEmpresa.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "\n às \n").Trim().Length > 13)
                                {
                                    @Model.PedidoEmpresa.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "\n às \n").Trim().Substring(0, 14)
                                }
                                else
                                {
                                    @Model.PedidoEmpresa.Observacoes.Replace("Horário de Entrega:", "").Trim().Replace("entre as", "").Trim().Replace("e as", "\n às \n").Trim()
                                }
                            }
                            else
                            {
                                @Model.PedidoEmpresa.DataSolicitada.ToString("dd/MM/yyyy HH:mm")
                            }
                        }
                        else
                        {
                            @Model.PedidoItem.Pedido.DataSolicitada.ToString("dd/MM/yyyy HH:mm")
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Local de Entrega
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            if (@Model.PedidoEmpresa.LocalEntrega != "-- selecione --")
                            {
                                @Model.PedidoEmpresa.LocalEntrega <br />
                            }

                            @Model.PedidoEmpresa.ComplementoLocalEntrega <br />

                            @Model.PedidoEmpresa.Cidade.NomeCompleto
                        }
                        else
                        {
                            if(Model.PedidoItem != null)
                            {
                                if(Model.PedidoItem.Pedido.Local != null)
                                {
                                    @Model.PedidoItem.Pedido.Local.Titulo <br />

                                    @Model.PedidoItem.Pedido.ComplementoLocalEntrega<br />

                                    @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                                }
                                else
                                {
                                    @Model.PedidoItem.Pedido.ComplementoLocalEntrega<br />

                                    @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                                }
                            }
                            else
                            {
                                @Model.PedidoItem.Pedido.ComplementoLocalEntrega<br />

                                @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                            }
                        }

                        @*@if (Model.PedidoEmpresa != null)
                        {*@
                            @*@Model.PedidoEmpresa.LocalEntrega
                                @Model.PedidoEmpresa.ComplementoLocalEntrega
                                <br />@Model.PedidoEmpresa.Cidade.NomeCompleto*@

                        @*if (Model.PedidoEmpresa.Local != null)
                        {
                            @Model.PedidoEmpresa.Local.Titulo<br />
                            @Model.PedidoEmpresa.ComplementoLocalEntrega
                        }
                        else
                        {
                            if (Model.PedidoItem == null)
                            {
                                @Model.PedidoEmpresa.ComplementoLocalEntrega
                            }
                            else
                            {
                                if (Model.PedidoItem.Pedido.Local == null)
                                {
                                    @Model.PedidoItem.Pedido.LocalEntrega
                                    <br />
                                    @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                                }
                                else
                                {
                                    @Model.PedidoItem.Pedido.Local.Titulo
                                    <br />
                                    @Model.PedidoItem.Pedido.ComplementoLocalEntrega
                                    }
                                }
                            }
                        }
                        else
                        {
                            if (Model.PedidoItem == null)
                            {
                                if (Model.PedidoEmpresa != null)
                                {
                                    @Model.PedidoEmpresa.ComplementoLocalEntrega
                                }
                            }
                            else
                            {
                                if (Model.PedidoItem.Pedido.Local == null)
                                {
                                    @Model.PedidoItem.Pedido.LocalEntrega
                                    <br />
                                    @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                                }
                                else
                                {
                                    @Model.PedidoItem.Pedido.Local.Titulo
                                    <br />
                                    if (Model.PedidoItem.Pedido.ComplementoLocalEntrega != null)
                                    {
                                        @Model.PedidoItem.Pedido.Cidade.NomeCompleto
                                    }
                                }
                            }
                        }*@
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        Pessoa Homenageada
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            @Model.PedidoEmpresa.PessoaHomenageada
                        }
                        else
                        {
                            @Model.PedidoItem.Pedido.PessoaHomenageada
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Status Entrega (Cliente)
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            @Domain.Helpers.EnumHelper.GetDescription(Model.PedidoEmpresa.StatusEntrega)
                        }
                        else
                        {
                            @Domain.Helpers.EnumHelper.GetDescription(Model.PedidoItem.Pedido.StatusEntrega)
                        }
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        Valor de Repasse
                    </div>
                    <div class="editor-field">
                        @(Model.ValorRepasse > 0 ? Model.ValorRepasse.ToString("C2") : "Não Informado")
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Data de Repasse
                    </div>
                    <div class="editor-field">
                        @(Model.DataRepasse.HasValue ? Model.DataRepasse.Value.ToString("dd/MM/yyyy HH:mm") : "Não Realizado")
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        Status de Pagamento
                    </div>
                    <div class="editor-field">
                        @Domain.Helpers.EnumHelper.GetDescription(Model.Status)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        Observações
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            @Model.PedidoEmpresa.Observacoes
                        }
                        else
                        {
                            @Model.PedidoItem.Pedido.Observacoes
                        }
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        Relacionamento
                    </div>
                    <div class="editor-field">
                        @if (Model.PedidoEmpresa != null)
                        {
                            @Model.PedidoEmpresa.ParentescoRecebidoPor
                        }
                        else
                        {
                            @Model.PedidoItem.Pedido.ParentescoRecebidoPor
                        }
                    </div>
                </td>
            </tr>
        </table>
        <!-- #endregion -->
        <hr />

        <!-- #region - Produtos -->
        <h3>Produtos</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Foto </th>
                <th>Descrição</th>
                <th>Produto</th>
                <th>Tamanho</th>
                <th>Frase de Homenagem</th>
                @*<th>Envie a foto do produto entregue</th>*@
            </tr>
            @if (Model.PedidoEmpresaID.HasValue)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle">
                        <img src="/content/produtos/@Model.PedidoEmpresa.ProdutoTamanho.Produto.ID/thumb/@Model.PedidoEmpresa.ProdutoTamanho.Produto.Foto" height="100" />
                    </td>
                    <td style="text-align: center; vertical-align: middle" width="200px">
                        @if (Model.PedidoEmpresa.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                        {
                            <b>Número:</b>@Model.PedidoEmpresa.ProdutoTamanho.Produto.Numero<br /><br />
                            @Model.PedidoEmpresa.ProdutoTamanho.Produto.Nome
                        }
                        else
                        {@Model.PedidoEmpresa.DescricaoProduto}
                    </td>
                    <td style="text-align: center; vertical-align: middle" >
                        @if (Model.PedidoEmpresa.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                        {
                            <b>Número:</b>@Model.PedidoEmpresa.ProdutoTamanho.Produto.Numero<br /><br />
                            @Model.PedidoEmpresa.ProdutoTamanho.Produto.Nome
                        }
                        else
                        {@Model.PedidoEmpresa.ProdutoTamanho.Produto.Tipo}
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @Model.PedidoEmpresa.ProdutoTamanho.Tamanho.Nome <br />@Model.PedidoEmpresa.ProdutoTamanho.Tamanho.Dimensao
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @Model.PedidoEmpresa.Mensagem
                    </td>
                    @*<td>@Html.InputFile("File")</td>*@
                </tr>
            }
            else if (Model.PedidoItemID.HasValue)
            {
                <tr>
                    <td style="text-align: center; vertical-align: middle" width="200px">
                        <img src="/content/produtos/@Model.PedidoItem.ProdutoTamanho.Produto.ID/thumb/@Model.PedidoItem.ProdutoTamanho.Produto.Foto" height="100" />
                    </td>
                    <td style="text-align: center; vertical-align: middle" width="300px">
                        @if (Model.PedidoItem.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                        {
                            <b>Número:</b>@Model.PedidoItem.ProdutoTamanho.Produto.Numero<br /><br />
                            @Model.PedidoItem.ProdutoTamanho.Produto.Nome
                        }
                        else
                        {
                            <strong>Produto:</strong>
                            <br />
                             @Model.PedidoItem.ProdutoTamanho.Produto.Tipo
                            <br /><br /><strong>Descrição:</strong>
                            <br />
                            @Model.PedidoItem.Descricao.Replace("Produto personalizado:", "")
                        }
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @if (Model.PedidoItem.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                        {
                            <b>Número:</b>@Model.PedidoItem.ProdutoTamanho.Produto.Numero<br /><br />
                            @Model.PedidoItem.ProdutoTamanho.Produto.Nome
                        }
                        else
                        {@Model.PedidoItem.ProdutoTamanho.Produto.Tipo}
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @Model.PedidoItem.ProdutoTamanho.Tamanho.Nome <br />@Model.PedidoItem.ProdutoTamanho.Tamanho.Dimensao
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @Model.PedidoItem.Mensagem
                    </td>
                    @*<td><input type="file" id="foto_@(Model.PedidoItem.ID)" name="foto_@(Model.PedidoItem.ID)" /></td>*@
                </tr>
            }
        </table>
        <hr />
        <div class="tab-pane" id="formcontrols">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.PedidoEmpresaID)
            @Html.HiddenFor(model => model.PedidoItemID)
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="firstname">Data de Entrega</label>
                    <div class="controls">
                        @if (Model.PedidoEmpresaID.HasValue)
                        {
                            <text><input type="text" class="span3" id="dataentrega" name="dataentrega" value="@(Model.PedidoEmpresa.DataEntrega.HasValue ? Model.PedidoEmpresa.DataEntrega.Value.ToString("dd/MM/yyyy").Trim() : "")"></text>
                        }
                        else if (Model.PedidoItemID.HasValue)
                        {
                            <text><input type="text" class="span3" id="dataentrega" name="dataentrega" value="@(Model.PedidoItem.Pedido.DataEntrega.HasValue ? Model.PedidoItem.Pedido.DataEntrega.Value.ToString("dd/MM/yyyy").Trim() : "")"></text>
                        }
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->

                <div class="control-group">
                    <label class="control-label" for="firstname">Hora de Entrega</label>
                    <div class="controls">
                        @if (Model.PedidoEmpresaID.HasValue)
                        {
                            <text><input type="text" class="span3" id="horaentrega" name="horaentrega" value="@(Model.PedidoEmpresa.DataEntrega.HasValue ? Model.PedidoEmpresa.DataEntrega.Value.ToString("HH:mm").Trim() : "")"></text>
                        }
                        else if (Model.PedidoItemID.HasValue)
                        {
                            <text><input type="text" class="span3" id="horaentrega" name="horaentrega" value="@(Model.PedidoItem.Pedido.DataEntrega.HasValue ? Model.PedidoItem.Pedido.DataEntrega.Value.ToString("HH:mm").Trim() : "")"></text>
                        }
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="lastname">Recebido por</label>
                    <div class="controls">
                        <input type="text" class="span6" id="recebidopor" name="recebidopor" value="@(Model.PedidoEmpresaID.HasValue ? Model.PedidoEmpresa.RecebidoPor : Model.PedidoItem.Pedido.RecebidoPor)">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->


                <div class="control-group">
                    <label class="control-label" for="lastname">Relacionamento com o homenageado (quem recebeu o produto)</label>
                    <div class="controls">
                        <input type="text" class="span6" id="parentesco" name="parentesco" value="@(Model.PedidoEmpresaID.HasValue ? Model.PedidoEmpresa.ParentescoRecebidoPor : Model.PedidoItem.Pedido.ParentescoRecebidoPor)">
                    </div> <!-- /controls -->
                </div> <!-- /control-group -->

                <div class="control-group">
                    <label class="control-label" for="lastname">Observação do Fornecedor</label>
                    <div class="controls">
                        <textarea id="observacao" name="observacao" class="span6">@(Model.PedidoEmpresaID.HasValue ? Model.PedidoEmpresa.FornecedorObservacoes : Model.PedidoItem.Pedido.FornecedorObservacoes)</textarea>
                    </div> <!-- /controls -->
                </div>


                <div class="control-group">
                    <label class="control-label" for="lastname">O produto foi entregue no local?</label>
                    <div class="controls">
                        @if (Model.PedidoEmpresaID.HasValue)
                        {
                            if (Model.PedidoEmpresa.FornecedorEntregou.HasValue)
                            {
                                <text><input type="checkbox" name="entregou" id="entregou" value="on" @(Model.PedidoEmpresa.FornecedorEntregou.Value ? "checked" : "")> SIM</text>
                            }
                            else
                            {
                                <text><input type="checkbox" name="entregou" id="entregou" value="on"> SIM</text>
                            }
                        }
                        else if (Model.PedidoItemID.HasValue)
                        {
                            if (Model.PedidoItem.Pedido.FornecedorEntregou.HasValue)
                            {
                                <text><input type="checkbox" name="entregou" id="entregou" value="on" @(Model.PedidoItem.Pedido.FornecedorEntregou.Value ? "checked" : "")> SIM</text>
                            }
                            else
                            {
                                <text><input type="checkbox" name="entregou" id="entregou" value="on"> SIM</text>
                            }
                        }
                        <//div>
                    </div> <!-- /control-group -->
            </fieldset>
        </div>
        <!-- #endregion -->
        <br />
        <br />

        <!-- #region - MSG DE BLOQUEIO -->
        <p>
            @if (ViewBag.PodeEditar)
            {
                <input type="submit" class="btn btn-primary" value="Salvar" />
            }
            else
            {
                <div class="mws-form-message mws-panel warning">
                    ATENÇÃO! <br /><br />As informações deste pedido não podem ser alteradas. <br /><br />Status: @ViewBag.StatusEntregaPedido
                </div><br />
            }
            <input type="reset" class="btn" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("index")';" />
        </p>
        <!-- #endregion -->

    </fieldset>
}