﻿@model IEnumerable<Domain.Entities.Repasse>

    @{
        ViewBag.Title = "Pedidos";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Scripts{

        <script type="text/javascript">
            $(function () {
                $("#datainicial").datepicker();
                $("#datafinal").datepicker();
            });

            $(document).ready(function () {

                $(".tdNomeProduto").click(function () {
                    var idxbtn = $('.tdNomeProduto').index(this);
                    var _idPedido = $('input[name="fotoProdutoID"]')[idxbtn].value.toString().trim();
                    var _nomeProduto = $('input[name="fotoProdutoNome"]')[idxbtn].value.toString().trim();
                    var _fotoProduto = $('input[name="fotoProdutoImg"]')[idxbtn].value.toString().trim();

                    
                    swal({
                        title: _nomeProduto,
                        imageUrl: "http://cdn.coroasparavelorio.com.br/produtos/" + _idPedido + "/thumb/" + _fotoProduto,
                        imageWidth: 400,
                        imageHeight: 200,
                        animation: false
                    })
                });

                $("#li_pedidos").addClass("active");

                $(".filtrarBtn").click(function () {
                    if ($(".InputNUmero").val() == "") {
                        if ($("#datainicial").val() == "") {
                            // alert('Preencha uma data Inicial');
                            swal("OPS!", "Preencha uma Data Inicial!", "error");
                            return false;
                        }
                        if ($("#datafinal").val() == "") {
                            //alert('Preencha uma data Final');
                            swal("OPS!", "Preencha uma Data Final!", "error");
                            return false;
                        }
                    }
                });

              
                var date_from_string = function (str) {
                    var _Data = str.replace(/(\r\n|\n|\r)/gm, "").trim().slice(0, 11);
                    var _Horario = str.replace(/(\r\n|\n|\r)/gm, "").trim().slice(50, 55);;

                    var Dia = _Data.split("/")[0].trim();
                    var Mes = _Data.split("/")[1].trim();
                    var Ano = _Data.split("/")[2].trim();

                    var Hora = _Horario.split(":")[0].trim();
                    var Minuto = _Horario.split(":")[1].trim();

                    return new Date(Dia, Mes, Ano, Hora, Minuto);
                }

                //Recuperar os parametros da URL quando tiver filtro
                var urlParams;
                (window.onpopstate = function () {
                    var match,
                        pl = /\+/g,  // Regex for replacing addition symbol with a spaceleilao
                        search = /([^&=]+)=?([^&]*)/g,
                        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                        query = window.location.search.substring(1);

                    urlParams = {};
                    while (match = search.exec(query))
                        urlParams[decode(match[1])] = decode(match[2]);
                })();

                if (!!urlParams["cod"]) {
                    _codAcao = urlParams["cod"];

                    if (!!urlParams["msg"]) {
                        _msg = urlParams["msg"];
                    }

                    if (urlParams["cod"] == 'SaveSucess') {
                        swal("Pedido!", "Pedido " + _numeroPedido + " salvo com sucesso!", "success");
                    }

                    if (urlParams["cod"] == 'SaveFailure') {
                        swal("Pedido!", _msg, "error");
                    }
                }
            });

        </script>
    }
    @if (Request.QueryString["cod"] == "SaveSucess")
    {
        <script type="text/javascript">
            swal("Pedido!", "Pedido salvo com sucesso!", "success");
        </script>
        <div class="mws-form-message mws-panel success">Sucesso! <br />Registro salvo com sucesso.</div>
    }

    @if (Request.QueryString["cod"] == "SaveSucessConfEnt")
    {
        <script type="text/javascript">
            swal("Pedido!", "Preenchimento de Confirmação de Entrega do Pedido salvo com sucesso!", "success");
        </script>
        <div class="mws-form-message mws-panel success">Sucesso! <br />Preenchimento de Confirmação de Entrega do Pedido salvo com sucesso.</div>
    }

    @if (Request.QueryString["cod"] == "SaveFailure")
    {
        <script type="text/javascript">
            swal("Erro no Pedido!", "Falha na leituta dos dados do Pedido!", "error");
        </script>
        <div id="erro" class="mws-form-message error">Erro no Pedido! <br />Falha na leituta dos dados do Pedido.</div>
    }
    <!-- /widget -->

    @{ 
        var IdFornecedor = ViewBag.Fornecedor.ID;
    }

    <div class="widget widget-table action-table">
        <div class="widget-header " style="vertical-align: middle; text-align: center;">
            <h3>LISTA DE PEDIDOS</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <br />
            <form method="get">
                <table align="center" style="margin: 0px auto;">
                    <tr>
                        <td style="width: 20px;"></td>
                        <td> Data Pedido Inicial:</td>
                        <td style="width: 20px;"></td>
                        <td><input type="text" name="datainicial" id="datainicial" value="@(Request.QueryString["datainicial"] == null?DateTime.Today.ToString("dd/MM/yyyy"):Request.QueryString["datainicial"])" style="width:250px;" /></td>
                        <td style="width: 100px;"></td>
                        <td>Data Pedido Final:</td>
                        <td style="width: 20px;"></td>
                        <td><input type="text" name="datafinal" id="datafinal" value="@(Request.QueryString["datafinal"] == null?DateTime.Today.ToString("dd/MM/yyyy"):Request.QueryString["datafinal"])" autocomplete="off" style="width:250px;" /></td>
                        <td style="width: 20px;"></td>
                    </tr>
                </table>
                <div align="center" style="height:30px; top:50%">
                    <input type="submit" class="btn btn-success" value="Filtrar" />
                </div>
            </form>
            <hr />
            <table class="table table-striped table-bordered tblListaPedidos">
                <thead>
                    <tr>
                        <th data-sort="int" style="text-align: center; vertical-align: middle" class="td-actions">Pedido</th>
                        <th data-sort="date" style="text-align: center; vertical-align: middle">Data de Entrada</th>
                        <th data-sort="string" style="text-align: center; vertical-align: middle">Item</th>
                        <th data-sort="string" style="text-align: center; vertical-align: middle">Frase de Homenagem</th>
                        <th data-sort="string" style="text-align: center; vertical-align: middle;">Local / Homenageado</th>
                        <th data-sort="string" style="text-align: center; vertical-align: middle">Status de Entrega (Cliente)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td id="tdPedido" style="text-align: center; vertical-align: middle" width="150px">
                                    @{
                                        string PedidoID = "";
                                        if (item.PedidoEmpresa != null)
                                        {
                                            PedidoID = item.PedidoEmpresaID.ToString();
                                        }
                                        else
                                        {
                                            if (item.PedidoItem != null)
                                            {
                                                if (item.PedidoItem.Pedido != null)
                                                {
                                                    PedidoID = item.PedidoItem.Pedido.Numero;
                                                }
                                            }
                                        }
                                    }

                                    <a target="_blank" href="@Url.Action("editar", new { id = item.ID})">#@PedidoID</a>
                                </td>

                                <td id="tdDatacriacao" style="text-align: center; vertical-align: middle">
                                    @if (item.PedidoEmpresa != null)
                                    {
                                        @item.PedidoEmpresa.DataCriacao.ToString("dd/MM/yyyy")
                                        <br />
                                        @item.PedidoEmpresa.DataCriacao.ToString("HH:mm")
                                    }
                                    else
                                    {
                                        @item.PedidoItem.Pedido.DataCriacao.ToString("dd/MM/yyyy")
                                        <br />
                                        @item.PedidoItem.Pedido.DataCriacao.ToString("HH:mm")
                                    }
                                </td>
                                <td id="tdNomeProduto" style="text-align: center; vertical-align: middle" width="100px">
                                    <a href="#" class="tdNomeProduto">
                                        @if (item.PedidoEmpresa != null)
                                        {
                                            <input type="hidden" name="fotoProdutoID" id="fotoProdutoID" value="@item.PedidoEmpresa.ProdutoTamanho.Produto.ID" />
                                            <input type="hidden" name="fotoProdutoNome" id="fotoProdutoNome" value="@item.PedidoEmpresa.ProdutoTamanho.Produto.Nome" />
                                            <input type="hidden" name="fotoProdutoImg" id="fotoProdutoImg" value="@item.PedidoEmpresa.ProdutoTamanho.Produto.Foto" />

                                            if (item.PedidoEmpresa.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                                            {
                                                <strong>Produto:</strong>
                                                <br />
                                                @item.PedidoEmpresa.ProdutoTamanho.Produto.Tipo
                                                @*@item.PedidoEmpresa.ProdutoTamanho.Produto.Tipo.Replace("CoroaFlor", "Coroa")*@
                                                <br /><br /><strong>Número:</strong>
                                                <br />
                                                @item.PedidoEmpresa.ProdutoTamanho.Produto.Numero
                                                <br /><br /><strong>Descrição:</strong>
                                                <br />
                                                @item.PedidoEmpresa.ProdutoTamanho.Produto.Nome.Replace("Coroa de Flores", "")
                                                <br /><br /><strong>Tamanho:</strong>
                                                <br />
                                                @item.PedidoEmpresa.ProdutoTamanho.Tamanho.NomeCompleto
                                            }
                                            else
                                            {
                                                <strong>Produto:</strong>
                                                <br />
                                                @item.PedidoEmpresa.ProdutoTamanho.Produto.Tipo
                                                <br /><br /><strong>Descrição:</strong>
                                                <br />
                                                @item.PedidoEmpresa.DescricaoProduto
                                            }
                                        }
                                        else
                                        {
                                            <input type="hidden" name="fotoProdutoID" id="fotoProdutoID" value="@item.PedidoItem.ProdutoTamanho.Produto.ID" />
                                            <input type="hidden" name="fotoProdutoNome" id="fotoProdutoNome" value="@item.PedidoItem.ProdutoTamanho.Produto.Nome" />
                                            <input type="hidden" name="fotoProdutoImg" id="fotoProdutoImg" value="@item.PedidoItem.ProdutoTamanho.Produto.Foto" />

                                            if (item.PedidoItem.ProdutoTamanho.Produto.Tipo != Domain.Entities.Produto.Tipos.Personalizado)
                                            {
                                                <strong>Produto:</strong>
                                                <br />
                                                @item.PedidoItem.ProdutoTamanho.Produto.Tipo
                                                @*@item.PedidoItem.ProdutoTamanho.Produto.Tipo.Replace("CoroaFlor", "Coroa")*@
                                                <br /><br /><strong>Número:</strong>
                                                <br />
                                                @item.PedidoItem.ProdutoTamanho.Produto.Numero
                                                <br /><br /><strong>Descrição:</strong>
                                                <br />
                                                @item.PedidoItem.ProdutoTamanho.Produto.Nome.Replace("Coroa de Flores", "")
                                                <br /><br /><strong>Tamanho:</strong>
                                                <br />
                                                @item.PedidoItem.ProdutoTamanho.Tamanho.NomeCompleto
                                            }
                                            else
                                            {
                                                <strong>Produto:</strong>
                                                <br />
                                                @item.PedidoItem.ProdutoTamanho.Produto.Tipo
                                                <br /><br /><strong>Descrição:</strong>
                                                <br />
                                                @item.PedidoItem.Descricao.Replace("Produto personalizado:", "")
                                            }
                                        }
                                    </a>
                                </td>
                                <td id="tdFrase" style="text-align: center; vertical-align: middle" width="200px">
                                    @if (item.PedidoEmpresa != null)
                                    {
                                        @item.PedidoEmpresa.Mensagem
                                    }
                                    else
                                    {
                                        @item.PedidoItem.Mensagem
                                    }
                                </td>
                                <td id="tdLocalHomenageado" style="text-align: center; vertical-align: middle" width="200px">
                                    <strong>Local de Entrega:</strong>
                                    <br />
                                    @if (item.PedidoEmpresa != null)
                                    {
                                        <br />
                                        if (item.PedidoEmpresa.Local != null)
                                        {
                                            @item.PedidoEmpresa.Local.Titulo.ToUpper() <br /><br />
                                            if (item.PedidoEmpresa.ComplementoLocalEntrega != null)
                                            {@item.PedidoEmpresa.ComplementoLocalEntrega.ToUpper()<br /><br />}
                                            @item.PedidoEmpresa.Cidade.NomeCompleto.ToUpper() <br />
                                        }
                                        else
                                        {
                                            if (item.PedidoItem == null)
                                            {
                                                if (item.PedidoEmpresa.ComplementoLocalEntrega != null)
                                                {
                                                    @item.PedidoEmpresa.ComplementoLocalEntrega.ToUpper() <br /><br />
                                                }
                                                @item.PedidoEmpresa.Cidade.NomeCompleto.ToUpper() <br />
                                            }
                                            else
                                            {
                                                if (item.PedidoItem.Pedido.Local == null)
                                                {
                                                    @item.PedidoEmpresa.ComplementoLocalEntrega.ToUpper() <br /><br />
                                                    @item.PedidoEmpresa.Cidade.NomeCompleto.ToUpper() <br />
                                                }
                                                else
                                                {
                                                    if (item.PedidoItem != null)
                                                    {
                                                        @item.PedidoItem.Pedido.Local.Titulo.ToUpper() <br /><br />
                                                        @item.PedidoItem.Pedido.ComplementoLocalEntrega.ToUpper() <br /><br />
                                                        @item.PedidoItem.Pedido.Cidade.NomeCompleto.ToUpper() <br />
                                                    }
                                                }
                                            }
                                        }
                                        <br />
                                        <strong>Homenageado:</strong>
                                        <br />
                                        @item.PedidoEmpresa.PessoaHomenageada.ToUpper()
                                    }
                                    else
                                    {
                                        <br />
                                        if (item.PedidoItem == null)
                                        {
                                            if (item.PedidoEmpresa != null)
                                            {
                                                @item.PedidoEmpresa.ComplementoLocalEntrega.ToUpper() <br /><br />
                                                @item.PedidoEmpresa.Cidade.NomeCompleto.ToUpper() <br />
                                            }
                                        }
                                        else
                                        {
                                            if (item.PedidoItem.Pedido.Local == null)
                                            {
                                                if (item.PedidoItem.Pedido.ComplementoLocalEntrega != null)
                                                {
                                                    @item.PedidoItem.Pedido.ComplementoLocalEntrega.ToUpper()
                                                }
                                                <br /><br />
                                                @item.PedidoItem.Pedido.Cidade.NomeCompleto.ToUpper() <br />
                                            }
                                            else
                                            {
                                                if (item.PedidoItem.Pedido.Local != null)
                                                {
                                                    @item.PedidoItem.Pedido.Local.Titulo.ToUpper() <br /><br />
                                                    if (item.PedidoItem.Pedido.ComplementoLocalEntrega != null)
                                                    {
                                                        @item.PedidoItem.Pedido.Cidade.NomeCompleto.ToUpper() <br />
                                                    }
                                                }
                                            }
                                        }
                                        <br />
                                        <strong>Homenageado:</strong>
                                        <br />
                                        @item.PedidoItem.Pedido.PessoaHomenageada.ToUpper()
                                    }
                                </td>
                                <td id="tdStatusEnt" style="text-align: center; vertical-align: middle">
                                    @if (item.PedidoEmpresa != null)
                                    {
                                        #region CSS- NO Horario -->
                                        //-----------------------------------------------------------------------------
                                        var styleCor = "";
                                        var classCss = "";
                                        var icoclassCss = "";
                                        switch (item.PedidoEmpresa.StatusEntrega)
                                        {
                                            case Domain.Entities.TodosStatusEntrega.EmProducao:
                                                styleCor = "green";//verde
                                                icoclassCss = "fa fa-thumbs-up fa-stack-1x";
                                                break;  // Always break each case
                                            case Domain.Entities.TodosStatusEntrega.EntregaEmAndamento:
                                                styleCor = "#7eb216";//verde
                                                icoclassCss = "fa fa-truck fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.Entregue:
                                                styleCor = "#1399dc"; //azul
                                                icoclassCss = "fa fa-truck fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.PendenteAtendimento:
                                                styleCor = "black";
                                                icoclassCss = "fa fa-thumbs-down fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.PendenteFornecedor:
                                                styleCor = "black";
                                                icoclassCss = "fa fa-thumbs-down fa-stack-1x";
                                                break;
                                            default:
                                                styleCor = "black";
                                                break;
                                        }
                                        //-----------------------------------------------------------------------------
                                        #endregion

                                        var statusPedEmp = @Domain.Helpers.EnumHelper.GetDescription(item.PedidoEmpresa.StatusEntrega);
                                        <div style="text-align:center">
                                            <span align="center" class="fa-stack fa-lg" style="color: @styleCor; text-transform: uppercase;">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="@icoclassCss"></i>
                                            </span>
                                            <br />
                                            <span align="center" style="color: @styleCor; text-transform: uppercase;">
                                                <b>@statusPedEmp</b>
                                            </span>
                                            <span align="center" style="color: @styleCor; font-size: 2em; position: relative; top: 2px; left: 4px;" class="icon-ok" aria-hidden="true" aria-describedby="tooltip943664"></span>
                                        </div>

                                        @*var statusPedEmp = @Domain.Helpers.EnumHelper.GetDescription(item.PedidoEmpresa.StatusEntrega);
                                            <div style="display:inline-block; width:100px; text-align:center; vertical-align:middle">
                                                <a target="_blank" class="@classCss" href="@Url.Action("editar", new { id = item.PedidoEmpresaID })">
                                                    <i class="@icoclassCss" aria-hidden="true"></i>
                                                    <span style="display:inline-block; width:100px; height:50px; text-align:center; vertical-align:middle">@statusPedEmp</span>
                                                </a>
                                            </div>*@
                                    }
                                    else
                                    {
                                        #region CSS
                                        //-----------------------------------------------------------------------------
                                        var styleCor = "";
                                        var classCss = "";
                                        var icoclassCss = "";
                                        switch (item.PedidoItem.Pedido.StatusEntrega)
                                        {
                                            case Domain.Entities.TodosStatusEntrega.EmProducao:
                                                styleCor = "green";//verde
                                                icoclassCss = "fa fa-thumbs-up fa-stack-1x";
                                                break;  // Always break each case
                                            case Domain.Entities.TodosStatusEntrega.EntregaEmAndamento:
                                                styleCor = "#7eb216";//verde
                                                icoclassCss = "fa fa-truck fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.Entregue:
                                                styleCor = "#1399dc"; //azul
                                                icoclassCss = "fa fa-truck fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.PendenteAtendimento:
                                                styleCor = "black";
                                                icoclassCss = "fa fa-thumbs-down fa-stack-1x";
                                                break;
                                            case Domain.Entities.TodosStatusEntrega.PendenteFornecedor:
                                                styleCor = "black";
                                                icoclassCss = "fa fa-thumbs-down fa-stack-1x";
                                                break;
                                            default:
                                                styleCor = "black";
                                                break;
                                        }
                                        //-----------------------------------------------------------------------------
                                        #endregion

                                        var statusPedCpv = @Domain.Helpers.EnumHelper.GetDescription(item.PedidoItem.Pedido.StatusEntrega);
                                        <div style="text-align:center">
                                            <span align="center" class="fa-stack fa-lg" style="color: @styleCor; text-transform: uppercase;">
                                                <i class="fa fa-square-o fa-stack-2x"></i>
                                                <i class="@icoclassCss"></i>
                                            </span>
                                            <br />
                                            <span align="center" style="color: @styleCor; text-transform: uppercase;">
                                                <b>@statusPedCpv</b>
                                            </span>
                                            <span align="center" style="color: @styleCor; font-size: 2em; position: relative; top: 2px; left: 4px;" class="icon-ok" aria-hidden="true" aria-describedby="tooltip943664"></span>
                                        </div>
                                        @*<div style="display:inline-block; width:100px; text-align:center; vertical-align:middle">
                                                <a target="_blank" class="@classCss" href="@Url.Action("editar", new { id = item.PedidoItem.PedidoID })">
                                                    <i class="@icoclassCss" aria-hidden="true"></i>
                                                    <span style="display:inline-block; width:100px; height:50px; text-align:center; vertical-align:middle">@statusPedCpv</span>
                                                </a>
                                            </div>*@
                                    }
                                </td>
                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="odd"><td style="text-align: center; vertical-align: middle" colspan="13" class="dataTables_empty">Não há itens para serem exibidos</td></tr>
                                        }

                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
    <!-- Modal PEDIDO FOTO -->
    <div id="modalPedido" title="Produto do Pedido" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Produto</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Foto </th>
                            <th>Nome</th>
                            <th>Tamanho</th>
                            <th>Frase de Homenagem</th>
                        </tr>
                        @foreach (var ped in Model)
                        {
                            if (ped.PedidoEmpresaID.HasValue)
                            {
                                <tr>
                                    <td><img src="/content/produtos/ped.PedidoEmpresa.ProdutoTamanho.Produto.ID/thumb/ped.PedidoEmpresa.ProdutoTamanho.Produto.Foto" height="100" /><br />@Html.Raw(ped.PedidoEmpresa.ProdutoTamanho.Produto.Descricao)</td>
                                    <td>ped.PedidoEmpresa.ProdutoTamanho.Produto.Nome <br /> <b>Número:</b> ped.PedidoEmpresa.ProdutoTamanho.Produto.Numero<br />ped.PedidoEmpresa.DescricaoProduto</td>
                                    <td>ped.PedidoEmpresa.ProdutoTamanho.Tamanho.Nome <br />ped.PedidoEmpresa.ProdutoTamanho.Tamanho.Dimensao</td>
                                    <td>ped.PedidoEmpresa.Mensagem</td>
                                </tr>
                            }
                            else if (ped.PedidoItemID.HasValue)
                            {
                                foreach (var pedItem in ped.PedidoItem.Pedido.PedidoItems)
                                {
                                    <tr>
                                        <td><img src="/produtos/@pedItem.ProdutoTamanho.Produto.ID/thumb/@pedItem.ProdutoTamanho.Produto.Foto" height="100" /><br />@Html.Raw(pedItem.ProdutoTamanho.Produto.Descricao)</td>
                                        <td>@pedItem.ProdutoTamanho.Produto.Nome <br /> <b>Número:</b> @pedItem.ProdutoTamanho.Produto.Numero<br />@pedItem.Descricao</td>
                                        <td>@pedItem.ProdutoTamanho.Tamanho.Nome <br />@pedItem.ProdutoTamanho.Tamanho.Dimensao</td>
                                        <td>@pedItem.Mensagem</td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                    @*@foreach (var prod in Model)
                        {
                          <img src="/content/produtos/prod.PedidoItem.ProdutoTamanho.Produto.ID/thumb/prod.PedidoItem.ProdutoTamanho.Produto.Foto" style="height: 300px; width:300px" />
                          <br />
                          <br />
                          <label for="message-text" class="control-label">
                              @Html.Raw(prod.PedidoItem.ProdutoTamanho.Produto.Descricao)
                          </label>
                        }*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
