﻿@{
    Layout = null;
}
<style type="text/css">
    tr {
        height: 35px;
        line-height: 15px;
    }
</style>
<title>
    Formulário de Entrega - @ViewBag.Numero
</title>
<link href="/Content/PrintFloricultura.css" rel="stylesheet" />
<center>
    <div class="contentSection">
        <a href="#" id="printOut">IMPRIMIR ESSA PÁGINA</a>
        <br />
        <br />
    </div>
</center>
<div class="contentToPrint" style="padding: 20px; width: 700px; margin: auto;">
    <center>
        <img width="100" src="https://www.coroasparavelorio.com.br/content/neue/img/coroas-para-velorio.png" />
        <br /><br />
        <table style="text-align: left; margin-top: 15px; text-transform: uppercase; font-family: Arial; font-size: 11px !important;">
            <tr>
                <td>
                    <h2>
                        Formulário de Entrega - @ViewBag.Numero
                    </h2>
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <table id="PrintTable" style="font-size: 10px; width: 700px;">
                        <tr>
                            <td width="200px">
                                <b>Local de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.LocalExt
                            </td>
                        </tr>
                        <tr>
                            <td width="100px">
                                <b>Compl. Local de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.ComplementoLocalEntrega
                            </td>
                        </tr>
                        <tr>
                            <td width="100px">
                                <b>Obs. de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.Observacoes
                            </td>
                        </tr>
                        <tr>
                            <td width="200px">
                                <b>Cidade / Estado Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.CidadeEstado
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Horário de Entrega: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.DataSolicitada
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Homenageado: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.PessoaHomenageada
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Nome do Funcionário: </b>
                            </td>
                            <td class="bg" style="padding: 2px; ">
                                @ViewBag.NomeFuncionario
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%; margin-top: 3px; font-size: 10px;">
                        <tr>
                            <td>
                                <center>
                                    <h3>
                                        Produtos
                                    </h3>
                                </center>
                                <hr />
                            </td>
                        </tr>
                        @Html.Raw(ViewBag.Produtos)
                    </table>
                </td>
            </tr>

        </table>
    </center>
    <center style="font-size: 10px; margin-top: 10px;">
        <img width="200" src="/Pedidos/BaixarQrCode?PedidoID=@Request.QueryString["PedidoID"]&TipoPedido=@Request.QueryString["TipoPedido"]" />
        <br /><br />
        ID @ViewBag.ID / PRINT DATE @DateTime.Now.ToShortDateString()
        <br /><br />
        @ViewBag.LinkDownload
    </center>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#printOut').click(function (e) {
            e.preventDefault();
            var w = window.open();
            var printOne = $('.contentToPrint').html();
            w.document.write('<html><head><title>Formulário de Entreda</title></head><body>' + printOne) + '</body></html>';
            w.window.print();
            w.document.close();
            return false;
        });
    });
</script>
