﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tempo e Prazo de Entrega";  
}
 

<div id="CaminhoPagina" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<div class="Div">
	<div class="Desabilitado"><a href="/" itemprop="url"><span itemprop="title">Home</span></a> </div>
	<div class="Seta">&raquo;</div>
	<div class="Habilitado" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title"><b>Tempo e Prazo de Entrega</b></span></div>
</div>
</div>

<div id="TempoPrazo">
<div class="Div">

	<h1 class="TituloPagina">Tempo e prazo de entrega</h1>

	<div class="Selo"><img src="/content/imagens/selo-entrega.jpg" class="SeloImg" alt="Selo" /></div>

	<div class="Div1">
		<div class="Div1Texto2">

			<div	class="Div1Texto4">O e-commerce Laço Flores trabalha com a qualidade produto, ou seja, com a qualidade dos arranjos encomendados. <br /><br />

			Sabemos que as entregas devem ser rápidas para que o cliente saia satisfeito com todo o processo da compra entrega. Por isso, trabalhamos 24 horas por dia, para atender a todos em qualquer momento do dia. <br /><br /></div>

			<b>Prazo Médio de Entrega</b><br />
			<div class="PrazoEntrega"><div class="PrazoEntrega2">Cidade de São Paulo</div><div class="PrazoEntrega3">em até 4 horas</div></div>
			@*<div class="PrazoEntrega"><div class="PrazoEntrega2">Para todo o Brasil</div><div class="PrazoEntrega3">3 horas</div></div>*@

		</div> 
	</div>

	<div id="AindaTemDuvida">

		<div class="Div2Texto1">Ainda possui dúvidas?<br />Entre em contato conosco pela nossa <b>Central de Atendimento:</b> (11) 4097-9400 <b>(24h)</b></div>

		<div class="Div2Texto2">Esses prazos são nossos tempos médios de entrega, podendo variar de acordo com a demanda, condições do clima e mesmo nossa proximidade em relação ao local de entrega.<br /><br />Nosso objetivo é atender todos os nossos clientes com a maior qualidade possível, e isso inclui o prazo de entrega de nossos produtos, que precisam chegar com agilidade e em excelente condições.<br /><br />Para realizar a sua homenagem, veja nossa relação de <a href="/flores" class="Div2Texto3"><b>produtos</b></a>.</div>

		@*<div class="Div2Texto4">Procure aqui a cidade que deseja enviar flores:</div>
        
		<div class="DivBusca" style="width:100%;">
           <form method="get" action="@Url.Action("buscar", "local")">
			<div class="DivBusca2"><input type="text" id="local-termo" name="termo" class="DivBuscaInput busca_local" value="Encontre sua cidade" onfocus="if(this.value=='Encontre sua cidade') { this.value = ''; }" onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre sua cidade'; }" /></div>
			<div class="DivBusca2"><input type="image" src="/content/imagens/busca.png" class="BuscaBotao" alt="Buscar"/></div>
            </form>
		</div>*@

	</div>
     
</div> 
</div>
