﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var TelAd = "4007-2233";
    var Tel0800 = configuracoes.SAC;

    //if (!string.IsNullOrEmpty(Request.QueryString["gclid"]) || Request.Cookies["_ao5_track_adwords"] != null)
    //{
    //    TelAd = "4003-3138";
    //    Tel0800 = "0800-580-3250";
    //}
}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Page hiding snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-2SWW6': true });</script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
    <!-- End Google Tag Manager -->

    <!-- begin Convert Experiences code-->
    <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/10003648-10005686.js"></script>
    <!-- end Convert Experiences code -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'>
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    @{
        var URL = "https://www.coroasparavelorio.com.br" + Request.Url.AbsolutePath;
    }
    <link rel="canonical" href="@URL" />

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415714095468338'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=415714095468338&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!-- Prevent Skype Toolbar to change de CSS from DOM elements -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />

    @{
        var Title = String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : ViewBag.Title + " | Coroas Para Velório";

        if (Title.Length > 70)
        {
            Title = Title.Substring(0, 65);
            Title += "...";
        }
    }

    <title>@Title</title>

    @{
        var DescriptionMeta = String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description;
        if (DescriptionMeta.Length > 160)
        {
            DescriptionMeta = DescriptionMeta.Substring(0, 150);
            DescriptionMeta += "...";
        }


    }

    <meta name="description" content="@(DescriptionMeta)" />
    <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />
    <meta name="robots" content="index, follow">

    @if (Request.QueryString["v"] == "2")
    {
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <style type="text/css">
            body, body * {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>

    }

    <!-- OgImage for Facebook Share -->
    @if (ViewBag.Ogimage != null)
    {
        <meta property="og:description" content="@(String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description)" />
        <meta property="og:url" content="http://www.coroasparavelorio.com.br" />
        <meta property="og:image" content="@Url.Content("/content/produtos/" + Model.ID + "/" + Model.Foto)" />
    }



    <!--CSS Fancybox-->
    <link href="~/Content/neue/js/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css" rel="stylesheet">
    <link href="~/Content/neue/css/bootstrap-full.min.css" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function getParam(p) {

            var match = RegExp('[?&]' + p + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        function setCookie(name, value, days) {

            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = ";expires=" + date.toGMTString();
            var domain = ";domain =.coroasparavelorio.com.br"
            var path = ";path=/";
            document.cookie = name + "=" + value + expires + domain + path;
        };

        window.onload = function () {

            var url = 'https://www.coroasparavelorio.com.br/tracker/tracker.php';

            var params = ['ads_palavra', 'ads_grupo', 'ads_campanha', 'ads_posicao', 'ads_regiao'];
            var campos = ['palavra', 'grupo', 'campanha', 'posicao', 'regiao'];

            var gclid = getParam('gclid');

            if (gclid) {

                setCookie('_ao5_track_adwords', gclid, 1);

                url += '?gclid=' + gclid;

                for (var i = 0; i < params.length; i++) {

                    var v = getParam(params[i]);

                    if (v) {

                        url += '&' + campos[i] + '=' + v;
                    }
                }

                document.body.innerHTML += '<img src="' + url + '" style="display: none" />';
            }
        }
    </script>

</head>

<body class="checkout-proccess">
    
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-2SWW6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="backgrounder" style="display: none;">
        <div class="modal-box" id="email">
            <p>
                Para prosseguir, preencha seu email
            </p>
            <input type="text" id="capture-mail" name="capture-mail" placeholder="Preencha seu email" />
            <button id="closeBox" class="modalcancel">Cancelar</button><button id="enviarEmail" class="modalgo">Avançar</button>
        </div>
    </div>
    @if (Request.QueryString["v"] != "2")
    {
        <!-- Fixed Bar -->
        <section id="fixed-bar" style="display:none">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-xs-6">
                        <span>
                            <i></i>
                            <big><a href="tel:@Tel0800">@Tel0800</a></big><br />
                            <text>Atendimento 24 horas</text>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="whats">
                            <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">WhatsApp Web</a>
                            <br /><text>Clique e Compre por WhatsApp</text>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Fixed Bar -->
    }

    <header>
        <!-- WhatsApp Mobile -->
        <section id="fixed-whatsapp" class="visible-xs">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">
                        <span class="col-xs-4"></span>
                        <p class="col-xs-8">WhatsApp</p>
                    </a>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /WhatsApp Mobile -->
        @if ((Request.Path != "/pedido/CompraClick" || ViewBag.Cliente != null) && Request.QueryString["v"] != "2")
        {
            <!-- Login Stripe -->
            <section id="login-bar" class="hidden-xs" @{if (Request.Path == "/pedido") { <text> style="display: none;" </text>  }}>
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <!-- Renderiza o menu de login, minha conta, meus pedidos e sair -->
                            @Html.Action("MenuNeue", "Cliente")
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Login Stripe -->
        }


        <!-- Mobile Fixed Phone -->
        <section id="mobile-fixed" class="visible-xs">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-xs-6">
                        <!-- <span class="whats">WhatsApp:<br /> <big><a href="tel:01194459-8175" class="whats">011 94459-8175</a></big></span> -->
                        <span>Capitais:<br /> <big><a href="tel:@TelAd">@TelAd</a></big></span>
                    </div>
                    <div class="col-xs-6">
                        <span>Outras Cidades:<br /> <big><a href="tel:@Tel0800">@Tel0800</a></big></span>
                    </div>
                </div>

            </div>
            <!-- /Container -->
        </section>
        <!-- /Mobile Fixed Phone -->
        <!-- Mobile Header -->
        <section id="mobile-header" class="visible-xs">
            <!-- Container -->
            <div class="container-fluid">
                <div class="lining">
                    <div class="col-xs-2">
                        <a href="#mmenu" class="icon_menu"></a>
                    </div>

                    <div class="col-xs-8">
                        <a href="@Url.Action("Index", "Home")">
                            <!--[if IE]>
                            <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <![endif]-->
                            <!--[if !IE]> -->
                            <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <!-- <![endif]-->
                        </a>
                    </div>

                    <div class="col-xs-2">
                        <a href="/carrinho">
                            <span class="icon_cart"><i>@Html.Action("ResumoMobile", "Carrinho")</i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Container -->
            <!-- Whatsapp -->
            <section class="whatsapp">
                <div class="container">
                    <div class="lining">
                        <div class="col-xs-12">
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- /Mobile Header -->
        <!-- Menu for mobile screens -->
        @Html.Action("NavigationMobile", "Cliente")

        @if (Request.QueryString["v"] == "2")
        {
            <!-- Mainly Header -->
            <section id="main-header" class="line2" style="position:fixed">
                <!-- Container -->
                <div class="container">
                    <div class="lining" id="main-neueproduct">
                        <div class="col-md-3 col-sm-3">
                            <a href="/v4">
                                <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul>
                                <li>
                                    <a href="tel:@TelAd">@TelAd</a>
                                    Capitais e regiões metropolitanas
                                </li>
                                <li>
                                    <a href="tel:@Tel0800">@Tel0800</a>
                                    Outras cidades
                                </li>

                                @*<li class="whatsweb">
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank" class="whatsweb"><span class="whats"></span>WHATSAPP WEB</a>
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank">Clique e Compre por WhatsApp</a>
                                    </li>*@
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.Partial("Navigation")
                        </div>
                    </div>

                </div>
                <!-- /Container -->
                <div class="collapse" id="mmenuneue">
                    <div class="container">
                        <div class="card-menu">
                            <ul class="col-md-3 col-sm-3">
                                Coroa de Flores
                                <li><a href="/coroa-de-flores/premium">Coroa de Flores Premium</a></li>
                                <li><a href="/coroa-de-flores/luxo">Coroa de Flores Luxo</a></li>
                                <li><a href="/coroa-de-flores/super-luxo">Coroa de Flores Super Luxo</a></li>
                                <li><a href="/coroa-de-flores/duplas">Coroa de Flores Duplas</a></li>
                                <li><a href="/coroa-de-flores">Todas as Coroas</a></li>
                                <li class="underline"><a href="/coroa-de-flores">Ver mais</a></li>
                            </ul>
                            <ul class="col-md-3 col-sm-3">
                                Frases de homenagens
                                <li><a href="/frases-de-homenagens/mensagens-para-amigo">Para Amigo</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-familiares">Para Familiares</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-colegas-de-trabalho">Para Colegas de Trabalho</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-mae">Para Mãe</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-pai">Para Pai</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-avos">Para Avós</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-evangelicos">Para Evangélicos</a></li>
                                <li class="underline"><a href="/frases-de-homenagens">Ver mais</a></li>

                            </ul>
                            <ul class="col-md-3 col-sm-3">
                                Informações
                                <li>
                                    <a href="/a-empresa">
                                        Sobre nós
                                    </a>
                                </li>
                                <li>
                                    <a href="/empresasparceiras">Para Empresas</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                                        Prazos e Entregas
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
                                <li>
                                    <a href="/contato">Contato</a>
                                </li>
                            </ul>
                            <ul class="col-md-3 col-sm-3">
                                Principais Cidades
                                <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                                <li class="underline"><a href="/velorios-e-cemiterios">Ver mais</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Mainly Header -->
        }
        else
        {
            <!-- Mainly Header -->
            <section id="main-header">

                <!-- Container -->

                <div class="container">
                    <div class="lining">
                        <div class="col-md-3 col-sm-3">
                            <a href="@Url.Action("Index", "Home")">
                                <!--[if IE]>
                                <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                <![endif]-->
                                <!--[if !IE]> -->
                                <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
                                <!-- <![endif]-->
                            </a>
                        </div>

                        <div class="col-md-9 col-sm-9">
                            <ul>
                                <li>
                                    Televendas 24h
                                    <a href="tel:@Tel0800"><i></i>@Tel0800</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Mainly Header -->
        }
    </header>

    @RenderBody()

    <footer>
        <section class="last">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>Coroas para velorio | CNPJ: 12.404.942/0001-14</p>
                        <p>www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a></p>
                        <p>As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.</p>
                        <p>É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site</p>

                        <span>
                            <p>Copyright &copy; @DateTime.Now.Year Coroas para Velório | TODOS OS DIREITOS RESERVADOS</p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    </footer>

    @RenderSection("Script", false)



    <!-- TAGUEAMENTO -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_set', 'currencyCode', 'BRL']);

        @Html.Raw(ViewBag.TrackTrans)

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        @if (ViewBag.Retargeting == null)
     {
        <text>
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        </text>
     }
     else
     {
        @Html.Raw(ViewBag.Retargeting)
     }
        /* ]]> */
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="/Scripts/geral.js"></script>

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- /TAGUEAMENTO -->
</body>

<!-- Mmenu -->
<link href="/content/neue/js/mmenu/dist/core/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">

@RenderSection("NeueScripts", false)
</html>