﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var TextoApoio = "CAPITAIS E REGIÕES METROPOLITANAS";
    var TelAd = "4007-2233";
    var Tel0800 = configuracoes.SAC;

    //if (!string.IsNullOrEmpty(Request.QueryString["gclid"]) || Request.Cookies["_ao5_track_adwords"] != null)
    //{
    //    TextoApoio = "ATENDIMENTO NACIONAL";
    //    TelAd = "4007-2233";
    //    TelAd = "4003-3138";
    //    Tel0800 = "0800-580-3250";
    //}

    string tituloGeral = "";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] != null)
    {
        if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "local")
        {

            tituloGeral = ViewBag.Title;

        }
        else
        {
            tituloGeral = ViewBag.Title + " | Coroas Para Velório";
        }
    }
    else
    {
        tituloGeral = ViewBag.Title + " | Coroas Para Velório";
    }

}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    @{
        var URL = "https://www.coroasparavelorio.com.br" + Request.Url.AbsolutePath;
    }
    <link rel="canonical" href="@URL" />
    <!-- Prevent Skype Toolbar to change de CSS from DOM elements -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />

    @{
        var DescriptionMeta = String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description;
        if (DescriptionMeta.Length > 160)
        {
            DescriptionMeta = DescriptionMeta.Substring(0, 150);
            DescriptionMeta += "...";
        }


    }

    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : tituloGeral)</title>
    <meta name="description" content="@(DescriptionMeta)" />
    <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />
    @if (Request.Path.ToLower() != "/v3")
    {
        <meta name="robots" content="index, follow">
    }
    else
    {
        <meta name="robots" content="noindex, nofollow">
    }
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style type="text/css">
    body,body *{font-family:Trebuchet MS,Helvetica,Arial,sans-serif}h1{font-family:'Yanone Kaffeesatz',sans-serif;font-size:30px}section#login-bar{background-color:#555;color:#fff;padding:5px 0;text-align:right;font-size:13px}section#main-header a{border:none;display:block;margin:15px 20px}section#main-header a img{width:100%;height:auto;max-width:300px}section#main-header ul{list-style:none;padding:0;margin:26px 0 0;display:inline-block}section#main-header ul li{float:left;text-align:right;padding:0 10px;text-transform:uppercase;color:#a8a8a8}section#main-header ul li strong{display:block;width:100%;font-size:26px;padding-bottom:4px;color:#333}section#main-header ul li span{display:block;text-align:center;background-color:#797979;padding:6px 10px;color:#fff;font-size:11px;line-height:.8;letter-spacing:.5px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px}nav.navbar-inverse{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;background-color:#a8a8a8;border:none;min-height:25px;margin-bottom:0}section#features{text-align:center;background-color:#f5f5f5;border-bottom:1px solid #e0e0e0}section#features ul{display:inline-block;list-style:none;padding:0;margin:5px 0}section#features ul li{float:left;padding:5px 10px;text-align:left;text-transform:uppercase;font-size:10px;color:#797979}section#features ul li i{display:inline-block;float:left;width:17px;height:17px;margin-right:5px;background-image:url(../img/ui/spritesheet.png);background-position:0 0;background-size:auto;background-repeat:no-repeat}section#features ul li span{display:block;float:left}section.loop-title .form-control{padding:8px 15px;height:initial;margin-top:12px;background-color:#797979;color:#fff;width:initial;display:inline-block}section.loop .card{position:relative;text-align:center;padding:10px 0;border:1px solid transparent;margin:10px 0}section.loop .card span{display:inline-block;overflow:hidden;text-align:center;width:80%;height:0;padding-bottom:85%}section.loop .card span img{width:100%;height:auto}section.loop .card h2{text-transform:uppercase;font-size:14px}.btn-checkout{color:#fff;background-color:#af0102;text-transform:uppercase;padding:10px 45px;font-size:16px}@{<text>@@media(min-width:768px){.visible-xs{display:none}</text>}
    </style>

    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css?date=@DateTime.Now.ToString()" rel="stylesheet">
    <link href="~/Content/neue/css/bootstrap-full.min.css" rel="stylesheet" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Menu Desktop -->
    <script type="text/javascript">
        if ("undefined" == typeof jQuery) throw new Error("Bootstrap's JavaScript requires jQuery"); +function (t) { "use strict"; var e = t.fn.jquery.split(" ")[0].split("."); if (e[0] < 2 && e[1] < 9 || 1 == e[0] && 9 == e[1] && e[2] < 1) throw new Error("Bootstrap's JavaScript requires jQuery version 1.9.1 or higher") }(jQuery), +function (t) { "use strict"; function e() { var t = document.createElement("bootstrap"), e = { WebkitTransition: "webkitTransitionEnd", MozTransition: "transitionend", OTransition: "oTransitionEnd otransitionend", transition: "transitionend" }; for (var i in e) if (void 0 !== t.style[i]) return { end: e[i] }; return !1 } t.fn.emulateTransitionEnd = function (e) { var i = !1, o = this; t(this).one("bsTransitionEnd", function () { i = !0 }); var n = function () { i || t(o).trigger(t.support.transition.end) }; return setTimeout(n, e), this }, t(function () { t.support.transition = e(), t.support.transition && (t.event.special.bsTransitionEnd = { bindType: t.support.transition.end, delegateType: t.support.transition.end, handle: function (e) { return t(e.target).is(this) ? e.handleObj.handler.apply(this, arguments) : void 0 } }) }) }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var i = t(this), n = i.data("bs.alert"); n || i.data("bs.alert", n = new o(this)), "string" == typeof e && n[e].call(i) }) } var i = '[data-dismiss="alert"]', o = function (e) { t(e).on("click", i, this.close) }; o.VERSION = "3.3.5", o.TRANSITION_DURATION = 150, o.prototype.close = function (e) { function i() { a.detach().trigger("closed.bs.alert").remove() } var n = t(this), s = n.attr("data-target"); s || (s = n.attr("href"), s = s && s.replace(/.*(?=#[^\s]*$)/, "")); var a = t(s); e && e.preventDefault(), a.length || (a = n.closest(".alert")), a.trigger(e = t.Event("close.bs.alert")), e.isDefaultPrevented() || (a.removeClass("in"), t.support.transition && a.hasClass("fade") ? a.one("bsTransitionEnd", i).emulateTransitionEnd(o.TRANSITION_DURATION) : i()) }; var n = t.fn.alert; t.fn.alert = e, t.fn.alert.Constructor = o, t.fn.alert.noConflict = function () { return t.fn.alert = n, this }, t(document).on("click.bs.alert.data-api", i, o.prototype.close) }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.button"), s = "object" == typeof e && e; n || o.data("bs.button", n = new i(this, s)), "toggle" == e ? n.toggle() : e && n.setState(e) }) } var i = function (e, o) { this.$element = t(e), this.options = t.extend({}, i.DEFAULTS, o), this.isLoading = !1 }; i.VERSION = "3.3.5", i.DEFAULTS = { loadingText: "loading..." }, i.prototype.setState = function (e) { var i = "disabled", o = this.$element, n = o.is("input") ? "val" : "html", s = o.data(); e += "Text", null == s.resetText && o.data("resetText", o[n]()), setTimeout(t.proxy(function () { o[n](null == s[e] ? this.options[e] : s[e]), "loadingText" == e ? (this.isLoading = !0, o.addClass(i).attr(i, i)) : this.isLoading && (this.isLoading = !1, o.removeClass(i).removeAttr(i)) }, this), 0) }, i.prototype.toggle = function () { var t = !0, e = this.$element.closest('[data-toggle="buttons"]'); if (e.length) { var i = this.$element.find("input"); "radio" == i.prop("type") ? (i.prop("checked") && (t = !1), e.find(".active").removeClass("active"), this.$element.addClass("active")) : "checkbox" == i.prop("type") && (i.prop("checked") !== this.$element.hasClass("active") && (t = !1), this.$element.toggleClass("active")), i.prop("checked", this.$element.hasClass("active")), t && i.trigger("change") } else this.$element.attr("aria-pressed", !this.$element.hasClass("active")), this.$element.toggleClass("active") }; var o = t.fn.button; t.fn.button = e, t.fn.button.Constructor = i, t.fn.button.noConflict = function () { return t.fn.button = o, this }, t(document).on("click.bs.button.data-api", '[data-toggle^="button"]', function (i) { var o = t(i.target); o.hasClass("btn") || (o = o.closest(".btn")), e.call(o, "toggle"), t(i.target).is('input[type="radio"]') || t(i.target).is('input[type="checkbox"]') || i.preventDefault() }).on("focus.bs.button.data-api blur.bs.button.data-api", '[data-toggle^="button"]', function (e) { t(e.target).closest(".btn").toggleClass("focus", /^focus(in)?$/.test(e.type)) }) }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.carousel"), s = t.extend({}, i.DEFAULTS, o.data(), "object" == typeof e && e), a = "string" == typeof e ? e : s.slide; n || o.data("bs.carousel", n = new i(this, s)), "number" == typeof e ? n.to(e) : a ? n[a]() : s.interval && n.pause().cycle() }) } var i = function (e, i) { this.$element = t(e), this.$indicators = this.$element.find(".carousel-indicators"), this.options = i, this.paused = null, this.sliding = null, this.interval = null, this.$active = null, this.$items = null, this.options.keyboard && this.$element.on("keydown.bs.carousel", t.proxy(this.keydown, this)), "hover" == this.options.pause && !("ontouchstart" in document.documentElement) && this.$element.on("mouseenter.bs.carousel", t.proxy(this.pause, this)).on("mouseleave.bs.carousel", t.proxy(this.cycle, this)) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 600, i.DEFAULTS = { interval: 5e3, pause: "hover", wrap: !0, keyboard: !0 }, i.prototype.keydown = function (t) { if (!/input|textarea/i.test(t.target.tagName)) { switch (t.which) { case 37: this.prev(); break; case 39: this.next(); break; default: return } t.preventDefault() } }, i.prototype.cycle = function (e) { return e || (this.paused = !1), this.interval && clearInterval(this.interval), this.options.interval && !this.paused && (this.interval = setInterval(t.proxy(this.next, this), this.options.interval)), this }, i.prototype.getItemIndex = function (t) { return this.$items = t.parent().children(".item"), this.$items.index(t || this.$active) }, i.prototype.getItemForDirection = function (t, e) { var i = this.getItemIndex(e), o = "prev" == t && 0 === i || "next" == t && i == this.$items.length - 1; if (o && !this.options.wrap) return e; var n = "prev" == t ? -1 : 1, s = (i + n) % this.$items.length; return this.$items.eq(s) }, i.prototype.to = function (t) { var e = this, i = this.getItemIndex(this.$active = this.$element.find(".item.active")); return t > this.$items.length - 1 || 0 > t ? void 0 : this.sliding ? this.$element.one("slid.bs.carousel", function () { e.to(t) }) : i == t ? this.pause().cycle() : this.slide(t > i ? "next" : "prev", this.$items.eq(t)) }, i.prototype.pause = function (e) { return e || (this.paused = !0), this.$element.find(".next, .prev").length && t.support.transition && (this.$element.trigger(t.support.transition.end), this.cycle(!0)), this.interval = clearInterval(this.interval), this }, i.prototype.next = function () { return this.sliding ? void 0 : this.slide("next") }, i.prototype.prev = function () { return this.sliding ? void 0 : this.slide("prev") }, i.prototype.slide = function (e, o) { var n = this.$element.find(".item.active"), s = o || this.getItemForDirection(e, n), a = this.interval, r = "next" == e ? "left" : "right", l = this; if (s.hasClass("active")) return this.sliding = !1; var h = s[0], d = t.Event("slide.bs.carousel", { relatedTarget: h, direction: r }); if (this.$element.trigger(d), !d.isDefaultPrevented()) { if (this.sliding = !0, a && this.pause(), this.$indicators.length) { this.$indicators.find(".active").removeClass("active"); var p = t(this.$indicators.children()[this.getItemIndex(s)]); p && p.addClass("active") } var c = t.Event("slid.bs.carousel", { relatedTarget: h, direction: r }); return t.support.transition && this.$element.hasClass("slide") ? (s.addClass(e), s[0].offsetWidth, n.addClass(r), s.addClass(r), n.one("bsTransitionEnd", function () { s.removeClass([e, r].join(" ")).addClass("active"), n.removeClass(["active", r].join(" ")), l.sliding = !1, setTimeout(function () { l.$element.trigger(c) }, 0) }).emulateTransitionEnd(i.TRANSITION_DURATION)) : (n.removeClass("active"), s.addClass("active"), this.sliding = !1, this.$element.trigger(c)), a && this.cycle(), this } }; var o = t.fn.carousel; t.fn.carousel = e, t.fn.carousel.Constructor = i, t.fn.carousel.noConflict = function () { return t.fn.carousel = o, this }; var n = function (i) { var o, n = t(this), s = t(n.attr("data-target") || (o = n.attr("href")) && o.replace(/.*(?=#[^\s]+$)/, "")); if (s.hasClass("carousel")) { var a = t.extend({}, s.data(), n.data()), r = n.attr("data-slide-to"); r && (a.interval = !1), e.call(s, a), r && s.data("bs.carousel").to(r), i.preventDefault() } }; t(document).on("click.bs.carousel.data-api", "[data-slide]", n).on("click.bs.carousel.data-api", "[data-slide-to]", n), t(window).on("load", function () { t('[data-ride="carousel"]').each(function () { var i = t(this); e.call(i, i.data()) }) }) }(jQuery), +function (t) { "use strict"; function e(e) { var i, o = e.attr("data-target") || (i = e.attr("href")) && i.replace(/.*(?=#[^\s]+$)/, ""); return t(o) } function i(e) { return this.each(function () { var i = t(this), n = i.data("bs.collapse"), s = t.extend({}, o.DEFAULTS, i.data(), "object" == typeof e && e); !n && s.toggle && /show|hide/.test(e) && (s.toggle = !1), n || i.data("bs.collapse", n = new o(this, s)), "string" == typeof e && n[e]() }) } var o = function (e, i) { this.$element = t(e), this.options = t.extend({}, o.DEFAULTS, i), this.$trigger = t('[data-toggle="collapse"][href="#' + e.id + '"],[data-toggle="collapse"][data-target="#' + e.id + '"]'), this.transitioning = null, this.options.parent ? this.$parent = this.getParent() : this.addAriaAndCollapsedClass(this.$element, this.$trigger), this.options.toggle && this.toggle() }; o.VERSION = "3.3.5", o.TRANSITION_DURATION = 350, o.DEFAULTS = { toggle: !0 }, o.prototype.dimension = function () { var t = this.$element.hasClass("width"); return t ? "width" : "height" }, o.prototype.show = function () { if (!this.transitioning && !this.$element.hasClass("in")) { var e, n = this.$parent && this.$parent.children(".panel").children(".in, .collapsing"); if (!(n && n.length && (e = n.data("bs.collapse"), e && e.transitioning))) { var s = t.Event("show.bs.collapse"); if (this.$element.trigger(s), !s.isDefaultPrevented()) { n && n.length && (i.call(n, "hide"), e || n.data("bs.collapse", null)); var a = this.dimension(); this.$element.removeClass("collapse").addClass("collapsing")[a](0).attr("aria-expanded", !0), this.$trigger.removeClass("collapsed").attr("aria-expanded", !0), this.transitioning = 1; var r = function () { this.$element.removeClass("collapsing").addClass("collapse in")[a](""), this.transitioning = 0, this.$element.trigger("shown.bs.collapse") }; if (!t.support.transition) return r.call(this); var l = t.camelCase(["scroll", a].join("-")); this.$element.one("bsTransitionEnd", t.proxy(r, this)).emulateTransitionEnd(o.TRANSITION_DURATION)[a](this.$element[0][l]) } } } }, o.prototype.hide = function () { if (!this.transitioning && this.$element.hasClass("in")) { var e = t.Event("hide.bs.collapse"); if (this.$element.trigger(e), !e.isDefaultPrevented()) { var i = this.dimension(); this.$element[i](this.$element[i]())[0].offsetHeight, this.$element.addClass("collapsing").removeClass("collapse in").attr("aria-expanded", !1), this.$trigger.addClass("collapsed").attr("aria-expanded", !1), this.transitioning = 1; var n = function () { this.transitioning = 0, this.$element.removeClass("collapsing").addClass("collapse").trigger("hidden.bs.collapse") }; return t.support.transition ? void this.$element[i](0).one("bsTransitionEnd", t.proxy(n, this)).emulateTransitionEnd(o.TRANSITION_DURATION) : n.call(this) } } }, o.prototype.toggle = function () { this[this.$element.hasClass("in") ? "hide" : "show"]() }, o.prototype.getParent = function () { return t(this.options.parent).find('[data-toggle="collapse"][data-parent="' + this.options.parent + '"]').each(t.proxy(function (i, o) { var n = t(o); this.addAriaAndCollapsedClass(e(n), n) }, this)).end() }, o.prototype.addAriaAndCollapsedClass = function (t, e) { var i = t.hasClass("in"); t.attr("aria-expanded", i), e.toggleClass("collapsed", !i).attr("aria-expanded", i) }; var n = t.fn.collapse; t.fn.collapse = i, t.fn.collapse.Constructor = o, t.fn.collapse.noConflict = function () { return t.fn.collapse = n, this }, t(document).on("click.bs.collapse.data-api", '[data-toggle="collapse"]', function (o) { var n = t(this); n.attr("data-target") || o.preventDefault(); var s = e(n), a = s.data("bs.collapse"), r = a ? "toggle" : n.data(); i.call(s, r) }) }(jQuery), +function (t) { "use strict"; function e(e) { var i = e.attr("data-target"); i || (i = e.attr("href"), i = i && /#[A-Za-z]/.test(i) && i.replace(/.*(?=#[^\s]*$)/, "")); var o = i && t(i); return o && o.length ? o : e.parent() } function i(i) { i && 3 === i.which || (t(n).remove(), t(s).each(function () { var o = t(this), n = e(o), s = { relatedTarget: this }; n.hasClass("open") && (i && "click" == i.type && /input|textarea/i.test(i.target.tagName) && t.contains(n[0], i.target) || (n.trigger(i = t.Event("hide.bs.dropdown", s)), i.isDefaultPrevented() || (o.attr("aria-expanded", "false"), n.removeClass("open").trigger("hidden.bs.dropdown", s)))) })) } function o(e) { return this.each(function () { var i = t(this), o = i.data("bs.dropdown"); o || i.data("bs.dropdown", o = new a(this)), "string" == typeof e && o[e].call(i) }) } var n = ".dropdown-backdrop", s = '[data-toggle="dropdown"]', a = function (e) { t(e).on("click.bs.dropdown", this.toggle) }; a.VERSION = "3.3.5", a.prototype.toggle = function (o) { var n = t(this); if (!n.is(".disabled, :disabled")) { var s = e(n), a = s.hasClass("open"); if (i(), !a) { "ontouchstart" in document.documentElement && !s.closest(".navbar-nav").length && t(document.createElement("div")).addClass("dropdown-backdrop").insertAfter(t(this)).on("click", i); var r = { relatedTarget: this }; if (s.trigger(o = t.Event("show.bs.dropdown", r)), o.isDefaultPrevented()) return; n.trigger("focus").attr("aria-expanded", "true"), s.toggleClass("open").trigger("shown.bs.dropdown", r) } return !1 } }, a.prototype.keydown = function (i) { if (/(38|40|27|32)/.test(i.which) && !/input|textarea/i.test(i.target.tagName)) { var o = t(this); if (i.preventDefault(), i.stopPropagation(), !o.is(".disabled, :disabled")) { var n = e(o), a = n.hasClass("open"); if (!a && 27 != i.which || a && 27 == i.which) return 27 == i.which && n.find(s).trigger("focus"), o.trigger("click"); var r = " li:not(.disabled):visible a", l = n.find(".dropdown-menu" + r); if (l.length) { var h = l.index(i.target); 38 == i.which && h > 0 && h-- , 40 == i.which && h < l.length - 1 && h++ , ~h || (h = 0), l.eq(h).trigger("focus") } } } }; var r = t.fn.dropdown; t.fn.dropdown = o, t.fn.dropdown.Constructor = a, t.fn.dropdown.noConflict = function () { return t.fn.dropdown = r, this }, t(document).on("click.bs.dropdown.data-api", i).on("click.bs.dropdown.data-api", ".dropdown form", function (t) { t.stopPropagation() }).on("click.bs.dropdown.data-api", s, a.prototype.toggle).on("keydown.bs.dropdown.data-api", s, a.prototype.keydown).on("keydown.bs.dropdown.data-api", ".dropdown-menu", a.prototype.keydown) }(jQuery), +function (t) { "use strict"; function e(e, o) { return this.each(function () { var n = t(this), s = n.data("bs.modal"), a = t.extend({}, i.DEFAULTS, n.data(), "object" == typeof e && e); s || n.data("bs.modal", s = new i(this, a)), "string" == typeof e ? s[e](o) : a.show && s.show(o) }) } var i = function (e, i) { this.options = i, this.$body = t(document.body), this.$element = t(e), this.$dialog = this.$element.find(".modal-dialog"), this.$backdrop = null, this.isShown = null, this.originalBodyPad = null, this.scrollbarWidth = 0, this.ignoreBackdropClick = !1, this.options.remote && this.$element.find(".modal-content").load(this.options.remote, t.proxy(function () { this.$element.trigger("loaded.bs.modal") }, this)) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 300, i.BACKDROP_TRANSITION_DURATION = 150, i.DEFAULTS = { backdrop: !0, keyboard: !0, show: !0 }, i.prototype.toggle = function (t) { return this.isShown ? this.hide() : this.show(t) }, i.prototype.show = function (e) { var o = this, n = t.Event("show.bs.modal", { relatedTarget: e }); this.$element.trigger(n), this.isShown || n.isDefaultPrevented() || (this.isShown = !0, this.checkScrollbar(), this.setScrollbar(), this.$body.addClass("modal-open"), this.escape(), this.resize(), this.$element.on("click.dismiss.bs.modal", '[data-dismiss="modal"]', t.proxy(this.hide, this)), this.$dialog.on("mousedown.dismiss.bs.modal", function () { o.$element.one("mouseup.dismiss.bs.modal", function (e) { t(e.target).is(o.$element) && (o.ignoreBackdropClick = !0) }) }), this.backdrop(function () { var n = t.support.transition && o.$element.hasClass("fade"); o.$element.parent().length || o.$element.appendTo(o.$body), o.$element.show().scrollTop(0), o.adjustDialog(), n && o.$element[0].offsetWidth, o.$element.addClass("in"), o.enforceFocus(); var s = t.Event("shown.bs.modal", { relatedTarget: e }); n ? o.$dialog.one("bsTransitionEnd", function () { o.$element.trigger("focus").trigger(s) }).emulateTransitionEnd(i.TRANSITION_DURATION) : o.$element.trigger("focus").trigger(s) })) }, i.prototype.hide = function (e) { e && e.preventDefault(), e = t.Event("hide.bs.modal"), this.$element.trigger(e), this.isShown && !e.isDefaultPrevented() && (this.isShown = !1, this.escape(), this.resize(), t(document).off("focusin.bs.modal"), this.$element.removeClass("in").off("click.dismiss.bs.modal").off("mouseup.dismiss.bs.modal"), this.$dialog.off("mousedown.dismiss.bs.modal"), t.support.transition && this.$element.hasClass("fade") ? this.$element.one("bsTransitionEnd", t.proxy(this.hideModal, this)).emulateTransitionEnd(i.TRANSITION_DURATION) : this.hideModal()) }, i.prototype.enforceFocus = function () { t(document).off("focusin.bs.modal").on("focusin.bs.modal", t.proxy(function (t) { this.$element[0] === t.target || this.$element.has(t.target).length || this.$element.trigger("focus") }, this)) }, i.prototype.escape = function () { this.isShown && this.options.keyboard ? this.$element.on("keydown.dismiss.bs.modal", t.proxy(function (t) { 27 == t.which && this.hide() }, this)) : this.isShown || this.$element.off("keydown.dismiss.bs.modal") }, i.prototype.resize = function () { this.isShown ? t(window).on("resize.bs.modal", t.proxy(this.handleUpdate, this)) : t(window).off("resize.bs.modal") }, i.prototype.hideModal = function () { var t = this; this.$element.hide(), this.backdrop(function () { t.$body.removeClass("modal-open"), t.resetAdjustments(), t.resetScrollbar(), t.$element.trigger("hidden.bs.modal") }) }, i.prototype.removeBackdrop = function () { this.$backdrop && this.$backdrop.remove(), this.$backdrop = null }, i.prototype.backdrop = function (e) { var o = this, n = this.$element.hasClass("fade") ? "fade" : ""; if (this.isShown && this.options.backdrop) { var s = t.support.transition && n; if (this.$backdrop = t(document.createElement("div")).addClass("modal-backdrop " + n).appendTo(this.$body), this.$element.on("click.dismiss.bs.modal", t.proxy(function (t) { return this.ignoreBackdropClick ? void (this.ignoreBackdropClick = !1) : void (t.target === t.currentTarget && ("static" == this.options.backdrop ? this.$element[0].focus() : this.hide())) }, this)), s && this.$backdrop[0].offsetWidth, this.$backdrop.addClass("in"), !e) return; s ? this.$backdrop.one("bsTransitionEnd", e).emulateTransitionEnd(i.BACKDROP_TRANSITION_DURATION) : e() } else if (!this.isShown && this.$backdrop) { this.$backdrop.removeClass("in"); var a = function () { o.removeBackdrop(), e && e() }; t.support.transition && this.$element.hasClass("fade") ? this.$backdrop.one("bsTransitionEnd", a).emulateTransitionEnd(i.BACKDROP_TRANSITION_DURATION) : a() } else e && e() }, i.prototype.handleUpdate = function () { this.adjustDialog() }, i.prototype.adjustDialog = function () { var t = this.$element[0].scrollHeight > document.documentElement.clientHeight; this.$element.css({ paddingLeft: !this.bodyIsOverflowing && t ? this.scrollbarWidth : "", paddingRight: this.bodyIsOverflowing && !t ? this.scrollbarWidth : "" }) }, i.prototype.resetAdjustments = function () { this.$element.css({ paddingLeft: "", paddingRight: "" }) }, i.prototype.checkScrollbar = function () { var t = window.innerWidth; if (!t) { var e = document.documentElement.getBoundingClientRect(); t = e.right - Math.abs(e.left) } this.bodyIsOverflowing = document.body.clientWidth < t, this.scrollbarWidth = this.measureScrollbar() }, i.prototype.setScrollbar = function () { var t = parseInt(this.$body.css("padding-right") || 0, 10); this.originalBodyPad = document.body.style.paddingRight || "", this.bodyIsOverflowing && this.$body.css("padding-right", t + this.scrollbarWidth) }, i.prototype.resetScrollbar = function () { this.$body.css("padding-right", this.originalBodyPad) }, i.prototype.measureScrollbar = function () { var t = document.createElement("div"); t.className = "modal-scrollbar-measure", this.$body.append(t); var e = t.offsetWidth - t.clientWidth; return this.$body[0].removeChild(t), e }; var o = t.fn.modal; t.fn.modal = e, t.fn.modal.Constructor = i, t.fn.modal.noConflict = function () { return t.fn.modal = o, this }, t(document).on("click.bs.modal.data-api", '[data-toggle="modal"]', function (i) { var o = t(this), n = o.attr("href"), s = t(o.attr("data-target") || n && n.replace(/.*(?=#[^\s]+$)/, "")), a = s.data("bs.modal") ? "toggle" : t.extend({ remote: !/#/.test(n) && n }, s.data(), o.data()); o.is("a") && i.preventDefault(), s.one("show.bs.modal", function (t) { t.isDefaultPrevented() || s.one("hidden.bs.modal", function () { o.is(":visible") && o.trigger("focus") }) }), e.call(s, a, this) }) }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.tooltip"), s = "object" == typeof e && e; (n || !/destroy|hide/.test(e)) && (n || o.data("bs.tooltip", n = new i(this, s)), "string" == typeof e && n[e]()) }) } var i = function (t, e) { this.type = null, this.options = null, this.enabled = null, this.timeout = null, this.hoverState = null, this.$element = null, this.inState = null, this.init("tooltip", t, e) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 150, i.DEFAULTS = { animation: !0, placement: "top", selector: !1, template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>', trigger: "hover focus", title: "", delay: 0, html: !1, container: !1, viewport: { selector: "body", padding: 0 } }, i.prototype.init = function (e, i, o) { if (this.enabled = !0, this.type = e, this.$element = t(i), this.options = this.getOptions(o), this.$viewport = this.options.viewport && t(t.isFunction(this.options.viewport) ? this.options.viewport.call(this, this.$element) : this.options.viewport.selector || this.options.viewport), this.inState = { click: !1, hover: !1, focus: !1 }, this.$element[0] instanceof document.constructor && !this.options.selector) throw new Error("`selector` option must be specified when initializing " + this.type + " on the window.document object!"); for (var n = this.options.trigger.split(" "), s = n.length; s--;) { var a = n[s]; if ("click" == a) this.$element.on("click." + this.type, this.options.selector, t.proxy(this.toggle, this)); else if ("manual" != a) { var r = "hover" == a ? "mouseenter" : "focusin", l = "hover" == a ? "mouseleave" : "focusout"; this.$element.on(r + "." + this.type, this.options.selector, t.proxy(this.enter, this)), this.$element.on(l + "." + this.type, this.options.selector, t.proxy(this.leave, this)) } } this.options.selector ? this._options = t.extend({}, this.options, { trigger: "manual", selector: "" }) : this.fixTitle() }, i.prototype.getDefaults = function () { return i.DEFAULTS }, i.prototype.getOptions = function (e) { return e = t.extend({}, this.getDefaults(), this.$element.data(), e), e.delay && "number" == typeof e.delay && (e.delay = { show: e.delay, hide: e.delay }), e }, i.prototype.getDelegateOptions = function () { var e = {}, i = this.getDefaults(); return this._options && t.each(this._options, function (t, o) { i[t] != o && (e[t] = o) }), e }, i.prototype.enter = function (e) { var i = e instanceof this.constructor ? e : t(e.currentTarget).data("bs." + this.type); return i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i)), e instanceof t.Event && (i.inState["focusin" == e.type ? "focus" : "hover"] = !0), i.tip().hasClass("in") || "in" == i.hoverState ? void (i.hoverState = "in") : (clearTimeout(i.timeout), i.hoverState = "in", i.options.delay && i.options.delay.show ? void (i.timeout = setTimeout(function () { "in" == i.hoverState && i.show() }, i.options.delay.show)) : i.show()) }, i.prototype.isInStateTrue = function () { for (var t in this.inState) if (this.inState[t]) return !0; return !1 }, i.prototype.leave = function (e) { var i = e instanceof this.constructor ? e : t(e.currentTarget).data("bs." + this.type); return i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i)), e instanceof t.Event && (i.inState["focusout" == e.type ? "focus" : "hover"] = !1), i.isInStateTrue() ? void 0 : (clearTimeout(i.timeout), i.hoverState = "out", i.options.delay && i.options.delay.hide ? void (i.timeout = setTimeout(function () { "out" == i.hoverState && i.hide() }, i.options.delay.hide)) : i.hide()) }, i.prototype.show = function () { var e = t.Event("show.bs." + this.type); if (this.hasContent() && this.enabled) { this.$element.trigger(e); var o = t.contains(this.$element[0].ownerDocument.documentElement, this.$element[0]); if (e.isDefaultPrevented() || !o) return; var n = this, s = this.tip(), a = this.getUID(this.type); this.setContent(), s.attr("id", a), this.$element.attr("aria-describedby", a), this.options.animation && s.addClass("fade"); var r = "function" == typeof this.options.placement ? this.options.placement.call(this, s[0], this.$element[0]) : this.options.placement, l = /\s?auto?\s?/i, h = l.test(r); h && (r = r.replace(l, "") || "top"), s.detach().css({ top: 0, left: 0, display: "block" }).addClass(r).data("bs." + this.type, this), this.options.container ? s.appendTo(this.options.container) : s.insertAfter(this.$element), this.$element.trigger("inserted.bs." + this.type); var d = this.getPosition(), p = s[0].offsetWidth, c = s[0].offsetHeight; if (h) { var f = r, u = this.getPosition(this.$viewport); r = "bottom" == r && d.bottom + c > u.bottom ? "top" : "top" == r && d.top - c < u.top ? "bottom" : "right" == r && d.right + p > u.width ? "left" : "left" == r && d.left - p < u.left ? "right" : r, s.removeClass(f).addClass(r) } var g = this.getCalculatedOffset(r, d, p, c); this.applyPlacement(g, r); var m = function () { var t = n.hoverState; n.$element.trigger("shown.bs." + n.type), n.hoverState = null, "out" == t && n.leave(n) }; t.support.transition && this.$tip.hasClass("fade") ? s.one("bsTransitionEnd", m).emulateTransitionEnd(i.TRANSITION_DURATION) : m() } }, i.prototype.applyPlacement = function (e, i) { var o = this.tip(), n = o[0].offsetWidth, s = o[0].offsetHeight, a = parseInt(o.css("margin-top"), 10), r = parseInt(o.css("margin-left"), 10); isNaN(a) && (a = 0), isNaN(r) && (r = 0), e.top += a, e.left += r, t.offset.setOffset(o[0], t.extend({ using: function (t) { o.css({ top: Math.round(t.top), left: Math.round(t.left) }) } }, e), 0), o.addClass("in"); var l = o[0].offsetWidth, h = o[0].offsetHeight; "top" == i && h != s && (e.top = e.top + s - h); var d = this.getViewportAdjustedDelta(i, e, l, h); d.left ? e.left += d.left : e.top += d.top; var p = /top|bottom/.test(i), c = p ? 2 * d.left - n + l : 2 * d.top - s + h, f = p ? "offsetWidth" : "offsetHeight"; o.offset(e), this.replaceArrow(c, o[0][f], p) }, i.prototype.replaceArrow = function (t, e, i) { this.arrow().css(i ? "left" : "top", 50 * (1 - t / e) + "%").css(i ? "top" : "left", "") }, i.prototype.setContent = function () { var t = this.tip(), e = this.getTitle(); t.find(".tooltip-inner")[this.options.html ? "html" : "text"](e), t.removeClass("fade in top bottom left right") }, i.prototype.hide = function (e) { function o() { "in" != n.hoverState && s.detach(), n.$element.removeAttr("aria-describedby").trigger("hidden.bs." + n.type), e && e() } var n = this, s = t(this.$tip), a = t.Event("hide.bs." + this.type); return this.$element.trigger(a), a.isDefaultPrevented() ? void 0 : (s.removeClass("in"), t.support.transition && s.hasClass("fade") ? s.one("bsTransitionEnd", o).emulateTransitionEnd(i.TRANSITION_DURATION) : o(), this.hoverState = null, this) }, i.prototype.fixTitle = function () { var t = this.$element; (t.attr("title") || "string" != typeof t.attr("data-original-title")) && t.attr("data-original-title", t.attr("title") || "").attr("title", "") }, i.prototype.hasContent = function () { return this.getTitle() }, i.prototype.getPosition = function (e) { e = e || this.$element; var i = e[0], o = "BODY" == i.tagName, n = i.getBoundingClientRect(); null == n.width && (n = t.extend({}, n, { width: n.right - n.left, height: n.bottom - n.top })); var s = o ? { top: 0, left: 0 } : e.offset(), a = { scroll: o ? document.documentElement.scrollTop || document.body.scrollTop : e.scrollTop() }, r = o ? { width: t(window).width(), height: t(window).height() } : null; return t.extend({}, n, a, r, s) }, i.prototype.getCalculatedOffset = function (t, e, i, o) { return "bottom" == t ? { top: e.top + e.height, left: e.left + e.width / 2 - i / 2 } : "top" == t ? { top: e.top - o, left: e.left + e.width / 2 - i / 2 } : "left" == t ? { top: e.top + e.height / 2 - o / 2, left: e.left - i } : { top: e.top + e.height / 2 - o / 2, left: e.left + e.width } }, i.prototype.getViewportAdjustedDelta = function (t, e, i, o) { var n = { top: 0, left: 0 }; if (!this.$viewport) return n; var s = this.options.viewport && this.options.viewport.padding || 0, a = this.getPosition(this.$viewport); if (/right|left/.test(t)) { var r = e.top - s - a.scroll, l = e.top + s - a.scroll + o; r < a.top ? n.top = a.top - r : l > a.top + a.height && (n.top = a.top + a.height - l) } else { var h = e.left - s, d = e.left + s + i; h < a.left ? n.left = a.left - h : d > a.right && (n.left = a.left + a.width - d) } return n }, i.prototype.getTitle = function () { var t, e = this.$element, i = this.options; return t = e.attr("data-original-title") || ("function" == typeof i.title ? i.title.call(e[0]) : i.title) }, i.prototype.getUID = function (t) { do t += ~ ~(1e6 * Math.random()); while (document.getElementById(t)); return t }, i.prototype.tip = function () { if (!this.$tip && (this.$tip = t(this.options.template), 1 != this.$tip.length)) throw new Error(this.type + " `template` option must consist of exactly 1 top-level element!"); return this.$tip }, i.prototype.arrow = function () { return this.$arrow = this.$arrow || this.tip().find(".tooltip-arrow") }, i.prototype.enable = function () { this.enabled = !0 }, i.prototype.disable = function () { this.enabled = !1 }, i.prototype.toggleEnabled = function () { this.enabled = !this.enabled }, i.prototype.toggle = function (e) { var i = this; e && (i = t(e.currentTarget).data("bs." + this.type), i || (i = new this.constructor(e.currentTarget, this.getDelegateOptions()), t(e.currentTarget).data("bs." + this.type, i))), e ? (i.inState.click = !i.inState.click, i.isInStateTrue() ? i.enter(i) : i.leave(i)) : i.tip().hasClass("in") ? i.leave(i) : i.enter(i) }, i.prototype.destroy = function () { var t = this; clearTimeout(this.timeout), this.hide(function () { t.$element.off("." + t.type).removeData("bs." + t.type), t.$tip && t.$tip.detach(), t.$tip = null, t.$arrow = null, t.$viewport = null }) }; var o = t.fn.tooltip; t.fn.tooltip = e, t.fn.tooltip.Constructor = i, t.fn.tooltip.noConflict = function () { return t.fn.tooltip = o, this } }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.popover"), s = "object" == typeof e && e; (n || !/destroy|hide/.test(e)) && (n || o.data("bs.popover", n = new i(this, s)), "string" == typeof e && n[e]()) }) } var i = function (t, e) { this.init("popover", t, e) }; if (!t.fn.tooltip) throw new Error("Popover requires tooltip.js"); i.VERSION = "3.3.5", i.DEFAULTS = t.extend({}, t.fn.tooltip.Constructor.DEFAULTS, { placement: "right", trigger: "click", content: "", template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' }), i.prototype = t.extend({}, t.fn.tooltip.Constructor.prototype), i.prototype.constructor = i, i.prototype.getDefaults = function () { return i.DEFAULTS }, i.prototype.setContent = function () { var t = this.tip(), e = this.getTitle(), i = this.getContent(); t.find(".popover-title")[this.options.html ? "html" : "text"](e), t.find(".popover-content").children().detach().end()[this.options.html ? "string" == typeof i ? "html" : "append" : "text"](i), t.removeClass("fade top bottom left right in"), t.find(".popover-title").html() || t.find(".popover-title").hide() }, i.prototype.hasContent = function () { return this.getTitle() || this.getContent() }, i.prototype.getContent = function () { var t = this.$element, e = this.options; return t.attr("data-content") || ("function" == typeof e.content ? e.content.call(t[0]) : e.content) }, i.prototype.arrow = function () { return this.$arrow = this.$arrow || this.tip().find(".arrow") }; var o = t.fn.popover; t.fn.popover = e, t.fn.popover.Constructor = i, t.fn.popover.noConflict = function () { return t.fn.popover = o, this } }(jQuery), +function (t) {
            "use strict"; function e(i, o) { this.$body = t(document.body), this.$scrollElement = t(t(i).is(document.body) ? window : i), this.options = t.extend({}, e.DEFAULTS, o), this.selector = (this.options.target || "") + " .nav li > a", this.offsets = [], this.targets = [], this.activeTarget = null, this.scrollHeight = 0, this.$scrollElement.on("scroll.bs.scrollspy", t.proxy(this.process, this)), this.refresh(), this.process() } function i(i) { return this.each(function () { var o = t(this), n = o.data("bs.scrollspy"), s = "object" == typeof i && i; n || o.data("bs.scrollspy", n = new e(this, s)), "string" == typeof i && n[i]() }) } e.VERSION = "3.3.5", e.DEFAULTS = { offset: 10 }, e.prototype.getScrollHeight = function () { return this.$scrollElement[0].scrollHeight || Math.max(this.$body[0].scrollHeight, document.documentElement.scrollHeight) }, e.prototype.refresh = function () { var e = this, i = "offset", o = 0; this.offsets = [], this.targets = [], this.scrollHeight = this.getScrollHeight(), t.isWindow(this.$scrollElement[0]) || (i = "position", o = this.$scrollElement.scrollTop()), this.$body.find(this.selector).map(function () { var e = t(this), n = e.data("target") || e.attr("href"), s = /^#./.test(n) && t(n); return s && s.length && s.is(":visible") && [[s[i]().top + o, n]] || null }).sort(function (t, e) { return t[0] - e[0] }).each(function () { e.offsets.push(this[0]), e.targets.push(this[1]) }) }, e.prototype.process = function () { var t, e = this.$scrollElement.scrollTop() + this.options.offset, i = this.getScrollHeight(), o = this.options.offset + i - this.$scrollElement.height(), n = this.offsets, s = this.targets, a = this.activeTarget; if (this.scrollHeight != i && this.refresh(), e >= o) return a != (t = s[s.length - 1]) && this.activate(t); if (a && e < n[0]) return this.activeTarget = null, this.clear(); for (t = n.length; t--;) a != s[t] && e >= n[t] && (void 0 === n[t + 1] || e < n[t + 1]) && this.activate(s[t]) }, e.prototype.activate = function (e) {
                this.activeTarget = e, this.clear(); var i = this.selector + '[data-target="' + e + '"],' + this.selector + '[href="' + e + '"]', o = t(i).parents("li").addClass("active"); o.parent(".dropdown-menu").length && (o = o.closest("li.dropdown").addClass("active")),
                    o.trigger("activate.bs.scrollspy")
            }, e.prototype.clear = function () { t(this.selector).parentsUntil(this.options.target, ".active").removeClass("active") }; var o = t.fn.scrollspy; t.fn.scrollspy = i, t.fn.scrollspy.Constructor = e, t.fn.scrollspy.noConflict = function () { return t.fn.scrollspy = o, this }, t(window).on("load.bs.scrollspy.data-api", function () { t('[data-spy="scroll"]').each(function () { var e = t(this); i.call(e, e.data()) }) })
        }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.tab"); n || o.data("bs.tab", n = new i(this)), "string" == typeof e && n[e]() }) } var i = function (e) { this.element = t(e) }; i.VERSION = "3.3.5", i.TRANSITION_DURATION = 150, i.prototype.show = function () { var e = this.element, i = e.closest("ul:not(.dropdown-menu)"), o = e.data("target"); if (o || (o = e.attr("href"), o = o && o.replace(/.*(?=#[^\s]*$)/, "")), !e.parent("li").hasClass("active")) { var n = i.find(".active:last a"), s = t.Event("hide.bs.tab", { relatedTarget: e[0] }), a = t.Event("show.bs.tab", { relatedTarget: n[0] }); if (n.trigger(s), e.trigger(a), !a.isDefaultPrevented() && !s.isDefaultPrevented()) { var r = t(o); this.activate(e.closest("li"), i), this.activate(r, r.parent(), function () { n.trigger({ type: "hidden.bs.tab", relatedTarget: e[0] }), e.trigger({ type: "shown.bs.tab", relatedTarget: n[0] }) }) } } }, i.prototype.activate = function (e, o, n) { function s() { a.removeClass("active").find("> .dropdown-menu > .active").removeClass("active").end().find('[data-toggle="tab"]').attr("aria-expanded", !1), e.addClass("active").find('[data-toggle="tab"]').attr("aria-expanded", !0), r ? (e[0].offsetWidth, e.addClass("in")) : e.removeClass("fade"), e.parent(".dropdown-menu").length && e.closest("li.dropdown").addClass("active").end().find('[data-toggle="tab"]').attr("aria-expanded", !0), n && n() } var a = o.find("> .active"), r = n && t.support.transition && (a.length && a.hasClass("fade") || !!o.find("> .fade").length); a.length && r ? a.one("bsTransitionEnd", s).emulateTransitionEnd(i.TRANSITION_DURATION) : s(), a.removeClass("in") }; var o = t.fn.tab; t.fn.tab = e, t.fn.tab.Constructor = i, t.fn.tab.noConflict = function () { return t.fn.tab = o, this }; var n = function (i) { i.preventDefault(), e.call(t(this), "show") }; t(document).on("click.bs.tab.data-api", '[data-toggle="tab"]', n).on("click.bs.tab.data-api", '[data-toggle="pill"]', n) }(jQuery), +function (t) { "use strict"; function e(e) { return this.each(function () { var o = t(this), n = o.data("bs.affix"), s = "object" == typeof e && e; n || o.data("bs.affix", n = new i(this, s)), "string" == typeof e && n[e]() }) } var i = function (e, o) { this.options = t.extend({}, i.DEFAULTS, o), this.$target = t(this.options.target).on("scroll.bs.affix.data-api", t.proxy(this.checkPosition, this)).on("click.bs.affix.data-api", t.proxy(this.checkPositionWithEventLoop, this)), this.$element = t(e), this.affixed = null, this.unpin = null, this.pinnedOffset = null, this.checkPosition() }; i.VERSION = "3.3.5", i.RESET = "affix affix-top affix-bottom", i.DEFAULTS = { offset: 0, target: window }, i.prototype.getState = function (t, e, i, o) { var n = this.$target.scrollTop(), s = this.$element.offset(), a = this.$target.height(); if (null != i && "top" == this.affixed) return i > n ? "top" : !1; if ("bottom" == this.affixed) return null != i ? n + this.unpin <= s.top ? !1 : "bottom" : t - o >= n + a ? !1 : "bottom"; var r = null == this.affixed, l = r ? n : s.top, h = r ? a : e; return null != i && i >= n ? "top" : null != o && l + h >= t - o ? "bottom" : !1 }, i.prototype.getPinnedOffset = function () { if (this.pinnedOffset) return this.pinnedOffset; this.$element.removeClass(i.RESET).addClass("affix"); var t = this.$target.scrollTop(), e = this.$element.offset(); return this.pinnedOffset = e.top - t }, i.prototype.checkPositionWithEventLoop = function () { setTimeout(t.proxy(this.checkPosition, this), 1) }, i.prototype.checkPosition = function () { if (this.$element.is(":visible")) { var e = this.$element.height(), o = this.options.offset, n = o.top, s = o.bottom, a = Math.max(t(document).height(), t(document.body).height()); "object" != typeof o && (s = n = o), "function" == typeof n && (n = o.top(this.$element)), "function" == typeof s && (s = o.bottom(this.$element)); var r = this.getState(a, e, n, s); if (this.affixed != r) { null != this.unpin && this.$element.css("top", ""); var l = "affix" + (r ? "-" + r : ""), h = t.Event(l + ".bs.affix"); if (this.$element.trigger(h), h.isDefaultPrevented()) return; this.affixed = r, this.unpin = "bottom" == r ? this.getPinnedOffset() : null, this.$element.removeClass(i.RESET).addClass(l).trigger(l.replace("affix", "affixed") + ".bs.affix") } "bottom" == r && this.$element.offset({ top: a - e - s }) } }; var o = t.fn.affix; t.fn.affix = e, t.fn.affix.Constructor = i, t.fn.affix.noConflict = function () { return t.fn.affix = o, this }, t(window).on("load", function () { t('[data-spy="affix"]').each(function () { var i = t(this), o = i.data(); o.offset = o.offset || {}, null != o.offsetBottom && (o.offset.bottom = o.offsetBottom), null != o.offsetTop && (o.offset.top = o.offsetTop), e.call(i, o) }) }) }(jQuery);
    </script>


    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415714095468338'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=415714095468338&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">


        //Script Yourviews -->
        (function () {
            var yvs = document.createElement("script");
            yvs.type = "text/javascript";
            yvs.async = true;
            yvs.id = "_yvsrc";
            yvs.src = "//service.yourviews.com.br/script/62d7e95f-dba9-4a4c-b046-04408c991aa9/yvapi.js";
            var yvs_script = document.getElementsByTagName("script")[0];
            yvs_script.parentNode.insertBefore(yvs, yvs_script);
        })();
        //Script Yourviews -->

        function getParam(p) {

            var match = RegExp('[?&]' + p + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        function setCookie(name, value, days) {

            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = ";expires=" + date.toGMTString();
            var domain = ";domain =.coroasparavelorio.com.br"
            var path = ";path=/";
            document.cookie = name + "=" + value + expires + domain + path;
        };

        window.onload = function () {

            var url = 'https://www.coroasparavelorio.com.br/tracker/tracker.php';

            var params = ['ads_palavra', 'ads_grupo', 'ads_campanha', 'ads_posicao', 'ads_regiao'];
            var campos = ['palavra', 'grupo', 'campanha', 'posicao', 'regiao'];

            var gclid = getParam('gclid');

            if (gclid) {

                setCookie('_ao5_track_adwords', gclid, 1);

                url += '?gclid=' + gclid;

                for (var i = 0; i < params.length; i++) {

                    var v = getParam(params[i]);

                    if (v) {

                        url += '&' + campos[i] + '=' + v;
                    }
                }

                document.body.innerHTML += '<img src="' + url + '" style="display: none" />';
            }

        }
    </script>
    <style type="text/css">
        nav.navbar-inverse {
            background-color: rgb(227, 6, 18);
        }

        section#main-header a {
            margin: 0px;
            margin-top: 0px
        }

        nav.navbar-inverse ul.navbar-nav li a {
            font-size: 12px;
        }

        nav.navbar-inverse ul.navbar-nav li span {
            color: #ffffff;
            line-height: 2.3;
        }


        section#main-header ul li strong, section#main-header ul li a {
            font-size: 24px;
        }

        nav.navbar-inverse ul.navbar-nav li a:hover, nav.navbar-inverse ul.navbar-nav li a:focus {
            background-color: #333;
        }

        nav.navbar-inverse {
            margin-bottom: -13px;
        }

        section#main-header ul li strong, section#main-header ul li {
            font-size: 12px;
        }

        section#main-header ul {
            margin-top: 37px;
            margin-bottom: 20px;
        }

            section#main-header ul li span {
                background-color: #e30612;
            }

        .icon_profile {
            line-height: 2;
        }



        @@media (max-width: 1199px) {
            nav.navbar-inverse ul.navbar-nav li a {
                font-size: 10px;
            }
        }

        @@media (max-width: 992px) {
            section#main-header a img {
                max-width: 205px;
                margin-top: 25px;
            }

            section#main-header a {
                margin: 15px 0;
            }
        }

        @@media (min-width: 992px) {
            section#main-header a img {
                max-width: 205px;
                margin-top: 25px;
            }
        }
    </style>
</head>

<body id="LayoutNew">
    <!-- Fixed Bar -->
    <!-- WhatsApp Mobile -->
    <section id="fixed-whatsapp" class="visible-xs">
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">
                    <span class="col-xs-4"></span>
                    <p class="col-xs-8">WhatsApp</p>
                </a>
            </div>
        </div>
        <!-- /Container -->
    </section>
    <!-- /WhatsApp Mobile -->

    @{
        if (Request.Path.StartsWith("/Landing_Page"))

        {
            <!-- Mainly Header -->
            <section id="main-header">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-3 col-sm-3">
                            <a href="@Url.Action("Index", "Home")" />
                            <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <ul>
                                <li>
                                    <a href="tel:@TelAd"><i></i>@TelAd</a>
                                    @TextoApoio
                                </li>
                                <li>
                                    <a href="tel:@Tel0800"><i></i>@Tel0800</a>
                                    OUTRAS CIDADES
                                </li>

                                <li class="whatsweb">
                                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank" class="whatsweb"><span class="whats"></span>WHATSAPP WEB</a>
                                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank">Clique e Compre por WhatsApp</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Mainly Header -->
            <!-- Mobile Fixed Phone -->
            <section id="mobile-fixed" class="visible-xs">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-xs-6">
                            <span>Capitais:<br /> <big><a href="tel:@TelAd">@TelAd</a></big></span>
                        </div>
                        <div class="col-xs-6">
                            <span>Outras Cidades:<br /> <big><a href="tel:@Tel0800">@Tel0800</a></big></span>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Mobile Fixed Phone -->
            <!-- Mobile Header -->
            <section id="mobile-header" class="visible-xs">
                <!-- Container -->
                <div class="container-fluid">
                    <div class="lining">
                        <div class="col-xs-12">
                            <a href="@Url.Action("Index", "Home")">
                                <img style="max-width:67%;" src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Container -->

            </section>
            <!-- /Mobile Header -->
        }
        else
        {
            <section id="fixed-bar" style="display:none">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-xs-6">
                            <span>
                                <i></i>
                                <big><a href="tel:@Tel0800">@Tel0800</a></big><br />
                                <text>Atendimento 24 horas</text>
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span class="whats">
                                <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">WhatsApp Web</a>
                                <br /><text>Clique e Compre por WhatsApp</text>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Fixed Bar -->
            <header>
                <!-- Login Stripe -->
                <nav class="navbar navbar-inverse">
                    <!-- Container -->
                    <div class="container">
                        <!-- Collapse -->
                        <div class="collapse navbar-collapse" id="main-navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coroa de Flores <span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="min-width: 250px;">
                                        <li><a href="/coroa-de-flores/premium">Coroa de Flores Premium</a></li>
                                        <li><a href="/coroa-de-flores/luxo">Coroa de Flores Luxo</a></li>
                                        <li><a href="/coroa-de-flores/super-luxo">Coroa de Flores Super Luxo</a></li>
                                        <li><a href="/coroa-de-flores/duplas">Coroa de Flores Duplas</a></li>
                                        <li><a href="/coroa-de-flores">Todas as Coroas</a></li>
                                    </ul>
                                </li>
                                <li class="hidden-sm">
                                    <a href="/tempo-e-prazo-de-entrega" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                                        Prazos e Entregas
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frases Homenagem <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/frases-de-homenagens/mensagens-para-amigo">Frases e Mensagens de Luto para Amigo</a></li>
                                        <li><a href="/frases-de-homenagens/mensagens-para-familiares">Frases e Mensagens de Luto para Familiares</a></li>
                                        <li><a href="/frases-de-homenagens/mensagens-para-colegas-de-trabalho">Frases e Mensagens de Luto para Colegas de Trabalho</a></li>
                                        <li><a href="/frases-de-homenagens/mensagens-para-mae">Frases e Mensagens de Luto para Mãe</a></li>
                                        <li><a href="/frases-de-homenagens/mensagens-para-pai">Frases e Mensagens de Luto para Pai</a></li>
                                        <li><a href="/frases-de-homenagens/mensagens-para-primos">Frases e Mensagens de Luto para Primo</a></li>
                                        <li><a href="/frases-de-homenagens">Mais Frases</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/formas-de-pagamento" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
                                        Formas de Pagamento
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRINCIPAIS CIDADES <span class="caret"></span></a>

                                    <ul class="dropdown-menu">
                                        <span class="drop1">
                                            <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-recife-pe">Recife</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-fortaleza-ce">Fortaleza</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-salvador-ba">Salvador</a></li>
                                        </span>

                                        <span class="drop2">
                                            <li><a href="/cidades/coroa-de-flores-campinas-sp">Campinas</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-santos-sp">Santos</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-cuiaba-mt">Cuiabá</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-campo-grande-ms">Campo Grande</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-florianopolis-sc">Florianópolis</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp">São José dos Campos</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-guarulhos-sp">Guarulhos</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-jundiai-sp">Jundiaí</a></li>
                                            <li><a href="/coroas-de-flores/coroa-de-flores-niteroi-rj">Niterói</a></li>
                                            <li><a href="/velorios-e-cemiterios" class="outros-locais">Outros Locais</a></li>
                                        </span>
                                    </ul>
                                </li>
                                <li>
                                    @Html.Action("MenuNeue", "Cliente")
                                </li>
                            </ul>
                        </div>
                        <!-- /navbar-collapse -->
                    </div>
                    <!-- /Ccontainer -->
                </nav>
                <!-- /Login Stripe -->
                <!-- Mobile Fixed Phone -->
                <section id="mobile-fixed" class="visible-xs">
                    <!-- Container -->
                    <div class="container">
                        <div class="lining">
                            <div class="col-xs-6">
                                <span>Capitais:<br /> <big><a href="tel:@TelAd">@TelAd</a></big></span>
                            </div>
                            <div class="col-xs-6">
                                <span>Outras Cidades:<br /> <big><a href="tel:@Tel0800">@Tel0800</a></big></span>
                            </div>
                        </div>
                    </div>
                    <!-- /Container -->
                </section>
                <!-- /Mobile Fixed Phone -->
                <!-- Mobile Header -->
                <section id="mobile-header" class="visible-xs">
                    <!-- Container -->
                    <div class="container-fluid">
                        <div class="lining">
                            <div class="col-xs-2">
                                <a href="#mmenu" class="icon_menu"></a>
                            </div>
                            <div class="col-xs-8">

                                @if (Request.Path == "/empresasparceiras")
                                {
                                    <a href="@Url.Action("Index", "Home")" />
                                    <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                }
                                else
                                {
                                    <a href="/V3">
                                        <!--[if IE]>
                                        <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                        <![endif]-->
                                        <!--[if !IE]> -->
                                        <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                        <!-- <![endif]-->
                                    </a>
                                }
                            </div>
                            <div class="col-xs-2">
                                <a href="/carrinho">
                                    <span class="icon_cart"><i>@Html.Action("ResumoMobile", "Carrinho")</i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /Container -->

                </section>
                <!-- /Mobile Header -->
                <!-- Menu for mobile screens -->
                @Html.Action("NavigationMobile", "Cliente")

                <!-- Mainly Header -->
                <section id="main-header">
                    <!-- Container -->
                    <div class="container">
                        <div class="lining">
                            <div class="col-md-3 col-sm-3">
                                @if (Request.Path.ToLower() == "/empresasparceiras" || Request.Path.ToLower() == "/avaliacao")
                                {
                                    <a href="@Url.Action("Index", "Home")" />
                                    <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                }
                                else
                                {
                                    <a href="/V3">
                                        <!--[if IE]>
                                             <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                        <![endif]-->
                                        <!--[if !IE]> -->
                                        <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                        <!-- <![endif]-->
                                    </a>
                                }
                            </div>

                            <div class="col-md-9 col-sm-9">
                                <ul>
                                    <li>
                                        <a href="tel:@TelAd"><i></i>@TelAd</a>
                                        @TextoApoio
                                    </li>
                                    <li>
                                        <a href="tel:@Tel0800"><i></i>@Tel0800</a>
                                        OUTRAS CIDADES
                                    </li>

                                    @Html.Action("Resumo", "Carrinho")
                                    <li class="whatsweb">
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank" class="whatsweb"><span class="whats"></span>WHATSAPP WEB</a>
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank">Clique e Compre por WhatsApp</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Container -->
                </section>
                <!-- /Mainly Header -->
                <!-- Menu for Desktop and Tablet screens -->

            </header>
        }
    }



    @if (ViewBag.Home == true || Request.Path == "/coroa-de-flores")
    {
        <!-- Features -->
        <section id="features">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <ul>
                            <li class="hidden-sm hidden-xs" id="entrega">
                                <i></i>
                                <span>
                                    Entrega para
                                    <strong>todo o Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faturamento">
                                <i></i>
                                <span>
                                    Faturamento para
                                    <strong>empresas com NF-e</strong>
                                </span>
                            </li>

                            <li id="atendimento">
                                <i></i>
                                <span>
                                    Atendimento e entrega
                                    <strong>24 horas todos os dias</strong>
                                </span>
                            </li>

                            <li id="frete">
                                <i></i>
                                <span>
                                    Frete grátis
                                    <strong>para todo Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="pagamento">
                                <i></i>
                                <span>
                                    Pagamento com boleto
                                    <strong>ou cartão de crédito</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faixa">
                                <i></i>
                                <span>
                                    Faixa para
                                    <strong>homenagem grátis</strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Features -->
    }

    @RenderBody()

    <footer>
        @if (Request.Path.StartsWith("/coroa-de-flores"))
        {

        }


        @if (ViewBag.Home == true | Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores") || Request.Path.StartsWith("/coroa-de-flores"))
        {
            <section class="foot-features">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <ul>
                                @*<li style="background-image: none;">
                                        <div class="div_imagem">
                                            <div id="armored_website_02" style="border-style: none;padding-top: 30px;position: relative;margin: auto;">
                                                    <param id="aw_preload" value="true" />
                                                </div>
                                                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                                        </div>
                                    </li>*@
                                <li id="foo-frete"></li>
                                <li id="foo-entrega"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
        }

        @if (Request.Path == "/coroa-de-flores")
        {
            <section class="ipsum">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <p>
                                Ligadas às cerimônias de despedida do entes e amigos queridos, a coroa de flores representava em diversas culturas milenares um símbolo de grande honra. Segundo diversas fontes históricas, as antigas civilizações gregas passaram a usá-la da forma como conhecemos hoje, em homenagem aos mortos, simbolizando o triunfo final da vida sobre a morte.
                            </p>
                            <p class="hidden-xs">
                                Prestar homenagens a quem amamos e que infelizmente já não está mais entre nós é um importante sinal de atenção e afeto.
                            </p>
                            <h2>
                                Como escolher a coroa de flores
                            </h2>
                            <hr />
                            <p>
                                A escolha das flores depende do gosto de quem vai enviá-la, mas algumas dicas podem auxiliar a prestar o mais belo e verdadeiro tributo.
                            </p>
                            <p>
                                Antúrio, girassol, lisiantos, lírios e copos de leite são indicados para pessoas mais idosas, e também para colegas de trabalho. As gérberas são coloridas, e expressam profundas condolências aos familiares do falecido. As margaridas são indicadas para velórios infantis ou de jovens, enquanto as rosas são enviadas por familiares e amigos próximos à pessoa falecida. Orquídeas são uma belíssima e delicada homenagem na ocasião do falecimento de mães.
                            </p>
                            <p>
                                As coroas são produzidas com flores naturais e podem ter diferentes aromas, combinações de cores e tamanhos. As flores são decoradas em forma de um arco e finalizadas com uma faixa, contendo frases de amigos e familiares, reforçando o respeito à memória daquele que se foi. É uma forma de transpassar emoções que simplesmente não podem ser expressas na forma de palavras.
                            </p>
                            <p>
                                Seja para os velórios, enterros ou qualquer outra cerimônia funeral, encontre a coroa ideal em nosso site, e conte com uma entrega rápida em todo o Brasil. A central de atendimento Coroas Para Velório funciona 24 horas por dia, incluindo finais de semana e feriados, e a coroa é entregue em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                            </p>
                            <p>
                                Pioneiro no segmento de homenagens fúnebres, o e-commerce Coroas para Velório é especializado na entrega de coroa de flores no Brasil. Com estrutura para enviar de maneira rápida e segura coroa de flores em todos os estados brasileiros, o Coroas para Velório garante a segurança de sua compra on-line através de nosso site blindado; sem riscos de fraudes ou clonagem.
                            </p>
                            <p>
                                Com uma Central de Atendimento que funciona 24 horas por dia, incluindo finais de semana e feriados, o Coroas para Velório faz a entrega de coroas de flores em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                            </p>
                            <p>
                                Visando garantir a comodidade de todos os nossos clientes no momento do luto, disponibilizamos as seguintes formas de pagamentos: boleto, cartões, depósito bancário ou faturamento para empresas com emissão de Nota Fiscal.
                            </p>
                            <p>
                                Para encomendar a sua coroa de flores, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a coroa de flores.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Container -->
            </section>
        }

        @if (ViewBag.Home == true | Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores"))
        {
            <section class="ipsum">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            @if (ViewBag.Home == true)
                            {
                                <p>
                                    Pioneiro no segmento de homenagens fúnebres, o e-commerce <strong>Coroas para Velório</strong> é especializado na entrega de <strong>coroa de flores</strong> no Brasil. Com estrutura para enviar de maneira rápida e segura coroas de flores em todos os estados brasileiros, o Coroas para Velório garante a segurança de sua compra on-line através de nosso site blindado; sem riscos de fraudes ou clonagem.
                                </p>
                                <p class="hidden-xs">
                                    Com uma Central de Atendimento que funciona 24 horas por dia, incluindo finais de semana e feriados, o Coroas para Velório faz a entrega de <strong>coroas de flores</strong> em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                                </p>
                                <p class="hidden-xs">
                                    Visando garantir a comodidade de todos os nossos clientes no momento do luto, disponibilizamos as seguintes formas de pagamentos: boleto, cartões, depósito bancário ou faturamento para empresas com emissão de Nota Fiscal.
                                </p>
                                <p class="hidden-xs">
                                    Para encomendar as suas <strong>coroas de flores</strong>, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a <strong>coroa de flores</strong>.
                                </p>
                                <a class="visible-xs">Leia mais</a>
                            }

                            else
                            {
                                @Html.Raw(String.IsNullOrEmpty(ViewBag.Descricao) ? configuracoes.Descricao : ViewBag.Descricao)
                            }
                        </div>
                    </div>

                    @RenderSection("Rodape", false)
                </div>
                <!-- Container -->
            </section>
        }

        @{
            if (Request.Path.StartsWith("/Landing_Page"))
            {

            }
            else
            {
            <section class="main">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-3 col-sm-6">
                            <h5 onclick="mostra_esconde2('institucional','1')">Institucional</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "a-empresa")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">A Empresa</a></li>
                                @*<li><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">Coroas para Velório na Mídia</a></li>*@
                                <li><a href="@Url.Action("Index", "depoimentos-de-clientes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">Depoimentos de Clientes</a></li>
                                <li><a href="@Url.Action("Index", "seja-uma-floricultura-parceira")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">Seja uma Floricultura Parceira</a></li>
                                @*<li><a href="@Url.Action("Index", "seja-um-promotor")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">Seja um Promotor</a></li>*@
                            </ul>

                            <h5 onclick="mostra_esconde2('condicoes_comerciais','1')">Condições Comerciais</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">Termos e Condições Comerciais</a></li>
                                <li><a href="@Url.Action("Index", "politicas-de-privacidade")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">Política de Privacidade</a></li>
                                <li><a href="@Url.Action("Index", "politica-de-reembolso-e-cancelamento")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politica-de-reembolso-e-cancelamento']);">Política de Reembolso e Cancelamento</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <h5 onclick="mostra_esconde2('mais_informacoes','1')">Mais Informações</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">Como Comprar</a></li>
                                <li><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">Tempo e Prazo de Entrega</a></li>
                                <li><a href="@Url.Action("Index", "indique-o-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">Indique o Coroas para Velório</a></li>
                                <li><a href="@Url.Action("Index", "significado-das-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">Significado das Flores</a></li>
                                <li><a href="@Url.Action("Index", "condolencias-virtuais-gratis")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">Condolências Virtuais Grátis</a></li>
                                <li><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">Frases de Homenagens</a></li>
                                @*<li><a href="@Url.Action("Index", "noticias-de-mercado")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">Notícias de Mercado</a></li>*@
                                <li><a href="@Url.Action("Index", "seguranca")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">Segurança</a></li>
                                <li><a href="/blog" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">Blog</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <h5 onclick="mostra_esconde2('compre_online','1')">Compre Online</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "coroa-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">Coroa de Flores</a></li>
                                @*<li><a href="@Url.Action("Index", "arranjo-de-condolencias")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'arranjo-de-condolencias']);">Arranjos de Condolências</a></li>*@
                                <li><a href="@Url.Action("Index", "empresasparceiras")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'empresasparceiras']);">Para Empresas</a></li>
                                <li><a href="@Url.Action("Index", "promocao-da-semana")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promocao-da-semana']);">Promoção da Semana</a></li>
                                <li><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
                                <li><a href="@Url.Action("Index", "solucoes-corporativas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">Soluções Corporativas</a></li>
                                <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                                <li><a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">Cidades e Regiões</a></li>
                            </ul>

                            <h5 onclick="mostra_esconde2('duvidas_frequentes','1')">Dúvidas Frequentes</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "duvidas-frequentes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">Acesse nosso FAQ</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <h5 onclick="mostra_esconde2('televendas','1');mostra_esconde2('televendas2','2')">Televendas</h5>
                            <ul>
                                <li>Entregas em todo o Brasil</li>
                                @{
                                    <li>@TelAd</li>
                                }

                                <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'central-de-atendimento']);">Central de Atendimento</a></li>
                            </ul>

                            <h5 onclick="mostra_esconde2('central_atendimento','1')">Central de Atendimento</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                                <li><a href="/contato/telefones-de-sua-regiao" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'telefones-por-regioes']);">Regiões de Atendimento</a></li>
                                <li><a href="@Url.Action("Index", "pesquisa-de-satisfacao")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="lining">
                        <div class="col-md-2 col-sm-2">
                            <h5 onclick="mostra_esconde2('redes_sociais','3')">Redes Sociais</h5>
                            <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);" id="facebook"></a>
                            <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);" id="twitter"></a>
                            <a href="https://plus.google.com/102823637340385654450" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);" id="plus"></a>
                            <br />
                            @RenderSection("SocialScripts", false)
                            @*<a href="http://www.sitesustentavel.com.br/certificado/list?url=www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'selo-sustentavel']);" id="sustentavel" ></a>*@
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <h5 onclick="mostra_esconde2('participacao','3')">Participação</h5>
                            <a href="https://endeavor.org.br/" target="_blank" id="endeavor"></a>
                            <a href="https://www.ecommercebrasil.com.br/noticias/e-commerce-experience-confira-a-lista-de-selecionados-para-o-programa" target="_blank" id="ecommercebrasil"></a>
                            <br />

                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h5>Meios de Pagamento</h5>
                            <span id="payment"></span>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <h5 onclick="mostra_esconde2('seguranca','5')">Certificados e Segurança</h5>
                            <div class="col-lg-6 col-md-12">
                                <a href="https://www.lojaconfiavel.com/coroasparavelorio" class="ts-footerstamp" data-lcname="coroasparavelorio" target="_blank">
                                    <img src="//service.yourviews.com.br/Image/62d7e95f-dba9-4a4c-b046-04408c991aa9/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" style="width: 88px; height: 91px;">
                                </a>

                            </div>
                            <div class="col-lg-6 col-md-12 googlesafe">
                                <a href="https://transparencyreport.google.com/safe-browsing/search?url=coroasparavelorio.com.br" target="_blank">
                                    <img alt="Google Safe Browsing" src="/Content/neue/img/ui/googlesafebrowsing.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            }
        }

        <section class="last">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>Coroas para velorio | CNPJ: 12.404.942/0001-14</p>
                        <p>www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a></p>
                        <p>As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.</p>
                        <p>É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site</p>

                        <span>
                            <p>Copyright &copy; @DateTime.Now.Year Coroas para Velório | TODOS OS DIREITOS RESERVADOS</p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    </footer>

    @RenderSection("Script", false)

    <!-- Page hiding snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-2SWW6': true });</script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-2SWW6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- TAGUEAMENTO -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_set', 'currencyCode', 'BRL']);

        @Html.Raw(ViewBag.TrackTrans)

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        @if (ViewBag.Retargeting == null)
 {
    <text>
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        </text>
 }
 else
 {
    @Html.Raw(ViewBag.Retargeting)
 }
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- TAGUEAMENTO -->

</body>


<!-- Mmenu -->
<link href="/content/neue/js/mmenu/dist/core/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">

@RenderSection("NeueScripts", false)
</html>
