﻿@{
    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;

    var TextoApoio = "CAPITAIS E REGIÕES METROPOLITANAS";
    var TelAd = "4007-2233";
    var Tel0800 = configuracoes.SAC;

    //if (!string.IsNullOrEmpty(Request.QueryString["gclid"]) || Request.Cookies["_ao5_track_adwords"] != null)
    //{
    //    TextoApoio = "ATENDIMENTO NACIONAL";
    //    TelAd = "4003-3138";
    //    Tel0800 = "0800-580-3250";
    //}

    string tituloGeral = "";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] != null)
    {
        if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "local")
        {

            tituloGeral = ViewBag.Title;

        }
        else
        {
            tituloGeral = ViewBag.Title + " | Coroas Para Velório";
        }
    }
    else
    {
        tituloGeral = ViewBag.Title + " | Coroas Para Velório";
    }

}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Page hiding snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-2SWW6': true });</script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-2SWW6');</script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="JhtJmti4g5-XOujcinPk9teAcdDPMcFKm36P5AmChbI" />
    @{
        var URL = "https://www.coroasparavelorio.com.br" + Request.Url.AbsolutePath;
    }
    <link rel="canonical" href="@URL" />
    <!-- Prevent Skype Toolbar to change de CSS from DOM elements -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <link rel="shortcut icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/neue/img/favicon.ico?v=2")" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/favicon.ico?v=2")" />

    @{
        var DescriptionMeta = String.IsNullOrEmpty(ViewBag.Description) ? configuracoes.TagDescription : ViewBag.Description;
        if (DescriptionMeta.Length > 320)
        {
            DescriptionMeta = DescriptionMeta.Substring(0, 315);
            DescriptionMeta += "...";
        }


    }

    <meta name="description" content="@(DescriptionMeta)" />

    @{
        var Title = String.IsNullOrEmpty(ViewBag.Title) ? configuracoes.Titulo : tituloGeral;

        if (Title.Length > 70)
        {
            Title = Title.Substring(0, 65);
            Title += "...";
        }
    }

    <title>@Title</title>

    <meta name="keywords" content="@(String.IsNullOrEmpty(ViewBag.Keywords) ? configuracoes.TagKeywords : ViewBag.Keywords)" />

    <meta name="robots" content="index, follow">

    @if (Request.Path.ToLower() == "/v4")
    {
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <style type="text/css">
            body, body * {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>

    }


    <style type="text/css">
    body,body *{font-family:Trebuchet MS,Helvetica,Arial,sans-serif}h1{font-family:'Yanone Kaffeesatz',sans-serif;font-size:30px}section#login-bar{background-color:#555;color:#fff;padding:5px 0;text-align:right;font-size:13px}section#main-header a{border:none;display:block;margin:15px 20px}section#main-header a img{width:100%;height:auto;max-width:300px}section#main-header ul{list-style:none;padding:0;margin:26px 0 0;display:inline-block}section#main-header ul li{float:left;text-align:right;padding:0 10px;text-transform:uppercase;color:#a8a8a8}section#main-header ul li strong{display:block;width:100%;font-size:26px;padding-bottom:4px;color:#333}section#main-header ul li span{display:block;text-align:center;background-color:#797979;padding:6px 10px;color:#fff;font-size:11px;line-height:.8;letter-spacing:.5px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px}nav.navbar-inverse{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0;background-color:#a8a8a8;border:none;min-height:25px;margin-bottom:0}section#features{text-align:center;background-color:#f5f5f5;border-bottom:1px solid #e0e0e0}section#features ul{display:inline-block;list-style:none;padding:0;margin:5px 0}section#features ul li{float:left;padding:5px 10px;text-align:left;text-transform:uppercase;font-size:10px;color:#797979}section#features ul li i{display:inline-block;float:left;width:17px;height:17px;margin-right:5px;background-image:url(../img/ui/spritesheet.png);background-position:0 0;background-size:auto;background-repeat:no-repeat}section#features ul li span{display:block;float:left}section.loop-title .form-control{padding:8px 15px;height:initial;margin-top:12px;background-color:#797979;color:#fff;width:initial;display:inline-block}section.loop .card{position:relative;text-align:center;padding:10px 0;border:1px solid transparent;margin:10px 0}section.loop .card span{display:inline-block;overflow:hidden;text-align:center;width:80%;height:0;padding-bottom:85%}section.loop .card span img{width:100%;height:auto}section.loop .card h2{text-transform:uppercase;font-size:14px}.btn-checkout{color:#fff;background-color:#af0102;text-transform:uppercase;padding:10px 45px;font-size:16px}@{<text>@@media(min-width:768px){.visible-xs{display:none}</text>}
    </style>


    <!-- Bootstrap -->
    <link href="/content/neue/css/cpv.css" rel="stylesheet">
    <link href="/content/neue/css/temp_cpv.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415714095468338'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=415714095468338&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">

        //Script Yourviews -->
        (function () {
            var yvs = document.createElement("script");
            yvs.type = "text/javascript";
            yvs.async = true;
            yvs.id = "_yvsrc";
            yvs.src = "//service.yourviews.com.br/script/62d7e95f-dba9-4a4c-b046-04408c991aa9/yvapi.js";
            var yvs_script = document.getElementsByTagName("script")[0];
            yvs_script.parentNode.insertBefore(yvs, yvs_script);
        })();
        //Script Yourviews -->

        function getParam(p) {

            var match = RegExp('[?&]' + p + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        function setCookie(name, value, days) {

            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = ";expires=" + date.toGMTString();
            var domain = ";domain =.coroasparavelorio.com.br"
            var path = ";path=/";
            document.cookie = name + "=" + value + expires + domain + path;
        };

        window.onload = function () {

            var url = 'https://www.coroasparavelorio.com.br/tracker/tracker.php';

            var params = ['ads_palavra', 'ads_grupo', 'ads_campanha', 'ads_posicao', 'ads_regiao'];
            var campos = ['palavra', 'grupo', 'campanha', 'posicao', 'regiao'];

            var gclid = getParam('gclid');

            if (gclid) {

                setCookie('_ao5_track_adwords', gclid, 1);

                url += '?gclid=' + gclid;

                for (var i = 0; i < params.length; i++) {

                    var v = getParam(params[i]);

                    if (v) {

                        url += '&' + campos[i] + '=' + v;
                    }
                }

                document.body.innerHTML += '<img src="' + url + '" style="display: none" />';
            }
        }

    </script>

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-2SWW6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Fixed Bar -->
    <section id="fixed-bar" style="display:none">
        <!-- Container -->
        <div class="container">
            <div class="lining">
                <div class="col-xs-6">
                    <span>
                        <i></i>
                        <big><a href="tel:@Tel0800">@Tel0800</a></big><br />
                        <text>Atendimento 24 horas</text>
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="whats">
                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">WhatsApp Web</a>
                        <br /><text>Clique e Compre por WhatsApp</text>
                    </span>
                </div>
            </div>
        </div>
        <!-- /Container -->
    </section>
    <!-- /Fixed Bar -->
    <header>
        <!-- WhatsApp Mobile -->
        <section id="fixed-whatsapp" class="visible-xs">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?">
                        <span class="col-xs-4"></span>
                        <p class="col-xs-8">WhatsApp</p>
                    </a>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /WhatsApp Mobile -->
        <!-- Login Stripe -->
        @if (Request.Path.ToLower() != "/v4")
        {
            <section id="login-bar" class="hidden-xs">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <!-- Renderiza o menu de login, minha conta, meus pedidos e sair -->
                            @Html.Action("MenuNeue", "Cliente")
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
        }
        <!-- /Login Stripe -->
        <!-- Mobile Fixed Phone -->
        <section id="mobile-fixed" class="visible-xs">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-xs-6">
                        <!--<span class="whats" >WhatsApp:<br /> <big><a href="tel:01194459-8175" class="whats">011 94459-8175</a></big></span> -->
                        <span>Capitais:<br /> <big><a href="tel:@TelAd">@TelAd</a></big></span>
                    </div>
                    <div class="col-xs-6">
                        <span>Outras Cidades:<br /> <big><a href="tel:@Tel0800">@Tel0800</a></big></span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Mobile Fixed Phone -->
        <!-- Mobile Header -->
        <section id="mobile-header" class="visible-xs">
            <!-- Container -->
            <div class="container-fluid">
                <div class="lining">
                    <div class="col-xs-2">
                        <a href="#mmenu" class="icon_menu"></a>
                    </div>
                    <div class="col-xs-8">
                        <a href="@Url.Action("Index", "Home")">
                            <!--[if IE]>
                            <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <![endif]-->
                            <!--[if !IE]> -->
                            <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                            <!-- <![endif]-->
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/carrinho">
                            <span class="icon_cart"><i>@Html.Action("ResumoMobile", "Carrinho")</i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Container -->
            <!-- Whatsapp -->
            <section class="whatsapp"></section>
        </section>
        <!-- /Mobile Header -->
        <!-- Menu for mobile screens -->
        @Html.Action("NavigationMobile", "Cliente")

        @if (Request.Path.ToLower() == "/v4")
        {
            <!-- Mainly Header -->
            <section id="main-header">
                <!-- Container -->
                <div class="container">
                    <div class="lining" id="main-neue">
                        <div class="col-md-3 col-sm-3">
                            <a href="/v4">
                                <img src="/content/neue/img/coroas-para-velorio-new.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul>
                                <li>
                                    <a href="tel:@TelAd">@TelAd</a>
                                    Capitais e regiões metropolitanas
                                </li>
                                <li>
                                    <a href="tel:@Tel0800">@Tel0800</a>
                                    Outras cidades
                                </li>

                                @*<li class="whatsweb">
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank" class="whatsweb"><span class="whats"></span>WHATSAPP WEB</a>
                                        <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank">Clique e Compre por WhatsApp</a>
                                    </li>*@
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.Partial("Navigation")
                        </div>
                    </div>

                </div>
                <!-- /Container -->
                <div class="collapse" id="mmenuneue">
                    <div class="container">
                        <div class="card-menu">
                            <ul class="col-md-3">
                                Coroa de Flores
                                <li><a href="/coroa-de-flores/premium">Coroa de Flores Premium</a></li>
                                <li><a href="/coroa-de-flores/luxo">Coroa de Flores Luxo</a></li>
                                <li><a href="/coroa-de-flores/super-luxo">Coroa de Flores Super Luxo</a></li>
                                <li><a href="/coroa-de-flores/duplas">Coroa de Flores Duplas</a></li>
                                <li><a href="/coroa-de-flores">Todas as Coroas</a></li>
                                <li class="underline"><a href="/coroa-de-flores">Ver mais</a></li>
                            </ul>
                            <ul class="col-md-3">
                                Frases de homenagens
                                <li><a href="/frases-de-homenagens/mensagens-para-amigo">Para Amigo</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-familiares">Para Familiares</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-colegas-de-trabalho">Para Colegas de Trabalho</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-mae">Para Mãe</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-pai">Para Pai</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-para-avos">Para Avós</a></li>
                                <li><a href="/frases-de-homenagens/mensagens-evangelicos">Para Evangélicos</a></li>
                                <li class="underline"><a href="/frases-de-homenagens">Ver mais</a></li>

                            </ul>
                            <ul class="col-md-3">
                                Informações
                                <li>
                                    <a href="/a-empresa">
                                        Sobre nós
                                    </a>
                                </li>
                                <li>
                                    <a href="/empresasparceiras">Para Empresas</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                                        Prazos e Entregas
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
                                <li>
                                    <a href="/contato">Contato</a>
                                </li>
                            </ul>
                            <ul class="col-md-3">
                                Principais Cidades
                                <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                                <li class="underline"><a href="/velorios-e-cemiterios">Ver mais</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Mainly Header -->
        }
        else
        {
            <!-- Mainly Header -->
            <section id="main-header">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-3 col-sm-3">
                            <a href="@Url.Action("Index", "Home")">
                                <!--[if IE]>
                                <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroa de Flores para todo o Brasil" />
                                <![endif]-->
                                <!--[if !IE]> -->
                                <img src="/content/neue/img/coroas-para-velorio.png" alt="Coroas para Velório - Coroas de Flores para todo o Brasil" />
                                <!-- <![endif]-->
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <ul>
                                <li>
                                    <a href="tel:@TelAd"><i></i>@TelAd</a>
                                    @TextoApoio
                                </li>
                                <li>
                                    <a href="tel:@Tel0800"><i></i>@Tel0800</a>
                                    OUTRAS CIDADES
                                </li>
                                @Html.Action("Resumo", "Carrinho")
                                <li class="whatsweb">
                                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank" class="whatsweb"><span class="whats"></span>WHATSAPP WEB</a>
                                    <a href="https://api.whatsapp.com/send?phone=@Domain.Core.Configuracoes.WHATSWEB&text=Olá,%20CoroasParaVelorio,%20necessito%20comprar%20uma%20coroa%20de%20flores.%20Podem%20me%20ajudar?" target="_blank">Clique e Compre por WhatsApp</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
            <!-- /Mainly Header -->
            <!-- Menu for Desktop and Tablet screens -->
            @Html.Partial("Navigation")
        }

    </header>

    @if (ViewBag.Home == true || Request.Path == "/coroa-de-flores")
    {
        <!-- Features -->
        <section id="features">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <ul>
                            <li class="hidden-sm hidden-xs" id="entrega">
                                <i></i>
                                <span>
                                    Entrega para
                                    <strong>todo o Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faturamento">
                                <i></i>
                                <span>
                                    Faturamento para
                                    <strong>empresas com NF-e</strong>
                                </span>
                            </li>

                            <li id="atendimento">
                                <i></i>
                                <span>
                                    Atendimento e entrega
                                    <strong>24 horas todos os dias</strong>
                                </span>
                            </li>

                            <li id="frete">
                                <i></i>
                                <span>
                                    Frete grátis
                                    <strong>para todo Brasil</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="pagamento">
                                <i></i>
                                <span>
                                    Pagamento com boleto
                                    <strong>ou cartão de crédito</strong>
                                </span>
                            </li>

                            <li class="hidden-xs" id="faixa">
                                <i></i>
                                <span>
                                    Faixa para
                                    <strong>homenagem grátis</strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <!-- /Features -->
    }

    @RenderBody()

    <footer>
        @if (Request.Path.StartsWith("/coroa-de-flores"))
        {

        }


        @if (ViewBag.Home == true | Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores") || Request.Path.StartsWith("/coroa-de-flores"))
        {
            <section class="foot-features">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <ul>
                                @*<li style="background-image: none;">
                                        <div class="div_imagem">
                                            <div id="armored_website_02" style="border-style: none;padding-top: 30px;position: relative;margin: auto;">
                                                    <param id="aw_preload" value="true" />
                                                </div>
                                                <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                                        </div>
                                    </li>*@
                                <li id="foo-frete"></li>
                                <li id="foo-entrega"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Container -->
            </section>
        }

        @if (Request.Path == "/coroa-de-flores")
        {
            <section class="ipsum">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            <p>
                                Ligadas às cerimônias de despedida do entes e amigos queridos, a coroa de flores representava em diversas culturas milenares um símbolo de grande honra. Segundo diversas fontes históricas, as antigas civilizações gregas passaram a usá-la da forma como conhecemos hoje, em homenagem aos mortos, simbolizando o triunfo final da vida sobre a morte.
                            </p>
                            <p class="hidden-xs">
                                Prestar homenagens a quem amamos e que infelizmente já não está mais entre nós é um importante sinal de atenção e afeto.
                            </p>
                            <h2>
                                Como escolher a coroa de flores
                            </h2>
                            <hr />
                            <p>
                                A escolha das flores depende do gosto de quem vai enviá-la, mas algumas dicas podem auxiliar a prestar o mais belo e verdadeiro tributo.
                            </p>
                            <p>
                                Antúrio, girassol, lisiantos, lírios e copos de leite são indicados para pessoas mais idosas, e também para colegas de trabalho. As gérberas são coloridas, e expressam profundas condolências aos familiares do falecido. As margaridas são indicadas para velórios infantis ou de jovens, enquanto as rosas são enviadas por familiares e amigos próximos à pessoa falecida. Orquídeas são uma belíssima e delicada homenagem na ocasião do falecimento de mães.
                            </p>
                            <p>
                                As coroas são produzidas com flores naturais e podem ter diferentes aromas, combinações de cores e tamanhos. As flores são decoradas em forma de um arco e finalizadas com uma faixa, contendo frases de amigos e familiares, reforçando o respeito à memória daquele que se foi. É uma forma de transpassar emoções que simplesmente não podem ser expressas na forma de palavras.
                            </p>
                            <p>
                                Seja para os velórios, enterros ou qualquer outra cerimônia funeral, encontre a coroa ideal em nosso site, e conte com uma entrega rápida em todo o Brasil. A central de atendimento Coroas Para Velório funciona 24 horas por dia, incluindo finais de semana e feriados, e a coroa é entregue em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                            </p>
                            <p>
                                Pioneiro no segmento de homenagens fúnebres, o e-commerce Coroas para Velório é especializado na entrega de coroa de flores no Brasil. Com estrutura para enviar de maneira rápida e segura coroa de flores em todos os estados brasileiros, o Coroas para Velório garante a segurança de sua compra on-line através de nosso site blindado; sem riscos de fraudes ou clonagem.
                            </p>
                            <p>
                                Com uma Central de Atendimento que funciona 24 horas por dia, incluindo finais de semana e feriados, o Coroas para Velório faz a entrega de coroas de flores em todos os cemitérios, velórios, hospitais, crematórios e funerárias do país em até duas horas.
                            </p>
                            <p>
                                Visando garantir a comodidade de todos os nossos clientes no momento do luto, disponibilizamos as seguintes formas de pagamentos: boleto, cartões, depósito bancário ou faturamento para empresas com emissão de Nota Fiscal.
                            </p>
                            <p>
                                Para encomendar a sua coroa de flores, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a coroa de flores.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Container -->
            </section>
        }

        @if (ViewBag.Home == true || Request.Path.StartsWith("/coroas-de-flores/coroa-de-flores") || Request.Path.ToLower().Contains("v4"))
        {
            <section class="ipsum">
                <!-- Container -->
                <div class="container">
                    <div class="lining">
                        <div class="col-md-12">
                            @if (ViewBag.Home == true)
                            {
                                <p>Homenagear as pessoas queridas que se vão é uma forma de marcar com ternura e respeito a partida de parentes e amigos. Oferecer uma bela <strong>coroa de flores</strong> neste momento é sinal de afeto e cuidado, celebrando a memória de quem faleceu e demonstrando aos familiares que ficaram o quanto aquela pessoa foi importante.</p>
                                <p>As <strong>coroas de flores</strong> estão presentes na homenagem aos falecidos há muito e muito tempo. Utilizadas como representação do ciclo infinito da vida eterna ao menos desde a Grécia Antiga - talvez até um pouco antes desse período - elas expressam o respeito e a reverência.</p>
                                <h2>Coroa de flores para funeral</h2>
                                <hr />
                                <p>A <strong>coroa de flores para funeral</strong> pode contar com apenas um tipo de flor ou ser feita com uma mescla de tipos de flores, dependendo do gosto de quem faz a encomenda. As flores escolhidas também podem lembrar a pessoa falecida, sendo de algum tipo de ela mais gostava em vida ou com cores que lembram alguma característica de quem se foi: alegria, delicadeza, carinho, força, elegância, entre outras.</p>
                                <p>Mas qual o motivo da escolha das flores como homenagem? A flor traz um simbolismo muito antigo e profundo, e faz parte de toda a história da humanidade. É a materialização da beleza da natureza de forma palpável, e que tem uma intensa ligação com o feminino, com o nascimento, com a criação e a fertilidade. Por isso traduz tão bem o infinito ciclo da vida.</p>
                                <p>Diversas religiões, culturas e fés possuem ligação com a simbologia das flores. Na cultura japonesa, as flores traduzem sentimentos e tradições, além da conexão com os antepassados. Na antiga cultura asteca as flores eram associadas aos mitos dos deuses. Na religião cristã, a flor está presente como representação da fé e do respeito.</p>
                                <p>As <strong>coroas para velório</strong> podem ser enviadas tanto em cerimônias funerais - como velórios, enterros e cremações - quanto para homenagear entes queridos em datas como o Dia de Finados.</p>
                                <h2>Coroa de flores para homenagear</h2>
                                <hr />
                                <p>As <strong>coroas de flor</strong> podem traduzir exatamente os sentimentos em relação a quem se foi. Conheça alguns dos significados da <strong>coroa de flores naturais</strong>:</p>
                                <p><strong>Coroa de crisântemos:</strong> os crisântemos são as flores mais utilizadas para homenagear quem se foi. Representa vida completa, verdade, felicidade, sinceridade, perfeição e simplicidade.</p>
                                <p><strong>Coroa de gérberas:</strong> as <strong>coroas fúnebres</strong> de gérberas traduzem a sensibilidade e a essência do amor. São relacionadas com a pureza infantil.</p>
                                <p><strong>Coroa de rosas brancas:</strong> representam harmonia e paz.</p>
                                <p><strong>Coroa de margaridas:</strong> representam alegria, simplicidade.</p>
                                <p>Existem diversas possibilidades de mesclar flores variadas nas <strong>coroas para velório</strong> além das citadas acima, tornando o arranjo ainda mais rico em significado e beleza, como um momento tão delicado pede.</p>
                                <p>Além do envio das flores, é possível mandar sua mensagem de despedida por meio das faixas de condolência. O Coroas para Velório disponibiliza faixas com mensagens prontas, para auxiliar quem, por conta da emoção do momento, não consegue achar as palavras certas para se expressar. Também é possível personalizar a mensagem para colegas de trabalho, familiares, amigos próximos, mãe, pai, primos, marido, esposa, tios, avós, entre outras pessoas que fizeram parte da sua história.</p>
                                <h2>Coroa de flores online</h2>
                                <hr />
                                <p>De forma a permitir que a homenagem ao falecido seja feita com agilidade, garantindo que as condolências cheguem aos familiares e entes próximos de forma rápida, conte com o Coroas para Velório para encomendar sua <strong>coroa de flores online</strong>.</p>
                                <p>As <strong>coroas funerárias</strong> são produzidas com muito cuidado e esmero. Todas são elaboradas com a utilização de flores naturais, e podem ter variados aromas, combinações de tons de cor e tamanhos. Encontre aqui a coroa ideal para prestar os derradeiros tributos a uma pessoa querida.</p>
                                <p>A <strong>coroa de flores para velório</strong> é feita em forma de arco, de forma harmônica e delicada. É finalizada com a faixa de homenagem, trazendo mensagens variadas para reverenciar a memória de quem se foi. Este é um recurso para expressar em palavras as emoções que não são facilmente ditas em uma ocasião tão delicada e de muitos sentimentos envolvidos como esta.</p>
                                <p>A entrega pode ser realizada em velórios, enterros ou qualquer outra cerimônia funeral. Você encontra a coroa ideal em nosso site e conta com um envio rápido em todo o Brasil. A nossa central de atendimento funciona 24 horas por dia, inclusive aos finais de semana e feriados. A coroa escolhida por você pode ser entregue em todos os cemitérios, crematórios, velórios, hospitais e funerárias do país, além dos endereços residenciais ou outros locais de sua preferência, em até duas horas.</p>
                                <h2>Conte com o Coroas para Velório</h2>
                                <hr />
                                <p>Pioneiro neste segmento, o Coroas para Velório é o e-commerce especializado na entrega de coroa de flores. Nossa estrutura permite o envio de maneira rápida e segura de coroa de flores em todos os estados brasileiros. Tenha sua segurança garantida na compra on-line em nosso site blindado.</p>
                                <p>Nossa Central de Atendimento tem funcionamento contínuo, 24 horas por dia, também aos finais de semana e feriados. A entrega pode ser feita em qualquer endereço do país em até duas horas - seja em cemitérios, crematórios, velórios, funerárias, hospitais, clínicas, residências e outros locais.</p>
                                <p>Para permitir a comodidade dos clientes e facilitar o processo de pagamento, é possível efetuar a compra utilizando boleto bancário, Pagseguro, PayPal, depósito bancário ou cartão de crédito. Para empresas, disponibilizamos a possibilidade de faturamento com emissão de nota fiscal.</p>
                                <p>Para encomendar a sua coroa de flores, entre em contato com a nossa Central de Atendimento por telefone ou realize a sua compra on-line diretamente em nosso site, logo após escolher a coroa de flores que mais se adequa à homenagem que você prestará para quem se foi, como uma forma delicada e afetuosa de fazer a última despedida. Em caso de dúvidas, acesse nosso chat on-line e um de nossos atendentes o auxiliará imediatamente.</p>
                            }

                        </div>
                    </div>

                    @RenderSection("Rodape", false)

                </div>
                <!-- Container -->
            </section>
        }

        <section class="main">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('institucional','1')">Institucional</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "a-empresa")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'a-empresa']);">A Empresa</a></li>
                            @*<li><a href="@Url.Action("Index", "coroas-para-velorio-na-midia")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-para-velorio-na-midia']);">Coroas para Velório na Mídia</a></li>*@
                            <li><a href="@Url.Action("Index", "depoimentos-de-clientes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'depoimentos-de-clientes']);">Depoimentos de Clientes</a></li>
                            <li><a href="@Url.Action("Index", "seja-uma-floricultura-parceira")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-uma-floricultura-parceira']);">Seja uma Floricultura Parceira</a></li>
                            @*<li><a href="@Url.Action("Index", "seja-um-promotor")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seja-um-promotor']);">Seja um Promotor</a></li>*@
                        </ul>

                        <h5 onclick="mostra_esconde2('condicoes_comerciais','1')">Condições Comerciais</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'termos-e-condicoes-comerciais']);">Termos e Condições Comerciais</a></li>
                            <li><a href="@Url.Action("Index", "politicas-de-privacidade")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politicas-de-privacidade']);">Política de Privacidade</a></li>
                            <li><a href="@Url.Action("Index", "politica-de-reembolso-e-cancelamento")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'politica-de-reembolso-e-cancelamento']);">Política de Reembolso e Cancelamento</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('mais_informacoes','1')">Mais Informações</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "como-comprar")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'como-comprar']);">Como Comprar</a></li>
                            <li><a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'tempo-e-prazo-de-entrega']);">Tempo e Prazo de Entrega</a></li>
                            <li><a href="@Url.Action("Index", "indique-o-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'indique-o-coroas-para-velorio']);">Indique o Coroas para Velório</a></li>
                            <li><a href="@Url.Action("Index", "significado-das-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'significado-das-flores']);">Significado das Flores</a></li>
                            <li><a href="@Url.Action("Index", "condolencias-virtuais-gratis")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'condolencias-virtuais-gratis']);">Condolências Virtuais Grátis</a></li>
                            <li><a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'frases-de-homenagens']);">Frases de Homenagens</a></li>
                            @*<li><a href="@Url.Action("Index", "noticias-de-mercado")"  onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'noticias-de-mercado']);">Notícias de Mercado</a></li>*@
                            <li><a href="@Url.Action("Index", "seguranca")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'seguranca']);">Segurança</a></li>
                            <li><a href="/blog" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'blog']);">Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('compre_online','1')">Compre Online</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "coroa-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'coroas-de-flores']);">Coroa de Flores</a></li>
                            <li><a href="@Url.Action("Index", "arranjos-de-condolencias")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'arranjos-de-condolencias']);">Arranjos de Condolências</a></li>
                            <li><a href="@Url.Action("Index", "empresasparceiras")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'empresasparceiras']);">Para Empresas</a></li>
                            <li><a href="@Url.Action("Index", "promocao-da-semana")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'promocao-da-semana']);">Promoção da Semana</a></li>
                            <li><a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'mais-vendidas']);">Mais Vendidas</a></li>
                            <li><a href="@Url.Action("Index", "solucoes-corporativas")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'solucoes-corporativas']);">Soluções Corporativas</a></li>
                            <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'velorios-e-cemiterios']);">Velórios e Cemitérios</a></li>
                            <li><a href="@Url.Action("Index", "cidades-e-regioes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'cidades-e-regioes']);">Cidades e Regiões</a></li>
                        </ul>

                        <h5 onclick="mostra_esconde2('duvidas_frequentes','1')">Dúvidas Frequentes</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "duvidas-frequentes")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'duvidas-frequentes']);">Acesse nosso FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 onclick="mostra_esconde2('televendas','1');mostra_esconde2('televendas2','2')">Televendas</h5>
                        <ul>
                            <li>Entregas em todo o Brasil</li>
                            @{
                                <li>@TelAd</li>
                            }

                            <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'central-de-atendimento']);">Central de Atendimento</a></li>
                        </ul>

                        <h5 onclick="mostra_esconde2('central_atendimento','1')">Central de Atendimento</h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "contato")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'contato']);">Entre em Contato</a></li>
                            <li><a href="/contato/telefones-de-sua-regiao" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'telefones-por-regioes']);">Regiões de Atendimento</a></li>
                            <li><a href="@Url.Action("Index", "pesquisa-de-satisfacao")" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'pesquisa-de-satisfacao']);">Pesquisa de Satisfação</a></li>
                        </ul>
                    </div>
                </div>

                <div class="lining">
                    <div class="col-md-2 col-sm-2">
                        <h5 onclick="mostra_esconde2('redes_sociais','3')">Redes Sociais</h5>
                        <a href="http://www.facebook.com/coroasparavelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'facebook']);" id="facebook"></a>
                        <a href="http://twitter.com/coroasvelorio" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'twitter']);" id="twitter"></a>
                        <a href="https://plus.google.com/102823637340385654450" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'google+']);" id="plus"></a>
                        <br />
                        @RenderSection("SocialScripts", false)
                        @*<a href="http://www.sitesustentavel.com.br/certificado/list?url=www.coroasparavelorio.com.br" target="_blank" onmousedown="_gaq.push(['_trackEvent', 'footer', 'clique', 'selo-sustentavel']);" id="sustentavel" ></a>*@
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5 onclick="mostra_esconde2('participacao','3')">Participação</h5>
                        <a href="https://endeavor.org.br/" target="_blank" id="endeavor"></a>
                        <a href="https://www.ecommercebrasil.com.br/noticias/e-commerce-experience-confira-a-lista-de-selecionados-para-o-programa" target="_blank" id="ecommercebrasil"></a>
                        <br />

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>Meios de Pagamento</h5>
                        <span id="payment"></span>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h5 onclick="mostra_esconde2('seguranca','5')">Certificados e Segurança</h5>
                        <div class="col-lg-6 col-md-12">
                            <a href="https://www.lojaconfiavel.com/coroasparavelorio" class="ts-footerstamp" data-lcname="coroasparavelorio" target="_blank">
                                <img src="//service.yourviews.com.br/Image/62d7e95f-dba9-4a4c-b046-04408c991aa9/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" style="width: 88px; height: 91px;" />
                            </a>

                        </div>
                        <div class="col-lg-6 col-md-12 googlesafe">
                                <a href="https://transparencyreport.google.com/safe-browsing/search?url=coroasparavelorio.com.br" target="_blank">
                                    <img alt="Google Safe Browsing" src="~/Content/neue/img/ui/googlesafebrowsing.png">
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
        <section class="last">
            <!-- Container -->
            <div class="container">
                <div class="lining">
                    <div class="col-md-12">
                        <p>Coroas para velorio | CNPJ: 12.404.942/0001-14</p>
                        <p>www.coroasparavelorio.com.br | <a href="mailto:atendimento@coroasparavelorio.com.br">atendimento@coroasparavelorio.com.br</a></p>
                        <p>As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.coroasparavelorio.com.br.</p>
                        <p>É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site</p>

                        <span>
                            <p>Copyright &copy; @DateTime.Now.Year Coroas para Velório | TODOS OS DIREITOS RESERVADOS</p>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Container -->
        </section>
    </footer>

    @RenderSection("Script", false)


    <!-- TAGUEAMENTO -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21015416-2']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_set', 'currencyCode', 'BRL']);

        @Html.Raw(ViewBag.TrackTrans)

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 978803739;
        @if (ViewBag.Retargeting == null)
 {
    <text>
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        </text>
 }
 else
 {
    @Html.Raw(ViewBag.Retargeting)
 }
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978803739/?value=0&amp;label=KmjoCLWsywgQm7jd0gM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- TAGUEAMENTO -->

</body>

<!-- Mmenu -->
<link href="/content/neue/js/mmenu/dist/core/css/jquery.mmenu.all.css" rel="stylesheet" type="text/css">

@RenderSection("NeueScripts", false)

<script type="text/javascript">
    $(document).ready(function () {

        @if (Model is IEnumerable<Domain.Entities.Produto>)
        {
            var CountIten = 1;
            List<Domain.Entities.Produto> LstProdutos = (List<Domain.Entities.Produto>)Session["listCoroas"];

            // REMOVER ARRANJOS E CONDOLENCIAS
            LstProdutos = LstProdutos.Where(r => r.ID != 234 && r.ID != 235 && r.ID != 236 && r.ID != 237).ToList();


            <text>
            var DataToSend = {
                'event': 'productImpression',
                'ecommerce': {                    
            'impressions': [

                @foreach (var Produto in LstProdutos)
                {
                    try
                    {
                        string Categoria = "";

                        switch (Produto.ID)
                        {
                            case 20:
                            case 1:
                            case 18:
                            case 2:
                            case 19:
                            case 3:
                                Categoria = "Premium";
                                break;
                            case 22:
                            case 21:
                            case 25:
                            case 24:
                            case 23:
                                Categoria = "Luxo";
                                break;
                            case 27:
                            case 28:
                            case 29:
                                Categoria = "Super Luxo";
                                break;
                            case 30:
                            case 34:
                            case 33:
                            case 32:
                            case 31:
                                Categoria = "Duplas";
                                break;
                            default:
                                break;
                        }

                        <text>
                        {
                            'name': '@Produto.Nome',
                            'id': '@Produto.ID',
                            'price': '@Produto.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "media").Preco.ToString().Replace(",", ".")',
                            'category': '@Categoria',
                            'variant': 'M',
                            'list': '@Request.Path',
                            'position': @CountIten
},
                        </text>

                                }
                                catch{}
                                CountIten++;
                            }
                        ]
                    }
                };

                console.log(DataToSend);

                console.log(dataLayer.push(DataToSend));
            </text>
        }

        $('ul.nav li.dropdown').hover(function () {
            if (!$('.navbar-toggle').is(':visible')) {
                $(this).toggleClass('open', true);
            }
        }, function () {
            if (!$('.navbar-toggle').is(':visible')) {
                $(this).toggleClass('open', false);
            }
        });
        $('ul.nav li.dropdown a').click(function () {
            if (!$('.navbar-toggle').is(':visible') && $(this).attr('href') != '#') {
                $(this).toggleClass('open', false);
                window.location = $(this).attr('href')
            }
        });
    });
</script>

</html>