﻿@using Domain.Entities
@using iTextSharp.text
@model IEnumerable<Domain.Entities.Depoimento>
@{
    Layout = null;
}

<div id="HomeDepoimentosSobre">
    <div class="div_centraliza">

        <div class="depoimentos">
            <h3 class="titulo">Depoimento de Clientes</h3>
            <div class="quadrado" id="ListaDepoimentos" itemscope itemtype="http://schema.org/Review">
                @if (Model.Any())
                {
                    <div class="seta_esquerda">
                        <p>
                            <img src="/content/imagens/dep_seta_esquerda_d.png" width="25" height="64" border="0" alt="Seta" />
                        </p>
                    </div>
                    foreach (var item in Model.Take(1))
                    {

                        <div class="quadrado_cor" itemprop="description">
                            <div class="texto">
                                “@item.Texto”
                            </div>
                            <span itemprop="summary" style="display: none;">
                                @(item.Texto.Length > 100 ? item.Texto.Substring(0, 100) : item.Texto)
                            </span>
                            @if (item.Produto != null)
                            {
                                <div class="iten_avaliado">
                                    <b>Item avaliado:</b> <span itemprop="itemreviewed"><a href="/coroas-de-flores/@item.Produto.RotuloUrl/@item.Produto.ID">@item.Produto.Nome</a></span>
                                </div>
                            }
                            else {
                                <div class="iten_avaliado">
                                    <b>Item avaliado:</b> <span itemprop="itemreviewed">Site Coroas para Velório</span>
                                </div>
                            }
                            <div class="nome_cidade">
                                <p>
                                    <b>Nota:</b> <span itemprop="rating">@item.Nota</span>
                                </p>
                                <b itemprop="reviewer">@item.Nome @(!string.IsNullOrEmpty(item.Empresa) ? " - " + item.Empresa.ToUpper() : "")</b><br>
                                @item.Cidade.ToUpper() - <span itemprop="dtreviewed" datetime="@item.Data.ToString("yyyy-MM-dd")">@item.Data.ToString("dd/MM/yyyy")</span>
                            </div>
                        </div>

                    }
                    <div class="seta_direita"><p><img src="/content/imagens/dep_seta_direita_h.png" width="25" height="64" border="0" style="cursor:pointer" onclick="abre('/Home/ListaDepoimentos?pagina=2','ListaDepoimentos');" alt="Seta" /></p></div>
                }
            </div>
        </div>

        <div class="sobre">
            <h3 class="titulo">Sobre a Coroas para Velório</h3>
            <div class="video"><iframe src="//www.youtube.com/embed/q-fDRJ8ObzA" frameborder="0" allowfullscreen class="iframe_video_sobre" scrolling="no" name="video_sobre"></iframe></div>
        </div>

    </div>
</div>
