﻿@{
    Layout = null;
    var Path = Request.Path;
}
<script>
    $(document).ready(function () {
        $("#Menu2 div").mouseover(function () {
            $(this).css("background-color", "#737373");
        });
        $("#Menu2 div").mouseout(function () {
            $(this).css("background-color", "#a8a8a8");
        });
    });
      </script>
@{if (Path == "/")
  {
    <div id="Menu">
        <div class="div_centraliza">
            <div class="div_texto0" onclick="mostra_esconde('Menu2');">
                <div class="div_menu">
                    <p>
                        MENU</p>
                </div>
                <div class="div_imagem_menu">
                    <img src="/content/imagens/menu_celular.png" class="imagem_menu" alt="Menu" /></div>
            </div>
            <div id="Menu2">
                <div style="width: 20%;@if (Path == "/coroas-de-flores") { @Html.Raw("margin-left: 73px;"); };" class="div_texto2" id="page-entrega">
                    <p>
                        <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                            PRAZOS E ENTREGAS</a></p>
                </div>
               
                 <div style="width: 20%;" class="div_texto5" id="page-frases">
                    <p>
                        <a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">
                            FRASES HOMENAGEM</a></p>
                </div>
                <div style="width: 22%;" class="div_texto4" id="page-vel-cemit">
                    <p>
                        <a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">
                            VELÓRIOS E CEMITÉRIOS</a></p>
                </div>
                <div style="width: 22%;" class="div_texto3" id="page-formas">
                    <p>
                        <a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
                            FORMAS DE PAGAMENTO</a></p>
                </div>
                @if (Path != "/coroas-de-flores")
                {
                    <div style="width: 16%; background-color: transparent;" class="div_texto6" id="page-mais-vendidas"
                        onmouseover="mostra('MaisVendidas');" onmouseout="esconde('MaisVendidas');">
                        <p>
                            <a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">
                                MAIS VENDIDAS</a></p>
                    </div>
                }
            </div>
            <div id="MaisVendidas" onmouseover="mostra('MaisVendidas');" onmouseout="esconde('MaisVendidas');">
                <div class="Posiciona">
                    @Html.Action("Mais_Vendidas", "Home")
                </div>
            </div>
        </div>
    </div>
  }
  else
  {
    <div id="Menu">
        <div class="div_centraliza">
            <div class="div_texto0" onclick="mostra_esconde('Menu2');">
                <div class="div_menu">
                    <p>
                        MENU</p>
                </div>
                <div class="div_imagem_menu">
                    <img src="/content/imagens/menu_celular.png" class="imagem_menu" alt="Menu" /></div>
            </div>
            <div id="Menu2">
                @if (Path == "/coroa-de-flores")
                {
                    <div class="div_texto1" id="page-coroas">
                        <p>
                            <a href="@Url.Action("Index", "coroa-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroa-de-flores']);">
                                COROAS DE FLORES
                            </a>
                        </p>
                    </div>
                    <div class="div_texto2" id="page-entrega">
                        <p>
                            <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                                ENTREGA
                            </a>
                        </p>
                    </div>
                }

                @if (Path != "/coroa-de-flores")
                {
                    <div class="div_texto1" id="page-coroas" style="width:15%">
                        <p>
                            <a href="@Url.Action("Index", "coroa-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroa-de-flores']);">
                                COROAS DE FLORES
                            </a>
                        </p>
                    </div>
                }

                <div class="div_texto1" id="page-rubens" style="width:19%">
                    <p>
                        <a href="@Url.Action("Index", "parceria-rubens-decoracoes-e-coroas-para-velorio")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'parceria-rubens']);">
                            COROAS EXCLUSIVAS
                        </a>
                    </p>
                </div>
                <div class="div_texto1" id="page-empresasparceiras" style="width:14%">
                    <p>
                        <a href="@Url.Action("Index", "empresasparceiras")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'empresasparceiras']);">
                            PARA EMPRESAS
                        </a>
                    </p>
                </div>


                @*  <div class="div_texto3" id="page-formas">
            <p>
                <a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
                    FORMAS DE PAGAMENTO</a></p>
        </div>
                *@

                <div class="div_texto4" id="page-vel-cemit" style="width:17%">
                    <p>
                        <a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">
                            VELÓRIOS E CEMITÉRIOS
                        </a>
                    </p>
                </div>
                <div class="div_texto5" id="page-frases" style="width:17%">
                    <p>
                        <a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">
                            FRASES HOMENAGEM
                        </a>
                    </p>
                </div>
                <div style="background-color: transparent;" class="div_texto6" id="page-mais-vendidas" onmouseover="mostra('MaisVendidas');"
                     onmouseout="esconde('MaisVendidas');">
                    <p>
                        <a href="@Url.Action("Index", "mais-vendidas")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'mais-vendidas']);">
                            MAIS VENDIDAS
                        </a>
                    </p>
                </div>
            </div>
            <div id="MaisVendidas" onmouseover="mostra('MaisVendidas');" onmouseout="esconde('MaisVendidas');">
                <div class="Posiciona">
                    @Html.Action("Mais_Vendidas", "Home")
                </div>
            </div>
        </div>
    </div>
  }
}
