﻿@{
                Layout = null;
    var Path = Request.Path;
}

<!-- Mobile Menu -->
<div id="mobilehidden" style="display:none">
<nav id="mmenu">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Index", "coroas-de-flores")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'coroas-de-flores']);">
                Coroa de Flores
            </a>
        </li>
        <li>
            <a href="/parceria-rubens-decoracoes-e-coroas-para-velorio/">Coroas Exclusivas</a>
        </li>
        <li>
            <a href="/empresasparceiras">Para Empresas</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                Prazos e Entregas
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "frases-de-homenagens")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'frases-de-homenagens']);">
                Frases Homenagem
            </a>
        </li>
        <li>
            <a href="#">PRINCIPAIS CIDADES</a>
            <ul>
                <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-recife-pe">Recife</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-fortaleza-ce">Fortaleza</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-salvador-ba">Salvador</a></li>
                <li><a href="/cidades/coroa-de-flores-campinas-sp">Campinas</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-santos-sp">Santos</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-cuiaba-mt">Cuiabá</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-campo-grande-ms">Campo Grande</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-florianopolis-sc">Florianópolis</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp">São José dos Campos</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-guarulhos-sp">Guarulhos</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-jundiai-sp">Jundiaí</a></li>
                <li><a href="/coroas-de-flores/coroa-de-flores-niteroi-rj">Niterói</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Index", "velorios-e-cemiterios")">Outros Locais</a></li>
            </ul>
        </li>
        @*<li>
            <a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">
                Velórios e Cemitérios
            </a>
        </li>*@
    </ul>
</nav>
<!-- /Mobile Menu -->
</div>