﻿@{
    Layout = null;
    var Path = Request.Path;
    var ClienteModel = (Web.Models.ClienteModel)ViewBag.ClienteModel;

    var Carrinho = new Domain.Entities.Carrinho();
    if (HttpContext.Current.Session["_carrinho"] != null) {
        Carrinho = (Domain.Entities.Carrinho)HttpContext.Current.Session["_carrinho"];
    }

}

@if (Request.Path.ToLower() == "/v4" || Request.QueryString["v"] == "2") 
   
{
    <!-- Container -->
    <div id="nav-neue">
        <div class="lining">
            <div class="col-md-5 col-sm-7 cart2">
                @if (ClienteModel.Autenticado)
                {
                    <a>@ClienteModel.Nome <i class="fas fa-chevron-down"></i></a>
                }
                else
                {
                    <a>Entrar <i class="fas fa-chevron-down"></i></a>
                }
                    <div class="drop4" id="carddrop" style="display:none;">
                        @if (ClienteModel.Autenticado)
                        {
                        <ul>
                            <li><a href="/cliente/meus-pedidos">Meus pedidos</a></li>
                            <li><a href="/cliente/meus-pedidos">2ª via do boleto</a></li>
                            <li><a href="/cliente/minha-conta">Minha conta</a></li>
                        </ul>
                        }
                        else
                        {
                        <ul>
                            <li><a href="/cliente/identificacao">Login</a></li>
                            <li><a href="/cliente/meus-pedidos">Meus pedidos</a></li>
                            <li><a href="/cliente/identificacao">Cadastro</a></li>
                        </ul>
                        }
                    </div>
            </div>
            <div class="col-md-1 col-sm-3 cart3">
                <a href="/carrinho">
                    <span class="icon_cart"><i>@Carrinho.Itens.Count</i></span>
                </a>
                <div class="drop3" id="carddrop1" style="display:none;">
                    @{
                        foreach (var iten in Carrinho.Itens)
                        {
                            <div class="item">
                                <span class="cropper">
                                    <img src="/content/produtos/@iten.ProdutoTamanho.Produto.ID/thumb/@iten.ProdutoTamanho.Produto.Foto" alt="@iten.ProdutoTamanho.Produto.Nome" />
                                </span>
                                <p>
                                    @{
                                        string NomeCoroa = iten.ProdutoTamanho.Produto.Nome;
                                        decimal Valor = iten.Valor;
                                        NomeCoroa = NomeCoroa.Replace("Coroa de Flores", "");
                                    }
                                    @NomeCoroa
                                    <br />
                                    <small>@Valor.ToString("C")</small>
                                    <hr />
                                </p>
                                
                            </div>
                            
                        }
                    }
                    <div class="finish">
                        <p class="col-md-4"><b>Subtotal:</b></p><p class="col-md-8"> @Carrinho.Total.ToString("c2")</p>
                        <a href="/carrinho" class="btn btn-checkout-new">Finalizar Compra</a>
                    </div>
                </div>
            </div>
            <span class="line col-xs-2 hidden-sm"></span>
            <div class="col-md-1 hidden-sm">
                <a><i class="fas fa-search"></i></a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a href="#mmenuneue" role="button" data-toggle="collapse" class="icon_menu"></a>
            </div>
        </div>
    </div>
    <!-- /Container -->
    
}

else
{
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <!-- Container -->
        <div class="container">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/coroa-de-flores" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coroa de Flores <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="min-width: 250px;">
                            <li><a href="/coroa-de-flores/premium">Coroa de Flores Premium</a></li>
                            <li><a href="/coroa-de-flores/luxo">Coroa de Flores Luxo</a></li>
                            <li><a href="/coroa-de-flores/super-luxo">Coroa de Flores Super Luxo</a></li>
                            <li><a href="/coroa-de-flores/duplas">Coroa de Flores Duplas</a></li>
                            <li><a href="/coroa-de-flores">Todas as Coroas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/parceria-rubens-decoracoes-e-coroas-para-velorio/">Coroas Exclusivas</a>
                    </li>
                    <li>
                        <a href="/empresasparceiras">Para Empresas</a>
                    </li>


                    <li class="dropdown">
                        <a href="/frases-de-homenagens" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frases Homenagem <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/frases-de-homenagens/mensagens-para-amigo">Frases e Mensagens de Luto para Amigo</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-familiares">Frases e Mensagens de Luto para Familiares</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-colegas-de-trabalho">Frases e Mensagens de Luto para Colegas de Trabalho</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-mae">Frases e Mensagens de Luto para Mãe</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-pai">Frases e Mensagens de Luto para Pai</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-primos">Frases e Mensagens de Luto para Primo</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-marido">Frases e Mensagens de Luto para Marido</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-tios">Frases e Mensagens de Luto para Tio</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-para-avos">Frases e Mensagens de Luto para Avós</a></li>
                            <li><a href="/frases-de-homenagens/mensagens-evangelicos">Frases e Mensagens de Luto para Evangélicos</a></li>
                            <li><a href="/frases-de-homenagens">Mais Frases</a></li>
                        </ul>
                    </li>
                    <!-- <li>
         <a href="@Url.Action("Index", "formas-de-pagamento")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'formas-de-pagamento']);">
             Formas de Pagamento
         </a>
     </li> -->
                    <li class="dropdown">
                        <a href="/velorios-e-cemiterios" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRINCIPAIS CIDADES <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <span class="drop1">
                                <li><a href="/coroas-de-flores/coroa-de-flores-sao-paulo-sp">São Paulo</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-rio-de-janeiro-rj">Rio de Janeiro</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-belo-horizonte-mg">Belo Horizonte</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-brasilia-df">Brasília</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-porto-alegre-rs">Porto Alegre</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-curitiba-pr">Curitiba</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-goiania-go">Goiânia</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-recife-pe">Recife</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-fortaleza-ce">Fortaleza</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-salvador-ba">Salvador</a></li>
                            </span>

                            <span class="drop2">
                                <li><a href="/coroas-de-flores/coroa-de-flores-campinas-sp">Campinas</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-santos-sp">Santos</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-cuiaba-mt">Cuiabá</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-campo-grande-ms">Campo Grande</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-florianopolis-sc">Florianópolis</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-sao-jose-dos-campos-sp">São José dos Campos</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-guarulhos-sp">Guarulhos</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-jundiai-sp">Jundiaí</a></li>
                                <li><a href="/coroas-de-flores/coroa-de-flores-niteroi-rj">Niterói</a></li>
                                <li><a href="@Url.Action("Index", "velorios-e-cemiterios")" class="outros-locais">Outros Locais</a></li>
                            </span>
                        </ul>
                    </li>
                    <li class="hidden-sm">
                        <a href="@Url.Action("Index", "tempo-e-prazo-de-entrega")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'tempo-e-prazo-de-entrega']);">
                            Prazos e Entregas
                        </a>
                    </li>
                    @*<li>
            <a href="@Url.Action("Index", "velorios-e-cemiterios")" onmousedown="_gaq.push(['_trackEvent', 'header', 'clique', 'velorios-e-cemiterios']);">
                Velórios e Cemitérios
            </a>
        </li>*@
                </ul>
            </div>
            <!-- /navbar-collapse -->
        </div>
        <!-- /Ccontainer -->
    </nav>
    <!-- /Navbar -->
}
