﻿@model IEnumerable<Domain.Entities.Produto>
    @{
        Layout = null;

        var produtos = new List<Domain.Entities.Produto>();
        int[] paraEmpresa = { 24, 18, 28, 32 };
        int[] maisVendidas = { 21, 22 };
        int[] populares = { 33 };

        produtos.AddRange(Model.Where(p => p.Ordem != 100).OrderBy(r => r.Ordem).ToList());


        var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
        var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    }

    <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
    <div class="lining">

        @foreach (var coroa in produtos)
        {
            var coroapromo = false;
            var coroaTamanhoMedio = coroa.ProdutoTamanhoes.ElementAt(1);
   

            <!-- Card -->
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card" id="Produto_@(coroa.ID)">
                    @if (coroapromo)
                    {
                        <div class="badgeneue badgedesc">@promocao.Desconto% de Desconto</div>
                    }
                    else if (paraEmpresa.Contains(coroa.ID))
                    {
                        <div class="badgeneue badgeempresa">Para Empresas</div>
                    }
                    else if (maisVendidas.Contains(coroa.ID))
                    {
                        <div class="badgeneue badgevendida">Mais Vendidas</div>
                    }

                    else if (populares.Contains(coroa.ID))
                    {
                        <div class="badgeneue badgedesc">Mais Buscada</div>
                    }
                    <span>
                        <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                            <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" alt="@coroa.Nome" />
                        </a>
                    </span>
                    <br class="visible-xs visible-sm" />
                    <h3>Coroa de Flores @coroa.Nome.Replace("Coroa de Flores", "")</h3>
                    <!-- Script Yourviews -->
                    <div class="yv-review-quickreview" value="@(coroa.ID)"></div>
                    <!-- /Script Yourviews -->
                    <p>a partir de <br /><big>@coroaTamanhoMedio.Preco.ToString("C2")</big></p>
                </div>
                <!-- /Card -->
            </div>
        }

    </div>

    @{
        Session["listCoroas"] = produtos;
    }


