﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = null;
}


@section Icons{
    <link rel="stylesheet" href="../../content/icons/style.css" />
    <!--[if lte IE 7]><script src="../../content/icons/lte-ie7.js"></script><![endif]-->
}

@{
    var produtos = new List<Domain.Entities.Produto>();
    int[] paraEmpresa = { 24, 18, 28, 32 };
    int[] maisVendidas = { 23, 22 };
    int[] populares = { };
    produtos.AddRange(Model.Where(p => p.Ordem != 100).ToList());

    if (ViewBag.SemTag != null)
    {
        Array.Clear(paraEmpresa, 0, paraEmpresa.Length);
        Array.Clear(maisVendidas, 0, maisVendidas.Length);
        Array.Clear(populares, 0, populares.Length);
    }
    //produtos.AddRange(Model.OrderBy(p => p.PrecoMinimo).OrderBy(c => c.Ordem).ToList());

    var ordenacao = "";
    if (!String.IsNullOrEmpty(Request["ordenacao"]))
    {
        ordenacao = Request["ordenacao"];
        switch (ordenacao)
        {
            case "preco-menor":
                produtos = produtos.OrderBy(p => p.PromocaoProdutoes.Count == 1 ? p.PrecoMinimo * 0.85M : p.PrecoMinimo).ToList();
                break;
            case "preco-maior":
                produtos = produtos.OrderByDescending(p => p.PromocaoProdutoes.Count == 1 ? p.PrecoMinimo * 0.85M : p.PrecoMinimo).ToList();
                break;
            case "mais-vendidas":
                produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                break;
            case "empresas":
                produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                break;
            case "amigos":
                produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                break;
            case "familiares":
                produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                break;
            default:
                produtos = produtos.OrderBy(p => p.PrecoMinimo).OrderBy(c => c.Ordem).ToList();
                break;
        }
    }

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
    var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;

    var Count = 1;
    var Line = 1;
}

@*@{
    
    if (Request.Cookies["Botao"] == null && HttpContext.Current.Application["Rnd"] != null)
    {
        var ResultInt = int.Parse(HttpContext.Current.Application["Rnd"].ToString());
        ResultInt++;
        HttpContext.Current.Application["Rnd"] = ResultInt.ToString();
    }

    if (Request.Cookies["Botao"] != null && !string.IsNullOrEmpty(Request.Cookies["Botao"].Value))
    {
        if (Request.Cookies["Botao"].Value == "false")
        {
            // ADICIONA LOGICA SEM BOTAO;
        @Html.Raw("<script type=\"text/javascript\">$(document).ready(function () { RemoveBtn() });</script>");
        }
        else
        {
            // ADICIONA LOGICA COM BOTAO;
        @Html.Raw("<script type=\"text/javascript\">$(document).ready(function () {  _gaq.push(['_setCustomVar', 1, 'BtnComprar', 'Com Botao', 1]); });</script>");
        }
    }
    else
    {

        if (HttpContext.Current.Application["Rnd"] == null)
        {
            HttpContext.Current.Application.Add("Rnd", "1");
        }

        int result = int.Parse(HttpContext.Current.Application["Rnd"].ToString());

        if (result % 2 == 00)
        {
            HttpCookie Botao = new HttpCookie("Botao");
            Botao.Value = "false";
            Botao.Expires.AddDays(999);
            Response.Cookies.Add(Botao);

            // ADICIONA LOGICA SEM BOTAO;
          @Html.Raw("<script type=\"text/javascript\">$(document).ready(function () { RemoveBtn() });</script>");

        }
        else
        {
            HttpCookie Botao = new HttpCookie("Botao");
            Botao.Value = "true";
            Botao.Expires.AddDays(999);
            Response.Cookies.Add(Botao);

            // ADICIONA LOGICA COM BOTAO;
          @Html.Raw("<script type=\"text/javascript\">$(document).ready(function () {  _gaq.push(['_setCustomVar', 1, 'BtnComprar', 'Com Botao', 1]); });</script>");
        }
    }
}*@


 @if (ViewBag.NaoExibeHeader == null)
 {
     <div id="HomeTitulo">
         <div class="div_centraliza">
             @if (ViewBag.Home != null)
             {
                 if (ViewBag.Home)
                 {
             <h1 class="titulo">
                 Coroa de Flores
             </h1>
             <span class="hideM">para Todo o Brasil</span> }
             }
             else if (ViewBag.Sugestoes !=
null)
             {
                 if (ViewBag.Sugestoes)
                 {
             <div class="titulo">
                 <p>
                     Veja as sugestões de coroas de flores que encontramos para você</p>
             </div>
                 }
             }
             else if (ViewBag.TemPromocaoSemana != null)
             {
                 if (ViewBag.TemPromocaoSemana)
                 {
             <div class="titulo">
                 <p>
                     Confira nossas coroas em promoção</p>
             </div>
                 }
             }
             else if (ViewBag.Titulo != null)
             {
             <div class="titulo">
                 <p>@ViewBag.Titulo</p>
             </div>
             }
             else
             {
             <h1 class="titulo">
                 Coroa
                  de Flores
             </h1>
             }
             <div class="ordenar">
                 <div class="select">
                     <p>
                         <select class="select_input" onchange="Pagina.Ordenar(this.value);" onmousedown="_gaq.push(['_trackEvent', 'ordenar', 'select', this.value]);">
                             <option value="">Ordenar Coroas de Flores por:</option>
                             <option value="preco-menor" @(ordenacao == "preco-menor" ? "selected=\"selected\"" : "")>
                                 Mais baratas</option>
                             <option value="preco-maior" @(ordenacao == "preco-maior" ? "selected=\"selected\"" : "")>
                                 Mais caras</option>
                             <option value="mais-vendidas" @(ordenacao == "mais-vendidas" ? "selected=\"selected\"" : "")>
                                 Mais vendidas</option>
                             <option value="empresas" @(ordenacao == "empresas" ? "selected=\"selected\"" : "")>Para
                                 empresas</option>
                             <option value="amigos" @(ordenacao == "amigos" ? "selected=\"selected\"" : "")>Para
                                 amigos</option>
                             <option value="familiares" @(ordenacao == "familiares" ? "selected=\"selected\"" : "")>
                                 Para familiares</option>
                         </select>
                     </p>
                 </div>
             </div>
             <form id="buscar-local" method="get" action="@Url.Action("buscar", "local")">
             @*<div class="divBusca">
                <div class="divBusca2">
                    <input type="text" id="busca2" name="termo" class="divBuscaInput  busca_local" value="Encontre velórios ou cemitérios"
                        onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }"
                        onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" />
                </div>
                <div class="divBusca2">
                    <input type="image" src="/content/imagens/busca.png" width="36" height="30" border="0"
                        alt="Buscar" />
                </div>
            </div>*@
             </form>
         </div>
         @if (ViewBag.NaoExibeHeader != null && ViewBag.NaoExibirTitulo == null)
         {
             <h2 class="Shared">
                 Veja nossas coroas de flores:
             </h2>
         }
     </div>
 }

<div class="divisorM">
    <span></span>
</div>
@if (produtos.Any())
{
    if (ViewBag.Home != null && string.IsNullOrEmpty(Request.QueryString["ordenacao"]))
    {
        if (Request.Path == "/")
        {
            produtos = produtos.Where(r => r.ID != 26 && r.ID != 31 && r.ID != 3 && r.ID != 19 && r.ID != 30 && r.ID != 32 && r.ID != 33 && r.ID != 34).ToList();
            produtos.AddRange(Model.Where(r => r.ID == 30 || r.ID == 32 || r.ID == 33 || r.ID == 34).ToList());
        }
        else if (Request.Path == "/coroas-de-flores")
        {

            produtos.Remove(Model.Where(r => r.ID == 30).First());
            produtos.Remove(Model.Where(r => r.ID == 31).First());
            produtos.Remove(Model.Where(r => r.ID == 32).First());
            produtos.Remove(Model.Where(r => r.ID == 33).First());
            produtos.Remove(Model.Where(r => r.ID == 34).First());

            produtos.AddRange(Model.Where(r => r.ID == 30 || r.ID == 31 || r.ID == 32 || r.ID == 33 || r.ID == 34).ToList());
        }

    }
    
    <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
    <div id="ListagemProdutos">
        <div class="div_centraliza">
            @foreach (var coroa in produtos)
            {
                var coroapromo = false;
                var tamanhopequeno = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "pequena");
                var tamanhomedio = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "media");
                var tamanhogrande = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "grande");
                {

                    int CountNR = 0;

                    if (Request.Path == "/")
                    {
                        CountNR = 13;
                    }
                    else if (Request.Path == "/coroas-de-flores")
                    {
                        CountNR = 16;
                    }

                    if (Count == CountNR && ordenacao == "" && ViewBag.Home != null)
                    {   <div style="clear: both;"></div>
                        <div id="titulo2C"><h2>Veja nossas Coroas de 2 cabeças: </h2></div>
                    }
                }
                <div class="produto Line@(Line)" id="Produto_@(coroa.ID)" style="@*@(Line > 1 && ViewBag.Home != null ? "display:none;" : "")*@">
                    @{
                if (Count % 4 == 0)
                {
                    Line++;
                }
                    }
                    <div class="quadrado@(Count % 4 == 0 ? Html.Raw("2") : Html.Raw("1"))">
                        @if (promocao != null)
                        {
                            coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
                            if (coroapromo)
                            {
                                <span class="BadgesCPV Desconto"><span aria-hidden="true" class="icon_currency"></span>@promocao.Desconto% de desconto</span>
                            }
                            else if (paraEmpresa.Contains(coroa.ID))
                            {
                                <span class="BadgesCPV ParaEmpresas"><span aria-hidden="true" class="icon_building"></span>Ideal para Empresas</span>
                            }
                            else if (maisVendidas.Contains(coroa.ID))
                            {
                                <span class="BadgesCPV MaisVendidas"><span aria-hidden="true" class="icon_star"></span>Mais Vendidas</span>
                            }
                            else if (populares.Contains(coroa.ID))
                            {
                                <span class="BadgesCPV TipoPopular"><span aria-hidden="true" class="icon_ribbon"></span>Tipo Popular</span>
                            }
                            else
                            {
                                <span class="BadgesCPV Desconto CleanDesconto"></span>
                            }
                        }
                        <div class="foto">
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                @*<div class="Hover">
                                <div class="BtnHoverComprar">
                                    <img src="/Content/imagens/comprarOld.png" />
                                </div>
                                </div>*@
                            </a>
                            
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="foto_tamanho" alt="@coroa.ImgAlt" title="@coroa.ImgTitle"/>
                            </a>
                        </div>


                         @if (coroa.ID == 234 || coroa.ID == 235 || coroa.ID == 236 || coroa.ID == 237)
                                    {
                             <br />
                             <h2 style="min-height: 32px;" class="titulo">
                            @coroa.Nome</h2>
                             
                                    }
                         else
                         {
                             <h2 class="titulo">
                            @Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo) @coroa.Nome.Replace("Coroa de Flores", "")</h2>
                             
                         }

                        
                        <div class="tamanho_imagens">
                            <center>
                                <div class="escolha_tamanho_div">
                                    @if (tamanhopequeno != null)
                                    {
                                        <div id="pequena@(coroa.ID)_s" class="escondido_left CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho" /></div>
                                        <div id="pequena@(coroa.ID)_ns" class="esquerda CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhopequeno.ID);mostra('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('grande@(coroa.ID)');mostra('pequena@(coroa.ID)_s');esconde('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="media@(coroa.ID)_s" class="esquerda CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');" alt="Tamanho"/></div>
                                        <div id="media@(coroa.ID)_ns" class="escondido_left CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');esconde('media@(coroa.ID)_ns');mostra('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                    @if (tamanhogrande != null)
                                    {
                                        <div id="grande@(coroa.ID)_s" class="escondido_left CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');" alt="Tamanho"/></div>
                                        <div id="grande@(coroa.ID)_ns" class="esquerda CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');esconde('grande@(coroa.ID)_ns');mostra('grande@(coroa.ID)_s');" alt="Tamanho"/></div>
                                    }
                                </div>
                            </center>
                        </div>

                        @{
                            
                            
                                    if (coroa.ID == 234 || coroa.ID == 235 || coroa.ID == 236 || coroa.ID == 237)
                                    {
                    <div id="@(coroa.Nome.ToLower().Replace("é", "e") + coroa.ID)">
                               
                                    <div class="valor">
                                        <div class="valorDe">
                                            &nbsp;
                                        </div>
                                        <div class="valorPor">
                                            <span>a partir de</span> @coroa.PrecoMaximo.Value.ToString("C2")</div>
                                    </div>

                                    

                            </div>
                                    }
                            
            }

                        

                         

                        @foreach (var item in coroa.ProdutoTamanhoes)
                        {
                                    
                            <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)"  @(item.Tamanho.Nome.ToLower().Replace("é", "e") == "media" ? Html.Raw("") : Html.Raw("class='escondido'"))>
                                <div class="tamanho_texto">
                                    @item.Tamanho.Dimensao</div>

                                @if (!coroapromo)
                                {
                                    <div class="valor">
                                        <div class="valorDe">
                                            &nbsp;
                                        </div>
                                        <div class="valorPor">
                                            <span>a partir de</span> @item.Preco.ToString("C2")</div>
                                    </div>
                                }
                                else
                                {
                                    decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                    <div class="valor">
                                        <div class="valorDe">
                                            Dê <del>@item.Preco.ToString("C2")</del>
                                        </div>
                                        <div class="valorPor" style="color: #00AB4E;">
                                            Por
                                            @if (configuracoes.Parcela > 1)
                                            {
                                                @precopromo.ToString("C2")
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                                    
                        }
                        @*<div class="mais_detalhes">
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                                + detalhes da coroa</a></div>*@ @*<div class="comprar">
                            <a href="javascript:void(0);" id="comprar@(coroa.ID)" class="comprarproduto2" data-id="@tamanhopequeno.ID" data-nome="@coroa.Nome">
                                <img src="/Content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar" />
                            </a>
                        </div>*@
                        <div class="comprar">
                            <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" id="comprar@(coroa.ID)" class="comprarproduto2">
                                <div id="button"></div>
                            </a>
                        </div>
                    </div>
                </div>
                        Count++;
            }
        </div>
        @if (ViewBag.Home != null)
        {
            if (ViewBag.Home && Line > 1)
            {        
            <!-- <div id="VejaMais">
                <div class="div_centraliza">
                    <div class="texto">
                        <p>
                            <a href="javascript:void(0);" id="vejamaisprodutos" onmousedown="_gaq.push(['_trackEvent', 'home', 'clique', 'coroas-de-flores']);">
                                VEJA MAIS COROA DE FLORES</a></p>
                    </div>
                </div>
            </div> -->
            }
        }
    </div>
}
<script type="text/javascript">  var  totalLinha = @Line;</script>
<!-- /Nova Listagem de Produtos -->
<div id="ListagemProdutos2">
    @if (produtos.Any())
    {
        Count = 0;
        <div class="div_centraliza" id="ListaProdutos">
            @foreach (var coroa in produtos)
            {
                Count += 1;
                var coroapromo = false;
                var tamanhopequeno = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "pequena");
                var tamanhomedio = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "media");
                var tamanhogrande = coroa.ProdutoTamanhoes.FirstOrDefault(c => c.Tamanho.Nome.ToLower().Replace("é", "e") == "grande");
                    
                    
                    
                <div class="containerM">
                    <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                        <div class="row-prod">
                            <span class="col1"><span class="imgcropper">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="foto_tamanho" alt="@coroa.ImgAlt" title="@coroa.ImgTitle"/>
                            </span></span><span class="col2">
                                @if (promocao != null)
                                {
                                    coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;

                                    if (coroapromo)
                                    {
                                        <span class="promoM">Em Promoção</span>
                                    }
                                    else if (paraEmpresa.Contains(coroa.ID))
                                    {
                                        <span class="ParaEmpresas">Para Empresas</span>
                                    }
                                    else if (maisVendidas.Contains(coroa.ID))
                                    {
                                        <span class="MaisVendidas">Mais Vendidas</span>
                                    }
                                    else if (populares.Contains(coroa.ID))
                                    {
                                        <span class="TipoPopular">Tipo Popular</span>
                                    }
                                }
                                <h4>
                                    @Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo) @coroa.Nome.Replace("Coroa de Flores", "")</h4>
                                @foreach (var item in coroa.ProdutoTamanhoes.Where(r => r.TamanhoID == 2).ToList())
                                {
                                       
                                    <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)_m"  @(item.Tamanho.Nome.ToLower().Replace("é", "e") == "media" ? Html.Raw("") : Html.Raw("class='escondido'"))>
                                        @*@item.Tamanho.Dimensao*@
                                        @if (!coroapromo)
                                        {
                                            @*Preço sem Promoção*@
                                            <div class="precoM nodisc">@item.Preco.ToString("C2")</div>
                                        }
                                        else
                                        {
                                            decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                            
                                            @*Preço antes da Promoção*@
                                            <div class="Desconto">
                                                de @item.Preco.ToString("C2");</div>
                                                                  
                                            if (configuracoes.Parcela > 1)
                                            {
                                                
                                            @*Preço depois da Promoção*@
                                            <div class="precoM yesdisc">
                                                por @precopromo.ToString("C2")</div>
                                            }

                                        }
                                    </div>
                                }
                            </span><span class="arrow-rightM" role="button">></span>
                        </div>
                    </a>
                </div>
                <div class="divisorM">
                    <span></span>
                </div>
                    
                    
                <div class="quadrado1 produtosM" id="produto_m_@(Count)" style="@(Count > 1 ? "display:none;" : "")">
                    @*@if (promocao != null)
                        {
                            coroapromo = promocao.PromocaoProdutoes.Count(c => c.ProdutoID == coroa.ID) > 0;
                            if (coroapromo)
                            {
                                <text>@promocao.Desconto% de desconto</text>
                            }
                        }*@ @*<div class="tamanho_imagens">
                            <center>
                                <div class="escolha_tamanho_div">
                                    @if (tamanhopequeno != null)
                                    {
                                        <div id="pequena@(coroa.ID)_m_s" class="escondido_left">
                                            <img src="/content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho"></div>

                                        <div id="pequena@(coroa.ID)_m_ns" class="esquerda">
                                            <img src="/content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhopequeno.ID);mostra('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');mostra('pequena@(coroa.ID)_m_s');esconde('pequena@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_s');mostra('grande@(coroa.ID)_m_ns');esconde('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="media@(coroa.ID)_m_s" class="esquerda">
                                            <img src="/content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');" alt="Tamanho"></div>

                                        <div id="media@(coroa.ID)_m_ns" class="escondido_left">
                                            <img src="/content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhomedio.ID);mostra('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m_s');mostra('pequena@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_s');mostra('grande@(coroa.ID)_m_ns');esconde('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                    @if (tamanhomedio != null)
                                    {
                                        <div id="grande@(coroa.ID)_m_s" class="escondido_left">
                                            <img src="/content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');" alt="Tamanho"></div>

                                        <div id="grande@(coroa.ID)_m_ns" class="esquerda">
                                            <img src="/content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="selecionacomprar(@coroa.ID,@tamanhogrande.ID);mostra('grande@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m');esconde('media@(coroa.ID)_m');esconde('pequena@(coroa.ID)_m_s');mostra('pequena@(coroa.ID)_m_ns');mostra('media@(coroa.ID)_m_ns');esconde('media@(coroa.ID)_m_s');esconde('grande@(coroa.ID)_m_ns');mostra('grande@(coroa.ID)_m_s');" alt="Tamanho"></div>
                                    }
                                </div>
                            </center>
                        </div>*@ @* <div class="mais_detalhes">
                        <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                            + detalhes da coroa</a></div>
                    <div class="comprar">
                        <a href="javascript:void(0);" id="comprar@(coroa.ID)_m" class="comprarproduto2" data-id="@tamanhomedio.ID" data-nome="@coroa.Nome">
                            <img src="/Content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar" />
                        </a>
                    </div>*@
                </div>
                    
                    
            }
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var totalProdutosM = @Count;
        var produtoCount = 1;
        $('#seta_esquerda').click(function () {    
            produtoCount = produtoCount -1;
            if(produtoCount > 1 && produtoCount < totalProdutosM){
                $('.produtosM').hide();
                $('#produto_m_' + produtoCount).show();
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_h.png");
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_h.png"); 
            }else{
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_d.png");
                }
        });
        $('#seta_direita').click(function () {            
            produtoCount = produtoCount +1;
            if(produtoCount > 1 && produtoCount < totalProdutosM){
                $('.produtosM').hide();
                $('#produto_m_' + produtoCount).show();
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_h.png");
                $('#seta_esquerda').attr("src","/content/imagens/dep_seta_esquerda_h.png");
            }else{
                $('#seta_direita').attr("src","/content/imagens/dep_seta_direita_d.png"); 
                }
        });
    });
</script>
