﻿@model IEnumerable<Domain.Entities.Produto>

    @*
        <div id="ListagemProdutos2">
            <div class="div_centraliza" id="ListaProdutos">

                <div class="seta_esquerda"><p><img src="/content/imagens/dep_seta_esquerda_d.png" width="25" height="64" border="0" alt="Seta" /></p></div>

                <div class="produto">
                    <div class="quadrado1">
                        <div class="foto"><img src="/content/imagens/foto1.png" class="foto_tamanho" alt="Foto do Produto" /></div>
                        <div class="titulo">Coroa de Flores Premium - 01</div>
                        <div class="tamanho_imagens">

                            <center><div class="escolha_tamanho_div">

                                <div id="pequeno1_m_s" class="escondido_left"><img src="/content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho" /></div>

                                <div id="pequeno1_m_ns" class="esquerda"><img src="/content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('pequeno1_m');esconde('medio1_m');esconde('grande1_m');mostra('pequeno1_m_s');esconde('pequeno1_m_ns');mostra('medio1_m_ns');esconde('medio1_m_s');mostra('grande1_m_ns');esconde('grande1_m_s');" alt="Tamanho"  /></div>

                                <div id="medio1_m_s" class="esquerda"><img src="/content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('medio1_m');esconde('pequeno1_m');esconde('grande1_m');" alt="Tamanho"  /></div>

                                <div id="medio1_m_ns" class="escondido_left"><img src="/content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('medio1_m');esconde('pequeno1_m');esconde('grande1_m');esconde('pequeno1_m_s');mostra('pequeno1_m_ns');esconde('medio1_m_ns');mostra('medio1_m_s');mostra('grande1_m_ns');esconde('grande1_m_s');" alt="Tamanho"  /></div>

                                <div id="grande1_m_s" class="escondido_left"><img src="/content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('grande1_m');esconde('pequeno1_m');esconde('medio1_m');" alt="Tamanho"  /></div>

                                <div id="grande1_m_ns" class="esquerda"><img src="/content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('grande1_m');esconde('pequeno1_m');esconde('medio1_m');esconde('pequeno1_m_s');mostra('pequeno1_m_ns');mostra('medio1_m_ns');esconde('medio1_m_s');esconde('grande1_m_ns');mostra('grande1_m_s');" alt="Tamanho"  /></div>

                            </div>
                            </center>

                        </div>

                        <div id="pequeno1_m" class="escondido">
                        <div class="tamanho_texto">1,0m x 1,0m</div>
                        <div class="valor">150,00</div>
                        </div>

                        <div id="medio1_m">
                        <div class="tamanho_texto">1,2m x 1,0m</div>
                        <div class="valor">250,00</div>
                        </div>

                        <div id="grande1_m" class="escondido">
                        <div class="tamanho_texto">1,5m x 1,0m</div>
                        <div class="valor">350,00</div>
                        </div>

                        <div class="mais_detalhes"><a href="" class="mais_detalhes2">+ detalhes da coroa</a></div>
                        <div class="comprar"><img src="/content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar"  /></div>
                    </div>
                </div>

                <div class="seta_direita"><p><img src="/content/imagens/dep_seta_direita_h.png" width="25" height="64" border="0" style="cursor:pointer" onclick="abre('produtos.asp?pag=2','ListaProdutos');" alt="Seta"  /></p></div>

            </div>
        </div>*@
    @{
        var produtos = new List<Domain.Entities.Produto>();
        produtos.AddRange(Model.OrderBy(p => p.PrecoMinimo).ToList());
        var ordenacao = "preco-menor";
        if (!String.IsNullOrEmpty(Request["ordenacao"]))
        {
            ordenacao = Request["ordenacao"];
            switch (ordenacao)
            {
                case "preco-menor":
                    produtos = produtos.OrderBy(p => p.PrecoMinimo).ToList();
                    break;
                case "preco-maior":
                    produtos = produtos.OrderByDescending(p => p.PrecoMaximo).ToList();
                    break;
                case "mais-vendidas":
                    produtos = produtos.Where(p => p.MaisVendida > 0).OrderBy(p => p.MaisVendida).ToList();
                    break;
                case "empresas":
                    produtos = produtos.Where(p => p.ParaEmpresas > 0).OrderBy(p => p.ParaEmpresas).ToList();
                    break;
                case "amigos":
                    produtos = produtos.Where(p => p.ParaAmigos > 0).OrderBy(p => p.ParaAmigos).ToList();
                    break;
                case "familiares":
                    produtos = produtos.Where(p => p.ParaFamilias > 0).OrderBy(p => p.ParaFamilias).ToList();
                    break;
            }
        }

        var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
        var promocao = (Domain.Entities.Promocao)ViewBag.PromocaoSemana;
    }

    <div id="HomeTitulo">
        <div class="div_centraliza">
            @if (ViewBag.NaoExibeHeader == null)
            {
                if (ViewBag.Home != null)
                {
                    if (ViewBag.Home)
                    {
                        <div class="titulo"><p>Coroas de Flores</p></div>
                    }
                }
                else if (ViewBag.Sugestoes != null)
                {
                    if (ViewBag.Sugestoes)
                    {
                        <div class="titulo">
                            <p>
                                Veja as sugestões de coroas de flores que encontramos
                                para você
                            </p>
                        </div>
                    }
                }
                else if (ViewBag.TemPromocaoSemana != null)
                {
                    if (ViewBag.TemPromocaoSemana)
                    {
                        <div class="titulo"><p>Confira nossas coras em promoção</p></div>
                    }
                }
                else
                {
                    <div class="titulo"><p>As melhores coroas de flores estão aqui!</p></div>
                }
                <div class="ordenar">
                    <div class="select_texto">
                        <p>
                            ordenar por
                        </p>
                    </div>
                    <div class="select">
                        <p>
                            <select class="select_input" onchange="Pagina.Ordenar(this.value);" onmousedown="_gaq.push(['_trackEvent', 'ordenar', 'select', this.value]);">
                                <option value="preco-menor" @(ordenacao == "preco-menor" ? "selected=\"selected\"" : "")>
                                    Mais baratas
                                </option>
                                <option value="preco-maior" @(ordenacao == "preco-maior" ? "selected=\"selected\"" : "")>
                                    Mais caras
                                </option>
                                <option value="mais-vendidas" @(ordenacao == "mais-vendidas" ? "selected=\"selected\"" : "")>
                                    Mais vendidas
                                </option>
                                <option value="empresas" @(ordenacao == "empresas" ? "selected=\"selected\"" : "")>
                                    Para
                                    empresas
                                </option>
                                <option value="amigos" @(ordenacao == "amigos" ? "selected=\"selected\"" : "")>
                                    Para
                                    amigos
                                </option>
                                <option value="familiares" @(ordenacao == "familiares" ? "selected=\"selected\"" : "")>
                                    Para familiares
                                </option>
                            </select>
                        </p>
                    </div>
                </div>
                <form id="buscar-local" method="get" action="@Url.Action("buscar", "local")">
                    <div class="divBusca">
                        <div class="divBusca2">
                            <input type="text" id="busca2" name="termo" class="divBuscaInput" value="Encontre velórios ou cemitérios"
                                   onfocus="if(this.value=='Encontre velórios ou cemitérios') { this.value = ''; }"
                                   onblur="if(this.value == '' || this.value == ' ') { this.value = 'Encontre velórios ou cemitérios'; }" />
                        </div>
                        <div class="divBusca2">
                            <input type="image" src="/content/imagens/busca.png" width="36" height="30" border="0" alt="Buscar" />
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
    @if (produtos.Any())
    {
        <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
        <div id="ListagemProdutos">
            <div class="div_centraliza">
                @{
                    var Count = 1;
                    var Line = 1;
                }
                @foreach (var coroa in produtos)
                {
                    var coroapromo = false;

                    <div class="produto Line@(Line) @(Line > 1 ? Html.Raw("none") : Html.Raw(""))" id="Produto_@(coroa.ID)">
                        @{
                            if (Count % 4 == 0)
                            {
                                Line++;
                            }
                        }
                        <div class="quadrado@(Count % 4 == 0 ? Html.Raw("2") : Html.Raw("1"))">
                            @if (promocao != null)
                            {
                                coroapromo = promocao.PromocaoProduto.Count(c => c.ProdutoID == coroa.ID) > 0;
                                if (coroapromo)
                                {
                                    <div class="planos_promocao">
                                        Promoção da semana com <b>desconto de @promocao.Desconto%</b>!
                                    </div>
                                }
                            }
                            <div class="foto">
                                <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" class="foto_tamanho" alt="Foto do produto">
                            </div>
                            <div class="titulo">
                                @Domain.Helpers.EnumHelper.GetDescription(coroa.Tipo) @coroa.Nome.Replace("Coroa de Flores", "")
                            </div>
                            <div class="tamanho_imagens">
                                <center>
                                    <div class="escolha_tamanho_div">
                                        <div id="pequena@(coroa.ID)_s" class="escondido_left CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_selecionado.png" class="tamanho_imagens2" alt="Tamanho">
                                        </div>
                                        <div id="pequena@(coroa.ID)_ns" class="esquerda CoroaPequena MudaTamanho">
                                            <img src="/Content/imagens/tamanho_p_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('grande@(coroa.ID)');mostra('pequena@(coroa.ID)_s');esconde('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');"
                                                 alt="Tamanho">
                                        </div>
                                        <div id="media@(coroa.ID)_s" class="esquerda CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');"
                                                 alt="Tamanho">
                                        </div>
                                        <div id="media@(coroa.ID)_ns" class="escondido_left CoroaMedia MudaTamanho">
                                            <img src="/Content/imagens/tamanho_m_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('media@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('grande@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');esconde('media@(coroa.ID)_ns');mostra('media@(coroa.ID)_s');mostra('grande@(coroa.ID)_ns');esconde('grande@(coroa.ID)_s');"
                                                 alt="Tamanho">
                                        </div>
                                        <div id="grande@(coroa.ID)_s" class="escondido_left CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');"
                                                 alt="Tamanho">
                                        </div>
                                        <div id="grande@(coroa.ID)_ns" class="esquerda CoroaGrande MudaTamanho">
                                            <img src="/Content/imagens/tamanho_g_nao_selecionado.png" class="tamanho_imagens2" onmouseover="mostra('grande@(coroa.ID)');esconde('pequena@(coroa.ID)');esconde('media@(coroa.ID)');esconde('pequena@(coroa.ID)_s');mostra('pequena@(coroa.ID)_ns');mostra('media@(coroa.ID)_ns');esconde('media@(coroa.ID)_s');esconde('grande@(coroa.ID)_ns');mostra('grande@(coroa.ID)_s');"
                                                 alt="Tamanho">
                                        </div>
                                    </div>
                                </center>
                            </div>
                            @{var total = coroa.ProdutoTamanhos.Count;}
                            @foreach (var item in coroa.ProdutoTamanhos)
                            {

                                <div id="@(item.Tamanho.Nome.ToLower().Replace("é", "e") + coroa.ID)" @(item.Tamanho.Nome.ToLower().Replace("é", "e") == "media" ? Html.Raw("") : Html.Raw("class='escondido'"))>
                                    <div class="tamanho_texto">
                                        @item.Tamanho.Dimensao
                                    </div>
                                    <div class="valor">
                                        @if (!coroapromo)
                                        {
                                            <div class="valor">
                                                <div class="total">@item.Preco.ToString("C2")</div>
                                            </div>
                                        }
                                        else
                                        {
                                            decimal precopromo = (item.Preco - (item.Preco * promocao.Desconto / 100));
                                            <div class="valor">
                                                <div class="total">
                                                    <del>@item.Preco.ToString("C2")</del>
                                                </div>
                                                <div class="parcelado">
                                                    @if (configuracoes.Parcela > 1)
                                                    {
                                                        @precopromo.ToString("C2")
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            }
                            <div class="mais_detalhes">
                                <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" class="mais_detalhes2">
                                    + detalhes da coroa
                                </a>
                            </div>
                            <div class="comprar">
                                <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })">
                                    <img src="/Content/imagens/comprar.png" class="comprar_tamanho" alt="Comprar" />
                                </a>
                            </div>
                        </div>
                    </div>
                    Count++;
                }
            </div>
        </div>
    }

    @{
        Session["listCoroas"] = produtos;
    }
