﻿@model IEnumerable<Domain.Entities.Produto>

    <section class="loop loop2" id="coroas">
        <!-- Container -->
        <div class="container">

            <input type="hidden" id="TamanhoProduto" value="CoroaMedia" />
            <div class="lining">

                @foreach (var coroa in Model)
                {

                    var coroaTamanhoMedio = coroa.ProdutoTamanhoes.ElementAt(1);

                    <!-- Card -->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="card" id="Produto_@(coroa.ID)">


                            <span>
                                <a href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" rel="@coroa.Nome" title="@coroa.Nome">
                                    <img src="@Url.Content("~/content/produtos/" + coroa.ID + "/thumb/" + coroa.Foto)" alt="@coroa.Nome" />
                                </a>
                            </span>
                            <br class="visible-xs" />
                            <h2 class="hidden-xs">Coroa de Flores @coroa.Nome.Replace("Coroa de Flores", "")</h2>

                            <p>a partir de <br class="visible-xs" /><big>@coroaTamanhoMedio.Preco.ToString("C2")</big></p>

                            <a class="btn btn-checkout comprarproduto2" href="@Url.RouteUrl("Coroa", new { rotuloUrl = coroa.RotuloUrl, id = coroa.ID })" id="comprar@(coroa.ID)">Comprar</a>
                        </div>
                        <!-- /Card -->
                    </div>
                }
            </div>
        </div>
        <!-- /Container -->
    </section>

    @{
        Session["listCoroas"] = Model;
    }
