﻿/* cyrillic */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLXC6D0kQJsDujjG2hljaH8Y.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLTT528x_xPA2SV6ECmZXyQw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLV83L2yn_om9bG0a6EHWBso.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#opt-pagseguro span, #opt-credit span, #opt-paypal span {
    height: 40px;
}

#opt-pagseguro u, #opt-credit u, #opt-paypal u {
    font-size: 12px;
}

body.checkout-proccess .delivery .Title h2 {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 15px;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

body.checkout-proccess .delivery .delivery-card h2, body.checkout-proccess .delivery .payment-card h2 {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 15px;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

section.delivery {
    margin-top: 30px;
}

.cart-card label {
    font-weight: normal;
}

body.checkout-proccess .cart.order .cart-card#order-total {
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: initial;
    background: #f1f1e6;
}

    body.checkout-proccess .cart.order .cart-card#order-total p {
        margin-bottom: 0px;
    }

    body.checkout-proccess .cart.order .cart-card#order-total span {
        color: #b7b724;
        font-weight: bold;
    }

.gallery-title {
    margin: 0;
    margin-bottom: 5px !important;
}

.gallery-list {
    margin: 0 0 20px !important;
}

    .gallery-list .item {
        float: left;
        width: calc(25% - 10px);
        height: 0;
        padding-bottom: calc(25% - 10px);
        border: 1px solid #ccc;
        margin: 5px;
        position: relative;
    }

        .gallery-list .item > img {
            cursor: pointer;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            object-fit: contain;
        }

        .gallery-list .item:not(.active):hover > img, .gallery-list .item.active {
            opacity: 0.4;
        }

        .gallery-list .item.active {
            cursor: default;
        }

.product-image {
    position: relative;
    height: 0;
    padding-bottom: 90% !important;
}

    .product-image > img {
        position: absolute;
        height: 100% !important;
        object-fit: contain;
        left: 0;
    }



section#mobile-fixed {
    background-color: #a1a31f;
}

section#mobile-header {
    padding-top: 52px;
}

section.frases .margenfrase {
    margin-top: 0px;
}

    section.frases .margenfrase:last-of-type {
        margin-bottom: 24px;
    }

section.frases .btn-group .btn-default {
    font-size: 15px;
}


#CompraClick .desativado {
    opacity: 0.3;
}

#CompraClick h2 {
    border: 1px solid #e0e0e0;
    padding-top: 10px;
    margin: 0px -15px 17px;
}

    #CompraClick h2 .check {
        content: url('../img/ui/check.png');
        height: 15px;
        line-height: 15px;
        white-space: nowrap;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }

#CompraClick .green {
    background-color: #1ba149;
    border: #1ba149;
    color: #ffffff;
}

#CompraClick h3 {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 6px;
    margin-top: 0;
}

#CompraClick .info {
    min-height: 116px;
    border: 1px solid #e0e0e0;
    padding-top: 10px;
    border-radius: 5px;
    padding-right: 44px;
}

#CompraClick .center {
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}

#CompraClick .center2 {
    height: 51px;
    line-height: 51px;
    white-space: nowrap;
}

span#boleto-click {
    background-image: url('../img/ui/paymentBoleto.png');
    display: inline-block;
    width: 101px;
    height: 37px;
}

span#cartao-click {
    background-image: url('../img/ui/paymentCartao.png');
    display: inline-block;
    width: 113px;
    height: 32px;
}

#CompraClick div #boleto {
    border: 1px solid #e0e0e0;
    padding-top: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    margin-bottom: 25px;
}

    #CompraClick div #boleto p {
        font-size: 16px;
        text-align: right;
    }

        #CompraClick div #boleto p:last-child {
            text-align: left;
        }

#CompraClick #MeioDePagamento .lining:last-child {
    margin-bottom: 25px;
}



#CompraClick #CadastroStep .col-md-4 p, #CadastroStepTwo .col-md-4 p, #CadastroStepThree .col-md-4 p {
    text-align: center;
    color: #05ae19;
    font-size: 15px;
    border: solid 1px #05ae19;
}



#CompraClick .checkout-sec {
    background: #af0102;
    background: -webkit-linear-gradient(#be0102 50%, #af0102 50%);
    background: -o-linear-gradient(#be0102 50%, #af0102 50%);
    background: -moz-linear-gradient(#be0102 50%, #af0102 50%);
    background: linear-gradient(#be0102 50%, #af0102 50%);
    font-size: 17px;
    margin-bottom: 75px;
    font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
}

    #CompraClick .checkout-sec:hover {
        background: #bd0001;
        background: -webkit-linear-gradient(#d00001 50%, #bd0001 50%);
        background: -o-linear-gradient(#d00001 50%, #bd0001 50%);
        background: -moz-linear-gradient(#d00001 50%, #bd0001 50%);
        background: linear-gradient(#d00001 50%, #bd0001 50%);
    }

#CompraClick small {
    font-size: 80%;
}

#CompraClick .form-control {
    border-radius: 1px;
}

#CompraClick .tooltip-inner {
    max-width: 500px;
}


#CompraClick .glyphicon {
    top: 32px;
    font-size: 17px;
    color: #218243;
}


#CompraClick .icon_close_alt2 {
    cursor: pointer;
}

    #CompraClick .icon_close_alt2:hover {
        color: #af0102;
    }

#CompraClick .ResumoCompraClick {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

    #CompraClick .ResumoCompraClick .col-md-12 {
        border: 1px solid #e0e0e0;
        background-color: #e6f1eb;
        margin-bottom: 35px;
        padding: 12px 27px 6px 0px;
    }

        #CompraClick .ResumoCompraClick .col-md-12 span {
            font-weight: 800;
            color: #1ba149;
        }

#CompraClick #CadastroStep .radio-inline + .radio-inline {
    margin-left: 0;
}



section#button-fixed {
    bottom: 0;
    -webkit-box-shadow: 0 0.3rem 1.5rem rgba(0,0,0,.5);
    box-shadow: 0 0.3rem 1.5rem rgba(0,0,0,.5);
    left: 0;
    padding: .5rem;
    position: fixed;
    right: 0;
    z-index: 250;
    background-color: #fff;
    margin-top: 3rem;
    border-top: .1rem solid #ababab;
    transition: left .3s cubic-bezier(.35,.01,.77,.34);
}

    section#button-fixed button {
        width: 100%;
    }

    section#button-fixed .checkout-sec {
        margin-bottom: 0px;
        background: none;
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

        section#button-fixed .checkout-sec:hover {
            margin-bottom: 0px;
            background: none;
            color: #fff;
            background-color: #000;
            border-color: #000;
        }

    section#button-fixed .checktotal {
        font-size: 1.4rem;
        line-height: 1;
        margin-bottom: .5rem;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    section#button-fixed .checkout-sec {
        border-radius: 0px;
    }

#frasedehomenagem h2 {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    color: #404040;
}

#frasedehomenagem p, h3, ul {
    font-size: 16px;
    line-height: 1.4;
}

#frasedehomenagem li:last-of-type {
    margin-bottom: 20px;
}

/* Início Neue Cadastro*/

#Cadastro #MenuRadio {
    background-color: #555;
    color: white;
    padding: 18px 0px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 20px;
}

    #Cadastro #MenuRadio input[type="radio"] {
        margin: 9px -19px 0;
    }


#Cadastro .card {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

    #Cadastro .card label {
        font-weight: normal;
        font-size: 13px;
        margin-bottom: 3px;
    }

    #Cadastro .card .form-control {
        margin-bottom: 10px;
    }

#Cadastro hr {
    border-top: 1px solid #a0a0a0;
}

#Cadastro h2 {
    margin-top: 30px;
    font-size: 18px;
}

#Cadastro .cep {
    margin-top: 5%;
}

/* Fim Neue Cadastro*/

/* Início V3*/

#LayoutNew h1, #LayoutNew h2, #LayoutNew h3, #LayoutNew h4, #LayoutNew h5, #LayoutNew h6 {
    font-family: "Open Sans";
}

#LayoutNew p, #LayoutNew li, #LayoutNew ul, #LayoutNew small, #LayoutNew b, #LayoutNew span {
    font-family: "Lato";
}

#LayoutNew .icon_cart {
    font-family: 'ElegantIcons' !important;
}

#LayoutNew section#mobile-header img {
    padding: 20px 30px;
}

section#Bg-V3 {
    z-index: 2;
    padding: 33px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    margin-top: 0px;
}

    section#Bg-V3 .container * {
        z-index: 3;
        text-align: center;
    }

    section#Bg-V3 h1 {
        text-transform: uppercase;
        font-size: 35px;
        font-family: 'Open Sans';
        margin-bottom: 20px;
    }

    section#Bg-V3 p {
        font-size: 28px;
        font-weight: 300;
    }

    section#Bg-V3 i {
        font-size: 25px;
        text-transform: uppercase;
        color: #fe9b00;
    }

    section#Bg-V3 ul {
        display: inline-block;
        padding: 0px;
        margin-top: 12px;
        margin-bottom: 60px;
    }

    section#Bg-V3 li {
        float: left;
        padding: 0px 10px;
        list-style: none;
        font-size: 22px;
        margin-top: 40px;
        font-weight: 400;
    }

        section#Bg-V3 li div {
            width: 250px;
        }

#Bg-V3 .arrow:after {
    display: inline-block;
    position: relative;
    content: "";
    top: 15px;
    right: 0;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    animation: jump 1.3s infinite;
}

@keyframes jump {
    0% {
        top: 0;
    }

    50% {
        top: 6px;
    }

    100% {
        top: 0;
    }
}


#Bg-V3 .btn-coroa {
    background: #ffffffbd;
    border: solid white 2px;
    color: black;
    padding: 12px 45px;
    font-size: 15px;
    font-weight: bold;
}

    #Bg-V3 .btn-coroa:hover {
        text-decoration: none;
        background: white;
    }


    #Bg-V3 .btn-coroa:focus, #produtos a:focus {
        text-decoration: none;
        background-color: white;
        color: black;
    }

section#Bg-V3 video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    filter: blur(2px);
}

#Cover {
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0.6;
    background-color: black;
}

#Cover, section#Bg-V3 video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

section#media .container * {
    z-index: 3;
    text-align: center;
}

#media {
    background-color: #f8f8f8;
    padding: 10px 0 7px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    text-align: center;
}

    #media p {
        margin: 7px 0 0;
    }

    #media small {
        font-size: 120%;
    }

        #media small b {
            color: rgb(227, 6, 18);
        }

    #media ul {
        display: inline-block;
        padding: 0px;
    }

    #media li {
        float: left;
        padding: 0px 33px;
        list-style: none;
    }

    #media .icon-media {
        height: 37px;
        overflow: hidden;
        display: inline-block;
        filter: grayscale(100%);
    }

        #media .icon-media:hover {
            filter: none;
        }

#globo {
    background: url('../img/ui/sprite-v3-media.png') left top no-repeat;
    width: 49px;
}

#insper {
    background: url('../img/ui/sprite-v3-media.png') center top no-repeat;
    width: 97px;
}

#record {
    background: url('../img/ui/sprite-v3-media.png') right top no-repeat;
    width: 27px;
}

#valor {
    background: url('../img/ui/sprite-v3-media.png') left center no-repeat;
    width: 59px;
}

#exame {
    background: url('../img/ui/sprite-v3-media.png') left bottom no-repeat;
    width: 68px;
}

#uol {
    background: url('../img/ui/sprite-v3-media.png') center center no-repeat;
    width: 76px;
}

#produtos .col-md-12 {
    font-size: 16px;
    text-align: center;
}


#produtos .btn-coroa {
    border: solid 3px #fe9b00;
    color: #fe9b00;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 12px;
}

#produtos a:hover, #produtos a:focus {
    text-decoration: none;
    background-color: #fe9b00;
    color: #ffffff;
}

#produtos hr:last-of-type {
    margin-bottom: 54px;
}

#reviews {
    background-color: #f8f8f8;
    text-align: center;
    margin-top: 40px;
    min-height: 602px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

    #reviews h2 {
        margin-top: 40px;
        font-size: 33px;
        text-align: center;
        font-weight: 300;
    }

    #reviews h3 {
        font-weight: 900;
        font-size: 25px;
        text-align: left;
    }

    #reviews p {
        font-size: 40px;
        font-weight: 300;
        text-align: left;
    }

    #reviews .medalha {
        text-align: right;
    }

    #reviews .comentario {
        margin-bottom: 51px;
    }

    #reviews .carousel-control.left, #reviews .carousel-control.right {
        background-image: none;
    }

    #reviews p:last-of-type {
        margin-top: -28px;
    }

    #reviews small {
        font-size: 37%;
    }


#floricultura {
    text-align: center;
    min-height: 580px;
}

    #floricultura h2 {
        margin-top: 57px;
        font-size: 31px;
        text-align: center;
        font-weight: 300;
    }

    #floricultura h3 {
        font-weight: 900;
        font-size: 25px;
        text-align: left;
    }

    #floricultura p {
        font-size: 19px;
        font-weight: 300;
        text-align: left;
    }

/* FIM V3*/

/* INICIO EMPRESA*/

section#Bg-empresas {
    z-index: 2;
    padding: 33px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 337px;
}

    section#Bg-empresas .container * {
        z-index: 3;
        text-align: left;
    }

    section#Bg-empresas h1 {
        text-transform: uppercase;
        font-size: 35px;
        font-family: 'Open Sans';
        margin-bottom: 20px;
        margin-top: 44px;
    }


    section#Bg-empresas p {
        font-size: 25px;
        font-weight: 300;
    }

    section#Bg-empresas i {
        font-size: 27px;
        color: #fe9b00;
    }

#Bg-empresas .btn-coroa {
    border: solid 3px white;
    color: white;
    padding: 12px 45px;
    font-size: 15px;
}

#Bg-empresas .btn-empresa {
    text-align: center !important;
    margin-top: 40px;
}

#Bg-empresas a:hover, #produtos a:focus {
    text-decoration: none;
    background-color: white;
    color: black;
}

section#Bg-empresas video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    filter: blur(2px);
}

#Cover2 {
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0.6;
    background-color: black;
}

#Cover2, section#Bg-empresas video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

#compreagora {
    background-color: #f5f5f5;
    min-height: 118px;
    border-bottom: solid #bdbdbd;
    border-top: 1px solid #e4e4e4;
}

    #compreagora .arrow:after {
        display: inline-block;
        position: relative;
        content: "";
        top: 4px;
        right: 0;
        margin-left: 4px;
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
        border-right: 4px solid #fe9b00;
        border-bottom: 4px solid #fe9b00;
        animation: jump2 2s infinite;
    }

@keyframes jump2 {
    0% {
        right: 0;
    }

    50% {
        right: 20px;
    }

    100% {
        right: 0;
    }
}

section#compreagora h3 {
    margin-top: 47px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

section#compreagora p {
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}

#compreagora .btn-coroa {
    border: solid 3px #fe9b00;
    color: #fe9b00;
    padding: 7px 36px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 40px;
    display: inline-block;
}

#compreagora a:hover, #produtos a:focus {
    text-decoration: none;
    background-color: #fe9b00;
    color: #ffffff;
}

section#Bg-empresas li {
    padding: 14px 0;
    list-style: none;
    font-size: 19px;
}

    section#Bg-empresas li div {
        width: 250px;
    }

section#featuresempresa .thumbnail {
    margin-top: 15px;
}

    section#featuresempresa .thumbnail h3, section#grafics .thumbnail h3 {
        font-weight: 900;
        font-size: 21px;
        text-align: left;
    }

    section#featuresempresa .thumbnail p, section#grafics .thumbnail p {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }

section#produtos h3 {
    margin-top: 47px;
    font-size: 31px;
    text-align: center;
    font-weight: 300;
}

section#grafics {
    background-color: #f5f5f5;
    margin-top: 40px;
}

    section#grafics h2 {
        font-size: 28px;
        font-weight: 300;
    }

    section#grafics .titleempresa {
        font-weight: bold;
        font-size: 15px;
    }

    section#grafics .thumbnail {
        border-top: solid;
    }

    section#grafics .row {
        margin-top: 45px;
    }

    section#grafics .thumbnail img {
        max-width: 55%;
    }

section#lacosc {
    color: #FFF;
    background: url('../img/photos/bg-lacos.jpg') center top no-repeat #353a48;
    background-size: cover;
    position: relative;
    text-align: center;
}

    section#lacosc h2 {
        font-size: 40px;
        margin-top: 60px;
        font-weight: 400;
    }

    section#lacosc p {
        margin-bottom: 50px;
        margin-top: 40px;
        font-size: 22px;
        line-height: 1.3em;
        font-weight: 300;
    }

    section#lacosc .btn {
        border-radius: 2px;
    }

    section#lacosc .btn-call-to-action {
        color: #FFF;
        background: #00adee;
        border: none;
    }

    section#lacosc a {
        font-size: 25px;
        font-weight: 700;
        display: inline-block;
        padding: 15px 40px;
        margin-bottom: 59px;
    }

#LayoutNew footer section.main {
    margin-top: 0px;
}

/* FIM EMPRESA*/

/* INICIO BANNER FRASE DE HOMENAGENS*/

#bannerfrase {
    margin-top: 10px;
}

    #bannerfrase .jumbotron {
        background-color: #ee676f26;
        background-image: url('../img/photos/coroa-banner-frase.png');
        background-repeat: no-repeat;
        background-position: center right;
    }

    #bannerfrase h1 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    #bannerfrase .jumbotron p {
        margin-bottom: 27px;
    }

/* FIM BANNER FRASE DE HOMENAGENS*/


/*INICIO WHATSAPP MOBILE*/

section#fixed-whatsapp {
    position: fixed;
    bottom: 0px;
    right: 5px;
    width: 33%;
    z-index: 99;
    background-color: #575757;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    section#fixed-whatsapp span {
        color: white;
        background-image: url('../img/photos/whatsap.png');
        background-repeat: no-repeat;
        padding: 22px 0px;
        animation: jump3 2s infinite;
        background-position: right;
    }

@keyframes jump3 {
    0% {
        top: 0;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0;
    }
}

section#fixed-whatsapp p {
    color: white;
    text-align: left;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 1px;
}

/*FIM WHATSAPP MOBILE*/

/*INICIO WHATSAPP DESKTOP*/

section#main-header ul li .whatsweb {
    font-size: 20px;
    color: #333;
    padding-bottom: 0px;
}

    section#main-header ul li .whatsweb:hover {
        color: #51c85d;
    }

section#main-header ul .whatsweb a:last-of-type {
    color: #af0102;
    font-size: 15px;
    text-transform: initial;
    font-weight: 400;
}

section#main-header ul li strong span.whats, section#main-header ul li a span.whats {
    background-color: unset;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    background-image: url(../img/ui/whatsspritesheet.png);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: no-repeat;
}
    /*FIM WHATSAPP DESKTOP*/


footer section.main a#endeavor {
    background-image: url(../img/ui/endeavor.png) !important;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin-right: 3px;
}

footer section.main a#ecommercebrasil {
    background-image: url(../img/ui/ecommerce-experience.png) !important;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 107px;
    height: 60px;
    margin-right: 3px;
}
.selo-your {
    text-align: center;
    margin-top: 3px;
}

.yv-testimonial {
    overflow: hidden;
    clear: both;
    display: none;
}

.yv-bootstrap .slick-arrow {
    border: 0;
    background-color: transparent;
    background-image: url(https://yv-misc.s3.amazonaws.com/customers/Maximustecidos/arrow.png);
    width: 8px;
    height: 13px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-appearance: none !important;
    text-indent: -9999px;
    white-space: nowrap;
    position: absolute;
    z-index: 5;
    top: 25%;
    transform: none !important;
}

.yv-bootstrap .slick-prev {
    transform: rotate(180deg);
    left: 0;
}

.yv-bootstrap .slick-next {
    left: inherit;
    right: 0;
}

.yv-testimonial .yv-bootstrap .slick-list {
    width: 922px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}


/* INICIO PÁGINA OBITUS*/

.obituario .card2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 0 8px 15px;
}

.obituario .card-header {
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align: center;
}

    .obituario .card-header:first-child {
        border-radius: calc(-3.75rem - 1px) calc(.25rem - 1px) 0 0;
    }

.obituario .mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.obituario .btn-link:hover, .btn-link:focus, .btn-link:active {
    color: none;
    border-color: none;
    outline: none;
}

.obituario .card-body {
    padding: 12px;
    font-size: 13px;
}

.obituario .btn-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.obituario .mb-0 small, .cidades-regioes .mb-0 span {
    font-size: 12px;
}

.obituario .btn {
    margin-bottom: 0px;
}

.obituario .glyphicon {
    top: 2px;
    padding: 0 3px;
}

.obituario h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
}

section.obituario span.more {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin: 20px 0 50px;
}

.obituario .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    font-size: 15px;
}

.cidades-regioes .obitus {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 18px;
    font-size: 15px;
}

/* FIM PÁGINA OBITUS*/

/* INICIO AVALIAÇÃO */

section#Bg-avaliacao {
    z-index: 2;
    padding: 33px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 337px;
}

    section#Bg-avaliacao .container * {
        z-index: 3;
        text-align: left;
    }

    section#Bg-avaliacao h1 {
        text-transform: uppercase;
        font-size: 35px;
        font-family: 'Open Sans';
        margin-bottom: 20px;
        margin-top: 27px;
    }


    section#Bg-avaliacao p {
        font-size: 25px;
        font-weight: 300;
    }

    section#Bg-avaliacao i {
        font-size: 27px;
        color: #fe9b00;
    }

#Bg-avaliacao .btn-coroa {
    border: solid 3px white;
    color: white;
    padding: 12px 45px;
    font-size: 15px;
}

#Bg-avaliacao .btn-empresa {
    text-align: center !important;
    margin-top: 40px;
}

#Bg-avaliacao a:hover, #produtos a:focus {
    text-decoration: none;
    background-color: white;
    color: black;
}

section#Bg-avaliacao video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    filter: blur(2px);
}

#Cover3 {
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0.6;
    background-color: black;
}

#Cover3, section#Bg-avaliacao video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

#compreagoraavaliacao {
    background-color: #f5f5f5;
    min-height: 118px;
    border-bottom: solid #bdbdbd;
    border-top: 1px solid #e4e4e4;
}

    #compreagoraavaliacao .arrow:after {
        display: inline-block;
        position: relative;
        content: "";
        top: 4px;
        right: 0;
        margin-left: 4px;
        width: 18px;
        height: 18px;
        transform: rotate(-45deg);
        border-right: 4px solid #fe9b00;
        border-bottom: 4px solid #fe9b00;
        animation: jump5 2s infinite;
    }

@keyframes jump5 {
    0% {
        right: 0;
    }

    50% {
        right: 20px;
    }

    100% {
        right: 0;
    }
}

section#compreagoraavaliacao h3 {
    margin-top: 47px;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

section#compreagoraavaliacao p {
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}

#compreagoraavaliacao .btn-coroa {
    border: solid 3px #fe9b00;
    color: #fe9b00;
    padding: 7px 36px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 40px;
    display: inline-block;
}

#compreagoraavaliacao a:hover, #produtos a:focus {
    text-decoration: none;
    background-color: #fe9b00;
    color: #ffffff;
}

section#Bg-avaliacao li {
    padding: 14px 0;
    list-style: none;
    font-size: 19px;
}

    section#Bg-avaliacao li div {
        width: 250px;
    }

section#featuresavaliacao .thumbnail {
    margin-top: 15px;
}

    section#featuresavaliacao .thumbnail h3 {
        font-weight: 900;
        font-size: 21px;
        text-align: left;
    }

    section#featuresavaliacao .thumbnail p {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }

section#produtosavaliacao {
    min-height: 693px
}

    section#produtosavaliacao h3, #textarea h3, #depoimentos h3 {
        margin-top: 47px;
        font-size: 31px;
        text-align: center;
        font-weight: 300;
    }

#produtosavaliacao .btn-coroa, #textarea .btn-coroa {
    border: solid 3px #fe9b00;
    color: #fe9b00;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 12px;
}

#produtosavaliacao a:hover, #produtosavaliaca a:focus, #textarea a:hover, #textarea a:focus {
    text-decoration: none;
    background-color: #fe9b00;
    color: #ffffff;
}

#produtosavaliacao hr:last-of-type {
    margin-bottom: 54px;
}

#produtosavaliacao .col-md-12 {
    font-size: 16px;
    text-align: center;
}

#textarea {
    text-align: center;
    background-color: #f5f5f5;
    min-height: 730px;
    border-bottom: solid #bdbdbd;
    border-top: 1px solid #e4e4e4;
}

    #textarea p {
        font-size: 17px;
        line-height: 1.6em;
        font-weight: 400;
    }

        #textarea p:last-of-type {
            margin-bottom: 39px;
            font-weight: bold;
        }

    #textarea span {
        background-image: url(/Content/imagens/nps.png);
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 85px;
        margin: 20px;
    }

#depoimentos .yv-testimonial {
    margin-left: 118px;
}

#depoimentos p {
    text-align: center;
}

#depoimentos small {
    font-size: 93%;
}
/* FIM AVALIAÇÃO */


/* INICIO PÁGINA SÃO PAULO */

section#Bg-saopaulo {
    z-index: 2;
    padding: 33px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-height: 337px;
}

    section#Bg-saopaulo .container * {
        z-index: 3;
        text-align: center;
    }

    section#Bg-saopaulo h1 {
        text-transform: uppercase;
        font-size: 35px;
        font-family: 'Open Sans';
        margin-bottom: 20px;
        margin-top: 27px;
    }


    section#Bg-saopaulo p {
        font-size: 25px;
        font-weight: 300;
    }

    section#Bg-saopaulo i {
        font-size: 27px;
        color: #fe9b00;
    }

#Bg-saopaulo .btn-coroa {
    border: solid 3px white;
    color: white;
    padding: 12px 45px;
    font-size: 15px;
}

#Bg-saopaulo .btn-empresa {
    text-align: center !important;
    margin-top: 40px;
}

#Bg-saopaulo a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

section#Bg-saopaulo video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    filter: blur(2px);
}

#Coversp {
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0.6;
    background-color: black;
}

#Coversp, section#Bg-saopaulo video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

section#Bg-saopaulo li {
    padding: 18px 0px;
    list-style: none;
    font-size: 19px;
    float: left
}

    section#Bg-saopaulo li div {
        width: 250px;
    }

section#locaisentregas p {
    text-align: right
}

section#locaisentregas .col-md-12 small {
    font-size: 100%
}

section#locaisentregas .thumbnail {
    margin-top: 15px;
}

    section#locaisentregas .thumbnail h3 {
        font-weight: 700;
        font-size: 18px;
        text-align: left;
    }


    section#locaisentregas .thumbnail p {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }

section#locaisentregas img {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 100%
}

section#produtossp {
    min-height: 1112px;
}

#produtossp h3, #textsp h3, #locaisentregas h2, #LayoutNew #places h5 {
    margin-top: 47px;
    font-size: 31px;
    text-align: center;
    font-weight: 300;
}

#produtossp .btn-coroa, #textsp .btn-coroa {
    border: solid 3px #fe9b00;
    color: #fe9b00;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 12px;
}

#produtossp a:hover, #produtossp a:focus, #textsp a:hover, #textsp a:focus {
    text-decoration: none;
    background-color: #fe9b00;
    color: #ffffff;
}

#produtossp hr:last-of-type {
    margin-bottom: 54px;
}

#produtossp .col-md-12 {
    font-size: 16px;
    text-align: center;
}


#textsp {
    text-align: center;
    background-color: #f5f5f5;
    min-height: 730px;
    border-bottom: solid #bdbdbd;
    border-top: 1px solid #e4e4e4;
    min-height: 771px;
}

    #textsp p {
        font-size: 17px;
        line-height: 1.6em;
        font-weight: 400;
    }



#LayoutNew #places h5 {
    color: #333333;
    margin-top: 22px;
    padding-bottom: 23px;
}

#LayoutNew section.cidades-regioes span.cropper {
    margin-top: 71px;
}

    #LayoutNew section.cidades-regioes span.cropper + ul {
        background-color: #eaeaea;
        margin-bottom: 25px
    }

/* FIM PÁGINA SÃO PAULO */

/*INICIO LANDING ADWORDS*/

section#lp_adwords {
    z-index: 2;
    padding: 0px 0;
    color: #333333;
    position: relative;
    overflow: hidden;
    min-height: 240px;
    margin-top: 0px;
    background-color: #f1f2f6;
    background-image: url('../img/photos/bg.png');
}

    section#lp_adwords .container * {
        z-index: 3;
        text-align: center;
    }

    section#lp_adwords h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
        font-family: 'Open Sans';
        margin-bottom: 10px;
    }

    section#lp_adwords p {
        font-size: 33px;
        font-weight: 300;
        margin-bottom: 37px;
    }


#features-lp {
    background-color: #fcfcfc;
    padding-top: 38px;
}

.image-banner {
    width: 108%;
    height: auto;
    position: absolute;
    text-align: center;
}


section#lp_adwords .btn-coroa {
    background: #e30612;
    border: solid #cc0611 2px;
    color: white;
    padding: 13px 25px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}

    section#lp_adwords .btn-coroa:hover {
        text-decoration: none;
        background: #d20202;
    }


    section#lp_adwords .btn-coroa:focus {
        text-decoration: none;
        background-color: #d20202;
    }

.simple-icon {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 276px;
}

.simple-icon-icon {
    border: 4px solid #dadada;
    width: 74px;
    height: 74px;
    text-align: center;
    line-height: 66px;
    display: block;
    margin: 0 auto 20px;
    font-size: 22px;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.simple-icon-title {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 1.0;
}

.simple-icon-summary {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}


#product-lp, #contact-lp {
    background-color: #fb2f39d1;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 130px;
}

#loop-lp {
    padding: 30px 0px 30px 0px;
}

#contact-lp {
    min-height: 159px;
}


    #product-lp h2, #contact-lp h2 {
        color: white;
        font-size: 20px;
    }

.product-container, .contact-container {
    text-align: center;
    background-color: transparent;
}

    .product-container a, .contact-container a {
        font-size: 20px;
        line-height: 31px;
        font-family: inherit;
        display: inline-block;
        padding: 9px 20px;
        margin: 4px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: #fb2f39d1;
        font-weight: bold;
    }

        .product-container a:hover, .contact-container a:hover {
            text-decoration: none;
            transition: all 0.25s ease;
            background-color: #fc555d;
            color: white;
        }

        .product-container a:focus, .contact-container a:focus {
            text-decoration: none;
            color: white;
        }

#contact-lp p {
    color: white;
    font-size: 16px;
}

#about-lp {
    text-align: center;
    min-height: 280px;
}

    #about-lp h2 {
        font-weight: 600;
        padding-top: 16px;
    }

    #about-lp p {
        font-size: 16px;
    }

/*FIM LANDING ADWORDS*/

/* V4 */

#barra-busca {
    background-color: #ffffff;
    border: 1px solid #e2e0e0;
    min-height: 80px;
}

    #barra-busca .form-group {
        background-color: #EEEEEE;
        max-height: 100px;
        width: 79%;
    }

    #barra-busca .form-control {
        border: 0px;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
        webkit-box-shadow: none;
        width: 153%;
        min-height: 78px;
        padding-right: 340px;
        font-size: 15px;
    }

    #barra-busca .navbar-form {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 67px;
    }

    #barra-busca .btn {
        padding: 10px 35px;
        border-radius: 22.5px;
        background-color: #E1160B;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 16px;
        border: none;
        margin-left: 27px;
    }


.search {
    text-align: center;
}

#barra-busca input::placeholder {
    color: #333;
    font-style: italic;
}

.close-button {
    background-image: url('../img/ui/icon-fechar.png');
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    height: 0;
    padding-bottom: 115%;
}

#barra-busca a img {
    max-width: 180px;
    margin-top: 15px;
}

#Bg-V4 {
    text-align: center;
    color: #FFFFFF;
    background-image: url('../img/ui/bg-banner-home.jpg');
    background-size: cover;
}

    #Bg-V4 h1 {
        margin-top: 100px;
        font-size: 44px;
        font-weight: bold;
        line-height: 58px;
    }

    #Bg-V4 p {
        height: 39px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 33px;
    }

    #Bg-V4 form {
        margin-bottom: 156px;
        text-align: left;
        margin-left: 12%;
    }

    #Bg-V4 .form-group {
        float: left;
        width: 33%;
        padding: 0px 2px 0px 0px;
    }


    #Bg-V4 .form-control {
        height: 60px;
        border-radius: 0px;
        border-right-color: #333333;
        box-shadow: none;
        border: 0px;
        color: black;
        font-weight: 600;
    }


    #Bg-V4 .border .form-control {
        border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        -khtml-border-radius: 3px 0 0 3px;
    }


    #Bg-V4 .btn {
        padding: 20px 43px;
        border-radius: 0 3px 3px 0;
        background-color: #F3C645;
        border: 0.6px solid #f3c645
    }

        #Bg-V4 .btn:hover {
            background-color: #f9cf56;
        }

    #Bg-V4 .btn-primary {
        color: #000000;
        font-size: 14px;
        font-weight: bold;
    }

section#brands .container * {
    z-index: 3;
    text-align: center;
}

#brands {
    background-color: #eeeeee;
    padding: 20px 0 0px;
    margin-bottom: 37px;
    text-align: center;
    min-height: 90px;
}


    #brands li {
        list-style: none;
        background-image: url('../img/ui/sprite-brand.png');
        padding: 25px 68px;
        background-repeat: no-repeat;
        display: inline-block;
    }


#portoseguro {
    background-position: -21px -1px;
}

#samsung {
    background-position: 1px -283px;
}

#itau {
    background-position: 9px -562px;
}

#azul {
    background-position: 6px -92px;
}

#leroy {
    background-position: 5px -376px;
}


#fleury {
    background-position: 0px -657px;
}

#kpmg {
    background-position: 6px -192px;
}

#dell {
    background-position: 12px -471px;
}

#aboutcpv {
    text-align: center;
    color: #666666;
}

    #aboutcpv h2 {
        font-size: 26px;
        font-weight: bold;
        line-height: 36px;
        color: #333333;
    }

    #aboutcpv p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 27px;
    }

    #aboutcpv .btn-primary {
        color: #333333;
        font-size: 16px;
        line-height: 21px;
    }

    #aboutcpv .btn {
        border: 1px solid #999999;
        border-radius: 3px;
        background-color: #EEEEEE;
        padding: 16px 41px;
    }

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    clip-path: inset(0% 19% 31% 19% round 10px);
    margin-bottom: -158px;
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 17%;
        width: 65%;
        height: 69%;
    }

.fas, .fa {
    font: normal normal normal 16px/1 FontAwesome !important;
}

#aboutcpv section.ipsum * {
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
}

#aboutcpv .ipsum h2 {
    font-size: 21px !important;
}

#aboutcpv section.ipsum p {
    margin-bottom: 15px;
}

#aboutcpv .card-body {
    margin-top: 30px;
}

#v4 a {
    color: #333333;
    font-weight: 500;
    text-decoration: none;
}

#v4 h3 {
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    font-weight: 500;
    border: none;
    margin-bottom: 49px;
}

#v4 h4 {
    font-size: 16px;
    line-height: 21px;
}

#v4 ul li a {
    font-size: 14px;
    font-weight: 300;
}

#productloop h2 {
    text-align: left;
    margin-top: 0px;
    font-size: 26px;
}


#productloop h3 {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 7px;
    margin-top: 53px;
}

#productloop .btn {
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: #EEEEEE;
    padding: 12px 25px;
}

#productloop .btn-primary {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
}
#productloop p {
    margin-top: 7px;
    
}

#GeneralProducts {
    text-align: center;
}

.TextoCoroa {
    text-align: left;
    font-size: 15px;
    margin-bottom: 19px;
}

.loop2 .yv-review-quickreview .yv-bootstrap span {
    display: none;
}

.space .badgeneue {
    top: 62%;
}

#productloop .space h3 {
    margin-top: 68px;
}

.badgeneue {
    padding: 4px 28px;
    cursor: default;
    white-space: nowrap;
    position: absolute;
    left: 23%;
    top: 60%;
    z-index: 10;
    display: inline-block;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.badgedesc {
    background-color: #000000;
}


.badgeempresa {
    background-color: #1399D8;
}



.badgevendida {
    background-color: #D0021B;
}


#productloop hr {
    border: 0.5px solid #CCCCCC;
    margin-bottom: 37px;
}

.loop2 .form-control {
    padding: 8px 15px;
    height: initial;
    margin-top: 0px;
    width: 180px;
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666666;
    font-size: 14px;
    line-height: 19px;
}

.loop2 .lining > div:last-of-type {
    text-align: right;
}

.clip-me {
    width: 100%;
    height: 268px;
    background-color: #bdbcbc;
    clip-path: inset(13% 3% round 10px);
}

.icon_menu, .icon_cart {
    font-family: 'ElegantIcons' !important;
}

.icon_pencil-edit_alt, .icon_document_alt, .icon_close_alt2 {
    font-family: 'ElegantIcons' !important;
}

#main-neue ul li {
    color: #666666 !important;
    text-transform: initial !important;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 17px !important;
}

    #main-neue ul li a {
        font-size: 24px !important;
    }

    #main-neue ul li:first-of-type {
        border: none !important;
    }

#main-neue #nav-neue a {
    margin: 33px 0px 14px 0px !important;
    color: #333333;
    font-size: 16px;
}

#main-neue #nav-neue .icon_menu, #main-neue #nav-neue icon_cart {
    font-size: 30px;
}

#main-neue #nav-neue .fas, .fa {
    font: normal normal normal 18px/1 FontAwesome !important;
}


#main-neue #nav-neue span i {
    position: absolute;
    bottom: 32px;
    right: -15px;
    background-color: #FF0000;
    color: white;
    font-size: 12px;
    padding: 3px;
    width: 19px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#main-neue #nav-neue .icon_cart {
    font-size: 25px;
}

#main-neue #nav-neue .line {
    border-left: solid 1px #CCCCCC;
    height: 81px;
    left: 40px;
    top: 0px;
    filter: blur(0.5px)
}

#mmenuneue {
    border-top: solid 1px #CCCCCC;
}

#main-neue #nav-neue a:hover, #main-neue #nav-neue a:focus {
    text-decoration: none!important;
}


/*FIM V4 */

section#fixed-bar, section#mobile-fixed {
    z-index: 999999999;
}

#fixed-bar .whats {
    display: inline-block;
    width: 269px;
    height: auto;
    position: relative;
    top: 1px;
    background-image: url(../img/ui/whats.png);
    background-position: 2px 5px;
    background-repeat: no-repeat;
}

section#fixed-bar .whats a {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold
}

section#fixed-bar text {
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}

section#fixed-bar i {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    margin-right: 5px;
    background-image: url(../img/ui/telfixed.png);
}


.googlesafe img {
    width: 137px;
}

/*MEDIA QUERIE*/
@media (max-width: 1199px) {
    section #main-header ul li .whatsweb, section#main-header ul .whatsweb {
        display: none;
    }

    .badgeneue {
        left: 17%;
        top: 53%;
    }

    #barra-busca .form-control {
        padding-right: 208px;
    }

    #brands {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

        #brands li {
            float: none;
        }
    #main-neue #nav-neue a {
        font-size: 13px;
    }
    #main-neue #nav-neue .icon_cart {
        font-size: 21px;
    }
}

@media (max-width: 991px) {

    #Cadastro #MenuRadio {
        margin-bottom: 37px;
    }

    section#Bg-V3 li {
        float: none;
    }

    #reviews .medalha {
        text-align: center;
    }

    #textarea {
        min-height: 805px
    }

    section#Bg-saopaulo .col-md-4 {
        margin-bottom: 32px;
    }

    section#lp_adwords {
        min-height: 265px;
    }

    section.loop2 .card {
        margin: 29px 18px;
    }

    .badgeneue {
        left: 12%;
        top: 50%;
    }

    .iframe-container {
        margin-bottom: -109px;
    }

    #barra-busca .form-control {
        padding-right: 215px;
    }

    #barra-busca .close-button {
        padding-bottom: 60%;
    }

    #productloop h2 {
        font-size: 24px;
    }

    #barra-busca .navbar-form {
        margin-left: 40px;
    }
    section#main-neue ul {
        margin: 22px 0 0!important;
    }

    #main-neue ul li a {
        font-size: 19px !important;
    }

    #main-neue ul li {
        font-size: 12px !important;
    }

    #main-neue #nav-neue span i {
        right: -2px;
    }

    .container > .navbar-collapse, .container > .navbar-header {
        margin-right: -17px;
        margin-left: -34px;
    }

 }

@media (max-width: 767px ) {


    #MeioDePagamento .checkout-sec {
        margin-top: 30px;
    }

    #media li {
        padding: 0px 18px;
    }

    #floricultura img {
        max-width: 70%;
        height: auto;
    }

    #reviews p, #reviews h3 {
        text-align: center;
    }

    #reviews {
        min-height: 301px;
    }

        #reviews img {
            max-width: 35%;
            margin-top: 25px;
        }

    .star2 {
        text-align: center;
    }


    #bannerfrase .jumbotron {
        background-image: none;
    }

    #compreagora .col-md-4 {
        text-align: center;
        margin-top: -27px;
        margin-bottom: 20px;
    }

    .yv-testimonial .yv-bootstrap .slick-list {
        width: 305px !important;
    }

    .yv-bootstrap .slick-next {
        right: 0 !important;
    }

    .yv-bootstrap .slick-prev {
        left: 0 !important;
    }

    #compreagoraavaliacao .col-md-4 {
        text-align: center;
        margin-top: -27px;
        margin-bottom: 20px;
    }

    section#produtosavaliacao {
        min-height: 1200px;
    }

    #textarea span {
        height: 227px;
        margin: -49px;
    }

    #textarea {
        min-height: 1225px
    }

    #depoimentos .yv-testimonial {
        margin-left: 13%;
    }

    section#produtossp {
        min-height: 2002px;
    }

    #produtossp h3, #textsp h3, #locaisentregas h2, #LayoutNew #places h5 {
        font-size: 22px;
    }

    #LayoutNew section.loop2 .card span {
        float: left;
        width: 96%;
        padding-bottom: 99%;
    }

    section.loop2 .card p big {
        font-size: 20px;
    }

    #LayoutNew section.loop2 .btn-checkout {
        padding: 8px 27px;
        font-size: 15px;
    }

    section.loop2 .card p {
        margin-top: 150px;
    }

    #product-lp, #contact-lp {
        min-height: 190px;
    }

    section#lp_adwords h1 {
        font-size: 35px;
    }

    section#lp_adwords p {
        font-size: 27px;
    }

    .simple-icon-summary {
        max-height: 28px;
    }

    #Bg-V4 h1 {
        margin-top: 40px;
        font-size: 42px;
        line-height: 53px;
    }

    #Bg-V4 .form-group {
        float: none;
        width: 100%;
        padding: 0px;
    }

    #Bg-V4 form {
        text-align: center;
        margin-left: 0%;
    }


    #Bg-V4 .btn-primary {
        width: 100%;
        font-size: 14pt;
    }

    #productloop h2 {
        text-align: center;
    }

    .loop2 .form-control {
        width: 100%;
        font-size: 15px;
        margin-bottom: 26px;
    }

    .loop2 select {
        text-transform: uppercase;
        text-align: center;
        text-align-last: center;
    }

    section#productloop .card {
        border: 0px;
    }

    #productloop h3 {
        font-size: 15px;
        margin-top: 171px;
    }

    .space #productloop h3 {
        margin-top: 306px;
    }

    section#productloop .card span {
        width: 100%;
        padding-bottom: 111%
    }

    .badgeneue {
        top: 51%;
        left: 11%;
        padding: 3px 23px;
    }

    .clip-me {
        width: 100%;
        height: 100%;
    }

    footer section.ipsum {
        border-top: 0px;
    }

    nav .mm-panel.mm-hasnavbar {
        margin-top: 57px!important;
    }
}

@media (max-width: 500px) {

    section#mobile-fixed span big a {
        font-size: 19px;
    }

    #Cadastro #MenuRadio {
        max-width: 93%;
        margin-left: 3%;
    }

    #Cadastro .card {
        max-width: 93%;
        margin-left: 3%;
    }

    section#Bg-V3 h1 {
        font-size: 29px;
    }

    section#Bg-V3 p {
        font-size: 17px;
    }

    section#Bg-empresas h1 {
        font-size: 29px;
    }

    section#Bg-empresas p {
        font-size: 17px;
    }

    #media li {
        padding: 1px 8px;
    }

    #produtos h3, #reviews h3 {
        font-size: 14px;
    }

    #floricultura h3 {
        font-size: 17px;
        text-align: center;
    }

    #floricultura p {
        font-size: 15px;
        text-align: center;
        margin-bottom: 27px;
    }

    section#Bg-V3 ul {
        margin-bottom: 18px;
    }

    #bannerfrase h1 {
        font-size: 39px;
    }

    #bannerfrase .jumbotron p {
        font-size: 18px;
    }

    #bannerfrase .btn-checkout {
        padding: 10px 26px;
    }

    .obituario h3 {
        text-align: center;
    }

 

    section#Bg-avaliacao h1 {
        font-size: 29px;
    }

    section#Bg-avaliacao p {
        font-size: 17px;
    }

    #depoimentos .yv-testimonial {
        margin-left: 0px;
    }

    section#Bg-saopaulo h1 {
        font-size: 29px;
    }

    section#Bg-saopaulo p {
        font-size: 17px;
    }

    section#Bg-saopaulo .col-md-4 ul {
        padding: 0px;
    }

    #Bg-V4 h1 {
        margin-top: 40px;
        font-size: 32pt;
    }

    #Bg-V4 p {
        font-size: 18pt;
        margin-bottom: 32pt;
        line-height: 28pt;
    }

    #productloop h2 {
        font-size: 22px;
    }

    #aboutcpv h2 {
        font-size: 23px;
    }

    #aboutcpv p {
        font-size: 16px;
    }

    .iframe-container {
        clip-path: inset(4% 21% 35% 20% round 10px);
    }

    .loop2 .form-control {
        width: 93%;
    }
    #productloop .space h3 {
        margin-top: 178px;
    }
    .space .badgeneue {
        top: 52%;
    }
}

@media (max-width: 430px ) {
    section#lp_adwords {
        min-height: 271px;
    }

    #about-lp {
        min-height: 377px;
    }

    .badgeneue {
        font-size: 10px;
        top: 50%;
        left: 8%;
    }
}

@media (max-width: 380px ) {
    #dell {
        display: none;
    }

    #productloop h3 {
        font-size: 13px;
        margin-top: 133px
    }

    .badgeneue {
        font-size: 9px;
        top: 42%;
        left: -4%;
    }
}

@media (max-width: 362px ) {

    section#locaisentregas .thumbnail {
        min-height: 298px
    }

        section#locaisentregas .thumbnail p {
            font-size: 15px;
        }

        section#locaisentregas .thumbnail h3 {
            font-size: 17px;
        }

    section.loop .card p {
        font-size: 13px;
        margin-top: 133px;
    }

    #Bg-V4 h1 {
        font-size: 28pt;
    }

    #Bg-V4 p {
        font-size: 15pt;
        line-height: 24pt;
    }

    .badgeneue {
        left: -4%;
        top: 40%;
    }
}

@media (max-width: 348px ) {
    section#mobile-fixed span big a {
        font-size: 18px;
    }

    .cidades-regioes .obitus {
        font-size: 13px;
    }

    #CadastroStepTwo .col-md-4 p, #CadastroStepThree .col-md-4 p {
        margin-top: 27px;
    }

    #reviews h2, #floricultura h2 {
        font-size: 22px;
    }

    section#lacosc h2 {
        font-size: 35px;
    }

    section#lacosc p {
        font-size: 18px;
    }

    section#lacosc a {
        font-size: 21px;
    }

    section#fixed-whatsapp {
        width: 40%;
    }

    #produtosavaliacao h3 {
        font-size: 14px;
    }

    section#produtosavaliacao {
        min-height: 1297px;
    }

    #textarea {
        min-height: 1413px
    }

    section#locaisentregas .thumbnail {
        min-height: 284px
    }

    section#lp_adwords {
        min-height: 311px;
    }

    .simple-icon-summary {
        max-height: none;
    }
}

@media (min-width: 768px) {

    #bannerfrase .jumbotron {
        padding-top: 35px;
        padding-bottom: 35px;
    }


    section#pprodutossp {
        min-height: 1297px;
    }
}

@media (min-width: 992px) {

    #Cadastro #MenuRadio .radio-inline {
        margin-left: -29px;
    }

    section#fixed-bar span big a {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {

    #ListagemProdutos .produto .foto_tamanho {
        height: 232px;
    }

    section#fixed-bar span big a {
        font-size: 26px;
    }
}

#finish .boleto {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

footer h2 {
    font-size: 30px !important;
}

footer .ipsum h2 {
    font-size: 23px !important;
}

section.sub #testimonials ul li .Stars i {
    color: #ffc822;
    font-size: 20px;
    margin: 0 2px;
    position: relative;
    top: 2px;
}

.payment-card .valid-error {
    border: 1px solid red;
}

.payment-card input.valid-success {
    border: 1px solid green;
}

.tellocal {
    text-align: center;
    font-size: 21px;
    color: #af0102;
}

    .tellocal a {
        text-decoration: none;
        color: #af0102;
    }
