﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Interface
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Seja uma Floricultura Parceira";
    ICaptcha captcha = Html.MathCaptcha("Atualizar", "Preencha com a soma");
}

@section Head{
    <link type="text/css" href="@Url.Content("~/Content/css/interna.css")" rel="stylesheet" />
}
@section Script{    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form_parceira").validate({
                meta: "validate",
                invalidHandler: function (n, t) { var i = t.numberOfInvalids(), r; if (i) { if (r = i == 1 ? "Por favor, corrija o seguinte erro:\n" : "Por favor, corrija os " + i + " erros abaixo:\n", i = "", t.errorList.length > 0) for (x = 0; x < t.errorList.length; x++) i += "\n● " + t.errorList[x].message; alert(r + i) } t.focusInvalid() },
                submitHandler: function (form) {
                    $(".botao").hide();
                    $("#processando").show();
                    var formdata = $(form).serialize();
                    $.post("/seja-uma-floricultura-parceira/Enviar", formdata, function (data) {
                        if (data.status == "OK") {
                            window.location = '/seja-uma-floricultura-parceira?msg=sucesso';
                        } else {
                            alert(data.mensagem);
                            $(".botao").show();
                            $("#processando").hide();
                            $('#@captcha.BuildInfo.ImageElementId').attr('src', data.Captcha.@(captcha.BuildInfo.ImageElementId));
                            $('#@captcha.BuildInfo.TokenElementId').attr('value', data.Captcha.@(captcha.BuildInfo.TokenElementId));
                            $('#@captcha.BuildInfo.InputElementId').attr('value', '');
                        }
                    });
                },
                rules: {
                    razao: "required",
                    nome: "required",
                    cnpj: "required",
                    contato: "required",
                    tel1: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    cep: "required",
                    endereco: "required",
                    bairro: "required",
                    cidade: "required",
                    uf: "required",
                    horario: "required",
                    acordo: "required",
                    CaptchaInputText: "required"
                },
                messages: {
                    razao: "Digite a razão social",
                    nome: "Digite o nome da floricultura",
                    cnpj: "Digite seu CNPJ",
                    contato: "Digite seu nome ou a pessoa de contato",
                    tel1: "Digite um telefone para contato",
                    email: {
                        required: "Digite seu e-mail",
                        email: "Digite um e-mail válido"
                    },
                    cep: "Digite o CEP",
                    endereco: "Digite o endereço",
                    bairro: "Digite o bairro",
                    cidade: "Digite a cidade",
                    uf: "Digite o estado",
                    horario: "Digite o horário de funcionamento",
                    acordo: "Você deve aceitar os termos e condições comerciais",
                    CaptchaInputText: "Digite o valor da soma"
                }
            });
        });
    </script>
}
<div class="caminho" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
    <a href="/" itemprop="url"><span itemprop="title">Home</span></a> 
    <div> > </div>
    
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">    
    <a href="@Url.Action("index", "seja-uma-floricultura-parceira")" itemprop="url">      
      <span itemprop="title"><b>Seja uma Floricultura Parceira</b></span>    
    </a>   
    </div>    
</div>
<div class="hr"><hr /></div>
<div class="conteudo">
    <h1>Seja uma Floricultura Parceira</h1>
    
    @if (Request.QueryString["msg"] == "sucesso")
    {
    <div class="message success">Sua solicitação foi enviada com sucesso! Por favor, aguarde nosso retorno.</div>
    }
    else
    {
    <p>
        A empresa Coroas Para Velório busca sempre aumentar seu quadro de floriculturas parceiras para aumento de cobertura nacional.<br /><br />
        Caso a sua floricultura tenha interesse em fazer parte da nossa rede, preencha o cadastro inicial abaixo.<br /><br />
        A floricultura passará por um processo de homologação e, caso atenda a todos os atributos requisitados, poderá utilizar o selo de qualidade Coroas Para Velório.
    </p>
    <div class="box-radius">
        @using (Html.BeginForm("Enviar", "Seja-uma-Floricultura-Parceira", FormMethod.Post, new { id = "form_parceira", name = "form_parceira", enctype = "multipart/form-data", @class = "formulario" }))
        {   
            <table cellspacing="0" cellpadding="0" border="0" width="582" class="tabela" align="center">

                <tr>
                    <td width="97"></td>
                    <td width="97"></td>
                    <td width="20"></td>
                    <td width="174"></td>
                    <td width="97"></td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Razão Social: -->
                    <td colspan="2" class="right">Razão Social:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="razao" name="razao"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Nome da Floricultura: -->
                    <td colspan="2" class="right">Nome da Floricultura:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text"  id="nome" name="nome"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- CNPJ: -->
                    <td colspan="2" class="right">CNPJ:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text"  id="cnpj" name="cnpj"/>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Pessoa de Contato: -->
                    <td colspan="2" class="right">Pessoa de Contato:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="contato" name="contato" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Tel 1: -->
                    <td colspan="2" class="right">Tel 1:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="tel1" name="tel1" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Tel 2: -->
                    <td colspan="2" class="right">Tel 2:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="tel2" name="tel2" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Email: -->
                    <td colspan="2" class="right">Email:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="email" name="email" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- CEP: -->
                    <td colspan="2" class="right">CEP:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="cep" name="cep" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Endereço: -->
                    <td colspan="2" class="right">Endereço:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="endereco" name="endereco" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Bairro: -->
                    <td colspan="2" class="right">Bairro:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="bairro" name="bairro" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!-- Cidade: -->
                    <td colspan="2" class="right">Cidade:</td>
                    <td width="20"></td>
                    <td>
                        <input type="text" class="input100"  id="cidade" name="cidade"/>
                        &nbsp;&nbsp;
                        Estado
                    </td>
                    <td>
                        <input type="text" class="input56" id="uf" name="uf" />
                    </td>
                    <td></td>
                </tr>

                <tr><!-- Celular de Contato: -->
                    <td colspan="2" class="right">Celular de Contato:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="celular" name="celular" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Nextel: -->
                    <td colspan="2" class="right">Nextel:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="nextel" name="nextel" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Site: -->
                    <td colspan="2" class="right">Site:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="site" name="site" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Horário de Funcionamento: -->
                    <td colspan="2" class="right">Horário de Funcionamento:</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <input type="text" id="horario" name="horario" />
                    </td>
                    <td width="97"></td>
                </tr>

                <tr><!--  Como nos conheceu? -->
                    <td colspan="2" class="right">Como nos conheceu?</td>
                    <td width="20"></td>
                    <td colspan="2">
                        <select style="border:0px; width:235px; height:23px;"  id="conheceu" name="conheceu">		
					        <option value="">Selecione</option>
					        <option value="google"> Google (www.google.com.br)</option>
					        <option value="outros buscadores">Outros Buscadores (Yahoo, Bing, etc)</option>
					        <option value="comparadores de preço">Comparadores de Preço (Buscapé, UOL Shopping, etc)</option>
					        <option value="guia mais impresso">Guia Mais (lista impressa)</option>
					        <option value="guia mais internet">Guia Mais (internet)</option>
					        <option value="anunmcio revista/jornal">Anúncio Revista/Jornal </option>
					        <option value="material impresso">Material Impresso (cartões, folders) </option>
					        <option value="parceria corporativa">Parceria Corporativa </option>
					        <option value="indicação de conhecidos">Indicação de Conhecidos </option>	
				        </select>
                    </td>
                    <td width="97"></td>
                </tr>

                <tr height="10">
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">Validação:</td>
                    <td width="20"></td>
                    <td colspan="2">      
                        @captcha
                    </td>
                </tr> 

                <tr>
                    <td colspan="2" class="right"></td>
                    <td width="20"></td>
                    <td colspan="3">
                        <input type="radio" id="acordo" name="acordo" />
                        Li e estou de acordo com os <a href="@Url.Action("Index", "termos-e-condicoes-comerciais")" target="_blank">Termos e Condições Comerciais</a>.
                    </td>
                </tr>

                <tr height="10">
                    <td colspan="6"></td>
                </tr>

                <tr height="10">
                    <td colspan="6" class="center">
                        <input type="submit" value="Enviar" class="botao"  onmousedown="_gaq.push(['_trackEvent', 'form', 'floricultura-parceira', 'enviou'])"/>
                        <div class="processando" id="processando">Enviando...</div>
                    </td>
                </tr>

            </table>
        }
    </div>
    }
    <p>
        Agradecemos pela preferência!<br />Equipe Coroas Para Velório.
    </p>
</div>