﻿@{
    Layout = null;

    var configuracoes = (Domain.Entities.Configuracao)ViewBag.Configuracoes;
}
@if (configuracoes.AtendimentoIndisponivel)
{
    <script src="/scripts/jquery.floatobject-1.0.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#aviso-atendimento-indisponivel").makeFloat({ x: "current", y: "current" });
        });
        function fechar_aviso() {
            $("#aviso-atendimento-indisponivel").hide();
        }
	</script>
    <div id="aviso-atendimento-indisponivel" class="atendimento_indisponivel">
        <div style="float:right;text-decoration:none;"><b><a href="javascript:fechar_aviso();">X</a></b></div>
        <h1>Atenção</h1>
        @Html.Raw(configuracoes.AtendimentoIndisponivelTexto.Replace("\n","<BR>"))
    </div>
}