﻿@model IEnumerable<Domain.Entities.Depoimento>
@{
    Layout = null;
}
<div  style="display:none;">
@if (Model.Any())
{
    var total = Model.Count();
    var maior = Model.Max(c => c.Nota);
    var media = Model.Sum(c => c.Nota) / total;
    foreach (var item in Model)
    {
    
      <div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
    
        @if (item.Produto != null)
        {
        <span itemprop="itemreviewed">@item.Produto.Nome</span>            
        <img itemprop="photo" src="@Url.Content("/content/produtos/" + item.ProdutoID + "/thumb/" + item.Produto.Foto)" />
        }
        else
        {
        <span itemprop="itemreviewed">Site Laços Flores</span>
        }
    
    
        <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
      
          <span itemprop="average">@media</span>
          <span itemprop="best">@maior</span>
    
        </span>


        <span itemprop="votes">@total</span> 
      
      </div>    
    }
}
</div>