﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = null;
}
@if (Model.Any())
{
  <div class="destaques-home">
      <span class="melhores">As melhores coroas para velório estão aqui!</span>
      <div class="ordenar">
        Ordenar por 
        <select id="ordenacao-produtos">
          <option value="">Faixa de Preço</option>
        </select>  
      </div>
      <div class="hr"><hr /></div>
      @Html.Action("Produtos", "Produtos", new { produtos = Model})
  </div>
}
