﻿@model IEnumerable<Domain.Entities.Produto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Home = true;
    ViewBag.Title = "Seja bem-vindo";
    var depoimentos = (List<Domain.Entities.Depoimento>)ViewBag.Depoimentos;
    var cemiterios = (List<Domain.Entities.Local>)ViewBag.Cemiterios;
    var capelas = (List<Domain.Entities.Local>)ViewBag.Capelas;
    var velorios = (List<Domain.Entities.Local>)ViewBag.Velorios;
    var cidades = (List<Domain.Entities.Local>)ViewBag.Cidades;
}
@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            var idLinha = 2;
            $('#vejamaisprodutos').click(function () {
                if (idLinha == totalLinha) {
                    $('#VejaMais').hide();
                }
                $('.Line' + idLinha).fadeIn();
                idLinha = idLinha + 1;
            });

            $("h1:contains('Oops')").remove();
            $("h2:contains('Desculpe')").remove();
            $("p:contains('Não se preocupe')").remove();
            $("p:contains('O erro foi')").remove();
        });
    </script>
}
@section Rodape{ 
}
<div id="BarraCinza">
    <div class="div_centraliza">
        <div class="div1">
            <div class="div1_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_entrega_brasil.png" width="19" border="0" alt="Entrega para São Paulo/SP" /></p>
                </div>
                <div class="texto">
                    <p>
                        ENTREGA PARA<br />
                        <b>SÃO PAULO/SP</b></p>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="div2_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faturamento.png" width="17" border="0" alt="AGENDAMETO DA ENTREGA" /></p>
                </div>
                <div class="texto">
                    <p>
                        AGENDAMENTO <br />
                        <b>DA ENTREGA</b></p>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="div3_centro">
            <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_atenimento_24h.png" width="17" border="0" alt="Atendimento 24 horas" /></p>
                </div>
                <div class="texto">
                    <p>
                        ATENDIMENTO E ENTREGA<br />
                        <b>24 HORAS TODOS OS DIAS</b></p>
                </div>
                
            </div>
        </div>
        <div class="div4">
            <div class="div4_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_frete_gratis.png" width="27" border="0" alt="Frete grátis para toda Grande São Paulo" /></p>
                </div>
                <div class="texto">
                    <p>
                        FRETE GRÁTIS<br />
                        <b>PARA TODA CIDADE</b></p>
                </div>
            </div>
        </div>
        <div class="div5">
            <div class="div5_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_boleto_cartao.png" width="19" border="0" alt="Pagamento em boleto ou cartão de crédito" /></p>
                </div>
                <div class="texto">
                    <p>
                        TRANSFERÊNCIA<br />
                        <b>OU CARTÃO DE CRÉDITO</b></p>
                </div>
            </div>
        </div>
        <div class="div6">
            <div class="div6_centro">
                <div class="imagem">
                    <p>
                        <img src="/content/imagens/m_faixa_homenagem.png" width="18" border="0" alt="Faixa para homenagem grátis" /></p>
                </div>
                <div class="texto">
                    <p>
                        MENSAGEM PARA<br />
                        <b>CARTÃO GRÁTIS</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Produtos", Model) 
