﻿@model Domain.Entities.Depoimento

@{
    Layout = null;
    var proximaPagina = (ViewBag.Pagina < ViewBag.TotalPaginas) ? ViewBag.Pagina + 1 : 0;
    var paginaAnterior = (ViewBag.Pagina != 1) ? ViewBag.Pagina - 1 : 0;
}

@if (paginaAnterior == 0)
{    
	<div class="seta_esquerda"><p><img src="/content/imagens/dep_seta_esquerda_d.png" width="25" height="64" border="0" /></p></div>            
}
else
{
    <div class="seta_esquerda"><p><img src="/content/imagens/dep_seta_esquerda_h.png" width="25" height="64" border="0" style="cursor:pointer" onclick="abre('/Home/ListaDepoimentos?pagina=@paginaAnterior','ListaDepoimentos');" /></p></div>
}
<div class="quadrado_cor"> 
	<div class="texto">“@Model.Texto”</div>
    @if (Model.ProdutoID.HasValue)
    {
	<div class="iten_avaliado"><b>Item avaliado:</b> <a href="/coroas-de-flores/@Model.Produto.RotuloUrl/@Model.Produto.ID">@Model.Produto.Nome</a></div>
    }
	<div class="nome_cidade"><b>@Model.Nome</b><br />@Model.Cidade - @Model.Data.ToString("dd/MM/yyyy")</div>
</div>

@if (proximaPagina == 0)
{ 
	<div class="seta_direita"><p><img src="/content/imagens/dep_seta_direita_d.png" width="25" height="64" border="0" /></p></div>
}
else
{
    <div class="seta_direita"><p><img src="/content/imagens/dep_seta_direita_h.png" width="25" height="64" border="0" style="cursor:pointer" onclick="abre('/Home/ListaDepoimentos?pagina=@proximaPagina','ListaDepoimentos');" /></p></div>
}