﻿@model Domain.Entities.Banner
@{
    Layout = null;
}
@switch (Model.Tipo)
{
    case Domain.Entities.Banner.Tipos.Imagem:
        <a href="@Model.Link"><img src="@Url.Content("/content/banners/" + Model.ID + "/" + Model.Arquivo)" alt="@Model.Titulo" title="@Model.Titulo" /></a>
        break;
        

    case Domain.Entities.Banner.Tipos.Flash:
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" align="middle">
            <param name="movie" value="@Url.Content("~" + Model.Arquivo)" />
            <param name="quality" value="high" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="transparent" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="sameDomain" />
            <object type="application/x-shockwave-flash" data="@Url.Content("/content/banners/" + Model.ID + "/" + Model.Arquivo)" width="760" height="600">
                <param name="movie" value="@Url.Content("/content/banners/" + Model.ID + "/" + Model.Arquivo)" />
                <param name="quality" value="high" />
                <param name="play" value="true" />
                <param name="loop" value="true" />
                <param name="wmode" value="transparent" />
                <param name="scale" value="showall" />
                <param name="menu" value="true" />
                <param name="devicefont" value="false" />
                <param name="salign" value="" />
                <param name="allowScriptAccess" value="sameDomain" />
            </object>
        </object>
        break;
}