﻿@model IEnumerable<Domain.Entities.Banner>
@{
    Layout = null;
}
@{
    var selecionado = "selecionado";
}
@if (Model.Any())
{ 
<div class="Div">
<div id="BannersInf">
    @foreach (var banner in Model)
    {
        <div id="Banner_@(banner.ID)" class="banner @(selecionado)">
            @Html.Partial("Banner", banner)
        </div>
        selecionado = "";
    }
    <div class="navegacao">
        @{
    selecionado = "selecionado";
    foreach (var banner in Model)
    {
                        <a id="Navegacao_@(banner.ID)" href="javascript:void(0);" onclick="_gaq.push(['_trackEvent', 'banner', 'clique', '@Domain.Core.Funcoes.GeraNomeArquivoMVC(banner.Titulo)']);BannerInf.Abrir(@(banner.ID))" class="@(selecionado)"></a>
        selecionado = "";
    }
        }
    </div>
</div>
</div>
}