﻿@model Domain.Entities.Banner

@{
    ViewBag.Title = Model == null ? "Novo Banner" : "Edição do banner " + Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Erro != null)
{
<div class="mws-form-message mws-panel error">@ViewBag.Erro</div>
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-documents-1">@(Model == null ? "Novo Banner" : "Edição do banner " + Model.Titulo)</span>
    </div>
    <div class="mws-panel-body">
        <div id="erro" class="mws-form-message error" style="display:none;">ERRO! Verifique todos os campos abaixo.</div>
        @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { @class = "mws-form", id = "form", name = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Arquivo)
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <label>Título</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
                <div class="mws-form-row">
                    <label>Tipo</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("TipoID", typeof(Domain.Entities.Banner.Tipos), (Model != null ? Model.Tipo : Domain.Entities.Banner.Tipos.Imagem), new { @class = "mws-textinput" })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Posição</label>
                    <div class="mws-form-item small">
                        @Html.DropDownListForEnum("PosicaoID", typeof(Domain.Entities.Banner.Posicoes), (Model != null ? Model.Posicao : Domain.Entities.Banner.Posicoes.Superior), new { @class = "mws-textinput" })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Ordem</label>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Ordem, new { @class = "mws-textinput", maxlength = "100" })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Link</label><i>Utilize o endereço completo começando com http:// caso o link seja externo ou com / se for a partir da raíz do site.</i>
                    <div class="mws-form-item small">
                        @Html.TextBoxFor(model => model.Link, new { @class = "mws-textinput", maxlength = "200" })
                    </div>
                </div>  
            
            
                <div class="mws-form-row">
                    <label>Arquivo <i>(Formato JPG de 958px x 140px)</i></label>
                    <div class="mws-form-item small">
                    @if (Model != null)
                    {
                        <a href="/content/banners/@Model.ID/@Model.Arquivo" target="_blank"><img src="/content/banners/@Model.ID/@Model.Arquivo" border="0" width="500px" /></a><br /><i>Para modificar a foto, selecione outro arquivo.</i><br />
                    }
                    <br />
                    @Html.InputFile("File", new { style = "width:500px" })
                    </div>
                </div>  
            
                <div class="mws-form-row">
                    <label>Publicado?</label>
                    <div class="mws-form-item large">
                        @Html.CheckBoxFor(model => model.Publicado)  SIM
                    </div>
                </div>
            
            
                <div class="mws-button-row">
                    <input type="submit" class="mws-button blue" value="Salvar" id="enviar"/>
                    <input type="reset" class="mws-button gray" value="Cancelar" id="cancelar" onclick="location.href='@Url.Action("List")';"/>
                    <span id="processando" class="carregando-branco">Processando...</span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $('#conteudo').addClass('active');
        $('#i_banners').addClass('active');
        $("#form").validate({
            meta: "validate",
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                Titulo: "required",
                TipoID: "required",
                PosicaoID: "required",
                Ordem: "required",
                Link: "required"
            },
            messages: {
                Titulo: "O campo título é obrigatório.",
                TipoID: "O campo tipo é obrigatório.",
                PosicaoID: "O campo posição é obrigatório.",
                Ordem: "O campo ordem é obrigatório.",
                Link: "O campo link é obrigatório."
            }
        });
    });
</script>
}